@{
    // View
    View = this;

    // Check action result
    if (crewMedicalCertificateForAdminViewModeView.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!crewMedicalCertificateForAdminViewModeView.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
@if (!crewMedicalCertificateForAdminViewModeView.IsExport()) {
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!crewMedicalCertificateForAdminViewModeView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @crewMedicalCertificateForAdminViewModeView.ExportOptions.RenderBody()
    @crewMedicalCertificateForAdminViewModeView.OtherOptions.RenderBody()
</div>
}
@crewMedicalCertificateForAdminViewModeView.ShowPageHeader()
@crewMedicalCertificateForAdminViewModeView.ShowMessages()
<main class="view">
<form name="fCrewMedicalCertificateForAdminViewModeview" id="fCrewMedicalCertificateForAdminViewModeview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (!crewMedicalCertificateForAdminViewModeView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(crewMedicalCertificateForAdminViewModeView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { CrewMedicalCertificateForAdminViewMode: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fCrewMedicalCertificateForAdminViewModeview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fCrewMedicalCertificateForAdminViewModeview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
}
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(crewMedicalCertificateForAdminViewModeView.IsModal)">
<table class="@(crewMedicalCertificateForAdminViewModeView.TableClass)">
@if (crewMedicalCertificateForAdminViewModeView.MTMedicalCertificateID.Visible) { // crewMedicalCertificateForAdminViewModeView.MTMedicalCertificateID.Visible (begin)
    <tr id="r_MTMedicalCertificateID" @Html.Raw(crewMedicalCertificateForAdminViewModeView.MTMedicalCertificateID.RowAttributes)>
        <td class="@(crewMedicalCertificateForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewMedicalCertificateForAdminViewMode_MTMedicalCertificateID"><template id="tpc_CrewMedicalCertificateForAdminViewMode_MTMedicalCertificateID">@Html.Raw(crewMedicalCertificateForAdminViewModeView.MTMedicalCertificateID.Caption)</template></span></td>
        <td data-name="MTMedicalCertificateID" @Html.Raw(crewMedicalCertificateForAdminViewModeView.MTMedicalCertificateID.CellAttributes)>
<template id="tpx_CrewMedicalCertificateForAdminViewMode_MTMedicalCertificateID"><span id="el_CrewMedicalCertificateForAdminViewMode_MTMedicalCertificateID">
<span @Html.Raw(crewMedicalCertificateForAdminViewModeView.MTMedicalCertificateID.ViewAttributes)>
@Html.Raw(crewMedicalCertificateForAdminViewModeView.MTMedicalCertificateID.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewMedicalCertificateForAdminViewModeView.MTMedicalCertificateID.Visible (end) *@
@if (crewMedicalCertificateForAdminViewModeView.Number.Visible) { // crewMedicalCertificateForAdminViewModeView.Number.Visible (begin)
    <tr id="r_Number" @Html.Raw(crewMedicalCertificateForAdminViewModeView.Number.RowAttributes)>
        <td class="@(crewMedicalCertificateForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewMedicalCertificateForAdminViewMode_Number"><template id="tpc_CrewMedicalCertificateForAdminViewMode_Number">@Html.Raw(crewMedicalCertificateForAdminViewModeView.Number.Caption)</template></span></td>
        <td data-name="Number" @Html.Raw(crewMedicalCertificateForAdminViewModeView.Number.CellAttributes)>
<template id="tpx_CrewMedicalCertificateForAdminViewMode_Number"><span id="el_CrewMedicalCertificateForAdminViewMode_Number">
<span @Html.Raw(crewMedicalCertificateForAdminViewModeView.Number.ViewAttributes)>
@Html.Raw(crewMedicalCertificateForAdminViewModeView.Number.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewMedicalCertificateForAdminViewModeView.Number.Visible (end) *@
@if (crewMedicalCertificateForAdminViewModeView.PlaceOfIssue.Visible) { // crewMedicalCertificateForAdminViewModeView.PlaceOfIssue.Visible (begin)
    <tr id="r_PlaceOfIssue" @Html.Raw(crewMedicalCertificateForAdminViewModeView.PlaceOfIssue.RowAttributes)>
        <td class="@(crewMedicalCertificateForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewMedicalCertificateForAdminViewMode_PlaceOfIssue"><template id="tpc_CrewMedicalCertificateForAdminViewMode_PlaceOfIssue">@Html.Raw(crewMedicalCertificateForAdminViewModeView.PlaceOfIssue.Caption)</template></span></td>
        <td data-name="PlaceOfIssue" @Html.Raw(crewMedicalCertificateForAdminViewModeView.PlaceOfIssue.CellAttributes)>
<template id="tpx_CrewMedicalCertificateForAdminViewMode_PlaceOfIssue"><span id="el_CrewMedicalCertificateForAdminViewMode_PlaceOfIssue">
<span @Html.Raw(crewMedicalCertificateForAdminViewModeView.PlaceOfIssue.ViewAttributes)>
@Html.Raw(crewMedicalCertificateForAdminViewModeView.PlaceOfIssue.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewMedicalCertificateForAdminViewModeView.PlaceOfIssue.Visible (end) *@
@if (crewMedicalCertificateForAdminViewModeView.DateOfIssue.Visible) { // crewMedicalCertificateForAdminViewModeView.DateOfIssue.Visible (begin)
    <tr id="r_DateOfIssue" @Html.Raw(crewMedicalCertificateForAdminViewModeView.DateOfIssue.RowAttributes)>
        <td class="@(crewMedicalCertificateForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewMedicalCertificateForAdminViewMode_DateOfIssue"><template id="tpc_CrewMedicalCertificateForAdminViewMode_DateOfIssue">@Html.Raw(crewMedicalCertificateForAdminViewModeView.DateOfIssue.Caption)</template></span></td>
        <td data-name="DateOfIssue" @Html.Raw(crewMedicalCertificateForAdminViewModeView.DateOfIssue.CellAttributes)>
<template id="tpx_CrewMedicalCertificateForAdminViewMode_DateOfIssue"><span id="el_CrewMedicalCertificateForAdminViewMode_DateOfIssue">
<span @Html.Raw(crewMedicalCertificateForAdminViewModeView.DateOfIssue.ViewAttributes)>
@Html.Raw(crewMedicalCertificateForAdminViewModeView.DateOfIssue.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewMedicalCertificateForAdminViewModeView.DateOfIssue.Visible (end) *@
@if (crewMedicalCertificateForAdminViewModeView.ExpirationDate.Visible) { // crewMedicalCertificateForAdminViewModeView.ExpirationDate.Visible (begin)
    <tr id="r_ExpirationDate" @Html.Raw(crewMedicalCertificateForAdminViewModeView.ExpirationDate.RowAttributes)>
        <td class="@(crewMedicalCertificateForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewMedicalCertificateForAdminViewMode_ExpirationDate"><template id="tpc_CrewMedicalCertificateForAdminViewMode_ExpirationDate">@Html.Raw(crewMedicalCertificateForAdminViewModeView.ExpirationDate.Caption)</template></span></td>
        <td data-name="ExpirationDate" @Html.Raw(crewMedicalCertificateForAdminViewModeView.ExpirationDate.CellAttributes)>
<template id="tpx_CrewMedicalCertificateForAdminViewMode_ExpirationDate"><span id="el_CrewMedicalCertificateForAdminViewMode_ExpirationDate">
<span @Html.Raw(crewMedicalCertificateForAdminViewModeView.ExpirationDate.ViewAttributes)>
@Html.Raw(crewMedicalCertificateForAdminViewModeView.ExpirationDate.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewMedicalCertificateForAdminViewModeView.ExpirationDate.Visible (end) *@
@if (crewMedicalCertificateForAdminViewModeView.Attachment.Visible) { // crewMedicalCertificateForAdminViewModeView.Attachment.Visible (begin)
    <tr id="r_Attachment" @Html.Raw(crewMedicalCertificateForAdminViewModeView.Attachment.RowAttributes)>
        <td class="@(crewMedicalCertificateForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewMedicalCertificateForAdminViewMode_Attachment"><template id="tpc_CrewMedicalCertificateForAdminViewMode_Attachment">@Html.Raw(crewMedicalCertificateForAdminViewModeView.Attachment.Caption)</template></span></td>
        <td data-name="Attachment" @Html.Raw(crewMedicalCertificateForAdminViewModeView.Attachment.CellAttributes)>
<template id="tpx_CrewMedicalCertificateForAdminViewMode_Attachment"><span id="el_CrewMedicalCertificateForAdminViewMode_Attachment">
<span>
@Html.Raw(await GetFileViewTag((DbField)crewMedicalCertificateForAdminViewModeView.Attachment, ConvertToString(crewMedicalCertificateForAdminViewModeView.Attachment.GetViewValue()), false))
</span>
</span></template></td>
    </tr>
} @* crewMedicalCertificateForAdminViewModeView.Attachment.Visible (end) *@
@if (crewMedicalCertificateForAdminViewModeView.MTCrewID.Visible) { // crewMedicalCertificateForAdminViewModeView.MTCrewID.Visible (begin)
    <tr id="r_MTCrewID" @Html.Raw(crewMedicalCertificateForAdminViewModeView.MTCrewID.RowAttributes)>
        <td class="@(crewMedicalCertificateForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewMedicalCertificateForAdminViewMode_MTCrewID"><template id="tpc_CrewMedicalCertificateForAdminViewMode_MTCrewID">@Html.Raw(crewMedicalCertificateForAdminViewModeView.MTCrewID.Caption)</template></span></td>
        <td data-name="MTCrewID" @Html.Raw(crewMedicalCertificateForAdminViewModeView.MTCrewID.CellAttributes)>
<template id="tpx_CrewMedicalCertificateForAdminViewMode_MTCrewID"><span id="el_CrewMedicalCertificateForAdminViewMode_MTCrewID">
<span @Html.Raw(crewMedicalCertificateForAdminViewModeView.MTCrewID.ViewAttributes)>
@Html.Raw(crewMedicalCertificateForAdminViewModeView.MTCrewID.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewMedicalCertificateForAdminViewModeView.MTCrewID.Visible (end) *@
@if (crewMedicalCertificateForAdminViewModeView.CreatedByUserID.Visible) { // crewMedicalCertificateForAdminViewModeView.CreatedByUserID.Visible (begin)
    <tr id="r_CreatedByUserID" @Html.Raw(crewMedicalCertificateForAdminViewModeView.CreatedByUserID.RowAttributes)>
        <td class="@(crewMedicalCertificateForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewMedicalCertificateForAdminViewMode_CreatedByUserID"><template id="tpc_CrewMedicalCertificateForAdminViewMode_CreatedByUserID">@Html.Raw(crewMedicalCertificateForAdminViewModeView.CreatedByUserID.Caption)</template></span></td>
        <td data-name="CreatedByUserID" @Html.Raw(crewMedicalCertificateForAdminViewModeView.CreatedByUserID.CellAttributes)>
<template id="tpx_CrewMedicalCertificateForAdminViewMode_CreatedByUserID"><span id="el_CrewMedicalCertificateForAdminViewMode_CreatedByUserID">
<span @Html.Raw(crewMedicalCertificateForAdminViewModeView.CreatedByUserID.ViewAttributes)>
@Html.Raw(crewMedicalCertificateForAdminViewModeView.CreatedByUserID.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewMedicalCertificateForAdminViewModeView.CreatedByUserID.Visible (end) *@
@if (crewMedicalCertificateForAdminViewModeView.CreatedDateTime.Visible) { // crewMedicalCertificateForAdminViewModeView.CreatedDateTime.Visible (begin)
    <tr id="r_CreatedDateTime" @Html.Raw(crewMedicalCertificateForAdminViewModeView.CreatedDateTime.RowAttributes)>
        <td class="@(crewMedicalCertificateForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewMedicalCertificateForAdminViewMode_CreatedDateTime"><template id="tpc_CrewMedicalCertificateForAdminViewMode_CreatedDateTime">@Html.Raw(crewMedicalCertificateForAdminViewModeView.CreatedDateTime.Caption)</template></span></td>
        <td data-name="CreatedDateTime" @Html.Raw(crewMedicalCertificateForAdminViewModeView.CreatedDateTime.CellAttributes)>
<template id="tpx_CrewMedicalCertificateForAdminViewMode_CreatedDateTime"><span id="el_CrewMedicalCertificateForAdminViewMode_CreatedDateTime">
<span @Html.Raw(crewMedicalCertificateForAdminViewModeView.CreatedDateTime.ViewAttributes)>
@Html.Raw(crewMedicalCertificateForAdminViewModeView.CreatedDateTime.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewMedicalCertificateForAdminViewModeView.CreatedDateTime.Visible (end) *@
@if (crewMedicalCertificateForAdminViewModeView.LastUpdatedByUserID.Visible) { // crewMedicalCertificateForAdminViewModeView.LastUpdatedByUserID.Visible (begin)
    <tr id="r_LastUpdatedByUserID" @Html.Raw(crewMedicalCertificateForAdminViewModeView.LastUpdatedByUserID.RowAttributes)>
        <td class="@(crewMedicalCertificateForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewMedicalCertificateForAdminViewMode_LastUpdatedByUserID"><template id="tpc_CrewMedicalCertificateForAdminViewMode_LastUpdatedByUserID">@Html.Raw(crewMedicalCertificateForAdminViewModeView.LastUpdatedByUserID.Caption)</template></span></td>
        <td data-name="LastUpdatedByUserID" @Html.Raw(crewMedicalCertificateForAdminViewModeView.LastUpdatedByUserID.CellAttributes)>
<template id="tpx_CrewMedicalCertificateForAdminViewMode_LastUpdatedByUserID"><span id="el_CrewMedicalCertificateForAdminViewMode_LastUpdatedByUserID">
<span @Html.Raw(crewMedicalCertificateForAdminViewModeView.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(crewMedicalCertificateForAdminViewModeView.LastUpdatedByUserID.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewMedicalCertificateForAdminViewModeView.LastUpdatedByUserID.Visible (end) *@
@if (crewMedicalCertificateForAdminViewModeView.LastUpdatedDateTime.Visible) { // crewMedicalCertificateForAdminViewModeView.LastUpdatedDateTime.Visible (begin)
    <tr id="r_LastUpdatedDateTime" @Html.Raw(crewMedicalCertificateForAdminViewModeView.LastUpdatedDateTime.RowAttributes)>
        <td class="@(crewMedicalCertificateForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewMedicalCertificateForAdminViewMode_LastUpdatedDateTime"><template id="tpc_CrewMedicalCertificateForAdminViewMode_LastUpdatedDateTime">@Html.Raw(crewMedicalCertificateForAdminViewModeView.LastUpdatedDateTime.Caption)</template></span></td>
        <td data-name="LastUpdatedDateTime" @Html.Raw(crewMedicalCertificateForAdminViewModeView.LastUpdatedDateTime.CellAttributes)>
<template id="tpx_CrewMedicalCertificateForAdminViewMode_LastUpdatedDateTime"><span id="el_CrewMedicalCertificateForAdminViewMode_LastUpdatedDateTime">
<span @Html.Raw(crewMedicalCertificateForAdminViewModeView.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(crewMedicalCertificateForAdminViewModeView.LastUpdatedDateTime.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewMedicalCertificateForAdminViewModeView.LastUpdatedDateTime.Visible (end) *@
</table>
<div id="tpd_CrewMedicalCertificateForAdminViewModeview" class="ew-custom-template"></div>
<template id="tpm_CrewMedicalCertificateForAdminViewModeview">
<div id="ct_crewMedicalCertificateForAdminViewModeView">    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewPersonalDataForAdminViewModeView")">
                @(CurrentLanguage == "en-US" ? "PERSONAL DATA" : "DATA PERSONAL")
            </a>     
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewDocumentForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "DOCUMENTS" : "DOKUMEN")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewBankAccountForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "BANK ACCOUNT" : "REKENING BANK")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewFamilyForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "FAMILY" : "KELUARGA")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewFormalEducationForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "FORMAL EDUCATION" : "PENDIDIKAN FORMAL")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewMedicalCertificateForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "MEDICAL CERTIFICATE / TEST" : "SERTIFIKAT / TES MEDIS")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewCertificateForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "CERTIFICATES AND QUALIFICATIONS" : "SERTIFIKAT DAN KUALIFIKASI")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewExperienceForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "SEA EXPERIENCE" : "PENGALAMAN BERLAYAR")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewAppraisalForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "APPRAISALS" : "PENILAIAN")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewMedicalHistoryForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "MEDICAL HISTORY" : "RIWAYAT MEDIS")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewGeneralDataForAdminViewModeView")">
                @(CurrentLanguage == "en-US" ? "GENERAL" : "UMUM")
            </a>
        </li>
    </ul> 
    <div class="mb-2 row">
        <div class="col-sm-6">
            <div id="r_MTMedicalCertificateID" class="mb-2 row">
                <label for="x_MTMedicalCertificateID" class="col-form-label">@Html.Raw(crewMedicalCertificateForAdminViewModeView.MTMedicalCertificateID.Caption)</label>
                <div>
                    @{
                        if (string.IsNullOrEmpty(crewMedicalCertificateForAdminViewModeView.MTMedicalCertificateID.GetViewValue()))
                        {
                            @Html.Raw("&nbsp;");
                        }
                        else
                        {
                            <slot class="ew-slot" name="tpx_CrewMedicalCertificateForAdminViewMode_MTMedicalCertificateID"></slot>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="r_Number" class="mb-2 row">
                <label for="x_Number" class="col-form-label">@Html.Raw(crewMedicalCertificateForAdminViewModeView.Number.Caption)</label>
                <div>
                    @{
                        if (string.IsNullOrEmpty(crewMedicalCertificateForAdminViewModeView.Number.GetViewValue()))
                        {
                            @Html.Raw("&nbsp;");
                        }
                        else
                        {
                            <slot class="ew-slot" name="tpx_CrewMedicalCertificateForAdminViewMode_Number"></slot>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="mb-2 row">
        <div class="col-sm-6">
            <div id="r_PlaceOfIssue" class="mb-2 row">
                <label for="x_PlaceOfIssue" class="col-form-label">@Html.Raw(crewMedicalCertificateForAdminViewModeView.PlaceOfIssue.Caption)</label>
                <div>
                    @{
                        if (string.IsNullOrEmpty(crewMedicalCertificateForAdminViewModeView.PlaceOfIssue.GetViewValue()))
                        {
                            @Html.Raw("&nbsp;");
                        }
                        else
                        {
                            <slot class="ew-slot" name="tpx_CrewMedicalCertificateForAdminViewMode_PlaceOfIssue"></slot>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="r_DateOfIssue" class="mb-2 row">
                <label for="x_DateOfIssue" class="col-form-label">@Html.Raw(crewMedicalCertificateForAdminViewModeView.DateOfIssue.Caption)</label>
                <div>
                    @{
                        if (string.IsNullOrEmpty(crewMedicalCertificateForAdminViewModeView.DateOfIssue.GetViewValue()))
                        {
                            @Html.Raw("&nbsp;");
                        }
                        else
                        {
                            <slot class="ew-slot" name="tpx_CrewMedicalCertificateForAdminViewMode_DateOfIssue"></slot>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
     <div class="mb-2 row">
        <div class="col-sm-6">
            <div id="r_ExpirationDate" class="mb-2 row">
                <label for="x_ExpirationDate" class="col-form-label">@Html.Raw(crewMedicalCertificateForAdminViewModeView.ExpirationDate.Caption)</label>
                <div>
                    @{
                        if (string.IsNullOrEmpty(crewMedicalCertificateForAdminViewModeView.ExpirationDate.GetViewValue()))
                        {
                            @Html.Raw("&nbsp;");
                        }
                        else
                        {
                            <slot class="ew-slot" name="tpx_CrewMedicalCertificateForAdminViewMode_ExpirationDate"></slot>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="r_Attachment" class="mb-2 row">
                <label for="x_Attachment" class="col-form-label">@Html.Raw(crewMedicalCertificateForAdminViewModeView.Attachment.Caption)</label>
                <div>
                    @{
                        if (string.IsNullOrEmpty(crewMedicalCertificateForAdminViewModeView.Attachment.GetViewValue()))
                        {
                            @Html.Raw("&nbsp;");
                        }
                        else
                        {
                            <slot class="ew-slot" name="tpx_CrewMedicalCertificateForAdminViewMode_Attachment"></slot>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
</template>
@{ crewMedicalCertificateForAdminViewModeView.CloseRecordset(); }
</form>
<script class="ew-apply-template">
loadjs.ready(ew.applyTemplateId, function() {
    var $ = jQuery;
    ew.templateData = { rows: @Html.Raw(ConvertToJson(crewMedicalCertificateForAdminViewModeView.Rows)) };
    ew.applyTemplate("tpd_CrewMedicalCertificateForAdminViewModeview", "tpm_CrewMedicalCertificateForAdminViewModeview", "CrewMedicalCertificateForAdminViewModeview", "@(crewMedicalCertificateForAdminViewModeView.Export)", "CrewMedicalCertificateForAdminViewMode", ew.templateData.rows[0], @(crewMedicalCertificateForAdminViewModeView.IsModal ? "true" : "false"));
    loadjs.done("customtemplate");
});
</script>
</main>
@crewMedicalCertificateForAdminViewModeView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!crewMedicalCertificateForAdminViewModeView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Startup script
    // Write your table-specific startup script here
    // document.write("page loaded");

    // Get the current URL
    const currentUrlObject = new URL(window.location.href);
    // get the current URL without Add or Edit for assigning active class in tabs
    const currentUrlWithoutAddEditListView = currentUrlObject.href.replace(/Add|Edit|List|View/g, "");
    // Create a new URLSearchParams object based on the current URL's search parameters
    const urlQueryParams = new URLSearchParams(currentUrlObject.search);
    // Extract the value of the crewID query parameter
    const currentlyEditedCrewID = urlQueryParams.get('crewID');
    const crewDocumentID = currentUrlObject.pathname.split('/').pop();

    // Iterate over each anchor element inside the nav-tabs
    $(".nav-tabs .nav-item a").each(function() {
        const href = $(this).attr("href");
        const hrefWithoutAddEditListView = href.replace(/Add|Edit|List|View/g, "");
        // Check if the href contains current page's url
        if (currentUrlWithoutAddEditListView.includes(hrefWithoutAddEditListView)) {
            // add class and attribute
            $(this).addClass("active");
            $(this).attr("aria-current", "page");
        }
        // Check if the href contains "Edit" or "Add"
        if (href.includes("ViewModeView")) {
            // Add "/" and the currently edited crew ID to the href
            const newHref = href + "/" + currentlyEditedCrewID;
            // Set the updated href attribute value
            $(this).attr("href", newHref);
        } else if (href.includes("ViewModeList")) {
            // Add "?crewID=" and the currently edited crew ID to the href
            const newHref = href + "?crewID=" + currentlyEditedCrewID;
            // Set the updated href attribute value
            $(this).attr("href", newHref);
        }
    });

    // Target the ol element that has breadcrumb class
    const $breadCrumbOl = $('.breadcrumb').first();

    // Delete the ol element that has breadcrumb class
    $breadCrumbOl.remove();
    $('div.btn-toolbar.ew-toolbar').remove();
    const selectedLanguage = ew.vars['languages']['languages'].filter(obj => obj.selected === true)[0];
    const parentUrl = ew.PATH_BASE;
    const adminAndEmployeeStatusApi = 'get-admin-and-employee-status';
    $.ajax({
        url: `${parentUrl}api/Registration/${adminAndEmployeeStatusApi}`,
        method: 'GET',
        data: {
            crewID: currentlyEditedCrewID
        },
        success: function(response) {
            if (response.success) {
                // Parse the data in the response
                const isAdmin = response.data.IsAdmin;
                const employeeStatus = response.data.EmployeeStatus;
                if (currentlyEditedCrewID === null) {
                    if (isAdmin) {
                        // redirect to list page with error message: record not found
                        if (employeeStatus === 'Candidate - Draft') {
                            window.location.replace(`${ew.PATH_BASE}RegistrationEdit/-1`);
                        } else if (employeeStatus === 'Candidate - Submitted') {
                            window.location.replace(`${ew.PATH_BASE}VWaitingForPdeReviewView/-1`);
                        }
                    } else {
                        window.location.replace(`${ew.PATH_BASE}index`);
                    }
                }
                if (employeeStatus === 'Candidate - Draft') {
                    const editButton = $("<a></a>", { 
                        text: (selectedLanguage.id === 'en-US') ? "Edit" : "Ubah",
                        class: "btn btn-default ew-btn me-3 primary-black-clr gray-bg", 
                        id: "btn-edit",
                        name: "btn-edit",
                        href: `${parentUrl}CrewMedicalCertificateForAdminViewModeEdit/${crewDocumentID}?crewID=${currentlyEditedCrewID}`,
                    });
                    const deleteButton = $("<a></a>", { 
                        text: (selectedLanguage.id === 'en-US') ? "Delete" : "Hapus",
                        class: "btn btn-default ew-btn me-auto primary-red-bg primary-white-clr ew-action ew-delete", 
                        id: "btn-delete",
                        name: "btn-delete",
                        href: `${parentUrl}CrewMedicalCertificateForAdminViewModeDelete/${crewDocumentID}`,
                        "data-ew-action": "inline-delete",
                        "data-caption": "Delete",
                    });
                    const backButton = $("<a></a>", { 
                        text: (selectedLanguage.id === 'en-US') ? "Back" : "Kembali",
                        class: "btn btn-default ew-btn ms-auto primary-red-bg primary-white-clr", 
                        id: "btn-back",
                        name: "btn-back",
                        href: `${parentUrl}CrewMedicalCertificateForAdminViewModeList?crewID=${currentlyEditedCrewID}`,
                    });
                    const flexDiv = $("<div class='d-flex mb-3'></div>");
                    flexDiv.append(editButton);
                    flexDiv.append(deleteButton);
                    flexDiv.append(backButton);
                    const buttonsDiv = $("<div class='row ew-buttons'></div>");
                    buttonsDiv.append(flexDiv);
                    $('form#fCrewMedicalCertificateForAdminViewModeview').append(buttonsDiv);
                } else if (employeeStatus === 'Candidate - Submitted') {
                    const backButton = $("<a></a>", { 
                        text: (selectedLanguage.id === 'en-US') ? "Back" : "Kembali",
                        class: "btn btn-default ew-btn ms-auto primary-red-bg primary-white-clr", 
                        id: "btn-back",
                        name: "btn-back",
                        href: `${parentUrl}CrewMedicalCertificateForAdminViewModeList?crewID=${currentlyEditedCrewID}`,
                    });
                    const flexDiv = $("<div class='d-flex mb-3'></div>");
                    flexDiv.append(backButton);
                    const buttonsDiv = $("<div class='row ew-buttons'></div>");
                    buttonsDiv.append(flexDiv);
                    $('form#fCrewMedicalCertificateForAdminViewModeview').append(buttonsDiv);
                }
            } else {
                // Handle the error
                ew.showToast(response.errorMessage);
            }
        },
        error: function(xhr, textStatus, errorThrown) {
            // Handle the error
            ew.showToast(errorThrown);
        }
    });
});
</script>
}
