@{
    // View
    View = this;

    // Check action result
    if (crewDocumentForAdminViewModeDelete.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!crewDocumentForAdminViewModeDelete.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(crewDocumentForAdminViewModeDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { CrewDocumentForAdminViewMode: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fCrewDocumentForAdminViewModedelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fCrewDocumentForAdminViewModedelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@crewDocumentForAdminViewModeDelete.ShowPageHeader()
@crewDocumentForAdminViewModeDelete.ShowMessages()
<form name="fCrewDocumentForAdminViewModedelete" id="fCrewDocumentForAdminViewModedelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in crewDocumentForAdminViewModeDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(crewDocumentForAdminViewModeDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(crewDocumentForAdminViewModeDelete.TableContainerClass)" style="@(crewDocumentForAdminViewModeDelete.TableContainerStyle)">
<table class="@(crewDocumentForAdminViewModeDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (crewDocumentForAdminViewModeDelete.MTCrewID.Visible) { // crewDocumentForAdminViewModeDelete.MTCrewID.Visible (begin)
        <th class="@Html.Raw(crewDocumentForAdminViewModeDelete.MTCrewID.HeaderCellClass)"><span id="elh_CrewDocumentForAdminViewMode_MTCrewID" class="CrewDocumentForAdminViewMode_MTCrewID">@Html.Raw(crewDocumentForAdminViewModeDelete.MTCrewID.Caption)</span></th>
} @* crewDocumentForAdminViewModeDelete.MTCrewID.Visible (end) *@
@if (crewDocumentForAdminViewModeDelete.MTDocumentID.Visible) { // crewDocumentForAdminViewModeDelete.MTDocumentID.Visible (begin)
        <th class="@Html.Raw(crewDocumentForAdminViewModeDelete.MTDocumentID.HeaderCellClass)"><span id="elh_CrewDocumentForAdminViewMode_MTDocumentID" class="CrewDocumentForAdminViewMode_MTDocumentID">@Html.Raw(crewDocumentForAdminViewModeDelete.MTDocumentID.Caption)</span></th>
} @* crewDocumentForAdminViewModeDelete.MTDocumentID.Visible (end) *@
@if (crewDocumentForAdminViewModeDelete.Number.Visible) { // crewDocumentForAdminViewModeDelete.Number.Visible (begin)
        <th class="@Html.Raw(crewDocumentForAdminViewModeDelete.Number.HeaderCellClass)"><span id="elh_CrewDocumentForAdminViewMode_Number" class="CrewDocumentForAdminViewMode_Number">@Html.Raw(crewDocumentForAdminViewModeDelete.Number.Caption)</span></th>
} @* crewDocumentForAdminViewModeDelete.Number.Visible (end) *@
@if (crewDocumentForAdminViewModeDelete.CountryOfIssue_CountryID.Visible) { // crewDocumentForAdminViewModeDelete.CountryOfIssue_CountryID.Visible (begin)
        <th class="@Html.Raw(crewDocumentForAdminViewModeDelete.CountryOfIssue_CountryID.HeaderCellClass)"><span id="elh_CrewDocumentForAdminViewMode_CountryOfIssue_CountryID" class="CrewDocumentForAdminViewMode_CountryOfIssue_CountryID">@Html.Raw(crewDocumentForAdminViewModeDelete.CountryOfIssue_CountryID.Caption)</span></th>
} @* crewDocumentForAdminViewModeDelete.CountryOfIssue_CountryID.Visible (end) *@
@if (crewDocumentForAdminViewModeDelete.DateOfIssue.Visible) { // crewDocumentForAdminViewModeDelete.DateOfIssue.Visible (begin)
        <th class="@Html.Raw(crewDocumentForAdminViewModeDelete.DateOfIssue.HeaderCellClass)"><span id="elh_CrewDocumentForAdminViewMode_DateOfIssue" class="CrewDocumentForAdminViewMode_DateOfIssue">@Html.Raw(crewDocumentForAdminViewModeDelete.DateOfIssue.Caption)</span></th>
} @* crewDocumentForAdminViewModeDelete.DateOfIssue.Visible (end) *@
@if (crewDocumentForAdminViewModeDelete.PlaceOfIssue.Visible) { // crewDocumentForAdminViewModeDelete.PlaceOfIssue.Visible (begin)
        <th class="@Html.Raw(crewDocumentForAdminViewModeDelete.PlaceOfIssue.HeaderCellClass)"><span id="elh_CrewDocumentForAdminViewMode_PlaceOfIssue" class="CrewDocumentForAdminViewMode_PlaceOfIssue">@Html.Raw(crewDocumentForAdminViewModeDelete.PlaceOfIssue.Caption)</span></th>
} @* crewDocumentForAdminViewModeDelete.PlaceOfIssue.Visible (end) *@
@if (crewDocumentForAdminViewModeDelete.DateValidUntil.Visible) { // crewDocumentForAdminViewModeDelete.DateValidUntil.Visible (begin)
        <th class="@Html.Raw(crewDocumentForAdminViewModeDelete.DateValidUntil.HeaderCellClass)"><span id="elh_CrewDocumentForAdminViewMode_DateValidUntil" class="CrewDocumentForAdminViewMode_DateValidUntil">@Html.Raw(crewDocumentForAdminViewModeDelete.DateValidUntil.Caption)</span></th>
} @* crewDocumentForAdminViewModeDelete.DateValidUntil.Visible (end) *@
@if (crewDocumentForAdminViewModeDelete.Image.Visible) { // crewDocumentForAdminViewModeDelete.Image.Visible (begin)
        <th class="@Html.Raw(crewDocumentForAdminViewModeDelete.Image.HeaderCellClass)"><span id="elh_CrewDocumentForAdminViewMode_Image" class="CrewDocumentForAdminViewMode_Image">@Html.Raw(crewDocumentForAdminViewModeDelete.Image.Caption)</span></th>
} @* crewDocumentForAdminViewModeDelete.Image.Visible (end) *@
@if (crewDocumentForAdminViewModeDelete.CreatedByUserID.Visible) { // crewDocumentForAdminViewModeDelete.CreatedByUserID.Visible (begin)
        <th class="@Html.Raw(crewDocumentForAdminViewModeDelete.CreatedByUserID.HeaderCellClass)"><span id="elh_CrewDocumentForAdminViewMode_CreatedByUserID" class="CrewDocumentForAdminViewMode_CreatedByUserID">@Html.Raw(crewDocumentForAdminViewModeDelete.CreatedByUserID.Caption)</span></th>
} @* crewDocumentForAdminViewModeDelete.CreatedByUserID.Visible (end) *@
@if (crewDocumentForAdminViewModeDelete.CreatedDateTime.Visible) { // crewDocumentForAdminViewModeDelete.CreatedDateTime.Visible (begin)
        <th class="@Html.Raw(crewDocumentForAdminViewModeDelete.CreatedDateTime.HeaderCellClass)"><span id="elh_CrewDocumentForAdminViewMode_CreatedDateTime" class="CrewDocumentForAdminViewMode_CreatedDateTime">@Html.Raw(crewDocumentForAdminViewModeDelete.CreatedDateTime.Caption)</span></th>
} @* crewDocumentForAdminViewModeDelete.CreatedDateTime.Visible (end) *@
@if (crewDocumentForAdminViewModeDelete.LastUpdatedByUserID.Visible) { // crewDocumentForAdminViewModeDelete.LastUpdatedByUserID.Visible (begin)
        <th class="@Html.Raw(crewDocumentForAdminViewModeDelete.LastUpdatedByUserID.HeaderCellClass)"><span id="elh_CrewDocumentForAdminViewMode_LastUpdatedByUserID" class="CrewDocumentForAdminViewMode_LastUpdatedByUserID">@Html.Raw(crewDocumentForAdminViewModeDelete.LastUpdatedByUserID.Caption)</span></th>
} @* crewDocumentForAdminViewModeDelete.LastUpdatedByUserID.Visible (end) *@
@if (crewDocumentForAdminViewModeDelete.LastUpdatedDateTime.Visible) { // crewDocumentForAdminViewModeDelete.LastUpdatedDateTime.Visible (begin)
        <th class="@Html.Raw(crewDocumentForAdminViewModeDelete.LastUpdatedDateTime.HeaderCellClass)"><span id="elh_CrewDocumentForAdminViewMode_LastUpdatedDateTime" class="CrewDocumentForAdminViewMode_LastUpdatedDateTime">@Html.Raw(crewDocumentForAdminViewModeDelete.LastUpdatedDateTime.Caption)</span></th>
} @* crewDocumentForAdminViewModeDelete.LastUpdatedDateTime.Visible (end) *@
@if (crewDocumentForAdminViewModeDelete.IsDraft.Visible) { // crewDocumentForAdminViewModeDelete.IsDraft.Visible (begin)
        <th class="@Html.Raw(crewDocumentForAdminViewModeDelete.IsDraft.HeaderCellClass)"><span id="elh_CrewDocumentForAdminViewMode_IsDraft" class="CrewDocumentForAdminViewMode_IsDraft">@Html.Raw(crewDocumentForAdminViewModeDelete.IsDraft.Caption)</span></th>
} @* crewDocumentForAdminViewModeDelete.IsDraft.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ crewDocumentForAdminViewModeDelete.RecordCount = 0; }
@while (crewDocumentForAdminViewModeDelete.Recordset != null && await crewDocumentForAdminViewModeDelete.Recordset.ReadAsync()) { // DN
    crewDocumentForAdminViewModeDelete.RecordCount++;
    crewDocumentForAdminViewModeDelete.RowCount++;

    // Set row properties
    crewDocumentForAdminViewModeDelete.ResetAttributes();
    crewDocumentForAdminViewModeDelete.RowType = RowType.View; // View

    // Get the field contents
    await crewDocumentForAdminViewModeDelete.LoadRowValues(crewDocumentForAdminViewModeDelete.Recordset);

    // Render row
    await crewDocumentForAdminViewModeDelete.RenderRow();
    <tr @Html.Raw(crewDocumentForAdminViewModeDelete.RowAttributes)>
@if (crewDocumentForAdminViewModeDelete.MTCrewID.Visible) { // crewDocumentForAdminViewModeDelete.MTCrewID.Visible (begin)
        <td @Html.Raw(crewDocumentForAdminViewModeDelete.MTCrewID.CellAttributes)>
<span id="el@(crewDocumentForAdminViewModeDelete.RowCount)_CrewDocumentForAdminViewMode_MTCrewID" class="el_CrewDocumentForAdminViewMode_MTCrewID">
<span @Html.Raw(crewDocumentForAdminViewModeDelete.MTCrewID.ViewAttributes)>
@Html.Raw(crewDocumentForAdminViewModeDelete.MTCrewID.GetViewValue())</span>
</span></td>
} @* crewDocumentForAdminViewModeDelete.MTCrewID.Visible (end) *@
@if (crewDocumentForAdminViewModeDelete.MTDocumentID.Visible) { // crewDocumentForAdminViewModeDelete.MTDocumentID.Visible (begin)
        <td @Html.Raw(crewDocumentForAdminViewModeDelete.MTDocumentID.CellAttributes)>
<span id="el@(crewDocumentForAdminViewModeDelete.RowCount)_CrewDocumentForAdminViewMode_MTDocumentID" class="el_CrewDocumentForAdminViewMode_MTDocumentID">
<span @Html.Raw(crewDocumentForAdminViewModeDelete.MTDocumentID.ViewAttributes)>
@Html.Raw(crewDocumentForAdminViewModeDelete.MTDocumentID.GetViewValue())</span>
</span></td>
} @* crewDocumentForAdminViewModeDelete.MTDocumentID.Visible (end) *@
@if (crewDocumentForAdminViewModeDelete.Number.Visible) { // crewDocumentForAdminViewModeDelete.Number.Visible (begin)
        <td @Html.Raw(crewDocumentForAdminViewModeDelete.Number.CellAttributes)>
<span id="el@(crewDocumentForAdminViewModeDelete.RowCount)_CrewDocumentForAdminViewMode_Number" class="el_CrewDocumentForAdminViewMode_Number">
<span @Html.Raw(crewDocumentForAdminViewModeDelete.Number.ViewAttributes)>
@Html.Raw(crewDocumentForAdminViewModeDelete.Number.GetViewValue())</span>
</span></td>
} @* crewDocumentForAdminViewModeDelete.Number.Visible (end) *@
@if (crewDocumentForAdminViewModeDelete.CountryOfIssue_CountryID.Visible) { // crewDocumentForAdminViewModeDelete.CountryOfIssue_CountryID.Visible (begin)
        <td @Html.Raw(crewDocumentForAdminViewModeDelete.CountryOfIssue_CountryID.CellAttributes)>
<span id="el@(crewDocumentForAdminViewModeDelete.RowCount)_CrewDocumentForAdminViewMode_CountryOfIssue_CountryID" class="el_CrewDocumentForAdminViewMode_CountryOfIssue_CountryID">
<span @Html.Raw(crewDocumentForAdminViewModeDelete.CountryOfIssue_CountryID.ViewAttributes)>
@Html.Raw(crewDocumentForAdminViewModeDelete.CountryOfIssue_CountryID.GetViewValue())</span>
</span></td>
} @* crewDocumentForAdminViewModeDelete.CountryOfIssue_CountryID.Visible (end) *@
@if (crewDocumentForAdminViewModeDelete.DateOfIssue.Visible) { // crewDocumentForAdminViewModeDelete.DateOfIssue.Visible (begin)
        <td @Html.Raw(crewDocumentForAdminViewModeDelete.DateOfIssue.CellAttributes)>
<span id="el@(crewDocumentForAdminViewModeDelete.RowCount)_CrewDocumentForAdminViewMode_DateOfIssue" class="el_CrewDocumentForAdminViewMode_DateOfIssue">
<span @Html.Raw(crewDocumentForAdminViewModeDelete.DateOfIssue.ViewAttributes)>
@Html.Raw(crewDocumentForAdminViewModeDelete.DateOfIssue.GetViewValue())</span>
</span></td>
} @* crewDocumentForAdminViewModeDelete.DateOfIssue.Visible (end) *@
@if (crewDocumentForAdminViewModeDelete.PlaceOfIssue.Visible) { // crewDocumentForAdminViewModeDelete.PlaceOfIssue.Visible (begin)
        <td @Html.Raw(crewDocumentForAdminViewModeDelete.PlaceOfIssue.CellAttributes)>
<span id="el@(crewDocumentForAdminViewModeDelete.RowCount)_CrewDocumentForAdminViewMode_PlaceOfIssue" class="el_CrewDocumentForAdminViewMode_PlaceOfIssue">
<span @Html.Raw(crewDocumentForAdminViewModeDelete.PlaceOfIssue.ViewAttributes)>
@Html.Raw(crewDocumentForAdminViewModeDelete.PlaceOfIssue.GetViewValue())</span>
</span></td>
} @* crewDocumentForAdminViewModeDelete.PlaceOfIssue.Visible (end) *@
@if (crewDocumentForAdminViewModeDelete.DateValidUntil.Visible) { // crewDocumentForAdminViewModeDelete.DateValidUntil.Visible (begin)
        <td @Html.Raw(crewDocumentForAdminViewModeDelete.DateValidUntil.CellAttributes)>
<span id="el@(crewDocumentForAdminViewModeDelete.RowCount)_CrewDocumentForAdminViewMode_DateValidUntil" class="el_CrewDocumentForAdminViewMode_DateValidUntil">
<span @Html.Raw(crewDocumentForAdminViewModeDelete.DateValidUntil.ViewAttributes)>
@Html.Raw(crewDocumentForAdminViewModeDelete.DateValidUntil.GetViewValue())</span>
</span></td>
} @* crewDocumentForAdminViewModeDelete.DateValidUntil.Visible (end) *@
@if (crewDocumentForAdminViewModeDelete.Image.Visible) { // crewDocumentForAdminViewModeDelete.Image.Visible (begin)
        <td @Html.Raw(crewDocumentForAdminViewModeDelete.Image.CellAttributes)>
<span id="el@(crewDocumentForAdminViewModeDelete.RowCount)_CrewDocumentForAdminViewMode_Image" class="el_CrewDocumentForAdminViewMode_Image">
<span>
@Html.Raw(await GetFileViewTag((DbField)crewDocumentForAdminViewModeDelete.Image, ConvertToString(crewDocumentForAdminViewModeDelete.Image.GetViewValue()), false))
</span>
</span></td>
} @* crewDocumentForAdminViewModeDelete.Image.Visible (end) *@
@if (crewDocumentForAdminViewModeDelete.CreatedByUserID.Visible) { // crewDocumentForAdminViewModeDelete.CreatedByUserID.Visible (begin)
        <td @Html.Raw(crewDocumentForAdminViewModeDelete.CreatedByUserID.CellAttributes)>
<span id="el@(crewDocumentForAdminViewModeDelete.RowCount)_CrewDocumentForAdminViewMode_CreatedByUserID" class="el_CrewDocumentForAdminViewMode_CreatedByUserID">
<span @Html.Raw(crewDocumentForAdminViewModeDelete.CreatedByUserID.ViewAttributes)>
@Html.Raw(crewDocumentForAdminViewModeDelete.CreatedByUserID.GetViewValue())</span>
</span></td>
} @* crewDocumentForAdminViewModeDelete.CreatedByUserID.Visible (end) *@
@if (crewDocumentForAdminViewModeDelete.CreatedDateTime.Visible) { // crewDocumentForAdminViewModeDelete.CreatedDateTime.Visible (begin)
        <td @Html.Raw(crewDocumentForAdminViewModeDelete.CreatedDateTime.CellAttributes)>
<span id="el@(crewDocumentForAdminViewModeDelete.RowCount)_CrewDocumentForAdminViewMode_CreatedDateTime" class="el_CrewDocumentForAdminViewMode_CreatedDateTime">
<span @Html.Raw(crewDocumentForAdminViewModeDelete.CreatedDateTime.ViewAttributes)>
@Html.Raw(crewDocumentForAdminViewModeDelete.CreatedDateTime.GetViewValue())</span>
</span></td>
} @* crewDocumentForAdminViewModeDelete.CreatedDateTime.Visible (end) *@
@if (crewDocumentForAdminViewModeDelete.LastUpdatedByUserID.Visible) { // crewDocumentForAdminViewModeDelete.LastUpdatedByUserID.Visible (begin)
        <td @Html.Raw(crewDocumentForAdminViewModeDelete.LastUpdatedByUserID.CellAttributes)>
<span id="el@(crewDocumentForAdminViewModeDelete.RowCount)_CrewDocumentForAdminViewMode_LastUpdatedByUserID" class="el_CrewDocumentForAdminViewMode_LastUpdatedByUserID">
<span @Html.Raw(crewDocumentForAdminViewModeDelete.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(crewDocumentForAdminViewModeDelete.LastUpdatedByUserID.GetViewValue())</span>
</span></td>
} @* crewDocumentForAdminViewModeDelete.LastUpdatedByUserID.Visible (end) *@
@if (crewDocumentForAdminViewModeDelete.LastUpdatedDateTime.Visible) { // crewDocumentForAdminViewModeDelete.LastUpdatedDateTime.Visible (begin)
        <td @Html.Raw(crewDocumentForAdminViewModeDelete.LastUpdatedDateTime.CellAttributes)>
<span id="el@(crewDocumentForAdminViewModeDelete.RowCount)_CrewDocumentForAdminViewMode_LastUpdatedDateTime" class="el_CrewDocumentForAdminViewMode_LastUpdatedDateTime">
<span @Html.Raw(crewDocumentForAdminViewModeDelete.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(crewDocumentForAdminViewModeDelete.LastUpdatedDateTime.GetViewValue())</span>
</span></td>
} @* crewDocumentForAdminViewModeDelete.LastUpdatedDateTime.Visible (end) *@
@if (crewDocumentForAdminViewModeDelete.IsDraft.Visible) { // crewDocumentForAdminViewModeDelete.IsDraft.Visible (begin)
        <td @Html.Raw(crewDocumentForAdminViewModeDelete.IsDraft.CellAttributes)>
<span id="el@(crewDocumentForAdminViewModeDelete.RowCount)_CrewDocumentForAdminViewMode_IsDraft" class="el_CrewDocumentForAdminViewMode_IsDraft">
<span @Html.Raw(crewDocumentForAdminViewModeDelete.IsDraft.ViewAttributes)>
<div class="form-check d-inline-block">
    <input type="checkbox" id="x_IsDraft_@(crewDocumentForAdminViewModeDelete.RowCount)" class="form-check-input" value="@(crewDocumentForAdminViewModeDelete.IsDraft.GetViewValue())" disabled checked="@(ConvertToBool(crewDocumentForAdminViewModeDelete.IsDraft.CurrentValue))">
    <label class="form-check-label" for="x_IsDraft_@(crewDocumentForAdminViewModeDelete.RowCount)"></label>
</div></span>
</span></td>
} @* crewDocumentForAdminViewModeDelete.IsDraft.Visible (end) *@
    </tr>
}
@{ crewDocumentForAdminViewModeDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(crewDocumentForAdminViewModeDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@crewDocumentForAdminViewModeDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
