@{
    // View
    View = this;

    // Check action result
    if (crewCertificateForAdminViewModeView.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!crewCertificateForAdminViewModeView.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
@if (!crewCertificateForAdminViewModeView.IsExport()) {
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!crewCertificateForAdminViewModeView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @crewCertificateForAdminViewModeView.ExportOptions.RenderBody()
    @crewCertificateForAdminViewModeView.OtherOptions.RenderBody()
</div>
}
@crewCertificateForAdminViewModeView.ShowPageHeader()
@crewCertificateForAdminViewModeView.ShowMessages()
<main class="view">
<form name="fCrewCertificateForAdminViewModeview" id="fCrewCertificateForAdminViewModeview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (!crewCertificateForAdminViewModeView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(crewCertificateForAdminViewModeView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { CrewCertificateForAdminViewMode: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fCrewCertificateForAdminViewModeview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fCrewCertificateForAdminViewModeview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
}
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(crewCertificateForAdminViewModeView.IsModal)">
<table class="@(crewCertificateForAdminViewModeView.TableClass)">
@if (crewCertificateForAdminViewModeView.MTCrewID.Visible) { // crewCertificateForAdminViewModeView.MTCrewID.Visible (begin)
    <tr id="r_MTCrewID" @Html.Raw(crewCertificateForAdminViewModeView.MTCrewID.RowAttributes)>
        <td class="@(crewCertificateForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewCertificateForAdminViewMode_MTCrewID"><template id="tpc_CrewCertificateForAdminViewMode_MTCrewID">@Html.Raw(crewCertificateForAdminViewModeView.MTCrewID.Caption)</template></span></td>
        <td data-name="MTCrewID" @Html.Raw(crewCertificateForAdminViewModeView.MTCrewID.CellAttributes)>
<template id="tpx_CrewCertificateForAdminViewMode_MTCrewID"><span id="el_CrewCertificateForAdminViewMode_MTCrewID">
<span @Html.Raw(crewCertificateForAdminViewModeView.MTCrewID.ViewAttributes)>
@Html.Raw(crewCertificateForAdminViewModeView.MTCrewID.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewCertificateForAdminViewModeView.MTCrewID.Visible (end) *@
@if (crewCertificateForAdminViewModeView.MTCertificateID.Visible) { // crewCertificateForAdminViewModeView.MTCertificateID.Visible (begin)
    <tr id="r_MTCertificateID" @Html.Raw(crewCertificateForAdminViewModeView.MTCertificateID.RowAttributes)>
        <td class="@(crewCertificateForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewCertificateForAdminViewMode_MTCertificateID"><template id="tpc_CrewCertificateForAdminViewMode_MTCertificateID">@Html.Raw(crewCertificateForAdminViewModeView.MTCertificateID.Caption)</template></span></td>
        <td data-name="MTCertificateID" @Html.Raw(crewCertificateForAdminViewModeView.MTCertificateID.CellAttributes)>
<template id="tpx_CrewCertificateForAdminViewMode_MTCertificateID"><span id="el_CrewCertificateForAdminViewMode_MTCertificateID">
<span @Html.Raw(crewCertificateForAdminViewModeView.MTCertificateID.ViewAttributes)>
@Html.Raw(crewCertificateForAdminViewModeView.MTCertificateID.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewCertificateForAdminViewModeView.MTCertificateID.Visible (end) *@
@if (crewCertificateForAdminViewModeView.CountryOfIssue_CountryID.Visible) { // crewCertificateForAdminViewModeView.CountryOfIssue_CountryID.Visible (begin)
    <tr id="r_CountryOfIssue_CountryID" @Html.Raw(crewCertificateForAdminViewModeView.CountryOfIssue_CountryID.RowAttributes)>
        <td class="@(crewCertificateForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewCertificateForAdminViewMode_CountryOfIssue_CountryID"><template id="tpc_CrewCertificateForAdminViewMode_CountryOfIssue_CountryID">@Html.Raw(crewCertificateForAdminViewModeView.CountryOfIssue_CountryID.Caption)</template></span></td>
        <td data-name="CountryOfIssue_CountryID" @Html.Raw(crewCertificateForAdminViewModeView.CountryOfIssue_CountryID.CellAttributes)>
<template id="tpx_CrewCertificateForAdminViewMode_CountryOfIssue_CountryID"><span id="el_CrewCertificateForAdminViewMode_CountryOfIssue_CountryID">
<span @Html.Raw(crewCertificateForAdminViewModeView.CountryOfIssue_CountryID.ViewAttributes)>
@Html.Raw(crewCertificateForAdminViewModeView.CountryOfIssue_CountryID.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewCertificateForAdminViewModeView.CountryOfIssue_CountryID.Visible (end) *@
@if (crewCertificateForAdminViewModeView.Number.Visible) { // crewCertificateForAdminViewModeView.Number.Visible (begin)
    <tr id="r_Number" @Html.Raw(crewCertificateForAdminViewModeView.Number.RowAttributes)>
        <td class="@(crewCertificateForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewCertificateForAdminViewMode_Number"><template id="tpc_CrewCertificateForAdminViewMode_Number">@Html.Raw(crewCertificateForAdminViewModeView.Number.Caption)</template></span></td>
        <td data-name="Number" @Html.Raw(crewCertificateForAdminViewModeView.Number.CellAttributes)>
<template id="tpx_CrewCertificateForAdminViewMode_Number"><span id="el_CrewCertificateForAdminViewMode_Number">
<span @Html.Raw(crewCertificateForAdminViewModeView.Number.ViewAttributes)>
@Html.Raw(crewCertificateForAdminViewModeView.Number.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewCertificateForAdminViewModeView.Number.Visible (end) *@
@if (crewCertificateForAdminViewModeView.DateOfIssue.Visible) { // crewCertificateForAdminViewModeView.DateOfIssue.Visible (begin)
    <tr id="r_DateOfIssue" @Html.Raw(crewCertificateForAdminViewModeView.DateOfIssue.RowAttributes)>
        <td class="@(crewCertificateForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewCertificateForAdminViewMode_DateOfIssue"><template id="tpc_CrewCertificateForAdminViewMode_DateOfIssue">@Html.Raw(crewCertificateForAdminViewModeView.DateOfIssue.Caption)</template></span></td>
        <td data-name="DateOfIssue" @Html.Raw(crewCertificateForAdminViewModeView.DateOfIssue.CellAttributes)>
<template id="tpx_CrewCertificateForAdminViewMode_DateOfIssue"><span id="el_CrewCertificateForAdminViewMode_DateOfIssue">
<span @Html.Raw(crewCertificateForAdminViewModeView.DateOfIssue.ViewAttributes)>
@Html.Raw(crewCertificateForAdminViewModeView.DateOfIssue.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewCertificateForAdminViewModeView.DateOfIssue.Visible (end) *@
@if (crewCertificateForAdminViewModeView.DateOfExpiry.Visible) { // crewCertificateForAdminViewModeView.DateOfExpiry.Visible (begin)
    <tr id="r_DateOfExpiry" @Html.Raw(crewCertificateForAdminViewModeView.DateOfExpiry.RowAttributes)>
        <td class="@(crewCertificateForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewCertificateForAdminViewMode_DateOfExpiry"><template id="tpc_CrewCertificateForAdminViewMode_DateOfExpiry">@Html.Raw(crewCertificateForAdminViewModeView.DateOfExpiry.Caption)</template></span></td>
        <td data-name="DateOfExpiry" @Html.Raw(crewCertificateForAdminViewModeView.DateOfExpiry.CellAttributes)>
<template id="tpx_CrewCertificateForAdminViewMode_DateOfExpiry"><span id="el_CrewCertificateForAdminViewMode_DateOfExpiry">
<span @Html.Raw(crewCertificateForAdminViewModeView.DateOfExpiry.ViewAttributes)>
@Html.Raw(crewCertificateForAdminViewModeView.DateOfExpiry.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewCertificateForAdminViewModeView.DateOfExpiry.Visible (end) *@
@if (crewCertificateForAdminViewModeView.PlaceOfIssue.Visible) { // crewCertificateForAdminViewModeView.PlaceOfIssue.Visible (begin)
    <tr id="r_PlaceOfIssue" @Html.Raw(crewCertificateForAdminViewModeView.PlaceOfIssue.RowAttributes)>
        <td class="@(crewCertificateForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewCertificateForAdminViewMode_PlaceOfIssue"><template id="tpc_CrewCertificateForAdminViewMode_PlaceOfIssue">@Html.Raw(crewCertificateForAdminViewModeView.PlaceOfIssue.Caption)</template></span></td>
        <td data-name="PlaceOfIssue" @Html.Raw(crewCertificateForAdminViewModeView.PlaceOfIssue.CellAttributes)>
<template id="tpx_CrewCertificateForAdminViewMode_PlaceOfIssue"><span id="el_CrewCertificateForAdminViewMode_PlaceOfIssue">
<span @Html.Raw(crewCertificateForAdminViewModeView.PlaceOfIssue.ViewAttributes)>
@Html.Raw(crewCertificateForAdminViewModeView.PlaceOfIssue.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewCertificateForAdminViewModeView.PlaceOfIssue.Visible (end) *@
@if (crewCertificateForAdminViewModeView.IssuingAuthority.Visible) { // crewCertificateForAdminViewModeView.IssuingAuthority.Visible (begin)
    <tr id="r_IssuingAuthority" @Html.Raw(crewCertificateForAdminViewModeView.IssuingAuthority.RowAttributes)>
        <td class="@(crewCertificateForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewCertificateForAdminViewMode_IssuingAuthority"><template id="tpc_CrewCertificateForAdminViewMode_IssuingAuthority">@Html.Raw(crewCertificateForAdminViewModeView.IssuingAuthority.Caption)</template></span></td>
        <td data-name="IssuingAuthority" @Html.Raw(crewCertificateForAdminViewModeView.IssuingAuthority.CellAttributes)>
<template id="tpx_CrewCertificateForAdminViewMode_IssuingAuthority"><span id="el_CrewCertificateForAdminViewMode_IssuingAuthority">
<span @Html.Raw(crewCertificateForAdminViewModeView.IssuingAuthority.ViewAttributes)>
@Html.Raw(crewCertificateForAdminViewModeView.IssuingAuthority.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewCertificateForAdminViewModeView.IssuingAuthority.Visible (end) *@
@if (crewCertificateForAdminViewModeView.Level.Visible) { // crewCertificateForAdminViewModeView.Level.Visible (begin)
    <tr id="r_Level" @Html.Raw(crewCertificateForAdminViewModeView.Level.RowAttributes)>
        <td class="@(crewCertificateForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewCertificateForAdminViewMode_Level"><template id="tpc_CrewCertificateForAdminViewMode_Level">@Html.Raw(crewCertificateForAdminViewModeView.Level.Caption)</template></span></td>
        <td data-name="Level" @Html.Raw(crewCertificateForAdminViewModeView.Level.CellAttributes)>
<template id="tpx_CrewCertificateForAdminViewMode_Level"><span id="el_CrewCertificateForAdminViewMode_Level">
<span @Html.Raw(crewCertificateForAdminViewModeView.Level.ViewAttributes)>
@Html.Raw(crewCertificateForAdminViewModeView.Level.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewCertificateForAdminViewModeView.Level.Visible (end) *@
@if (crewCertificateForAdminViewModeView.PaxVesselType.Visible) { // crewCertificateForAdminViewModeView.PaxVesselType.Visible (begin)
    <tr id="r_PaxVesselType" @Html.Raw(crewCertificateForAdminViewModeView.PaxVesselType.RowAttributes)>
        <td class="@(crewCertificateForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewCertificateForAdminViewMode_PaxVesselType"><template id="tpc_CrewCertificateForAdminViewMode_PaxVesselType">@Html.Raw(crewCertificateForAdminViewModeView.PaxVesselType.Caption)</template></span></td>
        <td data-name="PaxVesselType" @Html.Raw(crewCertificateForAdminViewModeView.PaxVesselType.CellAttributes)>
<template id="tpx_CrewCertificateForAdminViewMode_PaxVesselType"><span id="el_CrewCertificateForAdminViewMode_PaxVesselType">
<span @Html.Raw(crewCertificateForAdminViewModeView.PaxVesselType.ViewAttributes)>
@Html.Raw(crewCertificateForAdminViewModeView.PaxVesselType.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewCertificateForAdminViewModeView.PaxVesselType.Visible (end) *@
@if (crewCertificateForAdminViewModeView.Image.Visible) { // crewCertificateForAdminViewModeView.Image.Visible (begin)
    <tr id="r_Image" @Html.Raw(crewCertificateForAdminViewModeView.Image.RowAttributes)>
        <td class="@(crewCertificateForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewCertificateForAdminViewMode_Image"><template id="tpc_CrewCertificateForAdminViewMode_Image">@Html.Raw(crewCertificateForAdminViewModeView.Image.Caption)</template></span></td>
        <td data-name="Image" @Html.Raw(crewCertificateForAdminViewModeView.Image.CellAttributes)>
<template id="tpx_CrewCertificateForAdminViewMode_Image"><span id="el_CrewCertificateForAdminViewMode_Image">
<span>
@Html.Raw(await GetFileViewTag((DbField)crewCertificateForAdminViewModeView.Image, ConvertToString(crewCertificateForAdminViewModeView.Image.GetViewValue()), false))
</span>
</span></template></td>
    </tr>
} @* crewCertificateForAdminViewModeView.Image.Visible (end) *@
@if (crewCertificateForAdminViewModeView.CreatedByUserID.Visible) { // crewCertificateForAdminViewModeView.CreatedByUserID.Visible (begin)
    <tr id="r_CreatedByUserID" @Html.Raw(crewCertificateForAdminViewModeView.CreatedByUserID.RowAttributes)>
        <td class="@(crewCertificateForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewCertificateForAdminViewMode_CreatedByUserID"><template id="tpc_CrewCertificateForAdminViewMode_CreatedByUserID">@Html.Raw(crewCertificateForAdminViewModeView.CreatedByUserID.Caption)</template></span></td>
        <td data-name="CreatedByUserID" @Html.Raw(crewCertificateForAdminViewModeView.CreatedByUserID.CellAttributes)>
<template id="tpx_CrewCertificateForAdminViewMode_CreatedByUserID"><span id="el_CrewCertificateForAdminViewMode_CreatedByUserID">
<span @Html.Raw(crewCertificateForAdminViewModeView.CreatedByUserID.ViewAttributes)>
@Html.Raw(crewCertificateForAdminViewModeView.CreatedByUserID.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewCertificateForAdminViewModeView.CreatedByUserID.Visible (end) *@
@if (crewCertificateForAdminViewModeView.CreatedDateTime.Visible) { // crewCertificateForAdminViewModeView.CreatedDateTime.Visible (begin)
    <tr id="r_CreatedDateTime" @Html.Raw(crewCertificateForAdminViewModeView.CreatedDateTime.RowAttributes)>
        <td class="@(crewCertificateForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewCertificateForAdminViewMode_CreatedDateTime"><template id="tpc_CrewCertificateForAdminViewMode_CreatedDateTime">@Html.Raw(crewCertificateForAdminViewModeView.CreatedDateTime.Caption)</template></span></td>
        <td data-name="CreatedDateTime" @Html.Raw(crewCertificateForAdminViewModeView.CreatedDateTime.CellAttributes)>
<template id="tpx_CrewCertificateForAdminViewMode_CreatedDateTime"><span id="el_CrewCertificateForAdminViewMode_CreatedDateTime">
<span @Html.Raw(crewCertificateForAdminViewModeView.CreatedDateTime.ViewAttributes)>
@Html.Raw(crewCertificateForAdminViewModeView.CreatedDateTime.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewCertificateForAdminViewModeView.CreatedDateTime.Visible (end) *@
@if (crewCertificateForAdminViewModeView.LastUpdatedByUserID.Visible) { // crewCertificateForAdminViewModeView.LastUpdatedByUserID.Visible (begin)
    <tr id="r_LastUpdatedByUserID" @Html.Raw(crewCertificateForAdminViewModeView.LastUpdatedByUserID.RowAttributes)>
        <td class="@(crewCertificateForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewCertificateForAdminViewMode_LastUpdatedByUserID"><template id="tpc_CrewCertificateForAdminViewMode_LastUpdatedByUserID">@Html.Raw(crewCertificateForAdminViewModeView.LastUpdatedByUserID.Caption)</template></span></td>
        <td data-name="LastUpdatedByUserID" @Html.Raw(crewCertificateForAdminViewModeView.LastUpdatedByUserID.CellAttributes)>
<template id="tpx_CrewCertificateForAdminViewMode_LastUpdatedByUserID"><span id="el_CrewCertificateForAdminViewMode_LastUpdatedByUserID">
<span @Html.Raw(crewCertificateForAdminViewModeView.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(crewCertificateForAdminViewModeView.LastUpdatedByUserID.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewCertificateForAdminViewModeView.LastUpdatedByUserID.Visible (end) *@
@if (crewCertificateForAdminViewModeView.LastUpdatedDateTime.Visible) { // crewCertificateForAdminViewModeView.LastUpdatedDateTime.Visible (begin)
    <tr id="r_LastUpdatedDateTime" @Html.Raw(crewCertificateForAdminViewModeView.LastUpdatedDateTime.RowAttributes)>
        <td class="@(crewCertificateForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewCertificateForAdminViewMode_LastUpdatedDateTime"><template id="tpc_CrewCertificateForAdminViewMode_LastUpdatedDateTime">@Html.Raw(crewCertificateForAdminViewModeView.LastUpdatedDateTime.Caption)</template></span></td>
        <td data-name="LastUpdatedDateTime" @Html.Raw(crewCertificateForAdminViewModeView.LastUpdatedDateTime.CellAttributes)>
<template id="tpx_CrewCertificateForAdminViewMode_LastUpdatedDateTime"><span id="el_CrewCertificateForAdminViewMode_LastUpdatedDateTime">
<span @Html.Raw(crewCertificateForAdminViewModeView.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(crewCertificateForAdminViewModeView.LastUpdatedDateTime.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewCertificateForAdminViewModeView.LastUpdatedDateTime.Visible (end) *@
</table>
<div id="tpd_CrewCertificateForAdminViewModeview" class="ew-custom-template"></div>
<template id="tpm_CrewCertificateForAdminViewModeview">
<div id="ct_crewCertificateForAdminViewModeView">    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewPersonalDataForAdminViewModeView")">
                @(CurrentLanguage == "en-US" ? "PERSONAL DATA" : "DATA PERSONAL")
            </a>     
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewDocumentForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "DOCUMENTS" : "DOKUMEN")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewBankAccountForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "BANK ACCOUNT" : "REKENING BANK")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewFamilyForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "FAMILY" : "KELUARGA")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewFormalEducationForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "FORMAL EDUCATION" : "PENDIDIKAN FORMAL")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewMedicalCertificateForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "MEDICAL CERTIFICATE / TEST" : "SERTIFIKAT / TES MEDIS")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewCertificateForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "CERTIFICATES AND QUALIFICATIONS" : "SERTIFIKAT DAN KUALIFIKASI")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewExperienceForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "SEA EXPERIENCE" : "PENGALAMAN BERLAYAR")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewAppraisalForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "APPRAISALS" : "PENILAIAN")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewMedicalHistoryForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "MEDICAL HISTORY" : "RIWAYAT MEDIS")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewGeneralDataForAdminViewModeView")">
                @(CurrentLanguage == "en-US" ? "GENERAL" : "UMUM")
            </a>
        </li>
    </ul>  
    <div class="row">
        <div class="col-sm-4">
            <div id="r_MTCertificateID" class="mb-2 row">
                <label for="x_MTCertificateID" class="col-form-label">@Html.Raw(crewCertificateForAdminViewModeView.MTCertificateID.Caption)</label>
                <div>
                    @{
                        string mtCertificateID = crewCertificateForAdminViewModeView.MTCertificateID.GetViewValue();
                        object certificateNameObject = ExecuteScalar("SELECT Name FROM MTCertificate WHERE ID = '" + mtCertificateID + "';");
                    }
                    @if (certificateNameObject != null)
                    {
                        @Html.Raw(certificateNameObject.ToString());
                    }
                    else
                    {
                        @Html.Raw("&nbsp;");
                    }
                </div>
            </div>
            <div id="r_CountryOfIssue_CountryID" class="mb-2 row">
                <label for="x_CountryOfIssue_CountryID" class="col-form-label">@Html.Raw(crewCertificateForAdminViewModeView.CountryOfIssue_CountryID.Caption)</label>
                <div>
                    @{
                        if (string.IsNullOrEmpty(crewCertificateForAdminViewModeView.CountryOfIssue_CountryID.GetViewValue()))
                        {
                            @Html.Raw("&nbsp;");
                        }
                        else
                        {
                            <slot class="ew-slot" name="tpx_CrewCertificateForAdminViewMode_CountryOfIssue_CountryID"></slot>
                        }
                    }
                </div>
            </div>
            <div id="r_DateOfExpiry" class="mb-2 row">
                <label for="x_DateOfExpiry" class="col-form-label">@Html.Raw(crewCertificateForAdminViewModeView.DateOfExpiry.Caption)</label>
                <div>
                    @{
                        if (string.IsNullOrEmpty(crewCertificateForAdminViewModeView.DateOfExpiry.GetViewValue()))
                        {
                            @Html.Raw("&nbsp;");
                        }
                        else
                        {
                            <slot class="ew-slot" name="tpx_CrewCertificateForAdminViewMode_DateOfExpiry"></slot>
                        }
                    }
                </div>
            </div>
            <div id="r_Image" class="mb-2 row">
                <label for="x_Image" class="col-form-label">@Html.Raw(crewCertificateForAdminViewModeView.Image.Caption)</label>
                <div>
                    @{
                        if (string.IsNullOrEmpty(crewCertificateForAdminViewModeView.Image.GetViewValue()))
                        {
                            @Html.Raw("&nbsp;");
                        }
                        else
                        {
                            <slot class="ew-slot" name="tpx_CrewCertificateForAdminViewMode_Image"></slot>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div id="r_PaxVesselType" class="mb-2 row">
                <label for="x_PaxVesselType" class="col-form-label">@Html.Raw(crewCertificateForAdminViewModeView.PaxVesselType.Caption)</label>
                <div>
                    @{
                        if (string.IsNullOrEmpty(crewCertificateForAdminViewModeView.PaxVesselType.GetViewValue()))
                        {
                            @Html.Raw("&nbsp;");
                        }
                        else
                        {
                            <slot class="ew-slot" name="tpx_CrewCertificateForAdminViewMode_PaxVesselType"></slot>
                        }
                    }
                </div>
            </div>
            <div id="r_Number" class="mb-2 row">
                <label for="x_Number" class="col-form-label">@Html.Raw(crewCertificateForAdminViewModeView.Number.Caption)</label>
                <div>
                    @{
                        if (string.IsNullOrEmpty(crewCertificateForAdminViewModeView.Number.GetViewValue()))
                        {
                            @Html.Raw("&nbsp;");
                        }
                        else
                        {
                            <slot class="ew-slot" name="tpx_CrewCertificateForAdminViewMode_Number"></slot>
                        }
                    }
                </div>
            </div>
            <div id="r_PlaceOfIssue" class="mb-2 row">
                <label for="x_PlaceOfIssue" class="col-form-label">@Html.Raw(crewCertificateForAdminViewModeView.PlaceOfIssue.Caption)</label>
                <div>
                    @{
                        if (string.IsNullOrEmpty(crewCertificateForAdminViewModeView.PlaceOfIssue.GetViewValue()))
                        {
                            @Html.Raw("&nbsp;");
                        }
                        else
                        {
                            <slot class="ew-slot" name="tpx_CrewCertificateForAdminViewMode_PlaceOfIssue"></slot>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div id="r_Level" class="mb-2 row">
                <label for="x_Level" class="col-form-label">@Html.Raw(crewCertificateForAdminViewModeView.Level.Caption)</label>
                <div>
                    @{
                        if (string.IsNullOrEmpty(crewCertificateForAdminViewModeView.Level.GetViewValue()))
                        {
                            @Html.Raw("&nbsp;");
                        }
                        else
                        {
                            <slot class="ew-slot" name="tpx_CrewCertificateForAdminViewMode_Level"></slot>
                        }
                    }
                </div>
            </div>
            <div id="r_DateOfIssue" class="mb-2 row">
                <label for="x_DateOfIssue" class="col-form-label">@Html.Raw(crewCertificateForAdminViewModeView.DateOfIssue.Caption)</label>
                <div>
                    @{
                        if (string.IsNullOrEmpty(crewCertificateForAdminViewModeView.DateOfIssue.GetViewValue()))
                        {
                            @Html.Raw("&nbsp;");
                        }
                        else
                        {
                            <slot class="ew-slot" name="tpx_CrewCertificateForAdminViewMode_DateOfIssue"></slot>
                        }
                    }
                </div>
            </div>
            <div id="r_IssuingAuthority" class="mb-2 row">
                <label for="x_IssuingAuthority" class="col-form-label">@Html.Raw(crewCertificateForAdminViewModeView.IssuingAuthority.Caption)</label>
                <div>
                    @{
                        if (string.IsNullOrEmpty(crewCertificateForAdminViewModeView.IssuingAuthority.GetViewValue()))
                        {
                            @Html.Raw("&nbsp;");
                        }
                        else
                        {
                            <slot class="ew-slot" name="tpx_CrewCertificateForAdminViewMode_IssuingAuthority"></slot>
                        }
                    }
                </div>
            </div>
        </div> 
    </div>
</div>
</template>
@{ crewCertificateForAdminViewModeView.CloseRecordset(); }
</form>
<script class="ew-apply-template">
loadjs.ready(ew.applyTemplateId, function() {
    var $ = jQuery;
    ew.templateData = { rows: @Html.Raw(ConvertToJson(crewCertificateForAdminViewModeView.Rows)) };
    ew.applyTemplate("tpd_CrewCertificateForAdminViewModeview", "tpm_CrewCertificateForAdminViewModeview", "CrewCertificateForAdminViewModeview", "@(crewCertificateForAdminViewModeView.Export)", "CrewCertificateForAdminViewMode", ew.templateData.rows[0], @(crewCertificateForAdminViewModeView.IsModal ? "true" : "false"));
    loadjs.done("customtemplate");
});
</script>
</main>
@crewCertificateForAdminViewModeView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!crewCertificateForAdminViewModeView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Startup script
    // Write your table-specific startup script here
    // document.write("page loaded");

    // Get the current URL
    const currentUrlObject = new URL(window.location.href);
    // get the current URL without Add or Edit for assigning active class in tabs
    const currentUrlWithoutAddEditListView = currentUrlObject.href.replace(/Add|Edit|List|View/g, "");
    // Create a new URLSearchParams object based on the current URL's search parameters
    const urlQueryParams = new URLSearchParams(currentUrlObject.search);
    // Extract the value of the crewID query parameter
    const currentlyEditedCrewID = urlQueryParams.get('crewID');
    const crewCertificateID = currentUrlObject.pathname.split('/').pop();

    // Iterate over each anchor element inside the nav-tabs
    $(".nav-tabs .nav-item a").each(function() {
        const href = $(this).attr("href");
        const hrefWithoutAddEditListView = href.replace(/Add|Edit|List|View/g, "");
        // Check if the href contains current page's url
        if (currentUrlWithoutAddEditListView.includes(hrefWithoutAddEditListView)) {
            // add class and attribute
            $(this).addClass("active");
            $(this).attr("aria-current", "page");
        }
        // Check if the href contains "Edit" or "Add"
        if (href.includes("ViewModeView")) {
            // Add "/" and the currently edited crew ID to the href
            const newHref = href + "/" + currentlyEditedCrewID;
            // Set the updated href attribute value
            $(this).attr("href", newHref);
        } else if (href.includes("ViewModeList")) {
            // Add "?crewID=" and the currently edited crew ID to the href
            const newHref = href + "?crewID=" + currentlyEditedCrewID;
            // Set the updated href attribute value
            $(this).attr("href", newHref);
        }
    });

    // Target the ol element that has breadcrumb class
    const $breadCrumbOl = $('.breadcrumb').first();

    // Delete the ol element that has breadcrumb class
    $breadCrumbOl.remove();
    $('div.btn-toolbar.ew-toolbar').remove();
    const selectedLanguage = ew.vars['languages']['languages'].filter(obj => obj.selected === true)[0];
    const parentUrl = ew.PATH_BASE;
    const adminAndEmployeeStatusApi = 'get-admin-and-employee-status';
    $.ajax({
        url: `${parentUrl}api/Registration/${adminAndEmployeeStatusApi}`,
        method: 'GET',
        data: {
            crewID: currentlyEditedCrewID
        },
        success: function(response) {
            if (response.success) {
                // Parse the data in the response
                const isAdmin = response.data.IsAdmin;
                const employeeStatus = response.data.EmployeeStatus;
                if (currentlyEditedCrewID === null) {
                    if (isAdmin) {
                        // redirect to list page with error message: record not found
                        if (employeeStatus === 'Candidate - Draft') {
                            window.location.replace(`${ew.PATH_BASE}RegistrationEdit/-1`);
                        } else if (employeeStatus === 'Candidate - Submitted') {
                            window.location.replace(`${ew.PATH_BASE}VWaitingForPdeReviewView/-1`);
                        }
                    } else {
                        window.location.replace(`${ew.PATH_BASE}index`);
                    }
                }
                if (employeeStatus === 'Candidate - Draft') {
                    const editButton = $("<a></a>", { 
                        text: (selectedLanguage.id === 'en-US') ? "Edit" : "Ubah",
                        class: "btn btn-default ew-btn me-3 primary-black-clr gray-bg", 
                        id: "btn-edit",
                        name: "btn-edit",
                        href: `${ew.PATH_BASE}CrewCertificateForAdminViewModeEdit/${crewCertificateID}?crewID=${currentlyEditedCrewID}`,
                    });
                    const deleteButton = $("<a></a>", { 
                        text: (selectedLanguage.id === 'en-US') ? "Delete" : "Hapus",
                        class: "btn btn-default ew-btn me-auto primary-red-bg primary-white-clr ew-action ew-delete", 
                        id: "btn-delete",
                        name: "btn-delete",
                        href: `${ew.PATH_BASE}CrewCertificateForAdminViewModeDelete/${crewCertificateID}`,
                        "data-ew-action": "inline-delete",
                        "data-caption": "Delete",
                    });
                    const backButton = $("<a></a>", { 
                        text: (selectedLanguage.id === 'en-US') ? "Back" : "Kembali",
                        class: "btn btn-default ew-btn ms-auto primary-red-bg primary-white-clr", 
                        id: "btn-back",
                        name: "btn-back",
                        href: `${ew.PATH_BASE}CrewCertificateForAdminViewModeList?crewID=${crewCertificateID}`,
                    });
                    const flexDiv = $("<div class='d-flex mb-3'></div>");
                    flexDiv.append(editButton);
                    flexDiv.append(deleteButton);
                    flexDiv.append(backButton);
                    const buttonsDiv = $("<div class='row ew-buttons'></div>");
                    buttonsDiv.append(flexDiv);
                    $('form#fCrewCertificateForAdminViewModeview').append(buttonsDiv);
                } else if (employeeStatus === 'Candidate - Submitted') {
                    const backButton = $("<a></a>", { 
                        text: (selectedLanguage.id === 'en-US') ? "Back" : "Kembali",
                        class: "btn btn-default ew-btn ms-auto primary-red-bg primary-white-clr", 
                        id: "btn-back",
                        name: "btn-back",
                        href: `${ew.PATH_BASE}CrewCertificateForAdminViewModeList?crewID=${crewCertificateID}`,
                    });
                    const flexDiv = $("<div class='d-flex mb-3'></div>");
                    flexDiv.append(backButton);
                    const buttonsDiv = $("<div class='row ew-buttons'></div>");
                    buttonsDiv.append(flexDiv);
                    $('form#fCrewCertificateForAdminViewModeview').append(buttonsDiv);
                }
            } else {
                // Handle the error
                ew.showToast(response.errorMessage);
            }
        },
        error: function(xhr, textStatus, errorThrown) {
            // Handle the error
            ew.showToast(errorThrown);
        }
    });
});
</script>
}
