@{
    // View
    View = this;

    // Check action result
    if (crewFormalEducationForAdminViewModeSearch.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!crewFormalEducationForAdminViewModeSearch.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(crewFormalEducationForAdminViewModeSearch.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { CrewFormalEducationForAdminViewMode: currentTable } });
var currentPageID = ew.PAGE_ID = "search";
var currentForm;
var fCrewFormalEducationForAdminViewModesearch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fCrewFormalEducationForAdminViewModesearch")
        .setPageId("search")
@if (crewFormalEducationForAdminViewModeSearch.IsModal && crewFormalEducationForAdminViewModeSearch.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Add fields
        .setFields([

            ["EducationLevel", [], fields.EducationLevel.isInvalid],
            ["SchoolName", [], fields.SchoolName.isInvalid],
            ["City", [], fields.City.isInvalid],
            ["Attachment", [], fields.Attachment.isInvalid],
            ["StartDate", [], fields.StartDate.isInvalid],
            ["EndDate", [], fields.EndDate.isInvalid],
            ["MTCrewID", [], fields.MTCrewID.isInvalid],
            ["CreatedByUserID", [ew.Validators.integer], fields.CreatedByUserID.isInvalid],
            ["CreatedDateTime", [ew.Validators.datetime(fields.CreatedDateTime.clientFormatPattern)], fields.CreatedDateTime.isInvalid],
            ["LastUpdatedByUserID", [ew.Validators.integer], fields.LastUpdatedByUserID.isInvalid],
            ["LastUpdatedDateTime", [ew.Validators.datetime(fields.LastUpdatedDateTime.clientFormatPattern)], fields.LastUpdatedDateTime.isInvalid]
        ])
        // Validate form
        .setValidate(
            async function () {
                if (!this.validateRequired)
                    return true; // Ignore validation
                let fobj = this.getForm();

                // Validate fields
                if (!this.validateFields())
                    return false;

                // Call Form_CustomValidate event
                if (!(await this.customValidate?.(fobj) ?? true)) {
                    this.focus();
                    return false;
                }
                return true;
            }
        )

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "EducationLevel": @Html.Raw(crewFormalEducationForAdminViewModeSearch.EducationLevel.ToClientList(crewFormalEducationForAdminViewModeSearch)),
        })
        .build();
    window[form.id] = form;
@if (crewFormalEducationForAdminViewModeSearch.IsModal) {
    <text>currentAdvancedSearchForm = form;</text>
} else {
    <text>currentForm = form;</text>
}
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@crewFormalEducationForAdminViewModeSearch.ShowPageHeader()
@crewFormalEducationForAdminViewModeSearch.ShowMessages()
<form name="fCrewFormalEducationForAdminViewModesearch" id="fCrewFormalEducationForAdminViewModesearch" class="@(crewFormalEducationForAdminViewModeSearch.FormClassName)" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="search">
@if (crewFormalEducationForAdminViewModeSearch.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div class="ew-search-div"><!-- page* -->
@if (crewFormalEducationForAdminViewModeSearch.EducationLevel.Visible) { // crewFormalEducationForAdminViewModeSearch.EducationLevel.Visible (begin)
    <div id="r_EducationLevel" class="row" @Html.Raw(crewFormalEducationForAdminViewModeSearch.EducationLevel.RowAttributes)>
        <label for="x_EducationLevel" class="@(crewFormalEducationForAdminViewModeSearch.LeftColumnClass)"><span id="elh_CrewFormalEducationForAdminViewMode_EducationLevel">@Html.Raw(crewFormalEducationForAdminViewModeSearch.EducationLevel.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("LIKE"))
<input type="hidden" name="z_EducationLevel" id="z_EducationLevel" value="LIKE">
</span>
        </label>
        <div class="@(crewFormalEducationForAdminViewModeSearch.RightColumnClass)">
            <div @Html.Raw(crewFormalEducationForAdminViewModeSearch.EducationLevel.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_CrewFormalEducationForAdminViewMode_EducationLevel" class="ew-search-field ew-search-field-single">
    <select
        id="x_EducationLevel"
        name="x_EducationLevel"
        class="form-select ew-select@(crewFormalEducationForAdminViewModeSearch.EducationLevel.IsInvalidClass)"
        data-select2-id="fCrewFormalEducationForAdminViewModesearch_x_EducationLevel"
        data-table="CrewFormalEducationForAdminViewMode"
        data-field="x_EducationLevel"
        data-value-separator="@(crewFormalEducationForAdminViewModeSearch.EducationLevel.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(crewFormalEducationForAdminViewModeSearch.EducationLevel.PlaceHolder))"
        @Html.Raw(crewFormalEducationForAdminViewModeSearch.EducationLevel.EditAttributes)>
        @(crewFormalEducationForAdminViewModeSearch.EducationLevel.SelectOptionListHtml("x_EducationLevel"))
    </select>
    <div class="invalid-feedback">@Html.Raw(crewFormalEducationForAdminViewModeSearch.EducationLevel.GetErrorMessage(false))</div>
<script>
loadjs.ready("fCrewFormalEducationForAdminViewModesearch", function() {
    var options = { name: "x_EducationLevel", selectId: "fCrewFormalEducationForAdminViewModesearch_x_EducationLevel" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fCrewFormalEducationForAdminViewModesearch.lists.EducationLevel?.lookupOptions.length) {
        options.data = { id: "x_EducationLevel", form: "fCrewFormalEducationForAdminViewModesearch" };
    } else {
        options.ajax = { id: "x_EducationLevel", form: "fCrewFormalEducationForAdminViewModesearch", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumResultsForSearch = Infinity;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.CrewFormalEducationForAdminViewMode.fields.EducationLevel.selectOptions);
    ew.createSelect(options);
});
</script>
</span>
                </div>
            </div>
        </div>
    </div>
} @* crewFormalEducationForAdminViewModeSearch.EducationLevel.Visible (end) *@
@if (crewFormalEducationForAdminViewModeSearch.SchoolName.Visible) { // crewFormalEducationForAdminViewModeSearch.SchoolName.Visible (begin)
    <div id="r_SchoolName" class="row" @Html.Raw(crewFormalEducationForAdminViewModeSearch.SchoolName.RowAttributes)>
        <label for="x_SchoolName" class="@(crewFormalEducationForAdminViewModeSearch.LeftColumnClass)"><span id="elh_CrewFormalEducationForAdminViewMode_SchoolName">@Html.Raw(crewFormalEducationForAdminViewModeSearch.SchoolName.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("LIKE"))
<input type="hidden" name="z_SchoolName" id="z_SchoolName" value="LIKE">
</span>
        </label>
        <div class="@(crewFormalEducationForAdminViewModeSearch.RightColumnClass)">
            <div @Html.Raw(crewFormalEducationForAdminViewModeSearch.SchoolName.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_CrewFormalEducationForAdminViewMode_SchoolName" class="ew-search-field ew-search-field-single">
<input type="@(crewFormalEducationForAdminViewModeSearch.SchoolName.InputTextType)" name="x_SchoolName" id="x_SchoolName" data-table="CrewFormalEducationForAdminViewMode" data-field="x_SchoolName" value="@Html.Raw(crewFormalEducationForAdminViewModeSearch.SchoolName.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(crewFormalEducationForAdminViewModeSearch.SchoolName.PlaceHolder))" data-format-pattern="@(crewFormalEducationForAdminViewModeSearch.SchoolName.FormatPattern)"@Html.Raw(crewFormalEducationForAdminViewModeSearch.SchoolName.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(crewFormalEducationForAdminViewModeSearch.SchoolName.GetErrorMessage(false))</div>
</span>
                </div>
            </div>
        </div>
    </div>
} @* crewFormalEducationForAdminViewModeSearch.SchoolName.Visible (end) *@
@if (crewFormalEducationForAdminViewModeSearch.City.Visible) { // crewFormalEducationForAdminViewModeSearch.City.Visible (begin)
    <div id="r_City" class="row" @Html.Raw(crewFormalEducationForAdminViewModeSearch.City.RowAttributes)>
        <label for="x_City" class="@(crewFormalEducationForAdminViewModeSearch.LeftColumnClass)"><span id="elh_CrewFormalEducationForAdminViewMode_City">@Html.Raw(crewFormalEducationForAdminViewModeSearch.City.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("LIKE"))
<input type="hidden" name="z_City" id="z_City" value="LIKE">
</span>
        </label>
        <div class="@(crewFormalEducationForAdminViewModeSearch.RightColumnClass)">
            <div @Html.Raw(crewFormalEducationForAdminViewModeSearch.City.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_CrewFormalEducationForAdminViewMode_City" class="ew-search-field ew-search-field-single">
<input type="@(crewFormalEducationForAdminViewModeSearch.City.InputTextType)" name="x_City" id="x_City" data-table="CrewFormalEducationForAdminViewMode" data-field="x_City" value="@Html.Raw(crewFormalEducationForAdminViewModeSearch.City.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(crewFormalEducationForAdminViewModeSearch.City.PlaceHolder))" data-format-pattern="@(crewFormalEducationForAdminViewModeSearch.City.FormatPattern)"@Html.Raw(crewFormalEducationForAdminViewModeSearch.City.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(crewFormalEducationForAdminViewModeSearch.City.GetErrorMessage(false))</div>
</span>
                </div>
            </div>
        </div>
    </div>
} @* crewFormalEducationForAdminViewModeSearch.City.Visible (end) *@
@if (crewFormalEducationForAdminViewModeSearch.Attachment.Visible) { // crewFormalEducationForAdminViewModeSearch.Attachment.Visible (begin)
    <div id="r_Attachment" class="row" @Html.Raw(crewFormalEducationForAdminViewModeSearch.Attachment.RowAttributes)>
        <label class="@(crewFormalEducationForAdminViewModeSearch.LeftColumnClass)"><span id="elh_CrewFormalEducationForAdminViewMode_Attachment">@Html.Raw(crewFormalEducationForAdminViewModeSearch.Attachment.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("LIKE"))
<input type="hidden" name="z_Attachment" id="z_Attachment" value="LIKE">
</span>
        </label>
        <div class="@(crewFormalEducationForAdminViewModeSearch.RightColumnClass)">
            <div @Html.Raw(crewFormalEducationForAdminViewModeSearch.Attachment.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_CrewFormalEducationForAdminViewMode_Attachment" class="ew-search-field ew-search-field-single">
<input type="@(crewFormalEducationForAdminViewModeSearch.Attachment.InputTextType)" name="x_Attachment" id="x_Attachment" data-table="CrewFormalEducationForAdminViewMode" data-field="x_Attachment" value="@Html.Raw(crewFormalEducationForAdminViewModeSearch.Attachment.EditValue)" size="30" maxlength="150" placeholder="@Html.Raw(HtmlEncode(crewFormalEducationForAdminViewModeSearch.Attachment.PlaceHolder))" data-format-pattern="@(crewFormalEducationForAdminViewModeSearch.Attachment.FormatPattern)"@Html.Raw(crewFormalEducationForAdminViewModeSearch.Attachment.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(crewFormalEducationForAdminViewModeSearch.Attachment.GetErrorMessage(false))</div>
</span>
                </div>
            </div>
        </div>
    </div>
} @* crewFormalEducationForAdminViewModeSearch.Attachment.Visible (end) *@
@if (crewFormalEducationForAdminViewModeSearch.StartDate.Visible) { // crewFormalEducationForAdminViewModeSearch.StartDate.Visible (begin)
    <div id="r_StartDate" class="row" @Html.Raw(crewFormalEducationForAdminViewModeSearch.StartDate.RowAttributes)>
        <label for="x_StartDate" class="@(crewFormalEducationForAdminViewModeSearch.LeftColumnClass)"><span id="elh_CrewFormalEducationForAdminViewMode_StartDate">@Html.Raw(crewFormalEducationForAdminViewModeSearch.StartDate.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("="))
<input type="hidden" name="z_StartDate" id="z_StartDate" value="=">
</span>
        </label>
        <div class="@(crewFormalEducationForAdminViewModeSearch.RightColumnClass)">
            <div @Html.Raw(crewFormalEducationForAdminViewModeSearch.StartDate.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_CrewFormalEducationForAdminViewMode_StartDate" class="ew-search-field ew-search-field-single">
<input type="@(crewFormalEducationForAdminViewModeSearch.StartDate.InputTextType)" name="x_StartDate" id="x_StartDate" data-table="CrewFormalEducationForAdminViewMode" data-field="x_StartDate" value="@Html.Raw(crewFormalEducationForAdminViewModeSearch.StartDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(crewFormalEducationForAdminViewModeSearch.StartDate.PlaceHolder))" data-format-pattern="@(crewFormalEducationForAdminViewModeSearch.StartDate.FormatPattern)"@Html.Raw(crewFormalEducationForAdminViewModeSearch.StartDate.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(crewFormalEducationForAdminViewModeSearch.StartDate.GetErrorMessage(false))</div>
</span>
                </div>
            </div>
        </div>
    </div>
} @* crewFormalEducationForAdminViewModeSearch.StartDate.Visible (end) *@
@if (crewFormalEducationForAdminViewModeSearch.EndDate.Visible) { // crewFormalEducationForAdminViewModeSearch.EndDate.Visible (begin)
    <div id="r_EndDate" class="row" @Html.Raw(crewFormalEducationForAdminViewModeSearch.EndDate.RowAttributes)>
        <label for="x_EndDate" class="@(crewFormalEducationForAdminViewModeSearch.LeftColumnClass)"><span id="elh_CrewFormalEducationForAdminViewMode_EndDate">@Html.Raw(crewFormalEducationForAdminViewModeSearch.EndDate.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("="))
<input type="hidden" name="z_EndDate" id="z_EndDate" value="=">
</span>
        </label>
        <div class="@(crewFormalEducationForAdminViewModeSearch.RightColumnClass)">
            <div @Html.Raw(crewFormalEducationForAdminViewModeSearch.EndDate.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_CrewFormalEducationForAdminViewMode_EndDate" class="ew-search-field ew-search-field-single">
<input type="@(crewFormalEducationForAdminViewModeSearch.EndDate.InputTextType)" name="x_EndDate" id="x_EndDate" data-table="CrewFormalEducationForAdminViewMode" data-field="x_EndDate" value="@Html.Raw(crewFormalEducationForAdminViewModeSearch.EndDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(crewFormalEducationForAdminViewModeSearch.EndDate.PlaceHolder))" data-format-pattern="@(crewFormalEducationForAdminViewModeSearch.EndDate.FormatPattern)"@Html.Raw(crewFormalEducationForAdminViewModeSearch.EndDate.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(crewFormalEducationForAdminViewModeSearch.EndDate.GetErrorMessage(false))</div>
</span>
                </div>
            </div>
        </div>
    </div>
} @* crewFormalEducationForAdminViewModeSearch.EndDate.Visible (end) *@
@if (crewFormalEducationForAdminViewModeSearch.MTCrewID.Visible) { // crewFormalEducationForAdminViewModeSearch.MTCrewID.Visible (begin)
    <div id="r_MTCrewID" class="row" @Html.Raw(crewFormalEducationForAdminViewModeSearch.MTCrewID.RowAttributes)>
        <label for="x_MTCrewID" class="@(crewFormalEducationForAdminViewModeSearch.LeftColumnClass)"><span id="elh_CrewFormalEducationForAdminViewMode_MTCrewID">@Html.Raw(crewFormalEducationForAdminViewModeSearch.MTCrewID.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("="))
<input type="hidden" name="z_MTCrewID" id="z_MTCrewID" value="=">
</span>
        </label>
        <div class="@(crewFormalEducationForAdminViewModeSearch.RightColumnClass)">
            <div @Html.Raw(crewFormalEducationForAdminViewModeSearch.MTCrewID.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_CrewFormalEducationForAdminViewMode_MTCrewID" class="ew-search-field ew-search-field-single">
<input type="@(crewFormalEducationForAdminViewModeSearch.MTCrewID.InputTextType)" name="x_MTCrewID" id="x_MTCrewID" data-table="CrewFormalEducationForAdminViewMode" data-field="x_MTCrewID" value="@Html.Raw(crewFormalEducationForAdminViewModeSearch.MTCrewID.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(crewFormalEducationForAdminViewModeSearch.MTCrewID.PlaceHolder))" data-format-pattern="@(crewFormalEducationForAdminViewModeSearch.MTCrewID.FormatPattern)"@Html.Raw(crewFormalEducationForAdminViewModeSearch.MTCrewID.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(crewFormalEducationForAdminViewModeSearch.MTCrewID.GetErrorMessage(false))</div>
</span>
                </div>
            </div>
        </div>
    </div>
} @* crewFormalEducationForAdminViewModeSearch.MTCrewID.Visible (end) *@
@if (crewFormalEducationForAdminViewModeSearch.CreatedByUserID.Visible) { // crewFormalEducationForAdminViewModeSearch.CreatedByUserID.Visible (begin)
    <div id="r_CreatedByUserID" class="row" @Html.Raw(crewFormalEducationForAdminViewModeSearch.CreatedByUserID.RowAttributes)>
        <label for="x_CreatedByUserID" class="@(crewFormalEducationForAdminViewModeSearch.LeftColumnClass)"><span id="elh_CrewFormalEducationForAdminViewMode_CreatedByUserID">@Html.Raw(crewFormalEducationForAdminViewModeSearch.CreatedByUserID.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("="))
<input type="hidden" name="z_CreatedByUserID" id="z_CreatedByUserID" value="=">
</span>
        </label>
        <div class="@(crewFormalEducationForAdminViewModeSearch.RightColumnClass)">
            <div @Html.Raw(crewFormalEducationForAdminViewModeSearch.CreatedByUserID.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_CrewFormalEducationForAdminViewMode_CreatedByUserID" class="ew-search-field ew-search-field-single">
<input type="@(crewFormalEducationForAdminViewModeSearch.CreatedByUserID.InputTextType)" name="x_CreatedByUserID" id="x_CreatedByUserID" data-table="CrewFormalEducationForAdminViewMode" data-field="x_CreatedByUserID" value="@Html.Raw(crewFormalEducationForAdminViewModeSearch.CreatedByUserID.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(crewFormalEducationForAdminViewModeSearch.CreatedByUserID.PlaceHolder))" data-format-pattern="@(crewFormalEducationForAdminViewModeSearch.CreatedByUserID.FormatPattern)"@Html.Raw(crewFormalEducationForAdminViewModeSearch.CreatedByUserID.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(crewFormalEducationForAdminViewModeSearch.CreatedByUserID.GetErrorMessage(false))</div>
</span>
                </div>
            </div>
        </div>
    </div>
} @* crewFormalEducationForAdminViewModeSearch.CreatedByUserID.Visible (end) *@
@if (crewFormalEducationForAdminViewModeSearch.CreatedDateTime.Visible) { // crewFormalEducationForAdminViewModeSearch.CreatedDateTime.Visible (begin)
    <div id="r_CreatedDateTime" class="row" @Html.Raw(crewFormalEducationForAdminViewModeSearch.CreatedDateTime.RowAttributes)>
        <label for="x_CreatedDateTime" class="@(crewFormalEducationForAdminViewModeSearch.LeftColumnClass)"><span id="elh_CrewFormalEducationForAdminViewMode_CreatedDateTime">@Html.Raw(crewFormalEducationForAdminViewModeSearch.CreatedDateTime.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("="))
<input type="hidden" name="z_CreatedDateTime" id="z_CreatedDateTime" value="=">
</span>
        </label>
        <div class="@(crewFormalEducationForAdminViewModeSearch.RightColumnClass)">
            <div @Html.Raw(crewFormalEducationForAdminViewModeSearch.CreatedDateTime.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_CrewFormalEducationForAdminViewMode_CreatedDateTime" class="ew-search-field ew-search-field-single">
<input type="@(crewFormalEducationForAdminViewModeSearch.CreatedDateTime.InputTextType)" name="x_CreatedDateTime" id="x_CreatedDateTime" data-table="CrewFormalEducationForAdminViewMode" data-field="x_CreatedDateTime" value="@Html.Raw(crewFormalEducationForAdminViewModeSearch.CreatedDateTime.EditValue)" placeholder="@Html.Raw(HtmlEncode(crewFormalEducationForAdminViewModeSearch.CreatedDateTime.PlaceHolder))" data-format-pattern="@(crewFormalEducationForAdminViewModeSearch.CreatedDateTime.FormatPattern)"@Html.Raw(crewFormalEducationForAdminViewModeSearch.CreatedDateTime.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(crewFormalEducationForAdminViewModeSearch.CreatedDateTime.GetErrorMessage(false))</div>
@if (!crewFormalEducationForAdminViewModeSearch.CreatedDateTime.ReadOnly && !crewFormalEducationForAdminViewModeSearch.CreatedDateTime.Disabled && !crewFormalEducationForAdminViewModeSearch.CreatedDateTime.EditAttrs.Is("readonly") && !crewFormalEducationForAdminViewModeSearch.CreatedDateTime.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fCrewFormalEducationForAdminViewModesearch", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(1))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fCrewFormalEducationForAdminViewModesearch", "x_CreatedDateTime", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
                </div>
            </div>
        </div>
    </div>
} @* crewFormalEducationForAdminViewModeSearch.CreatedDateTime.Visible (end) *@
@if (crewFormalEducationForAdminViewModeSearch.LastUpdatedByUserID.Visible) { // crewFormalEducationForAdminViewModeSearch.LastUpdatedByUserID.Visible (begin)
    <div id="r_LastUpdatedByUserID" class="row" @Html.Raw(crewFormalEducationForAdminViewModeSearch.LastUpdatedByUserID.RowAttributes)>
        <label for="x_LastUpdatedByUserID" class="@(crewFormalEducationForAdminViewModeSearch.LeftColumnClass)"><span id="elh_CrewFormalEducationForAdminViewMode_LastUpdatedByUserID">@Html.Raw(crewFormalEducationForAdminViewModeSearch.LastUpdatedByUserID.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("="))
<input type="hidden" name="z_LastUpdatedByUserID" id="z_LastUpdatedByUserID" value="=">
</span>
        </label>
        <div class="@(crewFormalEducationForAdminViewModeSearch.RightColumnClass)">
            <div @Html.Raw(crewFormalEducationForAdminViewModeSearch.LastUpdatedByUserID.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_CrewFormalEducationForAdminViewMode_LastUpdatedByUserID" class="ew-search-field ew-search-field-single">
<input type="@(crewFormalEducationForAdminViewModeSearch.LastUpdatedByUserID.InputTextType)" name="x_LastUpdatedByUserID" id="x_LastUpdatedByUserID" data-table="CrewFormalEducationForAdminViewMode" data-field="x_LastUpdatedByUserID" value="@Html.Raw(crewFormalEducationForAdminViewModeSearch.LastUpdatedByUserID.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(crewFormalEducationForAdminViewModeSearch.LastUpdatedByUserID.PlaceHolder))" data-format-pattern="@(crewFormalEducationForAdminViewModeSearch.LastUpdatedByUserID.FormatPattern)"@Html.Raw(crewFormalEducationForAdminViewModeSearch.LastUpdatedByUserID.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(crewFormalEducationForAdminViewModeSearch.LastUpdatedByUserID.GetErrorMessage(false))</div>
</span>
                </div>
            </div>
        </div>
    </div>
} @* crewFormalEducationForAdminViewModeSearch.LastUpdatedByUserID.Visible (end) *@
@if (crewFormalEducationForAdminViewModeSearch.LastUpdatedDateTime.Visible) { // crewFormalEducationForAdminViewModeSearch.LastUpdatedDateTime.Visible (begin)
    <div id="r_LastUpdatedDateTime" class="row" @Html.Raw(crewFormalEducationForAdminViewModeSearch.LastUpdatedDateTime.RowAttributes)>
        <label for="x_LastUpdatedDateTime" class="@(crewFormalEducationForAdminViewModeSearch.LeftColumnClass)"><span id="elh_CrewFormalEducationForAdminViewMode_LastUpdatedDateTime">@Html.Raw(crewFormalEducationForAdminViewModeSearch.LastUpdatedDateTime.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("="))
<input type="hidden" name="z_LastUpdatedDateTime" id="z_LastUpdatedDateTime" value="=">
</span>
        </label>
        <div class="@(crewFormalEducationForAdminViewModeSearch.RightColumnClass)">
            <div @Html.Raw(crewFormalEducationForAdminViewModeSearch.LastUpdatedDateTime.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_CrewFormalEducationForAdminViewMode_LastUpdatedDateTime" class="ew-search-field ew-search-field-single">
<input type="@(crewFormalEducationForAdminViewModeSearch.LastUpdatedDateTime.InputTextType)" name="x_LastUpdatedDateTime" id="x_LastUpdatedDateTime" data-table="CrewFormalEducationForAdminViewMode" data-field="x_LastUpdatedDateTime" value="@Html.Raw(crewFormalEducationForAdminViewModeSearch.LastUpdatedDateTime.EditValue)" placeholder="@Html.Raw(HtmlEncode(crewFormalEducationForAdminViewModeSearch.LastUpdatedDateTime.PlaceHolder))" data-format-pattern="@(crewFormalEducationForAdminViewModeSearch.LastUpdatedDateTime.FormatPattern)"@Html.Raw(crewFormalEducationForAdminViewModeSearch.LastUpdatedDateTime.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(crewFormalEducationForAdminViewModeSearch.LastUpdatedDateTime.GetErrorMessage(false))</div>
@if (!crewFormalEducationForAdminViewModeSearch.LastUpdatedDateTime.ReadOnly && !crewFormalEducationForAdminViewModeSearch.LastUpdatedDateTime.Disabled && !crewFormalEducationForAdminViewModeSearch.LastUpdatedDateTime.EditAttrs.Is("readonly") && !crewFormalEducationForAdminViewModeSearch.LastUpdatedDateTime.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fCrewFormalEducationForAdminViewModesearch", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(1))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fCrewFormalEducationForAdminViewModesearch", "x_LastUpdatedDateTime", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
                </div>
            </div>
        </div>
    </div>
} @* crewFormalEducationForAdminViewModeSearch.LastUpdatedDateTime.Visible (end) *@
</div><!-- /page* -->
@Html.Raw(crewFormalEducationForAdminViewModeSearch.IsModal ? Html.Raw("<template class=\"ew-modal-buttons\">") : Html.Raw("<div class=\"row ew-buttons\">"))<!-- buttons .row -->
    <div class="@(crewFormalEducationForAdminViewModeSearch.OffsetColumnClass)"><!-- buttons offset -->
        <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fCrewFormalEducationForAdminViewModesearch">@Html.Raw(Language.Phrase("Search"))</button>
@if (crewFormalEducationForAdminViewModeSearch.IsModal) {
        <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fCrewFormalEducationForAdminViewModesearch">@Html.Raw(Language.Phrase("Cancel"))</button>
} else {
        <button class="btn btn-default ew-btn" name="btn-reset" id="btn-reset" type="button" form="fCrewFormalEducationForAdminViewModesearch" data-ew-action="reload">@Html.Raw(Language.Phrase("Reset"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(crewFormalEducationForAdminViewModeSearch.IsModal ? Html.Raw("</template>") : Html.Raw("</div>"))<!-- /buttons .row -->
</form>
@crewFormalEducationForAdminViewModeSearch.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("CrewFormalEducationForAdminViewMode");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
