@{
    // View
    View = this;

    // Check action result
    if (crewMcuResultForAdminView.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!crewMcuResultForAdminView.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
@if (!crewMcuResultForAdminView.IsExport()) {
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!crewMcuResultForAdminView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @crewMcuResultForAdminView.ExportOptions.RenderBody()
    @crewMcuResultForAdminView.OtherOptions.RenderBody()
</div>
}
@crewMcuResultForAdminView.ShowPageHeader()
@crewMcuResultForAdminView.ShowMessages()
<main class="view">
<form name="fCrewMcuResultForAdminview" id="fCrewMcuResultForAdminview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (!crewMcuResultForAdminView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(crewMcuResultForAdminView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { CrewMcuResultForAdmin: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fCrewMcuResultForAdminview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fCrewMcuResultForAdminview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
}
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(crewMcuResultForAdminView.IsModal)">
<table class="@(crewMcuResultForAdminView.TableClass)">
@if (crewMcuResultForAdminView.MTCrew_ID.Visible) { // crewMcuResultForAdminView.MTCrew_ID.Visible (begin)
    <tr id="r_MTCrew_ID" @Html.Raw(crewMcuResultForAdminView.MTCrew_ID.RowAttributes)>
        <td class="@(crewMcuResultForAdminView.TableLeftColumnClass)"><span id="elh_CrewMcuResultForAdmin_MTCrew_ID"><template id="tpc_CrewMcuResultForAdmin_MTCrew_ID">@Html.Raw(crewMcuResultForAdminView.MTCrew_ID.Caption)</template></span></td>
        <td data-name="MTCrew_ID" @Html.Raw(crewMcuResultForAdminView.MTCrew_ID.CellAttributes)>
<template id="tpx_CrewMcuResultForAdmin_MTCrew_ID"><span id="el_CrewMcuResultForAdmin_MTCrew_ID">
<span @Html.Raw(crewMcuResultForAdminView.MTCrew_ID.ViewAttributes)>
@Html.Raw(crewMcuResultForAdminView.MTCrew_ID.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewMcuResultForAdminView.MTCrew_ID.Visible (end) *@
@if (crewMcuResultForAdminView.McuDate.Visible) { // crewMcuResultForAdminView.McuDate.Visible (begin)
    <tr id="r_McuDate" @Html.Raw(crewMcuResultForAdminView.McuDate.RowAttributes)>
        <td class="@(crewMcuResultForAdminView.TableLeftColumnClass)"><span id="elh_CrewMcuResultForAdmin_McuDate"><template id="tpc_CrewMcuResultForAdmin_McuDate">@Html.Raw(crewMcuResultForAdminView.McuDate.Caption)</template></span></td>
        <td data-name="McuDate" @Html.Raw(crewMcuResultForAdminView.McuDate.CellAttributes)>
<template id="tpx_CrewMcuResultForAdmin_McuDate"><span id="el_CrewMcuResultForAdmin_McuDate">
<span @Html.Raw(crewMcuResultForAdminView.McuDate.ViewAttributes)>
@Html.Raw(crewMcuResultForAdminView.McuDate.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewMcuResultForAdminView.McuDate.Visible (end) *@
@if (crewMcuResultForAdminView.McuExpirationDate.Visible) { // crewMcuResultForAdminView.McuExpirationDate.Visible (begin)
    <tr id="r_McuExpirationDate" @Html.Raw(crewMcuResultForAdminView.McuExpirationDate.RowAttributes)>
        <td class="@(crewMcuResultForAdminView.TableLeftColumnClass)"><span id="elh_CrewMcuResultForAdmin_McuExpirationDate"><template id="tpc_CrewMcuResultForAdmin_McuExpirationDate">@Html.Raw(crewMcuResultForAdminView.McuExpirationDate.Caption)</template></span></td>
        <td data-name="McuExpirationDate" @Html.Raw(crewMcuResultForAdminView.McuExpirationDate.CellAttributes)>
<template id="tpx_CrewMcuResultForAdmin_McuExpirationDate"><span id="el_CrewMcuResultForAdmin_McuExpirationDate">
<span @Html.Raw(crewMcuResultForAdminView.McuExpirationDate.ViewAttributes)>
@Html.Raw(crewMcuResultForAdminView.McuExpirationDate.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewMcuResultForAdminView.McuExpirationDate.Visible (end) *@
@if (crewMcuResultForAdminView.HealthStatus.Visible) { // crewMcuResultForAdminView.HealthStatus.Visible (begin)
    <tr id="r_HealthStatus" @Html.Raw(crewMcuResultForAdminView.HealthStatus.RowAttributes)>
        <td class="@(crewMcuResultForAdminView.TableLeftColumnClass)"><span id="elh_CrewMcuResultForAdmin_HealthStatus"><template id="tpc_CrewMcuResultForAdmin_HealthStatus">@Html.Raw(crewMcuResultForAdminView.HealthStatus.Caption)</template></span></td>
        <td data-name="HealthStatus" @Html.Raw(crewMcuResultForAdminView.HealthStatus.CellAttributes)>
<template id="tpx_CrewMcuResultForAdmin_HealthStatus"><span id="el_CrewMcuResultForAdmin_HealthStatus">
<span @Html.Raw(crewMcuResultForAdminView.HealthStatus.ViewAttributes)>
@Html.Raw(crewMcuResultForAdminView.HealthStatus.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewMcuResultForAdminView.HealthStatus.Visible (end) *@
@if (crewMcuResultForAdminView.McuLocation.Visible) { // crewMcuResultForAdminView.McuLocation.Visible (begin)
    <tr id="r_McuLocation" @Html.Raw(crewMcuResultForAdminView.McuLocation.RowAttributes)>
        <td class="@(crewMcuResultForAdminView.TableLeftColumnClass)"><span id="elh_CrewMcuResultForAdmin_McuLocation"><template id="tpc_CrewMcuResultForAdmin_McuLocation">@Html.Raw(crewMcuResultForAdminView.McuLocation.Caption)</template></span></td>
        <td data-name="McuLocation" @Html.Raw(crewMcuResultForAdminView.McuLocation.CellAttributes)>
<template id="tpx_CrewMcuResultForAdmin_McuLocation"><span id="el_CrewMcuResultForAdmin_McuLocation">
<span @Html.Raw(crewMcuResultForAdminView.McuLocation.ViewAttributes)>
@Html.Raw(crewMcuResultForAdminView.McuLocation.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewMcuResultForAdminView.McuLocation.Visible (end) *@
@if (crewMcuResultForAdminView.McuAttachment.Visible) { // crewMcuResultForAdminView.McuAttachment.Visible (begin)
    <tr id="r_McuAttachment" @Html.Raw(crewMcuResultForAdminView.McuAttachment.RowAttributes)>
        <td class="@(crewMcuResultForAdminView.TableLeftColumnClass)"><span id="elh_CrewMcuResultForAdmin_McuAttachment"><template id="tpc_CrewMcuResultForAdmin_McuAttachment">@Html.Raw(crewMcuResultForAdminView.McuAttachment.Caption)</template></span></td>
        <td data-name="McuAttachment" @Html.Raw(crewMcuResultForAdminView.McuAttachment.CellAttributes)>
<template id="tpx_CrewMcuResultForAdmin_McuAttachment"><span id="el_CrewMcuResultForAdmin_McuAttachment">
<span>
@Html.Raw(await GetFileViewTag((DbField)crewMcuResultForAdminView.McuAttachment, ConvertToString(crewMcuResultForAdminView.McuAttachment.GetViewValue()), false))
</span>
</span></template></td>
    </tr>
} @* crewMcuResultForAdminView.McuAttachment.Visible (end) *@
@if (crewMcuResultForAdminView.McuScheduleDate.Visible) { // crewMcuResultForAdminView.McuScheduleDate.Visible (begin)
    <tr id="r_McuScheduleDate" @Html.Raw(crewMcuResultForAdminView.McuScheduleDate.RowAttributes)>
        <td class="@(crewMcuResultForAdminView.TableLeftColumnClass)"><span id="elh_CrewMcuResultForAdmin_McuScheduleDate"><template id="tpc_CrewMcuResultForAdmin_McuScheduleDate">@Html.Raw(crewMcuResultForAdminView.McuScheduleDate.Caption)</template></span></td>
        <td data-name="McuScheduleDate" @Html.Raw(crewMcuResultForAdminView.McuScheduleDate.CellAttributes)>
<template id="tpx_CrewMcuResultForAdmin_McuScheduleDate"><span id="el_CrewMcuResultForAdmin_McuScheduleDate">
<span @Html.Raw(crewMcuResultForAdminView.McuScheduleDate.ViewAttributes)>
@Html.Raw(crewMcuResultForAdminView.McuScheduleDate.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewMcuResultForAdminView.McuScheduleDate.Visible (end) *@
@if (crewMcuResultForAdminView.McuRemark.Visible) { // crewMcuResultForAdminView.McuRemark.Visible (begin)
    <tr id="r_McuRemark" @Html.Raw(crewMcuResultForAdminView.McuRemark.RowAttributes)>
        <td class="@(crewMcuResultForAdminView.TableLeftColumnClass)"><span id="elh_CrewMcuResultForAdmin_McuRemark"><template id="tpc_CrewMcuResultForAdmin_McuRemark">@Html.Raw(crewMcuResultForAdminView.McuRemark.Caption)</template></span></td>
        <td data-name="McuRemark" @Html.Raw(crewMcuResultForAdminView.McuRemark.CellAttributes)>
<template id="tpx_CrewMcuResultForAdmin_McuRemark"><span id="el_CrewMcuResultForAdmin_McuRemark">
<span @Html.Raw(crewMcuResultForAdminView.McuRemark.ViewAttributes)>
@Html.Raw(crewMcuResultForAdminView.McuRemark.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewMcuResultForAdminView.McuRemark.Visible (end) *@
</table>
<div id="tpd_CrewMcuResultForAdminview" class="ew-custom-template"></div>
<template id="tpm_CrewMcuResultForAdminview">
<div id="ct_crewMcuResultForAdminView"><!-- CUSTOM TEMPLATE START -->
<div class="main-container row">
    <!-- Crew Information -->
    <div class="card crew-personal-information-container mb-4">
        <div class="card-body">
            <h6 class="card-title fw-bold text-uppercase col-sm-12 mb-4">
                @(CurrentLanguage == "en-US" ? "Crew Candidate Information" : "Informasi Kandidat Kru")
            </h6>
            <div class="mb-2 row">
                <div class="col-sm-4">
                    <div id="r_crew_RequiredPhoto" class="mb-2 row">
                        <label class="col-form-label">
                            @(CurrentLanguage == "en-US" ? "Pass Photo 3 x 4" : "Pas Foto 3 x 4")
                        </label>
                        <div></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div id="r_crew_IndividualCodeNumber" class="mb-2 row">
                        <label class="col-form-label">
                            @(CurrentLanguage == "en-US" ? "Individual's Seafarer ID" : "ID Pelaut Individu")
                        </label>
                        <div></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div id="r_crew_FullName" class="mb-2 row">
                        <label class="col-form-label">
                            @(CurrentLanguage == "en-US" ? "Full Name (Same As ID Card)" : "Nama Lengkap (Sesuai KTP)")
                        </label>
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="mb-2 row">
                <div class="col-sm-4">
                    <div id="r_crew_VisaPhoto" class="mb-2 row">
                        <label class="col-form-label">
                            @(CurrentLanguage == "en-US" ? "Visa Photo" : "Foto Visa")
                        </label>
                        <div></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div id="r_crew_RankAppliedFor" class="mb-2 row">
                        <label class="col-form-label">
                            @(CurrentLanguage == "en-US" ? "Rank Applied For" : "Rank Yang Akan Dipilih")
                        </label>
                        <div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div id="r_crew_WillAcceptLowRank" class="mb-2 row">
                        <label class="col-form-label">
                            @(CurrentLanguage == "en-US" ? "Willing To Accept Lower Rank" : "Bersedia Menerima Rank Lebih Rendah")
                        </label>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-2 row">
                <div class="col-sm-4">
                    <div id="r_crew_AvailableFrom" class="mb-2 row">
                        <label class="col-form-label">
                            @(CurrentLanguage == "en-US" ? "Available From" : "Bersedia Bekerja Dari")
                        </label>
                        <div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div id="r_crew_AvailableUntil" class="mb-2 row">
                        <label class="col-form-label">
                            @(CurrentLanguage == "en-US" ? "Available Until" : "Bersedia Bekerja Sampai")
                        </label>
                        <div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div id="r_crew_EmployeeStatus" class="mb-2 row">
                        <label class="col-form-label">
                            @(CurrentLanguage == "en-US" ? "Employee Status" : "Status Karyawan")
                        </label>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Crew MCU Information -->
    <div class="card crew-mcu-information-container mb-4">
        <div class="card-body">
            <h6 class="card-title fw-bold text-uppercase col-sm-12 mb-4">
                @(CurrentLanguage == "en-US" ? "Crew Candidate Medical Checkup Information" : "Informasi Pemeriksaan Medis Calon Kru" )
            </h6>
            <div class="row crew-mcu-information-content mb-2">
                <div class="col-sm-4">
                    <div id="r_crew_McuScheduleDateTime" class="mb-2 row">
                        <label class="col-form-label">
                            @(CurrentLanguage == "en-US" ? "Medical Checkup Schedule" : "Jadual Pemeriksaan Medis")
                        </label>
                        <div>
                            <slot class="ew-slot" name="tpx_CrewMcuResultForAdmin_McuScheduleDate"></slot>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div id="r_crew_McuDate" class="mb-2 row">
                        <label class="col-form-label">
                            <!-- @Html.Raw(crewMcuResultForAdminView.McuDate.Caption) -->
                            @(CurrentLanguage == "en-US" ? "Medical Checkup Date" : "Tanggal Pemeriksaan Medis")
                        </label>
                        <div>
                            <slot class="ew-slot" name="tpx_CrewMcuResultForAdmin_McuDate"></slot>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div id="r_crew_McuExpirationDate" class="mb-2 row">
                        <label class="col-form-label">
                            <!-- @Html.Raw(crewMcuResultForAdminView.McuExpirationDate.Caption) -->
                            @(CurrentLanguage == "en-US" ? "Medical Checkup Expiration" : "Tanggal Kadaluarsa Pemeriksaan Medis")
                        </label>
                        <div>
                            <slot class="ew-slot" name="tpx_CrewMcuResultForAdmin_McuExpirationDate"></slot>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row crew-mcu-information-content mb-2">
                <div class="col-sm-4">
                    <div id="r_crew_McuLocation" class="mb-2 row">
                        <label class="col-form-label">
                            <!-- @Html.Raw(crewMcuResultForAdminView.McuDate.Caption) -->
                            @(CurrentLanguage == "en-US" ? "Medical Checkup Location" : "Lokasi Pemeriksaan Medis")
                        </label>
                        <div>
                            <slot class="ew-slot" name="tpx_CrewMcuResultForAdmin_McuLocation"></slot>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div id="r_crew_HealthStatus" class="mb-2 row">
                        <label class="col-form-label">
                            <!-- @Html.Raw(crewMcuResultForAdminView.McuDate.Caption) -->
                            @(CurrentLanguage == "en-US" ? "Health Status" : "Status Kesehatan")
                        </label>
                        <div>
                            <slot class="ew-slot" name="tpx_CrewMcuResultForAdmin_HealthStatus"></slot>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div id="r_crew_McuRemark" class="mb-2 row">
                        <label class="col-form-label">
                            @(CurrentLanguage == "en-US" ? "Medical Checkup Remark" : "Catatan Pemeriksaan Medis")
                        </label>
                        <div>
                            <slot class="ew-slot" name="tpx_CrewMcuResultForAdmin_McuRemark"></slot>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row crew-mcu-information-content mb-2">
                <div class="col-sm-4">
                    <div id="r_crew_McuAttachment" class="mb-2 row">
                        <label class="col-form-label">
                            <!-- @Html.Raw(crewMcuResultForAdminView.McuExpirationDate.Caption) -->
                            @(CurrentLanguage == "en-US" ? "Attachment" : "Lampiran")
                        </label>
                        <div>
                            <slot class="ew-slot" name="tpx_CrewMcuResultForAdmin_McuAttachment"></slot>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Dialog -->
<div id="accept-modal-dialog" class="modal" aria-hidden="true" data-bs-backdrop="static" tabindex="-1" aria-labelledby="ew-modal-dialog-title" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="ew-modal-dialog-title" class="modal-title">
                    @(CurrentLanguage == "en-US" ? "Accept Crew Candidate" : "Terima Kandidat Kru")
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @(CurrentLanguage == "en-US" ? "Do you want to accept the crew candidate as an employee at PT Pertamina International Shipping?" : "Apakah Anda ingin menerima kandidat kru sebagai pegawai di PT Pertamina International Shipping?")
            </div>
            <div class="modal-footer">
                <button class="btn btn-success ew-btn" id="btn-accept" type="button">
                    @(CurrentLanguage == "en-US" ? "Accept" : "Terima")
                </button>
                <button class="btn btn-default ew-btn" id="btn-cancel" type="button" data-bs-dismiss="modal">
                    @(CurrentLanguage == "en-US" ? "Cancel" : "Batal")
                </button>
            </div>
        </div>
    </div>
</div>
<div id="reject-modal-dialog" class="modal" aria-hidden="true" data-bs-backdrop="static" tabindex="-1" aria-labelledby="ew-modal-dialog-title" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="ew-modal-dialog-title" class="modal-title">
                    @(CurrentLanguage == "en-US" ? "Reject Crew Candidate" : "Tolak Kandidat Kru")
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="reject-form" class="ew-form ew-add-form" autocomplete="off">
                    <div id="r_RejectedReason" class="row">
                        <label for="x_RejectedReason" class="col-sm-4 col-form-label ew-label">
                            @(CurrentLanguage == "en-US" ? "Reject Reason" : "Alasan Ditolak")
                        </label>
                        <div class="col-sm-8">
                            <div>
                                <span id="el_RejectedReason">
                                    <textarea
                                        name="x_RejectedReason"
                                        id="x_RejectedReason"
                                        cols="50"
                                        rows="4"
                                        maxlength="255"
                                        placeholder="Reject Reason"
                                        class="form-control"
                                    ></textarea>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger ew-btn" id="btn-reject" type="button">
                    @(CurrentLanguage == "en-US" ? "Reject" : "Tolak")
                </button>
                <button class="btn btn-default ew-btn" id="btn-cancel" type="button" data-bs-dismiss="modal">
                    @(CurrentLanguage == "en-US" ? "Cancel" : "Batal")
                </button>
            </div>
        </div>
    </div>
</div>
<!-- CUSTOM TEMPLATE END --></div>
</template>
@{ crewMcuResultForAdminView.CloseRecordset(); }
</form>
<script class="ew-apply-template">
loadjs.ready(ew.applyTemplateId, function() {
    var $ = jQuery;
    ew.templateData = { rows: @Html.Raw(ConvertToJson(crewMcuResultForAdminView.Rows)) };
    ew.applyTemplate("tpd_CrewMcuResultForAdminview", "tpm_CrewMcuResultForAdminview", "CrewMcuResultForAdminview", "@(crewMcuResultForAdminView.Export)", "CrewMcuResultForAdmin", ew.templateData.rows[0], @(crewMcuResultForAdminView.IsModal ? "true" : "false"));
    loadjs.done("customtemplate");
});
</script>
</main>
@crewMcuResultForAdminView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!crewMcuResultForAdminView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Startup script
    // Write your table-specific startup script here
    // document.write("page loaded");

    // Custom Script START //
    const currentUrlObject = new URL(window.location.href);
    const currentMcuResultID = parseInt(currentUrlObject.pathname.split('/').pop());
    const selectedLanguage = ew.vars['languages']['languages'].filter(obj => obj.selected === true)[0];
    $('div.btn-toolbar.ew-toolbar').remove();
    $('.breadcrumb li.breadcrumb-item a:not(.ew-home)').attr('href', `${ew.PATH_BASE}McuResultList`);
    const parentUrl = ew.PATH_BASE;
    const crewInfoApi = 'get-crew-info-for-mcu-result';
    $.ajax({
        url: `${parentUrl}api/Registration/${crewInfoApi}`,
        method: 'GET',
        data: {
            mcuResultID: currentMcuResultID
        },
        success: function(response) {
            if(response.success)
            {
                // Parse data into response
                const crewData = response.data;
                if(crewData.FullName !== '') {
                    $('div#r_crew_FullName div').append($('<span>').text(crewData.FullName));
                }
                else {
                    $('div#r_crew_FullName div').append($('<span>').html('&nbsp;'));
                }
                if (crewData.EmployeeStatus !== '') {
                    $('div#r_crew_EmployeeStatus div').append($('<span>').text(crewData.EmployeeStatus));
                } else {
                    $('div#r_crew_EmployeeStatus div').append($('<span>').html('&nbsp;'));
                }
                if (crewData.IndividualCodeNumber !== '') {
                    $('div#r_crew_IndividualCodeNumber div').append($('<span>').text(crewData.IndividualCodeNumber));
                    if (crewData.RequiredPhoto !== '') {
                        const anchor = $("<a></a>", {
                            title: (selectedLanguage.id === 'en-US') ? "Click to view image" : "Klik untuk melihat gambar",
                            class: "ew-lightbox cboxElement",
                            target: "_blank",
                            href: `${parentUrl}uploads/${crewData.IndividualCodeNumber}/${crewData.RequiredPhoto}`,
                        });
                        const img = $("<img>", {
                            class: "ew-image ew-lazy",
                            loading: "lazy",
                            style: "width: 120px",
                            src: `${parentUrl}uploads/${crewData.IndividualCodeNumber}/${crewData.RequiredPhoto}`,
                        });
                        const span = $('<span>');
                        anchor.append(img);
                        span.append(anchor);
                        $('div#r_crew_RequiredPhoto div').append(span);
                    } else {
                        $('div#r_crew_RequiredPhoto div').append($('<span>').html('&nbsp;'));
                    }
                    if (crewData.VisaPhoto !== '') {
                        const anchor = $("<a></a>", {
                            title: (selectedLanguage.id === 'en-US') ? "Click to view image" : "Klik untuk melihat gambar",
                            class: "ew-lightbox cboxElement",
                            target: "_blank",
                            href: `${parentUrl}uploads/${crewData.IndividualCodeNumber}/${crewData.VisaPhoto}`,
                        });
                        const img = $("<img>", {
                            class: "ew-image ew-lazy",
                            loading: "lazy",
                            style: "width: 120px",
                            src: `${parentUrl}uploads/${crewData.IndividualCodeNumber}/${crewData.VisaPhoto}`,
                        });
                        const span = $('<span>');
                        anchor.append(img);
                        span.append(anchor);
                        $('div#r_crew_VisaPhoto div').append(span);
                    } else {
                        $('div#r_crew_VisaPhoto div').append($('<span>').html('&nbsp;'));
                    }
                } else {
                    $('div#r_crew_IndividualCodeNumber div').append($('<span>').html('&nbsp;'));
                }
                if (crewData.RankAppliedFor !== '') {
                    $('div#r_crew_RankAppliedFor div').append($('<span>').text(crewData.RankAppliedFor));
                } else {
                    $('div#r_crew_RankAppliedFor div').append($('<span>').html('&nbsp;'));
                }
                if (crewData.WillAcceptLowRank !== '') {
                    $('div#r_crew_WillAcceptLowRank div').append($('<span>').text(crewData.WillAcceptLowRank));
                } else {
                    $('div#r_crew_WillAcceptLowRank div').append($('<span>').html('&nbsp;'));
                }
                if (crewData.AvailableFrom !== '') {
                    $('div#r_crew_AvailableFrom div').append($('<span>').text(crewData.AvailableFrom));
                } else {
                    $('div#r_crew_AvailableFrom div').append($('<span>').html('&nbsp;'));
                }
                if (crewData.AvailableUntil !== '') {
                    $('div#r_crew_AvailableUntil div').append($('<span>').text(crewData.AvailableUntil));
                } else {
                    $('div#r_crew_AvailableUntil div').append($('<span>').html('&nbsp;'));
                }
                if (crewData.McuScheduleDateTime !== '') {
                    $('div#r_crew_McuScheduleDateTime div').append($('<span>').text(crewData.McuScheduleDateTime));
                } else {
                    $('div#r_crew_McuScheduleDateTime div').append($('<span>').html('&nbsp;'));
                }
                if (crewData.RankAppliedFor !== '' && crewData.EmployeeStatus !== '' && crewData.ID !== '' && crewData.EmployeeStatus === 'Candidate - MCU') {
                    // Button Initialization
                    const editButton = $("<a></a>", {
                        text: (selectedLanguage.id === 'en-US') ? "Edit" : "Ubah",
                        class: "btn btn-default ew-btn primary-black-clr gray-bg me-3",
                        id: "btn-edit",
                        name: "btn-edit",
                        href: `${parentUrl}CrewMcuResultForAdminEdit/${currentMcuResultID}`,
                    });
                    const backButton = $("<a></a>", {
                        text: (selectedLanguage.id === 'en-US') ? "Back" : "Kembali",
                        class: "btn btn-default ew-btn primary-black-clr gray-bg me-3",
                        id: "btn-back",
                        name: "btn-back",
                        href: `${parentUrl}McuResultList`,
                    });
                    const invokeFinalAcceptModalButton = $('<button/>', {
                        class: 'btn btn-default ew-btn primary-green-bg primary-white-clr me-3',
                        name: 'btn-invoke-final-accept-modal',
                        id: 'btn-invoke-final-accept-modal',
                        type: 'button',
                        text: (selectedLanguage.id === 'en-US') ? 'Accept' : 'Terima'
                    });
                    const invokeRejectModalButton = $('<button/>', {
                        class: 'btn btn-danger ew-btn primary-white-clr me-3',
                        name: 'btn-invoke-reject-modal',
                        id: 'btn-invoke-reject-modal',
                        type: 'button',
                        text: (selectedLanguage.id === 'en-US') ? 'Reject' : 'Tolak'
                    });
                    const card = $('<div/>', {
                        class: 'card border rounded',
                    });
                    const cardBody = $('<div/>', {
                        class: 'card-body p-4',
                    });
                    const buttonRow = $('<div class="row mb-0"></div>'); // Create a row for the buttons
                    const buttonCol = $('<div class="col-md-auto"></div>'); // Set the column width to auto
                    buttonCol.append(editButton);
                    buttonCol.append(backButton);
                    buttonRow.append(buttonCol);
                    buttonRow.append('<div class="d-md-none"></div>'); // Add a full-width empty div for responsiveness
                    buttonRow.append('<div class="col-md col-sm col-lg mb-3"></div>'); // Add a column for spacing
                    const invokeButtonCol = $('<div class="col-md-auto col-sm-auto"></div>'); // Set the column width to auto
                    invokeButtonCol.append(invokeFinalAcceptModalButton);
                    invokeButtonCol.append(invokeRejectModalButton);
                    buttonRow.append(invokeButtonCol);
                    cardBody.append(buttonRow);
                    card.append(cardBody);
                    $('form#fCrewMcuResultForAdminview').append(card);
                }
                else if (crewData.RankAppliedFor !== '' && crewData.EmployeeStatus !== '' && crewData.ID !== '' && crewData.EmployeeStatus === 'Candidate - Accepted') {
                    // Button Initialization
                    const backButton = $("<a></a>", {
                        text: (selectedLanguage.id === 'en-US') ? "Back" : "Kembali",
                        class: "btn btn-default ew-btn primary-black-clr gray-bg me-3",
                        id: "btn-back",
                        name: "btn-back",
                        href: `${parentUrl}VCrewAcceptedForAdminList`,
                    });
                    const card = $('<div/>', {
                        class: 'card border rounded',
                    });
                    const cardBody = $('<div/>', {
                        class: 'card-body p-4',
                    });
                    const buttonRow = $('<div class="row mb-0"></div>'); // Create a row for the buttons
                    const buttonCol = $('<div class="col-md-auto"></div>'); // Set the column width to auto
                    buttonCol.append(backButton);
                    buttonRow.append(buttonCol);
                    buttonRow.append('<div class="d-md-none"></div>'); // Add a full-width empty div for responsiveness
                    buttonRow.append('<div class="col-md col-sm col-lg mb-3"></div>'); // Add a column for spacing
                    const invokeButtonCol = $('<div class="col-md-auto col-sm-auto"></div>'); // Set the column width to auto
                    buttonRow.append(invokeButtonCol);
                    cardBody.append(buttonRow);
                    card.append(cardBody);
                    $('form#fCrewMcuResultForAdminview').append(card);
                }
                else if (crewData.RankAppliedFor !== '' && crewData.EmployeeStatus !== '' && crewData.ID !== '' && crewData.EmployeeStatus === 'Candidate - Rejected') {
                    // Button Initialization
                    const backButton = $("<a></a>", {
                        text: (selectedLanguage.id === 'en-US') ? "Back" : "Kembali",
                        class: "btn btn-default ew-btn primary-black-clr gray-bg me-3",
                        id: "btn-back",
                        name: "btn-back",
                        href: `${parentUrl}VCrewRejectedForAdminList`,
                    });
                    const card = $('<div/>', {
                        class: 'card border rounded',
                    });
                    const cardBody = $('<div/>', {
                        class: 'card-body p-4',
                    });
                    const buttonRow = $('<div class="row mb-0"></div>'); // Create a row for the buttons
                    const buttonCol = $('<div class="col-md-auto"></div>'); // Set the column width to auto
                    buttonCol.append(backButton);
                    buttonRow.append(buttonCol);
                    buttonRow.append('<div class="d-md-none"></div>'); // Add a full-width empty div for responsiveness
                    buttonRow.append('<div class="col-md col-sm col-lg mb-3"></div>'); // Add a column for spacing
                    const invokeButtonCol = $('<div class="col-md-auto col-sm-auto"></div>'); // Set the column width to auto
                    buttonRow.append(invokeButtonCol);
                    cardBody.append(buttonRow);
                    card.append(cardBody);
                    $('form#fCrewMcuResultForAdminview').append(card);
                }
                else if (crewData.RankAppliedFor !== '' && crewData.EmployeeStatus !== '' && crewData.ID !== '' && crewData.EmployeeStatus === 'Candidate - Temporary Rejected') {
                    // Button Initialization
                    const backButton = $("<a></a>", {
                        text: (selectedLanguage.id === 'en-US') ? "Back" : "Kembali",
                        class: "btn btn-default ew-btn primary-black-clr gray-bg me-3",
                        id: "btn-back",
                        name: "btn-back",
                        href: `${parentUrl}VCrewTemporaryRejectedForAdminList`,
                    });
                    const card = $('<div/>', {
                        class: 'card border rounded',
                    });
                    const cardBody = $('<div/>', {
                        class: 'card-body p-4',
                    });
                    const buttonRow = $('<div class="row mb-0"></div>'); // Create a row for the buttons
                    const buttonCol = $('<div class="col-md-auto"></div>'); // Set the column width to auto
                    buttonCol.append(backButton);
                    buttonRow.append(buttonCol);
                    buttonRow.append('<div class="d-md-none"></div>'); // Add a full-width empty div for responsiveness
                    buttonRow.append('<div class="col-md col-sm col-lg mb-3"></div>'); // Add a column for spacing
                    const invokeButtonCol = $('<div class="col-md-auto col-sm-auto"></div>'); // Set the column width to auto
                    buttonRow.append(invokeButtonCol);
                    cardBody.append(buttonRow);
                    card.append(cardBody);
                    $('form#fCrewMcuResultForAdminview').append(card);
                }
                // Button Click Event
                $('#btn-invoke-final-accept-modal').click(function () {
                    $('#accept-modal-dialog').modal('show');
                });
                $('#btn-invoke-reject-modal').click(function () {
                    $('#reject-modal-dialog').modal('show');
                });

                // TODO:
                const acceptFinalCrewApiUrl = "accept-single-crew-final";
                $("#btn-accept").click(function() {
                    const currentDate = new Date();
                    const finalAcceptDateTimeValue = currentDate.toISOString().replace("T", " ").replace("Z", " +00:00");
                    const acceptSingleFinalRequest = {
                        finalAcceptDateTime: finalAcceptDateTimeValue,
                        crewIDArray: parseInt(crewData.ID),
                    };
                    $.ajax({
                        url: `${parentUrl}api/Registration/${acceptFinalCrewApiUrl}`,
                        method: "POST",
                        data: JSON.stringify(acceptSingleFinalRequest),
                        contentType: "application/json",
                        success: function(response) {
                            if(response.success) {
                                $('#accept-modal-dialog').modal('hide');
                                let successMessage = '';
                                if(selectedLanguage.id === 'en-US') {
                                    successMessage = `Success: Crew accepted at ${finalAcceptDateTimeValue}!`;
                                } else {
                                    successMessage = `Berhasil: Kru diterima pada ${finalAcceptDateTimeValue}!`;
                                }
                                const baseUrl = new URL(window.location.href).origin;
                                const targetUrl = new URL(`${baseUrl}${ew.PATH_BASE}McuResultList`);
                                const encodedSuccessMessage = encodeURIComponent(successMessage);
                                const params = new URLSearchParams(targetUrl.search);
                                params.set('successMessage', encodedSuccessMessage);
                                targetUrl.search = params.toString();
                                window.location.href = targetUrl.href;
                            } else {
                                $('#accept-modal-dialog').modal('hide');
                                const errorMessage = response.errorMessage;
                                ew.showToast(errorMessage);
                            }
                        },
                        error: function(xhr, textStatus, errorThrown) {
                            $('#accept-modal-dialog').modal('hide');
                            ew.showToast(errorThrown);
                        }
                    });
                });
                const rejectSingleCrewApiUrl = "reject-single-crew";
                const rejectCrewFinalApiUrl = "reject-final-crew";
                $("#btn-reject").click(function() {
                    const rejectedReasonValue = $('#x_RejectedReason').val();
                    const healthStatusValue = $('#el_CrewMcuResultForAdmin_HealthStatus').val();
                    const rejectedReasonCaption = $(`label[for="x_RejectedReason"]`).text();
                    if (rejectedReasonValue == '') {
                        if (selectedLanguage.id === 'en-US') {
                            ew.showToast(`Please enter required field - ${rejectedReasonCaption}`);
                        } else {
                            ew.showToast(`Masukkan input yang dibutuhkan - ${rejectedReasonCaption}`);
                        }
                    } else {
                        const rejectFinalRequest = {
                            rejectReason: rejectedReasonValue,
                            healthStatus: healthStatusValue,
                            crewID: parseInt(crewData.ID),
                        };
                        $.ajax({
                            method: "POST",
                                    url: `${parentUrl}api/Registration/${rejectCrewFinalApiUrl}`,
                            data: JSON.stringify(rejectFinalRequest),
                            contentType: "application/json",
                            success: function(response) {
                                if (response.success) {
                                    $('#reject-modal-dialog').modal('hide');
                                    let successMessage = '';
                                    if (selectedLanguage.id === 'en-US') {
                                        successMessage = `Add ${rejectedReasonCaption} Successful`;
                                    } else {
                                        successMessage = `Menambahkan ${rejectedReasonCaption} Berhasil`;
                                    }
                                    const baseUrl = new URL(window.location.href).origin;
                                    const targetUrl = new URL(`${baseUrl}${ew.PATH_BASE}McuResultList`);
                                    const encodedSuccessMessage = encodeURIComponent(successMessage);
                                    const params = new URLSearchParams(targetUrl.search);
                                    params.set('successMessage', encodedSuccessMessage);
                                    targetUrl.search = params.toString();
                                    window.location.href = targetUrl.href;
                                } else {
                                    $('#reject-modal-dialog').modal('hide');
                                    const errorMessage = response.errorMessage;
                                    ew.showToast(errorMessage);
                                }
                            },
                            error: function(xhr, textStatus, errorThrown) {
                                $('#reject-modal-dialog').modal('hide');
                                ew.showToast(errorThrown);
                            }
                        });
                    }
                });
            }
        },
        error: function(xhr, textStatus, errorThrown) {
            // Handle error
            ew.showToast(errorThrown);
        }
    });
});
</script>
}
