@{
    // View
    View = this;

    // Check action result
    if (crewFamilyForAdminViewModeDelete.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!crewFamilyForAdminViewModeDelete.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(crewFamilyForAdminViewModeDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { CrewFamilyForAdminViewMode: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fCrewFamilyForAdminViewModedelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fCrewFamilyForAdminViewModedelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@crewFamilyForAdminViewModeDelete.ShowPageHeader()
@crewFamilyForAdminViewModeDelete.ShowMessages()
<form name="fCrewFamilyForAdminViewModedelete" id="fCrewFamilyForAdminViewModedelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in crewFamilyForAdminViewModeDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(crewFamilyForAdminViewModeDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(crewFamilyForAdminViewModeDelete.TableContainerClass)" style="@(crewFamilyForAdminViewModeDelete.TableContainerStyle)">
<table class="@(crewFamilyForAdminViewModeDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (crewFamilyForAdminViewModeDelete.MTCrewID.Visible) { // crewFamilyForAdminViewModeDelete.MTCrewID.Visible (begin)
        <th class="@Html.Raw(crewFamilyForAdminViewModeDelete.MTCrewID.HeaderCellClass)"><span id="elh_CrewFamilyForAdminViewMode_MTCrewID" class="CrewFamilyForAdminViewMode_MTCrewID">@Html.Raw(crewFamilyForAdminViewModeDelete.MTCrewID.Caption)</span></th>
} @* crewFamilyForAdminViewModeDelete.MTCrewID.Visible (end) *@
@if (crewFamilyForAdminViewModeDelete.Relationship.Visible) { // crewFamilyForAdminViewModeDelete.Relationship.Visible (begin)
        <th class="@Html.Raw(crewFamilyForAdminViewModeDelete.Relationship.HeaderCellClass)"><span id="elh_CrewFamilyForAdminViewMode_Relationship" class="CrewFamilyForAdminViewMode_Relationship">@Html.Raw(crewFamilyForAdminViewModeDelete.Relationship.Caption)</span></th>
} @* crewFamilyForAdminViewModeDelete.Relationship.Visible (end) *@
@if (crewFamilyForAdminViewModeDelete.FullName.Visible) { // crewFamilyForAdminViewModeDelete.FullName.Visible (begin)
        <th class="@Html.Raw(crewFamilyForAdminViewModeDelete.FullName.HeaderCellClass)"><span id="elh_CrewFamilyForAdminViewMode_FullName" class="CrewFamilyForAdminViewMode_FullName">@Html.Raw(crewFamilyForAdminViewModeDelete.FullName.Caption)</span></th>
} @* crewFamilyForAdminViewModeDelete.FullName.Visible (end) *@
@if (crewFamilyForAdminViewModeDelete.Gender.Visible) { // crewFamilyForAdminViewModeDelete.Gender.Visible (begin)
        <th class="@Html.Raw(crewFamilyForAdminViewModeDelete.Gender.HeaderCellClass)"><span id="elh_CrewFamilyForAdminViewMode_Gender" class="CrewFamilyForAdminViewMode_Gender">@Html.Raw(crewFamilyForAdminViewModeDelete.Gender.Caption)</span></th>
} @* crewFamilyForAdminViewModeDelete.Gender.Visible (end) *@
@if (crewFamilyForAdminViewModeDelete.DateOfBirth.Visible) { // crewFamilyForAdminViewModeDelete.DateOfBirth.Visible (begin)
        <th class="@Html.Raw(crewFamilyForAdminViewModeDelete.DateOfBirth.HeaderCellClass)"><span id="elh_CrewFamilyForAdminViewMode_DateOfBirth" class="CrewFamilyForAdminViewMode_DateOfBirth">@Html.Raw(crewFamilyForAdminViewModeDelete.DateOfBirth.Caption)</span></th>
} @* crewFamilyForAdminViewModeDelete.DateOfBirth.Visible (end) *@
@if (crewFamilyForAdminViewModeDelete.MobileNumberCode_CountryID.Visible) { // crewFamilyForAdminViewModeDelete.MobileNumberCode_CountryID.Visible (begin)
        <th class="@Html.Raw(crewFamilyForAdminViewModeDelete.MobileNumberCode_CountryID.HeaderCellClass)"><span id="elh_CrewFamilyForAdminViewMode_MobileNumberCode_CountryID" class="CrewFamilyForAdminViewMode_MobileNumberCode_CountryID">@Html.Raw(crewFamilyForAdminViewModeDelete.MobileNumberCode_CountryID.Caption)</span></th>
} @* crewFamilyForAdminViewModeDelete.MobileNumberCode_CountryID.Visible (end) *@
@if (crewFamilyForAdminViewModeDelete.MobileNumber.Visible) { // crewFamilyForAdminViewModeDelete.MobileNumber.Visible (begin)
        <th class="@Html.Raw(crewFamilyForAdminViewModeDelete.MobileNumber.HeaderCellClass)"><span id="elh_CrewFamilyForAdminViewMode_MobileNumber" class="CrewFamilyForAdminViewMode_MobileNumber">@Html.Raw(crewFamilyForAdminViewModeDelete.MobileNumber.Caption)</span></th>
} @* crewFamilyForAdminViewModeDelete.MobileNumber.Visible (end) *@
@if (crewFamilyForAdminViewModeDelete._Email.Visible) { // crewFamilyForAdminViewModeDelete._Email.Visible (begin)
        <th class="@Html.Raw(crewFamilyForAdminViewModeDelete._Email.HeaderCellClass)"><span id="elh_CrewFamilyForAdminViewMode__Email" class="CrewFamilyForAdminViewMode__Email">@Html.Raw(crewFamilyForAdminViewModeDelete._Email.Caption)</span></th>
} @* crewFamilyForAdminViewModeDelete._Email.Visible (end) *@
@if (crewFamilyForAdminViewModeDelete.SocialSecurityNumber.Visible) { // crewFamilyForAdminViewModeDelete.SocialSecurityNumber.Visible (begin)
        <th class="@Html.Raw(crewFamilyForAdminViewModeDelete.SocialSecurityNumber.HeaderCellClass)"><span id="elh_CrewFamilyForAdminViewMode_SocialSecurityNumber" class="CrewFamilyForAdminViewMode_SocialSecurityNumber">@Html.Raw(crewFamilyForAdminViewModeDelete.SocialSecurityNumber.Caption)</span></th>
} @* crewFamilyForAdminViewModeDelete.SocialSecurityNumber.Visible (end) *@
@if (crewFamilyForAdminViewModeDelete.FamilyRegisterNumber.Visible) { // crewFamilyForAdminViewModeDelete.FamilyRegisterNumber.Visible (begin)
        <th class="@Html.Raw(crewFamilyForAdminViewModeDelete.FamilyRegisterNumber.HeaderCellClass)"><span id="elh_CrewFamilyForAdminViewMode_FamilyRegisterNumber" class="CrewFamilyForAdminViewMode_FamilyRegisterNumber">@Html.Raw(crewFamilyForAdminViewModeDelete.FamilyRegisterNumber.Caption)</span></th>
} @* crewFamilyForAdminViewModeDelete.FamilyRegisterNumber.Visible (end) *@
@if (crewFamilyForAdminViewModeDelete.Address.Visible) { // crewFamilyForAdminViewModeDelete.Address.Visible (begin)
        <th class="@Html.Raw(crewFamilyForAdminViewModeDelete.Address.HeaderCellClass)"><span id="elh_CrewFamilyForAdminViewMode_Address" class="CrewFamilyForAdminViewMode_Address">@Html.Raw(crewFamilyForAdminViewModeDelete.Address.Caption)</span></th>
} @* crewFamilyForAdminViewModeDelete.Address.Visible (end) *@
@if (crewFamilyForAdminViewModeDelete.CreatedByUserID.Visible) { // crewFamilyForAdminViewModeDelete.CreatedByUserID.Visible (begin)
        <th class="@Html.Raw(crewFamilyForAdminViewModeDelete.CreatedByUserID.HeaderCellClass)"><span id="elh_CrewFamilyForAdminViewMode_CreatedByUserID" class="CrewFamilyForAdminViewMode_CreatedByUserID">@Html.Raw(crewFamilyForAdminViewModeDelete.CreatedByUserID.Caption)</span></th>
} @* crewFamilyForAdminViewModeDelete.CreatedByUserID.Visible (end) *@
@if (crewFamilyForAdminViewModeDelete.CreatedDateTime.Visible) { // crewFamilyForAdminViewModeDelete.CreatedDateTime.Visible (begin)
        <th class="@Html.Raw(crewFamilyForAdminViewModeDelete.CreatedDateTime.HeaderCellClass)"><span id="elh_CrewFamilyForAdminViewMode_CreatedDateTime" class="CrewFamilyForAdminViewMode_CreatedDateTime">@Html.Raw(crewFamilyForAdminViewModeDelete.CreatedDateTime.Caption)</span></th>
} @* crewFamilyForAdminViewModeDelete.CreatedDateTime.Visible (end) *@
@if (crewFamilyForAdminViewModeDelete.LastUpdatedByUserID.Visible) { // crewFamilyForAdminViewModeDelete.LastUpdatedByUserID.Visible (begin)
        <th class="@Html.Raw(crewFamilyForAdminViewModeDelete.LastUpdatedByUserID.HeaderCellClass)"><span id="elh_CrewFamilyForAdminViewMode_LastUpdatedByUserID" class="CrewFamilyForAdminViewMode_LastUpdatedByUserID">@Html.Raw(crewFamilyForAdminViewModeDelete.LastUpdatedByUserID.Caption)</span></th>
} @* crewFamilyForAdminViewModeDelete.LastUpdatedByUserID.Visible (end) *@
@if (crewFamilyForAdminViewModeDelete.LastUpdatedDateTime.Visible) { // crewFamilyForAdminViewModeDelete.LastUpdatedDateTime.Visible (begin)
        <th class="@Html.Raw(crewFamilyForAdminViewModeDelete.LastUpdatedDateTime.HeaderCellClass)"><span id="elh_CrewFamilyForAdminViewMode_LastUpdatedDateTime" class="CrewFamilyForAdminViewMode_LastUpdatedDateTime">@Html.Raw(crewFamilyForAdminViewModeDelete.LastUpdatedDateTime.Caption)</span></th>
} @* crewFamilyForAdminViewModeDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ crewFamilyForAdminViewModeDelete.RecordCount = 0; }
@while (crewFamilyForAdminViewModeDelete.Recordset != null && await crewFamilyForAdminViewModeDelete.Recordset.ReadAsync()) { // DN
    crewFamilyForAdminViewModeDelete.RecordCount++;
    crewFamilyForAdminViewModeDelete.RowCount++;

    // Set row properties
    crewFamilyForAdminViewModeDelete.ResetAttributes();
    crewFamilyForAdminViewModeDelete.RowType = RowType.View; // View

    // Get the field contents
    await crewFamilyForAdminViewModeDelete.LoadRowValues(crewFamilyForAdminViewModeDelete.Recordset);

    // Render row
    await crewFamilyForAdminViewModeDelete.RenderRow();
    <tr @Html.Raw(crewFamilyForAdminViewModeDelete.RowAttributes)>
@if (crewFamilyForAdminViewModeDelete.MTCrewID.Visible) { // crewFamilyForAdminViewModeDelete.MTCrewID.Visible (begin)
        <td @Html.Raw(crewFamilyForAdminViewModeDelete.MTCrewID.CellAttributes)>
<span id="el@(crewFamilyForAdminViewModeDelete.RowCount)_CrewFamilyForAdminViewMode_MTCrewID" class="el_CrewFamilyForAdminViewMode_MTCrewID">
<span @Html.Raw(crewFamilyForAdminViewModeDelete.MTCrewID.ViewAttributes)>
@Html.Raw(crewFamilyForAdminViewModeDelete.MTCrewID.GetViewValue())</span>
</span></td>
} @* crewFamilyForAdminViewModeDelete.MTCrewID.Visible (end) *@
@if (crewFamilyForAdminViewModeDelete.Relationship.Visible) { // crewFamilyForAdminViewModeDelete.Relationship.Visible (begin)
        <td @Html.Raw(crewFamilyForAdminViewModeDelete.Relationship.CellAttributes)>
<span id="el@(crewFamilyForAdminViewModeDelete.RowCount)_CrewFamilyForAdminViewMode_Relationship" class="el_CrewFamilyForAdminViewMode_Relationship">
<span @Html.Raw(crewFamilyForAdminViewModeDelete.Relationship.ViewAttributes)>
@Html.Raw(crewFamilyForAdminViewModeDelete.Relationship.GetViewValue())</span>
</span></td>
} @* crewFamilyForAdminViewModeDelete.Relationship.Visible (end) *@
@if (crewFamilyForAdminViewModeDelete.FullName.Visible) { // crewFamilyForAdminViewModeDelete.FullName.Visible (begin)
        <td @Html.Raw(crewFamilyForAdminViewModeDelete.FullName.CellAttributes)>
<span id="el@(crewFamilyForAdminViewModeDelete.RowCount)_CrewFamilyForAdminViewMode_FullName" class="el_CrewFamilyForAdminViewMode_FullName">
<span @Html.Raw(crewFamilyForAdminViewModeDelete.FullName.ViewAttributes)>
@Html.Raw(crewFamilyForAdminViewModeDelete.FullName.GetViewValue())</span>
</span></td>
} @* crewFamilyForAdminViewModeDelete.FullName.Visible (end) *@
@if (crewFamilyForAdminViewModeDelete.Gender.Visible) { // crewFamilyForAdminViewModeDelete.Gender.Visible (begin)
        <td @Html.Raw(crewFamilyForAdminViewModeDelete.Gender.CellAttributes)>
<span id="el@(crewFamilyForAdminViewModeDelete.RowCount)_CrewFamilyForAdminViewMode_Gender" class="el_CrewFamilyForAdminViewMode_Gender">
<span @Html.Raw(crewFamilyForAdminViewModeDelete.Gender.ViewAttributes)>
@Html.Raw(crewFamilyForAdminViewModeDelete.Gender.GetViewValue())</span>
</span></td>
} @* crewFamilyForAdminViewModeDelete.Gender.Visible (end) *@
@if (crewFamilyForAdminViewModeDelete.DateOfBirth.Visible) { // crewFamilyForAdminViewModeDelete.DateOfBirth.Visible (begin)
        <td @Html.Raw(crewFamilyForAdminViewModeDelete.DateOfBirth.CellAttributes)>
<span id="el@(crewFamilyForAdminViewModeDelete.RowCount)_CrewFamilyForAdminViewMode_DateOfBirth" class="el_CrewFamilyForAdminViewMode_DateOfBirth">
<span @Html.Raw(crewFamilyForAdminViewModeDelete.DateOfBirth.ViewAttributes)>
@Html.Raw(crewFamilyForAdminViewModeDelete.DateOfBirth.GetViewValue())</span>
</span></td>
} @* crewFamilyForAdminViewModeDelete.DateOfBirth.Visible (end) *@
@if (crewFamilyForAdminViewModeDelete.MobileNumberCode_CountryID.Visible) { // crewFamilyForAdminViewModeDelete.MobileNumberCode_CountryID.Visible (begin)
        <td @Html.Raw(crewFamilyForAdminViewModeDelete.MobileNumberCode_CountryID.CellAttributes)>
<span id="el@(crewFamilyForAdminViewModeDelete.RowCount)_CrewFamilyForAdminViewMode_MobileNumberCode_CountryID" class="el_CrewFamilyForAdminViewMode_MobileNumberCode_CountryID">
<span @Html.Raw(crewFamilyForAdminViewModeDelete.MobileNumberCode_CountryID.ViewAttributes)>
@Html.Raw(crewFamilyForAdminViewModeDelete.MobileNumberCode_CountryID.GetViewValue())</span>
</span></td>
} @* crewFamilyForAdminViewModeDelete.MobileNumberCode_CountryID.Visible (end) *@
@if (crewFamilyForAdminViewModeDelete.MobileNumber.Visible) { // crewFamilyForAdminViewModeDelete.MobileNumber.Visible (begin)
        <td @Html.Raw(crewFamilyForAdminViewModeDelete.MobileNumber.CellAttributes)>
<span id="el@(crewFamilyForAdminViewModeDelete.RowCount)_CrewFamilyForAdminViewMode_MobileNumber" class="el_CrewFamilyForAdminViewMode_MobileNumber">
<span @Html.Raw(crewFamilyForAdminViewModeDelete.MobileNumber.ViewAttributes)>
@Html.Raw(crewFamilyForAdminViewModeDelete.MobileNumber.GetViewValue())</span>
</span></td>
} @* crewFamilyForAdminViewModeDelete.MobileNumber.Visible (end) *@
@if (crewFamilyForAdminViewModeDelete._Email.Visible) { // crewFamilyForAdminViewModeDelete._Email.Visible (begin)
        <td @Html.Raw(crewFamilyForAdminViewModeDelete._Email.CellAttributes)>
<span id="el@(crewFamilyForAdminViewModeDelete.RowCount)_CrewFamilyForAdminViewMode__Email" class="el_CrewFamilyForAdminViewMode__Email">
<span @Html.Raw(crewFamilyForAdminViewModeDelete._Email.ViewAttributes)>
@Html.Raw(crewFamilyForAdminViewModeDelete._Email.GetViewValue())</span>
</span></td>
} @* crewFamilyForAdminViewModeDelete._Email.Visible (end) *@
@if (crewFamilyForAdminViewModeDelete.SocialSecurityNumber.Visible) { // crewFamilyForAdminViewModeDelete.SocialSecurityNumber.Visible (begin)
        <td @Html.Raw(crewFamilyForAdminViewModeDelete.SocialSecurityNumber.CellAttributes)>
<span id="el@(crewFamilyForAdminViewModeDelete.RowCount)_CrewFamilyForAdminViewMode_SocialSecurityNumber" class="el_CrewFamilyForAdminViewMode_SocialSecurityNumber">
<span @Html.Raw(crewFamilyForAdminViewModeDelete.SocialSecurityNumber.ViewAttributes)>
@Html.Raw(crewFamilyForAdminViewModeDelete.SocialSecurityNumber.GetViewValue())</span>
</span></td>
} @* crewFamilyForAdminViewModeDelete.SocialSecurityNumber.Visible (end) *@
@if (crewFamilyForAdminViewModeDelete.FamilyRegisterNumber.Visible) { // crewFamilyForAdminViewModeDelete.FamilyRegisterNumber.Visible (begin)
        <td @Html.Raw(crewFamilyForAdminViewModeDelete.FamilyRegisterNumber.CellAttributes)>
<span id="el@(crewFamilyForAdminViewModeDelete.RowCount)_CrewFamilyForAdminViewMode_FamilyRegisterNumber" class="el_CrewFamilyForAdminViewMode_FamilyRegisterNumber">
<span @Html.Raw(crewFamilyForAdminViewModeDelete.FamilyRegisterNumber.ViewAttributes)>
@Html.Raw(crewFamilyForAdminViewModeDelete.FamilyRegisterNumber.GetViewValue())</span>
</span></td>
} @* crewFamilyForAdminViewModeDelete.FamilyRegisterNumber.Visible (end) *@
@if (crewFamilyForAdminViewModeDelete.Address.Visible) { // crewFamilyForAdminViewModeDelete.Address.Visible (begin)
        <td @Html.Raw(crewFamilyForAdminViewModeDelete.Address.CellAttributes)>
<span id="el@(crewFamilyForAdminViewModeDelete.RowCount)_CrewFamilyForAdminViewMode_Address" class="el_CrewFamilyForAdminViewMode_Address">
<span @Html.Raw(crewFamilyForAdminViewModeDelete.Address.ViewAttributes)>
@Html.Raw(crewFamilyForAdminViewModeDelete.Address.GetViewValue())</span>
</span></td>
} @* crewFamilyForAdminViewModeDelete.Address.Visible (end) *@
@if (crewFamilyForAdminViewModeDelete.CreatedByUserID.Visible) { // crewFamilyForAdminViewModeDelete.CreatedByUserID.Visible (begin)
        <td @Html.Raw(crewFamilyForAdminViewModeDelete.CreatedByUserID.CellAttributes)>
<span id="el@(crewFamilyForAdminViewModeDelete.RowCount)_CrewFamilyForAdminViewMode_CreatedByUserID" class="el_CrewFamilyForAdminViewMode_CreatedByUserID">
<span @Html.Raw(crewFamilyForAdminViewModeDelete.CreatedByUserID.ViewAttributes)>
@Html.Raw(crewFamilyForAdminViewModeDelete.CreatedByUserID.GetViewValue())</span>
</span></td>
} @* crewFamilyForAdminViewModeDelete.CreatedByUserID.Visible (end) *@
@if (crewFamilyForAdminViewModeDelete.CreatedDateTime.Visible) { // crewFamilyForAdminViewModeDelete.CreatedDateTime.Visible (begin)
        <td @Html.Raw(crewFamilyForAdminViewModeDelete.CreatedDateTime.CellAttributes)>
<span id="el@(crewFamilyForAdminViewModeDelete.RowCount)_CrewFamilyForAdminViewMode_CreatedDateTime" class="el_CrewFamilyForAdminViewMode_CreatedDateTime">
<span @Html.Raw(crewFamilyForAdminViewModeDelete.CreatedDateTime.ViewAttributes)>
@Html.Raw(crewFamilyForAdminViewModeDelete.CreatedDateTime.GetViewValue())</span>
</span></td>
} @* crewFamilyForAdminViewModeDelete.CreatedDateTime.Visible (end) *@
@if (crewFamilyForAdminViewModeDelete.LastUpdatedByUserID.Visible) { // crewFamilyForAdminViewModeDelete.LastUpdatedByUserID.Visible (begin)
        <td @Html.Raw(crewFamilyForAdminViewModeDelete.LastUpdatedByUserID.CellAttributes)>
<span id="el@(crewFamilyForAdminViewModeDelete.RowCount)_CrewFamilyForAdminViewMode_LastUpdatedByUserID" class="el_CrewFamilyForAdminViewMode_LastUpdatedByUserID">
<span @Html.Raw(crewFamilyForAdminViewModeDelete.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(crewFamilyForAdminViewModeDelete.LastUpdatedByUserID.GetViewValue())</span>
</span></td>
} @* crewFamilyForAdminViewModeDelete.LastUpdatedByUserID.Visible (end) *@
@if (crewFamilyForAdminViewModeDelete.LastUpdatedDateTime.Visible) { // crewFamilyForAdminViewModeDelete.LastUpdatedDateTime.Visible (begin)
        <td @Html.Raw(crewFamilyForAdminViewModeDelete.LastUpdatedDateTime.CellAttributes)>
<span id="el@(crewFamilyForAdminViewModeDelete.RowCount)_CrewFamilyForAdminViewMode_LastUpdatedDateTime" class="el_CrewFamilyForAdminViewMode_LastUpdatedDateTime">
<span @Html.Raw(crewFamilyForAdminViewModeDelete.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(crewFamilyForAdminViewModeDelete.LastUpdatedDateTime.GetViewValue())</span>
</span></td>
} @* crewFamilyForAdminViewModeDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
}
@{ crewFamilyForAdminViewModeDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(crewFamilyForAdminViewModeDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@crewFamilyForAdminViewModeDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
