@{
    // View
    View = this;

    // Check action result
    if (crewFamilyForAdminAdd.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!crewFamilyForAdminAdd.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(crewFamilyForAdminAdd.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { CrewFamilyForAdmin: currentTable } });
var currentPageID = ew.PAGE_ID = "add";
var currentForm;
var fCrewFamilyForAdminadd;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fCrewFamilyForAdminadd")
        .setPageId("add")

        // Add fields
        .setFields([

            ["MTCrewID", [fields.MTCrewID.visible && fields.MTCrewID.required ? ew.Validators.required(fields.MTCrewID.caption) : null], fields.MTCrewID.isInvalid],
            ["Relationship", [fields.Relationship.visible && fields.Relationship.required ? ew.Validators.required(fields.Relationship.caption) : null], fields.Relationship.isInvalid],
            ["FullName", [fields.FullName.visible && fields.FullName.required ? ew.Validators.required(fields.FullName.caption) : null], fields.FullName.isInvalid],
            ["Gender", [fields.Gender.visible && fields.Gender.required ? ew.Validators.required(fields.Gender.caption) : null], fields.Gender.isInvalid],
            ["DateOfBirth", [fields.DateOfBirth.visible && fields.DateOfBirth.required ? ew.Validators.required(fields.DateOfBirth.caption) : null, ew.Validators.datetime(fields.DateOfBirth.clientFormatPattern)], fields.DateOfBirth.isInvalid],
            ["MobileNumberCode_CountryID", [fields.MobileNumberCode_CountryID.visible && fields.MobileNumberCode_CountryID.required ? ew.Validators.required(fields.MobileNumberCode_CountryID.caption) : null], fields.MobileNumberCode_CountryID.isInvalid],
            ["MobileNumber", [fields.MobileNumber.visible && fields.MobileNumber.required ? ew.Validators.required(fields.MobileNumber.caption) : null], fields.MobileNumber.isInvalid],
            ["_Email", [fields._Email.visible && fields._Email.required ? ew.Validators.required(fields._Email.caption) : null], fields._Email.isInvalid],
            ["SocialSecurityNumber", [fields.SocialSecurityNumber.visible && fields.SocialSecurityNumber.required ? ew.Validators.required(fields.SocialSecurityNumber.caption) : null], fields.SocialSecurityNumber.isInvalid],
            ["FamilyRegisterNumber", [fields.FamilyRegisterNumber.visible && fields.FamilyRegisterNumber.required ? ew.Validators.required(fields.FamilyRegisterNumber.caption) : null], fields.FamilyRegisterNumber.isInvalid],
            ["Address", [fields.Address.visible && fields.Address.required ? ew.Validators.required(fields.Address.caption) : null], fields.Address.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "Relationship": @Html.Raw(crewFamilyForAdminAdd.Relationship.ToClientList(crewFamilyForAdminAdd)),
            "Gender": @Html.Raw(crewFamilyForAdminAdd.Gender.ToClientList(crewFamilyForAdminAdd)),
            "MobileNumberCode_CountryID": @Html.Raw(crewFamilyForAdminAdd.MobileNumberCode_CountryID.ToClientList(crewFamilyForAdminAdd)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@crewFamilyForAdminAdd.ShowPageHeader()
@crewFamilyForAdminAdd.ShowMessages()
<form name="fCrewFamilyForAdminadd" id="fCrewFamilyForAdminadd" class="@(crewFamilyForAdminAdd.FormClassName)" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="insert">
<input type="hidden" name="modal" value="@ConvertToInt(crewFamilyForAdminAdd.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(crewFamilyForAdminAdd.OldKeyName)" value="@Html.Raw(crewFamilyForAdminAdd.OldKey)">
<div class="ew-add-div d-none"><!-- page* -->
@if (crewFamilyForAdminAdd.MTCrewID.Visible) { // crewFamilyForAdminAdd.MTCrewID.Visible (begin)
    <div id="r_MTCrewID" @Html.Raw(crewFamilyForAdminAdd.MTCrewID.RowAttributes)>
        <label id="elh_CrewFamilyForAdmin_MTCrewID" for="x_MTCrewID" class="@(crewFamilyForAdminAdd.LeftColumnClass)"><template id="tpc_CrewFamilyForAdmin_MTCrewID">@Html.Raw(crewFamilyForAdminAdd.MTCrewID.Caption)@Html.Raw(crewFamilyForAdminAdd.MTCrewID.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewFamilyForAdminAdd.RightColumnClass)"><div @Html.Raw(crewFamilyForAdminAdd.MTCrewID.CellAttributes)>
<template id="tpx_CrewFamilyForAdmin_MTCrewID"><span id="el_CrewFamilyForAdmin_MTCrewID">
<input type="@(crewFamilyForAdminAdd.MTCrewID.InputTextType)" name="x_MTCrewID" id="x_MTCrewID" data-table="CrewFamilyForAdmin" data-field="x_MTCrewID" value="@Html.Raw(crewFamilyForAdminAdd.MTCrewID.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(crewFamilyForAdminAdd.MTCrewID.PlaceHolder))" data-format-pattern="@(crewFamilyForAdminAdd.MTCrewID.FormatPattern)"@Html.Raw(crewFamilyForAdminAdd.MTCrewID.EditAttributes) aria-describedby="x_MTCrewID_help">
@Html.Raw(crewFamilyForAdminAdd.MTCrewID.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewFamilyForAdminAdd.MTCrewID.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* crewFamilyForAdminAdd.MTCrewID.Visible (end) *@
@if (crewFamilyForAdminAdd.Relationship.Visible) { // crewFamilyForAdminAdd.Relationship.Visible (begin)
    <div id="r_Relationship" @Html.Raw(crewFamilyForAdminAdd.Relationship.RowAttributes)>
        <label id="elh_CrewFamilyForAdmin_Relationship" for="x_Relationship" class="@(crewFamilyForAdminAdd.LeftColumnClass)"><template id="tpc_CrewFamilyForAdmin_Relationship">@Html.Raw(crewFamilyForAdminAdd.Relationship.Caption)@Html.Raw(crewFamilyForAdminAdd.Relationship.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewFamilyForAdminAdd.RightColumnClass)"><div @Html.Raw(crewFamilyForAdminAdd.Relationship.CellAttributes)>
<template id="tpx_CrewFamilyForAdmin_Relationship"><span id="el_CrewFamilyForAdmin_Relationship">
    <select
        id="x_Relationship"
        name="x_Relationship"
        class="form-select ew-select@(crewFamilyForAdminAdd.Relationship.IsInvalidClass)"
        data-select2-id="fCrewFamilyForAdminadd_x_Relationship"
        data-table="CrewFamilyForAdmin"
        data-field="x_Relationship"
        data-value-separator="@(crewFamilyForAdminAdd.Relationship.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(crewFamilyForAdminAdd.Relationship.PlaceHolder))"
        @Html.Raw(crewFamilyForAdminAdd.Relationship.EditAttributes)>
        @(crewFamilyForAdminAdd.Relationship.SelectOptionListHtml("x_Relationship"))
    </select>
    @Html.Raw(crewFamilyForAdminAdd.Relationship.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(crewFamilyForAdminAdd.Relationship.GetErrorMessage())</div>
<script>
loadjs.ready("fCrewFamilyForAdminadd", function() {
    var options = { name: "x_Relationship", selectId: "fCrewFamilyForAdminadd_x_Relationship" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fCrewFamilyForAdminadd.lists.Relationship?.lookupOptions.length) {
        options.data = { id: "x_Relationship", form: "fCrewFamilyForAdminadd" };
    } else {
        options.ajax = { id: "x_Relationship", form: "fCrewFamilyForAdminadd", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumResultsForSearch = Infinity;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.CrewFamilyForAdmin.fields.Relationship.selectOptions);
    ew.createSelect(options);
});
</script>
</span></template>
</div></div>
    </div>
} @* crewFamilyForAdminAdd.Relationship.Visible (end) *@
@if (crewFamilyForAdminAdd.FullName.Visible) { // crewFamilyForAdminAdd.FullName.Visible (begin)
    <div id="r_FullName" @Html.Raw(crewFamilyForAdminAdd.FullName.RowAttributes)>
        <label id="elh_CrewFamilyForAdmin_FullName" for="x_FullName" class="@(crewFamilyForAdminAdd.LeftColumnClass)"><template id="tpc_CrewFamilyForAdmin_FullName">@Html.Raw(crewFamilyForAdminAdd.FullName.Caption)@Html.Raw(crewFamilyForAdminAdd.FullName.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewFamilyForAdminAdd.RightColumnClass)"><div @Html.Raw(crewFamilyForAdminAdd.FullName.CellAttributes)>
<template id="tpx_CrewFamilyForAdmin_FullName"><span id="el_CrewFamilyForAdmin_FullName">
<input type="@(crewFamilyForAdminAdd.FullName.InputTextType)" name="x_FullName" id="x_FullName" data-table="CrewFamilyForAdmin" data-field="x_FullName" value="@Html.Raw(crewFamilyForAdminAdd.FullName.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(crewFamilyForAdminAdd.FullName.PlaceHolder))" data-format-pattern="@(crewFamilyForAdminAdd.FullName.FormatPattern)"@Html.Raw(crewFamilyForAdminAdd.FullName.EditAttributes) aria-describedby="x_FullName_help">
@Html.Raw(crewFamilyForAdminAdd.FullName.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewFamilyForAdminAdd.FullName.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* crewFamilyForAdminAdd.FullName.Visible (end) *@
@if (crewFamilyForAdminAdd.Gender.Visible) { // crewFamilyForAdminAdd.Gender.Visible (begin)
    <div id="r_Gender" @Html.Raw(crewFamilyForAdminAdd.Gender.RowAttributes)>
        <label id="elh_CrewFamilyForAdmin_Gender" for="x_Gender" class="@(crewFamilyForAdminAdd.LeftColumnClass)"><template id="tpc_CrewFamilyForAdmin_Gender">@Html.Raw(crewFamilyForAdminAdd.Gender.Caption)@Html.Raw(crewFamilyForAdminAdd.Gender.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewFamilyForAdminAdd.RightColumnClass)"><div @Html.Raw(crewFamilyForAdminAdd.Gender.CellAttributes)>
<template id="tpx_CrewFamilyForAdmin_Gender"><span id="el_CrewFamilyForAdmin_Gender">
    <select
        id="x_Gender"
        name="x_Gender"
        class="form-select ew-select@(crewFamilyForAdminAdd.Gender.IsInvalidClass)"
        data-select2-id="fCrewFamilyForAdminadd_x_Gender"
        data-table="CrewFamilyForAdmin"
        data-field="x_Gender"
        data-value-separator="@(crewFamilyForAdminAdd.Gender.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(crewFamilyForAdminAdd.Gender.PlaceHolder))"
        @Html.Raw(crewFamilyForAdminAdd.Gender.EditAttributes)>
        @(crewFamilyForAdminAdd.Gender.SelectOptionListHtml("x_Gender"))
    </select>
    @Html.Raw(crewFamilyForAdminAdd.Gender.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(crewFamilyForAdminAdd.Gender.GetErrorMessage())</div>
<script>
loadjs.ready("fCrewFamilyForAdminadd", function() {
    var options = { name: "x_Gender", selectId: "fCrewFamilyForAdminadd_x_Gender" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fCrewFamilyForAdminadd.lists.Gender?.lookupOptions.length) {
        options.data = { id: "x_Gender", form: "fCrewFamilyForAdminadd" };
    } else {
        options.ajax = { id: "x_Gender", form: "fCrewFamilyForAdminadd", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumResultsForSearch = Infinity;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.CrewFamilyForAdmin.fields.Gender.selectOptions);
    ew.createSelect(options);
});
</script>
</span></template>
</div></div>
    </div>
} @* crewFamilyForAdminAdd.Gender.Visible (end) *@
@if (crewFamilyForAdminAdd.DateOfBirth.Visible) { // crewFamilyForAdminAdd.DateOfBirth.Visible (begin)
    <div id="r_DateOfBirth" @Html.Raw(crewFamilyForAdminAdd.DateOfBirth.RowAttributes)>
        <label id="elh_CrewFamilyForAdmin_DateOfBirth" for="x_DateOfBirth" class="@(crewFamilyForAdminAdd.LeftColumnClass)"><template id="tpc_CrewFamilyForAdmin_DateOfBirth">@Html.Raw(crewFamilyForAdminAdd.DateOfBirth.Caption)@Html.Raw(crewFamilyForAdminAdd.DateOfBirth.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewFamilyForAdminAdd.RightColumnClass)"><div @Html.Raw(crewFamilyForAdminAdd.DateOfBirth.CellAttributes)>
<template id="tpx_CrewFamilyForAdmin_DateOfBirth"><span id="el_CrewFamilyForAdmin_DateOfBirth">
<input type="@(crewFamilyForAdminAdd.DateOfBirth.InputTextType)" name="x_DateOfBirth" id="x_DateOfBirth" data-table="CrewFamilyForAdmin" data-field="x_DateOfBirth" value="@Html.Raw(crewFamilyForAdminAdd.DateOfBirth.EditValue)" placeholder="@Html.Raw(HtmlEncode(crewFamilyForAdminAdd.DateOfBirth.PlaceHolder))" data-format-pattern="@(crewFamilyForAdminAdd.DateOfBirth.FormatPattern)"@Html.Raw(crewFamilyForAdminAdd.DateOfBirth.EditAttributes) aria-describedby="x_DateOfBirth_help">
@Html.Raw(crewFamilyForAdminAdd.DateOfBirth.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewFamilyForAdminAdd.DateOfBirth.GetErrorMessage())</div>
@if (!crewFamilyForAdminAdd.DateOfBirth.ReadOnly && !crewFamilyForAdminAdd.DateOfBirth.Disabled && !crewFamilyForAdminAdd.DateOfBirth.EditAttrs.Is("readonly") && !crewFamilyForAdminAdd.DateOfBirth.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fCrewFamilyForAdminadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fCrewFamilyForAdminadd", "x_DateOfBirth", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span></template>
</div></div>
    </div>
} @* crewFamilyForAdminAdd.DateOfBirth.Visible (end) *@
@if (crewFamilyForAdminAdd.MobileNumberCode_CountryID.Visible) { // crewFamilyForAdminAdd.MobileNumberCode_CountryID.Visible (begin)
    <div id="r_MobileNumberCode_CountryID" @Html.Raw(crewFamilyForAdminAdd.MobileNumberCode_CountryID.RowAttributes)>
        <label id="elh_CrewFamilyForAdmin_MobileNumberCode_CountryID" for="x_MobileNumberCode_CountryID" class="@(crewFamilyForAdminAdd.LeftColumnClass)"><template id="tpc_CrewFamilyForAdmin_MobileNumberCode_CountryID">@Html.Raw(crewFamilyForAdminAdd.MobileNumberCode_CountryID.Caption)@Html.Raw(crewFamilyForAdminAdd.MobileNumberCode_CountryID.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewFamilyForAdminAdd.RightColumnClass)"><div @Html.Raw(crewFamilyForAdminAdd.MobileNumberCode_CountryID.CellAttributes)>
<template id="tpx_CrewFamilyForAdmin_MobileNumberCode_CountryID"><span id="el_CrewFamilyForAdmin_MobileNumberCode_CountryID">
    <select
        id="x_MobileNumberCode_CountryID"
        name="x_MobileNumberCode_CountryID"
        class="form-select ew-select@(crewFamilyForAdminAdd.MobileNumberCode_CountryID.IsInvalidClass)"
        data-select2-id="fCrewFamilyForAdminadd_x_MobileNumberCode_CountryID"
        data-table="CrewFamilyForAdmin"
        data-field="x_MobileNumberCode_CountryID"
        data-value-separator="@(crewFamilyForAdminAdd.MobileNumberCode_CountryID.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(crewFamilyForAdminAdd.MobileNumberCode_CountryID.PlaceHolder))"
        @Html.Raw(crewFamilyForAdminAdd.MobileNumberCode_CountryID.EditAttributes)>
        @(crewFamilyForAdminAdd.MobileNumberCode_CountryID.SelectOptionListHtml("x_MobileNumberCode_CountryID"))
    </select>
    @Html.Raw(crewFamilyForAdminAdd.MobileNumberCode_CountryID.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(crewFamilyForAdminAdd.MobileNumberCode_CountryID.GetErrorMessage())</div>
@Html.Raw(crewFamilyForAdminAdd.MobileNumberCode_CountryID.Lookup.GetParamTag(crewFamilyForAdminAdd, "p_x_MobileNumberCode_CountryID"))
<script>
loadjs.ready("fCrewFamilyForAdminadd", function() {
    var options = { name: "x_MobileNumberCode_CountryID", selectId: "fCrewFamilyForAdminadd_x_MobileNumberCode_CountryID" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fCrewFamilyForAdminadd.lists.MobileNumberCode_CountryID?.lookupOptions.length) {
        options.data = { id: "x_MobileNumberCode_CountryID", form: "fCrewFamilyForAdminadd" };
    } else {
        options.ajax = { id: "x_MobileNumberCode_CountryID", form: "fCrewFamilyForAdminadd", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumInputLength = ew.selectMinimumInputLength;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.CrewFamilyForAdmin.fields.MobileNumberCode_CountryID.selectOptions);
    ew.createSelect(options);
});
</script>
</span></template>
</div></div>
    </div>
} @* crewFamilyForAdminAdd.MobileNumberCode_CountryID.Visible (end) *@
@if (crewFamilyForAdminAdd.MobileNumber.Visible) { // crewFamilyForAdminAdd.MobileNumber.Visible (begin)
    <div id="r_MobileNumber" @Html.Raw(crewFamilyForAdminAdd.MobileNumber.RowAttributes)>
        <label id="elh_CrewFamilyForAdmin_MobileNumber" for="x_MobileNumber" class="@(crewFamilyForAdminAdd.LeftColumnClass)"><template id="tpc_CrewFamilyForAdmin_MobileNumber">@Html.Raw(crewFamilyForAdminAdd.MobileNumber.Caption)@Html.Raw(crewFamilyForAdminAdd.MobileNumber.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewFamilyForAdminAdd.RightColumnClass)"><div @Html.Raw(crewFamilyForAdminAdd.MobileNumber.CellAttributes)>
<template id="tpx_CrewFamilyForAdmin_MobileNumber"><span id="el_CrewFamilyForAdmin_MobileNumber">
<input type="@(crewFamilyForAdminAdd.MobileNumber.InputTextType)" name="x_MobileNumber" id="x_MobileNumber" data-table="CrewFamilyForAdmin" data-field="x_MobileNumber" value="@Html.Raw(crewFamilyForAdminAdd.MobileNumber.EditValue)" size="30" maxlength="20" placeholder="@Html.Raw(HtmlEncode(crewFamilyForAdminAdd.MobileNumber.PlaceHolder))" data-format-pattern="@(crewFamilyForAdminAdd.MobileNumber.FormatPattern)"@Html.Raw(crewFamilyForAdminAdd.MobileNumber.EditAttributes) aria-describedby="x_MobileNumber_help">
@Html.Raw(crewFamilyForAdminAdd.MobileNumber.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewFamilyForAdminAdd.MobileNumber.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* crewFamilyForAdminAdd.MobileNumber.Visible (end) *@
@if (crewFamilyForAdminAdd._Email.Visible) { // crewFamilyForAdminAdd._Email.Visible (begin)
    <div id="r__Email" @Html.Raw(crewFamilyForAdminAdd._Email.RowAttributes)>
        <label id="elh_CrewFamilyForAdmin__Email" for="x__Email" class="@(crewFamilyForAdminAdd.LeftColumnClass)"><template id="tpc_CrewFamilyForAdmin__Email">@Html.Raw(crewFamilyForAdminAdd._Email.Caption)@Html.Raw(crewFamilyForAdminAdd._Email.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewFamilyForAdminAdd.RightColumnClass)"><div @Html.Raw(crewFamilyForAdminAdd._Email.CellAttributes)>
<template id="tpx_CrewFamilyForAdmin__Email"><span id="el_CrewFamilyForAdmin__Email">
<input type="@(crewFamilyForAdminAdd._Email.InputTextType)" name="x__Email" id="x__Email" data-table="CrewFamilyForAdmin" data-field="x__Email" value="@Html.Raw(crewFamilyForAdminAdd._Email.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(crewFamilyForAdminAdd._Email.PlaceHolder))" data-format-pattern="@(crewFamilyForAdminAdd._Email.FormatPattern)"@Html.Raw(crewFamilyForAdminAdd._Email.EditAttributes) aria-describedby="x__Email_help">
@Html.Raw(crewFamilyForAdminAdd._Email.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewFamilyForAdminAdd._Email.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* crewFamilyForAdminAdd._Email.Visible (end) *@
@if (crewFamilyForAdminAdd.SocialSecurityNumber.Visible) { // crewFamilyForAdminAdd.SocialSecurityNumber.Visible (begin)
    <div id="r_SocialSecurityNumber" @Html.Raw(crewFamilyForAdminAdd.SocialSecurityNumber.RowAttributes)>
        <label id="elh_CrewFamilyForAdmin_SocialSecurityNumber" for="x_SocialSecurityNumber" class="@(crewFamilyForAdminAdd.LeftColumnClass)"><template id="tpc_CrewFamilyForAdmin_SocialSecurityNumber">@Html.Raw(crewFamilyForAdminAdd.SocialSecurityNumber.Caption)@Html.Raw(crewFamilyForAdminAdd.SocialSecurityNumber.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewFamilyForAdminAdd.RightColumnClass)"><div @Html.Raw(crewFamilyForAdminAdd.SocialSecurityNumber.CellAttributes)>
<template id="tpx_CrewFamilyForAdmin_SocialSecurityNumber"><span id="el_CrewFamilyForAdmin_SocialSecurityNumber">
<input type="@(crewFamilyForAdminAdd.SocialSecurityNumber.InputTextType)" name="x_SocialSecurityNumber" id="x_SocialSecurityNumber" data-table="CrewFamilyForAdmin" data-field="x_SocialSecurityNumber" value="@Html.Raw(crewFamilyForAdminAdd.SocialSecurityNumber.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(crewFamilyForAdminAdd.SocialSecurityNumber.PlaceHolder))" data-format-pattern="@(crewFamilyForAdminAdd.SocialSecurityNumber.FormatPattern)"@Html.Raw(crewFamilyForAdminAdd.SocialSecurityNumber.EditAttributes) aria-describedby="x_SocialSecurityNumber_help">
@Html.Raw(crewFamilyForAdminAdd.SocialSecurityNumber.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewFamilyForAdminAdd.SocialSecurityNumber.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* crewFamilyForAdminAdd.SocialSecurityNumber.Visible (end) *@
@if (crewFamilyForAdminAdd.FamilyRegisterNumber.Visible) { // crewFamilyForAdminAdd.FamilyRegisterNumber.Visible (begin)
    <div id="r_FamilyRegisterNumber" @Html.Raw(crewFamilyForAdminAdd.FamilyRegisterNumber.RowAttributes)>
        <label id="elh_CrewFamilyForAdmin_FamilyRegisterNumber" for="x_FamilyRegisterNumber" class="@(crewFamilyForAdminAdd.LeftColumnClass)"><template id="tpc_CrewFamilyForAdmin_FamilyRegisterNumber">@Html.Raw(crewFamilyForAdminAdd.FamilyRegisterNumber.Caption)@Html.Raw(crewFamilyForAdminAdd.FamilyRegisterNumber.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewFamilyForAdminAdd.RightColumnClass)"><div @Html.Raw(crewFamilyForAdminAdd.FamilyRegisterNumber.CellAttributes)>
<template id="tpx_CrewFamilyForAdmin_FamilyRegisterNumber"><span id="el_CrewFamilyForAdmin_FamilyRegisterNumber">
<input type="@(crewFamilyForAdminAdd.FamilyRegisterNumber.InputTextType)" name="x_FamilyRegisterNumber" id="x_FamilyRegisterNumber" data-table="CrewFamilyForAdmin" data-field="x_FamilyRegisterNumber" value="@Html.Raw(crewFamilyForAdminAdd.FamilyRegisterNumber.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(crewFamilyForAdminAdd.FamilyRegisterNumber.PlaceHolder))" data-format-pattern="@(crewFamilyForAdminAdd.FamilyRegisterNumber.FormatPattern)"@Html.Raw(crewFamilyForAdminAdd.FamilyRegisterNumber.EditAttributes) aria-describedby="x_FamilyRegisterNumber_help">
@Html.Raw(crewFamilyForAdminAdd.FamilyRegisterNumber.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewFamilyForAdminAdd.FamilyRegisterNumber.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* crewFamilyForAdminAdd.FamilyRegisterNumber.Visible (end) *@
@if (crewFamilyForAdminAdd.Address.Visible) { // crewFamilyForAdminAdd.Address.Visible (begin)
    <div id="r_Address" @Html.Raw(crewFamilyForAdminAdd.Address.RowAttributes)>
        <label id="elh_CrewFamilyForAdmin_Address" for="x_Address" class="@(crewFamilyForAdminAdd.LeftColumnClass)"><template id="tpc_CrewFamilyForAdmin_Address">@Html.Raw(crewFamilyForAdminAdd.Address.Caption)@Html.Raw(crewFamilyForAdminAdd.Address.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewFamilyForAdminAdd.RightColumnClass)"><div @Html.Raw(crewFamilyForAdminAdd.Address.CellAttributes)>
<template id="tpx_CrewFamilyForAdmin_Address"><span id="el_CrewFamilyForAdmin_Address">
<textarea data-table="CrewFamilyForAdmin" data-field="x_Address" name="x_Address" id="x_Address" cols="50" rows="4" placeholder="@Html.Raw(HtmlEncode(crewFamilyForAdminAdd.Address.PlaceHolder))"@Html.Raw(crewFamilyForAdminAdd.Address.EditAttributes) aria-describedby="x_Address_help">@(crewFamilyForAdminAdd.Address.EditValue)</textarea>
@Html.Raw(crewFamilyForAdminAdd.Address.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewFamilyForAdminAdd.Address.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* crewFamilyForAdminAdd.Address.Visible (end) *@
</div><!-- /page* -->
<div id="tpd_CrewFamilyForAdminadd" class="ew-custom-template"></div>
<template id="tpm_CrewFamilyForAdminadd">
<div id="ct_crewFamilyForAdminAdd">    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewPersonalDataForAdminEdit")">
                @(CurrentLanguage == "en-US" ? "PERSONAL DATA" : "DATA PERSONAL")
            </a>     
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewDocumentForAdminAdd")">
                @(CurrentLanguage == "en-US" ? "DOCUMENTS" : "DOKUMEN")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewBankAccountForAdminAdd")">
                @(CurrentLanguage == "en-US" ? "BANK ACCOUNT" : "REKENING BANK")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewFamilyForAdminAdd")">
                @(CurrentLanguage == "en-US" ? "FAMILY" : "KELUARGA")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewFormalEducationForAdminAdd")">
                @(CurrentLanguage == "en-US" ? "FORMAL EDUCATION" : "PENDIDIKAN FORMAL")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewMedicalCertificateForAdminAdd")">
                @(CurrentLanguage == "en-US" ? "MEDICAL CERTIFICATE / TEST" : "SERTIFIKAT / TES MEDIS")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewCertificateForAdminAdd")">
                @(CurrentLanguage == "en-US" ? "CERTIFICATES AND QUALIFICATIONS" : "SERTIFIKAT DAN KUALIFIKASI")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewExperienceForAdminAdd")">
                @(CurrentLanguage == "en-US" ? "SEA EXPERIENCE" : "PENGALAMAN BERLAYAR")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewAppraisalForAdminAdd")">
                @(CurrentLanguage == "en-US" ? "APPRAISALS" : "PENILAIAN")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewMedicalHistoryForAdminAdd")">
                @(CurrentLanguage == "en-US" ? "MEDICAL HISTORY" : "RIWAYAT MEDIS")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewGeneralDataForAdminEdit")">
                @(CurrentLanguage == "en-US" ? "GENERAL" : "UMUM")
            </a>
        </li>
    </ul>
    <div class="mb-2 row">
        <div class="col-sm-6">
            <div id="r_Relationship" class="mb-2 row">
                <label for="x_Relationship" class="col-form-label">@Html.Raw(crewFamilyForAdminAdd.Relationship.Caption)<i class="fa-solid fa-asterisk ew-required"></i></label>
                <div><slot class="ew-slot" name="tpx_CrewFamilyForAdmin_Relationship"></slot></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="r_FullName" class="mb-2 row">
                <label for="x_FullName" class="col-form-label">@Html.Raw(crewFamilyForAdminAdd.FullName.Caption)<i class="fa-solid fa-asterisk ew-required"></i></label>
                <div><slot class="ew-slot" name="tpx_CrewFamilyForAdmin_FullName"></slot></div>
            </div>
        </div>
    </div>
    <div class="mb-2 row">
        <div class="col-sm-6">
            <div id="r_Gender" class="mb-2 row">
                <label for="x_Gender" class="col-form-label">@Html.Raw(crewFamilyForAdminAdd.Gender.Caption)<i class="fa-solid fa-asterisk ew-required"></i></label>
                <div><slot class="ew-slot" name="tpx_CrewFamilyForAdmin_Gender"></slot></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="r_DateOfBirth" class="mb-2 row">
                <label for="x_DateOfBirth" class="col-form-label">@Html.Raw(crewFamilyForAdminAdd.DateOfBirth.Caption)<i class="fa-solid fa-asterisk ew-required"></i></label>
                <div><slot class="ew-slot" name="tpx_CrewFamilyForAdmin_DateOfBirth"></slot></div>
            </div>
        </div>
    </div>
    <div class="mb-2 row">
        <div class="col-sm-6">
            <div id="r_MobileNumber" class="mb-2 row">
                <label for="x_MobileNumber" class="col-form-label">
                    @Html.Raw(crewFamilyForAdminAdd.MobileNumber.Caption) @(CurrentLanguage == "en-US" ? "(Without Leading Zero)" : "(Tanpa Diawali 0)")<i class="fa-solid fa-asterisk ew-required"></i>
                </label>
                <div class="mb-2 row">
                    <div class="col-sm-6">
                        <slot class="ew-slot" name="tpx_CrewFamilyForAdmin_MobileNumberCode_CountryID"></slot>
                    </div>
                    <div class="col-sm-6">  
                        <slot class="ew-slot" name="tpx_CrewFamilyForAdmin_MobileNumber"></slot>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="r__Email" class="mb-2 row">
                <label for="x__Email" class="col-form-label">@Html.Raw(crewFamilyForAdminAdd._Email.Caption)<i class="fa-solid fa-asterisk ew-required"></i></label>
                <div><slot class="ew-slot" name="tpx_CrewFamilyForAdmin__Email"></slot></div>
            </div>
        </div>
    </div>
    <div class="mb-2 row">
        <div class="col-sm-6">
            <div id="r_SocialSecurityNumber" class="mb-2 row">
                <label for="x_SocialSecurityNumber" class="col-form-label">@Html.Raw(crewFamilyForAdminAdd.SocialSecurityNumber.Caption)<i class="fa-solid fa-asterisk ew-required"></i></label>
                <div><slot class="ew-slot" name="tpx_CrewFamilyForAdmin_SocialSecurityNumber"></slot></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="r_FamilyRegisterNumber" class="mb-2 row">
                <label for="x_FamilyRegisterNumber" class="col-form-label">@Html.Raw(crewFamilyForAdminAdd.FamilyRegisterNumber.Caption)<i class="fa-solid fa-asterisk ew-required"></i></label>
                <div><slot class="ew-slot" name="tpx_CrewFamilyForAdmin_FamilyRegisterNumber"></slot></div>
            </div>
        </div>
    </div>
    <div class="mb-2 row">
        <div class="col-sm-6">
            <div id="r_Address" class="mb-2 row">
                <label for="x_Address" class="col-form-label">@Html.Raw(crewFamilyForAdminAdd.Address.Caption)<i class="fa-solid fa-asterisk ew-required"></i></label>
                <div><slot class="ew-slot" name="tpx_CrewFamilyForAdmin_Address"></slot></div>
            </div>
        </div>
        <div class="col-sm-6">
        </div>
    </div>
    <div class="row"><!-- buttons .row -->
        <div class="d-flex mb-2"><!-- buttons offset -->
            <button class="btn btn-primary ew-btn ms-auto primary-black-clr gray-bg" id="btn-add-entry">
                @(CurrentLanguage == "en-US" ? "Add Entry" : "Tambah")
            </button>
        </div><!-- /buttons offset -->
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-sm ew-table table-head-fixed" id="ForAdminTable" data-isset="true">
            <thead>
                <tr class="ew-table-header">
                    <th class="ew-list-option-header w-1" data-name="button"></th>
                    <th class="ew-list-option-header text-nowrap" data-name="sequence"><span></span></th>
                    <th data-name="Relationship" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewFamilyForAdminAdd.Relationship.Caption)
                    </th>
                    <th data-name="FullName" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewFamilyForAdminAdd.FullName.Caption)
                    </th>
                    <th data-name="Gender" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewFamilyForAdminAdd.Gender.Caption)
                    </th>              
                    <th data-name="DateOfBirth" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewFamilyForAdminAdd.DateOfBirth.Caption)
                    </th>
                    <th data-name="MobileNumber" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewFamilyForAdminAdd.MobileNumber.Caption)
                    </th>
                    <th data-name="_Email" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewFamilyForAdminAdd._Email.Caption)
                    </th>
                    <th data-name="SocialSecurityNumber" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewFamilyForAdminAdd.SocialSecurityNumber.Caption)
                    </th>              
                    <th data-name="FamilyRegisterNumber" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewFamilyForAdminAdd.FamilyRegisterNumber.Caption)
                    </th>
                    <th data-name="Address" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewFamilyForAdminAdd.Address.Caption)
                    </th>
                    <th data-name="CreatedByUserID" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewFamilyForAdminAdd.CreatedByUserID.Caption)
                    </th>
                    <th data-name="CreatedDateTime" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewFamilyForAdminAdd.CreatedDateTime.Caption)
                    </th>
                    <th data-name="LastUpdatedByUserID" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewFamilyForAdminAdd.LastUpdatedByUserID.Caption)
                    </th>
                    <th data-name="LastUpdatedDateTime" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewFamilyForAdminAdd.LastUpdatedDateTime.Caption)
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div id="r_MTCrewID" class="mb-3 row">
        <label for="x_MTCrewID" class="col-sm-2 col-form-label">@Html.Raw(crewFamilyForAdminAdd.MTCrewID.Caption)</label>
        <div class="col-sm-10"><slot class="ew-slot" name="tpx_CrewFamilyForAdmin_MTCrewID"></slot></div>
    </div>
    <div id="proceed-modal-dialog" class="modal" aria-hidden="true" data-bs-backdrop="static" tabindex="-1" aria-labelledby="proceed-modal-dialog-title" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="proceed-modal-dialog-title" class="modal-title">
                        @(CurrentLanguage == "en-US" ? "Warning" : "Peringatan")
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p> 
                        @{
                            if (CurrentLanguage == "en-US")
                            {
                                <span>There are error(s) in this tab.</span><br/>
                                <span>If you choose to Proceed, any unsaved data will be lost.</span><br/>
                                <span>Do you want to Proceed?</span>
                            }
                            else
                            {
                                <span>Masih ada error di tab ini.</span><br/>
                                <span>Jika Anda memilih Lanjutkan, data yang belum disimpan akan hilang.</span><br/>
                                <span>Apakah Anda ingin melanjutkan?</span>
                            }
                        }
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger ew-btn" id="btn-proceed" type="button">
                        @(CurrentLanguage == "en-US" ? "Proceed" : "Lanjutkan")
                    </button>
                    <button class="btn btn-default ew-btn" id="btn-proceed-cancel" type="button" data-bs-dismiss="modal">
                        @(CurrentLanguage == "en-US" ? "Cancel" : "Batal")
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="loading-modal-dialog" class="modal" aria-hidden="true" data-bs-backdrop="static" tabindex="-1" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="text-center mb-0">
                        @(CurrentLanguage == "en-US" ? "Saving..." : "Menyimpan...")
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="delete-modal-dialog" class="modal" aria-hidden="true" data-bs-backdrop="static" tabindex="-1" aria-labelledby="delete-modal-dialog-title" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="delete-modal-dialog-title" class="modal-title">
                        @(CurrentLanguage == "en-US" ? "Confirmation" : "Konfirmasi")
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        @(CurrentLanguage == "en-US" ? "Are you sure you want to delete?" : "Anda yakin ingin menghapus?")
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary ew-btn" id="btn-delete" type="button">
                        @(CurrentLanguage == "en-US" ? "Yes" : "Iya")
                    </button>
                    <button class="btn btn-default ew-btn" id="btn-delete-cancel" type="button" data-bs-dismiss="modal">
                        @(CurrentLanguage == "en-US" ? "No" : "Tidak")
                    </button>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>
@{ crewFamilyForAdminAdd.CloseRecordset(); }
@Html.Raw(crewFamilyForAdminAdd.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(crewFamilyForAdminAdd.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fCrewFamilyForAdminadd">@Html.Raw(Language.Phrase("AddBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fCrewFamilyForAdminadd" data-href="@AppPath(crewFamilyForAdminAdd.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(crewFamilyForAdminAdd.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
<script class="ew-apply-template">
loadjs.ready(ew.applyTemplateId, function() {
    var $ = jQuery;
    ew.templateData = { rows: @Html.Raw(ConvertToJson(crewFamilyForAdminAdd.Rows)) };
    ew.applyTemplate("tpd_CrewFamilyForAdminadd", "tpm_CrewFamilyForAdminadd", "CrewFamilyForAdminadd", "@(crewFamilyForAdminAdd.Export)", "CrewFamilyForAdmin", ew.templateData.rows[0], @(crewFamilyForAdminAdd.IsModal ? "true" : "false"));
    loadjs.done("customtemplate");
});
</script>
@crewFamilyForAdminAdd.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("CrewFamilyForAdmin");
});
</script>
<script>
loadjs.ready("load", function() {
    // Startup script
    // Write your table-specific startup script here
    // document.write("page loaded");

    // Get the current URL
    const currentUrlObject = new URL(window.location.href);
    // get the current URL without Add or Edit for assigning active class in tabs
    const currentUrlWithoutAddEdit = currentUrlObject.href.replace(/Add|Edit/g, "");
    // Create a new URLSearchParams object based on the current URL's search parameters
    const urlQueryParams = new URLSearchParams(currentUrlObject.search);
    // Extract the value of the crewID query parameter
    const currentlyEditedCrewID = urlQueryParams.get('crewID');
    const selectedLanguage = ew.vars['languages']['languages'].filter(obj => obj.selected === true)[0];
    const parentUrl = ew.PATH_BASE;
    const tableName = "CrewFamilyForAdmin";
    const pageType = "add";
    const pageTypeCapital = "Add";
    const formID = `f${tableName}${pageType}`;
    const addEntryUrl = `${parentUrl}${tableName}${pageTypeCapital}?crewID=${currentlyEditedCrewID}`;
    let isChangeTabApproved = false;
    const adminAndEmployeeStatusApi = 'get-admin-and-employee-status';
    $.ajax({
        url: `${parentUrl}api/Registration/${adminAndEmployeeStatusApi}`,
        method: 'GET',
        data: {
            crewID: currentlyEditedCrewID
        },
        success: function(response) {
            if (response.success) {
                const isAdmin = response.data.IsAdmin;
                if (isAdmin) {
                    if (currentlyEditedCrewID === null) {
                        window.location.replace(`${ew.PATH_BASE}RegistrationEdit/-1`);
                    }
                    const customCancelButton = $('<button/>', {
                        'class': 'btn btn-danger ew-btn ms-auto primary-red-bg primary-white-clr',
                        'id': 'btn-custom-cancel',
                        'type': 'button',
                        'text': `${ew.language.phrase("CancelBtn")}`,
                    }).click(function() {
                        if (window[formID].modified) {
                            ew.prompt(ew.language.phrase("ConfirmCancel"), result => {
                                if (result) {
                                    isChangeTabApproved = true;
                                    window.location.href = `${ew.PATH_BASE}RegistrationList`;
                                }
                              });
                        } else {
                            isChangeTabApproved = true;
                            window.location.href = `${ew.PATH_BASE}RegistrationList`;
                        }
                    });
                    $('#btn-cancel').after(customCancelButton);
                    $('#btn-cancel').remove();
                } else {
                    if (currentlyEditedCrewID === null) {
                        window.location.replace(`${ew.PATH_BASE}index`);
                    }
                    $('#btn-cancel').remove();
                }
            } else {
                ew.showToast(response.errorMessage);
            }
        },
        error: function(xhr, textStatus, errorThrown) {
            ew.showToast(errorThrown);
        }
    });

    // Iterate over each anchor element inside the nav-tabs
    $(".nav-tabs .nav-item a").each(function() {
        const href = $(this).attr("href");
        const hrefWithoutAddEdit = href.replace(/Add|Edit/g, "");
        // Check if the href contains current page's url
        if (currentUrlWithoutAddEdit.includes(hrefWithoutAddEdit)) {
            // add class and attribute
            $(this).addClass("active");
            $(this).attr("aria-current", "page");
        }
        // Check if the href contains "Edit" or "Add"
        if (href.includes("Edit")) {
            // Add "/" and the currently edited crew ID to the href
            const newHref = href + "/" + currentlyEditedCrewID;
            // Set the updated href attribute value
            $(this).attr("href", newHref);
        } else if (href.includes("Add")) {
            // Add "?crewID=" and the currently edited crew ID to the href
            const newHref = href + "?crewID=" + currentlyEditedCrewID;
            // Set the updated href attribute value
            $(this).attr("href", newHref);
        }
    });

    // start code for auto capitalize first letter of each word
    $('#x_FullName').on('input', function() {
        $(this).val($(this).val().replace(/(?:^|\s)\S/g, function(a) { return a.toUpperCase(); }));
    });
    // end code for auto capitalize first letter of each word
    const entryButton = $('<button/>', {
        'class': 'btn btn-primary ew-btn ms-auto primary-black-clr gray-bg',
        'id': 'btn-entry',
        'type': 'button',
        'text': (selectedLanguage.id === 'en-US') ? `Add Entry` : `Tambah`
    }).click(function() {
        const validateAddEntryResult = validateAddEntry({ isAllEmptyAllowed: false });
        if (validateAddEntryResult === 'valid') {
            $('#loading-modal-dialog').modal('show');
            const targetUrlRelative = addEntryUrl;
            addEntry({ redirectUrlWhenSuccess: targetUrlRelative });
        } else {
            scrollToFirstInvalidInput();
        }
    });
    $('#btn-add-entry').after(entryButton);
    $('#btn-add-entry').remove();
    $('#btn-delete').click(function() {
        const crewFamilyID = $(this).attr('crew-family-id');
        $.ajax({
            url: `${parentUrl}api/delete/${tableName}/${crewFamilyID}`,
            type: 'GET',
            success: function(res) {
                if (res && res.success) {
                    $('#delete-modal-dialog').modal('hide');
                    isChangeTabApproved = true;
                    proceedToLink(addEntryUrl);
                } else {
                    $('#delete-modal-dialog').modal('hide');
                    ew.showToast(res.failureMessage);
                }
            },
            error: function(xhr, textStatus, errorThrown) {
                ew.showToast(errorThrown);
                $('#delete-modal-dialog').modal('hide');
            }
        });
    });

    // Target the ol element that has breadcrumb class
    const $breadCrumbOl = $('.breadcrumb').first();

    // Delete the ol element that has breadcrumb class
    $breadCrumbOl.remove();
    $('#btn-action').remove();
    $('.ew-buttons > .col-sm-10').removeClass('col-sm-10').addClass('d-flex mb-3');
    $('.ew-buttons > .offset-sm-2').removeClass('offset-sm-2');

    //  programatically change the value of MTCrewID input and then hide it
    $('#x_MTCrewID').val(currentlyEditedCrewID);
    $('div#r_MTCrewID').hide();

    // get list of crew documents via API
    const apiEndpoint = 'crew-family-for-admin';
    $.ajax({
      url: `${parentUrl}api/Registration/${apiEndpoint}`,
      method: 'GET',
      data: {
        crewID: currentlyEditedCrewID
      },
      success: function(response) {
        if (response.success) {
          // Parse the data in the response
          const dataArray = response.data;
          const tbody = $('#ForAdminTable tbody'); // select the tbody element
          if (dataArray.length > 0) {
              const tableName = 'CrewFamilyForAdmin';
              for (let rowIndex = 0; rowIndex < dataArray.length; rowIndex++) {
                const row = dataArray[rowIndex];
                const rowID = row['ID'];
                delete row['ID']; // delete ID for easier looping for table columns
                const tr = $('<tr>'); // create a new tr element 

                // first td for dropdown
                const buttonsTd = $('<td>').addClass('ew-list-option-body w-1');
                const buttonDropdownDiv = $('<div>').addClass('btn-group btn-group-sm ew-btn-dropdown');
                const dropdownButton = $('<button>')
                    .addClass('btn-default btn dropdown-toggle')
                    .attr('type', 'button')
                    .attr('data-title', 'Options')
                    .attr('data-bs-toggle', 'dropdown')
                    .attr('data-bs-auto-close', 'true');
                const dropdownButtonIcon = $('<i>').addClass('fa-solid fa-bars ew-icon').attr('data-phrase', 'ButtonListOptions');
                const dropdownButtonIconSpan = $('<span>').addClass('visually-hidden').text('Options');
                const dropdownUl = $('<ul>').addClass('dropdown-menu ew-dropdown-menu ew-list-options');
                const firstDropdownLi = $('<li>');
                const editUrl = `${parentUrl}${tableName}Edit/${rowID}?crewID=${currentlyEditedCrewID}`;
                const editAnchor = $('<a>')
                    .addClass('ew-row-link ew-edit dropdown-item')
                    .attr('data-caption', ew.language.phrase("EditLink"))
                    .attr('href', editUrl)
                    .on('click', function(event) {
                        event.preventDefault();
                        isChangeTabApproved = true;
                        proceedToLink(editUrl);
                    });
                const editAnchorIcon = $('<i>').addClass('fa-solid fa-pen ew-icon me-2').attr('data-phrase', 'EditLink');
                const editAnchorSpan = $('<span>').addClass('visually-hidden').text(ew.language.phrase("EditLink"));
                const editAnchorText= ew.language.phrase("EditLink");
                const secondDropdownLi = $('<li>');
                const deleteAnchor = $('<a>')
                    .addClass('ew-row-link dropdown-item')
                    .attr('data-caption', ew.language.phrase("DeleteLink"))
                    .on('click', function(event) {
                        event.preventDefault();
                        $('#btn-delete').attr('crew-family-id', rowID);
                        $('#delete-modal-dialog').modal('show');
                    });
                const deleteAnchorIcon = $('<i>').addClass('fa-solid fa-trash ew-icon me-2').attr('data-phrase', 'DeleteLink');
                const deleteAnchorSpan = $('<span>').addClass('visually-hidden').text(ew.language.phrase("DeleteLink"));
                const deleteAnchorText= ew.language.phrase("DeleteLink");
                deleteAnchorIcon.append(deleteAnchorSpan);
                deleteAnchor.append(deleteAnchorIcon);
                deleteAnchor.append(deleteAnchorText);
                secondDropdownLi.append(deleteAnchor);
                editAnchorIcon.append(editAnchorSpan);
                editAnchor.append(editAnchorIcon);
                editAnchor.append(editAnchorText);
                firstDropdownLi.append(editAnchor);
                dropdownUl.append(firstDropdownLi);
                dropdownUl.append(secondDropdownLi);
                dropdownButtonIcon.append(dropdownButtonIconSpan);
                dropdownButton.append(dropdownButtonIcon);
                buttonDropdownDiv.append(dropdownButton);
                buttonDropdownDiv.append(dropdownUl);
                buttonsTd.append(buttonDropdownDiv);
                tr.append(buttonsTd);

                // second td for sequence
                const sequenceTd = $('<td>').addClass('ew-list-option-body text-nowrap').attr('data-name', 'sequence');
                const sequenceNumberString = (rowIndex + 1).toString() + '.';
                const sequenceSpan = $('<span>').text(sequenceNumberString);
                sequenceTd.append(sequenceSpan);
                tr.append(sequenceTd);

                // remaining td for each column
                for (const columnName of Object.keys(row)) {
                  const dataTd = $('<td>');
                  const columnValue = row[columnName];
                  if (
                    columnName === 'DateOfBirth'
                  ) {
                    const dataSpan = $('<span class="text-nowrap">').text(columnValue);
                    dataTd.append(dataSpan);
                  } else {
                    const dataSpan = $('<span>').text(columnValue);
                    dataTd.append(dataSpan);
                  }
                  tr.append(dataTd);
                }
                tbody.append(tr);
              }
          } else {
              const columnsCount = $('#ForAdminTable th.ew-table-header-cell').length;
              for (let rowIndex = 0; rowIndex < 3; rowIndex++) {
                const tr = $('<tr>'); // create a new tr element 

                // 1 is for buttons dropdown(for edit) column and 1 for sequence number column
                const emptyTdWithColspan = $('<td>').html('&nbsp;').attr('colspan', 2); 
                tr.append(emptyTdWithColspan);
                for (let columnIndex = 0; columnIndex < columnsCount; columnIndex++) {
                  const emptyTd = $('<td>').html('&nbsp;');
                  tr.append(emptyTd);
                }
                tbody.append(tr);
              }
          }
        } else {
          // Handle the error
          ew.showToast(response.errorMessage);
        }
      },
      error: function(xhr, textStatus, errorThrown) {
        // Handle the error
        ew.showToast(errorThrown);
      }
    });
    const genderApi = 'get-opposing-gender-for-admin';
    function getOpposingGender(value) {
        if (value === 'Spouse') {
            $.ajax({
                url: `${parentUrl}api/Registration/${genderApi}`,
                method: 'GET',
                data: {
                    crewID: currentlyEditedCrewID
                },
                success: function(response) {
                    if (response.success) {
                        // Parse the data in the response
                        const gender = response.data;
                        if (gender === 'M' || gender === 'F') {
                            $('#x_Gender').val(gender); // Select the option programatically
                            $('#x_Gender').trigger('change'); // Notify any JS components that the value changed
                        }
                    } else {
                        // Handle the error
                        ew.showToast(response.errorMessage);
                    }
                },
                error: function(xhr, textStatus, errorThrown) {
                    // Handle the error
                    ew.showToast(errorThrown);
                }
            });
        }
    }
    getOpposingGender($('#x_Relationship').select2('data')[0].id);
    $('#x_Relationship').on('select2:select', function (e) {
        const value = e.params.data.id;
        getOpposingGender(value);
    });
    const errorMessage = urlQueryParams.get('errorMessage');
    if (errorMessage !== null) {
        const decodedErrorMessage = decodeURIComponent(errorMessage);
        ew.showToast(decodedErrorMessage);
        urlQueryParams.delete('errorMessage');
        currentUrlObject.search = urlQueryParams.toString();
        history.pushState(null, '', currentUrlObject);
    }

    // AUTO SAVE WHEN MOVING FROM THIS TAB
    $(window).on('beforeunload', function(event) {
        if (!isChangeTabApproved && window[formID].modified) {
            event.preventDefault();
            event.returnValue = '';
            return '';
        }
    });
    $("#btn-proceed").click(function() {
        isChangeTabApproved = true;
        const targetUrlRelative = $(this).attr('target-url-relative');
        $('#approve-modal-dialog').modal('hide');
        proceedToLink(targetUrlRelative);
    });
    $('ul.nav.nav-tabs li.nav-item a.nav-link').on('click', function(event) {
        event.preventDefault();
        const targetUrlRelative = $(this).attr('href');
        if (window[formID].modified) {
            const validateAddEntryResult = validateAddEntry({ isAllEmptyAllowed: true });
            if (validateAddEntryResult === 'valid') {
                $('#loading-modal-dialog').modal('show');
                addEntry({ redirectUrlWhenSuccess: targetUrlRelative });
            } else if (validateAddEntryResult === 'empty') {
                isChangeTabApproved = true;
                proceedToLink(targetUrlRelative);
            } else if (validateAddEntryResult === 'invalid') {
                scrollToFirstInvalidInput();
                $('#btn-proceed').attr('target-url-relative', targetUrlRelative);
                $('#proceed-modal-dialog').modal('show');
            }
        } else {
            isChangeTabApproved = true;
            proceedToLink(targetUrlRelative);
        }
    });
    function proceedToLink(targetUrlRelative) {
        const baseUrl = new URL(window.location.href).origin;
        const targetUrl = new URL(baseUrl + targetUrlRelative);
        window.location.href = targetUrl.href;
    }
    function scrollToFirstInvalidInput() {
        const invalidInput = $("input.is-invalid:first");
        if (invalidInput.length > 0) { // Check if an invalid input is found
            const offset = invalidInput.offset().top; // Calculate the offset of the invalid input element from the top of the page
            const windowHeight = $(window).height(); // Calculate the height of the viewport
            const scrollPosition = offset - (windowHeight / 2); // Calculate the scroll position to center the invalid input element
            $("html, body").animate({ // Animate the scroll to the center position
                scrollTop: scrollPosition
            }, 1000); // Adjust the duration as needed (in milliseconds)
        }
    }
    function addEntry({ redirectUrlWhenSuccess }) {
        isChangeTabApproved = true;
        let formData = $(`form#${formID}`).serialize();
        $('input[type="checkbox"]').each(function() {
            // Jika checkbox tidak dicentang dan tidak ada di hasil serialize(),
            // tambahkan nilai 0 ke hasil serialize()
            if (!this.checked && formData.indexOf(this.name) === -1) {
                formData += '&' + this.name + '=0';
            }
        });
        $.ajax({
            url: addEntryUrl,
            type: 'POST',
            data: formData,
            success: function(res) {
                const $errorDiv = $(res).find('div.ew-error'); // res is a string containing html document
                $('#loading-modal-dialog').modal('hide');
                if ($errorDiv.length > 0) {
                    ew.showToast($errorDiv.text());
                } else {
                    proceedToLink(redirectUrlWhenSuccess);
                }
            },
            error: function(xhr, textStatus, errorThrown) {
                $('#loading-modal-dialog').modal('hide');
                isChangeTabApproved = false;
                ew.showToast(errorThrown);
            }
        });
    }
    function validateAddEntry({ isAllEmptyAllowed }) {
        let formErrorCount = 0;
        let formEmptyCount = 0;
        let isNotEmpty = true;
        const emptyFieldNames = [];
        const emptyMobileNumberFieldNames = [];
        function validateRequiredField(fieldName) {
            const fieldNameWithPrefix = `x_${fieldName}`;
            const fieldValue = $(`#${fieldNameWithPrefix}`).val();
            if (fieldValue === '' || fieldValue === null) {
                return false;
            } else {
                return true;
            }
        }
        function validateDateField(fieldName) {
            const errorMessage = (selectedLanguage.id === 'en-US') ? 'Incorrect date (dd MMM yyyy)' : 'Tanggal tidak benar (dd MMM yyyy)';
            const fieldNameWithPrefix = `x_${fieldName}`;
            const fieldValue = $(`#${fieldNameWithPrefix}`).val();
            const dateParts = fieldValue.split(' ');
            const day = parseInt(dateParts[0], 10);
            const monthNamesEnglish = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
            const monthNamesIndonesian = ['Jan', 'Feb', 'Mar', 'Apr', 'Mei', 'Jun', 'Jul', 'Agu', 'Sep', 'Okt', 'Nov', 'Des'];
            const month = (selectedLanguage.id === 'en-US') ? monthNamesEnglish.indexOf(dateParts[1]) : monthNamesIndonesian.indexOf(dateParts[1]);
            const year = parseInt(dateParts[2], 10);
            let valid = false;
            if (year >= 1900 && year <= 9999 && month >= 0 && day >= 1 && day <= 31) {
                switch (month) {
                    case 1: // February
                        // Check for leap year
                        valid = day <= (((year % 4 === 0 && year % 100 !== 0) || year % 400 === 0) ? 29 : 28);
                        break;
                    case 3: // April
                    case 5: // June
                    case 8: // September
                    case 10: // November
                        valid = day <= 30;
                        break;
                    default:
                        valid = true;
                        break;
                }
            }
            if (!valid) {
                window[formID].fields[fieldName].addError({ custom: errorMessage });
                window[formID].fields[fieldName].updateFeedback();
                window[formID].addError(fieldName, { custom: errorMessage });
                return false;
            } else {
                return true;
            }
        }
        function validateFieldWithRegex(fieldName, errorMessage, regex) {
            const fieldNameWithPrefix = `x_${fieldName}`;
            const fieldValue = $(`#${fieldNameWithPrefix}`).val();
            if (!regex.test(fieldValue)) {  
                window[formID].fields[fieldName].addError({ custom: errorMessage });
                window[formID].fields[fieldName].updateFeedback();
                window[formID].addError(fieldName, { custom: errorMessage });
                return false;
            } else {
                return true;
            }
        }
        function displayRequiredFieldError(fieldName) {
            const errorMessage = (selectedLanguage.id === 'en-US') ? "Please enter required field" : "Masukkan input yang dibutuhkan";
            const fieldNameWithPrefix = `x_${fieldName}`;
            const fieldCaption = $(`label[for=${fieldNameWithPrefix}]`).text();
            const errorMessageWithFieldName = `${errorMessage} - ${fieldCaption}`;
            window[formID].fields[fieldName].addError({ custom: errorMessageWithFieldName });
            window[formID].fields[fieldName].updateFeedback();
            window[formID].addError(fieldName, { custom: errorMessageWithFieldName });
        }
        function displayRequiredMobileNumberFieldError(fieldName) {
            const errorMessage = (selectedLanguage.id === 'en-US') ? "Must be filled" : "Harus diisi";
            window[formID].fields[fieldName].addError({ custom: errorMessage });
            window[formID].fields[fieldName].updateFeedback();
            window[formID].addError(fieldName, { custom: errorMessage });
        }
        const noDigitsRegex = /^[^0-9]+$/;
        const noDigitsRegexErrorMessage = (selectedLanguage.id === 'en-US') ? "Must not contain digits" : "Tidak boleh mengandung angka";
        const ktpNumberDigitsRegex = /^\d{16}$/;
        const ktpNumberDigitsErrorMessage = (selectedLanguage.id === 'en-US') ? "Must contain exactly 16 digits" : "Harus terdiri dari 16 digit angka";
        isNotEmpty = validateRequiredField("Relationship");
        if (!isNotEmpty) {
            formEmptyCount += 1;
            formErrorCount += 1;
            if (isAllEmptyAllowed) {
                emptyFieldNames.push("Relationship");
            } else {
                displayRequiredFieldError("Relationship");
            }
        }
        isNotEmpty = validateRequiredField("FullName");
        if (!isNotEmpty) {
            formEmptyCount += 1;
            formErrorCount += 1;
            if (isAllEmptyAllowed) {
                emptyFieldNames.push("FullName");
            } else {
                displayRequiredFieldError("FullName");
            }
        } else {
            formErrorCount += validateFieldWithRegex("FullName",  noDigitsRegexErrorMessage, noDigitsRegex) ? 0 : 1;
        }
        isNotEmpty = validateRequiredField("Gender");
        if (!isNotEmpty) {
            formEmptyCount += 1;
            formErrorCount += 1;
            if (isAllEmptyAllowed) {
                emptyFieldNames.push("Gender");
            } else {
                displayRequiredFieldError("Gender");
            }
        }
        isNotEmpty = validateRequiredField("DateOfBirth");
        if (!isNotEmpty) {
            formEmptyCount += 1;
            formErrorCount += 1;
            if (isAllEmptyAllowed) {
                emptyFieldNames.push("DateOfBirth");
            } else {
                displayRequiredFieldError("DateOfBirth");
            }
        } else {
            formErrorCount += validateDateField("DateOfBirth") ? 0 : 1;
        }
        isNotEmpty = validateRequiredField("Email");
        if (!isNotEmpty) {
            formEmptyCount += 1;
            formErrorCount += 1;
            if (isAllEmptyAllowed) {
                emptyFieldNames.push("Email");
            } else {
                displayRequiredFieldError("Email");
            }
        }
        isNotEmpty = validateRequiredField("SocialSecurityNumber");
        if (!isNotEmpty) {
            formEmptyCount += 1;
            formErrorCount += 1;
            if (isAllEmptyAllowed) {
                emptyFieldNames.push("SocialSecurityNumber");
            } else {
                displayRequiredFieldError("SocialSecurityNumber");
            }
        } else {
            formErrorCount += validateFieldWithRegex("SocialSecurityNumber", ktpNumberDigitsErrorMessage, ktpNumberDigitsRegex) ? 0 : 1;
        }
        isNotEmpty = validateRequiredField("FamilyRegisterNumber");
        if (!isNotEmpty) {
            formEmptyCount += 1;
            formErrorCount += 1;
            if (isAllEmptyAllowed) {
                emptyFieldNames.push("FamilyRegisterNumber");
            } else {
                displayRequiredFieldError("FamilyRegisterNumber");
            }
        } else {
            formErrorCount += validateFieldWithRegex("FamilyRegisterNumber", ktpNumberDigitsErrorMessage, ktpNumberDigitsRegex) ? 0 : 1;
        }
        isNotEmpty = validateRequiredField("Address");
        if (!isNotEmpty) {
            formEmptyCount += 1;
            formErrorCount += 1;
            if (isAllEmptyAllowed) {
                emptyFieldNames.push("Address");
            } else {
                displayRequiredFieldError("Address");
            }
        }
        // mobile number fields
        function isEmptyOrNull(value) {
            return (value === '' || value === null);
        }
        const mobileNumberEmptyErrorMessage = (selectedLanguage.id === 'en-US') ? "Can't be empty when filling " : "Tidak boleh kosong ketika mengisi";
        const mobileNumberWithoutCodeRegexErrorMessage = (selectedLanguage.id === 'en-US') ? "Can contain 7-20 digits only" : "Hanya boleh mengandung 7-20 angka";
        const mobileNumberWithoutCodeRegex = /^\d{7,20}$/;
        const mobileNumberCodeValue = $("#x_MobileNumberCode_CountryID").val();
        const mobileNumberWithoutCodeValue = $("#x_MobileNumber").val();
        const mobileNumberCodeCaption = (selectedLanguage.id === 'en-US') ? "country code" : "kode negara";
        const mobileNumberWithoutCodeCaption = $('label[for="x_MobileNumber"]').text();
        if (isEmptyOrNull(mobileNumberCodeValue) && isEmptyOrNull(mobileNumberWithoutCodeValue)) {
            formEmptyCount += 2;
            formErrorCount += 1;
            if (isAllEmptyAllowed) {
                emptyMobileNumberFieldNames.push("MobileNumberCode_CountryID");
                emptyMobileNumberFieldNames.push("MobileNumber");
            } else {
                displayRequiredMobileNumberFieldError("MobileNumberCode_CountryID");
                displayRequiredMobileNumberFieldError("MobileNumber");
            }
        }
        if (isEmptyOrNull(mobileNumberCodeValue) && !isEmptyOrNull(mobileNumberWithoutCodeValue)) {
            const errorMessage = `${mobileNumberEmptyErrorMessage}${mobileNumberWithoutCodeCaption}`;
            window[formID].fields["MobileNumberCode_CountryID"].addError({ custom: errorMessage });
            window[formID].fields["MobileNumberCode_CountryID"].updateFeedback();
            window[formID].addError("MobileNumberCode_CountryID", { custom: errorMessage });  
            formErrorCount += 1;
            formEmptyCount += 1;
        }
        if (!isEmptyOrNull(mobileNumberCodeValue) && isEmptyOrNull(mobileNumberWithoutCodeValue)) {
            const errorMessage = `${mobileNumberEmptyErrorMessage}${mobileNumberCodeCaption}`;
            window[formID].fields["MobileNumber"].addError({ custom: errorMessage });
            window[formID].fields["MobileNumber"].updateFeedback();
            window[formID].addError("MobileNumber", { custom: errorMessage });  
            formErrorCount += 1;
            formEmptyCount += 1;
        }
        if (!isEmptyOrNull(mobileNumberCodeValue) && !isEmptyOrNull(mobileNumberWithoutCodeValue)) {
            formErrorCount += validateFieldWithRegex("MobileNumber",  mobileNumberWithoutCodeRegexErrorMessage, mobileNumberWithoutCodeRegex) ? 0 : 1;
        }
        if (formEmptyCount === 10) {
            return 'empty';
        }
        if (emptyFieldNames.length > 0) {
            for (const fieldName of emptyFieldNames) {
                displayRequiredFieldError(fieldName);
            }
        }
        if (emptyMobileNumberFieldNames.length > 0) {
            for (const fieldName of emptyMobileNumberFieldNames) {
                displayRequiredMobileNumberFieldError(fieldName);
            }
        }
        if (formErrorCount > 0) {
            return 'invalid';
        } else {
            return 'valid';
        }
    }

    // gmandayu: notification need to read.
    const getUnreadNotificationUrl = `${parentUrl}api/Notification/unread-notification`;
    function loadPage() {
        $.ajax({
            url: getUnreadNotificationUrl,
            method: 'GET',
            success: function(response) {
                const notificationIcon = document.querySelector('.nav-icon.fa-bell');
                if(response.success)
                {
                    notificationIcon.classList.add('animate');
                }
                else 
                {
                    notificationIcon.classList.remove('animate');
                }
            },
            error: function(xhr, textStatus, errorThrown) {
                console.error('Kesalahan saat memuat notifikasi:', errorThrown);
            }
        });
    }
    $(document).ready(function() {
        loadPage();
    });
});
</script>
