@{
    // View
    View = this;

    // Check action result
    if (crewBankAccountForAdminViewModeSearch.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!crewBankAccountForAdminViewModeSearch.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(crewBankAccountForAdminViewModeSearch.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { CrewBankAccountForAdminViewMode: currentTable } });
var currentPageID = ew.PAGE_ID = "search";
var currentForm;
var fCrewBankAccountForAdminViewModesearch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fCrewBankAccountForAdminViewModesearch")
        .setPageId("search")
@if (crewBankAccountForAdminViewModeSearch.IsModal && crewBankAccountForAdminViewModeSearch.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Add fields
        .setFields([

            ["AccountNumber", [], fields.AccountNumber.isInvalid],
            ["Beneficiary", [], fields.Beneficiary.isInvalid],
            ["MTCurrencyID", [], fields.MTCurrencyID.isInvalid],
            ["MainAcc", [], fields.MainAcc.isInvalid],
            ["Attachment", [], fields.Attachment.isInvalid],
            ["CreatedByUserID", [ew.Validators.integer], fields.CreatedByUserID.isInvalid],
            ["CreatedDateTime", [ew.Validators.datetime(fields.CreatedDateTime.clientFormatPattern)], fields.CreatedDateTime.isInvalid],
            ["LastUpdatedByUserID", [ew.Validators.integer], fields.LastUpdatedByUserID.isInvalid],
            ["LastUpdatedDateTime", [ew.Validators.datetime(fields.LastUpdatedDateTime.clientFormatPattern)], fields.LastUpdatedDateTime.isInvalid],
            ["MTCrewID", [], fields.MTCrewID.isInvalid],
            ["MTBankID", [], fields.MTBankID.isInvalid],
            ["OtherBankName", [], fields.OtherBankName.isInvalid]
        ])
        // Validate form
        .setValidate(
            async function () {
                if (!this.validateRequired)
                    return true; // Ignore validation
                let fobj = this.getForm();

                // Validate fields
                if (!this.validateFields())
                    return false;

                // Call Form_CustomValidate event
                if (!(await this.customValidate?.(fobj) ?? true)) {
                    this.focus();
                    return false;
                }
                return true;
            }
        )

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "MTCurrencyID": @Html.Raw(crewBankAccountForAdminViewModeSearch.MTCurrencyID.ToClientList(crewBankAccountForAdminViewModeSearch)),
            "MainAcc": @Html.Raw(crewBankAccountForAdminViewModeSearch.MainAcc.ToClientList(crewBankAccountForAdminViewModeSearch)),
            "MTBankID": @Html.Raw(crewBankAccountForAdminViewModeSearch.MTBankID.ToClientList(crewBankAccountForAdminViewModeSearch)),
        })
        .build();
    window[form.id] = form;
@if (crewBankAccountForAdminViewModeSearch.IsModal) {
    <text>currentAdvancedSearchForm = form;</text>
} else {
    <text>currentForm = form;</text>
}
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@crewBankAccountForAdminViewModeSearch.ShowPageHeader()
@crewBankAccountForAdminViewModeSearch.ShowMessages()
<form name="fCrewBankAccountForAdminViewModesearch" id="fCrewBankAccountForAdminViewModesearch" class="@(crewBankAccountForAdminViewModeSearch.FormClassName)" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="search">
@if (crewBankAccountForAdminViewModeSearch.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div class="ew-search-div"><!-- page* -->
@if (crewBankAccountForAdminViewModeSearch.AccountNumber.Visible) { // crewBankAccountForAdminViewModeSearch.AccountNumber.Visible (begin)
    <div id="r_AccountNumber" class="row" @Html.Raw(crewBankAccountForAdminViewModeSearch.AccountNumber.RowAttributes)>
        <label for="x_AccountNumber" class="@(crewBankAccountForAdminViewModeSearch.LeftColumnClass)"><span id="elh_CrewBankAccountForAdminViewMode_AccountNumber">@Html.Raw(crewBankAccountForAdminViewModeSearch.AccountNumber.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("LIKE"))
<input type="hidden" name="z_AccountNumber" id="z_AccountNumber" value="LIKE">
</span>
        </label>
        <div class="@(crewBankAccountForAdminViewModeSearch.RightColumnClass)">
            <div @Html.Raw(crewBankAccountForAdminViewModeSearch.AccountNumber.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_CrewBankAccountForAdminViewMode_AccountNumber" class="ew-search-field ew-search-field-single">
<input type="@(crewBankAccountForAdminViewModeSearch.AccountNumber.InputTextType)" name="x_AccountNumber" id="x_AccountNumber" data-table="CrewBankAccountForAdminViewMode" data-field="x_AccountNumber" value="@Html.Raw(crewBankAccountForAdminViewModeSearch.AccountNumber.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(crewBankAccountForAdminViewModeSearch.AccountNumber.PlaceHolder))" data-format-pattern="@(crewBankAccountForAdminViewModeSearch.AccountNumber.FormatPattern)"@Html.Raw(crewBankAccountForAdminViewModeSearch.AccountNumber.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(crewBankAccountForAdminViewModeSearch.AccountNumber.GetErrorMessage(false))</div>
</span>
                </div>
            </div>
        </div>
    </div>
} @* crewBankAccountForAdminViewModeSearch.AccountNumber.Visible (end) *@
@if (crewBankAccountForAdminViewModeSearch.Beneficiary.Visible) { // crewBankAccountForAdminViewModeSearch.Beneficiary.Visible (begin)
    <div id="r_Beneficiary" class="row" @Html.Raw(crewBankAccountForAdminViewModeSearch.Beneficiary.RowAttributes)>
        <label for="x_Beneficiary" class="@(crewBankAccountForAdminViewModeSearch.LeftColumnClass)"><span id="elh_CrewBankAccountForAdminViewMode_Beneficiary">@Html.Raw(crewBankAccountForAdminViewModeSearch.Beneficiary.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("LIKE"))
<input type="hidden" name="z_Beneficiary" id="z_Beneficiary" value="LIKE">
</span>
        </label>
        <div class="@(crewBankAccountForAdminViewModeSearch.RightColumnClass)">
            <div @Html.Raw(crewBankAccountForAdminViewModeSearch.Beneficiary.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_CrewBankAccountForAdminViewMode_Beneficiary" class="ew-search-field ew-search-field-single">
<input type="@(crewBankAccountForAdminViewModeSearch.Beneficiary.InputTextType)" name="x_Beneficiary" id="x_Beneficiary" data-table="CrewBankAccountForAdminViewMode" data-field="x_Beneficiary" value="@Html.Raw(crewBankAccountForAdminViewModeSearch.Beneficiary.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(crewBankAccountForAdminViewModeSearch.Beneficiary.PlaceHolder))" data-format-pattern="@(crewBankAccountForAdminViewModeSearch.Beneficiary.FormatPattern)"@Html.Raw(crewBankAccountForAdminViewModeSearch.Beneficiary.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(crewBankAccountForAdminViewModeSearch.Beneficiary.GetErrorMessage(false))</div>
</span>
                </div>
            </div>
        </div>
    </div>
} @* crewBankAccountForAdminViewModeSearch.Beneficiary.Visible (end) *@
@if (crewBankAccountForAdminViewModeSearch.MTCurrencyID.Visible) { // crewBankAccountForAdminViewModeSearch.MTCurrencyID.Visible (begin)
    <div id="r_MTCurrencyID" class="row" @Html.Raw(crewBankAccountForAdminViewModeSearch.MTCurrencyID.RowAttributes)>
        <label for="x_MTCurrencyID" class="@(crewBankAccountForAdminViewModeSearch.LeftColumnClass)"><span id="elh_CrewBankAccountForAdminViewMode_MTCurrencyID">@Html.Raw(crewBankAccountForAdminViewModeSearch.MTCurrencyID.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("="))
<input type="hidden" name="z_MTCurrencyID" id="z_MTCurrencyID" value="=">
</span>
        </label>
        <div class="@(crewBankAccountForAdminViewModeSearch.RightColumnClass)">
            <div @Html.Raw(crewBankAccountForAdminViewModeSearch.MTCurrencyID.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_CrewBankAccountForAdminViewMode_MTCurrencyID" class="ew-search-field ew-search-field-single">
    <select
        id="x_MTCurrencyID"
        name="x_MTCurrencyID"
        class="form-select ew-select@(crewBankAccountForAdminViewModeSearch.MTCurrencyID.IsInvalidClass)"
        data-select2-id="fCrewBankAccountForAdminViewModesearch_x_MTCurrencyID"
        data-table="CrewBankAccountForAdminViewMode"
        data-field="x_MTCurrencyID"
        data-value-separator="@(crewBankAccountForAdminViewModeSearch.MTCurrencyID.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(crewBankAccountForAdminViewModeSearch.MTCurrencyID.PlaceHolder))"
        @Html.Raw(crewBankAccountForAdminViewModeSearch.MTCurrencyID.EditAttributes)>
        @(crewBankAccountForAdminViewModeSearch.MTCurrencyID.SelectOptionListHtml("x_MTCurrencyID"))
    </select>
    <div class="invalid-feedback">@Html.Raw(crewBankAccountForAdminViewModeSearch.MTCurrencyID.GetErrorMessage(false))</div>
@Html.Raw(crewBankAccountForAdminViewModeSearch.MTCurrencyID.Lookup.GetParamTag(crewBankAccountForAdminViewModeSearch, "p_x_MTCurrencyID"))
<script>
loadjs.ready("fCrewBankAccountForAdminViewModesearch", function() {
    var options = { name: "x_MTCurrencyID", selectId: "fCrewBankAccountForAdminViewModesearch_x_MTCurrencyID" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fCrewBankAccountForAdminViewModesearch.lists.MTCurrencyID?.lookupOptions.length) {
        options.data = { id: "x_MTCurrencyID", form: "fCrewBankAccountForAdminViewModesearch" };
    } else {
        options.ajax = { id: "x_MTCurrencyID", form: "fCrewBankAccountForAdminViewModesearch", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumInputLength = ew.selectMinimumInputLength;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.CrewBankAccountForAdminViewMode.fields.MTCurrencyID.selectOptions);
    ew.createSelect(options);
});
</script>
</span>
                </div>
            </div>
        </div>
    </div>
} @* crewBankAccountForAdminViewModeSearch.MTCurrencyID.Visible (end) *@
@if (crewBankAccountForAdminViewModeSearch.MainAcc.Visible) { // crewBankAccountForAdminViewModeSearch.MainAcc.Visible (begin)
    <div id="r_MainAcc" class="row" @Html.Raw(crewBankAccountForAdminViewModeSearch.MainAcc.RowAttributes)>
        <label class="@(crewBankAccountForAdminViewModeSearch.LeftColumnClass)"><span id="elh_CrewBankAccountForAdminViewMode_MainAcc">@Html.Raw(crewBankAccountForAdminViewModeSearch.MainAcc.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("="))
<input type="hidden" name="z_MainAcc" id="z_MainAcc" value="=">
</span>
        </label>
        <div class="@(crewBankAccountForAdminViewModeSearch.RightColumnClass)">
            <div @Html.Raw(crewBankAccountForAdminViewModeSearch.MainAcc.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_CrewBankAccountForAdminViewMode_MainAcc" class="ew-search-field ew-search-field-single">
<div class="form-check d-inline-block">
    <input type="checkbox" class="form-check-input@(crewBankAccountForAdminViewModeSearch.MainAcc.IsInvalidClass)" data-table="CrewBankAccountForAdminViewMode" data-field="x_MainAcc" data-boolean name="x_MainAcc" id="x_MainAcc" value="1" checked="@ConvertToBool(crewBankAccountForAdminViewModeSearch.MainAcc.AdvancedSearch.SearchValue)" @Html.Raw(crewBankAccountForAdminViewModeSearch.MainAcc.EditAttributes)>
    <div class="invalid-feedback">@Html.Raw(crewBankAccountForAdminViewModeSearch.MainAcc.GetErrorMessage(false))</div>
</div>
</span>
                </div>
            </div>
        </div>
    </div>
} @* crewBankAccountForAdminViewModeSearch.MainAcc.Visible (end) *@
@if (crewBankAccountForAdminViewModeSearch.Attachment.Visible) { // crewBankAccountForAdminViewModeSearch.Attachment.Visible (begin)
    <div id="r_Attachment" class="row" @Html.Raw(crewBankAccountForAdminViewModeSearch.Attachment.RowAttributes)>
        <label class="@(crewBankAccountForAdminViewModeSearch.LeftColumnClass)"><span id="elh_CrewBankAccountForAdminViewMode_Attachment">@Html.Raw(crewBankAccountForAdminViewModeSearch.Attachment.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("LIKE"))
<input type="hidden" name="z_Attachment" id="z_Attachment" value="LIKE">
</span>
        </label>
        <div class="@(crewBankAccountForAdminViewModeSearch.RightColumnClass)">
            <div @Html.Raw(crewBankAccountForAdminViewModeSearch.Attachment.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_CrewBankAccountForAdminViewMode_Attachment" class="ew-search-field ew-search-field-single">
<input type="@(crewBankAccountForAdminViewModeSearch.Attachment.InputTextType)" name="x_Attachment" id="x_Attachment" data-table="CrewBankAccountForAdminViewMode" data-field="x_Attachment" value="@Html.Raw(crewBankAccountForAdminViewModeSearch.Attachment.EditValue)" size="30" maxlength="150" placeholder="@Html.Raw(HtmlEncode(crewBankAccountForAdminViewModeSearch.Attachment.PlaceHolder))" data-format-pattern="@(crewBankAccountForAdminViewModeSearch.Attachment.FormatPattern)"@Html.Raw(crewBankAccountForAdminViewModeSearch.Attachment.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(crewBankAccountForAdminViewModeSearch.Attachment.GetErrorMessage(false))</div>
</span>
                </div>
            </div>
        </div>
    </div>
} @* crewBankAccountForAdminViewModeSearch.Attachment.Visible (end) *@
@if (crewBankAccountForAdminViewModeSearch.CreatedByUserID.Visible) { // crewBankAccountForAdminViewModeSearch.CreatedByUserID.Visible (begin)
    <div id="r_CreatedByUserID" class="row" @Html.Raw(crewBankAccountForAdminViewModeSearch.CreatedByUserID.RowAttributes)>
        <label for="x_CreatedByUserID" class="@(crewBankAccountForAdminViewModeSearch.LeftColumnClass)"><span id="elh_CrewBankAccountForAdminViewMode_CreatedByUserID">@Html.Raw(crewBankAccountForAdminViewModeSearch.CreatedByUserID.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("="))
<input type="hidden" name="z_CreatedByUserID" id="z_CreatedByUserID" value="=">
</span>
        </label>
        <div class="@(crewBankAccountForAdminViewModeSearch.RightColumnClass)">
            <div @Html.Raw(crewBankAccountForAdminViewModeSearch.CreatedByUserID.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_CrewBankAccountForAdminViewMode_CreatedByUserID" class="ew-search-field ew-search-field-single">
<input type="@(crewBankAccountForAdminViewModeSearch.CreatedByUserID.InputTextType)" name="x_CreatedByUserID" id="x_CreatedByUserID" data-table="CrewBankAccountForAdminViewMode" data-field="x_CreatedByUserID" value="@Html.Raw(crewBankAccountForAdminViewModeSearch.CreatedByUserID.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(crewBankAccountForAdminViewModeSearch.CreatedByUserID.PlaceHolder))" data-format-pattern="@(crewBankAccountForAdminViewModeSearch.CreatedByUserID.FormatPattern)"@Html.Raw(crewBankAccountForAdminViewModeSearch.CreatedByUserID.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(crewBankAccountForAdminViewModeSearch.CreatedByUserID.GetErrorMessage(false))</div>
</span>
                </div>
            </div>
        </div>
    </div>
} @* crewBankAccountForAdminViewModeSearch.CreatedByUserID.Visible (end) *@
@if (crewBankAccountForAdminViewModeSearch.CreatedDateTime.Visible) { // crewBankAccountForAdminViewModeSearch.CreatedDateTime.Visible (begin)
    <div id="r_CreatedDateTime" class="row" @Html.Raw(crewBankAccountForAdminViewModeSearch.CreatedDateTime.RowAttributes)>
        <label for="x_CreatedDateTime" class="@(crewBankAccountForAdminViewModeSearch.LeftColumnClass)"><span id="elh_CrewBankAccountForAdminViewMode_CreatedDateTime">@Html.Raw(crewBankAccountForAdminViewModeSearch.CreatedDateTime.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("="))
<input type="hidden" name="z_CreatedDateTime" id="z_CreatedDateTime" value="=">
</span>
        </label>
        <div class="@(crewBankAccountForAdminViewModeSearch.RightColumnClass)">
            <div @Html.Raw(crewBankAccountForAdminViewModeSearch.CreatedDateTime.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_CrewBankAccountForAdminViewMode_CreatedDateTime" class="ew-search-field ew-search-field-single">
<input type="@(crewBankAccountForAdminViewModeSearch.CreatedDateTime.InputTextType)" name="x_CreatedDateTime" id="x_CreatedDateTime" data-table="CrewBankAccountForAdminViewMode" data-field="x_CreatedDateTime" value="@Html.Raw(crewBankAccountForAdminViewModeSearch.CreatedDateTime.EditValue)" placeholder="@Html.Raw(HtmlEncode(crewBankAccountForAdminViewModeSearch.CreatedDateTime.PlaceHolder))" data-format-pattern="@(crewBankAccountForAdminViewModeSearch.CreatedDateTime.FormatPattern)"@Html.Raw(crewBankAccountForAdminViewModeSearch.CreatedDateTime.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(crewBankAccountForAdminViewModeSearch.CreatedDateTime.GetErrorMessage(false))</div>
@if (!crewBankAccountForAdminViewModeSearch.CreatedDateTime.ReadOnly && !crewBankAccountForAdminViewModeSearch.CreatedDateTime.Disabled && !crewBankAccountForAdminViewModeSearch.CreatedDateTime.EditAttrs.Is("readonly") && !crewBankAccountForAdminViewModeSearch.CreatedDateTime.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fCrewBankAccountForAdminViewModesearch", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(1))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fCrewBankAccountForAdminViewModesearch", "x_CreatedDateTime", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
                </div>
            </div>
        </div>
    </div>
} @* crewBankAccountForAdminViewModeSearch.CreatedDateTime.Visible (end) *@
@if (crewBankAccountForAdminViewModeSearch.LastUpdatedByUserID.Visible) { // crewBankAccountForAdminViewModeSearch.LastUpdatedByUserID.Visible (begin)
    <div id="r_LastUpdatedByUserID" class="row" @Html.Raw(crewBankAccountForAdminViewModeSearch.LastUpdatedByUserID.RowAttributes)>
        <label for="x_LastUpdatedByUserID" class="@(crewBankAccountForAdminViewModeSearch.LeftColumnClass)"><span id="elh_CrewBankAccountForAdminViewMode_LastUpdatedByUserID">@Html.Raw(crewBankAccountForAdminViewModeSearch.LastUpdatedByUserID.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("="))
<input type="hidden" name="z_LastUpdatedByUserID" id="z_LastUpdatedByUserID" value="=">
</span>
        </label>
        <div class="@(crewBankAccountForAdminViewModeSearch.RightColumnClass)">
            <div @Html.Raw(crewBankAccountForAdminViewModeSearch.LastUpdatedByUserID.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_CrewBankAccountForAdminViewMode_LastUpdatedByUserID" class="ew-search-field ew-search-field-single">
<input type="@(crewBankAccountForAdminViewModeSearch.LastUpdatedByUserID.InputTextType)" name="x_LastUpdatedByUserID" id="x_LastUpdatedByUserID" data-table="CrewBankAccountForAdminViewMode" data-field="x_LastUpdatedByUserID" value="@Html.Raw(crewBankAccountForAdminViewModeSearch.LastUpdatedByUserID.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(crewBankAccountForAdminViewModeSearch.LastUpdatedByUserID.PlaceHolder))" data-format-pattern="@(crewBankAccountForAdminViewModeSearch.LastUpdatedByUserID.FormatPattern)"@Html.Raw(crewBankAccountForAdminViewModeSearch.LastUpdatedByUserID.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(crewBankAccountForAdminViewModeSearch.LastUpdatedByUserID.GetErrorMessage(false))</div>
</span>
                </div>
            </div>
        </div>
    </div>
} @* crewBankAccountForAdminViewModeSearch.LastUpdatedByUserID.Visible (end) *@
@if (crewBankAccountForAdminViewModeSearch.LastUpdatedDateTime.Visible) { // crewBankAccountForAdminViewModeSearch.LastUpdatedDateTime.Visible (begin)
    <div id="r_LastUpdatedDateTime" class="row" @Html.Raw(crewBankAccountForAdminViewModeSearch.LastUpdatedDateTime.RowAttributes)>
        <label for="x_LastUpdatedDateTime" class="@(crewBankAccountForAdminViewModeSearch.LeftColumnClass)"><span id="elh_CrewBankAccountForAdminViewMode_LastUpdatedDateTime">@Html.Raw(crewBankAccountForAdminViewModeSearch.LastUpdatedDateTime.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("="))
<input type="hidden" name="z_LastUpdatedDateTime" id="z_LastUpdatedDateTime" value="=">
</span>
        </label>
        <div class="@(crewBankAccountForAdminViewModeSearch.RightColumnClass)">
            <div @Html.Raw(crewBankAccountForAdminViewModeSearch.LastUpdatedDateTime.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_CrewBankAccountForAdminViewMode_LastUpdatedDateTime" class="ew-search-field ew-search-field-single">
<input type="@(crewBankAccountForAdminViewModeSearch.LastUpdatedDateTime.InputTextType)" name="x_LastUpdatedDateTime" id="x_LastUpdatedDateTime" data-table="CrewBankAccountForAdminViewMode" data-field="x_LastUpdatedDateTime" value="@Html.Raw(crewBankAccountForAdminViewModeSearch.LastUpdatedDateTime.EditValue)" placeholder="@Html.Raw(HtmlEncode(crewBankAccountForAdminViewModeSearch.LastUpdatedDateTime.PlaceHolder))" data-format-pattern="@(crewBankAccountForAdminViewModeSearch.LastUpdatedDateTime.FormatPattern)"@Html.Raw(crewBankAccountForAdminViewModeSearch.LastUpdatedDateTime.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(crewBankAccountForAdminViewModeSearch.LastUpdatedDateTime.GetErrorMessage(false))</div>
@if (!crewBankAccountForAdminViewModeSearch.LastUpdatedDateTime.ReadOnly && !crewBankAccountForAdminViewModeSearch.LastUpdatedDateTime.Disabled && !crewBankAccountForAdminViewModeSearch.LastUpdatedDateTime.EditAttrs.Is("readonly") && !crewBankAccountForAdminViewModeSearch.LastUpdatedDateTime.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fCrewBankAccountForAdminViewModesearch", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(1))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fCrewBankAccountForAdminViewModesearch", "x_LastUpdatedDateTime", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
                </div>
            </div>
        </div>
    </div>
} @* crewBankAccountForAdminViewModeSearch.LastUpdatedDateTime.Visible (end) *@
@if (crewBankAccountForAdminViewModeSearch.MTCrewID.Visible) { // crewBankAccountForAdminViewModeSearch.MTCrewID.Visible (begin)
    <div id="r_MTCrewID" class="row" @Html.Raw(crewBankAccountForAdminViewModeSearch.MTCrewID.RowAttributes)>
        <label for="x_MTCrewID" class="@(crewBankAccountForAdminViewModeSearch.LeftColumnClass)"><span id="elh_CrewBankAccountForAdminViewMode_MTCrewID">@Html.Raw(crewBankAccountForAdminViewModeSearch.MTCrewID.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("="))
<input type="hidden" name="z_MTCrewID" id="z_MTCrewID" value="=">
</span>
        </label>
        <div class="@(crewBankAccountForAdminViewModeSearch.RightColumnClass)">
            <div @Html.Raw(crewBankAccountForAdminViewModeSearch.MTCrewID.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_CrewBankAccountForAdminViewMode_MTCrewID" class="ew-search-field ew-search-field-single">
<input type="@(crewBankAccountForAdminViewModeSearch.MTCrewID.InputTextType)" name="x_MTCrewID" id="x_MTCrewID" data-table="CrewBankAccountForAdminViewMode" data-field="x_MTCrewID" value="@Html.Raw(crewBankAccountForAdminViewModeSearch.MTCrewID.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(crewBankAccountForAdminViewModeSearch.MTCrewID.PlaceHolder))" data-format-pattern="@(crewBankAccountForAdminViewModeSearch.MTCrewID.FormatPattern)"@Html.Raw(crewBankAccountForAdminViewModeSearch.MTCrewID.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(crewBankAccountForAdminViewModeSearch.MTCrewID.GetErrorMessage(false))</div>
</span>
                </div>
            </div>
        </div>
    </div>
} @* crewBankAccountForAdminViewModeSearch.MTCrewID.Visible (end) *@
@if (crewBankAccountForAdminViewModeSearch.MTBankID.Visible) { // crewBankAccountForAdminViewModeSearch.MTBankID.Visible (begin)
    <div id="r_MTBankID" class="row" @Html.Raw(crewBankAccountForAdminViewModeSearch.MTBankID.RowAttributes)>
        <label for="x_MTBankID" class="@(crewBankAccountForAdminViewModeSearch.LeftColumnClass)"><span id="elh_CrewBankAccountForAdminViewMode_MTBankID">@Html.Raw(crewBankAccountForAdminViewModeSearch.MTBankID.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("="))
<input type="hidden" name="z_MTBankID" id="z_MTBankID" value="=">
</span>
        </label>
        <div class="@(crewBankAccountForAdminViewModeSearch.RightColumnClass)">
            <div @Html.Raw(crewBankAccountForAdminViewModeSearch.MTBankID.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_CrewBankAccountForAdminViewMode_MTBankID" class="ew-search-field ew-search-field-single">
    <select
        id="x_MTBankID"
        name="x_MTBankID"
        class="form-select ew-select@(crewBankAccountForAdminViewModeSearch.MTBankID.IsInvalidClass)"
        data-select2-id="fCrewBankAccountForAdminViewModesearch_x_MTBankID"
        data-table="CrewBankAccountForAdminViewMode"
        data-field="x_MTBankID"
        data-value-separator="@(crewBankAccountForAdminViewModeSearch.MTBankID.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(crewBankAccountForAdminViewModeSearch.MTBankID.PlaceHolder))"
        @Html.Raw(crewBankAccountForAdminViewModeSearch.MTBankID.EditAttributes)>
        @(crewBankAccountForAdminViewModeSearch.MTBankID.SelectOptionListHtml("x_MTBankID"))
    </select>
    <div class="invalid-feedback">@Html.Raw(crewBankAccountForAdminViewModeSearch.MTBankID.GetErrorMessage(false))</div>
@Html.Raw(crewBankAccountForAdminViewModeSearch.MTBankID.Lookup.GetParamTag(crewBankAccountForAdminViewModeSearch, "p_x_MTBankID"))
<script>
loadjs.ready("fCrewBankAccountForAdminViewModesearch", function() {
    var options = { name: "x_MTBankID", selectId: "fCrewBankAccountForAdminViewModesearch_x_MTBankID" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fCrewBankAccountForAdminViewModesearch.lists.MTBankID?.lookupOptions.length) {
        options.data = { id: "x_MTBankID", form: "fCrewBankAccountForAdminViewModesearch" };
    } else {
        options.ajax = { id: "x_MTBankID", form: "fCrewBankAccountForAdminViewModesearch", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumResultsForSearch = Infinity;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.CrewBankAccountForAdminViewMode.fields.MTBankID.selectOptions);
    ew.createSelect(options);
});
</script>
</span>
                </div>
            </div>
        </div>
    </div>
} @* crewBankAccountForAdminViewModeSearch.MTBankID.Visible (end) *@
@if (crewBankAccountForAdminViewModeSearch.OtherBankName.Visible) { // crewBankAccountForAdminViewModeSearch.OtherBankName.Visible (begin)
    <div id="r_OtherBankName" class="row" @Html.Raw(crewBankAccountForAdminViewModeSearch.OtherBankName.RowAttributes)>
        <label for="x_OtherBankName" class="@(crewBankAccountForAdminViewModeSearch.LeftColumnClass)"><span id="elh_CrewBankAccountForAdminViewMode_OtherBankName">@Html.Raw(crewBankAccountForAdminViewModeSearch.OtherBankName.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("LIKE"))
<input type="hidden" name="z_OtherBankName" id="z_OtherBankName" value="LIKE">
</span>
        </label>
        <div class="@(crewBankAccountForAdminViewModeSearch.RightColumnClass)">
            <div @Html.Raw(crewBankAccountForAdminViewModeSearch.OtherBankName.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_CrewBankAccountForAdminViewMode_OtherBankName" class="ew-search-field ew-search-field-single">
<input type="@(crewBankAccountForAdminViewModeSearch.OtherBankName.InputTextType)" name="x_OtherBankName" id="x_OtherBankName" data-table="CrewBankAccountForAdminViewMode" data-field="x_OtherBankName" value="@Html.Raw(crewBankAccountForAdminViewModeSearch.OtherBankName.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(crewBankAccountForAdminViewModeSearch.OtherBankName.PlaceHolder))" data-format-pattern="@(crewBankAccountForAdminViewModeSearch.OtherBankName.FormatPattern)"@Html.Raw(crewBankAccountForAdminViewModeSearch.OtherBankName.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(crewBankAccountForAdminViewModeSearch.OtherBankName.GetErrorMessage(false))</div>
</span>
                </div>
            </div>
        </div>
    </div>
} @* crewBankAccountForAdminViewModeSearch.OtherBankName.Visible (end) *@
</div><!-- /page* -->
@Html.Raw(crewBankAccountForAdminViewModeSearch.IsModal ? Html.Raw("<template class=\"ew-modal-buttons\">") : Html.Raw("<div class=\"row ew-buttons\">"))<!-- buttons .row -->
    <div class="@(crewBankAccountForAdminViewModeSearch.OffsetColumnClass)"><!-- buttons offset -->
        <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fCrewBankAccountForAdminViewModesearch">@Html.Raw(Language.Phrase("Search"))</button>
@if (crewBankAccountForAdminViewModeSearch.IsModal) {
        <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fCrewBankAccountForAdminViewModesearch">@Html.Raw(Language.Phrase("Cancel"))</button>
} else {
        <button class="btn btn-default ew-btn" name="btn-reset" id="btn-reset" type="button" form="fCrewBankAccountForAdminViewModesearch" data-ew-action="reload">@Html.Raw(Language.Phrase("Reset"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(crewBankAccountForAdminViewModeSearch.IsModal ? Html.Raw("</template>") : Html.Raw("</div>"))<!-- /buttons .row -->
</form>
@crewBankAccountForAdminViewModeSearch.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("CrewBankAccountForAdminViewMode");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
