@{
    // View
    View = this;

    // Check action result
    if (crewMedicalHistoryForAdminViewModeView.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!crewMedicalHistoryForAdminViewModeView.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
@if (!crewMedicalHistoryForAdminViewModeView.IsExport()) {
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!crewMedicalHistoryForAdminViewModeView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @crewMedicalHistoryForAdminViewModeView.ExportOptions.RenderBody()
    @crewMedicalHistoryForAdminViewModeView.OtherOptions.RenderBody()
</div>
}
@crewMedicalHistoryForAdminViewModeView.ShowPageHeader()
@crewMedicalHistoryForAdminViewModeView.ShowMessages()
<main class="view">
<form name="fCrewMedicalHistoryForAdminViewModeview" id="fCrewMedicalHistoryForAdminViewModeview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (!crewMedicalHistoryForAdminViewModeView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(crewMedicalHistoryForAdminViewModeView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { CrewMedicalHistoryForAdminViewMode: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fCrewMedicalHistoryForAdminViewModeview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fCrewMedicalHistoryForAdminViewModeview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
}
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(crewMedicalHistoryForAdminViewModeView.IsModal)">
<table class="@(crewMedicalHistoryForAdminViewModeView.TableClass)">
@if (crewMedicalHistoryForAdminViewModeView.MTCrewID.Visible) { // crewMedicalHistoryForAdminViewModeView.MTCrewID.Visible (begin)
    <tr id="r_MTCrewID" @Html.Raw(crewMedicalHistoryForAdminViewModeView.MTCrewID.RowAttributes)>
        <td class="@(crewMedicalHistoryForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewMedicalHistoryForAdminViewMode_MTCrewID"><template id="tpc_CrewMedicalHistoryForAdminViewMode_MTCrewID">@Html.Raw(crewMedicalHistoryForAdminViewModeView.MTCrewID.Caption)</template></span></td>
        <td data-name="MTCrewID" @Html.Raw(crewMedicalHistoryForAdminViewModeView.MTCrewID.CellAttributes)>
<template id="tpx_CrewMedicalHistoryForAdminViewMode_MTCrewID"><span id="el_CrewMedicalHistoryForAdminViewMode_MTCrewID">
<span @Html.Raw(crewMedicalHistoryForAdminViewModeView.MTCrewID.ViewAttributes)>
@Html.Raw(crewMedicalHistoryForAdminViewModeView.MTCrewID.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewMedicalHistoryForAdminViewModeView.MTCrewID.Visible (end) *@
@if (crewMedicalHistoryForAdminViewModeView._Type.Visible) { // crewMedicalHistoryForAdminViewModeView._Type.Visible (begin)
    <tr id="r__Type" @Html.Raw(crewMedicalHistoryForAdminViewModeView._Type.RowAttributes)>
        <td class="@(crewMedicalHistoryForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewMedicalHistoryForAdminViewMode__Type"><template id="tpc_CrewMedicalHistoryForAdminViewMode__Type">@Html.Raw(crewMedicalHistoryForAdminViewModeView._Type.Caption)</template></span></td>
        <td data-name="_Type" @Html.Raw(crewMedicalHistoryForAdminViewModeView._Type.CellAttributes)>
<template id="tpx_CrewMedicalHistoryForAdminViewMode__Type"><span id="el_CrewMedicalHistoryForAdminViewMode__Type">
<span @Html.Raw(crewMedicalHistoryForAdminViewModeView._Type.ViewAttributes)>
@Html.Raw(crewMedicalHistoryForAdminViewModeView._Type.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewMedicalHistoryForAdminViewModeView._Type.Visible (end) *@
@if (crewMedicalHistoryForAdminViewModeView.VesselName.Visible) { // crewMedicalHistoryForAdminViewModeView.VesselName.Visible (begin)
    <tr id="r_VesselName" @Html.Raw(crewMedicalHistoryForAdminViewModeView.VesselName.RowAttributes)>
        <td class="@(crewMedicalHistoryForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewMedicalHistoryForAdminViewMode_VesselName"><template id="tpc_CrewMedicalHistoryForAdminViewMode_VesselName">@Html.Raw(crewMedicalHistoryForAdminViewModeView.VesselName.Caption)</template></span></td>
        <td data-name="VesselName" @Html.Raw(crewMedicalHistoryForAdminViewModeView.VesselName.CellAttributes)>
<template id="tpx_CrewMedicalHistoryForAdminViewMode_VesselName"><span id="el_CrewMedicalHistoryForAdminViewMode_VesselName">
<span @Html.Raw(crewMedicalHistoryForAdminViewModeView.VesselName.ViewAttributes)>
@Html.Raw(crewMedicalHistoryForAdminViewModeView.VesselName.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewMedicalHistoryForAdminViewModeView.VesselName.Visible (end) *@
@if (crewMedicalHistoryForAdminViewModeView.DateOccurence.Visible) { // crewMedicalHistoryForAdminViewModeView.DateOccurence.Visible (begin)
    <tr id="r_DateOccurence" @Html.Raw(crewMedicalHistoryForAdminViewModeView.DateOccurence.RowAttributes)>
        <td class="@(crewMedicalHistoryForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewMedicalHistoryForAdminViewMode_DateOccurence"><template id="tpc_CrewMedicalHistoryForAdminViewMode_DateOccurence">@Html.Raw(crewMedicalHistoryForAdminViewModeView.DateOccurence.Caption)</template></span></td>
        <td data-name="DateOccurence" @Html.Raw(crewMedicalHistoryForAdminViewModeView.DateOccurence.CellAttributes)>
<template id="tpx_CrewMedicalHistoryForAdminViewMode_DateOccurence"><span id="el_CrewMedicalHistoryForAdminViewMode_DateOccurence">
<span @Html.Raw(crewMedicalHistoryForAdminViewModeView.DateOccurence.ViewAttributes)>
@Html.Raw(crewMedicalHistoryForAdminViewModeView.DateOccurence.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewMedicalHistoryForAdminViewModeView.DateOccurence.Visible (end) *@
@if (crewMedicalHistoryForAdminViewModeView.PlaceOccurence.Visible) { // crewMedicalHistoryForAdminViewModeView.PlaceOccurence.Visible (begin)
    <tr id="r_PlaceOccurence" @Html.Raw(crewMedicalHistoryForAdminViewModeView.PlaceOccurence.RowAttributes)>
        <td class="@(crewMedicalHistoryForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewMedicalHistoryForAdminViewMode_PlaceOccurence"><template id="tpc_CrewMedicalHistoryForAdminViewMode_PlaceOccurence">@Html.Raw(crewMedicalHistoryForAdminViewModeView.PlaceOccurence.Caption)</template></span></td>
        <td data-name="PlaceOccurence" @Html.Raw(crewMedicalHistoryForAdminViewModeView.PlaceOccurence.CellAttributes)>
<template id="tpx_CrewMedicalHistoryForAdminViewMode_PlaceOccurence"><span id="el_CrewMedicalHistoryForAdminViewMode_PlaceOccurence">
<span @Html.Raw(crewMedicalHistoryForAdminViewModeView.PlaceOccurence.ViewAttributes)>
@Html.Raw(crewMedicalHistoryForAdminViewModeView.PlaceOccurence.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewMedicalHistoryForAdminViewModeView.PlaceOccurence.Visible (end) *@
@if (crewMedicalHistoryForAdminViewModeView.PeriodOfDisability.Visible) { // crewMedicalHistoryForAdminViewModeView.PeriodOfDisability.Visible (begin)
    <tr id="r_PeriodOfDisability" @Html.Raw(crewMedicalHistoryForAdminViewModeView.PeriodOfDisability.RowAttributes)>
        <td class="@(crewMedicalHistoryForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewMedicalHistoryForAdminViewMode_PeriodOfDisability"><template id="tpc_CrewMedicalHistoryForAdminViewMode_PeriodOfDisability">@Html.Raw(crewMedicalHistoryForAdminViewModeView.PeriodOfDisability.Caption)</template></span></td>
        <td data-name="PeriodOfDisability" @Html.Raw(crewMedicalHistoryForAdminViewModeView.PeriodOfDisability.CellAttributes)>
<template id="tpx_CrewMedicalHistoryForAdminViewMode_PeriodOfDisability"><span id="el_CrewMedicalHistoryForAdminViewMode_PeriodOfDisability">
<span @Html.Raw(crewMedicalHistoryForAdminViewModeView.PeriodOfDisability.ViewAttributes)>
@Html.Raw(crewMedicalHistoryForAdminViewModeView.PeriodOfDisability.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewMedicalHistoryForAdminViewModeView.PeriodOfDisability.Visible (end) *@
@if (crewMedicalHistoryForAdminViewModeView.PresentCondition.Visible) { // crewMedicalHistoryForAdminViewModeView.PresentCondition.Visible (begin)
    <tr id="r_PresentCondition" @Html.Raw(crewMedicalHistoryForAdminViewModeView.PresentCondition.RowAttributes)>
        <td class="@(crewMedicalHistoryForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewMedicalHistoryForAdminViewMode_PresentCondition"><template id="tpc_CrewMedicalHistoryForAdminViewMode_PresentCondition">@Html.Raw(crewMedicalHistoryForAdminViewModeView.PresentCondition.Caption)</template></span></td>
        <td data-name="PresentCondition" @Html.Raw(crewMedicalHistoryForAdminViewModeView.PresentCondition.CellAttributes)>
<template id="tpx_CrewMedicalHistoryForAdminViewMode_PresentCondition"><span id="el_CrewMedicalHistoryForAdminViewMode_PresentCondition">
<span @Html.Raw(crewMedicalHistoryForAdminViewModeView.PresentCondition.ViewAttributes)>
@Html.Raw(crewMedicalHistoryForAdminViewModeView.PresentCondition.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewMedicalHistoryForAdminViewModeView.PresentCondition.Visible (end) *@
@if (crewMedicalHistoryForAdminViewModeView.Treatment.Visible) { // crewMedicalHistoryForAdminViewModeView.Treatment.Visible (begin)
    <tr id="r_Treatment" @Html.Raw(crewMedicalHistoryForAdminViewModeView.Treatment.RowAttributes)>
        <td class="@(crewMedicalHistoryForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewMedicalHistoryForAdminViewMode_Treatment"><template id="tpc_CrewMedicalHistoryForAdminViewMode_Treatment">@Html.Raw(crewMedicalHistoryForAdminViewModeView.Treatment.Caption)</template></span></td>
        <td data-name="Treatment" @Html.Raw(crewMedicalHistoryForAdminViewModeView.Treatment.CellAttributes)>
<template id="tpx_CrewMedicalHistoryForAdminViewMode_Treatment"><span id="el_CrewMedicalHistoryForAdminViewMode_Treatment">
<span @Html.Raw(crewMedicalHistoryForAdminViewModeView.Treatment.ViewAttributes)>
@Html.Raw(crewMedicalHistoryForAdminViewModeView.Treatment.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewMedicalHistoryForAdminViewModeView.Treatment.Visible (end) *@
@if (crewMedicalHistoryForAdminViewModeView.Details.Visible) { // crewMedicalHistoryForAdminViewModeView.Details.Visible (begin)
    <tr id="r_Details" @Html.Raw(crewMedicalHistoryForAdminViewModeView.Details.RowAttributes)>
        <td class="@(crewMedicalHistoryForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewMedicalHistoryForAdminViewMode_Details"><template id="tpc_CrewMedicalHistoryForAdminViewMode_Details">@Html.Raw(crewMedicalHistoryForAdminViewModeView.Details.Caption)</template></span></td>
        <td data-name="Details" @Html.Raw(crewMedicalHistoryForAdminViewModeView.Details.CellAttributes)>
<template id="tpx_CrewMedicalHistoryForAdminViewMode_Details"><span id="el_CrewMedicalHistoryForAdminViewMode_Details">
<span @Html.Raw(crewMedicalHistoryForAdminViewModeView.Details.ViewAttributes)>
@Html.Raw(crewMedicalHistoryForAdminViewModeView.Details.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewMedicalHistoryForAdminViewModeView.Details.Visible (end) *@
@if (crewMedicalHistoryForAdminViewModeView.CreatedByUserID.Visible) { // crewMedicalHistoryForAdminViewModeView.CreatedByUserID.Visible (begin)
    <tr id="r_CreatedByUserID" @Html.Raw(crewMedicalHistoryForAdminViewModeView.CreatedByUserID.RowAttributes)>
        <td class="@(crewMedicalHistoryForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewMedicalHistoryForAdminViewMode_CreatedByUserID"><template id="tpc_CrewMedicalHistoryForAdminViewMode_CreatedByUserID">@Html.Raw(crewMedicalHistoryForAdminViewModeView.CreatedByUserID.Caption)</template></span></td>
        <td data-name="CreatedByUserID" @Html.Raw(crewMedicalHistoryForAdminViewModeView.CreatedByUserID.CellAttributes)>
<template id="tpx_CrewMedicalHistoryForAdminViewMode_CreatedByUserID"><span id="el_CrewMedicalHistoryForAdminViewMode_CreatedByUserID">
<span @Html.Raw(crewMedicalHistoryForAdminViewModeView.CreatedByUserID.ViewAttributes)>
@Html.Raw(crewMedicalHistoryForAdminViewModeView.CreatedByUserID.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewMedicalHistoryForAdminViewModeView.CreatedByUserID.Visible (end) *@
@if (crewMedicalHistoryForAdminViewModeView.CreatedDateTime.Visible) { // crewMedicalHistoryForAdminViewModeView.CreatedDateTime.Visible (begin)
    <tr id="r_CreatedDateTime" @Html.Raw(crewMedicalHistoryForAdminViewModeView.CreatedDateTime.RowAttributes)>
        <td class="@(crewMedicalHistoryForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewMedicalHistoryForAdminViewMode_CreatedDateTime"><template id="tpc_CrewMedicalHistoryForAdminViewMode_CreatedDateTime">@Html.Raw(crewMedicalHistoryForAdminViewModeView.CreatedDateTime.Caption)</template></span></td>
        <td data-name="CreatedDateTime" @Html.Raw(crewMedicalHistoryForAdminViewModeView.CreatedDateTime.CellAttributes)>
<template id="tpx_CrewMedicalHistoryForAdminViewMode_CreatedDateTime"><span id="el_CrewMedicalHistoryForAdminViewMode_CreatedDateTime">
<span @Html.Raw(crewMedicalHistoryForAdminViewModeView.CreatedDateTime.ViewAttributes)>
@Html.Raw(crewMedicalHistoryForAdminViewModeView.CreatedDateTime.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewMedicalHistoryForAdminViewModeView.CreatedDateTime.Visible (end) *@
@if (crewMedicalHistoryForAdminViewModeView.LastUpdatedByUserID.Visible) { // crewMedicalHistoryForAdminViewModeView.LastUpdatedByUserID.Visible (begin)
    <tr id="r_LastUpdatedByUserID" @Html.Raw(crewMedicalHistoryForAdminViewModeView.LastUpdatedByUserID.RowAttributes)>
        <td class="@(crewMedicalHistoryForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewMedicalHistoryForAdminViewMode_LastUpdatedByUserID"><template id="tpc_CrewMedicalHistoryForAdminViewMode_LastUpdatedByUserID">@Html.Raw(crewMedicalHistoryForAdminViewModeView.LastUpdatedByUserID.Caption)</template></span></td>
        <td data-name="LastUpdatedByUserID" @Html.Raw(crewMedicalHistoryForAdminViewModeView.LastUpdatedByUserID.CellAttributes)>
<template id="tpx_CrewMedicalHistoryForAdminViewMode_LastUpdatedByUserID"><span id="el_CrewMedicalHistoryForAdminViewMode_LastUpdatedByUserID">
<span @Html.Raw(crewMedicalHistoryForAdminViewModeView.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(crewMedicalHistoryForAdminViewModeView.LastUpdatedByUserID.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewMedicalHistoryForAdminViewModeView.LastUpdatedByUserID.Visible (end) *@
@if (crewMedicalHistoryForAdminViewModeView.LastUpdatedDateTime.Visible) { // crewMedicalHistoryForAdminViewModeView.LastUpdatedDateTime.Visible (begin)
    <tr id="r_LastUpdatedDateTime" @Html.Raw(crewMedicalHistoryForAdminViewModeView.LastUpdatedDateTime.RowAttributes)>
        <td class="@(crewMedicalHistoryForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewMedicalHistoryForAdminViewMode_LastUpdatedDateTime"><template id="tpc_CrewMedicalHistoryForAdminViewMode_LastUpdatedDateTime">@Html.Raw(crewMedicalHistoryForAdminViewModeView.LastUpdatedDateTime.Caption)</template></span></td>
        <td data-name="LastUpdatedDateTime" @Html.Raw(crewMedicalHistoryForAdminViewModeView.LastUpdatedDateTime.CellAttributes)>
<template id="tpx_CrewMedicalHistoryForAdminViewMode_LastUpdatedDateTime"><span id="el_CrewMedicalHistoryForAdminViewMode_LastUpdatedDateTime">
<span @Html.Raw(crewMedicalHistoryForAdminViewModeView.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(crewMedicalHistoryForAdminViewModeView.LastUpdatedDateTime.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewMedicalHistoryForAdminViewModeView.LastUpdatedDateTime.Visible (end) *@
</table>
<div id="tpd_CrewMedicalHistoryForAdminViewModeview" class="ew-custom-template"></div>
<template id="tpm_CrewMedicalHistoryForAdminViewModeview">
<div id="ct_crewMedicalHistoryForAdminViewModeView">    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewPersonalDataForAdminViewModeView")">
                @(CurrentLanguage == "en-US" ? "PERSONAL DATA" : "DATA PERSONAL")
            </a>     
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewDocumentForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "DOCUMENTS" : "DOKUMEN")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewBankAccountForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "BANK ACCOUNT" : "REKENING BANK")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewFamilyForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "FAMILY" : "KELUARGA")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewFormalEducationForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "FORMAL EDUCATION" : "PENDIDIKAN FORMAL")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewMedicalCertificateForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "MEDICAL CERTIFICATE / TEST" : "SERTIFIKAT / TES MEDIS")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewCertificateForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "CERTIFICATES AND QUALIFICATIONS" : "SERTIFIKAT DAN KUALIFIKASI")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewExperienceForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "SEA EXPERIENCE" : "PENGALAMAN BERLAYAR")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewAppraisalForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "APPRAISALS" : "PENILAIAN")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewMedicalHistoryForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "MEDICAL HISTORY" : "RIWAYAT MEDIS")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewGeneralDataForAdminViewModeView")">
                @(CurrentLanguage == "en-US" ? "GENERAL" : "UMUM")
            </a>
        </li>
    </ul>  
    <div class="row">
        <div class="col-sm-6">
            <div id="r__Type" class="mb-2 row">
                <label for="x__Type" class="col-form-label">@Html.Raw(crewMedicalHistoryForAdminViewModeView._Type.Caption)</label>
                <div>
                    @{
                        if (string.IsNullOrEmpty(crewMedicalHistoryForAdminViewModeView._Type.GetViewValue()))
                        {
                            @Html.Raw("&nbsp;");
                        }
                        else
                        {
                            <slot class="ew-slot" name="tpx_CrewMedicalHistoryForAdminViewMode__Type"></slot>
                        }
                    }
                </div>
            </div>
            <div id="r_DateOccurence" class="mb-2 row">
                <label for="x_DateOccurence" class="col-form-label">@Html.Raw(crewMedicalHistoryForAdminViewModeView.DateOccurence.Caption)</label>
                <div>
                    @{
                        if (string.IsNullOrEmpty(crewMedicalHistoryForAdminViewModeView.DateOccurence.GetViewValue()))
                        {
                            @Html.Raw("&nbsp;");
                        }
                        else
                        {
                            <slot class="ew-slot" name="tpx_CrewMedicalHistoryForAdminViewMode_DateOccurence"></slot>
                        }
                    }
                </div>
            </div>
            <div id="r_PeriodOfDisability" class="mb-2 row">
                <label for="x_PeriodOfDisability" class="col-form-label">@Html.Raw(crewMedicalHistoryForAdminViewModeView.PeriodOfDisability.Caption)</label>
                <div>
                    @{
                        if (string.IsNullOrEmpty(crewMedicalHistoryForAdminViewModeView.PeriodOfDisability.GetViewValue()))
                        {
                            @Html.Raw("&nbsp;");
                        }
                        else
                        {
                            <slot class="ew-slot" name="tpx_CrewMedicalHistoryForAdminViewMode_PeriodOfDisability"></slot>
                        }
                    }
                </div>
            </div>
            <div id="r_Treatment" class="mb-2 row">
                <label for="x_Treatment" class="col-form-label">@Html.Raw(crewMedicalHistoryForAdminViewModeView.Treatment.Caption)</label>
                <div>
                    @{
                        if (string.IsNullOrEmpty(crewMedicalHistoryForAdminViewModeView.Treatment.GetViewValue()))
                        {
                            @Html.Raw("&nbsp;");
                        }
                        else
                        {
                            <slot class="ew-slot" name="tpx_CrewMedicalHistoryForAdminViewMode_Treatment"></slot>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="r_VesselName" class="mb-2 row">
                <label for="x_VesselName" class="col-form-label">@Html.Raw(crewMedicalHistoryForAdminViewModeView.VesselName.Caption)</label>
                <div>
                    @{
                        if (string.IsNullOrEmpty(crewMedicalHistoryForAdminViewModeView.VesselName.GetViewValue()))
                        {
                            @Html.Raw("&nbsp;");
                        }
                        else
                        {
                            <slot class="ew-slot" name="tpx_CrewMedicalHistoryForAdminViewMode_VesselName"></slot>
                        }
                    }
                </div>
            </div>
            <div id="r_PlaceOccurence" class="mb-2 row">
                <label for="x_PlaceOccurence" class="col-form-label">@Html.Raw(crewMedicalHistoryForAdminViewModeView.PlaceOccurence.Caption)</label>
                <div>
                    @{
                        if (string.IsNullOrEmpty(crewMedicalHistoryForAdminViewModeView.PlaceOccurence.GetViewValue()))
                        {
                            @Html.Raw("&nbsp;");
                        }
                        else
                        {
                            <slot class="ew-slot" name="tpx_CrewMedicalHistoryForAdminViewMode_PlaceOccurence"></slot>
                        }
                    }
                </div>
            </div>
            <div id="r_PresentCondition" class="mb-2 row">
                <label for="x_PresentCondition" class="col-form-label">@Html.Raw(crewMedicalHistoryForAdminViewModeView.PresentCondition.Caption)</label>
                <div>
                    @{
                        if (string.IsNullOrEmpty(crewMedicalHistoryForAdminViewModeView.PresentCondition.GetViewValue()))
                        {
                            @Html.Raw("&nbsp;");
                        }
                        else
                        {
                            <slot class="ew-slot" name="tpx_CrewMedicalHistoryForAdminViewMode_PresentCondition"></slot>
                        }
                    }
                </div>
            </div>
            <div id="r_Details" class="mb-2 row">
                <label for="x_Details" class="col-form-label">@Html.Raw(crewMedicalHistoryForAdminViewModeView.Details.Caption)</label>
                <div>
                    @{
                        if (string.IsNullOrEmpty(crewMedicalHistoryForAdminViewModeView.Details.GetViewValue()))
                        {
                            @Html.Raw("&nbsp;");
                        }
                        else
                        {
                            <slot class="ew-slot" name="tpx_CrewMedicalHistoryForAdminViewMode_Details"></slot>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
</template>
@{ crewMedicalHistoryForAdminViewModeView.CloseRecordset(); }
</form>
<script class="ew-apply-template">
loadjs.ready(ew.applyTemplateId, function() {
    var $ = jQuery;
    ew.templateData = { rows: @Html.Raw(ConvertToJson(crewMedicalHistoryForAdminViewModeView.Rows)) };
    ew.applyTemplate("tpd_CrewMedicalHistoryForAdminViewModeview", "tpm_CrewMedicalHistoryForAdminViewModeview", "CrewMedicalHistoryForAdminViewModeview", "@(crewMedicalHistoryForAdminViewModeView.Export)", "CrewMedicalHistoryForAdminViewMode", ew.templateData.rows[0], @(crewMedicalHistoryForAdminViewModeView.IsModal ? "true" : "false"));
    loadjs.done("customtemplate");
});
</script>
</main>
@crewMedicalHistoryForAdminViewModeView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!crewMedicalHistoryForAdminViewModeView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Startup script
    // Write your table-specific startup script here
    // document.write("page loaded");

    // Get the current URL
    const currentUrlObject = new URL(window.location.href);
    // get the current URL without Add or Edit for assigning active class in tabs
    const currentUrlWithoutAddEditListView = currentUrlObject.href.replace(/Add|Edit|List|View/g, "");
    // Create a new URLSearchParams object based on the current URL's search parameters
    const urlQueryParams = new URLSearchParams(currentUrlObject.search);
    // Extract the value of the crewID query parameter
    const currentlyEditedCrewID = urlQueryParams.get('crewID');
    const crewMedicalHistoryID = currentUrlObject.pathname.split('/').pop();

    // Iterate over each anchor element inside the nav-tabs
    $(".nav-tabs .nav-item a").each(function() {
        const href = $(this).attr("href");
        const hrefWithoutAddEditListView = href.replace(/Add|Edit|List|View/g, "");
        // Check if the href contains current page's url
        if (currentUrlWithoutAddEditListView.includes(hrefWithoutAddEditListView)) {
            // add class and attribute
            $(this).addClass("active");
            $(this).attr("aria-current", "page");
        }
        // Check if the href contains "Edit" or "Add"
        if (href.includes("ViewModeView")) {
            // Add "/" and the currently edited crew ID to the href
            const newHref = href + "/" + currentlyEditedCrewID;
            // Set the updated href attribute value
            $(this).attr("href", newHref);
        } else if (href.includes("ViewModeList")) {
            // Add "?crewID=" and the currently edited crew ID to the href
            const newHref = href + "?crewID=" + currentlyEditedCrewID;
            // Set the updated href attribute value
            $(this).attr("href", newHref);
        }
    });

    // Target the ol element that has breadcrumb class
    const $breadCrumbOl = $('.breadcrumb').first();

    // Delete the ol element that has breadcrumb class
    $breadCrumbOl.remove();
    $('div.btn-toolbar.ew-toolbar').remove();
    const selectedLanguage = ew.vars['languages']['languages'].filter(obj => obj.selected === true)[0];
    const parentUrl = ew.PATH_BASE;
    const adminAndEmployeeStatusApi = 'get-admin-and-employee-status';
    $.ajax({
        url: `${parentUrl}api/Registration/${adminAndEmployeeStatusApi}`,
        method: 'GET',
        data: {
            crewID: currentlyEditedCrewID
        },
        success: function(response) {
            if (response.success) {
                // Parse the data in the response
                const isAdmin = response.data.IsAdmin;
                const employeeStatus = response.data.EmployeeStatus;
                if (currentlyEditedCrewID === null) {
                    if (isAdmin) {
                        // redirect to list page with error message: record not found
                        if (employeeStatus === 'Candidate - Draft') {
                            window.location.replace(`${ew.PATH_BASE}RegistrationEdit/-1`);
                        } else if (employeeStatus === 'Candidate - Submitted') {
                            window.location.replace(`${ew.PATH_BASE}VWaitingForPdeReviewView/-1`);
                        }
                    } else {
                        window.location.replace(`${ew.PATH_BASE}index`);
                    }
                }
                if (employeeStatus === 'Candidate - Draft') {
                    const editButton = $("<a></a>", { 
                        text: (selectedLanguage.id === 'en-US') ? "Edit" : "Ubah",
                        class: "btn btn-default ew-btn me-3 primary-black-clr gray-bg", 
                        id: "btn-edit",
                        name: "btn-edit",
                        href: `${ew.PATH_BASE}CrewMedicalHistoryForAdminViewModeEdit/${crewMedicalHistoryID}?crewID=${currentlyEditedCrewID}`,
                    });
                    const deleteButton = $("<a></a>", { 
                        text: (selectedLanguage.id === 'en-US') ? "Delete" : "Hapus",
                        class: "btn btn-default ew-btn me-auto primary-red-bg primary-white-clr ew-action ew-delete", 
                        id: "btn-delete",
                        name: "btn-delete",
                        href: `${ew.PATH_BASE}CrewMedicalHistoryForAdminViewModeDelete/${crewMedicalHistoryID}`,
                        "data-ew-action": "inline-delete",
                        "data-caption": "Delete",
                    });
                    const backButton = $("<a></a>", { 
                        text: (selectedLanguage.id === 'en-US') ? "Back" : "Kembali",
                        class: "btn btn-default ew-btn ms-auto primary-red-bg primary-white-clr", 
                        id: "btn-back",
                        name: "btn-back",
                        href: `${ew.PATH_BASE}CrewMedicalHistoryForAdminViewModeList?crewID=${currentlyEditedCrewID}`,
                    });
                    const flexDiv = $("<div class='d-flex mb-3'></div>");
                    flexDiv.append(editButton);
                    flexDiv.append(deleteButton);
                    flexDiv.append(backButton);
                    const buttonsDiv = $("<div class='row ew-buttons'></div>");
                    buttonsDiv.append(flexDiv);
                    $('form#fCrewMedicalHistoryForAdminViewModeview').append(buttonsDiv);
                } else if (employeeStatus === 'Candidate - Submitted') {
                    const backButton = $("<a></a>", { 
                        text: (selectedLanguage.id === 'en-US') ? "Back" : "Kembali",
                        class: "btn btn-default ew-btn ms-auto primary-red-bg primary-white-clr", 
                        id: "btn-back",
                        name: "btn-back",
                        href: `${ew.PATH_BASE}CrewMedicalHistoryForAdminViewModeList?crewID=${currentlyEditedCrewID}`,
                    });
                    const flexDiv = $("<div class='d-flex mb-3'></div>");
                    flexDiv.append(backButton);
                    const buttonsDiv = $("<div class='row ew-buttons'></div>");
                    buttonsDiv.append(flexDiv);
                    $('form#fCrewMedicalHistoryForAdminViewModeview').append(buttonsDiv);
                }
            } else {
                // Handle the error
                ew.showToast(response.errorMessage);
            }
        },
        error: function(xhr, textStatus, errorThrown) {
            // Handle the error
            ew.showToast(errorThrown);
        }
    });
});
</script>
}
