@{
    // View
    View = this;

    // Check action result
    if (crewBankAccountForAdminViewModeDelete.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!crewBankAccountForAdminViewModeDelete.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(crewBankAccountForAdminViewModeDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { CrewBankAccountForAdminViewMode: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fCrewBankAccountForAdminViewModedelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fCrewBankAccountForAdminViewModedelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@crewBankAccountForAdminViewModeDelete.ShowPageHeader()
@crewBankAccountForAdminViewModeDelete.ShowMessages()
<form name="fCrewBankAccountForAdminViewModedelete" id="fCrewBankAccountForAdminViewModedelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in crewBankAccountForAdminViewModeDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(crewBankAccountForAdminViewModeDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(crewBankAccountForAdminViewModeDelete.TableContainerClass)" style="@(crewBankAccountForAdminViewModeDelete.TableContainerStyle)">
<table class="@(crewBankAccountForAdminViewModeDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (crewBankAccountForAdminViewModeDelete.AccountNumber.Visible) { // crewBankAccountForAdminViewModeDelete.AccountNumber.Visible (begin)
        <th class="@Html.Raw(crewBankAccountForAdminViewModeDelete.AccountNumber.HeaderCellClass)"><span id="elh_CrewBankAccountForAdminViewMode_AccountNumber" class="CrewBankAccountForAdminViewMode_AccountNumber">@Html.Raw(crewBankAccountForAdminViewModeDelete.AccountNumber.Caption)</span></th>
} @* crewBankAccountForAdminViewModeDelete.AccountNumber.Visible (end) *@
@if (crewBankAccountForAdminViewModeDelete.Beneficiary.Visible) { // crewBankAccountForAdminViewModeDelete.Beneficiary.Visible (begin)
        <th class="@Html.Raw(crewBankAccountForAdminViewModeDelete.Beneficiary.HeaderCellClass)"><span id="elh_CrewBankAccountForAdminViewMode_Beneficiary" class="CrewBankAccountForAdminViewMode_Beneficiary">@Html.Raw(crewBankAccountForAdminViewModeDelete.Beneficiary.Caption)</span></th>
} @* crewBankAccountForAdminViewModeDelete.Beneficiary.Visible (end) *@
@if (crewBankAccountForAdminViewModeDelete.MTCurrencyID.Visible) { // crewBankAccountForAdminViewModeDelete.MTCurrencyID.Visible (begin)
        <th class="@Html.Raw(crewBankAccountForAdminViewModeDelete.MTCurrencyID.HeaderCellClass)"><span id="elh_CrewBankAccountForAdminViewMode_MTCurrencyID" class="CrewBankAccountForAdminViewMode_MTCurrencyID">@Html.Raw(crewBankAccountForAdminViewModeDelete.MTCurrencyID.Caption)</span></th>
} @* crewBankAccountForAdminViewModeDelete.MTCurrencyID.Visible (end) *@
@if (crewBankAccountForAdminViewModeDelete.MainAcc.Visible) { // crewBankAccountForAdminViewModeDelete.MainAcc.Visible (begin)
        <th class="@Html.Raw(crewBankAccountForAdminViewModeDelete.MainAcc.HeaderCellClass)"><span id="elh_CrewBankAccountForAdminViewMode_MainAcc" class="CrewBankAccountForAdminViewMode_MainAcc">@Html.Raw(crewBankAccountForAdminViewModeDelete.MainAcc.Caption)</span></th>
} @* crewBankAccountForAdminViewModeDelete.MainAcc.Visible (end) *@
@if (crewBankAccountForAdminViewModeDelete.Attachment.Visible) { // crewBankAccountForAdminViewModeDelete.Attachment.Visible (begin)
        <th class="@Html.Raw(crewBankAccountForAdminViewModeDelete.Attachment.HeaderCellClass)"><span id="elh_CrewBankAccountForAdminViewMode_Attachment" class="CrewBankAccountForAdminViewMode_Attachment">@Html.Raw(crewBankAccountForAdminViewModeDelete.Attachment.Caption)</span></th>
} @* crewBankAccountForAdminViewModeDelete.Attachment.Visible (end) *@
@if (crewBankAccountForAdminViewModeDelete.CreatedByUserID.Visible) { // crewBankAccountForAdminViewModeDelete.CreatedByUserID.Visible (begin)
        <th class="@Html.Raw(crewBankAccountForAdminViewModeDelete.CreatedByUserID.HeaderCellClass)"><span id="elh_CrewBankAccountForAdminViewMode_CreatedByUserID" class="CrewBankAccountForAdminViewMode_CreatedByUserID">@Html.Raw(crewBankAccountForAdminViewModeDelete.CreatedByUserID.Caption)</span></th>
} @* crewBankAccountForAdminViewModeDelete.CreatedByUserID.Visible (end) *@
@if (crewBankAccountForAdminViewModeDelete.CreatedDateTime.Visible) { // crewBankAccountForAdminViewModeDelete.CreatedDateTime.Visible (begin)
        <th class="@Html.Raw(crewBankAccountForAdminViewModeDelete.CreatedDateTime.HeaderCellClass)"><span id="elh_CrewBankAccountForAdminViewMode_CreatedDateTime" class="CrewBankAccountForAdminViewMode_CreatedDateTime">@Html.Raw(crewBankAccountForAdminViewModeDelete.CreatedDateTime.Caption)</span></th>
} @* crewBankAccountForAdminViewModeDelete.CreatedDateTime.Visible (end) *@
@if (crewBankAccountForAdminViewModeDelete.LastUpdatedByUserID.Visible) { // crewBankAccountForAdminViewModeDelete.LastUpdatedByUserID.Visible (begin)
        <th class="@Html.Raw(crewBankAccountForAdminViewModeDelete.LastUpdatedByUserID.HeaderCellClass)"><span id="elh_CrewBankAccountForAdminViewMode_LastUpdatedByUserID" class="CrewBankAccountForAdminViewMode_LastUpdatedByUserID">@Html.Raw(crewBankAccountForAdminViewModeDelete.LastUpdatedByUserID.Caption)</span></th>
} @* crewBankAccountForAdminViewModeDelete.LastUpdatedByUserID.Visible (end) *@
@if (crewBankAccountForAdminViewModeDelete.LastUpdatedDateTime.Visible) { // crewBankAccountForAdminViewModeDelete.LastUpdatedDateTime.Visible (begin)
        <th class="@Html.Raw(crewBankAccountForAdminViewModeDelete.LastUpdatedDateTime.HeaderCellClass)"><span id="elh_CrewBankAccountForAdminViewMode_LastUpdatedDateTime" class="CrewBankAccountForAdminViewMode_LastUpdatedDateTime">@Html.Raw(crewBankAccountForAdminViewModeDelete.LastUpdatedDateTime.Caption)</span></th>
} @* crewBankAccountForAdminViewModeDelete.LastUpdatedDateTime.Visible (end) *@
@if (crewBankAccountForAdminViewModeDelete.MTCrewID.Visible) { // crewBankAccountForAdminViewModeDelete.MTCrewID.Visible (begin)
        <th class="@Html.Raw(crewBankAccountForAdminViewModeDelete.MTCrewID.HeaderCellClass)"><span id="elh_CrewBankAccountForAdminViewMode_MTCrewID" class="CrewBankAccountForAdminViewMode_MTCrewID">@Html.Raw(crewBankAccountForAdminViewModeDelete.MTCrewID.Caption)</span></th>
} @* crewBankAccountForAdminViewModeDelete.MTCrewID.Visible (end) *@
@if (crewBankAccountForAdminViewModeDelete.MTBankID.Visible) { // crewBankAccountForAdminViewModeDelete.MTBankID.Visible (begin)
        <th class="@Html.Raw(crewBankAccountForAdminViewModeDelete.MTBankID.HeaderCellClass)"><span id="elh_CrewBankAccountForAdminViewMode_MTBankID" class="CrewBankAccountForAdminViewMode_MTBankID">@Html.Raw(crewBankAccountForAdminViewModeDelete.MTBankID.Caption)</span></th>
} @* crewBankAccountForAdminViewModeDelete.MTBankID.Visible (end) *@
@if (crewBankAccountForAdminViewModeDelete.OtherBankName.Visible) { // crewBankAccountForAdminViewModeDelete.OtherBankName.Visible (begin)
        <th class="@Html.Raw(crewBankAccountForAdminViewModeDelete.OtherBankName.HeaderCellClass)"><span id="elh_CrewBankAccountForAdminViewMode_OtherBankName" class="CrewBankAccountForAdminViewMode_OtherBankName">@Html.Raw(crewBankAccountForAdminViewModeDelete.OtherBankName.Caption)</span></th>
} @* crewBankAccountForAdminViewModeDelete.OtherBankName.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ crewBankAccountForAdminViewModeDelete.RecordCount = 0; }
@while (crewBankAccountForAdminViewModeDelete.Recordset != null && await crewBankAccountForAdminViewModeDelete.Recordset.ReadAsync()) { // DN
    crewBankAccountForAdminViewModeDelete.RecordCount++;
    crewBankAccountForAdminViewModeDelete.RowCount++;

    // Set row properties
    crewBankAccountForAdminViewModeDelete.ResetAttributes();
    crewBankAccountForAdminViewModeDelete.RowType = RowType.View; // View

    // Get the field contents
    await crewBankAccountForAdminViewModeDelete.LoadRowValues(crewBankAccountForAdminViewModeDelete.Recordset);

    // Render row
    await crewBankAccountForAdminViewModeDelete.RenderRow();
    <tr @Html.Raw(crewBankAccountForAdminViewModeDelete.RowAttributes)>
@if (crewBankAccountForAdminViewModeDelete.AccountNumber.Visible) { // crewBankAccountForAdminViewModeDelete.AccountNumber.Visible (begin)
        <td @Html.Raw(crewBankAccountForAdminViewModeDelete.AccountNumber.CellAttributes)>
<span id="el@(crewBankAccountForAdminViewModeDelete.RowCount)_CrewBankAccountForAdminViewMode_AccountNumber" class="el_CrewBankAccountForAdminViewMode_AccountNumber">
<span @Html.Raw(crewBankAccountForAdminViewModeDelete.AccountNumber.ViewAttributes)>
@Html.Raw(crewBankAccountForAdminViewModeDelete.AccountNumber.GetViewValue())</span>
</span></td>
} @* crewBankAccountForAdminViewModeDelete.AccountNumber.Visible (end) *@
@if (crewBankAccountForAdminViewModeDelete.Beneficiary.Visible) { // crewBankAccountForAdminViewModeDelete.Beneficiary.Visible (begin)
        <td @Html.Raw(crewBankAccountForAdminViewModeDelete.Beneficiary.CellAttributes)>
<span id="el@(crewBankAccountForAdminViewModeDelete.RowCount)_CrewBankAccountForAdminViewMode_Beneficiary" class="el_CrewBankAccountForAdminViewMode_Beneficiary">
<span @Html.Raw(crewBankAccountForAdminViewModeDelete.Beneficiary.ViewAttributes)>
@Html.Raw(crewBankAccountForAdminViewModeDelete.Beneficiary.GetViewValue())</span>
</span></td>
} @* crewBankAccountForAdminViewModeDelete.Beneficiary.Visible (end) *@
@if (crewBankAccountForAdminViewModeDelete.MTCurrencyID.Visible) { // crewBankAccountForAdminViewModeDelete.MTCurrencyID.Visible (begin)
        <td @Html.Raw(crewBankAccountForAdminViewModeDelete.MTCurrencyID.CellAttributes)>
<span id="el@(crewBankAccountForAdminViewModeDelete.RowCount)_CrewBankAccountForAdminViewMode_MTCurrencyID" class="el_CrewBankAccountForAdminViewMode_MTCurrencyID">
<span @Html.Raw(crewBankAccountForAdminViewModeDelete.MTCurrencyID.ViewAttributes)>
@Html.Raw(crewBankAccountForAdminViewModeDelete.MTCurrencyID.GetViewValue())</span>
</span></td>
} @* crewBankAccountForAdminViewModeDelete.MTCurrencyID.Visible (end) *@
@if (crewBankAccountForAdminViewModeDelete.MainAcc.Visible) { // crewBankAccountForAdminViewModeDelete.MainAcc.Visible (begin)
        <td @Html.Raw(crewBankAccountForAdminViewModeDelete.MainAcc.CellAttributes)>
<span id="el@(crewBankAccountForAdminViewModeDelete.RowCount)_CrewBankAccountForAdminViewMode_MainAcc" class="el_CrewBankAccountForAdminViewMode_MainAcc">
<span @Html.Raw(crewBankAccountForAdminViewModeDelete.MainAcc.ViewAttributes)>
<div class="form-check d-inline-block">
    <input type="checkbox" id="x_MainAcc_@(crewBankAccountForAdminViewModeDelete.RowCount)" class="form-check-input" value="@(crewBankAccountForAdminViewModeDelete.MainAcc.GetViewValue())" disabled checked="@(ConvertToBool(crewBankAccountForAdminViewModeDelete.MainAcc.CurrentValue))">
    <label class="form-check-label" for="x_MainAcc_@(crewBankAccountForAdminViewModeDelete.RowCount)"></label>
</div></span>
</span></td>
} @* crewBankAccountForAdminViewModeDelete.MainAcc.Visible (end) *@
@if (crewBankAccountForAdminViewModeDelete.Attachment.Visible) { // crewBankAccountForAdminViewModeDelete.Attachment.Visible (begin)
        <td @Html.Raw(crewBankAccountForAdminViewModeDelete.Attachment.CellAttributes)>
<span id="el@(crewBankAccountForAdminViewModeDelete.RowCount)_CrewBankAccountForAdminViewMode_Attachment" class="el_CrewBankAccountForAdminViewMode_Attachment">
<span>
@Html.Raw(await GetFileViewTag((DbField)crewBankAccountForAdminViewModeDelete.Attachment, ConvertToString(crewBankAccountForAdminViewModeDelete.Attachment.GetViewValue()), false))
</span>
</span></td>
} @* crewBankAccountForAdminViewModeDelete.Attachment.Visible (end) *@
@if (crewBankAccountForAdminViewModeDelete.CreatedByUserID.Visible) { // crewBankAccountForAdminViewModeDelete.CreatedByUserID.Visible (begin)
        <td @Html.Raw(crewBankAccountForAdminViewModeDelete.CreatedByUserID.CellAttributes)>
<span id="el@(crewBankAccountForAdminViewModeDelete.RowCount)_CrewBankAccountForAdminViewMode_CreatedByUserID" class="el_CrewBankAccountForAdminViewMode_CreatedByUserID">
<span @Html.Raw(crewBankAccountForAdminViewModeDelete.CreatedByUserID.ViewAttributes)>
@Html.Raw(crewBankAccountForAdminViewModeDelete.CreatedByUserID.GetViewValue())</span>
</span></td>
} @* crewBankAccountForAdminViewModeDelete.CreatedByUserID.Visible (end) *@
@if (crewBankAccountForAdminViewModeDelete.CreatedDateTime.Visible) { // crewBankAccountForAdminViewModeDelete.CreatedDateTime.Visible (begin)
        <td @Html.Raw(crewBankAccountForAdminViewModeDelete.CreatedDateTime.CellAttributes)>
<span id="el@(crewBankAccountForAdminViewModeDelete.RowCount)_CrewBankAccountForAdminViewMode_CreatedDateTime" class="el_CrewBankAccountForAdminViewMode_CreatedDateTime">
<span @Html.Raw(crewBankAccountForAdminViewModeDelete.CreatedDateTime.ViewAttributes)>
@Html.Raw(crewBankAccountForAdminViewModeDelete.CreatedDateTime.GetViewValue())</span>
</span></td>
} @* crewBankAccountForAdminViewModeDelete.CreatedDateTime.Visible (end) *@
@if (crewBankAccountForAdminViewModeDelete.LastUpdatedByUserID.Visible) { // crewBankAccountForAdminViewModeDelete.LastUpdatedByUserID.Visible (begin)
        <td @Html.Raw(crewBankAccountForAdminViewModeDelete.LastUpdatedByUserID.CellAttributes)>
<span id="el@(crewBankAccountForAdminViewModeDelete.RowCount)_CrewBankAccountForAdminViewMode_LastUpdatedByUserID" class="el_CrewBankAccountForAdminViewMode_LastUpdatedByUserID">
<span @Html.Raw(crewBankAccountForAdminViewModeDelete.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(crewBankAccountForAdminViewModeDelete.LastUpdatedByUserID.GetViewValue())</span>
</span></td>
} @* crewBankAccountForAdminViewModeDelete.LastUpdatedByUserID.Visible (end) *@
@if (crewBankAccountForAdminViewModeDelete.LastUpdatedDateTime.Visible) { // crewBankAccountForAdminViewModeDelete.LastUpdatedDateTime.Visible (begin)
        <td @Html.Raw(crewBankAccountForAdminViewModeDelete.LastUpdatedDateTime.CellAttributes)>
<span id="el@(crewBankAccountForAdminViewModeDelete.RowCount)_CrewBankAccountForAdminViewMode_LastUpdatedDateTime" class="el_CrewBankAccountForAdminViewMode_LastUpdatedDateTime">
<span @Html.Raw(crewBankAccountForAdminViewModeDelete.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(crewBankAccountForAdminViewModeDelete.LastUpdatedDateTime.GetViewValue())</span>
</span></td>
} @* crewBankAccountForAdminViewModeDelete.LastUpdatedDateTime.Visible (end) *@
@if (crewBankAccountForAdminViewModeDelete.MTCrewID.Visible) { // crewBankAccountForAdminViewModeDelete.MTCrewID.Visible (begin)
        <td @Html.Raw(crewBankAccountForAdminViewModeDelete.MTCrewID.CellAttributes)>
<span id="el@(crewBankAccountForAdminViewModeDelete.RowCount)_CrewBankAccountForAdminViewMode_MTCrewID" class="el_CrewBankAccountForAdminViewMode_MTCrewID">
<span @Html.Raw(crewBankAccountForAdminViewModeDelete.MTCrewID.ViewAttributes)>
@Html.Raw(crewBankAccountForAdminViewModeDelete.MTCrewID.GetViewValue())</span>
</span></td>
} @* crewBankAccountForAdminViewModeDelete.MTCrewID.Visible (end) *@
@if (crewBankAccountForAdminViewModeDelete.MTBankID.Visible) { // crewBankAccountForAdminViewModeDelete.MTBankID.Visible (begin)
        <td @Html.Raw(crewBankAccountForAdminViewModeDelete.MTBankID.CellAttributes)>
<span id="el@(crewBankAccountForAdminViewModeDelete.RowCount)_CrewBankAccountForAdminViewMode_MTBankID" class="el_CrewBankAccountForAdminViewMode_MTBankID">
<span @Html.Raw(crewBankAccountForAdminViewModeDelete.MTBankID.ViewAttributes)>
@Html.Raw(crewBankAccountForAdminViewModeDelete.MTBankID.GetViewValue())</span>
</span></td>
} @* crewBankAccountForAdminViewModeDelete.MTBankID.Visible (end) *@
@if (crewBankAccountForAdminViewModeDelete.OtherBankName.Visible) { // crewBankAccountForAdminViewModeDelete.OtherBankName.Visible (begin)
        <td @Html.Raw(crewBankAccountForAdminViewModeDelete.OtherBankName.CellAttributes)>
<span id="el@(crewBankAccountForAdminViewModeDelete.RowCount)_CrewBankAccountForAdminViewMode_OtherBankName" class="el_CrewBankAccountForAdminViewMode_OtherBankName">
<span @Html.Raw(crewBankAccountForAdminViewModeDelete.OtherBankName.ViewAttributes)>
@Html.Raw(crewBankAccountForAdminViewModeDelete.OtherBankName.GetViewValue())</span>
</span></td>
} @* crewBankAccountForAdminViewModeDelete.OtherBankName.Visible (end) *@
    </tr>
}
@{ crewBankAccountForAdminViewModeDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(crewBankAccountForAdminViewModeDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@crewBankAccountForAdminViewModeDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
