@{
    // View
    View = this;

    // Check action result
    if (crewFormalEducationForAdminView.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!crewFormalEducationForAdminView.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
@if (!crewFormalEducationForAdminView.IsExport()) {
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!crewFormalEducationForAdminView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @crewFormalEducationForAdminView.ExportOptions.RenderBody()
    @crewFormalEducationForAdminView.OtherOptions.RenderBody()
</div>
}
@crewFormalEducationForAdminView.ShowPageHeader()
@crewFormalEducationForAdminView.ShowMessages()
<main class="view">
<form name="fCrewFormalEducationForAdminview" id="fCrewFormalEducationForAdminview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (!crewFormalEducationForAdminView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(crewFormalEducationForAdminView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { CrewFormalEducationForAdmin: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fCrewFormalEducationForAdminview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fCrewFormalEducationForAdminview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
}
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(crewFormalEducationForAdminView.IsModal)">
<table class="@(crewFormalEducationForAdminView.TableClass)">
@if (crewFormalEducationForAdminView.EducationLevel.Visible) { // crewFormalEducationForAdminView.EducationLevel.Visible (begin)
    <tr id="r_EducationLevel" @Html.Raw(crewFormalEducationForAdminView.EducationLevel.RowAttributes)>
        <td class="@(crewFormalEducationForAdminView.TableLeftColumnClass)"><span id="elh_CrewFormalEducationForAdmin_EducationLevel">@Html.Raw(crewFormalEducationForAdminView.EducationLevel.Caption)</span></td>
        <td data-name="EducationLevel" @Html.Raw(crewFormalEducationForAdminView.EducationLevel.CellAttributes)>
<span id="el_CrewFormalEducationForAdmin_EducationLevel">
<span @Html.Raw(crewFormalEducationForAdminView.EducationLevel.ViewAttributes)>
@Html.Raw(crewFormalEducationForAdminView.EducationLevel.GetViewValue())</span>
</span></td>
    </tr>
} @* crewFormalEducationForAdminView.EducationLevel.Visible (end) *@
@if (crewFormalEducationForAdminView.SchoolName.Visible) { // crewFormalEducationForAdminView.SchoolName.Visible (begin)
    <tr id="r_SchoolName" @Html.Raw(crewFormalEducationForAdminView.SchoolName.RowAttributes)>
        <td class="@(crewFormalEducationForAdminView.TableLeftColumnClass)"><span id="elh_CrewFormalEducationForAdmin_SchoolName">@Html.Raw(crewFormalEducationForAdminView.SchoolName.Caption)</span></td>
        <td data-name="SchoolName" @Html.Raw(crewFormalEducationForAdminView.SchoolName.CellAttributes)>
<span id="el_CrewFormalEducationForAdmin_SchoolName">
<span @Html.Raw(crewFormalEducationForAdminView.SchoolName.ViewAttributes)>
@Html.Raw(crewFormalEducationForAdminView.SchoolName.GetViewValue())</span>
</span></td>
    </tr>
} @* crewFormalEducationForAdminView.SchoolName.Visible (end) *@
@if (crewFormalEducationForAdminView.City.Visible) { // crewFormalEducationForAdminView.City.Visible (begin)
    <tr id="r_City" @Html.Raw(crewFormalEducationForAdminView.City.RowAttributes)>
        <td class="@(crewFormalEducationForAdminView.TableLeftColumnClass)"><span id="elh_CrewFormalEducationForAdmin_City">@Html.Raw(crewFormalEducationForAdminView.City.Caption)</span></td>
        <td data-name="City" @Html.Raw(crewFormalEducationForAdminView.City.CellAttributes)>
<span id="el_CrewFormalEducationForAdmin_City">
<span @Html.Raw(crewFormalEducationForAdminView.City.ViewAttributes)>
@Html.Raw(crewFormalEducationForAdminView.City.GetViewValue())</span>
</span></td>
    </tr>
} @* crewFormalEducationForAdminView.City.Visible (end) *@
@if (crewFormalEducationForAdminView.Attachment.Visible) { // crewFormalEducationForAdminView.Attachment.Visible (begin)
    <tr id="r_Attachment" @Html.Raw(crewFormalEducationForAdminView.Attachment.RowAttributes)>
        <td class="@(crewFormalEducationForAdminView.TableLeftColumnClass)"><span id="elh_CrewFormalEducationForAdmin_Attachment">@Html.Raw(crewFormalEducationForAdminView.Attachment.Caption)</span></td>
        <td data-name="Attachment" @Html.Raw(crewFormalEducationForAdminView.Attachment.CellAttributes)>
<span id="el_CrewFormalEducationForAdmin_Attachment">
<span>
@Html.Raw(await GetFileViewTag((DbField)crewFormalEducationForAdminView.Attachment, ConvertToString(crewFormalEducationForAdminView.Attachment.GetViewValue()), false))
</span>
</span></td>
    </tr>
} @* crewFormalEducationForAdminView.Attachment.Visible (end) *@
@if (crewFormalEducationForAdminView.StartDate.Visible) { // crewFormalEducationForAdminView.StartDate.Visible (begin)
    <tr id="r_StartDate" @Html.Raw(crewFormalEducationForAdminView.StartDate.RowAttributes)>
        <td class="@(crewFormalEducationForAdminView.TableLeftColumnClass)"><span id="elh_CrewFormalEducationForAdmin_StartDate">@Html.Raw(crewFormalEducationForAdminView.StartDate.Caption)</span></td>
        <td data-name="StartDate" @Html.Raw(crewFormalEducationForAdminView.StartDate.CellAttributes)>
<span id="el_CrewFormalEducationForAdmin_StartDate">
<span @Html.Raw(crewFormalEducationForAdminView.StartDate.ViewAttributes)>
@Html.Raw(crewFormalEducationForAdminView.StartDate.GetViewValue())</span>
</span></td>
    </tr>
} @* crewFormalEducationForAdminView.StartDate.Visible (end) *@
@if (crewFormalEducationForAdminView.EndDate.Visible) { // crewFormalEducationForAdminView.EndDate.Visible (begin)
    <tr id="r_EndDate" @Html.Raw(crewFormalEducationForAdminView.EndDate.RowAttributes)>
        <td class="@(crewFormalEducationForAdminView.TableLeftColumnClass)"><span id="elh_CrewFormalEducationForAdmin_EndDate">@Html.Raw(crewFormalEducationForAdminView.EndDate.Caption)</span></td>
        <td data-name="EndDate" @Html.Raw(crewFormalEducationForAdminView.EndDate.CellAttributes)>
<span id="el_CrewFormalEducationForAdmin_EndDate">
<span @Html.Raw(crewFormalEducationForAdminView.EndDate.ViewAttributes)>
@Html.Raw(crewFormalEducationForAdminView.EndDate.GetViewValue())</span>
</span></td>
    </tr>
} @* crewFormalEducationForAdminView.EndDate.Visible (end) *@
@if (crewFormalEducationForAdminView.MTCrewID.Visible) { // crewFormalEducationForAdminView.MTCrewID.Visible (begin)
    <tr id="r_MTCrewID" @Html.Raw(crewFormalEducationForAdminView.MTCrewID.RowAttributes)>
        <td class="@(crewFormalEducationForAdminView.TableLeftColumnClass)"><span id="elh_CrewFormalEducationForAdmin_MTCrewID">@Html.Raw(crewFormalEducationForAdminView.MTCrewID.Caption)</span></td>
        <td data-name="MTCrewID" @Html.Raw(crewFormalEducationForAdminView.MTCrewID.CellAttributes)>
<span id="el_CrewFormalEducationForAdmin_MTCrewID">
<span @Html.Raw(crewFormalEducationForAdminView.MTCrewID.ViewAttributes)>
@Html.Raw(crewFormalEducationForAdminView.MTCrewID.GetViewValue())</span>
</span></td>
    </tr>
} @* crewFormalEducationForAdminView.MTCrewID.Visible (end) *@
@if (crewFormalEducationForAdminView.CreatedByUserID.Visible) { // crewFormalEducationForAdminView.CreatedByUserID.Visible (begin)
    <tr id="r_CreatedByUserID" @Html.Raw(crewFormalEducationForAdminView.CreatedByUserID.RowAttributes)>
        <td class="@(crewFormalEducationForAdminView.TableLeftColumnClass)"><span id="elh_CrewFormalEducationForAdmin_CreatedByUserID">@Html.Raw(crewFormalEducationForAdminView.CreatedByUserID.Caption)</span></td>
        <td data-name="CreatedByUserID" @Html.Raw(crewFormalEducationForAdminView.CreatedByUserID.CellAttributes)>
<span id="el_CrewFormalEducationForAdmin_CreatedByUserID">
<span @Html.Raw(crewFormalEducationForAdminView.CreatedByUserID.ViewAttributes)>
@Html.Raw(crewFormalEducationForAdminView.CreatedByUserID.GetViewValue())</span>
</span></td>
    </tr>
} @* crewFormalEducationForAdminView.CreatedByUserID.Visible (end) *@
@if (crewFormalEducationForAdminView.CreatedDateTime.Visible) { // crewFormalEducationForAdminView.CreatedDateTime.Visible (begin)
    <tr id="r_CreatedDateTime" @Html.Raw(crewFormalEducationForAdminView.CreatedDateTime.RowAttributes)>
        <td class="@(crewFormalEducationForAdminView.TableLeftColumnClass)"><span id="elh_CrewFormalEducationForAdmin_CreatedDateTime">@Html.Raw(crewFormalEducationForAdminView.CreatedDateTime.Caption)</span></td>
        <td data-name="CreatedDateTime" @Html.Raw(crewFormalEducationForAdminView.CreatedDateTime.CellAttributes)>
<span id="el_CrewFormalEducationForAdmin_CreatedDateTime">
<span @Html.Raw(crewFormalEducationForAdminView.CreatedDateTime.ViewAttributes)>
@Html.Raw(crewFormalEducationForAdminView.CreatedDateTime.GetViewValue())</span>
</span></td>
    </tr>
} @* crewFormalEducationForAdminView.CreatedDateTime.Visible (end) *@
@if (crewFormalEducationForAdminView.LastUpdatedByUserID.Visible) { // crewFormalEducationForAdminView.LastUpdatedByUserID.Visible (begin)
    <tr id="r_LastUpdatedByUserID" @Html.Raw(crewFormalEducationForAdminView.LastUpdatedByUserID.RowAttributes)>
        <td class="@(crewFormalEducationForAdminView.TableLeftColumnClass)"><span id="elh_CrewFormalEducationForAdmin_LastUpdatedByUserID">@Html.Raw(crewFormalEducationForAdminView.LastUpdatedByUserID.Caption)</span></td>
        <td data-name="LastUpdatedByUserID" @Html.Raw(crewFormalEducationForAdminView.LastUpdatedByUserID.CellAttributes)>
<span id="el_CrewFormalEducationForAdmin_LastUpdatedByUserID">
<span @Html.Raw(crewFormalEducationForAdminView.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(crewFormalEducationForAdminView.LastUpdatedByUserID.GetViewValue())</span>
</span></td>
    </tr>
} @* crewFormalEducationForAdminView.LastUpdatedByUserID.Visible (end) *@
@if (crewFormalEducationForAdminView.LastUpdatedDateTime.Visible) { // crewFormalEducationForAdminView.LastUpdatedDateTime.Visible (begin)
    <tr id="r_LastUpdatedDateTime" @Html.Raw(crewFormalEducationForAdminView.LastUpdatedDateTime.RowAttributes)>
        <td class="@(crewFormalEducationForAdminView.TableLeftColumnClass)"><span id="elh_CrewFormalEducationForAdmin_LastUpdatedDateTime">@Html.Raw(crewFormalEducationForAdminView.LastUpdatedDateTime.Caption)</span></td>
        <td data-name="LastUpdatedDateTime" @Html.Raw(crewFormalEducationForAdminView.LastUpdatedDateTime.CellAttributes)>
<span id="el_CrewFormalEducationForAdmin_LastUpdatedDateTime">
<span @Html.Raw(crewFormalEducationForAdminView.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(crewFormalEducationForAdminView.LastUpdatedDateTime.GetViewValue())</span>
</span></td>
    </tr>
} @* crewFormalEducationForAdminView.LastUpdatedDateTime.Visible (end) *@
</table>
@{ crewFormalEducationForAdminView.CloseRecordset(); }
</form>
</main>
@crewFormalEducationForAdminView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!crewFormalEducationForAdminView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
