@{
    // View
    View = this;

    // Check action result
    if (crewDocumentForAdminDelete.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!crewDocumentForAdminDelete.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(crewDocumentForAdminDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { CrewDocumentForAdmin: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fCrewDocumentForAdmindelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fCrewDocumentForAdmindelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@crewDocumentForAdminDelete.ShowPageHeader()
@crewDocumentForAdminDelete.ShowMessages()
<form name="fCrewDocumentForAdmindelete" id="fCrewDocumentForAdmindelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in crewDocumentForAdminDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(crewDocumentForAdminDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(crewDocumentForAdminDelete.TableContainerClass)" style="@(crewDocumentForAdminDelete.TableContainerStyle)">
<table class="@(crewDocumentForAdminDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (crewDocumentForAdminDelete.MTDocumentID.Visible) { // crewDocumentForAdminDelete.MTDocumentID.Visible (begin)
        <th class="@Html.Raw(crewDocumentForAdminDelete.MTDocumentID.HeaderCellClass)"><span id="elh_CrewDocumentForAdmin_MTDocumentID" class="CrewDocumentForAdmin_MTDocumentID">@Html.Raw(crewDocumentForAdminDelete.MTDocumentID.Caption)</span></th>
} @* crewDocumentForAdminDelete.MTDocumentID.Visible (end) *@
@if (crewDocumentForAdminDelete.Number.Visible) { // crewDocumentForAdminDelete.Number.Visible (begin)
        <th class="@Html.Raw(crewDocumentForAdminDelete.Number.HeaderCellClass)"><span id="elh_CrewDocumentForAdmin_Number" class="CrewDocumentForAdmin_Number">@Html.Raw(crewDocumentForAdminDelete.Number.Caption)</span></th>
} @* crewDocumentForAdminDelete.Number.Visible (end) *@
@if (crewDocumentForAdminDelete.CountryOfIssue_CountryID.Visible) { // crewDocumentForAdminDelete.CountryOfIssue_CountryID.Visible (begin)
        <th class="@Html.Raw(crewDocumentForAdminDelete.CountryOfIssue_CountryID.HeaderCellClass)"><span id="elh_CrewDocumentForAdmin_CountryOfIssue_CountryID" class="CrewDocumentForAdmin_CountryOfIssue_CountryID">@Html.Raw(crewDocumentForAdminDelete.CountryOfIssue_CountryID.Caption)</span></th>
} @* crewDocumentForAdminDelete.CountryOfIssue_CountryID.Visible (end) *@
@if (crewDocumentForAdminDelete.DateOfIssue.Visible) { // crewDocumentForAdminDelete.DateOfIssue.Visible (begin)
        <th class="@Html.Raw(crewDocumentForAdminDelete.DateOfIssue.HeaderCellClass)"><span id="elh_CrewDocumentForAdmin_DateOfIssue" class="CrewDocumentForAdmin_DateOfIssue">@Html.Raw(crewDocumentForAdminDelete.DateOfIssue.Caption)</span></th>
} @* crewDocumentForAdminDelete.DateOfIssue.Visible (end) *@
@if (crewDocumentForAdminDelete.PlaceOfIssue.Visible) { // crewDocumentForAdminDelete.PlaceOfIssue.Visible (begin)
        <th class="@Html.Raw(crewDocumentForAdminDelete.PlaceOfIssue.HeaderCellClass)"><span id="elh_CrewDocumentForAdmin_PlaceOfIssue" class="CrewDocumentForAdmin_PlaceOfIssue">@Html.Raw(crewDocumentForAdminDelete.PlaceOfIssue.Caption)</span></th>
} @* crewDocumentForAdminDelete.PlaceOfIssue.Visible (end) *@
@if (crewDocumentForAdminDelete.DateValidUntil.Visible) { // crewDocumentForAdminDelete.DateValidUntil.Visible (begin)
        <th class="@Html.Raw(crewDocumentForAdminDelete.DateValidUntil.HeaderCellClass)"><span id="elh_CrewDocumentForAdmin_DateValidUntil" class="CrewDocumentForAdmin_DateValidUntil">@Html.Raw(crewDocumentForAdminDelete.DateValidUntil.Caption)</span></th>
} @* crewDocumentForAdminDelete.DateValidUntil.Visible (end) *@
@if (crewDocumentForAdminDelete.Image.Visible) { // crewDocumentForAdminDelete.Image.Visible (begin)
        <th class="@Html.Raw(crewDocumentForAdminDelete.Image.HeaderCellClass)"><span id="elh_CrewDocumentForAdmin_Image" class="CrewDocumentForAdmin_Image">@Html.Raw(crewDocumentForAdminDelete.Image.Caption)</span></th>
} @* crewDocumentForAdminDelete.Image.Visible (end) *@
@if (crewDocumentForAdminDelete.CreatedByUserID.Visible) { // crewDocumentForAdminDelete.CreatedByUserID.Visible (begin)
        <th class="@Html.Raw(crewDocumentForAdminDelete.CreatedByUserID.HeaderCellClass)"><span id="elh_CrewDocumentForAdmin_CreatedByUserID" class="CrewDocumentForAdmin_CreatedByUserID">@Html.Raw(crewDocumentForAdminDelete.CreatedByUserID.Caption)</span></th>
} @* crewDocumentForAdminDelete.CreatedByUserID.Visible (end) *@
@if (crewDocumentForAdminDelete.CreatedDateTime.Visible) { // crewDocumentForAdminDelete.CreatedDateTime.Visible (begin)
        <th class="@Html.Raw(crewDocumentForAdminDelete.CreatedDateTime.HeaderCellClass)"><span id="elh_CrewDocumentForAdmin_CreatedDateTime" class="CrewDocumentForAdmin_CreatedDateTime">@Html.Raw(crewDocumentForAdminDelete.CreatedDateTime.Caption)</span></th>
} @* crewDocumentForAdminDelete.CreatedDateTime.Visible (end) *@
@if (crewDocumentForAdminDelete.LastUpdatedByUserID.Visible) { // crewDocumentForAdminDelete.LastUpdatedByUserID.Visible (begin)
        <th class="@Html.Raw(crewDocumentForAdminDelete.LastUpdatedByUserID.HeaderCellClass)"><span id="elh_CrewDocumentForAdmin_LastUpdatedByUserID" class="CrewDocumentForAdmin_LastUpdatedByUserID">@Html.Raw(crewDocumentForAdminDelete.LastUpdatedByUserID.Caption)</span></th>
} @* crewDocumentForAdminDelete.LastUpdatedByUserID.Visible (end) *@
@if (crewDocumentForAdminDelete.LastUpdatedDateTime.Visible) { // crewDocumentForAdminDelete.LastUpdatedDateTime.Visible (begin)
        <th class="@Html.Raw(crewDocumentForAdminDelete.LastUpdatedDateTime.HeaderCellClass)"><span id="elh_CrewDocumentForAdmin_LastUpdatedDateTime" class="CrewDocumentForAdmin_LastUpdatedDateTime">@Html.Raw(crewDocumentForAdminDelete.LastUpdatedDateTime.Caption)</span></th>
} @* crewDocumentForAdminDelete.LastUpdatedDateTime.Visible (end) *@
@if (crewDocumentForAdminDelete.IsDraft.Visible) { // crewDocumentForAdminDelete.IsDraft.Visible (begin)
        <th class="@Html.Raw(crewDocumentForAdminDelete.IsDraft.HeaderCellClass)"><span id="elh_CrewDocumentForAdmin_IsDraft" class="CrewDocumentForAdmin_IsDraft">@Html.Raw(crewDocumentForAdminDelete.IsDraft.Caption)</span></th>
} @* crewDocumentForAdminDelete.IsDraft.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ crewDocumentForAdminDelete.RecordCount = 0; }
@while (crewDocumentForAdminDelete.Recordset != null && await crewDocumentForAdminDelete.Recordset.ReadAsync()) { // DN
    crewDocumentForAdminDelete.RecordCount++;
    crewDocumentForAdminDelete.RowCount++;

    // Set row properties
    crewDocumentForAdminDelete.ResetAttributes();
    crewDocumentForAdminDelete.RowType = RowType.View; // View

    // Get the field contents
    await crewDocumentForAdminDelete.LoadRowValues(crewDocumentForAdminDelete.Recordset);

    // Render row
    await crewDocumentForAdminDelete.RenderRow();
    <tr @Html.Raw(crewDocumentForAdminDelete.RowAttributes)>
@if (crewDocumentForAdminDelete.MTDocumentID.Visible) { // crewDocumentForAdminDelete.MTDocumentID.Visible (begin)
        <td @Html.Raw(crewDocumentForAdminDelete.MTDocumentID.CellAttributes)>
<span id="el@(crewDocumentForAdminDelete.RowCount)_CrewDocumentForAdmin_MTDocumentID" class="el_CrewDocumentForAdmin_MTDocumentID">
<span @Html.Raw(crewDocumentForAdminDelete.MTDocumentID.ViewAttributes)>
@Html.Raw(crewDocumentForAdminDelete.MTDocumentID.GetViewValue())</span>
</span></td>
} @* crewDocumentForAdminDelete.MTDocumentID.Visible (end) *@
@if (crewDocumentForAdminDelete.Number.Visible) { // crewDocumentForAdminDelete.Number.Visible (begin)
        <td @Html.Raw(crewDocumentForAdminDelete.Number.CellAttributes)>
<span id="el@(crewDocumentForAdminDelete.RowCount)_CrewDocumentForAdmin_Number" class="el_CrewDocumentForAdmin_Number">
<span @Html.Raw(crewDocumentForAdminDelete.Number.ViewAttributes)>
@Html.Raw(crewDocumentForAdminDelete.Number.GetViewValue())</span>
</span></td>
} @* crewDocumentForAdminDelete.Number.Visible (end) *@
@if (crewDocumentForAdminDelete.CountryOfIssue_CountryID.Visible) { // crewDocumentForAdminDelete.CountryOfIssue_CountryID.Visible (begin)
        <td @Html.Raw(crewDocumentForAdminDelete.CountryOfIssue_CountryID.CellAttributes)>
<span id="el@(crewDocumentForAdminDelete.RowCount)_CrewDocumentForAdmin_CountryOfIssue_CountryID" class="el_CrewDocumentForAdmin_CountryOfIssue_CountryID">
<span @Html.Raw(crewDocumentForAdminDelete.CountryOfIssue_CountryID.ViewAttributes)>
@Html.Raw(crewDocumentForAdminDelete.CountryOfIssue_CountryID.GetViewValue())</span>
</span></td>
} @* crewDocumentForAdminDelete.CountryOfIssue_CountryID.Visible (end) *@
@if (crewDocumentForAdminDelete.DateOfIssue.Visible) { // crewDocumentForAdminDelete.DateOfIssue.Visible (begin)
        <td @Html.Raw(crewDocumentForAdminDelete.DateOfIssue.CellAttributes)>
<span id="el@(crewDocumentForAdminDelete.RowCount)_CrewDocumentForAdmin_DateOfIssue" class="el_CrewDocumentForAdmin_DateOfIssue">
<span @Html.Raw(crewDocumentForAdminDelete.DateOfIssue.ViewAttributes)>
@Html.Raw(crewDocumentForAdminDelete.DateOfIssue.GetViewValue())</span>
</span></td>
} @* crewDocumentForAdminDelete.DateOfIssue.Visible (end) *@
@if (crewDocumentForAdminDelete.PlaceOfIssue.Visible) { // crewDocumentForAdminDelete.PlaceOfIssue.Visible (begin)
        <td @Html.Raw(crewDocumentForAdminDelete.PlaceOfIssue.CellAttributes)>
<span id="el@(crewDocumentForAdminDelete.RowCount)_CrewDocumentForAdmin_PlaceOfIssue" class="el_CrewDocumentForAdmin_PlaceOfIssue">
<span @Html.Raw(crewDocumentForAdminDelete.PlaceOfIssue.ViewAttributes)>
@Html.Raw(crewDocumentForAdminDelete.PlaceOfIssue.GetViewValue())</span>
</span></td>
} @* crewDocumentForAdminDelete.PlaceOfIssue.Visible (end) *@
@if (crewDocumentForAdminDelete.DateValidUntil.Visible) { // crewDocumentForAdminDelete.DateValidUntil.Visible (begin)
        <td @Html.Raw(crewDocumentForAdminDelete.DateValidUntil.CellAttributes)>
<span id="el@(crewDocumentForAdminDelete.RowCount)_CrewDocumentForAdmin_DateValidUntil" class="el_CrewDocumentForAdmin_DateValidUntil">
<span @Html.Raw(crewDocumentForAdminDelete.DateValidUntil.ViewAttributes)>
@Html.Raw(crewDocumentForAdminDelete.DateValidUntil.GetViewValue())</span>
</span></td>
} @* crewDocumentForAdminDelete.DateValidUntil.Visible (end) *@
@if (crewDocumentForAdminDelete.Image.Visible) { // crewDocumentForAdminDelete.Image.Visible (begin)
        <td @Html.Raw(crewDocumentForAdminDelete.Image.CellAttributes)>
<span id="el@(crewDocumentForAdminDelete.RowCount)_CrewDocumentForAdmin_Image" class="el_CrewDocumentForAdmin_Image">
<span>
@Html.Raw(await GetFileViewTag((DbField)crewDocumentForAdminDelete.Image, ConvertToString(crewDocumentForAdminDelete.Image.GetViewValue()), false))
</span>
</span></td>
} @* crewDocumentForAdminDelete.Image.Visible (end) *@
@if (crewDocumentForAdminDelete.CreatedByUserID.Visible) { // crewDocumentForAdminDelete.CreatedByUserID.Visible (begin)
        <td @Html.Raw(crewDocumentForAdminDelete.CreatedByUserID.CellAttributes)>
<span id="el@(crewDocumentForAdminDelete.RowCount)_CrewDocumentForAdmin_CreatedByUserID" class="el_CrewDocumentForAdmin_CreatedByUserID">
<span @Html.Raw(crewDocumentForAdminDelete.CreatedByUserID.ViewAttributes)>
@Html.Raw(crewDocumentForAdminDelete.CreatedByUserID.GetViewValue())</span>
</span></td>
} @* crewDocumentForAdminDelete.CreatedByUserID.Visible (end) *@
@if (crewDocumentForAdminDelete.CreatedDateTime.Visible) { // crewDocumentForAdminDelete.CreatedDateTime.Visible (begin)
        <td @Html.Raw(crewDocumentForAdminDelete.CreatedDateTime.CellAttributes)>
<span id="el@(crewDocumentForAdminDelete.RowCount)_CrewDocumentForAdmin_CreatedDateTime" class="el_CrewDocumentForAdmin_CreatedDateTime">
<span @Html.Raw(crewDocumentForAdminDelete.CreatedDateTime.ViewAttributes)>
@Html.Raw(crewDocumentForAdminDelete.CreatedDateTime.GetViewValue())</span>
</span></td>
} @* crewDocumentForAdminDelete.CreatedDateTime.Visible (end) *@
@if (crewDocumentForAdminDelete.LastUpdatedByUserID.Visible) { // crewDocumentForAdminDelete.LastUpdatedByUserID.Visible (begin)
        <td @Html.Raw(crewDocumentForAdminDelete.LastUpdatedByUserID.CellAttributes)>
<span id="el@(crewDocumentForAdminDelete.RowCount)_CrewDocumentForAdmin_LastUpdatedByUserID" class="el_CrewDocumentForAdmin_LastUpdatedByUserID">
<span @Html.Raw(crewDocumentForAdminDelete.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(crewDocumentForAdminDelete.LastUpdatedByUserID.GetViewValue())</span>
</span></td>
} @* crewDocumentForAdminDelete.LastUpdatedByUserID.Visible (end) *@
@if (crewDocumentForAdminDelete.LastUpdatedDateTime.Visible) { // crewDocumentForAdminDelete.LastUpdatedDateTime.Visible (begin)
        <td @Html.Raw(crewDocumentForAdminDelete.LastUpdatedDateTime.CellAttributes)>
<span id="el@(crewDocumentForAdminDelete.RowCount)_CrewDocumentForAdmin_LastUpdatedDateTime" class="el_CrewDocumentForAdmin_LastUpdatedDateTime">
<span @Html.Raw(crewDocumentForAdminDelete.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(crewDocumentForAdminDelete.LastUpdatedDateTime.GetViewValue())</span>
</span></td>
} @* crewDocumentForAdminDelete.LastUpdatedDateTime.Visible (end) *@
@if (crewDocumentForAdminDelete.IsDraft.Visible) { // crewDocumentForAdminDelete.IsDraft.Visible (begin)
        <td @Html.Raw(crewDocumentForAdminDelete.IsDraft.CellAttributes)>
<span id="el@(crewDocumentForAdminDelete.RowCount)_CrewDocumentForAdmin_IsDraft" class="el_CrewDocumentForAdmin_IsDraft">
<span @Html.Raw(crewDocumentForAdminDelete.IsDraft.ViewAttributes)>
<div class="form-check d-inline-block">
    <input type="checkbox" id="x_IsDraft_@(crewDocumentForAdminDelete.RowCount)" class="form-check-input" value="@(crewDocumentForAdminDelete.IsDraft.GetViewValue())" disabled checked="@(ConvertToBool(crewDocumentForAdminDelete.IsDraft.CurrentValue))">
    <label class="form-check-label" for="x_IsDraft_@(crewDocumentForAdminDelete.RowCount)"></label>
</div></span>
</span></td>
} @* crewDocumentForAdminDelete.IsDraft.Visible (end) *@
    </tr>
}
@{ crewDocumentForAdminDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(crewDocumentForAdminDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@crewDocumentForAdminDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
