@{
    // View
    View = this;

    // Check action result
    if (crewAppraisalForAdminViewModeAdd.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!crewAppraisalForAdminViewModeAdd.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(crewAppraisalForAdminViewModeAdd.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { CrewAppraisalForAdminViewMode: currentTable } });
var currentPageID = ew.PAGE_ID = "add";
var currentForm;
var fCrewAppraisalForAdminViewModeadd;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fCrewAppraisalForAdminViewModeadd")
        .setPageId("add")

        // Add fields
        .setFields([

            ["VesselName", [fields.VesselName.visible && fields.VesselName.required ? ew.Validators.required(fields.VesselName.caption) : null], fields.VesselName.isInvalid],
            ["MTRankID", [fields.MTRankID.visible && fields.MTRankID.required ? ew.Validators.required(fields.MTRankID.caption) : null], fields.MTRankID.isInvalid],
            ["Questionnaire", [fields.Questionnaire.visible && fields.Questionnaire.required ? ew.Validators.required(fields.Questionnaire.caption) : null], fields.Questionnaire.isInvalid],
            ["Approved", [fields.Approved.visible && fields.Approved.required ? ew.Validators.required(fields.Approved.caption) : null], fields.Approved.isInvalid],
            ["AverageRating", [fields.AverageRating.visible && fields.AverageRating.required ? ew.Validators.required(fields.AverageRating.caption) : null], fields.AverageRating.isInvalid],
            ["Rehire", [fields.Rehire.visible && fields.Rehire.required ? ew.Validators.required(fields.Rehire.caption) : null], fields.Rehire.isInvalid],
            ["Promote", [fields.Promote.visible && fields.Promote.required ? ew.Validators.required(fields.Promote.caption) : null], fields.Promote.isInvalid],
            ["Appraiser", [fields.Appraiser.visible && fields.Appraiser.required ? ew.Validators.required(fields.Appraiser.caption) : null], fields.Appraiser.isInvalid],
            ["DateInput", [fields.DateInput.visible && fields.DateInput.required ? ew.Validators.required(fields.DateInput.caption) : null, ew.Validators.datetime(fields.DateInput.clientFormatPattern)], fields.DateInput.isInvalid],
            ["MTCrewID", [fields.MTCrewID.visible && fields.MTCrewID.required ? ew.Validators.required(fields.MTCrewID.caption) : null], fields.MTCrewID.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "MTRankID": @Html.Raw(crewAppraisalForAdminViewModeAdd.MTRankID.ToClientList(crewAppraisalForAdminViewModeAdd)),
            "Approved": @Html.Raw(crewAppraisalForAdminViewModeAdd.Approved.ToClientList(crewAppraisalForAdminViewModeAdd)),
            "Rehire": @Html.Raw(crewAppraisalForAdminViewModeAdd.Rehire.ToClientList(crewAppraisalForAdminViewModeAdd)),
            "Promote": @Html.Raw(crewAppraisalForAdminViewModeAdd.Promote.ToClientList(crewAppraisalForAdminViewModeAdd)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@crewAppraisalForAdminViewModeAdd.ShowPageHeader()
@crewAppraisalForAdminViewModeAdd.ShowMessages()
<form name="fCrewAppraisalForAdminViewModeadd" id="fCrewAppraisalForAdminViewModeadd" class="@(crewAppraisalForAdminViewModeAdd.FormClassName)" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="insert">
<input type="hidden" name="modal" value="@ConvertToInt(crewAppraisalForAdminViewModeAdd.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(crewAppraisalForAdminViewModeAdd.OldKeyName)" value="@Html.Raw(crewAppraisalForAdminViewModeAdd.OldKey)">
<div class="ew-add-div d-none"><!-- page* -->
@if (crewAppraisalForAdminViewModeAdd.VesselName.Visible) { // crewAppraisalForAdminViewModeAdd.VesselName.Visible (begin)
    <div id="r_VesselName" @Html.Raw(crewAppraisalForAdminViewModeAdd.VesselName.RowAttributes)>
        <label id="elh_CrewAppraisalForAdminViewMode_VesselName" for="x_VesselName" class="@(crewAppraisalForAdminViewModeAdd.LeftColumnClass)"><template id="tpc_CrewAppraisalForAdminViewMode_VesselName">@Html.Raw(crewAppraisalForAdminViewModeAdd.VesselName.Caption)@Html.Raw(crewAppraisalForAdminViewModeAdd.VesselName.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewAppraisalForAdminViewModeAdd.RightColumnClass)"><div @Html.Raw(crewAppraisalForAdminViewModeAdd.VesselName.CellAttributes)>
<template id="tpx_CrewAppraisalForAdminViewMode_VesselName"><span id="el_CrewAppraisalForAdminViewMode_VesselName">
<input type="@(crewAppraisalForAdminViewModeAdd.VesselName.InputTextType)" name="x_VesselName" id="x_VesselName" data-table="CrewAppraisalForAdminViewMode" data-field="x_VesselName" value="@Html.Raw(crewAppraisalForAdminViewModeAdd.VesselName.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(crewAppraisalForAdminViewModeAdd.VesselName.PlaceHolder))" data-format-pattern="@(crewAppraisalForAdminViewModeAdd.VesselName.FormatPattern)"@Html.Raw(crewAppraisalForAdminViewModeAdd.VesselName.EditAttributes) aria-describedby="x_VesselName_help">
@Html.Raw(crewAppraisalForAdminViewModeAdd.VesselName.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewAppraisalForAdminViewModeAdd.VesselName.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* crewAppraisalForAdminViewModeAdd.VesselName.Visible (end) *@
@if (crewAppraisalForAdminViewModeAdd.MTRankID.Visible) { // crewAppraisalForAdminViewModeAdd.MTRankID.Visible (begin)
    <div id="r_MTRankID" @Html.Raw(crewAppraisalForAdminViewModeAdd.MTRankID.RowAttributes)>
        <label id="elh_CrewAppraisalForAdminViewMode_MTRankID" for="x_MTRankID" class="@(crewAppraisalForAdminViewModeAdd.LeftColumnClass)"><template id="tpc_CrewAppraisalForAdminViewMode_MTRankID">@Html.Raw(crewAppraisalForAdminViewModeAdd.MTRankID.Caption)@Html.Raw(crewAppraisalForAdminViewModeAdd.MTRankID.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewAppraisalForAdminViewModeAdd.RightColumnClass)"><div @Html.Raw(crewAppraisalForAdminViewModeAdd.MTRankID.CellAttributes)>
<template id="tpx_CrewAppraisalForAdminViewMode_MTRankID"><span id="el_CrewAppraisalForAdminViewMode_MTRankID">
    <select
        id="x_MTRankID"
        name="x_MTRankID"
        class="form-select ew-select@(crewAppraisalForAdminViewModeAdd.MTRankID.IsInvalidClass)"
        data-select2-id="fCrewAppraisalForAdminViewModeadd_x_MTRankID"
        data-table="CrewAppraisalForAdminViewMode"
        data-field="x_MTRankID"
        data-value-separator="@(crewAppraisalForAdminViewModeAdd.MTRankID.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(crewAppraisalForAdminViewModeAdd.MTRankID.PlaceHolder))"
        @Html.Raw(crewAppraisalForAdminViewModeAdd.MTRankID.EditAttributes)>
        @(crewAppraisalForAdminViewModeAdd.MTRankID.SelectOptionListHtml("x_MTRankID"))
    </select>
    @Html.Raw(crewAppraisalForAdminViewModeAdd.MTRankID.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(crewAppraisalForAdminViewModeAdd.MTRankID.GetErrorMessage())</div>
@Html.Raw(crewAppraisalForAdminViewModeAdd.MTRankID.Lookup.GetParamTag(crewAppraisalForAdminViewModeAdd, "p_x_MTRankID"))
<script>
loadjs.ready("fCrewAppraisalForAdminViewModeadd", function() {
    var options = { name: "x_MTRankID", selectId: "fCrewAppraisalForAdminViewModeadd_x_MTRankID" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fCrewAppraisalForAdminViewModeadd.lists.MTRankID?.lookupOptions.length) {
        options.data = { id: "x_MTRankID", form: "fCrewAppraisalForAdminViewModeadd" };
    } else {
        options.ajax = { id: "x_MTRankID", form: "fCrewAppraisalForAdminViewModeadd", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumResultsForSearch = Infinity;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.CrewAppraisalForAdminViewMode.fields.MTRankID.selectOptions);
    ew.createSelect(options);
});
</script>
</span></template>
</div></div>
    </div>
} @* crewAppraisalForAdminViewModeAdd.MTRankID.Visible (end) *@
@if (crewAppraisalForAdminViewModeAdd.Questionnaire.Visible) { // crewAppraisalForAdminViewModeAdd.Questionnaire.Visible (begin)
    <div id="r_Questionnaire" @Html.Raw(crewAppraisalForAdminViewModeAdd.Questionnaire.RowAttributes)>
        <label id="elh_CrewAppraisalForAdminViewMode_Questionnaire" for="x_Questionnaire" class="@(crewAppraisalForAdminViewModeAdd.LeftColumnClass)"><template id="tpc_CrewAppraisalForAdminViewMode_Questionnaire">@Html.Raw(crewAppraisalForAdminViewModeAdd.Questionnaire.Caption)@Html.Raw(crewAppraisalForAdminViewModeAdd.Questionnaire.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewAppraisalForAdminViewModeAdd.RightColumnClass)"><div @Html.Raw(crewAppraisalForAdminViewModeAdd.Questionnaire.CellAttributes)>
<template id="tpx_CrewAppraisalForAdminViewMode_Questionnaire"><span id="el_CrewAppraisalForAdminViewMode_Questionnaire">
<input type="@(crewAppraisalForAdminViewModeAdd.Questionnaire.InputTextType)" name="x_Questionnaire" id="x_Questionnaire" data-table="CrewAppraisalForAdminViewMode" data-field="x_Questionnaire" value="@Html.Raw(crewAppraisalForAdminViewModeAdd.Questionnaire.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(crewAppraisalForAdminViewModeAdd.Questionnaire.PlaceHolder))" data-format-pattern="@(crewAppraisalForAdminViewModeAdd.Questionnaire.FormatPattern)"@Html.Raw(crewAppraisalForAdminViewModeAdd.Questionnaire.EditAttributes) aria-describedby="x_Questionnaire_help">
@Html.Raw(crewAppraisalForAdminViewModeAdd.Questionnaire.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewAppraisalForAdminViewModeAdd.Questionnaire.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* crewAppraisalForAdminViewModeAdd.Questionnaire.Visible (end) *@
@if (crewAppraisalForAdminViewModeAdd.Approved.Visible) { // crewAppraisalForAdminViewModeAdd.Approved.Visible (begin)
    <div id="r_Approved" @Html.Raw(crewAppraisalForAdminViewModeAdd.Approved.RowAttributes)>
        <label id="elh_CrewAppraisalForAdminViewMode_Approved" class="@(crewAppraisalForAdminViewModeAdd.LeftColumnClass)"><template id="tpc_CrewAppraisalForAdminViewMode_Approved">@Html.Raw(crewAppraisalForAdminViewModeAdd.Approved.Caption)@Html.Raw(crewAppraisalForAdminViewModeAdd.Approved.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewAppraisalForAdminViewModeAdd.RightColumnClass)"><div @Html.Raw(crewAppraisalForAdminViewModeAdd.Approved.CellAttributes)>
<template id="tpx_CrewAppraisalForAdminViewMode_Approved"><span id="el_CrewAppraisalForAdminViewMode_Approved">
<div class="form-check d-inline-block">
    <input type="checkbox" class="form-check-input@(crewAppraisalForAdminViewModeAdd.Approved.IsInvalidClass)" data-table="CrewAppraisalForAdminViewMode" data-field="x_Approved" data-boolean name="x_Approved" id="x_Approved" value="1" checked="@ConvertToBool(crewAppraisalForAdminViewModeAdd.Approved.CurrentValue)" @Html.Raw(crewAppraisalForAdminViewModeAdd.Approved.EditAttributes) aria-describedby="x_Approved_help">
    <div class="invalid-feedback">@Html.Raw(crewAppraisalForAdminViewModeAdd.Approved.GetErrorMessage())</div>
</div>
@Html.Raw(crewAppraisalForAdminViewModeAdd.Approved.GetCustomMessage)
</span></template>
</div></div>
    </div>
} @* crewAppraisalForAdminViewModeAdd.Approved.Visible (end) *@
@if (crewAppraisalForAdminViewModeAdd.AverageRating.Visible) { // crewAppraisalForAdminViewModeAdd.AverageRating.Visible (begin)
    <div id="r_AverageRating" @Html.Raw(crewAppraisalForAdminViewModeAdd.AverageRating.RowAttributes)>
        <label id="elh_CrewAppraisalForAdminViewMode_AverageRating" for="x_AverageRating" class="@(crewAppraisalForAdminViewModeAdd.LeftColumnClass)"><template id="tpc_CrewAppraisalForAdminViewMode_AverageRating">@Html.Raw(crewAppraisalForAdminViewModeAdd.AverageRating.Caption)@Html.Raw(crewAppraisalForAdminViewModeAdd.AverageRating.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewAppraisalForAdminViewModeAdd.RightColumnClass)"><div @Html.Raw(crewAppraisalForAdminViewModeAdd.AverageRating.CellAttributes)>
<template id="tpx_CrewAppraisalForAdminViewMode_AverageRating"><span id="el_CrewAppraisalForAdminViewMode_AverageRating">
<input type="@(crewAppraisalForAdminViewModeAdd.AverageRating.InputTextType)" name="x_AverageRating" id="x_AverageRating" data-table="CrewAppraisalForAdminViewMode" data-field="x_AverageRating" value="@Html.Raw(crewAppraisalForAdminViewModeAdd.AverageRating.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(crewAppraisalForAdminViewModeAdd.AverageRating.PlaceHolder))" data-format-pattern="@(crewAppraisalForAdminViewModeAdd.AverageRating.FormatPattern)"@Html.Raw(crewAppraisalForAdminViewModeAdd.AverageRating.EditAttributes) aria-describedby="x_AverageRating_help">
@Html.Raw(crewAppraisalForAdminViewModeAdd.AverageRating.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewAppraisalForAdminViewModeAdd.AverageRating.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* crewAppraisalForAdminViewModeAdd.AverageRating.Visible (end) *@
@if (crewAppraisalForAdminViewModeAdd.Rehire.Visible) { // crewAppraisalForAdminViewModeAdd.Rehire.Visible (begin)
    <div id="r_Rehire" @Html.Raw(crewAppraisalForAdminViewModeAdd.Rehire.RowAttributes)>
        <label id="elh_CrewAppraisalForAdminViewMode_Rehire" class="@(crewAppraisalForAdminViewModeAdd.LeftColumnClass)"><template id="tpc_CrewAppraisalForAdminViewMode_Rehire">@Html.Raw(crewAppraisalForAdminViewModeAdd.Rehire.Caption)@Html.Raw(crewAppraisalForAdminViewModeAdd.Rehire.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewAppraisalForAdminViewModeAdd.RightColumnClass)"><div @Html.Raw(crewAppraisalForAdminViewModeAdd.Rehire.CellAttributes)>
<template id="tpx_CrewAppraisalForAdminViewMode_Rehire"><span id="el_CrewAppraisalForAdminViewMode_Rehire">
<div class="form-check d-inline-block">
    <input type="checkbox" class="form-check-input@(crewAppraisalForAdminViewModeAdd.Rehire.IsInvalidClass)" data-table="CrewAppraisalForAdminViewMode" data-field="x_Rehire" data-boolean name="x_Rehire" id="x_Rehire" value="1" checked="@ConvertToBool(crewAppraisalForAdminViewModeAdd.Rehire.CurrentValue)" @Html.Raw(crewAppraisalForAdminViewModeAdd.Rehire.EditAttributes) aria-describedby="x_Rehire_help">
    <div class="invalid-feedback">@Html.Raw(crewAppraisalForAdminViewModeAdd.Rehire.GetErrorMessage())</div>
</div>
@Html.Raw(crewAppraisalForAdminViewModeAdd.Rehire.GetCustomMessage)
</span></template>
</div></div>
    </div>
} @* crewAppraisalForAdminViewModeAdd.Rehire.Visible (end) *@
@if (crewAppraisalForAdminViewModeAdd.Promote.Visible) { // crewAppraisalForAdminViewModeAdd.Promote.Visible (begin)
    <div id="r_Promote" @Html.Raw(crewAppraisalForAdminViewModeAdd.Promote.RowAttributes)>
        <label id="elh_CrewAppraisalForAdminViewMode_Promote" class="@(crewAppraisalForAdminViewModeAdd.LeftColumnClass)"><template id="tpc_CrewAppraisalForAdminViewMode_Promote">@Html.Raw(crewAppraisalForAdminViewModeAdd.Promote.Caption)@Html.Raw(crewAppraisalForAdminViewModeAdd.Promote.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewAppraisalForAdminViewModeAdd.RightColumnClass)"><div @Html.Raw(crewAppraisalForAdminViewModeAdd.Promote.CellAttributes)>
<template id="tpx_CrewAppraisalForAdminViewMode_Promote"><span id="el_CrewAppraisalForAdminViewMode_Promote">
<div class="form-check d-inline-block">
    <input type="checkbox" class="form-check-input@(crewAppraisalForAdminViewModeAdd.Promote.IsInvalidClass)" data-table="CrewAppraisalForAdminViewMode" data-field="x_Promote" data-boolean name="x_Promote" id="x_Promote" value="1" checked="@ConvertToBool(crewAppraisalForAdminViewModeAdd.Promote.CurrentValue)" @Html.Raw(crewAppraisalForAdminViewModeAdd.Promote.EditAttributes) aria-describedby="x_Promote_help">
    <div class="invalid-feedback">@Html.Raw(crewAppraisalForAdminViewModeAdd.Promote.GetErrorMessage())</div>
</div>
@Html.Raw(crewAppraisalForAdminViewModeAdd.Promote.GetCustomMessage)
</span></template>
</div></div>
    </div>
} @* crewAppraisalForAdminViewModeAdd.Promote.Visible (end) *@
@if (crewAppraisalForAdminViewModeAdd.Appraiser.Visible) { // crewAppraisalForAdminViewModeAdd.Appraiser.Visible (begin)
    <div id="r_Appraiser" @Html.Raw(crewAppraisalForAdminViewModeAdd.Appraiser.RowAttributes)>
        <label id="elh_CrewAppraisalForAdminViewMode_Appraiser" for="x_Appraiser" class="@(crewAppraisalForAdminViewModeAdd.LeftColumnClass)"><template id="tpc_CrewAppraisalForAdminViewMode_Appraiser">@Html.Raw(crewAppraisalForAdminViewModeAdd.Appraiser.Caption)@Html.Raw(crewAppraisalForAdminViewModeAdd.Appraiser.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewAppraisalForAdminViewModeAdd.RightColumnClass)"><div @Html.Raw(crewAppraisalForAdminViewModeAdd.Appraiser.CellAttributes)>
<template id="tpx_CrewAppraisalForAdminViewMode_Appraiser"><span id="el_CrewAppraisalForAdminViewMode_Appraiser">
<input type="@(crewAppraisalForAdminViewModeAdd.Appraiser.InputTextType)" name="x_Appraiser" id="x_Appraiser" data-table="CrewAppraisalForAdminViewMode" data-field="x_Appraiser" value="@Html.Raw(crewAppraisalForAdminViewModeAdd.Appraiser.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(crewAppraisalForAdminViewModeAdd.Appraiser.PlaceHolder))" data-format-pattern="@(crewAppraisalForAdminViewModeAdd.Appraiser.FormatPattern)"@Html.Raw(crewAppraisalForAdminViewModeAdd.Appraiser.EditAttributes) aria-describedby="x_Appraiser_help">
@Html.Raw(crewAppraisalForAdminViewModeAdd.Appraiser.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewAppraisalForAdminViewModeAdd.Appraiser.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* crewAppraisalForAdminViewModeAdd.Appraiser.Visible (end) *@
@if (crewAppraisalForAdminViewModeAdd.DateInput.Visible) { // crewAppraisalForAdminViewModeAdd.DateInput.Visible (begin)
    <div id="r_DateInput" @Html.Raw(crewAppraisalForAdminViewModeAdd.DateInput.RowAttributes)>
        <label id="elh_CrewAppraisalForAdminViewMode_DateInput" for="x_DateInput" class="@(crewAppraisalForAdminViewModeAdd.LeftColumnClass)"><template id="tpc_CrewAppraisalForAdminViewMode_DateInput">@Html.Raw(crewAppraisalForAdminViewModeAdd.DateInput.Caption)@Html.Raw(crewAppraisalForAdminViewModeAdd.DateInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewAppraisalForAdminViewModeAdd.RightColumnClass)"><div @Html.Raw(crewAppraisalForAdminViewModeAdd.DateInput.CellAttributes)>
<template id="tpx_CrewAppraisalForAdminViewMode_DateInput"><span id="el_CrewAppraisalForAdminViewMode_DateInput">
<input type="@(crewAppraisalForAdminViewModeAdd.DateInput.InputTextType)" name="x_DateInput" id="x_DateInput" data-table="CrewAppraisalForAdminViewMode" data-field="x_DateInput" value="@Html.Raw(crewAppraisalForAdminViewModeAdd.DateInput.EditValue)" placeholder="@Html.Raw(HtmlEncode(crewAppraisalForAdminViewModeAdd.DateInput.PlaceHolder))" data-format-pattern="@(crewAppraisalForAdminViewModeAdd.DateInput.FormatPattern)"@Html.Raw(crewAppraisalForAdminViewModeAdd.DateInput.EditAttributes) aria-describedby="x_DateInput_help">
@Html.Raw(crewAppraisalForAdminViewModeAdd.DateInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewAppraisalForAdminViewModeAdd.DateInput.GetErrorMessage())</div>
@if (!crewAppraisalForAdminViewModeAdd.DateInput.ReadOnly && !crewAppraisalForAdminViewModeAdd.DateInput.Disabled && !crewAppraisalForAdminViewModeAdd.DateInput.EditAttrs.Is("readonly") && !crewAppraisalForAdminViewModeAdd.DateInput.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fCrewAppraisalForAdminViewModeadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fCrewAppraisalForAdminViewModeadd", "x_DateInput", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span></template>
</div></div>
    </div>
} @* crewAppraisalForAdminViewModeAdd.DateInput.Visible (end) *@
@if (crewAppraisalForAdminViewModeAdd.MTCrewID.Visible) { // crewAppraisalForAdminViewModeAdd.MTCrewID.Visible (begin)
    <div id="r_MTCrewID" @Html.Raw(crewAppraisalForAdminViewModeAdd.MTCrewID.RowAttributes)>
        <label id="elh_CrewAppraisalForAdminViewMode_MTCrewID" for="x_MTCrewID" class="@(crewAppraisalForAdminViewModeAdd.LeftColumnClass)"><template id="tpc_CrewAppraisalForAdminViewMode_MTCrewID">@Html.Raw(crewAppraisalForAdminViewModeAdd.MTCrewID.Caption)@Html.Raw(crewAppraisalForAdminViewModeAdd.MTCrewID.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewAppraisalForAdminViewModeAdd.RightColumnClass)"><div @Html.Raw(crewAppraisalForAdminViewModeAdd.MTCrewID.CellAttributes)>
<template id="tpx_CrewAppraisalForAdminViewMode_MTCrewID"><span id="el_CrewAppraisalForAdminViewMode_MTCrewID">
<input type="@(crewAppraisalForAdminViewModeAdd.MTCrewID.InputTextType)" name="x_MTCrewID" id="x_MTCrewID" data-table="CrewAppraisalForAdminViewMode" data-field="x_MTCrewID" value="@Html.Raw(crewAppraisalForAdminViewModeAdd.MTCrewID.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(crewAppraisalForAdminViewModeAdd.MTCrewID.PlaceHolder))" data-format-pattern="@(crewAppraisalForAdminViewModeAdd.MTCrewID.FormatPattern)"@Html.Raw(crewAppraisalForAdminViewModeAdd.MTCrewID.EditAttributes) aria-describedby="x_MTCrewID_help">
@Html.Raw(crewAppraisalForAdminViewModeAdd.MTCrewID.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewAppraisalForAdminViewModeAdd.MTCrewID.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* crewAppraisalForAdminViewModeAdd.MTCrewID.Visible (end) *@
</div><!-- /page* -->
<div id="tpd_CrewAppraisalForAdminViewModeadd" class="ew-custom-template"></div>
<template id="tpm_CrewAppraisalForAdminViewModeadd">
<div id="ct_crewAppraisalForAdminViewModeAdd">    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewPersonalDataForAdminViewModeView")">
                @(CurrentLanguage == "en-US" ? "PERSONAL DATA" : "DATA PERSONAL")
            </a>     
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewDocumentForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "DOCUMENTS" : "DOKUMEN")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewBankAccountForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "BANK ACCOUNT" : "REKENING BANK")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewFamilyForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "FAMILY" : "KELUARGA")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewFormalEducationForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "FORMAL EDUCATION" : "PENDIDIKAN FORMAL")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewMedicalCertificateForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "MEDICAL CERTIFICATE / TEST" : "SERTIFIKAT / TES MEDIS")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewCertificateForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "CERTIFICATES AND QUALIFICATIONS" : "SERTIFIKAT DAN KUALIFIKASI")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewExperienceForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "SEA EXPERIENCE" : "PENGALAMAN BERLAYAR")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewAppraisalForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "APPRAISALS" : "PENILAIAN")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewMedicalHistoryForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "MEDICAL HISTORY" : "RIWAYAT MEDIS")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewGeneralDataForAdminViewModeView")">
                @(CurrentLanguage == "en-US" ? "GENERAL" : "UMUM")
            </a>
        </li>
    </ul> 
    <div class="mb-2 row">
        <div class="col-sm-6">
            <div id="r_VesselName" class="mb-2 row">
                <label for="x_VesselName" class="col-form-label">@Html.Raw(crewAppraisalForAdminViewModeAdd.VesselName.Caption)</label>
                <div><slot class="ew-slot" name="tpx_CrewAppraisalForAdminViewMode_VesselName"></slot></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="r_MTRankID" class="mb-2 row">
                <label for="x_MTRankID" class="col-form-label">@Html.Raw(crewAppraisalForAdminViewModeAdd.MTRankID.Caption)</label>
                <div><slot class="ew-slot" name="tpx_CrewAppraisalForAdminViewMode_MTRankID"></slot></div>
            </div>
        </div>
    </div>
    <div class="mb-2 row">
        <div class="col-sm-6">
            <div id="r_Questionnaire" class="mb-2 row">
                <label for="x_Questionnaire" class="col-form-label">@Html.Raw(crewAppraisalForAdminViewModeAdd.Questionnaire.Caption)</label>
                <div><slot class="ew-slot" name="tpx_CrewAppraisalForAdminViewMode_Questionnaire"></slot></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="r_Approved" class="mb-2 row">
                <label for="x_Approved" class="col-form-label">@Html.Raw(crewAppraisalForAdminViewModeAdd.Approved.Caption)</label>
                <div><slot class="ew-slot" name="tpx_CrewAppraisalForAdminViewMode_Approved"></slot></div>
            </div>
        </div>
    </div>
    <div class="mb-2 row">
        <div class="col-sm-6">
            <div id="r_AverageRating" class="mb-2 row">
                <label for="x_AverageRating" class="col-form-label">@Html.Raw(crewAppraisalForAdminViewModeAdd.AverageRating.Caption)</label>
                <div><slot class="ew-slot" name="tpx_CrewAppraisalForAdminViewMode_AverageRating"></slot></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="r_Rehire" class="mb-2 row">
                <label for="x_Rehire" class="col-form-label">@Html.Raw(crewAppraisalForAdminViewModeAdd.Rehire.Caption)</label>
                <div><slot class="ew-slot" name="tpx_CrewAppraisalForAdminViewMode_Rehire"></slot></div>
            </div>
        </div>
    </div>
    <div class="mb-2 row">
        <div class="col-sm-6">
            <div id="r_Promote" class="mb-2 row">
                <label for="x_Promote" class="col-form-label">@Html.Raw(crewAppraisalForAdminViewModeAdd.Promote.Caption)</label>
                <div><slot class="ew-slot" name="tpx_CrewAppraisalForAdminViewMode_Promote"></slot></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="r_Appraiser" class="mb-2 row">
                <label for="x_Appraiser" class="col-form-label">@Html.Raw(crewAppraisalForAdminViewModeAdd.Appraiser.Caption)</label>
                <div><slot class="ew-slot" name="tpx_CrewAppraisalForAdminViewMode_Appraiser"></slot></div>
            </div>
        </div>
    </div>
    <div class="mb-2 row">
        <div class="col-sm-6">
            <div id="r_DateInput" class="mb-2 row">
                <label for="x_DateInput" class="col-form-label">@Html.Raw(crewAppraisalForAdminViewModeAdd.DateInput.Caption)</label>
                <div><slot class="ew-slot" name="tpx_CrewAppraisalForAdminViewMode_DateInput"></slot></div>
            </div>
        </div>
        <div class="col-sm-6">
        </div>
    </div>
    <div class="row"><!-- buttons .row -->
        <div class="d-flex mb-2"><!-- buttons offset -->
            <button class="btn btn-primary ew-btn ms-auto primary-black-clr gray-bg" id="btn-add-entry">
                @(CurrentLanguage == "en-US" ? "Add Entry" : "Tambah")
            </button>
        </div><!-- /buttons offset -->
    </div>
    <div id="r_MTCrewID" class="mb-3 row">
        <label for="x_MTCrewID" class="col-sm-2 col-form-label">@Html.Raw(crewAppraisalForAdminViewModeAdd.MTCrewID.Caption)</label>
        <div class="col-sm-10"><slot class="ew-slot" name="tpx_CrewAppraisalForAdminViewMode_MTCrewID"></slot></div>
    </div>
    <div id="proceed-modal-dialog" class="modal" aria-hidden="true" data-bs-backdrop="static" tabindex="-1" aria-labelledby="proceed-modal-dialog-title" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="proceed-modal-dialog-title" class="modal-title">
                        @(CurrentLanguage == "en-US" ? "Warning" : "Peringatan")
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p> 
                        @{
                            if (CurrentLanguage == "en-US")
                            {
                                <span>There are error(s) in this tab.</span><br/>
                                <span>If you choose to Proceed, any unsaved data will be lost.</span><br/>
                                <span>Do you want to Proceed?</span>
                            }
                            else
                            {
                                <span>Masih ada error di tab ini.</span><br/>
                                <span>Jika Anda memilih Lanjutkan, data yang belum disimpan akan hilang.</span><br/>
                                <span>Apakah Anda ingin melanjutkan?</span>
                            }
                        }
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger ew-btn" id="btn-proceed" type="button">
                        @(CurrentLanguage == "en-US" ? "Proceed" : "Lanjutkan")
                    </button>
                    <button class="btn btn-default ew-btn" id="btn-proceed-cancel" type="button" data-bs-dismiss="modal">
                        @(CurrentLanguage == "en-US" ? "Cancel" : "Batal")
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="loading-modal-dialog" class="modal" aria-hidden="true" data-bs-backdrop="static" tabindex="-1" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="text-center mb-0">
                        @(CurrentLanguage == "en-US" ? "Saving..." : "Menyimpan...")
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="delete-modal-dialog" class="modal" aria-hidden="true" data-bs-backdrop="static" tabindex="-1" aria-labelledby="delete-modal-dialog-title" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="delete-modal-dialog-title" class="modal-title">
                        @(CurrentLanguage == "en-US" ? "Confirmation" : "Konfirmasi")
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        @(CurrentLanguage == "en-US" ? "Are you sure you want to delete?" : "Anda yakin ingin menghapus?")
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary ew-btn" id="btn-delete" type="button">
                        @(CurrentLanguage == "en-US" ? "Yes" : "Iya")
                    </button>
                    <button class="btn btn-default ew-btn" id="btn-delete-cancel" type="button" data-bs-dismiss="modal">
                        @(CurrentLanguage == "en-US" ? "No" : "Tidak")
                    </button>
                </div>
            </div>
        </div>
    </div></div>
</template>
@{ crewAppraisalForAdminViewModeAdd.CloseRecordset(); }
@Html.Raw(crewAppraisalForAdminViewModeAdd.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(crewAppraisalForAdminViewModeAdd.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fCrewAppraisalForAdminViewModeadd">@Html.Raw(Language.Phrase("AddBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fCrewAppraisalForAdminViewModeadd" data-href="@AppPath(crewAppraisalForAdminViewModeAdd.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(crewAppraisalForAdminViewModeAdd.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
<script class="ew-apply-template">
loadjs.ready(ew.applyTemplateId, function() {
    var $ = jQuery;
    ew.templateData = { rows: @Html.Raw(ConvertToJson(crewAppraisalForAdminViewModeAdd.Rows)) };
    ew.applyTemplate("tpd_CrewAppraisalForAdminViewModeadd", "tpm_CrewAppraisalForAdminViewModeadd", "CrewAppraisalForAdminViewModeadd", "@(crewAppraisalForAdminViewModeAdd.Export)", "CrewAppraisalForAdminViewMode", ew.templateData.rows[0], @(crewAppraisalForAdminViewModeAdd.IsModal ? "true" : "false"));
    loadjs.done("customtemplate");
});
</script>
@crewAppraisalForAdminViewModeAdd.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("CrewAppraisalForAdminViewMode");
});
</script>
<script>
loadjs.ready("load", function() {
    // Startup script
    // Write your table-specific startup script here
    // document.write("page loaded");

    // Get the current URL
    const currentUrlObject = new URL(window.location.href);
    // get the current URL without Add or Edit for assigning active class in tabs
    const currentUrlWithoutAddEditListView = currentUrlObject.href.replace(/Add|Edit|List|View/g, "");
    // Create a new URLSearchParams object based on the current URL's search parameters
    const urlQueryParams = new URLSearchParams(currentUrlObject.search);
    // Extract the value of the crewID query parameter
    const currentlyEditedCrewID = urlQueryParams.get('crewID');
    const selectedLanguage = ew.vars['languages']['languages'].filter(obj => obj.selected === true)[0];
    const parentUrl = ew.PATH_BASE;
    const tableName = "CrewAppraisalForAdminViewMode";
    const pageType = "add";
    const pageTypeCapital = "Add";
    const formID = `f${tableName}${pageType}`;
    const addEntryUrl = `${parentUrl}${tableName}${pageTypeCapital}?crewID=${currentlyEditedCrewID}`;
    const listPageUrl = `${parentUrl}${tableName}List?crewID=${currentlyEditedCrewID}`;
    let isChangeTabApproved = false;
    const adminAndEmployeeStatusApi = 'get-admin-and-employee-status';
    $.ajax({
        url: `${parentUrl}api/Registration/${adminAndEmployeeStatusApi}`,
        method: 'GET',
        data: {
            crewID: currentlyEditedCrewID
        },
        success: function(response) {
            if (response.success) {
                // Parse the data in the response
                const isAdmin = response.data.IsAdmin;
                const employeeStatus = response.data.EmployeeStatus;
                if (currentlyEditedCrewID === null) {
                    if (isAdmin) {
                        // redirect to list page with error message: record not found
                        if (employeeStatus === 'Candidate - Draft') {
                            window.location.replace(`${ew.PATH_BASE}RegistrationEdit/-1`);
                        } else if (employeeStatus === 'Candidate - Submitted') {
                            window.location.replace(`${ew.PATH_BASE}VWaitingForPdeReviewView/-1`);
                        }
                    } else {
                        window.location.replace(`${ew.PATH_BASE}index`);
                    }
                }
            } else {
                // Handle the error
                ew.showToast(response.errorMessage);
            }
        },
        error: function(xhr, textStatus, errorThrown) {
            // Handle the error
            ew.showToast(errorThrown);
        }
    });

    // Iterate over each anchor element inside the nav-tabs
    $(".nav-tabs .nav-item a").each(function() {
        const href = $(this).attr("href");
        const hrefWithoutAddEditListView = href.replace(/Add|Edit|List|View/g, "");
        // Check if the href contains current page's url
        if (currentUrlWithoutAddEditListView.includes(hrefWithoutAddEditListView)) {
            // add class and attribute
            $(this).addClass("active");
            $(this).attr("aria-current", "page");
        }
        // Check if the href contains "Edit" or "Add"
        if (href.includes("ViewModeView")) {
            // Add "/" and the currently edited crew ID to the href
            const newHref = href + "/" + currentlyEditedCrewID;
            // Set the updated href attribute value
            $(this).attr("href", newHref);
        } else if (href.includes("ViewModeList")) {
            // Add "?crewID=" and the currently edited crew ID to the href
            const newHref = href + "?crewID=" + currentlyEditedCrewID;
            // Set the updated href attribute value
            $(this).attr("href", newHref);
        }
    });

    // start code for auto capitalize first letter of each word
    $('#x_VesselName').on('input', function() {
        $(this).val($(this).val().replace(/(?:^|\s)\S/g, function(a) { return a.toUpperCase(); }));
    });
    $('#x_Appraiser').on('input', function() {
        $(this).val($(this).val().replace(/(?:^|\s)\S/g, function(a) { return a.toUpperCase(); }));
    });
    // end code for auto capitalize first letter of each word
    const entryButton = $('<button/>', {
        'class': 'btn btn-primary ew-btn ms-auto primary-black-clr gray-bg',
        'id': 'btn-entry',
        'type': 'button',
        'text': (selectedLanguage.id === 'en-US') ? `Add Entry` : `Tambah`
    }).click(function() {
        const validateAddEntryResult = validateAddEntry({ isAllEmptyAllowed: false });
        if (validateAddEntryResult === 'valid') {
            $('#loading-modal-dialog').modal('show');
            const targetUrlRelative = listPageUrl;
            addEntry({ redirectUrlWhenSuccess: targetUrlRelative });
        } else {
            scrollToFirstInvalidInput();
        }
    });
    $('#btn-add-entry').after(entryButton);
    $('#btn-add-entry').remove();
    const customCancelButton = $('<button/>', {
        'class': 'btn btn-danger ew-btn ms-auto primary-red-bg primary-white-clr',
        'id': 'btn-custom-cancel',
        'type': 'button',
        'text': `${ew.language.phrase("CancelBtn")}`,
    }).click(function() {
        if (window[formID].modified) {
            ew.prompt(ew.language.phrase("ConfirmCancel"), result => {
                if (result) {
                    isChangeTabApproved = true;
                    proceedToLink(listPageUrl);
                }
            });
        } else {
            isChangeTabApproved = true;
            proceedToLink(listPageUrl);
        }
    });
    $('#btn-cancel').after(customCancelButton);
    $('#btn-cancel').remove();

    // Target the ol element that has breadcrumb class
    const $breadCrumbOl = $('.breadcrumb').first();

    // Delete the ol element that has breadcrumb class
    $breadCrumbOl.remove();
    $('#btn-action').remove();
    $('.ew-buttons > .col-sm-10').removeClass('col-sm-10').addClass('d-flex mb-3');
    $('.ew-buttons > .offset-sm-2').removeClass('offset-sm-2');

    //  programatically change the value of MTCrewID input and then hide it
    $('#x_MTCrewID').val(currentlyEditedCrewID);
    $('div#r_MTCrewID').hide();

    // AUTO SAVE WHEN MOVING FROM THIS TAB
    $(window).on('beforeunload', function(event) {
        if (!isChangeTabApproved && window[formID].modified) {
            event.preventDefault();
            event.returnValue = '';
            return '';
        }
    });
    $("#btn-proceed").click(function() {
        isChangeTabApproved = true;
        const targetUrlRelative = $(this).attr('target-url-relative');
        $('#approve-modal-dialog').modal('hide');
        proceedToLink(targetUrlRelative);
    });
    $('ul.nav.nav-tabs li.nav-item a.nav-link').on('click', function(event) {
        event.preventDefault();
        const targetUrlRelative = $(this).attr('href');
        if (window[formID].modified) {
            const validateAddEntryResult = validateAddEntry({ isAllEmptyAllowed: true });
            if (validateAddEntryResult === 'valid') {
                $('#loading-modal-dialog').modal('show');
                addEntry({ redirectUrlWhenSuccess: targetUrlRelative });
            } else if (validateAddEntryResult === 'empty') {
                isChangeTabApproved = true;
                proceedToLink(targetUrlRelative);
            } else if (validateAddEntryResult === 'invalid') {
                scrollToFirstInvalidInput();
                $('#btn-proceed').attr('target-url-relative', targetUrlRelative);
                $('#proceed-modal-dialog').modal('show');
            }
        } else {
            isChangeTabApproved = true;
            proceedToLink(targetUrlRelative);
        }
    });
    function proceedToLink(targetUrlRelative) {
        const baseUrl = new URL(window.location.href).origin;
        const targetUrl = new URL(baseUrl + targetUrlRelative);
        window.location.href = targetUrl.href;
    }
    function scrollToFirstInvalidInput() {
        const invalidInput = $("input.is-invalid:first");
        if (invalidInput.length > 0) { // Check if an invalid input is found
            const offset = invalidInput.offset().top; // Calculate the offset of the invalid input element from the top of the page
            const windowHeight = $(window).height(); // Calculate the height of the viewport
            const scrollPosition = offset - (windowHeight / 2); // Calculate the scroll position to center the invalid input element
            $("html, body").animate({ // Animate the scroll to the center position
                scrollTop: scrollPosition
            }, 1000); // Adjust the duration as needed (in milliseconds)
        }
    }
    function addEntry({ redirectUrlWhenSuccess }) {
        isChangeTabApproved = true;
        let formData = $(`form#${formID}`).serialize();
        $('input[type="checkbox"]').each(function() {
            // Jika checkbox tidak dicentang dan tidak ada di hasil serialize(),
            // tambahkan nilai 0 ke hasil serialize()
            if (!this.checked && formData.indexOf(this.name) === -1) {
                formData += '&' + this.name + '=0';
            }
        });
        $.ajax({
            url: addEntryUrl,
            type: 'POST',
            data: formData,
            success: function(res) {
                const $errorDiv = $(res).find('div.ew-error'); // res is a string containing html document
                $('#loading-modal-dialog').modal('hide');
                if ($errorDiv.length > 0) {
                    ew.showToast($errorDiv.text());
                } else {
                    proceedToLink(redirectUrlWhenSuccess);
                }
            },
            error: function(xhr, textStatus, errorThrown) {
                $('#loading-modal-dialog').modal('hide');
                isChangeTabApproved = false;
                ew.showToast(errorThrown);
            }
        });
    }
    function validateAddEntry({ isAllEmptyAllowed }) {
        let formErrorCount = 0;
        let formEmptyCount = 0;
        let isNotEmpty = true;
        const emptyFieldNames = [];
        function validateRequiredField(fieldName) {
            const fieldNameWithPrefix = `x_${fieldName}`;
            const fieldValue = $(`#${fieldNameWithPrefix}`).val();
            if (fieldValue === '' || fieldValue === null) {
                return false;
            } else {
                return true;
            }
        }
        function validateDateField(fieldName) {
            const errorMessage = (selectedLanguage.id === 'en-US') ? 'Incorrect date (dd MMM yyyy)' : 'Tanggal tidak benar (dd MMM yyyy)';
            const fieldNameWithPrefix = `x_${fieldName}`;
            const fieldValue = $(`#${fieldNameWithPrefix}`).val();
            const dateParts = fieldValue.split(' ');
            const day = parseInt(dateParts[0], 10);
            const monthNamesEnglish = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
            const monthNamesIndonesian = ['Jan', 'Feb', 'Mar', 'Apr', 'Mei', 'Jun', 'Jul', 'Agu', 'Sep', 'Okt', 'Nov', 'Des'];
            const month = (selectedLanguage.id === 'en-US') ? monthNamesEnglish.indexOf(dateParts[1]) : monthNamesIndonesian.indexOf(dateParts[1]);
            const year = parseInt(dateParts[2], 10);
            let valid = false;
            if (year >= 1900 && year <= 9999 && month >= 0 && day >= 1 && day <= 31) {
                switch (month) {
                    case 1: // February
                        // Check for leap year
                        valid = day <= (((year % 4 === 0 && year % 100 !== 0) || year % 400 === 0) ? 29 : 28);
                        break;
                    case 3: // April
                    case 5: // June
                    case 8: // September
                    case 10: // November
                        valid = day <= 30;
                        break;
                    default:
                        valid = true;
                        break;
                }
            }
            if (!valid) {
                window[formID].fields[fieldName].addError({ custom: errorMessage });
                window[formID].fields[fieldName].updateFeedback();
                window[formID].addError(fieldName, { custom: errorMessage });
                return false;
            } else {
                return true;
            }
        }
        function validateFieldWithRegex(fieldName, errorMessage, regex) {
            const fieldNameWithPrefix = `x_${fieldName}`;
            const fieldValue = $(`#${fieldNameWithPrefix}`).val();
            if (!regex.test(fieldValue)) {  
                window[formID].fields[fieldName].addError({ custom: errorMessage });
                window[formID].fields[fieldName].updateFeedback();
                window[formID].addError(fieldName, { custom: errorMessage });
                return false;
            } else {
                return true;
            }
        }
        function displayRequiredFieldError(fieldName) {
            const errorMessage = (selectedLanguage.id === 'en-US') ? "Please enter required field" : "Masukkan input yang dibutuhkan";
            const fieldNameWithPrefix = `x_${fieldName}`;
            const fieldCaption = $(`label[for=${fieldNameWithPrefix}]`).text();
            const errorMessageWithFieldName = `${errorMessage} - ${fieldCaption}`;
            window[formID].fields[fieldName].addError({ custom: errorMessageWithFieldName });
            window[formID].fields[fieldName].updateFeedback();
            window[formID].addError(fieldName, { custom: errorMessageWithFieldName });
        }
        const decimalRegex = /^[0-9]*,?[0-9]+$/;
        const decimalRegexErrorMessage = (selectedLanguage.id === 'en-US') ? "Please enter valid decimal with comma as decimal separator" : "Masukkan angka desimal dengan koma sebagai pemisah desimal";
        const noDigitsRegex = /^[^0-9]+$/;
        const noDigitsRegexErrorMessage = (selectedLanguage.id === 'en-US') ? "Must not contain digits" : "Tidak boleh mengandung angka";
        isNotEmpty = validateRequiredField("VesselName");
        if (!isNotEmpty) {
            formEmptyCount += 1;
            formErrorCount += 1;
            if (isAllEmptyAllowed) {
                emptyFieldNames.push("VesselName");
            } else {
                displayRequiredFieldError("VesselName");
            }
        }
        isNotEmpty = validateRequiredField("MTRankID");
        if (!isNotEmpty) {
            formEmptyCount += 1;
            formErrorCount += 1;
            if (isAllEmptyAllowed) {
                emptyFieldNames.push("MTRankID");
            } else {
                displayRequiredFieldError("MTRankID");
            }
        }
        isNotEmpty = validateRequiredField("Questionnaire");
        if (!isNotEmpty) {
            formEmptyCount += 1;
            formErrorCount += 1;
            if (isAllEmptyAllowed) {
                emptyFieldNames.push("Questionnaire");
            } else {
                displayRequiredFieldError("Questionnaire");
            }
        }
        isNotEmpty = validateRequiredField("AverageRating");
        if (!isNotEmpty) {
            formEmptyCount += 1;
            formErrorCount += 1;
            if (isAllEmptyAllowed) {
                emptyFieldNames.push("AverageRating");
            } else {
                displayRequiredFieldError("AverageRating");
            }
        } else {
            if (validateFieldWithRegex("AverageRating",  decimalRegexErrorMessage, decimalRegex)) {
                if (selectedLanguage.id === 'en-US') {
                    const averageRatingValue = $('#x_AverageRating').val();
                    $('#x_AverageRating').val(averageRatingValue.replace(',', '.'));
                }
            } else {
                formErrorCount += 1;
            }
        }
        isNotEmpty = validateRequiredField("Appraiser");
        if (!isNotEmpty) {
            formEmptyCount += 1;
            formErrorCount += 1;
            if (isAllEmptyAllowed) {
                emptyFieldNames.push("Appraiser");
            } else {
                displayRequiredFieldError("Appraiser");
            }
        } else {
            formErrorCount += validateFieldWithRegex("Appraiser",  noDigitsRegexErrorMessage, noDigitsRegex) ? 0 : 1;
        }
        isNotEmpty = validateRequiredField("DateInput");
        if (!isNotEmpty) {
            formEmptyCount += 1;
            formErrorCount += 1;
            if (isAllEmptyAllowed) {
                emptyFieldNames.push("DateInput");
            } else {
                displayRequiredFieldError("DateInput");
            }
        } else {
            formErrorCount += validateDateField("DateInput") ? 0 : 1;
        }
        if (formEmptyCount === 6) {
            return 'empty';
        }
        if (emptyFieldNames.length > 0) {
            for (const fieldName of emptyFieldNames) {
                displayRequiredFieldError(fieldName);
            }
        }
        if (formErrorCount > 0) {
            return 'invalid';
        } else {
            return 'valid';
        }
    }
});
</script>
