@{
    // View
    View = this;

    // Check action result
    if (crewMedicalHistoryForAdminViewModeDelete.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!crewMedicalHistoryForAdminViewModeDelete.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(crewMedicalHistoryForAdminViewModeDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { CrewMedicalHistoryForAdminViewMode: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fCrewMedicalHistoryForAdminViewModedelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fCrewMedicalHistoryForAdminViewModedelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@crewMedicalHistoryForAdminViewModeDelete.ShowPageHeader()
@crewMedicalHistoryForAdminViewModeDelete.ShowMessages()
<form name="fCrewMedicalHistoryForAdminViewModedelete" id="fCrewMedicalHistoryForAdminViewModedelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in crewMedicalHistoryForAdminViewModeDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(crewMedicalHistoryForAdminViewModeDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(crewMedicalHistoryForAdminViewModeDelete.TableContainerClass)" style="@(crewMedicalHistoryForAdminViewModeDelete.TableContainerStyle)">
<table class="@(crewMedicalHistoryForAdminViewModeDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (crewMedicalHistoryForAdminViewModeDelete.MTCrewID.Visible) { // crewMedicalHistoryForAdminViewModeDelete.MTCrewID.Visible (begin)
        <th class="@Html.Raw(crewMedicalHistoryForAdminViewModeDelete.MTCrewID.HeaderCellClass)"><span id="elh_CrewMedicalHistoryForAdminViewMode_MTCrewID" class="CrewMedicalHistoryForAdminViewMode_MTCrewID">@Html.Raw(crewMedicalHistoryForAdminViewModeDelete.MTCrewID.Caption)</span></th>
} @* crewMedicalHistoryForAdminViewModeDelete.MTCrewID.Visible (end) *@
@if (crewMedicalHistoryForAdminViewModeDelete._Type.Visible) { // crewMedicalHistoryForAdminViewModeDelete._Type.Visible (begin)
        <th class="@Html.Raw(crewMedicalHistoryForAdminViewModeDelete._Type.HeaderCellClass)"><span id="elh_CrewMedicalHistoryForAdminViewMode__Type" class="CrewMedicalHistoryForAdminViewMode__Type">@Html.Raw(crewMedicalHistoryForAdminViewModeDelete._Type.Caption)</span></th>
} @* crewMedicalHistoryForAdminViewModeDelete._Type.Visible (end) *@
@if (crewMedicalHistoryForAdminViewModeDelete.VesselName.Visible) { // crewMedicalHistoryForAdminViewModeDelete.VesselName.Visible (begin)
        <th class="@Html.Raw(crewMedicalHistoryForAdminViewModeDelete.VesselName.HeaderCellClass)"><span id="elh_CrewMedicalHistoryForAdminViewMode_VesselName" class="CrewMedicalHistoryForAdminViewMode_VesselName">@Html.Raw(crewMedicalHistoryForAdminViewModeDelete.VesselName.Caption)</span></th>
} @* crewMedicalHistoryForAdminViewModeDelete.VesselName.Visible (end) *@
@if (crewMedicalHistoryForAdminViewModeDelete.DateOccurence.Visible) { // crewMedicalHistoryForAdminViewModeDelete.DateOccurence.Visible (begin)
        <th class="@Html.Raw(crewMedicalHistoryForAdminViewModeDelete.DateOccurence.HeaderCellClass)"><span id="elh_CrewMedicalHistoryForAdminViewMode_DateOccurence" class="CrewMedicalHistoryForAdminViewMode_DateOccurence">@Html.Raw(crewMedicalHistoryForAdminViewModeDelete.DateOccurence.Caption)</span></th>
} @* crewMedicalHistoryForAdminViewModeDelete.DateOccurence.Visible (end) *@
@if (crewMedicalHistoryForAdminViewModeDelete.PlaceOccurence.Visible) { // crewMedicalHistoryForAdminViewModeDelete.PlaceOccurence.Visible (begin)
        <th class="@Html.Raw(crewMedicalHistoryForAdminViewModeDelete.PlaceOccurence.HeaderCellClass)"><span id="elh_CrewMedicalHistoryForAdminViewMode_PlaceOccurence" class="CrewMedicalHistoryForAdminViewMode_PlaceOccurence">@Html.Raw(crewMedicalHistoryForAdminViewModeDelete.PlaceOccurence.Caption)</span></th>
} @* crewMedicalHistoryForAdminViewModeDelete.PlaceOccurence.Visible (end) *@
@if (crewMedicalHistoryForAdminViewModeDelete.PeriodOfDisability.Visible) { // crewMedicalHistoryForAdminViewModeDelete.PeriodOfDisability.Visible (begin)
        <th class="@Html.Raw(crewMedicalHistoryForAdminViewModeDelete.PeriodOfDisability.HeaderCellClass)"><span id="elh_CrewMedicalHistoryForAdminViewMode_PeriodOfDisability" class="CrewMedicalHistoryForAdminViewMode_PeriodOfDisability">@Html.Raw(crewMedicalHistoryForAdminViewModeDelete.PeriodOfDisability.Caption)</span></th>
} @* crewMedicalHistoryForAdminViewModeDelete.PeriodOfDisability.Visible (end) *@
@if (crewMedicalHistoryForAdminViewModeDelete.PresentCondition.Visible) { // crewMedicalHistoryForAdminViewModeDelete.PresentCondition.Visible (begin)
        <th class="@Html.Raw(crewMedicalHistoryForAdminViewModeDelete.PresentCondition.HeaderCellClass)"><span id="elh_CrewMedicalHistoryForAdminViewMode_PresentCondition" class="CrewMedicalHistoryForAdminViewMode_PresentCondition">@Html.Raw(crewMedicalHistoryForAdminViewModeDelete.PresentCondition.Caption)</span></th>
} @* crewMedicalHistoryForAdminViewModeDelete.PresentCondition.Visible (end) *@
@if (crewMedicalHistoryForAdminViewModeDelete.Treatment.Visible) { // crewMedicalHistoryForAdminViewModeDelete.Treatment.Visible (begin)
        <th class="@Html.Raw(crewMedicalHistoryForAdminViewModeDelete.Treatment.HeaderCellClass)"><span id="elh_CrewMedicalHistoryForAdminViewMode_Treatment" class="CrewMedicalHistoryForAdminViewMode_Treatment">@Html.Raw(crewMedicalHistoryForAdminViewModeDelete.Treatment.Caption)</span></th>
} @* crewMedicalHistoryForAdminViewModeDelete.Treatment.Visible (end) *@
@if (crewMedicalHistoryForAdminViewModeDelete.Details.Visible) { // crewMedicalHistoryForAdminViewModeDelete.Details.Visible (begin)
        <th class="@Html.Raw(crewMedicalHistoryForAdminViewModeDelete.Details.HeaderCellClass)"><span id="elh_CrewMedicalHistoryForAdminViewMode_Details" class="CrewMedicalHistoryForAdminViewMode_Details">@Html.Raw(crewMedicalHistoryForAdminViewModeDelete.Details.Caption)</span></th>
} @* crewMedicalHistoryForAdminViewModeDelete.Details.Visible (end) *@
@if (crewMedicalHistoryForAdminViewModeDelete.CreatedByUserID.Visible) { // crewMedicalHistoryForAdminViewModeDelete.CreatedByUserID.Visible (begin)
        <th class="@Html.Raw(crewMedicalHistoryForAdminViewModeDelete.CreatedByUserID.HeaderCellClass)"><span id="elh_CrewMedicalHistoryForAdminViewMode_CreatedByUserID" class="CrewMedicalHistoryForAdminViewMode_CreatedByUserID">@Html.Raw(crewMedicalHistoryForAdminViewModeDelete.CreatedByUserID.Caption)</span></th>
} @* crewMedicalHistoryForAdminViewModeDelete.CreatedByUserID.Visible (end) *@
@if (crewMedicalHistoryForAdminViewModeDelete.CreatedDateTime.Visible) { // crewMedicalHistoryForAdminViewModeDelete.CreatedDateTime.Visible (begin)
        <th class="@Html.Raw(crewMedicalHistoryForAdminViewModeDelete.CreatedDateTime.HeaderCellClass)"><span id="elh_CrewMedicalHistoryForAdminViewMode_CreatedDateTime" class="CrewMedicalHistoryForAdminViewMode_CreatedDateTime">@Html.Raw(crewMedicalHistoryForAdminViewModeDelete.CreatedDateTime.Caption)</span></th>
} @* crewMedicalHistoryForAdminViewModeDelete.CreatedDateTime.Visible (end) *@
@if (crewMedicalHistoryForAdminViewModeDelete.LastUpdatedByUserID.Visible) { // crewMedicalHistoryForAdminViewModeDelete.LastUpdatedByUserID.Visible (begin)
        <th class="@Html.Raw(crewMedicalHistoryForAdminViewModeDelete.LastUpdatedByUserID.HeaderCellClass)"><span id="elh_CrewMedicalHistoryForAdminViewMode_LastUpdatedByUserID" class="CrewMedicalHistoryForAdminViewMode_LastUpdatedByUserID">@Html.Raw(crewMedicalHistoryForAdminViewModeDelete.LastUpdatedByUserID.Caption)</span></th>
} @* crewMedicalHistoryForAdminViewModeDelete.LastUpdatedByUserID.Visible (end) *@
@if (crewMedicalHistoryForAdminViewModeDelete.LastUpdatedDateTime.Visible) { // crewMedicalHistoryForAdminViewModeDelete.LastUpdatedDateTime.Visible (begin)
        <th class="@Html.Raw(crewMedicalHistoryForAdminViewModeDelete.LastUpdatedDateTime.HeaderCellClass)"><span id="elh_CrewMedicalHistoryForAdminViewMode_LastUpdatedDateTime" class="CrewMedicalHistoryForAdminViewMode_LastUpdatedDateTime">@Html.Raw(crewMedicalHistoryForAdminViewModeDelete.LastUpdatedDateTime.Caption)</span></th>
} @* crewMedicalHistoryForAdminViewModeDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ crewMedicalHistoryForAdminViewModeDelete.RecordCount = 0; }
@while (crewMedicalHistoryForAdminViewModeDelete.Recordset != null && await crewMedicalHistoryForAdminViewModeDelete.Recordset.ReadAsync()) { // DN
    crewMedicalHistoryForAdminViewModeDelete.RecordCount++;
    crewMedicalHistoryForAdminViewModeDelete.RowCount++;

    // Set row properties
    crewMedicalHistoryForAdminViewModeDelete.ResetAttributes();
    crewMedicalHistoryForAdminViewModeDelete.RowType = RowType.View; // View

    // Get the field contents
    await crewMedicalHistoryForAdminViewModeDelete.LoadRowValues(crewMedicalHistoryForAdminViewModeDelete.Recordset);

    // Render row
    await crewMedicalHistoryForAdminViewModeDelete.RenderRow();
    <tr @Html.Raw(crewMedicalHistoryForAdminViewModeDelete.RowAttributes)>
@if (crewMedicalHistoryForAdminViewModeDelete.MTCrewID.Visible) { // crewMedicalHistoryForAdminViewModeDelete.MTCrewID.Visible (begin)
        <td @Html.Raw(crewMedicalHistoryForAdminViewModeDelete.MTCrewID.CellAttributes)>
<span id="el@(crewMedicalHistoryForAdminViewModeDelete.RowCount)_CrewMedicalHistoryForAdminViewMode_MTCrewID" class="el_CrewMedicalHistoryForAdminViewMode_MTCrewID">
<span @Html.Raw(crewMedicalHistoryForAdminViewModeDelete.MTCrewID.ViewAttributes)>
@Html.Raw(crewMedicalHistoryForAdminViewModeDelete.MTCrewID.GetViewValue())</span>
</span></td>
} @* crewMedicalHistoryForAdminViewModeDelete.MTCrewID.Visible (end) *@
@if (crewMedicalHistoryForAdminViewModeDelete._Type.Visible) { // crewMedicalHistoryForAdminViewModeDelete._Type.Visible (begin)
        <td @Html.Raw(crewMedicalHistoryForAdminViewModeDelete._Type.CellAttributes)>
<span id="el@(crewMedicalHistoryForAdminViewModeDelete.RowCount)_CrewMedicalHistoryForAdminViewMode__Type" class="el_CrewMedicalHistoryForAdminViewMode__Type">
<span @Html.Raw(crewMedicalHistoryForAdminViewModeDelete._Type.ViewAttributes)>
@Html.Raw(crewMedicalHistoryForAdminViewModeDelete._Type.GetViewValue())</span>
</span></td>
} @* crewMedicalHistoryForAdminViewModeDelete._Type.Visible (end) *@
@if (crewMedicalHistoryForAdminViewModeDelete.VesselName.Visible) { // crewMedicalHistoryForAdminViewModeDelete.VesselName.Visible (begin)
        <td @Html.Raw(crewMedicalHistoryForAdminViewModeDelete.VesselName.CellAttributes)>
<span id="el@(crewMedicalHistoryForAdminViewModeDelete.RowCount)_CrewMedicalHistoryForAdminViewMode_VesselName" class="el_CrewMedicalHistoryForAdminViewMode_VesselName">
<span @Html.Raw(crewMedicalHistoryForAdminViewModeDelete.VesselName.ViewAttributes)>
@Html.Raw(crewMedicalHistoryForAdminViewModeDelete.VesselName.GetViewValue())</span>
</span></td>
} @* crewMedicalHistoryForAdminViewModeDelete.VesselName.Visible (end) *@
@if (crewMedicalHistoryForAdminViewModeDelete.DateOccurence.Visible) { // crewMedicalHistoryForAdminViewModeDelete.DateOccurence.Visible (begin)
        <td @Html.Raw(crewMedicalHistoryForAdminViewModeDelete.DateOccurence.CellAttributes)>
<span id="el@(crewMedicalHistoryForAdminViewModeDelete.RowCount)_CrewMedicalHistoryForAdminViewMode_DateOccurence" class="el_CrewMedicalHistoryForAdminViewMode_DateOccurence">
<span @Html.Raw(crewMedicalHistoryForAdminViewModeDelete.DateOccurence.ViewAttributes)>
@Html.Raw(crewMedicalHistoryForAdminViewModeDelete.DateOccurence.GetViewValue())</span>
</span></td>
} @* crewMedicalHistoryForAdminViewModeDelete.DateOccurence.Visible (end) *@
@if (crewMedicalHistoryForAdminViewModeDelete.PlaceOccurence.Visible) { // crewMedicalHistoryForAdminViewModeDelete.PlaceOccurence.Visible (begin)
        <td @Html.Raw(crewMedicalHistoryForAdminViewModeDelete.PlaceOccurence.CellAttributes)>
<span id="el@(crewMedicalHistoryForAdminViewModeDelete.RowCount)_CrewMedicalHistoryForAdminViewMode_PlaceOccurence" class="el_CrewMedicalHistoryForAdminViewMode_PlaceOccurence">
<span @Html.Raw(crewMedicalHistoryForAdminViewModeDelete.PlaceOccurence.ViewAttributes)>
@Html.Raw(crewMedicalHistoryForAdminViewModeDelete.PlaceOccurence.GetViewValue())</span>
</span></td>
} @* crewMedicalHistoryForAdminViewModeDelete.PlaceOccurence.Visible (end) *@
@if (crewMedicalHistoryForAdminViewModeDelete.PeriodOfDisability.Visible) { // crewMedicalHistoryForAdminViewModeDelete.PeriodOfDisability.Visible (begin)
        <td @Html.Raw(crewMedicalHistoryForAdminViewModeDelete.PeriodOfDisability.CellAttributes)>
<span id="el@(crewMedicalHistoryForAdminViewModeDelete.RowCount)_CrewMedicalHistoryForAdminViewMode_PeriodOfDisability" class="el_CrewMedicalHistoryForAdminViewMode_PeriodOfDisability">
<span @Html.Raw(crewMedicalHistoryForAdminViewModeDelete.PeriodOfDisability.ViewAttributes)>
@Html.Raw(crewMedicalHistoryForAdminViewModeDelete.PeriodOfDisability.GetViewValue())</span>
</span></td>
} @* crewMedicalHistoryForAdminViewModeDelete.PeriodOfDisability.Visible (end) *@
@if (crewMedicalHistoryForAdminViewModeDelete.PresentCondition.Visible) { // crewMedicalHistoryForAdminViewModeDelete.PresentCondition.Visible (begin)
        <td @Html.Raw(crewMedicalHistoryForAdminViewModeDelete.PresentCondition.CellAttributes)>
<span id="el@(crewMedicalHistoryForAdminViewModeDelete.RowCount)_CrewMedicalHistoryForAdminViewMode_PresentCondition" class="el_CrewMedicalHistoryForAdminViewMode_PresentCondition">
<span @Html.Raw(crewMedicalHistoryForAdminViewModeDelete.PresentCondition.ViewAttributes)>
@Html.Raw(crewMedicalHistoryForAdminViewModeDelete.PresentCondition.GetViewValue())</span>
</span></td>
} @* crewMedicalHistoryForAdminViewModeDelete.PresentCondition.Visible (end) *@
@if (crewMedicalHistoryForAdminViewModeDelete.Treatment.Visible) { // crewMedicalHistoryForAdminViewModeDelete.Treatment.Visible (begin)
        <td @Html.Raw(crewMedicalHistoryForAdminViewModeDelete.Treatment.CellAttributes)>
<span id="el@(crewMedicalHistoryForAdminViewModeDelete.RowCount)_CrewMedicalHistoryForAdminViewMode_Treatment" class="el_CrewMedicalHistoryForAdminViewMode_Treatment">
<span @Html.Raw(crewMedicalHistoryForAdminViewModeDelete.Treatment.ViewAttributes)>
@Html.Raw(crewMedicalHistoryForAdminViewModeDelete.Treatment.GetViewValue())</span>
</span></td>
} @* crewMedicalHistoryForAdminViewModeDelete.Treatment.Visible (end) *@
@if (crewMedicalHistoryForAdminViewModeDelete.Details.Visible) { // crewMedicalHistoryForAdminViewModeDelete.Details.Visible (begin)
        <td @Html.Raw(crewMedicalHistoryForAdminViewModeDelete.Details.CellAttributes)>
<span id="el@(crewMedicalHistoryForAdminViewModeDelete.RowCount)_CrewMedicalHistoryForAdminViewMode_Details" class="el_CrewMedicalHistoryForAdminViewMode_Details">
<span @Html.Raw(crewMedicalHistoryForAdminViewModeDelete.Details.ViewAttributes)>
@Html.Raw(crewMedicalHistoryForAdminViewModeDelete.Details.GetViewValue())</span>
</span></td>
} @* crewMedicalHistoryForAdminViewModeDelete.Details.Visible (end) *@
@if (crewMedicalHistoryForAdminViewModeDelete.CreatedByUserID.Visible) { // crewMedicalHistoryForAdminViewModeDelete.CreatedByUserID.Visible (begin)
        <td @Html.Raw(crewMedicalHistoryForAdminViewModeDelete.CreatedByUserID.CellAttributes)>
<span id="el@(crewMedicalHistoryForAdminViewModeDelete.RowCount)_CrewMedicalHistoryForAdminViewMode_CreatedByUserID" class="el_CrewMedicalHistoryForAdminViewMode_CreatedByUserID">
<span @Html.Raw(crewMedicalHistoryForAdminViewModeDelete.CreatedByUserID.ViewAttributes)>
@Html.Raw(crewMedicalHistoryForAdminViewModeDelete.CreatedByUserID.GetViewValue())</span>
</span></td>
} @* crewMedicalHistoryForAdminViewModeDelete.CreatedByUserID.Visible (end) *@
@if (crewMedicalHistoryForAdminViewModeDelete.CreatedDateTime.Visible) { // crewMedicalHistoryForAdminViewModeDelete.CreatedDateTime.Visible (begin)
        <td @Html.Raw(crewMedicalHistoryForAdminViewModeDelete.CreatedDateTime.CellAttributes)>
<span id="el@(crewMedicalHistoryForAdminViewModeDelete.RowCount)_CrewMedicalHistoryForAdminViewMode_CreatedDateTime" class="el_CrewMedicalHistoryForAdminViewMode_CreatedDateTime">
<span @Html.Raw(crewMedicalHistoryForAdminViewModeDelete.CreatedDateTime.ViewAttributes)>
@Html.Raw(crewMedicalHistoryForAdminViewModeDelete.CreatedDateTime.GetViewValue())</span>
</span></td>
} @* crewMedicalHistoryForAdminViewModeDelete.CreatedDateTime.Visible (end) *@
@if (crewMedicalHistoryForAdminViewModeDelete.LastUpdatedByUserID.Visible) { // crewMedicalHistoryForAdminViewModeDelete.LastUpdatedByUserID.Visible (begin)
        <td @Html.Raw(crewMedicalHistoryForAdminViewModeDelete.LastUpdatedByUserID.CellAttributes)>
<span id="el@(crewMedicalHistoryForAdminViewModeDelete.RowCount)_CrewMedicalHistoryForAdminViewMode_LastUpdatedByUserID" class="el_CrewMedicalHistoryForAdminViewMode_LastUpdatedByUserID">
<span @Html.Raw(crewMedicalHistoryForAdminViewModeDelete.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(crewMedicalHistoryForAdminViewModeDelete.LastUpdatedByUserID.GetViewValue())</span>
</span></td>
} @* crewMedicalHistoryForAdminViewModeDelete.LastUpdatedByUserID.Visible (end) *@
@if (crewMedicalHistoryForAdminViewModeDelete.LastUpdatedDateTime.Visible) { // crewMedicalHistoryForAdminViewModeDelete.LastUpdatedDateTime.Visible (begin)
        <td @Html.Raw(crewMedicalHistoryForAdminViewModeDelete.LastUpdatedDateTime.CellAttributes)>
<span id="el@(crewMedicalHistoryForAdminViewModeDelete.RowCount)_CrewMedicalHistoryForAdminViewMode_LastUpdatedDateTime" class="el_CrewMedicalHistoryForAdminViewMode_LastUpdatedDateTime">
<span @Html.Raw(crewMedicalHistoryForAdminViewModeDelete.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(crewMedicalHistoryForAdminViewModeDelete.LastUpdatedDateTime.GetViewValue())</span>
</span></td>
} @* crewMedicalHistoryForAdminViewModeDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
}
@{ crewMedicalHistoryForAdminViewModeDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(crewMedicalHistoryForAdminViewModeDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@crewMedicalHistoryForAdminViewModeDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
