@{
    // View
    View = this;

    // Check action result
    if (crewCertificateForAdminDelete.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!crewCertificateForAdminDelete.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(crewCertificateForAdminDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { CrewCertificateForAdmin: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fCrewCertificateForAdmindelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fCrewCertificateForAdmindelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@crewCertificateForAdminDelete.ShowPageHeader()
@crewCertificateForAdminDelete.ShowMessages()
<form name="fCrewCertificateForAdmindelete" id="fCrewCertificateForAdmindelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in crewCertificateForAdminDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(crewCertificateForAdminDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(crewCertificateForAdminDelete.TableContainerClass)" style="@(crewCertificateForAdminDelete.TableContainerStyle)">
<table class="@(crewCertificateForAdminDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (crewCertificateForAdminDelete.MTCrewID.Visible) { // crewCertificateForAdminDelete.MTCrewID.Visible (begin)
        <th class="@Html.Raw(crewCertificateForAdminDelete.MTCrewID.HeaderCellClass)"><span id="elh_CrewCertificateForAdmin_MTCrewID" class="CrewCertificateForAdmin_MTCrewID">@Html.Raw(crewCertificateForAdminDelete.MTCrewID.Caption)</span></th>
} @* crewCertificateForAdminDelete.MTCrewID.Visible (end) *@
@if (crewCertificateForAdminDelete.MTCertificateID.Visible) { // crewCertificateForAdminDelete.MTCertificateID.Visible (begin)
        <th class="@Html.Raw(crewCertificateForAdminDelete.MTCertificateID.HeaderCellClass)"><span id="elh_CrewCertificateForAdmin_MTCertificateID" class="CrewCertificateForAdmin_MTCertificateID">@Html.Raw(crewCertificateForAdminDelete.MTCertificateID.Caption)</span></th>
} @* crewCertificateForAdminDelete.MTCertificateID.Visible (end) *@
@if (crewCertificateForAdminDelete.CountryOfIssue_CountryID.Visible) { // crewCertificateForAdminDelete.CountryOfIssue_CountryID.Visible (begin)
        <th class="@Html.Raw(crewCertificateForAdminDelete.CountryOfIssue_CountryID.HeaderCellClass)"><span id="elh_CrewCertificateForAdmin_CountryOfIssue_CountryID" class="CrewCertificateForAdmin_CountryOfIssue_CountryID">@Html.Raw(crewCertificateForAdminDelete.CountryOfIssue_CountryID.Caption)</span></th>
} @* crewCertificateForAdminDelete.CountryOfIssue_CountryID.Visible (end) *@
@if (crewCertificateForAdminDelete.Number.Visible) { // crewCertificateForAdminDelete.Number.Visible (begin)
        <th class="@Html.Raw(crewCertificateForAdminDelete.Number.HeaderCellClass)"><span id="elh_CrewCertificateForAdmin_Number" class="CrewCertificateForAdmin_Number">@Html.Raw(crewCertificateForAdminDelete.Number.Caption)</span></th>
} @* crewCertificateForAdminDelete.Number.Visible (end) *@
@if (crewCertificateForAdminDelete.DateOfIssue.Visible) { // crewCertificateForAdminDelete.DateOfIssue.Visible (begin)
        <th class="@Html.Raw(crewCertificateForAdminDelete.DateOfIssue.HeaderCellClass)"><span id="elh_CrewCertificateForAdmin_DateOfIssue" class="CrewCertificateForAdmin_DateOfIssue">@Html.Raw(crewCertificateForAdminDelete.DateOfIssue.Caption)</span></th>
} @* crewCertificateForAdminDelete.DateOfIssue.Visible (end) *@
@if (crewCertificateForAdminDelete.DateOfExpiry.Visible) { // crewCertificateForAdminDelete.DateOfExpiry.Visible (begin)
        <th class="@Html.Raw(crewCertificateForAdminDelete.DateOfExpiry.HeaderCellClass)"><span id="elh_CrewCertificateForAdmin_DateOfExpiry" class="CrewCertificateForAdmin_DateOfExpiry">@Html.Raw(crewCertificateForAdminDelete.DateOfExpiry.Caption)</span></th>
} @* crewCertificateForAdminDelete.DateOfExpiry.Visible (end) *@
@if (crewCertificateForAdminDelete.PlaceOfIssue.Visible) { // crewCertificateForAdminDelete.PlaceOfIssue.Visible (begin)
        <th class="@Html.Raw(crewCertificateForAdminDelete.PlaceOfIssue.HeaderCellClass)"><span id="elh_CrewCertificateForAdmin_PlaceOfIssue" class="CrewCertificateForAdmin_PlaceOfIssue">@Html.Raw(crewCertificateForAdminDelete.PlaceOfIssue.Caption)</span></th>
} @* crewCertificateForAdminDelete.PlaceOfIssue.Visible (end) *@
@if (crewCertificateForAdminDelete.IssuingAuthority.Visible) { // crewCertificateForAdminDelete.IssuingAuthority.Visible (begin)
        <th class="@Html.Raw(crewCertificateForAdminDelete.IssuingAuthority.HeaderCellClass)"><span id="elh_CrewCertificateForAdmin_IssuingAuthority" class="CrewCertificateForAdmin_IssuingAuthority">@Html.Raw(crewCertificateForAdminDelete.IssuingAuthority.Caption)</span></th>
} @* crewCertificateForAdminDelete.IssuingAuthority.Visible (end) *@
@if (crewCertificateForAdminDelete.Level.Visible) { // crewCertificateForAdminDelete.Level.Visible (begin)
        <th class="@Html.Raw(crewCertificateForAdminDelete.Level.HeaderCellClass)"><span id="elh_CrewCertificateForAdmin_Level" class="CrewCertificateForAdmin_Level">@Html.Raw(crewCertificateForAdminDelete.Level.Caption)</span></th>
} @* crewCertificateForAdminDelete.Level.Visible (end) *@
@if (crewCertificateForAdminDelete.PaxVesselType.Visible) { // crewCertificateForAdminDelete.PaxVesselType.Visible (begin)
        <th class="@Html.Raw(crewCertificateForAdminDelete.PaxVesselType.HeaderCellClass)"><span id="elh_CrewCertificateForAdmin_PaxVesselType" class="CrewCertificateForAdmin_PaxVesselType">@Html.Raw(crewCertificateForAdminDelete.PaxVesselType.Caption)</span></th>
} @* crewCertificateForAdminDelete.PaxVesselType.Visible (end) *@
@if (crewCertificateForAdminDelete.Image.Visible) { // crewCertificateForAdminDelete.Image.Visible (begin)
        <th class="@Html.Raw(crewCertificateForAdminDelete.Image.HeaderCellClass)"><span id="elh_CrewCertificateForAdmin_Image" class="CrewCertificateForAdmin_Image">@Html.Raw(crewCertificateForAdminDelete.Image.Caption)</span></th>
} @* crewCertificateForAdminDelete.Image.Visible (end) *@
@if (crewCertificateForAdminDelete.CreatedByUserID.Visible) { // crewCertificateForAdminDelete.CreatedByUserID.Visible (begin)
        <th class="@Html.Raw(crewCertificateForAdminDelete.CreatedByUserID.HeaderCellClass)"><span id="elh_CrewCertificateForAdmin_CreatedByUserID" class="CrewCertificateForAdmin_CreatedByUserID">@Html.Raw(crewCertificateForAdminDelete.CreatedByUserID.Caption)</span></th>
} @* crewCertificateForAdminDelete.CreatedByUserID.Visible (end) *@
@if (crewCertificateForAdminDelete.CreatedDateTime.Visible) { // crewCertificateForAdminDelete.CreatedDateTime.Visible (begin)
        <th class="@Html.Raw(crewCertificateForAdminDelete.CreatedDateTime.HeaderCellClass)"><span id="elh_CrewCertificateForAdmin_CreatedDateTime" class="CrewCertificateForAdmin_CreatedDateTime">@Html.Raw(crewCertificateForAdminDelete.CreatedDateTime.Caption)</span></th>
} @* crewCertificateForAdminDelete.CreatedDateTime.Visible (end) *@
@if (crewCertificateForAdminDelete.LastUpdatedByUserID.Visible) { // crewCertificateForAdminDelete.LastUpdatedByUserID.Visible (begin)
        <th class="@Html.Raw(crewCertificateForAdminDelete.LastUpdatedByUserID.HeaderCellClass)"><span id="elh_CrewCertificateForAdmin_LastUpdatedByUserID" class="CrewCertificateForAdmin_LastUpdatedByUserID">@Html.Raw(crewCertificateForAdminDelete.LastUpdatedByUserID.Caption)</span></th>
} @* crewCertificateForAdminDelete.LastUpdatedByUserID.Visible (end) *@
@if (crewCertificateForAdminDelete.LastUpdatedDateTime.Visible) { // crewCertificateForAdminDelete.LastUpdatedDateTime.Visible (begin)
        <th class="@Html.Raw(crewCertificateForAdminDelete.LastUpdatedDateTime.HeaderCellClass)"><span id="elh_CrewCertificateForAdmin_LastUpdatedDateTime" class="CrewCertificateForAdmin_LastUpdatedDateTime">@Html.Raw(crewCertificateForAdminDelete.LastUpdatedDateTime.Caption)</span></th>
} @* crewCertificateForAdminDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ crewCertificateForAdminDelete.RecordCount = 0; }
@while (crewCertificateForAdminDelete.Recordset != null && await crewCertificateForAdminDelete.Recordset.ReadAsync()) { // DN
    crewCertificateForAdminDelete.RecordCount++;
    crewCertificateForAdminDelete.RowCount++;

    // Set row properties
    crewCertificateForAdminDelete.ResetAttributes();
    crewCertificateForAdminDelete.RowType = RowType.View; // View

    // Get the field contents
    await crewCertificateForAdminDelete.LoadRowValues(crewCertificateForAdminDelete.Recordset);

    // Render row
    await crewCertificateForAdminDelete.RenderRow();
    <tr @Html.Raw(crewCertificateForAdminDelete.RowAttributes)>
@if (crewCertificateForAdminDelete.MTCrewID.Visible) { // crewCertificateForAdminDelete.MTCrewID.Visible (begin)
        <td @Html.Raw(crewCertificateForAdminDelete.MTCrewID.CellAttributes)>
<span id="el@(crewCertificateForAdminDelete.RowCount)_CrewCertificateForAdmin_MTCrewID" class="el_CrewCertificateForAdmin_MTCrewID">
<span @Html.Raw(crewCertificateForAdminDelete.MTCrewID.ViewAttributes)>
@Html.Raw(crewCertificateForAdminDelete.MTCrewID.GetViewValue())</span>
</span></td>
} @* crewCertificateForAdminDelete.MTCrewID.Visible (end) *@
@if (crewCertificateForAdminDelete.MTCertificateID.Visible) { // crewCertificateForAdminDelete.MTCertificateID.Visible (begin)
        <td @Html.Raw(crewCertificateForAdminDelete.MTCertificateID.CellAttributes)>
<span id="el@(crewCertificateForAdminDelete.RowCount)_CrewCertificateForAdmin_MTCertificateID" class="el_CrewCertificateForAdmin_MTCertificateID">
<span @Html.Raw(crewCertificateForAdminDelete.MTCertificateID.ViewAttributes)>
@Html.Raw(crewCertificateForAdminDelete.MTCertificateID.GetViewValue())</span>
</span></td>
} @* crewCertificateForAdminDelete.MTCertificateID.Visible (end) *@
@if (crewCertificateForAdminDelete.CountryOfIssue_CountryID.Visible) { // crewCertificateForAdminDelete.CountryOfIssue_CountryID.Visible (begin)
        <td @Html.Raw(crewCertificateForAdminDelete.CountryOfIssue_CountryID.CellAttributes)>
<span id="el@(crewCertificateForAdminDelete.RowCount)_CrewCertificateForAdmin_CountryOfIssue_CountryID" class="el_CrewCertificateForAdmin_CountryOfIssue_CountryID">
<span @Html.Raw(crewCertificateForAdminDelete.CountryOfIssue_CountryID.ViewAttributes)>
@Html.Raw(crewCertificateForAdminDelete.CountryOfIssue_CountryID.GetViewValue())</span>
</span></td>
} @* crewCertificateForAdminDelete.CountryOfIssue_CountryID.Visible (end) *@
@if (crewCertificateForAdminDelete.Number.Visible) { // crewCertificateForAdminDelete.Number.Visible (begin)
        <td @Html.Raw(crewCertificateForAdminDelete.Number.CellAttributes)>
<span id="el@(crewCertificateForAdminDelete.RowCount)_CrewCertificateForAdmin_Number" class="el_CrewCertificateForAdmin_Number">
<span @Html.Raw(crewCertificateForAdminDelete.Number.ViewAttributes)>
@Html.Raw(crewCertificateForAdminDelete.Number.GetViewValue())</span>
</span></td>
} @* crewCertificateForAdminDelete.Number.Visible (end) *@
@if (crewCertificateForAdminDelete.DateOfIssue.Visible) { // crewCertificateForAdminDelete.DateOfIssue.Visible (begin)
        <td @Html.Raw(crewCertificateForAdminDelete.DateOfIssue.CellAttributes)>
<span id="el@(crewCertificateForAdminDelete.RowCount)_CrewCertificateForAdmin_DateOfIssue" class="el_CrewCertificateForAdmin_DateOfIssue">
<span @Html.Raw(crewCertificateForAdminDelete.DateOfIssue.ViewAttributes)>
@Html.Raw(crewCertificateForAdminDelete.DateOfIssue.GetViewValue())</span>
</span></td>
} @* crewCertificateForAdminDelete.DateOfIssue.Visible (end) *@
@if (crewCertificateForAdminDelete.DateOfExpiry.Visible) { // crewCertificateForAdminDelete.DateOfExpiry.Visible (begin)
        <td @Html.Raw(crewCertificateForAdminDelete.DateOfExpiry.CellAttributes)>
<span id="el@(crewCertificateForAdminDelete.RowCount)_CrewCertificateForAdmin_DateOfExpiry" class="el_CrewCertificateForAdmin_DateOfExpiry">
<span @Html.Raw(crewCertificateForAdminDelete.DateOfExpiry.ViewAttributes)>
@Html.Raw(crewCertificateForAdminDelete.DateOfExpiry.GetViewValue())</span>
</span></td>
} @* crewCertificateForAdminDelete.DateOfExpiry.Visible (end) *@
@if (crewCertificateForAdminDelete.PlaceOfIssue.Visible) { // crewCertificateForAdminDelete.PlaceOfIssue.Visible (begin)
        <td @Html.Raw(crewCertificateForAdminDelete.PlaceOfIssue.CellAttributes)>
<span id="el@(crewCertificateForAdminDelete.RowCount)_CrewCertificateForAdmin_PlaceOfIssue" class="el_CrewCertificateForAdmin_PlaceOfIssue">
<span @Html.Raw(crewCertificateForAdminDelete.PlaceOfIssue.ViewAttributes)>
@Html.Raw(crewCertificateForAdminDelete.PlaceOfIssue.GetViewValue())</span>
</span></td>
} @* crewCertificateForAdminDelete.PlaceOfIssue.Visible (end) *@
@if (crewCertificateForAdminDelete.IssuingAuthority.Visible) { // crewCertificateForAdminDelete.IssuingAuthority.Visible (begin)
        <td @Html.Raw(crewCertificateForAdminDelete.IssuingAuthority.CellAttributes)>
<span id="el@(crewCertificateForAdminDelete.RowCount)_CrewCertificateForAdmin_IssuingAuthority" class="el_CrewCertificateForAdmin_IssuingAuthority">
<span @Html.Raw(crewCertificateForAdminDelete.IssuingAuthority.ViewAttributes)>
@Html.Raw(crewCertificateForAdminDelete.IssuingAuthority.GetViewValue())</span>
</span></td>
} @* crewCertificateForAdminDelete.IssuingAuthority.Visible (end) *@
@if (crewCertificateForAdminDelete.Level.Visible) { // crewCertificateForAdminDelete.Level.Visible (begin)
        <td @Html.Raw(crewCertificateForAdminDelete.Level.CellAttributes)>
<span id="el@(crewCertificateForAdminDelete.RowCount)_CrewCertificateForAdmin_Level" class="el_CrewCertificateForAdmin_Level">
<span @Html.Raw(crewCertificateForAdminDelete.Level.ViewAttributes)>
@Html.Raw(crewCertificateForAdminDelete.Level.GetViewValue())</span>
</span></td>
} @* crewCertificateForAdminDelete.Level.Visible (end) *@
@if (crewCertificateForAdminDelete.PaxVesselType.Visible) { // crewCertificateForAdminDelete.PaxVesselType.Visible (begin)
        <td @Html.Raw(crewCertificateForAdminDelete.PaxVesselType.CellAttributes)>
<span id="el@(crewCertificateForAdminDelete.RowCount)_CrewCertificateForAdmin_PaxVesselType" class="el_CrewCertificateForAdmin_PaxVesselType">
<span @Html.Raw(crewCertificateForAdminDelete.PaxVesselType.ViewAttributes)>
@Html.Raw(crewCertificateForAdminDelete.PaxVesselType.GetViewValue())</span>
</span></td>
} @* crewCertificateForAdminDelete.PaxVesselType.Visible (end) *@
@if (crewCertificateForAdminDelete.Image.Visible) { // crewCertificateForAdminDelete.Image.Visible (begin)
        <td @Html.Raw(crewCertificateForAdminDelete.Image.CellAttributes)>
<span id="el@(crewCertificateForAdminDelete.RowCount)_CrewCertificateForAdmin_Image" class="el_CrewCertificateForAdmin_Image">
<span>
@Html.Raw(await GetFileViewTag((DbField)crewCertificateForAdminDelete.Image, ConvertToString(crewCertificateForAdminDelete.Image.GetViewValue()), false))
</span>
</span></td>
} @* crewCertificateForAdminDelete.Image.Visible (end) *@
@if (crewCertificateForAdminDelete.CreatedByUserID.Visible) { // crewCertificateForAdminDelete.CreatedByUserID.Visible (begin)
        <td @Html.Raw(crewCertificateForAdminDelete.CreatedByUserID.CellAttributes)>
<span id="el@(crewCertificateForAdminDelete.RowCount)_CrewCertificateForAdmin_CreatedByUserID" class="el_CrewCertificateForAdmin_CreatedByUserID">
<span @Html.Raw(crewCertificateForAdminDelete.CreatedByUserID.ViewAttributes)>
@Html.Raw(crewCertificateForAdminDelete.CreatedByUserID.GetViewValue())</span>
</span></td>
} @* crewCertificateForAdminDelete.CreatedByUserID.Visible (end) *@
@if (crewCertificateForAdminDelete.CreatedDateTime.Visible) { // crewCertificateForAdminDelete.CreatedDateTime.Visible (begin)
        <td @Html.Raw(crewCertificateForAdminDelete.CreatedDateTime.CellAttributes)>
<span id="el@(crewCertificateForAdminDelete.RowCount)_CrewCertificateForAdmin_CreatedDateTime" class="el_CrewCertificateForAdmin_CreatedDateTime">
<span @Html.Raw(crewCertificateForAdminDelete.CreatedDateTime.ViewAttributes)>
@Html.Raw(crewCertificateForAdminDelete.CreatedDateTime.GetViewValue())</span>
</span></td>
} @* crewCertificateForAdminDelete.CreatedDateTime.Visible (end) *@
@if (crewCertificateForAdminDelete.LastUpdatedByUserID.Visible) { // crewCertificateForAdminDelete.LastUpdatedByUserID.Visible (begin)
        <td @Html.Raw(crewCertificateForAdminDelete.LastUpdatedByUserID.CellAttributes)>
<span id="el@(crewCertificateForAdminDelete.RowCount)_CrewCertificateForAdmin_LastUpdatedByUserID" class="el_CrewCertificateForAdmin_LastUpdatedByUserID">
<span @Html.Raw(crewCertificateForAdminDelete.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(crewCertificateForAdminDelete.LastUpdatedByUserID.GetViewValue())</span>
</span></td>
} @* crewCertificateForAdminDelete.LastUpdatedByUserID.Visible (end) *@
@if (crewCertificateForAdminDelete.LastUpdatedDateTime.Visible) { // crewCertificateForAdminDelete.LastUpdatedDateTime.Visible (begin)
        <td @Html.Raw(crewCertificateForAdminDelete.LastUpdatedDateTime.CellAttributes)>
<span id="el@(crewCertificateForAdminDelete.RowCount)_CrewCertificateForAdmin_LastUpdatedDateTime" class="el_CrewCertificateForAdmin_LastUpdatedDateTime">
<span @Html.Raw(crewCertificateForAdminDelete.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(crewCertificateForAdminDelete.LastUpdatedDateTime.GetViewValue())</span>
</span></td>
} @* crewCertificateForAdminDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
}
@{ crewCertificateForAdminDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(crewCertificateForAdminDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@crewCertificateForAdminDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
