@{
    // View
    View = this;

    // Check action result
    if (crewPersonalDataForAdminDelete.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!crewPersonalDataForAdminDelete.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(crewPersonalDataForAdminDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { CrewPersonalDataForAdmin: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fCrewPersonalDataForAdmindelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fCrewPersonalDataForAdmindelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@crewPersonalDataForAdminDelete.ShowPageHeader()
@crewPersonalDataForAdminDelete.ShowMessages()
<form name="fCrewPersonalDataForAdmindelete" id="fCrewPersonalDataForAdmindelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in crewPersonalDataForAdminDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(crewPersonalDataForAdminDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(crewPersonalDataForAdminDelete.TableContainerClass)" style="@(crewPersonalDataForAdminDelete.TableContainerStyle)">
<table class="@(crewPersonalDataForAdminDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (crewPersonalDataForAdminDelete.IndividualCodeNumber.Visible) { // crewPersonalDataForAdminDelete.IndividualCodeNumber.Visible (begin)
        <th class="@Html.Raw(crewPersonalDataForAdminDelete.IndividualCodeNumber.HeaderCellClass)"><span id="elh_CrewPersonalDataForAdmin_IndividualCodeNumber" class="CrewPersonalDataForAdmin_IndividualCodeNumber">@Html.Raw(crewPersonalDataForAdminDelete.IndividualCodeNumber.Caption)</span></th>
} @* crewPersonalDataForAdminDelete.IndividualCodeNumber.Visible (end) *@
@if (crewPersonalDataForAdminDelete.FullName.Visible) { // crewPersonalDataForAdminDelete.FullName.Visible (begin)
        <th class="@Html.Raw(crewPersonalDataForAdminDelete.FullName.HeaderCellClass)"><span id="elh_CrewPersonalDataForAdmin_FullName" class="CrewPersonalDataForAdmin_FullName">@Html.Raw(crewPersonalDataForAdminDelete.FullName.Caption)</span></th>
} @* crewPersonalDataForAdminDelete.FullName.Visible (end) *@
@if (crewPersonalDataForAdminDelete.RequiredPhoto.Visible) { // crewPersonalDataForAdminDelete.RequiredPhoto.Visible (begin)
        <th class="@Html.Raw(crewPersonalDataForAdminDelete.RequiredPhoto.HeaderCellClass)"><span id="elh_CrewPersonalDataForAdmin_RequiredPhoto" class="CrewPersonalDataForAdmin_RequiredPhoto">@Html.Raw(crewPersonalDataForAdminDelete.RequiredPhoto.Caption)</span></th>
} @* crewPersonalDataForAdminDelete.RequiredPhoto.Visible (end) *@
@if (crewPersonalDataForAdminDelete.VisaPhoto.Visible) { // crewPersonalDataForAdminDelete.VisaPhoto.Visible (begin)
        <th class="@Html.Raw(crewPersonalDataForAdminDelete.VisaPhoto.HeaderCellClass)"><span id="elh_CrewPersonalDataForAdmin_VisaPhoto" class="CrewPersonalDataForAdmin_VisaPhoto">@Html.Raw(crewPersonalDataForAdminDelete.VisaPhoto.Caption)</span></th>
} @* crewPersonalDataForAdminDelete.VisaPhoto.Visible (end) *@
@if (crewPersonalDataForAdminDelete.Nationality_CountryID.Visible) { // crewPersonalDataForAdminDelete.Nationality_CountryID.Visible (begin)
        <th class="@Html.Raw(crewPersonalDataForAdminDelete.Nationality_CountryID.HeaderCellClass)"><span id="elh_CrewPersonalDataForAdmin_Nationality_CountryID" class="CrewPersonalDataForAdmin_Nationality_CountryID">@Html.Raw(crewPersonalDataForAdminDelete.Nationality_CountryID.Caption)</span></th>
} @* crewPersonalDataForAdminDelete.Nationality_CountryID.Visible (end) *@
@if (crewPersonalDataForAdminDelete.CountryOfOrigin_CountryID.Visible) { // crewPersonalDataForAdminDelete.CountryOfOrigin_CountryID.Visible (begin)
        <th class="@Html.Raw(crewPersonalDataForAdminDelete.CountryOfOrigin_CountryID.HeaderCellClass)"><span id="elh_CrewPersonalDataForAdmin_CountryOfOrigin_CountryID" class="CrewPersonalDataForAdmin_CountryOfOrigin_CountryID">@Html.Raw(crewPersonalDataForAdminDelete.CountryOfOrigin_CountryID.Caption)</span></th>
} @* crewPersonalDataForAdminDelete.CountryOfOrigin_CountryID.Visible (end) *@
@if (crewPersonalDataForAdminDelete.DateOfBirth.Visible) { // crewPersonalDataForAdminDelete.DateOfBirth.Visible (begin)
        <th class="@Html.Raw(crewPersonalDataForAdminDelete.DateOfBirth.HeaderCellClass)"><span id="elh_CrewPersonalDataForAdmin_DateOfBirth" class="CrewPersonalDataForAdmin_DateOfBirth">@Html.Raw(crewPersonalDataForAdminDelete.DateOfBirth.Caption)</span></th>
} @* crewPersonalDataForAdminDelete.DateOfBirth.Visible (end) *@
@if (crewPersonalDataForAdminDelete.CityOfBirth.Visible) { // crewPersonalDataForAdminDelete.CityOfBirth.Visible (begin)
        <th class="@Html.Raw(crewPersonalDataForAdminDelete.CityOfBirth.HeaderCellClass)"><span id="elh_CrewPersonalDataForAdmin_CityOfBirth" class="CrewPersonalDataForAdmin_CityOfBirth">@Html.Raw(crewPersonalDataForAdminDelete.CityOfBirth.Caption)</span></th>
} @* crewPersonalDataForAdminDelete.CityOfBirth.Visible (end) *@
@if (crewPersonalDataForAdminDelete.Gender.Visible) { // crewPersonalDataForAdminDelete.Gender.Visible (begin)
        <th class="@Html.Raw(crewPersonalDataForAdminDelete.Gender.HeaderCellClass)"><span id="elh_CrewPersonalDataForAdmin_Gender" class="CrewPersonalDataForAdmin_Gender">@Html.Raw(crewPersonalDataForAdminDelete.Gender.Caption)</span></th>
} @* crewPersonalDataForAdminDelete.Gender.Visible (end) *@
@if (crewPersonalDataForAdminDelete.MaritalStatus.Visible) { // crewPersonalDataForAdminDelete.MaritalStatus.Visible (begin)
        <th class="@Html.Raw(crewPersonalDataForAdminDelete.MaritalStatus.HeaderCellClass)"><span id="elh_CrewPersonalDataForAdmin_MaritalStatus" class="CrewPersonalDataForAdmin_MaritalStatus">@Html.Raw(crewPersonalDataForAdminDelete.MaritalStatus.Caption)</span></th>
} @* crewPersonalDataForAdminDelete.MaritalStatus.Visible (end) *@
@if (crewPersonalDataForAdminDelete.ReligionID.Visible) { // crewPersonalDataForAdminDelete.ReligionID.Visible (begin)
        <th class="@Html.Raw(crewPersonalDataForAdminDelete.ReligionID.HeaderCellClass)"><span id="elh_CrewPersonalDataForAdmin_ReligionID" class="CrewPersonalDataForAdmin_ReligionID">@Html.Raw(crewPersonalDataForAdminDelete.ReligionID.Caption)</span></th>
} @* crewPersonalDataForAdminDelete.ReligionID.Visible (end) *@
@if (crewPersonalDataForAdminDelete.RankAppliedFor_RankID.Visible) { // crewPersonalDataForAdminDelete.RankAppliedFor_RankID.Visible (begin)
        <th class="@Html.Raw(crewPersonalDataForAdminDelete.RankAppliedFor_RankID.HeaderCellClass)"><span id="elh_CrewPersonalDataForAdmin_RankAppliedFor_RankID" class="CrewPersonalDataForAdmin_RankAppliedFor_RankID">@Html.Raw(crewPersonalDataForAdminDelete.RankAppliedFor_RankID.Caption)</span></th>
} @* crewPersonalDataForAdminDelete.RankAppliedFor_RankID.Visible (end) *@
@if (crewPersonalDataForAdminDelete.MobileNumber.Visible) { // crewPersonalDataForAdminDelete.MobileNumber.Visible (begin)
        <th class="@Html.Raw(crewPersonalDataForAdminDelete.MobileNumber.HeaderCellClass)"><span id="elh_CrewPersonalDataForAdmin_MobileNumber" class="CrewPersonalDataForAdmin_MobileNumber">@Html.Raw(crewPersonalDataForAdminDelete.MobileNumber.Caption)</span></th>
} @* crewPersonalDataForAdminDelete.MobileNumber.Visible (end) *@
@if (crewPersonalDataForAdminDelete._Email.Visible) { // crewPersonalDataForAdminDelete._Email.Visible (begin)
        <th class="@Html.Raw(crewPersonalDataForAdminDelete._Email.HeaderCellClass)"><span id="elh_CrewPersonalDataForAdmin__Email" class="CrewPersonalDataForAdmin__Email">@Html.Raw(crewPersonalDataForAdminDelete._Email.Caption)</span></th>
} @* crewPersonalDataForAdminDelete._Email.Visible (end) *@
@if (crewPersonalDataForAdminDelete.EmployeeStatus.Visible) { // crewPersonalDataForAdminDelete.EmployeeStatus.Visible (begin)
        <th class="@Html.Raw(crewPersonalDataForAdminDelete.EmployeeStatus.HeaderCellClass)"><span id="elh_CrewPersonalDataForAdmin_EmployeeStatus" class="CrewPersonalDataForAdmin_EmployeeStatus">@Html.Raw(crewPersonalDataForAdminDelete.EmployeeStatus.Caption)</span></th>
} @* crewPersonalDataForAdminDelete.EmployeeStatus.Visible (end) *@
@if (crewPersonalDataForAdminDelete.FormSubmittedDateTime.Visible) { // crewPersonalDataForAdminDelete.FormSubmittedDateTime.Visible (begin)
        <th class="@Html.Raw(crewPersonalDataForAdminDelete.FormSubmittedDateTime.HeaderCellClass)"><span id="elh_CrewPersonalDataForAdmin_FormSubmittedDateTime" class="CrewPersonalDataForAdmin_FormSubmittedDateTime">@Html.Raw(crewPersonalDataForAdminDelete.FormSubmittedDateTime.Caption)</span></th>
} @* crewPersonalDataForAdminDelete.FormSubmittedDateTime.Visible (end) *@
@if (crewPersonalDataForAdminDelete.CreatedByUserID.Visible) { // crewPersonalDataForAdminDelete.CreatedByUserID.Visible (begin)
        <th class="@Html.Raw(crewPersonalDataForAdminDelete.CreatedByUserID.HeaderCellClass)"><span id="elh_CrewPersonalDataForAdmin_CreatedByUserID" class="CrewPersonalDataForAdmin_CreatedByUserID">@Html.Raw(crewPersonalDataForAdminDelete.CreatedByUserID.Caption)</span></th>
} @* crewPersonalDataForAdminDelete.CreatedByUserID.Visible (end) *@
@if (crewPersonalDataForAdminDelete.CreatedDateTime.Visible) { // crewPersonalDataForAdminDelete.CreatedDateTime.Visible (begin)
        <th class="@Html.Raw(crewPersonalDataForAdminDelete.CreatedDateTime.HeaderCellClass)"><span id="elh_CrewPersonalDataForAdmin_CreatedDateTime" class="CrewPersonalDataForAdmin_CreatedDateTime">@Html.Raw(crewPersonalDataForAdminDelete.CreatedDateTime.Caption)</span></th>
} @* crewPersonalDataForAdminDelete.CreatedDateTime.Visible (end) *@
@if (crewPersonalDataForAdminDelete.LastUpdatedByUserID.Visible) { // crewPersonalDataForAdminDelete.LastUpdatedByUserID.Visible (begin)
        <th class="@Html.Raw(crewPersonalDataForAdminDelete.LastUpdatedByUserID.HeaderCellClass)"><span id="elh_CrewPersonalDataForAdmin_LastUpdatedByUserID" class="CrewPersonalDataForAdmin_LastUpdatedByUserID">@Html.Raw(crewPersonalDataForAdminDelete.LastUpdatedByUserID.Caption)</span></th>
} @* crewPersonalDataForAdminDelete.LastUpdatedByUserID.Visible (end) *@
@if (crewPersonalDataForAdminDelete.LastUpdatedDateTime.Visible) { // crewPersonalDataForAdminDelete.LastUpdatedDateTime.Visible (begin)
        <th class="@Html.Raw(crewPersonalDataForAdminDelete.LastUpdatedDateTime.HeaderCellClass)"><span id="elh_CrewPersonalDataForAdmin_LastUpdatedDateTime" class="CrewPersonalDataForAdmin_LastUpdatedDateTime">@Html.Raw(crewPersonalDataForAdminDelete.LastUpdatedDateTime.Caption)</span></th>
} @* crewPersonalDataForAdminDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ crewPersonalDataForAdminDelete.RecordCount = 0; }
@while (crewPersonalDataForAdminDelete.Recordset != null && await crewPersonalDataForAdminDelete.Recordset.ReadAsync()) { // DN
    crewPersonalDataForAdminDelete.RecordCount++;
    crewPersonalDataForAdminDelete.RowCount++;

    // Set row properties
    crewPersonalDataForAdminDelete.ResetAttributes();
    crewPersonalDataForAdminDelete.RowType = RowType.View; // View

    // Get the field contents
    await crewPersonalDataForAdminDelete.LoadRowValues(crewPersonalDataForAdminDelete.Recordset);

    // Render row
    await crewPersonalDataForAdminDelete.RenderRow();
    <tr @Html.Raw(crewPersonalDataForAdminDelete.RowAttributes)>
@if (crewPersonalDataForAdminDelete.IndividualCodeNumber.Visible) { // crewPersonalDataForAdminDelete.IndividualCodeNumber.Visible (begin)
        <td @Html.Raw(crewPersonalDataForAdminDelete.IndividualCodeNumber.CellAttributes)>
<span id="el@(crewPersonalDataForAdminDelete.RowCount)_CrewPersonalDataForAdmin_IndividualCodeNumber" class="el_CrewPersonalDataForAdmin_IndividualCodeNumber">
<span @Html.Raw(crewPersonalDataForAdminDelete.IndividualCodeNumber.ViewAttributes)>
@Html.Raw(crewPersonalDataForAdminDelete.IndividualCodeNumber.GetViewValue())</span>
</span></td>
} @* crewPersonalDataForAdminDelete.IndividualCodeNumber.Visible (end) *@
@if (crewPersonalDataForAdminDelete.FullName.Visible) { // crewPersonalDataForAdminDelete.FullName.Visible (begin)
        <td @Html.Raw(crewPersonalDataForAdminDelete.FullName.CellAttributes)>
<span id="el@(crewPersonalDataForAdminDelete.RowCount)_CrewPersonalDataForAdmin_FullName" class="el_CrewPersonalDataForAdmin_FullName">
<span @Html.Raw(crewPersonalDataForAdminDelete.FullName.ViewAttributes)>
@Html.Raw(crewPersonalDataForAdminDelete.FullName.GetViewValue())</span>
</span></td>
} @* crewPersonalDataForAdminDelete.FullName.Visible (end) *@
@if (crewPersonalDataForAdminDelete.RequiredPhoto.Visible) { // crewPersonalDataForAdminDelete.RequiredPhoto.Visible (begin)
        <td @Html.Raw(crewPersonalDataForAdminDelete.RequiredPhoto.CellAttributes)>
<span id="el@(crewPersonalDataForAdminDelete.RowCount)_CrewPersonalDataForAdmin_RequiredPhoto" class="el_CrewPersonalDataForAdmin_RequiredPhoto">
<span>
@Html.Raw(await GetFileViewTag((DbField)crewPersonalDataForAdminDelete.RequiredPhoto, ConvertToString(crewPersonalDataForAdminDelete.RequiredPhoto.GetViewValue()), false))
</span>
</span></td>
} @* crewPersonalDataForAdminDelete.RequiredPhoto.Visible (end) *@
@if (crewPersonalDataForAdminDelete.VisaPhoto.Visible) { // crewPersonalDataForAdminDelete.VisaPhoto.Visible (begin)
        <td @Html.Raw(crewPersonalDataForAdminDelete.VisaPhoto.CellAttributes)>
<span id="el@(crewPersonalDataForAdminDelete.RowCount)_CrewPersonalDataForAdmin_VisaPhoto" class="el_CrewPersonalDataForAdmin_VisaPhoto">
<span>
@Html.Raw(await GetFileViewTag((DbField)crewPersonalDataForAdminDelete.VisaPhoto, ConvertToString(crewPersonalDataForAdminDelete.VisaPhoto.GetViewValue()), false))
</span>
</span></td>
} @* crewPersonalDataForAdminDelete.VisaPhoto.Visible (end) *@
@if (crewPersonalDataForAdminDelete.Nationality_CountryID.Visible) { // crewPersonalDataForAdminDelete.Nationality_CountryID.Visible (begin)
        <td @Html.Raw(crewPersonalDataForAdminDelete.Nationality_CountryID.CellAttributes)>
<span id="el@(crewPersonalDataForAdminDelete.RowCount)_CrewPersonalDataForAdmin_Nationality_CountryID" class="el_CrewPersonalDataForAdmin_Nationality_CountryID">
<span @Html.Raw(crewPersonalDataForAdminDelete.Nationality_CountryID.ViewAttributes)>
@Html.Raw(crewPersonalDataForAdminDelete.Nationality_CountryID.GetViewValue())</span>
</span></td>
} @* crewPersonalDataForAdminDelete.Nationality_CountryID.Visible (end) *@
@if (crewPersonalDataForAdminDelete.CountryOfOrigin_CountryID.Visible) { // crewPersonalDataForAdminDelete.CountryOfOrigin_CountryID.Visible (begin)
        <td @Html.Raw(crewPersonalDataForAdminDelete.CountryOfOrigin_CountryID.CellAttributes)>
<span id="el@(crewPersonalDataForAdminDelete.RowCount)_CrewPersonalDataForAdmin_CountryOfOrigin_CountryID" class="el_CrewPersonalDataForAdmin_CountryOfOrigin_CountryID">
<span @Html.Raw(crewPersonalDataForAdminDelete.CountryOfOrigin_CountryID.ViewAttributes)>
@Html.Raw(crewPersonalDataForAdminDelete.CountryOfOrigin_CountryID.GetViewValue())</span>
</span></td>
} @* crewPersonalDataForAdminDelete.CountryOfOrigin_CountryID.Visible (end) *@
@if (crewPersonalDataForAdminDelete.DateOfBirth.Visible) { // crewPersonalDataForAdminDelete.DateOfBirth.Visible (begin)
        <td @Html.Raw(crewPersonalDataForAdminDelete.DateOfBirth.CellAttributes)>
<span id="el@(crewPersonalDataForAdminDelete.RowCount)_CrewPersonalDataForAdmin_DateOfBirth" class="el_CrewPersonalDataForAdmin_DateOfBirth">
<span @Html.Raw(crewPersonalDataForAdminDelete.DateOfBirth.ViewAttributes)>
@Html.Raw(crewPersonalDataForAdminDelete.DateOfBirth.GetViewValue())</span>
</span></td>
} @* crewPersonalDataForAdminDelete.DateOfBirth.Visible (end) *@
@if (crewPersonalDataForAdminDelete.CityOfBirth.Visible) { // crewPersonalDataForAdminDelete.CityOfBirth.Visible (begin)
        <td @Html.Raw(crewPersonalDataForAdminDelete.CityOfBirth.CellAttributes)>
<span id="el@(crewPersonalDataForAdminDelete.RowCount)_CrewPersonalDataForAdmin_CityOfBirth" class="el_CrewPersonalDataForAdmin_CityOfBirth">
<span @Html.Raw(crewPersonalDataForAdminDelete.CityOfBirth.ViewAttributes)>
@Html.Raw(crewPersonalDataForAdminDelete.CityOfBirth.GetViewValue())</span>
</span></td>
} @* crewPersonalDataForAdminDelete.CityOfBirth.Visible (end) *@
@if (crewPersonalDataForAdminDelete.Gender.Visible) { // crewPersonalDataForAdminDelete.Gender.Visible (begin)
        <td @Html.Raw(crewPersonalDataForAdminDelete.Gender.CellAttributes)>
<span id="el@(crewPersonalDataForAdminDelete.RowCount)_CrewPersonalDataForAdmin_Gender" class="el_CrewPersonalDataForAdmin_Gender">
<span @Html.Raw(crewPersonalDataForAdminDelete.Gender.ViewAttributes)>
@Html.Raw(crewPersonalDataForAdminDelete.Gender.GetViewValue())</span>
</span></td>
} @* crewPersonalDataForAdminDelete.Gender.Visible (end) *@
@if (crewPersonalDataForAdminDelete.MaritalStatus.Visible) { // crewPersonalDataForAdminDelete.MaritalStatus.Visible (begin)
        <td @Html.Raw(crewPersonalDataForAdminDelete.MaritalStatus.CellAttributes)>
<span id="el@(crewPersonalDataForAdminDelete.RowCount)_CrewPersonalDataForAdmin_MaritalStatus" class="el_CrewPersonalDataForAdmin_MaritalStatus">
<span @Html.Raw(crewPersonalDataForAdminDelete.MaritalStatus.ViewAttributes)>
@Html.Raw(crewPersonalDataForAdminDelete.MaritalStatus.GetViewValue())</span>
</span></td>
} @* crewPersonalDataForAdminDelete.MaritalStatus.Visible (end) *@
@if (crewPersonalDataForAdminDelete.ReligionID.Visible) { // crewPersonalDataForAdminDelete.ReligionID.Visible (begin)
        <td @Html.Raw(crewPersonalDataForAdminDelete.ReligionID.CellAttributes)>
<span id="el@(crewPersonalDataForAdminDelete.RowCount)_CrewPersonalDataForAdmin_ReligionID" class="el_CrewPersonalDataForAdmin_ReligionID">
<span @Html.Raw(crewPersonalDataForAdminDelete.ReligionID.ViewAttributes)>
@Html.Raw(crewPersonalDataForAdminDelete.ReligionID.GetViewValue())</span>
</span></td>
} @* crewPersonalDataForAdminDelete.ReligionID.Visible (end) *@
@if (crewPersonalDataForAdminDelete.RankAppliedFor_RankID.Visible) { // crewPersonalDataForAdminDelete.RankAppliedFor_RankID.Visible (begin)
        <td @Html.Raw(crewPersonalDataForAdminDelete.RankAppliedFor_RankID.CellAttributes)>
<span id="el@(crewPersonalDataForAdminDelete.RowCount)_CrewPersonalDataForAdmin_RankAppliedFor_RankID" class="el_CrewPersonalDataForAdmin_RankAppliedFor_RankID">
<span @Html.Raw(crewPersonalDataForAdminDelete.RankAppliedFor_RankID.ViewAttributes)>
@Html.Raw(crewPersonalDataForAdminDelete.RankAppliedFor_RankID.GetViewValue())</span>
</span></td>
} @* crewPersonalDataForAdminDelete.RankAppliedFor_RankID.Visible (end) *@
@if (crewPersonalDataForAdminDelete.MobileNumber.Visible) { // crewPersonalDataForAdminDelete.MobileNumber.Visible (begin)
        <td @Html.Raw(crewPersonalDataForAdminDelete.MobileNumber.CellAttributes)>
<span id="el@(crewPersonalDataForAdminDelete.RowCount)_CrewPersonalDataForAdmin_MobileNumber" class="el_CrewPersonalDataForAdmin_MobileNumber">
<span @Html.Raw(crewPersonalDataForAdminDelete.MobileNumber.ViewAttributes)>
@Html.Raw(crewPersonalDataForAdminDelete.MobileNumber.GetViewValue())</span>
</span></td>
} @* crewPersonalDataForAdminDelete.MobileNumber.Visible (end) *@
@if (crewPersonalDataForAdminDelete._Email.Visible) { // crewPersonalDataForAdminDelete._Email.Visible (begin)
        <td @Html.Raw(crewPersonalDataForAdminDelete._Email.CellAttributes)>
<span id="el@(crewPersonalDataForAdminDelete.RowCount)_CrewPersonalDataForAdmin__Email" class="el_CrewPersonalDataForAdmin__Email">
<span @Html.Raw(crewPersonalDataForAdminDelete._Email.ViewAttributes)>
@Html.Raw(crewPersonalDataForAdminDelete._Email.GetViewValue())</span>
</span></td>
} @* crewPersonalDataForAdminDelete._Email.Visible (end) *@
@if (crewPersonalDataForAdminDelete.EmployeeStatus.Visible) { // crewPersonalDataForAdminDelete.EmployeeStatus.Visible (begin)
        <td @Html.Raw(crewPersonalDataForAdminDelete.EmployeeStatus.CellAttributes)>
<span id="el@(crewPersonalDataForAdminDelete.RowCount)_CrewPersonalDataForAdmin_EmployeeStatus" class="el_CrewPersonalDataForAdmin_EmployeeStatus">
<span @Html.Raw(crewPersonalDataForAdminDelete.EmployeeStatus.ViewAttributes)>
@Html.Raw(crewPersonalDataForAdminDelete.EmployeeStatus.GetViewValue())</span>
</span></td>
} @* crewPersonalDataForAdminDelete.EmployeeStatus.Visible (end) *@
@if (crewPersonalDataForAdminDelete.FormSubmittedDateTime.Visible) { // crewPersonalDataForAdminDelete.FormSubmittedDateTime.Visible (begin)
        <td @Html.Raw(crewPersonalDataForAdminDelete.FormSubmittedDateTime.CellAttributes)>
<span id="el@(crewPersonalDataForAdminDelete.RowCount)_CrewPersonalDataForAdmin_FormSubmittedDateTime" class="el_CrewPersonalDataForAdmin_FormSubmittedDateTime">
<span @Html.Raw(crewPersonalDataForAdminDelete.FormSubmittedDateTime.ViewAttributes)>
@Html.Raw(crewPersonalDataForAdminDelete.FormSubmittedDateTime.GetViewValue())</span>
</span></td>
} @* crewPersonalDataForAdminDelete.FormSubmittedDateTime.Visible (end) *@
@if (crewPersonalDataForAdminDelete.CreatedByUserID.Visible) { // crewPersonalDataForAdminDelete.CreatedByUserID.Visible (begin)
        <td @Html.Raw(crewPersonalDataForAdminDelete.CreatedByUserID.CellAttributes)>
<span id="el@(crewPersonalDataForAdminDelete.RowCount)_CrewPersonalDataForAdmin_CreatedByUserID" class="el_CrewPersonalDataForAdmin_CreatedByUserID">
<span @Html.Raw(crewPersonalDataForAdminDelete.CreatedByUserID.ViewAttributes)>
@Html.Raw(crewPersonalDataForAdminDelete.CreatedByUserID.GetViewValue())</span>
</span></td>
} @* crewPersonalDataForAdminDelete.CreatedByUserID.Visible (end) *@
@if (crewPersonalDataForAdminDelete.CreatedDateTime.Visible) { // crewPersonalDataForAdminDelete.CreatedDateTime.Visible (begin)
        <td @Html.Raw(crewPersonalDataForAdminDelete.CreatedDateTime.CellAttributes)>
<span id="el@(crewPersonalDataForAdminDelete.RowCount)_CrewPersonalDataForAdmin_CreatedDateTime" class="el_CrewPersonalDataForAdmin_CreatedDateTime">
<span @Html.Raw(crewPersonalDataForAdminDelete.CreatedDateTime.ViewAttributes)>
@Html.Raw(crewPersonalDataForAdminDelete.CreatedDateTime.GetViewValue())</span>
</span></td>
} @* crewPersonalDataForAdminDelete.CreatedDateTime.Visible (end) *@
@if (crewPersonalDataForAdminDelete.LastUpdatedByUserID.Visible) { // crewPersonalDataForAdminDelete.LastUpdatedByUserID.Visible (begin)
        <td @Html.Raw(crewPersonalDataForAdminDelete.LastUpdatedByUserID.CellAttributes)>
<span id="el@(crewPersonalDataForAdminDelete.RowCount)_CrewPersonalDataForAdmin_LastUpdatedByUserID" class="el_CrewPersonalDataForAdmin_LastUpdatedByUserID">
<span @Html.Raw(crewPersonalDataForAdminDelete.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(crewPersonalDataForAdminDelete.LastUpdatedByUserID.GetViewValue())</span>
</span></td>
} @* crewPersonalDataForAdminDelete.LastUpdatedByUserID.Visible (end) *@
@if (crewPersonalDataForAdminDelete.LastUpdatedDateTime.Visible) { // crewPersonalDataForAdminDelete.LastUpdatedDateTime.Visible (begin)
        <td @Html.Raw(crewPersonalDataForAdminDelete.LastUpdatedDateTime.CellAttributes)>
<span id="el@(crewPersonalDataForAdminDelete.RowCount)_CrewPersonalDataForAdmin_LastUpdatedDateTime" class="el_CrewPersonalDataForAdmin_LastUpdatedDateTime">
<span @Html.Raw(crewPersonalDataForAdminDelete.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(crewPersonalDataForAdminDelete.LastUpdatedDateTime.GetViewValue())</span>
</span></td>
} @* crewPersonalDataForAdminDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
}
@{ crewPersonalDataForAdminDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(crewPersonalDataForAdminDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@crewPersonalDataForAdminDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
