@{
    // View
    View = this;

    // Check action result
    if (crewAppraisalForAdminEdit.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!crewAppraisalForAdminEdit.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@crewAppraisalForAdminEdit.ShowPageHeader()
@crewAppraisalForAdminEdit.ShowMessages()
<main class="edit">
<form name="fCrewAppraisalForAdminedit" id="fCrewAppraisalForAdminedit" class="@(crewAppraisalForAdminEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
<script>
var currentTable = @Html.Raw(ConvertToJson(crewAppraisalForAdminEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { CrewAppraisalForAdmin: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fCrewAppraisalForAdminedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fCrewAppraisalForAdminedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["VesselName", [fields.VesselName.visible && fields.VesselName.required ? ew.Validators.required(fields.VesselName.caption) : null], fields.VesselName.isInvalid],
            ["MTRankID", [fields.MTRankID.visible && fields.MTRankID.required ? ew.Validators.required(fields.MTRankID.caption) : null], fields.MTRankID.isInvalid],
            ["Questionnaire", [fields.Questionnaire.visible && fields.Questionnaire.required ? ew.Validators.required(fields.Questionnaire.caption) : null], fields.Questionnaire.isInvalid],
            ["Approved", [fields.Approved.visible && fields.Approved.required ? ew.Validators.required(fields.Approved.caption) : null], fields.Approved.isInvalid],
            ["AverageRating", [fields.AverageRating.visible && fields.AverageRating.required ? ew.Validators.required(fields.AverageRating.caption) : null], fields.AverageRating.isInvalid],
            ["Rehire", [fields.Rehire.visible && fields.Rehire.required ? ew.Validators.required(fields.Rehire.caption) : null], fields.Rehire.isInvalid],
            ["Promote", [fields.Promote.visible && fields.Promote.required ? ew.Validators.required(fields.Promote.caption) : null], fields.Promote.isInvalid],
            ["Appraiser", [fields.Appraiser.visible && fields.Appraiser.required ? ew.Validators.required(fields.Appraiser.caption) : null], fields.Appraiser.isInvalid],
            ["DateInput", [fields.DateInput.visible && fields.DateInput.required ? ew.Validators.required(fields.DateInput.caption) : null, ew.Validators.datetime(fields.DateInput.clientFormatPattern)], fields.DateInput.isInvalid],
            ["MTCrewID", [fields.MTCrewID.visible && fields.MTCrewID.required ? ew.Validators.required(fields.MTCrewID.caption) : null], fields.MTCrewID.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "MTRankID": @Html.Raw(crewAppraisalForAdminEdit.MTRankID.ToClientList(crewAppraisalForAdminEdit)),
            "Approved": @Html.Raw(crewAppraisalForAdminEdit.Approved.ToClientList(crewAppraisalForAdminEdit)),
            "Rehire": @Html.Raw(crewAppraisalForAdminEdit.Rehire.ToClientList(crewAppraisalForAdminEdit)),
            "Promote": @Html.Raw(crewAppraisalForAdminEdit.Promote.ToClientList(crewAppraisalForAdminEdit)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(crewAppraisalForAdminEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(crewAppraisalForAdminEdit.OldKeyName)" value="@Html.Raw(crewAppraisalForAdminEdit.OldKey)">
<div class="ew-edit-div d-none"><!-- page* -->
@if (crewAppraisalForAdminEdit.VesselName.Visible) { // crewAppraisalForAdminEdit.VesselName.Visible (begin)
    <div id="r_VesselName" @Html.Raw(crewAppraisalForAdminEdit.VesselName.RowAttributes)>
        <label id="elh_CrewAppraisalForAdmin_VesselName" for="x_VesselName" class="@(crewAppraisalForAdminEdit.LeftColumnClass)"><template id="tpc_CrewAppraisalForAdmin_VesselName">@Html.Raw(crewAppraisalForAdminEdit.VesselName.Caption)@Html.Raw(crewAppraisalForAdminEdit.VesselName.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewAppraisalForAdminEdit.RightColumnClass)"><div @Html.Raw(crewAppraisalForAdminEdit.VesselName.CellAttributes)>
<template id="tpx_CrewAppraisalForAdmin_VesselName"><span id="el_CrewAppraisalForAdmin_VesselName">
<input type="@(crewAppraisalForAdminEdit.VesselName.InputTextType)" name="x_VesselName" id="x_VesselName" data-table="CrewAppraisalForAdmin" data-field="x_VesselName" value="@Html.Raw(crewAppraisalForAdminEdit.VesselName.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(crewAppraisalForAdminEdit.VesselName.PlaceHolder))" data-format-pattern="@(crewAppraisalForAdminEdit.VesselName.FormatPattern)"@Html.Raw(crewAppraisalForAdminEdit.VesselName.EditAttributes) aria-describedby="x_VesselName_help">
@Html.Raw(crewAppraisalForAdminEdit.VesselName.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewAppraisalForAdminEdit.VesselName.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* crewAppraisalForAdminEdit.VesselName.Visible (end) *@
@if (crewAppraisalForAdminEdit.MTRankID.Visible) { // crewAppraisalForAdminEdit.MTRankID.Visible (begin)
    <div id="r_MTRankID" @Html.Raw(crewAppraisalForAdminEdit.MTRankID.RowAttributes)>
        <label id="elh_CrewAppraisalForAdmin_MTRankID" for="x_MTRankID" class="@(crewAppraisalForAdminEdit.LeftColumnClass)"><template id="tpc_CrewAppraisalForAdmin_MTRankID">@Html.Raw(crewAppraisalForAdminEdit.MTRankID.Caption)@Html.Raw(crewAppraisalForAdminEdit.MTRankID.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewAppraisalForAdminEdit.RightColumnClass)"><div @Html.Raw(crewAppraisalForAdminEdit.MTRankID.CellAttributes)>
<template id="tpx_CrewAppraisalForAdmin_MTRankID"><span id="el_CrewAppraisalForAdmin_MTRankID">
    <select
        id="x_MTRankID"
        name="x_MTRankID"
        class="form-select ew-select@(crewAppraisalForAdminEdit.MTRankID.IsInvalidClass)"
        data-select2-id="fCrewAppraisalForAdminedit_x_MTRankID"
        data-table="CrewAppraisalForAdmin"
        data-field="x_MTRankID"
        data-value-separator="@(crewAppraisalForAdminEdit.MTRankID.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(crewAppraisalForAdminEdit.MTRankID.PlaceHolder))"
        @Html.Raw(crewAppraisalForAdminEdit.MTRankID.EditAttributes)>
        @(crewAppraisalForAdminEdit.MTRankID.SelectOptionListHtml("x_MTRankID"))
    </select>
    @Html.Raw(crewAppraisalForAdminEdit.MTRankID.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(crewAppraisalForAdminEdit.MTRankID.GetErrorMessage())</div>
@Html.Raw(crewAppraisalForAdminEdit.MTRankID.Lookup.GetParamTag(crewAppraisalForAdminEdit, "p_x_MTRankID"))
<script>
loadjs.ready("fCrewAppraisalForAdminedit", function() {
    var options = { name: "x_MTRankID", selectId: "fCrewAppraisalForAdminedit_x_MTRankID" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fCrewAppraisalForAdminedit.lists.MTRankID?.lookupOptions.length) {
        options.data = { id: "x_MTRankID", form: "fCrewAppraisalForAdminedit" };
    } else {
        options.ajax = { id: "x_MTRankID", form: "fCrewAppraisalForAdminedit", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumResultsForSearch = Infinity;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.CrewAppraisalForAdmin.fields.MTRankID.selectOptions);
    ew.createSelect(options);
});
</script>
</span></template>
</div></div>
    </div>
} @* crewAppraisalForAdminEdit.MTRankID.Visible (end) *@
@if (crewAppraisalForAdminEdit.Questionnaire.Visible) { // crewAppraisalForAdminEdit.Questionnaire.Visible (begin)
    <div id="r_Questionnaire" @Html.Raw(crewAppraisalForAdminEdit.Questionnaire.RowAttributes)>
        <label id="elh_CrewAppraisalForAdmin_Questionnaire" for="x_Questionnaire" class="@(crewAppraisalForAdminEdit.LeftColumnClass)"><template id="tpc_CrewAppraisalForAdmin_Questionnaire">@Html.Raw(crewAppraisalForAdminEdit.Questionnaire.Caption)@Html.Raw(crewAppraisalForAdminEdit.Questionnaire.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewAppraisalForAdminEdit.RightColumnClass)"><div @Html.Raw(crewAppraisalForAdminEdit.Questionnaire.CellAttributes)>
<template id="tpx_CrewAppraisalForAdmin_Questionnaire"><span id="el_CrewAppraisalForAdmin_Questionnaire">
<input type="@(crewAppraisalForAdminEdit.Questionnaire.InputTextType)" name="x_Questionnaire" id="x_Questionnaire" data-table="CrewAppraisalForAdmin" data-field="x_Questionnaire" value="@Html.Raw(crewAppraisalForAdminEdit.Questionnaire.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(crewAppraisalForAdminEdit.Questionnaire.PlaceHolder))" data-format-pattern="@(crewAppraisalForAdminEdit.Questionnaire.FormatPattern)"@Html.Raw(crewAppraisalForAdminEdit.Questionnaire.EditAttributes) aria-describedby="x_Questionnaire_help">
@Html.Raw(crewAppraisalForAdminEdit.Questionnaire.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewAppraisalForAdminEdit.Questionnaire.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* crewAppraisalForAdminEdit.Questionnaire.Visible (end) *@
@if (crewAppraisalForAdminEdit.Approved.Visible) { // crewAppraisalForAdminEdit.Approved.Visible (begin)
    <div id="r_Approved" @Html.Raw(crewAppraisalForAdminEdit.Approved.RowAttributes)>
        <label id="elh_CrewAppraisalForAdmin_Approved" class="@(crewAppraisalForAdminEdit.LeftColumnClass)"><template id="tpc_CrewAppraisalForAdmin_Approved">@Html.Raw(crewAppraisalForAdminEdit.Approved.Caption)@Html.Raw(crewAppraisalForAdminEdit.Approved.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewAppraisalForAdminEdit.RightColumnClass)"><div @Html.Raw(crewAppraisalForAdminEdit.Approved.CellAttributes)>
<template id="tpx_CrewAppraisalForAdmin_Approved"><span id="el_CrewAppraisalForAdmin_Approved">
<div class="form-check d-inline-block">
    <input type="checkbox" class="form-check-input@(crewAppraisalForAdminEdit.Approved.IsInvalidClass)" data-table="CrewAppraisalForAdmin" data-field="x_Approved" data-boolean name="x_Approved" id="x_Approved" value="1" checked="@ConvertToBool(crewAppraisalForAdminEdit.Approved.CurrentValue)" @Html.Raw(crewAppraisalForAdminEdit.Approved.EditAttributes) aria-describedby="x_Approved_help">
    <div class="invalid-feedback">@Html.Raw(crewAppraisalForAdminEdit.Approved.GetErrorMessage())</div>
</div>
@Html.Raw(crewAppraisalForAdminEdit.Approved.GetCustomMessage)
</span></template>
</div></div>
    </div>
} @* crewAppraisalForAdminEdit.Approved.Visible (end) *@
@if (crewAppraisalForAdminEdit.AverageRating.Visible) { // crewAppraisalForAdminEdit.AverageRating.Visible (begin)
    <div id="r_AverageRating" @Html.Raw(crewAppraisalForAdminEdit.AverageRating.RowAttributes)>
        <label id="elh_CrewAppraisalForAdmin_AverageRating" for="x_AverageRating" class="@(crewAppraisalForAdminEdit.LeftColumnClass)"><template id="tpc_CrewAppraisalForAdmin_AverageRating">@Html.Raw(crewAppraisalForAdminEdit.AverageRating.Caption)@Html.Raw(crewAppraisalForAdminEdit.AverageRating.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewAppraisalForAdminEdit.RightColumnClass)"><div @Html.Raw(crewAppraisalForAdminEdit.AverageRating.CellAttributes)>
<template id="tpx_CrewAppraisalForAdmin_AverageRating"><span id="el_CrewAppraisalForAdmin_AverageRating">
<input type="@(crewAppraisalForAdminEdit.AverageRating.InputTextType)" name="x_AverageRating" id="x_AverageRating" data-table="CrewAppraisalForAdmin" data-field="x_AverageRating" value="@Html.Raw(crewAppraisalForAdminEdit.AverageRating.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(crewAppraisalForAdminEdit.AverageRating.PlaceHolder))" data-format-pattern="@(crewAppraisalForAdminEdit.AverageRating.FormatPattern)"@Html.Raw(crewAppraisalForAdminEdit.AverageRating.EditAttributes) aria-describedby="x_AverageRating_help">
@Html.Raw(crewAppraisalForAdminEdit.AverageRating.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewAppraisalForAdminEdit.AverageRating.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* crewAppraisalForAdminEdit.AverageRating.Visible (end) *@
@if (crewAppraisalForAdminEdit.Rehire.Visible) { // crewAppraisalForAdminEdit.Rehire.Visible (begin)
    <div id="r_Rehire" @Html.Raw(crewAppraisalForAdminEdit.Rehire.RowAttributes)>
        <label id="elh_CrewAppraisalForAdmin_Rehire" class="@(crewAppraisalForAdminEdit.LeftColumnClass)"><template id="tpc_CrewAppraisalForAdmin_Rehire">@Html.Raw(crewAppraisalForAdminEdit.Rehire.Caption)@Html.Raw(crewAppraisalForAdminEdit.Rehire.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewAppraisalForAdminEdit.RightColumnClass)"><div @Html.Raw(crewAppraisalForAdminEdit.Rehire.CellAttributes)>
<template id="tpx_CrewAppraisalForAdmin_Rehire"><span id="el_CrewAppraisalForAdmin_Rehire">
<div class="form-check d-inline-block">
    <input type="checkbox" class="form-check-input@(crewAppraisalForAdminEdit.Rehire.IsInvalidClass)" data-table="CrewAppraisalForAdmin" data-field="x_Rehire" data-boolean name="x_Rehire" id="x_Rehire" value="1" checked="@ConvertToBool(crewAppraisalForAdminEdit.Rehire.CurrentValue)" @Html.Raw(crewAppraisalForAdminEdit.Rehire.EditAttributes) aria-describedby="x_Rehire_help">
    <div class="invalid-feedback">@Html.Raw(crewAppraisalForAdminEdit.Rehire.GetErrorMessage())</div>
</div>
@Html.Raw(crewAppraisalForAdminEdit.Rehire.GetCustomMessage)
</span></template>
</div></div>
    </div>
} @* crewAppraisalForAdminEdit.Rehire.Visible (end) *@
@if (crewAppraisalForAdminEdit.Promote.Visible) { // crewAppraisalForAdminEdit.Promote.Visible (begin)
    <div id="r_Promote" @Html.Raw(crewAppraisalForAdminEdit.Promote.RowAttributes)>
        <label id="elh_CrewAppraisalForAdmin_Promote" class="@(crewAppraisalForAdminEdit.LeftColumnClass)"><template id="tpc_CrewAppraisalForAdmin_Promote">@Html.Raw(crewAppraisalForAdminEdit.Promote.Caption)@Html.Raw(crewAppraisalForAdminEdit.Promote.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewAppraisalForAdminEdit.RightColumnClass)"><div @Html.Raw(crewAppraisalForAdminEdit.Promote.CellAttributes)>
<template id="tpx_CrewAppraisalForAdmin_Promote"><span id="el_CrewAppraisalForAdmin_Promote">
<div class="form-check d-inline-block">
    <input type="checkbox" class="form-check-input@(crewAppraisalForAdminEdit.Promote.IsInvalidClass)" data-table="CrewAppraisalForAdmin" data-field="x_Promote" data-boolean name="x_Promote" id="x_Promote" value="1" checked="@ConvertToBool(crewAppraisalForAdminEdit.Promote.CurrentValue)" @Html.Raw(crewAppraisalForAdminEdit.Promote.EditAttributes) aria-describedby="x_Promote_help">
    <div class="invalid-feedback">@Html.Raw(crewAppraisalForAdminEdit.Promote.GetErrorMessage())</div>
</div>
@Html.Raw(crewAppraisalForAdminEdit.Promote.GetCustomMessage)
</span></template>
</div></div>
    </div>
} @* crewAppraisalForAdminEdit.Promote.Visible (end) *@
@if (crewAppraisalForAdminEdit.Appraiser.Visible) { // crewAppraisalForAdminEdit.Appraiser.Visible (begin)
    <div id="r_Appraiser" @Html.Raw(crewAppraisalForAdminEdit.Appraiser.RowAttributes)>
        <label id="elh_CrewAppraisalForAdmin_Appraiser" for="x_Appraiser" class="@(crewAppraisalForAdminEdit.LeftColumnClass)"><template id="tpc_CrewAppraisalForAdmin_Appraiser">@Html.Raw(crewAppraisalForAdminEdit.Appraiser.Caption)@Html.Raw(crewAppraisalForAdminEdit.Appraiser.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewAppraisalForAdminEdit.RightColumnClass)"><div @Html.Raw(crewAppraisalForAdminEdit.Appraiser.CellAttributes)>
<template id="tpx_CrewAppraisalForAdmin_Appraiser"><span id="el_CrewAppraisalForAdmin_Appraiser">
<input type="@(crewAppraisalForAdminEdit.Appraiser.InputTextType)" name="x_Appraiser" id="x_Appraiser" data-table="CrewAppraisalForAdmin" data-field="x_Appraiser" value="@Html.Raw(crewAppraisalForAdminEdit.Appraiser.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(crewAppraisalForAdminEdit.Appraiser.PlaceHolder))" data-format-pattern="@(crewAppraisalForAdminEdit.Appraiser.FormatPattern)"@Html.Raw(crewAppraisalForAdminEdit.Appraiser.EditAttributes) aria-describedby="x_Appraiser_help">
@Html.Raw(crewAppraisalForAdminEdit.Appraiser.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewAppraisalForAdminEdit.Appraiser.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* crewAppraisalForAdminEdit.Appraiser.Visible (end) *@
@if (crewAppraisalForAdminEdit.DateInput.Visible) { // crewAppraisalForAdminEdit.DateInput.Visible (begin)
    <div id="r_DateInput" @Html.Raw(crewAppraisalForAdminEdit.DateInput.RowAttributes)>
        <label id="elh_CrewAppraisalForAdmin_DateInput" for="x_DateInput" class="@(crewAppraisalForAdminEdit.LeftColumnClass)"><template id="tpc_CrewAppraisalForAdmin_DateInput">@Html.Raw(crewAppraisalForAdminEdit.DateInput.Caption)@Html.Raw(crewAppraisalForAdminEdit.DateInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewAppraisalForAdminEdit.RightColumnClass)"><div @Html.Raw(crewAppraisalForAdminEdit.DateInput.CellAttributes)>
<template id="tpx_CrewAppraisalForAdmin_DateInput"><span id="el_CrewAppraisalForAdmin_DateInput">
<input type="@(crewAppraisalForAdminEdit.DateInput.InputTextType)" name="x_DateInput" id="x_DateInput" data-table="CrewAppraisalForAdmin" data-field="x_DateInput" value="@Html.Raw(crewAppraisalForAdminEdit.DateInput.EditValue)" placeholder="@Html.Raw(HtmlEncode(crewAppraisalForAdminEdit.DateInput.PlaceHolder))" data-format-pattern="@(crewAppraisalForAdminEdit.DateInput.FormatPattern)"@Html.Raw(crewAppraisalForAdminEdit.DateInput.EditAttributes) aria-describedby="x_DateInput_help">
@Html.Raw(crewAppraisalForAdminEdit.DateInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewAppraisalForAdminEdit.DateInput.GetErrorMessage())</div>
@if (!crewAppraisalForAdminEdit.DateInput.ReadOnly && !crewAppraisalForAdminEdit.DateInput.Disabled && !crewAppraisalForAdminEdit.DateInput.EditAttrs.Is("readonly") && !crewAppraisalForAdminEdit.DateInput.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fCrewAppraisalForAdminedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fCrewAppraisalForAdminedit", "x_DateInput", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span></template>
</div></div>
    </div>
} @* crewAppraisalForAdminEdit.DateInput.Visible (end) *@
@if (crewAppraisalForAdminEdit.MTCrewID.Visible) { // crewAppraisalForAdminEdit.MTCrewID.Visible (begin)
    <div id="r_MTCrewID" @Html.Raw(crewAppraisalForAdminEdit.MTCrewID.RowAttributes)>
        <label id="elh_CrewAppraisalForAdmin_MTCrewID" for="x_MTCrewID" class="@(crewAppraisalForAdminEdit.LeftColumnClass)"><template id="tpc_CrewAppraisalForAdmin_MTCrewID">@Html.Raw(crewAppraisalForAdminEdit.MTCrewID.Caption)@Html.Raw(crewAppraisalForAdminEdit.MTCrewID.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewAppraisalForAdminEdit.RightColumnClass)"><div @Html.Raw(crewAppraisalForAdminEdit.MTCrewID.CellAttributes)>
<template id="tpx_CrewAppraisalForAdmin_MTCrewID"><span id="el_CrewAppraisalForAdmin_MTCrewID">
<input type="@(crewAppraisalForAdminEdit.MTCrewID.InputTextType)" name="x_MTCrewID" id="x_MTCrewID" data-table="CrewAppraisalForAdmin" data-field="x_MTCrewID" value="@Html.Raw(crewAppraisalForAdminEdit.MTCrewID.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(crewAppraisalForAdminEdit.MTCrewID.PlaceHolder))" data-format-pattern="@(crewAppraisalForAdminEdit.MTCrewID.FormatPattern)"@Html.Raw(crewAppraisalForAdminEdit.MTCrewID.EditAttributes) aria-describedby="x_MTCrewID_help">
@Html.Raw(crewAppraisalForAdminEdit.MTCrewID.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewAppraisalForAdminEdit.MTCrewID.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* crewAppraisalForAdminEdit.MTCrewID.Visible (end) *@
</div><!-- /page* -->
    <input type="hidden" data-table="CrewAppraisalForAdmin" data-field="x_ID" data-hidden="1" name="x_ID" id="x_ID" value="@Html.Raw(HtmlEncode(crewAppraisalForAdminEdit.ID.CurrentValue))">
<div id="tpd_CrewAppraisalForAdminedit" class="ew-custom-template"></div>
<template id="tpm_CrewAppraisalForAdminedit">
<div id="ct_crewAppraisalForAdminEdit">    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewPersonalDataForAdminEdit")">
                @(CurrentLanguage == "en-US" ? "PERSONAL DATA" : "DATA PERSONAL")
            </a>     
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewDocumentForAdminAdd")">
                @(CurrentLanguage == "en-US" ? "DOCUMENTS" : "DOKUMEN")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewBankAccountForAdminAdd")">
                @(CurrentLanguage == "en-US" ? "BANK ACCOUNT" : "REKENING BANK")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewFamilyForAdminAdd")">
                @(CurrentLanguage == "en-US" ? "FAMILY" : "KELUARGA")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewFormalEducationForAdminAdd")">
                @(CurrentLanguage == "en-US" ? "FORMAL EDUCATION" : "PENDIDIKAN FORMAL")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewMedicalCertificateForAdminAdd")">
                @(CurrentLanguage == "en-US" ? "MEDICAL CERTIFICATE / TEST" : "SERTIFIKAT / TES MEDIS")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewCertificateForAdminAdd")">
                @(CurrentLanguage == "en-US" ? "CERTIFICATES AND QUALIFICATIONS" : "SERTIFIKAT DAN KUALIFIKASI")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewExperienceForAdminAdd")">
                @(CurrentLanguage == "en-US" ? "SEA EXPERIENCE" : "PENGALAMAN BERLAYAR")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewAppraisalForAdminAdd")">
                @(CurrentLanguage == "en-US" ? "APPRAISALS" : "PENILAIAN")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewMedicalHistoryForAdminAdd")">
                @(CurrentLanguage == "en-US" ? "MEDICAL HISTORY" : "RIWAYAT MEDIS")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewGeneralDataForAdminEdit")">
                @(CurrentLanguage == "en-US" ? "GENERAL" : "UMUM")
            </a>
        </li>
    </ul>
    <div class="mb-2 row">
        <div class="col-sm-6">
            <div id="r_VesselName" class="mb-2 row">
                <label for="x_VesselName" class="col-form-label">@Html.Raw(crewAppraisalForAdminEdit.VesselName.Caption)</label>
                <div><slot class="ew-slot" name="tpx_CrewAppraisalForAdmin_VesselName"></slot></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="r_MTRankID" class="mb-2 row">
                <label for="x_MTRankID" class="col-form-label">@Html.Raw(crewAppraisalForAdminEdit.MTRankID.Caption)</label>
                <div><slot class="ew-slot" name="tpx_CrewAppraisalForAdmin_MTRankID"></slot></div>
            </div>
        </div>
    </div>
    <div class="mb-2 row">
        <div class="col-sm-6">
            <div id="r_Questionnaire" class="mb-2 row">
                <label for="x_Questionnaire" class="col-form-label">@Html.Raw(crewAppraisalForAdminEdit.Questionnaire.Caption)</label>
                <div><slot class="ew-slot" name="tpx_CrewAppraisalForAdmin_Questionnaire"></slot></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="r_Approved" class="mb-2 row">
                <label for="x_Approved" class="col-form-label">@Html.Raw(crewAppraisalForAdminEdit.Approved.Caption)</label>
                <div><slot class="ew-slot" name="tpx_CrewAppraisalForAdmin_Approved"></slot></div>
            </div>
        </div>
    </div>
    <div class="mb-2 row">
        <div class="col-sm-6">
            <div id="r_AverageRating" class="mb-2 row">
                <label for="x_AverageRating" class="col-form-label">
                    @Html.Raw(crewAppraisalForAdminEdit.AverageRating.Caption) @(CurrentLanguage == "en-US" ? "(Comma Separated)" : "(Dipisah Dengan Koma)")
                    </label>
                <div><slot class="ew-slot" name="tpx_CrewAppraisalForAdmin_AverageRating"></slot></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="r_Rehire" class="mb-2 row">
                <label for="x_Rehire" class="col-form-label">@Html.Raw(crewAppraisalForAdminEdit.Rehire.Caption)</label>
                <div><slot class="ew-slot" name="tpx_CrewAppraisalForAdmin_Rehire"></slot></div>
            </div>
        </div>
    </div>
    <div class="mb-2 row">
        <div class="col-sm-6">
            <div id="r_Promote" class="mb-2 row">
                <label for="x_Promote" class="col-form-label">@Html.Raw(crewAppraisalForAdminEdit.Promote.Caption)</label>
                <div><slot class="ew-slot" name="tpx_CrewAppraisalForAdmin_Promote"></slot></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="r_Appraiser" class="mb-2 row">
                <label for="x_Appraiser" class="col-form-label">@Html.Raw(crewAppraisalForAdminEdit.Appraiser.Caption)</label>
                <div><slot class="ew-slot" name="tpx_CrewAppraisalForAdmin_Appraiser"></slot></div>
            </div>
        </div>
    </div>
    <div class="mb-2 row">
        <div class="col-sm-6">
            <div id="r_DateInput" class="mb-2 row">
                <label for="x_DateInput" class="col-form-label">@Html.Raw(crewAppraisalForAdminEdit.DateInput.Caption)</label>
                <div><slot class="ew-slot" name="tpx_CrewAppraisalForAdmin_DateInput"></slot></div>
            </div>
        </div>
        <div class="col-sm-6">
        </div>
    </div>
    <div class="row"><!-- buttons .row -->
        <div class="d-flex mb-2"><!-- buttons offset -->
            <button class="btn btn-primary ew-btn ms-auto primary-black-clr gray-bg" id="btn-update-entry">
                @(CurrentLanguage == "en-US" ? "Update Entry" : "Ubah")
            </button>
        </div><!-- /buttons offset -->
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-sm ew-table table-head-fixed" id="ForAdminTable" data-isset="true">
            <thead>
                <tr class="ew-table-header">
                    <th class="ew-list-option-header w-1" data-name="button"></th>
                    <th class="ew-list-option-header text-nowrap" data-name="sequence"><span></span></th>
                    <th data-name="VesselName" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewAppraisalForAdminEdit.VesselName.Caption)
                    </th>
                    <th data-name="MTRankID" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewAppraisalForAdminEdit.MTRankID.Caption)
                    </th>
                    <th data-name="Questionnaire" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewAppraisalForAdminEdit.Questionnaire.Caption)
                    </th>              
                    <th data-name="Approved" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewAppraisalForAdminEdit.Approved.Caption)
                    </th>
                    <th data-name="AverageRating" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewAppraisalForAdminEdit.AverageRating.Caption)
                    </th>
                    <th data-name="Rehire" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewAppraisalForAdminEdit.Rehire.Caption)
                    </th>       
                    <th data-name="Promote" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewAppraisalForAdminEdit.Promote.Caption)
                    </th>
                    <th data-name="Appraiser" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewAppraisalForAdminEdit.Appraiser.Caption)
                    </th>
                    <th data-name="DateInput" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewAppraisalForAdminEdit.DateInput.Caption)
                    </th>       
                    <th data-name="CreatedByUserID" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewAppraisalForAdminEdit.CreatedByUserID.Caption)
                    </th>
                    <th data-name="CreatedDateTime" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewAppraisalForAdminEdit.CreatedDateTime.Caption)
                    </th>
                    <th data-name="LastUpdatedByUserID" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewAppraisalForAdminEdit.LastUpdatedByUserID.Caption)
                    </th>
                    <th data-name="LastUpdatedDateTime" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewAppraisalForAdminEdit.LastUpdatedDateTime.Caption)
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div id="r_MTCrewID" class="mb-3 row">
        <label for="x_MTCrewID" class="col-sm-2 col-form-label">@Html.Raw(crewAppraisalForAdminEdit.MTCrewID.Caption)</label>
        <div class="col-sm-10"><slot class="ew-slot" name="tpx_CrewAppraisalForAdmin_MTCrewID"></slot></div>
    </div>
    <div id="proceed-modal-dialog" class="modal" aria-hidden="true" data-bs-backdrop="static" tabindex="-1" aria-labelledby="proceed-modal-dialog-title" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="proceed-modal-dialog-title" class="modal-title">
                        @(CurrentLanguage == "en-US" ? "Warning" : "Peringatan")
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p> 
                        @{
                            if (CurrentLanguage == "en-US")
                            {
                                <span>There are error(s) in this tab.</span><br/>
                                <span>If you choose to Proceed, any unsaved data will be lost.</span><br/>
                                <span>Do you want to Proceed?</span>
                            }
                            else
                            {
                                <span>Masih ada error di tab ini.</span><br/>
                                <span>Jika Anda memilih Lanjutkan, data yang belum disimpan akan hilang.</span><br/>
                                <span>Apakah Anda ingin melanjutkan?</span>
                            }
                        }
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger ew-btn" id="btn-proceed" type="button">
                        @(CurrentLanguage == "en-US" ? "Proceed" : "Lanjutkan")
                    </button>
                    <button class="btn btn-default ew-btn" id="btn-proceed-cancel" type="button" data-bs-dismiss="modal">
                        @(CurrentLanguage == "en-US" ? "Cancel" : "Batal")
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="loading-modal-dialog" class="modal" aria-hidden="true" data-bs-backdrop="static" tabindex="-1" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="text-center mb-0">
                        @(CurrentLanguage == "en-US" ? "Saving..." : "Menyimpan...")
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="delete-modal-dialog" class="modal" aria-hidden="true" data-bs-backdrop="static" tabindex="-1" aria-labelledby="delete-modal-dialog-title" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="delete-modal-dialog-title" class="modal-title">
                        @(CurrentLanguage == "en-US" ? "Confirmation" : "Konfirmasi")
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        @(CurrentLanguage == "en-US" ? "Are you sure you want to delete?" : "Anda yakin ingin menghapus?")
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary ew-btn" id="btn-delete" type="button">
                        @(CurrentLanguage == "en-US" ? "Yes" : "Iya")
                    </button>
                    <button class="btn btn-default ew-btn" id="btn-delete-cancel" type="button" data-bs-dismiss="modal">
                        @(CurrentLanguage == "en-US" ? "No" : "Tidak")
                    </button>
                </div>
            </div>
        </div>
    </div></div>
</template>
@{ crewAppraisalForAdminEdit.CloseRecordset(); }
@Html.Raw(crewAppraisalForAdminEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(crewAppraisalForAdminEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fCrewAppraisalForAdminedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fCrewAppraisalForAdminedit" data-href="@AppPath(crewAppraisalForAdminEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(crewAppraisalForAdminEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
<script class="ew-apply-template">
loadjs.ready(ew.applyTemplateId, function() {
    var $ = jQuery;
    ew.templateData = { rows: @Html.Raw(ConvertToJson(crewAppraisalForAdminEdit.Rows)) };
    ew.applyTemplate("tpd_CrewAppraisalForAdminedit", "tpm_CrewAppraisalForAdminedit", "CrewAppraisalForAdminedit", "@(crewAppraisalForAdminEdit.Export)", "CrewAppraisalForAdmin", ew.templateData.rows[0], @(crewAppraisalForAdminEdit.IsModal ? "true" : "false"));
    loadjs.done("customtemplate");
});
</script>
</main>
@crewAppraisalForAdminEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("CrewAppraisalForAdmin");
});
</script>
<script>
loadjs.ready("load", function() {
    // Startup script
    // Write your table-specific startup script here
    // document.write("page loaded");

    // Get the current URL
    const currentUrlObject = new URL(window.location.href);
    // get the current URL without Add or Edit for assigning active class in tabs
    const currentUrlWithoutAddEdit = currentUrlObject.href.replace(/Add|Edit/g, "");
    // Create a new URLSearchParams object based on the current URL's search parameters
    const urlQueryParams = new URLSearchParams(currentUrlObject.search);
    // Extract the value of the crewID query parameter
    const currentlyEditedCrewID = urlQueryParams.get('crewID');
    const currentTableID = parseInt(currentUrlObject.pathname.split('/').pop()); 
    const selectedLanguage = ew.vars['languages']['languages'].filter(obj => obj.selected === true)[0];
    const parentUrl = ew.PATH_BASE;
    const tableName = "CrewAppraisalForAdmin";
    const pageType = "edit";
    const pageTypeCapital = "Edit";
    const formID = `f${tableName}${pageType}`;
    const updateEntryUrl = `${parentUrl}${tableName}${pageTypeCapital}/${currentTableID}?crewID=${currentlyEditedCrewID}`;
    const addPageUrl = `${parentUrl}${tableName}Add?crewID=${currentlyEditedCrewID}`;
    let isChangeTabApproved = false;
    const adminAndEmployeeStatusApi = 'get-admin-and-employee-status';
    $.ajax({
        url: `${parentUrl}api/Registration/${adminAndEmployeeStatusApi}`,
        method: 'GET',
        data: {
            crewID: currentlyEditedCrewID
        },
        success: function(response) {
            if (response.success) {
                const isAdmin = response.data.IsAdmin;
                if (isAdmin) {
                    if (currentlyEditedCrewID === null) {
                        window.location.replace(`${ew.PATH_BASE}RegistrationEdit/-1`);
                    }
                    const originalCancelHref = $('#btn-cancel').attr('data-href');
                    const customCancelButton = $('<button/>', {
                        'class': 'btn btn-danger ew-btn ms-auto primary-red-bg primary-white-clr',
                        'id': 'btn-custom-cancel',
                        'type': 'button',
                        'text': `${ew.language.phrase("CancelBtn")}`,
                    }).click(function() {
                        if (window[formID].modified) {
                            ew.prompt(ew.language.phrase("ConfirmCancel"), result => {
                                if (result) {
                                    isChangeTabApproved = true;
                                    proceedToLink(originalCancelHref);
                                }
                              });
                        } else {
                            isChangeTabApproved = true;
                            proceedToLink(originalCancelHref);
                        }
                    });
                    $('#btn-cancel').after(customCancelButton);
                    $('#btn-cancel').remove();
                } else {
                    if (currentlyEditedCrewID === null) {
                        window.location.replace(`${ew.PATH_BASE}index`);
                    }
                    $('#btn-cancel').addClass('ms-auto primary-red-bg primary-white-clr');
                }
            } else {
                ew.showToast(response.errorMessage);
            }
        },
        error: function(xhr, textStatus, errorThrown) {
            ew.showToast(errorThrown);
        }
    });
    const averageRating = $('#x_AverageRating').val();
    $('#x_AverageRating').val(averageRating.replace('.', ','));
    $('#x_MTCrewID').val(currentlyEditedCrewID);

    // Iterate over each anchor element inside the nav-tabs
    $(".nav-tabs .nav-item a").each(function() {
        const href = $(this).attr("href");
        const hrefWithoutAddEdit = href.replace(/Add|Edit/g, "");
        // Check if the href contains current page's url
        if (currentUrlWithoutAddEdit.includes(hrefWithoutAddEdit)) {
            // add class and attribute
            $(this).addClass("active");
            $(this).attr("aria-current", "page");
        }
        // Check if the href contains "Edit" or "Add"
        if (href.includes("Edit")) {
            // Add "/" and the currently edited crew ID to the href
            const newHref = href + "/" + currentlyEditedCrewID;
            // Set the updated href attribute value
            $(this).attr("href", newHref);
        } else if (href.includes("Add")) {
            // Add "?crewID=" and the currently edited crew ID to the href
            const newHref = href + "?crewID=" + currentlyEditedCrewID;
            // Set the updated href attribute value
            $(this).attr("href", newHref);
        }
    });

    // start code for auto capitalize first letter of each word
    $('#x_VesselName').on('input', function() {
        $(this).val($(this).val().replace(/(?:^|\s)\S/g, function(a) { return a.toUpperCase(); }));
    });
    $('#x_Appraiser').on('input', function() {
        $(this).val($(this).val().replace(/(?:^|\s)\S/g, function(a) { return a.toUpperCase(); }));
    });
    // end code for auto capitalize first letter of each word
    const entryButton = $('<button/>', {
        'class': 'btn btn-primary ew-btn ms-auto primary-black-clr gray-bg',
        'id': 'btn-entry',
        'type': 'button',
        'text': (selectedLanguage.id === 'en-US') ? `Update Entry` : `Ubah`
    }).click(function() {
        const validateUpdateEntryResult = validateUpdateEntry();
        if (validateUpdateEntryResult) {
            $('#loading-modal-dialog').modal('show');
            const targetUrlRelative = addPageUrl;
            updateEntry({ redirectUrlWhenSuccess: targetUrlRelative });
        } else {
            scrollToFirstInvalidInput();
        }
    });
    $('#btn-update-entry').after(entryButton);
    $('#btn-update-entry').remove();
    $('#btn-delete').click(function() {
        const selectedTableID = $(this).attr('selected-table-id');
        $.ajax({
            url: `${parentUrl}api/delete/${tableName}/${selectedTableID}`,
            type: 'GET',
            success: function(res) {
                if (res && res.success) {
                    $('#delete-modal-dialog').modal('hide');
                    isChangeTabApproved = true;
                    proceedToLink(addPageUrl);
                } else {
                    $('#delete-modal-dialog').modal('hide');
                    ew.showToast(res.failureMessage);
                }
            },
            error: function(xhr, textStatus, errorThrown) {
                ew.showToast(errorThrown);
                $('#delete-modal-dialog').modal('hide');
            }
        });
    });

    // Target the ol element that has breadcrumb class
    const $breadCrumbOl = $('.breadcrumb').first();

    // Delete the ol element that has breadcrumb class
    $breadCrumbOl.remove();
    $('#btn-action').remove();
    $('.ew-buttons > .col-sm-10').removeClass('col-sm-10').addClass('d-flex mb-3');
    $('.ew-buttons > .offset-sm-2').removeClass('offset-sm-2');

    // get list of crew documents via API
    const apiEndpoint = 'crew-appraisal-for-admin';
    $.ajax({
      url: `${parentUrl}api/Registration/${apiEndpoint}`,
      method: 'GET',
      data: {
        crewID: currentlyEditedCrewID
      },
      success: function(response) {
        if (response.success) {
          // Parse the data in the response
          const dataArray = response.data;
          const tbody = $('#ForAdminTable tbody'); // select the tbody element
          if (dataArray.length > 0) {
              const tableName = 'CrewAppraisalForAdmin';
              for (let rowIndex = 0; rowIndex < dataArray.length; rowIndex++) {
                const row = dataArray[rowIndex];
                const rowID = row['ID'];
                delete row['ID']; // delete ID for easier looping for table columns
                const tr = $('<tr>'); // create a new tr element 

                // first td for dropdown
                const buttonsTd = $('<td>').addClass('ew-list-option-body w-1');
                const buttonDropdownDiv = $('<div>').addClass('btn-group btn-group-sm ew-btn-dropdown');
                const dropdownButton = $('<button>')
                    .addClass('btn-default btn dropdown-toggle')
                    .attr('type', 'button')
                    .attr('data-title', 'Options')
                    .attr('data-bs-toggle', 'dropdown')
                    .attr('data-bs-auto-close', 'true');
                const dropdownButtonIcon = $('<i>').addClass('fa-solid fa-bars ew-icon').attr('data-phrase', 'ButtonListOptions');
                const dropdownButtonIconSpan = $('<span>').addClass('visually-hidden').text('Options');
                const dropdownUl = $('<ul>').addClass('dropdown-menu ew-dropdown-menu ew-list-options');
                const firstDropdownLi = $('<li>');
                const editUrl = `${parentUrl}${tableName}Edit/${rowID}?crewID=${currentlyEditedCrewID}`;
                const editAnchor = $('<a>')
                    .addClass('ew-row-link ew-edit dropdown-item')
                    .attr('data-caption', 'Edit')
                    .attr('href', editUrl)
                    .on('click', function(event) {
                        event.preventDefault();
                        isChangeTabApproved = true;
                        proceedToLink(editUrl);
                    });
                const editAnchorIcon = $('<i>').addClass('fa-solid fa-pen ew-icon me-2').attr('data-phrase', 'EditLink');
                const editAnchorSpan = $('<span>').addClass('visually-hidden').text('Edit');
                const editAnchorText= 'Edit';
                const secondDropdownLi = $('<li>');
                const deleteAnchor = $('<a>')
                    .addClass('ew-row-link dropdown-item')
                    .attr('data-caption', 'Delete')
                    .on('click', function(event) {
                        event.preventDefault();
                        $('#btn-delete').attr('selected-table-id', rowID);
                        $('#delete-modal-dialog').modal('show');
                    });
                const deleteAnchorIcon = $('<i>').addClass('fa-solid fa-trash ew-icon me-2').attr('data-phrase', 'DeleteLink');
                const deleteAnchorSpan = $('<span>').addClass('visually-hidden').text('Delete');
                const deleteAnchorText= 'Delete';
                deleteAnchorIcon.append(deleteAnchorSpan);
                deleteAnchor.append(deleteAnchorIcon);
                deleteAnchor.append(deleteAnchorText);
                secondDropdownLi.append(deleteAnchor);
                editAnchorIcon.append(editAnchorSpan);
                editAnchor.append(editAnchorIcon);
                editAnchor.append(editAnchorText);
                firstDropdownLi.append(editAnchor);
                dropdownUl.append(firstDropdownLi);
                dropdownUl.append(secondDropdownLi);
                dropdownButtonIcon.append(dropdownButtonIconSpan);
                dropdownButton.append(dropdownButtonIcon);
                buttonDropdownDiv.append(dropdownButton);
                buttonDropdownDiv.append(dropdownUl);
                buttonsTd.append(buttonDropdownDiv);
                tr.append(buttonsTd);

                // second td for sequence
                const sequenceTd = $('<td>').addClass('ew-list-option-body text-nowrap').attr('data-name', 'sequence');
                const sequenceNumberString = (rowIndex + 1).toString() + '.';
                const sequenceSpan = $('<span>').text(sequenceNumberString);
                sequenceTd.append(sequenceSpan);
                tr.append(sequenceTd);

                // remaining td for each column
                for (const columnName of Object.keys(row)) {
                  const dataTd = $('<td>');
                  const columnValue = row[columnName];
                  if (columnName === 'DateInput') {
                    const dataSpan = $('<span class="text-nowrap">').text(columnValue);
                    dataTd.append(dataSpan);
                  } else {
                    const dataSpan = $('<span>').text(columnValue);
                    dataTd.append(dataSpan);
                  }
                  tr.append(dataTd);
                }
                tbody.append(tr);
              }
          } else {
              const columnsCount = $('#ForAdminTable th.ew-table-header-cell').length;
              for (let rowIndex = 0; rowIndex < 3; rowIndex++) {
                const tr = $('<tr>'); // create a new tr element 

                // 1 is for buttons dropdown(for edit) column and 1 for sequence number column
                const emptyTdWithColspan = $('<td>').html('&nbsp;').attr('colspan', 2); 
                tr.append(emptyTdWithColspan);
                for (let columnIndex = 0; columnIndex < columnsCount; columnIndex++) {
                  const emptyTd = $('<td>').html('&nbsp;');
                  tr.append(emptyTd);
                }
                tbody.append(tr);
              }
          }
        } else {
          // Handle the error
          ew.showToast(response.errorMessage);
        }
      },
      error: function(xhr, textStatus, errorThrown) {
        // Handle the error
        ew.showToast(errorThrown);
      }
    });
    $('div#r_MTCrewID').hide();

    // AUTO SAVE WHEN MOVING FROM THIS TAB
    $(window).on('beforeunload', function(event) {
        if (!isChangeTabApproved && window[formID].modified) {
            event.preventDefault();
            event.returnValue = '';
            return '';
        }
    });
    $("#btn-proceed").click(function() {
        isChangeTabApproved = true;
        const targetUrlRelative = $(this).attr('target-url-relative');
        $('#approve-modal-dialog').modal('hide');
        proceedToLink(targetUrlRelative);
    });
    $('ul.nav.nav-tabs li.nav-item a.nav-link').on('click', function(event) {
        event.preventDefault();
        const targetUrlRelative = $(this).attr('href');
        if (window[formID].modified) {
            const validateUpdateEntryResult = validateUpdateEntry();
            if (validateUpdateEntryResult) {
                $('#loading-modal-dialog').modal('show');
                updateEntry({ redirectUrlWhenSuccess: targetUrlRelative });
            } else {
                scrollToFirstInvalidInput();
                $('#btn-proceed').attr('target-url-relative', targetUrlRelative);
                $('#proceed-modal-dialog').modal('show');
            }
        } else {
            isChangeTabApproved = true;
            proceedToLink(targetUrlRelative);
        }
    });
    function proceedToLink(targetUrlRelative) {
        const baseUrl = new URL(window.location.href).origin;
        const targetUrl = new URL(baseUrl + targetUrlRelative);
        window.location.href = targetUrl.href;
    }
    function scrollToFirstInvalidInput() {
        const invalidInput = $("input.is-invalid:first");
        if (invalidInput.length > 0) { // Check if an invalid input is found
            const offset = invalidInput.offset().top; // Calculate the offset of the invalid input element from the top of the page
            const windowHeight = $(window).height(); // Calculate the height of the viewport
            const scrollPosition = offset - (windowHeight / 2); // Calculate the scroll position to center the invalid input element
            $("html, body").animate({ // Animate the scroll to the center position
                scrollTop: scrollPosition
            }, 1000); // Adjust the duration as needed (in milliseconds)
        }
    }
    function updateEntry({ redirectUrlWhenSuccess }) {
        isChangeTabApproved = true;
        let formData = $(`form#${formID}`).serialize();
        $('input[type="checkbox"]').each(function() {
            // Jika checkbox tidak dicentang dan tidak ada di hasil serialize(),
            // tambahkan nilai 0 ke hasil serialize()
            if (!this.checked && formData.indexOf(this.name) === -1) {
                formData += '&' + this.name + '=0';
            }
        });
        $.ajax({
            url: updateEntryUrl,
            type: 'POST',
            data: formData,
            success: function(res) {
                const $errorDiv = $(res).find('div.ew-error'); // res is a string containing html document
                $('#loading-modal-dialog').modal('hide');
                if ($errorDiv.length > 0) {
                    ew.showToast($errorDiv.text());
                } else {
                    proceedToLink(redirectUrlWhenSuccess);
                }
            },
            error: function(xhr, textStatus, errorThrown) {
                $('#loading-modal-dialog').modal('hide');
                isChangeTabApproved = false;
                ew.showToast(errorThrown);
            }
        });
    }
    function validateUpdateEntry() {
        let formErrorCount = 0;
        function validateRequiredField(fieldName) {
            const errorMessage = (selectedLanguage.id === 'en-US') ? "Please enter required field" : "Masukkan input yang dibutuhkan";
            const fieldNameWithPrefix = `x_${fieldName}`;
            const fieldCaption = $(`label[for=${fieldNameWithPrefix}]`).text();
            const fieldValue = $(`#${fieldNameWithPrefix}`).val();
            const errorMessageWithFieldName = `${errorMessage} - ${fieldCaption}`;
            if (fieldValue === '' || fieldValue === null) {
                window[formID].fields[fieldName].addError({ custom: errorMessageWithFieldName });
                window[formID].fields[fieldName].updateFeedback();
                window[formID].addError(fieldName, { custom: errorMessageWithFieldName });
                return false;
            } else {
                return true;
            }
        }
        function validateDateField(fieldName) {
            const errorMessage = (selectedLanguage.id === 'en-US') ? 'Incorrect date (dd MMM yyyy)' : 'Tanggal tidak benar (dd MMM yyyy)';
            const fieldNameWithPrefix = `x_${fieldName}`;
            const fieldValue = $(`#${fieldNameWithPrefix}`).val();
            const dateParts = fieldValue.split(' ');
            const day = parseInt(dateParts[0], 10);
            const monthNamesEnglish = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
            const monthNamesIndonesian = ['Jan', 'Feb', 'Mar', 'Apr', 'Mei', 'Jun', 'Jul', 'Agu', 'Sep', 'Okt', 'Nov', 'Des'];
            const month = (selectedLanguage.id === 'en-US') ? monthNamesEnglish.indexOf(dateParts[1]) : monthNamesIndonesian.indexOf(dateParts[1]);
            const year = parseInt(dateParts[2], 10);
            let valid = false;
            if (year >= 1900 && year <= 9999 && month >= 0 && day >= 1 && day <= 31) {
                switch (month) {
                    case 1: // February
                        // Check for leap year
                        valid = day <= (((year % 4 === 0 && year % 100 !== 0) || year % 400 === 0) ? 29 : 28);
                        break;
                    case 3: // April
                    case 5: // June
                    case 8: // September
                    case 10: // November
                        valid = day <= 30;
                        break;
                    default:
                        valid = true;
                        break;
                }
            }
            if (!valid) {
                window[formID].fields[fieldName].addError({ custom: errorMessage });
                window[formID].fields[fieldName].updateFeedback();
                window[formID].addError(fieldName, { custom: errorMessage });
                return false;
            } else {
                return true;
            }
        }
        function validateFieldWithRegex(fieldName, errorMessage, regex) {
            const fieldNameWithPrefix = `x_${fieldName}`;
            const fieldValue = $(`#${fieldNameWithPrefix}`).val();
            if (!regex.test(fieldValue)) {  
                window[formID].fields[fieldName].addError({ custom: errorMessage });
                window[formID].fields[fieldName].updateFeedback();
                window[formID].addError(fieldName, { custom: errorMessage });
                return false;
            } else {
                return true;
            }
        }
        const decimalRegex = /^[0-9]*,?[0-9]+$/;
        const decimalRegexErrorMessage = (selectedLanguage.id === 'en-US') ? "Please enter valid decimal with comma as decimal separator" : "Masukkan angka desimal dengan koma sebagai pemisah desimal";
        const noDigitsRegex = /^[^0-9]+$/;
        const noDigitsRegexErrorMessage = (selectedLanguage.id === 'en-US') ? "Must not contain digits" : "Tidak boleh mengandung angka";
        if (!validateRequiredField("VesselName")) {
            formErrorCount += 1;
        }
        if (!validateRequiredField("MTRankID")) {
            formErrorCount += 1;
        }
        if (!validateRequiredField("Questionnaire")) {
            formErrorCount += 1;
        }
        if (!validateRequiredField("AverageRating")) {
            formErrorCount += 1;
        } else {
            if (validateFieldWithRegex("AverageRating",  decimalRegexErrorMessage, decimalRegex)) {
                if (selectedLanguage.id === 'en-US') {
                    const averageRatingValue = $('#x_AverageRating').val();
                    $('#x_AverageRating').val(averageRatingValue.replace(',', '.'));
                }
            } else {
                formErrorCount += 1;
            }
        }
        if (!validateRequiredField("Appraiser")) {
            formErrorCount += 1;
        } else {
            formErrorCount += validateFieldWithRegex("Appraiser",  noDigitsRegexErrorMessage, noDigitsRegex) ? 0 : 1;
        }
        if (!validateRequiredField("DateInput")) {
            formErrorCount += 1;
        } else {
            formErrorCount += validateDateField("DateInput") ? 0 : 1;
        }
        return formErrorCount === 0;
    }
});
</script>
