@{
    // View
    View = this;

    // Check action result
    if (crewMedicalCertificateForAdminViewModeSearch.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!crewMedicalCertificateForAdminViewModeSearch.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(crewMedicalCertificateForAdminViewModeSearch.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { CrewMedicalCertificateForAdminViewMode: currentTable } });
var currentPageID = ew.PAGE_ID = "search";
var currentForm;
var fCrewMedicalCertificateForAdminViewModesearch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fCrewMedicalCertificateForAdminViewModesearch")
        .setPageId("search")
@if (crewMedicalCertificateForAdminViewModeSearch.IsModal && crewMedicalCertificateForAdminViewModeSearch.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Add fields
        .setFields([

            ["MTMedicalCertificateID", [], fields.MTMedicalCertificateID.isInvalid],
            ["Number", [], fields.Number.isInvalid],
            ["PlaceOfIssue", [], fields.PlaceOfIssue.isInvalid],
            ["DateOfIssue", [ew.Validators.datetime(fields.DateOfIssue.clientFormatPattern)], fields.DateOfIssue.isInvalid],
            ["ExpirationDate", [ew.Validators.datetime(fields.ExpirationDate.clientFormatPattern)], fields.ExpirationDate.isInvalid],
            ["Attachment", [], fields.Attachment.isInvalid],
            ["MTCrewID", [], fields.MTCrewID.isInvalid],
            ["CreatedByUserID", [ew.Validators.integer], fields.CreatedByUserID.isInvalid],
            ["CreatedDateTime", [ew.Validators.datetime(fields.CreatedDateTime.clientFormatPattern)], fields.CreatedDateTime.isInvalid],
            ["LastUpdatedByUserID", [ew.Validators.integer], fields.LastUpdatedByUserID.isInvalid],
            ["LastUpdatedDateTime", [ew.Validators.datetime(fields.LastUpdatedDateTime.clientFormatPattern)], fields.LastUpdatedDateTime.isInvalid]
        ])
        // Validate form
        .setValidate(
            async function () {
                if (!this.validateRequired)
                    return true; // Ignore validation
                let fobj = this.getForm();

                // Validate fields
                if (!this.validateFields())
                    return false;

                // Call Form_CustomValidate event
                if (!(await this.customValidate?.(fobj) ?? true)) {
                    this.focus();
                    return false;
                }
                return true;
            }
        )

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "MTMedicalCertificateID": @Html.Raw(crewMedicalCertificateForAdminViewModeSearch.MTMedicalCertificateID.ToClientList(crewMedicalCertificateForAdminViewModeSearch)),
        })
        .build();
    window[form.id] = form;
@if (crewMedicalCertificateForAdminViewModeSearch.IsModal) {
    <text>currentAdvancedSearchForm = form;</text>
} else {
    <text>currentForm = form;</text>
}
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@crewMedicalCertificateForAdminViewModeSearch.ShowPageHeader()
@crewMedicalCertificateForAdminViewModeSearch.ShowMessages()
<form name="fCrewMedicalCertificateForAdminViewModesearch" id="fCrewMedicalCertificateForAdminViewModesearch" class="@(crewMedicalCertificateForAdminViewModeSearch.FormClassName)" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="search">
@if (crewMedicalCertificateForAdminViewModeSearch.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div class="ew-search-div"><!-- page* -->
@if (crewMedicalCertificateForAdminViewModeSearch.MTMedicalCertificateID.Visible) { // crewMedicalCertificateForAdminViewModeSearch.MTMedicalCertificateID.Visible (begin)
    <div id="r_MTMedicalCertificateID" class="row" @Html.Raw(crewMedicalCertificateForAdminViewModeSearch.MTMedicalCertificateID.RowAttributes)>
        <label for="x_MTMedicalCertificateID" class="@(crewMedicalCertificateForAdminViewModeSearch.LeftColumnClass)"><span id="elh_CrewMedicalCertificateForAdminViewMode_MTMedicalCertificateID">@Html.Raw(crewMedicalCertificateForAdminViewModeSearch.MTMedicalCertificateID.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("="))
<input type="hidden" name="z_MTMedicalCertificateID" id="z_MTMedicalCertificateID" value="=">
</span>
        </label>
        <div class="@(crewMedicalCertificateForAdminViewModeSearch.RightColumnClass)">
            <div @Html.Raw(crewMedicalCertificateForAdminViewModeSearch.MTMedicalCertificateID.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_CrewMedicalCertificateForAdminViewMode_MTMedicalCertificateID" class="ew-search-field ew-search-field-single">
    <select
        id="x_MTMedicalCertificateID"
        name="x_MTMedicalCertificateID"
        class="form-select ew-select@(crewMedicalCertificateForAdminViewModeSearch.MTMedicalCertificateID.IsInvalidClass)"
        data-select2-id="fCrewMedicalCertificateForAdminViewModesearch_x_MTMedicalCertificateID"
        data-table="CrewMedicalCertificateForAdminViewMode"
        data-field="x_MTMedicalCertificateID"
        data-value-separator="@(crewMedicalCertificateForAdminViewModeSearch.MTMedicalCertificateID.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(crewMedicalCertificateForAdminViewModeSearch.MTMedicalCertificateID.PlaceHolder))"
        @Html.Raw(crewMedicalCertificateForAdminViewModeSearch.MTMedicalCertificateID.EditAttributes)>
        @(crewMedicalCertificateForAdminViewModeSearch.MTMedicalCertificateID.SelectOptionListHtml("x_MTMedicalCertificateID"))
    </select>
    <div class="invalid-feedback">@Html.Raw(crewMedicalCertificateForAdminViewModeSearch.MTMedicalCertificateID.GetErrorMessage(false))</div>
@Html.Raw(crewMedicalCertificateForAdminViewModeSearch.MTMedicalCertificateID.Lookup.GetParamTag(crewMedicalCertificateForAdminViewModeSearch, "p_x_MTMedicalCertificateID"))
<script>
loadjs.ready("fCrewMedicalCertificateForAdminViewModesearch", function() {
    var options = { name: "x_MTMedicalCertificateID", selectId: "fCrewMedicalCertificateForAdminViewModesearch_x_MTMedicalCertificateID" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fCrewMedicalCertificateForAdminViewModesearch.lists.MTMedicalCertificateID?.lookupOptions.length) {
        options.data = { id: "x_MTMedicalCertificateID", form: "fCrewMedicalCertificateForAdminViewModesearch" };
    } else {
        options.ajax = { id: "x_MTMedicalCertificateID", form: "fCrewMedicalCertificateForAdminViewModesearch", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumResultsForSearch = Infinity;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.CrewMedicalCertificateForAdminViewMode.fields.MTMedicalCertificateID.selectOptions);
    ew.createSelect(options);
});
</script>
</span>
                </div>
            </div>
        </div>
    </div>
} @* crewMedicalCertificateForAdminViewModeSearch.MTMedicalCertificateID.Visible (end) *@
@if (crewMedicalCertificateForAdminViewModeSearch.Number.Visible) { // crewMedicalCertificateForAdminViewModeSearch.Number.Visible (begin)
    <div id="r_Number" class="row" @Html.Raw(crewMedicalCertificateForAdminViewModeSearch.Number.RowAttributes)>
        <label for="x_Number" class="@(crewMedicalCertificateForAdminViewModeSearch.LeftColumnClass)"><span id="elh_CrewMedicalCertificateForAdminViewMode_Number">@Html.Raw(crewMedicalCertificateForAdminViewModeSearch.Number.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("LIKE"))
<input type="hidden" name="z_Number" id="z_Number" value="LIKE">
</span>
        </label>
        <div class="@(crewMedicalCertificateForAdminViewModeSearch.RightColumnClass)">
            <div @Html.Raw(crewMedicalCertificateForAdminViewModeSearch.Number.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_CrewMedicalCertificateForAdminViewMode_Number" class="ew-search-field ew-search-field-single">
<input type="@(crewMedicalCertificateForAdminViewModeSearch.Number.InputTextType)" name="x_Number" id="x_Number" data-table="CrewMedicalCertificateForAdminViewMode" data-field="x_Number" value="@Html.Raw(crewMedicalCertificateForAdminViewModeSearch.Number.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(crewMedicalCertificateForAdminViewModeSearch.Number.PlaceHolder))" data-format-pattern="@(crewMedicalCertificateForAdminViewModeSearch.Number.FormatPattern)"@Html.Raw(crewMedicalCertificateForAdminViewModeSearch.Number.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(crewMedicalCertificateForAdminViewModeSearch.Number.GetErrorMessage(false))</div>
</span>
                </div>
            </div>
        </div>
    </div>
} @* crewMedicalCertificateForAdminViewModeSearch.Number.Visible (end) *@
@if (crewMedicalCertificateForAdminViewModeSearch.PlaceOfIssue.Visible) { // crewMedicalCertificateForAdminViewModeSearch.PlaceOfIssue.Visible (begin)
    <div id="r_PlaceOfIssue" class="row" @Html.Raw(crewMedicalCertificateForAdminViewModeSearch.PlaceOfIssue.RowAttributes)>
        <label for="x_PlaceOfIssue" class="@(crewMedicalCertificateForAdminViewModeSearch.LeftColumnClass)"><span id="elh_CrewMedicalCertificateForAdminViewMode_PlaceOfIssue">@Html.Raw(crewMedicalCertificateForAdminViewModeSearch.PlaceOfIssue.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("LIKE"))
<input type="hidden" name="z_PlaceOfIssue" id="z_PlaceOfIssue" value="LIKE">
</span>
        </label>
        <div class="@(crewMedicalCertificateForAdminViewModeSearch.RightColumnClass)">
            <div @Html.Raw(crewMedicalCertificateForAdminViewModeSearch.PlaceOfIssue.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_CrewMedicalCertificateForAdminViewMode_PlaceOfIssue" class="ew-search-field ew-search-field-single">
<input type="@(crewMedicalCertificateForAdminViewModeSearch.PlaceOfIssue.InputTextType)" name="x_PlaceOfIssue" id="x_PlaceOfIssue" data-table="CrewMedicalCertificateForAdminViewMode" data-field="x_PlaceOfIssue" value="@Html.Raw(crewMedicalCertificateForAdminViewModeSearch.PlaceOfIssue.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(crewMedicalCertificateForAdminViewModeSearch.PlaceOfIssue.PlaceHolder))" data-format-pattern="@(crewMedicalCertificateForAdminViewModeSearch.PlaceOfIssue.FormatPattern)"@Html.Raw(crewMedicalCertificateForAdminViewModeSearch.PlaceOfIssue.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(crewMedicalCertificateForAdminViewModeSearch.PlaceOfIssue.GetErrorMessage(false))</div>
</span>
                </div>
            </div>
        </div>
    </div>
} @* crewMedicalCertificateForAdminViewModeSearch.PlaceOfIssue.Visible (end) *@
@if (crewMedicalCertificateForAdminViewModeSearch.DateOfIssue.Visible) { // crewMedicalCertificateForAdminViewModeSearch.DateOfIssue.Visible (begin)
    <div id="r_DateOfIssue" class="row" @Html.Raw(crewMedicalCertificateForAdminViewModeSearch.DateOfIssue.RowAttributes)>
        <label for="x_DateOfIssue" class="@(crewMedicalCertificateForAdminViewModeSearch.LeftColumnClass)"><span id="elh_CrewMedicalCertificateForAdminViewMode_DateOfIssue">@Html.Raw(crewMedicalCertificateForAdminViewModeSearch.DateOfIssue.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("="))
<input type="hidden" name="z_DateOfIssue" id="z_DateOfIssue" value="=">
</span>
        </label>
        <div class="@(crewMedicalCertificateForAdminViewModeSearch.RightColumnClass)">
            <div @Html.Raw(crewMedicalCertificateForAdminViewModeSearch.DateOfIssue.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_CrewMedicalCertificateForAdminViewMode_DateOfIssue" class="ew-search-field ew-search-field-single">
<input type="@(crewMedicalCertificateForAdminViewModeSearch.DateOfIssue.InputTextType)" name="x_DateOfIssue" id="x_DateOfIssue" data-table="CrewMedicalCertificateForAdminViewMode" data-field="x_DateOfIssue" value="@Html.Raw(crewMedicalCertificateForAdminViewModeSearch.DateOfIssue.EditValue)" placeholder="@Html.Raw(HtmlEncode(crewMedicalCertificateForAdminViewModeSearch.DateOfIssue.PlaceHolder))" data-format-pattern="@(crewMedicalCertificateForAdminViewModeSearch.DateOfIssue.FormatPattern)"@Html.Raw(crewMedicalCertificateForAdminViewModeSearch.DateOfIssue.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(crewMedicalCertificateForAdminViewModeSearch.DateOfIssue.GetErrorMessage(false))</div>
@if (!crewMedicalCertificateForAdminViewModeSearch.DateOfIssue.ReadOnly && !crewMedicalCertificateForAdminViewModeSearch.DateOfIssue.Disabled && !crewMedicalCertificateForAdminViewModeSearch.DateOfIssue.EditAttrs.Is("readonly") && !crewMedicalCertificateForAdminViewModeSearch.DateOfIssue.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fCrewMedicalCertificateForAdminViewModesearch", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fCrewMedicalCertificateForAdminViewModesearch", "x_DateOfIssue", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
                </div>
            </div>
        </div>
    </div>
} @* crewMedicalCertificateForAdminViewModeSearch.DateOfIssue.Visible (end) *@
@if (crewMedicalCertificateForAdminViewModeSearch.ExpirationDate.Visible) { // crewMedicalCertificateForAdminViewModeSearch.ExpirationDate.Visible (begin)
    <div id="r_ExpirationDate" class="row" @Html.Raw(crewMedicalCertificateForAdminViewModeSearch.ExpirationDate.RowAttributes)>
        <label for="x_ExpirationDate" class="@(crewMedicalCertificateForAdminViewModeSearch.LeftColumnClass)"><span id="elh_CrewMedicalCertificateForAdminViewMode_ExpirationDate">@Html.Raw(crewMedicalCertificateForAdminViewModeSearch.ExpirationDate.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("="))
<input type="hidden" name="z_ExpirationDate" id="z_ExpirationDate" value="=">
</span>
        </label>
        <div class="@(crewMedicalCertificateForAdminViewModeSearch.RightColumnClass)">
            <div @Html.Raw(crewMedicalCertificateForAdminViewModeSearch.ExpirationDate.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_CrewMedicalCertificateForAdminViewMode_ExpirationDate" class="ew-search-field ew-search-field-single">
<input type="@(crewMedicalCertificateForAdminViewModeSearch.ExpirationDate.InputTextType)" name="x_ExpirationDate" id="x_ExpirationDate" data-table="CrewMedicalCertificateForAdminViewMode" data-field="x_ExpirationDate" value="@Html.Raw(crewMedicalCertificateForAdminViewModeSearch.ExpirationDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(crewMedicalCertificateForAdminViewModeSearch.ExpirationDate.PlaceHolder))" data-format-pattern="@(crewMedicalCertificateForAdminViewModeSearch.ExpirationDate.FormatPattern)"@Html.Raw(crewMedicalCertificateForAdminViewModeSearch.ExpirationDate.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(crewMedicalCertificateForAdminViewModeSearch.ExpirationDate.GetErrorMessage(false))</div>
@if (!crewMedicalCertificateForAdminViewModeSearch.ExpirationDate.ReadOnly && !crewMedicalCertificateForAdminViewModeSearch.ExpirationDate.Disabled && !crewMedicalCertificateForAdminViewModeSearch.ExpirationDate.EditAttrs.Is("readonly") && !crewMedicalCertificateForAdminViewModeSearch.ExpirationDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fCrewMedicalCertificateForAdminViewModesearch", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fCrewMedicalCertificateForAdminViewModesearch", "x_ExpirationDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
                </div>
            </div>
        </div>
    </div>
} @* crewMedicalCertificateForAdminViewModeSearch.ExpirationDate.Visible (end) *@
@if (crewMedicalCertificateForAdminViewModeSearch.Attachment.Visible) { // crewMedicalCertificateForAdminViewModeSearch.Attachment.Visible (begin)
    <div id="r_Attachment" class="row" @Html.Raw(crewMedicalCertificateForAdminViewModeSearch.Attachment.RowAttributes)>
        <label class="@(crewMedicalCertificateForAdminViewModeSearch.LeftColumnClass)"><span id="elh_CrewMedicalCertificateForAdminViewMode_Attachment">@Html.Raw(crewMedicalCertificateForAdminViewModeSearch.Attachment.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("LIKE"))
<input type="hidden" name="z_Attachment" id="z_Attachment" value="LIKE">
</span>
        </label>
        <div class="@(crewMedicalCertificateForAdminViewModeSearch.RightColumnClass)">
            <div @Html.Raw(crewMedicalCertificateForAdminViewModeSearch.Attachment.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_CrewMedicalCertificateForAdminViewMode_Attachment" class="ew-search-field ew-search-field-single">
<input type="@(crewMedicalCertificateForAdminViewModeSearch.Attachment.InputTextType)" name="x_Attachment" id="x_Attachment" data-table="CrewMedicalCertificateForAdminViewMode" data-field="x_Attachment" value="@Html.Raw(crewMedicalCertificateForAdminViewModeSearch.Attachment.EditValue)" size="30" maxlength="150" placeholder="@Html.Raw(HtmlEncode(crewMedicalCertificateForAdminViewModeSearch.Attachment.PlaceHolder))" data-format-pattern="@(crewMedicalCertificateForAdminViewModeSearch.Attachment.FormatPattern)"@Html.Raw(crewMedicalCertificateForAdminViewModeSearch.Attachment.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(crewMedicalCertificateForAdminViewModeSearch.Attachment.GetErrorMessage(false))</div>
</span>
                </div>
            </div>
        </div>
    </div>
} @* crewMedicalCertificateForAdminViewModeSearch.Attachment.Visible (end) *@
@if (crewMedicalCertificateForAdminViewModeSearch.MTCrewID.Visible) { // crewMedicalCertificateForAdminViewModeSearch.MTCrewID.Visible (begin)
    <div id="r_MTCrewID" class="row" @Html.Raw(crewMedicalCertificateForAdminViewModeSearch.MTCrewID.RowAttributes)>
        <label for="x_MTCrewID" class="@(crewMedicalCertificateForAdminViewModeSearch.LeftColumnClass)"><span id="elh_CrewMedicalCertificateForAdminViewMode_MTCrewID">@Html.Raw(crewMedicalCertificateForAdminViewModeSearch.MTCrewID.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("="))
<input type="hidden" name="z_MTCrewID" id="z_MTCrewID" value="=">
</span>
        </label>
        <div class="@(crewMedicalCertificateForAdminViewModeSearch.RightColumnClass)">
            <div @Html.Raw(crewMedicalCertificateForAdminViewModeSearch.MTCrewID.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_CrewMedicalCertificateForAdminViewMode_MTCrewID" class="ew-search-field ew-search-field-single">
<input type="@(crewMedicalCertificateForAdminViewModeSearch.MTCrewID.InputTextType)" name="x_MTCrewID" id="x_MTCrewID" data-table="CrewMedicalCertificateForAdminViewMode" data-field="x_MTCrewID" value="@Html.Raw(crewMedicalCertificateForAdminViewModeSearch.MTCrewID.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(crewMedicalCertificateForAdminViewModeSearch.MTCrewID.PlaceHolder))" data-format-pattern="@(crewMedicalCertificateForAdminViewModeSearch.MTCrewID.FormatPattern)"@Html.Raw(crewMedicalCertificateForAdminViewModeSearch.MTCrewID.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(crewMedicalCertificateForAdminViewModeSearch.MTCrewID.GetErrorMessage(false))</div>
</span>
                </div>
            </div>
        </div>
    </div>
} @* crewMedicalCertificateForAdminViewModeSearch.MTCrewID.Visible (end) *@
@if (crewMedicalCertificateForAdminViewModeSearch.CreatedByUserID.Visible) { // crewMedicalCertificateForAdminViewModeSearch.CreatedByUserID.Visible (begin)
    <div id="r_CreatedByUserID" class="row" @Html.Raw(crewMedicalCertificateForAdminViewModeSearch.CreatedByUserID.RowAttributes)>
        <label for="x_CreatedByUserID" class="@(crewMedicalCertificateForAdminViewModeSearch.LeftColumnClass)"><span id="elh_CrewMedicalCertificateForAdminViewMode_CreatedByUserID">@Html.Raw(crewMedicalCertificateForAdminViewModeSearch.CreatedByUserID.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("="))
<input type="hidden" name="z_CreatedByUserID" id="z_CreatedByUserID" value="=">
</span>
        </label>
        <div class="@(crewMedicalCertificateForAdminViewModeSearch.RightColumnClass)">
            <div @Html.Raw(crewMedicalCertificateForAdminViewModeSearch.CreatedByUserID.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_CrewMedicalCertificateForAdminViewMode_CreatedByUserID" class="ew-search-field ew-search-field-single">
<input type="@(crewMedicalCertificateForAdminViewModeSearch.CreatedByUserID.InputTextType)" name="x_CreatedByUserID" id="x_CreatedByUserID" data-table="CrewMedicalCertificateForAdminViewMode" data-field="x_CreatedByUserID" value="@Html.Raw(crewMedicalCertificateForAdminViewModeSearch.CreatedByUserID.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(crewMedicalCertificateForAdminViewModeSearch.CreatedByUserID.PlaceHolder))" data-format-pattern="@(crewMedicalCertificateForAdminViewModeSearch.CreatedByUserID.FormatPattern)"@Html.Raw(crewMedicalCertificateForAdminViewModeSearch.CreatedByUserID.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(crewMedicalCertificateForAdminViewModeSearch.CreatedByUserID.GetErrorMessage(false))</div>
</span>
                </div>
            </div>
        </div>
    </div>
} @* crewMedicalCertificateForAdminViewModeSearch.CreatedByUserID.Visible (end) *@
@if (crewMedicalCertificateForAdminViewModeSearch.CreatedDateTime.Visible) { // crewMedicalCertificateForAdminViewModeSearch.CreatedDateTime.Visible (begin)
    <div id="r_CreatedDateTime" class="row" @Html.Raw(crewMedicalCertificateForAdminViewModeSearch.CreatedDateTime.RowAttributes)>
        <label for="x_CreatedDateTime" class="@(crewMedicalCertificateForAdminViewModeSearch.LeftColumnClass)"><span id="elh_CrewMedicalCertificateForAdminViewMode_CreatedDateTime">@Html.Raw(crewMedicalCertificateForAdminViewModeSearch.CreatedDateTime.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("="))
<input type="hidden" name="z_CreatedDateTime" id="z_CreatedDateTime" value="=">
</span>
        </label>
        <div class="@(crewMedicalCertificateForAdminViewModeSearch.RightColumnClass)">
            <div @Html.Raw(crewMedicalCertificateForAdminViewModeSearch.CreatedDateTime.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_CrewMedicalCertificateForAdminViewMode_CreatedDateTime" class="ew-search-field ew-search-field-single">
<input type="@(crewMedicalCertificateForAdminViewModeSearch.CreatedDateTime.InputTextType)" name="x_CreatedDateTime" id="x_CreatedDateTime" data-table="CrewMedicalCertificateForAdminViewMode" data-field="x_CreatedDateTime" value="@Html.Raw(crewMedicalCertificateForAdminViewModeSearch.CreatedDateTime.EditValue)" placeholder="@Html.Raw(HtmlEncode(crewMedicalCertificateForAdminViewModeSearch.CreatedDateTime.PlaceHolder))" data-format-pattern="@(crewMedicalCertificateForAdminViewModeSearch.CreatedDateTime.FormatPattern)"@Html.Raw(crewMedicalCertificateForAdminViewModeSearch.CreatedDateTime.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(crewMedicalCertificateForAdminViewModeSearch.CreatedDateTime.GetErrorMessage(false))</div>
@if (!crewMedicalCertificateForAdminViewModeSearch.CreatedDateTime.ReadOnly && !crewMedicalCertificateForAdminViewModeSearch.CreatedDateTime.Disabled && !crewMedicalCertificateForAdminViewModeSearch.CreatedDateTime.EditAttrs.Is("readonly") && !crewMedicalCertificateForAdminViewModeSearch.CreatedDateTime.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fCrewMedicalCertificateForAdminViewModesearch", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(1))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fCrewMedicalCertificateForAdminViewModesearch", "x_CreatedDateTime", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
                </div>
            </div>
        </div>
    </div>
} @* crewMedicalCertificateForAdminViewModeSearch.CreatedDateTime.Visible (end) *@
@if (crewMedicalCertificateForAdminViewModeSearch.LastUpdatedByUserID.Visible) { // crewMedicalCertificateForAdminViewModeSearch.LastUpdatedByUserID.Visible (begin)
    <div id="r_LastUpdatedByUserID" class="row" @Html.Raw(crewMedicalCertificateForAdminViewModeSearch.LastUpdatedByUserID.RowAttributes)>
        <label for="x_LastUpdatedByUserID" class="@(crewMedicalCertificateForAdminViewModeSearch.LeftColumnClass)"><span id="elh_CrewMedicalCertificateForAdminViewMode_LastUpdatedByUserID">@Html.Raw(crewMedicalCertificateForAdminViewModeSearch.LastUpdatedByUserID.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("="))
<input type="hidden" name="z_LastUpdatedByUserID" id="z_LastUpdatedByUserID" value="=">
</span>
        </label>
        <div class="@(crewMedicalCertificateForAdminViewModeSearch.RightColumnClass)">
            <div @Html.Raw(crewMedicalCertificateForAdminViewModeSearch.LastUpdatedByUserID.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_CrewMedicalCertificateForAdminViewMode_LastUpdatedByUserID" class="ew-search-field ew-search-field-single">
<input type="@(crewMedicalCertificateForAdminViewModeSearch.LastUpdatedByUserID.InputTextType)" name="x_LastUpdatedByUserID" id="x_LastUpdatedByUserID" data-table="CrewMedicalCertificateForAdminViewMode" data-field="x_LastUpdatedByUserID" value="@Html.Raw(crewMedicalCertificateForAdminViewModeSearch.LastUpdatedByUserID.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(crewMedicalCertificateForAdminViewModeSearch.LastUpdatedByUserID.PlaceHolder))" data-format-pattern="@(crewMedicalCertificateForAdminViewModeSearch.LastUpdatedByUserID.FormatPattern)"@Html.Raw(crewMedicalCertificateForAdminViewModeSearch.LastUpdatedByUserID.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(crewMedicalCertificateForAdminViewModeSearch.LastUpdatedByUserID.GetErrorMessage(false))</div>
</span>
                </div>
            </div>
        </div>
    </div>
} @* crewMedicalCertificateForAdminViewModeSearch.LastUpdatedByUserID.Visible (end) *@
@if (crewMedicalCertificateForAdminViewModeSearch.LastUpdatedDateTime.Visible) { // crewMedicalCertificateForAdminViewModeSearch.LastUpdatedDateTime.Visible (begin)
    <div id="r_LastUpdatedDateTime" class="row" @Html.Raw(crewMedicalCertificateForAdminViewModeSearch.LastUpdatedDateTime.RowAttributes)>
        <label for="x_LastUpdatedDateTime" class="@(crewMedicalCertificateForAdminViewModeSearch.LeftColumnClass)"><span id="elh_CrewMedicalCertificateForAdminViewMode_LastUpdatedDateTime">@Html.Raw(crewMedicalCertificateForAdminViewModeSearch.LastUpdatedDateTime.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("="))
<input type="hidden" name="z_LastUpdatedDateTime" id="z_LastUpdatedDateTime" value="=">
</span>
        </label>
        <div class="@(crewMedicalCertificateForAdminViewModeSearch.RightColumnClass)">
            <div @Html.Raw(crewMedicalCertificateForAdminViewModeSearch.LastUpdatedDateTime.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_CrewMedicalCertificateForAdminViewMode_LastUpdatedDateTime" class="ew-search-field ew-search-field-single">
<input type="@(crewMedicalCertificateForAdminViewModeSearch.LastUpdatedDateTime.InputTextType)" name="x_LastUpdatedDateTime" id="x_LastUpdatedDateTime" data-table="CrewMedicalCertificateForAdminViewMode" data-field="x_LastUpdatedDateTime" value="@Html.Raw(crewMedicalCertificateForAdminViewModeSearch.LastUpdatedDateTime.EditValue)" placeholder="@Html.Raw(HtmlEncode(crewMedicalCertificateForAdminViewModeSearch.LastUpdatedDateTime.PlaceHolder))" data-format-pattern="@(crewMedicalCertificateForAdminViewModeSearch.LastUpdatedDateTime.FormatPattern)"@Html.Raw(crewMedicalCertificateForAdminViewModeSearch.LastUpdatedDateTime.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(crewMedicalCertificateForAdminViewModeSearch.LastUpdatedDateTime.GetErrorMessage(false))</div>
@if (!crewMedicalCertificateForAdminViewModeSearch.LastUpdatedDateTime.ReadOnly && !crewMedicalCertificateForAdminViewModeSearch.LastUpdatedDateTime.Disabled && !crewMedicalCertificateForAdminViewModeSearch.LastUpdatedDateTime.EditAttrs.Is("readonly") && !crewMedicalCertificateForAdminViewModeSearch.LastUpdatedDateTime.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fCrewMedicalCertificateForAdminViewModesearch", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(1))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fCrewMedicalCertificateForAdminViewModesearch", "x_LastUpdatedDateTime", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
                </div>
            </div>
        </div>
    </div>
} @* crewMedicalCertificateForAdminViewModeSearch.LastUpdatedDateTime.Visible (end) *@
</div><!-- /page* -->
@Html.Raw(crewMedicalCertificateForAdminViewModeSearch.IsModal ? Html.Raw("<template class=\"ew-modal-buttons\">") : Html.Raw("<div class=\"row ew-buttons\">"))<!-- buttons .row -->
    <div class="@(crewMedicalCertificateForAdminViewModeSearch.OffsetColumnClass)"><!-- buttons offset -->
        <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fCrewMedicalCertificateForAdminViewModesearch">@Html.Raw(Language.Phrase("Search"))</button>
@if (crewMedicalCertificateForAdminViewModeSearch.IsModal) {
        <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fCrewMedicalCertificateForAdminViewModesearch">@Html.Raw(Language.Phrase("Cancel"))</button>
} else {
        <button class="btn btn-default ew-btn" name="btn-reset" id="btn-reset" type="button" form="fCrewMedicalCertificateForAdminViewModesearch" data-ew-action="reload">@Html.Raw(Language.Phrase("Reset"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(crewMedicalCertificateForAdminViewModeSearch.IsModal ? Html.Raw("</template>") : Html.Raw("</div>"))<!-- /buttons .row -->
</form>
@crewMedicalCertificateForAdminViewModeSearch.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("CrewMedicalCertificateForAdminViewMode");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
