@{
    // View
    View = this;

    // Check action result
    if (crewBankAccountForAdminViewModeAdd.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!crewBankAccountForAdminViewModeAdd.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(crewBankAccountForAdminViewModeAdd.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { CrewBankAccountForAdminViewMode: currentTable } });
var currentPageID = ew.PAGE_ID = "add";
var currentForm;
var fCrewBankAccountForAdminViewModeadd;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fCrewBankAccountForAdminViewModeadd")
        .setPageId("add")

        // Add fields
        .setFields([

            ["AccountNumber", [fields.AccountNumber.visible && fields.AccountNumber.required ? ew.Validators.required(fields.AccountNumber.caption) : null], fields.AccountNumber.isInvalid],
            ["Beneficiary", [fields.Beneficiary.visible && fields.Beneficiary.required ? ew.Validators.required(fields.Beneficiary.caption) : null], fields.Beneficiary.isInvalid],
            ["MTCurrencyID", [fields.MTCurrencyID.visible && fields.MTCurrencyID.required ? ew.Validators.required(fields.MTCurrencyID.caption) : null], fields.MTCurrencyID.isInvalid],
            ["MainAcc", [fields.MainAcc.visible && fields.MainAcc.required ? ew.Validators.required(fields.MainAcc.caption) : null], fields.MainAcc.isInvalid],
            ["Attachment", [fields.Attachment.visible && fields.Attachment.required ? ew.Validators.fileRequired(fields.Attachment.caption) : null], fields.Attachment.isInvalid],
            ["MTCrewID", [fields.MTCrewID.visible && fields.MTCrewID.required ? ew.Validators.required(fields.MTCrewID.caption) : null], fields.MTCrewID.isInvalid],
            ["MTBankID", [fields.MTBankID.visible && fields.MTBankID.required ? ew.Validators.required(fields.MTBankID.caption) : null], fields.MTBankID.isInvalid],
            ["OtherBankName", [fields.OtherBankName.visible && fields.OtherBankName.required ? ew.Validators.required(fields.OtherBankName.caption) : null], fields.OtherBankName.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "MTCurrencyID": @Html.Raw(crewBankAccountForAdminViewModeAdd.MTCurrencyID.ToClientList(crewBankAccountForAdminViewModeAdd)),
            "MainAcc": @Html.Raw(crewBankAccountForAdminViewModeAdd.MainAcc.ToClientList(crewBankAccountForAdminViewModeAdd)),
            "MTBankID": @Html.Raw(crewBankAccountForAdminViewModeAdd.MTBankID.ToClientList(crewBankAccountForAdminViewModeAdd)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@crewBankAccountForAdminViewModeAdd.ShowPageHeader()
@crewBankAccountForAdminViewModeAdd.ShowMessages()
<form name="fCrewBankAccountForAdminViewModeadd" id="fCrewBankAccountForAdminViewModeadd" class="@(crewBankAccountForAdminViewModeAdd.FormClassName)" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="insert">
<input type="hidden" name="modal" value="@ConvertToInt(crewBankAccountForAdminViewModeAdd.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(crewBankAccountForAdminViewModeAdd.OldKeyName)" value="@Html.Raw(crewBankAccountForAdminViewModeAdd.OldKey)">
<div class="ew-add-div d-none"><!-- page* -->
@if (crewBankAccountForAdminViewModeAdd.AccountNumber.Visible) { // crewBankAccountForAdminViewModeAdd.AccountNumber.Visible (begin)
    <div id="r_AccountNumber" @Html.Raw(crewBankAccountForAdminViewModeAdd.AccountNumber.RowAttributes)>
        <label id="elh_CrewBankAccountForAdminViewMode_AccountNumber" for="x_AccountNumber" class="@(crewBankAccountForAdminViewModeAdd.LeftColumnClass)"><template id="tpc_CrewBankAccountForAdminViewMode_AccountNumber">@Html.Raw(crewBankAccountForAdminViewModeAdd.AccountNumber.Caption)@Html.Raw(crewBankAccountForAdminViewModeAdd.AccountNumber.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewBankAccountForAdminViewModeAdd.RightColumnClass)"><div @Html.Raw(crewBankAccountForAdminViewModeAdd.AccountNumber.CellAttributes)>
<template id="tpx_CrewBankAccountForAdminViewMode_AccountNumber"><span id="el_CrewBankAccountForAdminViewMode_AccountNumber">
<input type="@(crewBankAccountForAdminViewModeAdd.AccountNumber.InputTextType)" name="x_AccountNumber" id="x_AccountNumber" data-table="CrewBankAccountForAdminViewMode" data-field="x_AccountNumber" value="@Html.Raw(crewBankAccountForAdminViewModeAdd.AccountNumber.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(crewBankAccountForAdminViewModeAdd.AccountNumber.PlaceHolder))" data-format-pattern="@(crewBankAccountForAdminViewModeAdd.AccountNumber.FormatPattern)"@Html.Raw(crewBankAccountForAdminViewModeAdd.AccountNumber.EditAttributes) aria-describedby="x_AccountNumber_help">
@Html.Raw(crewBankAccountForAdminViewModeAdd.AccountNumber.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewBankAccountForAdminViewModeAdd.AccountNumber.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* crewBankAccountForAdminViewModeAdd.AccountNumber.Visible (end) *@
@if (crewBankAccountForAdminViewModeAdd.Beneficiary.Visible) { // crewBankAccountForAdminViewModeAdd.Beneficiary.Visible (begin)
    <div id="r_Beneficiary" @Html.Raw(crewBankAccountForAdminViewModeAdd.Beneficiary.RowAttributes)>
        <label id="elh_CrewBankAccountForAdminViewMode_Beneficiary" for="x_Beneficiary" class="@(crewBankAccountForAdminViewModeAdd.LeftColumnClass)"><template id="tpc_CrewBankAccountForAdminViewMode_Beneficiary">@Html.Raw(crewBankAccountForAdminViewModeAdd.Beneficiary.Caption)@Html.Raw(crewBankAccountForAdminViewModeAdd.Beneficiary.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewBankAccountForAdminViewModeAdd.RightColumnClass)"><div @Html.Raw(crewBankAccountForAdminViewModeAdd.Beneficiary.CellAttributes)>
<template id="tpx_CrewBankAccountForAdminViewMode_Beneficiary"><span id="el_CrewBankAccountForAdminViewMode_Beneficiary">
<input type="@(crewBankAccountForAdminViewModeAdd.Beneficiary.InputTextType)" name="x_Beneficiary" id="x_Beneficiary" data-table="CrewBankAccountForAdminViewMode" data-field="x_Beneficiary" value="@Html.Raw(crewBankAccountForAdminViewModeAdd.Beneficiary.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(crewBankAccountForAdminViewModeAdd.Beneficiary.PlaceHolder))" data-format-pattern="@(crewBankAccountForAdminViewModeAdd.Beneficiary.FormatPattern)"@Html.Raw(crewBankAccountForAdminViewModeAdd.Beneficiary.EditAttributes) aria-describedby="x_Beneficiary_help">
@Html.Raw(crewBankAccountForAdminViewModeAdd.Beneficiary.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewBankAccountForAdminViewModeAdd.Beneficiary.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* crewBankAccountForAdminViewModeAdd.Beneficiary.Visible (end) *@
@if (crewBankAccountForAdminViewModeAdd.MTCurrencyID.Visible) { // crewBankAccountForAdminViewModeAdd.MTCurrencyID.Visible (begin)
    <div id="r_MTCurrencyID" @Html.Raw(crewBankAccountForAdminViewModeAdd.MTCurrencyID.RowAttributes)>
        <label id="elh_CrewBankAccountForAdminViewMode_MTCurrencyID" for="x_MTCurrencyID" class="@(crewBankAccountForAdminViewModeAdd.LeftColumnClass)"><template id="tpc_CrewBankAccountForAdminViewMode_MTCurrencyID">@Html.Raw(crewBankAccountForAdminViewModeAdd.MTCurrencyID.Caption)@Html.Raw(crewBankAccountForAdminViewModeAdd.MTCurrencyID.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewBankAccountForAdminViewModeAdd.RightColumnClass)"><div @Html.Raw(crewBankAccountForAdminViewModeAdd.MTCurrencyID.CellAttributes)>
<template id="tpx_CrewBankAccountForAdminViewMode_MTCurrencyID"><span id="el_CrewBankAccountForAdminViewMode_MTCurrencyID">
    <select
        id="x_MTCurrencyID"
        name="x_MTCurrencyID"
        class="form-select ew-select@(crewBankAccountForAdminViewModeAdd.MTCurrencyID.IsInvalidClass)"
        data-select2-id="fCrewBankAccountForAdminViewModeadd_x_MTCurrencyID"
        data-table="CrewBankAccountForAdminViewMode"
        data-field="x_MTCurrencyID"
        data-value-separator="@(crewBankAccountForAdminViewModeAdd.MTCurrencyID.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(crewBankAccountForAdminViewModeAdd.MTCurrencyID.PlaceHolder))"
        @Html.Raw(crewBankAccountForAdminViewModeAdd.MTCurrencyID.EditAttributes)>
        @(crewBankAccountForAdminViewModeAdd.MTCurrencyID.SelectOptionListHtml("x_MTCurrencyID"))
    </select>
    @Html.Raw(crewBankAccountForAdminViewModeAdd.MTCurrencyID.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(crewBankAccountForAdminViewModeAdd.MTCurrencyID.GetErrorMessage())</div>
@Html.Raw(crewBankAccountForAdminViewModeAdd.MTCurrencyID.Lookup.GetParamTag(crewBankAccountForAdminViewModeAdd, "p_x_MTCurrencyID"))
<script>
loadjs.ready("fCrewBankAccountForAdminViewModeadd", function() {
    var options = { name: "x_MTCurrencyID", selectId: "fCrewBankAccountForAdminViewModeadd_x_MTCurrencyID" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fCrewBankAccountForAdminViewModeadd.lists.MTCurrencyID?.lookupOptions.length) {
        options.data = { id: "x_MTCurrencyID", form: "fCrewBankAccountForAdminViewModeadd" };
    } else {
        options.ajax = { id: "x_MTCurrencyID", form: "fCrewBankAccountForAdminViewModeadd", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumInputLength = ew.selectMinimumInputLength;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.CrewBankAccountForAdminViewMode.fields.MTCurrencyID.selectOptions);
    ew.createSelect(options);
});
</script>
</span></template>
</div></div>
    </div>
} @* crewBankAccountForAdminViewModeAdd.MTCurrencyID.Visible (end) *@
@if (crewBankAccountForAdminViewModeAdd.MainAcc.Visible) { // crewBankAccountForAdminViewModeAdd.MainAcc.Visible (begin)
    <div id="r_MainAcc" @Html.Raw(crewBankAccountForAdminViewModeAdd.MainAcc.RowAttributes)>
        <label id="elh_CrewBankAccountForAdminViewMode_MainAcc" class="@(crewBankAccountForAdminViewModeAdd.LeftColumnClass)"><template id="tpc_CrewBankAccountForAdminViewMode_MainAcc">@Html.Raw(crewBankAccountForAdminViewModeAdd.MainAcc.Caption)@Html.Raw(crewBankAccountForAdminViewModeAdd.MainAcc.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewBankAccountForAdminViewModeAdd.RightColumnClass)"><div @Html.Raw(crewBankAccountForAdminViewModeAdd.MainAcc.CellAttributes)>
<template id="tpx_CrewBankAccountForAdminViewMode_MainAcc"><span id="el_CrewBankAccountForAdminViewMode_MainAcc">
<div class="form-check d-inline-block">
    <input type="checkbox" class="form-check-input@(crewBankAccountForAdminViewModeAdd.MainAcc.IsInvalidClass)" data-table="CrewBankAccountForAdminViewMode" data-field="x_MainAcc" data-boolean name="x_MainAcc" id="x_MainAcc" value="1" checked="@ConvertToBool(crewBankAccountForAdminViewModeAdd.MainAcc.CurrentValue)" @Html.Raw(crewBankAccountForAdminViewModeAdd.MainAcc.EditAttributes) aria-describedby="x_MainAcc_help">
    <div class="invalid-feedback">@Html.Raw(crewBankAccountForAdminViewModeAdd.MainAcc.GetErrorMessage())</div>
</div>
@Html.Raw(crewBankAccountForAdminViewModeAdd.MainAcc.GetCustomMessage)
</span></template>
</div></div>
    </div>
} @* crewBankAccountForAdminViewModeAdd.MainAcc.Visible (end) *@
@if (crewBankAccountForAdminViewModeAdd.Attachment.Visible) { // crewBankAccountForAdminViewModeAdd.Attachment.Visible (begin)
    <div id="r_Attachment" @Html.Raw(crewBankAccountForAdminViewModeAdd.Attachment.RowAttributes)>
        <label id="elh_CrewBankAccountForAdminViewMode_Attachment" class="@(crewBankAccountForAdminViewModeAdd.LeftColumnClass)"><template id="tpc_CrewBankAccountForAdminViewMode_Attachment">@Html.Raw(crewBankAccountForAdminViewModeAdd.Attachment.Caption)@Html.Raw(crewBankAccountForAdminViewModeAdd.Attachment.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewBankAccountForAdminViewModeAdd.RightColumnClass)"><div @Html.Raw(crewBankAccountForAdminViewModeAdd.Attachment.CellAttributes)>
<template id="tpx_CrewBankAccountForAdminViewMode_Attachment"><span id="el_CrewBankAccountForAdminViewMode_Attachment">
<div id="fd_x_Attachment" class="fileinput-button ew-file-drop-zone">
    <input
        type="file"
        id="x_Attachment"
        name="x_Attachment"
        class="form-control ew-file-input"
        title="@(crewBankAccountForAdminViewModeAdd.Attachment.Title)"
        lang="@(CurrentLanguageID)"
        data-table="CrewBankAccountForAdminViewMode"
        data-field="x_Attachment"
        data-size="150"
        data-accept-file-types="@(crewBankAccountForAdminViewModeAdd.Attachment.AcceptFileTypes)"
        data-max-file-size="@(crewBankAccountForAdminViewModeAdd.Attachment.UploadMaxFileSize)"
        data-max-number-of-files="null"
        data-disable-image-crop="@(crewBankAccountForAdminViewModeAdd.Attachment.ImageCropper ? 0 : 1)"
        aria-describedby="x_Attachment_help"
        @Html.Raw((crewBankAccountForAdminViewModeAdd.Attachment.ReadOnly || crewBankAccountForAdminViewModeAdd.Attachment.Disabled) ? " disabled" : "")
        @Html.Raw(crewBankAccountForAdminViewModeAdd.Attachment.EditAttributes)
    >
    <div class="text-muted ew-file-text">@Html.Raw(Language.Phrase("ChooseFile"))</div>
</div>
@Html.Raw(crewBankAccountForAdminViewModeAdd.Attachment.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewBankAccountForAdminViewModeAdd.Attachment.GetErrorMessage())</div>
<input type="hidden" name="fn_x_Attachment" id= "fn_x_Attachment" value="@(crewBankAccountForAdminViewModeAdd.Attachment.Upload.FileName)">
<input type="hidden" name="fa_x_Attachment" id= "fa_x_Attachment" value="0">
<table id="ft_x_Attachment" class="table table-sm float-start ew-upload-table"><tbody class="files"></tbody></table>
</span></template>
</div></div>
    </div>
} @* crewBankAccountForAdminViewModeAdd.Attachment.Visible (end) *@
@if (crewBankAccountForAdminViewModeAdd.MTCrewID.Visible) { // crewBankAccountForAdminViewModeAdd.MTCrewID.Visible (begin)
    <div id="r_MTCrewID" @Html.Raw(crewBankAccountForAdminViewModeAdd.MTCrewID.RowAttributes)>
        <label id="elh_CrewBankAccountForAdminViewMode_MTCrewID" for="x_MTCrewID" class="@(crewBankAccountForAdminViewModeAdd.LeftColumnClass)"><template id="tpc_CrewBankAccountForAdminViewMode_MTCrewID">@Html.Raw(crewBankAccountForAdminViewModeAdd.MTCrewID.Caption)@Html.Raw(crewBankAccountForAdminViewModeAdd.MTCrewID.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewBankAccountForAdminViewModeAdd.RightColumnClass)"><div @Html.Raw(crewBankAccountForAdminViewModeAdd.MTCrewID.CellAttributes)>
<template id="tpx_CrewBankAccountForAdminViewMode_MTCrewID"><span id="el_CrewBankAccountForAdminViewMode_MTCrewID">
<input type="@(crewBankAccountForAdminViewModeAdd.MTCrewID.InputTextType)" name="x_MTCrewID" id="x_MTCrewID" data-table="CrewBankAccountForAdminViewMode" data-field="x_MTCrewID" value="@Html.Raw(crewBankAccountForAdminViewModeAdd.MTCrewID.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(crewBankAccountForAdminViewModeAdd.MTCrewID.PlaceHolder))" data-format-pattern="@(crewBankAccountForAdminViewModeAdd.MTCrewID.FormatPattern)"@Html.Raw(crewBankAccountForAdminViewModeAdd.MTCrewID.EditAttributes) aria-describedby="x_MTCrewID_help">
@Html.Raw(crewBankAccountForAdminViewModeAdd.MTCrewID.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewBankAccountForAdminViewModeAdd.MTCrewID.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* crewBankAccountForAdminViewModeAdd.MTCrewID.Visible (end) *@
@if (crewBankAccountForAdminViewModeAdd.MTBankID.Visible) { // crewBankAccountForAdminViewModeAdd.MTBankID.Visible (begin)
    <div id="r_MTBankID" @Html.Raw(crewBankAccountForAdminViewModeAdd.MTBankID.RowAttributes)>
        <label id="elh_CrewBankAccountForAdminViewMode_MTBankID" for="x_MTBankID" class="@(crewBankAccountForAdminViewModeAdd.LeftColumnClass)"><template id="tpc_CrewBankAccountForAdminViewMode_MTBankID">@Html.Raw(crewBankAccountForAdminViewModeAdd.MTBankID.Caption)@Html.Raw(crewBankAccountForAdminViewModeAdd.MTBankID.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewBankAccountForAdminViewModeAdd.RightColumnClass)"><div @Html.Raw(crewBankAccountForAdminViewModeAdd.MTBankID.CellAttributes)>
<template id="tpx_CrewBankAccountForAdminViewMode_MTBankID"><span id="el_CrewBankAccountForAdminViewMode_MTBankID">
    <select
        id="x_MTBankID"
        name="x_MTBankID"
        class="form-select ew-select@(crewBankAccountForAdminViewModeAdd.MTBankID.IsInvalidClass)"
        data-select2-id="fCrewBankAccountForAdminViewModeadd_x_MTBankID"
        data-table="CrewBankAccountForAdminViewMode"
        data-field="x_MTBankID"
        data-value-separator="@(crewBankAccountForAdminViewModeAdd.MTBankID.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(crewBankAccountForAdminViewModeAdd.MTBankID.PlaceHolder))"
        @Html.Raw(crewBankAccountForAdminViewModeAdd.MTBankID.EditAttributes)>
        @(crewBankAccountForAdminViewModeAdd.MTBankID.SelectOptionListHtml("x_MTBankID"))
    </select>
    @Html.Raw(crewBankAccountForAdminViewModeAdd.MTBankID.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(crewBankAccountForAdminViewModeAdd.MTBankID.GetErrorMessage())</div>
@Html.Raw(crewBankAccountForAdminViewModeAdd.MTBankID.Lookup.GetParamTag(crewBankAccountForAdminViewModeAdd, "p_x_MTBankID"))
<script>
loadjs.ready("fCrewBankAccountForAdminViewModeadd", function() {
    var options = { name: "x_MTBankID", selectId: "fCrewBankAccountForAdminViewModeadd_x_MTBankID" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fCrewBankAccountForAdminViewModeadd.lists.MTBankID?.lookupOptions.length) {
        options.data = { id: "x_MTBankID", form: "fCrewBankAccountForAdminViewModeadd" };
    } else {
        options.ajax = { id: "x_MTBankID", form: "fCrewBankAccountForAdminViewModeadd", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumResultsForSearch = Infinity;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.CrewBankAccountForAdminViewMode.fields.MTBankID.selectOptions);
    ew.createSelect(options);
});
</script>
</span></template>
</div></div>
    </div>
} @* crewBankAccountForAdminViewModeAdd.MTBankID.Visible (end) *@
@if (crewBankAccountForAdminViewModeAdd.OtherBankName.Visible) { // crewBankAccountForAdminViewModeAdd.OtherBankName.Visible (begin)
    <div id="r_OtherBankName" @Html.Raw(crewBankAccountForAdminViewModeAdd.OtherBankName.RowAttributes)>
        <label id="elh_CrewBankAccountForAdminViewMode_OtherBankName" for="x_OtherBankName" class="@(crewBankAccountForAdminViewModeAdd.LeftColumnClass)"><template id="tpc_CrewBankAccountForAdminViewMode_OtherBankName">@Html.Raw(crewBankAccountForAdminViewModeAdd.OtherBankName.Caption)@Html.Raw(crewBankAccountForAdminViewModeAdd.OtherBankName.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewBankAccountForAdminViewModeAdd.RightColumnClass)"><div @Html.Raw(crewBankAccountForAdminViewModeAdd.OtherBankName.CellAttributes)>
<template id="tpx_CrewBankAccountForAdminViewMode_OtherBankName"><span id="el_CrewBankAccountForAdminViewMode_OtherBankName">
<input type="@(crewBankAccountForAdminViewModeAdd.OtherBankName.InputTextType)" name="x_OtherBankName" id="x_OtherBankName" data-table="CrewBankAccountForAdminViewMode" data-field="x_OtherBankName" value="@Html.Raw(crewBankAccountForAdminViewModeAdd.OtherBankName.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(crewBankAccountForAdminViewModeAdd.OtherBankName.PlaceHolder))" data-format-pattern="@(crewBankAccountForAdminViewModeAdd.OtherBankName.FormatPattern)"@Html.Raw(crewBankAccountForAdminViewModeAdd.OtherBankName.EditAttributes) aria-describedby="x_OtherBankName_help">
@Html.Raw(crewBankAccountForAdminViewModeAdd.OtherBankName.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewBankAccountForAdminViewModeAdd.OtherBankName.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* crewBankAccountForAdminViewModeAdd.OtherBankName.Visible (end) *@
</div><!-- /page* -->
<div id="tpd_CrewBankAccountForAdminViewModeadd" class="ew-custom-template"></div>
<template id="tpm_CrewBankAccountForAdminViewModeadd">
<div id="ct_crewBankAccountForAdminViewModeAdd">    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewPersonalDataForAdminViewModeView")">
                @(CurrentLanguage == "en-US" ? "PERSONAL DATA" : "DATA PERSONAL")
            </a>     
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewDocumentForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "DOCUMENTS" : "DOKUMEN")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewBankAccountForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "BANK ACCOUNT" : "REKENING BANK")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewFamilyForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "FAMILY" : "KELUARGA")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewFormalEducationForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "FORMAL EDUCATION" : "PENDIDIKAN FORMAL")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewMedicalCertificateForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "MEDICAL CERTIFICATE / TEST" : "SERTIFIKAT / TES MEDIS")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewCertificateForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "CERTIFICATES AND QUALIFICATIONS" : "SERTIFIKAT DAN KUALIFIKASI")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewExperienceForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "SEA EXPERIENCE" : "PENGALAMAN BERLAYAR")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewAppraisalForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "APPRAISALS" : "PENILAIAN")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewMedicalHistoryForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "MEDICAL HISTORY" : "RIWAYAT MEDIS")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewGeneralDataForAdminViewModeView")">
                @(CurrentLanguage == "en-US" ? "GENERAL" : "UMUM")
            </a>
        </li>
    </ul> 
    <div class="mb-2 row">
        <div class="col-sm-6">
            <div id="r_MTBankID" class="mb-2 row">
                <label for="x_MTBankID" class="col-form-label">@Html.Raw(crewBankAccountForAdminViewModeAdd.MTBankID.Caption)<i class="fa-solid fa-asterisk ew-required"></i></label>
                <div><slot class="ew-slot" name="tpx_CrewBankAccountForAdminViewMode_MTBankID"></slot></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="r_OtherBankName" class="mb-2 row">
                <label for="x_OtherBankName" class="col-form-label">@Html.Raw(crewBankAccountForAdminViewModeAdd.OtherBankName.Caption)<i class="fa-solid fa-asterisk ew-required"></i></label>
                <div><slot class="ew-slot" name="tpx_CrewBankAccountForAdminViewMode_OtherBankName"></slot></div>
            </div>
        </div>
    </div>
    <div class="mb-2 row">
        <div class="col-sm-6">
            <div id="r_AccountNumber" class="mb-2 row">
                <label for="x_AccountNumber" class="col-form-label">@Html.Raw(crewBankAccountForAdminViewModeAdd.AccountNumber.Caption)<i class="fa-solid fa-asterisk ew-required"></i></label>
                <div><slot class="ew-slot" name="tpx_CrewBankAccountForAdminViewMode_AccountNumber"></slot></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="r_Beneficiary" class="mb-2 row">
                <label for="x_Beneficiary" class="col-form-label">@Html.Raw(crewBankAccountForAdminViewModeAdd.Beneficiary.Caption)<i class="fa-solid fa-asterisk ew-required"></i></label>
                <div><slot class="ew-slot" name="tpx_CrewBankAccountForAdminViewMode_Beneficiary"></slot></div>
            </div>
        </div>
    </div>
     <div class="mb-2 row">
        <div class="col-sm-6">
            <div id="r_MTCurrencyID" class="mb-2 row">
                <label for="x_MTCurrencyID" class="col-form-label">@Html.Raw(crewBankAccountForAdminViewModeAdd.MTCurrencyID.Caption)<i class="fa-solid fa-asterisk ew-required"></i></label>
                <div><slot class="ew-slot" name="tpx_CrewBankAccountForAdminViewMode_MTCurrencyID"></slot></div>
                <div hidden><slot class="ew-slot" name="tpx_Currency"></slot></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="r_MainAcc" class="mb-2 row">
                <label for="x_MainAcc" class="col-form-label">@Html.Raw(crewBankAccountForAdminViewModeAdd.MainAcc.Caption)<i class="fa-solid fa-asterisk ew-required"></i></label>
                <div><slot class="ew-slot" name="tpx_CrewBankAccountForAdminViewMode_MainAcc"></slot></div>
            </div>
        </div>
    </div>
    <div class="mb-2 row">
        <div class="col-sm-6">
            <div id="r_Attachment" class="mb-2 row">
                <label for="x_Attachment" class="col-form-label">
                    @Html.Raw(crewBankAccountForAdminViewModeAdd.Attachment.Caption) @(CurrentLanguage == "en-US" ? "(jpg/jpeg/png/pdf max 2 MB)" : "(jpg/jpeg/png/pdf maks 2 MB)")<i class="fa-solid fa-asterisk ew-required"></i>
                </label>
                <div><slot class="ew-slot" name="tpx_CrewBankAccountForAdminViewMode_Attachment"></slot></div>
            </div>
        </div>
        <div class="col-sm-6">
        </div>
    </div>
    <div class="row"><!-- buttons .row -->
        <div class="d-flex mb-2"><!-- buttons offset -->
            <button class="btn btn-primary ew-btn ms-auto primary-black-clr gray-bg" id="btn-add-entry">
                @(CurrentLanguage == "en-US" ? "Add Entry" : "Tambah")
            </button>
        </div><!-- /buttons offset -->
    </div>
    <div id="r_MTCrewID" class="mb-3 row">
        <label for="x_MTCrewID" class="col-sm-2 col-form-label">@Html.Raw(crewBankAccountForAdminViewModeAdd.MTCrewID.Caption)</label>
        <div class="col-sm-10"><slot class="ew-slot" name="tpx_CrewBankAccountForAdminViewMode_MTCrewID"></slot></div>
    </div>
    <div id="proceed-modal-dialog" class="modal" aria-hidden="true" data-bs-backdrop="static" tabindex="-1" aria-labelledby="proceed-modal-dialog-title" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="proceed-modal-dialog-title" class="modal-title">
                        @(CurrentLanguage == "en-US" ? "Warning" : "Peringatan")
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p> 
                        @{
                            if (CurrentLanguage == "en-US")
                            {
                                <span>There are error(s) in this tab.</span><br/>
                                <span>If you choose to Proceed, any unsaved data will be lost.</span><br/>
                                <span>Do you want to Proceed?</span>
                            }
                            else
                            {
                                <span>Masih ada error di tab ini.</span><br/>
                                <span>Jika Anda memilih Lanjutkan, data yang belum disimpan akan hilang.</span><br/>
                                <span>Apakah Anda ingin melanjutkan?</span>
                            }
                        }
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger ew-btn" id="btn-proceed" type="button">
                        @(CurrentLanguage == "en-US" ? "Proceed" : "Lanjutkan")
                    </button>
                    <button class="btn btn-default ew-btn" id="btn-proceed-cancel" type="button" data-bs-dismiss="modal">
                        @(CurrentLanguage == "en-US" ? "Cancel" : "Batal")
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="loading-modal-dialog" class="modal" aria-hidden="true" data-bs-backdrop="static" tabindex="-1" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="text-center mb-0">
                        @(CurrentLanguage == "en-US" ? "Saving..." : "Menyimpan...")
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="delete-modal-dialog" class="modal" aria-hidden="true" data-bs-backdrop="static" tabindex="-1" aria-labelledby="delete-modal-dialog-title" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="delete-modal-dialog-title" class="modal-title">
                        @(CurrentLanguage == "en-US" ? "Confirmation" : "Konfirmasi")
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        @(CurrentLanguage == "en-US" ? "Are you sure you want to delete?" : "Anda yakin ingin menghapus?")
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary ew-btn" id="btn-delete" type="button">
                        @(CurrentLanguage == "en-US" ? "Yes" : "Iya")
                    </button>
                    <button class="btn btn-default ew-btn" id="btn-delete-cancel" type="button" data-bs-dismiss="modal">
                        @(CurrentLanguage == "en-US" ? "No" : "Tidak")
                    </button>
                </div>
            </div>
        </div>
    </div></div>
</template>
@{ crewBankAccountForAdminViewModeAdd.CloseRecordset(); }
@Html.Raw(crewBankAccountForAdminViewModeAdd.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(crewBankAccountForAdminViewModeAdd.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fCrewBankAccountForAdminViewModeadd">@Html.Raw(Language.Phrase("AddBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fCrewBankAccountForAdminViewModeadd" data-href="@AppPath(crewBankAccountForAdminViewModeAdd.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(crewBankAccountForAdminViewModeAdd.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
<script class="ew-apply-template">
loadjs.ready(ew.applyTemplateId, function() {
    var $ = jQuery;
    ew.templateData = { rows: @Html.Raw(ConvertToJson(crewBankAccountForAdminViewModeAdd.Rows)) };
    ew.applyTemplate("tpd_CrewBankAccountForAdminViewModeadd", "tpm_CrewBankAccountForAdminViewModeadd", "CrewBankAccountForAdminViewModeadd", "@(crewBankAccountForAdminViewModeAdd.Export)", "CrewBankAccountForAdminViewMode", ew.templateData.rows[0], @(crewBankAccountForAdminViewModeAdd.IsModal ? "true" : "false"));
    loadjs.done("customtemplate");
});
</script>
@crewBankAccountForAdminViewModeAdd.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("CrewBankAccountForAdminViewMode");
});
</script>
<script>
loadjs.ready("load", function() {
    // Startup script
    // Write your table-specific startup script here
    // document.write("page loaded");

    // Get the current URL
    const currentUrlObject = new URL(window.location.href);
    // get the current URL without Add or Edit for assigning active class in tabs
    const currentUrlWithoutAddEditListView = currentUrlObject.href.replace(/Add|Edit|List|View/g, "");
    // Create a new URLSearchParams object based on the current URL's search parameters
    const urlQueryParams = new URLSearchParams(currentUrlObject.search);
    // Extract the value of the crewID query parameter
    const currentlyEditedCrewID = urlQueryParams.get('crewID');
    const selectedLanguage = ew.vars['languages']['languages'].filter(obj => obj.selected === true)[0];
    const parentUrl = ew.PATH_BASE;
    const tableName = "CrewBankAccountForAdminViewMode";
    const pageType = "add";
    const pageTypeCapital = "Add";
    const formID = `f${tableName}${pageType}`;
    const addEntryUrl = `${parentUrl}${tableName}${pageTypeCapital}?crewID=${currentlyEditedCrewID}`;
    const listPageUrl = `${parentUrl}${tableName}List?crewID=${currentlyEditedCrewID}`;
    let isChangeTabApproved = false;
    const entryButton = $('<button/>', {
        'class': 'btn btn-primary ew-btn ms-auto primary-black-clr gray-bg',
        'id': 'btn-entry',
        'type': 'button',
        'text': (selectedLanguage.id === 'en-US') ? `Add Entry` : `Tambah`
    }).click(function() {
        const validateAddEntryResult = validateAddEntry({ isAllEmptyAllowed: false });
        if (validateAddEntryResult === 'valid') {
            $('#loading-modal-dialog').modal('show');
            const targetUrlRelative = listPageUrl;
            addEntry({ redirectUrlWhenSuccess: targetUrlRelative });
        } else {
            scrollToFirstInvalidInput();
        }
    });
    $('#btn-add-entry').after(entryButton);
    $('#btn-add-entry').remove();

    // to auto clear error message when focus for file fields
    $('#x_Attachment').on('focus', function() {
        $(this).removeClass('is-invalid');
    });
    $('#ft_x_Attachment button').on("click", function () {
      window[formID].modified = true;
    });
    const adminAndEmployeeStatusApi = 'get-admin-and-employee-status';
    $.ajax({
        url: `${parentUrl}api/Registration/${adminAndEmployeeStatusApi}`,
        method: 'GET',
        data: {
            crewID: currentlyEditedCrewID
        },
        success: function(response) {
            if (response.success) {
                // Parse the data in the response
                const isAdmin = response.data.IsAdmin;
                const employeeStatus = response.data.EmployeeStatus;
                if (currentlyEditedCrewID === null) {
                    if (isAdmin) {
                        // redirect to list page with error message: record not found
                        if (employeeStatus === 'Candidate - Draft') {
                            window.location.replace(`${ew.PATH_BASE}RegistrationEdit/-1`);
                        } else if (employeeStatus === 'Candidate - Submitted') {
                            window.location.replace(`${ew.PATH_BASE}VWaitingForPdeReviewView/-1`);
                        }
                    } else {
                        window.location.replace(`${ew.PATH_BASE}index`);
                    }
                }
            } else {
                // Handle the error
                ew.showToast(response.errorMessage);
            }
        },
        error: function(xhr, textStatus, errorThrown) {
            // Handle the error
            ew.showToast(errorThrown);
        }
    });
    const customCancelButton = $('<button/>', {
        'class': 'btn btn-danger ew-btn ms-auto primary-red-bg primary-white-clr',
        'id': 'btn-custom-cancel',
        'type': 'button',
        'text': `${ew.language.phrase("CancelBtn")}`,
    }).click(function() {
        if (window[formID].modified) {
            ew.prompt(ew.language.phrase("ConfirmCancel"), result => {
                if (result) {
                    isChangeTabApproved = true;
                    proceedToLink(listPageUrl);
                }
            });
        } else {
            isChangeTabApproved = true;
            proceedToLink(listPageUrl);
        }
    });
    $('#btn-cancel').after(customCancelButton);
    $('#btn-cancel').remove();

    // Iterate over each anchor element inside the nav-tabs
    $(".nav-tabs .nav-item a").each(function() {
        const href = $(this).attr("href");
        const hrefWithoutAddEditListView = href.replace(/Add|Edit|List|View/g, "");
        // Check if the href contains current page's url
        if (currentUrlWithoutAddEditListView.includes(hrefWithoutAddEditListView)) {
            // add class and attribute
            $(this).addClass("active");
            $(this).attr("aria-current", "page");
        }
        // Check if the href contains "Edit" or "Add"
        if (href.includes("ViewModeView")) {
            // Add "/" and the currently edited crew ID to the href
            const newHref = href + "/" + currentlyEditedCrewID;
            // Set the updated href attribute value
            $(this).attr("href", newHref);
        } else if (href.includes("ViewModeList")) {
            // Add "?crewID=" and the currently edited crew ID to the href
            const newHref = href + "?crewID=" + currentlyEditedCrewID;
            // Set the updated href attribute value
            $(this).attr("href", newHref);
        }
    });

    // start code for auto capitalize first letter of each word
    $('#x_Beneficiary').on('input', function() {
        $(this).val($(this).val().replace(/(?:^|\s)\S/g, function(a) { return a.toUpperCase(); }));
    });
    // end code for auto capitalize first letter of each word

    // Target the ol element that has breadcrumb class
    const $breadCrumbOl = $('.breadcrumb').first();

    // Delete the ol element that has breadcrumb class
    $breadCrumbOl.remove();
    $('#btn-action').remove();
    $('.ew-buttons > .col-sm-10').removeClass('col-sm-10').addClass('d-flex mb-3');
    $('.ew-buttons > .offset-sm-2').removeClass('offset-sm-2');
    $('#btn-cancel').addClass('ms-auto primary-red-bg primary-white-clr');

    //  programatically change the value of MTCrewID input and then hide it
    $('#x_MTCrewID').val(currentlyEditedCrewID);
    $('div#r_MTCrewID').hide();
    function toggleOtherBankName(selectedMTBankIDText) {
        if (selectedMTBankIDText === `<div><span>Other/Lainnya</span></div>`) {
            $('#x_OtherBankName').prop('disabled', false);
        } else {
            $('#x_OtherBankName').prop('disabled', true);
            $('#x_OtherBankName').val(null); 
        }
    }
    const selectedMTBankIDText = $('#x_MTBankID').select2('data').length > 0 ? $('#x_MTBankID').select2('data')[0].text : null;
    toggleOtherBankName(selectedMTBankIDText);
    $('#x_MTBankID').on('select2:select', function (e) {
        const selectedMTBankIDText = e.params.data.text;
        toggleOtherBankName(selectedMTBankIDText);
    });

    // change the href of cancel button only in add page
    $('#btn-cancel').attr('data-href', `${ew.PATH_BASE}CrewBankAccountForAdminViewModeList?crewID=${currentlyEditedCrewID}`);

    // AUTO SAVE WHEN MOVING FROM THIS TAB
    $(window).on('beforeunload', function(event) {
        if (!isChangeTabApproved && window[formID].modified) {
            event.preventDefault();
            event.returnValue = '';
            return '';
        }
    });
    $("#btn-proceed").click(function() {
        isChangeTabApproved = true;
        const targetUrlRelative = $(this).attr('target-url-relative');
        $('#approve-modal-dialog').modal('hide');
        proceedToLink(targetUrlRelative);
    });
    $('ul.nav.nav-tabs li.nav-item a.nav-link').on('click', function(event) {
        event.preventDefault();
        const targetUrlRelative = $(this).attr('href');
        if (window[formID].modified) {
            const validateAddEntryResult = validateAddEntry({ isAllEmptyAllowed: true });
            if (validateAddEntryResult === 'valid') {
                $('#loading-modal-dialog').modal('show');
                addEntry({ redirectUrlWhenSuccess: targetUrlRelative });
            } else if (validateAddEntryResult === 'empty') {
                isChangeTabApproved = true;
                proceedToLink(targetUrlRelative);
            } else if (validateAddEntryResult === 'invalid') {
                scrollToFirstInvalidInput();
                $('#btn-proceed').attr('target-url-relative', targetUrlRelative);
                $('#proceed-modal-dialog').modal('show');
            }
        } else {
            isChangeTabApproved = true;
            proceedToLink(targetUrlRelative);
        }
    });
    function proceedToLink(targetUrlRelative) {
        const baseUrl = new URL(window.location.href).origin;
        const targetUrl = new URL(baseUrl + targetUrlRelative);
        window.location.href = targetUrl.href;
    }
    function scrollToFirstInvalidInput() {
        const invalidInput = $("input.is-invalid:first");
        if (invalidInput.length > 0) { // Check if an invalid input is found
            const offset = invalidInput.offset().top; // Calculate the offset of the invalid input element from the top of the page
            const windowHeight = $(window).height(); // Calculate the height of the viewport
            const scrollPosition = offset - (windowHeight / 2); // Calculate the scroll position to center the invalid input element
            $("html, body").animate({ // Animate the scroll to the center position
                scrollTop: scrollPosition
            }, 1000); // Adjust the duration as needed (in milliseconds)
        }
    }
    function addEntry({ redirectUrlWhenSuccess }) {
        isChangeTabApproved = true;
        let formData = $(`form#${formID}`).serialize();
        $('input[type="checkbox"]').each(function() {
            // Jika checkbox tidak dicentang dan tidak ada di hasil serialize(),
            // tambahkan nilai 0 ke hasil serialize()
            if (!this.checked && formData.indexOf(this.name) === -1) {
                formData += '&' + this.name + '=0';
            }
        });
        $.ajax({
            url: addEntryUrl,
            type: 'POST',
            data: formData,
            success: function(res) {
                const $errorDiv = $(res).find('div.ew-error'); // res is a string containing html document
                $('#loading-modal-dialog').modal('hide');
                if ($errorDiv.length > 0) {
                    ew.showToast($errorDiv.text());
                } else {
                    proceedToLink(redirectUrlWhenSuccess);
                }
            },
            error: function(xhr, textStatus, errorThrown) {
                $('#loading-modal-dialog').modal('hide');
                isChangeTabApproved = false;
                ew.showToast(errorThrown);
            }
        });
    }
    function validateAddEntry({ isAllEmptyAllowed }) {
        let formErrorCount = 0;
        let formEmptyCount = 0;
        let isNotEmpty = true;
        const emptyFieldNames = [];
        const emptyFileFieldNames = [];
        function validateRequiredField(fieldName) {
            const fieldNameWithPrefix = `x_${fieldName}`;
            const fieldValue = $(`#${fieldNameWithPrefix}`).val();
            if (fieldValue === '' || fieldValue === null) {
                return false;
            } else {
                return true;
            }
        }
        function validateRequiredFileField(fieldName) {
            const fieldNameWithPrefix = `fn_x_${fieldName}`;
            const fieldValue = $(`#${fieldNameWithPrefix}`).val();
            if (fieldValue === '') {
                return false;
            } else {
                return true;
            }
        }
        function validateFieldWithRegex(fieldName, errorMessage, regex) {
            const fieldNameWithPrefix = `x_${fieldName}`;
            const fieldValue = $(`#${fieldNameWithPrefix}`).val();
            if (!regex.test(fieldValue)) {  
                window[formID].fields[fieldName].addError({ custom: errorMessage });
                window[formID].fields[fieldName].updateFeedback();
                window[formID].addError(fieldName, { custom: errorMessage });
                return false;
            } else {
                return true;
            }
        }
        function displayRequiredFieldError(fieldName) {
            const errorMessage = (selectedLanguage.id === 'en-US') ? "Please enter required field" : "Masukkan input yang dibutuhkan";
            const fieldNameWithPrefix = `x_${fieldName}`;
            const fieldCaption = $(`label[for=${fieldNameWithPrefix}]`).text();
            const errorMessageWithFieldName = `${errorMessage} - ${fieldCaption}`;
            window[formID].fields[fieldName].addError({ custom: errorMessageWithFieldName });
            window[formID].fields[fieldName].updateFeedback();
            window[formID].addError(fieldName, { custom: errorMessageWithFieldName });
        }
        function displayRequiredFileFieldError(fieldName) {
            displayRequiredFieldError(fieldName);
            const fieldNameWithPrefix = `x_${fieldName}`;
            $(`#${fieldNameWithPrefix}`).addClass('is-invalid');
        }
        const digitsOnlyRegex = /^\d+$/;
        const digitsOnlyRegexErrorMessage = (selectedLanguage.id === 'en-US') ? "Must contain digits only" : "Harus terdiri dari angka saja";
        const noDigitsRegex = /^[^0-9]+$/;
        const noDigitsRegexErrorMessage = (selectedLanguage.id === 'en-US') ? "Must not contain digits" : "Tidak boleh mengandung angka";
        const otherBankNameErrorMessage = (selectedLanguage.id === 'en-US') ? `Cannot be empty when selecting Other/Lainnya` : `Tidak boleh kosong ketika memilih Other/Lainnya`;
        const mtBankIDValue = $("#x_MTBankID").val();
        const mtBankIDText = $('#x_MTBankID').select2('data').length > 0 ? $('#x_MTBankID').select2('data')[0].text : null;
        if (mtBankIDValue === '' || mtBankIDValue === null) {
            formEmptyCount += 1;
            formErrorCount += 1;
            if (isAllEmptyAllowed) {
                emptyFieldNames.push("MTBankID");
            } else {
                displayRequiredFieldError("MTBankID");
            }
        } else if (mtBankIDText === `<div><span>Other/Lainnya</span></div>`) {
            const otherBankNameValue = $("#x_OtherBankName").val();
            if (otherBankNameValue === '') {
                window[formID].fields["OtherBankName"].addError({ custom: otherBankNameErrorMessage });
                window[formID].fields["OtherBankName"].updateFeedback();
                window[formID].addError("OtherBankName", { custom: otherBankNameErrorMessage }); 
                formErrorCount += 1;
            }
        }
        isNotEmpty = validateRequiredField("AccountNumber");
        if (!isNotEmpty) {
            formEmptyCount += 1;
            formErrorCount += 1;
            if (isAllEmptyAllowed) {
                emptyFieldNames.push("AccountNumber");
            } else {
                displayRequiredFieldError("AccountNumber");
            }
        } else {
            formErrorCount += validateFieldWithRegex("AccountNumber",  digitsOnlyRegexErrorMessage, digitsOnlyRegex) ? 0 : 1;
        }
        isNotEmpty = validateRequiredField("Beneficiary");
        if (!isNotEmpty) {
            formEmptyCount += 1;
            formErrorCount += 1;
            if (isAllEmptyAllowed) {
                emptyFieldNames.push("Beneficiary");
            } else {
                displayRequiredFieldError("Beneficiary");
            }
        } else {
            formErrorCount += validateFieldWithRegex("Beneficiary",  noDigitsRegexErrorMessage, noDigitsRegex) ? 0 : 1;
        }
        isNotEmpty = validateRequiredField("MTCurrencyID");
        if (!isNotEmpty) {
            formEmptyCount += 1;
            formErrorCount += 1;
            if (isAllEmptyAllowed) {
                emptyFieldNames.push("MTCurrencyID");
            } else {
                displayRequiredFieldError("MTCurrencyID");
            }
        }
        isNotEmpty = validateRequiredFileField("Attachment");
        if (!isNotEmpty) {
            formEmptyCount += 1;
            formErrorCount += 1;
            if (isAllEmptyAllowed) {
                emptyFileFieldNames.push("Attachment");
            } else {
                displayRequiredFileFieldError("Attachment");
            }
        }
        if (formEmptyCount === 5) {
            return 'empty';
        }
        if (emptyFieldNames.length > 0) {
            for (const fieldName of emptyFieldNames) {
                displayRequiredFieldError(fieldName);
            }
        }
        if (emptyFileFieldNames.length > 0) {
            for (const fieldName of emptyFileFieldNames) {
                displayRequiredFileFieldError(fieldName);
            }
        }
        if (formErrorCount > 0) {
            return 'invalid';
        } else {
            return 'valid';
        }
    }
});
</script>
