@{
    // View
    View = this;

    // Check action result
    if (crewCertificateForAdminViewModeDelete.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!crewCertificateForAdminViewModeDelete.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(crewCertificateForAdminViewModeDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { CrewCertificateForAdminViewMode: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fCrewCertificateForAdminViewModedelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fCrewCertificateForAdminViewModedelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@crewCertificateForAdminViewModeDelete.ShowPageHeader()
@crewCertificateForAdminViewModeDelete.ShowMessages()
<form name="fCrewCertificateForAdminViewModedelete" id="fCrewCertificateForAdminViewModedelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in crewCertificateForAdminViewModeDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(crewCertificateForAdminViewModeDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(crewCertificateForAdminViewModeDelete.TableContainerClass)" style="@(crewCertificateForAdminViewModeDelete.TableContainerStyle)">
<table class="@(crewCertificateForAdminViewModeDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (crewCertificateForAdminViewModeDelete.MTCrewID.Visible) { // crewCertificateForAdminViewModeDelete.MTCrewID.Visible (begin)
        <th class="@Html.Raw(crewCertificateForAdminViewModeDelete.MTCrewID.HeaderCellClass)"><span id="elh_CrewCertificateForAdminViewMode_MTCrewID" class="CrewCertificateForAdminViewMode_MTCrewID">@Html.Raw(crewCertificateForAdminViewModeDelete.MTCrewID.Caption)</span></th>
} @* crewCertificateForAdminViewModeDelete.MTCrewID.Visible (end) *@
@if (crewCertificateForAdminViewModeDelete.MTCertificateID.Visible) { // crewCertificateForAdminViewModeDelete.MTCertificateID.Visible (begin)
        <th class="@Html.Raw(crewCertificateForAdminViewModeDelete.MTCertificateID.HeaderCellClass)"><span id="elh_CrewCertificateForAdminViewMode_MTCertificateID" class="CrewCertificateForAdminViewMode_MTCertificateID">@Html.Raw(crewCertificateForAdminViewModeDelete.MTCertificateID.Caption)</span></th>
} @* crewCertificateForAdminViewModeDelete.MTCertificateID.Visible (end) *@
@if (crewCertificateForAdminViewModeDelete.CountryOfIssue_CountryID.Visible) { // crewCertificateForAdminViewModeDelete.CountryOfIssue_CountryID.Visible (begin)
        <th class="@Html.Raw(crewCertificateForAdminViewModeDelete.CountryOfIssue_CountryID.HeaderCellClass)"><span id="elh_CrewCertificateForAdminViewMode_CountryOfIssue_CountryID" class="CrewCertificateForAdminViewMode_CountryOfIssue_CountryID">@Html.Raw(crewCertificateForAdminViewModeDelete.CountryOfIssue_CountryID.Caption)</span></th>
} @* crewCertificateForAdminViewModeDelete.CountryOfIssue_CountryID.Visible (end) *@
@if (crewCertificateForAdminViewModeDelete.Number.Visible) { // crewCertificateForAdminViewModeDelete.Number.Visible (begin)
        <th class="@Html.Raw(crewCertificateForAdminViewModeDelete.Number.HeaderCellClass)"><span id="elh_CrewCertificateForAdminViewMode_Number" class="CrewCertificateForAdminViewMode_Number">@Html.Raw(crewCertificateForAdminViewModeDelete.Number.Caption)</span></th>
} @* crewCertificateForAdminViewModeDelete.Number.Visible (end) *@
@if (crewCertificateForAdminViewModeDelete.DateOfIssue.Visible) { // crewCertificateForAdminViewModeDelete.DateOfIssue.Visible (begin)
        <th class="@Html.Raw(crewCertificateForAdminViewModeDelete.DateOfIssue.HeaderCellClass)"><span id="elh_CrewCertificateForAdminViewMode_DateOfIssue" class="CrewCertificateForAdminViewMode_DateOfIssue">@Html.Raw(crewCertificateForAdminViewModeDelete.DateOfIssue.Caption)</span></th>
} @* crewCertificateForAdminViewModeDelete.DateOfIssue.Visible (end) *@
@if (crewCertificateForAdminViewModeDelete.DateOfExpiry.Visible) { // crewCertificateForAdminViewModeDelete.DateOfExpiry.Visible (begin)
        <th class="@Html.Raw(crewCertificateForAdminViewModeDelete.DateOfExpiry.HeaderCellClass)"><span id="elh_CrewCertificateForAdminViewMode_DateOfExpiry" class="CrewCertificateForAdminViewMode_DateOfExpiry">@Html.Raw(crewCertificateForAdminViewModeDelete.DateOfExpiry.Caption)</span></th>
} @* crewCertificateForAdminViewModeDelete.DateOfExpiry.Visible (end) *@
@if (crewCertificateForAdminViewModeDelete.PlaceOfIssue.Visible) { // crewCertificateForAdminViewModeDelete.PlaceOfIssue.Visible (begin)
        <th class="@Html.Raw(crewCertificateForAdminViewModeDelete.PlaceOfIssue.HeaderCellClass)"><span id="elh_CrewCertificateForAdminViewMode_PlaceOfIssue" class="CrewCertificateForAdminViewMode_PlaceOfIssue">@Html.Raw(crewCertificateForAdminViewModeDelete.PlaceOfIssue.Caption)</span></th>
} @* crewCertificateForAdminViewModeDelete.PlaceOfIssue.Visible (end) *@
@if (crewCertificateForAdminViewModeDelete.IssuingAuthority.Visible) { // crewCertificateForAdminViewModeDelete.IssuingAuthority.Visible (begin)
        <th class="@Html.Raw(crewCertificateForAdminViewModeDelete.IssuingAuthority.HeaderCellClass)"><span id="elh_CrewCertificateForAdminViewMode_IssuingAuthority" class="CrewCertificateForAdminViewMode_IssuingAuthority">@Html.Raw(crewCertificateForAdminViewModeDelete.IssuingAuthority.Caption)</span></th>
} @* crewCertificateForAdminViewModeDelete.IssuingAuthority.Visible (end) *@
@if (crewCertificateForAdminViewModeDelete.Level.Visible) { // crewCertificateForAdminViewModeDelete.Level.Visible (begin)
        <th class="@Html.Raw(crewCertificateForAdminViewModeDelete.Level.HeaderCellClass)"><span id="elh_CrewCertificateForAdminViewMode_Level" class="CrewCertificateForAdminViewMode_Level">@Html.Raw(crewCertificateForAdminViewModeDelete.Level.Caption)</span></th>
} @* crewCertificateForAdminViewModeDelete.Level.Visible (end) *@
@if (crewCertificateForAdminViewModeDelete.PaxVesselType.Visible) { // crewCertificateForAdminViewModeDelete.PaxVesselType.Visible (begin)
        <th class="@Html.Raw(crewCertificateForAdminViewModeDelete.PaxVesselType.HeaderCellClass)"><span id="elh_CrewCertificateForAdminViewMode_PaxVesselType" class="CrewCertificateForAdminViewMode_PaxVesselType">@Html.Raw(crewCertificateForAdminViewModeDelete.PaxVesselType.Caption)</span></th>
} @* crewCertificateForAdminViewModeDelete.PaxVesselType.Visible (end) *@
@if (crewCertificateForAdminViewModeDelete.Image.Visible) { // crewCertificateForAdminViewModeDelete.Image.Visible (begin)
        <th class="@Html.Raw(crewCertificateForAdminViewModeDelete.Image.HeaderCellClass)"><span id="elh_CrewCertificateForAdminViewMode_Image" class="CrewCertificateForAdminViewMode_Image">@Html.Raw(crewCertificateForAdminViewModeDelete.Image.Caption)</span></th>
} @* crewCertificateForAdminViewModeDelete.Image.Visible (end) *@
@if (crewCertificateForAdminViewModeDelete.CreatedByUserID.Visible) { // crewCertificateForAdminViewModeDelete.CreatedByUserID.Visible (begin)
        <th class="@Html.Raw(crewCertificateForAdminViewModeDelete.CreatedByUserID.HeaderCellClass)"><span id="elh_CrewCertificateForAdminViewMode_CreatedByUserID" class="CrewCertificateForAdminViewMode_CreatedByUserID">@Html.Raw(crewCertificateForAdminViewModeDelete.CreatedByUserID.Caption)</span></th>
} @* crewCertificateForAdminViewModeDelete.CreatedByUserID.Visible (end) *@
@if (crewCertificateForAdminViewModeDelete.CreatedDateTime.Visible) { // crewCertificateForAdminViewModeDelete.CreatedDateTime.Visible (begin)
        <th class="@Html.Raw(crewCertificateForAdminViewModeDelete.CreatedDateTime.HeaderCellClass)"><span id="elh_CrewCertificateForAdminViewMode_CreatedDateTime" class="CrewCertificateForAdminViewMode_CreatedDateTime">@Html.Raw(crewCertificateForAdminViewModeDelete.CreatedDateTime.Caption)</span></th>
} @* crewCertificateForAdminViewModeDelete.CreatedDateTime.Visible (end) *@
@if (crewCertificateForAdminViewModeDelete.LastUpdatedByUserID.Visible) { // crewCertificateForAdminViewModeDelete.LastUpdatedByUserID.Visible (begin)
        <th class="@Html.Raw(crewCertificateForAdminViewModeDelete.LastUpdatedByUserID.HeaderCellClass)"><span id="elh_CrewCertificateForAdminViewMode_LastUpdatedByUserID" class="CrewCertificateForAdminViewMode_LastUpdatedByUserID">@Html.Raw(crewCertificateForAdminViewModeDelete.LastUpdatedByUserID.Caption)</span></th>
} @* crewCertificateForAdminViewModeDelete.LastUpdatedByUserID.Visible (end) *@
@if (crewCertificateForAdminViewModeDelete.LastUpdatedDateTime.Visible) { // crewCertificateForAdminViewModeDelete.LastUpdatedDateTime.Visible (begin)
        <th class="@Html.Raw(crewCertificateForAdminViewModeDelete.LastUpdatedDateTime.HeaderCellClass)"><span id="elh_CrewCertificateForAdminViewMode_LastUpdatedDateTime" class="CrewCertificateForAdminViewMode_LastUpdatedDateTime">@Html.Raw(crewCertificateForAdminViewModeDelete.LastUpdatedDateTime.Caption)</span></th>
} @* crewCertificateForAdminViewModeDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ crewCertificateForAdminViewModeDelete.RecordCount = 0; }
@while (crewCertificateForAdminViewModeDelete.Recordset != null && await crewCertificateForAdminViewModeDelete.Recordset.ReadAsync()) { // DN
    crewCertificateForAdminViewModeDelete.RecordCount++;
    crewCertificateForAdminViewModeDelete.RowCount++;

    // Set row properties
    crewCertificateForAdminViewModeDelete.ResetAttributes();
    crewCertificateForAdminViewModeDelete.RowType = RowType.View; // View

    // Get the field contents
    await crewCertificateForAdminViewModeDelete.LoadRowValues(crewCertificateForAdminViewModeDelete.Recordset);

    // Render row
    await crewCertificateForAdminViewModeDelete.RenderRow();
    <tr @Html.Raw(crewCertificateForAdminViewModeDelete.RowAttributes)>
@if (crewCertificateForAdminViewModeDelete.MTCrewID.Visible) { // crewCertificateForAdminViewModeDelete.MTCrewID.Visible (begin)
        <td @Html.Raw(crewCertificateForAdminViewModeDelete.MTCrewID.CellAttributes)>
<span id="el@(crewCertificateForAdminViewModeDelete.RowCount)_CrewCertificateForAdminViewMode_MTCrewID" class="el_CrewCertificateForAdminViewMode_MTCrewID">
<span @Html.Raw(crewCertificateForAdminViewModeDelete.MTCrewID.ViewAttributes)>
@Html.Raw(crewCertificateForAdminViewModeDelete.MTCrewID.GetViewValue())</span>
</span></td>
} @* crewCertificateForAdminViewModeDelete.MTCrewID.Visible (end) *@
@if (crewCertificateForAdminViewModeDelete.MTCertificateID.Visible) { // crewCertificateForAdminViewModeDelete.MTCertificateID.Visible (begin)
        <td @Html.Raw(crewCertificateForAdminViewModeDelete.MTCertificateID.CellAttributes)>
<span id="el@(crewCertificateForAdminViewModeDelete.RowCount)_CrewCertificateForAdminViewMode_MTCertificateID" class="el_CrewCertificateForAdminViewMode_MTCertificateID">
<span @Html.Raw(crewCertificateForAdminViewModeDelete.MTCertificateID.ViewAttributes)>
@Html.Raw(crewCertificateForAdminViewModeDelete.MTCertificateID.GetViewValue())</span>
</span></td>
} @* crewCertificateForAdminViewModeDelete.MTCertificateID.Visible (end) *@
@if (crewCertificateForAdminViewModeDelete.CountryOfIssue_CountryID.Visible) { // crewCertificateForAdminViewModeDelete.CountryOfIssue_CountryID.Visible (begin)
        <td @Html.Raw(crewCertificateForAdminViewModeDelete.CountryOfIssue_CountryID.CellAttributes)>
<span id="el@(crewCertificateForAdminViewModeDelete.RowCount)_CrewCertificateForAdminViewMode_CountryOfIssue_CountryID" class="el_CrewCertificateForAdminViewMode_CountryOfIssue_CountryID">
<span @Html.Raw(crewCertificateForAdminViewModeDelete.CountryOfIssue_CountryID.ViewAttributes)>
@Html.Raw(crewCertificateForAdminViewModeDelete.CountryOfIssue_CountryID.GetViewValue())</span>
</span></td>
} @* crewCertificateForAdminViewModeDelete.CountryOfIssue_CountryID.Visible (end) *@
@if (crewCertificateForAdminViewModeDelete.Number.Visible) { // crewCertificateForAdminViewModeDelete.Number.Visible (begin)
        <td @Html.Raw(crewCertificateForAdminViewModeDelete.Number.CellAttributes)>
<span id="el@(crewCertificateForAdminViewModeDelete.RowCount)_CrewCertificateForAdminViewMode_Number" class="el_CrewCertificateForAdminViewMode_Number">
<span @Html.Raw(crewCertificateForAdminViewModeDelete.Number.ViewAttributes)>
@Html.Raw(crewCertificateForAdminViewModeDelete.Number.GetViewValue())</span>
</span></td>
} @* crewCertificateForAdminViewModeDelete.Number.Visible (end) *@
@if (crewCertificateForAdminViewModeDelete.DateOfIssue.Visible) { // crewCertificateForAdminViewModeDelete.DateOfIssue.Visible (begin)
        <td @Html.Raw(crewCertificateForAdminViewModeDelete.DateOfIssue.CellAttributes)>
<span id="el@(crewCertificateForAdminViewModeDelete.RowCount)_CrewCertificateForAdminViewMode_DateOfIssue" class="el_CrewCertificateForAdminViewMode_DateOfIssue">
<span @Html.Raw(crewCertificateForAdminViewModeDelete.DateOfIssue.ViewAttributes)>
@Html.Raw(crewCertificateForAdminViewModeDelete.DateOfIssue.GetViewValue())</span>
</span></td>
} @* crewCertificateForAdminViewModeDelete.DateOfIssue.Visible (end) *@
@if (crewCertificateForAdminViewModeDelete.DateOfExpiry.Visible) { // crewCertificateForAdminViewModeDelete.DateOfExpiry.Visible (begin)
        <td @Html.Raw(crewCertificateForAdminViewModeDelete.DateOfExpiry.CellAttributes)>
<span id="el@(crewCertificateForAdminViewModeDelete.RowCount)_CrewCertificateForAdminViewMode_DateOfExpiry" class="el_CrewCertificateForAdminViewMode_DateOfExpiry">
<span @Html.Raw(crewCertificateForAdminViewModeDelete.DateOfExpiry.ViewAttributes)>
@Html.Raw(crewCertificateForAdminViewModeDelete.DateOfExpiry.GetViewValue())</span>
</span></td>
} @* crewCertificateForAdminViewModeDelete.DateOfExpiry.Visible (end) *@
@if (crewCertificateForAdminViewModeDelete.PlaceOfIssue.Visible) { // crewCertificateForAdminViewModeDelete.PlaceOfIssue.Visible (begin)
        <td @Html.Raw(crewCertificateForAdminViewModeDelete.PlaceOfIssue.CellAttributes)>
<span id="el@(crewCertificateForAdminViewModeDelete.RowCount)_CrewCertificateForAdminViewMode_PlaceOfIssue" class="el_CrewCertificateForAdminViewMode_PlaceOfIssue">
<span @Html.Raw(crewCertificateForAdminViewModeDelete.PlaceOfIssue.ViewAttributes)>
@Html.Raw(crewCertificateForAdminViewModeDelete.PlaceOfIssue.GetViewValue())</span>
</span></td>
} @* crewCertificateForAdminViewModeDelete.PlaceOfIssue.Visible (end) *@
@if (crewCertificateForAdminViewModeDelete.IssuingAuthority.Visible) { // crewCertificateForAdminViewModeDelete.IssuingAuthority.Visible (begin)
        <td @Html.Raw(crewCertificateForAdminViewModeDelete.IssuingAuthority.CellAttributes)>
<span id="el@(crewCertificateForAdminViewModeDelete.RowCount)_CrewCertificateForAdminViewMode_IssuingAuthority" class="el_CrewCertificateForAdminViewMode_IssuingAuthority">
<span @Html.Raw(crewCertificateForAdminViewModeDelete.IssuingAuthority.ViewAttributes)>
@Html.Raw(crewCertificateForAdminViewModeDelete.IssuingAuthority.GetViewValue())</span>
</span></td>
} @* crewCertificateForAdminViewModeDelete.IssuingAuthority.Visible (end) *@
@if (crewCertificateForAdminViewModeDelete.Level.Visible) { // crewCertificateForAdminViewModeDelete.Level.Visible (begin)
        <td @Html.Raw(crewCertificateForAdminViewModeDelete.Level.CellAttributes)>
<span id="el@(crewCertificateForAdminViewModeDelete.RowCount)_CrewCertificateForAdminViewMode_Level" class="el_CrewCertificateForAdminViewMode_Level">
<span @Html.Raw(crewCertificateForAdminViewModeDelete.Level.ViewAttributes)>
@Html.Raw(crewCertificateForAdminViewModeDelete.Level.GetViewValue())</span>
</span></td>
} @* crewCertificateForAdminViewModeDelete.Level.Visible (end) *@
@if (crewCertificateForAdminViewModeDelete.PaxVesselType.Visible) { // crewCertificateForAdminViewModeDelete.PaxVesselType.Visible (begin)
        <td @Html.Raw(crewCertificateForAdminViewModeDelete.PaxVesselType.CellAttributes)>
<span id="el@(crewCertificateForAdminViewModeDelete.RowCount)_CrewCertificateForAdminViewMode_PaxVesselType" class="el_CrewCertificateForAdminViewMode_PaxVesselType">
<span @Html.Raw(crewCertificateForAdminViewModeDelete.PaxVesselType.ViewAttributes)>
@Html.Raw(crewCertificateForAdminViewModeDelete.PaxVesselType.GetViewValue())</span>
</span></td>
} @* crewCertificateForAdminViewModeDelete.PaxVesselType.Visible (end) *@
@if (crewCertificateForAdminViewModeDelete.Image.Visible) { // crewCertificateForAdminViewModeDelete.Image.Visible (begin)
        <td @Html.Raw(crewCertificateForAdminViewModeDelete.Image.CellAttributes)>
<span id="el@(crewCertificateForAdminViewModeDelete.RowCount)_CrewCertificateForAdminViewMode_Image" class="el_CrewCertificateForAdminViewMode_Image">
<span>
@Html.Raw(await GetFileViewTag((DbField)crewCertificateForAdminViewModeDelete.Image, ConvertToString(crewCertificateForAdminViewModeDelete.Image.GetViewValue()), false))
</span>
</span></td>
} @* crewCertificateForAdminViewModeDelete.Image.Visible (end) *@
@if (crewCertificateForAdminViewModeDelete.CreatedByUserID.Visible) { // crewCertificateForAdminViewModeDelete.CreatedByUserID.Visible (begin)
        <td @Html.Raw(crewCertificateForAdminViewModeDelete.CreatedByUserID.CellAttributes)>
<span id="el@(crewCertificateForAdminViewModeDelete.RowCount)_CrewCertificateForAdminViewMode_CreatedByUserID" class="el_CrewCertificateForAdminViewMode_CreatedByUserID">
<span @Html.Raw(crewCertificateForAdminViewModeDelete.CreatedByUserID.ViewAttributes)>
@Html.Raw(crewCertificateForAdminViewModeDelete.CreatedByUserID.GetViewValue())</span>
</span></td>
} @* crewCertificateForAdminViewModeDelete.CreatedByUserID.Visible (end) *@
@if (crewCertificateForAdminViewModeDelete.CreatedDateTime.Visible) { // crewCertificateForAdminViewModeDelete.CreatedDateTime.Visible (begin)
        <td @Html.Raw(crewCertificateForAdminViewModeDelete.CreatedDateTime.CellAttributes)>
<span id="el@(crewCertificateForAdminViewModeDelete.RowCount)_CrewCertificateForAdminViewMode_CreatedDateTime" class="el_CrewCertificateForAdminViewMode_CreatedDateTime">
<span @Html.Raw(crewCertificateForAdminViewModeDelete.CreatedDateTime.ViewAttributes)>
@Html.Raw(crewCertificateForAdminViewModeDelete.CreatedDateTime.GetViewValue())</span>
</span></td>
} @* crewCertificateForAdminViewModeDelete.CreatedDateTime.Visible (end) *@
@if (crewCertificateForAdminViewModeDelete.LastUpdatedByUserID.Visible) { // crewCertificateForAdminViewModeDelete.LastUpdatedByUserID.Visible (begin)
        <td @Html.Raw(crewCertificateForAdminViewModeDelete.LastUpdatedByUserID.CellAttributes)>
<span id="el@(crewCertificateForAdminViewModeDelete.RowCount)_CrewCertificateForAdminViewMode_LastUpdatedByUserID" class="el_CrewCertificateForAdminViewMode_LastUpdatedByUserID">
<span @Html.Raw(crewCertificateForAdminViewModeDelete.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(crewCertificateForAdminViewModeDelete.LastUpdatedByUserID.GetViewValue())</span>
</span></td>
} @* crewCertificateForAdminViewModeDelete.LastUpdatedByUserID.Visible (end) *@
@if (crewCertificateForAdminViewModeDelete.LastUpdatedDateTime.Visible) { // crewCertificateForAdminViewModeDelete.LastUpdatedDateTime.Visible (begin)
        <td @Html.Raw(crewCertificateForAdminViewModeDelete.LastUpdatedDateTime.CellAttributes)>
<span id="el@(crewCertificateForAdminViewModeDelete.RowCount)_CrewCertificateForAdminViewMode_LastUpdatedDateTime" class="el_CrewCertificateForAdminViewMode_LastUpdatedDateTime">
<span @Html.Raw(crewCertificateForAdminViewModeDelete.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(crewCertificateForAdminViewModeDelete.LastUpdatedDateTime.GetViewValue())</span>
</span></td>
} @* crewCertificateForAdminViewModeDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
}
@{ crewCertificateForAdminViewModeDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(crewCertificateForAdminViewModeDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@crewCertificateForAdminViewModeDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
