@{
    // View
    View = this;

    // Check action result
    if (crewExperienceForAdminDelete.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!crewExperienceForAdminDelete.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(crewExperienceForAdminDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { CrewExperienceForAdmin: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fCrewExperienceForAdmindelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fCrewExperienceForAdmindelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@crewExperienceForAdminDelete.ShowPageHeader()
@crewExperienceForAdminDelete.ShowMessages()
<form name="fCrewExperienceForAdmindelete" id="fCrewExperienceForAdmindelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in crewExperienceForAdminDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(crewExperienceForAdminDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(crewExperienceForAdminDelete.TableContainerClass)" style="@(crewExperienceForAdminDelete.TableContainerStyle)">
<table class="@(crewExperienceForAdminDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (crewExperienceForAdminDelete.MTCrewID.Visible) { // crewExperienceForAdminDelete.MTCrewID.Visible (begin)
        <th class="@Html.Raw(crewExperienceForAdminDelete.MTCrewID.HeaderCellClass)"><span id="elh_CrewExperienceForAdmin_MTCrewID" class="CrewExperienceForAdmin_MTCrewID">@Html.Raw(crewExperienceForAdminDelete.MTCrewID.Caption)</span></th>
} @* crewExperienceForAdminDelete.MTCrewID.Visible (end) *@
@if (crewExperienceForAdminDelete.CompanyName.Visible) { // crewExperienceForAdminDelete.CompanyName.Visible (begin)
        <th class="@Html.Raw(crewExperienceForAdminDelete.CompanyName.HeaderCellClass)"><span id="elh_CrewExperienceForAdmin_CompanyName" class="CrewExperienceForAdmin_CompanyName">@Html.Raw(crewExperienceForAdminDelete.CompanyName.Caption)</span></th>
} @* crewExperienceForAdminDelete.CompanyName.Visible (end) *@
@if (crewExperienceForAdminDelete.FlagName_CountryID.Visible) { // crewExperienceForAdminDelete.FlagName_CountryID.Visible (begin)
        <th class="@Html.Raw(crewExperienceForAdminDelete.FlagName_CountryID.HeaderCellClass)"><span id="elh_CrewExperienceForAdmin_FlagName_CountryID" class="CrewExperienceForAdmin_FlagName_CountryID">@Html.Raw(crewExperienceForAdminDelete.FlagName_CountryID.Caption)</span></th>
} @* crewExperienceForAdminDelete.FlagName_CountryID.Visible (end) *@
@if (crewExperienceForAdminDelete.VesselName.Visible) { // crewExperienceForAdminDelete.VesselName.Visible (begin)
        <th class="@Html.Raw(crewExperienceForAdminDelete.VesselName.HeaderCellClass)"><span id="elh_CrewExperienceForAdmin_VesselName" class="CrewExperienceForAdmin_VesselName">@Html.Raw(crewExperienceForAdminDelete.VesselName.Caption)</span></th>
} @* crewExperienceForAdminDelete.VesselName.Visible (end) *@
@if (crewExperienceForAdminDelete.MTVesselTypeID.Visible) { // crewExperienceForAdminDelete.MTVesselTypeID.Visible (begin)
        <th class="@Html.Raw(crewExperienceForAdminDelete.MTVesselTypeID.HeaderCellClass)"><span id="elh_CrewExperienceForAdmin_MTVesselTypeID" class="CrewExperienceForAdmin_MTVesselTypeID">@Html.Raw(crewExperienceForAdminDelete.MTVesselTypeID.Caption)</span></th>
} @* crewExperienceForAdminDelete.MTVesselTypeID.Visible (end) *@
@if (crewExperienceForAdminDelete.GRT.Visible) { // crewExperienceForAdminDelete.GRT.Visible (begin)
        <th class="@Html.Raw(crewExperienceForAdminDelete.GRT.HeaderCellClass)"><span id="elh_CrewExperienceForAdmin_GRT" class="CrewExperienceForAdmin_GRT">@Html.Raw(crewExperienceForAdminDelete.GRT.Caption)</span></th>
} @* crewExperienceForAdminDelete.GRT.Visible (end) *@
@if (crewExperienceForAdminDelete.DWT.Visible) { // crewExperienceForAdminDelete.DWT.Visible (begin)
        <th class="@Html.Raw(crewExperienceForAdminDelete.DWT.HeaderCellClass)"><span id="elh_CrewExperienceForAdmin_DWT" class="CrewExperienceForAdmin_DWT">@Html.Raw(crewExperienceForAdminDelete.DWT.Caption)</span></th>
} @* crewExperienceForAdminDelete.DWT.Visible (end) *@
@if (crewExperienceForAdminDelete.MainEngine.Visible) { // crewExperienceForAdminDelete.MainEngine.Visible (begin)
        <th class="@Html.Raw(crewExperienceForAdminDelete.MainEngine.HeaderCellClass)"><span id="elh_CrewExperienceForAdmin_MainEngine" class="CrewExperienceForAdmin_MainEngine">@Html.Raw(crewExperienceForAdminDelete.MainEngine.Caption)</span></th>
} @* crewExperienceForAdminDelete.MainEngine.Visible (end) *@
@if (crewExperienceForAdminDelete.BHP.Visible) { // crewExperienceForAdminDelete.BHP.Visible (begin)
        <th class="@Html.Raw(crewExperienceForAdminDelete.BHP.HeaderCellClass)"><span id="elh_CrewExperienceForAdmin_BHP" class="CrewExperienceForAdmin_BHP">@Html.Raw(crewExperienceForAdminDelete.BHP.Caption)</span></th>
} @* crewExperienceForAdminDelete.BHP.Visible (end) *@
@if (crewExperienceForAdminDelete.MTRankID.Visible) { // crewExperienceForAdminDelete.MTRankID.Visible (begin)
        <th class="@Html.Raw(crewExperienceForAdminDelete.MTRankID.HeaderCellClass)"><span id="elh_CrewExperienceForAdmin_MTRankID" class="CrewExperienceForAdmin_MTRankID">@Html.Raw(crewExperienceForAdminDelete.MTRankID.Caption)</span></th>
} @* crewExperienceForAdminDelete.MTRankID.Visible (end) *@
@if (crewExperienceForAdminDelete.DateFrom.Visible) { // crewExperienceForAdminDelete.DateFrom.Visible (begin)
        <th class="@Html.Raw(crewExperienceForAdminDelete.DateFrom.HeaderCellClass)"><span id="elh_CrewExperienceForAdmin_DateFrom" class="CrewExperienceForAdmin_DateFrom">@Html.Raw(crewExperienceForAdminDelete.DateFrom.Caption)</span></th>
} @* crewExperienceForAdminDelete.DateFrom.Visible (end) *@
@if (crewExperienceForAdminDelete.DateUntil.Visible) { // crewExperienceForAdminDelete.DateUntil.Visible (begin)
        <th class="@Html.Raw(crewExperienceForAdminDelete.DateUntil.HeaderCellClass)"><span id="elh_CrewExperienceForAdmin_DateUntil" class="CrewExperienceForAdmin_DateUntil">@Html.Raw(crewExperienceForAdminDelete.DateUntil.Caption)</span></th>
} @* crewExperienceForAdminDelete.DateUntil.Visible (end) *@
@if (crewExperienceForAdminDelete.CreatedByUserID.Visible) { // crewExperienceForAdminDelete.CreatedByUserID.Visible (begin)
        <th class="@Html.Raw(crewExperienceForAdminDelete.CreatedByUserID.HeaderCellClass)"><span id="elh_CrewExperienceForAdmin_CreatedByUserID" class="CrewExperienceForAdmin_CreatedByUserID">@Html.Raw(crewExperienceForAdminDelete.CreatedByUserID.Caption)</span></th>
} @* crewExperienceForAdminDelete.CreatedByUserID.Visible (end) *@
@if (crewExperienceForAdminDelete.CreatedDateTime.Visible) { // crewExperienceForAdminDelete.CreatedDateTime.Visible (begin)
        <th class="@Html.Raw(crewExperienceForAdminDelete.CreatedDateTime.HeaderCellClass)"><span id="elh_CrewExperienceForAdmin_CreatedDateTime" class="CrewExperienceForAdmin_CreatedDateTime">@Html.Raw(crewExperienceForAdminDelete.CreatedDateTime.Caption)</span></th>
} @* crewExperienceForAdminDelete.CreatedDateTime.Visible (end) *@
@if (crewExperienceForAdminDelete.LastUpdatedByUserID.Visible) { // crewExperienceForAdminDelete.LastUpdatedByUserID.Visible (begin)
        <th class="@Html.Raw(crewExperienceForAdminDelete.LastUpdatedByUserID.HeaderCellClass)"><span id="elh_CrewExperienceForAdmin_LastUpdatedByUserID" class="CrewExperienceForAdmin_LastUpdatedByUserID">@Html.Raw(crewExperienceForAdminDelete.LastUpdatedByUserID.Caption)</span></th>
} @* crewExperienceForAdminDelete.LastUpdatedByUserID.Visible (end) *@
@if (crewExperienceForAdminDelete.LastUpdatedDateTime.Visible) { // crewExperienceForAdminDelete.LastUpdatedDateTime.Visible (begin)
        <th class="@Html.Raw(crewExperienceForAdminDelete.LastUpdatedDateTime.HeaderCellClass)"><span id="elh_CrewExperienceForAdmin_LastUpdatedDateTime" class="CrewExperienceForAdmin_LastUpdatedDateTime">@Html.Raw(crewExperienceForAdminDelete.LastUpdatedDateTime.Caption)</span></th>
} @* crewExperienceForAdminDelete.LastUpdatedDateTime.Visible (end) *@
@if (crewExperienceForAdminDelete.SignOnPortName.Visible) { // crewExperienceForAdminDelete.SignOnPortName.Visible (begin)
        <th class="@Html.Raw(crewExperienceForAdminDelete.SignOnPortName.HeaderCellClass)"><span id="elh_CrewExperienceForAdmin_SignOnPortName" class="CrewExperienceForAdmin_SignOnPortName">@Html.Raw(crewExperienceForAdminDelete.SignOnPortName.Caption)</span></th>
} @* crewExperienceForAdminDelete.SignOnPortName.Visible (end) *@
@if (crewExperienceForAdminDelete.SignOffPortName.Visible) { // crewExperienceForAdminDelete.SignOffPortName.Visible (begin)
        <th class="@Html.Raw(crewExperienceForAdminDelete.SignOffPortName.HeaderCellClass)"><span id="elh_CrewExperienceForAdmin_SignOffPortName" class="CrewExperienceForAdmin_SignOffPortName">@Html.Raw(crewExperienceForAdminDelete.SignOffPortName.Caption)</span></th>
} @* crewExperienceForAdminDelete.SignOffPortName.Visible (end) *@
@if (crewExperienceForAdminDelete.SignOffReason.Visible) { // crewExperienceForAdminDelete.SignOffReason.Visible (begin)
        <th class="@Html.Raw(crewExperienceForAdminDelete.SignOffReason.HeaderCellClass)"><span id="elh_CrewExperienceForAdmin_SignOffReason" class="CrewExperienceForAdmin_SignOffReason">@Html.Raw(crewExperienceForAdminDelete.SignOffReason.Caption)</span></th>
} @* crewExperienceForAdminDelete.SignOffReason.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ crewExperienceForAdminDelete.RecordCount = 0; }
@while (crewExperienceForAdminDelete.Recordset != null && await crewExperienceForAdminDelete.Recordset.ReadAsync()) { // DN
    crewExperienceForAdminDelete.RecordCount++;
    crewExperienceForAdminDelete.RowCount++;

    // Set row properties
    crewExperienceForAdminDelete.ResetAttributes();
    crewExperienceForAdminDelete.RowType = RowType.View; // View

    // Get the field contents
    await crewExperienceForAdminDelete.LoadRowValues(crewExperienceForAdminDelete.Recordset);

    // Render row
    await crewExperienceForAdminDelete.RenderRow();
    <tr @Html.Raw(crewExperienceForAdminDelete.RowAttributes)>
@if (crewExperienceForAdminDelete.MTCrewID.Visible) { // crewExperienceForAdminDelete.MTCrewID.Visible (begin)
        <td @Html.Raw(crewExperienceForAdminDelete.MTCrewID.CellAttributes)>
<span id="el@(crewExperienceForAdminDelete.RowCount)_CrewExperienceForAdmin_MTCrewID" class="el_CrewExperienceForAdmin_MTCrewID">
<span @Html.Raw(crewExperienceForAdminDelete.MTCrewID.ViewAttributes)>
@Html.Raw(crewExperienceForAdminDelete.MTCrewID.GetViewValue())</span>
</span></td>
} @* crewExperienceForAdminDelete.MTCrewID.Visible (end) *@
@if (crewExperienceForAdminDelete.CompanyName.Visible) { // crewExperienceForAdminDelete.CompanyName.Visible (begin)
        <td @Html.Raw(crewExperienceForAdminDelete.CompanyName.CellAttributes)>
<span id="el@(crewExperienceForAdminDelete.RowCount)_CrewExperienceForAdmin_CompanyName" class="el_CrewExperienceForAdmin_CompanyName">
<span @Html.Raw(crewExperienceForAdminDelete.CompanyName.ViewAttributes)>
@Html.Raw(crewExperienceForAdminDelete.CompanyName.GetViewValue())</span>
</span></td>
} @* crewExperienceForAdminDelete.CompanyName.Visible (end) *@
@if (crewExperienceForAdminDelete.FlagName_CountryID.Visible) { // crewExperienceForAdminDelete.FlagName_CountryID.Visible (begin)
        <td @Html.Raw(crewExperienceForAdminDelete.FlagName_CountryID.CellAttributes)>
<span id="el@(crewExperienceForAdminDelete.RowCount)_CrewExperienceForAdmin_FlagName_CountryID" class="el_CrewExperienceForAdmin_FlagName_CountryID">
<span @Html.Raw(crewExperienceForAdminDelete.FlagName_CountryID.ViewAttributes)>
@Html.Raw(crewExperienceForAdminDelete.FlagName_CountryID.GetViewValue())</span>
</span></td>
} @* crewExperienceForAdminDelete.FlagName_CountryID.Visible (end) *@
@if (crewExperienceForAdminDelete.VesselName.Visible) { // crewExperienceForAdminDelete.VesselName.Visible (begin)
        <td @Html.Raw(crewExperienceForAdminDelete.VesselName.CellAttributes)>
<span id="el@(crewExperienceForAdminDelete.RowCount)_CrewExperienceForAdmin_VesselName" class="el_CrewExperienceForAdmin_VesselName">
<span @Html.Raw(crewExperienceForAdminDelete.VesselName.ViewAttributes)>
@Html.Raw(crewExperienceForAdminDelete.VesselName.GetViewValue())</span>
</span></td>
} @* crewExperienceForAdminDelete.VesselName.Visible (end) *@
@if (crewExperienceForAdminDelete.MTVesselTypeID.Visible) { // crewExperienceForAdminDelete.MTVesselTypeID.Visible (begin)
        <td @Html.Raw(crewExperienceForAdminDelete.MTVesselTypeID.CellAttributes)>
<span id="el@(crewExperienceForAdminDelete.RowCount)_CrewExperienceForAdmin_MTVesselTypeID" class="el_CrewExperienceForAdmin_MTVesselTypeID">
<span @Html.Raw(crewExperienceForAdminDelete.MTVesselTypeID.ViewAttributes)>
@Html.Raw(crewExperienceForAdminDelete.MTVesselTypeID.GetViewValue())</span>
</span></td>
} @* crewExperienceForAdminDelete.MTVesselTypeID.Visible (end) *@
@if (crewExperienceForAdminDelete.GRT.Visible) { // crewExperienceForAdminDelete.GRT.Visible (begin)
        <td @Html.Raw(crewExperienceForAdminDelete.GRT.CellAttributes)>
<span id="el@(crewExperienceForAdminDelete.RowCount)_CrewExperienceForAdmin_GRT" class="el_CrewExperienceForAdmin_GRT">
<span @Html.Raw(crewExperienceForAdminDelete.GRT.ViewAttributes)>
@Html.Raw(crewExperienceForAdminDelete.GRT.GetViewValue())</span>
</span></td>
} @* crewExperienceForAdminDelete.GRT.Visible (end) *@
@if (crewExperienceForAdminDelete.DWT.Visible) { // crewExperienceForAdminDelete.DWT.Visible (begin)
        <td @Html.Raw(crewExperienceForAdminDelete.DWT.CellAttributes)>
<span id="el@(crewExperienceForAdminDelete.RowCount)_CrewExperienceForAdmin_DWT" class="el_CrewExperienceForAdmin_DWT">
<span @Html.Raw(crewExperienceForAdminDelete.DWT.ViewAttributes)>
@Html.Raw(crewExperienceForAdminDelete.DWT.GetViewValue())</span>
</span></td>
} @* crewExperienceForAdminDelete.DWT.Visible (end) *@
@if (crewExperienceForAdminDelete.MainEngine.Visible) { // crewExperienceForAdminDelete.MainEngine.Visible (begin)
        <td @Html.Raw(crewExperienceForAdminDelete.MainEngine.CellAttributes)>
<span id="el@(crewExperienceForAdminDelete.RowCount)_CrewExperienceForAdmin_MainEngine" class="el_CrewExperienceForAdmin_MainEngine">
<span @Html.Raw(crewExperienceForAdminDelete.MainEngine.ViewAttributes)>
@Html.Raw(crewExperienceForAdminDelete.MainEngine.GetViewValue())</span>
</span></td>
} @* crewExperienceForAdminDelete.MainEngine.Visible (end) *@
@if (crewExperienceForAdminDelete.BHP.Visible) { // crewExperienceForAdminDelete.BHP.Visible (begin)
        <td @Html.Raw(crewExperienceForAdminDelete.BHP.CellAttributes)>
<span id="el@(crewExperienceForAdminDelete.RowCount)_CrewExperienceForAdmin_BHP" class="el_CrewExperienceForAdmin_BHP">
<span @Html.Raw(crewExperienceForAdminDelete.BHP.ViewAttributes)>
@Html.Raw(crewExperienceForAdminDelete.BHP.GetViewValue())</span>
</span></td>
} @* crewExperienceForAdminDelete.BHP.Visible (end) *@
@if (crewExperienceForAdminDelete.MTRankID.Visible) { // crewExperienceForAdminDelete.MTRankID.Visible (begin)
        <td @Html.Raw(crewExperienceForAdminDelete.MTRankID.CellAttributes)>
<span id="el@(crewExperienceForAdminDelete.RowCount)_CrewExperienceForAdmin_MTRankID" class="el_CrewExperienceForAdmin_MTRankID">
<span @Html.Raw(crewExperienceForAdminDelete.MTRankID.ViewAttributes)>
@Html.Raw(crewExperienceForAdminDelete.MTRankID.GetViewValue())</span>
</span></td>
} @* crewExperienceForAdminDelete.MTRankID.Visible (end) *@
@if (crewExperienceForAdminDelete.DateFrom.Visible) { // crewExperienceForAdminDelete.DateFrom.Visible (begin)
        <td @Html.Raw(crewExperienceForAdminDelete.DateFrom.CellAttributes)>
<span id="el@(crewExperienceForAdminDelete.RowCount)_CrewExperienceForAdmin_DateFrom" class="el_CrewExperienceForAdmin_DateFrom">
<span @Html.Raw(crewExperienceForAdminDelete.DateFrom.ViewAttributes)>
@Html.Raw(crewExperienceForAdminDelete.DateFrom.GetViewValue())</span>
</span></td>
} @* crewExperienceForAdminDelete.DateFrom.Visible (end) *@
@if (crewExperienceForAdminDelete.DateUntil.Visible) { // crewExperienceForAdminDelete.DateUntil.Visible (begin)
        <td @Html.Raw(crewExperienceForAdminDelete.DateUntil.CellAttributes)>
<span id="el@(crewExperienceForAdminDelete.RowCount)_CrewExperienceForAdmin_DateUntil" class="el_CrewExperienceForAdmin_DateUntil">
<span @Html.Raw(crewExperienceForAdminDelete.DateUntil.ViewAttributes)>
@Html.Raw(crewExperienceForAdminDelete.DateUntil.GetViewValue())</span>
</span></td>
} @* crewExperienceForAdminDelete.DateUntil.Visible (end) *@
@if (crewExperienceForAdminDelete.CreatedByUserID.Visible) { // crewExperienceForAdminDelete.CreatedByUserID.Visible (begin)
        <td @Html.Raw(crewExperienceForAdminDelete.CreatedByUserID.CellAttributes)>
<span id="el@(crewExperienceForAdminDelete.RowCount)_CrewExperienceForAdmin_CreatedByUserID" class="el_CrewExperienceForAdmin_CreatedByUserID">
<span @Html.Raw(crewExperienceForAdminDelete.CreatedByUserID.ViewAttributes)>
@Html.Raw(crewExperienceForAdminDelete.CreatedByUserID.GetViewValue())</span>
</span></td>
} @* crewExperienceForAdminDelete.CreatedByUserID.Visible (end) *@
@if (crewExperienceForAdminDelete.CreatedDateTime.Visible) { // crewExperienceForAdminDelete.CreatedDateTime.Visible (begin)
        <td @Html.Raw(crewExperienceForAdminDelete.CreatedDateTime.CellAttributes)>
<span id="el@(crewExperienceForAdminDelete.RowCount)_CrewExperienceForAdmin_CreatedDateTime" class="el_CrewExperienceForAdmin_CreatedDateTime">
<span @Html.Raw(crewExperienceForAdminDelete.CreatedDateTime.ViewAttributes)>
@Html.Raw(crewExperienceForAdminDelete.CreatedDateTime.GetViewValue())</span>
</span></td>
} @* crewExperienceForAdminDelete.CreatedDateTime.Visible (end) *@
@if (crewExperienceForAdminDelete.LastUpdatedByUserID.Visible) { // crewExperienceForAdminDelete.LastUpdatedByUserID.Visible (begin)
        <td @Html.Raw(crewExperienceForAdminDelete.LastUpdatedByUserID.CellAttributes)>
<span id="el@(crewExperienceForAdminDelete.RowCount)_CrewExperienceForAdmin_LastUpdatedByUserID" class="el_CrewExperienceForAdmin_LastUpdatedByUserID">
<span @Html.Raw(crewExperienceForAdminDelete.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(crewExperienceForAdminDelete.LastUpdatedByUserID.GetViewValue())</span>
</span></td>
} @* crewExperienceForAdminDelete.LastUpdatedByUserID.Visible (end) *@
@if (crewExperienceForAdminDelete.LastUpdatedDateTime.Visible) { // crewExperienceForAdminDelete.LastUpdatedDateTime.Visible (begin)
        <td @Html.Raw(crewExperienceForAdminDelete.LastUpdatedDateTime.CellAttributes)>
<span id="el@(crewExperienceForAdminDelete.RowCount)_CrewExperienceForAdmin_LastUpdatedDateTime" class="el_CrewExperienceForAdmin_LastUpdatedDateTime">
<span @Html.Raw(crewExperienceForAdminDelete.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(crewExperienceForAdminDelete.LastUpdatedDateTime.GetViewValue())</span>
</span></td>
} @* crewExperienceForAdminDelete.LastUpdatedDateTime.Visible (end) *@
@if (crewExperienceForAdminDelete.SignOnPortName.Visible) { // crewExperienceForAdminDelete.SignOnPortName.Visible (begin)
        <td @Html.Raw(crewExperienceForAdminDelete.SignOnPortName.CellAttributes)>
<span id="el@(crewExperienceForAdminDelete.RowCount)_CrewExperienceForAdmin_SignOnPortName" class="el_CrewExperienceForAdmin_SignOnPortName">
<span @Html.Raw(crewExperienceForAdminDelete.SignOnPortName.ViewAttributes)>
@Html.Raw(crewExperienceForAdminDelete.SignOnPortName.GetViewValue())</span>
</span></td>
} @* crewExperienceForAdminDelete.SignOnPortName.Visible (end) *@
@if (crewExperienceForAdminDelete.SignOffPortName.Visible) { // crewExperienceForAdminDelete.SignOffPortName.Visible (begin)
        <td @Html.Raw(crewExperienceForAdminDelete.SignOffPortName.CellAttributes)>
<span id="el@(crewExperienceForAdminDelete.RowCount)_CrewExperienceForAdmin_SignOffPortName" class="el_CrewExperienceForAdmin_SignOffPortName">
<span @Html.Raw(crewExperienceForAdminDelete.SignOffPortName.ViewAttributes)>
@Html.Raw(crewExperienceForAdminDelete.SignOffPortName.GetViewValue())</span>
</span></td>
} @* crewExperienceForAdminDelete.SignOffPortName.Visible (end) *@
@if (crewExperienceForAdminDelete.SignOffReason.Visible) { // crewExperienceForAdminDelete.SignOffReason.Visible (begin)
        <td @Html.Raw(crewExperienceForAdminDelete.SignOffReason.CellAttributes)>
<span id="el@(crewExperienceForAdminDelete.RowCount)_CrewExperienceForAdmin_SignOffReason" class="el_CrewExperienceForAdmin_SignOffReason">
<span @Html.Raw(crewExperienceForAdminDelete.SignOffReason.ViewAttributes)>
@Html.Raw(crewExperienceForAdminDelete.SignOffReason.GetViewValue())</span>
</span></td>
} @* crewExperienceForAdminDelete.SignOffReason.Visible (end) *@
    </tr>
}
@{ crewExperienceForAdminDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(crewExperienceForAdminDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@crewExperienceForAdminDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
