@{
    // View
    View = this;

    // Check action result
    if (crewFormalEducationForAdminDelete.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!crewFormalEducationForAdminDelete.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(crewFormalEducationForAdminDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { CrewFormalEducationForAdmin: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fCrewFormalEducationForAdmindelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fCrewFormalEducationForAdmindelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@crewFormalEducationForAdminDelete.ShowPageHeader()
@crewFormalEducationForAdminDelete.ShowMessages()
<form name="fCrewFormalEducationForAdmindelete" id="fCrewFormalEducationForAdmindelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in crewFormalEducationForAdminDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(crewFormalEducationForAdminDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(crewFormalEducationForAdminDelete.TableContainerClass)" style="@(crewFormalEducationForAdminDelete.TableContainerStyle)">
<table class="@(crewFormalEducationForAdminDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (crewFormalEducationForAdminDelete.EducationLevel.Visible) { // crewFormalEducationForAdminDelete.EducationLevel.Visible (begin)
        <th class="@Html.Raw(crewFormalEducationForAdminDelete.EducationLevel.HeaderCellClass)"><span id="elh_CrewFormalEducationForAdmin_EducationLevel" class="CrewFormalEducationForAdmin_EducationLevel">@Html.Raw(crewFormalEducationForAdminDelete.EducationLevel.Caption)</span></th>
} @* crewFormalEducationForAdminDelete.EducationLevel.Visible (end) *@
@if (crewFormalEducationForAdminDelete.SchoolName.Visible) { // crewFormalEducationForAdminDelete.SchoolName.Visible (begin)
        <th class="@Html.Raw(crewFormalEducationForAdminDelete.SchoolName.HeaderCellClass)"><span id="elh_CrewFormalEducationForAdmin_SchoolName" class="CrewFormalEducationForAdmin_SchoolName">@Html.Raw(crewFormalEducationForAdminDelete.SchoolName.Caption)</span></th>
} @* crewFormalEducationForAdminDelete.SchoolName.Visible (end) *@
@if (crewFormalEducationForAdminDelete.City.Visible) { // crewFormalEducationForAdminDelete.City.Visible (begin)
        <th class="@Html.Raw(crewFormalEducationForAdminDelete.City.HeaderCellClass)"><span id="elh_CrewFormalEducationForAdmin_City" class="CrewFormalEducationForAdmin_City">@Html.Raw(crewFormalEducationForAdminDelete.City.Caption)</span></th>
} @* crewFormalEducationForAdminDelete.City.Visible (end) *@
@if (crewFormalEducationForAdminDelete.Attachment.Visible) { // crewFormalEducationForAdminDelete.Attachment.Visible (begin)
        <th class="@Html.Raw(crewFormalEducationForAdminDelete.Attachment.HeaderCellClass)"><span id="elh_CrewFormalEducationForAdmin_Attachment" class="CrewFormalEducationForAdmin_Attachment">@Html.Raw(crewFormalEducationForAdminDelete.Attachment.Caption)</span></th>
} @* crewFormalEducationForAdminDelete.Attachment.Visible (end) *@
@if (crewFormalEducationForAdminDelete.StartDate.Visible) { // crewFormalEducationForAdminDelete.StartDate.Visible (begin)
        <th class="@Html.Raw(crewFormalEducationForAdminDelete.StartDate.HeaderCellClass)"><span id="elh_CrewFormalEducationForAdmin_StartDate" class="CrewFormalEducationForAdmin_StartDate">@Html.Raw(crewFormalEducationForAdminDelete.StartDate.Caption)</span></th>
} @* crewFormalEducationForAdminDelete.StartDate.Visible (end) *@
@if (crewFormalEducationForAdminDelete.EndDate.Visible) { // crewFormalEducationForAdminDelete.EndDate.Visible (begin)
        <th class="@Html.Raw(crewFormalEducationForAdminDelete.EndDate.HeaderCellClass)"><span id="elh_CrewFormalEducationForAdmin_EndDate" class="CrewFormalEducationForAdmin_EndDate">@Html.Raw(crewFormalEducationForAdminDelete.EndDate.Caption)</span></th>
} @* crewFormalEducationForAdminDelete.EndDate.Visible (end) *@
@if (crewFormalEducationForAdminDelete.MTCrewID.Visible) { // crewFormalEducationForAdminDelete.MTCrewID.Visible (begin)
        <th class="@Html.Raw(crewFormalEducationForAdminDelete.MTCrewID.HeaderCellClass)"><span id="elh_CrewFormalEducationForAdmin_MTCrewID" class="CrewFormalEducationForAdmin_MTCrewID">@Html.Raw(crewFormalEducationForAdminDelete.MTCrewID.Caption)</span></th>
} @* crewFormalEducationForAdminDelete.MTCrewID.Visible (end) *@
@if (crewFormalEducationForAdminDelete.CreatedByUserID.Visible) { // crewFormalEducationForAdminDelete.CreatedByUserID.Visible (begin)
        <th class="@Html.Raw(crewFormalEducationForAdminDelete.CreatedByUserID.HeaderCellClass)"><span id="elh_CrewFormalEducationForAdmin_CreatedByUserID" class="CrewFormalEducationForAdmin_CreatedByUserID">@Html.Raw(crewFormalEducationForAdminDelete.CreatedByUserID.Caption)</span></th>
} @* crewFormalEducationForAdminDelete.CreatedByUserID.Visible (end) *@
@if (crewFormalEducationForAdminDelete.CreatedDateTime.Visible) { // crewFormalEducationForAdminDelete.CreatedDateTime.Visible (begin)
        <th class="@Html.Raw(crewFormalEducationForAdminDelete.CreatedDateTime.HeaderCellClass)"><span id="elh_CrewFormalEducationForAdmin_CreatedDateTime" class="CrewFormalEducationForAdmin_CreatedDateTime">@Html.Raw(crewFormalEducationForAdminDelete.CreatedDateTime.Caption)</span></th>
} @* crewFormalEducationForAdminDelete.CreatedDateTime.Visible (end) *@
@if (crewFormalEducationForAdminDelete.LastUpdatedByUserID.Visible) { // crewFormalEducationForAdminDelete.LastUpdatedByUserID.Visible (begin)
        <th class="@Html.Raw(crewFormalEducationForAdminDelete.LastUpdatedByUserID.HeaderCellClass)"><span id="elh_CrewFormalEducationForAdmin_LastUpdatedByUserID" class="CrewFormalEducationForAdmin_LastUpdatedByUserID">@Html.Raw(crewFormalEducationForAdminDelete.LastUpdatedByUserID.Caption)</span></th>
} @* crewFormalEducationForAdminDelete.LastUpdatedByUserID.Visible (end) *@
@if (crewFormalEducationForAdminDelete.LastUpdatedDateTime.Visible) { // crewFormalEducationForAdminDelete.LastUpdatedDateTime.Visible (begin)
        <th class="@Html.Raw(crewFormalEducationForAdminDelete.LastUpdatedDateTime.HeaderCellClass)"><span id="elh_CrewFormalEducationForAdmin_LastUpdatedDateTime" class="CrewFormalEducationForAdmin_LastUpdatedDateTime">@Html.Raw(crewFormalEducationForAdminDelete.LastUpdatedDateTime.Caption)</span></th>
} @* crewFormalEducationForAdminDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ crewFormalEducationForAdminDelete.RecordCount = 0; }
@while (crewFormalEducationForAdminDelete.Recordset != null && await crewFormalEducationForAdminDelete.Recordset.ReadAsync()) { // DN
    crewFormalEducationForAdminDelete.RecordCount++;
    crewFormalEducationForAdminDelete.RowCount++;

    // Set row properties
    crewFormalEducationForAdminDelete.ResetAttributes();
    crewFormalEducationForAdminDelete.RowType = RowType.View; // View

    // Get the field contents
    await crewFormalEducationForAdminDelete.LoadRowValues(crewFormalEducationForAdminDelete.Recordset);

    // Render row
    await crewFormalEducationForAdminDelete.RenderRow();
    <tr @Html.Raw(crewFormalEducationForAdminDelete.RowAttributes)>
@if (crewFormalEducationForAdminDelete.EducationLevel.Visible) { // crewFormalEducationForAdminDelete.EducationLevel.Visible (begin)
        <td @Html.Raw(crewFormalEducationForAdminDelete.EducationLevel.CellAttributes)>
<span id="el@(crewFormalEducationForAdminDelete.RowCount)_CrewFormalEducationForAdmin_EducationLevel" class="el_CrewFormalEducationForAdmin_EducationLevel">
<span @Html.Raw(crewFormalEducationForAdminDelete.EducationLevel.ViewAttributes)>
@Html.Raw(crewFormalEducationForAdminDelete.EducationLevel.GetViewValue())</span>
</span></td>
} @* crewFormalEducationForAdminDelete.EducationLevel.Visible (end) *@
@if (crewFormalEducationForAdminDelete.SchoolName.Visible) { // crewFormalEducationForAdminDelete.SchoolName.Visible (begin)
        <td @Html.Raw(crewFormalEducationForAdminDelete.SchoolName.CellAttributes)>
<span id="el@(crewFormalEducationForAdminDelete.RowCount)_CrewFormalEducationForAdmin_SchoolName" class="el_CrewFormalEducationForAdmin_SchoolName">
<span @Html.Raw(crewFormalEducationForAdminDelete.SchoolName.ViewAttributes)>
@Html.Raw(crewFormalEducationForAdminDelete.SchoolName.GetViewValue())</span>
</span></td>
} @* crewFormalEducationForAdminDelete.SchoolName.Visible (end) *@
@if (crewFormalEducationForAdminDelete.City.Visible) { // crewFormalEducationForAdminDelete.City.Visible (begin)
        <td @Html.Raw(crewFormalEducationForAdminDelete.City.CellAttributes)>
<span id="el@(crewFormalEducationForAdminDelete.RowCount)_CrewFormalEducationForAdmin_City" class="el_CrewFormalEducationForAdmin_City">
<span @Html.Raw(crewFormalEducationForAdminDelete.City.ViewAttributes)>
@Html.Raw(crewFormalEducationForAdminDelete.City.GetViewValue())</span>
</span></td>
} @* crewFormalEducationForAdminDelete.City.Visible (end) *@
@if (crewFormalEducationForAdminDelete.Attachment.Visible) { // crewFormalEducationForAdminDelete.Attachment.Visible (begin)
        <td @Html.Raw(crewFormalEducationForAdminDelete.Attachment.CellAttributes)>
<span id="el@(crewFormalEducationForAdminDelete.RowCount)_CrewFormalEducationForAdmin_Attachment" class="el_CrewFormalEducationForAdmin_Attachment">
<span>
@Html.Raw(await GetFileViewTag((DbField)crewFormalEducationForAdminDelete.Attachment, ConvertToString(crewFormalEducationForAdminDelete.Attachment.GetViewValue()), false))
</span>
</span></td>
} @* crewFormalEducationForAdminDelete.Attachment.Visible (end) *@
@if (crewFormalEducationForAdminDelete.StartDate.Visible) { // crewFormalEducationForAdminDelete.StartDate.Visible (begin)
        <td @Html.Raw(crewFormalEducationForAdminDelete.StartDate.CellAttributes)>
<span id="el@(crewFormalEducationForAdminDelete.RowCount)_CrewFormalEducationForAdmin_StartDate" class="el_CrewFormalEducationForAdmin_StartDate">
<span @Html.Raw(crewFormalEducationForAdminDelete.StartDate.ViewAttributes)>
@Html.Raw(crewFormalEducationForAdminDelete.StartDate.GetViewValue())</span>
</span></td>
} @* crewFormalEducationForAdminDelete.StartDate.Visible (end) *@
@if (crewFormalEducationForAdminDelete.EndDate.Visible) { // crewFormalEducationForAdminDelete.EndDate.Visible (begin)
        <td @Html.Raw(crewFormalEducationForAdminDelete.EndDate.CellAttributes)>
<span id="el@(crewFormalEducationForAdminDelete.RowCount)_CrewFormalEducationForAdmin_EndDate" class="el_CrewFormalEducationForAdmin_EndDate">
<span @Html.Raw(crewFormalEducationForAdminDelete.EndDate.ViewAttributes)>
@Html.Raw(crewFormalEducationForAdminDelete.EndDate.GetViewValue())</span>
</span></td>
} @* crewFormalEducationForAdminDelete.EndDate.Visible (end) *@
@if (crewFormalEducationForAdminDelete.MTCrewID.Visible) { // crewFormalEducationForAdminDelete.MTCrewID.Visible (begin)
        <td @Html.Raw(crewFormalEducationForAdminDelete.MTCrewID.CellAttributes)>
<span id="el@(crewFormalEducationForAdminDelete.RowCount)_CrewFormalEducationForAdmin_MTCrewID" class="el_CrewFormalEducationForAdmin_MTCrewID">
<span @Html.Raw(crewFormalEducationForAdminDelete.MTCrewID.ViewAttributes)>
@Html.Raw(crewFormalEducationForAdminDelete.MTCrewID.GetViewValue())</span>
</span></td>
} @* crewFormalEducationForAdminDelete.MTCrewID.Visible (end) *@
@if (crewFormalEducationForAdminDelete.CreatedByUserID.Visible) { // crewFormalEducationForAdminDelete.CreatedByUserID.Visible (begin)
        <td @Html.Raw(crewFormalEducationForAdminDelete.CreatedByUserID.CellAttributes)>
<span id="el@(crewFormalEducationForAdminDelete.RowCount)_CrewFormalEducationForAdmin_CreatedByUserID" class="el_CrewFormalEducationForAdmin_CreatedByUserID">
<span @Html.Raw(crewFormalEducationForAdminDelete.CreatedByUserID.ViewAttributes)>
@Html.Raw(crewFormalEducationForAdminDelete.CreatedByUserID.GetViewValue())</span>
</span></td>
} @* crewFormalEducationForAdminDelete.CreatedByUserID.Visible (end) *@
@if (crewFormalEducationForAdminDelete.CreatedDateTime.Visible) { // crewFormalEducationForAdminDelete.CreatedDateTime.Visible (begin)
        <td @Html.Raw(crewFormalEducationForAdminDelete.CreatedDateTime.CellAttributes)>
<span id="el@(crewFormalEducationForAdminDelete.RowCount)_CrewFormalEducationForAdmin_CreatedDateTime" class="el_CrewFormalEducationForAdmin_CreatedDateTime">
<span @Html.Raw(crewFormalEducationForAdminDelete.CreatedDateTime.ViewAttributes)>
@Html.Raw(crewFormalEducationForAdminDelete.CreatedDateTime.GetViewValue())</span>
</span></td>
} @* crewFormalEducationForAdminDelete.CreatedDateTime.Visible (end) *@
@if (crewFormalEducationForAdminDelete.LastUpdatedByUserID.Visible) { // crewFormalEducationForAdminDelete.LastUpdatedByUserID.Visible (begin)
        <td @Html.Raw(crewFormalEducationForAdminDelete.LastUpdatedByUserID.CellAttributes)>
<span id="el@(crewFormalEducationForAdminDelete.RowCount)_CrewFormalEducationForAdmin_LastUpdatedByUserID" class="el_CrewFormalEducationForAdmin_LastUpdatedByUserID">
<span @Html.Raw(crewFormalEducationForAdminDelete.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(crewFormalEducationForAdminDelete.LastUpdatedByUserID.GetViewValue())</span>
</span></td>
} @* crewFormalEducationForAdminDelete.LastUpdatedByUserID.Visible (end) *@
@if (crewFormalEducationForAdminDelete.LastUpdatedDateTime.Visible) { // crewFormalEducationForAdminDelete.LastUpdatedDateTime.Visible (begin)
        <td @Html.Raw(crewFormalEducationForAdminDelete.LastUpdatedDateTime.CellAttributes)>
<span id="el@(crewFormalEducationForAdminDelete.RowCount)_CrewFormalEducationForAdmin_LastUpdatedDateTime" class="el_CrewFormalEducationForAdmin_LastUpdatedDateTime">
<span @Html.Raw(crewFormalEducationForAdminDelete.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(crewFormalEducationForAdminDelete.LastUpdatedDateTime.GetViewValue())</span>
</span></td>
} @* crewFormalEducationForAdminDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
}
@{ crewFormalEducationForAdminDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(crewFormalEducationForAdminDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@crewFormalEducationForAdminDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
