@{
    // View
    View = this;

    // Check action result
    if (crewFormalEducationForAdminViewModeView.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!crewFormalEducationForAdminViewModeView.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
@if (!crewFormalEducationForAdminViewModeView.IsExport()) {
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!crewFormalEducationForAdminViewModeView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @crewFormalEducationForAdminViewModeView.ExportOptions.RenderBody()
    @crewFormalEducationForAdminViewModeView.OtherOptions.RenderBody()
</div>
}
@crewFormalEducationForAdminViewModeView.ShowPageHeader()
@crewFormalEducationForAdminViewModeView.ShowMessages()
<main class="view">
<form name="fCrewFormalEducationForAdminViewModeview" id="fCrewFormalEducationForAdminViewModeview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (!crewFormalEducationForAdminViewModeView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(crewFormalEducationForAdminViewModeView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { CrewFormalEducationForAdminViewMode: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fCrewFormalEducationForAdminViewModeview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fCrewFormalEducationForAdminViewModeview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
}
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(crewFormalEducationForAdminViewModeView.IsModal)">
<table class="@(crewFormalEducationForAdminViewModeView.TableClass)">
@if (crewFormalEducationForAdminViewModeView.EducationLevel.Visible) { // crewFormalEducationForAdminViewModeView.EducationLevel.Visible (begin)
    <tr id="r_EducationLevel" @Html.Raw(crewFormalEducationForAdminViewModeView.EducationLevel.RowAttributes)>
        <td class="@(crewFormalEducationForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewFormalEducationForAdminViewMode_EducationLevel"><template id="tpc_CrewFormalEducationForAdminViewMode_EducationLevel">@Html.Raw(crewFormalEducationForAdminViewModeView.EducationLevel.Caption)</template></span></td>
        <td data-name="EducationLevel" @Html.Raw(crewFormalEducationForAdminViewModeView.EducationLevel.CellAttributes)>
<template id="tpx_CrewFormalEducationForAdminViewMode_EducationLevel"><span id="el_CrewFormalEducationForAdminViewMode_EducationLevel">
<span @Html.Raw(crewFormalEducationForAdminViewModeView.EducationLevel.ViewAttributes)>
@Html.Raw(crewFormalEducationForAdminViewModeView.EducationLevel.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewFormalEducationForAdminViewModeView.EducationLevel.Visible (end) *@
@if (crewFormalEducationForAdminViewModeView.SchoolName.Visible) { // crewFormalEducationForAdminViewModeView.SchoolName.Visible (begin)
    <tr id="r_SchoolName" @Html.Raw(crewFormalEducationForAdminViewModeView.SchoolName.RowAttributes)>
        <td class="@(crewFormalEducationForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewFormalEducationForAdminViewMode_SchoolName"><template id="tpc_CrewFormalEducationForAdminViewMode_SchoolName">@Html.Raw(crewFormalEducationForAdminViewModeView.SchoolName.Caption)</template></span></td>
        <td data-name="SchoolName" @Html.Raw(crewFormalEducationForAdminViewModeView.SchoolName.CellAttributes)>
<template id="tpx_CrewFormalEducationForAdminViewMode_SchoolName"><span id="el_CrewFormalEducationForAdminViewMode_SchoolName">
<span @Html.Raw(crewFormalEducationForAdminViewModeView.SchoolName.ViewAttributes)>
@Html.Raw(crewFormalEducationForAdminViewModeView.SchoolName.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewFormalEducationForAdminViewModeView.SchoolName.Visible (end) *@
@if (crewFormalEducationForAdminViewModeView.City.Visible) { // crewFormalEducationForAdminViewModeView.City.Visible (begin)
    <tr id="r_City" @Html.Raw(crewFormalEducationForAdminViewModeView.City.RowAttributes)>
        <td class="@(crewFormalEducationForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewFormalEducationForAdminViewMode_City"><template id="tpc_CrewFormalEducationForAdminViewMode_City">@Html.Raw(crewFormalEducationForAdminViewModeView.City.Caption)</template></span></td>
        <td data-name="City" @Html.Raw(crewFormalEducationForAdminViewModeView.City.CellAttributes)>
<template id="tpx_CrewFormalEducationForAdminViewMode_City"><span id="el_CrewFormalEducationForAdminViewMode_City">
<span @Html.Raw(crewFormalEducationForAdminViewModeView.City.ViewAttributes)>
@Html.Raw(crewFormalEducationForAdminViewModeView.City.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewFormalEducationForAdminViewModeView.City.Visible (end) *@
@if (crewFormalEducationForAdminViewModeView.Attachment.Visible) { // crewFormalEducationForAdminViewModeView.Attachment.Visible (begin)
    <tr id="r_Attachment" @Html.Raw(crewFormalEducationForAdminViewModeView.Attachment.RowAttributes)>
        <td class="@(crewFormalEducationForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewFormalEducationForAdminViewMode_Attachment"><template id="tpc_CrewFormalEducationForAdminViewMode_Attachment">@Html.Raw(crewFormalEducationForAdminViewModeView.Attachment.Caption)</template></span></td>
        <td data-name="Attachment" @Html.Raw(crewFormalEducationForAdminViewModeView.Attachment.CellAttributes)>
<template id="tpx_CrewFormalEducationForAdminViewMode_Attachment"><span id="el_CrewFormalEducationForAdminViewMode_Attachment">
<span>
@Html.Raw(await GetFileViewTag((DbField)crewFormalEducationForAdminViewModeView.Attachment, ConvertToString(crewFormalEducationForAdminViewModeView.Attachment.GetViewValue()), false))
</span>
</span></template></td>
    </tr>
} @* crewFormalEducationForAdminViewModeView.Attachment.Visible (end) *@
@if (crewFormalEducationForAdminViewModeView.StartDate.Visible) { // crewFormalEducationForAdminViewModeView.StartDate.Visible (begin)
    <tr id="r_StartDate" @Html.Raw(crewFormalEducationForAdminViewModeView.StartDate.RowAttributes)>
        <td class="@(crewFormalEducationForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewFormalEducationForAdminViewMode_StartDate"><template id="tpc_CrewFormalEducationForAdminViewMode_StartDate">@Html.Raw(crewFormalEducationForAdminViewModeView.StartDate.Caption)</template></span></td>
        <td data-name="StartDate" @Html.Raw(crewFormalEducationForAdminViewModeView.StartDate.CellAttributes)>
<template id="tpx_CrewFormalEducationForAdminViewMode_StartDate"><span id="el_CrewFormalEducationForAdminViewMode_StartDate">
<span @Html.Raw(crewFormalEducationForAdminViewModeView.StartDate.ViewAttributes)>
@Html.Raw(crewFormalEducationForAdminViewModeView.StartDate.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewFormalEducationForAdminViewModeView.StartDate.Visible (end) *@
@if (crewFormalEducationForAdminViewModeView.EndDate.Visible) { // crewFormalEducationForAdminViewModeView.EndDate.Visible (begin)
    <tr id="r_EndDate" @Html.Raw(crewFormalEducationForAdminViewModeView.EndDate.RowAttributes)>
        <td class="@(crewFormalEducationForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewFormalEducationForAdminViewMode_EndDate"><template id="tpc_CrewFormalEducationForAdminViewMode_EndDate">@Html.Raw(crewFormalEducationForAdminViewModeView.EndDate.Caption)</template></span></td>
        <td data-name="EndDate" @Html.Raw(crewFormalEducationForAdminViewModeView.EndDate.CellAttributes)>
<template id="tpx_CrewFormalEducationForAdminViewMode_EndDate"><span id="el_CrewFormalEducationForAdminViewMode_EndDate">
<span @Html.Raw(crewFormalEducationForAdminViewModeView.EndDate.ViewAttributes)>
@Html.Raw(crewFormalEducationForAdminViewModeView.EndDate.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewFormalEducationForAdminViewModeView.EndDate.Visible (end) *@
@if (crewFormalEducationForAdminViewModeView.MTCrewID.Visible) { // crewFormalEducationForAdminViewModeView.MTCrewID.Visible (begin)
    <tr id="r_MTCrewID" @Html.Raw(crewFormalEducationForAdminViewModeView.MTCrewID.RowAttributes)>
        <td class="@(crewFormalEducationForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewFormalEducationForAdminViewMode_MTCrewID"><template id="tpc_CrewFormalEducationForAdminViewMode_MTCrewID">@Html.Raw(crewFormalEducationForAdminViewModeView.MTCrewID.Caption)</template></span></td>
        <td data-name="MTCrewID" @Html.Raw(crewFormalEducationForAdminViewModeView.MTCrewID.CellAttributes)>
<template id="tpx_CrewFormalEducationForAdminViewMode_MTCrewID"><span id="el_CrewFormalEducationForAdminViewMode_MTCrewID">
<span @Html.Raw(crewFormalEducationForAdminViewModeView.MTCrewID.ViewAttributes)>
@Html.Raw(crewFormalEducationForAdminViewModeView.MTCrewID.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewFormalEducationForAdminViewModeView.MTCrewID.Visible (end) *@
@if (crewFormalEducationForAdminViewModeView.CreatedByUserID.Visible) { // crewFormalEducationForAdminViewModeView.CreatedByUserID.Visible (begin)
    <tr id="r_CreatedByUserID" @Html.Raw(crewFormalEducationForAdminViewModeView.CreatedByUserID.RowAttributes)>
        <td class="@(crewFormalEducationForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewFormalEducationForAdminViewMode_CreatedByUserID"><template id="tpc_CrewFormalEducationForAdminViewMode_CreatedByUserID">@Html.Raw(crewFormalEducationForAdminViewModeView.CreatedByUserID.Caption)</template></span></td>
        <td data-name="CreatedByUserID" @Html.Raw(crewFormalEducationForAdminViewModeView.CreatedByUserID.CellAttributes)>
<template id="tpx_CrewFormalEducationForAdminViewMode_CreatedByUserID"><span id="el_CrewFormalEducationForAdminViewMode_CreatedByUserID">
<span @Html.Raw(crewFormalEducationForAdminViewModeView.CreatedByUserID.ViewAttributes)>
@Html.Raw(crewFormalEducationForAdminViewModeView.CreatedByUserID.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewFormalEducationForAdminViewModeView.CreatedByUserID.Visible (end) *@
@if (crewFormalEducationForAdminViewModeView.CreatedDateTime.Visible) { // crewFormalEducationForAdminViewModeView.CreatedDateTime.Visible (begin)
    <tr id="r_CreatedDateTime" @Html.Raw(crewFormalEducationForAdminViewModeView.CreatedDateTime.RowAttributes)>
        <td class="@(crewFormalEducationForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewFormalEducationForAdminViewMode_CreatedDateTime"><template id="tpc_CrewFormalEducationForAdminViewMode_CreatedDateTime">@Html.Raw(crewFormalEducationForAdminViewModeView.CreatedDateTime.Caption)</template></span></td>
        <td data-name="CreatedDateTime" @Html.Raw(crewFormalEducationForAdminViewModeView.CreatedDateTime.CellAttributes)>
<template id="tpx_CrewFormalEducationForAdminViewMode_CreatedDateTime"><span id="el_CrewFormalEducationForAdminViewMode_CreatedDateTime">
<span @Html.Raw(crewFormalEducationForAdminViewModeView.CreatedDateTime.ViewAttributes)>
@Html.Raw(crewFormalEducationForAdminViewModeView.CreatedDateTime.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewFormalEducationForAdminViewModeView.CreatedDateTime.Visible (end) *@
@if (crewFormalEducationForAdminViewModeView.LastUpdatedByUserID.Visible) { // crewFormalEducationForAdminViewModeView.LastUpdatedByUserID.Visible (begin)
    <tr id="r_LastUpdatedByUserID" @Html.Raw(crewFormalEducationForAdminViewModeView.LastUpdatedByUserID.RowAttributes)>
        <td class="@(crewFormalEducationForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewFormalEducationForAdminViewMode_LastUpdatedByUserID"><template id="tpc_CrewFormalEducationForAdminViewMode_LastUpdatedByUserID">@Html.Raw(crewFormalEducationForAdminViewModeView.LastUpdatedByUserID.Caption)</template></span></td>
        <td data-name="LastUpdatedByUserID" @Html.Raw(crewFormalEducationForAdminViewModeView.LastUpdatedByUserID.CellAttributes)>
<template id="tpx_CrewFormalEducationForAdminViewMode_LastUpdatedByUserID"><span id="el_CrewFormalEducationForAdminViewMode_LastUpdatedByUserID">
<span @Html.Raw(crewFormalEducationForAdminViewModeView.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(crewFormalEducationForAdminViewModeView.LastUpdatedByUserID.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewFormalEducationForAdminViewModeView.LastUpdatedByUserID.Visible (end) *@
@if (crewFormalEducationForAdminViewModeView.LastUpdatedDateTime.Visible) { // crewFormalEducationForAdminViewModeView.LastUpdatedDateTime.Visible (begin)
    <tr id="r_LastUpdatedDateTime" @Html.Raw(crewFormalEducationForAdminViewModeView.LastUpdatedDateTime.RowAttributes)>
        <td class="@(crewFormalEducationForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewFormalEducationForAdminViewMode_LastUpdatedDateTime"><template id="tpc_CrewFormalEducationForAdminViewMode_LastUpdatedDateTime">@Html.Raw(crewFormalEducationForAdminViewModeView.LastUpdatedDateTime.Caption)</template></span></td>
        <td data-name="LastUpdatedDateTime" @Html.Raw(crewFormalEducationForAdminViewModeView.LastUpdatedDateTime.CellAttributes)>
<template id="tpx_CrewFormalEducationForAdminViewMode_LastUpdatedDateTime"><span id="el_CrewFormalEducationForAdminViewMode_LastUpdatedDateTime">
<span @Html.Raw(crewFormalEducationForAdminViewModeView.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(crewFormalEducationForAdminViewModeView.LastUpdatedDateTime.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewFormalEducationForAdminViewModeView.LastUpdatedDateTime.Visible (end) *@
</table>
<div id="tpd_CrewFormalEducationForAdminViewModeview" class="ew-custom-template"></div>
<template id="tpm_CrewFormalEducationForAdminViewModeview">
<div id="ct_crewFormalEducationForAdminViewModeView">    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewPersonalDataForAdminViewModeView")">
                @(CurrentLanguage == "en-US" ? "PERSONAL DATA" : "DATA PERSONAL")
            </a>     
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewDocumentForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "DOCUMENTS" : "DOKUMEN")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewBankAccountForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "BANK ACCOUNT" : "REKENING BANK")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewFamilyForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "FAMILY" : "KELUARGA")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewFormalEducationForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "FORMAL EDUCATION" : "PENDIDIKAN FORMAL")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewMedicalCertificateForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "MEDICAL CERTIFICATE / TEST" : "SERTIFIKAT / TES MEDIS")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewCertificateForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "CERTIFICATES AND QUALIFICATIONS" : "SERTIFIKAT DAN KUALIFIKASI")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewExperienceForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "SEA EXPERIENCE" : "PENGALAMAN BERLAYAR")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewAppraisalForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "APPRAISALS" : "PENILAIAN")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewMedicalHistoryForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "MEDICAL HISTORY" : "RIWAYAT MEDIS")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewGeneralDataForAdminViewModeView")">
                @(CurrentLanguage == "en-US" ? "GENERAL" : "UMUM")
            </a>
        </li>
    </ul> 
    <div class="mb-2 row">
        <div class="col-sm-6">
            <div id="r_EducationLevel" class="mb-2 row">
                <label for="x_EducationLevel" class="col-form-label">@Html.Raw(crewFormalEducationForAdminViewModeView.EducationLevel.Caption)</label>
                <div>
                    @{
                        if (string.IsNullOrEmpty(crewFormalEducationForAdminViewModeView.EducationLevel.GetViewValue()))
                        {
                            @Html.Raw("&nbsp;");
                        }
                        else
                        {
                            <slot class="ew-slot" name="tpx_CrewFormalEducationForAdminViewMode_EducationLevel"></slot>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="r_SchoolName" class="mb-2 row">
                <label for="x_SchoolName" class="col-form-label">@Html.Raw(crewFormalEducationForAdminViewModeView.SchoolName.Caption)</label>
                <div>
                    @{
                        if (string.IsNullOrEmpty(crewFormalEducationForAdminViewModeView.SchoolName.GetViewValue()))
                        {
                            @Html.Raw("&nbsp;");
                        }
                        else
                        {
                            <slot class="ew-slot" name="tpx_CrewFormalEducationForAdminViewMode_SchoolName"></slot>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="mb-2 row">
        <div class="col-sm-6">
            <div id="r_City" class="mb-2 row">
                <label for="x_City" class="col-form-label">@Html.Raw(crewFormalEducationForAdminViewModeView.City.Caption)</label>
                <div>
                    @{
                        if (string.IsNullOrEmpty(crewFormalEducationForAdminViewModeView.City.GetViewValue()))
                        {
                            @Html.Raw("&nbsp;");
                        }
                        else
                        {
                            <slot class="ew-slot" name="tpx_CrewFormalEducationForAdminViewMode_City"></slot>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="r_Attachment" class="mb-2 row">
                <label for="x_Attachment" class="col-form-label">@Html.Raw(crewFormalEducationForAdminViewModeView.Attachment.Caption)</label>
                <div>
                    @{
                        if (string.IsNullOrEmpty(crewFormalEducationForAdminViewModeView.Attachment.GetViewValue()))
                        {
                            @Html.Raw("&nbsp;");
                        }
                        else
                        {
                            <slot class="ew-slot" name="tpx_CrewFormalEducationForAdminViewMode_Attachment"></slot>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
     <div class="mb-2 row">
        <div class="col-sm-6">
            <div id="r_StartDate" class="mb-2 row">
                <label for="x_StartDate" class="col-form-label">@Html.Raw(crewFormalEducationForAdminViewModeView.StartDate.Caption)</label>
                <div>
                    @if (string.IsNullOrEmpty(crewFormalEducationForAdminViewModeView.StartDate.GetViewValue()))
                    {
                        @Html.Raw("&nbsp;");
                    }
                    else
                    {
                        <span id="el_CrewFormalEducationForAdminViewMode_StartDate">
                            <span @Html.Raw(crewFormalEducationForAdminViewModeView.StartDate.ViewAttributes)>
                                @{
                                    DateTime startDate = DateTime.Parse(crewFormalEducationForAdminViewModeView.StartDate.GetViewValue());
                                    var formattedStartDateYear = startDate.ToString("yyyy");
                                }
                                @Html.Raw(formattedStartDateYear)
                            </span>
                        </span>
                    }
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="r_EndDate" class="mb-2 row">
                <label for="x_EndDate" class="col-form-label">@Html.Raw(crewFormalEducationForAdminViewModeView.EndDate.Caption)</label>
                <div>
                    @if (string.IsNullOrEmpty(crewFormalEducationForAdminViewModeView.EndDate.GetViewValue()))
                    {
                        @Html.Raw("&nbsp;");
                    }
                    else
                    {
                        <span id="el_CrewFormalEducationForAdminViewMode_EndDate">
                            <span @Html.Raw(crewFormalEducationForAdminViewModeView.EndDate.ViewAttributes)>
                                @{
                                    DateTime endDate = DateTime.Parse(crewFormalEducationForAdminViewModeView.EndDate.GetViewValue());
                                    var formattedEndDateYear = endDate.ToString("yyyy");
                                }
                                @Html.Raw(formattedEndDateYear)
                            </span>
                        </span>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
</template>
@{ crewFormalEducationForAdminViewModeView.CloseRecordset(); }
</form>
<script class="ew-apply-template">
loadjs.ready(ew.applyTemplateId, function() {
    var $ = jQuery;
    ew.templateData = { rows: @Html.Raw(ConvertToJson(crewFormalEducationForAdminViewModeView.Rows)) };
    ew.applyTemplate("tpd_CrewFormalEducationForAdminViewModeview", "tpm_CrewFormalEducationForAdminViewModeview", "CrewFormalEducationForAdminViewModeview", "@(crewFormalEducationForAdminViewModeView.Export)", "CrewFormalEducationForAdminViewMode", ew.templateData.rows[0], @(crewFormalEducationForAdminViewModeView.IsModal ? "true" : "false"));
    loadjs.done("customtemplate");
});
</script>
</main>
@crewFormalEducationForAdminViewModeView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!crewFormalEducationForAdminViewModeView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Startup script
    // Write your table-specific startup script here
    // document.write("page loaded");

    // Get the current URL
    const currentUrlObject = new URL(window.location.href);
    // get the current URL without Add or Edit for assigning active class in tabs
    const currentUrlWithoutAddEditListView = currentUrlObject.href.replace(/Add|Edit|List|View/g, "");
    // Create a new URLSearchParams object based on the current URL's search parameters
    const urlQueryParams = new URLSearchParams(currentUrlObject.search);
    // Extract the value of the crewID query parameter
    const currentlyEditedCrewID = urlQueryParams.get('crewID');
    const crewDocumentID = currentUrlObject.pathname.split('/').pop();

    // Iterate over each anchor element inside the nav-tabs
    $(".nav-tabs .nav-item a").each(function() {
        const href = $(this).attr("href");
        const hrefWithoutAddEditListView = href.replace(/Add|Edit|List|View/g, "");
        // Check if the href contains current page's url
        if (currentUrlWithoutAddEditListView.includes(hrefWithoutAddEditListView)) {
            // add class and attribute
            $(this).addClass("active");
            $(this).attr("aria-current", "page");
        }
        // Check if the href contains "Edit" or "Add"
        if (href.includes("ViewModeView")) {
            // Add "/" and the currently edited crew ID to the href
            const newHref = href + "/" + currentlyEditedCrewID;
            // Set the updated href attribute value
            $(this).attr("href", newHref);
        } else if (href.includes("ViewModeList")) {
            // Add "?crewID=" and the currently edited crew ID to the href
            const newHref = href + "?crewID=" + currentlyEditedCrewID;
            // Set the updated href attribute value
            $(this).attr("href", newHref);
        }
    });

    // Target the ol element that has breadcrumb class
    const $breadCrumbOl = $('.breadcrumb').first();

    // Delete the ol element that has breadcrumb class
    $breadCrumbOl.remove();
    $('div.btn-toolbar.ew-toolbar').remove();
    const selectedLanguage = ew.vars['languages']['languages'].filter(obj => obj.selected === true)[0];
    const parentUrl = ew.PATH_BASE;
    const adminAndEmployeeStatusApi = 'get-admin-and-employee-status';
    $.ajax({
        url: `${parentUrl}api/Registration/${adminAndEmployeeStatusApi}`,
        method: 'GET',
        data: {
            crewID: currentlyEditedCrewID
        },
        success: function(response) {
            if (response.success) {
                // Parse the data in the response
                const isAdmin = response.data.IsAdmin;
                const employeeStatus = response.data.EmployeeStatus;
                if (currentlyEditedCrewID === null) {
                    if (isAdmin) {
                        // redirect to list page with error message: record not found
                        if (employeeStatus === 'Candidate - Draft') {
                            window.location.replace(`${ew.PATH_BASE}RegistrationEdit/-1`);
                        } else if (employeeStatus === 'Candidate - Submitted') {
                            window.location.replace(`${ew.PATH_BASE}VWaitingForPdeReviewView/-1`);
                        }
                    } else {
                        window.location.replace(`${ew.PATH_BASE}index`);
                    }
                }
                if (employeeStatus === 'Candidate - Draft') {
                    const editButton = $("<a></a>", { 
                        text: (selectedLanguage.id === 'en-US') ? "Edit" : "Ubah",
                        class: "btn btn-default ew-btn me-3 primary-black-clr gray-bg", 
                        id: "btn-edit",
                        name: "btn-edit",
                        href: `${parentUrl}CrewFormalEducationForAdminViewModeEdit/${crewDocumentID}?crewID=${currentlyEditedCrewID}`,
                    });
                    const deleteButton = $("<a></a>", { 
                        text: (selectedLanguage.id === 'en-US') ? "Delete" : "Hapus",
                        class: "btn btn-default ew-btn me-auto primary-red-bg primary-white-clr ew-action ew-delete", 
                        id: "btn-delete",
                        name: "btn-delete",
                        href: `${parentUrl}CrewFormalEducationForAdminViewModeDelete/${crewDocumentID}`,
                        "data-ew-action": "inline-delete",
                        "data-caption": "Delete",
                    });
                    const backButton = $("<a></a>", { 
                        text: (selectedLanguage.id === 'en-US') ? "Back" : "Kembali",
                        class: "btn btn-default ew-btn ms-auto primary-red-bg primary-white-clr", 
                        id: "btn-back",
                        name: "btn-back",
                        href: `${parentUrl}CrewFormalEducationForAdminViewModeList?crewID=${currentlyEditedCrewID}`,
                    });
                    const flexDiv = $("<div class='d-flex mb-3'></div>");
                    flexDiv.append(editButton);
                    flexDiv.append(deleteButton);
                    flexDiv.append(backButton);
                    const buttonsDiv = $("<div class='row ew-buttons'></div>");
                    buttonsDiv.append(flexDiv);
                    $('form#fCrewFormalEducationForAdminViewModeview').append(buttonsDiv);
                } else if (employeeStatus === 'Candidate - Submitted') {
                    const backButton = $("<a></a>", { 
                        text: (selectedLanguage.id === 'en-US') ? "Back" : "Kembali",
                        class: "btn btn-default ew-btn ms-auto primary-red-bg primary-white-clr", 
                        id: "btn-back",
                        name: "btn-back",
                        href: `${parentUrl}CrewFormalEducationForAdminViewModeList?crewID=${currentlyEditedCrewID}`,
                    });
                    const flexDiv = $("<div class='d-flex mb-3'></div>");
                    flexDiv.append(backButton);
                    const buttonsDiv = $("<div class='row ew-buttons'></div>");
                    buttonsDiv.append(flexDiv);
                    $('form#fCrewFormalEducationForAdminViewModeview').append(buttonsDiv);
                }
            } else {
                // Handle the error
                ew.showToast(response.errorMessage);
            }
        },
        error: function(xhr, textStatus, errorThrown) {
            // Handle the error
            ew.showToast(errorThrown);
        }
    });
});
</script>
}
