@{
    // View
    View = this;

    // Check action result
    if (crewExperienceForAdminViewModeDelete.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!crewExperienceForAdminViewModeDelete.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(crewExperienceForAdminViewModeDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { CrewExperienceForAdminViewMode: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fCrewExperienceForAdminViewModedelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fCrewExperienceForAdminViewModedelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@crewExperienceForAdminViewModeDelete.ShowPageHeader()
@crewExperienceForAdminViewModeDelete.ShowMessages()
<form name="fCrewExperienceForAdminViewModedelete" id="fCrewExperienceForAdminViewModedelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in crewExperienceForAdminViewModeDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(crewExperienceForAdminViewModeDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(crewExperienceForAdminViewModeDelete.TableContainerClass)" style="@(crewExperienceForAdminViewModeDelete.TableContainerStyle)">
<table class="@(crewExperienceForAdminViewModeDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (crewExperienceForAdminViewModeDelete.MTCrewID.Visible) { // crewExperienceForAdminViewModeDelete.MTCrewID.Visible (begin)
        <th class="@Html.Raw(crewExperienceForAdminViewModeDelete.MTCrewID.HeaderCellClass)"><span id="elh_CrewExperienceForAdminViewMode_MTCrewID" class="CrewExperienceForAdminViewMode_MTCrewID">@Html.Raw(crewExperienceForAdminViewModeDelete.MTCrewID.Caption)</span></th>
} @* crewExperienceForAdminViewModeDelete.MTCrewID.Visible (end) *@
@if (crewExperienceForAdminViewModeDelete.CompanyName.Visible) { // crewExperienceForAdminViewModeDelete.CompanyName.Visible (begin)
        <th class="@Html.Raw(crewExperienceForAdminViewModeDelete.CompanyName.HeaderCellClass)"><span id="elh_CrewExperienceForAdminViewMode_CompanyName" class="CrewExperienceForAdminViewMode_CompanyName">@Html.Raw(crewExperienceForAdminViewModeDelete.CompanyName.Caption)</span></th>
} @* crewExperienceForAdminViewModeDelete.CompanyName.Visible (end) *@
@if (crewExperienceForAdminViewModeDelete.FlagName_CountryID.Visible) { // crewExperienceForAdminViewModeDelete.FlagName_CountryID.Visible (begin)
        <th class="@Html.Raw(crewExperienceForAdminViewModeDelete.FlagName_CountryID.HeaderCellClass)"><span id="elh_CrewExperienceForAdminViewMode_FlagName_CountryID" class="CrewExperienceForAdminViewMode_FlagName_CountryID">@Html.Raw(crewExperienceForAdminViewModeDelete.FlagName_CountryID.Caption)</span></th>
} @* crewExperienceForAdminViewModeDelete.FlagName_CountryID.Visible (end) *@
@if (crewExperienceForAdminViewModeDelete.VesselName.Visible) { // crewExperienceForAdminViewModeDelete.VesselName.Visible (begin)
        <th class="@Html.Raw(crewExperienceForAdminViewModeDelete.VesselName.HeaderCellClass)"><span id="elh_CrewExperienceForAdminViewMode_VesselName" class="CrewExperienceForAdminViewMode_VesselName">@Html.Raw(crewExperienceForAdminViewModeDelete.VesselName.Caption)</span></th>
} @* crewExperienceForAdminViewModeDelete.VesselName.Visible (end) *@
@if (crewExperienceForAdminViewModeDelete.MTVesselTypeID.Visible) { // crewExperienceForAdminViewModeDelete.MTVesselTypeID.Visible (begin)
        <th class="@Html.Raw(crewExperienceForAdminViewModeDelete.MTVesselTypeID.HeaderCellClass)"><span id="elh_CrewExperienceForAdminViewMode_MTVesselTypeID" class="CrewExperienceForAdminViewMode_MTVesselTypeID">@Html.Raw(crewExperienceForAdminViewModeDelete.MTVesselTypeID.Caption)</span></th>
} @* crewExperienceForAdminViewModeDelete.MTVesselTypeID.Visible (end) *@
@if (crewExperienceForAdminViewModeDelete.GRT.Visible) { // crewExperienceForAdminViewModeDelete.GRT.Visible (begin)
        <th class="@Html.Raw(crewExperienceForAdminViewModeDelete.GRT.HeaderCellClass)"><span id="elh_CrewExperienceForAdminViewMode_GRT" class="CrewExperienceForAdminViewMode_GRT">@Html.Raw(crewExperienceForAdminViewModeDelete.GRT.Caption)</span></th>
} @* crewExperienceForAdminViewModeDelete.GRT.Visible (end) *@
@if (crewExperienceForAdminViewModeDelete.DWT.Visible) { // crewExperienceForAdminViewModeDelete.DWT.Visible (begin)
        <th class="@Html.Raw(crewExperienceForAdminViewModeDelete.DWT.HeaderCellClass)"><span id="elh_CrewExperienceForAdminViewMode_DWT" class="CrewExperienceForAdminViewMode_DWT">@Html.Raw(crewExperienceForAdminViewModeDelete.DWT.Caption)</span></th>
} @* crewExperienceForAdminViewModeDelete.DWT.Visible (end) *@
@if (crewExperienceForAdminViewModeDelete.MainEngine.Visible) { // crewExperienceForAdminViewModeDelete.MainEngine.Visible (begin)
        <th class="@Html.Raw(crewExperienceForAdminViewModeDelete.MainEngine.HeaderCellClass)"><span id="elh_CrewExperienceForAdminViewMode_MainEngine" class="CrewExperienceForAdminViewMode_MainEngine">@Html.Raw(crewExperienceForAdminViewModeDelete.MainEngine.Caption)</span></th>
} @* crewExperienceForAdminViewModeDelete.MainEngine.Visible (end) *@
@if (crewExperienceForAdminViewModeDelete.BHP.Visible) { // crewExperienceForAdminViewModeDelete.BHP.Visible (begin)
        <th class="@Html.Raw(crewExperienceForAdminViewModeDelete.BHP.HeaderCellClass)"><span id="elh_CrewExperienceForAdminViewMode_BHP" class="CrewExperienceForAdminViewMode_BHP">@Html.Raw(crewExperienceForAdminViewModeDelete.BHP.Caption)</span></th>
} @* crewExperienceForAdminViewModeDelete.BHP.Visible (end) *@
@if (crewExperienceForAdminViewModeDelete.MTRankID.Visible) { // crewExperienceForAdminViewModeDelete.MTRankID.Visible (begin)
        <th class="@Html.Raw(crewExperienceForAdminViewModeDelete.MTRankID.HeaderCellClass)"><span id="elh_CrewExperienceForAdminViewMode_MTRankID" class="CrewExperienceForAdminViewMode_MTRankID">@Html.Raw(crewExperienceForAdminViewModeDelete.MTRankID.Caption)</span></th>
} @* crewExperienceForAdminViewModeDelete.MTRankID.Visible (end) *@
@if (crewExperienceForAdminViewModeDelete.DateFrom.Visible) { // crewExperienceForAdminViewModeDelete.DateFrom.Visible (begin)
        <th class="@Html.Raw(crewExperienceForAdminViewModeDelete.DateFrom.HeaderCellClass)"><span id="elh_CrewExperienceForAdminViewMode_DateFrom" class="CrewExperienceForAdminViewMode_DateFrom">@Html.Raw(crewExperienceForAdminViewModeDelete.DateFrom.Caption)</span></th>
} @* crewExperienceForAdminViewModeDelete.DateFrom.Visible (end) *@
@if (crewExperienceForAdminViewModeDelete.DateUntil.Visible) { // crewExperienceForAdminViewModeDelete.DateUntil.Visible (begin)
        <th class="@Html.Raw(crewExperienceForAdminViewModeDelete.DateUntil.HeaderCellClass)"><span id="elh_CrewExperienceForAdminViewMode_DateUntil" class="CrewExperienceForAdminViewMode_DateUntil">@Html.Raw(crewExperienceForAdminViewModeDelete.DateUntil.Caption)</span></th>
} @* crewExperienceForAdminViewModeDelete.DateUntil.Visible (end) *@
@if (crewExperienceForAdminViewModeDelete.CreatedByUserID.Visible) { // crewExperienceForAdminViewModeDelete.CreatedByUserID.Visible (begin)
        <th class="@Html.Raw(crewExperienceForAdminViewModeDelete.CreatedByUserID.HeaderCellClass)"><span id="elh_CrewExperienceForAdminViewMode_CreatedByUserID" class="CrewExperienceForAdminViewMode_CreatedByUserID">@Html.Raw(crewExperienceForAdminViewModeDelete.CreatedByUserID.Caption)</span></th>
} @* crewExperienceForAdminViewModeDelete.CreatedByUserID.Visible (end) *@
@if (crewExperienceForAdminViewModeDelete.CreatedDateTime.Visible) { // crewExperienceForAdminViewModeDelete.CreatedDateTime.Visible (begin)
        <th class="@Html.Raw(crewExperienceForAdminViewModeDelete.CreatedDateTime.HeaderCellClass)"><span id="elh_CrewExperienceForAdminViewMode_CreatedDateTime" class="CrewExperienceForAdminViewMode_CreatedDateTime">@Html.Raw(crewExperienceForAdminViewModeDelete.CreatedDateTime.Caption)</span></th>
} @* crewExperienceForAdminViewModeDelete.CreatedDateTime.Visible (end) *@
@if (crewExperienceForAdminViewModeDelete.LastUpdatedByUserID.Visible) { // crewExperienceForAdminViewModeDelete.LastUpdatedByUserID.Visible (begin)
        <th class="@Html.Raw(crewExperienceForAdminViewModeDelete.LastUpdatedByUserID.HeaderCellClass)"><span id="elh_CrewExperienceForAdminViewMode_LastUpdatedByUserID" class="CrewExperienceForAdminViewMode_LastUpdatedByUserID">@Html.Raw(crewExperienceForAdminViewModeDelete.LastUpdatedByUserID.Caption)</span></th>
} @* crewExperienceForAdminViewModeDelete.LastUpdatedByUserID.Visible (end) *@
@if (crewExperienceForAdminViewModeDelete.LastUpdatedDateTime.Visible) { // crewExperienceForAdminViewModeDelete.LastUpdatedDateTime.Visible (begin)
        <th class="@Html.Raw(crewExperienceForAdminViewModeDelete.LastUpdatedDateTime.HeaderCellClass)"><span id="elh_CrewExperienceForAdminViewMode_LastUpdatedDateTime" class="CrewExperienceForAdminViewMode_LastUpdatedDateTime">@Html.Raw(crewExperienceForAdminViewModeDelete.LastUpdatedDateTime.Caption)</span></th>
} @* crewExperienceForAdminViewModeDelete.LastUpdatedDateTime.Visible (end) *@
@if (crewExperienceForAdminViewModeDelete.SignOnPortName.Visible) { // crewExperienceForAdminViewModeDelete.SignOnPortName.Visible (begin)
        <th class="@Html.Raw(crewExperienceForAdminViewModeDelete.SignOnPortName.HeaderCellClass)"><span id="elh_CrewExperienceForAdminViewMode_SignOnPortName" class="CrewExperienceForAdminViewMode_SignOnPortName">@Html.Raw(crewExperienceForAdminViewModeDelete.SignOnPortName.Caption)</span></th>
} @* crewExperienceForAdminViewModeDelete.SignOnPortName.Visible (end) *@
@if (crewExperienceForAdminViewModeDelete.SignOffPortName.Visible) { // crewExperienceForAdminViewModeDelete.SignOffPortName.Visible (begin)
        <th class="@Html.Raw(crewExperienceForAdminViewModeDelete.SignOffPortName.HeaderCellClass)"><span id="elh_CrewExperienceForAdminViewMode_SignOffPortName" class="CrewExperienceForAdminViewMode_SignOffPortName">@Html.Raw(crewExperienceForAdminViewModeDelete.SignOffPortName.Caption)</span></th>
} @* crewExperienceForAdminViewModeDelete.SignOffPortName.Visible (end) *@
@if (crewExperienceForAdminViewModeDelete.SignOffReason.Visible) { // crewExperienceForAdminViewModeDelete.SignOffReason.Visible (begin)
        <th class="@Html.Raw(crewExperienceForAdminViewModeDelete.SignOffReason.HeaderCellClass)"><span id="elh_CrewExperienceForAdminViewMode_SignOffReason" class="CrewExperienceForAdminViewMode_SignOffReason">@Html.Raw(crewExperienceForAdminViewModeDelete.SignOffReason.Caption)</span></th>
} @* crewExperienceForAdminViewModeDelete.SignOffReason.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ crewExperienceForAdminViewModeDelete.RecordCount = 0; }
@while (crewExperienceForAdminViewModeDelete.Recordset != null && await crewExperienceForAdminViewModeDelete.Recordset.ReadAsync()) { // DN
    crewExperienceForAdminViewModeDelete.RecordCount++;
    crewExperienceForAdminViewModeDelete.RowCount++;

    // Set row properties
    crewExperienceForAdminViewModeDelete.ResetAttributes();
    crewExperienceForAdminViewModeDelete.RowType = RowType.View; // View

    // Get the field contents
    await crewExperienceForAdminViewModeDelete.LoadRowValues(crewExperienceForAdminViewModeDelete.Recordset);

    // Render row
    await crewExperienceForAdminViewModeDelete.RenderRow();
    <tr @Html.Raw(crewExperienceForAdminViewModeDelete.RowAttributes)>
@if (crewExperienceForAdminViewModeDelete.MTCrewID.Visible) { // crewExperienceForAdminViewModeDelete.MTCrewID.Visible (begin)
        <td @Html.Raw(crewExperienceForAdminViewModeDelete.MTCrewID.CellAttributes)>
<span id="el@(crewExperienceForAdminViewModeDelete.RowCount)_CrewExperienceForAdminViewMode_MTCrewID" class="el_CrewExperienceForAdminViewMode_MTCrewID">
<span @Html.Raw(crewExperienceForAdminViewModeDelete.MTCrewID.ViewAttributes)>
@Html.Raw(crewExperienceForAdminViewModeDelete.MTCrewID.GetViewValue())</span>
</span></td>
} @* crewExperienceForAdminViewModeDelete.MTCrewID.Visible (end) *@
@if (crewExperienceForAdminViewModeDelete.CompanyName.Visible) { // crewExperienceForAdminViewModeDelete.CompanyName.Visible (begin)
        <td @Html.Raw(crewExperienceForAdminViewModeDelete.CompanyName.CellAttributes)>
<span id="el@(crewExperienceForAdminViewModeDelete.RowCount)_CrewExperienceForAdminViewMode_CompanyName" class="el_CrewExperienceForAdminViewMode_CompanyName">
<span @Html.Raw(crewExperienceForAdminViewModeDelete.CompanyName.ViewAttributes)>
@Html.Raw(crewExperienceForAdminViewModeDelete.CompanyName.GetViewValue())</span>
</span></td>
} @* crewExperienceForAdminViewModeDelete.CompanyName.Visible (end) *@
@if (crewExperienceForAdminViewModeDelete.FlagName_CountryID.Visible) { // crewExperienceForAdminViewModeDelete.FlagName_CountryID.Visible (begin)
        <td @Html.Raw(crewExperienceForAdminViewModeDelete.FlagName_CountryID.CellAttributes)>
<span id="el@(crewExperienceForAdminViewModeDelete.RowCount)_CrewExperienceForAdminViewMode_FlagName_CountryID" class="el_CrewExperienceForAdminViewMode_FlagName_CountryID">
<span @Html.Raw(crewExperienceForAdminViewModeDelete.FlagName_CountryID.ViewAttributes)>
@Html.Raw(crewExperienceForAdminViewModeDelete.FlagName_CountryID.GetViewValue())</span>
</span></td>
} @* crewExperienceForAdminViewModeDelete.FlagName_CountryID.Visible (end) *@
@if (crewExperienceForAdminViewModeDelete.VesselName.Visible) { // crewExperienceForAdminViewModeDelete.VesselName.Visible (begin)
        <td @Html.Raw(crewExperienceForAdminViewModeDelete.VesselName.CellAttributes)>
<span id="el@(crewExperienceForAdminViewModeDelete.RowCount)_CrewExperienceForAdminViewMode_VesselName" class="el_CrewExperienceForAdminViewMode_VesselName">
<span @Html.Raw(crewExperienceForAdminViewModeDelete.VesselName.ViewAttributes)>
@Html.Raw(crewExperienceForAdminViewModeDelete.VesselName.GetViewValue())</span>
</span></td>
} @* crewExperienceForAdminViewModeDelete.VesselName.Visible (end) *@
@if (crewExperienceForAdminViewModeDelete.MTVesselTypeID.Visible) { // crewExperienceForAdminViewModeDelete.MTVesselTypeID.Visible (begin)
        <td @Html.Raw(crewExperienceForAdminViewModeDelete.MTVesselTypeID.CellAttributes)>
<span id="el@(crewExperienceForAdminViewModeDelete.RowCount)_CrewExperienceForAdminViewMode_MTVesselTypeID" class="el_CrewExperienceForAdminViewMode_MTVesselTypeID">
<span @Html.Raw(crewExperienceForAdminViewModeDelete.MTVesselTypeID.ViewAttributes)>
@Html.Raw(crewExperienceForAdminViewModeDelete.MTVesselTypeID.GetViewValue())</span>
</span></td>
} @* crewExperienceForAdminViewModeDelete.MTVesselTypeID.Visible (end) *@
@if (crewExperienceForAdminViewModeDelete.GRT.Visible) { // crewExperienceForAdminViewModeDelete.GRT.Visible (begin)
        <td @Html.Raw(crewExperienceForAdminViewModeDelete.GRT.CellAttributes)>
<span id="el@(crewExperienceForAdminViewModeDelete.RowCount)_CrewExperienceForAdminViewMode_GRT" class="el_CrewExperienceForAdminViewMode_GRT">
<span @Html.Raw(crewExperienceForAdminViewModeDelete.GRT.ViewAttributes)>
@Html.Raw(crewExperienceForAdminViewModeDelete.GRT.GetViewValue())</span>
</span></td>
} @* crewExperienceForAdminViewModeDelete.GRT.Visible (end) *@
@if (crewExperienceForAdminViewModeDelete.DWT.Visible) { // crewExperienceForAdminViewModeDelete.DWT.Visible (begin)
        <td @Html.Raw(crewExperienceForAdminViewModeDelete.DWT.CellAttributes)>
<span id="el@(crewExperienceForAdminViewModeDelete.RowCount)_CrewExperienceForAdminViewMode_DWT" class="el_CrewExperienceForAdminViewMode_DWT">
<span @Html.Raw(crewExperienceForAdminViewModeDelete.DWT.ViewAttributes)>
@Html.Raw(crewExperienceForAdminViewModeDelete.DWT.GetViewValue())</span>
</span></td>
} @* crewExperienceForAdminViewModeDelete.DWT.Visible (end) *@
@if (crewExperienceForAdminViewModeDelete.MainEngine.Visible) { // crewExperienceForAdminViewModeDelete.MainEngine.Visible (begin)
        <td @Html.Raw(crewExperienceForAdminViewModeDelete.MainEngine.CellAttributes)>
<span id="el@(crewExperienceForAdminViewModeDelete.RowCount)_CrewExperienceForAdminViewMode_MainEngine" class="el_CrewExperienceForAdminViewMode_MainEngine">
<span @Html.Raw(crewExperienceForAdminViewModeDelete.MainEngine.ViewAttributes)>
@Html.Raw(crewExperienceForAdminViewModeDelete.MainEngine.GetViewValue())</span>
</span></td>
} @* crewExperienceForAdminViewModeDelete.MainEngine.Visible (end) *@
@if (crewExperienceForAdminViewModeDelete.BHP.Visible) { // crewExperienceForAdminViewModeDelete.BHP.Visible (begin)
        <td @Html.Raw(crewExperienceForAdminViewModeDelete.BHP.CellAttributes)>
<span id="el@(crewExperienceForAdminViewModeDelete.RowCount)_CrewExperienceForAdminViewMode_BHP" class="el_CrewExperienceForAdminViewMode_BHP">
<span @Html.Raw(crewExperienceForAdminViewModeDelete.BHP.ViewAttributes)>
@Html.Raw(crewExperienceForAdminViewModeDelete.BHP.GetViewValue())</span>
</span></td>
} @* crewExperienceForAdminViewModeDelete.BHP.Visible (end) *@
@if (crewExperienceForAdminViewModeDelete.MTRankID.Visible) { // crewExperienceForAdminViewModeDelete.MTRankID.Visible (begin)
        <td @Html.Raw(crewExperienceForAdminViewModeDelete.MTRankID.CellAttributes)>
<span id="el@(crewExperienceForAdminViewModeDelete.RowCount)_CrewExperienceForAdminViewMode_MTRankID" class="el_CrewExperienceForAdminViewMode_MTRankID">
<span @Html.Raw(crewExperienceForAdminViewModeDelete.MTRankID.ViewAttributes)>
@Html.Raw(crewExperienceForAdminViewModeDelete.MTRankID.GetViewValue())</span>
</span></td>
} @* crewExperienceForAdminViewModeDelete.MTRankID.Visible (end) *@
@if (crewExperienceForAdminViewModeDelete.DateFrom.Visible) { // crewExperienceForAdminViewModeDelete.DateFrom.Visible (begin)
        <td @Html.Raw(crewExperienceForAdminViewModeDelete.DateFrom.CellAttributes)>
<span id="el@(crewExperienceForAdminViewModeDelete.RowCount)_CrewExperienceForAdminViewMode_DateFrom" class="el_CrewExperienceForAdminViewMode_DateFrom">
<span @Html.Raw(crewExperienceForAdminViewModeDelete.DateFrom.ViewAttributes)>
@Html.Raw(crewExperienceForAdminViewModeDelete.DateFrom.GetViewValue())</span>
</span></td>
} @* crewExperienceForAdminViewModeDelete.DateFrom.Visible (end) *@
@if (crewExperienceForAdminViewModeDelete.DateUntil.Visible) { // crewExperienceForAdminViewModeDelete.DateUntil.Visible (begin)
        <td @Html.Raw(crewExperienceForAdminViewModeDelete.DateUntil.CellAttributes)>
<span id="el@(crewExperienceForAdminViewModeDelete.RowCount)_CrewExperienceForAdminViewMode_DateUntil" class="el_CrewExperienceForAdminViewMode_DateUntil">
<span @Html.Raw(crewExperienceForAdminViewModeDelete.DateUntil.ViewAttributes)>
@Html.Raw(crewExperienceForAdminViewModeDelete.DateUntil.GetViewValue())</span>
</span></td>
} @* crewExperienceForAdminViewModeDelete.DateUntil.Visible (end) *@
@if (crewExperienceForAdminViewModeDelete.CreatedByUserID.Visible) { // crewExperienceForAdminViewModeDelete.CreatedByUserID.Visible (begin)
        <td @Html.Raw(crewExperienceForAdminViewModeDelete.CreatedByUserID.CellAttributes)>
<span id="el@(crewExperienceForAdminViewModeDelete.RowCount)_CrewExperienceForAdminViewMode_CreatedByUserID" class="el_CrewExperienceForAdminViewMode_CreatedByUserID">
<span @Html.Raw(crewExperienceForAdminViewModeDelete.CreatedByUserID.ViewAttributes)>
@Html.Raw(crewExperienceForAdminViewModeDelete.CreatedByUserID.GetViewValue())</span>
</span></td>
} @* crewExperienceForAdminViewModeDelete.CreatedByUserID.Visible (end) *@
@if (crewExperienceForAdminViewModeDelete.CreatedDateTime.Visible) { // crewExperienceForAdminViewModeDelete.CreatedDateTime.Visible (begin)
        <td @Html.Raw(crewExperienceForAdminViewModeDelete.CreatedDateTime.CellAttributes)>
<span id="el@(crewExperienceForAdminViewModeDelete.RowCount)_CrewExperienceForAdminViewMode_CreatedDateTime" class="el_CrewExperienceForAdminViewMode_CreatedDateTime">
<span @Html.Raw(crewExperienceForAdminViewModeDelete.CreatedDateTime.ViewAttributes)>
@Html.Raw(crewExperienceForAdminViewModeDelete.CreatedDateTime.GetViewValue())</span>
</span></td>
} @* crewExperienceForAdminViewModeDelete.CreatedDateTime.Visible (end) *@
@if (crewExperienceForAdminViewModeDelete.LastUpdatedByUserID.Visible) { // crewExperienceForAdminViewModeDelete.LastUpdatedByUserID.Visible (begin)
        <td @Html.Raw(crewExperienceForAdminViewModeDelete.LastUpdatedByUserID.CellAttributes)>
<span id="el@(crewExperienceForAdminViewModeDelete.RowCount)_CrewExperienceForAdminViewMode_LastUpdatedByUserID" class="el_CrewExperienceForAdminViewMode_LastUpdatedByUserID">
<span @Html.Raw(crewExperienceForAdminViewModeDelete.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(crewExperienceForAdminViewModeDelete.LastUpdatedByUserID.GetViewValue())</span>
</span></td>
} @* crewExperienceForAdminViewModeDelete.LastUpdatedByUserID.Visible (end) *@
@if (crewExperienceForAdminViewModeDelete.LastUpdatedDateTime.Visible) { // crewExperienceForAdminViewModeDelete.LastUpdatedDateTime.Visible (begin)
        <td @Html.Raw(crewExperienceForAdminViewModeDelete.LastUpdatedDateTime.CellAttributes)>
<span id="el@(crewExperienceForAdminViewModeDelete.RowCount)_CrewExperienceForAdminViewMode_LastUpdatedDateTime" class="el_CrewExperienceForAdminViewMode_LastUpdatedDateTime">
<span @Html.Raw(crewExperienceForAdminViewModeDelete.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(crewExperienceForAdminViewModeDelete.LastUpdatedDateTime.GetViewValue())</span>
</span></td>
} @* crewExperienceForAdminViewModeDelete.LastUpdatedDateTime.Visible (end) *@
@if (crewExperienceForAdminViewModeDelete.SignOnPortName.Visible) { // crewExperienceForAdminViewModeDelete.SignOnPortName.Visible (begin)
        <td @Html.Raw(crewExperienceForAdminViewModeDelete.SignOnPortName.CellAttributes)>
<span id="el@(crewExperienceForAdminViewModeDelete.RowCount)_CrewExperienceForAdminViewMode_SignOnPortName" class="el_CrewExperienceForAdminViewMode_SignOnPortName">
<span @Html.Raw(crewExperienceForAdminViewModeDelete.SignOnPortName.ViewAttributes)>
@Html.Raw(crewExperienceForAdminViewModeDelete.SignOnPortName.GetViewValue())</span>
</span></td>
} @* crewExperienceForAdminViewModeDelete.SignOnPortName.Visible (end) *@
@if (crewExperienceForAdminViewModeDelete.SignOffPortName.Visible) { // crewExperienceForAdminViewModeDelete.SignOffPortName.Visible (begin)
        <td @Html.Raw(crewExperienceForAdminViewModeDelete.SignOffPortName.CellAttributes)>
<span id="el@(crewExperienceForAdminViewModeDelete.RowCount)_CrewExperienceForAdminViewMode_SignOffPortName" class="el_CrewExperienceForAdminViewMode_SignOffPortName">
<span @Html.Raw(crewExperienceForAdminViewModeDelete.SignOffPortName.ViewAttributes)>
@Html.Raw(crewExperienceForAdminViewModeDelete.SignOffPortName.GetViewValue())</span>
</span></td>
} @* crewExperienceForAdminViewModeDelete.SignOffPortName.Visible (end) *@
@if (crewExperienceForAdminViewModeDelete.SignOffReason.Visible) { // crewExperienceForAdminViewModeDelete.SignOffReason.Visible (begin)
        <td @Html.Raw(crewExperienceForAdminViewModeDelete.SignOffReason.CellAttributes)>
<span id="el@(crewExperienceForAdminViewModeDelete.RowCount)_CrewExperienceForAdminViewMode_SignOffReason" class="el_CrewExperienceForAdminViewMode_SignOffReason">
<span @Html.Raw(crewExperienceForAdminViewModeDelete.SignOffReason.ViewAttributes)>
@Html.Raw(crewExperienceForAdminViewModeDelete.SignOffReason.GetViewValue())</span>
</span></td>
} @* crewExperienceForAdminViewModeDelete.SignOffReason.Visible (end) *@
    </tr>
}
@{ crewExperienceForAdminViewModeDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(crewExperienceForAdminViewModeDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@crewExperienceForAdminViewModeDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
