@{
    // View
    View = this;

    // Check action result
    if (crewFamilyForAdminDelete.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!crewFamilyForAdminDelete.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(crewFamilyForAdminDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { CrewFamilyForAdmin: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fCrewFamilyForAdmindelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fCrewFamilyForAdmindelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@crewFamilyForAdminDelete.ShowPageHeader()
@crewFamilyForAdminDelete.ShowMessages()
<form name="fCrewFamilyForAdmindelete" id="fCrewFamilyForAdmindelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in crewFamilyForAdminDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(crewFamilyForAdminDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(crewFamilyForAdminDelete.TableContainerClass)" style="@(crewFamilyForAdminDelete.TableContainerStyle)">
<table class="@(crewFamilyForAdminDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (crewFamilyForAdminDelete.MTCrewID.Visible) { // crewFamilyForAdminDelete.MTCrewID.Visible (begin)
        <th class="@Html.Raw(crewFamilyForAdminDelete.MTCrewID.HeaderCellClass)"><span id="elh_CrewFamilyForAdmin_MTCrewID" class="CrewFamilyForAdmin_MTCrewID">@Html.Raw(crewFamilyForAdminDelete.MTCrewID.Caption)</span></th>
} @* crewFamilyForAdminDelete.MTCrewID.Visible (end) *@
@if (crewFamilyForAdminDelete.Relationship.Visible) { // crewFamilyForAdminDelete.Relationship.Visible (begin)
        <th class="@Html.Raw(crewFamilyForAdminDelete.Relationship.HeaderCellClass)"><span id="elh_CrewFamilyForAdmin_Relationship" class="CrewFamilyForAdmin_Relationship">@Html.Raw(crewFamilyForAdminDelete.Relationship.Caption)</span></th>
} @* crewFamilyForAdminDelete.Relationship.Visible (end) *@
@if (crewFamilyForAdminDelete.FullName.Visible) { // crewFamilyForAdminDelete.FullName.Visible (begin)
        <th class="@Html.Raw(crewFamilyForAdminDelete.FullName.HeaderCellClass)"><span id="elh_CrewFamilyForAdmin_FullName" class="CrewFamilyForAdmin_FullName">@Html.Raw(crewFamilyForAdminDelete.FullName.Caption)</span></th>
} @* crewFamilyForAdminDelete.FullName.Visible (end) *@
@if (crewFamilyForAdminDelete.Gender.Visible) { // crewFamilyForAdminDelete.Gender.Visible (begin)
        <th class="@Html.Raw(crewFamilyForAdminDelete.Gender.HeaderCellClass)"><span id="elh_CrewFamilyForAdmin_Gender" class="CrewFamilyForAdmin_Gender">@Html.Raw(crewFamilyForAdminDelete.Gender.Caption)</span></th>
} @* crewFamilyForAdminDelete.Gender.Visible (end) *@
@if (crewFamilyForAdminDelete.DateOfBirth.Visible) { // crewFamilyForAdminDelete.DateOfBirth.Visible (begin)
        <th class="@Html.Raw(crewFamilyForAdminDelete.DateOfBirth.HeaderCellClass)"><span id="elh_CrewFamilyForAdmin_DateOfBirth" class="CrewFamilyForAdmin_DateOfBirth">@Html.Raw(crewFamilyForAdminDelete.DateOfBirth.Caption)</span></th>
} @* crewFamilyForAdminDelete.DateOfBirth.Visible (end) *@
@if (crewFamilyForAdminDelete.MobileNumberCode_CountryID.Visible) { // crewFamilyForAdminDelete.MobileNumberCode_CountryID.Visible (begin)
        <th class="@Html.Raw(crewFamilyForAdminDelete.MobileNumberCode_CountryID.HeaderCellClass)"><span id="elh_CrewFamilyForAdmin_MobileNumberCode_CountryID" class="CrewFamilyForAdmin_MobileNumberCode_CountryID">@Html.Raw(crewFamilyForAdminDelete.MobileNumberCode_CountryID.Caption)</span></th>
} @* crewFamilyForAdminDelete.MobileNumberCode_CountryID.Visible (end) *@
@if (crewFamilyForAdminDelete.MobileNumber.Visible) { // crewFamilyForAdminDelete.MobileNumber.Visible (begin)
        <th class="@Html.Raw(crewFamilyForAdminDelete.MobileNumber.HeaderCellClass)"><span id="elh_CrewFamilyForAdmin_MobileNumber" class="CrewFamilyForAdmin_MobileNumber">@Html.Raw(crewFamilyForAdminDelete.MobileNumber.Caption)</span></th>
} @* crewFamilyForAdminDelete.MobileNumber.Visible (end) *@
@if (crewFamilyForAdminDelete._Email.Visible) { // crewFamilyForAdminDelete._Email.Visible (begin)
        <th class="@Html.Raw(crewFamilyForAdminDelete._Email.HeaderCellClass)"><span id="elh_CrewFamilyForAdmin__Email" class="CrewFamilyForAdmin__Email">@Html.Raw(crewFamilyForAdminDelete._Email.Caption)</span></th>
} @* crewFamilyForAdminDelete._Email.Visible (end) *@
@if (crewFamilyForAdminDelete.SocialSecurityNumber.Visible) { // crewFamilyForAdminDelete.SocialSecurityNumber.Visible (begin)
        <th class="@Html.Raw(crewFamilyForAdminDelete.SocialSecurityNumber.HeaderCellClass)"><span id="elh_CrewFamilyForAdmin_SocialSecurityNumber" class="CrewFamilyForAdmin_SocialSecurityNumber">@Html.Raw(crewFamilyForAdminDelete.SocialSecurityNumber.Caption)</span></th>
} @* crewFamilyForAdminDelete.SocialSecurityNumber.Visible (end) *@
@if (crewFamilyForAdminDelete.FamilyRegisterNumber.Visible) { // crewFamilyForAdminDelete.FamilyRegisterNumber.Visible (begin)
        <th class="@Html.Raw(crewFamilyForAdminDelete.FamilyRegisterNumber.HeaderCellClass)"><span id="elh_CrewFamilyForAdmin_FamilyRegisterNumber" class="CrewFamilyForAdmin_FamilyRegisterNumber">@Html.Raw(crewFamilyForAdminDelete.FamilyRegisterNumber.Caption)</span></th>
} @* crewFamilyForAdminDelete.FamilyRegisterNumber.Visible (end) *@
@if (crewFamilyForAdminDelete.Address.Visible) { // crewFamilyForAdminDelete.Address.Visible (begin)
        <th class="@Html.Raw(crewFamilyForAdminDelete.Address.HeaderCellClass)"><span id="elh_CrewFamilyForAdmin_Address" class="CrewFamilyForAdmin_Address">@Html.Raw(crewFamilyForAdminDelete.Address.Caption)</span></th>
} @* crewFamilyForAdminDelete.Address.Visible (end) *@
@if (crewFamilyForAdminDelete.CreatedByUserID.Visible) { // crewFamilyForAdminDelete.CreatedByUserID.Visible (begin)
        <th class="@Html.Raw(crewFamilyForAdminDelete.CreatedByUserID.HeaderCellClass)"><span id="elh_CrewFamilyForAdmin_CreatedByUserID" class="CrewFamilyForAdmin_CreatedByUserID">@Html.Raw(crewFamilyForAdminDelete.CreatedByUserID.Caption)</span></th>
} @* crewFamilyForAdminDelete.CreatedByUserID.Visible (end) *@
@if (crewFamilyForAdminDelete.CreatedDateTime.Visible) { // crewFamilyForAdminDelete.CreatedDateTime.Visible (begin)
        <th class="@Html.Raw(crewFamilyForAdminDelete.CreatedDateTime.HeaderCellClass)"><span id="elh_CrewFamilyForAdmin_CreatedDateTime" class="CrewFamilyForAdmin_CreatedDateTime">@Html.Raw(crewFamilyForAdminDelete.CreatedDateTime.Caption)</span></th>
} @* crewFamilyForAdminDelete.CreatedDateTime.Visible (end) *@
@if (crewFamilyForAdminDelete.LastUpdatedByUserID.Visible) { // crewFamilyForAdminDelete.LastUpdatedByUserID.Visible (begin)
        <th class="@Html.Raw(crewFamilyForAdminDelete.LastUpdatedByUserID.HeaderCellClass)"><span id="elh_CrewFamilyForAdmin_LastUpdatedByUserID" class="CrewFamilyForAdmin_LastUpdatedByUserID">@Html.Raw(crewFamilyForAdminDelete.LastUpdatedByUserID.Caption)</span></th>
} @* crewFamilyForAdminDelete.LastUpdatedByUserID.Visible (end) *@
@if (crewFamilyForAdminDelete.LastUpdatedDateTime.Visible) { // crewFamilyForAdminDelete.LastUpdatedDateTime.Visible (begin)
        <th class="@Html.Raw(crewFamilyForAdminDelete.LastUpdatedDateTime.HeaderCellClass)"><span id="elh_CrewFamilyForAdmin_LastUpdatedDateTime" class="CrewFamilyForAdmin_LastUpdatedDateTime">@Html.Raw(crewFamilyForAdminDelete.LastUpdatedDateTime.Caption)</span></th>
} @* crewFamilyForAdminDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ crewFamilyForAdminDelete.RecordCount = 0; }
@while (crewFamilyForAdminDelete.Recordset != null && await crewFamilyForAdminDelete.Recordset.ReadAsync()) { // DN
    crewFamilyForAdminDelete.RecordCount++;
    crewFamilyForAdminDelete.RowCount++;

    // Set row properties
    crewFamilyForAdminDelete.ResetAttributes();
    crewFamilyForAdminDelete.RowType = RowType.View; // View

    // Get the field contents
    await crewFamilyForAdminDelete.LoadRowValues(crewFamilyForAdminDelete.Recordset);

    // Render row
    await crewFamilyForAdminDelete.RenderRow();
    <tr @Html.Raw(crewFamilyForAdminDelete.RowAttributes)>
@if (crewFamilyForAdminDelete.MTCrewID.Visible) { // crewFamilyForAdminDelete.MTCrewID.Visible (begin)
        <td @Html.Raw(crewFamilyForAdminDelete.MTCrewID.CellAttributes)>
<span id="el@(crewFamilyForAdminDelete.RowCount)_CrewFamilyForAdmin_MTCrewID" class="el_CrewFamilyForAdmin_MTCrewID">
<span @Html.Raw(crewFamilyForAdminDelete.MTCrewID.ViewAttributes)>
@Html.Raw(crewFamilyForAdminDelete.MTCrewID.GetViewValue())</span>
</span></td>
} @* crewFamilyForAdminDelete.MTCrewID.Visible (end) *@
@if (crewFamilyForAdminDelete.Relationship.Visible) { // crewFamilyForAdminDelete.Relationship.Visible (begin)
        <td @Html.Raw(crewFamilyForAdminDelete.Relationship.CellAttributes)>
<span id="el@(crewFamilyForAdminDelete.RowCount)_CrewFamilyForAdmin_Relationship" class="el_CrewFamilyForAdmin_Relationship">
<span @Html.Raw(crewFamilyForAdminDelete.Relationship.ViewAttributes)>
@Html.Raw(crewFamilyForAdminDelete.Relationship.GetViewValue())</span>
</span></td>
} @* crewFamilyForAdminDelete.Relationship.Visible (end) *@
@if (crewFamilyForAdminDelete.FullName.Visible) { // crewFamilyForAdminDelete.FullName.Visible (begin)
        <td @Html.Raw(crewFamilyForAdminDelete.FullName.CellAttributes)>
<span id="el@(crewFamilyForAdminDelete.RowCount)_CrewFamilyForAdmin_FullName" class="el_CrewFamilyForAdmin_FullName">
<span @Html.Raw(crewFamilyForAdminDelete.FullName.ViewAttributes)>
@Html.Raw(crewFamilyForAdminDelete.FullName.GetViewValue())</span>
</span></td>
} @* crewFamilyForAdminDelete.FullName.Visible (end) *@
@if (crewFamilyForAdminDelete.Gender.Visible) { // crewFamilyForAdminDelete.Gender.Visible (begin)
        <td @Html.Raw(crewFamilyForAdminDelete.Gender.CellAttributes)>
<span id="el@(crewFamilyForAdminDelete.RowCount)_CrewFamilyForAdmin_Gender" class="el_CrewFamilyForAdmin_Gender">
<span @Html.Raw(crewFamilyForAdminDelete.Gender.ViewAttributes)>
@Html.Raw(crewFamilyForAdminDelete.Gender.GetViewValue())</span>
</span></td>
} @* crewFamilyForAdminDelete.Gender.Visible (end) *@
@if (crewFamilyForAdminDelete.DateOfBirth.Visible) { // crewFamilyForAdminDelete.DateOfBirth.Visible (begin)
        <td @Html.Raw(crewFamilyForAdminDelete.DateOfBirth.CellAttributes)>
<span id="el@(crewFamilyForAdminDelete.RowCount)_CrewFamilyForAdmin_DateOfBirth" class="el_CrewFamilyForAdmin_DateOfBirth">
<span @Html.Raw(crewFamilyForAdminDelete.DateOfBirth.ViewAttributes)>
@Html.Raw(crewFamilyForAdminDelete.DateOfBirth.GetViewValue())</span>
</span></td>
} @* crewFamilyForAdminDelete.DateOfBirth.Visible (end) *@
@if (crewFamilyForAdminDelete.MobileNumberCode_CountryID.Visible) { // crewFamilyForAdminDelete.MobileNumberCode_CountryID.Visible (begin)
        <td @Html.Raw(crewFamilyForAdminDelete.MobileNumberCode_CountryID.CellAttributes)>
<span id="el@(crewFamilyForAdminDelete.RowCount)_CrewFamilyForAdmin_MobileNumberCode_CountryID" class="el_CrewFamilyForAdmin_MobileNumberCode_CountryID">
<span @Html.Raw(crewFamilyForAdminDelete.MobileNumberCode_CountryID.ViewAttributes)>
@Html.Raw(crewFamilyForAdminDelete.MobileNumberCode_CountryID.GetViewValue())</span>
</span></td>
} @* crewFamilyForAdminDelete.MobileNumberCode_CountryID.Visible (end) *@
@if (crewFamilyForAdminDelete.MobileNumber.Visible) { // crewFamilyForAdminDelete.MobileNumber.Visible (begin)
        <td @Html.Raw(crewFamilyForAdminDelete.MobileNumber.CellAttributes)>
<span id="el@(crewFamilyForAdminDelete.RowCount)_CrewFamilyForAdmin_MobileNumber" class="el_CrewFamilyForAdmin_MobileNumber">
<span @Html.Raw(crewFamilyForAdminDelete.MobileNumber.ViewAttributes)>
@Html.Raw(crewFamilyForAdminDelete.MobileNumber.GetViewValue())</span>
</span></td>
} @* crewFamilyForAdminDelete.MobileNumber.Visible (end) *@
@if (crewFamilyForAdminDelete._Email.Visible) { // crewFamilyForAdminDelete._Email.Visible (begin)
        <td @Html.Raw(crewFamilyForAdminDelete._Email.CellAttributes)>
<span id="el@(crewFamilyForAdminDelete.RowCount)_CrewFamilyForAdmin__Email" class="el_CrewFamilyForAdmin__Email">
<span @Html.Raw(crewFamilyForAdminDelete._Email.ViewAttributes)>
@Html.Raw(crewFamilyForAdminDelete._Email.GetViewValue())</span>
</span></td>
} @* crewFamilyForAdminDelete._Email.Visible (end) *@
@if (crewFamilyForAdminDelete.SocialSecurityNumber.Visible) { // crewFamilyForAdminDelete.SocialSecurityNumber.Visible (begin)
        <td @Html.Raw(crewFamilyForAdminDelete.SocialSecurityNumber.CellAttributes)>
<span id="el@(crewFamilyForAdminDelete.RowCount)_CrewFamilyForAdmin_SocialSecurityNumber" class="el_CrewFamilyForAdmin_SocialSecurityNumber">
<span @Html.Raw(crewFamilyForAdminDelete.SocialSecurityNumber.ViewAttributes)>
@Html.Raw(crewFamilyForAdminDelete.SocialSecurityNumber.GetViewValue())</span>
</span></td>
} @* crewFamilyForAdminDelete.SocialSecurityNumber.Visible (end) *@
@if (crewFamilyForAdminDelete.FamilyRegisterNumber.Visible) { // crewFamilyForAdminDelete.FamilyRegisterNumber.Visible (begin)
        <td @Html.Raw(crewFamilyForAdminDelete.FamilyRegisterNumber.CellAttributes)>
<span id="el@(crewFamilyForAdminDelete.RowCount)_CrewFamilyForAdmin_FamilyRegisterNumber" class="el_CrewFamilyForAdmin_FamilyRegisterNumber">
<span @Html.Raw(crewFamilyForAdminDelete.FamilyRegisterNumber.ViewAttributes)>
@Html.Raw(crewFamilyForAdminDelete.FamilyRegisterNumber.GetViewValue())</span>
</span></td>
} @* crewFamilyForAdminDelete.FamilyRegisterNumber.Visible (end) *@
@if (crewFamilyForAdminDelete.Address.Visible) { // crewFamilyForAdminDelete.Address.Visible (begin)
        <td @Html.Raw(crewFamilyForAdminDelete.Address.CellAttributes)>
<span id="el@(crewFamilyForAdminDelete.RowCount)_CrewFamilyForAdmin_Address" class="el_CrewFamilyForAdmin_Address">
<span @Html.Raw(crewFamilyForAdminDelete.Address.ViewAttributes)>
@Html.Raw(crewFamilyForAdminDelete.Address.GetViewValue())</span>
</span></td>
} @* crewFamilyForAdminDelete.Address.Visible (end) *@
@if (crewFamilyForAdminDelete.CreatedByUserID.Visible) { // crewFamilyForAdminDelete.CreatedByUserID.Visible (begin)
        <td @Html.Raw(crewFamilyForAdminDelete.CreatedByUserID.CellAttributes)>
<span id="el@(crewFamilyForAdminDelete.RowCount)_CrewFamilyForAdmin_CreatedByUserID" class="el_CrewFamilyForAdmin_CreatedByUserID">
<span @Html.Raw(crewFamilyForAdminDelete.CreatedByUserID.ViewAttributes)>
@Html.Raw(crewFamilyForAdminDelete.CreatedByUserID.GetViewValue())</span>
</span></td>
} @* crewFamilyForAdminDelete.CreatedByUserID.Visible (end) *@
@if (crewFamilyForAdminDelete.CreatedDateTime.Visible) { // crewFamilyForAdminDelete.CreatedDateTime.Visible (begin)
        <td @Html.Raw(crewFamilyForAdminDelete.CreatedDateTime.CellAttributes)>
<span id="el@(crewFamilyForAdminDelete.RowCount)_CrewFamilyForAdmin_CreatedDateTime" class="el_CrewFamilyForAdmin_CreatedDateTime">
<span @Html.Raw(crewFamilyForAdminDelete.CreatedDateTime.ViewAttributes)>
@Html.Raw(crewFamilyForAdminDelete.CreatedDateTime.GetViewValue())</span>
</span></td>
} @* crewFamilyForAdminDelete.CreatedDateTime.Visible (end) *@
@if (crewFamilyForAdminDelete.LastUpdatedByUserID.Visible) { // crewFamilyForAdminDelete.LastUpdatedByUserID.Visible (begin)
        <td @Html.Raw(crewFamilyForAdminDelete.LastUpdatedByUserID.CellAttributes)>
<span id="el@(crewFamilyForAdminDelete.RowCount)_CrewFamilyForAdmin_LastUpdatedByUserID" class="el_CrewFamilyForAdmin_LastUpdatedByUserID">
<span @Html.Raw(crewFamilyForAdminDelete.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(crewFamilyForAdminDelete.LastUpdatedByUserID.GetViewValue())</span>
</span></td>
} @* crewFamilyForAdminDelete.LastUpdatedByUserID.Visible (end) *@
@if (crewFamilyForAdminDelete.LastUpdatedDateTime.Visible) { // crewFamilyForAdminDelete.LastUpdatedDateTime.Visible (begin)
        <td @Html.Raw(crewFamilyForAdminDelete.LastUpdatedDateTime.CellAttributes)>
<span id="el@(crewFamilyForAdminDelete.RowCount)_CrewFamilyForAdmin_LastUpdatedDateTime" class="el_CrewFamilyForAdmin_LastUpdatedDateTime">
<span @Html.Raw(crewFamilyForAdminDelete.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(crewFamilyForAdminDelete.LastUpdatedDateTime.GetViewValue())</span>
</span></td>
} @* crewFamilyForAdminDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
}
@{ crewFamilyForAdminDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(crewFamilyForAdminDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@crewFamilyForAdminDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
