@{
    // View
    View = this;

    // Check action result
    if (crewAppraisalForAdminViewModeView.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!crewAppraisalForAdminViewModeView.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
@if (!crewAppraisalForAdminViewModeView.IsExport()) {
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!crewAppraisalForAdminViewModeView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @crewAppraisalForAdminViewModeView.ExportOptions.RenderBody()
    @crewAppraisalForAdminViewModeView.OtherOptions.RenderBody()
</div>
}
@crewAppraisalForAdminViewModeView.ShowPageHeader()
@crewAppraisalForAdminViewModeView.ShowMessages()
<main class="view">
<form name="fCrewAppraisalForAdminViewModeview" id="fCrewAppraisalForAdminViewModeview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (!crewAppraisalForAdminViewModeView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(crewAppraisalForAdminViewModeView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { CrewAppraisalForAdminViewMode: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fCrewAppraisalForAdminViewModeview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fCrewAppraisalForAdminViewModeview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
}
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(crewAppraisalForAdminViewModeView.IsModal)">
<table class="@(crewAppraisalForAdminViewModeView.TableClass)">
@if (crewAppraisalForAdminViewModeView.VesselName.Visible) { // crewAppraisalForAdminViewModeView.VesselName.Visible (begin)
    <tr id="r_VesselName" @Html.Raw(crewAppraisalForAdminViewModeView.VesselName.RowAttributes)>
        <td class="@(crewAppraisalForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewAppraisalForAdminViewMode_VesselName"><template id="tpc_CrewAppraisalForAdminViewMode_VesselName">@Html.Raw(crewAppraisalForAdminViewModeView.VesselName.Caption)</template></span></td>
        <td data-name="VesselName" @Html.Raw(crewAppraisalForAdminViewModeView.VesselName.CellAttributes)>
<template id="tpx_CrewAppraisalForAdminViewMode_VesselName"><span id="el_CrewAppraisalForAdminViewMode_VesselName">
<span @Html.Raw(crewAppraisalForAdminViewModeView.VesselName.ViewAttributes)>
@Html.Raw(crewAppraisalForAdminViewModeView.VesselName.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewAppraisalForAdminViewModeView.VesselName.Visible (end) *@
@if (crewAppraisalForAdminViewModeView.MTRankID.Visible) { // crewAppraisalForAdminViewModeView.MTRankID.Visible (begin)
    <tr id="r_MTRankID" @Html.Raw(crewAppraisalForAdminViewModeView.MTRankID.RowAttributes)>
        <td class="@(crewAppraisalForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewAppraisalForAdminViewMode_MTRankID"><template id="tpc_CrewAppraisalForAdminViewMode_MTRankID">@Html.Raw(crewAppraisalForAdminViewModeView.MTRankID.Caption)</template></span></td>
        <td data-name="MTRankID" @Html.Raw(crewAppraisalForAdminViewModeView.MTRankID.CellAttributes)>
<template id="tpx_CrewAppraisalForAdminViewMode_MTRankID"><span id="el_CrewAppraisalForAdminViewMode_MTRankID">
<span @Html.Raw(crewAppraisalForAdminViewModeView.MTRankID.ViewAttributes)>
@Html.Raw(crewAppraisalForAdminViewModeView.MTRankID.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewAppraisalForAdminViewModeView.MTRankID.Visible (end) *@
@if (crewAppraisalForAdminViewModeView.Questionnaire.Visible) { // crewAppraisalForAdminViewModeView.Questionnaire.Visible (begin)
    <tr id="r_Questionnaire" @Html.Raw(crewAppraisalForAdminViewModeView.Questionnaire.RowAttributes)>
        <td class="@(crewAppraisalForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewAppraisalForAdminViewMode_Questionnaire"><template id="tpc_CrewAppraisalForAdminViewMode_Questionnaire">@Html.Raw(crewAppraisalForAdminViewModeView.Questionnaire.Caption)</template></span></td>
        <td data-name="Questionnaire" @Html.Raw(crewAppraisalForAdminViewModeView.Questionnaire.CellAttributes)>
<template id="tpx_CrewAppraisalForAdminViewMode_Questionnaire"><span id="el_CrewAppraisalForAdminViewMode_Questionnaire">
<span @Html.Raw(crewAppraisalForAdminViewModeView.Questionnaire.ViewAttributes)>
@Html.Raw(crewAppraisalForAdminViewModeView.Questionnaire.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewAppraisalForAdminViewModeView.Questionnaire.Visible (end) *@
@if (crewAppraisalForAdminViewModeView.Approved.Visible) { // crewAppraisalForAdminViewModeView.Approved.Visible (begin)
    <tr id="r_Approved" @Html.Raw(crewAppraisalForAdminViewModeView.Approved.RowAttributes)>
        <td class="@(crewAppraisalForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewAppraisalForAdminViewMode_Approved"><template id="tpc_CrewAppraisalForAdminViewMode_Approved">@Html.Raw(crewAppraisalForAdminViewModeView.Approved.Caption)</template></span></td>
        <td data-name="Approved" @Html.Raw(crewAppraisalForAdminViewModeView.Approved.CellAttributes)>
<template id="tpx_CrewAppraisalForAdminViewMode_Approved"><span id="el_CrewAppraisalForAdminViewMode_Approved">
<span @Html.Raw(crewAppraisalForAdminViewModeView.Approved.ViewAttributes)>
<div class="form-check d-inline-block">
    <input type="checkbox" id="x_Approved_@(crewAppraisalForAdminViewModeView.RowCount)" class="form-check-input" value="@(crewAppraisalForAdminViewModeView.Approved.GetViewValue())" disabled checked="@(ConvertToBool(crewAppraisalForAdminViewModeView.Approved.CurrentValue))">
    <label class="form-check-label" for="x_Approved_@(crewAppraisalForAdminViewModeView.RowCount)"></label>
</div></span>
</span></template></td>
    </tr>
} @* crewAppraisalForAdminViewModeView.Approved.Visible (end) *@
@if (crewAppraisalForAdminViewModeView.AverageRating.Visible) { // crewAppraisalForAdminViewModeView.AverageRating.Visible (begin)
    <tr id="r_AverageRating" @Html.Raw(crewAppraisalForAdminViewModeView.AverageRating.RowAttributes)>
        <td class="@(crewAppraisalForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewAppraisalForAdminViewMode_AverageRating"><template id="tpc_CrewAppraisalForAdminViewMode_AverageRating">@Html.Raw(crewAppraisalForAdminViewModeView.AverageRating.Caption)</template></span></td>
        <td data-name="AverageRating" @Html.Raw(crewAppraisalForAdminViewModeView.AverageRating.CellAttributes)>
<template id="tpx_CrewAppraisalForAdminViewMode_AverageRating"><span id="el_CrewAppraisalForAdminViewMode_AverageRating">
<span @Html.Raw(crewAppraisalForAdminViewModeView.AverageRating.ViewAttributes)>
@Html.Raw(crewAppraisalForAdminViewModeView.AverageRating.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewAppraisalForAdminViewModeView.AverageRating.Visible (end) *@
@if (crewAppraisalForAdminViewModeView.Rehire.Visible) { // crewAppraisalForAdminViewModeView.Rehire.Visible (begin)
    <tr id="r_Rehire" @Html.Raw(crewAppraisalForAdminViewModeView.Rehire.RowAttributes)>
        <td class="@(crewAppraisalForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewAppraisalForAdminViewMode_Rehire"><template id="tpc_CrewAppraisalForAdminViewMode_Rehire">@Html.Raw(crewAppraisalForAdminViewModeView.Rehire.Caption)</template></span></td>
        <td data-name="Rehire" @Html.Raw(crewAppraisalForAdminViewModeView.Rehire.CellAttributes)>
<template id="tpx_CrewAppraisalForAdminViewMode_Rehire"><span id="el_CrewAppraisalForAdminViewMode_Rehire">
<span @Html.Raw(crewAppraisalForAdminViewModeView.Rehire.ViewAttributes)>
<div class="form-check d-inline-block">
    <input type="checkbox" id="x_Rehire_@(crewAppraisalForAdminViewModeView.RowCount)" class="form-check-input" value="@(crewAppraisalForAdminViewModeView.Rehire.GetViewValue())" disabled checked="@(ConvertToBool(crewAppraisalForAdminViewModeView.Rehire.CurrentValue))">
    <label class="form-check-label" for="x_Rehire_@(crewAppraisalForAdminViewModeView.RowCount)"></label>
</div></span>
</span></template></td>
    </tr>
} @* crewAppraisalForAdminViewModeView.Rehire.Visible (end) *@
@if (crewAppraisalForAdminViewModeView.Promote.Visible) { // crewAppraisalForAdminViewModeView.Promote.Visible (begin)
    <tr id="r_Promote" @Html.Raw(crewAppraisalForAdminViewModeView.Promote.RowAttributes)>
        <td class="@(crewAppraisalForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewAppraisalForAdminViewMode_Promote"><template id="tpc_CrewAppraisalForAdminViewMode_Promote">@Html.Raw(crewAppraisalForAdminViewModeView.Promote.Caption)</template></span></td>
        <td data-name="Promote" @Html.Raw(crewAppraisalForAdminViewModeView.Promote.CellAttributes)>
<template id="tpx_CrewAppraisalForAdminViewMode_Promote"><span id="el_CrewAppraisalForAdminViewMode_Promote">
<span @Html.Raw(crewAppraisalForAdminViewModeView.Promote.ViewAttributes)>
<div class="form-check d-inline-block">
    <input type="checkbox" id="x_Promote_@(crewAppraisalForAdminViewModeView.RowCount)" class="form-check-input" value="@(crewAppraisalForAdminViewModeView.Promote.GetViewValue())" disabled checked="@(ConvertToBool(crewAppraisalForAdminViewModeView.Promote.CurrentValue))">
    <label class="form-check-label" for="x_Promote_@(crewAppraisalForAdminViewModeView.RowCount)"></label>
</div></span>
</span></template></td>
    </tr>
} @* crewAppraisalForAdminViewModeView.Promote.Visible (end) *@
@if (crewAppraisalForAdminViewModeView.Appraiser.Visible) { // crewAppraisalForAdminViewModeView.Appraiser.Visible (begin)
    <tr id="r_Appraiser" @Html.Raw(crewAppraisalForAdminViewModeView.Appraiser.RowAttributes)>
        <td class="@(crewAppraisalForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewAppraisalForAdminViewMode_Appraiser"><template id="tpc_CrewAppraisalForAdminViewMode_Appraiser">@Html.Raw(crewAppraisalForAdminViewModeView.Appraiser.Caption)</template></span></td>
        <td data-name="Appraiser" @Html.Raw(crewAppraisalForAdminViewModeView.Appraiser.CellAttributes)>
<template id="tpx_CrewAppraisalForAdminViewMode_Appraiser"><span id="el_CrewAppraisalForAdminViewMode_Appraiser">
<span @Html.Raw(crewAppraisalForAdminViewModeView.Appraiser.ViewAttributes)>
@Html.Raw(crewAppraisalForAdminViewModeView.Appraiser.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewAppraisalForAdminViewModeView.Appraiser.Visible (end) *@
@if (crewAppraisalForAdminViewModeView.DateInput.Visible) { // crewAppraisalForAdminViewModeView.DateInput.Visible (begin)
    <tr id="r_DateInput" @Html.Raw(crewAppraisalForAdminViewModeView.DateInput.RowAttributes)>
        <td class="@(crewAppraisalForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewAppraisalForAdminViewMode_DateInput"><template id="tpc_CrewAppraisalForAdminViewMode_DateInput">@Html.Raw(crewAppraisalForAdminViewModeView.DateInput.Caption)</template></span></td>
        <td data-name="DateInput" @Html.Raw(crewAppraisalForAdminViewModeView.DateInput.CellAttributes)>
<template id="tpx_CrewAppraisalForAdminViewMode_DateInput"><span id="el_CrewAppraisalForAdminViewMode_DateInput">
<span @Html.Raw(crewAppraisalForAdminViewModeView.DateInput.ViewAttributes)>
@Html.Raw(crewAppraisalForAdminViewModeView.DateInput.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewAppraisalForAdminViewModeView.DateInput.Visible (end) *@
@if (crewAppraisalForAdminViewModeView.MTCrewID.Visible) { // crewAppraisalForAdminViewModeView.MTCrewID.Visible (begin)
    <tr id="r_MTCrewID" @Html.Raw(crewAppraisalForAdminViewModeView.MTCrewID.RowAttributes)>
        <td class="@(crewAppraisalForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewAppraisalForAdminViewMode_MTCrewID"><template id="tpc_CrewAppraisalForAdminViewMode_MTCrewID">@Html.Raw(crewAppraisalForAdminViewModeView.MTCrewID.Caption)</template></span></td>
        <td data-name="MTCrewID" @Html.Raw(crewAppraisalForAdminViewModeView.MTCrewID.CellAttributes)>
<template id="tpx_CrewAppraisalForAdminViewMode_MTCrewID"><span id="el_CrewAppraisalForAdminViewMode_MTCrewID">
<span @Html.Raw(crewAppraisalForAdminViewModeView.MTCrewID.ViewAttributes)>
@Html.Raw(crewAppraisalForAdminViewModeView.MTCrewID.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewAppraisalForAdminViewModeView.MTCrewID.Visible (end) *@
@if (crewAppraisalForAdminViewModeView.CreatedByUserID.Visible) { // crewAppraisalForAdminViewModeView.CreatedByUserID.Visible (begin)
    <tr id="r_CreatedByUserID" @Html.Raw(crewAppraisalForAdminViewModeView.CreatedByUserID.RowAttributes)>
        <td class="@(crewAppraisalForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewAppraisalForAdminViewMode_CreatedByUserID"><template id="tpc_CrewAppraisalForAdminViewMode_CreatedByUserID">@Html.Raw(crewAppraisalForAdminViewModeView.CreatedByUserID.Caption)</template></span></td>
        <td data-name="CreatedByUserID" @Html.Raw(crewAppraisalForAdminViewModeView.CreatedByUserID.CellAttributes)>
<template id="tpx_CrewAppraisalForAdminViewMode_CreatedByUserID"><span id="el_CrewAppraisalForAdminViewMode_CreatedByUserID">
<span @Html.Raw(crewAppraisalForAdminViewModeView.CreatedByUserID.ViewAttributes)>
@Html.Raw(crewAppraisalForAdminViewModeView.CreatedByUserID.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewAppraisalForAdminViewModeView.CreatedByUserID.Visible (end) *@
@if (crewAppraisalForAdminViewModeView.CreatedDateTime.Visible) { // crewAppraisalForAdminViewModeView.CreatedDateTime.Visible (begin)
    <tr id="r_CreatedDateTime" @Html.Raw(crewAppraisalForAdminViewModeView.CreatedDateTime.RowAttributes)>
        <td class="@(crewAppraisalForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewAppraisalForAdminViewMode_CreatedDateTime"><template id="tpc_CrewAppraisalForAdminViewMode_CreatedDateTime">@Html.Raw(crewAppraisalForAdminViewModeView.CreatedDateTime.Caption)</template></span></td>
        <td data-name="CreatedDateTime" @Html.Raw(crewAppraisalForAdminViewModeView.CreatedDateTime.CellAttributes)>
<template id="tpx_CrewAppraisalForAdminViewMode_CreatedDateTime"><span id="el_CrewAppraisalForAdminViewMode_CreatedDateTime">
<span @Html.Raw(crewAppraisalForAdminViewModeView.CreatedDateTime.ViewAttributes)>
@Html.Raw(crewAppraisalForAdminViewModeView.CreatedDateTime.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewAppraisalForAdminViewModeView.CreatedDateTime.Visible (end) *@
@if (crewAppraisalForAdminViewModeView.LastUpdatedByUserID.Visible) { // crewAppraisalForAdminViewModeView.LastUpdatedByUserID.Visible (begin)
    <tr id="r_LastUpdatedByUserID" @Html.Raw(crewAppraisalForAdminViewModeView.LastUpdatedByUserID.RowAttributes)>
        <td class="@(crewAppraisalForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewAppraisalForAdminViewMode_LastUpdatedByUserID"><template id="tpc_CrewAppraisalForAdminViewMode_LastUpdatedByUserID">@Html.Raw(crewAppraisalForAdminViewModeView.LastUpdatedByUserID.Caption)</template></span></td>
        <td data-name="LastUpdatedByUserID" @Html.Raw(crewAppraisalForAdminViewModeView.LastUpdatedByUserID.CellAttributes)>
<template id="tpx_CrewAppraisalForAdminViewMode_LastUpdatedByUserID"><span id="el_CrewAppraisalForAdminViewMode_LastUpdatedByUserID">
<span @Html.Raw(crewAppraisalForAdminViewModeView.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(crewAppraisalForAdminViewModeView.LastUpdatedByUserID.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewAppraisalForAdminViewModeView.LastUpdatedByUserID.Visible (end) *@
@if (crewAppraisalForAdminViewModeView.LastUpdatedDateTime.Visible) { // crewAppraisalForAdminViewModeView.LastUpdatedDateTime.Visible (begin)
    <tr id="r_LastUpdatedDateTime" @Html.Raw(crewAppraisalForAdminViewModeView.LastUpdatedDateTime.RowAttributes)>
        <td class="@(crewAppraisalForAdminViewModeView.TableLeftColumnClass)"><span id="elh_CrewAppraisalForAdminViewMode_LastUpdatedDateTime"><template id="tpc_CrewAppraisalForAdminViewMode_LastUpdatedDateTime">@Html.Raw(crewAppraisalForAdminViewModeView.LastUpdatedDateTime.Caption)</template></span></td>
        <td data-name="LastUpdatedDateTime" @Html.Raw(crewAppraisalForAdminViewModeView.LastUpdatedDateTime.CellAttributes)>
<template id="tpx_CrewAppraisalForAdminViewMode_LastUpdatedDateTime"><span id="el_CrewAppraisalForAdminViewMode_LastUpdatedDateTime">
<span @Html.Raw(crewAppraisalForAdminViewModeView.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(crewAppraisalForAdminViewModeView.LastUpdatedDateTime.GetViewValue())</span>
</span></template></td>
    </tr>
} @* crewAppraisalForAdminViewModeView.LastUpdatedDateTime.Visible (end) *@
</table>
<div id="tpd_CrewAppraisalForAdminViewModeview" class="ew-custom-template"></div>
<template id="tpm_CrewAppraisalForAdminViewModeview">
<div id="ct_crewAppraisalForAdminViewModeView">    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewPersonalDataForAdminViewModeView")">
                @(CurrentLanguage == "en-US" ? "PERSONAL DATA" : "DATA PERSONAL")
            </a>     
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewDocumentForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "DOCUMENTS" : "DOKUMEN")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewBankAccountForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "BANK ACCOUNT" : "REKENING BANK")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewFamilyForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "FAMILY" : "KELUARGA")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewFormalEducationForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "FORMAL EDUCATION" : "PENDIDIKAN FORMAL")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewMedicalCertificateForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "MEDICAL CERTIFICATE / TEST" : "SERTIFIKAT / TES MEDIS")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewCertificateForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "CERTIFICATES AND QUALIFICATIONS" : "SERTIFIKAT DAN KUALIFIKASI")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewExperienceForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "SEA EXPERIENCE" : "PENGALAMAN BERLAYAR")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewAppraisalForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "APPRAISALS" : "PENILAIAN")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewMedicalHistoryForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "MEDICAL HISTORY" : "RIWAYAT MEDIS")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewGeneralDataForAdminViewModeView")">
                @(CurrentLanguage == "en-US" ? "GENERAL" : "UMUM")
            </a>
        </li>
    </ul> 
    <div class="mb-2 row">
        <div class="col-sm-6">
            <div id="r_VesselName" class="mb-2 row">
                <label for="x_VesselName" class="col-form-label">@Html.Raw(crewAppraisalForAdminViewModeView.VesselName.Caption)</label>
                <div>
                    @{
                        if (string.IsNullOrEmpty(crewAppraisalForAdminViewModeView.VesselName.GetViewValue()))
                        {
                            @Html.Raw("&nbsp;");
                        }
                        else
                        {
                            <slot class="ew-slot" name="tpx_CrewAppraisalForAdminViewMode_VesselName"></slot>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="r_MTRankID" class="mb-2 row">
                <label for="x_MTRankID" class="col-form-label">@Html.Raw(crewAppraisalForAdminViewModeView.MTRankID.Caption)</label>
                <div>
                    @{
                        if (string.IsNullOrEmpty(crewAppraisalForAdminViewModeView.MTRankID.GetViewValue()))
                        {
                            @Html.Raw("&nbsp;");
                        }
                        else
                        {
                            <slot class="ew-slot" name="tpx_CrewAppraisalForAdminViewMode_MTRankID"></slot>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="mb-2 row">
        <div class="col-sm-6">
            <div id="r_Questionnaire" class="mb-2 row">
                <label for="x_Questionnaire" class="col-form-label">@Html.Raw(crewAppraisalForAdminViewModeView.Questionnaire.Caption)</label>
                <div>
                    @{
                        if (string.IsNullOrEmpty(crewAppraisalForAdminViewModeView.Questionnaire.GetViewValue()))
                        {
                            @Html.Raw("&nbsp;");
                        }
                        else
                        {
                            <slot class="ew-slot" name="tpx_CrewAppraisalForAdminViewMode_Questionnaire"></slot>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="r_Approved" class="mb-2 row">
                <label for="x_Approved" class="col-form-label">@Html.Raw(crewAppraisalForAdminViewModeView.Approved.Caption)</label>
                <div>
                    @{
                        if (string.IsNullOrEmpty(crewAppraisalForAdminViewModeView.Approved.GetViewValue()))
                        {
                            @Html.Raw("&nbsp;");
                        }
                        else
                        {
                            <slot class="ew-slot" name="tpx_CrewAppraisalForAdminViewMode_Approved"></slot>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="mb-2 row">
        <div class="col-sm-6">
            <div id="r_AverageRating" class="mb-2 row">
                <label for="x_AverageRating" class="col-form-label">@Html.Raw(crewAppraisalForAdminViewModeView.AverageRating.Caption)</label>
                <div>
                    @{
                        if (string.IsNullOrEmpty(crewAppraisalForAdminViewModeView.AverageRating.GetViewValue()))
                        {
                            @Html.Raw("&nbsp;");
                        }
                        else
                        {
                            <slot class="ew-slot" name="tpx_CrewAppraisalForAdminViewMode_AverageRating"></slot>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="r_Rehire" class="mb-2 row">
                <label for="x_Rehire" class="col-form-label">@Html.Raw(crewAppraisalForAdminViewModeView.Rehire.Caption)</label>
                <div>
                    @{
                        if (string.IsNullOrEmpty(crewAppraisalForAdminViewModeView.Rehire.GetViewValue()))
                        {
                            @Html.Raw("&nbsp;");
                        }
                        else
                        {
                            <slot class="ew-slot" name="tpx_CrewAppraisalForAdminViewMode_Rehire"></slot>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="mb-2 row">
        <div class="col-sm-6">
            <div id="r_Promote" class="mb-2 row">
                <label for="x_Promote" class="col-form-label">@Html.Raw(crewAppraisalForAdminViewModeView.Promote.Caption)</label>
                <div>
                    @{
                        if (string.IsNullOrEmpty(crewAppraisalForAdminViewModeView.Promote.GetViewValue()))
                        {
                            @Html.Raw("&nbsp;");
                        }
                        else
                        {
                            <slot class="ew-slot" name="tpx_CrewAppraisalForAdminViewMode_Promote"></slot>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="r_Appraiser" class="mb-2 row">
                <label for="x_Appraiser" class="col-form-label">@Html.Raw(crewAppraisalForAdminViewModeView.Appraiser.Caption)</label>
                <div>
                    @{
                        if (string.IsNullOrEmpty(crewAppraisalForAdminViewModeView.Appraiser.GetViewValue()))
                        {
                            @Html.Raw("&nbsp;");
                        }
                        else
                        {
                            <slot class="ew-slot" name="tpx_CrewAppraisalForAdminViewMode_Appraiser"></slot>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="mb-2 row">
        <div class="col-sm-6">
            <div id="r_DateInput" class="mb-2 row">
                <label for="x_DateInput" class="col-form-label">@Html.Raw(crewAppraisalForAdminViewModeView.DateInput.Caption)</label>
                <div>
                    @{
                        if (string.IsNullOrEmpty(crewAppraisalForAdminViewModeView.DateInput.GetViewValue()))
                        {
                            @Html.Raw("&nbsp;");
                        }
                        else
                        {
                            <slot class="ew-slot" name="tpx_CrewAppraisalForAdminViewMode_DateInput"></slot>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-sm-6">
        </div>
    </div>
</div>
</template>
@{ crewAppraisalForAdminViewModeView.CloseRecordset(); }
</form>
<script class="ew-apply-template">
loadjs.ready(ew.applyTemplateId, function() {
    var $ = jQuery;
    ew.templateData = { rows: @Html.Raw(ConvertToJson(crewAppraisalForAdminViewModeView.Rows)) };
    ew.applyTemplate("tpd_CrewAppraisalForAdminViewModeview", "tpm_CrewAppraisalForAdminViewModeview", "CrewAppraisalForAdminViewModeview", "@(crewAppraisalForAdminViewModeView.Export)", "CrewAppraisalForAdminViewMode", ew.templateData.rows[0], @(crewAppraisalForAdminViewModeView.IsModal ? "true" : "false"));
    loadjs.done("customtemplate");
});
</script>
</main>
@crewAppraisalForAdminViewModeView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!crewAppraisalForAdminViewModeView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Startup script
    // Write your table-specific startup script here
    // document.write("page loaded");

    // Get the current URL
    const currentUrlObject = new URL(window.location.href);
    // get the current URL without Add or Edit for assigning active class in tabs
    const currentUrlWithoutAddEditListView = currentUrlObject.href.replace(/Add|Edit|List|View/g, "");
    // Create a new URLSearchParams object based on the current URL's search parameters
    const urlQueryParams = new URLSearchParams(currentUrlObject.search);
    // Extract the value of the crewID query parameter
    const currentlyEditedCrewID = urlQueryParams.get('crewID');
    const crewDocumentID = currentUrlObject.pathname.split('/').pop();
    const averageRatingString = $('#r_AverageRating div span span').text().trim();
    const formattedAverageRating = parseFloat(averageRatingString).toLocaleString('id-ID', {
        style: 'decimal',
        minimumFractionDigits: 2,
        maximumFractionDigits: 2,
    });
    $('#r_AverageRating div span span').text(formattedAverageRating);

    // Iterate over each anchor element inside the nav-tabs
    $(".nav-tabs .nav-item a").each(function() {
        const href = $(this).attr("href");
        const hrefWithoutAddEditListView = href.replace(/Add|Edit|List|View/g, "");
        // Check if the href contains current page's url
        if (currentUrlWithoutAddEditListView.includes(hrefWithoutAddEditListView)) {
            // add class and attribute
            $(this).addClass("active");
            $(this).attr("aria-current", "page");
        }
        // Check if the href contains "Edit" or "Add"
        if (href.includes("ViewModeView")) {
            // Add "/" and the currently edited crew ID to the href
            const newHref = href + "/" + currentlyEditedCrewID;
            // Set the updated href attribute value
            $(this).attr("href", newHref);
        } else if (href.includes("ViewModeList")) {
            // Add "?crewID=" and the currently edited crew ID to the href
            const newHref = href + "?crewID=" + currentlyEditedCrewID;
            // Set the updated href attribute value
            $(this).attr("href", newHref);
        }
    });

    // Target the ol element that has breadcrumb class
    const $breadCrumbOl = $('.breadcrumb').first();

    // Delete the ol element that has breadcrumb class
    $breadCrumbOl.remove();
    $('div.btn-toolbar.ew-toolbar').remove();
    const selectedLanguage = ew.vars['languages']['languages'].filter(obj => obj.selected === true)[0];
    const parentUrl = ew.PATH_BASE;
    const adminAndEmployeeStatusApi = 'get-admin-and-employee-status';
    $.ajax({
        url: `${parentUrl}api/Registration/${adminAndEmployeeStatusApi}`,
        method: 'GET',
        data: {
            crewID: currentlyEditedCrewID
        },
        success: function(response) {
            if (response.success) {
                // Parse the data in the response
                const isAdmin = response.data.IsAdmin;
                const employeeStatus = response.data.EmployeeStatus;
                if (currentlyEditedCrewID === null) {
                    if (isAdmin) {
                        // redirect to list page with error message: record not found
                        if (employeeStatus === 'Candidate - Draft') {
                            window.location.replace(`${ew.PATH_BASE}RegistrationEdit/-1`);
                        } else if (employeeStatus === 'Candidate - Submitted') {
                            window.location.replace(`${ew.PATH_BASE}VWaitingForPdeReviewView/-1`);
                        }
                    } else {
                        window.location.replace(`${ew.PATH_BASE}index`);
                    }
                }
                if (employeeStatus === 'Candidate - Draft') {
                    const editButton = $("<a></a>", { 
                        text: (selectedLanguage.id === 'en-US') ? "Edit" : "Ubah",
                        class: "btn btn-default ew-btn me-3 primary-black-clr gray-bg", 
                        id: "btn-edit",
                        name: "btn-edit",
                        href: `${parentUrl}CrewAppraisalForAdminViewModeEdit/${crewDocumentID}?crewID=${currentlyEditedCrewID}`,
                    });
                    const deleteButton = $("<a></a>", { 
                        text: (selectedLanguage.id === 'en-US') ? "Delete" : "Hapus",
                        class: "btn btn-default ew-btn me-auto primary-red-bg primary-white-clr ew-action ew-delete", 
                        id: "btn-delete",
                        name: "btn-delete",
                        href: `${parentUrl}CrewAppraisalForAdminViewModeDelete/${crewDocumentID}`,
                        "data-ew-action": "inline-delete",
                        "data-caption": "Delete",
                    });
                    const backButton = $("<a></a>", { 
                        text: (selectedLanguage.id === 'en-US') ? "Back" : "Kembali",
                        class: "btn btn-default ew-btn ms-auto primary-red-bg primary-white-clr", 
                        id: "btn-back",
                        name: "btn-back",
                        href: `${parentUrl}CrewAppraisalForAdminViewModeList?crewID=${currentlyEditedCrewID}`,
                    });
                    const flexDiv = $("<div class='d-flex mb-3'></div>");
                    flexDiv.append(editButton);
                    flexDiv.append(deleteButton);
                    flexDiv.append(backButton);
                    const buttonsDiv = $("<div class='row ew-buttons'></div>");
                    buttonsDiv.append(flexDiv);
                    $('form#fCrewAppraisalForAdminViewModeview').append(buttonsDiv);
                } else if (employeeStatus === 'Candidate - Submitted') {
                    const backButton = $("<a></a>", { 
                        text: (selectedLanguage.id === 'en-US') ? "Back" : "Kembali",
                        class: "btn btn-default ew-btn ms-auto primary-red-bg primary-white-clr", 
                        id: "btn-back",
                        name: "btn-back",
                        href: `${parentUrl}CrewAppraisalForAdminViewModeList?crewID=${currentlyEditedCrewID}`,
                    });
                    const flexDiv = $("<div class='d-flex mb-3'></div>");
                    flexDiv.append(backButton);
                    const buttonsDiv = $("<div class='row ew-buttons'></div>");
                    buttonsDiv.append(flexDiv);
                    $('form#fCrewAppraisalForAdminViewModeview').append(buttonsDiv);
                }
            } else {
                // Handle the error
                ew.showToast(response.errorMessage);
            }
        },
        error: function(xhr, textStatus, errorThrown) {
            // Handle the error
            ew.showToast(errorThrown);
        }
    });
});
</script>
}
