@{
    // View
    View = this;

    // Check action result
    if (crewMedicalHistoryForAdminDelete.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!crewMedicalHistoryForAdminDelete.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(crewMedicalHistoryForAdminDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { CrewMedicalHistoryForAdmin: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fCrewMedicalHistoryForAdmindelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fCrewMedicalHistoryForAdmindelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@crewMedicalHistoryForAdminDelete.ShowPageHeader()
@crewMedicalHistoryForAdminDelete.ShowMessages()
<form name="fCrewMedicalHistoryForAdmindelete" id="fCrewMedicalHistoryForAdmindelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in crewMedicalHistoryForAdminDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(crewMedicalHistoryForAdminDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(crewMedicalHistoryForAdminDelete.TableContainerClass)" style="@(crewMedicalHistoryForAdminDelete.TableContainerStyle)">
<table class="@(crewMedicalHistoryForAdminDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (crewMedicalHistoryForAdminDelete.MTCrewID.Visible) { // crewMedicalHistoryForAdminDelete.MTCrewID.Visible (begin)
        <th class="@Html.Raw(crewMedicalHistoryForAdminDelete.MTCrewID.HeaderCellClass)"><span id="elh_CrewMedicalHistoryForAdmin_MTCrewID" class="CrewMedicalHistoryForAdmin_MTCrewID">@Html.Raw(crewMedicalHistoryForAdminDelete.MTCrewID.Caption)</span></th>
} @* crewMedicalHistoryForAdminDelete.MTCrewID.Visible (end) *@
@if (crewMedicalHistoryForAdminDelete._Type.Visible) { // crewMedicalHistoryForAdminDelete._Type.Visible (begin)
        <th class="@Html.Raw(crewMedicalHistoryForAdminDelete._Type.HeaderCellClass)"><span id="elh_CrewMedicalHistoryForAdmin__Type" class="CrewMedicalHistoryForAdmin__Type">@Html.Raw(crewMedicalHistoryForAdminDelete._Type.Caption)</span></th>
} @* crewMedicalHistoryForAdminDelete._Type.Visible (end) *@
@if (crewMedicalHistoryForAdminDelete.VesselName.Visible) { // crewMedicalHistoryForAdminDelete.VesselName.Visible (begin)
        <th class="@Html.Raw(crewMedicalHistoryForAdminDelete.VesselName.HeaderCellClass)"><span id="elh_CrewMedicalHistoryForAdmin_VesselName" class="CrewMedicalHistoryForAdmin_VesselName">@Html.Raw(crewMedicalHistoryForAdminDelete.VesselName.Caption)</span></th>
} @* crewMedicalHistoryForAdminDelete.VesselName.Visible (end) *@
@if (crewMedicalHistoryForAdminDelete.DateOccurence.Visible) { // crewMedicalHistoryForAdminDelete.DateOccurence.Visible (begin)
        <th class="@Html.Raw(crewMedicalHistoryForAdminDelete.DateOccurence.HeaderCellClass)"><span id="elh_CrewMedicalHistoryForAdmin_DateOccurence" class="CrewMedicalHistoryForAdmin_DateOccurence">@Html.Raw(crewMedicalHistoryForAdminDelete.DateOccurence.Caption)</span></th>
} @* crewMedicalHistoryForAdminDelete.DateOccurence.Visible (end) *@
@if (crewMedicalHistoryForAdminDelete.PlaceOccurence.Visible) { // crewMedicalHistoryForAdminDelete.PlaceOccurence.Visible (begin)
        <th class="@Html.Raw(crewMedicalHistoryForAdminDelete.PlaceOccurence.HeaderCellClass)"><span id="elh_CrewMedicalHistoryForAdmin_PlaceOccurence" class="CrewMedicalHistoryForAdmin_PlaceOccurence">@Html.Raw(crewMedicalHistoryForAdminDelete.PlaceOccurence.Caption)</span></th>
} @* crewMedicalHistoryForAdminDelete.PlaceOccurence.Visible (end) *@
@if (crewMedicalHistoryForAdminDelete.PeriodOfDisability.Visible) { // crewMedicalHistoryForAdminDelete.PeriodOfDisability.Visible (begin)
        <th class="@Html.Raw(crewMedicalHistoryForAdminDelete.PeriodOfDisability.HeaderCellClass)"><span id="elh_CrewMedicalHistoryForAdmin_PeriodOfDisability" class="CrewMedicalHistoryForAdmin_PeriodOfDisability">@Html.Raw(crewMedicalHistoryForAdminDelete.PeriodOfDisability.Caption)</span></th>
} @* crewMedicalHistoryForAdminDelete.PeriodOfDisability.Visible (end) *@
@if (crewMedicalHistoryForAdminDelete.PresentCondition.Visible) { // crewMedicalHistoryForAdminDelete.PresentCondition.Visible (begin)
        <th class="@Html.Raw(crewMedicalHistoryForAdminDelete.PresentCondition.HeaderCellClass)"><span id="elh_CrewMedicalHistoryForAdmin_PresentCondition" class="CrewMedicalHistoryForAdmin_PresentCondition">@Html.Raw(crewMedicalHistoryForAdminDelete.PresentCondition.Caption)</span></th>
} @* crewMedicalHistoryForAdminDelete.PresentCondition.Visible (end) *@
@if (crewMedicalHistoryForAdminDelete.Treatment.Visible) { // crewMedicalHistoryForAdminDelete.Treatment.Visible (begin)
        <th class="@Html.Raw(crewMedicalHistoryForAdminDelete.Treatment.HeaderCellClass)"><span id="elh_CrewMedicalHistoryForAdmin_Treatment" class="CrewMedicalHistoryForAdmin_Treatment">@Html.Raw(crewMedicalHistoryForAdminDelete.Treatment.Caption)</span></th>
} @* crewMedicalHistoryForAdminDelete.Treatment.Visible (end) *@
@if (crewMedicalHistoryForAdminDelete.Details.Visible) { // crewMedicalHistoryForAdminDelete.Details.Visible (begin)
        <th class="@Html.Raw(crewMedicalHistoryForAdminDelete.Details.HeaderCellClass)"><span id="elh_CrewMedicalHistoryForAdmin_Details" class="CrewMedicalHistoryForAdmin_Details">@Html.Raw(crewMedicalHistoryForAdminDelete.Details.Caption)</span></th>
} @* crewMedicalHistoryForAdminDelete.Details.Visible (end) *@
@if (crewMedicalHistoryForAdminDelete.CreatedByUserID.Visible) { // crewMedicalHistoryForAdminDelete.CreatedByUserID.Visible (begin)
        <th class="@Html.Raw(crewMedicalHistoryForAdminDelete.CreatedByUserID.HeaderCellClass)"><span id="elh_CrewMedicalHistoryForAdmin_CreatedByUserID" class="CrewMedicalHistoryForAdmin_CreatedByUserID">@Html.Raw(crewMedicalHistoryForAdminDelete.CreatedByUserID.Caption)</span></th>
} @* crewMedicalHistoryForAdminDelete.CreatedByUserID.Visible (end) *@
@if (crewMedicalHistoryForAdminDelete.CreatedDateTime.Visible) { // crewMedicalHistoryForAdminDelete.CreatedDateTime.Visible (begin)
        <th class="@Html.Raw(crewMedicalHistoryForAdminDelete.CreatedDateTime.HeaderCellClass)"><span id="elh_CrewMedicalHistoryForAdmin_CreatedDateTime" class="CrewMedicalHistoryForAdmin_CreatedDateTime">@Html.Raw(crewMedicalHistoryForAdminDelete.CreatedDateTime.Caption)</span></th>
} @* crewMedicalHistoryForAdminDelete.CreatedDateTime.Visible (end) *@
@if (crewMedicalHistoryForAdminDelete.LastUpdatedByUserID.Visible) { // crewMedicalHistoryForAdminDelete.LastUpdatedByUserID.Visible (begin)
        <th class="@Html.Raw(crewMedicalHistoryForAdminDelete.LastUpdatedByUserID.HeaderCellClass)"><span id="elh_CrewMedicalHistoryForAdmin_LastUpdatedByUserID" class="CrewMedicalHistoryForAdmin_LastUpdatedByUserID">@Html.Raw(crewMedicalHistoryForAdminDelete.LastUpdatedByUserID.Caption)</span></th>
} @* crewMedicalHistoryForAdminDelete.LastUpdatedByUserID.Visible (end) *@
@if (crewMedicalHistoryForAdminDelete.LastUpdatedDateTime.Visible) { // crewMedicalHistoryForAdminDelete.LastUpdatedDateTime.Visible (begin)
        <th class="@Html.Raw(crewMedicalHistoryForAdminDelete.LastUpdatedDateTime.HeaderCellClass)"><span id="elh_CrewMedicalHistoryForAdmin_LastUpdatedDateTime" class="CrewMedicalHistoryForAdmin_LastUpdatedDateTime">@Html.Raw(crewMedicalHistoryForAdminDelete.LastUpdatedDateTime.Caption)</span></th>
} @* crewMedicalHistoryForAdminDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ crewMedicalHistoryForAdminDelete.RecordCount = 0; }
@while (crewMedicalHistoryForAdminDelete.Recordset != null && await crewMedicalHistoryForAdminDelete.Recordset.ReadAsync()) { // DN
    crewMedicalHistoryForAdminDelete.RecordCount++;
    crewMedicalHistoryForAdminDelete.RowCount++;

    // Set row properties
    crewMedicalHistoryForAdminDelete.ResetAttributes();
    crewMedicalHistoryForAdminDelete.RowType = RowType.View; // View

    // Get the field contents
    await crewMedicalHistoryForAdminDelete.LoadRowValues(crewMedicalHistoryForAdminDelete.Recordset);

    // Render row
    await crewMedicalHistoryForAdminDelete.RenderRow();
    <tr @Html.Raw(crewMedicalHistoryForAdminDelete.RowAttributes)>
@if (crewMedicalHistoryForAdminDelete.MTCrewID.Visible) { // crewMedicalHistoryForAdminDelete.MTCrewID.Visible (begin)
        <td @Html.Raw(crewMedicalHistoryForAdminDelete.MTCrewID.CellAttributes)>
<span id="el@(crewMedicalHistoryForAdminDelete.RowCount)_CrewMedicalHistoryForAdmin_MTCrewID" class="el_CrewMedicalHistoryForAdmin_MTCrewID">
<span @Html.Raw(crewMedicalHistoryForAdminDelete.MTCrewID.ViewAttributes)>
@Html.Raw(crewMedicalHistoryForAdminDelete.MTCrewID.GetViewValue())</span>
</span></td>
} @* crewMedicalHistoryForAdminDelete.MTCrewID.Visible (end) *@
@if (crewMedicalHistoryForAdminDelete._Type.Visible) { // crewMedicalHistoryForAdminDelete._Type.Visible (begin)
        <td @Html.Raw(crewMedicalHistoryForAdminDelete._Type.CellAttributes)>
<span id="el@(crewMedicalHistoryForAdminDelete.RowCount)_CrewMedicalHistoryForAdmin__Type" class="el_CrewMedicalHistoryForAdmin__Type">
<span @Html.Raw(crewMedicalHistoryForAdminDelete._Type.ViewAttributes)>
@Html.Raw(crewMedicalHistoryForAdminDelete._Type.GetViewValue())</span>
</span></td>
} @* crewMedicalHistoryForAdminDelete._Type.Visible (end) *@
@if (crewMedicalHistoryForAdminDelete.VesselName.Visible) { // crewMedicalHistoryForAdminDelete.VesselName.Visible (begin)
        <td @Html.Raw(crewMedicalHistoryForAdminDelete.VesselName.CellAttributes)>
<span id="el@(crewMedicalHistoryForAdminDelete.RowCount)_CrewMedicalHistoryForAdmin_VesselName" class="el_CrewMedicalHistoryForAdmin_VesselName">
<span @Html.Raw(crewMedicalHistoryForAdminDelete.VesselName.ViewAttributes)>
@Html.Raw(crewMedicalHistoryForAdminDelete.VesselName.GetViewValue())</span>
</span></td>
} @* crewMedicalHistoryForAdminDelete.VesselName.Visible (end) *@
@if (crewMedicalHistoryForAdminDelete.DateOccurence.Visible) { // crewMedicalHistoryForAdminDelete.DateOccurence.Visible (begin)
        <td @Html.Raw(crewMedicalHistoryForAdminDelete.DateOccurence.CellAttributes)>
<span id="el@(crewMedicalHistoryForAdminDelete.RowCount)_CrewMedicalHistoryForAdmin_DateOccurence" class="el_CrewMedicalHistoryForAdmin_DateOccurence">
<span @Html.Raw(crewMedicalHistoryForAdminDelete.DateOccurence.ViewAttributes)>
@Html.Raw(crewMedicalHistoryForAdminDelete.DateOccurence.GetViewValue())</span>
</span></td>
} @* crewMedicalHistoryForAdminDelete.DateOccurence.Visible (end) *@
@if (crewMedicalHistoryForAdminDelete.PlaceOccurence.Visible) { // crewMedicalHistoryForAdminDelete.PlaceOccurence.Visible (begin)
        <td @Html.Raw(crewMedicalHistoryForAdminDelete.PlaceOccurence.CellAttributes)>
<span id="el@(crewMedicalHistoryForAdminDelete.RowCount)_CrewMedicalHistoryForAdmin_PlaceOccurence" class="el_CrewMedicalHistoryForAdmin_PlaceOccurence">
<span @Html.Raw(crewMedicalHistoryForAdminDelete.PlaceOccurence.ViewAttributes)>
@Html.Raw(crewMedicalHistoryForAdminDelete.PlaceOccurence.GetViewValue())</span>
</span></td>
} @* crewMedicalHistoryForAdminDelete.PlaceOccurence.Visible (end) *@
@if (crewMedicalHistoryForAdminDelete.PeriodOfDisability.Visible) { // crewMedicalHistoryForAdminDelete.PeriodOfDisability.Visible (begin)
        <td @Html.Raw(crewMedicalHistoryForAdminDelete.PeriodOfDisability.CellAttributes)>
<span id="el@(crewMedicalHistoryForAdminDelete.RowCount)_CrewMedicalHistoryForAdmin_PeriodOfDisability" class="el_CrewMedicalHistoryForAdmin_PeriodOfDisability">
<span @Html.Raw(crewMedicalHistoryForAdminDelete.PeriodOfDisability.ViewAttributes)>
@Html.Raw(crewMedicalHistoryForAdminDelete.PeriodOfDisability.GetViewValue())</span>
</span></td>
} @* crewMedicalHistoryForAdminDelete.PeriodOfDisability.Visible (end) *@
@if (crewMedicalHistoryForAdminDelete.PresentCondition.Visible) { // crewMedicalHistoryForAdminDelete.PresentCondition.Visible (begin)
        <td @Html.Raw(crewMedicalHistoryForAdminDelete.PresentCondition.CellAttributes)>
<span id="el@(crewMedicalHistoryForAdminDelete.RowCount)_CrewMedicalHistoryForAdmin_PresentCondition" class="el_CrewMedicalHistoryForAdmin_PresentCondition">
<span @Html.Raw(crewMedicalHistoryForAdminDelete.PresentCondition.ViewAttributes)>
@Html.Raw(crewMedicalHistoryForAdminDelete.PresentCondition.GetViewValue())</span>
</span></td>
} @* crewMedicalHistoryForAdminDelete.PresentCondition.Visible (end) *@
@if (crewMedicalHistoryForAdminDelete.Treatment.Visible) { // crewMedicalHistoryForAdminDelete.Treatment.Visible (begin)
        <td @Html.Raw(crewMedicalHistoryForAdminDelete.Treatment.CellAttributes)>
<span id="el@(crewMedicalHistoryForAdminDelete.RowCount)_CrewMedicalHistoryForAdmin_Treatment" class="el_CrewMedicalHistoryForAdmin_Treatment">
<span @Html.Raw(crewMedicalHistoryForAdminDelete.Treatment.ViewAttributes)>
@Html.Raw(crewMedicalHistoryForAdminDelete.Treatment.GetViewValue())</span>
</span></td>
} @* crewMedicalHistoryForAdminDelete.Treatment.Visible (end) *@
@if (crewMedicalHistoryForAdminDelete.Details.Visible) { // crewMedicalHistoryForAdminDelete.Details.Visible (begin)
        <td @Html.Raw(crewMedicalHistoryForAdminDelete.Details.CellAttributes)>
<span id="el@(crewMedicalHistoryForAdminDelete.RowCount)_CrewMedicalHistoryForAdmin_Details" class="el_CrewMedicalHistoryForAdmin_Details">
<span @Html.Raw(crewMedicalHistoryForAdminDelete.Details.ViewAttributes)>
@Html.Raw(crewMedicalHistoryForAdminDelete.Details.GetViewValue())</span>
</span></td>
} @* crewMedicalHistoryForAdminDelete.Details.Visible (end) *@
@if (crewMedicalHistoryForAdminDelete.CreatedByUserID.Visible) { // crewMedicalHistoryForAdminDelete.CreatedByUserID.Visible (begin)
        <td @Html.Raw(crewMedicalHistoryForAdminDelete.CreatedByUserID.CellAttributes)>
<span id="el@(crewMedicalHistoryForAdminDelete.RowCount)_CrewMedicalHistoryForAdmin_CreatedByUserID" class="el_CrewMedicalHistoryForAdmin_CreatedByUserID">
<span @Html.Raw(crewMedicalHistoryForAdminDelete.CreatedByUserID.ViewAttributes)>
@Html.Raw(crewMedicalHistoryForAdminDelete.CreatedByUserID.GetViewValue())</span>
</span></td>
} @* crewMedicalHistoryForAdminDelete.CreatedByUserID.Visible (end) *@
@if (crewMedicalHistoryForAdminDelete.CreatedDateTime.Visible) { // crewMedicalHistoryForAdminDelete.CreatedDateTime.Visible (begin)
        <td @Html.Raw(crewMedicalHistoryForAdminDelete.CreatedDateTime.CellAttributes)>
<span id="el@(crewMedicalHistoryForAdminDelete.RowCount)_CrewMedicalHistoryForAdmin_CreatedDateTime" class="el_CrewMedicalHistoryForAdmin_CreatedDateTime">
<span @Html.Raw(crewMedicalHistoryForAdminDelete.CreatedDateTime.ViewAttributes)>
@Html.Raw(crewMedicalHistoryForAdminDelete.CreatedDateTime.GetViewValue())</span>
</span></td>
} @* crewMedicalHistoryForAdminDelete.CreatedDateTime.Visible (end) *@
@if (crewMedicalHistoryForAdminDelete.LastUpdatedByUserID.Visible) { // crewMedicalHistoryForAdminDelete.LastUpdatedByUserID.Visible (begin)
        <td @Html.Raw(crewMedicalHistoryForAdminDelete.LastUpdatedByUserID.CellAttributes)>
<span id="el@(crewMedicalHistoryForAdminDelete.RowCount)_CrewMedicalHistoryForAdmin_LastUpdatedByUserID" class="el_CrewMedicalHistoryForAdmin_LastUpdatedByUserID">
<span @Html.Raw(crewMedicalHistoryForAdminDelete.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(crewMedicalHistoryForAdminDelete.LastUpdatedByUserID.GetViewValue())</span>
</span></td>
} @* crewMedicalHistoryForAdminDelete.LastUpdatedByUserID.Visible (end) *@
@if (crewMedicalHistoryForAdminDelete.LastUpdatedDateTime.Visible) { // crewMedicalHistoryForAdminDelete.LastUpdatedDateTime.Visible (begin)
        <td @Html.Raw(crewMedicalHistoryForAdminDelete.LastUpdatedDateTime.CellAttributes)>
<span id="el@(crewMedicalHistoryForAdminDelete.RowCount)_CrewMedicalHistoryForAdmin_LastUpdatedDateTime" class="el_CrewMedicalHistoryForAdmin_LastUpdatedDateTime">
<span @Html.Raw(crewMedicalHistoryForAdminDelete.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(crewMedicalHistoryForAdminDelete.LastUpdatedDateTime.GetViewValue())</span>
</span></td>
} @* crewMedicalHistoryForAdminDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
}
@{ crewMedicalHistoryForAdminDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(crewMedicalHistoryForAdminDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@crewMedicalHistoryForAdminDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
