@{
    // View
    View = this;

    // Check action result
    if (crewMedicalCertificateForAdminView.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!crewMedicalCertificateForAdminView.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
@if (!crewMedicalCertificateForAdminView.IsExport()) {
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!crewMedicalCertificateForAdminView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @crewMedicalCertificateForAdminView.ExportOptions.RenderBody()
    @crewMedicalCertificateForAdminView.OtherOptions.RenderBody()
</div>
}
@crewMedicalCertificateForAdminView.ShowPageHeader()
@crewMedicalCertificateForAdminView.ShowMessages()
<main class="view">
<form name="fCrewMedicalCertificateForAdminview" id="fCrewMedicalCertificateForAdminview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (!crewMedicalCertificateForAdminView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(crewMedicalCertificateForAdminView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { CrewMedicalCertificateForAdmin: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fCrewMedicalCertificateForAdminview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fCrewMedicalCertificateForAdminview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
}
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(crewMedicalCertificateForAdminView.IsModal)">
<table class="@(crewMedicalCertificateForAdminView.TableClass)">
@if (crewMedicalCertificateForAdminView.MTMedicalCertificateID.Visible) { // crewMedicalCertificateForAdminView.MTMedicalCertificateID.Visible (begin)
    <tr id="r_MTMedicalCertificateID" @Html.Raw(crewMedicalCertificateForAdminView.MTMedicalCertificateID.RowAttributes)>
        <td class="@(crewMedicalCertificateForAdminView.TableLeftColumnClass)"><span id="elh_CrewMedicalCertificateForAdmin_MTMedicalCertificateID">@Html.Raw(crewMedicalCertificateForAdminView.MTMedicalCertificateID.Caption)</span></td>
        <td data-name="MTMedicalCertificateID" @Html.Raw(crewMedicalCertificateForAdminView.MTMedicalCertificateID.CellAttributes)>
<span id="el_CrewMedicalCertificateForAdmin_MTMedicalCertificateID">
<span @Html.Raw(crewMedicalCertificateForAdminView.MTMedicalCertificateID.ViewAttributes)>
@Html.Raw(crewMedicalCertificateForAdminView.MTMedicalCertificateID.GetViewValue())</span>
</span></td>
    </tr>
} @* crewMedicalCertificateForAdminView.MTMedicalCertificateID.Visible (end) *@
@if (crewMedicalCertificateForAdminView.Number.Visible) { // crewMedicalCertificateForAdminView.Number.Visible (begin)
    <tr id="r_Number" @Html.Raw(crewMedicalCertificateForAdminView.Number.RowAttributes)>
        <td class="@(crewMedicalCertificateForAdminView.TableLeftColumnClass)"><span id="elh_CrewMedicalCertificateForAdmin_Number">@Html.Raw(crewMedicalCertificateForAdminView.Number.Caption)</span></td>
        <td data-name="Number" @Html.Raw(crewMedicalCertificateForAdminView.Number.CellAttributes)>
<span id="el_CrewMedicalCertificateForAdmin_Number">
<span @Html.Raw(crewMedicalCertificateForAdminView.Number.ViewAttributes)>
@Html.Raw(crewMedicalCertificateForAdminView.Number.GetViewValue())</span>
</span></td>
    </tr>
} @* crewMedicalCertificateForAdminView.Number.Visible (end) *@
@if (crewMedicalCertificateForAdminView.PlaceOfIssue.Visible) { // crewMedicalCertificateForAdminView.PlaceOfIssue.Visible (begin)
    <tr id="r_PlaceOfIssue" @Html.Raw(crewMedicalCertificateForAdminView.PlaceOfIssue.RowAttributes)>
        <td class="@(crewMedicalCertificateForAdminView.TableLeftColumnClass)"><span id="elh_CrewMedicalCertificateForAdmin_PlaceOfIssue">@Html.Raw(crewMedicalCertificateForAdminView.PlaceOfIssue.Caption)</span></td>
        <td data-name="PlaceOfIssue" @Html.Raw(crewMedicalCertificateForAdminView.PlaceOfIssue.CellAttributes)>
<span id="el_CrewMedicalCertificateForAdmin_PlaceOfIssue">
<span @Html.Raw(crewMedicalCertificateForAdminView.PlaceOfIssue.ViewAttributes)>
@Html.Raw(crewMedicalCertificateForAdminView.PlaceOfIssue.GetViewValue())</span>
</span></td>
    </tr>
} @* crewMedicalCertificateForAdminView.PlaceOfIssue.Visible (end) *@
@if (crewMedicalCertificateForAdminView.DateOfIssue.Visible) { // crewMedicalCertificateForAdminView.DateOfIssue.Visible (begin)
    <tr id="r_DateOfIssue" @Html.Raw(crewMedicalCertificateForAdminView.DateOfIssue.RowAttributes)>
        <td class="@(crewMedicalCertificateForAdminView.TableLeftColumnClass)"><span id="elh_CrewMedicalCertificateForAdmin_DateOfIssue">@Html.Raw(crewMedicalCertificateForAdminView.DateOfIssue.Caption)</span></td>
        <td data-name="DateOfIssue" @Html.Raw(crewMedicalCertificateForAdminView.DateOfIssue.CellAttributes)>
<span id="el_CrewMedicalCertificateForAdmin_DateOfIssue">
<span @Html.Raw(crewMedicalCertificateForAdminView.DateOfIssue.ViewAttributes)>
@Html.Raw(crewMedicalCertificateForAdminView.DateOfIssue.GetViewValue())</span>
</span></td>
    </tr>
} @* crewMedicalCertificateForAdminView.DateOfIssue.Visible (end) *@
@if (crewMedicalCertificateForAdminView.ExpirationDate.Visible) { // crewMedicalCertificateForAdminView.ExpirationDate.Visible (begin)
    <tr id="r_ExpirationDate" @Html.Raw(crewMedicalCertificateForAdminView.ExpirationDate.RowAttributes)>
        <td class="@(crewMedicalCertificateForAdminView.TableLeftColumnClass)"><span id="elh_CrewMedicalCertificateForAdmin_ExpirationDate">@Html.Raw(crewMedicalCertificateForAdminView.ExpirationDate.Caption)</span></td>
        <td data-name="ExpirationDate" @Html.Raw(crewMedicalCertificateForAdminView.ExpirationDate.CellAttributes)>
<span id="el_CrewMedicalCertificateForAdmin_ExpirationDate">
<span @Html.Raw(crewMedicalCertificateForAdminView.ExpirationDate.ViewAttributes)>
@Html.Raw(crewMedicalCertificateForAdminView.ExpirationDate.GetViewValue())</span>
</span></td>
    </tr>
} @* crewMedicalCertificateForAdminView.ExpirationDate.Visible (end) *@
@if (crewMedicalCertificateForAdminView.Attachment.Visible) { // crewMedicalCertificateForAdminView.Attachment.Visible (begin)
    <tr id="r_Attachment" @Html.Raw(crewMedicalCertificateForAdminView.Attachment.RowAttributes)>
        <td class="@(crewMedicalCertificateForAdminView.TableLeftColumnClass)"><span id="elh_CrewMedicalCertificateForAdmin_Attachment">@Html.Raw(crewMedicalCertificateForAdminView.Attachment.Caption)</span></td>
        <td data-name="Attachment" @Html.Raw(crewMedicalCertificateForAdminView.Attachment.CellAttributes)>
<span id="el_CrewMedicalCertificateForAdmin_Attachment">
<span>
@Html.Raw(await GetFileViewTag((DbField)crewMedicalCertificateForAdminView.Attachment, ConvertToString(crewMedicalCertificateForAdminView.Attachment.GetViewValue()), false))
</span>
</span></td>
    </tr>
} @* crewMedicalCertificateForAdminView.Attachment.Visible (end) *@
@if (crewMedicalCertificateForAdminView.MTCrewID.Visible) { // crewMedicalCertificateForAdminView.MTCrewID.Visible (begin)
    <tr id="r_MTCrewID" @Html.Raw(crewMedicalCertificateForAdminView.MTCrewID.RowAttributes)>
        <td class="@(crewMedicalCertificateForAdminView.TableLeftColumnClass)"><span id="elh_CrewMedicalCertificateForAdmin_MTCrewID">@Html.Raw(crewMedicalCertificateForAdminView.MTCrewID.Caption)</span></td>
        <td data-name="MTCrewID" @Html.Raw(crewMedicalCertificateForAdminView.MTCrewID.CellAttributes)>
<span id="el_CrewMedicalCertificateForAdmin_MTCrewID">
<span @Html.Raw(crewMedicalCertificateForAdminView.MTCrewID.ViewAttributes)>
@Html.Raw(crewMedicalCertificateForAdminView.MTCrewID.GetViewValue())</span>
</span></td>
    </tr>
} @* crewMedicalCertificateForAdminView.MTCrewID.Visible (end) *@
@if (crewMedicalCertificateForAdminView.CreatedByUserID.Visible) { // crewMedicalCertificateForAdminView.CreatedByUserID.Visible (begin)
    <tr id="r_CreatedByUserID" @Html.Raw(crewMedicalCertificateForAdminView.CreatedByUserID.RowAttributes)>
        <td class="@(crewMedicalCertificateForAdminView.TableLeftColumnClass)"><span id="elh_CrewMedicalCertificateForAdmin_CreatedByUserID">@Html.Raw(crewMedicalCertificateForAdminView.CreatedByUserID.Caption)</span></td>
        <td data-name="CreatedByUserID" @Html.Raw(crewMedicalCertificateForAdminView.CreatedByUserID.CellAttributes)>
<span id="el_CrewMedicalCertificateForAdmin_CreatedByUserID">
<span @Html.Raw(crewMedicalCertificateForAdminView.CreatedByUserID.ViewAttributes)>
@Html.Raw(crewMedicalCertificateForAdminView.CreatedByUserID.GetViewValue())</span>
</span></td>
    </tr>
} @* crewMedicalCertificateForAdminView.CreatedByUserID.Visible (end) *@
@if (crewMedicalCertificateForAdminView.CreatedDateTime.Visible) { // crewMedicalCertificateForAdminView.CreatedDateTime.Visible (begin)
    <tr id="r_CreatedDateTime" @Html.Raw(crewMedicalCertificateForAdminView.CreatedDateTime.RowAttributes)>
        <td class="@(crewMedicalCertificateForAdminView.TableLeftColumnClass)"><span id="elh_CrewMedicalCertificateForAdmin_CreatedDateTime">@Html.Raw(crewMedicalCertificateForAdminView.CreatedDateTime.Caption)</span></td>
        <td data-name="CreatedDateTime" @Html.Raw(crewMedicalCertificateForAdminView.CreatedDateTime.CellAttributes)>
<span id="el_CrewMedicalCertificateForAdmin_CreatedDateTime">
<span @Html.Raw(crewMedicalCertificateForAdminView.CreatedDateTime.ViewAttributes)>
@Html.Raw(crewMedicalCertificateForAdminView.CreatedDateTime.GetViewValue())</span>
</span></td>
    </tr>
} @* crewMedicalCertificateForAdminView.CreatedDateTime.Visible (end) *@
@if (crewMedicalCertificateForAdminView.LastUpdatedByUserID.Visible) { // crewMedicalCertificateForAdminView.LastUpdatedByUserID.Visible (begin)
    <tr id="r_LastUpdatedByUserID" @Html.Raw(crewMedicalCertificateForAdminView.LastUpdatedByUserID.RowAttributes)>
        <td class="@(crewMedicalCertificateForAdminView.TableLeftColumnClass)"><span id="elh_CrewMedicalCertificateForAdmin_LastUpdatedByUserID">@Html.Raw(crewMedicalCertificateForAdminView.LastUpdatedByUserID.Caption)</span></td>
        <td data-name="LastUpdatedByUserID" @Html.Raw(crewMedicalCertificateForAdminView.LastUpdatedByUserID.CellAttributes)>
<span id="el_CrewMedicalCertificateForAdmin_LastUpdatedByUserID">
<span @Html.Raw(crewMedicalCertificateForAdminView.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(crewMedicalCertificateForAdminView.LastUpdatedByUserID.GetViewValue())</span>
</span></td>
    </tr>
} @* crewMedicalCertificateForAdminView.LastUpdatedByUserID.Visible (end) *@
@if (crewMedicalCertificateForAdminView.LastUpdatedDateTime.Visible) { // crewMedicalCertificateForAdminView.LastUpdatedDateTime.Visible (begin)
    <tr id="r_LastUpdatedDateTime" @Html.Raw(crewMedicalCertificateForAdminView.LastUpdatedDateTime.RowAttributes)>
        <td class="@(crewMedicalCertificateForAdminView.TableLeftColumnClass)"><span id="elh_CrewMedicalCertificateForAdmin_LastUpdatedDateTime">@Html.Raw(crewMedicalCertificateForAdminView.LastUpdatedDateTime.Caption)</span></td>
        <td data-name="LastUpdatedDateTime" @Html.Raw(crewMedicalCertificateForAdminView.LastUpdatedDateTime.CellAttributes)>
<span id="el_CrewMedicalCertificateForAdmin_LastUpdatedDateTime">
<span @Html.Raw(crewMedicalCertificateForAdminView.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(crewMedicalCertificateForAdminView.LastUpdatedDateTime.GetViewValue())</span>
</span></td>
    </tr>
} @* crewMedicalCertificateForAdminView.LastUpdatedDateTime.Visible (end) *@
</table>
@{ crewMedicalCertificateForAdminView.CloseRecordset(); }
</form>
</main>
@crewMedicalCertificateForAdminView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!crewMedicalCertificateForAdminView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
