@{
    // View
    View = this;

    // Check action result
    if (crewCertificateForAdminViewModeEdit.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!crewCertificateForAdminViewModeEdit.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@crewCertificateForAdminViewModeEdit.ShowPageHeader()
@crewCertificateForAdminViewModeEdit.ShowMessages()
<main class="edit">
<form name="fCrewCertificateForAdminViewModeedit" id="fCrewCertificateForAdminViewModeedit" class="@(crewCertificateForAdminViewModeEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
<script>
var currentTable = @Html.Raw(ConvertToJson(crewCertificateForAdminViewModeEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { CrewCertificateForAdminViewMode: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fCrewCertificateForAdminViewModeedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fCrewCertificateForAdminViewModeedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["MTCrewID", [fields.MTCrewID.visible && fields.MTCrewID.required ? ew.Validators.required(fields.MTCrewID.caption) : null], fields.MTCrewID.isInvalid],
            ["MTCertificateID", [fields.MTCertificateID.visible && fields.MTCertificateID.required ? ew.Validators.required(fields.MTCertificateID.caption) : null], fields.MTCertificateID.isInvalid],
            ["CountryOfIssue_CountryID", [fields.CountryOfIssue_CountryID.visible && fields.CountryOfIssue_CountryID.required ? ew.Validators.required(fields.CountryOfIssue_CountryID.caption) : null], fields.CountryOfIssue_CountryID.isInvalid],
            ["Number", [fields.Number.visible && fields.Number.required ? ew.Validators.required(fields.Number.caption) : null], fields.Number.isInvalid],
            ["DateOfIssue", [fields.DateOfIssue.visible && fields.DateOfIssue.required ? ew.Validators.required(fields.DateOfIssue.caption) : null, ew.Validators.datetime(fields.DateOfIssue.clientFormatPattern)], fields.DateOfIssue.isInvalid],
            ["DateOfExpiry", [fields.DateOfExpiry.visible && fields.DateOfExpiry.required ? ew.Validators.required(fields.DateOfExpiry.caption) : null, ew.Validators.datetime(fields.DateOfExpiry.clientFormatPattern)], fields.DateOfExpiry.isInvalid],
            ["PlaceOfIssue", [fields.PlaceOfIssue.visible && fields.PlaceOfIssue.required ? ew.Validators.required(fields.PlaceOfIssue.caption) : null], fields.PlaceOfIssue.isInvalid],
            ["IssuingAuthority", [fields.IssuingAuthority.visible && fields.IssuingAuthority.required ? ew.Validators.required(fields.IssuingAuthority.caption) : null], fields.IssuingAuthority.isInvalid],
            ["Level", [fields.Level.visible && fields.Level.required ? ew.Validators.required(fields.Level.caption) : null], fields.Level.isInvalid],
            ["PaxVesselType", [fields.PaxVesselType.visible && fields.PaxVesselType.required ? ew.Validators.required(fields.PaxVesselType.caption) : null], fields.PaxVesselType.isInvalid],
            ["Image", [fields.Image.visible && fields.Image.required ? ew.Validators.fileRequired(fields.Image.caption) : null], fields.Image.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "CountryOfIssue_CountryID": @Html.Raw(crewCertificateForAdminViewModeEdit.CountryOfIssue_CountryID.ToClientList(crewCertificateForAdminViewModeEdit)),
            "Level": @Html.Raw(crewCertificateForAdminViewModeEdit.Level.ToClientList(crewCertificateForAdminViewModeEdit)),
            "PaxVesselType": @Html.Raw(crewCertificateForAdminViewModeEdit.PaxVesselType.ToClientList(crewCertificateForAdminViewModeEdit)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(crewCertificateForAdminViewModeEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(crewCertificateForAdminViewModeEdit.OldKeyName)" value="@Html.Raw(crewCertificateForAdminViewModeEdit.OldKey)">
<div class="ew-edit-div d-none"><!-- page* -->
@if (crewCertificateForAdminViewModeEdit.MTCrewID.Visible) { // crewCertificateForAdminViewModeEdit.MTCrewID.Visible (begin)
    <div id="r_MTCrewID" @Html.Raw(crewCertificateForAdminViewModeEdit.MTCrewID.RowAttributes)>
        <label id="elh_CrewCertificateForAdminViewMode_MTCrewID" for="x_MTCrewID" class="@(crewCertificateForAdminViewModeEdit.LeftColumnClass)"><template id="tpc_CrewCertificateForAdminViewMode_MTCrewID">@Html.Raw(crewCertificateForAdminViewModeEdit.MTCrewID.Caption)@Html.Raw(crewCertificateForAdminViewModeEdit.MTCrewID.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewCertificateForAdminViewModeEdit.RightColumnClass)"><div @Html.Raw(crewCertificateForAdminViewModeEdit.MTCrewID.CellAttributes)>
<template id="tpx_CrewCertificateForAdminViewMode_MTCrewID"><span id="el_CrewCertificateForAdminViewMode_MTCrewID">
<input type="@(crewCertificateForAdminViewModeEdit.MTCrewID.InputTextType)" name="x_MTCrewID" id="x_MTCrewID" data-table="CrewCertificateForAdminViewMode" data-field="x_MTCrewID" value="@Html.Raw(crewCertificateForAdminViewModeEdit.MTCrewID.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(crewCertificateForAdminViewModeEdit.MTCrewID.PlaceHolder))" data-format-pattern="@(crewCertificateForAdminViewModeEdit.MTCrewID.FormatPattern)"@Html.Raw(crewCertificateForAdminViewModeEdit.MTCrewID.EditAttributes) aria-describedby="x_MTCrewID_help">
@Html.Raw(crewCertificateForAdminViewModeEdit.MTCrewID.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewCertificateForAdminViewModeEdit.MTCrewID.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* crewCertificateForAdminViewModeEdit.MTCrewID.Visible (end) *@
@if (crewCertificateForAdminViewModeEdit.MTCertificateID.Visible) { // crewCertificateForAdminViewModeEdit.MTCertificateID.Visible (begin)
    <div id="r_MTCertificateID" @Html.Raw(crewCertificateForAdminViewModeEdit.MTCertificateID.RowAttributes)>
        <label id="elh_CrewCertificateForAdminViewMode_MTCertificateID" for="x_MTCertificateID" class="@(crewCertificateForAdminViewModeEdit.LeftColumnClass)"><template id="tpc_CrewCertificateForAdminViewMode_MTCertificateID">@Html.Raw(crewCertificateForAdminViewModeEdit.MTCertificateID.Caption)@Html.Raw(crewCertificateForAdminViewModeEdit.MTCertificateID.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewCertificateForAdminViewModeEdit.RightColumnClass)"><div @Html.Raw(crewCertificateForAdminViewModeEdit.MTCertificateID.CellAttributes)>
<template id="tpx_CrewCertificateForAdminViewMode_MTCertificateID"><span id="el_CrewCertificateForAdminViewMode_MTCertificateID">
<input type="@(crewCertificateForAdminViewModeEdit.MTCertificateID.InputTextType)" name="x_MTCertificateID" id="x_MTCertificateID" data-table="CrewCertificateForAdminViewMode" data-field="x_MTCertificateID" value="@Html.Raw(crewCertificateForAdminViewModeEdit.MTCertificateID.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(crewCertificateForAdminViewModeEdit.MTCertificateID.PlaceHolder))" data-format-pattern="@(crewCertificateForAdminViewModeEdit.MTCertificateID.FormatPattern)"@Html.Raw(crewCertificateForAdminViewModeEdit.MTCertificateID.EditAttributes) aria-describedby="x_MTCertificateID_help">
@Html.Raw(crewCertificateForAdminViewModeEdit.MTCertificateID.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewCertificateForAdminViewModeEdit.MTCertificateID.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* crewCertificateForAdminViewModeEdit.MTCertificateID.Visible (end) *@
@if (crewCertificateForAdminViewModeEdit.CountryOfIssue_CountryID.Visible) { // crewCertificateForAdminViewModeEdit.CountryOfIssue_CountryID.Visible (begin)
    <div id="r_CountryOfIssue_CountryID" @Html.Raw(crewCertificateForAdminViewModeEdit.CountryOfIssue_CountryID.RowAttributes)>
        <label id="elh_CrewCertificateForAdminViewMode_CountryOfIssue_CountryID" for="x_CountryOfIssue_CountryID" class="@(crewCertificateForAdminViewModeEdit.LeftColumnClass)"><template id="tpc_CrewCertificateForAdminViewMode_CountryOfIssue_CountryID">@Html.Raw(crewCertificateForAdminViewModeEdit.CountryOfIssue_CountryID.Caption)@Html.Raw(crewCertificateForAdminViewModeEdit.CountryOfIssue_CountryID.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewCertificateForAdminViewModeEdit.RightColumnClass)"><div @Html.Raw(crewCertificateForAdminViewModeEdit.CountryOfIssue_CountryID.CellAttributes)>
<template id="tpx_CrewCertificateForAdminViewMode_CountryOfIssue_CountryID"><span id="el_CrewCertificateForAdminViewMode_CountryOfIssue_CountryID">
    <select
        id="x_CountryOfIssue_CountryID"
        name="x_CountryOfIssue_CountryID"
        class="form-select ew-select@(crewCertificateForAdminViewModeEdit.CountryOfIssue_CountryID.IsInvalidClass)"
        data-select2-id="fCrewCertificateForAdminViewModeedit_x_CountryOfIssue_CountryID"
        data-table="CrewCertificateForAdminViewMode"
        data-field="x_CountryOfIssue_CountryID"
        data-value-separator="@(crewCertificateForAdminViewModeEdit.CountryOfIssue_CountryID.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(crewCertificateForAdminViewModeEdit.CountryOfIssue_CountryID.PlaceHolder))"
        @Html.Raw(crewCertificateForAdminViewModeEdit.CountryOfIssue_CountryID.EditAttributes)>
        @(crewCertificateForAdminViewModeEdit.CountryOfIssue_CountryID.SelectOptionListHtml("x_CountryOfIssue_CountryID"))
    </select>
    @Html.Raw(crewCertificateForAdminViewModeEdit.CountryOfIssue_CountryID.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(crewCertificateForAdminViewModeEdit.CountryOfIssue_CountryID.GetErrorMessage())</div>
@Html.Raw(crewCertificateForAdminViewModeEdit.CountryOfIssue_CountryID.Lookup.GetParamTag(crewCertificateForAdminViewModeEdit, "p_x_CountryOfIssue_CountryID"))
<script>
loadjs.ready("fCrewCertificateForAdminViewModeedit", function() {
    var options = { name: "x_CountryOfIssue_CountryID", selectId: "fCrewCertificateForAdminViewModeedit_x_CountryOfIssue_CountryID" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fCrewCertificateForAdminViewModeedit.lists.CountryOfIssue_CountryID?.lookupOptions.length) {
        options.data = { id: "x_CountryOfIssue_CountryID", form: "fCrewCertificateForAdminViewModeedit" };
    } else {
        options.ajax = { id: "x_CountryOfIssue_CountryID", form: "fCrewCertificateForAdminViewModeedit", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumInputLength = ew.selectMinimumInputLength;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.CrewCertificateForAdminViewMode.fields.CountryOfIssue_CountryID.selectOptions);
    ew.createSelect(options);
});
</script>
</span></template>
</div></div>
    </div>
} @* crewCertificateForAdminViewModeEdit.CountryOfIssue_CountryID.Visible (end) *@
@if (crewCertificateForAdminViewModeEdit.Number.Visible) { // crewCertificateForAdminViewModeEdit.Number.Visible (begin)
    <div id="r_Number" @Html.Raw(crewCertificateForAdminViewModeEdit.Number.RowAttributes)>
        <label id="elh_CrewCertificateForAdminViewMode_Number" for="x_Number" class="@(crewCertificateForAdminViewModeEdit.LeftColumnClass)"><template id="tpc_CrewCertificateForAdminViewMode_Number">@Html.Raw(crewCertificateForAdminViewModeEdit.Number.Caption)@Html.Raw(crewCertificateForAdminViewModeEdit.Number.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewCertificateForAdminViewModeEdit.RightColumnClass)"><div @Html.Raw(crewCertificateForAdminViewModeEdit.Number.CellAttributes)>
<template id="tpx_CrewCertificateForAdminViewMode_Number"><span id="el_CrewCertificateForAdminViewMode_Number">
<input type="@(crewCertificateForAdminViewModeEdit.Number.InputTextType)" name="x_Number" id="x_Number" data-table="CrewCertificateForAdminViewMode" data-field="x_Number" value="@Html.Raw(crewCertificateForAdminViewModeEdit.Number.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(crewCertificateForAdminViewModeEdit.Number.PlaceHolder))" data-format-pattern="@(crewCertificateForAdminViewModeEdit.Number.FormatPattern)"@Html.Raw(crewCertificateForAdminViewModeEdit.Number.EditAttributes) aria-describedby="x_Number_help">
@Html.Raw(crewCertificateForAdminViewModeEdit.Number.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewCertificateForAdminViewModeEdit.Number.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* crewCertificateForAdminViewModeEdit.Number.Visible (end) *@
@if (crewCertificateForAdminViewModeEdit.DateOfIssue.Visible) { // crewCertificateForAdminViewModeEdit.DateOfIssue.Visible (begin)
    <div id="r_DateOfIssue" @Html.Raw(crewCertificateForAdminViewModeEdit.DateOfIssue.RowAttributes)>
        <label id="elh_CrewCertificateForAdminViewMode_DateOfIssue" for="x_DateOfIssue" class="@(crewCertificateForAdminViewModeEdit.LeftColumnClass)"><template id="tpc_CrewCertificateForAdminViewMode_DateOfIssue">@Html.Raw(crewCertificateForAdminViewModeEdit.DateOfIssue.Caption)@Html.Raw(crewCertificateForAdminViewModeEdit.DateOfIssue.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewCertificateForAdminViewModeEdit.RightColumnClass)"><div @Html.Raw(crewCertificateForAdminViewModeEdit.DateOfIssue.CellAttributes)>
<template id="tpx_CrewCertificateForAdminViewMode_DateOfIssue"><span id="el_CrewCertificateForAdminViewMode_DateOfIssue">
<input type="@(crewCertificateForAdminViewModeEdit.DateOfIssue.InputTextType)" name="x_DateOfIssue" id="x_DateOfIssue" data-table="CrewCertificateForAdminViewMode" data-field="x_DateOfIssue" value="@Html.Raw(crewCertificateForAdminViewModeEdit.DateOfIssue.EditValue)" placeholder="@Html.Raw(HtmlEncode(crewCertificateForAdminViewModeEdit.DateOfIssue.PlaceHolder))" data-format-pattern="@(crewCertificateForAdminViewModeEdit.DateOfIssue.FormatPattern)"@Html.Raw(crewCertificateForAdminViewModeEdit.DateOfIssue.EditAttributes) aria-describedby="x_DateOfIssue_help">
@Html.Raw(crewCertificateForAdminViewModeEdit.DateOfIssue.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewCertificateForAdminViewModeEdit.DateOfIssue.GetErrorMessage())</div>
@if (!crewCertificateForAdminViewModeEdit.DateOfIssue.ReadOnly && !crewCertificateForAdminViewModeEdit.DateOfIssue.Disabled && !crewCertificateForAdminViewModeEdit.DateOfIssue.EditAttrs.Is("readonly") && !crewCertificateForAdminViewModeEdit.DateOfIssue.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fCrewCertificateForAdminViewModeedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fCrewCertificateForAdminViewModeedit", "x_DateOfIssue", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span></template>
</div></div>
    </div>
} @* crewCertificateForAdminViewModeEdit.DateOfIssue.Visible (end) *@
@if (crewCertificateForAdminViewModeEdit.DateOfExpiry.Visible) { // crewCertificateForAdminViewModeEdit.DateOfExpiry.Visible (begin)
    <div id="r_DateOfExpiry" @Html.Raw(crewCertificateForAdminViewModeEdit.DateOfExpiry.RowAttributes)>
        <label id="elh_CrewCertificateForAdminViewMode_DateOfExpiry" for="x_DateOfExpiry" class="@(crewCertificateForAdminViewModeEdit.LeftColumnClass)"><template id="tpc_CrewCertificateForAdminViewMode_DateOfExpiry">@Html.Raw(crewCertificateForAdminViewModeEdit.DateOfExpiry.Caption)@Html.Raw(crewCertificateForAdminViewModeEdit.DateOfExpiry.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewCertificateForAdminViewModeEdit.RightColumnClass)"><div @Html.Raw(crewCertificateForAdminViewModeEdit.DateOfExpiry.CellAttributes)>
<template id="tpx_CrewCertificateForAdminViewMode_DateOfExpiry"><span id="el_CrewCertificateForAdminViewMode_DateOfExpiry">
<input type="@(crewCertificateForAdminViewModeEdit.DateOfExpiry.InputTextType)" name="x_DateOfExpiry" id="x_DateOfExpiry" data-table="CrewCertificateForAdminViewMode" data-field="x_DateOfExpiry" value="@Html.Raw(crewCertificateForAdminViewModeEdit.DateOfExpiry.EditValue)" placeholder="@Html.Raw(HtmlEncode(crewCertificateForAdminViewModeEdit.DateOfExpiry.PlaceHolder))" data-format-pattern="@(crewCertificateForAdminViewModeEdit.DateOfExpiry.FormatPattern)"@Html.Raw(crewCertificateForAdminViewModeEdit.DateOfExpiry.EditAttributes) aria-describedby="x_DateOfExpiry_help">
@Html.Raw(crewCertificateForAdminViewModeEdit.DateOfExpiry.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewCertificateForAdminViewModeEdit.DateOfExpiry.GetErrorMessage())</div>
@if (!crewCertificateForAdminViewModeEdit.DateOfExpiry.ReadOnly && !crewCertificateForAdminViewModeEdit.DateOfExpiry.Disabled && !crewCertificateForAdminViewModeEdit.DateOfExpiry.EditAttrs.Is("readonly") && !crewCertificateForAdminViewModeEdit.DateOfExpiry.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fCrewCertificateForAdminViewModeedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fCrewCertificateForAdminViewModeedit", "x_DateOfExpiry", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span></template>
</div></div>
    </div>
} @* crewCertificateForAdminViewModeEdit.DateOfExpiry.Visible (end) *@
@if (crewCertificateForAdminViewModeEdit.PlaceOfIssue.Visible) { // crewCertificateForAdminViewModeEdit.PlaceOfIssue.Visible (begin)
    <div id="r_PlaceOfIssue" @Html.Raw(crewCertificateForAdminViewModeEdit.PlaceOfIssue.RowAttributes)>
        <label id="elh_CrewCertificateForAdminViewMode_PlaceOfIssue" for="x_PlaceOfIssue" class="@(crewCertificateForAdminViewModeEdit.LeftColumnClass)"><template id="tpc_CrewCertificateForAdminViewMode_PlaceOfIssue">@Html.Raw(crewCertificateForAdminViewModeEdit.PlaceOfIssue.Caption)@Html.Raw(crewCertificateForAdminViewModeEdit.PlaceOfIssue.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewCertificateForAdminViewModeEdit.RightColumnClass)"><div @Html.Raw(crewCertificateForAdminViewModeEdit.PlaceOfIssue.CellAttributes)>
<template id="tpx_CrewCertificateForAdminViewMode_PlaceOfIssue"><span id="el_CrewCertificateForAdminViewMode_PlaceOfIssue">
<input type="@(crewCertificateForAdminViewModeEdit.PlaceOfIssue.InputTextType)" name="x_PlaceOfIssue" id="x_PlaceOfIssue" data-table="CrewCertificateForAdminViewMode" data-field="x_PlaceOfIssue" value="@Html.Raw(crewCertificateForAdminViewModeEdit.PlaceOfIssue.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(crewCertificateForAdminViewModeEdit.PlaceOfIssue.PlaceHolder))" data-format-pattern="@(crewCertificateForAdminViewModeEdit.PlaceOfIssue.FormatPattern)"@Html.Raw(crewCertificateForAdminViewModeEdit.PlaceOfIssue.EditAttributes) aria-describedby="x_PlaceOfIssue_help">
@Html.Raw(crewCertificateForAdminViewModeEdit.PlaceOfIssue.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewCertificateForAdminViewModeEdit.PlaceOfIssue.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* crewCertificateForAdminViewModeEdit.PlaceOfIssue.Visible (end) *@
@if (crewCertificateForAdminViewModeEdit.IssuingAuthority.Visible) { // crewCertificateForAdminViewModeEdit.IssuingAuthority.Visible (begin)
    <div id="r_IssuingAuthority" @Html.Raw(crewCertificateForAdminViewModeEdit.IssuingAuthority.RowAttributes)>
        <label id="elh_CrewCertificateForAdminViewMode_IssuingAuthority" for="x_IssuingAuthority" class="@(crewCertificateForAdminViewModeEdit.LeftColumnClass)"><template id="tpc_CrewCertificateForAdminViewMode_IssuingAuthority">@Html.Raw(crewCertificateForAdminViewModeEdit.IssuingAuthority.Caption)@Html.Raw(crewCertificateForAdminViewModeEdit.IssuingAuthority.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewCertificateForAdminViewModeEdit.RightColumnClass)"><div @Html.Raw(crewCertificateForAdminViewModeEdit.IssuingAuthority.CellAttributes)>
<template id="tpx_CrewCertificateForAdminViewMode_IssuingAuthority"><span id="el_CrewCertificateForAdminViewMode_IssuingAuthority">
<input type="@(crewCertificateForAdminViewModeEdit.IssuingAuthority.InputTextType)" name="x_IssuingAuthority" id="x_IssuingAuthority" data-table="CrewCertificateForAdminViewMode" data-field="x_IssuingAuthority" value="@Html.Raw(crewCertificateForAdminViewModeEdit.IssuingAuthority.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(crewCertificateForAdminViewModeEdit.IssuingAuthority.PlaceHolder))" data-format-pattern="@(crewCertificateForAdminViewModeEdit.IssuingAuthority.FormatPattern)"@Html.Raw(crewCertificateForAdminViewModeEdit.IssuingAuthority.EditAttributes) aria-describedby="x_IssuingAuthority_help">
@Html.Raw(crewCertificateForAdminViewModeEdit.IssuingAuthority.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewCertificateForAdminViewModeEdit.IssuingAuthority.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* crewCertificateForAdminViewModeEdit.IssuingAuthority.Visible (end) *@
@if (crewCertificateForAdminViewModeEdit.Level.Visible) { // crewCertificateForAdminViewModeEdit.Level.Visible (begin)
    <div id="r_Level" @Html.Raw(crewCertificateForAdminViewModeEdit.Level.RowAttributes)>
        <label id="elh_CrewCertificateForAdminViewMode_Level" for="x_Level" class="@(crewCertificateForAdminViewModeEdit.LeftColumnClass)"><template id="tpc_CrewCertificateForAdminViewMode_Level">@Html.Raw(crewCertificateForAdminViewModeEdit.Level.Caption)@Html.Raw(crewCertificateForAdminViewModeEdit.Level.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewCertificateForAdminViewModeEdit.RightColumnClass)"><div @Html.Raw(crewCertificateForAdminViewModeEdit.Level.CellAttributes)>
<template id="tpx_CrewCertificateForAdminViewMode_Level"><span id="el_CrewCertificateForAdminViewMode_Level">
    <select
        id="x_Level"
        name="x_Level"
        class="form-select ew-select@(crewCertificateForAdminViewModeEdit.Level.IsInvalidClass)"
        data-select2-id="fCrewCertificateForAdminViewModeedit_x_Level"
        data-table="CrewCertificateForAdminViewMode"
        data-field="x_Level"
        data-value-separator="@(crewCertificateForAdminViewModeEdit.Level.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(crewCertificateForAdminViewModeEdit.Level.PlaceHolder))"
        @Html.Raw(crewCertificateForAdminViewModeEdit.Level.EditAttributes)>
        @(crewCertificateForAdminViewModeEdit.Level.SelectOptionListHtml("x_Level"))
    </select>
    @Html.Raw(crewCertificateForAdminViewModeEdit.Level.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(crewCertificateForAdminViewModeEdit.Level.GetErrorMessage())</div>
<script>
loadjs.ready("fCrewCertificateForAdminViewModeedit", function() {
    var options = { name: "x_Level", selectId: "fCrewCertificateForAdminViewModeedit_x_Level" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fCrewCertificateForAdminViewModeedit.lists.Level?.lookupOptions.length) {
        options.data = { id: "x_Level", form: "fCrewCertificateForAdminViewModeedit" };
    } else {
        options.ajax = { id: "x_Level", form: "fCrewCertificateForAdminViewModeedit", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumResultsForSearch = Infinity;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.CrewCertificateForAdminViewMode.fields.Level.selectOptions);
    ew.createSelect(options);
});
</script>
</span></template>
</div></div>
    </div>
} @* crewCertificateForAdminViewModeEdit.Level.Visible (end) *@
@if (crewCertificateForAdminViewModeEdit.PaxVesselType.Visible) { // crewCertificateForAdminViewModeEdit.PaxVesselType.Visible (begin)
    <div id="r_PaxVesselType" @Html.Raw(crewCertificateForAdminViewModeEdit.PaxVesselType.RowAttributes)>
        <label id="elh_CrewCertificateForAdminViewMode_PaxVesselType" for="x_PaxVesselType" class="@(crewCertificateForAdminViewModeEdit.LeftColumnClass)"><template id="tpc_CrewCertificateForAdminViewMode_PaxVesselType">@Html.Raw(crewCertificateForAdminViewModeEdit.PaxVesselType.Caption)@Html.Raw(crewCertificateForAdminViewModeEdit.PaxVesselType.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewCertificateForAdminViewModeEdit.RightColumnClass)"><div @Html.Raw(crewCertificateForAdminViewModeEdit.PaxVesselType.CellAttributes)>
<template id="tpx_CrewCertificateForAdminViewMode_PaxVesselType"><span id="el_CrewCertificateForAdminViewMode_PaxVesselType">
    <select
        id="x_PaxVesselType"
        name="x_PaxVesselType"
        class="form-select ew-select@(crewCertificateForAdminViewModeEdit.PaxVesselType.IsInvalidClass)"
        data-select2-id="fCrewCertificateForAdminViewModeedit_x_PaxVesselType"
        data-table="CrewCertificateForAdminViewMode"
        data-field="x_PaxVesselType"
        data-value-separator="@(crewCertificateForAdminViewModeEdit.PaxVesselType.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(crewCertificateForAdminViewModeEdit.PaxVesselType.PlaceHolder))"
        @Html.Raw(crewCertificateForAdminViewModeEdit.PaxVesselType.EditAttributes)>
        @(crewCertificateForAdminViewModeEdit.PaxVesselType.SelectOptionListHtml("x_PaxVesselType"))
    </select>
    @Html.Raw(crewCertificateForAdminViewModeEdit.PaxVesselType.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(crewCertificateForAdminViewModeEdit.PaxVesselType.GetErrorMessage())</div>
<script>
loadjs.ready("fCrewCertificateForAdminViewModeedit", function() {
    var options = { name: "x_PaxVesselType", selectId: "fCrewCertificateForAdminViewModeedit_x_PaxVesselType" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fCrewCertificateForAdminViewModeedit.lists.PaxVesselType?.lookupOptions.length) {
        options.data = { id: "x_PaxVesselType", form: "fCrewCertificateForAdminViewModeedit" };
    } else {
        options.ajax = { id: "x_PaxVesselType", form: "fCrewCertificateForAdminViewModeedit", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumResultsForSearch = Infinity;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.CrewCertificateForAdminViewMode.fields.PaxVesselType.selectOptions);
    ew.createSelect(options);
});
</script>
</span></template>
</div></div>
    </div>
} @* crewCertificateForAdminViewModeEdit.PaxVesselType.Visible (end) *@
@if (crewCertificateForAdminViewModeEdit.Image.Visible) { // crewCertificateForAdminViewModeEdit.Image.Visible (begin)
    <div id="r_Image" @Html.Raw(crewCertificateForAdminViewModeEdit.Image.RowAttributes)>
        <label id="elh_CrewCertificateForAdminViewMode_Image" class="@(crewCertificateForAdminViewModeEdit.LeftColumnClass)"><template id="tpc_CrewCertificateForAdminViewMode_Image">@Html.Raw(crewCertificateForAdminViewModeEdit.Image.Caption)@Html.Raw(crewCertificateForAdminViewModeEdit.Image.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewCertificateForAdminViewModeEdit.RightColumnClass)"><div @Html.Raw(crewCertificateForAdminViewModeEdit.Image.CellAttributes)>
<template id="tpx_CrewCertificateForAdminViewMode_Image"><span id="el_CrewCertificateForAdminViewMode_Image">
<div id="fd_x_Image" class="fileinput-button ew-file-drop-zone">
    <input
        type="file"
        id="x_Image"
        name="x_Image"
        class="form-control ew-file-input"
        title="@(crewCertificateForAdminViewModeEdit.Image.Title)"
        lang="@(CurrentLanguageID)"
        data-table="CrewCertificateForAdminViewMode"
        data-field="x_Image"
        data-size="100"
        data-accept-file-types="@(crewCertificateForAdminViewModeEdit.Image.AcceptFileTypes)"
        data-max-file-size="@(crewCertificateForAdminViewModeEdit.Image.UploadMaxFileSize)"
        data-max-number-of-files="null"
        data-disable-image-crop="@(crewCertificateForAdminViewModeEdit.Image.ImageCropper ? 0 : 1)"
        aria-describedby="x_Image_help"
        @Html.Raw((crewCertificateForAdminViewModeEdit.Image.ReadOnly || crewCertificateForAdminViewModeEdit.Image.Disabled) ? " disabled" : "")
        @Html.Raw(crewCertificateForAdminViewModeEdit.Image.EditAttributes)
    >
    <div class="text-muted ew-file-text">@Html.Raw(Language.Phrase("ChooseFile"))</div>
</div>
@Html.Raw(crewCertificateForAdminViewModeEdit.Image.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewCertificateForAdminViewModeEdit.Image.GetErrorMessage())</div>
<input type="hidden" name="fn_x_Image" id= "fn_x_Image" value="@(crewCertificateForAdminViewModeEdit.Image.Upload.FileName)">
<input type="hidden" name="fa_x_Image" id= "fa_x_Image" value="@(Post("fa_x_Image") == "0" ? "0" : "1")">
<table id="ft_x_Image" class="table table-sm float-start ew-upload-table"><tbody class="files"></tbody></table>
</span></template>
</div></div>
    </div>
} @* crewCertificateForAdminViewModeEdit.Image.Visible (end) *@
</div><!-- /page* -->
    <input type="hidden" data-table="CrewCertificateForAdminViewMode" data-field="x_ID" data-hidden="1" name="x_ID" id="x_ID" value="@Html.Raw(HtmlEncode(crewCertificateForAdminViewModeEdit.ID.CurrentValue))">
<div id="tpd_CrewCertificateForAdminViewModeedit" class="ew-custom-template"></div>
<template id="tpm_CrewCertificateForAdminViewModeedit">
<div id="ct_crewCertificateForAdminViewModeEdit">    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewPersonalDataForAdminViewModeView")">
                @(CurrentLanguage == "en-US" ? "PERSONAL DATA" : "DATA PERSONAL")
            </a>     
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewDocumentForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "DOCUMENTS" : "DOKUMEN")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewBankAccountForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "BANK ACCOUNT" : "REKENING BANK")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewFamilyForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "FAMILY" : "KELUARGA")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewFormalEducationForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "FORMAL EDUCATION" : "PENDIDIKAN FORMAL")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewMedicalCertificateForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "MEDICAL CERTIFICATE / TEST" : "SERTIFIKAT / TES MEDIS")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewCertificateForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "CERTIFICATES AND QUALIFICATIONS" : "SERTIFIKAT DAN KUALIFIKASI")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewExperienceForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "SEA EXPERIENCE" : "PENGALAMAN BERLAYAR")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewAppraisalForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "APPRAISALS" : "PENILAIAN")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewMedicalHistoryForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "MEDICAL HISTORY" : "RIWAYAT MEDIS")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewGeneralDataForAdminViewModeView")">
                @(CurrentLanguage == "en-US" ? "GENERAL" : "UMUM")
            </a>
        </li>
    </ul>  
    <div class="mb-2 row">
        <div class="col-sm-4">
            <div id="r_MTCertificateID" class="mb-2 row">
                <label for="x_MTCertificateID" class="col-form-label">@Html.Raw(crewCertificateForAdminViewModeEdit.MTCertificateID.Caption)<i class="fa-solid fa-asterisk ew-required"></i></label>
                <div>
                    <span id="selectedCertificateID" class="d-none">@Html.Raw(crewCertificateForAdminViewModeEdit.MTCertificateID.EditValue)</span>
                    <span id="el_CrewCertificateForAdminViewMode_MTCertificateID">
                        <select
                            id="x_MTCertificateID"
                            name="x_MTCertificateID"
                            class="form-select ew-select@(crewCertificateForAdminViewModeEdit.MTCertificateID.IsInvalidClass)"
                            data-select2-id="fCrewCertificateForAdminViewModeedit_x_MTCertificateID"
                            data-table="CrewCertificateForAdminViewMode"
                            data-field="x_MTCertificateID"
                            data-value-separator="@(crewCertificateForAdminViewModeEdit.MTCertificateID.DisplayValueSeparatorAttribute)"
                            data-placeholder="@(HtmlEncode(crewCertificateForAdminViewModeEdit.MTCertificateID.PlaceHolder))"
                            @Html.Raw(crewCertificateForAdminViewModeEdit.MTCertificateID.EditAttributes)>
                        </select>
                        @Html.Raw(crewCertificateForAdminViewModeEdit.MTCertificateID.GetCustomMessage)
                        <div class="invalid-feedback">@Html.Raw(crewCertificateForAdminViewModeEdit.MTCertificateID.GetErrorMessage())</div>
                        @Html.Raw(crewCertificateForAdminViewModeEdit.MTCertificateID.Lookup.GetParamTag(crewCertificateForAdminViewModeEdit, "p_x_MTCertificateID"))
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div id="r_PaxVesselType" class="mb-2 row">
                <label for="x_PaxVesselType" class="col-form-label">@Html.Raw(crewCertificateForAdminViewModeEdit.PaxVesselType.Caption)</label>
                <div><slot class="ew-slot" name="tpx_CrewCertificateForAdminViewMode_PaxVesselType"></slot></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div id="r_Level" class="mb-2 row">
                <label for="x_Level" class="col-form-label">@Html.Raw(crewCertificateForAdminViewModeEdit.Level.Caption)</label>
                <div><slot class="ew-slot" name="tpx_CrewCertificateForAdminViewMode_Level"></slot></div>
            </div>
        </div>
    </div>
    <div class="mb-2 row">
        <div class="col-sm-4">
            <div id="r_CountryOfIssue_CountryID" class="mb-2 row">
                <label for="x_CountryOfIssue_CountryID" class="col-form-label">@Html.Raw(crewCertificateForAdminViewModeEdit.CountryOfIssue_CountryID.Caption)<i class="fa-solid fa-asterisk ew-required"></i></label>
                <div><slot class="ew-slot" name="tpx_CrewCertificateForAdminViewMode_CountryOfIssue_CountryID"></slot></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div id="r_Number" class="mb-2 row">
                <label for="x_Number" class="col-form-label">@Html.Raw(crewCertificateForAdminViewModeEdit.Number.Caption)<i class="fa-solid fa-asterisk ew-required"></i></label>
                <div><slot class="ew-slot" name="tpx_CrewCertificateForAdminViewMode_Number"></slot></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div id="r_DateOfIssue" class="mb-2 row">
                <label for="x_DateOfIssue" class="col-form-label">@Html.Raw(crewCertificateForAdminViewModeEdit.DateOfIssue.Caption)<i class="fa-solid fa-asterisk ew-required"></i></label>
                <div><slot class="ew-slot" name="tpx_CrewCertificateForAdminViewMode_DateOfIssue"></slot></div>
            </div>
        </div>
    </div>
    <div class="mb-2 row">
        <div class="col-sm-4">
            <div id="r_DateOfExpiry" class="mb-2 row">
                <label for="x_DateOfExpiry" class="col-form-label">@Html.Raw(crewCertificateForAdminViewModeEdit.DateOfExpiry.Caption)<i class="fa-solid fa-asterisk ew-required"></i></label>
                <div><slot class="ew-slot" name="tpx_CrewCertificateForAdminViewMode_DateOfExpiry"></slot></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div id="r_PlaceOfIssue" class="mb-2 row">
                <label for="x_PlaceOfIssue" class="col-form-label">@Html.Raw(crewCertificateForAdminViewModeEdit.PlaceOfIssue.Caption)<i class="fa-solid fa-asterisk ew-required"></i></label>
                <div><slot class="ew-slot" name="tpx_CrewCertificateForAdminViewMode_PlaceOfIssue"></slot></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div id="r_IssuingAuthority" class="mb-2 row">
                <label for="x_IssuingAuthority" class="col-form-label">@Html.Raw(crewCertificateForAdminViewModeEdit.IssuingAuthority.Caption)<i class="fa-solid fa-asterisk ew-required"></i></label>
                <div><slot class="ew-slot" name="tpx_CrewCertificateForAdminViewMode_IssuingAuthority"></slot></div>
            </div>
        </div>
    </div>
    <div class="mb-2 row">
        <div class="col-sm-12">
             <div id="r_Image" class="mb-2 row">
                <label for="x_Image" class="col-form-label">
                    @Html.Raw(crewCertificateForAdminViewModeEdit.Image.Caption) @(CurrentLanguage == "en-US" ? "(jpg/jpeg/png/pdf max 2 MB)" : "(jpg/jpeg/png/pdf maks 2 MB)")<i class="fa-solid fa-asterisk ew-required"></i>
                </label>
                <div><slot class="ew-slot" name="tpx_CrewCertificateForAdminViewMode_Image"></slot></div>
            </div>
        </div>
    </div>
    <div class="row"><!-- buttons .row -->
        <div class="d-flex mb-2"><!-- buttons offset -->
            <button class="btn btn-primary ew-btn ms-auto primary-black-clr gray-bg" id="btn-update-entry">
                @(CurrentLanguage == "en-US" ? "Update Entry" : "Ubah")
            </button>
        </div><!-- /buttons offset -->
    </div>
    <div id="r_MTCrewID" class="mb-3 row">
        <label for="x_MTCrewID" class="col-sm-2 col-form-label">@Html.Raw(crewCertificateForAdminViewModeEdit.MTCrewID.Caption)</label>
        <div class="col-sm-10"><slot class="ew-slot" name="tpx_CrewCertificateForAdminViewMode_MTCrewID"></slot></div>
    </div>
    <div id="proceed-modal-dialog" class="modal" aria-hidden="true" data-bs-backdrop="static" tabindex="-1" aria-labelledby="proceed-modal-dialog-title" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="proceed-modal-dialog-title" class="modal-title">
                        @(CurrentLanguage == "en-US" ? "Warning" : "Peringatan")
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p> 
                        @{
                            if (CurrentLanguage == "en-US")
                            {
                                <span>There are error(s) in this tab.</span><br/>
                                <span>If you choose to Proceed, any unsaved data will be lost.</span><br/>
                                <span>Do you want to Proceed?</span>
                            }
                            else
                            {
                                <span>Masih ada error di tab ini.</span><br/>
                                <span>Jika Anda memilih Lanjutkan, data yang belum disimpan akan hilang.</span><br/>
                                <span>Apakah Anda ingin melanjutkan?</span>
                            }
                        }
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger ew-btn" id="btn-proceed" type="button">
                        @(CurrentLanguage == "en-US" ? "Proceed" : "Lanjutkan")
                    </button>
                    <button class="btn btn-default ew-btn" id="btn-proceed-cancel" type="button" data-bs-dismiss="modal">
                        @(CurrentLanguage == "en-US" ? "Cancel" : "Batal")
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="loading-modal-dialog" class="modal" aria-hidden="true" data-bs-backdrop="static" tabindex="-1" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="text-center mb-0">
                        @(CurrentLanguage == "en-US" ? "Saving..." : "Menyimpan...")
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="delete-modal-dialog" class="modal" aria-hidden="true" data-bs-backdrop="static" tabindex="-1" aria-labelledby="delete-modal-dialog-title" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="delete-modal-dialog-title" class="modal-title">
                        @(CurrentLanguage == "en-US" ? "Confirmation" : "Konfirmasi")
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        @(CurrentLanguage == "en-US" ? "Are you sure you want to delete?" : "Anda yakin ingin menghapus?")
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary ew-btn" id="btn-delete" type="button">
                        @(CurrentLanguage == "en-US" ? "Yes" : "Iya")
                    </button>
                    <button class="btn btn-default ew-btn" id="btn-delete-cancel" type="button" data-bs-dismiss="modal">
                        @(CurrentLanguage == "en-US" ? "No" : "Tidak")
                    </button>
                </div>
            </div>
        </div>
    </div></div>
</template>
@{ crewCertificateForAdminViewModeEdit.CloseRecordset(); }
@Html.Raw(crewCertificateForAdminViewModeEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(crewCertificateForAdminViewModeEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fCrewCertificateForAdminViewModeedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fCrewCertificateForAdminViewModeedit" data-href="@AppPath(crewCertificateForAdminViewModeEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(crewCertificateForAdminViewModeEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
<script class="ew-apply-template">
loadjs.ready(ew.applyTemplateId, function() {
    var $ = jQuery;
    ew.templateData = { rows: @Html.Raw(ConvertToJson(crewCertificateForAdminViewModeEdit.Rows)) };
    ew.applyTemplate("tpd_CrewCertificateForAdminViewModeedit", "tpm_CrewCertificateForAdminViewModeedit", "CrewCertificateForAdminViewModeedit", "@(crewCertificateForAdminViewModeEdit.Export)", "CrewCertificateForAdminViewMode", ew.templateData.rows[0], @(crewCertificateForAdminViewModeEdit.IsModal ? "true" : "false"));
    loadjs.done("customtemplate");
});
</script>
</main>
@crewCertificateForAdminViewModeEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("CrewCertificateForAdminViewMode");
});
</script>
<script>
loadjs.ready("load", function() {
    // Startup script
    // Write your table-specific startup script here
    // document.write("page loaded");

    // Get the current URL
    const currentUrlObject = new URL(window.location.href);
    // get the current URL without Add or Edit for assigning active class in tabs
    const currentUrlWithoutAddEditViewList = currentUrlObject.href.replace(/Add|Edit|View|List/g, "");
    // Create a new URLSearchParams object based on the current URL's search parameters
    const urlQueryParams = new URLSearchParams(currentUrlObject.search);
    // Extract the value of the crewID query parameter
    const currentlyEditedCrewID = urlQueryParams.get('crewID');
    const currentTableID = parseInt(currentUrlObject.pathname.split('/').pop()); 
    const selectedLanguage = ew.vars['languages']['languages'].filter(obj => obj.selected === true)[0];
    const parentUrl = ew.PATH_BASE;
    const tableName = "CrewCertificateForAdminViewMode";
    const pageType = "edit";
    const pageTypeCapital = "Edit";
    const formID = `f${tableName}${pageType}`;
    const updateEntryUrl = `${parentUrl}${tableName}${pageTypeCapital}/${currentTableID}?crewID=${currentlyEditedCrewID}`;
    const listPageUrl = `${parentUrl}${tableName}List?crewID=${currentlyEditedCrewID}`;
    let isChangeTabApproved = false;
    const adminAndEmployeeStatusApi = 'get-admin-and-employee-status';
    $.ajax({
        url: `${parentUrl}api/Registration/${adminAndEmployeeStatusApi}`,
        method: 'GET',
        data: {
            crewID: currentlyEditedCrewID
        },
        success: function(response) {
            if (response.success) {
                // Parse the data in the response
                const isAdmin = response.data.IsAdmin;
                const employeeStatus = response.data.EmployeeStatus;
                if (currentlyEditedCrewID === null) {
                    if (isAdmin) {
                        // redirect to list page with error message: record not found
                        if (employeeStatus === 'Candidate - Draft') {
                            window.location.replace(`${ew.PATH_BASE}RegistrationEdit/-1`);
                        } else if (employeeStatus === 'Candidate - Submitted') {
                            window.location.replace(`${ew.PATH_BASE}VWaitingForPdeReviewView/-1`);
                        }
                    } else {
                        window.location.replace(`${ew.PATH_BASE}index`);
                    }
                }
            } else {
                // Handle the error
                ew.showToast(response.errorMessage);
            }
        },
        error: function(xhr, textStatus, errorThrown) {
            // Handle the error
            ew.showToast(errorThrown);
        }
    });

    // Iterate over each anchor element inside the nav-tabs
    $(".nav-tabs .nav-item a").each(function() {
        const href = $(this).attr("href");
        const hrefWithoutAddEditViewList = href.replace(/Add|Edit|View|List/g, "");
        // Check if the href contains current page's url
        if (currentUrlWithoutAddEditViewList.includes(hrefWithoutAddEditViewList)) {
            // add class and attribute
            $(this).addClass("active");
            $(this).attr("aria-current", "page");
        }
        // Check if the href contains "Edit" or "Add"
        if (href.includes("ViewModeView")) {
            // Add "/" and the currently edited crew ID to the href
            const newHref = href + "/" + currentlyEditedCrewID;
            // Set the updated href attribute value
            $(this).attr("href", newHref);
        } else if (href.includes("ViewModeList")) {
            // Add "?crewID=" and the currently edited crew ID to the href
            const newHref = href + "?crewID=" + currentlyEditedCrewID;
            // Set the updated href attribute value
            $(this).attr("href", newHref);
        }
    });

    // initialize select options START
    const mtCertificateIDValueDB = $('#selectedCertificateID').text();
    let options = { name: "x_MTCertificateID", selectId: `${formID}_x_MTCertificateID` };
    const el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    options.minimumInputLength = ew.selectMinimumInputLength;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables[tableName].fields.MTCertificateID.selectOptions);
    ew.createSelect(options);
    const certificateOptionsEditPageApi = 'crew-certificate-options-edit';
    $.ajax({
        url: `${parentUrl}api/Registration/${certificateOptionsEditPageApi}`,
        method: 'GET',
        data: {
            crewID: currentlyEditedCrewID,
            crewCertificateID: currentTableID
        },
        success: function(response) {
            if (response.success) {
                const certificates = response.data;
                for (const certificate of certificates) {
                    $('#x_MTCertificateID').append(new Option(certificate.Name, certificate.ID, false, false)).trigger('change');
                }
                $('#x_MTCertificateID').val(mtCertificateIDValueDB);
                $('#x_MTCertificateID').trigger('change');
                getCertificateCategory(mtCertificateIDValueDB);
                window[formID].modified = false;
            } else {
                ew.showToast(response.errorMessage);
            }
        },
        error: function(xhr, textStatus, errorThrown) {
            ew.showToast(errorThrown);
        }
    });
    // initialize select options END

    // start code for auto capitalize first letter of each word
    $('#x_PlaceOfIssue').on('input', function() {
        $(this).val($(this).val().replace(/(?:^|\s)\S/g, function(a) { return a.toUpperCase(); }));
    });
    $('#x_IssuingAuthority').on('input', function() {
        $(this).val($(this).val().replace(/(?:^|\s)\S/g, function(a) { return a.toUpperCase(); }));
    });
    // end code for auto capitalize first letter of each word
    const entryButton = $('<button/>', {
        'class': 'btn btn-primary ew-btn ms-auto primary-black-clr gray-bg',
        'id': 'btn-entry',
        'type': 'button',
        'text': (selectedLanguage.id === 'en-US') ? `Update Entry` : `Ubah`
    }).click(function() {
        const validateUpdateEntryResult = validateUpdateEntry();
        if (validateUpdateEntryResult) {
            $('#loading-modal-dialog').modal('show');
            const targetUrlRelative = listPageUrl;
            updateEntry({ redirectUrlWhenSuccess: targetUrlRelative });
        } else {
            scrollToFirstInvalidInput();
        }
    });
    $('#btn-update-entry').after(entryButton);
    $('#btn-update-entry').remove();

    // to auto clear error message when focus for file fields
    $('#x_Image').on('focus', function() {
        $(this).removeClass('is-invalid');
    });
    $('#ft_x_Image button').on("click", function () {
      window[formID].modified = true;
    });
    const originalCancelHref = $('#btn-cancel').attr('data-href');
    const customCancelButton = $('<button/>', {
        'class': 'btn btn-danger ew-btn ms-auto primary-red-bg primary-white-clr',
        'id': 'btn-custom-cancel',
        'type': 'button',
        'text': `${ew.language.phrase("CancelBtn")}`,
    }).click(function() {
        if (window[formID].modified) {
            ew.prompt(ew.language.phrase("ConfirmCancel"), result => {
                if (result) {
                    isChangeTabApproved = true;
                    proceedToLink(originalCancelHref);
                }
                });
        } else {
            isChangeTabApproved = true;
            proceedToLink(originalCancelHref);
        }
    });
    $('#btn-cancel').after(customCancelButton);
    $('#btn-cancel').remove();

    // Target the ol element that has breadcrumb class
    const $breadCrumbOl = $('.breadcrumb').first();

    // Delete the ol element that has breadcrumb class
    $breadCrumbOl.remove();
    $('#btn-action').remove();
    $('.ew-buttons > .col-sm-10').removeClass('col-sm-10').addClass('d-flex mb-3');
    $('.ew-buttons > .offset-sm-2').removeClass('offset-sm-2');

    //  programatically change the value of MTCrewID input and then hide it
    $('#x_MTCrewID').val(currentlyEditedCrewID);
    $('div#r_MTCrewID').hide();
    const certificateCategoryApi = 'get-certificate-category-for-admin';
    function getCertificateCategory(certificateIDString) {
        if (certificateIDString !== null) {
            $.ajax({
                url: `${parentUrl}api/Registration/${certificateCategoryApi}`,
                method: 'GET',
                data: {
                    certificateID: parseInt(certificateIDString)
                },
                success: function(response) {
                    if (response.success) {
                        // Parse the data in the response
                        const category = response.data;
                        if (category.includes('G')) {
                            $('#x_CountryOfIssue_CountryID').prop('disabled', false);
                            $('#x_PlaceOfIssue').prop('disabled', false);
                            $('#x_PaxVesselType').prop('disabled', true);
                            $('#x_PaxVesselType').val(null).trigger('change');
                            $('#x_DateOfExpiry').prop('disabled', true);
                            $('#x_DateOfExpiry').val(null);
                            if (category === 'G Page') {
                                $('#x_Level').prop('disabled', true);
                                $('#x_Level').val(null).trigger('change');
                            } else if (category === 'G Non Page') {
                                $('#x_Level').prop('disabled', false);
                            }
                        } else if (category === 'H') {
                            $('#x_CountryOfIssue_CountryID').prop('disabled', false);
                            $('#x_PlaceOfIssue').prop('disabled', false);
                            $('#x_PaxVesselType').prop('disabled', false);
                            $('#x_Level').prop('disabled', true);
                            $('#x_Level').val(null).trigger('change');
                            $('#x_DateOfExpiry').prop('disabled', true);
                            $('#x_DateOfExpiry').val(null);
                        } else if (category === 'D') {
                            $('#x_CountryOfIssue_CountryID').prop('disabled', true);
                            $('#x_CountryOfIssue_CountryID').val(null).trigger('change');
                            $('#x_PlaceOfIssue').prop('disabled', true);
                            $('#x_PlaceOfIssue').val(null);
                            $('#x_PaxVesselType').prop('disabled', true);
                            $('#x_PaxVesselType').val(null).trigger('change');
                            $('#x_Level').prop('disabled', true);
                            $('#x_Level').val(null).trigger('change');
                            $('#x_DateOfExpiry').prop('disabled', false);
                        } else if (category === '') {
                            $('#x_CountryOfIssue_CountryID').prop('disabled', false);
                            $('#x_PlaceOfIssue').prop('disabled', false);
                            $('#x_PaxVesselType').prop('disabled', true);
                            $('#x_PaxVesselType').val(null).trigger('change');
                            $('#x_Level').prop('disabled', true);
                            $('#x_Level').val(null).trigger('change');
                            $('#x_DateOfExpiry').prop('disabled', false);
                        }
                    } else {
                        // Handle the error
                        ew.showToast(response.errorMessage);
                    }
                },
                error: function(xhr, textStatus, errorThrown) {
                    // Handle the error
                    ew.showToast(errorThrown);
                }
            });
        }
    }
    $('#x_MTCertificateID').on('select2:select', function (e) {
        const selectedCertificateIDString = e.params.data.id;
        getCertificateCategory(selectedCertificateIDString);
    });

    // AUTO SAVE WHEN MOVING FROM THIS TAB
    $(window).on('beforeunload', function(event) {
        if (!isChangeTabApproved && window[formID].modified) {
            event.preventDefault();
            event.returnValue = '';
            return '';
        }
    });
    $("#btn-proceed").click(function() {
        isChangeTabApproved = true;
        const targetUrlRelative = $(this).attr('target-url-relative');
        $('#approve-modal-dialog').modal('hide');
        proceedToLink(targetUrlRelative);
    });
    $('ul.nav.nav-tabs li.nav-item a.nav-link').on('click', function(event) {
        event.preventDefault();
        const targetUrlRelative = $(this).attr('href');
        if (window[formID].modified) {
            $('#loading-modal-dialog').modal('show');
            const validateUpdateEntryResult = validateUpdateEntry();
            if (validateUpdateEntryResult) {
                updateEntry({ redirectUrlWhenSuccess: targetUrlRelative });
            } else {
                scrollToFirstInvalidInput();
                $('#loading-modal-dialog').modal('hide');
                $('#btn-proceed').attr('target-url-relative', targetUrlRelative);
                $('#proceed-modal-dialog').modal('show');
            }
        } else {
            isChangeTabApproved = true;
            proceedToLink(targetUrlRelative);
        }
    });
    function proceedToLink(targetUrlRelative) {
        const baseUrl = new URL(window.location.href).origin;
        const targetUrl = new URL(baseUrl + targetUrlRelative);
        window.location.href = targetUrl.href;
    }
    function scrollToFirstInvalidInput() {
        const invalidInput = $("input.is-invalid:first");
        if (invalidInput.length > 0) { // Check if an invalid input is found
            const offset = invalidInput.offset().top; // Calculate the offset of the invalid input element from the top of the page
            const windowHeight = $(window).height(); // Calculate the height of the viewport
            const scrollPosition = offset - (windowHeight / 2); // Calculate the scroll position to center the invalid input element
            $("html, body").animate({ // Animate the scroll to the center position
                scrollTop: scrollPosition
            }, 1000); // Adjust the duration as needed (in milliseconds)
        }
    }
    function updateEntry({ redirectUrlWhenSuccess }) {
        isChangeTabApproved = true;
        let formData = $(`form#${formID}`).serialize();
        $('input[type="checkbox"]').each(function() {
            // Jika checkbox tidak dicentang dan tidak ada di hasil serialize(),
            // tambahkan nilai 0 ke hasil serialize()
            if (!this.checked && formData.indexOf(this.name) === -1) {
                formData += '&' + this.name + '=0';
            }
        });
        $.ajax({
            url: updateEntryUrl,
            type: 'POST',
            data: formData,
            success: function(res) {
                const $errorDiv = $(res).find('div.ew-error'); // res is a string containing html document
                $('#loading-modal-dialog').modal('hide');
                if ($errorDiv.length > 0) {
                    ew.showToast($errorDiv.text());
                } else {
                    proceedToLink(redirectUrlWhenSuccess);
                }
            },
            error: function(xhr, textStatus, errorThrown) {
                $('#loading-modal-dialog').modal('hide');
                isChangeTabApproved = false;
                ew.showToast(errorThrown);
            }
        });
    }
    function validateUpdateEntry() {
        let formErrorCount = 0;
        let isGetCategorySuccess = true;
        let selectedCertificateCategory = "";
        function validateRequiredField(fieldName) {
            const errorMessage = (selectedLanguage.id === 'en-US') ? "Please enter required field" : "Masukkan input yang dibutuhkan";
            const fieldNameWithPrefix = `x_${fieldName}`;
            const fieldCaption = $(`label[for=${fieldNameWithPrefix}]`).text();
            const fieldValue = $(`#${fieldNameWithPrefix}`).val();
            const errorMessageWithFieldName = `${errorMessage} - ${fieldCaption}`;
            if (fieldValue === '' || fieldValue === null) {
                window[formID].fields[fieldName].addError({ custom: errorMessageWithFieldName });
                window[formID].fields[fieldName].updateFeedback();
                window[formID].addError(fieldName, { custom: errorMessageWithFieldName });
                return false;
            } else {
                return true;
            }
        }
        function validateRequiredFileField(fieldName) {
            const errorMessage = (selectedLanguage.id === 'en-US') ? "Please enter required field" : "Masukkan input yang dibutuhkan";
            const fieldNameWithPrefixFn = `fn_x_${fieldName}`;
            const fieldNameWithPrefix = `x_${fieldName}`;
            const fieldCaption = $(`label[for=${fieldNameWithPrefix}]`).text();
            const fieldValue = $(`#${fieldNameWithPrefixFn}`).val();
            const errorMessageWithFieldName = `${errorMessage} - ${fieldCaption}`;
            if (fieldValue === '') {
                window[formID].fields[fieldName].addError({ custom: errorMessageWithFieldName });
                window[formID].fields[fieldName].updateFeedback();
                window[formID].addError(fieldName, { custom: errorMessageWithFieldName });
                $(`#${fieldNameWithPrefix}`).addClass('is-invalid');
                return false;
            } else {
                return true;
            }
        }
        function validateDateField(fieldName) {
            const errorMessage = (selectedLanguage.id === 'en-US') ? 'Incorrect date (dd MMM yyyy)' : 'Tanggal tidak benar (dd MMM yyyy)';
            const fieldNameWithPrefix = `x_${fieldName}`;
            const fieldValue = $(`#${fieldNameWithPrefix}`).val();
            const dateParts = fieldValue.split(' ');
            const day = parseInt(dateParts[0], 10);
            const monthNamesEnglish = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
            const monthNamesIndonesian = ['Jan', 'Feb', 'Mar', 'Apr', 'Mei', 'Jun', 'Jul', 'Agu', 'Sep', 'Okt', 'Nov', 'Des'];
            const month = (selectedLanguage.id === 'en-US') ? monthNamesEnglish.indexOf(dateParts[1]) : monthNamesIndonesian.indexOf(dateParts[1]);
            const year = parseInt(dateParts[2], 10);
            let valid = false;
            if (year >= 1900 && year <= 9999 && month >= 0 && day >= 1 && day <= 31) {
                switch (month) {
                    case 1: // February
                        // Check for leap year
                        valid = day <= (((year % 4 === 0 && year % 100 !== 0) || year % 400 === 0) ? 29 : 28);
                        break;
                    case 3: // April
                    case 5: // June
                    case 8: // September
                    case 10: // November
                        valid = day <= 30;
                        break;
                    default:
                        valid = true;
                        break;
                }
            }
            if (!valid) {
                window[formID].fields[fieldName].addError({ custom: errorMessage });
                window[formID].fields[fieldName].updateFeedback();
                window[formID].addError(fieldName, { custom: errorMessage });
                return false;
            } else {
                return true;
            }
        }
        function validateFieldWithRegex(fieldName, errorMessage, regex) {
            const fieldNameWithPrefix = `x_${fieldName}`;
            const fieldValue = $(`#${fieldNameWithPrefix}`).val();
            if (!regex.test(fieldValue)) {  
                window[formID].fields[fieldName].addError({ custom: errorMessage });
                window[formID].fields[fieldName].updateFeedback();
                window[formID].addError(fieldName, { custom: errorMessage });
                return false;
            } else {
                return true;
            }
        }
        const noDigitsRegex = /^[^0-9]+$/;
        const noDigitsRegexErrorMessage = (selectedLanguage.id === 'en-US') ? "Must not contain digits" : "Tidak boleh mengandung angka";
        if (!validateRequiredField("MTCertificateID")) {
            formErrorCount += 1;
        } else {
            const certificateCategoryApi = 'get-certificate-category-for-admin';
            const selectedCertificateIDString = $('#x_MTCertificateID').select2('data').length > 0 ? $('#x_MTCertificateID').select2('data')[0].id : null;
            $.ajax({
                url: `${parentUrl}api/Registration/${certificateCategoryApi}`,
                method: 'GET',
                async: false,
                data: {
                    certificateID: parseInt(selectedCertificateIDString)
                },
                success: function(response) {
                    if (response.success) {
                        selectedCertificateCategory = response.data;
                    } else {
                        isGetCategorySuccess = false;
                        ew.showToast(response.errorMessage);
                    }
                },
                error: function(xhr, textStatus, errorThrown) {
                    isGetCategorySuccess = false;
                    ew.showToast(errorThrown);
                }
            });
            if (isGetCategorySuccess) {
                if (selectedCertificateCategory.includes('G')) {
                    if (selectedCertificateCategory === 'G Non Page') {
                        if (!validateRequiredField("Level")) {
                            formErrorCount += 1;
                        }
                    }
                    if (!validateRequiredField("CountryOfIssue_CountryID")) {
                        formErrorCount += 1;
                    }
                    if (!validateRequiredField("Number")) {
                        formErrorCount += 1;
                    }
                    if (!validateRequiredField("DateOfIssue")) {
                        formErrorCount += 1;
                    } else {
                        formErrorCount += validateDateField("DateOfIssue") ? 0 : 1;
                    }
                    if (!validateRequiredField("PlaceOfIssue")) {
                        formErrorCount += 1;
                    } else {
                        formErrorCount += validateFieldWithRegex("PlaceOfIssue",  noDigitsRegexErrorMessage, noDigitsRegex) ? 0 : 1;
                    }
                    if (!validateRequiredField("IssuingAuthority")) {
                        formErrorCount += 1;
                    } else {
                        formErrorCount += validateFieldWithRegex("IssuingAuthority",  noDigitsRegexErrorMessage, noDigitsRegex) ? 0 : 1;
                    }
                    if (!validateRequiredFileField("Image")) {
                        formErrorCount += 1;
                    }
                } else if (selectedCertificateCategory === 'H') {
                    if (!validateRequiredField("PaxVesselType")) {
                        formErrorCount += 1;
                    }
                    if (!validateRequiredField("CountryOfIssue_CountryID")) {
                        formErrorCount += 1;
                    }
                    if (!validateRequiredField("Number")) {
                        formErrorCount += 1;
                    }
                    if (!validateRequiredField("DateOfIssue")) {
                        formErrorCount += 1;
                    } else {
                        formErrorCount += validateDateField("DateOfIssue") ? 0 : 1;
                    }
                    if (!validateRequiredField("PlaceOfIssue")) {
                        formErrorCount += 1;
                    } else {
                        formErrorCount += validateFieldWithRegex("PlaceOfIssue",  noDigitsRegexErrorMessage, noDigitsRegex) ? 0 : 1;
                    }
                    if (!validateRequiredField("IssuingAuthority")) {
                        formErrorCount += 1;
                    } else {
                        formErrorCount += validateFieldWithRegex("IssuingAuthority",  noDigitsRegexErrorMessage, noDigitsRegex) ? 0 : 1;
                    }
                    if (!validateRequiredFileField("Image")) {
                        formErrorCount += 1;
                    }
                } else if (selectedCertificateCategory === 'D') {
                    if (!validateRequiredField("DateOfExpiry")) {
                        formErrorCount += 1;
                    } else {
                        formErrorCount += validateDateField("DateOfExpiry") ? 0 : 1;
                    }
                    if (!validateRequiredField("Number")) {
                        formErrorCount += 1;
                    }
                    if (!validateRequiredField("DateOfIssue")) {
                        formErrorCount += 1;
                    } else {
                        formErrorCount += validateDateField("DateOfIssue") ? 0 : 1;
                    }
                    if (!validateRequiredField("IssuingAuthority")) {
                        formErrorCount += 1;
                    } else {
                        formErrorCount += validateFieldWithRegex("IssuingAuthority",  noDigitsRegexErrorMessage, noDigitsRegex) ? 0 : 1;
                    }
                    if (!validateRequiredFileField("Image")) {
                        formErrorCount += 1;
                    }
                } else if (selectedCertificateCategory === '') {
                    if (!validateRequiredField("DateOfExpiry")) {
                        formErrorCount += 1;
                    } else {
                        formErrorCount += validateDateField("DateOfExpiry") ? 0 : 1;
                    }
                    if (!validateRequiredField("CountryOfIssue_CountryID")) {
                        formErrorCount += 1;
                    }
                    if (!validateRequiredField("Number")) {
                        formErrorCount += 1;
                    }
                    if (!validateRequiredField("DateOfIssue")) {
                        formErrorCount += 1;
                    } else {
                        formErrorCount += validateDateField("DateOfIssue") ? 0 : 1;
                    }
                    if (!validateRequiredField("PlaceOfIssue")) {
                        formErrorCount += 1;
                    } else {
                        formErrorCount += validateFieldWithRegex("PlaceOfIssue",  noDigitsRegexErrorMessage, noDigitsRegex) ? 0 : 1;
                    }
                    if (!validateRequiredField("IssuingAuthority")) {
                        formErrorCount += 1;
                    } else {
                        formErrorCount += validateFieldWithRegex("IssuingAuthority",  noDigitsRegexErrorMessage, noDigitsRegex) ? 0 : 1;
                    }
                    if (!validateRequiredFileField("Image")) {
                        formErrorCount += 1;
                    }
                }
            } else {
                formErrorCount += 1;
            }
        }
        return formErrorCount === 0;
    }
});
</script>
