@{
    // View
    View = this;

    // Check action result
    if (crewAppraisalForAdminViewModeDelete.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!crewAppraisalForAdminViewModeDelete.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(crewAppraisalForAdminViewModeDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { CrewAppraisalForAdminViewMode: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fCrewAppraisalForAdminViewModedelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fCrewAppraisalForAdminViewModedelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@crewAppraisalForAdminViewModeDelete.ShowPageHeader()
@crewAppraisalForAdminViewModeDelete.ShowMessages()
<form name="fCrewAppraisalForAdminViewModedelete" id="fCrewAppraisalForAdminViewModedelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in crewAppraisalForAdminViewModeDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(crewAppraisalForAdminViewModeDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(crewAppraisalForAdminViewModeDelete.TableContainerClass)" style="@(crewAppraisalForAdminViewModeDelete.TableContainerStyle)">
<table class="@(crewAppraisalForAdminViewModeDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (crewAppraisalForAdminViewModeDelete.VesselName.Visible) { // crewAppraisalForAdminViewModeDelete.VesselName.Visible (begin)
        <th class="@Html.Raw(crewAppraisalForAdminViewModeDelete.VesselName.HeaderCellClass)"><span id="elh_CrewAppraisalForAdminViewMode_VesselName" class="CrewAppraisalForAdminViewMode_VesselName">@Html.Raw(crewAppraisalForAdminViewModeDelete.VesselName.Caption)</span></th>
} @* crewAppraisalForAdminViewModeDelete.VesselName.Visible (end) *@
@if (crewAppraisalForAdminViewModeDelete.MTRankID.Visible) { // crewAppraisalForAdminViewModeDelete.MTRankID.Visible (begin)
        <th class="@Html.Raw(crewAppraisalForAdminViewModeDelete.MTRankID.HeaderCellClass)"><span id="elh_CrewAppraisalForAdminViewMode_MTRankID" class="CrewAppraisalForAdminViewMode_MTRankID">@Html.Raw(crewAppraisalForAdminViewModeDelete.MTRankID.Caption)</span></th>
} @* crewAppraisalForAdminViewModeDelete.MTRankID.Visible (end) *@
@if (crewAppraisalForAdminViewModeDelete.Questionnaire.Visible) { // crewAppraisalForAdminViewModeDelete.Questionnaire.Visible (begin)
        <th class="@Html.Raw(crewAppraisalForAdminViewModeDelete.Questionnaire.HeaderCellClass)"><span id="elh_CrewAppraisalForAdminViewMode_Questionnaire" class="CrewAppraisalForAdminViewMode_Questionnaire">@Html.Raw(crewAppraisalForAdminViewModeDelete.Questionnaire.Caption)</span></th>
} @* crewAppraisalForAdminViewModeDelete.Questionnaire.Visible (end) *@
@if (crewAppraisalForAdminViewModeDelete.Approved.Visible) { // crewAppraisalForAdminViewModeDelete.Approved.Visible (begin)
        <th class="@Html.Raw(crewAppraisalForAdminViewModeDelete.Approved.HeaderCellClass)"><span id="elh_CrewAppraisalForAdminViewMode_Approved" class="CrewAppraisalForAdminViewMode_Approved">@Html.Raw(crewAppraisalForAdminViewModeDelete.Approved.Caption)</span></th>
} @* crewAppraisalForAdminViewModeDelete.Approved.Visible (end) *@
@if (crewAppraisalForAdminViewModeDelete.AverageRating.Visible) { // crewAppraisalForAdminViewModeDelete.AverageRating.Visible (begin)
        <th class="@Html.Raw(crewAppraisalForAdminViewModeDelete.AverageRating.HeaderCellClass)"><span id="elh_CrewAppraisalForAdminViewMode_AverageRating" class="CrewAppraisalForAdminViewMode_AverageRating">@Html.Raw(crewAppraisalForAdminViewModeDelete.AverageRating.Caption)</span></th>
} @* crewAppraisalForAdminViewModeDelete.AverageRating.Visible (end) *@
@if (crewAppraisalForAdminViewModeDelete.Rehire.Visible) { // crewAppraisalForAdminViewModeDelete.Rehire.Visible (begin)
        <th class="@Html.Raw(crewAppraisalForAdminViewModeDelete.Rehire.HeaderCellClass)"><span id="elh_CrewAppraisalForAdminViewMode_Rehire" class="CrewAppraisalForAdminViewMode_Rehire">@Html.Raw(crewAppraisalForAdminViewModeDelete.Rehire.Caption)</span></th>
} @* crewAppraisalForAdminViewModeDelete.Rehire.Visible (end) *@
@if (crewAppraisalForAdminViewModeDelete.Promote.Visible) { // crewAppraisalForAdminViewModeDelete.Promote.Visible (begin)
        <th class="@Html.Raw(crewAppraisalForAdminViewModeDelete.Promote.HeaderCellClass)"><span id="elh_CrewAppraisalForAdminViewMode_Promote" class="CrewAppraisalForAdminViewMode_Promote">@Html.Raw(crewAppraisalForAdminViewModeDelete.Promote.Caption)</span></th>
} @* crewAppraisalForAdminViewModeDelete.Promote.Visible (end) *@
@if (crewAppraisalForAdminViewModeDelete.Appraiser.Visible) { // crewAppraisalForAdminViewModeDelete.Appraiser.Visible (begin)
        <th class="@Html.Raw(crewAppraisalForAdminViewModeDelete.Appraiser.HeaderCellClass)"><span id="elh_CrewAppraisalForAdminViewMode_Appraiser" class="CrewAppraisalForAdminViewMode_Appraiser">@Html.Raw(crewAppraisalForAdminViewModeDelete.Appraiser.Caption)</span></th>
} @* crewAppraisalForAdminViewModeDelete.Appraiser.Visible (end) *@
@if (crewAppraisalForAdminViewModeDelete.DateInput.Visible) { // crewAppraisalForAdminViewModeDelete.DateInput.Visible (begin)
        <th class="@Html.Raw(crewAppraisalForAdminViewModeDelete.DateInput.HeaderCellClass)"><span id="elh_CrewAppraisalForAdminViewMode_DateInput" class="CrewAppraisalForAdminViewMode_DateInput">@Html.Raw(crewAppraisalForAdminViewModeDelete.DateInput.Caption)</span></th>
} @* crewAppraisalForAdminViewModeDelete.DateInput.Visible (end) *@
@if (crewAppraisalForAdminViewModeDelete.MTCrewID.Visible) { // crewAppraisalForAdminViewModeDelete.MTCrewID.Visible (begin)
        <th class="@Html.Raw(crewAppraisalForAdminViewModeDelete.MTCrewID.HeaderCellClass)"><span id="elh_CrewAppraisalForAdminViewMode_MTCrewID" class="CrewAppraisalForAdminViewMode_MTCrewID">@Html.Raw(crewAppraisalForAdminViewModeDelete.MTCrewID.Caption)</span></th>
} @* crewAppraisalForAdminViewModeDelete.MTCrewID.Visible (end) *@
@if (crewAppraisalForAdminViewModeDelete.CreatedByUserID.Visible) { // crewAppraisalForAdminViewModeDelete.CreatedByUserID.Visible (begin)
        <th class="@Html.Raw(crewAppraisalForAdminViewModeDelete.CreatedByUserID.HeaderCellClass)"><span id="elh_CrewAppraisalForAdminViewMode_CreatedByUserID" class="CrewAppraisalForAdminViewMode_CreatedByUserID">@Html.Raw(crewAppraisalForAdminViewModeDelete.CreatedByUserID.Caption)</span></th>
} @* crewAppraisalForAdminViewModeDelete.CreatedByUserID.Visible (end) *@
@if (crewAppraisalForAdminViewModeDelete.CreatedDateTime.Visible) { // crewAppraisalForAdminViewModeDelete.CreatedDateTime.Visible (begin)
        <th class="@Html.Raw(crewAppraisalForAdminViewModeDelete.CreatedDateTime.HeaderCellClass)"><span id="elh_CrewAppraisalForAdminViewMode_CreatedDateTime" class="CrewAppraisalForAdminViewMode_CreatedDateTime">@Html.Raw(crewAppraisalForAdminViewModeDelete.CreatedDateTime.Caption)</span></th>
} @* crewAppraisalForAdminViewModeDelete.CreatedDateTime.Visible (end) *@
@if (crewAppraisalForAdminViewModeDelete.LastUpdatedByUserID.Visible) { // crewAppraisalForAdminViewModeDelete.LastUpdatedByUserID.Visible (begin)
        <th class="@Html.Raw(crewAppraisalForAdminViewModeDelete.LastUpdatedByUserID.HeaderCellClass)"><span id="elh_CrewAppraisalForAdminViewMode_LastUpdatedByUserID" class="CrewAppraisalForAdminViewMode_LastUpdatedByUserID">@Html.Raw(crewAppraisalForAdminViewModeDelete.LastUpdatedByUserID.Caption)</span></th>
} @* crewAppraisalForAdminViewModeDelete.LastUpdatedByUserID.Visible (end) *@
@if (crewAppraisalForAdminViewModeDelete.LastUpdatedDateTime.Visible) { // crewAppraisalForAdminViewModeDelete.LastUpdatedDateTime.Visible (begin)
        <th class="@Html.Raw(crewAppraisalForAdminViewModeDelete.LastUpdatedDateTime.HeaderCellClass)"><span id="elh_CrewAppraisalForAdminViewMode_LastUpdatedDateTime" class="CrewAppraisalForAdminViewMode_LastUpdatedDateTime">@Html.Raw(crewAppraisalForAdminViewModeDelete.LastUpdatedDateTime.Caption)</span></th>
} @* crewAppraisalForAdminViewModeDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ crewAppraisalForAdminViewModeDelete.RecordCount = 0; }
@while (crewAppraisalForAdminViewModeDelete.Recordset != null && await crewAppraisalForAdminViewModeDelete.Recordset.ReadAsync()) { // DN
    crewAppraisalForAdminViewModeDelete.RecordCount++;
    crewAppraisalForAdminViewModeDelete.RowCount++;

    // Set row properties
    crewAppraisalForAdminViewModeDelete.ResetAttributes();
    crewAppraisalForAdminViewModeDelete.RowType = RowType.View; // View

    // Get the field contents
    await crewAppraisalForAdminViewModeDelete.LoadRowValues(crewAppraisalForAdminViewModeDelete.Recordset);

    // Render row
    await crewAppraisalForAdminViewModeDelete.RenderRow();
    <tr @Html.Raw(crewAppraisalForAdminViewModeDelete.RowAttributes)>
@if (crewAppraisalForAdminViewModeDelete.VesselName.Visible) { // crewAppraisalForAdminViewModeDelete.VesselName.Visible (begin)
        <td @Html.Raw(crewAppraisalForAdminViewModeDelete.VesselName.CellAttributes)>
<span id="el@(crewAppraisalForAdminViewModeDelete.RowCount)_CrewAppraisalForAdminViewMode_VesselName" class="el_CrewAppraisalForAdminViewMode_VesselName">
<span @Html.Raw(crewAppraisalForAdminViewModeDelete.VesselName.ViewAttributes)>
@Html.Raw(crewAppraisalForAdminViewModeDelete.VesselName.GetViewValue())</span>
</span></td>
} @* crewAppraisalForAdminViewModeDelete.VesselName.Visible (end) *@
@if (crewAppraisalForAdminViewModeDelete.MTRankID.Visible) { // crewAppraisalForAdminViewModeDelete.MTRankID.Visible (begin)
        <td @Html.Raw(crewAppraisalForAdminViewModeDelete.MTRankID.CellAttributes)>
<span id="el@(crewAppraisalForAdminViewModeDelete.RowCount)_CrewAppraisalForAdminViewMode_MTRankID" class="el_CrewAppraisalForAdminViewMode_MTRankID">
<span @Html.Raw(crewAppraisalForAdminViewModeDelete.MTRankID.ViewAttributes)>
@Html.Raw(crewAppraisalForAdminViewModeDelete.MTRankID.GetViewValue())</span>
</span></td>
} @* crewAppraisalForAdminViewModeDelete.MTRankID.Visible (end) *@
@if (crewAppraisalForAdminViewModeDelete.Questionnaire.Visible) { // crewAppraisalForAdminViewModeDelete.Questionnaire.Visible (begin)
        <td @Html.Raw(crewAppraisalForAdminViewModeDelete.Questionnaire.CellAttributes)>
<span id="el@(crewAppraisalForAdminViewModeDelete.RowCount)_CrewAppraisalForAdminViewMode_Questionnaire" class="el_CrewAppraisalForAdminViewMode_Questionnaire">
<span @Html.Raw(crewAppraisalForAdminViewModeDelete.Questionnaire.ViewAttributes)>
@Html.Raw(crewAppraisalForAdminViewModeDelete.Questionnaire.GetViewValue())</span>
</span></td>
} @* crewAppraisalForAdminViewModeDelete.Questionnaire.Visible (end) *@
@if (crewAppraisalForAdminViewModeDelete.Approved.Visible) { // crewAppraisalForAdminViewModeDelete.Approved.Visible (begin)
        <td @Html.Raw(crewAppraisalForAdminViewModeDelete.Approved.CellAttributes)>
<span id="el@(crewAppraisalForAdminViewModeDelete.RowCount)_CrewAppraisalForAdminViewMode_Approved" class="el_CrewAppraisalForAdminViewMode_Approved">
<span @Html.Raw(crewAppraisalForAdminViewModeDelete.Approved.ViewAttributes)>
<div class="form-check d-inline-block">
    <input type="checkbox" id="x_Approved_@(crewAppraisalForAdminViewModeDelete.RowCount)" class="form-check-input" value="@(crewAppraisalForAdminViewModeDelete.Approved.GetViewValue())" disabled checked="@(ConvertToBool(crewAppraisalForAdminViewModeDelete.Approved.CurrentValue))">
    <label class="form-check-label" for="x_Approved_@(crewAppraisalForAdminViewModeDelete.RowCount)"></label>
</div></span>
</span></td>
} @* crewAppraisalForAdminViewModeDelete.Approved.Visible (end) *@
@if (crewAppraisalForAdminViewModeDelete.AverageRating.Visible) { // crewAppraisalForAdminViewModeDelete.AverageRating.Visible (begin)
        <td @Html.Raw(crewAppraisalForAdminViewModeDelete.AverageRating.CellAttributes)>
<span id="el@(crewAppraisalForAdminViewModeDelete.RowCount)_CrewAppraisalForAdminViewMode_AverageRating" class="el_CrewAppraisalForAdminViewMode_AverageRating">
<span @Html.Raw(crewAppraisalForAdminViewModeDelete.AverageRating.ViewAttributes)>
@Html.Raw(crewAppraisalForAdminViewModeDelete.AverageRating.GetViewValue())</span>
</span></td>
} @* crewAppraisalForAdminViewModeDelete.AverageRating.Visible (end) *@
@if (crewAppraisalForAdminViewModeDelete.Rehire.Visible) { // crewAppraisalForAdminViewModeDelete.Rehire.Visible (begin)
        <td @Html.Raw(crewAppraisalForAdminViewModeDelete.Rehire.CellAttributes)>
<span id="el@(crewAppraisalForAdminViewModeDelete.RowCount)_CrewAppraisalForAdminViewMode_Rehire" class="el_CrewAppraisalForAdminViewMode_Rehire">
<span @Html.Raw(crewAppraisalForAdminViewModeDelete.Rehire.ViewAttributes)>
<div class="form-check d-inline-block">
    <input type="checkbox" id="x_Rehire_@(crewAppraisalForAdminViewModeDelete.RowCount)" class="form-check-input" value="@(crewAppraisalForAdminViewModeDelete.Rehire.GetViewValue())" disabled checked="@(ConvertToBool(crewAppraisalForAdminViewModeDelete.Rehire.CurrentValue))">
    <label class="form-check-label" for="x_Rehire_@(crewAppraisalForAdminViewModeDelete.RowCount)"></label>
</div></span>
</span></td>
} @* crewAppraisalForAdminViewModeDelete.Rehire.Visible (end) *@
@if (crewAppraisalForAdminViewModeDelete.Promote.Visible) { // crewAppraisalForAdminViewModeDelete.Promote.Visible (begin)
        <td @Html.Raw(crewAppraisalForAdminViewModeDelete.Promote.CellAttributes)>
<span id="el@(crewAppraisalForAdminViewModeDelete.RowCount)_CrewAppraisalForAdminViewMode_Promote" class="el_CrewAppraisalForAdminViewMode_Promote">
<span @Html.Raw(crewAppraisalForAdminViewModeDelete.Promote.ViewAttributes)>
<div class="form-check d-inline-block">
    <input type="checkbox" id="x_Promote_@(crewAppraisalForAdminViewModeDelete.RowCount)" class="form-check-input" value="@(crewAppraisalForAdminViewModeDelete.Promote.GetViewValue())" disabled checked="@(ConvertToBool(crewAppraisalForAdminViewModeDelete.Promote.CurrentValue))">
    <label class="form-check-label" for="x_Promote_@(crewAppraisalForAdminViewModeDelete.RowCount)"></label>
</div></span>
</span></td>
} @* crewAppraisalForAdminViewModeDelete.Promote.Visible (end) *@
@if (crewAppraisalForAdminViewModeDelete.Appraiser.Visible) { // crewAppraisalForAdminViewModeDelete.Appraiser.Visible (begin)
        <td @Html.Raw(crewAppraisalForAdminViewModeDelete.Appraiser.CellAttributes)>
<span id="el@(crewAppraisalForAdminViewModeDelete.RowCount)_CrewAppraisalForAdminViewMode_Appraiser" class="el_CrewAppraisalForAdminViewMode_Appraiser">
<span @Html.Raw(crewAppraisalForAdminViewModeDelete.Appraiser.ViewAttributes)>
@Html.Raw(crewAppraisalForAdminViewModeDelete.Appraiser.GetViewValue())</span>
</span></td>
} @* crewAppraisalForAdminViewModeDelete.Appraiser.Visible (end) *@
@if (crewAppraisalForAdminViewModeDelete.DateInput.Visible) { // crewAppraisalForAdminViewModeDelete.DateInput.Visible (begin)
        <td @Html.Raw(crewAppraisalForAdminViewModeDelete.DateInput.CellAttributes)>
<span id="el@(crewAppraisalForAdminViewModeDelete.RowCount)_CrewAppraisalForAdminViewMode_DateInput" class="el_CrewAppraisalForAdminViewMode_DateInput">
<span @Html.Raw(crewAppraisalForAdminViewModeDelete.DateInput.ViewAttributes)>
@Html.Raw(crewAppraisalForAdminViewModeDelete.DateInput.GetViewValue())</span>
</span></td>
} @* crewAppraisalForAdminViewModeDelete.DateInput.Visible (end) *@
@if (crewAppraisalForAdminViewModeDelete.MTCrewID.Visible) { // crewAppraisalForAdminViewModeDelete.MTCrewID.Visible (begin)
        <td @Html.Raw(crewAppraisalForAdminViewModeDelete.MTCrewID.CellAttributes)>
<span id="el@(crewAppraisalForAdminViewModeDelete.RowCount)_CrewAppraisalForAdminViewMode_MTCrewID" class="el_CrewAppraisalForAdminViewMode_MTCrewID">
<span @Html.Raw(crewAppraisalForAdminViewModeDelete.MTCrewID.ViewAttributes)>
@Html.Raw(crewAppraisalForAdminViewModeDelete.MTCrewID.GetViewValue())</span>
</span></td>
} @* crewAppraisalForAdminViewModeDelete.MTCrewID.Visible (end) *@
@if (crewAppraisalForAdminViewModeDelete.CreatedByUserID.Visible) { // crewAppraisalForAdminViewModeDelete.CreatedByUserID.Visible (begin)
        <td @Html.Raw(crewAppraisalForAdminViewModeDelete.CreatedByUserID.CellAttributes)>
<span id="el@(crewAppraisalForAdminViewModeDelete.RowCount)_CrewAppraisalForAdminViewMode_CreatedByUserID" class="el_CrewAppraisalForAdminViewMode_CreatedByUserID">
<span @Html.Raw(crewAppraisalForAdminViewModeDelete.CreatedByUserID.ViewAttributes)>
@Html.Raw(crewAppraisalForAdminViewModeDelete.CreatedByUserID.GetViewValue())</span>
</span></td>
} @* crewAppraisalForAdminViewModeDelete.CreatedByUserID.Visible (end) *@
@if (crewAppraisalForAdminViewModeDelete.CreatedDateTime.Visible) { // crewAppraisalForAdminViewModeDelete.CreatedDateTime.Visible (begin)
        <td @Html.Raw(crewAppraisalForAdminViewModeDelete.CreatedDateTime.CellAttributes)>
<span id="el@(crewAppraisalForAdminViewModeDelete.RowCount)_CrewAppraisalForAdminViewMode_CreatedDateTime" class="el_CrewAppraisalForAdminViewMode_CreatedDateTime">
<span @Html.Raw(crewAppraisalForAdminViewModeDelete.CreatedDateTime.ViewAttributes)>
@Html.Raw(crewAppraisalForAdminViewModeDelete.CreatedDateTime.GetViewValue())</span>
</span></td>
} @* crewAppraisalForAdminViewModeDelete.CreatedDateTime.Visible (end) *@
@if (crewAppraisalForAdminViewModeDelete.LastUpdatedByUserID.Visible) { // crewAppraisalForAdminViewModeDelete.LastUpdatedByUserID.Visible (begin)
        <td @Html.Raw(crewAppraisalForAdminViewModeDelete.LastUpdatedByUserID.CellAttributes)>
<span id="el@(crewAppraisalForAdminViewModeDelete.RowCount)_CrewAppraisalForAdminViewMode_LastUpdatedByUserID" class="el_CrewAppraisalForAdminViewMode_LastUpdatedByUserID">
<span @Html.Raw(crewAppraisalForAdminViewModeDelete.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(crewAppraisalForAdminViewModeDelete.LastUpdatedByUserID.GetViewValue())</span>
</span></td>
} @* crewAppraisalForAdminViewModeDelete.LastUpdatedByUserID.Visible (end) *@
@if (crewAppraisalForAdminViewModeDelete.LastUpdatedDateTime.Visible) { // crewAppraisalForAdminViewModeDelete.LastUpdatedDateTime.Visible (begin)
        <td @Html.Raw(crewAppraisalForAdminViewModeDelete.LastUpdatedDateTime.CellAttributes)>
<span id="el@(crewAppraisalForAdminViewModeDelete.RowCount)_CrewAppraisalForAdminViewMode_LastUpdatedDateTime" class="el_CrewAppraisalForAdminViewMode_LastUpdatedDateTime">
<span @Html.Raw(crewAppraisalForAdminViewModeDelete.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(crewAppraisalForAdminViewModeDelete.LastUpdatedDateTime.GetViewValue())</span>
</span></td>
} @* crewAppraisalForAdminViewModeDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
}
@{ crewAppraisalForAdminViewModeDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(crewAppraisalForAdminViewModeDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@crewAppraisalForAdminViewModeDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
