@{
    // View
    View = this;

    // Check action result
    if (crewCertificateForAdminEdit.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!crewCertificateForAdminEdit.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@crewCertificateForAdminEdit.ShowPageHeader()
@crewCertificateForAdminEdit.ShowMessages()
<main class="edit">
<form name="fCrewCertificateForAdminedit" id="fCrewCertificateForAdminedit" class="@(crewCertificateForAdminEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
<script>
var currentTable = @Html.Raw(ConvertToJson(crewCertificateForAdminEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { CrewCertificateForAdmin: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fCrewCertificateForAdminedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fCrewCertificateForAdminedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["MTCrewID", [fields.MTCrewID.visible && fields.MTCrewID.required ? ew.Validators.required(fields.MTCrewID.caption) : null], fields.MTCrewID.isInvalid],
            ["MTCertificateID", [fields.MTCertificateID.visible && fields.MTCertificateID.required ? ew.Validators.required(fields.MTCertificateID.caption) : null], fields.MTCertificateID.isInvalid],
            ["CountryOfIssue_CountryID", [fields.CountryOfIssue_CountryID.visible && fields.CountryOfIssue_CountryID.required ? ew.Validators.required(fields.CountryOfIssue_CountryID.caption) : null], fields.CountryOfIssue_CountryID.isInvalid],
            ["Number", [fields.Number.visible && fields.Number.required ? ew.Validators.required(fields.Number.caption) : null], fields.Number.isInvalid],
            ["DateOfIssue", [fields.DateOfIssue.visible && fields.DateOfIssue.required ? ew.Validators.required(fields.DateOfIssue.caption) : null, ew.Validators.datetime(fields.DateOfIssue.clientFormatPattern)], fields.DateOfIssue.isInvalid],
            ["DateOfExpiry", [fields.DateOfExpiry.visible && fields.DateOfExpiry.required ? ew.Validators.required(fields.DateOfExpiry.caption) : null, ew.Validators.datetime(fields.DateOfExpiry.clientFormatPattern)], fields.DateOfExpiry.isInvalid],
            ["PlaceOfIssue", [fields.PlaceOfIssue.visible && fields.PlaceOfIssue.required ? ew.Validators.required(fields.PlaceOfIssue.caption) : null], fields.PlaceOfIssue.isInvalid],
            ["IssuingAuthority", [fields.IssuingAuthority.visible && fields.IssuingAuthority.required ? ew.Validators.required(fields.IssuingAuthority.caption) : null], fields.IssuingAuthority.isInvalid],
            ["Level", [fields.Level.visible && fields.Level.required ? ew.Validators.required(fields.Level.caption) : null], fields.Level.isInvalid],
            ["PaxVesselType", [fields.PaxVesselType.visible && fields.PaxVesselType.required ? ew.Validators.required(fields.PaxVesselType.caption) : null], fields.PaxVesselType.isInvalid],
            ["Image", [fields.Image.visible && fields.Image.required ? ew.Validators.fileRequired(fields.Image.caption) : null], fields.Image.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "CountryOfIssue_CountryID": @Html.Raw(crewCertificateForAdminEdit.CountryOfIssue_CountryID.ToClientList(crewCertificateForAdminEdit)),
            "Level": @Html.Raw(crewCertificateForAdminEdit.Level.ToClientList(crewCertificateForAdminEdit)),
            "PaxVesselType": @Html.Raw(crewCertificateForAdminEdit.PaxVesselType.ToClientList(crewCertificateForAdminEdit)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(crewCertificateForAdminEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(crewCertificateForAdminEdit.OldKeyName)" value="@Html.Raw(crewCertificateForAdminEdit.OldKey)">
<div class="ew-edit-div d-none"><!-- page* -->
@if (crewCertificateForAdminEdit.MTCrewID.Visible) { // crewCertificateForAdminEdit.MTCrewID.Visible (begin)
    <div id="r_MTCrewID" @Html.Raw(crewCertificateForAdminEdit.MTCrewID.RowAttributes)>
        <label id="elh_CrewCertificateForAdmin_MTCrewID" for="x_MTCrewID" class="@(crewCertificateForAdminEdit.LeftColumnClass)"><template id="tpc_CrewCertificateForAdmin_MTCrewID">@Html.Raw(crewCertificateForAdminEdit.MTCrewID.Caption)@Html.Raw(crewCertificateForAdminEdit.MTCrewID.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewCertificateForAdminEdit.RightColumnClass)"><div @Html.Raw(crewCertificateForAdminEdit.MTCrewID.CellAttributes)>
<template id="tpx_CrewCertificateForAdmin_MTCrewID"><span id="el_CrewCertificateForAdmin_MTCrewID">
<input type="@(crewCertificateForAdminEdit.MTCrewID.InputTextType)" name="x_MTCrewID" id="x_MTCrewID" data-table="CrewCertificateForAdmin" data-field="x_MTCrewID" value="@Html.Raw(crewCertificateForAdminEdit.MTCrewID.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(crewCertificateForAdminEdit.MTCrewID.PlaceHolder))" data-format-pattern="@(crewCertificateForAdminEdit.MTCrewID.FormatPattern)"@Html.Raw(crewCertificateForAdminEdit.MTCrewID.EditAttributes) aria-describedby="x_MTCrewID_help">
@Html.Raw(crewCertificateForAdminEdit.MTCrewID.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewCertificateForAdminEdit.MTCrewID.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* crewCertificateForAdminEdit.MTCrewID.Visible (end) *@
@if (crewCertificateForAdminEdit.MTCertificateID.Visible) { // crewCertificateForAdminEdit.MTCertificateID.Visible (begin)
    <div id="r_MTCertificateID" @Html.Raw(crewCertificateForAdminEdit.MTCertificateID.RowAttributes)>
        <label id="elh_CrewCertificateForAdmin_MTCertificateID" for="x_MTCertificateID" class="@(crewCertificateForAdminEdit.LeftColumnClass)"><template id="tpc_CrewCertificateForAdmin_MTCertificateID">@Html.Raw(crewCertificateForAdminEdit.MTCertificateID.Caption)@Html.Raw(crewCertificateForAdminEdit.MTCertificateID.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewCertificateForAdminEdit.RightColumnClass)"><div @Html.Raw(crewCertificateForAdminEdit.MTCertificateID.CellAttributes)>
<template id="tpx_CrewCertificateForAdmin_MTCertificateID"><span id="el_CrewCertificateForAdmin_MTCertificateID">
<input type="@(crewCertificateForAdminEdit.MTCertificateID.InputTextType)" name="x_MTCertificateID" id="x_MTCertificateID" data-table="CrewCertificateForAdmin" data-field="x_MTCertificateID" value="@Html.Raw(crewCertificateForAdminEdit.MTCertificateID.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(crewCertificateForAdminEdit.MTCertificateID.PlaceHolder))" data-format-pattern="@(crewCertificateForAdminEdit.MTCertificateID.FormatPattern)"@Html.Raw(crewCertificateForAdminEdit.MTCertificateID.EditAttributes) aria-describedby="x_MTCertificateID_help">
@Html.Raw(crewCertificateForAdminEdit.MTCertificateID.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewCertificateForAdminEdit.MTCertificateID.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* crewCertificateForAdminEdit.MTCertificateID.Visible (end) *@
@if (crewCertificateForAdminEdit.CountryOfIssue_CountryID.Visible) { // crewCertificateForAdminEdit.CountryOfIssue_CountryID.Visible (begin)
    <div id="r_CountryOfIssue_CountryID" @Html.Raw(crewCertificateForAdminEdit.CountryOfIssue_CountryID.RowAttributes)>
        <label id="elh_CrewCertificateForAdmin_CountryOfIssue_CountryID" for="x_CountryOfIssue_CountryID" class="@(crewCertificateForAdminEdit.LeftColumnClass)"><template id="tpc_CrewCertificateForAdmin_CountryOfIssue_CountryID">@Html.Raw(crewCertificateForAdminEdit.CountryOfIssue_CountryID.Caption)@Html.Raw(crewCertificateForAdminEdit.CountryOfIssue_CountryID.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewCertificateForAdminEdit.RightColumnClass)"><div @Html.Raw(crewCertificateForAdminEdit.CountryOfIssue_CountryID.CellAttributes)>
<template id="tpx_CrewCertificateForAdmin_CountryOfIssue_CountryID"><span id="el_CrewCertificateForAdmin_CountryOfIssue_CountryID">
    <select
        id="x_CountryOfIssue_CountryID"
        name="x_CountryOfIssue_CountryID"
        class="form-select ew-select@(crewCertificateForAdminEdit.CountryOfIssue_CountryID.IsInvalidClass)"
        data-select2-id="fCrewCertificateForAdminedit_x_CountryOfIssue_CountryID"
        data-table="CrewCertificateForAdmin"
        data-field="x_CountryOfIssue_CountryID"
        data-value-separator="@(crewCertificateForAdminEdit.CountryOfIssue_CountryID.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(crewCertificateForAdminEdit.CountryOfIssue_CountryID.PlaceHolder))"
        @Html.Raw(crewCertificateForAdminEdit.CountryOfIssue_CountryID.EditAttributes)>
        @(crewCertificateForAdminEdit.CountryOfIssue_CountryID.SelectOptionListHtml("x_CountryOfIssue_CountryID"))
    </select>
    @Html.Raw(crewCertificateForAdminEdit.CountryOfIssue_CountryID.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(crewCertificateForAdminEdit.CountryOfIssue_CountryID.GetErrorMessage())</div>
@Html.Raw(crewCertificateForAdminEdit.CountryOfIssue_CountryID.Lookup.GetParamTag(crewCertificateForAdminEdit, "p_x_CountryOfIssue_CountryID"))
<script>
loadjs.ready("fCrewCertificateForAdminedit", function() {
    var options = { name: "x_CountryOfIssue_CountryID", selectId: "fCrewCertificateForAdminedit_x_CountryOfIssue_CountryID" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fCrewCertificateForAdminedit.lists.CountryOfIssue_CountryID?.lookupOptions.length) {
        options.data = { id: "x_CountryOfIssue_CountryID", form: "fCrewCertificateForAdminedit" };
    } else {
        options.ajax = { id: "x_CountryOfIssue_CountryID", form: "fCrewCertificateForAdminedit", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumInputLength = ew.selectMinimumInputLength;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.CrewCertificateForAdmin.fields.CountryOfIssue_CountryID.selectOptions);
    ew.createSelect(options);
});
</script>
</span></template>
</div></div>
    </div>
} @* crewCertificateForAdminEdit.CountryOfIssue_CountryID.Visible (end) *@
@if (crewCertificateForAdminEdit.Number.Visible) { // crewCertificateForAdminEdit.Number.Visible (begin)
    <div id="r_Number" @Html.Raw(crewCertificateForAdminEdit.Number.RowAttributes)>
        <label id="elh_CrewCertificateForAdmin_Number" for="x_Number" class="@(crewCertificateForAdminEdit.LeftColumnClass)"><template id="tpc_CrewCertificateForAdmin_Number">@Html.Raw(crewCertificateForAdminEdit.Number.Caption)@Html.Raw(crewCertificateForAdminEdit.Number.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewCertificateForAdminEdit.RightColumnClass)"><div @Html.Raw(crewCertificateForAdminEdit.Number.CellAttributes)>
<template id="tpx_CrewCertificateForAdmin_Number"><span id="el_CrewCertificateForAdmin_Number">
<input type="@(crewCertificateForAdminEdit.Number.InputTextType)" name="x_Number" id="x_Number" data-table="CrewCertificateForAdmin" data-field="x_Number" value="@Html.Raw(crewCertificateForAdminEdit.Number.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(crewCertificateForAdminEdit.Number.PlaceHolder))" data-format-pattern="@(crewCertificateForAdminEdit.Number.FormatPattern)"@Html.Raw(crewCertificateForAdminEdit.Number.EditAttributes) aria-describedby="x_Number_help">
@Html.Raw(crewCertificateForAdminEdit.Number.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewCertificateForAdminEdit.Number.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* crewCertificateForAdminEdit.Number.Visible (end) *@
@if (crewCertificateForAdminEdit.DateOfIssue.Visible) { // crewCertificateForAdminEdit.DateOfIssue.Visible (begin)
    <div id="r_DateOfIssue" @Html.Raw(crewCertificateForAdminEdit.DateOfIssue.RowAttributes)>
        <label id="elh_CrewCertificateForAdmin_DateOfIssue" for="x_DateOfIssue" class="@(crewCertificateForAdminEdit.LeftColumnClass)"><template id="tpc_CrewCertificateForAdmin_DateOfIssue">@Html.Raw(crewCertificateForAdminEdit.DateOfIssue.Caption)@Html.Raw(crewCertificateForAdminEdit.DateOfIssue.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewCertificateForAdminEdit.RightColumnClass)"><div @Html.Raw(crewCertificateForAdminEdit.DateOfIssue.CellAttributes)>
<template id="tpx_CrewCertificateForAdmin_DateOfIssue"><span id="el_CrewCertificateForAdmin_DateOfIssue">
<input type="@(crewCertificateForAdminEdit.DateOfIssue.InputTextType)" name="x_DateOfIssue" id="x_DateOfIssue" data-table="CrewCertificateForAdmin" data-field="x_DateOfIssue" value="@Html.Raw(crewCertificateForAdminEdit.DateOfIssue.EditValue)" placeholder="@Html.Raw(HtmlEncode(crewCertificateForAdminEdit.DateOfIssue.PlaceHolder))" data-format-pattern="@(crewCertificateForAdminEdit.DateOfIssue.FormatPattern)"@Html.Raw(crewCertificateForAdminEdit.DateOfIssue.EditAttributes) aria-describedby="x_DateOfIssue_help">
@Html.Raw(crewCertificateForAdminEdit.DateOfIssue.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewCertificateForAdminEdit.DateOfIssue.GetErrorMessage())</div>
@if (!crewCertificateForAdminEdit.DateOfIssue.ReadOnly && !crewCertificateForAdminEdit.DateOfIssue.Disabled && !crewCertificateForAdminEdit.DateOfIssue.EditAttrs.Is("readonly") && !crewCertificateForAdminEdit.DateOfIssue.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fCrewCertificateForAdminedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fCrewCertificateForAdminedit", "x_DateOfIssue", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span></template>
</div></div>
    </div>
} @* crewCertificateForAdminEdit.DateOfIssue.Visible (end) *@
@if (crewCertificateForAdminEdit.DateOfExpiry.Visible) { // crewCertificateForAdminEdit.DateOfExpiry.Visible (begin)
    <div id="r_DateOfExpiry" @Html.Raw(crewCertificateForAdminEdit.DateOfExpiry.RowAttributes)>
        <label id="elh_CrewCertificateForAdmin_DateOfExpiry" for="x_DateOfExpiry" class="@(crewCertificateForAdminEdit.LeftColumnClass)"><template id="tpc_CrewCertificateForAdmin_DateOfExpiry">@Html.Raw(crewCertificateForAdminEdit.DateOfExpiry.Caption)@Html.Raw(crewCertificateForAdminEdit.DateOfExpiry.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewCertificateForAdminEdit.RightColumnClass)"><div @Html.Raw(crewCertificateForAdminEdit.DateOfExpiry.CellAttributes)>
<template id="tpx_CrewCertificateForAdmin_DateOfExpiry"><span id="el_CrewCertificateForAdmin_DateOfExpiry">
<input type="@(crewCertificateForAdminEdit.DateOfExpiry.InputTextType)" name="x_DateOfExpiry" id="x_DateOfExpiry" data-table="CrewCertificateForAdmin" data-field="x_DateOfExpiry" value="@Html.Raw(crewCertificateForAdminEdit.DateOfExpiry.EditValue)" placeholder="@Html.Raw(HtmlEncode(crewCertificateForAdminEdit.DateOfExpiry.PlaceHolder))" data-format-pattern="@(crewCertificateForAdminEdit.DateOfExpiry.FormatPattern)"@Html.Raw(crewCertificateForAdminEdit.DateOfExpiry.EditAttributes) aria-describedby="x_DateOfExpiry_help">
@Html.Raw(crewCertificateForAdminEdit.DateOfExpiry.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewCertificateForAdminEdit.DateOfExpiry.GetErrorMessage())</div>
@if (!crewCertificateForAdminEdit.DateOfExpiry.ReadOnly && !crewCertificateForAdminEdit.DateOfExpiry.Disabled && !crewCertificateForAdminEdit.DateOfExpiry.EditAttrs.Is("readonly") && !crewCertificateForAdminEdit.DateOfExpiry.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fCrewCertificateForAdminedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fCrewCertificateForAdminedit", "x_DateOfExpiry", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span></template>
</div></div>
    </div>
} @* crewCertificateForAdminEdit.DateOfExpiry.Visible (end) *@
@if (crewCertificateForAdminEdit.PlaceOfIssue.Visible) { // crewCertificateForAdminEdit.PlaceOfIssue.Visible (begin)
    <div id="r_PlaceOfIssue" @Html.Raw(crewCertificateForAdminEdit.PlaceOfIssue.RowAttributes)>
        <label id="elh_CrewCertificateForAdmin_PlaceOfIssue" for="x_PlaceOfIssue" class="@(crewCertificateForAdminEdit.LeftColumnClass)"><template id="tpc_CrewCertificateForAdmin_PlaceOfIssue">@Html.Raw(crewCertificateForAdminEdit.PlaceOfIssue.Caption)@Html.Raw(crewCertificateForAdminEdit.PlaceOfIssue.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewCertificateForAdminEdit.RightColumnClass)"><div @Html.Raw(crewCertificateForAdminEdit.PlaceOfIssue.CellAttributes)>
<template id="tpx_CrewCertificateForAdmin_PlaceOfIssue"><span id="el_CrewCertificateForAdmin_PlaceOfIssue">
<input type="@(crewCertificateForAdminEdit.PlaceOfIssue.InputTextType)" name="x_PlaceOfIssue" id="x_PlaceOfIssue" data-table="CrewCertificateForAdmin" data-field="x_PlaceOfIssue" value="@Html.Raw(crewCertificateForAdminEdit.PlaceOfIssue.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(crewCertificateForAdminEdit.PlaceOfIssue.PlaceHolder))" data-format-pattern="@(crewCertificateForAdminEdit.PlaceOfIssue.FormatPattern)"@Html.Raw(crewCertificateForAdminEdit.PlaceOfIssue.EditAttributes) aria-describedby="x_PlaceOfIssue_help">
@Html.Raw(crewCertificateForAdminEdit.PlaceOfIssue.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewCertificateForAdminEdit.PlaceOfIssue.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* crewCertificateForAdminEdit.PlaceOfIssue.Visible (end) *@
@if (crewCertificateForAdminEdit.IssuingAuthority.Visible) { // crewCertificateForAdminEdit.IssuingAuthority.Visible (begin)
    <div id="r_IssuingAuthority" @Html.Raw(crewCertificateForAdminEdit.IssuingAuthority.RowAttributes)>
        <label id="elh_CrewCertificateForAdmin_IssuingAuthority" for="x_IssuingAuthority" class="@(crewCertificateForAdminEdit.LeftColumnClass)"><template id="tpc_CrewCertificateForAdmin_IssuingAuthority">@Html.Raw(crewCertificateForAdminEdit.IssuingAuthority.Caption)@Html.Raw(crewCertificateForAdminEdit.IssuingAuthority.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewCertificateForAdminEdit.RightColumnClass)"><div @Html.Raw(crewCertificateForAdminEdit.IssuingAuthority.CellAttributes)>
<template id="tpx_CrewCertificateForAdmin_IssuingAuthority"><span id="el_CrewCertificateForAdmin_IssuingAuthority">
<input type="@(crewCertificateForAdminEdit.IssuingAuthority.InputTextType)" name="x_IssuingAuthority" id="x_IssuingAuthority" data-table="CrewCertificateForAdmin" data-field="x_IssuingAuthority" value="@Html.Raw(crewCertificateForAdminEdit.IssuingAuthority.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(crewCertificateForAdminEdit.IssuingAuthority.PlaceHolder))" data-format-pattern="@(crewCertificateForAdminEdit.IssuingAuthority.FormatPattern)"@Html.Raw(crewCertificateForAdminEdit.IssuingAuthority.EditAttributes) aria-describedby="x_IssuingAuthority_help">
@Html.Raw(crewCertificateForAdminEdit.IssuingAuthority.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewCertificateForAdminEdit.IssuingAuthority.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* crewCertificateForAdminEdit.IssuingAuthority.Visible (end) *@
@if (crewCertificateForAdminEdit.Level.Visible) { // crewCertificateForAdminEdit.Level.Visible (begin)
    <div id="r_Level" @Html.Raw(crewCertificateForAdminEdit.Level.RowAttributes)>
        <label id="elh_CrewCertificateForAdmin_Level" for="x_Level" class="@(crewCertificateForAdminEdit.LeftColumnClass)"><template id="tpc_CrewCertificateForAdmin_Level">@Html.Raw(crewCertificateForAdminEdit.Level.Caption)@Html.Raw(crewCertificateForAdminEdit.Level.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewCertificateForAdminEdit.RightColumnClass)"><div @Html.Raw(crewCertificateForAdminEdit.Level.CellAttributes)>
<template id="tpx_CrewCertificateForAdmin_Level"><span id="el_CrewCertificateForAdmin_Level">
    <select
        id="x_Level"
        name="x_Level"
        class="form-select ew-select@(crewCertificateForAdminEdit.Level.IsInvalidClass)"
        data-select2-id="fCrewCertificateForAdminedit_x_Level"
        data-table="CrewCertificateForAdmin"
        data-field="x_Level"
        data-value-separator="@(crewCertificateForAdminEdit.Level.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(crewCertificateForAdminEdit.Level.PlaceHolder))"
        @Html.Raw(crewCertificateForAdminEdit.Level.EditAttributes)>
        @(crewCertificateForAdminEdit.Level.SelectOptionListHtml("x_Level"))
    </select>
    @Html.Raw(crewCertificateForAdminEdit.Level.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(crewCertificateForAdminEdit.Level.GetErrorMessage())</div>
<script>
loadjs.ready("fCrewCertificateForAdminedit", function() {
    var options = { name: "x_Level", selectId: "fCrewCertificateForAdminedit_x_Level" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fCrewCertificateForAdminedit.lists.Level?.lookupOptions.length) {
        options.data = { id: "x_Level", form: "fCrewCertificateForAdminedit" };
    } else {
        options.ajax = { id: "x_Level", form: "fCrewCertificateForAdminedit", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumResultsForSearch = Infinity;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.CrewCertificateForAdmin.fields.Level.selectOptions);
    ew.createSelect(options);
});
</script>
</span></template>
</div></div>
    </div>
} @* crewCertificateForAdminEdit.Level.Visible (end) *@
@if (crewCertificateForAdminEdit.PaxVesselType.Visible) { // crewCertificateForAdminEdit.PaxVesselType.Visible (begin)
    <div id="r_PaxVesselType" @Html.Raw(crewCertificateForAdminEdit.PaxVesselType.RowAttributes)>
        <label id="elh_CrewCertificateForAdmin_PaxVesselType" for="x_PaxVesselType" class="@(crewCertificateForAdminEdit.LeftColumnClass)"><template id="tpc_CrewCertificateForAdmin_PaxVesselType">@Html.Raw(crewCertificateForAdminEdit.PaxVesselType.Caption)@Html.Raw(crewCertificateForAdminEdit.PaxVesselType.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewCertificateForAdminEdit.RightColumnClass)"><div @Html.Raw(crewCertificateForAdminEdit.PaxVesselType.CellAttributes)>
<template id="tpx_CrewCertificateForAdmin_PaxVesselType"><span id="el_CrewCertificateForAdmin_PaxVesselType">
    <select
        id="x_PaxVesselType"
        name="x_PaxVesselType"
        class="form-select ew-select@(crewCertificateForAdminEdit.PaxVesselType.IsInvalidClass)"
        data-select2-id="fCrewCertificateForAdminedit_x_PaxVesselType"
        data-table="CrewCertificateForAdmin"
        data-field="x_PaxVesselType"
        data-value-separator="@(crewCertificateForAdminEdit.PaxVesselType.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(crewCertificateForAdminEdit.PaxVesselType.PlaceHolder))"
        @Html.Raw(crewCertificateForAdminEdit.PaxVesselType.EditAttributes)>
        @(crewCertificateForAdminEdit.PaxVesselType.SelectOptionListHtml("x_PaxVesselType"))
    </select>
    @Html.Raw(crewCertificateForAdminEdit.PaxVesselType.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(crewCertificateForAdminEdit.PaxVesselType.GetErrorMessage())</div>
<script>
loadjs.ready("fCrewCertificateForAdminedit", function() {
    var options = { name: "x_PaxVesselType", selectId: "fCrewCertificateForAdminedit_x_PaxVesselType" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fCrewCertificateForAdminedit.lists.PaxVesselType?.lookupOptions.length) {
        options.data = { id: "x_PaxVesselType", form: "fCrewCertificateForAdminedit" };
    } else {
        options.ajax = { id: "x_PaxVesselType", form: "fCrewCertificateForAdminedit", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumResultsForSearch = Infinity;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.CrewCertificateForAdmin.fields.PaxVesselType.selectOptions);
    ew.createSelect(options);
});
</script>
</span></template>
</div></div>
    </div>
} @* crewCertificateForAdminEdit.PaxVesselType.Visible (end) *@
@if (crewCertificateForAdminEdit.Image.Visible) { // crewCertificateForAdminEdit.Image.Visible (begin)
    <div id="r_Image" @Html.Raw(crewCertificateForAdminEdit.Image.RowAttributes)>
        <label id="elh_CrewCertificateForAdmin_Image" class="@(crewCertificateForAdminEdit.LeftColumnClass)"><template id="tpc_CrewCertificateForAdmin_Image">@Html.Raw(crewCertificateForAdminEdit.Image.Caption)@Html.Raw(crewCertificateForAdminEdit.Image.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewCertificateForAdminEdit.RightColumnClass)"><div @Html.Raw(crewCertificateForAdminEdit.Image.CellAttributes)>
<template id="tpx_CrewCertificateForAdmin_Image"><span id="el_CrewCertificateForAdmin_Image">
<div id="fd_x_Image" class="fileinput-button ew-file-drop-zone">
    <input
        type="file"
        id="x_Image"
        name="x_Image"
        class="form-control ew-file-input"
        title="@(crewCertificateForAdminEdit.Image.Title)"
        lang="@(CurrentLanguageID)"
        data-table="CrewCertificateForAdmin"
        data-field="x_Image"
        data-size="100"
        data-accept-file-types="@(crewCertificateForAdminEdit.Image.AcceptFileTypes)"
        data-max-file-size="@(crewCertificateForAdminEdit.Image.UploadMaxFileSize)"
        data-max-number-of-files="null"
        data-disable-image-crop="@(crewCertificateForAdminEdit.Image.ImageCropper ? 0 : 1)"
        aria-describedby="x_Image_help"
        @Html.Raw((crewCertificateForAdminEdit.Image.ReadOnly || crewCertificateForAdminEdit.Image.Disabled) ? " disabled" : "")
        @Html.Raw(crewCertificateForAdminEdit.Image.EditAttributes)
    >
    <div class="text-muted ew-file-text">@Html.Raw(Language.Phrase("ChooseFile"))</div>
</div>
@Html.Raw(crewCertificateForAdminEdit.Image.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewCertificateForAdminEdit.Image.GetErrorMessage())</div>
<input type="hidden" name="fn_x_Image" id= "fn_x_Image" value="@(crewCertificateForAdminEdit.Image.Upload.FileName)">
<input type="hidden" name="fa_x_Image" id= "fa_x_Image" value="@(Post("fa_x_Image") == "0" ? "0" : "1")">
<table id="ft_x_Image" class="table table-sm float-start ew-upload-table"><tbody class="files"></tbody></table>
</span></template>
</div></div>
    </div>
} @* crewCertificateForAdminEdit.Image.Visible (end) *@
</div><!-- /page* -->
    <input type="hidden" data-table="CrewCertificateForAdmin" data-field="x_ID" data-hidden="1" name="x_ID" id="x_ID" value="@Html.Raw(HtmlEncode(crewCertificateForAdminEdit.ID.CurrentValue))">
<div id="tpd_CrewCertificateForAdminedit" class="ew-custom-template"></div>
<template id="tpm_CrewCertificateForAdminedit">
<div id="ct_crewCertificateForAdminEdit">    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewPersonalDataForAdminEdit")">
                @(CurrentLanguage == "en-US" ? "PERSONAL DATA" : "DATA PERSONAL")
            </a>     
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewDocumentForAdminAdd")">
                @(CurrentLanguage == "en-US" ? "DOCUMENTS" : "DOKUMEN")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewBankAccountForAdminAdd")">
                @(CurrentLanguage == "en-US" ? "BANK ACCOUNT" : "REKENING BANK")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewFamilyForAdminAdd")">
                @(CurrentLanguage == "en-US" ? "FAMILY" : "KELUARGA")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewFormalEducationForAdminAdd")">
                @(CurrentLanguage == "en-US" ? "FORMAL EDUCATION" : "PENDIDIKAN FORMAL")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewMedicalCertificateForAdminAdd")">
                @(CurrentLanguage == "en-US" ? "MEDICAL CERTIFICATE / TEST" : "SERTIFIKAT / TES MEDIS")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewCertificateForAdminAdd")">
                @(CurrentLanguage == "en-US" ? "CERTIFICATES AND QUALIFICATIONS" : "SERTIFIKAT DAN KUALIFIKASI")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewExperienceForAdminAdd")">
                @(CurrentLanguage == "en-US" ? "SEA EXPERIENCE" : "PENGALAMAN BERLAYAR")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewAppraisalForAdminAdd")">
                @(CurrentLanguage == "en-US" ? "APPRAISALS" : "PENILAIAN")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewMedicalHistoryForAdminAdd")">
                @(CurrentLanguage == "en-US" ? "MEDICAL HISTORY" : "RIWAYAT MEDIS")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewGeneralDataForAdminEdit")">
                @(CurrentLanguage == "en-US" ? "GENERAL" : "UMUM")
            </a>
        </li>
    </ul>
    <div class="mb-2 row">
        <div class="col-sm-4">
            <div id="r_MTCertificateID" class="mb-2 row">
                <label for="x_MTCertificateID" class="col-form-label">@Html.Raw(crewCertificateForAdminEdit.MTCertificateID.Caption)<i class="fa-solid fa-asterisk ew-required"></i></label>
                <div>
                    <span id="selectedCertificateID" class="d-none">@Html.Raw(crewCertificateForAdminEdit.MTCertificateID.EditValue)</span>
                    <span id="el_CrewCertificateForAdmin_MTCertificateID">
                        <select
                            id="x_MTCertificateID"
                            name="x_MTCertificateID"
                            class="form-select ew-select@(crewCertificateForAdminEdit.MTCertificateID.IsInvalidClass)"
                            data-select2-id="fCrewCertificateForAdminedit_x_MTCertificateID"
                            data-table="CrewCertificateForAdmin"
                            data-field="x_MTCertificateID"
                            data-value-separator="@(crewCertificateForAdminEdit.MTCertificateID.DisplayValueSeparatorAttribute)"
                            data-placeholder="@(HtmlEncode(crewCertificateForAdminEdit.MTCertificateID.PlaceHolder))"
                            @Html.Raw(crewCertificateForAdminEdit.MTCertificateID.EditAttributes)>
                        </select>
                        @Html.Raw(crewCertificateForAdminEdit.MTCertificateID.GetCustomMessage)
                        <div class="invalid-feedback">@Html.Raw(crewCertificateForAdminEdit.MTCertificateID.GetErrorMessage())</div>
                        @Html.Raw(crewCertificateForAdminEdit.MTCertificateID.Lookup.GetParamTag(crewCertificateForAdminEdit, "p_x_MTCertificateID"))
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div id="r_PaxVesselType" class="mb-2 row">
                <label for="x_PaxVesselType" class="col-form-label">@Html.Raw(crewCertificateForAdminEdit.PaxVesselType.Caption)</label>
                <div><slot class="ew-slot" name="tpx_CrewCertificateForAdmin_PaxVesselType"></slot></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div id="r_Level" class="mb-2 row">
                <label for="x_Level" class="col-form-label">@Html.Raw(crewCertificateForAdminEdit.Level.Caption)</label>
                <div><slot class="ew-slot" name="tpx_CrewCertificateForAdmin_Level"></slot></div>
            </div>
        </div>
    </div>
    <div class="mb-2 row">
        <div class="col-sm-4">
            <div id="r_CountryOfIssue_CountryID" class="mb-2 row">
                <label for="x_CountryOfIssue_CountryID" class="col-form-label">@Html.Raw(crewCertificateForAdminEdit.CountryOfIssue_CountryID.Caption)<i class="fa-solid fa-asterisk ew-required"></i></label>
                <div><slot class="ew-slot" name="tpx_CrewCertificateForAdmin_CountryOfIssue_CountryID"></slot></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div id="r_Number" class="mb-2 row">
                <label for="x_Number" class="col-form-label">@Html.Raw(crewCertificateForAdminEdit.Number.Caption)<i class="fa-solid fa-asterisk ew-required"></i></label>
                <div><slot class="ew-slot" name="tpx_CrewCertificateForAdmin_Number"></slot></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div id="r_DateOfIssue" class="mb-2 row">
                <label for="x_DateOfIssue" class="col-form-label">@Html.Raw(crewCertificateForAdminEdit.DateOfIssue.Caption)<i class="fa-solid fa-asterisk ew-required"></i></label>
                <div><slot class="ew-slot" name="tpx_CrewCertificateForAdmin_DateOfIssue"></slot></div>
            </div>
        </div>
    </div>
    <div class="mb-2 row">
        <div class="col-sm-4">
            <div id="r_DateOfExpiry" class="mb-2 row">
                <label for="x_DateOfExpiry" class="col-form-label">@Html.Raw(crewCertificateForAdminEdit.DateOfExpiry.Caption)<i class="fa-solid fa-asterisk ew-required"></i></label>
                <div><slot class="ew-slot" name="tpx_CrewCertificateForAdmin_DateOfExpiry"></slot></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div id="r_PlaceOfIssue" class="mb-2 row">
                <label for="x_PlaceOfIssue" class="col-form-label">@Html.Raw(crewCertificateForAdminEdit.PlaceOfIssue.Caption)<i class="fa-solid fa-asterisk ew-required"></i></label>
                <div><slot class="ew-slot" name="tpx_CrewCertificateForAdmin_PlaceOfIssue"></slot></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div id="r_IssuingAuthority" class="mb-2 row">
                <label for="x_IssuingAuthority" class="col-form-label">@Html.Raw(crewCertificateForAdminEdit.IssuingAuthority.Caption)<i class="fa-solid fa-asterisk ew-required"></i></label>
                <div><slot class="ew-slot" name="tpx_CrewCertificateForAdmin_IssuingAuthority"></slot></div>
            </div>
        </div>
    </div>
    <div class="mb-2 row">
        <div class="col-sm-12">
             <div id="r_Image" class="mb-2 row">
                <label for="x_Image" class="col-form-label">
                    @Html.Raw(crewCertificateForAdminEdit.Image.Caption) @(CurrentLanguage == "en-US" ? "(jpg/jpeg/png/pdf max 2 MB)" : "(jpg/jpeg/png/pdf maks 2 MB)")<i class="fa-solid fa-asterisk ew-required"></i>
                </label>
                <div><slot class="ew-slot" name="tpx_CrewCertificateForAdmin_Image"></slot></div>
            </div>
        </div>
    </div>
    <div class="row"><!-- buttons .row -->
        <div class="d-flex mb-2"><!-- buttons offset -->
            <button class="btn btn-primary ew-btn ms-auto primary-black-clr gray-bg" id="btn-update-entry">
                @(CurrentLanguage == "en-US" ? "Update Entry" : "Ubah")
            </button>
        </div><!-- /buttons offset -->
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-sm ew-table table-head-fixed" id="ForAdminTable" data-isset="true">
            <thead>
                <tr class="ew-table-header">
                    <th class="ew-list-option-header w-1" data-name="button"></th>
                    <th class="ew-list-option-header text-nowrap" data-name="sequence"><span></span></th>
                    <th data-name="MTCertificateID" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewCertificateForAdminEdit.MTCertificateID.Caption)
                    </th>
                    <th data-name="PaxVesselType" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewCertificateForAdminEdit.PaxVesselType.Caption)
                    </th>
                    <th data-name="Level" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewCertificateForAdminEdit.Level.Caption)
                    </th>              
                    <th data-name="CountryOfIssue_CountryID" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewCertificateForAdminEdit.CountryOfIssue_CountryID.Caption)
                    </th>
                    <th data-name="Number" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewCertificateForAdminEdit.Number.Caption)
                    </th>
                    <th data-name="DateOfIssue" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewCertificateForAdminEdit.DateOfIssue.Caption)
                    </th>
                    <th data-name="DateOfExpiry" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewCertificateForAdminEdit.DateOfExpiry.Caption)
                    </th>              
                    <th data-name="PlaceOfIssue" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewCertificateForAdminEdit.PlaceOfIssue.Caption)
                    </th>
                    <th data-name="IssuingAuthority" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewCertificateForAdminEdit.IssuingAuthority.Caption)
                    </th>
                    <th data-name="Image" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewCertificateForAdminEdit.Image.Caption)
                    </th>
                    <th data-name="CreatedByUserID" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewCertificateForAdminEdit.CreatedByUserID.Caption)
                    </th>
                    <th data-name="CreatedDateTime" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewCertificateForAdminEdit.CreatedDateTime.Caption)
                    </th>
                    <th data-name="LastUpdatedByUserID" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewCertificateForAdminEdit.LastUpdatedByUserID.Caption)
                    </th>
                    <th data-name="LastUpdatedDateTime" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewCertificateForAdminEdit.LastUpdatedDateTime.Caption)
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div id="r_MTCrewID" class="mb-3 row">
        <label for="x_MTCrewID" class="col-sm-2 col-form-label">@Html.Raw(crewCertificateForAdminEdit.MTCrewID.Caption)</label>
        <div class="col-sm-10"><slot class="ew-slot" name="tpx_CrewCertificateForAdmin_MTCrewID"></slot></div>
    </div>
    <div id="proceed-modal-dialog" class="modal" aria-hidden="true" data-bs-backdrop="static" tabindex="-1" aria-labelledby="proceed-modal-dialog-title" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="proceed-modal-dialog-title" class="modal-title">
                        @(CurrentLanguage == "en-US" ? "Warning" : "Peringatan")
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p> 
                        @{
                            if (CurrentLanguage == "en-US")
                            {
                                <span>There are error(s) in this tab.</span><br/>
                                <span>If you choose to Proceed, any unsaved data will be lost.</span><br/>
                                <span>Do you want to Proceed?</span>
                            }
                            else
                            {
                                <span>Masih ada error di tab ini.</span><br/>
                                <span>Jika Anda memilih Lanjutkan, data yang belum disimpan akan hilang.</span><br/>
                                <span>Apakah Anda ingin melanjutkan?</span>
                            }
                        }
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger ew-btn" id="btn-proceed" type="button">
                        @(CurrentLanguage == "en-US" ? "Proceed" : "Lanjutkan")
                    </button>
                    <button class="btn btn-default ew-btn" id="btn-proceed-cancel" type="button" data-bs-dismiss="modal">
                        @(CurrentLanguage == "en-US" ? "Cancel" : "Batal")
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="loading-modal-dialog" class="modal" aria-hidden="true" data-bs-backdrop="static" tabindex="-1" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="text-center mb-0">
                        @(CurrentLanguage == "en-US" ? "Saving..." : "Menyimpan...")
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="delete-modal-dialog" class="modal" aria-hidden="true" data-bs-backdrop="static" tabindex="-1" aria-labelledby="delete-modal-dialog-title" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="delete-modal-dialog-title" class="modal-title">
                        @(CurrentLanguage == "en-US" ? "Confirmation" : "Konfirmasi")
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        @(CurrentLanguage == "en-US" ? "Are you sure you want to delete?" : "Anda yakin ingin menghapus?")
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary ew-btn" id="btn-delete" type="button">
                        @(CurrentLanguage == "en-US" ? "Yes" : "Iya")
                    </button>
                    <button class="btn btn-default ew-btn" id="btn-delete-cancel" type="button" data-bs-dismiss="modal">
                        @(CurrentLanguage == "en-US" ? "No" : "Tidak")
                    </button>
                </div>
            </div>
        </div>
    </div></div>
</template>
@{ crewCertificateForAdminEdit.CloseRecordset(); }
@Html.Raw(crewCertificateForAdminEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(crewCertificateForAdminEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fCrewCertificateForAdminedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fCrewCertificateForAdminedit" data-href="@AppPath(crewCertificateForAdminEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(crewCertificateForAdminEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
<script class="ew-apply-template">
loadjs.ready(ew.applyTemplateId, function() {
    var $ = jQuery;
    ew.templateData = { rows: @Html.Raw(ConvertToJson(crewCertificateForAdminEdit.Rows)) };
    ew.applyTemplate("tpd_CrewCertificateForAdminedit", "tpm_CrewCertificateForAdminedit", "CrewCertificateForAdminedit", "@(crewCertificateForAdminEdit.Export)", "CrewCertificateForAdmin", ew.templateData.rows[0], @(crewCertificateForAdminEdit.IsModal ? "true" : "false"));
    loadjs.done("customtemplate");
});
</script>
</main>
@crewCertificateForAdminEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("CrewCertificateForAdmin");
});
</script>
<script>
loadjs.ready("load", function() {
    // Startup script
    // Write your table-specific startup script here
    // document.write("page loaded");

    // Get the current URL
    const currentUrlObject = new URL(window.location.href);
    // get the current URL without Add or Edit for assigning active class in tabs
    const currentUrlWithoutAddEdit = currentUrlObject.href.replace(/Add|Edit/g, "");
    // Create a new URLSearchParams object based on the current URL's search parameters
    const urlQueryParams = new URLSearchParams(currentUrlObject.search);
    // Extract the value of the crewID query parameter
    const currentlyEditedCrewID = urlQueryParams.get('crewID');
    const currentTableID = parseInt(currentUrlObject.pathname.split('/').pop()); 
    const selectedLanguage = ew.vars['languages']['languages'].filter(obj => obj.selected === true)[0];
    const parentUrl = ew.PATH_BASE;
    const tableName = "CrewCertificateForAdmin";
    const pageType = "edit";
    const pageTypeCapital = "Edit";
    const formID = `f${tableName}${pageType}`;
    const updateEntryUrl = `${parentUrl}${tableName}${pageTypeCapital}/${currentTableID}?crewID=${currentlyEditedCrewID}`;
    const addPageUrl = `${parentUrl}${tableName}Add?crewID=${currentlyEditedCrewID}`;
    let isChangeTabApproved = false;
    const adminAndEmployeeStatusApi = 'get-admin-and-employee-status';
    $.ajax({
        url: `${parentUrl}api/Registration/${adminAndEmployeeStatusApi}`,
        method: 'GET',
        data: {
            crewID: currentlyEditedCrewID
        },
        success: function(response) {
            if (response.success) {
                const isAdmin = response.data.IsAdmin;
                if (isAdmin) {
                    if (currentlyEditedCrewID === null) {
                        window.location.replace(`${ew.PATH_BASE}RegistrationEdit/-1`);
                    }
                    const originalCancelHref = $('#btn-cancel').attr('data-href');
                    const customCancelButton = $('<button/>', {
                        'class': 'btn btn-danger ew-btn ms-auto primary-red-bg primary-white-clr',
                        'id': 'btn-custom-cancel',
                        'type': 'button',
                        'text': `${ew.language.phrase("CancelBtn")}`,
                    }).click(function() {
                        if (window[formID].modified) {
                            ew.prompt(ew.language.phrase("ConfirmCancel"), result => {
                                if (result) {
                                    isChangeTabApproved = true;
                                    proceedToLink(originalCancelHref);
                                }
                              });
                        } else {
                            isChangeTabApproved = true;
                            proceedToLink(originalCancelHref);
                        }
                    });
                    $('#btn-cancel').after(customCancelButton);
                    $('#btn-cancel').remove();
                } else {
                    if (currentlyEditedCrewID === null) {
                        window.location.replace(`${ew.PATH_BASE}index`);
                    }
                    $('#btn-cancel').addClass('ms-auto primary-red-bg primary-white-clr');
                }
            } else {
                ew.showToast(response.errorMessage);
            }
        },
        error: function(xhr, textStatus, errorThrown) {
            ew.showToast(errorThrown);
        }
    });

    // Iterate over each anchor element inside the nav-tabs
    $(".nav-tabs .nav-item a").each(function() {
        const href = $(this).attr("href");
        const hrefWithoutAddEdit = href.replace(/Add|Edit/g, "");
        // Check if the href contains current page's url
        if (currentUrlWithoutAddEdit.includes(hrefWithoutAddEdit)) {
            // add class and attribute
            $(this).addClass("active");
            $(this).attr("aria-current", "page");
        }
        // Check if the href contains "Edit" or "Add"
        if (href.includes("Edit")) {
            // Add "/" and the currently edited crew ID to the href
            const newHref = href + "/" + currentlyEditedCrewID;
            // Set the updated href attribute value
            $(this).attr("href", newHref);
        } else if (href.includes("Add")) {
            // Add "?crewID=" and the currently edited crew ID to the href
            const newHref = href + "?crewID=" + currentlyEditedCrewID;
            // Set the updated href attribute value
            $(this).attr("href", newHref);
        }
    });

    // initialize select options START
    const mtCertificateIDValueDB = $('#selectedCertificateID').text();
    let options = { name: "x_MTCertificateID", selectId: `${formID}_x_MTCertificateID` };
    const el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    options.minimumInputLength = ew.selectMinimumInputLength;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables[tableName].fields.MTCertificateID.selectOptions);
    ew.createSelect(options);
    const certificateOptionsEditPageApi = 'crew-certificate-options-edit';
    $.ajax({
        url: `${parentUrl}api/Registration/${certificateOptionsEditPageApi}`,
        method: 'GET',
        data: {
            crewID: currentlyEditedCrewID,
            crewCertificateID: currentTableID
        },
        success: function(response) {
            if (response.success) {
                const certificates = response.data;
                for (const certificate of certificates) {
                    $('#x_MTCertificateID').append(new Option(certificate.Name, certificate.ID, false, false)).trigger('change');
                }
                $('#x_MTCertificateID').val(mtCertificateIDValueDB);
                $('#x_MTCertificateID').trigger('change');
                getCertificateCategory(mtCertificateIDValueDB, true);
                window[formID].modified = false;
            } else {
                ew.showToast(response.errorMessage);
            }
        },
        error: function(xhr, textStatus, errorThrown) {
            ew.showToast(errorThrown);
        }
    });
    // initialize select options END

    // start code for auto capitalize first letter of each word
    $('#x_PlaceOfIssue').on('input', function() {
        $(this).val($(this).val().replace(/(?:^|\s)\S/g, function(a) { return a.toUpperCase(); }));
    });
    $('#x_IssuingAuthority').on('input', function() {
        $(this).val($(this).val().replace(/(?:^|\s)\S/g, function(a) { return a.toUpperCase(); }));
    });
    // end code for auto capitalize first letter of each word
    const entryButton = $('<button/>', {
        'class': 'btn btn-primary ew-btn ms-auto primary-black-clr gray-bg',
        'id': 'btn-entry',
        'type': 'button',
        'text': (selectedLanguage.id === 'en-US') ? `Update Entry` : `Ubah`
    }).click(function() {
        const validateUpdateEntryResult = validateUpdateEntry();
        if (validateUpdateEntryResult) {
            $('#loading-modal-dialog').modal('show');
            const targetUrlRelative = addPageUrl;
            updateEntry({ redirectUrlWhenSuccess: targetUrlRelative });
        } else {
            scrollToFirstInvalidInput();
        }
    });
    $('#btn-update-entry').after(entryButton);
    $('#btn-update-entry').remove();
    $('#btn-delete').click(function() {
        const selectedTableID = $(this).attr('selected-table-id');
        $.ajax({
            url: `${parentUrl}api/delete/${tableName}/${selectedTableID}`,
            type: 'GET',
            success: function(res) {
                if (res && res.success) {
                    $('#delete-modal-dialog').modal('hide');
                    isChangeTabApproved = true;
                    proceedToLink(addPageUrl);
                } else {
                    $('#delete-modal-dialog').modal('hide');
                    ew.showToast(res.failureMessage);
                }
            },
            error: function(xhr, textStatus, errorThrown) {
                ew.showToast(errorThrown);
                $('#delete-modal-dialog').modal('hide');
            }
        });
    });

    // to auto clear error message when focus for file fields
    $('#x_Image').on('focus', function() {
        $(this).removeClass('is-invalid');
    });
    $('#ft_x_Image button').on("click", function () {
      window[formID].modified = true;
    });

    // Target the ol element that has breadcrumb class
    const $breadCrumbOl = $('.breadcrumb').first();

    // Delete the ol element that has breadcrumb class
    $breadCrumbOl.remove();
    $('#btn-action').remove();
    $('.ew-buttons > .col-sm-10').removeClass('col-sm-10').addClass('d-flex mb-3');
    $('.ew-buttons > .offset-sm-2').removeClass('offset-sm-2');

    //  programatically change the value of MTCrewID input and then hide it
    $('#x_MTCrewID').val(currentlyEditedCrewID);
    $('div#r_MTCrewID').hide();

    // get list of crew documents via API
    const uploadFolderName = "uploads";
    const baseUrl = currentUrlObject.origin + ew.PATH_BASE;
    const apiEndpoint = 'crew-certificate-for-admin';
    $.ajax({
      url: `${parentUrl}api/Registration/${apiEndpoint}`,
      method: 'GET',
      data: {
        crewID: currentlyEditedCrewID
      },
      success: function(response) {
        if (response.success) {
          // Parse the data in the response
          const dataArray = response.data;
          const tbody = $('#ForAdminTable tbody'); // select the tbody element
          if (dataArray.length > 0) {
              const tableName = 'CrewCertificateForAdmin';
              for (let rowIndex = 0; rowIndex < dataArray.length; rowIndex++) {
                const row = dataArray[rowIndex];
                const rowID = row['ID'];
                delete row['ID']; // delete ID for easier looping for table columns
                const tr = $('<tr>'); // create a new tr element 

                // first td for dropdown
                const buttonsTd = $('<td>').addClass('ew-list-option-body w-1');
                const buttonDropdownDiv = $('<div>').addClass('btn-group btn-group-sm ew-btn-dropdown');
                const dropdownButton = $('<button>')
                    .addClass('btn-default btn dropdown-toggle')
                    .attr('type', 'button')
                    .attr('data-title', 'Options')
                    .attr('data-bs-toggle', 'dropdown')
                    .attr('data-bs-auto-close', 'true');
                const dropdownButtonIcon = $('<i>').addClass('fa-solid fa-bars ew-icon').attr('data-phrase', 'ButtonListOptions');
                const dropdownButtonIconSpan = $('<span>').addClass('visually-hidden').text('Options');
                const dropdownUl = $('<ul>').addClass('dropdown-menu ew-dropdown-menu ew-list-options');
                const firstDropdownLi = $('<li>');
                const editUrl = `${parentUrl}${tableName}Edit/${rowID}?crewID=${currentlyEditedCrewID}`;
                const editAnchor = $('<a>')
                    .addClass('ew-row-link ew-edit dropdown-item')
                    .attr('data-caption', ew.language.phrase("EditLink"))
                    .attr('href', editUrl)
                    .on('click', function(event) {
                        event.preventDefault();
                        isChangeTabApproved = true;
                        proceedToLink(editUrl);
                    });
                const editAnchorIcon = $('<i>').addClass('fa-solid fa-pen ew-icon me-2').attr('data-phrase', 'EditLink');
                const editAnchorSpan = $('<span>').addClass('visually-hidden').text(ew.language.phrase("EditLink"));
                const editAnchorText= ew.language.phrase("EditLink");
                const secondDropdownLi = $('<li>');
                const deleteAnchor = $('<a>')
                    .addClass('ew-row-link dropdown-item')
                    .attr('data-caption', ew.language.phrase("DeleteLink"))
                    .on('click', function(event) {
                        event.preventDefault();
                        $('#btn-delete').attr('selected-table-id', rowID);
                        $('#delete-modal-dialog').modal('show');
                    });
                const deleteAnchorIcon = $('<i>').addClass('fa-solid fa-trash ew-icon me-2').attr('data-phrase', 'DeleteLink');
                const deleteAnchorSpan = $('<span>').addClass('visually-hidden').text(ew.language.phrase("DeleteLink"));
                const deleteAnchorText= ew.language.phrase("DeleteLink");
                deleteAnchorIcon.append(deleteAnchorSpan);
                deleteAnchor.append(deleteAnchorIcon);
                deleteAnchor.append(deleteAnchorText);
                secondDropdownLi.append(deleteAnchor);
                editAnchorIcon.append(editAnchorSpan);
                editAnchor.append(editAnchorIcon);
                editAnchor.append(editAnchorText);
                firstDropdownLi.append(editAnchor);
                dropdownUl.append(firstDropdownLi);
                dropdownUl.append(secondDropdownLi);
                dropdownButtonIcon.append(dropdownButtonIconSpan);
                dropdownButton.append(dropdownButtonIcon);
                buttonDropdownDiv.append(dropdownButton);
                buttonDropdownDiv.append(dropdownUl);
                buttonsTd.append(buttonDropdownDiv);
                tr.append(buttonsTd);

                // second td for sequence
                const sequenceTd = $('<td>').addClass('ew-list-option-body text-nowrap').attr('data-name', 'sequence');
                const sequenceNumberString = (rowIndex + 1).toString() + '.';
                const sequenceSpan = $('<span>').text(sequenceNumberString);
                sequenceTd.append(sequenceSpan);
                tr.append(sequenceTd);

                // remaining td for each column
                for (const columnName of Object.keys(row)) {
                  const dataTd = $('<td>');
                  const columnValue = row[columnName];
                  if (columnName === "Image") {
                    dataTd.addClass("text-center");
                    if (columnValue !== null) {
                        dataTd.addClass("text-center");
                        const individualCodeNumber = columnValue.split('-')[0];
                        const imageUrl = `${baseUrl}${uploadFolderName}/${individualCodeNumber}/${columnValue}`;
                        const anchorLink = $('<a>', {
                            href: imageUrl,
                            target: '_blank'
                        });
                        anchorLink.text("Image");
                        dataTd.append(anchorLink);
                    } else {
                        const dataSpan = $('<span>').text(columnValue);
                        dataTd.append(dataSpan);
                    }
                  } else if (columnName === "DateOfIssue" || columnName === "DateOfExpiry") {
                    const dataSpan = $('<span class="text-nowrap">').text(columnValue);
                    dataTd.append(dataSpan);
                  } else {
                    const dataSpan = $('<span>').text(columnValue);
                    dataTd.append(dataSpan);
                  }
                  tr.append(dataTd);
                }
                tbody.append(tr);
              }
          } else {
              const columnsCount = $('#ForAdminTable th.ew-table-header-cell').length;
              for (let rowIndex = 0; rowIndex < 3; rowIndex++) {
                const tr = $('<tr>'); // create a new tr element 

                // 1 is for buttons dropdown(for edit) column and 1 for sequence number column
                const emptyTdWithColspan = $('<td>').html('&nbsp;').attr('colspan', 2); 
                tr.append(emptyTdWithColspan);
                for (let columnIndex = 0; columnIndex < columnsCount; columnIndex++) {
                  const emptyTd = $('<td>').html('&nbsp;');
                  tr.append(emptyTd);
                }
                tbody.append(tr);
              }
          }
        } else {
          // Handle the error
          ew.showToast(response.errorMessage);
        }
      },
      error: function(xhr, textStatus, errorThrown) {
        // Handle the error
        ew.showToast(errorThrown);
      }
    });
    const certificateCategoryApi = 'get-certificate-category-for-admin';
    function getCertificateCategory(certificateIDString, firstLoad = false) {
        if (certificateIDString !== null) {
            $.ajax({
                url: `${parentUrl}api/Registration/${certificateCategoryApi}`,
                method: 'GET',
                data: {
                    certificateID: parseInt(certificateIDString)
                },
                success: function(response) {
                    if (response.success) {
                        // Parse the data in the response
                        const category = response.data;
                        if (category.includes('G')) {
                            $('#x_CountryOfIssue_CountryID').prop('disabled', false);
                            $('#x_PlaceOfIssue').prop('disabled', false);
                            $('#x_PaxVesselType').prop('disabled', true);
                            $('#x_PaxVesselType').val(null).trigger('change');
                            $('#x_DateOfExpiry').prop('disabled', true);
                            $('#x_DateOfExpiry').val(null);
                            if (category === 'G Page') {
                                $('#x_Level').prop('disabled', true);
                                $('#x_Level').val(null).trigger('change');
                            } else if (category === 'G Non Page') {
                                $('#x_Level').prop('disabled', false);
                            }
                        } else if (category === 'H') {
                            $('#x_CountryOfIssue_CountryID').prop('disabled', false);
                            $('#x_PlaceOfIssue').prop('disabled', false);
                            $('#x_PaxVesselType').prop('disabled', false);
                            $('#x_Level').prop('disabled', true);
                            $('#x_Level').val(null).trigger('change');
                            $('#x_DateOfExpiry').prop('disabled', true);
                            $('#x_DateOfExpiry').val(null);
                        } else if (category === 'D') {
                            $('#x_CountryOfIssue_CountryID').prop('disabled', true);
                            $('#x_CountryOfIssue_CountryID').val(null).trigger('change');
                            $('#x_PlaceOfIssue').prop('disabled', true);
                            $('#x_PlaceOfIssue').val(null);
                            $('#x_PaxVesselType').prop('disabled', true);
                            $('#x_PaxVesselType').val(null).trigger('change');
                            $('#x_Level').prop('disabled', true);
                            $('#x_Level').val(null).trigger('change');
                            $('#x_DateOfExpiry').prop('disabled', false);
                        } else if (category === '') {
                            $('#x_CountryOfIssue_CountryID').prop('disabled', false);
                            $('#x_PlaceOfIssue').prop('disabled', false);
                            $('#x_PaxVesselType').prop('disabled', true);
                            $('#x_PaxVesselType').val(null).trigger('change');
                            $('#x_Level').prop('disabled', true);
                            $('#x_Level').val(null).trigger('change');
                            $('#x_DateOfExpiry').prop('disabled', false);
                        }
                        if (firstLoad) {
                            window[formID].modified = false;
                        }
                    } else {
                        // Handle the error
                        ew.showToast(response.errorMessage);
                    }
                },
                error: function(xhr, textStatus, errorThrown) {
                    // Handle the error
                    ew.showToast(errorThrown);
                }
            });
        }
    }
    $('#x_MTCertificateID').on('select2:select', function (e) {
        const selectedCertificateIDString = e.params.data.id;
        getCertificateCategory(selectedCertificateIDString);
    });

    // AUTO SAVE WHEN MOVING FROM THIS TAB
    $(window).on('beforeunload', function(event) {
        if (!isChangeTabApproved && window[formID].modified) {
            event.preventDefault();
            event.returnValue = '';
            return '';
        }
    });
    $("#btn-proceed").click(function() {
        isChangeTabApproved = true;
        const targetUrlRelative = $(this).attr('target-url-relative');
        $('#approve-modal-dialog').modal('hide');
        proceedToLink(targetUrlRelative);
    });
    $('ul.nav.nav-tabs li.nav-item a.nav-link').on('click', function(event) {
        event.preventDefault();
        const targetUrlRelative = $(this).attr('href');
        if (window[formID].modified) {
            $('#loading-modal-dialog').modal('show');
            const validateUpdateEntryResult = validateUpdateEntry();
            if (validateUpdateEntryResult) {
                updateEntry({ redirectUrlWhenSuccess: targetUrlRelative });
            } else {
                $('#loading-modal-dialog').modal('hide');
                scrollToFirstInvalidInput();
                $('#btn-proceed').attr('target-url-relative', targetUrlRelative);
                $('#proceed-modal-dialog').modal('show');
            }
        } else {
            isChangeTabApproved = true;
            proceedToLink(targetUrlRelative);
        }
    });
    function proceedToLink(targetUrlRelative) {
        const baseUrl = new URL(window.location.href).origin;
        const targetUrl = new URL(baseUrl + targetUrlRelative);
        window.location.href = targetUrl.href;
    }
    function scrollToFirstInvalidInput() {
        const invalidInput = $("input.is-invalid:first");
        if (invalidInput.length > 0) { // Check if an invalid input is found
            const offset = invalidInput.offset().top; // Calculate the offset of the invalid input element from the top of the page
            const windowHeight = $(window).height(); // Calculate the height of the viewport
            const scrollPosition = offset - (windowHeight / 2); // Calculate the scroll position to center the invalid input element
            $("html, body").animate({ // Animate the scroll to the center position
                scrollTop: scrollPosition
            }, 1000); // Adjust the duration as needed (in milliseconds)
        }
    }
    function updateEntry({ redirectUrlWhenSuccess }) {
        isChangeTabApproved = true;
        let formData = $(`form#${formID}`).serialize();
        $('input[type="checkbox"]').each(function() {
            // Jika checkbox tidak dicentang dan tidak ada di hasil serialize(),
            // tambahkan nilai 0 ke hasil serialize()
            if (!this.checked && formData.indexOf(this.name) === -1) {
                formData += '&' + this.name + '=0';
            }
        });
        $.ajax({
            url: updateEntryUrl,
            type: 'POST',
            data: formData,
            success: function(res) {
                const $errorDiv = $(res).find('div.ew-error'); // res is a string containing html document
                $('#loading-modal-dialog').modal('hide');
                if ($errorDiv.length > 0) {
                    ew.showToast($errorDiv.text());
                } else {
                    proceedToLink(redirectUrlWhenSuccess);
                }
            },
            error: function(xhr, textStatus, errorThrown) {
                $('#loading-modal-dialog').modal('hide');
                isChangeTabApproved = false;
                ew.showToast(errorThrown);
            }
        });
    }
    function validateUpdateEntry() {
        let formErrorCount = 0;
        let isGetCategorySuccess = true;
        let selectedCertificateCategory = "";
        function validateRequiredField(fieldName) {
            const errorMessage = (selectedLanguage.id === 'en-US') ? "Please enter required field" : "Masukkan input yang dibutuhkan";
            const fieldNameWithPrefix = `x_${fieldName}`;
            const fieldCaption = $(`label[for=${fieldNameWithPrefix}]`).text();
            const fieldValue = $(`#${fieldNameWithPrefix}`).val();
            const errorMessageWithFieldName = `${errorMessage} - ${fieldCaption}`;
            if (fieldValue === '' || fieldValue === null) {
                window[formID].fields[fieldName].addError({ custom: errorMessageWithFieldName });
                window[formID].fields[fieldName].updateFeedback();
                window[formID].addError(fieldName, { custom: errorMessageWithFieldName });
                return false;
            } else {
                return true;
            }
        }
        function validateRequiredFileField(fieldName) {
            const errorMessage = (selectedLanguage.id === 'en-US') ? "Please enter required field" : "Masukkan input yang dibutuhkan";
            const fieldNameWithPrefixFn = `fn_x_${fieldName}`;
            const fieldNameWithPrefix = `x_${fieldName}`;
            const fieldCaption = $(`label[for=${fieldNameWithPrefix}]`).text();
            const fieldValue = $(`#${fieldNameWithPrefixFn}`).val();
            const errorMessageWithFieldName = `${errorMessage} - ${fieldCaption}`;
            if (fieldValue === '') {
                window[formID].fields[fieldName].addError({ custom: errorMessageWithFieldName });
                window[formID].fields[fieldName].updateFeedback();
                window[formID].addError(fieldName, { custom: errorMessageWithFieldName });
                $(`#${fieldNameWithPrefix}`).addClass('is-invalid');
                return false;
            } else {
                return true;
            }
        }
        function validateDateField(fieldName) {
            const errorMessage = (selectedLanguage.id === 'en-US') ? 'Incorrect date (dd MMM yyyy)' : 'Tanggal tidak benar (dd MMM yyyy)';
            const fieldNameWithPrefix = `x_${fieldName}`;
            const fieldValue = $(`#${fieldNameWithPrefix}`).val();
            const dateParts = fieldValue.split(' ');
            const day = parseInt(dateParts[0], 10);
            const monthNamesEnglish = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
            const monthNamesIndonesian = ['Jan', 'Feb', 'Mar', 'Apr', 'Mei', 'Jun', 'Jul', 'Agu', 'Sep', 'Okt', 'Nov', 'Des'];
            const month = (selectedLanguage.id === 'en-US') ? monthNamesEnglish.indexOf(dateParts[1]) : monthNamesIndonesian.indexOf(dateParts[1]);
            const year = parseInt(dateParts[2], 10);
            let valid = false;
            if (year >= 1900 && year <= 9999 && month >= 0 && day >= 1 && day <= 31) {
                switch (month) {
                    case 1: // February
                        // Check for leap year
                        valid = day <= (((year % 4 === 0 && year % 100 !== 0) || year % 400 === 0) ? 29 : 28);
                        break;
                    case 3: // April
                    case 5: // June
                    case 8: // September
                    case 10: // November
                        valid = day <= 30;
                        break;
                    default:
                        valid = true;
                        break;
                }
            }
            if (!valid) {
                window[formID].fields[fieldName].addError({ custom: errorMessage });
                window[formID].fields[fieldName].updateFeedback();
                window[formID].addError(fieldName, { custom: errorMessage });
                return false;
            } else {
                return true;
            }
        }
        function validateFieldWithRegex(fieldName, errorMessage, regex) {
            const fieldNameWithPrefix = `x_${fieldName}`;
            const fieldValue = $(`#${fieldNameWithPrefix}`).val();
            if (!regex.test(fieldValue)) {  
                window[formID].fields[fieldName].addError({ custom: errorMessage });
                window[formID].fields[fieldName].updateFeedback();
                window[formID].addError(fieldName, { custom: errorMessage });
                return false;
            } else {
                return true;
            }
        }
        const noDigitsRegex = /^[^0-9]+$/;
        const noDigitsRegexErrorMessage = (selectedLanguage.id === 'en-US') ? "Must not contain digits" : "Tidak boleh mengandung angka";
        if (!validateRequiredField("MTCertificateID")) {
            formErrorCount += 1;
        } else {
            const certificateCategoryApi = 'get-certificate-category-for-admin';
            const selectedCertificateIDString = $('#x_MTCertificateID').select2('data').length > 0 ? $('#x_MTCertificateID').select2('data')[0].id : null;
            $.ajax({
                url: `${parentUrl}api/Registration/${certificateCategoryApi}`,
                method: 'GET',
                async: false,
                data: {
                    certificateID: parseInt(selectedCertificateIDString)
                },
                success: function(response) {
                    if (response.success) {
                        selectedCertificateCategory = response.data;
                    } else {
                        isGetCategorySuccess = false;
                        ew.showToast(response.errorMessage);
                    }
                },
                error: function(xhr, textStatus, errorThrown) {
                    isGetCategorySuccess = false;
                    ew.showToast(errorThrown);
                }
            });
            if (isGetCategorySuccess) {
                if (selectedCertificateCategory.includes('G')) {
                    if (selectedCertificateCategory === 'G Non Page') {
                        if (!validateRequiredField("Level")) {
                            formErrorCount += 1;
                        }
                    }
                    if (!validateRequiredField("CountryOfIssue_CountryID")) {
                        formErrorCount += 1;
                    }
                    if (!validateRequiredField("Number")) {
                        formErrorCount += 1;
                    }
                    if (!validateRequiredField("DateOfIssue")) {
                        formErrorCount += 1;
                    } else {
                        formErrorCount += validateDateField("DateOfIssue") ? 0 : 1;
                    }
                    if (!validateRequiredField("PlaceOfIssue")) {
                        formErrorCount += 1;
                    } else {
                        formErrorCount += validateFieldWithRegex("PlaceOfIssue",  noDigitsRegexErrorMessage, noDigitsRegex) ? 0 : 1;
                    }
                    if (!validateRequiredField("IssuingAuthority")) {
                        formErrorCount += 1;
                    } else {
                        formErrorCount += validateFieldWithRegex("IssuingAuthority",  noDigitsRegexErrorMessage, noDigitsRegex) ? 0 : 1;
                    }
                    if (!validateRequiredFileField("Image")) {
                        formErrorCount += 1;
                    }
                } else if (selectedCertificateCategory === 'H') {
                    if (!validateRequiredField("PaxVesselType")) {
                        formErrorCount += 1;
                    }
                    if (!validateRequiredField("CountryOfIssue_CountryID")) {
                        formErrorCount += 1;
                    }
                    if (!validateRequiredField("Number")) {
                        formErrorCount += 1;
                    }
                    if (!validateRequiredField("DateOfIssue")) {
                        formErrorCount += 1;
                    } else {
                        formErrorCount += validateDateField("DateOfIssue") ? 0 : 1;
                    }
                    if (!validateRequiredField("PlaceOfIssue")) {
                        formErrorCount += 1;
                    } else {
                        formErrorCount += validateFieldWithRegex("PlaceOfIssue",  noDigitsRegexErrorMessage, noDigitsRegex) ? 0 : 1;
                    }
                    if (!validateRequiredField("IssuingAuthority")) {
                        formErrorCount += 1;
                    } else {
                        formErrorCount += validateFieldWithRegex("IssuingAuthority",  noDigitsRegexErrorMessage, noDigitsRegex) ? 0 : 1;
                    }
                    if (!validateRequiredFileField("Image")) {
                        formErrorCount += 1;
                    }
                } else if (selectedCertificateCategory === 'D') {
                    if (!validateRequiredField("DateOfExpiry")) {
                        formErrorCount += 1;
                    } else {
                        formErrorCount += validateDateField("DateOfExpiry") ? 0 : 1;
                    }
                    if (!validateRequiredField("Number")) {
                        formErrorCount += 1;
                    }
                    if (!validateRequiredField("DateOfIssue")) {
                        formErrorCount += 1;
                    } else {
                        formErrorCount += validateDateField("DateOfIssue") ? 0 : 1;
                    }
                    if (!validateRequiredField("IssuingAuthority")) {
                        formErrorCount += 1;
                    } else {
                        formErrorCount += validateFieldWithRegex("IssuingAuthority",  noDigitsRegexErrorMessage, noDigitsRegex) ? 0 : 1;
                    }
                    if (!validateRequiredFileField("Image")) {
                        formErrorCount += 1;
                    }
                } else if (selectedCertificateCategory === '') {
                    if (!validateRequiredField("DateOfExpiry")) {
                        formErrorCount += 1;
                    } else {
                        formErrorCount += validateDateField("DateOfExpiry") ? 0 : 1;
                    }
                    if (!validateRequiredField("CountryOfIssue_CountryID")) {
                        formErrorCount += 1;
                    }
                    if (!validateRequiredField("Number")) {
                        formErrorCount += 1;
                    }
                    if (!validateRequiredField("DateOfIssue")) {
                        formErrorCount += 1;
                    } else {
                        formErrorCount += validateDateField("DateOfIssue") ? 0 : 1;
                    }
                    if (!validateRequiredField("PlaceOfIssue")) {
                        formErrorCount += 1;
                    } else {
                        formErrorCount += validateFieldWithRegex("PlaceOfIssue",  noDigitsRegexErrorMessage, noDigitsRegex) ? 0 : 1;
                    }
                    if (!validateRequiredField("IssuingAuthority")) {
                        formErrorCount += 1;
                    } else {
                        formErrorCount += validateFieldWithRegex("IssuingAuthority",  noDigitsRegexErrorMessage, noDigitsRegex) ? 0 : 1;
                    }
                    if (!validateRequiredFileField("Image")) {
                        formErrorCount += 1;
                    }
                }
            } else {
                formErrorCount += 1;
            }
        }
        return formErrorCount === 0;
    }
});
</script>
