@{
    crewChecklistForAdmin.TableClass = "table table-striped table-bordered table-hover table-sm ew-table ew-master-table"; // DN
}
@if (crewChecklistForAdmin.Visible) { // crewChecklistForAdmin.Visible (begin)
<div class="ew-master-div">
<table id="tbl_CrewChecklistForAdminmaster" class="table ew-view-table ew-master-table ew-vertical">
    <tbody>
        @if (crewChecklistForAdmin.CreatedByUserID.Visible) { // crewChecklistForAdmin.CreatedByUserID.Visible (begin)
        <tr id="r_CreatedByUserID" @Html.Raw(crewChecklistForAdmin.CreatedByUserID.RowAttributes)>
            <td class="@(crewChecklistForAdmin.TableLeftColumnClass)">@Html.Raw(crewChecklistForAdmin.CreatedByUserID.Caption)</td>
            <td @Html.Raw(crewChecklistForAdmin.CreatedByUserID.CellAttributes)>
<span id="el_CrewChecklistForAdmin_CreatedByUserID">
<span @Html.Raw(crewChecklistForAdmin.CreatedByUserID.ViewAttributes)>
@Html.Raw(crewChecklistForAdmin.CreatedByUserID.GetViewValue())</span>
</span></td>
        </tr>
        } @* crewChecklistForAdmin.CreatedByUserID.Visible (end) *@
        @if (crewChecklistForAdmin.CreatedDateTime.Visible) { // crewChecklistForAdmin.CreatedDateTime.Visible (begin)
        <tr id="r_CreatedDateTime" @Html.Raw(crewChecklistForAdmin.CreatedDateTime.RowAttributes)>
            <td class="@(crewChecklistForAdmin.TableLeftColumnClass)">@Html.Raw(crewChecklistForAdmin.CreatedDateTime.Caption)</td>
            <td @Html.Raw(crewChecklistForAdmin.CreatedDateTime.CellAttributes)>
<span id="el_CrewChecklistForAdmin_CreatedDateTime">
<span @Html.Raw(crewChecklistForAdmin.CreatedDateTime.ViewAttributes)>
@Html.Raw(crewChecklistForAdmin.CreatedDateTime.GetViewValue())</span>
</span></td>
        </tr>
        } @* crewChecklistForAdmin.CreatedDateTime.Visible (end) *@
        @if (crewChecklistForAdmin.LastUpdatedByUserID.Visible) { // crewChecklistForAdmin.LastUpdatedByUserID.Visible (begin)
        <tr id="r_LastUpdatedByUserID" @Html.Raw(crewChecklistForAdmin.LastUpdatedByUserID.RowAttributes)>
            <td class="@(crewChecklistForAdmin.TableLeftColumnClass)">@Html.Raw(crewChecklistForAdmin.LastUpdatedByUserID.Caption)</td>
            <td @Html.Raw(crewChecklistForAdmin.LastUpdatedByUserID.CellAttributes)>
<span id="el_CrewChecklistForAdmin_LastUpdatedByUserID">
<span @Html.Raw(crewChecklistForAdmin.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(crewChecklistForAdmin.LastUpdatedByUserID.GetViewValue())</span>
</span></td>
        </tr>
        } @* crewChecklistForAdmin.LastUpdatedByUserID.Visible (end) *@
        @if (crewChecklistForAdmin.LastUpdatedDateTime.Visible) { // crewChecklistForAdmin.LastUpdatedDateTime.Visible (begin)
        <tr id="r_LastUpdatedDateTime" @Html.Raw(crewChecklistForAdmin.LastUpdatedDateTime.RowAttributes)>
            <td class="@(crewChecklistForAdmin.TableLeftColumnClass)">@Html.Raw(crewChecklistForAdmin.LastUpdatedDateTime.Caption)</td>
            <td @Html.Raw(crewChecklistForAdmin.LastUpdatedDateTime.CellAttributes)>
<span id="el_CrewChecklistForAdmin_LastUpdatedDateTime">
<span @Html.Raw(crewChecklistForAdmin.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(crewChecklistForAdmin.LastUpdatedDateTime.GetViewValue())</span>
</span></td>
        </tr>
        } @* crewChecklistForAdmin.LastUpdatedDateTime.Visible (end) *@
        @if (crewChecklistForAdmin.ApprovedByUserID1.Visible) { // crewChecklistForAdmin.ApprovedByUserID1.Visible (begin)
        <tr id="r_ApprovedByUserID1" @Html.Raw(crewChecklistForAdmin.ApprovedByUserID1.RowAttributes)>
            <td class="@(crewChecklistForAdmin.TableLeftColumnClass)">@Html.Raw(crewChecklistForAdmin.ApprovedByUserID1.Caption)</td>
            <td @Html.Raw(crewChecklistForAdmin.ApprovedByUserID1.CellAttributes)>
<span id="el_CrewChecklistForAdmin_ApprovedByUserID1">
<span @Html.Raw(crewChecklistForAdmin.ApprovedByUserID1.ViewAttributes)>
@Html.Raw(crewChecklistForAdmin.ApprovedByUserID1.GetViewValue())</span>
</span></td>
        </tr>
        } @* crewChecklistForAdmin.ApprovedByUserID1.Visible (end) *@
        @if (crewChecklistForAdmin.ApprovedByUserID2.Visible) { // crewChecklistForAdmin.ApprovedByUserID2.Visible (begin)
        <tr id="r_ApprovedByUserID2" @Html.Raw(crewChecklistForAdmin.ApprovedByUserID2.RowAttributes)>
            <td class="@(crewChecklistForAdmin.TableLeftColumnClass)">@Html.Raw(crewChecklistForAdmin.ApprovedByUserID2.Caption)</td>
            <td @Html.Raw(crewChecklistForAdmin.ApprovedByUserID2.CellAttributes)>
<span id="el_CrewChecklistForAdmin_ApprovedByUserID2">
<span @Html.Raw(crewChecklistForAdmin.ApprovedByUserID2.ViewAttributes)>
@Html.Raw(crewChecklistForAdmin.ApprovedByUserID2.GetViewValue())</span>
</span></td>
        </tr>
        } @* crewChecklistForAdmin.ApprovedByUserID2.Visible (end) *@
    </tbody>
</table>
</div>
} @* crewChecklistForAdmin.Visible (end) *@
