@{
    // View
    View = this;

    // Check action result
    if (crewFormalEducationForAdminViewModeDelete.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!crewFormalEducationForAdminViewModeDelete.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(crewFormalEducationForAdminViewModeDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { CrewFormalEducationForAdminViewMode: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fCrewFormalEducationForAdminViewModedelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fCrewFormalEducationForAdminViewModedelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@crewFormalEducationForAdminViewModeDelete.ShowPageHeader()
@crewFormalEducationForAdminViewModeDelete.ShowMessages()
<form name="fCrewFormalEducationForAdminViewModedelete" id="fCrewFormalEducationForAdminViewModedelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in crewFormalEducationForAdminViewModeDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(crewFormalEducationForAdminViewModeDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(crewFormalEducationForAdminViewModeDelete.TableContainerClass)" style="@(crewFormalEducationForAdminViewModeDelete.TableContainerStyle)">
<table class="@(crewFormalEducationForAdminViewModeDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (crewFormalEducationForAdminViewModeDelete.EducationLevel.Visible) { // crewFormalEducationForAdminViewModeDelete.EducationLevel.Visible (begin)
        <th class="@Html.Raw(crewFormalEducationForAdminViewModeDelete.EducationLevel.HeaderCellClass)"><span id="elh_CrewFormalEducationForAdminViewMode_EducationLevel" class="CrewFormalEducationForAdminViewMode_EducationLevel">@Html.Raw(crewFormalEducationForAdminViewModeDelete.EducationLevel.Caption)</span></th>
} @* crewFormalEducationForAdminViewModeDelete.EducationLevel.Visible (end) *@
@if (crewFormalEducationForAdminViewModeDelete.SchoolName.Visible) { // crewFormalEducationForAdminViewModeDelete.SchoolName.Visible (begin)
        <th class="@Html.Raw(crewFormalEducationForAdminViewModeDelete.SchoolName.HeaderCellClass)"><span id="elh_CrewFormalEducationForAdminViewMode_SchoolName" class="CrewFormalEducationForAdminViewMode_SchoolName">@Html.Raw(crewFormalEducationForAdminViewModeDelete.SchoolName.Caption)</span></th>
} @* crewFormalEducationForAdminViewModeDelete.SchoolName.Visible (end) *@
@if (crewFormalEducationForAdminViewModeDelete.City.Visible) { // crewFormalEducationForAdminViewModeDelete.City.Visible (begin)
        <th class="@Html.Raw(crewFormalEducationForAdminViewModeDelete.City.HeaderCellClass)"><span id="elh_CrewFormalEducationForAdminViewMode_City" class="CrewFormalEducationForAdminViewMode_City">@Html.Raw(crewFormalEducationForAdminViewModeDelete.City.Caption)</span></th>
} @* crewFormalEducationForAdminViewModeDelete.City.Visible (end) *@
@if (crewFormalEducationForAdminViewModeDelete.Attachment.Visible) { // crewFormalEducationForAdminViewModeDelete.Attachment.Visible (begin)
        <th class="@Html.Raw(crewFormalEducationForAdminViewModeDelete.Attachment.HeaderCellClass)"><span id="elh_CrewFormalEducationForAdminViewMode_Attachment" class="CrewFormalEducationForAdminViewMode_Attachment">@Html.Raw(crewFormalEducationForAdminViewModeDelete.Attachment.Caption)</span></th>
} @* crewFormalEducationForAdminViewModeDelete.Attachment.Visible (end) *@
@if (crewFormalEducationForAdminViewModeDelete.StartDate.Visible) { // crewFormalEducationForAdminViewModeDelete.StartDate.Visible (begin)
        <th class="@Html.Raw(crewFormalEducationForAdminViewModeDelete.StartDate.HeaderCellClass)"><span id="elh_CrewFormalEducationForAdminViewMode_StartDate" class="CrewFormalEducationForAdminViewMode_StartDate">@Html.Raw(crewFormalEducationForAdminViewModeDelete.StartDate.Caption)</span></th>
} @* crewFormalEducationForAdminViewModeDelete.StartDate.Visible (end) *@
@if (crewFormalEducationForAdminViewModeDelete.EndDate.Visible) { // crewFormalEducationForAdminViewModeDelete.EndDate.Visible (begin)
        <th class="@Html.Raw(crewFormalEducationForAdminViewModeDelete.EndDate.HeaderCellClass)"><span id="elh_CrewFormalEducationForAdminViewMode_EndDate" class="CrewFormalEducationForAdminViewMode_EndDate">@Html.Raw(crewFormalEducationForAdminViewModeDelete.EndDate.Caption)</span></th>
} @* crewFormalEducationForAdminViewModeDelete.EndDate.Visible (end) *@
@if (crewFormalEducationForAdminViewModeDelete.MTCrewID.Visible) { // crewFormalEducationForAdminViewModeDelete.MTCrewID.Visible (begin)
        <th class="@Html.Raw(crewFormalEducationForAdminViewModeDelete.MTCrewID.HeaderCellClass)"><span id="elh_CrewFormalEducationForAdminViewMode_MTCrewID" class="CrewFormalEducationForAdminViewMode_MTCrewID">@Html.Raw(crewFormalEducationForAdminViewModeDelete.MTCrewID.Caption)</span></th>
} @* crewFormalEducationForAdminViewModeDelete.MTCrewID.Visible (end) *@
@if (crewFormalEducationForAdminViewModeDelete.CreatedByUserID.Visible) { // crewFormalEducationForAdminViewModeDelete.CreatedByUserID.Visible (begin)
        <th class="@Html.Raw(crewFormalEducationForAdminViewModeDelete.CreatedByUserID.HeaderCellClass)"><span id="elh_CrewFormalEducationForAdminViewMode_CreatedByUserID" class="CrewFormalEducationForAdminViewMode_CreatedByUserID">@Html.Raw(crewFormalEducationForAdminViewModeDelete.CreatedByUserID.Caption)</span></th>
} @* crewFormalEducationForAdminViewModeDelete.CreatedByUserID.Visible (end) *@
@if (crewFormalEducationForAdminViewModeDelete.CreatedDateTime.Visible) { // crewFormalEducationForAdminViewModeDelete.CreatedDateTime.Visible (begin)
        <th class="@Html.Raw(crewFormalEducationForAdminViewModeDelete.CreatedDateTime.HeaderCellClass)"><span id="elh_CrewFormalEducationForAdminViewMode_CreatedDateTime" class="CrewFormalEducationForAdminViewMode_CreatedDateTime">@Html.Raw(crewFormalEducationForAdminViewModeDelete.CreatedDateTime.Caption)</span></th>
} @* crewFormalEducationForAdminViewModeDelete.CreatedDateTime.Visible (end) *@
@if (crewFormalEducationForAdminViewModeDelete.LastUpdatedByUserID.Visible) { // crewFormalEducationForAdminViewModeDelete.LastUpdatedByUserID.Visible (begin)
        <th class="@Html.Raw(crewFormalEducationForAdminViewModeDelete.LastUpdatedByUserID.HeaderCellClass)"><span id="elh_CrewFormalEducationForAdminViewMode_LastUpdatedByUserID" class="CrewFormalEducationForAdminViewMode_LastUpdatedByUserID">@Html.Raw(crewFormalEducationForAdminViewModeDelete.LastUpdatedByUserID.Caption)</span></th>
} @* crewFormalEducationForAdminViewModeDelete.LastUpdatedByUserID.Visible (end) *@
@if (crewFormalEducationForAdminViewModeDelete.LastUpdatedDateTime.Visible) { // crewFormalEducationForAdminViewModeDelete.LastUpdatedDateTime.Visible (begin)
        <th class="@Html.Raw(crewFormalEducationForAdminViewModeDelete.LastUpdatedDateTime.HeaderCellClass)"><span id="elh_CrewFormalEducationForAdminViewMode_LastUpdatedDateTime" class="CrewFormalEducationForAdminViewMode_LastUpdatedDateTime">@Html.Raw(crewFormalEducationForAdminViewModeDelete.LastUpdatedDateTime.Caption)</span></th>
} @* crewFormalEducationForAdminViewModeDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ crewFormalEducationForAdminViewModeDelete.RecordCount = 0; }
@while (crewFormalEducationForAdminViewModeDelete.Recordset != null && await crewFormalEducationForAdminViewModeDelete.Recordset.ReadAsync()) { // DN
    crewFormalEducationForAdminViewModeDelete.RecordCount++;
    crewFormalEducationForAdminViewModeDelete.RowCount++;

    // Set row properties
    crewFormalEducationForAdminViewModeDelete.ResetAttributes();
    crewFormalEducationForAdminViewModeDelete.RowType = RowType.View; // View

    // Get the field contents
    await crewFormalEducationForAdminViewModeDelete.LoadRowValues(crewFormalEducationForAdminViewModeDelete.Recordset);

    // Render row
    await crewFormalEducationForAdminViewModeDelete.RenderRow();
    <tr @Html.Raw(crewFormalEducationForAdminViewModeDelete.RowAttributes)>
@if (crewFormalEducationForAdminViewModeDelete.EducationLevel.Visible) { // crewFormalEducationForAdminViewModeDelete.EducationLevel.Visible (begin)
        <td @Html.Raw(crewFormalEducationForAdminViewModeDelete.EducationLevel.CellAttributes)>
<span id="el@(crewFormalEducationForAdminViewModeDelete.RowCount)_CrewFormalEducationForAdminViewMode_EducationLevel" class="el_CrewFormalEducationForAdminViewMode_EducationLevel">
<span @Html.Raw(crewFormalEducationForAdminViewModeDelete.EducationLevel.ViewAttributes)>
@Html.Raw(crewFormalEducationForAdminViewModeDelete.EducationLevel.GetViewValue())</span>
</span></td>
} @* crewFormalEducationForAdminViewModeDelete.EducationLevel.Visible (end) *@
@if (crewFormalEducationForAdminViewModeDelete.SchoolName.Visible) { // crewFormalEducationForAdminViewModeDelete.SchoolName.Visible (begin)
        <td @Html.Raw(crewFormalEducationForAdminViewModeDelete.SchoolName.CellAttributes)>
<span id="el@(crewFormalEducationForAdminViewModeDelete.RowCount)_CrewFormalEducationForAdminViewMode_SchoolName" class="el_CrewFormalEducationForAdminViewMode_SchoolName">
<span @Html.Raw(crewFormalEducationForAdminViewModeDelete.SchoolName.ViewAttributes)>
@Html.Raw(crewFormalEducationForAdminViewModeDelete.SchoolName.GetViewValue())</span>
</span></td>
} @* crewFormalEducationForAdminViewModeDelete.SchoolName.Visible (end) *@
@if (crewFormalEducationForAdminViewModeDelete.City.Visible) { // crewFormalEducationForAdminViewModeDelete.City.Visible (begin)
        <td @Html.Raw(crewFormalEducationForAdminViewModeDelete.City.CellAttributes)>
<span id="el@(crewFormalEducationForAdminViewModeDelete.RowCount)_CrewFormalEducationForAdminViewMode_City" class="el_CrewFormalEducationForAdminViewMode_City">
<span @Html.Raw(crewFormalEducationForAdminViewModeDelete.City.ViewAttributes)>
@Html.Raw(crewFormalEducationForAdminViewModeDelete.City.GetViewValue())</span>
</span></td>
} @* crewFormalEducationForAdminViewModeDelete.City.Visible (end) *@
@if (crewFormalEducationForAdminViewModeDelete.Attachment.Visible) { // crewFormalEducationForAdminViewModeDelete.Attachment.Visible (begin)
        <td @Html.Raw(crewFormalEducationForAdminViewModeDelete.Attachment.CellAttributes)>
<span id="el@(crewFormalEducationForAdminViewModeDelete.RowCount)_CrewFormalEducationForAdminViewMode_Attachment" class="el_CrewFormalEducationForAdminViewMode_Attachment">
<span>
@Html.Raw(await GetFileViewTag((DbField)crewFormalEducationForAdminViewModeDelete.Attachment, ConvertToString(crewFormalEducationForAdminViewModeDelete.Attachment.GetViewValue()), false))
</span>
</span></td>
} @* crewFormalEducationForAdminViewModeDelete.Attachment.Visible (end) *@
@if (crewFormalEducationForAdminViewModeDelete.StartDate.Visible) { // crewFormalEducationForAdminViewModeDelete.StartDate.Visible (begin)
        <td @Html.Raw(crewFormalEducationForAdminViewModeDelete.StartDate.CellAttributes)>
<span id="el@(crewFormalEducationForAdminViewModeDelete.RowCount)_CrewFormalEducationForAdminViewMode_StartDate" class="el_CrewFormalEducationForAdminViewMode_StartDate">
<span @Html.Raw(crewFormalEducationForAdminViewModeDelete.StartDate.ViewAttributes)>
@Html.Raw(crewFormalEducationForAdminViewModeDelete.StartDate.GetViewValue())</span>
</span></td>
} @* crewFormalEducationForAdminViewModeDelete.StartDate.Visible (end) *@
@if (crewFormalEducationForAdminViewModeDelete.EndDate.Visible) { // crewFormalEducationForAdminViewModeDelete.EndDate.Visible (begin)
        <td @Html.Raw(crewFormalEducationForAdminViewModeDelete.EndDate.CellAttributes)>
<span id="el@(crewFormalEducationForAdminViewModeDelete.RowCount)_CrewFormalEducationForAdminViewMode_EndDate" class="el_CrewFormalEducationForAdminViewMode_EndDate">
<span @Html.Raw(crewFormalEducationForAdminViewModeDelete.EndDate.ViewAttributes)>
@Html.Raw(crewFormalEducationForAdminViewModeDelete.EndDate.GetViewValue())</span>
</span></td>
} @* crewFormalEducationForAdminViewModeDelete.EndDate.Visible (end) *@
@if (crewFormalEducationForAdminViewModeDelete.MTCrewID.Visible) { // crewFormalEducationForAdminViewModeDelete.MTCrewID.Visible (begin)
        <td @Html.Raw(crewFormalEducationForAdminViewModeDelete.MTCrewID.CellAttributes)>
<span id="el@(crewFormalEducationForAdminViewModeDelete.RowCount)_CrewFormalEducationForAdminViewMode_MTCrewID" class="el_CrewFormalEducationForAdminViewMode_MTCrewID">
<span @Html.Raw(crewFormalEducationForAdminViewModeDelete.MTCrewID.ViewAttributes)>
@Html.Raw(crewFormalEducationForAdminViewModeDelete.MTCrewID.GetViewValue())</span>
</span></td>
} @* crewFormalEducationForAdminViewModeDelete.MTCrewID.Visible (end) *@
@if (crewFormalEducationForAdminViewModeDelete.CreatedByUserID.Visible) { // crewFormalEducationForAdminViewModeDelete.CreatedByUserID.Visible (begin)
        <td @Html.Raw(crewFormalEducationForAdminViewModeDelete.CreatedByUserID.CellAttributes)>
<span id="el@(crewFormalEducationForAdminViewModeDelete.RowCount)_CrewFormalEducationForAdminViewMode_CreatedByUserID" class="el_CrewFormalEducationForAdminViewMode_CreatedByUserID">
<span @Html.Raw(crewFormalEducationForAdminViewModeDelete.CreatedByUserID.ViewAttributes)>
@Html.Raw(crewFormalEducationForAdminViewModeDelete.CreatedByUserID.GetViewValue())</span>
</span></td>
} @* crewFormalEducationForAdminViewModeDelete.CreatedByUserID.Visible (end) *@
@if (crewFormalEducationForAdminViewModeDelete.CreatedDateTime.Visible) { // crewFormalEducationForAdminViewModeDelete.CreatedDateTime.Visible (begin)
        <td @Html.Raw(crewFormalEducationForAdminViewModeDelete.CreatedDateTime.CellAttributes)>
<span id="el@(crewFormalEducationForAdminViewModeDelete.RowCount)_CrewFormalEducationForAdminViewMode_CreatedDateTime" class="el_CrewFormalEducationForAdminViewMode_CreatedDateTime">
<span @Html.Raw(crewFormalEducationForAdminViewModeDelete.CreatedDateTime.ViewAttributes)>
@Html.Raw(crewFormalEducationForAdminViewModeDelete.CreatedDateTime.GetViewValue())</span>
</span></td>
} @* crewFormalEducationForAdminViewModeDelete.CreatedDateTime.Visible (end) *@
@if (crewFormalEducationForAdminViewModeDelete.LastUpdatedByUserID.Visible) { // crewFormalEducationForAdminViewModeDelete.LastUpdatedByUserID.Visible (begin)
        <td @Html.Raw(crewFormalEducationForAdminViewModeDelete.LastUpdatedByUserID.CellAttributes)>
<span id="el@(crewFormalEducationForAdminViewModeDelete.RowCount)_CrewFormalEducationForAdminViewMode_LastUpdatedByUserID" class="el_CrewFormalEducationForAdminViewMode_LastUpdatedByUserID">
<span @Html.Raw(crewFormalEducationForAdminViewModeDelete.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(crewFormalEducationForAdminViewModeDelete.LastUpdatedByUserID.GetViewValue())</span>
</span></td>
} @* crewFormalEducationForAdminViewModeDelete.LastUpdatedByUserID.Visible (end) *@
@if (crewFormalEducationForAdminViewModeDelete.LastUpdatedDateTime.Visible) { // crewFormalEducationForAdminViewModeDelete.LastUpdatedDateTime.Visible (begin)
        <td @Html.Raw(crewFormalEducationForAdminViewModeDelete.LastUpdatedDateTime.CellAttributes)>
<span id="el@(crewFormalEducationForAdminViewModeDelete.RowCount)_CrewFormalEducationForAdminViewMode_LastUpdatedDateTime" class="el_CrewFormalEducationForAdminViewMode_LastUpdatedDateTime">
<span @Html.Raw(crewFormalEducationForAdminViewModeDelete.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(crewFormalEducationForAdminViewModeDelete.LastUpdatedDateTime.GetViewValue())</span>
</span></td>
} @* crewFormalEducationForAdminViewModeDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
}
@{ crewFormalEducationForAdminViewModeDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(crewFormalEducationForAdminViewModeDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@crewFormalEducationForAdminViewModeDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
