@{
    // View
    View = this;

    // Check action result
    if (crewMedicalCertificateForAdminViewModeDelete.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!crewMedicalCertificateForAdminViewModeDelete.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(crewMedicalCertificateForAdminViewModeDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { CrewMedicalCertificateForAdminViewMode: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fCrewMedicalCertificateForAdminViewModedelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fCrewMedicalCertificateForAdminViewModedelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@crewMedicalCertificateForAdminViewModeDelete.ShowPageHeader()
@crewMedicalCertificateForAdminViewModeDelete.ShowMessages()
<form name="fCrewMedicalCertificateForAdminViewModedelete" id="fCrewMedicalCertificateForAdminViewModedelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in crewMedicalCertificateForAdminViewModeDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(crewMedicalCertificateForAdminViewModeDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(crewMedicalCertificateForAdminViewModeDelete.TableContainerClass)" style="@(crewMedicalCertificateForAdminViewModeDelete.TableContainerStyle)">
<table class="@(crewMedicalCertificateForAdminViewModeDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (crewMedicalCertificateForAdminViewModeDelete.MTMedicalCertificateID.Visible) { // crewMedicalCertificateForAdminViewModeDelete.MTMedicalCertificateID.Visible (begin)
        <th class="@Html.Raw(crewMedicalCertificateForAdminViewModeDelete.MTMedicalCertificateID.HeaderCellClass)"><span id="elh_CrewMedicalCertificateForAdminViewMode_MTMedicalCertificateID" class="CrewMedicalCertificateForAdminViewMode_MTMedicalCertificateID">@Html.Raw(crewMedicalCertificateForAdminViewModeDelete.MTMedicalCertificateID.Caption)</span></th>
} @* crewMedicalCertificateForAdminViewModeDelete.MTMedicalCertificateID.Visible (end) *@
@if (crewMedicalCertificateForAdminViewModeDelete.Number.Visible) { // crewMedicalCertificateForAdminViewModeDelete.Number.Visible (begin)
        <th class="@Html.Raw(crewMedicalCertificateForAdminViewModeDelete.Number.HeaderCellClass)"><span id="elh_CrewMedicalCertificateForAdminViewMode_Number" class="CrewMedicalCertificateForAdminViewMode_Number">@Html.Raw(crewMedicalCertificateForAdminViewModeDelete.Number.Caption)</span></th>
} @* crewMedicalCertificateForAdminViewModeDelete.Number.Visible (end) *@
@if (crewMedicalCertificateForAdminViewModeDelete.PlaceOfIssue.Visible) { // crewMedicalCertificateForAdminViewModeDelete.PlaceOfIssue.Visible (begin)
        <th class="@Html.Raw(crewMedicalCertificateForAdminViewModeDelete.PlaceOfIssue.HeaderCellClass)"><span id="elh_CrewMedicalCertificateForAdminViewMode_PlaceOfIssue" class="CrewMedicalCertificateForAdminViewMode_PlaceOfIssue">@Html.Raw(crewMedicalCertificateForAdminViewModeDelete.PlaceOfIssue.Caption)</span></th>
} @* crewMedicalCertificateForAdminViewModeDelete.PlaceOfIssue.Visible (end) *@
@if (crewMedicalCertificateForAdminViewModeDelete.DateOfIssue.Visible) { // crewMedicalCertificateForAdminViewModeDelete.DateOfIssue.Visible (begin)
        <th class="@Html.Raw(crewMedicalCertificateForAdminViewModeDelete.DateOfIssue.HeaderCellClass)"><span id="elh_CrewMedicalCertificateForAdminViewMode_DateOfIssue" class="CrewMedicalCertificateForAdminViewMode_DateOfIssue">@Html.Raw(crewMedicalCertificateForAdminViewModeDelete.DateOfIssue.Caption)</span></th>
} @* crewMedicalCertificateForAdminViewModeDelete.DateOfIssue.Visible (end) *@
@if (crewMedicalCertificateForAdminViewModeDelete.ExpirationDate.Visible) { // crewMedicalCertificateForAdminViewModeDelete.ExpirationDate.Visible (begin)
        <th class="@Html.Raw(crewMedicalCertificateForAdminViewModeDelete.ExpirationDate.HeaderCellClass)"><span id="elh_CrewMedicalCertificateForAdminViewMode_ExpirationDate" class="CrewMedicalCertificateForAdminViewMode_ExpirationDate">@Html.Raw(crewMedicalCertificateForAdminViewModeDelete.ExpirationDate.Caption)</span></th>
} @* crewMedicalCertificateForAdminViewModeDelete.ExpirationDate.Visible (end) *@
@if (crewMedicalCertificateForAdminViewModeDelete.Attachment.Visible) { // crewMedicalCertificateForAdminViewModeDelete.Attachment.Visible (begin)
        <th class="@Html.Raw(crewMedicalCertificateForAdminViewModeDelete.Attachment.HeaderCellClass)"><span id="elh_CrewMedicalCertificateForAdminViewMode_Attachment" class="CrewMedicalCertificateForAdminViewMode_Attachment">@Html.Raw(crewMedicalCertificateForAdminViewModeDelete.Attachment.Caption)</span></th>
} @* crewMedicalCertificateForAdminViewModeDelete.Attachment.Visible (end) *@
@if (crewMedicalCertificateForAdminViewModeDelete.MTCrewID.Visible) { // crewMedicalCertificateForAdminViewModeDelete.MTCrewID.Visible (begin)
        <th class="@Html.Raw(crewMedicalCertificateForAdminViewModeDelete.MTCrewID.HeaderCellClass)"><span id="elh_CrewMedicalCertificateForAdminViewMode_MTCrewID" class="CrewMedicalCertificateForAdminViewMode_MTCrewID">@Html.Raw(crewMedicalCertificateForAdminViewModeDelete.MTCrewID.Caption)</span></th>
} @* crewMedicalCertificateForAdminViewModeDelete.MTCrewID.Visible (end) *@
@if (crewMedicalCertificateForAdminViewModeDelete.CreatedByUserID.Visible) { // crewMedicalCertificateForAdminViewModeDelete.CreatedByUserID.Visible (begin)
        <th class="@Html.Raw(crewMedicalCertificateForAdminViewModeDelete.CreatedByUserID.HeaderCellClass)"><span id="elh_CrewMedicalCertificateForAdminViewMode_CreatedByUserID" class="CrewMedicalCertificateForAdminViewMode_CreatedByUserID">@Html.Raw(crewMedicalCertificateForAdminViewModeDelete.CreatedByUserID.Caption)</span></th>
} @* crewMedicalCertificateForAdminViewModeDelete.CreatedByUserID.Visible (end) *@
@if (crewMedicalCertificateForAdminViewModeDelete.CreatedDateTime.Visible) { // crewMedicalCertificateForAdminViewModeDelete.CreatedDateTime.Visible (begin)
        <th class="@Html.Raw(crewMedicalCertificateForAdminViewModeDelete.CreatedDateTime.HeaderCellClass)"><span id="elh_CrewMedicalCertificateForAdminViewMode_CreatedDateTime" class="CrewMedicalCertificateForAdminViewMode_CreatedDateTime">@Html.Raw(crewMedicalCertificateForAdminViewModeDelete.CreatedDateTime.Caption)</span></th>
} @* crewMedicalCertificateForAdminViewModeDelete.CreatedDateTime.Visible (end) *@
@if (crewMedicalCertificateForAdminViewModeDelete.LastUpdatedByUserID.Visible) { // crewMedicalCertificateForAdminViewModeDelete.LastUpdatedByUserID.Visible (begin)
        <th class="@Html.Raw(crewMedicalCertificateForAdminViewModeDelete.LastUpdatedByUserID.HeaderCellClass)"><span id="elh_CrewMedicalCertificateForAdminViewMode_LastUpdatedByUserID" class="CrewMedicalCertificateForAdminViewMode_LastUpdatedByUserID">@Html.Raw(crewMedicalCertificateForAdminViewModeDelete.LastUpdatedByUserID.Caption)</span></th>
} @* crewMedicalCertificateForAdminViewModeDelete.LastUpdatedByUserID.Visible (end) *@
@if (crewMedicalCertificateForAdminViewModeDelete.LastUpdatedDateTime.Visible) { // crewMedicalCertificateForAdminViewModeDelete.LastUpdatedDateTime.Visible (begin)
        <th class="@Html.Raw(crewMedicalCertificateForAdminViewModeDelete.LastUpdatedDateTime.HeaderCellClass)"><span id="elh_CrewMedicalCertificateForAdminViewMode_LastUpdatedDateTime" class="CrewMedicalCertificateForAdminViewMode_LastUpdatedDateTime">@Html.Raw(crewMedicalCertificateForAdminViewModeDelete.LastUpdatedDateTime.Caption)</span></th>
} @* crewMedicalCertificateForAdminViewModeDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ crewMedicalCertificateForAdminViewModeDelete.RecordCount = 0; }
@while (crewMedicalCertificateForAdminViewModeDelete.Recordset != null && await crewMedicalCertificateForAdminViewModeDelete.Recordset.ReadAsync()) { // DN
    crewMedicalCertificateForAdminViewModeDelete.RecordCount++;
    crewMedicalCertificateForAdminViewModeDelete.RowCount++;

    // Set row properties
    crewMedicalCertificateForAdminViewModeDelete.ResetAttributes();
    crewMedicalCertificateForAdminViewModeDelete.RowType = RowType.View; // View

    // Get the field contents
    await crewMedicalCertificateForAdminViewModeDelete.LoadRowValues(crewMedicalCertificateForAdminViewModeDelete.Recordset);

    // Render row
    await crewMedicalCertificateForAdminViewModeDelete.RenderRow();
    <tr @Html.Raw(crewMedicalCertificateForAdminViewModeDelete.RowAttributes)>
@if (crewMedicalCertificateForAdminViewModeDelete.MTMedicalCertificateID.Visible) { // crewMedicalCertificateForAdminViewModeDelete.MTMedicalCertificateID.Visible (begin)
        <td @Html.Raw(crewMedicalCertificateForAdminViewModeDelete.MTMedicalCertificateID.CellAttributes)>
<span id="el@(crewMedicalCertificateForAdminViewModeDelete.RowCount)_CrewMedicalCertificateForAdminViewMode_MTMedicalCertificateID" class="el_CrewMedicalCertificateForAdminViewMode_MTMedicalCertificateID">
<span @Html.Raw(crewMedicalCertificateForAdminViewModeDelete.MTMedicalCertificateID.ViewAttributes)>
@Html.Raw(crewMedicalCertificateForAdminViewModeDelete.MTMedicalCertificateID.GetViewValue())</span>
</span></td>
} @* crewMedicalCertificateForAdminViewModeDelete.MTMedicalCertificateID.Visible (end) *@
@if (crewMedicalCertificateForAdminViewModeDelete.Number.Visible) { // crewMedicalCertificateForAdminViewModeDelete.Number.Visible (begin)
        <td @Html.Raw(crewMedicalCertificateForAdminViewModeDelete.Number.CellAttributes)>
<span id="el@(crewMedicalCertificateForAdminViewModeDelete.RowCount)_CrewMedicalCertificateForAdminViewMode_Number" class="el_CrewMedicalCertificateForAdminViewMode_Number">
<span @Html.Raw(crewMedicalCertificateForAdminViewModeDelete.Number.ViewAttributes)>
@Html.Raw(crewMedicalCertificateForAdminViewModeDelete.Number.GetViewValue())</span>
</span></td>
} @* crewMedicalCertificateForAdminViewModeDelete.Number.Visible (end) *@
@if (crewMedicalCertificateForAdminViewModeDelete.PlaceOfIssue.Visible) { // crewMedicalCertificateForAdminViewModeDelete.PlaceOfIssue.Visible (begin)
        <td @Html.Raw(crewMedicalCertificateForAdminViewModeDelete.PlaceOfIssue.CellAttributes)>
<span id="el@(crewMedicalCertificateForAdminViewModeDelete.RowCount)_CrewMedicalCertificateForAdminViewMode_PlaceOfIssue" class="el_CrewMedicalCertificateForAdminViewMode_PlaceOfIssue">
<span @Html.Raw(crewMedicalCertificateForAdminViewModeDelete.PlaceOfIssue.ViewAttributes)>
@Html.Raw(crewMedicalCertificateForAdminViewModeDelete.PlaceOfIssue.GetViewValue())</span>
</span></td>
} @* crewMedicalCertificateForAdminViewModeDelete.PlaceOfIssue.Visible (end) *@
@if (crewMedicalCertificateForAdminViewModeDelete.DateOfIssue.Visible) { // crewMedicalCertificateForAdminViewModeDelete.DateOfIssue.Visible (begin)
        <td @Html.Raw(crewMedicalCertificateForAdminViewModeDelete.DateOfIssue.CellAttributes)>
<span id="el@(crewMedicalCertificateForAdminViewModeDelete.RowCount)_CrewMedicalCertificateForAdminViewMode_DateOfIssue" class="el_CrewMedicalCertificateForAdminViewMode_DateOfIssue">
<span @Html.Raw(crewMedicalCertificateForAdminViewModeDelete.DateOfIssue.ViewAttributes)>
@Html.Raw(crewMedicalCertificateForAdminViewModeDelete.DateOfIssue.GetViewValue())</span>
</span></td>
} @* crewMedicalCertificateForAdminViewModeDelete.DateOfIssue.Visible (end) *@
@if (crewMedicalCertificateForAdminViewModeDelete.ExpirationDate.Visible) { // crewMedicalCertificateForAdminViewModeDelete.ExpirationDate.Visible (begin)
        <td @Html.Raw(crewMedicalCertificateForAdminViewModeDelete.ExpirationDate.CellAttributes)>
<span id="el@(crewMedicalCertificateForAdminViewModeDelete.RowCount)_CrewMedicalCertificateForAdminViewMode_ExpirationDate" class="el_CrewMedicalCertificateForAdminViewMode_ExpirationDate">
<span @Html.Raw(crewMedicalCertificateForAdminViewModeDelete.ExpirationDate.ViewAttributes)>
@Html.Raw(crewMedicalCertificateForAdminViewModeDelete.ExpirationDate.GetViewValue())</span>
</span></td>
} @* crewMedicalCertificateForAdminViewModeDelete.ExpirationDate.Visible (end) *@
@if (crewMedicalCertificateForAdminViewModeDelete.Attachment.Visible) { // crewMedicalCertificateForAdminViewModeDelete.Attachment.Visible (begin)
        <td @Html.Raw(crewMedicalCertificateForAdminViewModeDelete.Attachment.CellAttributes)>
<span id="el@(crewMedicalCertificateForAdminViewModeDelete.RowCount)_CrewMedicalCertificateForAdminViewMode_Attachment" class="el_CrewMedicalCertificateForAdminViewMode_Attachment">
<span>
@Html.Raw(await GetFileViewTag((DbField)crewMedicalCertificateForAdminViewModeDelete.Attachment, ConvertToString(crewMedicalCertificateForAdminViewModeDelete.Attachment.GetViewValue()), false))
</span>
</span></td>
} @* crewMedicalCertificateForAdminViewModeDelete.Attachment.Visible (end) *@
@if (crewMedicalCertificateForAdminViewModeDelete.MTCrewID.Visible) { // crewMedicalCertificateForAdminViewModeDelete.MTCrewID.Visible (begin)
        <td @Html.Raw(crewMedicalCertificateForAdminViewModeDelete.MTCrewID.CellAttributes)>
<span id="el@(crewMedicalCertificateForAdminViewModeDelete.RowCount)_CrewMedicalCertificateForAdminViewMode_MTCrewID" class="el_CrewMedicalCertificateForAdminViewMode_MTCrewID">
<span @Html.Raw(crewMedicalCertificateForAdminViewModeDelete.MTCrewID.ViewAttributes)>
@Html.Raw(crewMedicalCertificateForAdminViewModeDelete.MTCrewID.GetViewValue())</span>
</span></td>
} @* crewMedicalCertificateForAdminViewModeDelete.MTCrewID.Visible (end) *@
@if (crewMedicalCertificateForAdminViewModeDelete.CreatedByUserID.Visible) { // crewMedicalCertificateForAdminViewModeDelete.CreatedByUserID.Visible (begin)
        <td @Html.Raw(crewMedicalCertificateForAdminViewModeDelete.CreatedByUserID.CellAttributes)>
<span id="el@(crewMedicalCertificateForAdminViewModeDelete.RowCount)_CrewMedicalCertificateForAdminViewMode_CreatedByUserID" class="el_CrewMedicalCertificateForAdminViewMode_CreatedByUserID">
<span @Html.Raw(crewMedicalCertificateForAdminViewModeDelete.CreatedByUserID.ViewAttributes)>
@Html.Raw(crewMedicalCertificateForAdminViewModeDelete.CreatedByUserID.GetViewValue())</span>
</span></td>
} @* crewMedicalCertificateForAdminViewModeDelete.CreatedByUserID.Visible (end) *@
@if (crewMedicalCertificateForAdminViewModeDelete.CreatedDateTime.Visible) { // crewMedicalCertificateForAdminViewModeDelete.CreatedDateTime.Visible (begin)
        <td @Html.Raw(crewMedicalCertificateForAdminViewModeDelete.CreatedDateTime.CellAttributes)>
<span id="el@(crewMedicalCertificateForAdminViewModeDelete.RowCount)_CrewMedicalCertificateForAdminViewMode_CreatedDateTime" class="el_CrewMedicalCertificateForAdminViewMode_CreatedDateTime">
<span @Html.Raw(crewMedicalCertificateForAdminViewModeDelete.CreatedDateTime.ViewAttributes)>
@Html.Raw(crewMedicalCertificateForAdminViewModeDelete.CreatedDateTime.GetViewValue())</span>
</span></td>
} @* crewMedicalCertificateForAdminViewModeDelete.CreatedDateTime.Visible (end) *@
@if (crewMedicalCertificateForAdminViewModeDelete.LastUpdatedByUserID.Visible) { // crewMedicalCertificateForAdminViewModeDelete.LastUpdatedByUserID.Visible (begin)
        <td @Html.Raw(crewMedicalCertificateForAdminViewModeDelete.LastUpdatedByUserID.CellAttributes)>
<span id="el@(crewMedicalCertificateForAdminViewModeDelete.RowCount)_CrewMedicalCertificateForAdminViewMode_LastUpdatedByUserID" class="el_CrewMedicalCertificateForAdminViewMode_LastUpdatedByUserID">
<span @Html.Raw(crewMedicalCertificateForAdminViewModeDelete.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(crewMedicalCertificateForAdminViewModeDelete.LastUpdatedByUserID.GetViewValue())</span>
</span></td>
} @* crewMedicalCertificateForAdminViewModeDelete.LastUpdatedByUserID.Visible (end) *@
@if (crewMedicalCertificateForAdminViewModeDelete.LastUpdatedDateTime.Visible) { // crewMedicalCertificateForAdminViewModeDelete.LastUpdatedDateTime.Visible (begin)
        <td @Html.Raw(crewMedicalCertificateForAdminViewModeDelete.LastUpdatedDateTime.CellAttributes)>
<span id="el@(crewMedicalCertificateForAdminViewModeDelete.RowCount)_CrewMedicalCertificateForAdminViewMode_LastUpdatedDateTime" class="el_CrewMedicalCertificateForAdminViewMode_LastUpdatedDateTime">
<span @Html.Raw(crewMedicalCertificateForAdminViewModeDelete.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(crewMedicalCertificateForAdminViewModeDelete.LastUpdatedDateTime.GetViewValue())</span>
</span></td>
} @* crewMedicalCertificateForAdminViewModeDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
}
@{ crewMedicalCertificateForAdminViewModeDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(crewMedicalCertificateForAdminViewModeDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@crewMedicalCertificateForAdminViewModeDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
