@{
    // View
    View = this;

    // Check action result
    if (crewFormalEducationForAdminViewModeAdd.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!crewFormalEducationForAdminViewModeAdd.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(crewFormalEducationForAdminViewModeAdd.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { CrewFormalEducationForAdminViewMode: currentTable } });
var currentPageID = ew.PAGE_ID = "add";
var currentForm;
var fCrewFormalEducationForAdminViewModeadd;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fCrewFormalEducationForAdminViewModeadd")
        .setPageId("add")

        // Add fields
        .setFields([

            ["EducationLevel", [fields.EducationLevel.visible && fields.EducationLevel.required ? ew.Validators.required(fields.EducationLevel.caption) : null], fields.EducationLevel.isInvalid],
            ["SchoolName", [fields.SchoolName.visible && fields.SchoolName.required ? ew.Validators.required(fields.SchoolName.caption) : null], fields.SchoolName.isInvalid],
            ["City", [fields.City.visible && fields.City.required ? ew.Validators.required(fields.City.caption) : null], fields.City.isInvalid],
            ["Attachment", [fields.Attachment.visible && fields.Attachment.required ? ew.Validators.fileRequired(fields.Attachment.caption) : null], fields.Attachment.isInvalid],
            ["StartDate", [fields.StartDate.visible && fields.StartDate.required ? ew.Validators.required(fields.StartDate.caption) : null], fields.StartDate.isInvalid],
            ["EndDate", [fields.EndDate.visible && fields.EndDate.required ? ew.Validators.required(fields.EndDate.caption) : null], fields.EndDate.isInvalid],
            ["MTCrewID", [fields.MTCrewID.visible && fields.MTCrewID.required ? ew.Validators.required(fields.MTCrewID.caption) : null], fields.MTCrewID.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "EducationLevel": @Html.Raw(crewFormalEducationForAdminViewModeAdd.EducationLevel.ToClientList(crewFormalEducationForAdminViewModeAdd)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@crewFormalEducationForAdminViewModeAdd.ShowPageHeader()
@crewFormalEducationForAdminViewModeAdd.ShowMessages()
<form name="fCrewFormalEducationForAdminViewModeadd" id="fCrewFormalEducationForAdminViewModeadd" class="@(crewFormalEducationForAdminViewModeAdd.FormClassName)" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="insert">
<input type="hidden" name="modal" value="@ConvertToInt(crewFormalEducationForAdminViewModeAdd.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(crewFormalEducationForAdminViewModeAdd.OldKeyName)" value="@Html.Raw(crewFormalEducationForAdminViewModeAdd.OldKey)">
<div class="ew-add-div d-none"><!-- page* -->
@if (crewFormalEducationForAdminViewModeAdd.EducationLevel.Visible) { // crewFormalEducationForAdminViewModeAdd.EducationLevel.Visible (begin)
    <div id="r_EducationLevel" @Html.Raw(crewFormalEducationForAdminViewModeAdd.EducationLevel.RowAttributes)>
        <label id="elh_CrewFormalEducationForAdminViewMode_EducationLevel" for="x_EducationLevel" class="@(crewFormalEducationForAdminViewModeAdd.LeftColumnClass)"><template id="tpc_CrewFormalEducationForAdminViewMode_EducationLevel">@Html.Raw(crewFormalEducationForAdminViewModeAdd.EducationLevel.Caption)@Html.Raw(crewFormalEducationForAdminViewModeAdd.EducationLevel.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewFormalEducationForAdminViewModeAdd.RightColumnClass)"><div @Html.Raw(crewFormalEducationForAdminViewModeAdd.EducationLevel.CellAttributes)>
<template id="tpx_CrewFormalEducationForAdminViewMode_EducationLevel"><span id="el_CrewFormalEducationForAdminViewMode_EducationLevel">
    <select
        id="x_EducationLevel"
        name="x_EducationLevel"
        class="form-select ew-select@(crewFormalEducationForAdminViewModeAdd.EducationLevel.IsInvalidClass)"
        data-select2-id="fCrewFormalEducationForAdminViewModeadd_x_EducationLevel"
        data-table="CrewFormalEducationForAdminViewMode"
        data-field="x_EducationLevel"
        data-value-separator="@(crewFormalEducationForAdminViewModeAdd.EducationLevel.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(crewFormalEducationForAdminViewModeAdd.EducationLevel.PlaceHolder))"
        @Html.Raw(crewFormalEducationForAdminViewModeAdd.EducationLevel.EditAttributes)>
        @(crewFormalEducationForAdminViewModeAdd.EducationLevel.SelectOptionListHtml("x_EducationLevel"))
    </select>
    @Html.Raw(crewFormalEducationForAdminViewModeAdd.EducationLevel.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(crewFormalEducationForAdminViewModeAdd.EducationLevel.GetErrorMessage())</div>
<script>
loadjs.ready("fCrewFormalEducationForAdminViewModeadd", function() {
    var options = { name: "x_EducationLevel", selectId: "fCrewFormalEducationForAdminViewModeadd_x_EducationLevel" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fCrewFormalEducationForAdminViewModeadd.lists.EducationLevel?.lookupOptions.length) {
        options.data = { id: "x_EducationLevel", form: "fCrewFormalEducationForAdminViewModeadd" };
    } else {
        options.ajax = { id: "x_EducationLevel", form: "fCrewFormalEducationForAdminViewModeadd", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumResultsForSearch = Infinity;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.CrewFormalEducationForAdminViewMode.fields.EducationLevel.selectOptions);
    ew.createSelect(options);
});
</script>
</span></template>
</div></div>
    </div>
} @* crewFormalEducationForAdminViewModeAdd.EducationLevel.Visible (end) *@
@if (crewFormalEducationForAdminViewModeAdd.SchoolName.Visible) { // crewFormalEducationForAdminViewModeAdd.SchoolName.Visible (begin)
    <div id="r_SchoolName" @Html.Raw(crewFormalEducationForAdminViewModeAdd.SchoolName.RowAttributes)>
        <label id="elh_CrewFormalEducationForAdminViewMode_SchoolName" for="x_SchoolName" class="@(crewFormalEducationForAdminViewModeAdd.LeftColumnClass)"><template id="tpc_CrewFormalEducationForAdminViewMode_SchoolName">@Html.Raw(crewFormalEducationForAdminViewModeAdd.SchoolName.Caption)@Html.Raw(crewFormalEducationForAdminViewModeAdd.SchoolName.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewFormalEducationForAdminViewModeAdd.RightColumnClass)"><div @Html.Raw(crewFormalEducationForAdminViewModeAdd.SchoolName.CellAttributes)>
<template id="tpx_CrewFormalEducationForAdminViewMode_SchoolName"><span id="el_CrewFormalEducationForAdminViewMode_SchoolName">
<input type="@(crewFormalEducationForAdminViewModeAdd.SchoolName.InputTextType)" name="x_SchoolName" id="x_SchoolName" data-table="CrewFormalEducationForAdminViewMode" data-field="x_SchoolName" value="@Html.Raw(crewFormalEducationForAdminViewModeAdd.SchoolName.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(crewFormalEducationForAdminViewModeAdd.SchoolName.PlaceHolder))" data-format-pattern="@(crewFormalEducationForAdminViewModeAdd.SchoolName.FormatPattern)"@Html.Raw(crewFormalEducationForAdminViewModeAdd.SchoolName.EditAttributes) aria-describedby="x_SchoolName_help">
@Html.Raw(crewFormalEducationForAdminViewModeAdd.SchoolName.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewFormalEducationForAdminViewModeAdd.SchoolName.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* crewFormalEducationForAdminViewModeAdd.SchoolName.Visible (end) *@
@if (crewFormalEducationForAdminViewModeAdd.City.Visible) { // crewFormalEducationForAdminViewModeAdd.City.Visible (begin)
    <div id="r_City" @Html.Raw(crewFormalEducationForAdminViewModeAdd.City.RowAttributes)>
        <label id="elh_CrewFormalEducationForAdminViewMode_City" for="x_City" class="@(crewFormalEducationForAdminViewModeAdd.LeftColumnClass)"><template id="tpc_CrewFormalEducationForAdminViewMode_City">@Html.Raw(crewFormalEducationForAdminViewModeAdd.City.Caption)@Html.Raw(crewFormalEducationForAdminViewModeAdd.City.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewFormalEducationForAdminViewModeAdd.RightColumnClass)"><div @Html.Raw(crewFormalEducationForAdminViewModeAdd.City.CellAttributes)>
<template id="tpx_CrewFormalEducationForAdminViewMode_City"><span id="el_CrewFormalEducationForAdminViewMode_City">
<input type="@(crewFormalEducationForAdminViewModeAdd.City.InputTextType)" name="x_City" id="x_City" data-table="CrewFormalEducationForAdminViewMode" data-field="x_City" value="@Html.Raw(crewFormalEducationForAdminViewModeAdd.City.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(crewFormalEducationForAdminViewModeAdd.City.PlaceHolder))" data-format-pattern="@(crewFormalEducationForAdminViewModeAdd.City.FormatPattern)"@Html.Raw(crewFormalEducationForAdminViewModeAdd.City.EditAttributes) aria-describedby="x_City_help">
@Html.Raw(crewFormalEducationForAdminViewModeAdd.City.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewFormalEducationForAdminViewModeAdd.City.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* crewFormalEducationForAdminViewModeAdd.City.Visible (end) *@
@if (crewFormalEducationForAdminViewModeAdd.Attachment.Visible) { // crewFormalEducationForAdminViewModeAdd.Attachment.Visible (begin)
    <div id="r_Attachment" @Html.Raw(crewFormalEducationForAdminViewModeAdd.Attachment.RowAttributes)>
        <label id="elh_CrewFormalEducationForAdminViewMode_Attachment" class="@(crewFormalEducationForAdminViewModeAdd.LeftColumnClass)"><template id="tpc_CrewFormalEducationForAdminViewMode_Attachment">@Html.Raw(crewFormalEducationForAdminViewModeAdd.Attachment.Caption)@Html.Raw(crewFormalEducationForAdminViewModeAdd.Attachment.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewFormalEducationForAdminViewModeAdd.RightColumnClass)"><div @Html.Raw(crewFormalEducationForAdminViewModeAdd.Attachment.CellAttributes)>
<template id="tpx_CrewFormalEducationForAdminViewMode_Attachment"><span id="el_CrewFormalEducationForAdminViewMode_Attachment">
<div id="fd_x_Attachment" class="fileinput-button ew-file-drop-zone">
    <input
        type="file"
        id="x_Attachment"
        name="x_Attachment"
        class="form-control ew-file-input"
        title="@(crewFormalEducationForAdminViewModeAdd.Attachment.Title)"
        lang="@(CurrentLanguageID)"
        data-table="CrewFormalEducationForAdminViewMode"
        data-field="x_Attachment"
        data-size="150"
        data-accept-file-types="@(crewFormalEducationForAdminViewModeAdd.Attachment.AcceptFileTypes)"
        data-max-file-size="@(crewFormalEducationForAdminViewModeAdd.Attachment.UploadMaxFileSize)"
        data-max-number-of-files="null"
        data-disable-image-crop="@(crewFormalEducationForAdminViewModeAdd.Attachment.ImageCropper ? 0 : 1)"
        aria-describedby="x_Attachment_help"
        @Html.Raw((crewFormalEducationForAdminViewModeAdd.Attachment.ReadOnly || crewFormalEducationForAdminViewModeAdd.Attachment.Disabled) ? " disabled" : "")
        @Html.Raw(crewFormalEducationForAdminViewModeAdd.Attachment.EditAttributes)
    >
    <div class="text-muted ew-file-text">@Html.Raw(Language.Phrase("ChooseFile"))</div>
</div>
@Html.Raw(crewFormalEducationForAdminViewModeAdd.Attachment.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewFormalEducationForAdminViewModeAdd.Attachment.GetErrorMessage())</div>
<input type="hidden" name="fn_x_Attachment" id= "fn_x_Attachment" value="@(crewFormalEducationForAdminViewModeAdd.Attachment.Upload.FileName)">
<input type="hidden" name="fa_x_Attachment" id= "fa_x_Attachment" value="0">
<table id="ft_x_Attachment" class="table table-sm float-start ew-upload-table"><tbody class="files"></tbody></table>
</span></template>
</div></div>
    </div>
} @* crewFormalEducationForAdminViewModeAdd.Attachment.Visible (end) *@
@if (crewFormalEducationForAdminViewModeAdd.StartDate.Visible) { // crewFormalEducationForAdminViewModeAdd.StartDate.Visible (begin)
    <div id="r_StartDate" @Html.Raw(crewFormalEducationForAdminViewModeAdd.StartDate.RowAttributes)>
        <label id="elh_CrewFormalEducationForAdminViewMode_StartDate" for="x_StartDate" class="@(crewFormalEducationForAdminViewModeAdd.LeftColumnClass)"><template id="tpc_CrewFormalEducationForAdminViewMode_StartDate">@Html.Raw(crewFormalEducationForAdminViewModeAdd.StartDate.Caption)@Html.Raw(crewFormalEducationForAdminViewModeAdd.StartDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewFormalEducationForAdminViewModeAdd.RightColumnClass)"><div @Html.Raw(crewFormalEducationForAdminViewModeAdd.StartDate.CellAttributes)>
<template id="tpx_CrewFormalEducationForAdminViewMode_StartDate"><span id="el_CrewFormalEducationForAdminViewMode_StartDate">
<input type="@(crewFormalEducationForAdminViewModeAdd.StartDate.InputTextType)" name="x_StartDate" id="x_StartDate" data-table="CrewFormalEducationForAdminViewMode" data-field="x_StartDate" value="@Html.Raw(crewFormalEducationForAdminViewModeAdd.StartDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(crewFormalEducationForAdminViewModeAdd.StartDate.PlaceHolder))" data-format-pattern="@(crewFormalEducationForAdminViewModeAdd.StartDate.FormatPattern)"@Html.Raw(crewFormalEducationForAdminViewModeAdd.StartDate.EditAttributes) aria-describedby="x_StartDate_help">
@Html.Raw(crewFormalEducationForAdminViewModeAdd.StartDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewFormalEducationForAdminViewModeAdd.StartDate.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* crewFormalEducationForAdminViewModeAdd.StartDate.Visible (end) *@
@if (crewFormalEducationForAdminViewModeAdd.EndDate.Visible) { // crewFormalEducationForAdminViewModeAdd.EndDate.Visible (begin)
    <div id="r_EndDate" @Html.Raw(crewFormalEducationForAdminViewModeAdd.EndDate.RowAttributes)>
        <label id="elh_CrewFormalEducationForAdminViewMode_EndDate" for="x_EndDate" class="@(crewFormalEducationForAdminViewModeAdd.LeftColumnClass)"><template id="tpc_CrewFormalEducationForAdminViewMode_EndDate">@Html.Raw(crewFormalEducationForAdminViewModeAdd.EndDate.Caption)@Html.Raw(crewFormalEducationForAdminViewModeAdd.EndDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewFormalEducationForAdminViewModeAdd.RightColumnClass)"><div @Html.Raw(crewFormalEducationForAdminViewModeAdd.EndDate.CellAttributes)>
<template id="tpx_CrewFormalEducationForAdminViewMode_EndDate"><span id="el_CrewFormalEducationForAdminViewMode_EndDate">
<input type="@(crewFormalEducationForAdminViewModeAdd.EndDate.InputTextType)" name="x_EndDate" id="x_EndDate" data-table="CrewFormalEducationForAdminViewMode" data-field="x_EndDate" value="@Html.Raw(crewFormalEducationForAdminViewModeAdd.EndDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(crewFormalEducationForAdminViewModeAdd.EndDate.PlaceHolder))" data-format-pattern="@(crewFormalEducationForAdminViewModeAdd.EndDate.FormatPattern)"@Html.Raw(crewFormalEducationForAdminViewModeAdd.EndDate.EditAttributes) aria-describedby="x_EndDate_help">
@Html.Raw(crewFormalEducationForAdminViewModeAdd.EndDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewFormalEducationForAdminViewModeAdd.EndDate.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* crewFormalEducationForAdminViewModeAdd.EndDate.Visible (end) *@
@if (crewFormalEducationForAdminViewModeAdd.MTCrewID.Visible) { // crewFormalEducationForAdminViewModeAdd.MTCrewID.Visible (begin)
    <div id="r_MTCrewID" @Html.Raw(crewFormalEducationForAdminViewModeAdd.MTCrewID.RowAttributes)>
        <label id="elh_CrewFormalEducationForAdminViewMode_MTCrewID" for="x_MTCrewID" class="@(crewFormalEducationForAdminViewModeAdd.LeftColumnClass)"><template id="tpc_CrewFormalEducationForAdminViewMode_MTCrewID">@Html.Raw(crewFormalEducationForAdminViewModeAdd.MTCrewID.Caption)@Html.Raw(crewFormalEducationForAdminViewModeAdd.MTCrewID.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewFormalEducationForAdminViewModeAdd.RightColumnClass)"><div @Html.Raw(crewFormalEducationForAdminViewModeAdd.MTCrewID.CellAttributes)>
<template id="tpx_CrewFormalEducationForAdminViewMode_MTCrewID"><span id="el_CrewFormalEducationForAdminViewMode_MTCrewID">
<input type="@(crewFormalEducationForAdminViewModeAdd.MTCrewID.InputTextType)" name="x_MTCrewID" id="x_MTCrewID" data-table="CrewFormalEducationForAdminViewMode" data-field="x_MTCrewID" value="@Html.Raw(crewFormalEducationForAdminViewModeAdd.MTCrewID.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(crewFormalEducationForAdminViewModeAdd.MTCrewID.PlaceHolder))" data-format-pattern="@(crewFormalEducationForAdminViewModeAdd.MTCrewID.FormatPattern)"@Html.Raw(crewFormalEducationForAdminViewModeAdd.MTCrewID.EditAttributes) aria-describedby="x_MTCrewID_help">
@Html.Raw(crewFormalEducationForAdminViewModeAdd.MTCrewID.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewFormalEducationForAdminViewModeAdd.MTCrewID.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* crewFormalEducationForAdminViewModeAdd.MTCrewID.Visible (end) *@
</div><!-- /page* -->
<div id="tpd_CrewFormalEducationForAdminViewModeadd" class="ew-custom-template"></div>
<template id="tpm_CrewFormalEducationForAdminViewModeadd">
<div id="ct_crewFormalEducationForAdminViewModeAdd">    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewPersonalDataForAdminViewModeView")">
                @(CurrentLanguage == "en-US" ? "PERSONAL DATA" : "DATA PERSONAL")
            </a>     
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewDocumentForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "DOCUMENTS" : "DOKUMEN")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewBankAccountForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "BANK ACCOUNT" : "REKENING BANK")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewFamilyForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "FAMILY" : "KELUARGA")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewFormalEducationForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "FORMAL EDUCATION" : "PENDIDIKAN FORMAL")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewMedicalCertificateForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "MEDICAL CERTIFICATE / TEST" : "SERTIFIKAT / TES MEDIS")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewCertificateForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "CERTIFICATES AND QUALIFICATIONS" : "SERTIFIKAT DAN KUALIFIKASI")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewExperienceForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "SEA EXPERIENCE" : "PENGALAMAN BERLAYAR")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewAppraisalForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "APPRAISALS" : "PENILAIAN")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewMedicalHistoryForAdminViewModeList")">
                @(CurrentLanguage == "en-US" ? "MEDICAL HISTORY" : "RIWAYAT MEDIS")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewGeneralDataForAdminViewModeView")">
                @(CurrentLanguage == "en-US" ? "GENERAL" : "UMUM")
            </a>
        </li>
    </ul> 
    <div class="mb-2 row">
        <div class="col-sm-6">
            <div id="r_EducationLevel" class="mb-2 row">
                <label for="x_EducationLevel" class="col-form-label">@Html.Raw(crewFormalEducationForAdminViewModeAdd.EducationLevel.Caption)<i class="fa-solid fa-asterisk ew-required"></i></label>
                <div><slot class="ew-slot" name="tpx_CrewFormalEducationForAdminViewMode_EducationLevel"></slot></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="r_SchoolName" class="mb-2 row">
                <label for="x_SchoolName" class="col-form-label">@Html.Raw(crewFormalEducationForAdminViewModeAdd.SchoolName.Caption)<i class="fa-solid fa-asterisk ew-required"></i></label>
                <div><slot class="ew-slot" name="tpx_CrewFormalEducationForAdminViewMode_SchoolName"></slot></div>
            </div>
        </div>
    </div>
    <div class="mb-2 row">
        <div class="col-sm-6">
            <div id="r_City" class="mb-2 row">
                <label for="x_City" class="col-form-label">@Html.Raw(crewFormalEducationForAdminViewModeAdd.City.Caption)<i class="fa-solid fa-asterisk ew-required"></i></label>
                <div><slot class="ew-slot" name="tpx_CrewFormalEducationForAdminViewMode_City"></slot></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="r_Attachment" class="mb-2 row">
                <label for="x_Attachment" class="col-form-label">
                    @Html.Raw(crewFormalEducationForAdminViewModeAdd.Attachment.Caption) @(CurrentLanguage == "en-US" ? "(jpg/jpeg/png/pdf max 2 MB)" : "(jpg/jpeg/png/pdf maks 2 MB)")<i class="fa-solid fa-asterisk ew-required"></i>
                </label>
                <div><slot class="ew-slot" name="tpx_CrewFormalEducationForAdminViewMode_Attachment"></slot></div>
            </div>
        </div>
    </div>
     <div class="mb-2 row">
        <div class="col-sm-6">
            <div id="r_StartDate" class="mb-2 row">
                <label for="x_StartDate" class="col-form-label">@Html.Raw(crewFormalEducationForAdminViewModeAdd.StartDate.Caption)<i class="fa-solid fa-asterisk ew-required"></i></label>
                <div><slot class="ew-slot" name="tpx_CrewFormalEducationForAdminViewMode_StartDate"></slot></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="r_EndDate" class="mb-2 row">
                <label for="x_EndDate" class="col-form-label">@Html.Raw(crewFormalEducationForAdminViewModeAdd.EndDate.Caption)<i class="fa-solid fa-asterisk ew-required"></i></label>
                <div><slot class="ew-slot" name="tpx_CrewFormalEducationForAdminViewMode_EndDate"></slot></div>
            </div>
        </div>
    </div>
    <div class="row"><!-- buttons .row -->
        <div class="d-flex mb-2"><!-- buttons offset -->
            <button class="btn btn-primary ew-btn ms-auto primary-black-clr gray-bg" id="btn-add-entry">
                @(CurrentLanguage == "en-US" ? "Add Entry" : "Tambah")
            </button>
        </div><!-- /buttons offset -->
    </div>
    <div id="r_MTCrewID" class="mb-3 row">
        <label for="x_MTCrewID" class="col-sm-2 col-form-label">@Html.Raw(crewFormalEducationForAdminViewModeAdd.MTCrewID.Caption)</label>
        <div class="col-sm-10"><slot class="ew-slot" name="tpx_CrewFormalEducationForAdminViewMode_MTCrewID"></slot></div>
    </div>
    <div id="proceed-modal-dialog" class="modal" aria-hidden="true" data-bs-backdrop="static" tabindex="-1" aria-labelledby="proceed-modal-dialog-title" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="proceed-modal-dialog-title" class="modal-title">
                        @(CurrentLanguage == "en-US" ? "Warning" : "Peringatan")
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p> 
                        @{
                            if (CurrentLanguage == "en-US")
                            {
                                <span>There are error(s) in this tab.</span><br/>
                                <span>If you choose to Proceed, any unsaved data will be lost.</span><br/>
                                <span>Do you want to Proceed?</span>
                            }
                            else
                            {
                                <span>Masih ada error di tab ini.</span><br/>
                                <span>Jika Anda memilih Lanjutkan, data yang belum disimpan akan hilang.</span><br/>
                                <span>Apakah Anda ingin melanjutkan?</span>
                            }
                        }
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger ew-btn" id="btn-proceed" type="button">
                        @(CurrentLanguage == "en-US" ? "Proceed" : "Lanjutkan")
                    </button>
                    <button class="btn btn-default ew-btn" id="btn-proceed-cancel" type="button" data-bs-dismiss="modal">
                        @(CurrentLanguage == "en-US" ? "Cancel" : "Batal")
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="loading-modal-dialog" class="modal" aria-hidden="true" data-bs-backdrop="static" tabindex="-1" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="text-center mb-0">
                        @(CurrentLanguage == "en-US" ? "Saving..." : "Menyimpan...")
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="delete-modal-dialog" class="modal" aria-hidden="true" data-bs-backdrop="static" tabindex="-1" aria-labelledby="delete-modal-dialog-title" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="delete-modal-dialog-title" class="modal-title">
                        @(CurrentLanguage == "en-US" ? "Confirmation" : "Konfirmasi")
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        @(CurrentLanguage == "en-US" ? "Are you sure you want to delete?" : "Anda yakin ingin menghapus?")
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary ew-btn" id="btn-delete" type="button">
                        @(CurrentLanguage == "en-US" ? "Yes" : "Iya")
                    </button>
                    <button class="btn btn-default ew-btn" id="btn-delete-cancel" type="button" data-bs-dismiss="modal">
                        @(CurrentLanguage == "en-US" ? "No" : "Tidak")
                    </button>
                </div>
            </div>
        </div>
    </div></div>
</template>
@{ crewFormalEducationForAdminViewModeAdd.CloseRecordset(); }
@Html.Raw(crewFormalEducationForAdminViewModeAdd.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(crewFormalEducationForAdminViewModeAdd.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fCrewFormalEducationForAdminViewModeadd">@Html.Raw(Language.Phrase("AddBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fCrewFormalEducationForAdminViewModeadd" data-href="@AppPath(crewFormalEducationForAdminViewModeAdd.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(crewFormalEducationForAdminViewModeAdd.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
<script class="ew-apply-template">
loadjs.ready(ew.applyTemplateId, function() {
    var $ = jQuery;
    ew.templateData = { rows: @Html.Raw(ConvertToJson(crewFormalEducationForAdminViewModeAdd.Rows)) };
    ew.applyTemplate("tpd_CrewFormalEducationForAdminViewModeadd", "tpm_CrewFormalEducationForAdminViewModeadd", "CrewFormalEducationForAdminViewModeadd", "@(crewFormalEducationForAdminViewModeAdd.Export)", "CrewFormalEducationForAdminViewMode", ew.templateData.rows[0], @(crewFormalEducationForAdminViewModeAdd.IsModal ? "true" : "false"));
    loadjs.done("customtemplate");
});
</script>
@crewFormalEducationForAdminViewModeAdd.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("CrewFormalEducationForAdminViewMode");
});
</script>
<script>
loadjs.ready("load", function() {
    // Startup script
    // Write your table-specific startup script here
    // document.write("page loaded");

    // Get the current URL
    const currentUrlObject = new URL(window.location.href);
    // get the current URL without Add or Edit for assigning active class in tabs
    const currentUrlWithoutAddEditListView = currentUrlObject.href.replace(/Add|Edit|List|View/g, "");
    // Create a new URLSearchParams object based on the current URL's search parameters
    const urlQueryParams = new URLSearchParams(currentUrlObject.search);
    // Extract the value of the crewID query parameter
    const currentlyEditedCrewID = urlQueryParams.get('crewID');
    const selectedLanguage = ew.vars['languages']['languages'].filter(obj => obj.selected === true)[0];
    const parentUrl = ew.PATH_BASE;
    const tableName = "CrewFormalEducationForAdminViewMode";
    const pageType = "add";
    const pageTypeCapital = "Add";
    const formID = `f${tableName}${pageType}`;
    const addEntryUrl = `${parentUrl}${tableName}${pageTypeCapital}?crewID=${currentlyEditedCrewID}`;
    const listPageUrl = `${parentUrl}${tableName}List?crewID=${currentlyEditedCrewID}`;
    let isChangeTabApproved = false;
    const adminAndEmployeeStatusApi = 'get-admin-and-employee-status';
    $.ajax({
        url: `${parentUrl}api/Registration/${adminAndEmployeeStatusApi}`,
        method: 'GET',
        data: {
            crewID: currentlyEditedCrewID
        },
        success: function(response) {
            if (response.success) {
                // Parse the data in the response
                const isAdmin = response.data.IsAdmin;
                const employeeStatus = response.data.EmployeeStatus;
                if (currentlyEditedCrewID === null) {
                    if (isAdmin) {
                        // redirect to list page with error message: record not found
                        if (employeeStatus === 'Candidate - Draft') {
                            window.location.replace(`${ew.PATH_BASE}RegistrationEdit/-1`);
                        } else if (employeeStatus === 'Candidate - Submitted') {
                            window.location.replace(`${ew.PATH_BASE}VWaitingForPdeReviewView/-1`);
                        }
                    } else {
                        window.location.replace(`${ew.PATH_BASE}index`);
                    }
                }
            } else {
                // Handle the error
                ew.showToast(response.errorMessage);
            }
        },
        error: function(xhr, textStatus, errorThrown) {
            // Handle the error
            ew.showToast(errorThrown);
        }
    });

    // Iterate over each anchor element inside the nav-tabs
    $(".nav-tabs .nav-item a").each(function() {
        const href = $(this).attr("href");
        const hrefWithoutAddEditListView = href.replace(/Add|Edit|List|View/g, "");
        // Check if the href contains current page's url
        if (currentUrlWithoutAddEditListView.includes(hrefWithoutAddEditListView)) {
            // add class and attribute
            $(this).addClass("active");
            $(this).attr("aria-current", "page");
        }
        // Check if the href contains "Edit" or "Add"
        if (href.includes("ViewModeView")) {
            // Add "/" and the currently edited crew ID to the href
            const newHref = href + "/" + currentlyEditedCrewID;
            // Set the updated href attribute value
            $(this).attr("href", newHref);
        } else if (href.includes("ViewModeList")) {
            // Add "?crewID=" and the currently edited crew ID to the href
            const newHref = href + "?crewID=" + currentlyEditedCrewID;
            // Set the updated href attribute value
            $(this).attr("href", newHref);
        }
    });

    // start code for auto capitalize first letter of each word
    $('#x_SchoolName').on('input', function() {
        $(this).val($(this).val().replace(/(?:^|\s)\S/g, function(a) { return a.toUpperCase(); }));
    });
    $('#x_City').on('input', function() {
        $(this).val($(this).val().replace(/(?:^|\s)\S/g, function(a) { return a.toUpperCase(); }));
    });
    // end code for auto capitalize first letter of each word
    let format = "yyyy",
        options = {
            localization: {
                locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                hourCycle: format.match(/H/) ? "h24" : "h12",
                format,
                ...ew.language.phrase("datetimepicker")
            },
            display: {
                icons: {
                    previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                    next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                },
                components: {
                    hours: false,
                    minutes: false,
                    seconds: false,
                    date: false,
                    month: false
                },
                theme: ew.isDark() ? "dark" : "auto"
            }
        };
    ew.createDateTimePicker(formID, "x_StartDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
    ew.createDateTimePicker(formID, "x_EndDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
    const entryButton = $('<button/>', {
        'class': 'btn btn-primary ew-btn ms-auto primary-black-clr gray-bg',
        'id': 'btn-entry',
        'type': 'button',
        'text': (selectedLanguage.id === 'en-US') ? `Add Entry` : `Tambah`
    }).click(function() {
        const validateAddEntryResult = validateAddEntry({ isAllEmptyAllowed: false });
        if (validateAddEntryResult === 'valid') {
            $('#loading-modal-dialog').modal('show');
            const targetUrlRelative = listPageUrl;
            addEntry({ redirectUrlWhenSuccess: targetUrlRelative });
        } else {
            scrollToFirstInvalidInput();
        }
    });
    $('#btn-add-entry').after(entryButton);
    $('#btn-add-entry').remove();

    // to auto clear error message when focus for file fields
    $('#x_Attachment').on('focus', function() {
        $(this).removeClass('is-invalid');
    });
    $('#ft_x_Attachment button').on("click", function () {
      window[formID].modified = true;
    });
    const customCancelButton = $('<button/>', {
        'class': 'btn btn-danger ew-btn ms-auto primary-red-bg primary-white-clr',
        'id': 'btn-custom-cancel',
        'type': 'button',
        'text': `${ew.language.phrase("CancelBtn")}`,
    }).click(function() {
        if (window[formID].modified) {
            ew.prompt(ew.language.phrase("ConfirmCancel"), result => {
                if (result) {
                    isChangeTabApproved = true;
                    proceedToLink(listPageUrl);
                }
            });
        } else {
            isChangeTabApproved = true;
            proceedToLink(listPageUrl);
        }
    });
    $('#btn-cancel').after(customCancelButton);
    $('#btn-cancel').remove();

    // Target the ol element that has breadcrumb class
    const $breadCrumbOl = $('.breadcrumb').first();

    // Delete the ol element that has breadcrumb class
    $breadCrumbOl.remove();
    $('#btn-action').remove();
    $('.ew-buttons > .col-sm-10').removeClass('col-sm-10').addClass('d-flex mb-3');
    $('.ew-buttons > .offset-sm-2').removeClass('offset-sm-2');

    //  programatically change the value of MTCrewID input and then hide it
    $('#x_MTCrewID').val(currentlyEditedCrewID);
    $('div#r_MTCrewID').hide();

    // AUTO SAVE WHEN MOVING FROM THIS TAB
    $(window).on('beforeunload', function(event) {
        if (!isChangeTabApproved && window[formID].modified) {
            event.preventDefault();
            event.returnValue = '';
            return '';
        }
    });
    $("#btn-proceed").click(function() {
        isChangeTabApproved = true;
        const targetUrlRelative = $(this).attr('target-url-relative');
        $('#approve-modal-dialog').modal('hide');
        proceedToLink(targetUrlRelative);
    });
    $('ul.nav.nav-tabs li.nav-item a.nav-link').on('click', function(event) {
        event.preventDefault();
        const targetUrlRelative = $(this).attr('href');
        if (window[formID].modified) {
            const validateAddEntryResult = validateAddEntry({ isAllEmptyAllowed: true });
            if (validateAddEntryResult === 'valid') {
                $('#loading-modal-dialog').modal('show');
                addEntry({ redirectUrlWhenSuccess: targetUrlRelative });
            } else if (validateAddEntryResult === 'empty') {
                isChangeTabApproved = true;
                proceedToLink(targetUrlRelative);
            } else if (validateAddEntryResult === 'invalid') {
                scrollToFirstInvalidInput();
                $('#btn-proceed').attr('target-url-relative', targetUrlRelative);
                $('#proceed-modal-dialog').modal('show');
            }
        } else {
            isChangeTabApproved = true;
            proceedToLink(targetUrlRelative);
        }
    });
    function proceedToLink(targetUrlRelative) {
        const baseUrl = new URL(window.location.href).origin;
        const targetUrl = new URL(baseUrl + targetUrlRelative);
        window.location.href = targetUrl.href;
    }
    function scrollToFirstInvalidInput() {
        const invalidInput = $("input.is-invalid:first");
        if (invalidInput.length > 0) { // Check if an invalid input is found
            const offset = invalidInput.offset().top; // Calculate the offset of the invalid input element from the top of the page
            const windowHeight = $(window).height(); // Calculate the height of the viewport
            const scrollPosition = offset - (windowHeight / 2); // Calculate the scroll position to center the invalid input element
            $("html, body").animate({ // Animate the scroll to the center position
                scrollTop: scrollPosition
            }, 1000); // Adjust the duration as needed (in milliseconds)
        }
    }
    function addEntry({ redirectUrlWhenSuccess }) {
        isChangeTabApproved = true;
        let formData = $(`form#${formID}`).serialize();
        $('input[type="checkbox"]').each(function() {
            // Jika checkbox tidak dicentang dan tidak ada di hasil serialize(),
            // tambahkan nilai 0 ke hasil serialize()
            if (!this.checked && formData.indexOf(this.name) === -1) {
                formData += '&' + this.name + '=0';
            }
        });
        const formDataUrlSearchParams = new URLSearchParams(formData);
        formDataUrlSearchParams.set('x_StartDate', new Date($('#x_StartDate').val(), 0, 1).toISOString());
        formDataUrlSearchParams.set('x_EndDate', new Date($('#x_EndDate').val(), 0, 1).toISOString());
        formData = formDataUrlSearchParams.toString();
        $.ajax({
            url: addEntryUrl,
            type: 'POST',
            data: formData,
            success: function(res) {
                const $errorDiv = $(res).find('div.ew-error'); // res is a string containing html document
                $('#loading-modal-dialog').modal('hide');
                if ($errorDiv.length > 0) {
                    ew.showToast($errorDiv.text());
                } else {
                    proceedToLink(redirectUrlWhenSuccess);
                }
            },
            error: function(xhr, textStatus, errorThrown) {
                $('#loading-modal-dialog').modal('hide');
                isChangeTabApproved = false;
                ew.showToast(errorThrown);
            }
        });
    }
    function validateAddEntry({ isAllEmptyAllowed }) {
        let formErrorCount = 0;
        let formEmptyCount = 0;
        let isNotEmpty = true;
        const emptyFieldNames = [];
        const emptyFileFieldNames = [];
        function validateRequiredField(fieldName) {
            const fieldNameWithPrefix = `x_${fieldName}`;
            const fieldValue = $(`#${fieldNameWithPrefix}`).val();
            if (fieldValue === '' || fieldValue === null) {
                return false;
            } else {
                return true;
            }
        }
        function validateRequiredFileField(fieldName) {
            const fieldNameWithPrefix = `fn_x_${fieldName}`;
            const fieldValue = $(`#${fieldNameWithPrefix}`).val();
            if (fieldValue === '') {
                return false;
            } else {
                return true;
            }
        }
        function validateYearField(fieldName) {
            const regexErrorMessage = (selectedLanguage.id === 'en-US') ? "Must contain 4 digits" : "Harus terdiri dari 4 angka";
            const invalidRangeErrorMessage = (selectedLanguage.id === 'en-US') ? "Must be between 1900 and current year" : "Harus di antara 1900 dan tahun sekarang";
            const fieldNameWithPrefix = `x_${fieldName}`;
            const fieldValue = $(`#${fieldNameWithPrefix}`).val();
            const yearRegex = /^\d{4}$/;
            if (!yearRegex.test(fieldValue)) {  
                window[formID].fields[fieldName].addError({ custom: regexErrorMessage });
                window[formID].fields[fieldName].updateFeedback();
                window[formID].addError(fieldName, { custom: regexErrorMessage });
                return false;
            }
            const year = parseInt(fieldValue, 10);
            const currentYear = new Date().getFullYear();
            if (year < 1900 || year > currentYear) {
                window[formID].fields[fieldName].addError({ custom: invalidRangeErrorMessage });
                window[formID].fields[fieldName].updateFeedback();
                window[formID].addError(fieldName, { custom: invalidRangeErrorMessage });
                return false;
            }
            return true;
        }
        function validateFieldWithRegex(fieldName, errorMessage, regex) {
            const fieldNameWithPrefix = `x_${fieldName}`;
            const fieldValue = $(`#${fieldNameWithPrefix}`).val();
            if (!regex.test(fieldValue)) {  
                window[formID].fields[fieldName].addError({ custom: errorMessage });
                window[formID].fields[fieldName].updateFeedback();
                window[formID].addError(fieldName, { custom: errorMessage });
                return false;
            } else {
                return true;
            }
        }
        function displayRequiredFieldError(fieldName) {
            const errorMessage = (selectedLanguage.id === 'en-US') ? "Please enter required field" : "Masukkan input yang dibutuhkan";
            const fieldNameWithPrefix = `x_${fieldName}`;
            const fieldCaption = $(`label[for=${fieldNameWithPrefix}]`).text();
            const errorMessageWithFieldName = `${errorMessage} - ${fieldCaption}`;
            window[formID].fields[fieldName].addError({ custom: errorMessageWithFieldName });
            window[formID].fields[fieldName].updateFeedback();
            window[formID].addError(fieldName, { custom: errorMessageWithFieldName });
        }
        function displayRequiredFileFieldError(fieldName) {
            displayRequiredFieldError(fieldName);
            const fieldNameWithPrefix = `x_${fieldName}`;
            $(`#${fieldNameWithPrefix}`).addClass('is-invalid');
        }
        const noDigitsRegex = /^[^0-9]+$/;
        const noDigitsRegexErrorMessage = (selectedLanguage.id === 'en-US') ? "Must not contain digits" : "Tidak boleh mengandung angka";
        isNotEmpty = validateRequiredField("EducationLevel");
        if (!isNotEmpty) {
            formEmptyCount += 1;
            formErrorCount += 1;
            if (isAllEmptyAllowed) {
                emptyFieldNames.push("EducationLevel");
            } else {
                displayRequiredFieldError("EducationLevel");
            }
        }
        isNotEmpty = validateRequiredField("SchoolName");
        if (!isNotEmpty) {
            formEmptyCount += 1;
            formErrorCount += 1;
            if (isAllEmptyAllowed) {
                emptyFieldNames.push("SchoolName");
            } else {
                displayRequiredFieldError("SchoolName");
            }
        }
        isNotEmpty = validateRequiredField("City");
        if (!isNotEmpty) {
            formEmptyCount += 1;
            formErrorCount += 1;
            if (isAllEmptyAllowed) {
                emptyFieldNames.push("City");
            } else {
                displayRequiredFieldError("City");
            }
        } else {
            formErrorCount += validateFieldWithRegex("City",  noDigitsRegexErrorMessage, noDigitsRegex) ? 0 : 1;
        }
        isNotEmpty = validateRequiredFileField("Attachment");
        if (!isNotEmpty) {
            formEmptyCount += 1;
            formErrorCount += 1;
            if (isAllEmptyAllowed) {
                emptyFileFieldNames.push("Attachment");
            } else {
                displayRequiredFileFieldError("Attachment");
            }
        }
        isNotEmpty = validateRequiredField("StartDate");
        if (!isNotEmpty) {
            formEmptyCount += 1;
            formErrorCount += 1;
            if (isAllEmptyAllowed) {
                emptyFieldNames.push("StartDate");
            } else {
                displayRequiredFieldError("StartDate");
            }
        } else {
            formErrorCount += validateYearField("StartDate") ? 0 : 1;
        }
        isNotEmpty = validateRequiredField("EndDate");
        if (!isNotEmpty) {
            formEmptyCount += 1;
            formErrorCount += 1;
            if (isAllEmptyAllowed) {
                emptyFieldNames.push("EndDate");
            } else {
                displayRequiredFieldError("EndDate");
            }
        } else {
            formErrorCount += validateYearField("EndDate") ? 0 : 1;
        }
        if (formEmptyCount === 6) {
            return 'empty';
        }
        if (emptyFieldNames.length > 0) {
            for (const fieldName of emptyFieldNames) {
                displayRequiredFieldError(fieldName);
            }
        }
        if (emptyFileFieldNames.length > 0) {
            for (const fieldName of emptyFileFieldNames) {
                displayRequiredFileFieldError(fieldName);
            }
        }
        if (formErrorCount > 0) {
            return 'invalid';
        } else {
            return 'valid';
        }
    }
});
</script>
