@{
    // View
    View = this;

    // Check action result
    if (crewMedicalHistoryForAdminAdd.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!crewMedicalHistoryForAdminAdd.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(crewMedicalHistoryForAdminAdd.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { CrewMedicalHistoryForAdmin: currentTable } });
var currentPageID = ew.PAGE_ID = "add";
var currentForm;
var fCrewMedicalHistoryForAdminadd;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fCrewMedicalHistoryForAdminadd")
        .setPageId("add")

        // Add fields
        .setFields([

            ["MTCrewID", [fields.MTCrewID.visible && fields.MTCrewID.required ? ew.Validators.required(fields.MTCrewID.caption) : null], fields.MTCrewID.isInvalid],
            ["_Type", [fields._Type.visible && fields._Type.required ? ew.Validators.required(fields._Type.caption) : null], fields._Type.isInvalid],
            ["VesselName", [fields.VesselName.visible && fields.VesselName.required ? ew.Validators.required(fields.VesselName.caption) : null], fields.VesselName.isInvalid],
            ["DateOccurence", [fields.DateOccurence.visible && fields.DateOccurence.required ? ew.Validators.required(fields.DateOccurence.caption) : null, ew.Validators.datetime(fields.DateOccurence.clientFormatPattern)], fields.DateOccurence.isInvalid],
            ["PlaceOccurence", [fields.PlaceOccurence.visible && fields.PlaceOccurence.required ? ew.Validators.required(fields.PlaceOccurence.caption) : null], fields.PlaceOccurence.isInvalid],
            ["PeriodOfDisability", [fields.PeriodOfDisability.visible && fields.PeriodOfDisability.required ? ew.Validators.required(fields.PeriodOfDisability.caption) : null], fields.PeriodOfDisability.isInvalid],
            ["PresentCondition", [fields.PresentCondition.visible && fields.PresentCondition.required ? ew.Validators.required(fields.PresentCondition.caption) : null], fields.PresentCondition.isInvalid],
            ["Treatment", [fields.Treatment.visible && fields.Treatment.required ? ew.Validators.required(fields.Treatment.caption) : null], fields.Treatment.isInvalid],
            ["Details", [fields.Details.visible && fields.Details.required ? ew.Validators.required(fields.Details.caption) : null], fields.Details.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "_Type": @Html.Raw(crewMedicalHistoryForAdminAdd._Type.ToClientList(crewMedicalHistoryForAdminAdd)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@crewMedicalHistoryForAdminAdd.ShowPageHeader()
@crewMedicalHistoryForAdminAdd.ShowMessages()
<form name="fCrewMedicalHistoryForAdminadd" id="fCrewMedicalHistoryForAdminadd" class="@(crewMedicalHistoryForAdminAdd.FormClassName)" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="insert">
<input type="hidden" name="modal" value="@ConvertToInt(crewMedicalHistoryForAdminAdd.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(crewMedicalHistoryForAdminAdd.OldKeyName)" value="@Html.Raw(crewMedicalHistoryForAdminAdd.OldKey)">
<div class="ew-add-div d-none"><!-- page* -->
@if (crewMedicalHistoryForAdminAdd.MTCrewID.Visible) { // crewMedicalHistoryForAdminAdd.MTCrewID.Visible (begin)
    <div id="r_MTCrewID" @Html.Raw(crewMedicalHistoryForAdminAdd.MTCrewID.RowAttributes)>
        <label id="elh_CrewMedicalHistoryForAdmin_MTCrewID" for="x_MTCrewID" class="@(crewMedicalHistoryForAdminAdd.LeftColumnClass)"><template id="tpc_CrewMedicalHistoryForAdmin_MTCrewID">@Html.Raw(crewMedicalHistoryForAdminAdd.MTCrewID.Caption)@Html.Raw(crewMedicalHistoryForAdminAdd.MTCrewID.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewMedicalHistoryForAdminAdd.RightColumnClass)"><div @Html.Raw(crewMedicalHistoryForAdminAdd.MTCrewID.CellAttributes)>
<template id="tpx_CrewMedicalHistoryForAdmin_MTCrewID"><span id="el_CrewMedicalHistoryForAdmin_MTCrewID">
<input type="@(crewMedicalHistoryForAdminAdd.MTCrewID.InputTextType)" name="x_MTCrewID" id="x_MTCrewID" data-table="CrewMedicalHistoryForAdmin" data-field="x_MTCrewID" value="@Html.Raw(crewMedicalHistoryForAdminAdd.MTCrewID.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(crewMedicalHistoryForAdminAdd.MTCrewID.PlaceHolder))" data-format-pattern="@(crewMedicalHistoryForAdminAdd.MTCrewID.FormatPattern)"@Html.Raw(crewMedicalHistoryForAdminAdd.MTCrewID.EditAttributes) aria-describedby="x_MTCrewID_help">
@Html.Raw(crewMedicalHistoryForAdminAdd.MTCrewID.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewMedicalHistoryForAdminAdd.MTCrewID.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* crewMedicalHistoryForAdminAdd.MTCrewID.Visible (end) *@
@if (crewMedicalHistoryForAdminAdd._Type.Visible) { // crewMedicalHistoryForAdminAdd._Type.Visible (begin)
    <div id="r__Type" @Html.Raw(crewMedicalHistoryForAdminAdd._Type.RowAttributes)>
        <label id="elh_CrewMedicalHistoryForAdmin__Type" for="x__Type" class="@(crewMedicalHistoryForAdminAdd.LeftColumnClass)"><template id="tpc_CrewMedicalHistoryForAdmin__Type">@Html.Raw(crewMedicalHistoryForAdminAdd._Type.Caption)@Html.Raw(crewMedicalHistoryForAdminAdd._Type.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewMedicalHistoryForAdminAdd.RightColumnClass)"><div @Html.Raw(crewMedicalHistoryForAdminAdd._Type.CellAttributes)>
<template id="tpx_CrewMedicalHistoryForAdmin__Type"><span id="el_CrewMedicalHistoryForAdmin__Type">
    <select
        id="x__Type"
        name="x__Type"
        class="form-select ew-select@(crewMedicalHistoryForAdminAdd._Type.IsInvalidClass)"
        data-select2-id="fCrewMedicalHistoryForAdminadd_x__Type"
        data-table="CrewMedicalHistoryForAdmin"
        data-field="x__Type"
        data-value-separator="@(crewMedicalHistoryForAdminAdd._Type.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(crewMedicalHistoryForAdminAdd._Type.PlaceHolder))"
        @Html.Raw(crewMedicalHistoryForAdminAdd._Type.EditAttributes)>
        @(crewMedicalHistoryForAdminAdd._Type.SelectOptionListHtml("x__Type"))
    </select>
    @Html.Raw(crewMedicalHistoryForAdminAdd._Type.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(crewMedicalHistoryForAdminAdd._Type.GetErrorMessage())</div>
<script>
loadjs.ready("fCrewMedicalHistoryForAdminadd", function() {
    var options = { name: "x__Type", selectId: "fCrewMedicalHistoryForAdminadd_x__Type" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fCrewMedicalHistoryForAdminadd.lists._Type?.lookupOptions.length) {
        options.data = { id: "x__Type", form: "fCrewMedicalHistoryForAdminadd" };
    } else {
        options.ajax = { id: "x__Type", form: "fCrewMedicalHistoryForAdminadd", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumResultsForSearch = Infinity;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.CrewMedicalHistoryForAdmin.fields._Type.selectOptions);
    ew.createSelect(options);
});
</script>
</span></template>
</div></div>
    </div>
} @* crewMedicalHistoryForAdminAdd._Type.Visible (end) *@
@if (crewMedicalHistoryForAdminAdd.VesselName.Visible) { // crewMedicalHistoryForAdminAdd.VesselName.Visible (begin)
    <div id="r_VesselName" @Html.Raw(crewMedicalHistoryForAdminAdd.VesselName.RowAttributes)>
        <label id="elh_CrewMedicalHistoryForAdmin_VesselName" for="x_VesselName" class="@(crewMedicalHistoryForAdminAdd.LeftColumnClass)"><template id="tpc_CrewMedicalHistoryForAdmin_VesselName">@Html.Raw(crewMedicalHistoryForAdminAdd.VesselName.Caption)@Html.Raw(crewMedicalHistoryForAdminAdd.VesselName.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewMedicalHistoryForAdminAdd.RightColumnClass)"><div @Html.Raw(crewMedicalHistoryForAdminAdd.VesselName.CellAttributes)>
<template id="tpx_CrewMedicalHistoryForAdmin_VesselName"><span id="el_CrewMedicalHistoryForAdmin_VesselName">
<input type="@(crewMedicalHistoryForAdminAdd.VesselName.InputTextType)" name="x_VesselName" id="x_VesselName" data-table="CrewMedicalHistoryForAdmin" data-field="x_VesselName" value="@Html.Raw(crewMedicalHistoryForAdminAdd.VesselName.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(crewMedicalHistoryForAdminAdd.VesselName.PlaceHolder))" data-format-pattern="@(crewMedicalHistoryForAdminAdd.VesselName.FormatPattern)"@Html.Raw(crewMedicalHistoryForAdminAdd.VesselName.EditAttributes) aria-describedby="x_VesselName_help">
@Html.Raw(crewMedicalHistoryForAdminAdd.VesselName.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewMedicalHistoryForAdminAdd.VesselName.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* crewMedicalHistoryForAdminAdd.VesselName.Visible (end) *@
@if (crewMedicalHistoryForAdminAdd.DateOccurence.Visible) { // crewMedicalHistoryForAdminAdd.DateOccurence.Visible (begin)
    <div id="r_DateOccurence" @Html.Raw(crewMedicalHistoryForAdminAdd.DateOccurence.RowAttributes)>
        <label id="elh_CrewMedicalHistoryForAdmin_DateOccurence" for="x_DateOccurence" class="@(crewMedicalHistoryForAdminAdd.LeftColumnClass)"><template id="tpc_CrewMedicalHistoryForAdmin_DateOccurence">@Html.Raw(crewMedicalHistoryForAdminAdd.DateOccurence.Caption)@Html.Raw(crewMedicalHistoryForAdminAdd.DateOccurence.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewMedicalHistoryForAdminAdd.RightColumnClass)"><div @Html.Raw(crewMedicalHistoryForAdminAdd.DateOccurence.CellAttributes)>
<template id="tpx_CrewMedicalHistoryForAdmin_DateOccurence"><span id="el_CrewMedicalHistoryForAdmin_DateOccurence">
<input type="@(crewMedicalHistoryForAdminAdd.DateOccurence.InputTextType)" name="x_DateOccurence" id="x_DateOccurence" data-table="CrewMedicalHistoryForAdmin" data-field="x_DateOccurence" value="@Html.Raw(crewMedicalHistoryForAdminAdd.DateOccurence.EditValue)" placeholder="@Html.Raw(HtmlEncode(crewMedicalHistoryForAdminAdd.DateOccurence.PlaceHolder))" data-format-pattern="@(crewMedicalHistoryForAdminAdd.DateOccurence.FormatPattern)"@Html.Raw(crewMedicalHistoryForAdminAdd.DateOccurence.EditAttributes) aria-describedby="x_DateOccurence_help">
@Html.Raw(crewMedicalHistoryForAdminAdd.DateOccurence.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewMedicalHistoryForAdminAdd.DateOccurence.GetErrorMessage())</div>
@if (!crewMedicalHistoryForAdminAdd.DateOccurence.ReadOnly && !crewMedicalHistoryForAdminAdd.DateOccurence.Disabled && !crewMedicalHistoryForAdminAdd.DateOccurence.EditAttrs.Is("readonly") && !crewMedicalHistoryForAdminAdd.DateOccurence.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fCrewMedicalHistoryForAdminadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fCrewMedicalHistoryForAdminadd", "x_DateOccurence", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span></template>
</div></div>
    </div>
} @* crewMedicalHistoryForAdminAdd.DateOccurence.Visible (end) *@
@if (crewMedicalHistoryForAdminAdd.PlaceOccurence.Visible) { // crewMedicalHistoryForAdminAdd.PlaceOccurence.Visible (begin)
    <div id="r_PlaceOccurence" @Html.Raw(crewMedicalHistoryForAdminAdd.PlaceOccurence.RowAttributes)>
        <label id="elh_CrewMedicalHistoryForAdmin_PlaceOccurence" for="x_PlaceOccurence" class="@(crewMedicalHistoryForAdminAdd.LeftColumnClass)"><template id="tpc_CrewMedicalHistoryForAdmin_PlaceOccurence">@Html.Raw(crewMedicalHistoryForAdminAdd.PlaceOccurence.Caption)@Html.Raw(crewMedicalHistoryForAdminAdd.PlaceOccurence.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewMedicalHistoryForAdminAdd.RightColumnClass)"><div @Html.Raw(crewMedicalHistoryForAdminAdd.PlaceOccurence.CellAttributes)>
<template id="tpx_CrewMedicalHistoryForAdmin_PlaceOccurence"><span id="el_CrewMedicalHistoryForAdmin_PlaceOccurence">
<input type="@(crewMedicalHistoryForAdminAdd.PlaceOccurence.InputTextType)" name="x_PlaceOccurence" id="x_PlaceOccurence" data-table="CrewMedicalHistoryForAdmin" data-field="x_PlaceOccurence" value="@Html.Raw(crewMedicalHistoryForAdminAdd.PlaceOccurence.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(crewMedicalHistoryForAdminAdd.PlaceOccurence.PlaceHolder))" data-format-pattern="@(crewMedicalHistoryForAdminAdd.PlaceOccurence.FormatPattern)"@Html.Raw(crewMedicalHistoryForAdminAdd.PlaceOccurence.EditAttributes) aria-describedby="x_PlaceOccurence_help">
@Html.Raw(crewMedicalHistoryForAdminAdd.PlaceOccurence.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewMedicalHistoryForAdminAdd.PlaceOccurence.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* crewMedicalHistoryForAdminAdd.PlaceOccurence.Visible (end) *@
@if (crewMedicalHistoryForAdminAdd.PeriodOfDisability.Visible) { // crewMedicalHistoryForAdminAdd.PeriodOfDisability.Visible (begin)
    <div id="r_PeriodOfDisability" @Html.Raw(crewMedicalHistoryForAdminAdd.PeriodOfDisability.RowAttributes)>
        <label id="elh_CrewMedicalHistoryForAdmin_PeriodOfDisability" for="x_PeriodOfDisability" class="@(crewMedicalHistoryForAdminAdd.LeftColumnClass)"><template id="tpc_CrewMedicalHistoryForAdmin_PeriodOfDisability">@Html.Raw(crewMedicalHistoryForAdminAdd.PeriodOfDisability.Caption)@Html.Raw(crewMedicalHistoryForAdminAdd.PeriodOfDisability.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewMedicalHistoryForAdminAdd.RightColumnClass)"><div @Html.Raw(crewMedicalHistoryForAdminAdd.PeriodOfDisability.CellAttributes)>
<template id="tpx_CrewMedicalHistoryForAdmin_PeriodOfDisability"><span id="el_CrewMedicalHistoryForAdmin_PeriodOfDisability">
<input type="@(crewMedicalHistoryForAdminAdd.PeriodOfDisability.InputTextType)" name="x_PeriodOfDisability" id="x_PeriodOfDisability" data-table="CrewMedicalHistoryForAdmin" data-field="x_PeriodOfDisability" value="@Html.Raw(crewMedicalHistoryForAdminAdd.PeriodOfDisability.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(crewMedicalHistoryForAdminAdd.PeriodOfDisability.PlaceHolder))" data-format-pattern="@(crewMedicalHistoryForAdminAdd.PeriodOfDisability.FormatPattern)"@Html.Raw(crewMedicalHistoryForAdminAdd.PeriodOfDisability.EditAttributes) aria-describedby="x_PeriodOfDisability_help">
@Html.Raw(crewMedicalHistoryForAdminAdd.PeriodOfDisability.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewMedicalHistoryForAdminAdd.PeriodOfDisability.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* crewMedicalHistoryForAdminAdd.PeriodOfDisability.Visible (end) *@
@if (crewMedicalHistoryForAdminAdd.PresentCondition.Visible) { // crewMedicalHistoryForAdminAdd.PresentCondition.Visible (begin)
    <div id="r_PresentCondition" @Html.Raw(crewMedicalHistoryForAdminAdd.PresentCondition.RowAttributes)>
        <label id="elh_CrewMedicalHistoryForAdmin_PresentCondition" for="x_PresentCondition" class="@(crewMedicalHistoryForAdminAdd.LeftColumnClass)"><template id="tpc_CrewMedicalHistoryForAdmin_PresentCondition">@Html.Raw(crewMedicalHistoryForAdminAdd.PresentCondition.Caption)@Html.Raw(crewMedicalHistoryForAdminAdd.PresentCondition.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewMedicalHistoryForAdminAdd.RightColumnClass)"><div @Html.Raw(crewMedicalHistoryForAdminAdd.PresentCondition.CellAttributes)>
<template id="tpx_CrewMedicalHistoryForAdmin_PresentCondition"><span id="el_CrewMedicalHistoryForAdmin_PresentCondition">
<input type="@(crewMedicalHistoryForAdminAdd.PresentCondition.InputTextType)" name="x_PresentCondition" id="x_PresentCondition" data-table="CrewMedicalHistoryForAdmin" data-field="x_PresentCondition" value="@Html.Raw(crewMedicalHistoryForAdminAdd.PresentCondition.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(crewMedicalHistoryForAdminAdd.PresentCondition.PlaceHolder))" data-format-pattern="@(crewMedicalHistoryForAdminAdd.PresentCondition.FormatPattern)"@Html.Raw(crewMedicalHistoryForAdminAdd.PresentCondition.EditAttributes) aria-describedby="x_PresentCondition_help">
@Html.Raw(crewMedicalHistoryForAdminAdd.PresentCondition.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewMedicalHistoryForAdminAdd.PresentCondition.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* crewMedicalHistoryForAdminAdd.PresentCondition.Visible (end) *@
@if (crewMedicalHistoryForAdminAdd.Treatment.Visible) { // crewMedicalHistoryForAdminAdd.Treatment.Visible (begin)
    <div id="r_Treatment" @Html.Raw(crewMedicalHistoryForAdminAdd.Treatment.RowAttributes)>
        <label id="elh_CrewMedicalHistoryForAdmin_Treatment" for="x_Treatment" class="@(crewMedicalHistoryForAdminAdd.LeftColumnClass)"><template id="tpc_CrewMedicalHistoryForAdmin_Treatment">@Html.Raw(crewMedicalHistoryForAdminAdd.Treatment.Caption)@Html.Raw(crewMedicalHistoryForAdminAdd.Treatment.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewMedicalHistoryForAdminAdd.RightColumnClass)"><div @Html.Raw(crewMedicalHistoryForAdminAdd.Treatment.CellAttributes)>
<template id="tpx_CrewMedicalHistoryForAdmin_Treatment"><span id="el_CrewMedicalHistoryForAdmin_Treatment">
<textarea data-table="CrewMedicalHistoryForAdmin" data-field="x_Treatment" name="x_Treatment" id="x_Treatment" cols="50" rows="4" placeholder="@Html.Raw(HtmlEncode(crewMedicalHistoryForAdminAdd.Treatment.PlaceHolder))"@Html.Raw(crewMedicalHistoryForAdminAdd.Treatment.EditAttributes) aria-describedby="x_Treatment_help">@(crewMedicalHistoryForAdminAdd.Treatment.EditValue)</textarea>
@Html.Raw(crewMedicalHistoryForAdminAdd.Treatment.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewMedicalHistoryForAdminAdd.Treatment.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* crewMedicalHistoryForAdminAdd.Treatment.Visible (end) *@
@if (crewMedicalHistoryForAdminAdd.Details.Visible) { // crewMedicalHistoryForAdminAdd.Details.Visible (begin)
    <div id="r_Details" @Html.Raw(crewMedicalHistoryForAdminAdd.Details.RowAttributes)>
        <label id="elh_CrewMedicalHistoryForAdmin_Details" for="x_Details" class="@(crewMedicalHistoryForAdminAdd.LeftColumnClass)"><template id="tpc_CrewMedicalHistoryForAdmin_Details">@Html.Raw(crewMedicalHistoryForAdminAdd.Details.Caption)@Html.Raw(crewMedicalHistoryForAdminAdd.Details.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(crewMedicalHistoryForAdminAdd.RightColumnClass)"><div @Html.Raw(crewMedicalHistoryForAdminAdd.Details.CellAttributes)>
<template id="tpx_CrewMedicalHistoryForAdmin_Details"><span id="el_CrewMedicalHistoryForAdmin_Details">
<textarea data-table="CrewMedicalHistoryForAdmin" data-field="x_Details" name="x_Details" id="x_Details" cols="50" rows="6" placeholder="@Html.Raw(HtmlEncode(crewMedicalHistoryForAdminAdd.Details.PlaceHolder))"@Html.Raw(crewMedicalHistoryForAdminAdd.Details.EditAttributes) aria-describedby="x_Details_help">@(crewMedicalHistoryForAdminAdd.Details.EditValue)</textarea>
@Html.Raw(crewMedicalHistoryForAdminAdd.Details.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(crewMedicalHistoryForAdminAdd.Details.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* crewMedicalHistoryForAdminAdd.Details.Visible (end) *@
</div><!-- /page* -->
<div id="tpd_CrewMedicalHistoryForAdminadd" class="ew-custom-template"></div>
<template id="tpm_CrewMedicalHistoryForAdminadd">
<div id="ct_crewMedicalHistoryForAdminAdd">    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewPersonalDataForAdminEdit")">
                @(CurrentLanguage == "en-US" ? "PERSONAL DATA" : "DATA PERSONAL")
            </a>     
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewDocumentForAdminAdd")">
                @(CurrentLanguage == "en-US" ? "DOCUMENTS" : "DOKUMEN")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewBankAccountForAdminAdd")">
                @(CurrentLanguage == "en-US" ? "BANK ACCOUNT" : "REKENING BANK")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewFamilyForAdminAdd")">
                @(CurrentLanguage == "en-US" ? "FAMILY" : "KELUARGA")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewFormalEducationForAdminAdd")">
                @(CurrentLanguage == "en-US" ? "FORMAL EDUCATION" : "PENDIDIKAN FORMAL")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewMedicalCertificateForAdminAdd")">
                @(CurrentLanguage == "en-US" ? "MEDICAL CERTIFICATE / TEST" : "SERTIFIKAT / TES MEDIS")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewCertificateForAdminAdd")">
                @(CurrentLanguage == "en-US" ? "CERTIFICATES AND QUALIFICATIONS" : "SERTIFIKAT DAN KUALIFIKASI")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewExperienceForAdminAdd")">
                @(CurrentLanguage == "en-US" ? "SEA EXPERIENCE" : "PENGALAMAN BERLAYAR")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewAppraisalForAdminAdd")">
                @(CurrentLanguage == "en-US" ? "APPRAISALS" : "PENILAIAN")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewMedicalHistoryForAdminAdd")">
                @(CurrentLanguage == "en-US" ? "MEDICAL HISTORY" : "RIWAYAT MEDIS")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@string.Concat(AppPath(), "CrewGeneralDataForAdminEdit")">
                @(CurrentLanguage == "en-US" ? "GENERAL" : "UMUM")
            </a>
        </li>
    </ul>
    <div class="mb-2 row">
        <div class="col-sm-6">
            <div id="r__Type" class="mb-2 row">
                <label for="x__Type" class="col-form-label">@Html.Raw(crewMedicalHistoryForAdminAdd._Type.Caption)<i class="fa-solid fa-asterisk ew-required"></i></label>
                <div><slot class="ew-slot" name="tpx_CrewMedicalHistoryForAdmin__Type"></slot></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="r_VesselName" class="mb-2 row">
                <label for="x_VesselName" class="col-form-label">@Html.Raw(crewMedicalHistoryForAdminAdd.VesselName.Caption)</label>
                <div><slot class="ew-slot" name="tpx_CrewMedicalHistoryForAdmin_VesselName"></slot></div>
            </div>
        </div>
    </div>
    <div class="mb-2 row">
        <div class="col-sm-6">
             <div id="r_DateOccurence" class="mb-2 row">
                <label for="x_DateOccurence" class="col-form-label">@Html.Raw(crewMedicalHistoryForAdminAdd.DateOccurence.Caption)</label>
                <div><slot class="ew-slot" name="tpx_CrewMedicalHistoryForAdmin_DateOccurence"></slot></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="r_PlaceOccurence" class="mb-2 row">
                <label for="x_PlaceOccurence" class="col-form-label">@Html.Raw(crewMedicalHistoryForAdminAdd.PlaceOccurence.Caption)</label>
                <div><slot class="ew-slot" name="tpx_CrewMedicalHistoryForAdmin_PlaceOccurence"></slot></div>
            </div>
        </div>
    </div>
    <div class="mb-2 row">
        <div class="col-sm-6">
            <div id="r_PeriodOfDisability" class="mb-2 row">
                <label for="x_PeriodOfDisability" class="col-form-label">@Html.Raw(crewMedicalHistoryForAdminAdd.PeriodOfDisability.Caption)</label>
                <div><slot class="ew-slot" name="tpx_CrewMedicalHistoryForAdmin_PeriodOfDisability"></slot></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="r_PresentCondition" class="mb-2 row">
                <label for="x_PresentCondition" class="col-form-label">@Html.Raw(crewMedicalHistoryForAdminAdd.PresentCondition.Caption)</label>
                <div><slot class="ew-slot" name="tpx_CrewMedicalHistoryForAdmin_PresentCondition"></slot></div>
            </div>
        </div>
    </div>
    <div class="mb-2 row">
        <div class="col-sm-6">
            <div id="r_Treatment" class="mb-2 row">
                <label for="x_Treatment" class="col-form-label">@Html.Raw(crewMedicalHistoryForAdminAdd.Treatment.Caption)</label>
                <div><slot class="ew-slot" name="tpx_CrewMedicalHistoryForAdmin_Treatment"></slot></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="r_Details" class="mb-2 row">
                <label for="x_Details" class="col-form-label">@Html.Raw(crewMedicalHistoryForAdminAdd.Details.Caption)</label>
                <div><slot class="ew-slot" name="tpx_CrewMedicalHistoryForAdmin_Details"></slot></div>
            </div>
        </div>
    </div>
    <div class="row"><!-- buttons .row -->
        <div class="d-flex mb-2"><!-- buttons offset -->
            <button class="btn btn-primary ew-btn ms-auto primary-black-clr gray-bg" id="btn-add-entry">
                @(CurrentLanguage == "en-US" ? "Add Entry" : "Tambah")
            </button>
        </div><!-- /buttons offset -->
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-sm ew-table table-head-fixed" id="ForAdminTable" data-isset="true">
            <thead>
                <tr class="ew-table-header">
                    <th class="ew-list-option-header w-1" data-name="button"></th>
                    <th class="ew-list-option-header text-nowrap" data-name="sequence"><span></span></th>
                    <th data-name="_Type" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewMedicalHistoryForAdminAdd._Type.Caption)
                    </th>
                    <th data-name="VesselName" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewMedicalHistoryForAdminAdd.VesselName.Caption)
                    </th>
                    <th data-name="DateOccurence" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewMedicalHistoryForAdminAdd.DateOccurence.Caption)
                    </th>              
                    <th data-name="PlaceOccurence" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewMedicalHistoryForAdminAdd.PlaceOccurence.Caption)
                    </th>
                    <th data-name="PeriodOfDisability" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewMedicalHistoryForAdminAdd.PeriodOfDisability.Caption)
                    </th>
                    <th data-name="PresentCondition" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewMedicalHistoryForAdminAdd.PresentCondition.Caption)
                    </th>
                    <th data-name="Treatment" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewMedicalHistoryForAdminAdd.Treatment.Caption)
                    </th>              
                    <th data-name="Details" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewMedicalHistoryForAdminAdd.Details.Caption)
                    </th>
                    <th data-name="CreatedByUserID" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewMedicalHistoryForAdminAdd.CreatedByUserID.Caption)
                    </th>
                    <th data-name="CreatedDateTime" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewMedicalHistoryForAdminAdd.CreatedDateTime.Caption)
                    </th>
                    <th data-name="LastUpdatedByUserID" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewMedicalHistoryForAdminAdd.LastUpdatedByUserID.Caption)
                    </th>
                    <th data-name="LastUpdatedDateTime" class="ew-table-header-cell theadnowrap">
                        @Html.Raw(crewMedicalHistoryForAdminAdd.LastUpdatedDateTime.Caption)
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div id="r_MTCrewID" class="mb-3 row">
        <label for="x_MTCrewID" class="col-sm-2 col-form-label">@Html.Raw(crewMedicalHistoryForAdminAdd.MTCrewID.Caption)</label>
        <div class="col-sm-10"><slot class="ew-slot" name="tpx_CrewMedicalHistoryForAdmin_MTCrewID"></slot></div>
    </div>
    <div id="proceed-modal-dialog" class="modal" aria-hidden="true" data-bs-backdrop="static" tabindex="-1" aria-labelledby="proceed-modal-dialog-title" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="proceed-modal-dialog-title" class="modal-title">
                        @(CurrentLanguage == "en-US" ? "Warning" : "Peringatan")
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p> 
                        @{
                            if (CurrentLanguage == "en-US")
                            {
                                <span>There are error(s) in this tab.</span><br/>
                                <span>If you choose to Proceed, any unsaved data will be lost.</span><br/>
                                <span>Do you want to Proceed?</span>
                            }
                            else
                            {
                                <span>Masih ada error di tab ini.</span><br/>
                                <span>Jika Anda memilih Lanjutkan, data yang belum disimpan akan hilang.</span><br/>
                                <span>Apakah Anda ingin melanjutkan?</span>
                            }
                        }
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger ew-btn" id="btn-proceed" type="button">
                        @(CurrentLanguage == "en-US" ? "Proceed" : "Lanjutkan")
                    </button>
                    <button class="btn btn-default ew-btn" id="btn-proceed-cancel" type="button" data-bs-dismiss="modal">
                        @(CurrentLanguage == "en-US" ? "Cancel" : "Batal")
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="loading-modal-dialog" class="modal" aria-hidden="true" data-bs-backdrop="static" tabindex="-1" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="text-center mb-0">
                        @(CurrentLanguage == "en-US" ? "Saving..." : "Menyimpan...")
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="delete-modal-dialog" class="modal" aria-hidden="true" data-bs-backdrop="static" tabindex="-1" aria-labelledby="delete-modal-dialog-title" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="delete-modal-dialog-title" class="modal-title">
                        @(CurrentLanguage == "en-US" ? "Confirmation" : "Konfirmasi")
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        @(CurrentLanguage == "en-US" ? "Are you sure you want to delete?" : "Anda yakin ingin menghapus?")
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary ew-btn" id="btn-delete" type="button">
                        @(CurrentLanguage == "en-US" ? "Yes" : "Iya")
                    </button>
                    <button class="btn btn-default ew-btn" id="btn-delete-cancel" type="button" data-bs-dismiss="modal">
                        @(CurrentLanguage == "en-US" ? "No" : "Tidak")
                    </button>
                </div>
            </div>
        </div>
    </div></div>
</template>
@{ crewMedicalHistoryForAdminAdd.CloseRecordset(); }
@Html.Raw(crewMedicalHistoryForAdminAdd.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(crewMedicalHistoryForAdminAdd.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fCrewMedicalHistoryForAdminadd">@Html.Raw(Language.Phrase("AddBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fCrewMedicalHistoryForAdminadd" data-href="@AppPath(crewMedicalHistoryForAdminAdd.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(crewMedicalHistoryForAdminAdd.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
<script class="ew-apply-template">
loadjs.ready(ew.applyTemplateId, function() {
    var $ = jQuery;
    ew.templateData = { rows: @Html.Raw(ConvertToJson(crewMedicalHistoryForAdminAdd.Rows)) };
    ew.applyTemplate("tpd_CrewMedicalHistoryForAdminadd", "tpm_CrewMedicalHistoryForAdminadd", "CrewMedicalHistoryForAdminadd", "@(crewMedicalHistoryForAdminAdd.Export)", "CrewMedicalHistoryForAdmin", ew.templateData.rows[0], @(crewMedicalHistoryForAdminAdd.IsModal ? "true" : "false"));
    loadjs.done("customtemplate");
});
</script>
@crewMedicalHistoryForAdminAdd.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("CrewMedicalHistoryForAdmin");
});
</script>
<script>
loadjs.ready("load", function() {
    // Startup script
    // Write your table-specific startup script here
    // document.write("page loaded");

    // Get the current URL
    const currentUrlObject = new URL(window.location.href);
    // get the current URL without Add or Edit for assigning active class in tabs
    const currentUrlWithoutAddEdit = currentUrlObject.href.replace(/Add|Edit/g, "");
    // Create a new URLSearchParams object based on the current URL's search parameters
    const urlQueryParams = new URLSearchParams(currentUrlObject.search);
    // Extract the value of the crewID query parameter
    const currentlyEditedCrewID = urlQueryParams.get('crewID');
    const selectedLanguage = ew.vars['languages']['languages'].filter(obj => obj.selected === true)[0];
    const parentUrl = ew.PATH_BASE;
    const tableName = "CrewMedicalHistoryForAdmin";
    const pageType = "add";
    const pageTypeCapital = "Add";
    const formID = `f${tableName}${pageType}`;
    const addEntryUrl = `${parentUrl}${tableName}${pageTypeCapital}?crewID=${currentlyEditedCrewID}`;
    let isChangeTabApproved = false;
    const adminAndEmployeeStatusApi = 'get-admin-and-employee-status';
    $.ajax({
        url: `${parentUrl}api/Registration/${adminAndEmployeeStatusApi}`,
        method: 'GET',
        data: {
            crewID: currentlyEditedCrewID
        },
        success: function(response) {
            if (response.success) {
                const isAdmin = response.data.IsAdmin;
                if (isAdmin) {
                    if (currentlyEditedCrewID === null) {
                        window.location.replace(`${ew.PATH_BASE}RegistrationEdit/-1`);
                    }
                    const customCancelButton = $('<button/>', {
                        'class': 'btn btn-danger ew-btn ms-auto primary-red-bg primary-white-clr',
                        'id': 'btn-custom-cancel',
                        'type': 'button',
                        'text': `${ew.language.phrase("CancelBtn")}`,
                    }).click(function() {
                        if (window[formID].modified) {
                            ew.prompt(ew.language.phrase("ConfirmCancel"), result => {
                                if (result) {
                                    isChangeTabApproved = true;
                                    window.location.href = `${ew.PATH_BASE}RegistrationList`;
                                }
                              });
                        } else {
                            isChangeTabApproved = true;
                            window.location.href = `${ew.PATH_BASE}RegistrationList`;
                        }
                    });
                    $('#btn-cancel').after(customCancelButton);
                    $('#btn-cancel').remove();
                } else {
                    if (currentlyEditedCrewID === null) {
                        window.location.replace(`${ew.PATH_BASE}index`);
                    }
                    $('#btn-cancel').remove();
                }
            } else {
                ew.showToast(response.errorMessage);
            }
        },
        error: function(xhr, textStatus, errorThrown) {
            ew.showToast(errorThrown);
        }
    });
    const entryButton = $('<button/>', {
        'class': 'btn btn-primary ew-btn ms-auto primary-black-clr gray-bg',
        'id': 'btn-entry',
        'type': 'button',
        'text': (selectedLanguage.id === 'en-US') ? `Add Entry` : `Tambah`
    }).click(function() {
        const validateAddEntryResult = validateAddEntry({ isAllEmptyAllowed: false });
        if (validateAddEntryResult === 'valid') {
            $('#loading-modal-dialog').modal('show');
            const targetUrlRelative = addEntryUrl;
            addEntry({ redirectUrlWhenSuccess: targetUrlRelative });
        } else {
            scrollToFirstInvalidInput();
        }
    });
    $('#btn-add-entry').after(entryButton);
    $('#btn-add-entry').remove();
    $('#btn-delete').click(function() {
        const selectedTableID = $(this).attr('selected-table-id');
        $.ajax({
            url: `${parentUrl}api/delete/${tableName}/${selectedTableID}`,
            type: 'GET',
            success: function(res) {
                if (res && res.success) {
                    $('#delete-modal-dialog').modal('hide');
                    isChangeTabApproved = true;
                    proceedToLink(addEntryUrl);
                } else {
                    $('#delete-modal-dialog').modal('hide');
                    ew.showToast(res.failureMessage);
                }
            },
            error: function(xhr, textStatus, errorThrown) {
                ew.showToast(errorThrown);
                $('#delete-modal-dialog').modal('hide');
            }
        });
    });

    //  programatically change the value of MTCrewID
    $('#x_MTCrewID').val(currentlyEditedCrewID);

    // Iterate over each anchor element inside the nav-tabs
    $(".nav-tabs .nav-item a").each(function() {
        const href = $(this).attr("href");
        const hrefWithoutAddEdit = href.replace(/Add|Edit/g, "");
        // Check if the href contains current page's url
        if (currentUrlWithoutAddEdit.includes(hrefWithoutAddEdit)) {
            // add class and attribute
            $(this).addClass("active");
            $(this).attr("aria-current", "page");
        }
        // Check if the href contains "Edit" or "Add"
        if (href.includes("Edit")) {
            // Add "/" and the currently edited crew ID to the href
            const newHref = href + "/" + currentlyEditedCrewID;
            // Set the updated href attribute value
            $(this).attr("href", newHref);
        } else if (href.includes("Add")) {
            // Add "?crewID=" and the currently edited crew ID to the href
            const newHref = href + "?crewID=" + currentlyEditedCrewID;
            // Set the updated href attribute value
            $(this).attr("href", newHref);
        }
    });

    // start code for auto capitalize first letter of each word
    $('#x_VesselName').on('input', function() {
        $(this).val($(this).val().replace(/(?:^|\s)\S/g, function(a) { return a.toUpperCase(); }));
    });
    $('#x_PlaceOccurence').on('input', function() {
        $(this).val($(this).val().replace(/(?:^|\s)\S/g, function(a) { return a.toUpperCase(); }));
    });
    // end code for auto capitalize first letter of each word

    // Target the ol element that has breadcrumb class
    const $breadCrumbOl = $('.breadcrumb').first();

    // Delete the ol element that has breadcrumb class
    $breadCrumbOl.remove();
    $('#btn-action').remove();
    $('.ew-buttons > .col-sm-10').removeClass('col-sm-10').addClass('d-flex mb-3');
    $('.ew-buttons > .offset-sm-2').removeClass('offset-sm-2');

    // get list of crew documents via API
    const apiEndpoint = 'crew-medical-history-for-admin';
    $.ajax({
      url: `${parentUrl}api/Registration/${apiEndpoint}`,
      method: 'GET',
      data: {
        crewID: currentlyEditedCrewID
      },
      success: function(response) {
        if (response.success) {
          // Parse the data in the response
          const dataArray = response.data;
          const tbody = $('#ForAdminTable tbody'); // select the tbody element
          if (dataArray.length > 0) {
              const tableName = 'CrewMedicalHistoryForAdmin';
              for (let rowIndex = 0; rowIndex < dataArray.length; rowIndex++) {
                const row = dataArray[rowIndex];
                const rowID = row['ID'];
                delete row['ID']; // delete ID for easier looping for table columns
                const tr = $('<tr>'); // create a new tr element 

                // first td for dropdown
                const buttonsTd = $('<td>').addClass('ew-list-option-body w-1');
                const buttonDropdownDiv = $('<div>').addClass('btn-group btn-group-sm ew-btn-dropdown');
                const dropdownButton = $('<button>')
                    .addClass('btn-default btn dropdown-toggle')
                    .attr('type', 'button')
                    .attr('data-title', 'Options')
                    .attr('data-bs-toggle', 'dropdown')
                    .attr('data-bs-auto-close', 'true');
                const dropdownButtonIcon = $('<i>').addClass('fa-solid fa-bars ew-icon').attr('data-phrase', 'ButtonListOptions');
                const dropdownButtonIconSpan = $('<span>').addClass('visually-hidden').text('Options');
                const dropdownUl = $('<ul>').addClass('dropdown-menu ew-dropdown-menu ew-list-options');
                const firstDropdownLi = $('<li>');
                const editUrl = `${parentUrl}${tableName}Edit/${rowID}?crewID=${currentlyEditedCrewID}`;
                const editAnchor = $('<a>')
                    .addClass('ew-row-link ew-edit dropdown-item')
                    .attr('data-caption', ew.language.phrase("EditLink"))
                    .attr('href', editUrl)
                    .on('click', function(event) {
                        event.preventDefault();
                        isChangeTabApproved = true;
                        proceedToLink(editUrl);
                    });
                const editAnchorIcon = $('<i>').addClass('fa-solid fa-pen ew-icon me-2').attr('data-phrase', 'EditLink');
                const editAnchorSpan = $('<span>').addClass('visually-hidden').text(ew.language.phrase("EditLink"));
                const editAnchorText= ew.language.phrase("EditLink");
                const secondDropdownLi = $('<li>');
                const deleteAnchor = $('<a>')
                    .addClass('ew-row-link dropdown-item')
                    .attr('data-caption', ew.language.phrase("DeleteLink"))
                    .on('click', function(event) {
                        event.preventDefault();
                        $('#btn-delete').attr('selected-table-id', rowID);
                        $('#delete-modal-dialog').modal('show');
                    });
                const deleteAnchorIcon = $('<i>').addClass('fa-solid fa-trash ew-icon me-2').attr('data-phrase', 'DeleteLink');
                const deleteAnchorSpan = $('<span>').addClass('visually-hidden').text(ew.language.phrase("DeleteLink"));
                const deleteAnchorText= ew.language.phrase("DeleteLink");
                deleteAnchorIcon.append(deleteAnchorSpan);
                deleteAnchor.append(deleteAnchorIcon);
                deleteAnchor.append(deleteAnchorText);
                secondDropdownLi.append(deleteAnchor);
                editAnchorIcon.append(editAnchorSpan);
                editAnchor.append(editAnchorIcon);
                editAnchor.append(editAnchorText);
                firstDropdownLi.append(editAnchor);
                dropdownUl.append(firstDropdownLi);
                dropdownUl.append(secondDropdownLi);
                dropdownButtonIcon.append(dropdownButtonIconSpan);
                dropdownButton.append(dropdownButtonIcon);
                buttonDropdownDiv.append(dropdownButton);
                buttonDropdownDiv.append(dropdownUl);
                buttonsTd.append(buttonDropdownDiv);
                tr.append(buttonsTd);

                // second td for sequence
                const sequenceTd = $('<td>').addClass('ew-list-option-body text-nowrap').attr('data-name', 'sequence');
                const sequenceNumberString = (rowIndex + 1).toString() + '.';
                const sequenceSpan = $('<span>').text(sequenceNumberString);
                sequenceTd.append(sequenceSpan);
                tr.append(sequenceTd);

                // remaining td for each column
                for (const columnName of Object.keys(row)) {
                  const dataTd = $('<td>');
                  const columnValue = row[columnName];
                  if (columnName === 'DateOccurence') {
                    const dataSpan = $('<span class="text-nowrap">').text(columnValue);
                    dataTd.append(dataSpan);
                  } else {
                    const dataSpan = $('<span>').text(columnValue);
                    dataTd.append(dataSpan);
                  }
                  tr.append(dataTd);
                }
                tbody.append(tr);
              }
          } else {
              const columnsCount = $('#ForAdminTable th.ew-table-header-cell').length;
              for (let rowIndex = 0; rowIndex < 3; rowIndex++) {
                const tr = $('<tr>'); // create a new tr element 

                // 1 is for buttons dropdown(for edit) column and 1 for sequence number column
                const emptyTdWithColspan = $('<td>').html('&nbsp;').attr('colspan', 2); 
                tr.append(emptyTdWithColspan);
                for (let columnIndex = 0; columnIndex < columnsCount; columnIndex++) {
                  const emptyTd = $('<td>').html('&nbsp;');
                  tr.append(emptyTd);
                }
                tbody.append(tr);
              }
          }
        } else {
          // Handle the error
          ew.showToast(response.errorMessage);
        }
      },
      error: function(xhr, textStatus, errorThrown) {
        // Handle the error
        ew.showToast(errorThrown);
      }
    });
    $('div#r_MTCrewID').hide();
    function toggleInputVisibility(value) {
        if (value === 'Signed Off Due To Medical Reasons') {
            $('#x_VesselName').prop('disabled', false);
            $('#x_DateOccurence').prop('disabled', false);
            $('#x_PlaceOccurence').prop('disabled', false);
            $('#x_PeriodOfDisability').prop('disabled', true);
            $('#x_PeriodOfDisability').val(null);
            $('#x_PresentCondition').prop('disabled', true);
            $('#x_PresentCondition').val(null);
            $('#x_Treatment').prop('disabled', true);
            $('#x_Treatment').val(null);
            $('#x_Details').prop('disabled', false);
        } else if (value === 'Medical Operation') {
            $('#x_VesselName').prop('disabled', true);
            $('#x_VesselName').val(null);
            $('#x_DateOccurence').prop('disabled', false);
            $('#x_PlaceOccurence').prop('disabled', true);
            $('#x_PlaceOccurence').val(null);
            $('#x_PeriodOfDisability').prop('disabled', false);
            $('#x_PresentCondition').prop('disabled', false);
            $('#x_Treatment').prop('disabled', true);
            $('#x_Treatment').val(null);
            $('#x_Details').prop('disabled', false);
        } else if (value === 'Has Illness Or Accident Consulted To Doctor') {
            $('#x_VesselName').prop('disabled', true);
            $('#x_VesselName').val(null);
            $('#x_DateOccurence').prop('disabled', false);
            $('#x_PlaceOccurence').prop('disabled', true);
            $('#x_PlaceOccurence').val(null);
            $('#x_PeriodOfDisability').prop('disabled', true);
            $('#x_PeriodOfDisability').val(null);
            $('#x_PresentCondition').prop('disabled', true);
            $('#x_PresentCondition').val(null);
            $('#x_Treatment').prop('disabled', false);
            $('#x_Details').prop('disabled', false);
        } else if (value === 'Health Or Disability Problem') {
            $('#x_VesselName').prop('disabled', true);
            $('#x_VesselName').val(null);
            $('#x_DateOccurence').prop('disabled', true);
            $('#x_DateOccurence').val(null);
            $('#x_PlaceOccurence').prop('disabled', true);
            $('#x_PlaceOccurence').val(null);
            $('#x_PeriodOfDisability').prop('disabled', true);
            $('#x_PeriodOfDisability').val(null);
            $('#x_PresentCondition').prop('disabled', true);
            $('#x_PresentCondition').val(null);
            $('#x_Treatment').prop('disabled', true);
            $('#x_Treatment').val(null);
            $('#x_Details').prop('disabled', false);
        } else if (value === 'None') {
            $('#x_VesselName').prop('disabled', true);
            $('#x_VesselName').val(null);
            $('#x_DateOccurence').prop('disabled', true);
            $('#x_DateOccurence').val(null);
            $('#x_PlaceOccurence').prop('disabled', true);
            $('#x_PlaceOccurence').val(null);
            $('#x_PeriodOfDisability').prop('disabled', true);
            $('#x_PeriodOfDisability').val(null);
            $('#x_PresentCondition').prop('disabled', true);
            $('#x_PresentCondition').val(null);
            $('#x_Treatment').prop('disabled', true);
            $('#x_Treatment').val(null);
            $('#x_Details').prop('disabled', true);
            $('#x_Details').val(null);
        }
    }
    toggleInputVisibility($('#x__Type').select2('data')[0].id);
    $('#x__Type').on('select2:select', function (e) {
        const value = e.params.data.id;
        toggleInputVisibility(value);
    });
    const errorMessage = urlQueryParams.get('errorMessage');
    if (errorMessage !== null) {
        const decodedErrorMessage = decodeURIComponent(errorMessage);
        ew.showToast(decodedErrorMessage);
        urlQueryParams.delete('errorMessage');
        currentUrlObject.search = urlQueryParams.toString();
        history.pushState(null, '', currentUrlObject);
    }

    // AUTO SAVE WHEN MOVING FROM THIS TAB
    $(window).on('beforeunload', function(event) {
        if (!isChangeTabApproved && window[formID].modified) {
            event.preventDefault();
            event.returnValue = '';
            return '';
        }
    });
    $("#btn-proceed").click(function() {
        isChangeTabApproved = true;
        const targetUrlRelative = $(this).attr('target-url-relative');
        $('#approve-modal-dialog').modal('hide');
        proceedToLink(targetUrlRelative);
    });
    $('ul.nav.nav-tabs li.nav-item a.nav-link').on('click', function(event) {
        event.preventDefault();
        const targetUrlRelative = $(this).attr('href');
        if (window[formID].modified) {
            const validateAddEntryResult = validateAddEntry({ isAllEmptyAllowed: true });
            if (validateAddEntryResult === 'valid') {
                $('#loading-modal-dialog').modal('show');
                addEntry({ redirectUrlWhenSuccess: targetUrlRelative });
            } else if (validateAddEntryResult === 'empty') {
                isChangeTabApproved = true;
                proceedToLink(targetUrlRelative);
            } else if (validateAddEntryResult === 'invalid') {
                scrollToFirstInvalidInput();
                $('#btn-proceed').attr('target-url-relative', targetUrlRelative);
                $('#proceed-modal-dialog').modal('show');
            }
        } else {
            isChangeTabApproved = true;
            proceedToLink(targetUrlRelative);
        }
    });
    function proceedToLink(targetUrlRelative) {
        const baseUrl = new URL(window.location.href).origin;
        const targetUrl = new URL(baseUrl + targetUrlRelative);
        window.location.href = targetUrl.href;
    }
    function scrollToFirstInvalidInput() {
        const invalidInput = $("input.is-invalid:first");
        if (invalidInput.length > 0) { // Check if an invalid input is found
            const offset = invalidInput.offset().top; // Calculate the offset of the invalid input element from the top of the page
            const windowHeight = $(window).height(); // Calculate the height of the viewport
            const scrollPosition = offset - (windowHeight / 2); // Calculate the scroll position to center the invalid input element
            $("html, body").animate({ // Animate the scroll to the center position
                scrollTop: scrollPosition
            }, 1000); // Adjust the duration as needed (in milliseconds)
        }
    }
    function addEntry({ redirectUrlWhenSuccess }) {
        isChangeTabApproved = true;
        let formData = $(`form#${formID}`).serialize();
        $('input[type="checkbox"]').each(function() {
            // Jika checkbox tidak dicentang dan tidak ada di hasil serialize(),
            // tambahkan nilai 0 ke hasil serialize()
            if (!this.checked && formData.indexOf(this.name) === -1) {
                formData += '&' + this.name + '=0';
            }
        });
        $.ajax({
            url: addEntryUrl,
            type: 'POST',
            data: formData,
            success: function(res) {
                const $errorDiv = $(res).find('div.ew-error'); // res is a string containing html document
                $('#loading-modal-dialog').modal('hide');
                if ($errorDiv.length > 0) {
                    ew.showToast($errorDiv.text());
                } else {
                    proceedToLink(redirectUrlWhenSuccess);
                }
            },
            error: function(xhr, textStatus, errorThrown) {
                $('#loading-modal-dialog').modal('hide');
                isChangeTabApproved = false;
                ew.showToast(errorThrown);
            }
        });
    }
    function validateAddEntry({ isAllEmptyAllowed }) {
        let formErrorCount = 0;
        let formEmptyCount = 0;
        let isNotEmpty = true;
        function validateRequiredField(fieldName) {
            const fieldNameWithPrefix = `x_${fieldName}`;
            const fieldValue = $(`#${fieldNameWithPrefix}`).val();
            if (fieldValue === '' || fieldValue === null) {
                return false;
            } else {
                return true;
            }
        }
        function validateDateField(fieldName) {
            const errorMessage = (selectedLanguage.id === 'en-US') ? 'Incorrect date (dd MMM yyyy)' : 'Tanggal tidak benar (dd MMM yyyy)';
            const fieldNameWithPrefix = `x_${fieldName}`;
            const fieldValue = $(`#${fieldNameWithPrefix}`).val();
            const dateParts = fieldValue.split(' ');
            const day = parseInt(dateParts[0], 10);
            const monthNamesEnglish = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
            const monthNamesIndonesian = ['Jan', 'Feb', 'Mar', 'Apr', 'Mei', 'Jun', 'Jul', 'Agu', 'Sep', 'Okt', 'Nov', 'Des'];
            const month = (selectedLanguage.id === 'en-US') ? monthNamesEnglish.indexOf(dateParts[1]) : monthNamesIndonesian.indexOf(dateParts[1]);
            const year = parseInt(dateParts[2], 10);
            let valid = false;
            if (year >= 1900 && year <= 9999 && month >= 0 && day >= 1 && day <= 31) {
                switch (month) {
                    case 1: // February
                        // Check for leap year
                        valid = day <= (((year % 4 === 0 && year % 100 !== 0) || year % 400 === 0) ? 29 : 28);
                        break;
                    case 3: // April
                    case 5: // June
                    case 8: // September
                    case 10: // November
                        valid = day <= 30;
                        break;
                    default:
                        valid = true;
                        break;
                }
            }
            if (!valid) {
                window[formID].fields[fieldName].addError({ custom: errorMessage });
                window[formID].fields[fieldName].updateFeedback();
                window[formID].addError(fieldName, { custom: errorMessage });
                return false;
            } else {
                return true;
            }
        }
        function validateFieldWithRegex(fieldName, errorMessage, regex) {
            const fieldNameWithPrefix = `x_${fieldName}`;
            const fieldValue = $(`#${fieldNameWithPrefix}`).val();
            if (!regex.test(fieldValue)) {  
                window[formID].fields[fieldName].addError({ custom: errorMessage });
                window[formID].fields[fieldName].updateFeedback();
                window[formID].addError(fieldName, { custom: errorMessage });
                return false;
            } else {
                return true;
            }
        }
        function displayRequiredFieldError(fieldName) {
            const errorMessage = (selectedLanguage.id === 'en-US') ? "Please enter required field" : "Masukkan input yang dibutuhkan";
            const fieldNameWithPrefix = `x_${fieldName}`;
            const fieldCaption = $(`label[for=${fieldNameWithPrefix}]`).text();
            const errorMessageWithFieldName = `${errorMessage} - ${fieldCaption}`;
            window[formID].fields[fieldName].addError({ custom: errorMessageWithFieldName });
            window[formID].fields[fieldName].updateFeedback();
            window[formID].addError(fieldName, { custom: errorMessageWithFieldName });
        }
        const noDigitsRegex = /^[^0-9]+$/;
        const noDigitsRegexErrorMessage = (selectedLanguage.id === 'en-US') ? "Must not contain digits" : "Tidak boleh mengandung angka";
        isNotEmpty = validateRequiredField("_Type");
        if (!isNotEmpty) {
            formEmptyCount += 1;
            formErrorCount += 1;
            isNotEmpty = validateRequiredField("VesselName");
            if (!isNotEmpty) {
                formEmptyCount += 1;
            }
            isNotEmpty = validateRequiredField("DateOccurence");
            if (!isNotEmpty) {
                formEmptyCount += 1;
            }
            isNotEmpty = validateRequiredField("PlaceOccurence");
            if (!isNotEmpty) {
                formEmptyCount += 1;
            }
            isNotEmpty = validateRequiredField("PeriodOfDisability");
            if (!isNotEmpty) {
                formEmptyCount += 1;
            }
            isNotEmpty = validateRequiredField("PresentCondition");
            if (!isNotEmpty) {
                formEmptyCount += 1;
            }
            isNotEmpty = validateRequiredField("Treatment");
            if (!isNotEmpty) {
                formEmptyCount += 1;
            }
            isNotEmpty = validateRequiredField("Details");
            if (!isNotEmpty) {
                formEmptyCount += 1;
            }
            if (formEmptyCount === 8) {
                return 'empty';
            } else {
                displayRequiredFieldError("_Type");
            }
        } else {
            const typeFieldValue = $("#x__Type").val();
            if (typeFieldValue === 'Signed Off Due To Medical Reasons') {
                isNotEmpty = validateRequiredField("VesselName");
                if (!isNotEmpty) {
                    formErrorCount += 1;
                    displayRequiredFieldError("VesselName");
                }
                isNotEmpty = validateRequiredField("DateOccurence");
                if (!isNotEmpty) {
                    formErrorCount += 1;
                    displayRequiredFieldError("DateOccurence");
                } else {
                    formErrorCount += validateDateField("DateOccurence") ? 0 : 1;
                }
                isNotEmpty = validateRequiredField("PlaceOccurence");
                if (!isNotEmpty) {
                    formErrorCount += 1;
                    displayRequiredFieldError("PlaceOccurence");
                } else {
                    formErrorCount += validateFieldWithRegex("PlaceOccurence",  noDigitsRegexErrorMessage, noDigitsRegex) ? 0 : 1;
                }
                isNotEmpty = validateRequiredField("Details");
                if (!isNotEmpty) {
                    formErrorCount += 1;
                    displayRequiredFieldError("Details");
                }
            } else if (typeFieldValue === 'Medical Operation') {
                isNotEmpty = validateRequiredField("DateOccurence");
                if (!isNotEmpty) {
                    formErrorCount += 1;
                    displayRequiredFieldError("DateOccurence");
                } else {
                    formErrorCount += validateDateField("DateOccurence") ? 0 : 1;
                }
                isNotEmpty = validateRequiredField("PeriodOfDisability");
                if (!isNotEmpty) {
                    formErrorCount += 1;
                    displayRequiredFieldError("PeriodOfDisability");
                }
                isNotEmpty = validateRequiredField("PresentCondition");
                if (!isNotEmpty) {
                    formErrorCount += 1;
                    displayRequiredFieldError("PresentCondition");
                }
                isNotEmpty = validateRequiredField("Details");
                if (!isNotEmpty) {
                    formErrorCount += 1;
                    displayRequiredFieldError("Details");
                }
            } else if (typeFieldValue === 'Has Illness Or Accident Consulted To Doctor') {
                isNotEmpty = validateRequiredField("DateOccurence");
                if (!isNotEmpty) {
                    formErrorCount += 1;
                    displayRequiredFieldError("DateOccurence");
                } else {
                    formErrorCount += validateDateField("DateOccurence") ? 0 : 1;
                }
                isNotEmpty = validateRequiredField("Treatment");
                if (!isNotEmpty) {
                    formErrorCount += 1;
                    displayRequiredFieldError("Treatment");
                }
                isNotEmpty = validateRequiredField("Details");
                if (!isNotEmpty) {
                    formErrorCount += 1;
                    displayRequiredFieldError("Details");
                }
            } else if (typeFieldValue === 'Health Or Disability Problem') {
                isNotEmpty = validateRequiredField("Details");
                if (!isNotEmpty) {
                    formErrorCount += 1;
                    displayRequiredFieldError("Details");
                }
            }
        }
        if (formErrorCount > 0) {
            return 'invalid';
        } else {
            return 'valid';
        }
    }

    // gmandayu: notification need to read.
    const getUnreadNotificationUrl = `${parentUrl}api/Notification/unread-notification`;
    function loadPage() {
        $.ajax({
            url: getUnreadNotificationUrl,
            method: 'GET',
            success: function(response) {
                const notificationIcon = document.querySelector('.nav-icon.fa-bell');
                if(response.success)
                {
                    notificationIcon.classList.add('animate');
                }
                else 
                {
                    notificationIcon.classList.remove('animate');
                }
            },
            error: function(xhr, textStatus, errorThrown) {
                console.error('Kesalahan saat memuat notifikasi:', errorThrown);
            }
        });
    }
    $(document).ready(function() {
        loadPage();
    });
});
</script>
