@{
    // View
    View = this;

    // Check action result
    if (crewAppraisalForAdminDelete.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!crewAppraisalForAdminDelete.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(crewAppraisalForAdminDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { CrewAppraisalForAdmin: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fCrewAppraisalForAdmindelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fCrewAppraisalForAdmindelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@crewAppraisalForAdminDelete.ShowPageHeader()
@crewAppraisalForAdminDelete.ShowMessages()
<form name="fCrewAppraisalForAdmindelete" id="fCrewAppraisalForAdmindelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in crewAppraisalForAdminDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(crewAppraisalForAdminDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(crewAppraisalForAdminDelete.TableContainerClass)" style="@(crewAppraisalForAdminDelete.TableContainerStyle)">
<table class="@(crewAppraisalForAdminDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (crewAppraisalForAdminDelete.VesselName.Visible) { // crewAppraisalForAdminDelete.VesselName.Visible (begin)
        <th class="@Html.Raw(crewAppraisalForAdminDelete.VesselName.HeaderCellClass)"><span id="elh_CrewAppraisalForAdmin_VesselName" class="CrewAppraisalForAdmin_VesselName">@Html.Raw(crewAppraisalForAdminDelete.VesselName.Caption)</span></th>
} @* crewAppraisalForAdminDelete.VesselName.Visible (end) *@
@if (crewAppraisalForAdminDelete.MTRankID.Visible) { // crewAppraisalForAdminDelete.MTRankID.Visible (begin)
        <th class="@Html.Raw(crewAppraisalForAdminDelete.MTRankID.HeaderCellClass)"><span id="elh_CrewAppraisalForAdmin_MTRankID" class="CrewAppraisalForAdmin_MTRankID">@Html.Raw(crewAppraisalForAdminDelete.MTRankID.Caption)</span></th>
} @* crewAppraisalForAdminDelete.MTRankID.Visible (end) *@
@if (crewAppraisalForAdminDelete.Questionnaire.Visible) { // crewAppraisalForAdminDelete.Questionnaire.Visible (begin)
        <th class="@Html.Raw(crewAppraisalForAdminDelete.Questionnaire.HeaderCellClass)"><span id="elh_CrewAppraisalForAdmin_Questionnaire" class="CrewAppraisalForAdmin_Questionnaire">@Html.Raw(crewAppraisalForAdminDelete.Questionnaire.Caption)</span></th>
} @* crewAppraisalForAdminDelete.Questionnaire.Visible (end) *@
@if (crewAppraisalForAdminDelete.Approved.Visible) { // crewAppraisalForAdminDelete.Approved.Visible (begin)
        <th class="@Html.Raw(crewAppraisalForAdminDelete.Approved.HeaderCellClass)"><span id="elh_CrewAppraisalForAdmin_Approved" class="CrewAppraisalForAdmin_Approved">@Html.Raw(crewAppraisalForAdminDelete.Approved.Caption)</span></th>
} @* crewAppraisalForAdminDelete.Approved.Visible (end) *@
@if (crewAppraisalForAdminDelete.AverageRating.Visible) { // crewAppraisalForAdminDelete.AverageRating.Visible (begin)
        <th class="@Html.Raw(crewAppraisalForAdminDelete.AverageRating.HeaderCellClass)"><span id="elh_CrewAppraisalForAdmin_AverageRating" class="CrewAppraisalForAdmin_AverageRating">@Html.Raw(crewAppraisalForAdminDelete.AverageRating.Caption)</span></th>
} @* crewAppraisalForAdminDelete.AverageRating.Visible (end) *@
@if (crewAppraisalForAdminDelete.Rehire.Visible) { // crewAppraisalForAdminDelete.Rehire.Visible (begin)
        <th class="@Html.Raw(crewAppraisalForAdminDelete.Rehire.HeaderCellClass)"><span id="elh_CrewAppraisalForAdmin_Rehire" class="CrewAppraisalForAdmin_Rehire">@Html.Raw(crewAppraisalForAdminDelete.Rehire.Caption)</span></th>
} @* crewAppraisalForAdminDelete.Rehire.Visible (end) *@
@if (crewAppraisalForAdminDelete.Promote.Visible) { // crewAppraisalForAdminDelete.Promote.Visible (begin)
        <th class="@Html.Raw(crewAppraisalForAdminDelete.Promote.HeaderCellClass)"><span id="elh_CrewAppraisalForAdmin_Promote" class="CrewAppraisalForAdmin_Promote">@Html.Raw(crewAppraisalForAdminDelete.Promote.Caption)</span></th>
} @* crewAppraisalForAdminDelete.Promote.Visible (end) *@
@if (crewAppraisalForAdminDelete.Appraiser.Visible) { // crewAppraisalForAdminDelete.Appraiser.Visible (begin)
        <th class="@Html.Raw(crewAppraisalForAdminDelete.Appraiser.HeaderCellClass)"><span id="elh_CrewAppraisalForAdmin_Appraiser" class="CrewAppraisalForAdmin_Appraiser">@Html.Raw(crewAppraisalForAdminDelete.Appraiser.Caption)</span></th>
} @* crewAppraisalForAdminDelete.Appraiser.Visible (end) *@
@if (crewAppraisalForAdminDelete.DateInput.Visible) { // crewAppraisalForAdminDelete.DateInput.Visible (begin)
        <th class="@Html.Raw(crewAppraisalForAdminDelete.DateInput.HeaderCellClass)"><span id="elh_CrewAppraisalForAdmin_DateInput" class="CrewAppraisalForAdmin_DateInput">@Html.Raw(crewAppraisalForAdminDelete.DateInput.Caption)</span></th>
} @* crewAppraisalForAdminDelete.DateInput.Visible (end) *@
@if (crewAppraisalForAdminDelete.MTCrewID.Visible) { // crewAppraisalForAdminDelete.MTCrewID.Visible (begin)
        <th class="@Html.Raw(crewAppraisalForAdminDelete.MTCrewID.HeaderCellClass)"><span id="elh_CrewAppraisalForAdmin_MTCrewID" class="CrewAppraisalForAdmin_MTCrewID">@Html.Raw(crewAppraisalForAdminDelete.MTCrewID.Caption)</span></th>
} @* crewAppraisalForAdminDelete.MTCrewID.Visible (end) *@
@if (crewAppraisalForAdminDelete.CreatedByUserID.Visible) { // crewAppraisalForAdminDelete.CreatedByUserID.Visible (begin)
        <th class="@Html.Raw(crewAppraisalForAdminDelete.CreatedByUserID.HeaderCellClass)"><span id="elh_CrewAppraisalForAdmin_CreatedByUserID" class="CrewAppraisalForAdmin_CreatedByUserID">@Html.Raw(crewAppraisalForAdminDelete.CreatedByUserID.Caption)</span></th>
} @* crewAppraisalForAdminDelete.CreatedByUserID.Visible (end) *@
@if (crewAppraisalForAdminDelete.CreatedDateTime.Visible) { // crewAppraisalForAdminDelete.CreatedDateTime.Visible (begin)
        <th class="@Html.Raw(crewAppraisalForAdminDelete.CreatedDateTime.HeaderCellClass)"><span id="elh_CrewAppraisalForAdmin_CreatedDateTime" class="CrewAppraisalForAdmin_CreatedDateTime">@Html.Raw(crewAppraisalForAdminDelete.CreatedDateTime.Caption)</span></th>
} @* crewAppraisalForAdminDelete.CreatedDateTime.Visible (end) *@
@if (crewAppraisalForAdminDelete.LastUpdatedByUserID.Visible) { // crewAppraisalForAdminDelete.LastUpdatedByUserID.Visible (begin)
        <th class="@Html.Raw(crewAppraisalForAdminDelete.LastUpdatedByUserID.HeaderCellClass)"><span id="elh_CrewAppraisalForAdmin_LastUpdatedByUserID" class="CrewAppraisalForAdmin_LastUpdatedByUserID">@Html.Raw(crewAppraisalForAdminDelete.LastUpdatedByUserID.Caption)</span></th>
} @* crewAppraisalForAdminDelete.LastUpdatedByUserID.Visible (end) *@
@if (crewAppraisalForAdminDelete.LastUpdatedDateTime.Visible) { // crewAppraisalForAdminDelete.LastUpdatedDateTime.Visible (begin)
        <th class="@Html.Raw(crewAppraisalForAdminDelete.LastUpdatedDateTime.HeaderCellClass)"><span id="elh_CrewAppraisalForAdmin_LastUpdatedDateTime" class="CrewAppraisalForAdmin_LastUpdatedDateTime">@Html.Raw(crewAppraisalForAdminDelete.LastUpdatedDateTime.Caption)</span></th>
} @* crewAppraisalForAdminDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ crewAppraisalForAdminDelete.RecordCount = 0; }
@while (crewAppraisalForAdminDelete.Recordset != null && await crewAppraisalForAdminDelete.Recordset.ReadAsync()) { // DN
    crewAppraisalForAdminDelete.RecordCount++;
    crewAppraisalForAdminDelete.RowCount++;

    // Set row properties
    crewAppraisalForAdminDelete.ResetAttributes();
    crewAppraisalForAdminDelete.RowType = RowType.View; // View

    // Get the field contents
    await crewAppraisalForAdminDelete.LoadRowValues(crewAppraisalForAdminDelete.Recordset);

    // Render row
    await crewAppraisalForAdminDelete.RenderRow();
    <tr @Html.Raw(crewAppraisalForAdminDelete.RowAttributes)>
@if (crewAppraisalForAdminDelete.VesselName.Visible) { // crewAppraisalForAdminDelete.VesselName.Visible (begin)
        <td @Html.Raw(crewAppraisalForAdminDelete.VesselName.CellAttributes)>
<span id="el@(crewAppraisalForAdminDelete.RowCount)_CrewAppraisalForAdmin_VesselName" class="el_CrewAppraisalForAdmin_VesselName">
<span @Html.Raw(crewAppraisalForAdminDelete.VesselName.ViewAttributes)>
@Html.Raw(crewAppraisalForAdminDelete.VesselName.GetViewValue())</span>
</span></td>
} @* crewAppraisalForAdminDelete.VesselName.Visible (end) *@
@if (crewAppraisalForAdminDelete.MTRankID.Visible) { // crewAppraisalForAdminDelete.MTRankID.Visible (begin)
        <td @Html.Raw(crewAppraisalForAdminDelete.MTRankID.CellAttributes)>
<span id="el@(crewAppraisalForAdminDelete.RowCount)_CrewAppraisalForAdmin_MTRankID" class="el_CrewAppraisalForAdmin_MTRankID">
<span @Html.Raw(crewAppraisalForAdminDelete.MTRankID.ViewAttributes)>
@Html.Raw(crewAppraisalForAdminDelete.MTRankID.GetViewValue())</span>
</span></td>
} @* crewAppraisalForAdminDelete.MTRankID.Visible (end) *@
@if (crewAppraisalForAdminDelete.Questionnaire.Visible) { // crewAppraisalForAdminDelete.Questionnaire.Visible (begin)
        <td @Html.Raw(crewAppraisalForAdminDelete.Questionnaire.CellAttributes)>
<span id="el@(crewAppraisalForAdminDelete.RowCount)_CrewAppraisalForAdmin_Questionnaire" class="el_CrewAppraisalForAdmin_Questionnaire">
<span @Html.Raw(crewAppraisalForAdminDelete.Questionnaire.ViewAttributes)>
@Html.Raw(crewAppraisalForAdminDelete.Questionnaire.GetViewValue())</span>
</span></td>
} @* crewAppraisalForAdminDelete.Questionnaire.Visible (end) *@
@if (crewAppraisalForAdminDelete.Approved.Visible) { // crewAppraisalForAdminDelete.Approved.Visible (begin)
        <td @Html.Raw(crewAppraisalForAdminDelete.Approved.CellAttributes)>
<span id="el@(crewAppraisalForAdminDelete.RowCount)_CrewAppraisalForAdmin_Approved" class="el_CrewAppraisalForAdmin_Approved">
<span @Html.Raw(crewAppraisalForAdminDelete.Approved.ViewAttributes)>
<div class="form-check d-inline-block">
    <input type="checkbox" id="x_Approved_@(crewAppraisalForAdminDelete.RowCount)" class="form-check-input" value="@(crewAppraisalForAdminDelete.Approved.GetViewValue())" disabled checked="@(ConvertToBool(crewAppraisalForAdminDelete.Approved.CurrentValue))">
    <label class="form-check-label" for="x_Approved_@(crewAppraisalForAdminDelete.RowCount)"></label>
</div></span>
</span></td>
} @* crewAppraisalForAdminDelete.Approved.Visible (end) *@
@if (crewAppraisalForAdminDelete.AverageRating.Visible) { // crewAppraisalForAdminDelete.AverageRating.Visible (begin)
        <td @Html.Raw(crewAppraisalForAdminDelete.AverageRating.CellAttributes)>
<span id="el@(crewAppraisalForAdminDelete.RowCount)_CrewAppraisalForAdmin_AverageRating" class="el_CrewAppraisalForAdmin_AverageRating">
<span @Html.Raw(crewAppraisalForAdminDelete.AverageRating.ViewAttributes)>
@Html.Raw(crewAppraisalForAdminDelete.AverageRating.GetViewValue())</span>
</span></td>
} @* crewAppraisalForAdminDelete.AverageRating.Visible (end) *@
@if (crewAppraisalForAdminDelete.Rehire.Visible) { // crewAppraisalForAdminDelete.Rehire.Visible (begin)
        <td @Html.Raw(crewAppraisalForAdminDelete.Rehire.CellAttributes)>
<span id="el@(crewAppraisalForAdminDelete.RowCount)_CrewAppraisalForAdmin_Rehire" class="el_CrewAppraisalForAdmin_Rehire">
<span @Html.Raw(crewAppraisalForAdminDelete.Rehire.ViewAttributes)>
<div class="form-check d-inline-block">
    <input type="checkbox" id="x_Rehire_@(crewAppraisalForAdminDelete.RowCount)" class="form-check-input" value="@(crewAppraisalForAdminDelete.Rehire.GetViewValue())" disabled checked="@(ConvertToBool(crewAppraisalForAdminDelete.Rehire.CurrentValue))">
    <label class="form-check-label" for="x_Rehire_@(crewAppraisalForAdminDelete.RowCount)"></label>
</div></span>
</span></td>
} @* crewAppraisalForAdminDelete.Rehire.Visible (end) *@
@if (crewAppraisalForAdminDelete.Promote.Visible) { // crewAppraisalForAdminDelete.Promote.Visible (begin)
        <td @Html.Raw(crewAppraisalForAdminDelete.Promote.CellAttributes)>
<span id="el@(crewAppraisalForAdminDelete.RowCount)_CrewAppraisalForAdmin_Promote" class="el_CrewAppraisalForAdmin_Promote">
<span @Html.Raw(crewAppraisalForAdminDelete.Promote.ViewAttributes)>
<div class="form-check d-inline-block">
    <input type="checkbox" id="x_Promote_@(crewAppraisalForAdminDelete.RowCount)" class="form-check-input" value="@(crewAppraisalForAdminDelete.Promote.GetViewValue())" disabled checked="@(ConvertToBool(crewAppraisalForAdminDelete.Promote.CurrentValue))">
    <label class="form-check-label" for="x_Promote_@(crewAppraisalForAdminDelete.RowCount)"></label>
</div></span>
</span></td>
} @* crewAppraisalForAdminDelete.Promote.Visible (end) *@
@if (crewAppraisalForAdminDelete.Appraiser.Visible) { // crewAppraisalForAdminDelete.Appraiser.Visible (begin)
        <td @Html.Raw(crewAppraisalForAdminDelete.Appraiser.CellAttributes)>
<span id="el@(crewAppraisalForAdminDelete.RowCount)_CrewAppraisalForAdmin_Appraiser" class="el_CrewAppraisalForAdmin_Appraiser">
<span @Html.Raw(crewAppraisalForAdminDelete.Appraiser.ViewAttributes)>
@Html.Raw(crewAppraisalForAdminDelete.Appraiser.GetViewValue())</span>
</span></td>
} @* crewAppraisalForAdminDelete.Appraiser.Visible (end) *@
@if (crewAppraisalForAdminDelete.DateInput.Visible) { // crewAppraisalForAdminDelete.DateInput.Visible (begin)
        <td @Html.Raw(crewAppraisalForAdminDelete.DateInput.CellAttributes)>
<span id="el@(crewAppraisalForAdminDelete.RowCount)_CrewAppraisalForAdmin_DateInput" class="el_CrewAppraisalForAdmin_DateInput">
<span @Html.Raw(crewAppraisalForAdminDelete.DateInput.ViewAttributes)>
@Html.Raw(crewAppraisalForAdminDelete.DateInput.GetViewValue())</span>
</span></td>
} @* crewAppraisalForAdminDelete.DateInput.Visible (end) *@
@if (crewAppraisalForAdminDelete.MTCrewID.Visible) { // crewAppraisalForAdminDelete.MTCrewID.Visible (begin)
        <td @Html.Raw(crewAppraisalForAdminDelete.MTCrewID.CellAttributes)>
<span id="el@(crewAppraisalForAdminDelete.RowCount)_CrewAppraisalForAdmin_MTCrewID" class="el_CrewAppraisalForAdmin_MTCrewID">
<span @Html.Raw(crewAppraisalForAdminDelete.MTCrewID.ViewAttributes)>
@Html.Raw(crewAppraisalForAdminDelete.MTCrewID.GetViewValue())</span>
</span></td>
} @* crewAppraisalForAdminDelete.MTCrewID.Visible (end) *@
@if (crewAppraisalForAdminDelete.CreatedByUserID.Visible) { // crewAppraisalForAdminDelete.CreatedByUserID.Visible (begin)
        <td @Html.Raw(crewAppraisalForAdminDelete.CreatedByUserID.CellAttributes)>
<span id="el@(crewAppraisalForAdminDelete.RowCount)_CrewAppraisalForAdmin_CreatedByUserID" class="el_CrewAppraisalForAdmin_CreatedByUserID">
<span @Html.Raw(crewAppraisalForAdminDelete.CreatedByUserID.ViewAttributes)>
@Html.Raw(crewAppraisalForAdminDelete.CreatedByUserID.GetViewValue())</span>
</span></td>
} @* crewAppraisalForAdminDelete.CreatedByUserID.Visible (end) *@
@if (crewAppraisalForAdminDelete.CreatedDateTime.Visible) { // crewAppraisalForAdminDelete.CreatedDateTime.Visible (begin)
        <td @Html.Raw(crewAppraisalForAdminDelete.CreatedDateTime.CellAttributes)>
<span id="el@(crewAppraisalForAdminDelete.RowCount)_CrewAppraisalForAdmin_CreatedDateTime" class="el_CrewAppraisalForAdmin_CreatedDateTime">
<span @Html.Raw(crewAppraisalForAdminDelete.CreatedDateTime.ViewAttributes)>
@Html.Raw(crewAppraisalForAdminDelete.CreatedDateTime.GetViewValue())</span>
</span></td>
} @* crewAppraisalForAdminDelete.CreatedDateTime.Visible (end) *@
@if (crewAppraisalForAdminDelete.LastUpdatedByUserID.Visible) { // crewAppraisalForAdminDelete.LastUpdatedByUserID.Visible (begin)
        <td @Html.Raw(crewAppraisalForAdminDelete.LastUpdatedByUserID.CellAttributes)>
<span id="el@(crewAppraisalForAdminDelete.RowCount)_CrewAppraisalForAdmin_LastUpdatedByUserID" class="el_CrewAppraisalForAdmin_LastUpdatedByUserID">
<span @Html.Raw(crewAppraisalForAdminDelete.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(crewAppraisalForAdminDelete.LastUpdatedByUserID.GetViewValue())</span>
</span></td>
} @* crewAppraisalForAdminDelete.LastUpdatedByUserID.Visible (end) *@
@if (crewAppraisalForAdminDelete.LastUpdatedDateTime.Visible) { // crewAppraisalForAdminDelete.LastUpdatedDateTime.Visible (begin)
        <td @Html.Raw(crewAppraisalForAdminDelete.LastUpdatedDateTime.CellAttributes)>
<span id="el@(crewAppraisalForAdminDelete.RowCount)_CrewAppraisalForAdmin_LastUpdatedDateTime" class="el_CrewAppraisalForAdmin_LastUpdatedDateTime">
<span @Html.Raw(crewAppraisalForAdminDelete.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(crewAppraisalForAdminDelete.LastUpdatedDateTime.GetViewValue())</span>
</span></td>
} @* crewAppraisalForAdminDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
}
@{ crewAppraisalForAdminDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(crewAppraisalForAdminDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@crewAppraisalForAdminDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
