@{
    // View
    View = this;

    // Check action result
    if (crewMedicalCertificateForAdminDelete.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!crewMedicalCertificateForAdminDelete.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(crewMedicalCertificateForAdminDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { CrewMedicalCertificateForAdmin: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fCrewMedicalCertificateForAdmindelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fCrewMedicalCertificateForAdmindelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@crewMedicalCertificateForAdminDelete.ShowPageHeader()
@crewMedicalCertificateForAdminDelete.ShowMessages()
<form name="fCrewMedicalCertificateForAdmindelete" id="fCrewMedicalCertificateForAdmindelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in crewMedicalCertificateForAdminDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(crewMedicalCertificateForAdminDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(crewMedicalCertificateForAdminDelete.TableContainerClass)" style="@(crewMedicalCertificateForAdminDelete.TableContainerStyle)">
<table class="@(crewMedicalCertificateForAdminDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (crewMedicalCertificateForAdminDelete.MTMedicalCertificateID.Visible) { // crewMedicalCertificateForAdminDelete.MTMedicalCertificateID.Visible (begin)
        <th class="@Html.Raw(crewMedicalCertificateForAdminDelete.MTMedicalCertificateID.HeaderCellClass)"><span id="elh_CrewMedicalCertificateForAdmin_MTMedicalCertificateID" class="CrewMedicalCertificateForAdmin_MTMedicalCertificateID">@Html.Raw(crewMedicalCertificateForAdminDelete.MTMedicalCertificateID.Caption)</span></th>
} @* crewMedicalCertificateForAdminDelete.MTMedicalCertificateID.Visible (end) *@
@if (crewMedicalCertificateForAdminDelete.Number.Visible) { // crewMedicalCertificateForAdminDelete.Number.Visible (begin)
        <th class="@Html.Raw(crewMedicalCertificateForAdminDelete.Number.HeaderCellClass)"><span id="elh_CrewMedicalCertificateForAdmin_Number" class="CrewMedicalCertificateForAdmin_Number">@Html.Raw(crewMedicalCertificateForAdminDelete.Number.Caption)</span></th>
} @* crewMedicalCertificateForAdminDelete.Number.Visible (end) *@
@if (crewMedicalCertificateForAdminDelete.PlaceOfIssue.Visible) { // crewMedicalCertificateForAdminDelete.PlaceOfIssue.Visible (begin)
        <th class="@Html.Raw(crewMedicalCertificateForAdminDelete.PlaceOfIssue.HeaderCellClass)"><span id="elh_CrewMedicalCertificateForAdmin_PlaceOfIssue" class="CrewMedicalCertificateForAdmin_PlaceOfIssue">@Html.Raw(crewMedicalCertificateForAdminDelete.PlaceOfIssue.Caption)</span></th>
} @* crewMedicalCertificateForAdminDelete.PlaceOfIssue.Visible (end) *@
@if (crewMedicalCertificateForAdminDelete.DateOfIssue.Visible) { // crewMedicalCertificateForAdminDelete.DateOfIssue.Visible (begin)
        <th class="@Html.Raw(crewMedicalCertificateForAdminDelete.DateOfIssue.HeaderCellClass)"><span id="elh_CrewMedicalCertificateForAdmin_DateOfIssue" class="CrewMedicalCertificateForAdmin_DateOfIssue">@Html.Raw(crewMedicalCertificateForAdminDelete.DateOfIssue.Caption)</span></th>
} @* crewMedicalCertificateForAdminDelete.DateOfIssue.Visible (end) *@
@if (crewMedicalCertificateForAdminDelete.ExpirationDate.Visible) { // crewMedicalCertificateForAdminDelete.ExpirationDate.Visible (begin)
        <th class="@Html.Raw(crewMedicalCertificateForAdminDelete.ExpirationDate.HeaderCellClass)"><span id="elh_CrewMedicalCertificateForAdmin_ExpirationDate" class="CrewMedicalCertificateForAdmin_ExpirationDate">@Html.Raw(crewMedicalCertificateForAdminDelete.ExpirationDate.Caption)</span></th>
} @* crewMedicalCertificateForAdminDelete.ExpirationDate.Visible (end) *@
@if (crewMedicalCertificateForAdminDelete.Attachment.Visible) { // crewMedicalCertificateForAdminDelete.Attachment.Visible (begin)
        <th class="@Html.Raw(crewMedicalCertificateForAdminDelete.Attachment.HeaderCellClass)"><span id="elh_CrewMedicalCertificateForAdmin_Attachment" class="CrewMedicalCertificateForAdmin_Attachment">@Html.Raw(crewMedicalCertificateForAdminDelete.Attachment.Caption)</span></th>
} @* crewMedicalCertificateForAdminDelete.Attachment.Visible (end) *@
@if (crewMedicalCertificateForAdminDelete.MTCrewID.Visible) { // crewMedicalCertificateForAdminDelete.MTCrewID.Visible (begin)
        <th class="@Html.Raw(crewMedicalCertificateForAdminDelete.MTCrewID.HeaderCellClass)"><span id="elh_CrewMedicalCertificateForAdmin_MTCrewID" class="CrewMedicalCertificateForAdmin_MTCrewID">@Html.Raw(crewMedicalCertificateForAdminDelete.MTCrewID.Caption)</span></th>
} @* crewMedicalCertificateForAdminDelete.MTCrewID.Visible (end) *@
@if (crewMedicalCertificateForAdminDelete.CreatedByUserID.Visible) { // crewMedicalCertificateForAdminDelete.CreatedByUserID.Visible (begin)
        <th class="@Html.Raw(crewMedicalCertificateForAdminDelete.CreatedByUserID.HeaderCellClass)"><span id="elh_CrewMedicalCertificateForAdmin_CreatedByUserID" class="CrewMedicalCertificateForAdmin_CreatedByUserID">@Html.Raw(crewMedicalCertificateForAdminDelete.CreatedByUserID.Caption)</span></th>
} @* crewMedicalCertificateForAdminDelete.CreatedByUserID.Visible (end) *@
@if (crewMedicalCertificateForAdminDelete.CreatedDateTime.Visible) { // crewMedicalCertificateForAdminDelete.CreatedDateTime.Visible (begin)
        <th class="@Html.Raw(crewMedicalCertificateForAdminDelete.CreatedDateTime.HeaderCellClass)"><span id="elh_CrewMedicalCertificateForAdmin_CreatedDateTime" class="CrewMedicalCertificateForAdmin_CreatedDateTime">@Html.Raw(crewMedicalCertificateForAdminDelete.CreatedDateTime.Caption)</span></th>
} @* crewMedicalCertificateForAdminDelete.CreatedDateTime.Visible (end) *@
@if (crewMedicalCertificateForAdminDelete.LastUpdatedByUserID.Visible) { // crewMedicalCertificateForAdminDelete.LastUpdatedByUserID.Visible (begin)
        <th class="@Html.Raw(crewMedicalCertificateForAdminDelete.LastUpdatedByUserID.HeaderCellClass)"><span id="elh_CrewMedicalCertificateForAdmin_LastUpdatedByUserID" class="CrewMedicalCertificateForAdmin_LastUpdatedByUserID">@Html.Raw(crewMedicalCertificateForAdminDelete.LastUpdatedByUserID.Caption)</span></th>
} @* crewMedicalCertificateForAdminDelete.LastUpdatedByUserID.Visible (end) *@
@if (crewMedicalCertificateForAdminDelete.LastUpdatedDateTime.Visible) { // crewMedicalCertificateForAdminDelete.LastUpdatedDateTime.Visible (begin)
        <th class="@Html.Raw(crewMedicalCertificateForAdminDelete.LastUpdatedDateTime.HeaderCellClass)"><span id="elh_CrewMedicalCertificateForAdmin_LastUpdatedDateTime" class="CrewMedicalCertificateForAdmin_LastUpdatedDateTime">@Html.Raw(crewMedicalCertificateForAdminDelete.LastUpdatedDateTime.Caption)</span></th>
} @* crewMedicalCertificateForAdminDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ crewMedicalCertificateForAdminDelete.RecordCount = 0; }
@while (crewMedicalCertificateForAdminDelete.Recordset != null && await crewMedicalCertificateForAdminDelete.Recordset.ReadAsync()) { // DN
    crewMedicalCertificateForAdminDelete.RecordCount++;
    crewMedicalCertificateForAdminDelete.RowCount++;

    // Set row properties
    crewMedicalCertificateForAdminDelete.ResetAttributes();
    crewMedicalCertificateForAdminDelete.RowType = RowType.View; // View

    // Get the field contents
    await crewMedicalCertificateForAdminDelete.LoadRowValues(crewMedicalCertificateForAdminDelete.Recordset);

    // Render row
    await crewMedicalCertificateForAdminDelete.RenderRow();
    <tr @Html.Raw(crewMedicalCertificateForAdminDelete.RowAttributes)>
@if (crewMedicalCertificateForAdminDelete.MTMedicalCertificateID.Visible) { // crewMedicalCertificateForAdminDelete.MTMedicalCertificateID.Visible (begin)
        <td @Html.Raw(crewMedicalCertificateForAdminDelete.MTMedicalCertificateID.CellAttributes)>
<span id="el@(crewMedicalCertificateForAdminDelete.RowCount)_CrewMedicalCertificateForAdmin_MTMedicalCertificateID" class="el_CrewMedicalCertificateForAdmin_MTMedicalCertificateID">
<span @Html.Raw(crewMedicalCertificateForAdminDelete.MTMedicalCertificateID.ViewAttributes)>
@Html.Raw(crewMedicalCertificateForAdminDelete.MTMedicalCertificateID.GetViewValue())</span>
</span></td>
} @* crewMedicalCertificateForAdminDelete.MTMedicalCertificateID.Visible (end) *@
@if (crewMedicalCertificateForAdminDelete.Number.Visible) { // crewMedicalCertificateForAdminDelete.Number.Visible (begin)
        <td @Html.Raw(crewMedicalCertificateForAdminDelete.Number.CellAttributes)>
<span id="el@(crewMedicalCertificateForAdminDelete.RowCount)_CrewMedicalCertificateForAdmin_Number" class="el_CrewMedicalCertificateForAdmin_Number">
<span @Html.Raw(crewMedicalCertificateForAdminDelete.Number.ViewAttributes)>
@Html.Raw(crewMedicalCertificateForAdminDelete.Number.GetViewValue())</span>
</span></td>
} @* crewMedicalCertificateForAdminDelete.Number.Visible (end) *@
@if (crewMedicalCertificateForAdminDelete.PlaceOfIssue.Visible) { // crewMedicalCertificateForAdminDelete.PlaceOfIssue.Visible (begin)
        <td @Html.Raw(crewMedicalCertificateForAdminDelete.PlaceOfIssue.CellAttributes)>
<span id="el@(crewMedicalCertificateForAdminDelete.RowCount)_CrewMedicalCertificateForAdmin_PlaceOfIssue" class="el_CrewMedicalCertificateForAdmin_PlaceOfIssue">
<span @Html.Raw(crewMedicalCertificateForAdminDelete.PlaceOfIssue.ViewAttributes)>
@Html.Raw(crewMedicalCertificateForAdminDelete.PlaceOfIssue.GetViewValue())</span>
</span></td>
} @* crewMedicalCertificateForAdminDelete.PlaceOfIssue.Visible (end) *@
@if (crewMedicalCertificateForAdminDelete.DateOfIssue.Visible) { // crewMedicalCertificateForAdminDelete.DateOfIssue.Visible (begin)
        <td @Html.Raw(crewMedicalCertificateForAdminDelete.DateOfIssue.CellAttributes)>
<span id="el@(crewMedicalCertificateForAdminDelete.RowCount)_CrewMedicalCertificateForAdmin_DateOfIssue" class="el_CrewMedicalCertificateForAdmin_DateOfIssue">
<span @Html.Raw(crewMedicalCertificateForAdminDelete.DateOfIssue.ViewAttributes)>
@Html.Raw(crewMedicalCertificateForAdminDelete.DateOfIssue.GetViewValue())</span>
</span></td>
} @* crewMedicalCertificateForAdminDelete.DateOfIssue.Visible (end) *@
@if (crewMedicalCertificateForAdminDelete.ExpirationDate.Visible) { // crewMedicalCertificateForAdminDelete.ExpirationDate.Visible (begin)
        <td @Html.Raw(crewMedicalCertificateForAdminDelete.ExpirationDate.CellAttributes)>
<span id="el@(crewMedicalCertificateForAdminDelete.RowCount)_CrewMedicalCertificateForAdmin_ExpirationDate" class="el_CrewMedicalCertificateForAdmin_ExpirationDate">
<span @Html.Raw(crewMedicalCertificateForAdminDelete.ExpirationDate.ViewAttributes)>
@Html.Raw(crewMedicalCertificateForAdminDelete.ExpirationDate.GetViewValue())</span>
</span></td>
} @* crewMedicalCertificateForAdminDelete.ExpirationDate.Visible (end) *@
@if (crewMedicalCertificateForAdminDelete.Attachment.Visible) { // crewMedicalCertificateForAdminDelete.Attachment.Visible (begin)
        <td @Html.Raw(crewMedicalCertificateForAdminDelete.Attachment.CellAttributes)>
<span id="el@(crewMedicalCertificateForAdminDelete.RowCount)_CrewMedicalCertificateForAdmin_Attachment" class="el_CrewMedicalCertificateForAdmin_Attachment">
<span>
@Html.Raw(await GetFileViewTag((DbField)crewMedicalCertificateForAdminDelete.Attachment, ConvertToString(crewMedicalCertificateForAdminDelete.Attachment.GetViewValue()), false))
</span>
</span></td>
} @* crewMedicalCertificateForAdminDelete.Attachment.Visible (end) *@
@if (crewMedicalCertificateForAdminDelete.MTCrewID.Visible) { // crewMedicalCertificateForAdminDelete.MTCrewID.Visible (begin)
        <td @Html.Raw(crewMedicalCertificateForAdminDelete.MTCrewID.CellAttributes)>
<span id="el@(crewMedicalCertificateForAdminDelete.RowCount)_CrewMedicalCertificateForAdmin_MTCrewID" class="el_CrewMedicalCertificateForAdmin_MTCrewID">
<span @Html.Raw(crewMedicalCertificateForAdminDelete.MTCrewID.ViewAttributes)>
@Html.Raw(crewMedicalCertificateForAdminDelete.MTCrewID.GetViewValue())</span>
</span></td>
} @* crewMedicalCertificateForAdminDelete.MTCrewID.Visible (end) *@
@if (crewMedicalCertificateForAdminDelete.CreatedByUserID.Visible) { // crewMedicalCertificateForAdminDelete.CreatedByUserID.Visible (begin)
        <td @Html.Raw(crewMedicalCertificateForAdminDelete.CreatedByUserID.CellAttributes)>
<span id="el@(crewMedicalCertificateForAdminDelete.RowCount)_CrewMedicalCertificateForAdmin_CreatedByUserID" class="el_CrewMedicalCertificateForAdmin_CreatedByUserID">
<span @Html.Raw(crewMedicalCertificateForAdminDelete.CreatedByUserID.ViewAttributes)>
@Html.Raw(crewMedicalCertificateForAdminDelete.CreatedByUserID.GetViewValue())</span>
</span></td>
} @* crewMedicalCertificateForAdminDelete.CreatedByUserID.Visible (end) *@
@if (crewMedicalCertificateForAdminDelete.CreatedDateTime.Visible) { // crewMedicalCertificateForAdminDelete.CreatedDateTime.Visible (begin)
        <td @Html.Raw(crewMedicalCertificateForAdminDelete.CreatedDateTime.CellAttributes)>
<span id="el@(crewMedicalCertificateForAdminDelete.RowCount)_CrewMedicalCertificateForAdmin_CreatedDateTime" class="el_CrewMedicalCertificateForAdmin_CreatedDateTime">
<span @Html.Raw(crewMedicalCertificateForAdminDelete.CreatedDateTime.ViewAttributes)>
@Html.Raw(crewMedicalCertificateForAdminDelete.CreatedDateTime.GetViewValue())</span>
</span></td>
} @* crewMedicalCertificateForAdminDelete.CreatedDateTime.Visible (end) *@
@if (crewMedicalCertificateForAdminDelete.LastUpdatedByUserID.Visible) { // crewMedicalCertificateForAdminDelete.LastUpdatedByUserID.Visible (begin)
        <td @Html.Raw(crewMedicalCertificateForAdminDelete.LastUpdatedByUserID.CellAttributes)>
<span id="el@(crewMedicalCertificateForAdminDelete.RowCount)_CrewMedicalCertificateForAdmin_LastUpdatedByUserID" class="el_CrewMedicalCertificateForAdmin_LastUpdatedByUserID">
<span @Html.Raw(crewMedicalCertificateForAdminDelete.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(crewMedicalCertificateForAdminDelete.LastUpdatedByUserID.GetViewValue())</span>
</span></td>
} @* crewMedicalCertificateForAdminDelete.LastUpdatedByUserID.Visible (end) *@
@if (crewMedicalCertificateForAdminDelete.LastUpdatedDateTime.Visible) { // crewMedicalCertificateForAdminDelete.LastUpdatedDateTime.Visible (begin)
        <td @Html.Raw(crewMedicalCertificateForAdminDelete.LastUpdatedDateTime.CellAttributes)>
<span id="el@(crewMedicalCertificateForAdminDelete.RowCount)_CrewMedicalCertificateForAdmin_LastUpdatedDateTime" class="el_CrewMedicalCertificateForAdmin_LastUpdatedDateTime">
<span @Html.Raw(crewMedicalCertificateForAdminDelete.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(crewMedicalCertificateForAdminDelete.LastUpdatedDateTime.GetViewValue())</span>
</span></td>
} @* crewMedicalCertificateForAdminDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
}
@{ crewMedicalCertificateForAdminDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(crewMedicalCertificateForAdminDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@crewMedicalCertificateForAdminDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
