@{
    // View
    View = this;

    // Check action result
    if (crewAppraisalForAdminView.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!crewAppraisalForAdminView.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
@if (!crewAppraisalForAdminView.IsExport()) {
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!crewAppraisalForAdminView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @crewAppraisalForAdminView.ExportOptions.RenderBody()
    @crewAppraisalForAdminView.OtherOptions.RenderBody()
</div>
}
@crewAppraisalForAdminView.ShowPageHeader()
@crewAppraisalForAdminView.ShowMessages()
<main class="view">
<form name="fCrewAppraisalForAdminview" id="fCrewAppraisalForAdminview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (!crewAppraisalForAdminView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(crewAppraisalForAdminView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { CrewAppraisalForAdmin: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fCrewAppraisalForAdminview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fCrewAppraisalForAdminview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
}
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(crewAppraisalForAdminView.IsModal)">
<table class="@(crewAppraisalForAdminView.TableClass)">
@if (crewAppraisalForAdminView.VesselName.Visible) { // crewAppraisalForAdminView.VesselName.Visible (begin)
    <tr id="r_VesselName" @Html.Raw(crewAppraisalForAdminView.VesselName.RowAttributes)>
        <td class="@(crewAppraisalForAdminView.TableLeftColumnClass)"><span id="elh_CrewAppraisalForAdmin_VesselName">@Html.Raw(crewAppraisalForAdminView.VesselName.Caption)</span></td>
        <td data-name="VesselName" @Html.Raw(crewAppraisalForAdminView.VesselName.CellAttributes)>
<span id="el_CrewAppraisalForAdmin_VesselName">
<span @Html.Raw(crewAppraisalForAdminView.VesselName.ViewAttributes)>
@Html.Raw(crewAppraisalForAdminView.VesselName.GetViewValue())</span>
</span></td>
    </tr>
} @* crewAppraisalForAdminView.VesselName.Visible (end) *@
@if (crewAppraisalForAdminView.MTRankID.Visible) { // crewAppraisalForAdminView.MTRankID.Visible (begin)
    <tr id="r_MTRankID" @Html.Raw(crewAppraisalForAdminView.MTRankID.RowAttributes)>
        <td class="@(crewAppraisalForAdminView.TableLeftColumnClass)"><span id="elh_CrewAppraisalForAdmin_MTRankID">@Html.Raw(crewAppraisalForAdminView.MTRankID.Caption)</span></td>
        <td data-name="MTRankID" @Html.Raw(crewAppraisalForAdminView.MTRankID.CellAttributes)>
<span id="el_CrewAppraisalForAdmin_MTRankID">
<span @Html.Raw(crewAppraisalForAdminView.MTRankID.ViewAttributes)>
@Html.Raw(crewAppraisalForAdminView.MTRankID.GetViewValue())</span>
</span></td>
    </tr>
} @* crewAppraisalForAdminView.MTRankID.Visible (end) *@
@if (crewAppraisalForAdminView.Questionnaire.Visible) { // crewAppraisalForAdminView.Questionnaire.Visible (begin)
    <tr id="r_Questionnaire" @Html.Raw(crewAppraisalForAdminView.Questionnaire.RowAttributes)>
        <td class="@(crewAppraisalForAdminView.TableLeftColumnClass)"><span id="elh_CrewAppraisalForAdmin_Questionnaire">@Html.Raw(crewAppraisalForAdminView.Questionnaire.Caption)</span></td>
        <td data-name="Questionnaire" @Html.Raw(crewAppraisalForAdminView.Questionnaire.CellAttributes)>
<span id="el_CrewAppraisalForAdmin_Questionnaire">
<span @Html.Raw(crewAppraisalForAdminView.Questionnaire.ViewAttributes)>
@Html.Raw(crewAppraisalForAdminView.Questionnaire.GetViewValue())</span>
</span></td>
    </tr>
} @* crewAppraisalForAdminView.Questionnaire.Visible (end) *@
@if (crewAppraisalForAdminView.Approved.Visible) { // crewAppraisalForAdminView.Approved.Visible (begin)
    <tr id="r_Approved" @Html.Raw(crewAppraisalForAdminView.Approved.RowAttributes)>
        <td class="@(crewAppraisalForAdminView.TableLeftColumnClass)"><span id="elh_CrewAppraisalForAdmin_Approved">@Html.Raw(crewAppraisalForAdminView.Approved.Caption)</span></td>
        <td data-name="Approved" @Html.Raw(crewAppraisalForAdminView.Approved.CellAttributes)>
<span id="el_CrewAppraisalForAdmin_Approved">
<span @Html.Raw(crewAppraisalForAdminView.Approved.ViewAttributes)>
<div class="form-check d-inline-block">
    <input type="checkbox" id="x_Approved_@(crewAppraisalForAdminView.RowCount)" class="form-check-input" value="@(crewAppraisalForAdminView.Approved.GetViewValue())" disabled checked="@(ConvertToBool(crewAppraisalForAdminView.Approved.CurrentValue))">
    <label class="form-check-label" for="x_Approved_@(crewAppraisalForAdminView.RowCount)"></label>
</div></span>
</span></td>
    </tr>
} @* crewAppraisalForAdminView.Approved.Visible (end) *@
@if (crewAppraisalForAdminView.AverageRating.Visible) { // crewAppraisalForAdminView.AverageRating.Visible (begin)
    <tr id="r_AverageRating" @Html.Raw(crewAppraisalForAdminView.AverageRating.RowAttributes)>
        <td class="@(crewAppraisalForAdminView.TableLeftColumnClass)"><span id="elh_CrewAppraisalForAdmin_AverageRating">@Html.Raw(crewAppraisalForAdminView.AverageRating.Caption)</span></td>
        <td data-name="AverageRating" @Html.Raw(crewAppraisalForAdminView.AverageRating.CellAttributes)>
<span id="el_CrewAppraisalForAdmin_AverageRating">
<span @Html.Raw(crewAppraisalForAdminView.AverageRating.ViewAttributes)>
@Html.Raw(crewAppraisalForAdminView.AverageRating.GetViewValue())</span>
</span></td>
    </tr>
} @* crewAppraisalForAdminView.AverageRating.Visible (end) *@
@if (crewAppraisalForAdminView.Rehire.Visible) { // crewAppraisalForAdminView.Rehire.Visible (begin)
    <tr id="r_Rehire" @Html.Raw(crewAppraisalForAdminView.Rehire.RowAttributes)>
        <td class="@(crewAppraisalForAdminView.TableLeftColumnClass)"><span id="elh_CrewAppraisalForAdmin_Rehire">@Html.Raw(crewAppraisalForAdminView.Rehire.Caption)</span></td>
        <td data-name="Rehire" @Html.Raw(crewAppraisalForAdminView.Rehire.CellAttributes)>
<span id="el_CrewAppraisalForAdmin_Rehire">
<span @Html.Raw(crewAppraisalForAdminView.Rehire.ViewAttributes)>
<div class="form-check d-inline-block">
    <input type="checkbox" id="x_Rehire_@(crewAppraisalForAdminView.RowCount)" class="form-check-input" value="@(crewAppraisalForAdminView.Rehire.GetViewValue())" disabled checked="@(ConvertToBool(crewAppraisalForAdminView.Rehire.CurrentValue))">
    <label class="form-check-label" for="x_Rehire_@(crewAppraisalForAdminView.RowCount)"></label>
</div></span>
</span></td>
    </tr>
} @* crewAppraisalForAdminView.Rehire.Visible (end) *@
@if (crewAppraisalForAdminView.Promote.Visible) { // crewAppraisalForAdminView.Promote.Visible (begin)
    <tr id="r_Promote" @Html.Raw(crewAppraisalForAdminView.Promote.RowAttributes)>
        <td class="@(crewAppraisalForAdminView.TableLeftColumnClass)"><span id="elh_CrewAppraisalForAdmin_Promote">@Html.Raw(crewAppraisalForAdminView.Promote.Caption)</span></td>
        <td data-name="Promote" @Html.Raw(crewAppraisalForAdminView.Promote.CellAttributes)>
<span id="el_CrewAppraisalForAdmin_Promote">
<span @Html.Raw(crewAppraisalForAdminView.Promote.ViewAttributes)>
<div class="form-check d-inline-block">
    <input type="checkbox" id="x_Promote_@(crewAppraisalForAdminView.RowCount)" class="form-check-input" value="@(crewAppraisalForAdminView.Promote.GetViewValue())" disabled checked="@(ConvertToBool(crewAppraisalForAdminView.Promote.CurrentValue))">
    <label class="form-check-label" for="x_Promote_@(crewAppraisalForAdminView.RowCount)"></label>
</div></span>
</span></td>
    </tr>
} @* crewAppraisalForAdminView.Promote.Visible (end) *@
@if (crewAppraisalForAdminView.Appraiser.Visible) { // crewAppraisalForAdminView.Appraiser.Visible (begin)
    <tr id="r_Appraiser" @Html.Raw(crewAppraisalForAdminView.Appraiser.RowAttributes)>
        <td class="@(crewAppraisalForAdminView.TableLeftColumnClass)"><span id="elh_CrewAppraisalForAdmin_Appraiser">@Html.Raw(crewAppraisalForAdminView.Appraiser.Caption)</span></td>
        <td data-name="Appraiser" @Html.Raw(crewAppraisalForAdminView.Appraiser.CellAttributes)>
<span id="el_CrewAppraisalForAdmin_Appraiser">
<span @Html.Raw(crewAppraisalForAdminView.Appraiser.ViewAttributes)>
@Html.Raw(crewAppraisalForAdminView.Appraiser.GetViewValue())</span>
</span></td>
    </tr>
} @* crewAppraisalForAdminView.Appraiser.Visible (end) *@
@if (crewAppraisalForAdminView.DateInput.Visible) { // crewAppraisalForAdminView.DateInput.Visible (begin)
    <tr id="r_DateInput" @Html.Raw(crewAppraisalForAdminView.DateInput.RowAttributes)>
        <td class="@(crewAppraisalForAdminView.TableLeftColumnClass)"><span id="elh_CrewAppraisalForAdmin_DateInput">@Html.Raw(crewAppraisalForAdminView.DateInput.Caption)</span></td>
        <td data-name="DateInput" @Html.Raw(crewAppraisalForAdminView.DateInput.CellAttributes)>
<span id="el_CrewAppraisalForAdmin_DateInput">
<span @Html.Raw(crewAppraisalForAdminView.DateInput.ViewAttributes)>
@Html.Raw(crewAppraisalForAdminView.DateInput.GetViewValue())</span>
</span></td>
    </tr>
} @* crewAppraisalForAdminView.DateInput.Visible (end) *@
@if (crewAppraisalForAdminView.MTCrewID.Visible) { // crewAppraisalForAdminView.MTCrewID.Visible (begin)
    <tr id="r_MTCrewID" @Html.Raw(crewAppraisalForAdminView.MTCrewID.RowAttributes)>
        <td class="@(crewAppraisalForAdminView.TableLeftColumnClass)"><span id="elh_CrewAppraisalForAdmin_MTCrewID">@Html.Raw(crewAppraisalForAdminView.MTCrewID.Caption)</span></td>
        <td data-name="MTCrewID" @Html.Raw(crewAppraisalForAdminView.MTCrewID.CellAttributes)>
<span id="el_CrewAppraisalForAdmin_MTCrewID">
<span @Html.Raw(crewAppraisalForAdminView.MTCrewID.ViewAttributes)>
@Html.Raw(crewAppraisalForAdminView.MTCrewID.GetViewValue())</span>
</span></td>
    </tr>
} @* crewAppraisalForAdminView.MTCrewID.Visible (end) *@
@if (crewAppraisalForAdminView.CreatedByUserID.Visible) { // crewAppraisalForAdminView.CreatedByUserID.Visible (begin)
    <tr id="r_CreatedByUserID" @Html.Raw(crewAppraisalForAdminView.CreatedByUserID.RowAttributes)>
        <td class="@(crewAppraisalForAdminView.TableLeftColumnClass)"><span id="elh_CrewAppraisalForAdmin_CreatedByUserID">@Html.Raw(crewAppraisalForAdminView.CreatedByUserID.Caption)</span></td>
        <td data-name="CreatedByUserID" @Html.Raw(crewAppraisalForAdminView.CreatedByUserID.CellAttributes)>
<span id="el_CrewAppraisalForAdmin_CreatedByUserID">
<span @Html.Raw(crewAppraisalForAdminView.CreatedByUserID.ViewAttributes)>
@Html.Raw(crewAppraisalForAdminView.CreatedByUserID.GetViewValue())</span>
</span></td>
    </tr>
} @* crewAppraisalForAdminView.CreatedByUserID.Visible (end) *@
@if (crewAppraisalForAdminView.CreatedDateTime.Visible) { // crewAppraisalForAdminView.CreatedDateTime.Visible (begin)
    <tr id="r_CreatedDateTime" @Html.Raw(crewAppraisalForAdminView.CreatedDateTime.RowAttributes)>
        <td class="@(crewAppraisalForAdminView.TableLeftColumnClass)"><span id="elh_CrewAppraisalForAdmin_CreatedDateTime">@Html.Raw(crewAppraisalForAdminView.CreatedDateTime.Caption)</span></td>
        <td data-name="CreatedDateTime" @Html.Raw(crewAppraisalForAdminView.CreatedDateTime.CellAttributes)>
<span id="el_CrewAppraisalForAdmin_CreatedDateTime">
<span @Html.Raw(crewAppraisalForAdminView.CreatedDateTime.ViewAttributes)>
@Html.Raw(crewAppraisalForAdminView.CreatedDateTime.GetViewValue())</span>
</span></td>
    </tr>
} @* crewAppraisalForAdminView.CreatedDateTime.Visible (end) *@
@if (crewAppraisalForAdminView.LastUpdatedByUserID.Visible) { // crewAppraisalForAdminView.LastUpdatedByUserID.Visible (begin)
    <tr id="r_LastUpdatedByUserID" @Html.Raw(crewAppraisalForAdminView.LastUpdatedByUserID.RowAttributes)>
        <td class="@(crewAppraisalForAdminView.TableLeftColumnClass)"><span id="elh_CrewAppraisalForAdmin_LastUpdatedByUserID">@Html.Raw(crewAppraisalForAdminView.LastUpdatedByUserID.Caption)</span></td>
        <td data-name="LastUpdatedByUserID" @Html.Raw(crewAppraisalForAdminView.LastUpdatedByUserID.CellAttributes)>
<span id="el_CrewAppraisalForAdmin_LastUpdatedByUserID">
<span @Html.Raw(crewAppraisalForAdminView.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(crewAppraisalForAdminView.LastUpdatedByUserID.GetViewValue())</span>
</span></td>
    </tr>
} @* crewAppraisalForAdminView.LastUpdatedByUserID.Visible (end) *@
@if (crewAppraisalForAdminView.LastUpdatedDateTime.Visible) { // crewAppraisalForAdminView.LastUpdatedDateTime.Visible (begin)
    <tr id="r_LastUpdatedDateTime" @Html.Raw(crewAppraisalForAdminView.LastUpdatedDateTime.RowAttributes)>
        <td class="@(crewAppraisalForAdminView.TableLeftColumnClass)"><span id="elh_CrewAppraisalForAdmin_LastUpdatedDateTime">@Html.Raw(crewAppraisalForAdminView.LastUpdatedDateTime.Caption)</span></td>
        <td data-name="LastUpdatedDateTime" @Html.Raw(crewAppraisalForAdminView.LastUpdatedDateTime.CellAttributes)>
<span id="el_CrewAppraisalForAdmin_LastUpdatedDateTime">
<span @Html.Raw(crewAppraisalForAdminView.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(crewAppraisalForAdminView.LastUpdatedDateTime.GetViewValue())</span>
</span></td>
    </tr>
} @* crewAppraisalForAdminView.LastUpdatedDateTime.Visible (end) *@
</table>
@{ crewAppraisalForAdminView.CloseRecordset(); }
</form>
</main>
@crewAppraisalForAdminView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!crewAppraisalForAdminView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
