@{
    // View
    View = this;

    // Check action result
    if (crewGeneralDataForAdminViewModeList.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!crewGeneralDataForAdminViewModeList.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
@if (!crewGeneralDataForAdminViewModeList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(crewGeneralDataForAdminViewModeList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { CrewGeneralDataForAdminViewMode: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(crewGeneralDataForAdminViewModeList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(crewGeneralDataForAdminViewModeList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(crewGeneralDataForAdminViewModeList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(crewGeneralDataForAdminViewModeList.FormKeyCountName)")

        // Dynamic selection lists
        .setLists({
            "EmployeeStatus": @Html.Raw(crewGeneralDataForAdminViewModeList.EmployeeStatus.ToClientList(crewGeneralDataForAdminViewModeList)),
            "FormSubmittedDateTime": @Html.Raw(crewGeneralDataForAdminViewModeList.FormSubmittedDateTime.ToClientList(crewGeneralDataForAdminViewModeList)),
            "LastUpdatedByUserID": @Html.Raw(crewGeneralDataForAdminViewModeList.LastUpdatedByUserID.ToClientList(crewGeneralDataForAdminViewModeList)),
            "LastUpdatedDateTime": @Html.Raw(crewGeneralDataForAdminViewModeList.LastUpdatedDateTime.ToClientList(crewGeneralDataForAdminViewModeList)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
ew.PREVIEW_SELECTOR = ".ew-preview-btn";
ew.PREVIEW_MODAL_CLASS = "modal modal-fullscreen-sm-down";
ew.PREVIEW_ROW = true;
ew.PREVIEW_SINGLE_ROW = false;
ew.PREVIEW || ew.ready("head", ew.PATH_BASE + "js/preview.min.js?v=20.1.0", "preview");
</script>
<script>
window.Tabulator || loadjs([
    ew.PATH_BASE + "js/tabulator.min.js?v=20.1.5",
    ew.PATH_BASE + "css/@CssFile("tabulator_bootstrap5.css", false)?v=20.1.5"
], "import");
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!crewGeneralDataForAdminViewModeList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (crewGeneralDataForAdminViewModeList.TotalRecords > 0 && crewGeneralDataForAdminViewModeList.ExportOptions.Visible) {
    crewGeneralDataForAdminViewModeList.ExportOptions.Render("body");
}
@if (crewGeneralDataForAdminViewModeList.ImportOptions.Visible) {
    crewGeneralDataForAdminViewModeList.ImportOptions.Render("body");
}
@if (crewGeneralDataForAdminViewModeList.SearchOptions.Visible) {
    crewGeneralDataForAdminViewModeList.SearchOptions.Render("body");
}
@if (crewGeneralDataForAdminViewModeList.FilterOptions.Visible) {
    crewGeneralDataForAdminViewModeList.FilterOptions.Render("body");
}
</div>
}
@if (crewGeneralDataForAdminViewModeList.ShowCurrentFilter) {
    crewGeneralDataForAdminViewModeList.ShowFilterList();
}
@if (!crewGeneralDataForAdminViewModeList.IsModal) {
<form name="fCrewGeneralDataForAdminViewModesrch" id="fCrewGeneralDataForAdminViewModesrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" autocomplete="on">
<div id="fCrewGeneralDataForAdminViewModesrch_search_panel" class="mb-2 mb-sm-0 @(crewGeneralDataForAdminViewModeList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(crewGeneralDataForAdminViewModeList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { CrewGeneralDataForAdminViewMode: currentTable } });
var currentForm;
var fCrewGeneralDataForAdminViewModesrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fCrewGeneralDataForAdminViewModesrch")
        .setPageId("list")
@if (crewGeneralDataForAdminViewModeList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Add fields
        .setFields([

            ["EmployeeStatus", [], fields.EmployeeStatus.isInvalid],
            ["FormSubmittedDateTime", [], fields.FormSubmittedDateTime.isInvalid],
            ["LastUpdatedByUserID", [], fields.LastUpdatedByUserID.isInvalid],
            ["LastUpdatedDateTime", [], fields.LastUpdatedDateTime.isInvalid]
        ])
        // Validate form
        .setValidate(
            async function () {
                if (!this.validateRequired)
                    return true; // Ignore validation
                let fobj = this.getForm();

                // Validate fields
                if (!this.validateFields())
                    return false;

                // Call Form_CustomValidate event
                if (!(await this.customValidate?.(fobj) ?? true)) {
                    this.focus();
                    return false;
                }
                return true;
            }
        )

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "EmployeeStatus": @Html.Raw(crewGeneralDataForAdminViewModeList.EmployeeStatus.ToClientList(crewGeneralDataForAdminViewModeList)),
            "FormSubmittedDateTime": @Html.Raw(crewGeneralDataForAdminViewModeList.FormSubmittedDateTime.ToClientList(crewGeneralDataForAdminViewModeList)),
            "LastUpdatedByUserID": @Html.Raw(crewGeneralDataForAdminViewModeList.LastUpdatedByUserID.ToClientList(crewGeneralDataForAdminViewModeList)),
            "LastUpdatedDateTime": @Html.Raw(crewGeneralDataForAdminViewModeList.LastUpdatedDateTime.ToClientList(crewGeneralDataForAdminViewModeList)),
        })

        // Filters
        .setFilterList(@Html.Raw(await crewGeneralDataForAdminViewModeList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!crewGeneralDataForAdminViewModeList.IsExport() && Empty(crewGeneralDataForAdminViewModeList.CurrentAction) && crewGeneralDataForAdminViewModeList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0@(crewGeneralDataForAdminViewModeList.SearchFieldsPerRow > 0 ? " row-cols-sm-" + crewGeneralDataForAdminViewModeList.SearchFieldsPerRow : "")">
@{
    // Render search row
    crewGeneralDataForAdminViewModeList.RowType = RowType.Search;
    crewGeneralDataForAdminViewModeList.ResetAttributes();
    await crewGeneralDataForAdminViewModeList.RenderRow();
}
@if (crewGeneralDataForAdminViewModeList.EmployeeStatus.Visible) { // crewGeneralDataForAdminViewModeList.EmployeeStatus.Visible (begin)
    if (!crewGeneralDataForAdminViewModeList.EmployeeStatus.UseFilter) {
        crewGeneralDataForAdminViewModeList.SearchColumnCount++;
    }
    <div id="xs_EmployeeStatus" class="col-sm-auto d-sm-flex align-items-start mb-3 px-0 pe-sm-2@(crewGeneralDataForAdminViewModeList.EmployeeStatus.UseFilter ? " ew-filter-field" : "")">
        <select
            id="x_EmployeeStatus"
            name="x_EmployeeStatus[]"
            class="form-control ew-select@(crewGeneralDataForAdminViewModeList.EmployeeStatus.IsInvalidClass)"
            data-select2-id="fCrewGeneralDataForAdminViewModesrch_x_EmployeeStatus"
            data-table="CrewGeneralDataForAdminViewMode"
            data-field="x_EmployeeStatus"
            data-caption="@Html.Raw(HtmlEncode(RemoveHtml(crewGeneralDataForAdminViewModeList.EmployeeStatus.Caption)))"
            data-filter="true"
            multiple
            size="1"
            data-value-separator="@(crewGeneralDataForAdminViewModeList.EmployeeStatus.DisplayValueSeparatorAttribute)"
            data-placeholder="@(HtmlEncode(crewGeneralDataForAdminViewModeList.EmployeeStatus.PlaceHolder))"
            data-ew-action="update-options"
            @Html.Raw(crewGeneralDataForAdminViewModeList.EmployeeStatus.EditAttributes)>
            @(crewGeneralDataForAdminViewModeList.EmployeeStatus.SelectOptionListHtml("x_EmployeeStatus", true))
        </select>
        <div class="invalid-feedback">@Html.Raw(crewGeneralDataForAdminViewModeList.EmployeeStatus.GetErrorMessage(false))</div>
        <script>
        loadjs.ready("fCrewGeneralDataForAdminViewModesrch", function() {
            var options = {
                name: "x_EmployeeStatus",
                selectId: "fCrewGeneralDataForAdminViewModesrch_x_EmployeeStatus",
                ajax: { id: "x_EmployeeStatus", form: "fCrewGeneralDataForAdminViewModesrch", limit: ew.FILTER_PAGE_SIZE, data: { ajax: "filter" } }
            };
            options = Object.assign({}, ew.filterOptions, options, ew.vars.tables.CrewGeneralDataForAdminViewMode.fields.EmployeeStatus.filterOptions);
            ew.createFilter(options);
        });
        </script>
    </div><!-- /.col-sm-auto -->
} @* crewGeneralDataForAdminViewModeList.EmployeeStatus.Visible (end) *@
@if (crewGeneralDataForAdminViewModeList.FormSubmittedDateTime.Visible) { // crewGeneralDataForAdminViewModeList.FormSubmittedDateTime.Visible (begin)
    if (!crewGeneralDataForAdminViewModeList.FormSubmittedDateTime.UseFilter) {
        crewGeneralDataForAdminViewModeList.SearchColumnCount++;
    }
    <div id="xs_FormSubmittedDateTime" class="col-sm-auto d-sm-flex align-items-start mb-3 px-0 pe-sm-2@(crewGeneralDataForAdminViewModeList.FormSubmittedDateTime.UseFilter ? " ew-filter-field" : "")">
        <select
            id="x_FormSubmittedDateTime"
            name="x_FormSubmittedDateTime[]"
            class="form-control ew-select@(crewGeneralDataForAdminViewModeList.FormSubmittedDateTime.IsInvalidClass)"
            data-select2-id="fCrewGeneralDataForAdminViewModesrch_x_FormSubmittedDateTime"
            data-table="CrewGeneralDataForAdminViewMode"
            data-field="x_FormSubmittedDateTime"
            data-caption="@Html.Raw(HtmlEncode(RemoveHtml(crewGeneralDataForAdminViewModeList.FormSubmittedDateTime.Caption)))"
            data-filter="true"
            multiple
            size="1"
            data-value-separator="@(crewGeneralDataForAdminViewModeList.FormSubmittedDateTime.DisplayValueSeparatorAttribute)"
            data-placeholder="@(HtmlEncode(crewGeneralDataForAdminViewModeList.FormSubmittedDateTime.PlaceHolder))"
            data-ew-action="update-options"
            @Html.Raw(crewGeneralDataForAdminViewModeList.FormSubmittedDateTime.EditAttributes)>
            @(crewGeneralDataForAdminViewModeList.FormSubmittedDateTime.SelectOptionListHtml("x_FormSubmittedDateTime", true))
        </select>
        <div class="invalid-feedback">@Html.Raw(crewGeneralDataForAdminViewModeList.FormSubmittedDateTime.GetErrorMessage(false))</div>
        <script>
        loadjs.ready("fCrewGeneralDataForAdminViewModesrch", function() {
            var options = {
                name: "x_FormSubmittedDateTime",
                selectId: "fCrewGeneralDataForAdminViewModesrch_x_FormSubmittedDateTime",
                ajax: { id: "x_FormSubmittedDateTime", form: "fCrewGeneralDataForAdminViewModesrch", limit: ew.FILTER_PAGE_SIZE, data: { ajax: "filter" } }
            };
            options = Object.assign({}, ew.filterOptions, options, ew.vars.tables.CrewGeneralDataForAdminViewMode.fields.FormSubmittedDateTime.filterOptions);
            ew.createFilter(options);
        });
        </script>
    </div><!-- /.col-sm-auto -->
} @* crewGeneralDataForAdminViewModeList.FormSubmittedDateTime.Visible (end) *@
@if (crewGeneralDataForAdminViewModeList.LastUpdatedByUserID.Visible) { // crewGeneralDataForAdminViewModeList.LastUpdatedByUserID.Visible (begin)
    if (!crewGeneralDataForAdminViewModeList.LastUpdatedByUserID.UseFilter) {
        crewGeneralDataForAdminViewModeList.SearchColumnCount++;
    }
    <div id="xs_LastUpdatedByUserID" class="col-sm-auto d-sm-flex align-items-start mb-3 px-0 pe-sm-2@(crewGeneralDataForAdminViewModeList.LastUpdatedByUserID.UseFilter ? " ew-filter-field" : "")">
        <select
            id="x_LastUpdatedByUserID"
            name="x_LastUpdatedByUserID[]"
            class="form-control ew-select@(crewGeneralDataForAdminViewModeList.LastUpdatedByUserID.IsInvalidClass)"
            data-select2-id="fCrewGeneralDataForAdminViewModesrch_x_LastUpdatedByUserID"
            data-table="CrewGeneralDataForAdminViewMode"
            data-field="x_LastUpdatedByUserID"
            data-caption="@Html.Raw(HtmlEncode(RemoveHtml(crewGeneralDataForAdminViewModeList.LastUpdatedByUserID.Caption)))"
            data-filter="true"
            multiple
            size="1"
            data-value-separator="@(crewGeneralDataForAdminViewModeList.LastUpdatedByUserID.DisplayValueSeparatorAttribute)"
            data-placeholder="@(HtmlEncode(crewGeneralDataForAdminViewModeList.LastUpdatedByUserID.PlaceHolder))"
            data-ew-action="update-options"
            @Html.Raw(crewGeneralDataForAdminViewModeList.LastUpdatedByUserID.EditAttributes)>
            @(crewGeneralDataForAdminViewModeList.LastUpdatedByUserID.SelectOptionListHtml("x_LastUpdatedByUserID", true))
        </select>
        <div class="invalid-feedback">@Html.Raw(crewGeneralDataForAdminViewModeList.LastUpdatedByUserID.GetErrorMessage(false))</div>
        <script>
        loadjs.ready("fCrewGeneralDataForAdminViewModesrch", function() {
            var options = {
                name: "x_LastUpdatedByUserID",
                selectId: "fCrewGeneralDataForAdminViewModesrch_x_LastUpdatedByUserID",
                ajax: { id: "x_LastUpdatedByUserID", form: "fCrewGeneralDataForAdminViewModesrch", limit: ew.FILTER_PAGE_SIZE, data: { ajax: "filter" } }
            };
            options = Object.assign({}, ew.filterOptions, options, ew.vars.tables.CrewGeneralDataForAdminViewMode.fields.LastUpdatedByUserID.filterOptions);
            ew.createFilter(options);
        });
        </script>
    </div><!-- /.col-sm-auto -->
} @* crewGeneralDataForAdminViewModeList.LastUpdatedByUserID.Visible (end) *@
@if (crewGeneralDataForAdminViewModeList.LastUpdatedDateTime.Visible) { // crewGeneralDataForAdminViewModeList.LastUpdatedDateTime.Visible (begin)
    if (!crewGeneralDataForAdminViewModeList.LastUpdatedDateTime.UseFilter) {
        crewGeneralDataForAdminViewModeList.SearchColumnCount++;
    }
    <div id="xs_LastUpdatedDateTime" class="col-sm-auto d-sm-flex align-items-start mb-3 px-0 pe-sm-2@(crewGeneralDataForAdminViewModeList.LastUpdatedDateTime.UseFilter ? " ew-filter-field" : "")">
        <select
            id="x_LastUpdatedDateTime"
            name="x_LastUpdatedDateTime[]"
            class="form-control ew-select@(crewGeneralDataForAdminViewModeList.LastUpdatedDateTime.IsInvalidClass)"
            data-select2-id="fCrewGeneralDataForAdminViewModesrch_x_LastUpdatedDateTime"
            data-table="CrewGeneralDataForAdminViewMode"
            data-field="x_LastUpdatedDateTime"
            data-caption="@Html.Raw(HtmlEncode(RemoveHtml(crewGeneralDataForAdminViewModeList.LastUpdatedDateTime.Caption)))"
            data-filter="true"
            multiple
            size="1"
            data-value-separator="@(crewGeneralDataForAdminViewModeList.LastUpdatedDateTime.DisplayValueSeparatorAttribute)"
            data-placeholder="@(HtmlEncode(crewGeneralDataForAdminViewModeList.LastUpdatedDateTime.PlaceHolder))"
            data-ew-action="update-options"
            @Html.Raw(crewGeneralDataForAdminViewModeList.LastUpdatedDateTime.EditAttributes)>
            @(crewGeneralDataForAdminViewModeList.LastUpdatedDateTime.SelectOptionListHtml("x_LastUpdatedDateTime", true))
        </select>
        <div class="invalid-feedback">@Html.Raw(crewGeneralDataForAdminViewModeList.LastUpdatedDateTime.GetErrorMessage(false))</div>
        <script>
        loadjs.ready("fCrewGeneralDataForAdminViewModesrch", function() {
            var options = {
                name: "x_LastUpdatedDateTime",
                selectId: "fCrewGeneralDataForAdminViewModesrch_x_LastUpdatedDateTime",
                ajax: { id: "x_LastUpdatedDateTime", form: "fCrewGeneralDataForAdminViewModesrch", limit: ew.FILTER_PAGE_SIZE, data: { ajax: "filter" } }
            };
            options = Object.assign({}, ew.filterOptions, options, ew.vars.tables.CrewGeneralDataForAdminViewMode.fields.LastUpdatedDateTime.filterOptions);
            ew.createFilter(options);
        });
        </script>
    </div><!-- /.col-sm-auto -->
} @* crewGeneralDataForAdminViewModeList.LastUpdatedDateTime.Visible (end) *@
</div><!-- /.row -->
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(crewGeneralDataForAdminViewModeList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(crewGeneralDataForAdminViewModeList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(crewGeneralDataForAdminViewModeList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(crewGeneralDataForAdminViewModeList.BasicSearch.SessionType == "" ? " active" : "")" form="fCrewGeneralDataForAdminViewModesrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(crewGeneralDataForAdminViewModeList.BasicSearch.SessionType == "=" ? " active" : "")" form="fCrewGeneralDataForAdminViewModesrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(crewGeneralDataForAdminViewModeList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fCrewGeneralDataForAdminViewModesrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(crewGeneralDataForAdminViewModeList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fCrewGeneralDataForAdminViewModesrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@crewGeneralDataForAdminViewModeList.ShowPageHeader()
@crewGeneralDataForAdminViewModeList.ShowMessages()
<main class="list @(crewGeneralDataForAdminViewModeList.TotalRecords == 0 && !crewGeneralDataForAdminViewModeList.IsAdd ? " ew-no-record" : "")">
<div id="ew-list">
@if (crewGeneralDataForAdminViewModeList.TotalRecords > 0 || !Empty(crewGeneralDataForAdminViewModeList.CurrentAction)) {
<div class="card ew-card ew-grid@(crewGeneralDataForAdminViewModeList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(crewGeneralDataForAdminViewModeList.TableGridClass)">
<form name="@(crewGeneralDataForAdminViewModeList.FormName)" id="@(crewGeneralDataForAdminViewModeList.FormName)" class="ew-form ew-list-form" action="@AppPath(crewGeneralDataForAdminViewModeList.PageName)" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (crewGeneralDataForAdminViewModeList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_CrewGeneralDataForAdminViewMode" class="card-body ew-grid-middle-panel @(crewGeneralDataForAdminViewModeList.TableContainerClass)" style="@(crewGeneralDataForAdminViewModeList.TableContainerStyle)">
@if (crewGeneralDataForAdminViewModeList.TotalRecords > 0 || crewGeneralDataForAdminViewModeList.IsGridEdit || crewGeneralDataForAdminViewModeList.IsMultiEdit) {
<table id="tbl_CrewGeneralDataForAdminViewModelist" class="@(crewGeneralDataForAdminViewModeList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    crewGeneralDataForAdminViewModeList.RowType = RowType.Header;

    // Render list options
    await crewGeneralDataForAdminViewModeList.RenderListOptions();
}
@* Render list options (header, left) *@
@crewGeneralDataForAdminViewModeList.ListOptions.RenderHeader("left")
@if (crewGeneralDataForAdminViewModeList.EmployeeStatus.Visible) { // crewGeneralDataForAdminViewModeList.EmployeeStatus.Visible (begin)
        <th data-name="EmployeeStatus" class="@(crewGeneralDataForAdminViewModeList.EmployeeStatus.HeaderCellClass)" style="white-space: nowrap;"><div id="elh_CrewGeneralDataForAdminViewMode_EmployeeStatus" class="CrewGeneralDataForAdminViewMode_EmployeeStatus">@Html.Raw(crewGeneralDataForAdminViewModeList.RenderFieldHeader(crewGeneralDataForAdminViewModeList.EmployeeStatus))</div></th>
} @* crewGeneralDataForAdminViewModeList.EmployeeStatus.Visible (end) *@
@if (crewGeneralDataForAdminViewModeList.FormSubmittedDateTime.Visible) { // crewGeneralDataForAdminViewModeList.FormSubmittedDateTime.Visible (begin)
        <th data-name="FormSubmittedDateTime" class="@(crewGeneralDataForAdminViewModeList.FormSubmittedDateTime.HeaderCellClass)" style="white-space: nowrap;"><div id="elh_CrewGeneralDataForAdminViewMode_FormSubmittedDateTime" class="CrewGeneralDataForAdminViewMode_FormSubmittedDateTime">@Html.Raw(crewGeneralDataForAdminViewModeList.RenderFieldHeader(crewGeneralDataForAdminViewModeList.FormSubmittedDateTime))</div></th>
} @* crewGeneralDataForAdminViewModeList.FormSubmittedDateTime.Visible (end) *@
@if (crewGeneralDataForAdminViewModeList.LastUpdatedByUserID.Visible) { // crewGeneralDataForAdminViewModeList.LastUpdatedByUserID.Visible (begin)
        <th data-name="LastUpdatedByUserID" class="@(crewGeneralDataForAdminViewModeList.LastUpdatedByUserID.HeaderCellClass)" style="white-space: nowrap;"><div id="elh_CrewGeneralDataForAdminViewMode_LastUpdatedByUserID" class="CrewGeneralDataForAdminViewMode_LastUpdatedByUserID">@Html.Raw(crewGeneralDataForAdminViewModeList.RenderFieldHeader(crewGeneralDataForAdminViewModeList.LastUpdatedByUserID))</div></th>
} @* crewGeneralDataForAdminViewModeList.LastUpdatedByUserID.Visible (end) *@
@if (crewGeneralDataForAdminViewModeList.LastUpdatedDateTime.Visible) { // crewGeneralDataForAdminViewModeList.LastUpdatedDateTime.Visible (begin)
        <th data-name="LastUpdatedDateTime" class="@(crewGeneralDataForAdminViewModeList.LastUpdatedDateTime.HeaderCellClass)" style="white-space: nowrap;"><div id="elh_CrewGeneralDataForAdminViewMode_LastUpdatedDateTime" class="CrewGeneralDataForAdminViewMode_LastUpdatedDateTime">@Html.Raw(crewGeneralDataForAdminViewModeList.RenderFieldHeader(crewGeneralDataForAdminViewModeList.LastUpdatedDateTime))</div></th>
} @* crewGeneralDataForAdminViewModeList.LastUpdatedDateTime.Visible (end) *@
@* Render list options (header, right) *@
@crewGeneralDataForAdminViewModeList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(crewGeneralDataForAdminViewModeList.PageNumber)">
@{
    await crewGeneralDataForAdminViewModeList.SetupGrid();
    bool eof = crewGeneralDataForAdminViewModeList.Recordset == null; // DN
}
@while (crewGeneralDataForAdminViewModeList.RecordCount < crewGeneralDataForAdminViewModeList.StopRecord || SameString(crewGeneralDataForAdminViewModeList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(crewGeneralDataForAdminViewModeList.RowIndex, "$rowindex$") &&
        (!crewGeneralDataForAdminViewModeList.IsGridAdd || crewGeneralDataForAdminViewModeList.CurrentMode == "copy") &&
        (!((crewGeneralDataForAdminViewModeList.IsCopy || crewGeneralDataForAdminViewModeList.IsAdd) && crewGeneralDataForAdminViewModeList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await crewGeneralDataForAdminViewModeList.Recordset.ReadAsync();
    crewGeneralDataForAdminViewModeList.RecordCount++;
    if (crewGeneralDataForAdminViewModeList.RecordCount >= crewGeneralDataForAdminViewModeList.StartRecord) {
        await crewGeneralDataForAdminViewModeList.SetupRow();
    <tr @Html.Raw(crewGeneralDataForAdminViewModeList.RowAttributes)>
    @* Render list options (body, left) *@
    @crewGeneralDataForAdminViewModeList.ListOptions.RenderBody("left", crewGeneralDataForAdminViewModeList.RowCount)
    @if (crewGeneralDataForAdminViewModeList.EmployeeStatus.Visible) { // crewGeneralDataForAdminViewModeList.EmployeeStatus.Visible (begin)
        <td data-name="EmployeeStatus" @Html.Raw(crewGeneralDataForAdminViewModeList.EmployeeStatus.CellAttributes)>
<span id="el@(crewGeneralDataForAdminViewModeList.RowCount)_CrewGeneralDataForAdminViewMode_EmployeeStatus" class="el_CrewGeneralDataForAdminViewMode_EmployeeStatus">
<span @Html.Raw(crewGeneralDataForAdminViewModeList.EmployeeStatus.ViewAttributes)>
@Html.Raw(crewGeneralDataForAdminViewModeList.EmployeeStatus.GetViewValue())</span>
</span>
</td>
    } @* crewGeneralDataForAdminViewModeList.EmployeeStatus.Visible (end) *@
    @if (crewGeneralDataForAdminViewModeList.FormSubmittedDateTime.Visible) { // crewGeneralDataForAdminViewModeList.FormSubmittedDateTime.Visible (begin)
        <td data-name="FormSubmittedDateTime" @Html.Raw(crewGeneralDataForAdminViewModeList.FormSubmittedDateTime.CellAttributes)>
<span id="el@(crewGeneralDataForAdminViewModeList.RowCount)_CrewGeneralDataForAdminViewMode_FormSubmittedDateTime" class="el_CrewGeneralDataForAdminViewMode_FormSubmittedDateTime">
<span @Html.Raw(crewGeneralDataForAdminViewModeList.FormSubmittedDateTime.ViewAttributes)>
@Html.Raw(crewGeneralDataForAdminViewModeList.FormSubmittedDateTime.GetViewValue())</span>
</span>
</td>
    } @* crewGeneralDataForAdminViewModeList.FormSubmittedDateTime.Visible (end) *@
    @if (crewGeneralDataForAdminViewModeList.LastUpdatedByUserID.Visible) { // crewGeneralDataForAdminViewModeList.LastUpdatedByUserID.Visible (begin)
        <td data-name="LastUpdatedByUserID" @Html.Raw(crewGeneralDataForAdminViewModeList.LastUpdatedByUserID.CellAttributes)>
<span id="el@(crewGeneralDataForAdminViewModeList.RowCount)_CrewGeneralDataForAdminViewMode_LastUpdatedByUserID" class="el_CrewGeneralDataForAdminViewMode_LastUpdatedByUserID">
<span @Html.Raw(crewGeneralDataForAdminViewModeList.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(crewGeneralDataForAdminViewModeList.LastUpdatedByUserID.GetViewValue())</span>
</span>
</td>
    } @* crewGeneralDataForAdminViewModeList.LastUpdatedByUserID.Visible (end) *@
    @if (crewGeneralDataForAdminViewModeList.LastUpdatedDateTime.Visible) { // crewGeneralDataForAdminViewModeList.LastUpdatedDateTime.Visible (begin)
        <td data-name="LastUpdatedDateTime" @Html.Raw(crewGeneralDataForAdminViewModeList.LastUpdatedDateTime.CellAttributes)>
<span id="el@(crewGeneralDataForAdminViewModeList.RowCount)_CrewGeneralDataForAdminViewMode_LastUpdatedDateTime" class="el_CrewGeneralDataForAdminViewMode_LastUpdatedDateTime">
<span @Html.Raw(crewGeneralDataForAdminViewModeList.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(crewGeneralDataForAdminViewModeList.LastUpdatedDateTime.GetViewValue())</span>
</span>
</td>
    } @* crewGeneralDataForAdminViewModeList.LastUpdatedDateTime.Visible (end) *@
    @* Render list options (body, right) *@
    @crewGeneralDataForAdminViewModeList.ListOptions.RenderBody("right", crewGeneralDataForAdminViewModeList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(crewGeneralDataForAdminViewModeList.RowIndex, "$rowindex$"))
        crewGeneralDataForAdminViewModeList.RowIndex = 0;

    // Reset inline add/copy row
    if ((crewGeneralDataForAdminViewModeList.IsCopy || crewGeneralDataForAdminViewModeList.IsAdd) && crewGeneralDataForAdminViewModeList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        crewGeneralDataForAdminViewModeList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(crewGeneralDataForAdminViewModeList.CurrentAction) && !crewGeneralDataForAdminViewModeList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ crewGeneralDataForAdminViewModeList.CloseRecordset(); }
@if (!crewGeneralDataForAdminViewModeList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!crewGeneralDataForAdminViewModeList.IsGridAdd && !(crewGeneralDataForAdminViewModeList.IsGridEdit && crewGeneralDataForAdminViewModeList.ModalGridEdit) && !crewGeneralDataForAdminViewModeList.IsMultiEdit) {
@Html.Raw(crewGeneralDataForAdminViewModeList.Pager.Render())
}
<div class="ew-list-other-options">
@crewGeneralDataForAdminViewModeList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@crewGeneralDataForAdminViewModeList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
</main>
@crewGeneralDataForAdminViewModeList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!crewGeneralDataForAdminViewModeList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("CrewGeneralDataForAdminViewMode");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
