@{
    // View
    View = this;

    // Check action result
    if (mtBankDelete.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!mtBankDelete.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(mtBankDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MTBank: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fMTBankdelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMTBankdelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@mtBankDelete.ShowPageHeader()
@mtBankDelete.ShowMessages()
<form name="fMTBankdelete" id="fMTBankdelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in mtBankDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(mtBankDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(mtBankDelete.TableContainerClass)" style="@(mtBankDelete.TableContainerStyle)">
<table class="@(mtBankDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (mtBankDelete._Name.Visible) { // mtBankDelete._Name.Visible (begin)
        <th class="@Html.Raw(mtBankDelete._Name.HeaderCellClass)"><span id="elh_MTBank__Name" class="MTBank__Name">@Html.Raw(mtBankDelete._Name.Caption)</span></th>
} @* mtBankDelete._Name.Visible (end) *@
@if (mtBankDelete.Code.Visible) { // mtBankDelete.Code.Visible (begin)
        <th class="@Html.Raw(mtBankDelete.Code.HeaderCellClass)"><span id="elh_MTBank_Code" class="MTBank_Code">@Html.Raw(mtBankDelete.Code.Caption)</span></th>
} @* mtBankDelete.Code.Visible (end) *@
@if (mtBankDelete.CreatedByUserID.Visible) { // mtBankDelete.CreatedByUserID.Visible (begin)
        <th class="@Html.Raw(mtBankDelete.CreatedByUserID.HeaderCellClass)"><span id="elh_MTBank_CreatedByUserID" class="MTBank_CreatedByUserID">@Html.Raw(mtBankDelete.CreatedByUserID.Caption)</span></th>
} @* mtBankDelete.CreatedByUserID.Visible (end) *@
@if (mtBankDelete.CreatedDateTime.Visible) { // mtBankDelete.CreatedDateTime.Visible (begin)
        <th class="@Html.Raw(mtBankDelete.CreatedDateTime.HeaderCellClass)"><span id="elh_MTBank_CreatedDateTime" class="MTBank_CreatedDateTime">@Html.Raw(mtBankDelete.CreatedDateTime.Caption)</span></th>
} @* mtBankDelete.CreatedDateTime.Visible (end) *@
@if (mtBankDelete.LastUpdatedByUserID.Visible) { // mtBankDelete.LastUpdatedByUserID.Visible (begin)
        <th class="@Html.Raw(mtBankDelete.LastUpdatedByUserID.HeaderCellClass)"><span id="elh_MTBank_LastUpdatedByUserID" class="MTBank_LastUpdatedByUserID">@Html.Raw(mtBankDelete.LastUpdatedByUserID.Caption)</span></th>
} @* mtBankDelete.LastUpdatedByUserID.Visible (end) *@
@if (mtBankDelete.LastUpdatedDateTime.Visible) { // mtBankDelete.LastUpdatedDateTime.Visible (begin)
        <th class="@Html.Raw(mtBankDelete.LastUpdatedDateTime.HeaderCellClass)"><span id="elh_MTBank_LastUpdatedDateTime" class="MTBank_LastUpdatedDateTime">@Html.Raw(mtBankDelete.LastUpdatedDateTime.Caption)</span></th>
} @* mtBankDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ mtBankDelete.RecordCount = 0; }
@while (mtBankDelete.Recordset != null && await mtBankDelete.Recordset.ReadAsync()) { // DN
    mtBankDelete.RecordCount++;
    mtBankDelete.RowCount++;

    // Set row properties
    mtBankDelete.ResetAttributes();
    mtBankDelete.RowType = RowType.View; // View

    // Get the field contents
    await mtBankDelete.LoadRowValues(mtBankDelete.Recordset);

    // Render row
    await mtBankDelete.RenderRow();
    <tr @Html.Raw(mtBankDelete.RowAttributes)>
@if (mtBankDelete._Name.Visible) { // mtBankDelete._Name.Visible (begin)
        <td @Html.Raw(mtBankDelete._Name.CellAttributes)>
<span id="el@(mtBankDelete.RowCount)_MTBank__Name" class="el_MTBank__Name">
<span @Html.Raw(mtBankDelete._Name.ViewAttributes)>
@Html.Raw(mtBankDelete._Name.GetViewValue())</span>
</span></td>
} @* mtBankDelete._Name.Visible (end) *@
@if (mtBankDelete.Code.Visible) { // mtBankDelete.Code.Visible (begin)
        <td @Html.Raw(mtBankDelete.Code.CellAttributes)>
<span id="el@(mtBankDelete.RowCount)_MTBank_Code" class="el_MTBank_Code">
<span @Html.Raw(mtBankDelete.Code.ViewAttributes)>
@Html.Raw(mtBankDelete.Code.GetViewValue())</span>
</span></td>
} @* mtBankDelete.Code.Visible (end) *@
@if (mtBankDelete.CreatedByUserID.Visible) { // mtBankDelete.CreatedByUserID.Visible (begin)
        <td @Html.Raw(mtBankDelete.CreatedByUserID.CellAttributes)>
<span id="el@(mtBankDelete.RowCount)_MTBank_CreatedByUserID" class="el_MTBank_CreatedByUserID">
<span @Html.Raw(mtBankDelete.CreatedByUserID.ViewAttributes)>
@Html.Raw(mtBankDelete.CreatedByUserID.GetViewValue())</span>
</span></td>
} @* mtBankDelete.CreatedByUserID.Visible (end) *@
@if (mtBankDelete.CreatedDateTime.Visible) { // mtBankDelete.CreatedDateTime.Visible (begin)
        <td @Html.Raw(mtBankDelete.CreatedDateTime.CellAttributes)>
<span id="el@(mtBankDelete.RowCount)_MTBank_CreatedDateTime" class="el_MTBank_CreatedDateTime">
<span @Html.Raw(mtBankDelete.CreatedDateTime.ViewAttributes)>
@Html.Raw(mtBankDelete.CreatedDateTime.GetViewValue())</span>
</span></td>
} @* mtBankDelete.CreatedDateTime.Visible (end) *@
@if (mtBankDelete.LastUpdatedByUserID.Visible) { // mtBankDelete.LastUpdatedByUserID.Visible (begin)
        <td @Html.Raw(mtBankDelete.LastUpdatedByUserID.CellAttributes)>
<span id="el@(mtBankDelete.RowCount)_MTBank_LastUpdatedByUserID" class="el_MTBank_LastUpdatedByUserID">
<span @Html.Raw(mtBankDelete.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(mtBankDelete.LastUpdatedByUserID.GetViewValue())</span>
</span></td>
} @* mtBankDelete.LastUpdatedByUserID.Visible (end) *@
@if (mtBankDelete.LastUpdatedDateTime.Visible) { // mtBankDelete.LastUpdatedDateTime.Visible (begin)
        <td @Html.Raw(mtBankDelete.LastUpdatedDateTime.CellAttributes)>
<span id="el@(mtBankDelete.RowCount)_MTBank_LastUpdatedDateTime" class="el_MTBank_LastUpdatedDateTime">
<span @Html.Raw(mtBankDelete.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(mtBankDelete.LastUpdatedDateTime.GetViewValue())</span>
</span></td>
} @* mtBankDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
}
@{ mtBankDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(mtBankDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@mtBankDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
