@{
    // View
    View = this;

    // Check action result
    if (mtBankSearch.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!mtBankSearch.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(mtBankSearch.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MTBank: currentTable } });
var currentPageID = ew.PAGE_ID = "search";
var currentForm;
var fMTBanksearch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fMTBanksearch")
        .setPageId("search")
@if (mtBankSearch.IsModal && mtBankSearch.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Add fields
        .setFields([

            ["_Name", [], fields._Name.isInvalid],
            ["Code", [], fields.Code.isInvalid],
            ["CreatedByUserID", [ew.Validators.integer], fields.CreatedByUserID.isInvalid],
            ["CreatedDateTime", [ew.Validators.datetime(fields.CreatedDateTime.clientFormatPattern)], fields.CreatedDateTime.isInvalid],
            ["LastUpdatedByUserID", [ew.Validators.integer], fields.LastUpdatedByUserID.isInvalid],
            ["LastUpdatedDateTime", [ew.Validators.datetime(fields.LastUpdatedDateTime.clientFormatPattern)], fields.LastUpdatedDateTime.isInvalid]
        ])
        // Validate form
        .setValidate(
            async function () {
                if (!this.validateRequired)
                    return true; // Ignore validation
                let fobj = this.getForm();

                // Validate fields
                if (!this.validateFields())
                    return false;

                // Call Form_CustomValidate event
                if (!(await this.customValidate?.(fobj) ?? true)) {
                    this.focus();
                    return false;
                }
                return true;
            }
        )

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "CreatedByUserID": @Html.Raw(mtBankSearch.CreatedByUserID.ToClientList(mtBankSearch)),
            "LastUpdatedByUserID": @Html.Raw(mtBankSearch.LastUpdatedByUserID.ToClientList(mtBankSearch)),
        })
        .build();
    window[form.id] = form;
@if (mtBankSearch.IsModal) {
    <text>currentAdvancedSearchForm = form;</text>
} else {
    <text>currentForm = form;</text>
}
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@mtBankSearch.ShowPageHeader()
@mtBankSearch.ShowMessages()
<form name="fMTBanksearch" id="fMTBanksearch" class="@(mtBankSearch.FormClassName)" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="search">
@if (mtBankSearch.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div class="ew-search-div"><!-- page* -->
@if (mtBankSearch._Name.Visible) { // mtBankSearch._Name.Visible (begin)
    <div id="r__Name" class="row" @Html.Raw(mtBankSearch._Name.RowAttributes)>
        <label for="x__Name" class="@(mtBankSearch.LeftColumnClass)"><span id="elh_MTBank__Name">@Html.Raw(mtBankSearch._Name.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("LIKE"))
<input type="hidden" name="z__Name" id="z__Name" value="LIKE">
</span>
        </label>
        <div class="@(mtBankSearch.RightColumnClass)">
            <div @Html.Raw(mtBankSearch._Name.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_MTBank__Name" class="ew-search-field ew-search-field-single">
<input type="@(mtBankSearch._Name.InputTextType)" name="x__Name" id="x__Name" data-table="MTBank" data-field="x__Name" value="@Html.Raw(mtBankSearch._Name.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(mtBankSearch._Name.PlaceHolder))" data-format-pattern="@(mtBankSearch._Name.FormatPattern)"@Html.Raw(mtBankSearch._Name.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(mtBankSearch._Name.GetErrorMessage(false))</div>
</span>
                </div>
            </div>
        </div>
    </div>
} @* mtBankSearch._Name.Visible (end) *@
@if (mtBankSearch.Code.Visible) { // mtBankSearch.Code.Visible (begin)
    <div id="r_Code" class="row" @Html.Raw(mtBankSearch.Code.RowAttributes)>
        <label for="x_Code" class="@(mtBankSearch.LeftColumnClass)"><span id="elh_MTBank_Code">@Html.Raw(mtBankSearch.Code.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("LIKE"))
<input type="hidden" name="z_Code" id="z_Code" value="LIKE">
</span>
        </label>
        <div class="@(mtBankSearch.RightColumnClass)">
            <div @Html.Raw(mtBankSearch.Code.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_MTBank_Code" class="ew-search-field ew-search-field-single">
<input type="@(mtBankSearch.Code.InputTextType)" name="x_Code" id="x_Code" data-table="MTBank" data-field="x_Code" value="@Html.Raw(mtBankSearch.Code.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(mtBankSearch.Code.PlaceHolder))" data-format-pattern="@(mtBankSearch.Code.FormatPattern)"@Html.Raw(mtBankSearch.Code.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(mtBankSearch.Code.GetErrorMessage(false))</div>
</span>
                </div>
            </div>
        </div>
    </div>
} @* mtBankSearch.Code.Visible (end) *@
@if (mtBankSearch.CreatedByUserID.Visible) { // mtBankSearch.CreatedByUserID.Visible (begin)
    <div id="r_CreatedByUserID" class="row" @Html.Raw(mtBankSearch.CreatedByUserID.RowAttributes)>
        <label class="@(mtBankSearch.LeftColumnClass)"><span id="elh_MTBank_CreatedByUserID">@Html.Raw(mtBankSearch.CreatedByUserID.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("="))
<input type="hidden" name="z_CreatedByUserID" id="z_CreatedByUserID" value="=">
</span>
        </label>
        <div class="@(mtBankSearch.RightColumnClass)">
            <div @Html.Raw(mtBankSearch.CreatedByUserID.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_MTBank_CreatedByUserID" class="ew-search-field ew-search-field-single">
<span>@{
    if (IsRTL) {
        mtBankSearch.CreatedByUserID.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_CreatedByUserID" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_CreatedByUserID" id="sv_x_CreatedByUserID" value="@(RemoveHtml(ConvertToString(mtBankSearch.CreatedByUserID.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(mtBankSearch.CreatedByUserID.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(mtBankSearch.CreatedByUserID.PlaceHolder))" data-format-pattern="@(mtBankSearch.CreatedByUserID.FormatPattern)" @Html.Raw(mtBankSearch.CreatedByUserID.EditAttributes)>
</span>
<selection-list hidden class="form-control" data-table="MTBank" data-field="x_CreatedByUserID" data-input="sv_x_CreatedByUserID" data-value-separator="@(mtBankSearch.CreatedByUserID.DisplayValueSeparatorAttribute)" name="x_CreatedByUserID" id="x_CreatedByUserID" value="@(HtmlEncode(mtBankSearch.CreatedByUserID.AdvancedSearch.SearchValue))"></selection-list>
<div class="invalid-feedback">@Html.Raw(mtBankSearch.CreatedByUserID.GetErrorMessage(false))</div>
<script>
loadjs.ready(["fMTBanksearch"], function() {
    fMTBanksearch.createAutoSuggest(Object.assign({"id":"x_CreatedByUserID","forceSelect":false}, { lookupAllDisplayFields: @(mtBankSearch.CreatedByUserID.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.MTBank.fields.CreatedByUserID.autoSuggestOptions));
});
</script>
@Html.Raw(mtBankSearch.CreatedByUserID.Lookup.GetParamTag(mtBankSearch, "p_x_CreatedByUserID"))
</span>
                </div>
            </div>
        </div>
    </div>
} @* mtBankSearch.CreatedByUserID.Visible (end) *@
@if (mtBankSearch.CreatedDateTime.Visible) { // mtBankSearch.CreatedDateTime.Visible (begin)
    <div id="r_CreatedDateTime" class="row" @Html.Raw(mtBankSearch.CreatedDateTime.RowAttributes)>
        <label for="x_CreatedDateTime" class="@(mtBankSearch.LeftColumnClass)"><span id="elh_MTBank_CreatedDateTime">@Html.Raw(mtBankSearch.CreatedDateTime.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("="))
<input type="hidden" name="z_CreatedDateTime" id="z_CreatedDateTime" value="=">
</span>
        </label>
        <div class="@(mtBankSearch.RightColumnClass)">
            <div @Html.Raw(mtBankSearch.CreatedDateTime.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_MTBank_CreatedDateTime" class="ew-search-field ew-search-field-single">
<input type="@(mtBankSearch.CreatedDateTime.InputTextType)" name="x_CreatedDateTime" id="x_CreatedDateTime" data-table="MTBank" data-field="x_CreatedDateTime" value="@Html.Raw(mtBankSearch.CreatedDateTime.EditValue)" placeholder="@Html.Raw(HtmlEncode(mtBankSearch.CreatedDateTime.PlaceHolder))" data-format-pattern="@(mtBankSearch.CreatedDateTime.FormatPattern)"@Html.Raw(mtBankSearch.CreatedDateTime.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(mtBankSearch.CreatedDateTime.GetErrorMessage(false))</div>
@if (!mtBankSearch.CreatedDateTime.ReadOnly && !mtBankSearch.CreatedDateTime.Disabled && !mtBankSearch.CreatedDateTime.EditAttrs.Is("readonly") && !mtBankSearch.CreatedDateTime.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fMTBanksearch", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(1))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fMTBanksearch", "x_CreatedDateTime", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
                </div>
            </div>
        </div>
    </div>
} @* mtBankSearch.CreatedDateTime.Visible (end) *@
@if (mtBankSearch.LastUpdatedByUserID.Visible) { // mtBankSearch.LastUpdatedByUserID.Visible (begin)
    <div id="r_LastUpdatedByUserID" class="row" @Html.Raw(mtBankSearch.LastUpdatedByUserID.RowAttributes)>
        <label class="@(mtBankSearch.LeftColumnClass)"><span id="elh_MTBank_LastUpdatedByUserID">@Html.Raw(mtBankSearch.LastUpdatedByUserID.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("="))
<input type="hidden" name="z_LastUpdatedByUserID" id="z_LastUpdatedByUserID" value="=">
</span>
        </label>
        <div class="@(mtBankSearch.RightColumnClass)">
            <div @Html.Raw(mtBankSearch.LastUpdatedByUserID.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_MTBank_LastUpdatedByUserID" class="ew-search-field ew-search-field-single">
<span>@{
    if (IsRTL) {
        mtBankSearch.LastUpdatedByUserID.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_LastUpdatedByUserID" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_LastUpdatedByUserID" id="sv_x_LastUpdatedByUserID" value="@(RemoveHtml(ConvertToString(mtBankSearch.LastUpdatedByUserID.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(mtBankSearch.LastUpdatedByUserID.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(mtBankSearch.LastUpdatedByUserID.PlaceHolder))" data-format-pattern="@(mtBankSearch.LastUpdatedByUserID.FormatPattern)" @Html.Raw(mtBankSearch.LastUpdatedByUserID.EditAttributes)>
</span>
<selection-list hidden class="form-control" data-table="MTBank" data-field="x_LastUpdatedByUserID" data-input="sv_x_LastUpdatedByUserID" data-value-separator="@(mtBankSearch.LastUpdatedByUserID.DisplayValueSeparatorAttribute)" name="x_LastUpdatedByUserID" id="x_LastUpdatedByUserID" value="@(HtmlEncode(mtBankSearch.LastUpdatedByUserID.AdvancedSearch.SearchValue))"></selection-list>
<div class="invalid-feedback">@Html.Raw(mtBankSearch.LastUpdatedByUserID.GetErrorMessage(false))</div>
<script>
loadjs.ready(["fMTBanksearch"], function() {
    fMTBanksearch.createAutoSuggest(Object.assign({"id":"x_LastUpdatedByUserID","forceSelect":false}, { lookupAllDisplayFields: @(mtBankSearch.LastUpdatedByUserID.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.MTBank.fields.LastUpdatedByUserID.autoSuggestOptions));
});
</script>
@Html.Raw(mtBankSearch.LastUpdatedByUserID.Lookup.GetParamTag(mtBankSearch, "p_x_LastUpdatedByUserID"))
</span>
                </div>
            </div>
        </div>
    </div>
} @* mtBankSearch.LastUpdatedByUserID.Visible (end) *@
@if (mtBankSearch.LastUpdatedDateTime.Visible) { // mtBankSearch.LastUpdatedDateTime.Visible (begin)
    <div id="r_LastUpdatedDateTime" class="row" @Html.Raw(mtBankSearch.LastUpdatedDateTime.RowAttributes)>
        <label for="x_LastUpdatedDateTime" class="@(mtBankSearch.LeftColumnClass)"><span id="elh_MTBank_LastUpdatedDateTime">@Html.Raw(mtBankSearch.LastUpdatedDateTime.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("="))
<input type="hidden" name="z_LastUpdatedDateTime" id="z_LastUpdatedDateTime" value="=">
</span>
        </label>
        <div class="@(mtBankSearch.RightColumnClass)">
            <div @Html.Raw(mtBankSearch.LastUpdatedDateTime.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_MTBank_LastUpdatedDateTime" class="ew-search-field ew-search-field-single">
<input type="@(mtBankSearch.LastUpdatedDateTime.InputTextType)" name="x_LastUpdatedDateTime" id="x_LastUpdatedDateTime" data-table="MTBank" data-field="x_LastUpdatedDateTime" value="@Html.Raw(mtBankSearch.LastUpdatedDateTime.EditValue)" placeholder="@Html.Raw(HtmlEncode(mtBankSearch.LastUpdatedDateTime.PlaceHolder))" data-format-pattern="@(mtBankSearch.LastUpdatedDateTime.FormatPattern)"@Html.Raw(mtBankSearch.LastUpdatedDateTime.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(mtBankSearch.LastUpdatedDateTime.GetErrorMessage(false))</div>
@if (!mtBankSearch.LastUpdatedDateTime.ReadOnly && !mtBankSearch.LastUpdatedDateTime.Disabled && !mtBankSearch.LastUpdatedDateTime.EditAttrs.Is("readonly") && !mtBankSearch.LastUpdatedDateTime.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fMTBanksearch", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(1))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fMTBanksearch", "x_LastUpdatedDateTime", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
                </div>
            </div>
        </div>
    </div>
} @* mtBankSearch.LastUpdatedDateTime.Visible (end) *@
</div><!-- /page* -->
@Html.Raw(mtBankSearch.IsModal ? Html.Raw("<template class=\"ew-modal-buttons\">") : Html.Raw("<div class=\"row ew-buttons\">"))<!-- buttons .row -->
    <div class="@(mtBankSearch.OffsetColumnClass)"><!-- buttons offset -->
        <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fMTBanksearch">@Html.Raw(Language.Phrase("Search"))</button>
@if (mtBankSearch.IsModal) {
        <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fMTBanksearch">@Html.Raw(Language.Phrase("Cancel"))</button>
} else {
        <button class="btn btn-default ew-btn" name="btn-reset" id="btn-reset" type="button" form="fMTBanksearch" data-ew-action="reload">@Html.Raw(Language.Phrase("Reset"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(mtBankSearch.IsModal ? Html.Raw("</template>") : Html.Raw("</div>"))<!-- /buttons .row -->
</form>
@mtBankSearch.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("MTBank");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
