@{
    // View
    View = this;

    // Check action result
    if (mtBankList.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!mtBankList.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
@if (!mtBankList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(mtBankList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MTBank: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(mtBankList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(mtBankList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(mtBankList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(mtBankList.FormKeyCountName)")

        // Dynamic selection lists
        .setLists({
            "_Name": @Html.Raw(mtBankList._Name.ToClientList(mtBankList)),
            "Code": @Html.Raw(mtBankList.Code.ToClientList(mtBankList)),
            "CreatedByUserID": @Html.Raw(mtBankList.CreatedByUserID.ToClientList(mtBankList)),
            "CreatedDateTime": @Html.Raw(mtBankList.CreatedDateTime.ToClientList(mtBankList)),
            "LastUpdatedByUserID": @Html.Raw(mtBankList.LastUpdatedByUserID.ToClientList(mtBankList)),
            "LastUpdatedDateTime": @Html.Raw(mtBankList.LastUpdatedDateTime.ToClientList(mtBankList)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
ew.PREVIEW_SELECTOR = ".ew-preview-btn";
ew.PREVIEW_MODAL_CLASS = "modal modal-fullscreen-sm-down";
ew.PREVIEW_ROW = true;
ew.PREVIEW_SINGLE_ROW = false;
ew.PREVIEW || ew.ready("head", ew.PATH_BASE + "js/preview.min.js?v=20.1.0", "preview");
</script>
<script>
window.Tabulator || loadjs([
    ew.PATH_BASE + "js/tabulator.min.js?v=20.1.5",
    ew.PATH_BASE + "css/@CssFile("tabulator_bootstrap5.css", false)?v=20.1.5"
], "import");
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!mtBankList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (mtBankList.TotalRecords > 0 && mtBankList.ExportOptions.Visible) {
    mtBankList.ExportOptions.Render("body");
}
@if (mtBankList.ImportOptions.Visible) {
    mtBankList.ImportOptions.Render("body");
}
@if (mtBankList.SearchOptions.Visible) {
    mtBankList.SearchOptions.Render("body");
}
@if (mtBankList.FilterOptions.Visible) {
    mtBankList.FilterOptions.Render("body");
}
</div>
}
@if (mtBankList.ShowCurrentFilter) {
    mtBankList.ShowFilterList();
}
@if (!mtBankList.IsModal) {
<form name="fMTBanksrch" id="fMTBanksrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" autocomplete="on">
<div id="fMTBanksrch_search_panel" class="mb-2 mb-sm-0 @(mtBankList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(mtBankList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MTBank: currentTable } });
var currentForm;
var fMTBanksrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fMTBanksrch")
        .setPageId("list")
@if (mtBankList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Add fields
        .setFields([

            ["_Name", [], fields._Name.isInvalid],
            ["Code", [], fields.Code.isInvalid],
            ["CreatedByUserID", [], fields.CreatedByUserID.isInvalid],
            ["CreatedDateTime", [], fields.CreatedDateTime.isInvalid],
            ["LastUpdatedByUserID", [], fields.LastUpdatedByUserID.isInvalid],
            ["LastUpdatedDateTime", [], fields.LastUpdatedDateTime.isInvalid]
        ])
        // Validate form
        .setValidate(
            async function () {
                if (!this.validateRequired)
                    return true; // Ignore validation
                let fobj = this.getForm();

                // Validate fields
                if (!this.validateFields())
                    return false;

                // Call Form_CustomValidate event
                if (!(await this.customValidate?.(fobj) ?? true)) {
                    this.focus();
                    return false;
                }
                return true;
            }
        )

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "_Name": @Html.Raw(mtBankList._Name.ToClientList(mtBankList)),
            "Code": @Html.Raw(mtBankList.Code.ToClientList(mtBankList)),
            "CreatedByUserID": @Html.Raw(mtBankList.CreatedByUserID.ToClientList(mtBankList)),
            "CreatedDateTime": @Html.Raw(mtBankList.CreatedDateTime.ToClientList(mtBankList)),
            "LastUpdatedByUserID": @Html.Raw(mtBankList.LastUpdatedByUserID.ToClientList(mtBankList)),
            "LastUpdatedDateTime": @Html.Raw(mtBankList.LastUpdatedDateTime.ToClientList(mtBankList)),
        })

        // Filters
        .setFilterList(@Html.Raw(await mtBankList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!mtBankList.IsExport() && Empty(mtBankList.CurrentAction) && mtBankList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0@(mtBankList.SearchFieldsPerRow > 0 ? " row-cols-sm-" + mtBankList.SearchFieldsPerRow : "")">
@{
    // Render search row
    mtBankList.RowType = RowType.Search;
    mtBankList.ResetAttributes();
    await mtBankList.RenderRow();
}
@if (mtBankList._Name.Visible) { // mtBankList._Name.Visible (begin)
    if (!mtBankList._Name.UseFilter) {
        mtBankList.SearchColumnCount++;
    }
    <div id="xs__Name" class="col-sm-auto d-sm-flex align-items-start mb-3 px-0 pe-sm-2@(mtBankList._Name.UseFilter ? " ew-filter-field" : "")">
        <select
            id="x__Name"
            name="x__Name[]"
            class="form-control ew-select@(mtBankList._Name.IsInvalidClass)"
            data-select2-id="fMTBanksrch_x__Name"
            data-table="MTBank"
            data-field="x__Name"
            data-caption="@Html.Raw(HtmlEncode(RemoveHtml(mtBankList._Name.Caption)))"
            data-filter="true"
            multiple
            size="1"
            data-value-separator="@(mtBankList._Name.DisplayValueSeparatorAttribute)"
            data-placeholder="@(HtmlEncode(mtBankList._Name.PlaceHolder))"
            data-ew-action="update-options"
            @Html.Raw(mtBankList._Name.EditAttributes)>
            @(mtBankList._Name.SelectOptionListHtml("x__Name", true))
        </select>
        <div class="invalid-feedback">@Html.Raw(mtBankList._Name.GetErrorMessage(false))</div>
        <script>
        loadjs.ready("fMTBanksrch", function() {
            var options = {
                name: "x__Name",
                selectId: "fMTBanksrch_x__Name",
                ajax: { id: "x__Name", form: "fMTBanksrch", limit: ew.FILTER_PAGE_SIZE, data: { ajax: "filter" } }
            };
            options = Object.assign({}, ew.filterOptions, options, ew.vars.tables.MTBank.fields._Name.filterOptions);
            ew.createFilter(options);
        });
        </script>
    </div><!-- /.col-sm-auto -->
} @* mtBankList._Name.Visible (end) *@
@if (mtBankList.Code.Visible) { // mtBankList.Code.Visible (begin)
    if (!mtBankList.Code.UseFilter) {
        mtBankList.SearchColumnCount++;
    }
    <div id="xs_Code" class="col-sm-auto d-sm-flex align-items-start mb-3 px-0 pe-sm-2@(mtBankList.Code.UseFilter ? " ew-filter-field" : "")">
        <select
            id="x_Code"
            name="x_Code[]"
            class="form-control ew-select@(mtBankList.Code.IsInvalidClass)"
            data-select2-id="fMTBanksrch_x_Code"
            data-table="MTBank"
            data-field="x_Code"
            data-caption="@Html.Raw(HtmlEncode(RemoveHtml(mtBankList.Code.Caption)))"
            data-filter="true"
            multiple
            size="1"
            data-value-separator="@(mtBankList.Code.DisplayValueSeparatorAttribute)"
            data-placeholder="@(HtmlEncode(mtBankList.Code.PlaceHolder))"
            data-ew-action="update-options"
            @Html.Raw(mtBankList.Code.EditAttributes)>
            @(mtBankList.Code.SelectOptionListHtml("x_Code", true))
        </select>
        <div class="invalid-feedback">@Html.Raw(mtBankList.Code.GetErrorMessage(false))</div>
        <script>
        loadjs.ready("fMTBanksrch", function() {
            var options = {
                name: "x_Code",
                selectId: "fMTBanksrch_x_Code",
                ajax: { id: "x_Code", form: "fMTBanksrch", limit: ew.FILTER_PAGE_SIZE, data: { ajax: "filter" } }
            };
            options = Object.assign({}, ew.filterOptions, options, ew.vars.tables.MTBank.fields.Code.filterOptions);
            ew.createFilter(options);
        });
        </script>
    </div><!-- /.col-sm-auto -->
} @* mtBankList.Code.Visible (end) *@
@if (mtBankList.CreatedByUserID.Visible) { // mtBankList.CreatedByUserID.Visible (begin)
    if (!mtBankList.CreatedByUserID.UseFilter) {
        mtBankList.SearchColumnCount++;
    }
    <div id="xs_CreatedByUserID" class="col-sm-auto d-sm-flex align-items-start mb-3 px-0 pe-sm-2@(mtBankList.CreatedByUserID.UseFilter ? " ew-filter-field" : "")">
        <select
            id="x_CreatedByUserID"
            name="x_CreatedByUserID[]"
            class="form-control ew-select@(mtBankList.CreatedByUserID.IsInvalidClass)"
            data-select2-id="fMTBanksrch_x_CreatedByUserID"
            data-table="MTBank"
            data-field="x_CreatedByUserID"
            data-caption="@Html.Raw(HtmlEncode(RemoveHtml(mtBankList.CreatedByUserID.Caption)))"
            data-filter="true"
            multiple
            size="1"
            data-value-separator="@(mtBankList.CreatedByUserID.DisplayValueSeparatorAttribute)"
            data-placeholder="@(HtmlEncode(mtBankList.CreatedByUserID.PlaceHolder))"
            data-ew-action="update-options"
            @Html.Raw(mtBankList.CreatedByUserID.EditAttributes)>
            @(mtBankList.CreatedByUserID.SelectOptionListHtml("x_CreatedByUserID", true))
        </select>
        <div class="invalid-feedback">@Html.Raw(mtBankList.CreatedByUserID.GetErrorMessage(false))</div>
        <script>
        loadjs.ready("fMTBanksrch", function() {
            var options = {
                name: "x_CreatedByUserID",
                selectId: "fMTBanksrch_x_CreatedByUserID",
                ajax: { id: "x_CreatedByUserID", form: "fMTBanksrch", limit: ew.FILTER_PAGE_SIZE, data: { ajax: "filter" } }
            };
            options = Object.assign({}, ew.filterOptions, options, ew.vars.tables.MTBank.fields.CreatedByUserID.filterOptions);
            ew.createFilter(options);
        });
        </script>
    </div><!-- /.col-sm-auto -->
} @* mtBankList.CreatedByUserID.Visible (end) *@
@if (mtBankList.CreatedDateTime.Visible) { // mtBankList.CreatedDateTime.Visible (begin)
    if (!mtBankList.CreatedDateTime.UseFilter) {
        mtBankList.SearchColumnCount++;
    }
    <div id="xs_CreatedDateTime" class="col-sm-auto d-sm-flex align-items-start mb-3 px-0 pe-sm-2@(mtBankList.CreatedDateTime.UseFilter ? " ew-filter-field" : "")">
        <select
            id="x_CreatedDateTime"
            name="x_CreatedDateTime[]"
            class="form-control ew-select@(mtBankList.CreatedDateTime.IsInvalidClass)"
            data-select2-id="fMTBanksrch_x_CreatedDateTime"
            data-table="MTBank"
            data-field="x_CreatedDateTime"
            data-caption="@Html.Raw(HtmlEncode(RemoveHtml(mtBankList.CreatedDateTime.Caption)))"
            data-filter="true"
            multiple
            size="1"
            data-value-separator="@(mtBankList.CreatedDateTime.DisplayValueSeparatorAttribute)"
            data-placeholder="@(HtmlEncode(mtBankList.CreatedDateTime.PlaceHolder))"
            data-ew-action="update-options"
            @Html.Raw(mtBankList.CreatedDateTime.EditAttributes)>
            @(mtBankList.CreatedDateTime.SelectOptionListHtml("x_CreatedDateTime", true))
        </select>
        <div class="invalid-feedback">@Html.Raw(mtBankList.CreatedDateTime.GetErrorMessage(false))</div>
        <script>
        loadjs.ready("fMTBanksrch", function() {
            var options = {
                name: "x_CreatedDateTime",
                selectId: "fMTBanksrch_x_CreatedDateTime",
                ajax: { id: "x_CreatedDateTime", form: "fMTBanksrch", limit: ew.FILTER_PAGE_SIZE, data: { ajax: "filter" } }
            };
            options = Object.assign({}, ew.filterOptions, options, ew.vars.tables.MTBank.fields.CreatedDateTime.filterOptions);
            ew.createFilter(options);
        });
        </script>
    </div><!-- /.col-sm-auto -->
} @* mtBankList.CreatedDateTime.Visible (end) *@
@if (mtBankList.LastUpdatedByUserID.Visible) { // mtBankList.LastUpdatedByUserID.Visible (begin)
    if (!mtBankList.LastUpdatedByUserID.UseFilter) {
        mtBankList.SearchColumnCount++;
    }
    <div id="xs_LastUpdatedByUserID" class="col-sm-auto d-sm-flex align-items-start mb-3 px-0 pe-sm-2@(mtBankList.LastUpdatedByUserID.UseFilter ? " ew-filter-field" : "")">
        <select
            id="x_LastUpdatedByUserID"
            name="x_LastUpdatedByUserID[]"
            class="form-control ew-select@(mtBankList.LastUpdatedByUserID.IsInvalidClass)"
            data-select2-id="fMTBanksrch_x_LastUpdatedByUserID"
            data-table="MTBank"
            data-field="x_LastUpdatedByUserID"
            data-caption="@Html.Raw(HtmlEncode(RemoveHtml(mtBankList.LastUpdatedByUserID.Caption)))"
            data-filter="true"
            multiple
            size="1"
            data-value-separator="@(mtBankList.LastUpdatedByUserID.DisplayValueSeparatorAttribute)"
            data-placeholder="@(HtmlEncode(mtBankList.LastUpdatedByUserID.PlaceHolder))"
            data-ew-action="update-options"
            @Html.Raw(mtBankList.LastUpdatedByUserID.EditAttributes)>
            @(mtBankList.LastUpdatedByUserID.SelectOptionListHtml("x_LastUpdatedByUserID", true))
        </select>
        <div class="invalid-feedback">@Html.Raw(mtBankList.LastUpdatedByUserID.GetErrorMessage(false))</div>
        <script>
        loadjs.ready("fMTBanksrch", function() {
            var options = {
                name: "x_LastUpdatedByUserID",
                selectId: "fMTBanksrch_x_LastUpdatedByUserID",
                ajax: { id: "x_LastUpdatedByUserID", form: "fMTBanksrch", limit: ew.FILTER_PAGE_SIZE, data: { ajax: "filter" } }
            };
            options = Object.assign({}, ew.filterOptions, options, ew.vars.tables.MTBank.fields.LastUpdatedByUserID.filterOptions);
            ew.createFilter(options);
        });
        </script>
    </div><!-- /.col-sm-auto -->
} @* mtBankList.LastUpdatedByUserID.Visible (end) *@
@if (mtBankList.LastUpdatedDateTime.Visible) { // mtBankList.LastUpdatedDateTime.Visible (begin)
    if (!mtBankList.LastUpdatedDateTime.UseFilter) {
        mtBankList.SearchColumnCount++;
    }
    <div id="xs_LastUpdatedDateTime" class="col-sm-auto d-sm-flex align-items-start mb-3 px-0 pe-sm-2@(mtBankList.LastUpdatedDateTime.UseFilter ? " ew-filter-field" : "")">
        <select
            id="x_LastUpdatedDateTime"
            name="x_LastUpdatedDateTime[]"
            class="form-control ew-select@(mtBankList.LastUpdatedDateTime.IsInvalidClass)"
            data-select2-id="fMTBanksrch_x_LastUpdatedDateTime"
            data-table="MTBank"
            data-field="x_LastUpdatedDateTime"
            data-caption="@Html.Raw(HtmlEncode(RemoveHtml(mtBankList.LastUpdatedDateTime.Caption)))"
            data-filter="true"
            multiple
            size="1"
            data-value-separator="@(mtBankList.LastUpdatedDateTime.DisplayValueSeparatorAttribute)"
            data-placeholder="@(HtmlEncode(mtBankList.LastUpdatedDateTime.PlaceHolder))"
            data-ew-action="update-options"
            @Html.Raw(mtBankList.LastUpdatedDateTime.EditAttributes)>
            @(mtBankList.LastUpdatedDateTime.SelectOptionListHtml("x_LastUpdatedDateTime", true))
        </select>
        <div class="invalid-feedback">@Html.Raw(mtBankList.LastUpdatedDateTime.GetErrorMessage(false))</div>
        <script>
        loadjs.ready("fMTBanksrch", function() {
            var options = {
                name: "x_LastUpdatedDateTime",
                selectId: "fMTBanksrch_x_LastUpdatedDateTime",
                ajax: { id: "x_LastUpdatedDateTime", form: "fMTBanksrch", limit: ew.FILTER_PAGE_SIZE, data: { ajax: "filter" } }
            };
            options = Object.assign({}, ew.filterOptions, options, ew.vars.tables.MTBank.fields.LastUpdatedDateTime.filterOptions);
            ew.createFilter(options);
        });
        </script>
    </div><!-- /.col-sm-auto -->
} @* mtBankList.LastUpdatedDateTime.Visible (end) *@
</div><!-- /.row -->
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(mtBankList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(mtBankList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(mtBankList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(mtBankList.BasicSearch.SessionType == "" ? " active" : "")" form="fMTBanksrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(mtBankList.BasicSearch.SessionType == "=" ? " active" : "")" form="fMTBanksrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(mtBankList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fMTBanksrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(mtBankList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fMTBanksrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@mtBankList.ShowPageHeader()
@mtBankList.ShowMessages()
<main class="list @(mtBankList.TotalRecords == 0 && !mtBankList.IsAdd ? " ew-no-record" : "")">
<div id="ew-list">
@if (mtBankList.TotalRecords > 0 || !Empty(mtBankList.CurrentAction)) {
<div class="card ew-card ew-grid@(mtBankList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(mtBankList.TableGridClass)">
<form name="@(mtBankList.FormName)" id="@(mtBankList.FormName)" class="ew-form ew-list-form" action="@AppPath(mtBankList.PageName)" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (mtBankList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_MTBank" class="card-body ew-grid-middle-panel @(mtBankList.TableContainerClass)" style="@(mtBankList.TableContainerStyle)">
@if (mtBankList.TotalRecords > 0 || mtBankList.IsGridEdit || mtBankList.IsMultiEdit) {
<table id="tbl_MTBanklist" class="@(mtBankList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    mtBankList.RowType = RowType.Header;

    // Render list options
    await mtBankList.RenderListOptions();
}
@* Render list options (header, left) *@
@mtBankList.ListOptions.RenderHeader("left")
@if (mtBankList._Name.Visible) { // mtBankList._Name.Visible (begin)
        <th data-name="_Name" class="@(mtBankList._Name.HeaderCellClass)"><div id="elh_MTBank__Name" class="MTBank__Name">@Html.Raw(mtBankList.RenderFieldHeader(mtBankList._Name))</div></th>
} @* mtBankList._Name.Visible (end) *@
@if (mtBankList.Code.Visible) { // mtBankList.Code.Visible (begin)
        <th data-name="Code" class="@(mtBankList.Code.HeaderCellClass)"><div id="elh_MTBank_Code" class="MTBank_Code">@Html.Raw(mtBankList.RenderFieldHeader(mtBankList.Code))</div></th>
} @* mtBankList.Code.Visible (end) *@
@if (mtBankList.CreatedByUserID.Visible) { // mtBankList.CreatedByUserID.Visible (begin)
        <th data-name="CreatedByUserID" class="@(mtBankList.CreatedByUserID.HeaderCellClass)"><div id="elh_MTBank_CreatedByUserID" class="MTBank_CreatedByUserID">@Html.Raw(mtBankList.RenderFieldHeader(mtBankList.CreatedByUserID))</div></th>
} @* mtBankList.CreatedByUserID.Visible (end) *@
@if (mtBankList.CreatedDateTime.Visible) { // mtBankList.CreatedDateTime.Visible (begin)
        <th data-name="CreatedDateTime" class="@(mtBankList.CreatedDateTime.HeaderCellClass)"><div id="elh_MTBank_CreatedDateTime" class="MTBank_CreatedDateTime">@Html.Raw(mtBankList.RenderFieldHeader(mtBankList.CreatedDateTime))</div></th>
} @* mtBankList.CreatedDateTime.Visible (end) *@
@if (mtBankList.LastUpdatedByUserID.Visible) { // mtBankList.LastUpdatedByUserID.Visible (begin)
        <th data-name="LastUpdatedByUserID" class="@(mtBankList.LastUpdatedByUserID.HeaderCellClass)"><div id="elh_MTBank_LastUpdatedByUserID" class="MTBank_LastUpdatedByUserID">@Html.Raw(mtBankList.RenderFieldHeader(mtBankList.LastUpdatedByUserID))</div></th>
} @* mtBankList.LastUpdatedByUserID.Visible (end) *@
@if (mtBankList.LastUpdatedDateTime.Visible) { // mtBankList.LastUpdatedDateTime.Visible (begin)
        <th data-name="LastUpdatedDateTime" class="@(mtBankList.LastUpdatedDateTime.HeaderCellClass)"><div id="elh_MTBank_LastUpdatedDateTime" class="MTBank_LastUpdatedDateTime">@Html.Raw(mtBankList.RenderFieldHeader(mtBankList.LastUpdatedDateTime))</div></th>
} @* mtBankList.LastUpdatedDateTime.Visible (end) *@
@* Render list options (header, right) *@
@mtBankList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(mtBankList.PageNumber)">
@{
    await mtBankList.SetupGrid();
    bool eof = mtBankList.Recordset == null; // DN
}
@while (mtBankList.RecordCount < mtBankList.StopRecord || SameString(mtBankList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(mtBankList.RowIndex, "$rowindex$") &&
        (!mtBankList.IsGridAdd || mtBankList.CurrentMode == "copy") &&
        (!((mtBankList.IsCopy || mtBankList.IsAdd) && mtBankList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await mtBankList.Recordset.ReadAsync();
    mtBankList.RecordCount++;
    if (mtBankList.RecordCount >= mtBankList.StartRecord) {
        await mtBankList.SetupRow();
    <tr @Html.Raw(mtBankList.RowAttributes)>
    @* Render list options (body, left) *@
    @mtBankList.ListOptions.RenderBody("left", mtBankList.RowCount)
    @if (mtBankList._Name.Visible) { // mtBankList._Name.Visible (begin)
        <td data-name="_Name" @Html.Raw(mtBankList._Name.CellAttributes)>
<span id="el@(mtBankList.RowCount)_MTBank__Name" class="el_MTBank__Name">
<span @Html.Raw(mtBankList._Name.ViewAttributes)>
@Html.Raw(mtBankList._Name.GetViewValue())</span>
</span>
</td>
    } @* mtBankList._Name.Visible (end) *@
    @if (mtBankList.Code.Visible) { // mtBankList.Code.Visible (begin)
        <td data-name="Code" @Html.Raw(mtBankList.Code.CellAttributes)>
<span id="el@(mtBankList.RowCount)_MTBank_Code" class="el_MTBank_Code">
<span @Html.Raw(mtBankList.Code.ViewAttributes)>
@Html.Raw(mtBankList.Code.GetViewValue())</span>
</span>
</td>
    } @* mtBankList.Code.Visible (end) *@
    @if (mtBankList.CreatedByUserID.Visible) { // mtBankList.CreatedByUserID.Visible (begin)
        <td data-name="CreatedByUserID" @Html.Raw(mtBankList.CreatedByUserID.CellAttributes)>
<span id="el@(mtBankList.RowCount)_MTBank_CreatedByUserID" class="el_MTBank_CreatedByUserID">
<span @Html.Raw(mtBankList.CreatedByUserID.ViewAttributes)>
@Html.Raw(mtBankList.CreatedByUserID.GetViewValue())</span>
</span>
</td>
    } @* mtBankList.CreatedByUserID.Visible (end) *@
    @if (mtBankList.CreatedDateTime.Visible) { // mtBankList.CreatedDateTime.Visible (begin)
        <td data-name="CreatedDateTime" @Html.Raw(mtBankList.CreatedDateTime.CellAttributes)>
<span id="el@(mtBankList.RowCount)_MTBank_CreatedDateTime" class="el_MTBank_CreatedDateTime">
<span @Html.Raw(mtBankList.CreatedDateTime.ViewAttributes)>
@Html.Raw(mtBankList.CreatedDateTime.GetViewValue())</span>
</span>
</td>
    } @* mtBankList.CreatedDateTime.Visible (end) *@
    @if (mtBankList.LastUpdatedByUserID.Visible) { // mtBankList.LastUpdatedByUserID.Visible (begin)
        <td data-name="LastUpdatedByUserID" @Html.Raw(mtBankList.LastUpdatedByUserID.CellAttributes)>
<span id="el@(mtBankList.RowCount)_MTBank_LastUpdatedByUserID" class="el_MTBank_LastUpdatedByUserID">
<span @Html.Raw(mtBankList.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(mtBankList.LastUpdatedByUserID.GetViewValue())</span>
</span>
</td>
    } @* mtBankList.LastUpdatedByUserID.Visible (end) *@
    @if (mtBankList.LastUpdatedDateTime.Visible) { // mtBankList.LastUpdatedDateTime.Visible (begin)
        <td data-name="LastUpdatedDateTime" @Html.Raw(mtBankList.LastUpdatedDateTime.CellAttributes)>
<span id="el@(mtBankList.RowCount)_MTBank_LastUpdatedDateTime" class="el_MTBank_LastUpdatedDateTime">
<span @Html.Raw(mtBankList.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(mtBankList.LastUpdatedDateTime.GetViewValue())</span>
</span>
</td>
    } @* mtBankList.LastUpdatedDateTime.Visible (end) *@
    @* Render list options (body, right) *@
    @mtBankList.ListOptions.RenderBody("right", mtBankList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(mtBankList.RowIndex, "$rowindex$"))
        mtBankList.RowIndex = 0;

    // Reset inline add/copy row
    if ((mtBankList.IsCopy || mtBankList.IsAdd) && mtBankList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        mtBankList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(mtBankList.CurrentAction) && !mtBankList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ mtBankList.CloseRecordset(); }
@if (!mtBankList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!mtBankList.IsGridAdd && !(mtBankList.IsGridEdit && mtBankList.ModalGridEdit) && !mtBankList.IsMultiEdit) {
@Html.Raw(mtBankList.Pager.Render())
}
<div class="ew-list-other-options">
@mtBankList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@mtBankList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
</main>
@mtBankList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!mtBankList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("MTBank");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
