@{
    // View
    View = this;

    // Check action result
    if (mtCertificateOnRankDelete.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!mtCertificateOnRankDelete.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(mtCertificateOnRankDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MTCertificateOnRank: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fMTCertificateOnRankdelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMTCertificateOnRankdelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@mtCertificateOnRankDelete.ShowPageHeader()
@mtCertificateOnRankDelete.ShowMessages()
<form name="fMTCertificateOnRankdelete" id="fMTCertificateOnRankdelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in mtCertificateOnRankDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(mtCertificateOnRankDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(mtCertificateOnRankDelete.TableContainerClass)" style="@(mtCertificateOnRankDelete.TableContainerStyle)">
<table class="@(mtCertificateOnRankDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (mtCertificateOnRankDelete.MTRankID.Visible) { // mtCertificateOnRankDelete.MTRankID.Visible (begin)
        <th class="@Html.Raw(mtCertificateOnRankDelete.MTRankID.HeaderCellClass)"><span id="elh_MTCertificateOnRank_MTRankID" class="MTCertificateOnRank_MTRankID">@Html.Raw(mtCertificateOnRankDelete.MTRankID.Caption)</span></th>
} @* mtCertificateOnRankDelete.MTRankID.Visible (end) *@
@if (mtCertificateOnRankDelete.MTCertificateID.Visible) { // mtCertificateOnRankDelete.MTCertificateID.Visible (begin)
        <th class="@Html.Raw(mtCertificateOnRankDelete.MTCertificateID.HeaderCellClass)"><span id="elh_MTCertificateOnRank_MTCertificateID" class="MTCertificateOnRank_MTCertificateID">@Html.Raw(mtCertificateOnRankDelete.MTCertificateID.Caption)</span></th>
} @* mtCertificateOnRankDelete.MTCertificateID.Visible (end) *@
@if (mtCertificateOnRankDelete.CreatedByUserID.Visible) { // mtCertificateOnRankDelete.CreatedByUserID.Visible (begin)
        <th class="@Html.Raw(mtCertificateOnRankDelete.CreatedByUserID.HeaderCellClass)"><span id="elh_MTCertificateOnRank_CreatedByUserID" class="MTCertificateOnRank_CreatedByUserID">@Html.Raw(mtCertificateOnRankDelete.CreatedByUserID.Caption)</span></th>
} @* mtCertificateOnRankDelete.CreatedByUserID.Visible (end) *@
@if (mtCertificateOnRankDelete.CreatedDateTime.Visible) { // mtCertificateOnRankDelete.CreatedDateTime.Visible (begin)
        <th class="@Html.Raw(mtCertificateOnRankDelete.CreatedDateTime.HeaderCellClass)"><span id="elh_MTCertificateOnRank_CreatedDateTime" class="MTCertificateOnRank_CreatedDateTime">@Html.Raw(mtCertificateOnRankDelete.CreatedDateTime.Caption)</span></th>
} @* mtCertificateOnRankDelete.CreatedDateTime.Visible (end) *@
@if (mtCertificateOnRankDelete.LastUpdatedByUserID.Visible) { // mtCertificateOnRankDelete.LastUpdatedByUserID.Visible (begin)
        <th class="@Html.Raw(mtCertificateOnRankDelete.LastUpdatedByUserID.HeaderCellClass)"><span id="elh_MTCertificateOnRank_LastUpdatedByUserID" class="MTCertificateOnRank_LastUpdatedByUserID">@Html.Raw(mtCertificateOnRankDelete.LastUpdatedByUserID.Caption)</span></th>
} @* mtCertificateOnRankDelete.LastUpdatedByUserID.Visible (end) *@
@if (mtCertificateOnRankDelete.LastUpdatedDateTime.Visible) { // mtCertificateOnRankDelete.LastUpdatedDateTime.Visible (begin)
        <th class="@Html.Raw(mtCertificateOnRankDelete.LastUpdatedDateTime.HeaderCellClass)"><span id="elh_MTCertificateOnRank_LastUpdatedDateTime" class="MTCertificateOnRank_LastUpdatedDateTime">@Html.Raw(mtCertificateOnRankDelete.LastUpdatedDateTime.Caption)</span></th>
} @* mtCertificateOnRankDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ mtCertificateOnRankDelete.RecordCount = 0; }
@while (mtCertificateOnRankDelete.Recordset != null && await mtCertificateOnRankDelete.Recordset.ReadAsync()) { // DN
    mtCertificateOnRankDelete.RecordCount++;
    mtCertificateOnRankDelete.RowCount++;

    // Set row properties
    mtCertificateOnRankDelete.ResetAttributes();
    mtCertificateOnRankDelete.RowType = RowType.View; // View

    // Get the field contents
    await mtCertificateOnRankDelete.LoadRowValues(mtCertificateOnRankDelete.Recordset);

    // Render row
    await mtCertificateOnRankDelete.RenderRow();
    <tr @Html.Raw(mtCertificateOnRankDelete.RowAttributes)>
@if (mtCertificateOnRankDelete.MTRankID.Visible) { // mtCertificateOnRankDelete.MTRankID.Visible (begin)
        <td @Html.Raw(mtCertificateOnRankDelete.MTRankID.CellAttributes)>
<span id="el@(mtCertificateOnRankDelete.RowCount)_MTCertificateOnRank_MTRankID" class="el_MTCertificateOnRank_MTRankID">
<span @Html.Raw(mtCertificateOnRankDelete.MTRankID.ViewAttributes)>
@Html.Raw(mtCertificateOnRankDelete.MTRankID.GetViewValue())</span>
</span></td>
} @* mtCertificateOnRankDelete.MTRankID.Visible (end) *@
@if (mtCertificateOnRankDelete.MTCertificateID.Visible) { // mtCertificateOnRankDelete.MTCertificateID.Visible (begin)
        <td @Html.Raw(mtCertificateOnRankDelete.MTCertificateID.CellAttributes)>
<span id="el@(mtCertificateOnRankDelete.RowCount)_MTCertificateOnRank_MTCertificateID" class="el_MTCertificateOnRank_MTCertificateID">
<span @Html.Raw(mtCertificateOnRankDelete.MTCertificateID.ViewAttributes)>
@Html.Raw(mtCertificateOnRankDelete.MTCertificateID.GetViewValue())</span>
</span></td>
} @* mtCertificateOnRankDelete.MTCertificateID.Visible (end) *@
@if (mtCertificateOnRankDelete.CreatedByUserID.Visible) { // mtCertificateOnRankDelete.CreatedByUserID.Visible (begin)
        <td @Html.Raw(mtCertificateOnRankDelete.CreatedByUserID.CellAttributes)>
<span id="el@(mtCertificateOnRankDelete.RowCount)_MTCertificateOnRank_CreatedByUserID" class="el_MTCertificateOnRank_CreatedByUserID">
<span @Html.Raw(mtCertificateOnRankDelete.CreatedByUserID.ViewAttributes)>
@Html.Raw(mtCertificateOnRankDelete.CreatedByUserID.GetViewValue())</span>
</span></td>
} @* mtCertificateOnRankDelete.CreatedByUserID.Visible (end) *@
@if (mtCertificateOnRankDelete.CreatedDateTime.Visible) { // mtCertificateOnRankDelete.CreatedDateTime.Visible (begin)
        <td @Html.Raw(mtCertificateOnRankDelete.CreatedDateTime.CellAttributes)>
<span id="el@(mtCertificateOnRankDelete.RowCount)_MTCertificateOnRank_CreatedDateTime" class="el_MTCertificateOnRank_CreatedDateTime">
<span @Html.Raw(mtCertificateOnRankDelete.CreatedDateTime.ViewAttributes)>
@Html.Raw(mtCertificateOnRankDelete.CreatedDateTime.GetViewValue())</span>
</span></td>
} @* mtCertificateOnRankDelete.CreatedDateTime.Visible (end) *@
@if (mtCertificateOnRankDelete.LastUpdatedByUserID.Visible) { // mtCertificateOnRankDelete.LastUpdatedByUserID.Visible (begin)
        <td @Html.Raw(mtCertificateOnRankDelete.LastUpdatedByUserID.CellAttributes)>
<span id="el@(mtCertificateOnRankDelete.RowCount)_MTCertificateOnRank_LastUpdatedByUserID" class="el_MTCertificateOnRank_LastUpdatedByUserID">
<span @Html.Raw(mtCertificateOnRankDelete.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(mtCertificateOnRankDelete.LastUpdatedByUserID.GetViewValue())</span>
</span></td>
} @* mtCertificateOnRankDelete.LastUpdatedByUserID.Visible (end) *@
@if (mtCertificateOnRankDelete.LastUpdatedDateTime.Visible) { // mtCertificateOnRankDelete.LastUpdatedDateTime.Visible (begin)
        <td @Html.Raw(mtCertificateOnRankDelete.LastUpdatedDateTime.CellAttributes)>
<span id="el@(mtCertificateOnRankDelete.RowCount)_MTCertificateOnRank_LastUpdatedDateTime" class="el_MTCertificateOnRank_LastUpdatedDateTime">
<span @Html.Raw(mtCertificateOnRankDelete.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(mtCertificateOnRankDelete.LastUpdatedDateTime.GetViewValue())</span>
</span></td>
} @* mtCertificateOnRankDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
}
@{ mtCertificateOnRankDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(mtCertificateOnRankDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@mtCertificateOnRankDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
