@{
    // View
    View = this;

    // Check action result
    if (mtCertificateOnRankEdit.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!mtCertificateOnRankEdit.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@mtCertificateOnRankEdit.ShowPageHeader()
@mtCertificateOnRankEdit.ShowMessages()
<main class="edit">
<form name="fMTCertificateOnRankedit" id="fMTCertificateOnRankedit" class="@(mtCertificateOnRankEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
<script>
var currentTable = @Html.Raw(ConvertToJson(mtCertificateOnRankEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MTCertificateOnRank: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fMTCertificateOnRankedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMTCertificateOnRankedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["MTRankID", [fields.MTRankID.visible && fields.MTRankID.required ? ew.Validators.required(fields.MTRankID.caption) : null], fields.MTRankID.isInvalid],
            ["MTCertificateID", [fields.MTCertificateID.visible && fields.MTCertificateID.required ? ew.Validators.required(fields.MTCertificateID.caption) : null], fields.MTCertificateID.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "MTRankID": @Html.Raw(mtCertificateOnRankEdit.MTRankID.ToClientList(mtCertificateOnRankEdit)),
            "MTCertificateID": @Html.Raw(mtCertificateOnRankEdit.MTCertificateID.ToClientList(mtCertificateOnRankEdit)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(mtCertificateOnRankEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(mtCertificateOnRankEdit.OldKeyName)" value="@Html.Raw(mtCertificateOnRankEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (mtCertificateOnRankEdit.MTRankID.Visible) { // mtCertificateOnRankEdit.MTRankID.Visible (begin)
    <div id="r_MTRankID" @Html.Raw(mtCertificateOnRankEdit.MTRankID.RowAttributes)>
        <label id="elh_MTCertificateOnRank_MTRankID" for="x_MTRankID" class="@(mtCertificateOnRankEdit.LeftColumnClass)">@Html.Raw(mtCertificateOnRankEdit.MTRankID.Caption)@Html.Raw(mtCertificateOnRankEdit.MTRankID.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtCertificateOnRankEdit.RightColumnClass)"><div @Html.Raw(mtCertificateOnRankEdit.MTRankID.CellAttributes)>
<span id="el_MTCertificateOnRank_MTRankID">
    <select
        id="x_MTRankID"
        name="x_MTRankID"
        class="form-select ew-select@(mtCertificateOnRankEdit.MTRankID.IsInvalidClass)"
        data-select2-id="fMTCertificateOnRankedit_x_MTRankID"
        data-table="MTCertificateOnRank"
        data-field="x_MTRankID"
        data-value-separator="@(mtCertificateOnRankEdit.MTRankID.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(mtCertificateOnRankEdit.MTRankID.PlaceHolder))"
        @Html.Raw(mtCertificateOnRankEdit.MTRankID.EditAttributes)>
        @(mtCertificateOnRankEdit.MTRankID.SelectOptionListHtml("x_MTRankID"))
    </select>
    @Html.Raw(mtCertificateOnRankEdit.MTRankID.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(mtCertificateOnRankEdit.MTRankID.GetErrorMessage())</div>
@Html.Raw(mtCertificateOnRankEdit.MTRankID.Lookup.GetParamTag(mtCertificateOnRankEdit, "p_x_MTRankID"))
<script>
loadjs.ready("fMTCertificateOnRankedit", function() {
    var options = { name: "x_MTRankID", selectId: "fMTCertificateOnRankedit_x_MTRankID" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fMTCertificateOnRankedit.lists.MTRankID?.lookupOptions.length) {
        options.data = { id: "x_MTRankID", form: "fMTCertificateOnRankedit" };
    } else {
        options.ajax = { id: "x_MTRankID", form: "fMTCertificateOnRankedit", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumResultsForSearch = Infinity;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.MTCertificateOnRank.fields.MTRankID.selectOptions);
    ew.createSelect(options);
});
</script>
</span>
</div></div>
    </div>
} @* mtCertificateOnRankEdit.MTRankID.Visible (end) *@
@if (mtCertificateOnRankEdit.MTCertificateID.Visible) { // mtCertificateOnRankEdit.MTCertificateID.Visible (begin)
    <div id="r_MTCertificateID" @Html.Raw(mtCertificateOnRankEdit.MTCertificateID.RowAttributes)>
        <label id="elh_MTCertificateOnRank_MTCertificateID" for="x_MTCertificateID" class="@(mtCertificateOnRankEdit.LeftColumnClass)">@Html.Raw(mtCertificateOnRankEdit.MTCertificateID.Caption)@Html.Raw(mtCertificateOnRankEdit.MTCertificateID.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtCertificateOnRankEdit.RightColumnClass)"><div @Html.Raw(mtCertificateOnRankEdit.MTCertificateID.CellAttributes)>
<span id="el_MTCertificateOnRank_MTCertificateID">
    <select
        id="x_MTCertificateID"
        name="x_MTCertificateID"
        class="form-select ew-select@(mtCertificateOnRankEdit.MTCertificateID.IsInvalidClass)"
        data-select2-id="fMTCertificateOnRankedit_x_MTCertificateID"
        data-table="MTCertificateOnRank"
        data-field="x_MTCertificateID"
        data-value-separator="@(mtCertificateOnRankEdit.MTCertificateID.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(mtCertificateOnRankEdit.MTCertificateID.PlaceHolder))"
        @Html.Raw(mtCertificateOnRankEdit.MTCertificateID.EditAttributes)>
        @(mtCertificateOnRankEdit.MTCertificateID.SelectOptionListHtml("x_MTCertificateID"))
    </select>
    @Html.Raw(mtCertificateOnRankEdit.MTCertificateID.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(mtCertificateOnRankEdit.MTCertificateID.GetErrorMessage())</div>
@Html.Raw(mtCertificateOnRankEdit.MTCertificateID.Lookup.GetParamTag(mtCertificateOnRankEdit, "p_x_MTCertificateID"))
<script>
loadjs.ready("fMTCertificateOnRankedit", function() {
    var options = { name: "x_MTCertificateID", selectId: "fMTCertificateOnRankedit_x_MTCertificateID" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fMTCertificateOnRankedit.lists.MTCertificateID?.lookupOptions.length) {
        options.data = { id: "x_MTCertificateID", form: "fMTCertificateOnRankedit" };
    } else {
        options.ajax = { id: "x_MTCertificateID", form: "fMTCertificateOnRankedit", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumInputLength = ew.selectMinimumInputLength;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.MTCertificateOnRank.fields.MTCertificateID.selectOptions);
    ew.createSelect(options);
});
</script>
</span>
</div></div>
    </div>
} @* mtCertificateOnRankEdit.MTCertificateID.Visible (end) *@
</div><!-- /page* -->
    <input type="hidden" data-table="MTCertificateOnRank" data-field="x_ID" data-hidden="1" name="x_ID" id="x_ID" value="@Html.Raw(HtmlEncode(mtCertificateOnRankEdit.ID.CurrentValue))">
@{ mtCertificateOnRankEdit.CloseRecordset(); }
@Html.Raw(mtCertificateOnRankEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(mtCertificateOnRankEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fMTCertificateOnRankedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fMTCertificateOnRankedit" data-href="@AppPath(mtCertificateOnRankEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(mtCertificateOnRankEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@mtCertificateOnRankEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("MTCertificateOnRank");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
