@{
    // View
    View = this;

    // Check action result
    if (mtCertificateDelete.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!mtCertificateDelete.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(mtCertificateDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MTCertificate: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fMTCertificatedelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMTCertificatedelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@mtCertificateDelete.ShowPageHeader()
@mtCertificateDelete.ShowMessages()
<form name="fMTCertificatedelete" id="fMTCertificatedelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in mtCertificateDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(mtCertificateDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(mtCertificateDelete.TableContainerClass)" style="@(mtCertificateDelete.TableContainerStyle)">
<table class="@(mtCertificateDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (mtCertificateDelete.CategoryName.Visible) { // mtCertificateDelete.CategoryName.Visible (begin)
        <th class="@Html.Raw(mtCertificateDelete.CategoryName.HeaderCellClass)"><span id="elh_MTCertificate_CategoryName" class="MTCertificate_CategoryName">@Html.Raw(mtCertificateDelete.CategoryName.Caption)</span></th>
} @* mtCertificateDelete.CategoryName.Visible (end) *@
@if (mtCertificateDelete._Name.Visible) { // mtCertificateDelete._Name.Visible (begin)
        <th class="@Html.Raw(mtCertificateDelete._Name.HeaderCellClass)"><span id="elh_MTCertificate__Name" class="MTCertificate__Name">@Html.Raw(mtCertificateDelete._Name.Caption)</span></th>
} @* mtCertificateDelete._Name.Visible (end) *@
@if (mtCertificateDelete.CreatedByUserID.Visible) { // mtCertificateDelete.CreatedByUserID.Visible (begin)
        <th class="@Html.Raw(mtCertificateDelete.CreatedByUserID.HeaderCellClass)"><span id="elh_MTCertificate_CreatedByUserID" class="MTCertificate_CreatedByUserID">@Html.Raw(mtCertificateDelete.CreatedByUserID.Caption)</span></th>
} @* mtCertificateDelete.CreatedByUserID.Visible (end) *@
@if (mtCertificateDelete.CreatedDateTime.Visible) { // mtCertificateDelete.CreatedDateTime.Visible (begin)
        <th class="@Html.Raw(mtCertificateDelete.CreatedDateTime.HeaderCellClass)"><span id="elh_MTCertificate_CreatedDateTime" class="MTCertificate_CreatedDateTime">@Html.Raw(mtCertificateDelete.CreatedDateTime.Caption)</span></th>
} @* mtCertificateDelete.CreatedDateTime.Visible (end) *@
@if (mtCertificateDelete.LastUpdatedByUserID.Visible) { // mtCertificateDelete.LastUpdatedByUserID.Visible (begin)
        <th class="@Html.Raw(mtCertificateDelete.LastUpdatedByUserID.HeaderCellClass)"><span id="elh_MTCertificate_LastUpdatedByUserID" class="MTCertificate_LastUpdatedByUserID">@Html.Raw(mtCertificateDelete.LastUpdatedByUserID.Caption)</span></th>
} @* mtCertificateDelete.LastUpdatedByUserID.Visible (end) *@
@if (mtCertificateDelete.LastUpdatedDateTime.Visible) { // mtCertificateDelete.LastUpdatedDateTime.Visible (begin)
        <th class="@Html.Raw(mtCertificateDelete.LastUpdatedDateTime.HeaderCellClass)"><span id="elh_MTCertificate_LastUpdatedDateTime" class="MTCertificate_LastUpdatedDateTime">@Html.Raw(mtCertificateDelete.LastUpdatedDateTime.Caption)</span></th>
} @* mtCertificateDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ mtCertificateDelete.RecordCount = 0; }
@while (mtCertificateDelete.Recordset != null && await mtCertificateDelete.Recordset.ReadAsync()) { // DN
    mtCertificateDelete.RecordCount++;
    mtCertificateDelete.RowCount++;

    // Set row properties
    mtCertificateDelete.ResetAttributes();
    mtCertificateDelete.RowType = RowType.View; // View

    // Get the field contents
    await mtCertificateDelete.LoadRowValues(mtCertificateDelete.Recordset);

    // Render row
    await mtCertificateDelete.RenderRow();
    <tr @Html.Raw(mtCertificateDelete.RowAttributes)>
@if (mtCertificateDelete.CategoryName.Visible) { // mtCertificateDelete.CategoryName.Visible (begin)
        <td @Html.Raw(mtCertificateDelete.CategoryName.CellAttributes)>
<span id="el@(mtCertificateDelete.RowCount)_MTCertificate_CategoryName" class="el_MTCertificate_CategoryName">
<span @Html.Raw(mtCertificateDelete.CategoryName.ViewAttributes)>
@Html.Raw(mtCertificateDelete.CategoryName.GetViewValue())</span>
</span></td>
} @* mtCertificateDelete.CategoryName.Visible (end) *@
@if (mtCertificateDelete._Name.Visible) { // mtCertificateDelete._Name.Visible (begin)
        <td @Html.Raw(mtCertificateDelete._Name.CellAttributes)>
<span id="el@(mtCertificateDelete.RowCount)_MTCertificate__Name" class="el_MTCertificate__Name">
<span @Html.Raw(mtCertificateDelete._Name.ViewAttributes)>
@Html.Raw(mtCertificateDelete._Name.GetViewValue())</span>
</span></td>
} @* mtCertificateDelete._Name.Visible (end) *@
@if (mtCertificateDelete.CreatedByUserID.Visible) { // mtCertificateDelete.CreatedByUserID.Visible (begin)
        <td @Html.Raw(mtCertificateDelete.CreatedByUserID.CellAttributes)>
<span id="el@(mtCertificateDelete.RowCount)_MTCertificate_CreatedByUserID" class="el_MTCertificate_CreatedByUserID">
<span @Html.Raw(mtCertificateDelete.CreatedByUserID.ViewAttributes)>
@Html.Raw(mtCertificateDelete.CreatedByUserID.GetViewValue())</span>
</span></td>
} @* mtCertificateDelete.CreatedByUserID.Visible (end) *@
@if (mtCertificateDelete.CreatedDateTime.Visible) { // mtCertificateDelete.CreatedDateTime.Visible (begin)
        <td @Html.Raw(mtCertificateDelete.CreatedDateTime.CellAttributes)>
<span id="el@(mtCertificateDelete.RowCount)_MTCertificate_CreatedDateTime" class="el_MTCertificate_CreatedDateTime">
<span @Html.Raw(mtCertificateDelete.CreatedDateTime.ViewAttributes)>
@Html.Raw(mtCertificateDelete.CreatedDateTime.GetViewValue())</span>
</span></td>
} @* mtCertificateDelete.CreatedDateTime.Visible (end) *@
@if (mtCertificateDelete.LastUpdatedByUserID.Visible) { // mtCertificateDelete.LastUpdatedByUserID.Visible (begin)
        <td @Html.Raw(mtCertificateDelete.LastUpdatedByUserID.CellAttributes)>
<span id="el@(mtCertificateDelete.RowCount)_MTCertificate_LastUpdatedByUserID" class="el_MTCertificate_LastUpdatedByUserID">
<span @Html.Raw(mtCertificateDelete.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(mtCertificateDelete.LastUpdatedByUserID.GetViewValue())</span>
</span></td>
} @* mtCertificateDelete.LastUpdatedByUserID.Visible (end) *@
@if (mtCertificateDelete.LastUpdatedDateTime.Visible) { // mtCertificateDelete.LastUpdatedDateTime.Visible (begin)
        <td @Html.Raw(mtCertificateDelete.LastUpdatedDateTime.CellAttributes)>
<span id="el@(mtCertificateDelete.RowCount)_MTCertificate_LastUpdatedDateTime" class="el_MTCertificate_LastUpdatedDateTime">
<span @Html.Raw(mtCertificateDelete.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(mtCertificateDelete.LastUpdatedDateTime.GetViewValue())</span>
</span></td>
} @* mtCertificateDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
}
@{ mtCertificateDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(mtCertificateDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@mtCertificateDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
