@{
    // View
    View = this;

    // Check action result
    if (mtClothesSizeDelete.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!mtClothesSizeDelete.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(mtClothesSizeDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MTClothesSize: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fMTClothesSizedelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMTClothesSizedelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@mtClothesSizeDelete.ShowPageHeader()
@mtClothesSizeDelete.ShowMessages()
<form name="fMTClothesSizedelete" id="fMTClothesSizedelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in mtClothesSizeDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(mtClothesSizeDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(mtClothesSizeDelete.TableContainerClass)" style="@(mtClothesSizeDelete.TableContainerStyle)">
<table class="@(mtClothesSizeDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (mtClothesSizeDelete._Name.Visible) { // mtClothesSizeDelete._Name.Visible (begin)
        <th class="@Html.Raw(mtClothesSizeDelete._Name.HeaderCellClass)"><span id="elh_MTClothesSize__Name" class="MTClothesSize__Name">@Html.Raw(mtClothesSizeDelete._Name.Caption)</span></th>
} @* mtClothesSizeDelete._Name.Visible (end) *@
@if (mtClothesSizeDelete.CoverallSizeDescription.Visible) { // mtClothesSizeDelete.CoverallSizeDescription.Visible (begin)
        <th class="@Html.Raw(mtClothesSizeDelete.CoverallSizeDescription.HeaderCellClass)"><span id="elh_MTClothesSize_CoverallSizeDescription" class="MTClothesSize_CoverallSizeDescription">@Html.Raw(mtClothesSizeDelete.CoverallSizeDescription.Caption)</span></th>
} @* mtClothesSizeDelete.CoverallSizeDescription.Visible (end) *@
@if (mtClothesSizeDelete.ShirtSizeDescription.Visible) { // mtClothesSizeDelete.ShirtSizeDescription.Visible (begin)
        <th class="@Html.Raw(mtClothesSizeDelete.ShirtSizeDescription.HeaderCellClass)"><span id="elh_MTClothesSize_ShirtSizeDescription" class="MTClothesSize_ShirtSizeDescription">@Html.Raw(mtClothesSizeDelete.ShirtSizeDescription.Caption)</span></th>
} @* mtClothesSizeDelete.ShirtSizeDescription.Visible (end) *@
@if (mtClothesSizeDelete.TrouserSizeDescription.Visible) { // mtClothesSizeDelete.TrouserSizeDescription.Visible (begin)
        <th class="@Html.Raw(mtClothesSizeDelete.TrouserSizeDescription.HeaderCellClass)"><span id="elh_MTClothesSize_TrouserSizeDescription" class="MTClothesSize_TrouserSizeDescription">@Html.Raw(mtClothesSizeDelete.TrouserSizeDescription.Caption)</span></th>
} @* mtClothesSizeDelete.TrouserSizeDescription.Visible (end) *@
@if (mtClothesSizeDelete.CreatedByUserID.Visible) { // mtClothesSizeDelete.CreatedByUserID.Visible (begin)
        <th class="@Html.Raw(mtClothesSizeDelete.CreatedByUserID.HeaderCellClass)"><span id="elh_MTClothesSize_CreatedByUserID" class="MTClothesSize_CreatedByUserID">@Html.Raw(mtClothesSizeDelete.CreatedByUserID.Caption)</span></th>
} @* mtClothesSizeDelete.CreatedByUserID.Visible (end) *@
@if (mtClothesSizeDelete.CreatedDateTime.Visible) { // mtClothesSizeDelete.CreatedDateTime.Visible (begin)
        <th class="@Html.Raw(mtClothesSizeDelete.CreatedDateTime.HeaderCellClass)"><span id="elh_MTClothesSize_CreatedDateTime" class="MTClothesSize_CreatedDateTime">@Html.Raw(mtClothesSizeDelete.CreatedDateTime.Caption)</span></th>
} @* mtClothesSizeDelete.CreatedDateTime.Visible (end) *@
@if (mtClothesSizeDelete.LastUpdatedByUserID.Visible) { // mtClothesSizeDelete.LastUpdatedByUserID.Visible (begin)
        <th class="@Html.Raw(mtClothesSizeDelete.LastUpdatedByUserID.HeaderCellClass)"><span id="elh_MTClothesSize_LastUpdatedByUserID" class="MTClothesSize_LastUpdatedByUserID">@Html.Raw(mtClothesSizeDelete.LastUpdatedByUserID.Caption)</span></th>
} @* mtClothesSizeDelete.LastUpdatedByUserID.Visible (end) *@
@if (mtClothesSizeDelete.LastUpdatedDateTime.Visible) { // mtClothesSizeDelete.LastUpdatedDateTime.Visible (begin)
        <th class="@Html.Raw(mtClothesSizeDelete.LastUpdatedDateTime.HeaderCellClass)"><span id="elh_MTClothesSize_LastUpdatedDateTime" class="MTClothesSize_LastUpdatedDateTime">@Html.Raw(mtClothesSizeDelete.LastUpdatedDateTime.Caption)</span></th>
} @* mtClothesSizeDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ mtClothesSizeDelete.RecordCount = 0; }
@while (mtClothesSizeDelete.Recordset != null && await mtClothesSizeDelete.Recordset.ReadAsync()) { // DN
    mtClothesSizeDelete.RecordCount++;
    mtClothesSizeDelete.RowCount++;

    // Set row properties
    mtClothesSizeDelete.ResetAttributes();
    mtClothesSizeDelete.RowType = RowType.View; // View

    // Get the field contents
    await mtClothesSizeDelete.LoadRowValues(mtClothesSizeDelete.Recordset);

    // Render row
    await mtClothesSizeDelete.RenderRow();
    <tr @Html.Raw(mtClothesSizeDelete.RowAttributes)>
@if (mtClothesSizeDelete._Name.Visible) { // mtClothesSizeDelete._Name.Visible (begin)
        <td @Html.Raw(mtClothesSizeDelete._Name.CellAttributes)>
<span id="el@(mtClothesSizeDelete.RowCount)_MTClothesSize__Name" class="el_MTClothesSize__Name">
<span @Html.Raw(mtClothesSizeDelete._Name.ViewAttributes)>
@Html.Raw(mtClothesSizeDelete._Name.GetViewValue())</span>
</span></td>
} @* mtClothesSizeDelete._Name.Visible (end) *@
@if (mtClothesSizeDelete.CoverallSizeDescription.Visible) { // mtClothesSizeDelete.CoverallSizeDescription.Visible (begin)
        <td @Html.Raw(mtClothesSizeDelete.CoverallSizeDescription.CellAttributes)>
<span id="el@(mtClothesSizeDelete.RowCount)_MTClothesSize_CoverallSizeDescription" class="el_MTClothesSize_CoverallSizeDescription">
<span @Html.Raw(mtClothesSizeDelete.CoverallSizeDescription.ViewAttributes)>
@Html.Raw(mtClothesSizeDelete.CoverallSizeDescription.GetViewValue())</span>
</span></td>
} @* mtClothesSizeDelete.CoverallSizeDescription.Visible (end) *@
@if (mtClothesSizeDelete.ShirtSizeDescription.Visible) { // mtClothesSizeDelete.ShirtSizeDescription.Visible (begin)
        <td @Html.Raw(mtClothesSizeDelete.ShirtSizeDescription.CellAttributes)>
<span id="el@(mtClothesSizeDelete.RowCount)_MTClothesSize_ShirtSizeDescription" class="el_MTClothesSize_ShirtSizeDescription">
<span @Html.Raw(mtClothesSizeDelete.ShirtSizeDescription.ViewAttributes)>
@Html.Raw(mtClothesSizeDelete.ShirtSizeDescription.GetViewValue())</span>
</span></td>
} @* mtClothesSizeDelete.ShirtSizeDescription.Visible (end) *@
@if (mtClothesSizeDelete.TrouserSizeDescription.Visible) { // mtClothesSizeDelete.TrouserSizeDescription.Visible (begin)
        <td @Html.Raw(mtClothesSizeDelete.TrouserSizeDescription.CellAttributes)>
<span id="el@(mtClothesSizeDelete.RowCount)_MTClothesSize_TrouserSizeDescription" class="el_MTClothesSize_TrouserSizeDescription">
<span @Html.Raw(mtClothesSizeDelete.TrouserSizeDescription.ViewAttributes)>
@Html.Raw(mtClothesSizeDelete.TrouserSizeDescription.GetViewValue())</span>
</span></td>
} @* mtClothesSizeDelete.TrouserSizeDescription.Visible (end) *@
@if (mtClothesSizeDelete.CreatedByUserID.Visible) { // mtClothesSizeDelete.CreatedByUserID.Visible (begin)
        <td @Html.Raw(mtClothesSizeDelete.CreatedByUserID.CellAttributes)>
<span id="el@(mtClothesSizeDelete.RowCount)_MTClothesSize_CreatedByUserID" class="el_MTClothesSize_CreatedByUserID">
<span @Html.Raw(mtClothesSizeDelete.CreatedByUserID.ViewAttributes)>
@Html.Raw(mtClothesSizeDelete.CreatedByUserID.GetViewValue())</span>
</span></td>
} @* mtClothesSizeDelete.CreatedByUserID.Visible (end) *@
@if (mtClothesSizeDelete.CreatedDateTime.Visible) { // mtClothesSizeDelete.CreatedDateTime.Visible (begin)
        <td @Html.Raw(mtClothesSizeDelete.CreatedDateTime.CellAttributes)>
<span id="el@(mtClothesSizeDelete.RowCount)_MTClothesSize_CreatedDateTime" class="el_MTClothesSize_CreatedDateTime">
<span @Html.Raw(mtClothesSizeDelete.CreatedDateTime.ViewAttributes)>
@Html.Raw(mtClothesSizeDelete.CreatedDateTime.GetViewValue())</span>
</span></td>
} @* mtClothesSizeDelete.CreatedDateTime.Visible (end) *@
@if (mtClothesSizeDelete.LastUpdatedByUserID.Visible) { // mtClothesSizeDelete.LastUpdatedByUserID.Visible (begin)
        <td @Html.Raw(mtClothesSizeDelete.LastUpdatedByUserID.CellAttributes)>
<span id="el@(mtClothesSizeDelete.RowCount)_MTClothesSize_LastUpdatedByUserID" class="el_MTClothesSize_LastUpdatedByUserID">
<span @Html.Raw(mtClothesSizeDelete.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(mtClothesSizeDelete.LastUpdatedByUserID.GetViewValue())</span>
</span></td>
} @* mtClothesSizeDelete.LastUpdatedByUserID.Visible (end) *@
@if (mtClothesSizeDelete.LastUpdatedDateTime.Visible) { // mtClothesSizeDelete.LastUpdatedDateTime.Visible (begin)
        <td @Html.Raw(mtClothesSizeDelete.LastUpdatedDateTime.CellAttributes)>
<span id="el@(mtClothesSizeDelete.RowCount)_MTClothesSize_LastUpdatedDateTime" class="el_MTClothesSize_LastUpdatedDateTime">
<span @Html.Raw(mtClothesSizeDelete.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(mtClothesSizeDelete.LastUpdatedDateTime.GetViewValue())</span>
</span></td>
} @* mtClothesSizeDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
}
@{ mtClothesSizeDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(mtClothesSizeDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@mtClothesSizeDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
