@{
    // View
    View = this;

    // Check action result
    if (mtClothesSizeAdd.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!mtClothesSizeAdd.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(mtClothesSizeAdd.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MTClothesSize: currentTable } });
var currentPageID = ew.PAGE_ID = "add";
var currentForm;
var fMTClothesSizeadd;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMTClothesSizeadd")
        .setPageId("add")

        // Add fields
        .setFields([

            ["_Name", [fields._Name.visible && fields._Name.required ? ew.Validators.required(fields._Name.caption) : null], fields._Name.isInvalid],
            ["CoverallSizeDescription", [fields.CoverallSizeDescription.visible && fields.CoverallSizeDescription.required ? ew.Validators.required(fields.CoverallSizeDescription.caption) : null], fields.CoverallSizeDescription.isInvalid],
            ["ShirtSizeDescription", [fields.ShirtSizeDescription.visible && fields.ShirtSizeDescription.required ? ew.Validators.required(fields.ShirtSizeDescription.caption) : null], fields.ShirtSizeDescription.isInvalid],
            ["TrouserSizeDescription", [fields.TrouserSizeDescription.visible && fields.TrouserSizeDescription.required ? ew.Validators.required(fields.TrouserSizeDescription.caption) : null], fields.TrouserSizeDescription.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@mtClothesSizeAdd.ShowPageHeader()
@mtClothesSizeAdd.ShowMessages()
<form name="fMTClothesSizeadd" id="fMTClothesSizeadd" class="@(mtClothesSizeAdd.FormClassName)" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="insert">
<input type="hidden" name="modal" value="@ConvertToInt(mtClothesSizeAdd.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(mtClothesSizeAdd.OldKeyName)" value="@Html.Raw(mtClothesSizeAdd.OldKey)">
<div class="ew-add-div"><!-- page* -->
@if (mtClothesSizeAdd._Name.Visible) { // mtClothesSizeAdd._Name.Visible (begin)
    <div id="r__Name" @Html.Raw(mtClothesSizeAdd._Name.RowAttributes)>
        <label id="elh_MTClothesSize__Name" for="x__Name" class="@(mtClothesSizeAdd.LeftColumnClass)">@Html.Raw(mtClothesSizeAdd._Name.Caption)@Html.Raw(mtClothesSizeAdd._Name.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtClothesSizeAdd.RightColumnClass)"><div @Html.Raw(mtClothesSizeAdd._Name.CellAttributes)>
<span id="el_MTClothesSize__Name">
<input type="@(mtClothesSizeAdd._Name.InputTextType)" name="x__Name" id="x__Name" data-table="MTClothesSize" data-field="x__Name" value="@Html.Raw(mtClothesSizeAdd._Name.EditValue)" size="30" maxlength="5" placeholder="@Html.Raw(HtmlEncode(mtClothesSizeAdd._Name.PlaceHolder))" data-format-pattern="@(mtClothesSizeAdd._Name.FormatPattern)"@Html.Raw(mtClothesSizeAdd._Name.EditAttributes) aria-describedby="x__Name_help">
@Html.Raw(mtClothesSizeAdd._Name.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mtClothesSizeAdd._Name.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* mtClothesSizeAdd._Name.Visible (end) *@
@if (mtClothesSizeAdd.CoverallSizeDescription.Visible) { // mtClothesSizeAdd.CoverallSizeDescription.Visible (begin)
    <div id="r_CoverallSizeDescription" @Html.Raw(mtClothesSizeAdd.CoverallSizeDescription.RowAttributes)>
        <label id="elh_MTClothesSize_CoverallSizeDescription" for="x_CoverallSizeDescription" class="@(mtClothesSizeAdd.LeftColumnClass)">@Html.Raw(mtClothesSizeAdd.CoverallSizeDescription.Caption)@Html.Raw(mtClothesSizeAdd.CoverallSizeDescription.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtClothesSizeAdd.RightColumnClass)"><div @Html.Raw(mtClothesSizeAdd.CoverallSizeDescription.CellAttributes)>
<span id="el_MTClothesSize_CoverallSizeDescription">
<input type="@(mtClothesSizeAdd.CoverallSizeDescription.InputTextType)" name="x_CoverallSizeDescription" id="x_CoverallSizeDescription" data-table="MTClothesSize" data-field="x_CoverallSizeDescription" value="@Html.Raw(mtClothesSizeAdd.CoverallSizeDescription.EditValue)" size="30" maxlength="30" placeholder="@Html.Raw(HtmlEncode(mtClothesSizeAdd.CoverallSizeDescription.PlaceHolder))" data-format-pattern="@(mtClothesSizeAdd.CoverallSizeDescription.FormatPattern)"@Html.Raw(mtClothesSizeAdd.CoverallSizeDescription.EditAttributes) aria-describedby="x_CoverallSizeDescription_help">
@Html.Raw(mtClothesSizeAdd.CoverallSizeDescription.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mtClothesSizeAdd.CoverallSizeDescription.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* mtClothesSizeAdd.CoverallSizeDescription.Visible (end) *@
@if (mtClothesSizeAdd.ShirtSizeDescription.Visible) { // mtClothesSizeAdd.ShirtSizeDescription.Visible (begin)
    <div id="r_ShirtSizeDescription" @Html.Raw(mtClothesSizeAdd.ShirtSizeDescription.RowAttributes)>
        <label id="elh_MTClothesSize_ShirtSizeDescription" for="x_ShirtSizeDescription" class="@(mtClothesSizeAdd.LeftColumnClass)">@Html.Raw(mtClothesSizeAdd.ShirtSizeDescription.Caption)@Html.Raw(mtClothesSizeAdd.ShirtSizeDescription.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtClothesSizeAdd.RightColumnClass)"><div @Html.Raw(mtClothesSizeAdd.ShirtSizeDescription.CellAttributes)>
<span id="el_MTClothesSize_ShirtSizeDescription">
<input type="@(mtClothesSizeAdd.ShirtSizeDescription.InputTextType)" name="x_ShirtSizeDescription" id="x_ShirtSizeDescription" data-table="MTClothesSize" data-field="x_ShirtSizeDescription" value="@Html.Raw(mtClothesSizeAdd.ShirtSizeDescription.EditValue)" size="30" maxlength="30" placeholder="@Html.Raw(HtmlEncode(mtClothesSizeAdd.ShirtSizeDescription.PlaceHolder))" data-format-pattern="@(mtClothesSizeAdd.ShirtSizeDescription.FormatPattern)"@Html.Raw(mtClothesSizeAdd.ShirtSizeDescription.EditAttributes) aria-describedby="x_ShirtSizeDescription_help">
@Html.Raw(mtClothesSizeAdd.ShirtSizeDescription.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mtClothesSizeAdd.ShirtSizeDescription.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* mtClothesSizeAdd.ShirtSizeDescription.Visible (end) *@
@if (mtClothesSizeAdd.TrouserSizeDescription.Visible) { // mtClothesSizeAdd.TrouserSizeDescription.Visible (begin)
    <div id="r_TrouserSizeDescription" @Html.Raw(mtClothesSizeAdd.TrouserSizeDescription.RowAttributes)>
        <label id="elh_MTClothesSize_TrouserSizeDescription" for="x_TrouserSizeDescription" class="@(mtClothesSizeAdd.LeftColumnClass)">@Html.Raw(mtClothesSizeAdd.TrouserSizeDescription.Caption)@Html.Raw(mtClothesSizeAdd.TrouserSizeDescription.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtClothesSizeAdd.RightColumnClass)"><div @Html.Raw(mtClothesSizeAdd.TrouserSizeDescription.CellAttributes)>
<span id="el_MTClothesSize_TrouserSizeDescription">
<input type="@(mtClothesSizeAdd.TrouserSizeDescription.InputTextType)" name="x_TrouserSizeDescription" id="x_TrouserSizeDescription" data-table="MTClothesSize" data-field="x_TrouserSizeDescription" value="@Html.Raw(mtClothesSizeAdd.TrouserSizeDescription.EditValue)" size="30" maxlength="30" placeholder="@Html.Raw(HtmlEncode(mtClothesSizeAdd.TrouserSizeDescription.PlaceHolder))" data-format-pattern="@(mtClothesSizeAdd.TrouserSizeDescription.FormatPattern)"@Html.Raw(mtClothesSizeAdd.TrouserSizeDescription.EditAttributes) aria-describedby="x_TrouserSizeDescription_help">
@Html.Raw(mtClothesSizeAdd.TrouserSizeDescription.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mtClothesSizeAdd.TrouserSizeDescription.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* mtClothesSizeAdd.TrouserSizeDescription.Visible (end) *@
</div><!-- /page* -->
@{ mtClothesSizeAdd.CloseRecordset(); }
@Html.Raw(mtClothesSizeAdd.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(mtClothesSizeAdd.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fMTClothesSizeadd">@Html.Raw(Language.Phrase("AddBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fMTClothesSizeadd" data-href="@AppPath(mtClothesSizeAdd.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(mtClothesSizeAdd.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
@mtClothesSizeAdd.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("MTClothesSize");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
