@{
    // View
    View = this;

    // Check action result
    if (mtClothesSizeEdit.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!mtClothesSizeEdit.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@mtClothesSizeEdit.ShowPageHeader()
@mtClothesSizeEdit.ShowMessages()
<main class="edit">
<form name="fMTClothesSizeedit" id="fMTClothesSizeedit" class="@(mtClothesSizeEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
<script>
var currentTable = @Html.Raw(ConvertToJson(mtClothesSizeEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MTClothesSize: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fMTClothesSizeedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMTClothesSizeedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["_Name", [fields._Name.visible && fields._Name.required ? ew.Validators.required(fields._Name.caption) : null], fields._Name.isInvalid],
            ["CoverallSizeDescription", [fields.CoverallSizeDescription.visible && fields.CoverallSizeDescription.required ? ew.Validators.required(fields.CoverallSizeDescription.caption) : null], fields.CoverallSizeDescription.isInvalid],
            ["ShirtSizeDescription", [fields.ShirtSizeDescription.visible && fields.ShirtSizeDescription.required ? ew.Validators.required(fields.ShirtSizeDescription.caption) : null], fields.ShirtSizeDescription.isInvalid],
            ["TrouserSizeDescription", [fields.TrouserSizeDescription.visible && fields.TrouserSizeDescription.required ? ew.Validators.required(fields.TrouserSizeDescription.caption) : null], fields.TrouserSizeDescription.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(mtClothesSizeEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(mtClothesSizeEdit.OldKeyName)" value="@Html.Raw(mtClothesSizeEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (mtClothesSizeEdit._Name.Visible) { // mtClothesSizeEdit._Name.Visible (begin)
    <div id="r__Name" @Html.Raw(mtClothesSizeEdit._Name.RowAttributes)>
        <label id="elh_MTClothesSize__Name" for="x__Name" class="@(mtClothesSizeEdit.LeftColumnClass)">@Html.Raw(mtClothesSizeEdit._Name.Caption)@Html.Raw(mtClothesSizeEdit._Name.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtClothesSizeEdit.RightColumnClass)"><div @Html.Raw(mtClothesSizeEdit._Name.CellAttributes)>
<span id="el_MTClothesSize__Name">
<input type="@(mtClothesSizeEdit._Name.InputTextType)" name="x__Name" id="x__Name" data-table="MTClothesSize" data-field="x__Name" value="@Html.Raw(mtClothesSizeEdit._Name.EditValue)" size="30" maxlength="5" placeholder="@Html.Raw(HtmlEncode(mtClothesSizeEdit._Name.PlaceHolder))" data-format-pattern="@(mtClothesSizeEdit._Name.FormatPattern)"@Html.Raw(mtClothesSizeEdit._Name.EditAttributes) aria-describedby="x__Name_help">
@Html.Raw(mtClothesSizeEdit._Name.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mtClothesSizeEdit._Name.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* mtClothesSizeEdit._Name.Visible (end) *@
@if (mtClothesSizeEdit.CoverallSizeDescription.Visible) { // mtClothesSizeEdit.CoverallSizeDescription.Visible (begin)
    <div id="r_CoverallSizeDescription" @Html.Raw(mtClothesSizeEdit.CoverallSizeDescription.RowAttributes)>
        <label id="elh_MTClothesSize_CoverallSizeDescription" for="x_CoverallSizeDescription" class="@(mtClothesSizeEdit.LeftColumnClass)">@Html.Raw(mtClothesSizeEdit.CoverallSizeDescription.Caption)@Html.Raw(mtClothesSizeEdit.CoverallSizeDescription.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtClothesSizeEdit.RightColumnClass)"><div @Html.Raw(mtClothesSizeEdit.CoverallSizeDescription.CellAttributes)>
<span id="el_MTClothesSize_CoverallSizeDescription">
<input type="@(mtClothesSizeEdit.CoverallSizeDescription.InputTextType)" name="x_CoverallSizeDescription" id="x_CoverallSizeDescription" data-table="MTClothesSize" data-field="x_CoverallSizeDescription" value="@Html.Raw(mtClothesSizeEdit.CoverallSizeDescription.EditValue)" size="30" maxlength="30" placeholder="@Html.Raw(HtmlEncode(mtClothesSizeEdit.CoverallSizeDescription.PlaceHolder))" data-format-pattern="@(mtClothesSizeEdit.CoverallSizeDescription.FormatPattern)"@Html.Raw(mtClothesSizeEdit.CoverallSizeDescription.EditAttributes) aria-describedby="x_CoverallSizeDescription_help">
@Html.Raw(mtClothesSizeEdit.CoverallSizeDescription.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mtClothesSizeEdit.CoverallSizeDescription.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* mtClothesSizeEdit.CoverallSizeDescription.Visible (end) *@
@if (mtClothesSizeEdit.ShirtSizeDescription.Visible) { // mtClothesSizeEdit.ShirtSizeDescription.Visible (begin)
    <div id="r_ShirtSizeDescription" @Html.Raw(mtClothesSizeEdit.ShirtSizeDescription.RowAttributes)>
        <label id="elh_MTClothesSize_ShirtSizeDescription" for="x_ShirtSizeDescription" class="@(mtClothesSizeEdit.LeftColumnClass)">@Html.Raw(mtClothesSizeEdit.ShirtSizeDescription.Caption)@Html.Raw(mtClothesSizeEdit.ShirtSizeDescription.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtClothesSizeEdit.RightColumnClass)"><div @Html.Raw(mtClothesSizeEdit.ShirtSizeDescription.CellAttributes)>
<span id="el_MTClothesSize_ShirtSizeDescription">
<input type="@(mtClothesSizeEdit.ShirtSizeDescription.InputTextType)" name="x_ShirtSizeDescription" id="x_ShirtSizeDescription" data-table="MTClothesSize" data-field="x_ShirtSizeDescription" value="@Html.Raw(mtClothesSizeEdit.ShirtSizeDescription.EditValue)" size="30" maxlength="30" placeholder="@Html.Raw(HtmlEncode(mtClothesSizeEdit.ShirtSizeDescription.PlaceHolder))" data-format-pattern="@(mtClothesSizeEdit.ShirtSizeDescription.FormatPattern)"@Html.Raw(mtClothesSizeEdit.ShirtSizeDescription.EditAttributes) aria-describedby="x_ShirtSizeDescription_help">
@Html.Raw(mtClothesSizeEdit.ShirtSizeDescription.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mtClothesSizeEdit.ShirtSizeDescription.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* mtClothesSizeEdit.ShirtSizeDescription.Visible (end) *@
@if (mtClothesSizeEdit.TrouserSizeDescription.Visible) { // mtClothesSizeEdit.TrouserSizeDescription.Visible (begin)
    <div id="r_TrouserSizeDescription" @Html.Raw(mtClothesSizeEdit.TrouserSizeDescription.RowAttributes)>
        <label id="elh_MTClothesSize_TrouserSizeDescription" for="x_TrouserSizeDescription" class="@(mtClothesSizeEdit.LeftColumnClass)">@Html.Raw(mtClothesSizeEdit.TrouserSizeDescription.Caption)@Html.Raw(mtClothesSizeEdit.TrouserSizeDescription.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtClothesSizeEdit.RightColumnClass)"><div @Html.Raw(mtClothesSizeEdit.TrouserSizeDescription.CellAttributes)>
<span id="el_MTClothesSize_TrouserSizeDescription">
<input type="@(mtClothesSizeEdit.TrouserSizeDescription.InputTextType)" name="x_TrouserSizeDescription" id="x_TrouserSizeDescription" data-table="MTClothesSize" data-field="x_TrouserSizeDescription" value="@Html.Raw(mtClothesSizeEdit.TrouserSizeDescription.EditValue)" size="30" maxlength="30" placeholder="@Html.Raw(HtmlEncode(mtClothesSizeEdit.TrouserSizeDescription.PlaceHolder))" data-format-pattern="@(mtClothesSizeEdit.TrouserSizeDescription.FormatPattern)"@Html.Raw(mtClothesSizeEdit.TrouserSizeDescription.EditAttributes) aria-describedby="x_TrouserSizeDescription_help">
@Html.Raw(mtClothesSizeEdit.TrouserSizeDescription.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mtClothesSizeEdit.TrouserSizeDescription.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* mtClothesSizeEdit.TrouserSizeDescription.Visible (end) *@
</div><!-- /page* -->
    <input type="hidden" data-table="MTClothesSize" data-field="x_ID" data-hidden="1" name="x_ID" id="x_ID" value="@Html.Raw(HtmlEncode(mtClothesSizeEdit.ID.CurrentValue))">
@{ mtClothesSizeEdit.CloseRecordset(); }
@Html.Raw(mtClothesSizeEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(mtClothesSizeEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fMTClothesSizeedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fMTClothesSizeedit" data-href="@AppPath(mtClothesSizeEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(mtClothesSizeEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@mtClothesSizeEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("MTClothesSize");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
