@{
    // View
    View = this;

    // Check action result
    if (mtCountryDelete.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!mtCountryDelete.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(mtCountryDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MTCountry: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fMTCountrydelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMTCountrydelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@mtCountryDelete.ShowPageHeader()
@mtCountryDelete.ShowMessages()
<form name="fMTCountrydelete" id="fMTCountrydelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in mtCountryDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(mtCountryDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(mtCountryDelete.TableContainerClass)" style="@(mtCountryDelete.TableContainerStyle)">
<table class="@(mtCountryDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (mtCountryDelete._Name.Visible) { // mtCountryDelete._Name.Visible (begin)
        <th class="@Html.Raw(mtCountryDelete._Name.HeaderCellClass)"><span id="elh_MTCountry__Name" class="MTCountry__Name">@Html.Raw(mtCountryDelete._Name.Caption)</span></th>
} @* mtCountryDelete._Name.Visible (end) *@
@if (mtCountryDelete.Nationality.Visible) { // mtCountryDelete.Nationality.Visible (begin)
        <th class="@Html.Raw(mtCountryDelete.Nationality.HeaderCellClass)"><span id="elh_MTCountry_Nationality" class="MTCountry_Nationality">@Html.Raw(mtCountryDelete.Nationality.Caption)</span></th>
} @* mtCountryDelete.Nationality.Visible (end) *@
@if (mtCountryDelete.CallingCode.Visible) { // mtCountryDelete.CallingCode.Visible (begin)
        <th class="@Html.Raw(mtCountryDelete.CallingCode.HeaderCellClass)"><span id="elh_MTCountry_CallingCode" class="MTCountry_CallingCode">@Html.Raw(mtCountryDelete.CallingCode.Caption)</span></th>
} @* mtCountryDelete.CallingCode.Visible (end) *@
@if (mtCountryDelete.CreatedByUserID.Visible) { // mtCountryDelete.CreatedByUserID.Visible (begin)
        <th class="@Html.Raw(mtCountryDelete.CreatedByUserID.HeaderCellClass)"><span id="elh_MTCountry_CreatedByUserID" class="MTCountry_CreatedByUserID">@Html.Raw(mtCountryDelete.CreatedByUserID.Caption)</span></th>
} @* mtCountryDelete.CreatedByUserID.Visible (end) *@
@if (mtCountryDelete.CreatedDateTime.Visible) { // mtCountryDelete.CreatedDateTime.Visible (begin)
        <th class="@Html.Raw(mtCountryDelete.CreatedDateTime.HeaderCellClass)"><span id="elh_MTCountry_CreatedDateTime" class="MTCountry_CreatedDateTime">@Html.Raw(mtCountryDelete.CreatedDateTime.Caption)</span></th>
} @* mtCountryDelete.CreatedDateTime.Visible (end) *@
@if (mtCountryDelete.LastUpdatedByUserID.Visible) { // mtCountryDelete.LastUpdatedByUserID.Visible (begin)
        <th class="@Html.Raw(mtCountryDelete.LastUpdatedByUserID.HeaderCellClass)"><span id="elh_MTCountry_LastUpdatedByUserID" class="MTCountry_LastUpdatedByUserID">@Html.Raw(mtCountryDelete.LastUpdatedByUserID.Caption)</span></th>
} @* mtCountryDelete.LastUpdatedByUserID.Visible (end) *@
@if (mtCountryDelete.LastUpdatedDateTime.Visible) { // mtCountryDelete.LastUpdatedDateTime.Visible (begin)
        <th class="@Html.Raw(mtCountryDelete.LastUpdatedDateTime.HeaderCellClass)"><span id="elh_MTCountry_LastUpdatedDateTime" class="MTCountry_LastUpdatedDateTime">@Html.Raw(mtCountryDelete.LastUpdatedDateTime.Caption)</span></th>
} @* mtCountryDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ mtCountryDelete.RecordCount = 0; }
@while (mtCountryDelete.Recordset != null && await mtCountryDelete.Recordset.ReadAsync()) { // DN
    mtCountryDelete.RecordCount++;
    mtCountryDelete.RowCount++;

    // Set row properties
    mtCountryDelete.ResetAttributes();
    mtCountryDelete.RowType = RowType.View; // View

    // Get the field contents
    await mtCountryDelete.LoadRowValues(mtCountryDelete.Recordset);

    // Render row
    await mtCountryDelete.RenderRow();
    <tr @Html.Raw(mtCountryDelete.RowAttributes)>
@if (mtCountryDelete._Name.Visible) { // mtCountryDelete._Name.Visible (begin)
        <td @Html.Raw(mtCountryDelete._Name.CellAttributes)>
<span id="el@(mtCountryDelete.RowCount)_MTCountry__Name" class="el_MTCountry__Name">
<span @Html.Raw(mtCountryDelete._Name.ViewAttributes)>
@Html.Raw(mtCountryDelete._Name.GetViewValue())</span>
</span></td>
} @* mtCountryDelete._Name.Visible (end) *@
@if (mtCountryDelete.Nationality.Visible) { // mtCountryDelete.Nationality.Visible (begin)
        <td @Html.Raw(mtCountryDelete.Nationality.CellAttributes)>
<span id="el@(mtCountryDelete.RowCount)_MTCountry_Nationality" class="el_MTCountry_Nationality">
<span @Html.Raw(mtCountryDelete.Nationality.ViewAttributes)>
@Html.Raw(mtCountryDelete.Nationality.GetViewValue())</span>
</span></td>
} @* mtCountryDelete.Nationality.Visible (end) *@
@if (mtCountryDelete.CallingCode.Visible) { // mtCountryDelete.CallingCode.Visible (begin)
        <td @Html.Raw(mtCountryDelete.CallingCode.CellAttributes)>
<span id="el@(mtCountryDelete.RowCount)_MTCountry_CallingCode" class="el_MTCountry_CallingCode">
<span @Html.Raw(mtCountryDelete.CallingCode.ViewAttributes)>
@Html.Raw(mtCountryDelete.CallingCode.GetViewValue())</span>
</span></td>
} @* mtCountryDelete.CallingCode.Visible (end) *@
@if (mtCountryDelete.CreatedByUserID.Visible) { // mtCountryDelete.CreatedByUserID.Visible (begin)
        <td @Html.Raw(mtCountryDelete.CreatedByUserID.CellAttributes)>
<span id="el@(mtCountryDelete.RowCount)_MTCountry_CreatedByUserID" class="el_MTCountry_CreatedByUserID">
<span @Html.Raw(mtCountryDelete.CreatedByUserID.ViewAttributes)>
@Html.Raw(mtCountryDelete.CreatedByUserID.GetViewValue())</span>
</span></td>
} @* mtCountryDelete.CreatedByUserID.Visible (end) *@
@if (mtCountryDelete.CreatedDateTime.Visible) { // mtCountryDelete.CreatedDateTime.Visible (begin)
        <td @Html.Raw(mtCountryDelete.CreatedDateTime.CellAttributes)>
<span id="el@(mtCountryDelete.RowCount)_MTCountry_CreatedDateTime" class="el_MTCountry_CreatedDateTime">
<span @Html.Raw(mtCountryDelete.CreatedDateTime.ViewAttributes)>
@Html.Raw(mtCountryDelete.CreatedDateTime.GetViewValue())</span>
</span></td>
} @* mtCountryDelete.CreatedDateTime.Visible (end) *@
@if (mtCountryDelete.LastUpdatedByUserID.Visible) { // mtCountryDelete.LastUpdatedByUserID.Visible (begin)
        <td @Html.Raw(mtCountryDelete.LastUpdatedByUserID.CellAttributes)>
<span id="el@(mtCountryDelete.RowCount)_MTCountry_LastUpdatedByUserID" class="el_MTCountry_LastUpdatedByUserID">
<span @Html.Raw(mtCountryDelete.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(mtCountryDelete.LastUpdatedByUserID.GetViewValue())</span>
</span></td>
} @* mtCountryDelete.LastUpdatedByUserID.Visible (end) *@
@if (mtCountryDelete.LastUpdatedDateTime.Visible) { // mtCountryDelete.LastUpdatedDateTime.Visible (begin)
        <td @Html.Raw(mtCountryDelete.LastUpdatedDateTime.CellAttributes)>
<span id="el@(mtCountryDelete.RowCount)_MTCountry_LastUpdatedDateTime" class="el_MTCountry_LastUpdatedDateTime">
<span @Html.Raw(mtCountryDelete.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(mtCountryDelete.LastUpdatedDateTime.GetViewValue())</span>
</span></td>
} @* mtCountryDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
}
@{ mtCountryDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(mtCountryDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@mtCountryDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
