@{
    // View
    View = this;

    // Check action result
    if (mtCountryAdd.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!mtCountryAdd.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(mtCountryAdd.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MTCountry: currentTable } });
var currentPageID = ew.PAGE_ID = "add";
var currentForm;
var fMTCountryadd;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMTCountryadd")
        .setPageId("add")

        // Add fields
        .setFields([

            ["_Name", [fields._Name.visible && fields._Name.required ? ew.Validators.required(fields._Name.caption) : null], fields._Name.isInvalid],
            ["Nationality", [fields.Nationality.visible && fields.Nationality.required ? ew.Validators.required(fields.Nationality.caption) : null], fields.Nationality.isInvalid],
            ["CallingCode", [fields.CallingCode.visible && fields.CallingCode.required ? ew.Validators.required(fields.CallingCode.caption) : null], fields.CallingCode.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    function validateFieldWithRegex (thisInstance, fieldName, errorMessage, regex) {
                        const fieldValue = $(thisInstance).fields(fieldName)[0].value;
                        if (!regex.test(fieldValue)) {
                            thisInstance.fields[fieldName].addError({ custom: errorMessage });
                            thisInstance.fields[fieldName].updateFeedback();
                            thisInstance.addError(fieldName, { custom: errorMessage });   
                            return false;
                        } else {
                            return true;
                        }
                    }
                    const regex = /^\+\d{1,3}$/;
                    const regexErrorMessageEnglish = "Must start with + sign and contain 1-3 digits";
                    const regexErrorMessageIndonesian = "Harus diawali dengan tanda + dan terdiri dari 1-3 angka";
                    const selectedLanguage = ew.vars['languages']['languages'].filter(obj => obj.selected === true)[0];
                    let formErrorCount = 0;
                    if (selectedLanguage.id === 'en-US') {
                        formErrorCount += validateFieldWithRegex(this, "CallingCode",  regexErrorMessageEnglish, regex) ? 0 : 1;
                    } else {
                        formErrorCount += validateFieldWithRegex(this, "CallingCode",  regexErrorMessageIndonesian, regex) ? 0 : 1;
                    }
                    return formErrorCount === 0;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@mtCountryAdd.ShowPageHeader()
@mtCountryAdd.ShowMessages()
<form name="fMTCountryadd" id="fMTCountryadd" class="@(mtCountryAdd.FormClassName)" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="insert">
<input type="hidden" name="modal" value="@ConvertToInt(mtCountryAdd.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(mtCountryAdd.OldKeyName)" value="@Html.Raw(mtCountryAdd.OldKey)">
<div class="ew-add-div"><!-- page* -->
@if (mtCountryAdd._Name.Visible) { // mtCountryAdd._Name.Visible (begin)
    <div id="r__Name" @Html.Raw(mtCountryAdd._Name.RowAttributes)>
        <label id="elh_MTCountry__Name" for="x__Name" class="@(mtCountryAdd.LeftColumnClass)">@Html.Raw(mtCountryAdd._Name.Caption)@Html.Raw(mtCountryAdd._Name.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtCountryAdd.RightColumnClass)"><div @Html.Raw(mtCountryAdd._Name.CellAttributes)>
<span id="el_MTCountry__Name">
<input type="@(mtCountryAdd._Name.InputTextType)" name="x__Name" id="x__Name" data-table="MTCountry" data-field="x__Name" value="@Html.Raw(mtCountryAdd._Name.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(mtCountryAdd._Name.PlaceHolder))" data-format-pattern="@(mtCountryAdd._Name.FormatPattern)"@Html.Raw(mtCountryAdd._Name.EditAttributes) aria-describedby="x__Name_help">
@Html.Raw(mtCountryAdd._Name.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mtCountryAdd._Name.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* mtCountryAdd._Name.Visible (end) *@
@if (mtCountryAdd.Nationality.Visible) { // mtCountryAdd.Nationality.Visible (begin)
    <div id="r_Nationality" @Html.Raw(mtCountryAdd.Nationality.RowAttributes)>
        <label id="elh_MTCountry_Nationality" for="x_Nationality" class="@(mtCountryAdd.LeftColumnClass)">@Html.Raw(mtCountryAdd.Nationality.Caption)@Html.Raw(mtCountryAdd.Nationality.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtCountryAdd.RightColumnClass)"><div @Html.Raw(mtCountryAdd.Nationality.CellAttributes)>
<span id="el_MTCountry_Nationality">
<input type="@(mtCountryAdd.Nationality.InputTextType)" name="x_Nationality" id="x_Nationality" data-table="MTCountry" data-field="x_Nationality" value="@Html.Raw(mtCountryAdd.Nationality.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(mtCountryAdd.Nationality.PlaceHolder))" data-format-pattern="@(mtCountryAdd.Nationality.FormatPattern)"@Html.Raw(mtCountryAdd.Nationality.EditAttributes) aria-describedby="x_Nationality_help">
@Html.Raw(mtCountryAdd.Nationality.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mtCountryAdd.Nationality.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* mtCountryAdd.Nationality.Visible (end) *@
@if (mtCountryAdd.CallingCode.Visible) { // mtCountryAdd.CallingCode.Visible (begin)
    <div id="r_CallingCode" @Html.Raw(mtCountryAdd.CallingCode.RowAttributes)>
        <label id="elh_MTCountry_CallingCode" for="x_CallingCode" class="@(mtCountryAdd.LeftColumnClass)">@Html.Raw(mtCountryAdd.CallingCode.Caption)@Html.Raw(mtCountryAdd.CallingCode.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtCountryAdd.RightColumnClass)"><div @Html.Raw(mtCountryAdd.CallingCode.CellAttributes)>
<span id="el_MTCountry_CallingCode">
<input type="@(mtCountryAdd.CallingCode.InputTextType)" name="x_CallingCode" id="x_CallingCode" data-table="MTCountry" data-field="x_CallingCode" value="@Html.Raw(mtCountryAdd.CallingCode.EditValue)" size="30" maxlength="4" placeholder="@Html.Raw(HtmlEncode(mtCountryAdd.CallingCode.PlaceHolder))" data-format-pattern="@(mtCountryAdd.CallingCode.FormatPattern)"@Html.Raw(mtCountryAdd.CallingCode.EditAttributes) aria-describedby="x_CallingCode_help">
@Html.Raw(mtCountryAdd.CallingCode.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mtCountryAdd.CallingCode.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* mtCountryAdd.CallingCode.Visible (end) *@
</div><!-- /page* -->
@{ mtCountryAdd.CloseRecordset(); }
@Html.Raw(mtCountryAdd.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(mtCountryAdd.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fMTCountryadd">@Html.Raw(Language.Phrase("AddBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fMTCountryadd" data-href="@AppPath(mtCountryAdd.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(mtCountryAdd.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
@mtCountryAdd.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("MTCountry");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
