@{
    // View
    View = this;

    // Check action result
    if (mtCrewFamilyPreview.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
ew.deepAssign(ew.vars, { tables: { MTCrewFamily: @Html.Raw(ConvertToJson(mtCrewFamilyPreview.ToClientVar())) } });
</script>
@mtCrewFamilyPreview.ShowPageHeader()
@if (mtCrewFamilyPreview.TotalRecords > 0) {
<div class="card ew-grid @(mtCrewFamilyPreview.TableGridClass)"><!-- .card -->
<div class="card-body ew-preview-middle-panel ew-grid-middle-panel @(mtCrewFamilyPreview.TableContainerClass)" style="@(mtCrewFamilyPreview.TableContainerStyle)"><!-- .card-body -->
<table class="@(mtCrewFamilyPreview.TableClass)"><!-- .table -->
    <thead><!-- Table header -->
        <tr class="ew-table-header">
@{
    await mtCrewFamilyPreview.RenderListOptions(); // Render list options
}
@mtCrewFamilyPreview.ListOptions.RenderHeader("left")
@if (mtCrewFamilyPreview.MTCrewID.Visible) { // mtCrewFamilyPreview.MTCrewID.Visible (begin)
    if (Empty(mtCrewFamilyPreview.SortUrl(mtCrewFamilyPreview.MTCrewID))) {
        <th class="@mtCrewFamilyPreview.MTCrewID.HeaderCellClass">@Html.Raw(mtCrewFamilyPreview.MTCrewID.Caption)</th>
    } else {
        <th class="@mtCrewFamilyPreview.MTCrewID.HeaderCellClass"><div role="button" data-table="MTCrewFamily" data-sort="@mtCrewFamilyPreview.MTCrewID.Name" data-sort-type="2" data-sort-order="@mtCrewFamilyPreview.MTCrewID.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewFamilyPreview.MTCrewID.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewFamilyPreview.MTCrewID.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewFamilyPreview.MTCrewID.Visible (end) *@
@if (mtCrewFamilyPreview.Relationship.Visible) { // mtCrewFamilyPreview.Relationship.Visible (begin)
    if (Empty(mtCrewFamilyPreview.SortUrl(mtCrewFamilyPreview.Relationship))) {
        <th class="@mtCrewFamilyPreview.Relationship.HeaderCellClass">@Html.Raw(mtCrewFamilyPreview.Relationship.Caption)</th>
    } else {
        <th class="@mtCrewFamilyPreview.Relationship.HeaderCellClass"><div role="button" data-table="MTCrewFamily" data-sort="@mtCrewFamilyPreview.Relationship.Name" data-sort-type="2" data-sort-order="@mtCrewFamilyPreview.Relationship.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewFamilyPreview.Relationship.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewFamilyPreview.Relationship.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewFamilyPreview.Relationship.Visible (end) *@
@if (mtCrewFamilyPreview.FullName.Visible) { // mtCrewFamilyPreview.FullName.Visible (begin)
    if (Empty(mtCrewFamilyPreview.SortUrl(mtCrewFamilyPreview.FullName))) {
        <th class="@mtCrewFamilyPreview.FullName.HeaderCellClass">@Html.Raw(mtCrewFamilyPreview.FullName.Caption)</th>
    } else {
        <th class="@mtCrewFamilyPreview.FullName.HeaderCellClass"><div role="button" data-table="MTCrewFamily" data-sort="@mtCrewFamilyPreview.FullName.Name" data-sort-type="2" data-sort-order="@mtCrewFamilyPreview.FullName.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewFamilyPreview.FullName.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewFamilyPreview.FullName.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewFamilyPreview.FullName.Visible (end) *@
@if (mtCrewFamilyPreview.Gender.Visible) { // mtCrewFamilyPreview.Gender.Visible (begin)
    if (Empty(mtCrewFamilyPreview.SortUrl(mtCrewFamilyPreview.Gender))) {
        <th class="@mtCrewFamilyPreview.Gender.HeaderCellClass">@Html.Raw(mtCrewFamilyPreview.Gender.Caption)</th>
    } else {
        <th class="@mtCrewFamilyPreview.Gender.HeaderCellClass"><div role="button" data-table="MTCrewFamily" data-sort="@mtCrewFamilyPreview.Gender.Name" data-sort-type="2" data-sort-order="@mtCrewFamilyPreview.Gender.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewFamilyPreview.Gender.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewFamilyPreview.Gender.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewFamilyPreview.Gender.Visible (end) *@
@if (mtCrewFamilyPreview.DateOfBirth.Visible) { // mtCrewFamilyPreview.DateOfBirth.Visible (begin)
    if (Empty(mtCrewFamilyPreview.SortUrl(mtCrewFamilyPreview.DateOfBirth))) {
        <th class="@mtCrewFamilyPreview.DateOfBirth.HeaderCellClass">@Html.Raw(mtCrewFamilyPreview.DateOfBirth.Caption)</th>
    } else {
        <th class="@mtCrewFamilyPreview.DateOfBirth.HeaderCellClass"><div role="button" data-table="MTCrewFamily" data-sort="@mtCrewFamilyPreview.DateOfBirth.Name" data-sort-type="2" data-sort-order="@mtCrewFamilyPreview.DateOfBirth.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewFamilyPreview.DateOfBirth.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewFamilyPreview.DateOfBirth.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewFamilyPreview.DateOfBirth.Visible (end) *@
@if (mtCrewFamilyPreview.MobileNumberCode_CountryID.Visible) { // mtCrewFamilyPreview.MobileNumberCode_CountryID.Visible (begin)
    if (Empty(mtCrewFamilyPreview.SortUrl(mtCrewFamilyPreview.MobileNumberCode_CountryID))) {
        <th class="@mtCrewFamilyPreview.MobileNumberCode_CountryID.HeaderCellClass">@Html.Raw(mtCrewFamilyPreview.MobileNumberCode_CountryID.Caption)</th>
    } else {
        <th class="@mtCrewFamilyPreview.MobileNumberCode_CountryID.HeaderCellClass"><div role="button" data-table="MTCrewFamily" data-sort="@mtCrewFamilyPreview.MobileNumberCode_CountryID.Name" data-sort-type="2" data-sort-order="@mtCrewFamilyPreview.MobileNumberCode_CountryID.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewFamilyPreview.MobileNumberCode_CountryID.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewFamilyPreview.MobileNumberCode_CountryID.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewFamilyPreview.MobileNumberCode_CountryID.Visible (end) *@
@if (mtCrewFamilyPreview.MobileNumber.Visible) { // mtCrewFamilyPreview.MobileNumber.Visible (begin)
    if (Empty(mtCrewFamilyPreview.SortUrl(mtCrewFamilyPreview.MobileNumber))) {
        <th class="@mtCrewFamilyPreview.MobileNumber.HeaderCellClass">@Html.Raw(mtCrewFamilyPreview.MobileNumber.Caption)</th>
    } else {
        <th class="@mtCrewFamilyPreview.MobileNumber.HeaderCellClass"><div role="button" data-table="MTCrewFamily" data-sort="@mtCrewFamilyPreview.MobileNumber.Name" data-sort-type="2" data-sort-order="@mtCrewFamilyPreview.MobileNumber.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewFamilyPreview.MobileNumber.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewFamilyPreview.MobileNumber.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewFamilyPreview.MobileNumber.Visible (end) *@
@if (mtCrewFamilyPreview._Email.Visible) { // mtCrewFamilyPreview._Email.Visible (begin)
    if (Empty(mtCrewFamilyPreview.SortUrl(mtCrewFamilyPreview._Email))) {
        <th class="@mtCrewFamilyPreview._Email.HeaderCellClass">@Html.Raw(mtCrewFamilyPreview._Email.Caption)</th>
    } else {
        <th class="@mtCrewFamilyPreview._Email.HeaderCellClass"><div role="button" data-table="MTCrewFamily" data-sort="@mtCrewFamilyPreview._Email.Name" data-sort-type="2" data-sort-order="@mtCrewFamilyPreview._Email.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewFamilyPreview._Email.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewFamilyPreview._Email.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewFamilyPreview._Email.Visible (end) *@
@if (mtCrewFamilyPreview.SocialSecurityNumber.Visible) { // mtCrewFamilyPreview.SocialSecurityNumber.Visible (begin)
    if (Empty(mtCrewFamilyPreview.SortUrl(mtCrewFamilyPreview.SocialSecurityNumber))) {
        <th class="@mtCrewFamilyPreview.SocialSecurityNumber.HeaderCellClass">@Html.Raw(mtCrewFamilyPreview.SocialSecurityNumber.Caption)</th>
    } else {
        <th class="@mtCrewFamilyPreview.SocialSecurityNumber.HeaderCellClass"><div role="button" data-table="MTCrewFamily" data-sort="@mtCrewFamilyPreview.SocialSecurityNumber.Name" data-sort-type="2" data-sort-order="@mtCrewFamilyPreview.SocialSecurityNumber.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewFamilyPreview.SocialSecurityNumber.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewFamilyPreview.SocialSecurityNumber.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewFamilyPreview.SocialSecurityNumber.Visible (end) *@
@if (mtCrewFamilyPreview.FamilyRegisterNumber.Visible) { // mtCrewFamilyPreview.FamilyRegisterNumber.Visible (begin)
    if (Empty(mtCrewFamilyPreview.SortUrl(mtCrewFamilyPreview.FamilyRegisterNumber))) {
        <th class="@mtCrewFamilyPreview.FamilyRegisterNumber.HeaderCellClass">@Html.Raw(mtCrewFamilyPreview.FamilyRegisterNumber.Caption)</th>
    } else {
        <th class="@mtCrewFamilyPreview.FamilyRegisterNumber.HeaderCellClass"><div role="button" data-table="MTCrewFamily" data-sort="@mtCrewFamilyPreview.FamilyRegisterNumber.Name" data-sort-type="2" data-sort-order="@mtCrewFamilyPreview.FamilyRegisterNumber.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewFamilyPreview.FamilyRegisterNumber.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewFamilyPreview.FamilyRegisterNumber.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewFamilyPreview.FamilyRegisterNumber.Visible (end) *@
@if (mtCrewFamilyPreview.Address.Visible) { // mtCrewFamilyPreview.Address.Visible (begin)
    if (Empty(mtCrewFamilyPreview.SortUrl(mtCrewFamilyPreview.Address))) {
        <th class="@mtCrewFamilyPreview.Address.HeaderCellClass">@Html.Raw(mtCrewFamilyPreview.Address.Caption)</th>
    } else {
        <th class="@mtCrewFamilyPreview.Address.HeaderCellClass"><div role="button" data-table="MTCrewFamily" data-sort="@mtCrewFamilyPreview.Address.Name" data-sort-type="2" data-sort-order="@mtCrewFamilyPreview.Address.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewFamilyPreview.Address.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewFamilyPreview.Address.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewFamilyPreview.Address.Visible (end) *@
@if (mtCrewFamilyPreview.CreatedByUserID.Visible) { // mtCrewFamilyPreview.CreatedByUserID.Visible (begin)
    if (Empty(mtCrewFamilyPreview.SortUrl(mtCrewFamilyPreview.CreatedByUserID))) {
        <th class="@mtCrewFamilyPreview.CreatedByUserID.HeaderCellClass">@Html.Raw(mtCrewFamilyPreview.CreatedByUserID.Caption)</th>
    } else {
        <th class="@mtCrewFamilyPreview.CreatedByUserID.HeaderCellClass"><div role="button" data-table="MTCrewFamily" data-sort="@mtCrewFamilyPreview.CreatedByUserID.Name" data-sort-type="2" data-sort-order="@mtCrewFamilyPreview.CreatedByUserID.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewFamilyPreview.CreatedByUserID.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewFamilyPreview.CreatedByUserID.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewFamilyPreview.CreatedByUserID.Visible (end) *@
@if (mtCrewFamilyPreview.CreatedDateTime.Visible) { // mtCrewFamilyPreview.CreatedDateTime.Visible (begin)
    if (Empty(mtCrewFamilyPreview.SortUrl(mtCrewFamilyPreview.CreatedDateTime))) {
        <th class="@mtCrewFamilyPreview.CreatedDateTime.HeaderCellClass">@Html.Raw(mtCrewFamilyPreview.CreatedDateTime.Caption)</th>
    } else {
        <th class="@mtCrewFamilyPreview.CreatedDateTime.HeaderCellClass"><div role="button" data-table="MTCrewFamily" data-sort="@mtCrewFamilyPreview.CreatedDateTime.Name" data-sort-type="2" data-sort-order="@mtCrewFamilyPreview.CreatedDateTime.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewFamilyPreview.CreatedDateTime.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewFamilyPreview.CreatedDateTime.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewFamilyPreview.CreatedDateTime.Visible (end) *@
@if (mtCrewFamilyPreview.LastUpdatedByUserID.Visible) { // mtCrewFamilyPreview.LastUpdatedByUserID.Visible (begin)
    if (Empty(mtCrewFamilyPreview.SortUrl(mtCrewFamilyPreview.LastUpdatedByUserID))) {
        <th class="@mtCrewFamilyPreview.LastUpdatedByUserID.HeaderCellClass">@Html.Raw(mtCrewFamilyPreview.LastUpdatedByUserID.Caption)</th>
    } else {
        <th class="@mtCrewFamilyPreview.LastUpdatedByUserID.HeaderCellClass"><div role="button" data-table="MTCrewFamily" data-sort="@mtCrewFamilyPreview.LastUpdatedByUserID.Name" data-sort-type="2" data-sort-order="@mtCrewFamilyPreview.LastUpdatedByUserID.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewFamilyPreview.LastUpdatedByUserID.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewFamilyPreview.LastUpdatedByUserID.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewFamilyPreview.LastUpdatedByUserID.Visible (end) *@
@if (mtCrewFamilyPreview.LastUpdatedDateTime.Visible) { // mtCrewFamilyPreview.LastUpdatedDateTime.Visible (begin)
    if (Empty(mtCrewFamilyPreview.SortUrl(mtCrewFamilyPreview.LastUpdatedDateTime))) {
        <th class="@mtCrewFamilyPreview.LastUpdatedDateTime.HeaderCellClass">@Html.Raw(mtCrewFamilyPreview.LastUpdatedDateTime.Caption)</th>
    } else {
        <th class="@mtCrewFamilyPreview.LastUpdatedDateTime.HeaderCellClass"><div role="button" data-table="MTCrewFamily" data-sort="@mtCrewFamilyPreview.LastUpdatedDateTime.Name" data-sort-type="2" data-sort-order="@mtCrewFamilyPreview.LastUpdatedDateTime.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewFamilyPreview.LastUpdatedDateTime.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewFamilyPreview.LastUpdatedDateTime.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewFamilyPreview.LastUpdatedDateTime.Visible (end) *@
@mtCrewFamilyPreview.ListOptions.RenderHeader("right")
        </tr>
    </thead>
    <tbody><!-- Table body -->
@{
    mtCrewFamilyPreview.RecordCount = 0;
    mtCrewFamilyPreview.RowCount = 0;
}
@do {
    // Init row class and style
    mtCrewFamilyPreview.RecordCount++;
    mtCrewFamilyPreview.RowCount++;
    mtCrewFamilyPreview.CssStyle = "";
    mtCrewFamilyPreview.LoadListRowValues(mtCrewFamilyPreview.Recordset);

    // Render row
    mtCrewFamilyPreview.RowType = RowType.Preview; // Preview record
    mtCrewFamilyPreview.ResetAttributes();
    await mtCrewFamilyPreview.RenderListRow();

    // Render list options
    await mtCrewFamilyPreview.RenderListOptions();
    <tr @Html.Raw(mtCrewFamilyPreview.RowAttributes)>
    @mtCrewFamilyPreview.ListOptions.RenderBody("left", mtCrewFamilyPreview.RowCount)
    @if (mtCrewFamilyPreview.MTCrewID.Visible) { // mtCrewFamilyPreview.MTCrewID.Visible (begin)
            <td @Html.Raw(mtCrewFamilyPreview.MTCrewID.CellAttributes)>
<span @Html.Raw(mtCrewFamilyPreview.MTCrewID.ViewAttributes)>
@Html.Raw(mtCrewFamilyPreview.MTCrewID.GetViewValue())</span>
</td>
    } @* mtCrewFamilyPreview.MTCrewID.Visible (end) *@
    @if (mtCrewFamilyPreview.Relationship.Visible) { // mtCrewFamilyPreview.Relationship.Visible (begin)
            <td @Html.Raw(mtCrewFamilyPreview.Relationship.CellAttributes)>
<span @Html.Raw(mtCrewFamilyPreview.Relationship.ViewAttributes)>
@Html.Raw(mtCrewFamilyPreview.Relationship.GetViewValue())</span>
</td>
    } @* mtCrewFamilyPreview.Relationship.Visible (end) *@
    @if (mtCrewFamilyPreview.FullName.Visible) { // mtCrewFamilyPreview.FullName.Visible (begin)
            <td @Html.Raw(mtCrewFamilyPreview.FullName.CellAttributes)>
<span @Html.Raw(mtCrewFamilyPreview.FullName.ViewAttributes)>
@Html.Raw(mtCrewFamilyPreview.FullName.GetViewValue())</span>
</td>
    } @* mtCrewFamilyPreview.FullName.Visible (end) *@
    @if (mtCrewFamilyPreview.Gender.Visible) { // mtCrewFamilyPreview.Gender.Visible (begin)
            <td @Html.Raw(mtCrewFamilyPreview.Gender.CellAttributes)>
<span @Html.Raw(mtCrewFamilyPreview.Gender.ViewAttributes)>
@Html.Raw(mtCrewFamilyPreview.Gender.GetViewValue())</span>
</td>
    } @* mtCrewFamilyPreview.Gender.Visible (end) *@
    @if (mtCrewFamilyPreview.DateOfBirth.Visible) { // mtCrewFamilyPreview.DateOfBirth.Visible (begin)
            <td @Html.Raw(mtCrewFamilyPreview.DateOfBirth.CellAttributes)>
<span @Html.Raw(mtCrewFamilyPreview.DateOfBirth.ViewAttributes)>
@Html.Raw(mtCrewFamilyPreview.DateOfBirth.GetViewValue())</span>
</td>
    } @* mtCrewFamilyPreview.DateOfBirth.Visible (end) *@
    @if (mtCrewFamilyPreview.MobileNumberCode_CountryID.Visible) { // mtCrewFamilyPreview.MobileNumberCode_CountryID.Visible (begin)
            <td @Html.Raw(mtCrewFamilyPreview.MobileNumberCode_CountryID.CellAttributes)>
<span @Html.Raw(mtCrewFamilyPreview.MobileNumberCode_CountryID.ViewAttributes)>
@Html.Raw(mtCrewFamilyPreview.MobileNumberCode_CountryID.GetViewValue())</span>
</td>
    } @* mtCrewFamilyPreview.MobileNumberCode_CountryID.Visible (end) *@
    @if (mtCrewFamilyPreview.MobileNumber.Visible) { // mtCrewFamilyPreview.MobileNumber.Visible (begin)
            <td @Html.Raw(mtCrewFamilyPreview.MobileNumber.CellAttributes)>
<span @Html.Raw(mtCrewFamilyPreview.MobileNumber.ViewAttributes)>
@Html.Raw(mtCrewFamilyPreview.MobileNumber.GetViewValue())</span>
</td>
    } @* mtCrewFamilyPreview.MobileNumber.Visible (end) *@
    @if (mtCrewFamilyPreview._Email.Visible) { // mtCrewFamilyPreview._Email.Visible (begin)
            <td @Html.Raw(mtCrewFamilyPreview._Email.CellAttributes)>
<span @Html.Raw(mtCrewFamilyPreview._Email.ViewAttributes)>
@Html.Raw(mtCrewFamilyPreview._Email.GetViewValue())</span>
</td>
    } @* mtCrewFamilyPreview._Email.Visible (end) *@
    @if (mtCrewFamilyPreview.SocialSecurityNumber.Visible) { // mtCrewFamilyPreview.SocialSecurityNumber.Visible (begin)
            <td @Html.Raw(mtCrewFamilyPreview.SocialSecurityNumber.CellAttributes)>
<span @Html.Raw(mtCrewFamilyPreview.SocialSecurityNumber.ViewAttributes)>
@Html.Raw(mtCrewFamilyPreview.SocialSecurityNumber.GetViewValue())</span>
</td>
    } @* mtCrewFamilyPreview.SocialSecurityNumber.Visible (end) *@
    @if (mtCrewFamilyPreview.FamilyRegisterNumber.Visible) { // mtCrewFamilyPreview.FamilyRegisterNumber.Visible (begin)
            <td @Html.Raw(mtCrewFamilyPreview.FamilyRegisterNumber.CellAttributes)>
<span @Html.Raw(mtCrewFamilyPreview.FamilyRegisterNumber.ViewAttributes)>
@Html.Raw(mtCrewFamilyPreview.FamilyRegisterNumber.GetViewValue())</span>
</td>
    } @* mtCrewFamilyPreview.FamilyRegisterNumber.Visible (end) *@
    @if (mtCrewFamilyPreview.Address.Visible) { // mtCrewFamilyPreview.Address.Visible (begin)
            <td @Html.Raw(mtCrewFamilyPreview.Address.CellAttributes)>
<span @Html.Raw(mtCrewFamilyPreview.Address.ViewAttributes)>
@Html.Raw(mtCrewFamilyPreview.Address.GetViewValue())</span>
</td>
    } @* mtCrewFamilyPreview.Address.Visible (end) *@
    @if (mtCrewFamilyPreview.CreatedByUserID.Visible) { // mtCrewFamilyPreview.CreatedByUserID.Visible (begin)
            <td @Html.Raw(mtCrewFamilyPreview.CreatedByUserID.CellAttributes)>
<span @Html.Raw(mtCrewFamilyPreview.CreatedByUserID.ViewAttributes)>
@Html.Raw(mtCrewFamilyPreview.CreatedByUserID.GetViewValue())</span>
</td>
    } @* mtCrewFamilyPreview.CreatedByUserID.Visible (end) *@
    @if (mtCrewFamilyPreview.CreatedDateTime.Visible) { // mtCrewFamilyPreview.CreatedDateTime.Visible (begin)
            <td @Html.Raw(mtCrewFamilyPreview.CreatedDateTime.CellAttributes)>
<span @Html.Raw(mtCrewFamilyPreview.CreatedDateTime.ViewAttributes)>
@Html.Raw(mtCrewFamilyPreview.CreatedDateTime.GetViewValue())</span>
</td>
    } @* mtCrewFamilyPreview.CreatedDateTime.Visible (end) *@
    @if (mtCrewFamilyPreview.LastUpdatedByUserID.Visible) { // mtCrewFamilyPreview.LastUpdatedByUserID.Visible (begin)
            <td @Html.Raw(mtCrewFamilyPreview.LastUpdatedByUserID.CellAttributes)>
<span @Html.Raw(mtCrewFamilyPreview.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(mtCrewFamilyPreview.LastUpdatedByUserID.GetViewValue())</span>
</td>
    } @* mtCrewFamilyPreview.LastUpdatedByUserID.Visible (end) *@
    @if (mtCrewFamilyPreview.LastUpdatedDateTime.Visible) { // mtCrewFamilyPreview.LastUpdatedDateTime.Visible (begin)
            <td @Html.Raw(mtCrewFamilyPreview.LastUpdatedDateTime.CellAttributes)>
<span @Html.Raw(mtCrewFamilyPreview.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(mtCrewFamilyPreview.LastUpdatedDateTime.GetViewValue())</span>
</td>
    } @* mtCrewFamilyPreview.LastUpdatedDateTime.Visible (end) *@
    @mtCrewFamilyPreview.ListOptions.RenderBody("right", mtCrewFamilyPreview.RowCount)
    </tr>
} while (await mtCrewFamilyPreview.Recordset.ReadAsync());
    </tbody>
</table><!-- /.table -->
</div><!-- /.card-body -->
<div class="card-footer ew-grid-lower-panel ew-preview-lower-panel"><!-- .card-footer -->
@Html.Raw(mtCrewFamilyPreview.Pager.Render())
<div class="ew-preview-other-options">
@mtCrewFamilyPreview.OtherOptions.RenderBody()
</div>
</div><!-- /.card-footer -->
</div><!-- /.card -->
} else { @* No record *@
<div class="card border-0"><!-- .card -->
<div class="ew-detail-count">@Html.Raw(Language.Phrase("NoRecord"))</div>
<div class="ew-preview-other-options">
@mtCrewFamilyPreview.OtherOptions.RenderBody()
</div>
</div><!-- /.card -->
}
@mtCrewFamilyPreview.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
