@{
    // View
    View = this;

    // Check action result
    if (mtCrewMedicalHistoryPreview.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
ew.deepAssign(ew.vars, { tables: { MTCrewMedicalHistory: @Html.Raw(ConvertToJson(mtCrewMedicalHistoryPreview.ToClientVar())) } });
</script>
@mtCrewMedicalHistoryPreview.ShowPageHeader()
@if (mtCrewMedicalHistoryPreview.TotalRecords > 0) {
<div class="card ew-grid @(mtCrewMedicalHistoryPreview.TableGridClass)"><!-- .card -->
<div class="card-body ew-preview-middle-panel ew-grid-middle-panel @(mtCrewMedicalHistoryPreview.TableContainerClass)" style="@(mtCrewMedicalHistoryPreview.TableContainerStyle)"><!-- .card-body -->
<table class="@(mtCrewMedicalHistoryPreview.TableClass)"><!-- .table -->
    <thead><!-- Table header -->
        <tr class="ew-table-header">
@{
    await mtCrewMedicalHistoryPreview.RenderListOptions(); // Render list options
}
@mtCrewMedicalHistoryPreview.ListOptions.RenderHeader("left")
@if (mtCrewMedicalHistoryPreview.MTCrewID.Visible) { // mtCrewMedicalHistoryPreview.MTCrewID.Visible (begin)
    if (Empty(mtCrewMedicalHistoryPreview.SortUrl(mtCrewMedicalHistoryPreview.MTCrewID))) {
        <th class="@mtCrewMedicalHistoryPreview.MTCrewID.HeaderCellClass">@Html.Raw(mtCrewMedicalHistoryPreview.MTCrewID.Caption)</th>
    } else {
        <th class="@mtCrewMedicalHistoryPreview.MTCrewID.HeaderCellClass"><div role="button" data-table="MTCrewMedicalHistory" data-sort="@mtCrewMedicalHistoryPreview.MTCrewID.Name" data-sort-type="2" data-sort-order="@mtCrewMedicalHistoryPreview.MTCrewID.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewMedicalHistoryPreview.MTCrewID.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewMedicalHistoryPreview.MTCrewID.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewMedicalHistoryPreview.MTCrewID.Visible (end) *@
@if (mtCrewMedicalHistoryPreview._Type.Visible) { // mtCrewMedicalHistoryPreview._Type.Visible (begin)
    if (Empty(mtCrewMedicalHistoryPreview.SortUrl(mtCrewMedicalHistoryPreview._Type))) {
        <th class="@mtCrewMedicalHistoryPreview._Type.HeaderCellClass">@Html.Raw(mtCrewMedicalHistoryPreview._Type.Caption)</th>
    } else {
        <th class="@mtCrewMedicalHistoryPreview._Type.HeaderCellClass"><div role="button" data-table="MTCrewMedicalHistory" data-sort="@mtCrewMedicalHistoryPreview._Type.Name" data-sort-type="2" data-sort-order="@mtCrewMedicalHistoryPreview._Type.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewMedicalHistoryPreview._Type.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewMedicalHistoryPreview._Type.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewMedicalHistoryPreview._Type.Visible (end) *@
@if (mtCrewMedicalHistoryPreview.VesselName.Visible) { // mtCrewMedicalHistoryPreview.VesselName.Visible (begin)
    if (Empty(mtCrewMedicalHistoryPreview.SortUrl(mtCrewMedicalHistoryPreview.VesselName))) {
        <th class="@mtCrewMedicalHistoryPreview.VesselName.HeaderCellClass">@Html.Raw(mtCrewMedicalHistoryPreview.VesselName.Caption)</th>
    } else {
        <th class="@mtCrewMedicalHistoryPreview.VesselName.HeaderCellClass"><div role="button" data-table="MTCrewMedicalHistory" data-sort="@mtCrewMedicalHistoryPreview.VesselName.Name" data-sort-type="2" data-sort-order="@mtCrewMedicalHistoryPreview.VesselName.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewMedicalHistoryPreview.VesselName.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewMedicalHistoryPreview.VesselName.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewMedicalHistoryPreview.VesselName.Visible (end) *@
@if (mtCrewMedicalHistoryPreview.DateOccurence.Visible) { // mtCrewMedicalHistoryPreview.DateOccurence.Visible (begin)
    if (Empty(mtCrewMedicalHistoryPreview.SortUrl(mtCrewMedicalHistoryPreview.DateOccurence))) {
        <th class="@mtCrewMedicalHistoryPreview.DateOccurence.HeaderCellClass">@Html.Raw(mtCrewMedicalHistoryPreview.DateOccurence.Caption)</th>
    } else {
        <th class="@mtCrewMedicalHistoryPreview.DateOccurence.HeaderCellClass"><div role="button" data-table="MTCrewMedicalHistory" data-sort="@mtCrewMedicalHistoryPreview.DateOccurence.Name" data-sort-type="2" data-sort-order="@mtCrewMedicalHistoryPreview.DateOccurence.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewMedicalHistoryPreview.DateOccurence.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewMedicalHistoryPreview.DateOccurence.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewMedicalHistoryPreview.DateOccurence.Visible (end) *@
@if (mtCrewMedicalHistoryPreview.PlaceOccurence.Visible) { // mtCrewMedicalHistoryPreview.PlaceOccurence.Visible (begin)
    if (Empty(mtCrewMedicalHistoryPreview.SortUrl(mtCrewMedicalHistoryPreview.PlaceOccurence))) {
        <th class="@mtCrewMedicalHistoryPreview.PlaceOccurence.HeaderCellClass">@Html.Raw(mtCrewMedicalHistoryPreview.PlaceOccurence.Caption)</th>
    } else {
        <th class="@mtCrewMedicalHistoryPreview.PlaceOccurence.HeaderCellClass"><div role="button" data-table="MTCrewMedicalHistory" data-sort="@mtCrewMedicalHistoryPreview.PlaceOccurence.Name" data-sort-type="2" data-sort-order="@mtCrewMedicalHistoryPreview.PlaceOccurence.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewMedicalHistoryPreview.PlaceOccurence.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewMedicalHistoryPreview.PlaceOccurence.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewMedicalHistoryPreview.PlaceOccurence.Visible (end) *@
@if (mtCrewMedicalHistoryPreview.PeriodOfDisability.Visible) { // mtCrewMedicalHistoryPreview.PeriodOfDisability.Visible (begin)
    if (Empty(mtCrewMedicalHistoryPreview.SortUrl(mtCrewMedicalHistoryPreview.PeriodOfDisability))) {
        <th class="@mtCrewMedicalHistoryPreview.PeriodOfDisability.HeaderCellClass">@Html.Raw(mtCrewMedicalHistoryPreview.PeriodOfDisability.Caption)</th>
    } else {
        <th class="@mtCrewMedicalHistoryPreview.PeriodOfDisability.HeaderCellClass"><div role="button" data-table="MTCrewMedicalHistory" data-sort="@mtCrewMedicalHistoryPreview.PeriodOfDisability.Name" data-sort-type="2" data-sort-order="@mtCrewMedicalHistoryPreview.PeriodOfDisability.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewMedicalHistoryPreview.PeriodOfDisability.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewMedicalHistoryPreview.PeriodOfDisability.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewMedicalHistoryPreview.PeriodOfDisability.Visible (end) *@
@if (mtCrewMedicalHistoryPreview.PresentCondition.Visible) { // mtCrewMedicalHistoryPreview.PresentCondition.Visible (begin)
    if (Empty(mtCrewMedicalHistoryPreview.SortUrl(mtCrewMedicalHistoryPreview.PresentCondition))) {
        <th class="@mtCrewMedicalHistoryPreview.PresentCondition.HeaderCellClass">@Html.Raw(mtCrewMedicalHistoryPreview.PresentCondition.Caption)</th>
    } else {
        <th class="@mtCrewMedicalHistoryPreview.PresentCondition.HeaderCellClass"><div role="button" data-table="MTCrewMedicalHistory" data-sort="@mtCrewMedicalHistoryPreview.PresentCondition.Name" data-sort-type="2" data-sort-order="@mtCrewMedicalHistoryPreview.PresentCondition.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewMedicalHistoryPreview.PresentCondition.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewMedicalHistoryPreview.PresentCondition.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewMedicalHistoryPreview.PresentCondition.Visible (end) *@
@if (mtCrewMedicalHistoryPreview.Treatment.Visible) { // mtCrewMedicalHistoryPreview.Treatment.Visible (begin)
    if (Empty(mtCrewMedicalHistoryPreview.SortUrl(mtCrewMedicalHistoryPreview.Treatment))) {
        <th class="@mtCrewMedicalHistoryPreview.Treatment.HeaderCellClass">@Html.Raw(mtCrewMedicalHistoryPreview.Treatment.Caption)</th>
    } else {
        <th class="@mtCrewMedicalHistoryPreview.Treatment.HeaderCellClass"><div role="button" data-table="MTCrewMedicalHistory" data-sort="@mtCrewMedicalHistoryPreview.Treatment.Name" data-sort-type="2" data-sort-order="@mtCrewMedicalHistoryPreview.Treatment.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewMedicalHistoryPreview.Treatment.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewMedicalHistoryPreview.Treatment.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewMedicalHistoryPreview.Treatment.Visible (end) *@
@if (mtCrewMedicalHistoryPreview.Details.Visible) { // mtCrewMedicalHistoryPreview.Details.Visible (begin)
    if (Empty(mtCrewMedicalHistoryPreview.SortUrl(mtCrewMedicalHistoryPreview.Details))) {
        <th class="@mtCrewMedicalHistoryPreview.Details.HeaderCellClass">@Html.Raw(mtCrewMedicalHistoryPreview.Details.Caption)</th>
    } else {
        <th class="@mtCrewMedicalHistoryPreview.Details.HeaderCellClass"><div role="button" data-table="MTCrewMedicalHistory" data-sort="@mtCrewMedicalHistoryPreview.Details.Name" data-sort-type="2" data-sort-order="@mtCrewMedicalHistoryPreview.Details.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewMedicalHistoryPreview.Details.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewMedicalHistoryPreview.Details.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewMedicalHistoryPreview.Details.Visible (end) *@
@if (mtCrewMedicalHistoryPreview.CreatedByUserID.Visible) { // mtCrewMedicalHistoryPreview.CreatedByUserID.Visible (begin)
    if (Empty(mtCrewMedicalHistoryPreview.SortUrl(mtCrewMedicalHistoryPreview.CreatedByUserID))) {
        <th class="@mtCrewMedicalHistoryPreview.CreatedByUserID.HeaderCellClass">@Html.Raw(mtCrewMedicalHistoryPreview.CreatedByUserID.Caption)</th>
    } else {
        <th class="@mtCrewMedicalHistoryPreview.CreatedByUserID.HeaderCellClass"><div role="button" data-table="MTCrewMedicalHistory" data-sort="@mtCrewMedicalHistoryPreview.CreatedByUserID.Name" data-sort-type="2" data-sort-order="@mtCrewMedicalHistoryPreview.CreatedByUserID.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewMedicalHistoryPreview.CreatedByUserID.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewMedicalHistoryPreview.CreatedByUserID.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewMedicalHistoryPreview.CreatedByUserID.Visible (end) *@
@if (mtCrewMedicalHistoryPreview.CreatedDateTime.Visible) { // mtCrewMedicalHistoryPreview.CreatedDateTime.Visible (begin)
    if (Empty(mtCrewMedicalHistoryPreview.SortUrl(mtCrewMedicalHistoryPreview.CreatedDateTime))) {
        <th class="@mtCrewMedicalHistoryPreview.CreatedDateTime.HeaderCellClass">@Html.Raw(mtCrewMedicalHistoryPreview.CreatedDateTime.Caption)</th>
    } else {
        <th class="@mtCrewMedicalHistoryPreview.CreatedDateTime.HeaderCellClass"><div role="button" data-table="MTCrewMedicalHistory" data-sort="@mtCrewMedicalHistoryPreview.CreatedDateTime.Name" data-sort-type="2" data-sort-order="@mtCrewMedicalHistoryPreview.CreatedDateTime.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewMedicalHistoryPreview.CreatedDateTime.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewMedicalHistoryPreview.CreatedDateTime.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewMedicalHistoryPreview.CreatedDateTime.Visible (end) *@
@if (mtCrewMedicalHistoryPreview.LastUpdatedByUserID.Visible) { // mtCrewMedicalHistoryPreview.LastUpdatedByUserID.Visible (begin)
    if (Empty(mtCrewMedicalHistoryPreview.SortUrl(mtCrewMedicalHistoryPreview.LastUpdatedByUserID))) {
        <th class="@mtCrewMedicalHistoryPreview.LastUpdatedByUserID.HeaderCellClass">@Html.Raw(mtCrewMedicalHistoryPreview.LastUpdatedByUserID.Caption)</th>
    } else {
        <th class="@mtCrewMedicalHistoryPreview.LastUpdatedByUserID.HeaderCellClass"><div role="button" data-table="MTCrewMedicalHistory" data-sort="@mtCrewMedicalHistoryPreview.LastUpdatedByUserID.Name" data-sort-type="2" data-sort-order="@mtCrewMedicalHistoryPreview.LastUpdatedByUserID.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewMedicalHistoryPreview.LastUpdatedByUserID.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewMedicalHistoryPreview.LastUpdatedByUserID.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewMedicalHistoryPreview.LastUpdatedByUserID.Visible (end) *@
@if (mtCrewMedicalHistoryPreview.LastUpdatedDateTime.Visible) { // mtCrewMedicalHistoryPreview.LastUpdatedDateTime.Visible (begin)
    if (Empty(mtCrewMedicalHistoryPreview.SortUrl(mtCrewMedicalHistoryPreview.LastUpdatedDateTime))) {
        <th class="@mtCrewMedicalHistoryPreview.LastUpdatedDateTime.HeaderCellClass">@Html.Raw(mtCrewMedicalHistoryPreview.LastUpdatedDateTime.Caption)</th>
    } else {
        <th class="@mtCrewMedicalHistoryPreview.LastUpdatedDateTime.HeaderCellClass"><div role="button" data-table="MTCrewMedicalHistory" data-sort="@mtCrewMedicalHistoryPreview.LastUpdatedDateTime.Name" data-sort-type="2" data-sort-order="@mtCrewMedicalHistoryPreview.LastUpdatedDateTime.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewMedicalHistoryPreview.LastUpdatedDateTime.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewMedicalHistoryPreview.LastUpdatedDateTime.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewMedicalHistoryPreview.LastUpdatedDateTime.Visible (end) *@
@mtCrewMedicalHistoryPreview.ListOptions.RenderHeader("right")
        </tr>
    </thead>
    <tbody><!-- Table body -->
@{
    mtCrewMedicalHistoryPreview.RecordCount = 0;
    mtCrewMedicalHistoryPreview.RowCount = 0;
}
@do {
    // Init row class and style
    mtCrewMedicalHistoryPreview.RecordCount++;
    mtCrewMedicalHistoryPreview.RowCount++;
    mtCrewMedicalHistoryPreview.CssStyle = "";
    mtCrewMedicalHistoryPreview.LoadListRowValues(mtCrewMedicalHistoryPreview.Recordset);

    // Render row
    mtCrewMedicalHistoryPreview.RowType = RowType.Preview; // Preview record
    mtCrewMedicalHistoryPreview.ResetAttributes();
    await mtCrewMedicalHistoryPreview.RenderListRow();

    // Render list options
    await mtCrewMedicalHistoryPreview.RenderListOptions();
    <tr @Html.Raw(mtCrewMedicalHistoryPreview.RowAttributes)>
    @mtCrewMedicalHistoryPreview.ListOptions.RenderBody("left", mtCrewMedicalHistoryPreview.RowCount)
    @if (mtCrewMedicalHistoryPreview.MTCrewID.Visible) { // mtCrewMedicalHistoryPreview.MTCrewID.Visible (begin)
            <td @Html.Raw(mtCrewMedicalHistoryPreview.MTCrewID.CellAttributes)>
<span @Html.Raw(mtCrewMedicalHistoryPreview.MTCrewID.ViewAttributes)>
@Html.Raw(mtCrewMedicalHistoryPreview.MTCrewID.GetViewValue())</span>
</td>
    } @* mtCrewMedicalHistoryPreview.MTCrewID.Visible (end) *@
    @if (mtCrewMedicalHistoryPreview._Type.Visible) { // mtCrewMedicalHistoryPreview._Type.Visible (begin)
            <td @Html.Raw(mtCrewMedicalHistoryPreview._Type.CellAttributes)>
<span @Html.Raw(mtCrewMedicalHistoryPreview._Type.ViewAttributes)>
@Html.Raw(mtCrewMedicalHistoryPreview._Type.GetViewValue())</span>
</td>
    } @* mtCrewMedicalHistoryPreview._Type.Visible (end) *@
    @if (mtCrewMedicalHistoryPreview.VesselName.Visible) { // mtCrewMedicalHistoryPreview.VesselName.Visible (begin)
            <td @Html.Raw(mtCrewMedicalHistoryPreview.VesselName.CellAttributes)>
<span @Html.Raw(mtCrewMedicalHistoryPreview.VesselName.ViewAttributes)>
@Html.Raw(mtCrewMedicalHistoryPreview.VesselName.GetViewValue())</span>
</td>
    } @* mtCrewMedicalHistoryPreview.VesselName.Visible (end) *@
    @if (mtCrewMedicalHistoryPreview.DateOccurence.Visible) { // mtCrewMedicalHistoryPreview.DateOccurence.Visible (begin)
            <td @Html.Raw(mtCrewMedicalHistoryPreview.DateOccurence.CellAttributes)>
<span @Html.Raw(mtCrewMedicalHistoryPreview.DateOccurence.ViewAttributes)>
@Html.Raw(mtCrewMedicalHistoryPreview.DateOccurence.GetViewValue())</span>
</td>
    } @* mtCrewMedicalHistoryPreview.DateOccurence.Visible (end) *@
    @if (mtCrewMedicalHistoryPreview.PlaceOccurence.Visible) { // mtCrewMedicalHistoryPreview.PlaceOccurence.Visible (begin)
            <td @Html.Raw(mtCrewMedicalHistoryPreview.PlaceOccurence.CellAttributes)>
<span @Html.Raw(mtCrewMedicalHistoryPreview.PlaceOccurence.ViewAttributes)>
@Html.Raw(mtCrewMedicalHistoryPreview.PlaceOccurence.GetViewValue())</span>
</td>
    } @* mtCrewMedicalHistoryPreview.PlaceOccurence.Visible (end) *@
    @if (mtCrewMedicalHistoryPreview.PeriodOfDisability.Visible) { // mtCrewMedicalHistoryPreview.PeriodOfDisability.Visible (begin)
            <td @Html.Raw(mtCrewMedicalHistoryPreview.PeriodOfDisability.CellAttributes)>
<span @Html.Raw(mtCrewMedicalHistoryPreview.PeriodOfDisability.ViewAttributes)>
@Html.Raw(mtCrewMedicalHistoryPreview.PeriodOfDisability.GetViewValue())</span>
</td>
    } @* mtCrewMedicalHistoryPreview.PeriodOfDisability.Visible (end) *@
    @if (mtCrewMedicalHistoryPreview.PresentCondition.Visible) { // mtCrewMedicalHistoryPreview.PresentCondition.Visible (begin)
            <td @Html.Raw(mtCrewMedicalHistoryPreview.PresentCondition.CellAttributes)>
<span @Html.Raw(mtCrewMedicalHistoryPreview.PresentCondition.ViewAttributes)>
@Html.Raw(mtCrewMedicalHistoryPreview.PresentCondition.GetViewValue())</span>
</td>
    } @* mtCrewMedicalHistoryPreview.PresentCondition.Visible (end) *@
    @if (mtCrewMedicalHistoryPreview.Treatment.Visible) { // mtCrewMedicalHistoryPreview.Treatment.Visible (begin)
            <td @Html.Raw(mtCrewMedicalHistoryPreview.Treatment.CellAttributes)>
<span @Html.Raw(mtCrewMedicalHistoryPreview.Treatment.ViewAttributes)>
@Html.Raw(mtCrewMedicalHistoryPreview.Treatment.GetViewValue())</span>
</td>
    } @* mtCrewMedicalHistoryPreview.Treatment.Visible (end) *@
    @if (mtCrewMedicalHistoryPreview.Details.Visible) { // mtCrewMedicalHistoryPreview.Details.Visible (begin)
            <td @Html.Raw(mtCrewMedicalHistoryPreview.Details.CellAttributes)>
<span @Html.Raw(mtCrewMedicalHistoryPreview.Details.ViewAttributes)>
@Html.Raw(mtCrewMedicalHistoryPreview.Details.GetViewValue())</span>
</td>
    } @* mtCrewMedicalHistoryPreview.Details.Visible (end) *@
    @if (mtCrewMedicalHistoryPreview.CreatedByUserID.Visible) { // mtCrewMedicalHistoryPreview.CreatedByUserID.Visible (begin)
            <td @Html.Raw(mtCrewMedicalHistoryPreview.CreatedByUserID.CellAttributes)>
<span @Html.Raw(mtCrewMedicalHistoryPreview.CreatedByUserID.ViewAttributes)>
@Html.Raw(mtCrewMedicalHistoryPreview.CreatedByUserID.GetViewValue())</span>
</td>
    } @* mtCrewMedicalHistoryPreview.CreatedByUserID.Visible (end) *@
    @if (mtCrewMedicalHistoryPreview.CreatedDateTime.Visible) { // mtCrewMedicalHistoryPreview.CreatedDateTime.Visible (begin)
            <td @Html.Raw(mtCrewMedicalHistoryPreview.CreatedDateTime.CellAttributes)>
<span @Html.Raw(mtCrewMedicalHistoryPreview.CreatedDateTime.ViewAttributes)>
@Html.Raw(mtCrewMedicalHistoryPreview.CreatedDateTime.GetViewValue())</span>
</td>
    } @* mtCrewMedicalHistoryPreview.CreatedDateTime.Visible (end) *@
    @if (mtCrewMedicalHistoryPreview.LastUpdatedByUserID.Visible) { // mtCrewMedicalHistoryPreview.LastUpdatedByUserID.Visible (begin)
            <td @Html.Raw(mtCrewMedicalHistoryPreview.LastUpdatedByUserID.CellAttributes)>
<span @Html.Raw(mtCrewMedicalHistoryPreview.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(mtCrewMedicalHistoryPreview.LastUpdatedByUserID.GetViewValue())</span>
</td>
    } @* mtCrewMedicalHistoryPreview.LastUpdatedByUserID.Visible (end) *@
    @if (mtCrewMedicalHistoryPreview.LastUpdatedDateTime.Visible) { // mtCrewMedicalHistoryPreview.LastUpdatedDateTime.Visible (begin)
            <td @Html.Raw(mtCrewMedicalHistoryPreview.LastUpdatedDateTime.CellAttributes)>
<span @Html.Raw(mtCrewMedicalHistoryPreview.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(mtCrewMedicalHistoryPreview.LastUpdatedDateTime.GetViewValue())</span>
</td>
    } @* mtCrewMedicalHistoryPreview.LastUpdatedDateTime.Visible (end) *@
    @mtCrewMedicalHistoryPreview.ListOptions.RenderBody("right", mtCrewMedicalHistoryPreview.RowCount)
    </tr>
} while (await mtCrewMedicalHistoryPreview.Recordset.ReadAsync());
    </tbody>
</table><!-- /.table -->
</div><!-- /.card-body -->
<div class="card-footer ew-grid-lower-panel ew-preview-lower-panel"><!-- .card-footer -->
@Html.Raw(mtCrewMedicalHistoryPreview.Pager.Render())
<div class="ew-preview-other-options">
@mtCrewMedicalHistoryPreview.OtherOptions.RenderBody()
</div>
</div><!-- /.card-footer -->
</div><!-- /.card -->
} else { @* No record *@
<div class="card border-0"><!-- .card -->
<div class="ew-detail-count">@Html.Raw(Language.Phrase("NoRecord"))</div>
<div class="ew-preview-other-options">
@mtCrewMedicalHistoryPreview.OtherOptions.RenderBody()
</div>
</div><!-- /.card -->
}
@mtCrewMedicalHistoryPreview.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
