@{
    // View
    View = this;

    // Check action result
    if (mtCrewExperiencePreview.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
ew.deepAssign(ew.vars, { tables: { MTCrewExperience: @Html.Raw(ConvertToJson(mtCrewExperiencePreview.ToClientVar())) } });
</script>
@mtCrewExperiencePreview.ShowPageHeader()
@if (mtCrewExperiencePreview.TotalRecords > 0) {
<div class="card ew-grid @(mtCrewExperiencePreview.TableGridClass)"><!-- .card -->
<div class="card-body ew-preview-middle-panel ew-grid-middle-panel @(mtCrewExperiencePreview.TableContainerClass)" style="@(mtCrewExperiencePreview.TableContainerStyle)"><!-- .card-body -->
<table class="@(mtCrewExperiencePreview.TableClass)"><!-- .table -->
    <thead><!-- Table header -->
        <tr class="ew-table-header">
@{
    await mtCrewExperiencePreview.RenderListOptions(); // Render list options
}
@mtCrewExperiencePreview.ListOptions.RenderHeader("left")
@if (mtCrewExperiencePreview.MTCrewID.Visible) { // mtCrewExperiencePreview.MTCrewID.Visible (begin)
    if (Empty(mtCrewExperiencePreview.SortUrl(mtCrewExperiencePreview.MTCrewID))) {
        <th class="@mtCrewExperiencePreview.MTCrewID.HeaderCellClass">@Html.Raw(mtCrewExperiencePreview.MTCrewID.Caption)</th>
    } else {
        <th class="@mtCrewExperiencePreview.MTCrewID.HeaderCellClass"><div role="button" data-table="MTCrewExperience" data-sort="@mtCrewExperiencePreview.MTCrewID.Name" data-sort-type="2" data-sort-order="@mtCrewExperiencePreview.MTCrewID.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewExperiencePreview.MTCrewID.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewExperiencePreview.MTCrewID.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewExperiencePreview.MTCrewID.Visible (end) *@
@if (mtCrewExperiencePreview.CompanyName.Visible) { // mtCrewExperiencePreview.CompanyName.Visible (begin)
    if (Empty(mtCrewExperiencePreview.SortUrl(mtCrewExperiencePreview.CompanyName))) {
        <th class="@mtCrewExperiencePreview.CompanyName.HeaderCellClass">@Html.Raw(mtCrewExperiencePreview.CompanyName.Caption)</th>
    } else {
        <th class="@mtCrewExperiencePreview.CompanyName.HeaderCellClass"><div role="button" data-table="MTCrewExperience" data-sort="@mtCrewExperiencePreview.CompanyName.Name" data-sort-type="2" data-sort-order="@mtCrewExperiencePreview.CompanyName.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewExperiencePreview.CompanyName.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewExperiencePreview.CompanyName.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewExperiencePreview.CompanyName.Visible (end) *@
@if (mtCrewExperiencePreview.FlagName_CountryID.Visible) { // mtCrewExperiencePreview.FlagName_CountryID.Visible (begin)
    if (Empty(mtCrewExperiencePreview.SortUrl(mtCrewExperiencePreview.FlagName_CountryID))) {
        <th class="@mtCrewExperiencePreview.FlagName_CountryID.HeaderCellClass">@Html.Raw(mtCrewExperiencePreview.FlagName_CountryID.Caption)</th>
    } else {
        <th class="@mtCrewExperiencePreview.FlagName_CountryID.HeaderCellClass"><div role="button" data-table="MTCrewExperience" data-sort="@mtCrewExperiencePreview.FlagName_CountryID.Name" data-sort-type="2" data-sort-order="@mtCrewExperiencePreview.FlagName_CountryID.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewExperiencePreview.FlagName_CountryID.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewExperiencePreview.FlagName_CountryID.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewExperiencePreview.FlagName_CountryID.Visible (end) *@
@if (mtCrewExperiencePreview.VesselName.Visible) { // mtCrewExperiencePreview.VesselName.Visible (begin)
    if (Empty(mtCrewExperiencePreview.SortUrl(mtCrewExperiencePreview.VesselName))) {
        <th class="@mtCrewExperiencePreview.VesselName.HeaderCellClass">@Html.Raw(mtCrewExperiencePreview.VesselName.Caption)</th>
    } else {
        <th class="@mtCrewExperiencePreview.VesselName.HeaderCellClass"><div role="button" data-table="MTCrewExperience" data-sort="@mtCrewExperiencePreview.VesselName.Name" data-sort-type="2" data-sort-order="@mtCrewExperiencePreview.VesselName.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewExperiencePreview.VesselName.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewExperiencePreview.VesselName.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewExperiencePreview.VesselName.Visible (end) *@
@if (mtCrewExperiencePreview.MTVesselTypeID.Visible) { // mtCrewExperiencePreview.MTVesselTypeID.Visible (begin)
    if (Empty(mtCrewExperiencePreview.SortUrl(mtCrewExperiencePreview.MTVesselTypeID))) {
        <th class="@mtCrewExperiencePreview.MTVesselTypeID.HeaderCellClass">@Html.Raw(mtCrewExperiencePreview.MTVesselTypeID.Caption)</th>
    } else {
        <th class="@mtCrewExperiencePreview.MTVesselTypeID.HeaderCellClass"><div role="button" data-table="MTCrewExperience" data-sort="@mtCrewExperiencePreview.MTVesselTypeID.Name" data-sort-type="2" data-sort-order="@mtCrewExperiencePreview.MTVesselTypeID.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewExperiencePreview.MTVesselTypeID.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewExperiencePreview.MTVesselTypeID.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewExperiencePreview.MTVesselTypeID.Visible (end) *@
@if (mtCrewExperiencePreview.GRT.Visible) { // mtCrewExperiencePreview.GRT.Visible (begin)
    if (Empty(mtCrewExperiencePreview.SortUrl(mtCrewExperiencePreview.GRT))) {
        <th class="@mtCrewExperiencePreview.GRT.HeaderCellClass">@Html.Raw(mtCrewExperiencePreview.GRT.Caption)</th>
    } else {
        <th class="@mtCrewExperiencePreview.GRT.HeaderCellClass"><div role="button" data-table="MTCrewExperience" data-sort="@mtCrewExperiencePreview.GRT.Name" data-sort-type="2" data-sort-order="@mtCrewExperiencePreview.GRT.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewExperiencePreview.GRT.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewExperiencePreview.GRT.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewExperiencePreview.GRT.Visible (end) *@
@if (mtCrewExperiencePreview.DWT.Visible) { // mtCrewExperiencePreview.DWT.Visible (begin)
    if (Empty(mtCrewExperiencePreview.SortUrl(mtCrewExperiencePreview.DWT))) {
        <th class="@mtCrewExperiencePreview.DWT.HeaderCellClass">@Html.Raw(mtCrewExperiencePreview.DWT.Caption)</th>
    } else {
        <th class="@mtCrewExperiencePreview.DWT.HeaderCellClass"><div role="button" data-table="MTCrewExperience" data-sort="@mtCrewExperiencePreview.DWT.Name" data-sort-type="2" data-sort-order="@mtCrewExperiencePreview.DWT.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewExperiencePreview.DWT.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewExperiencePreview.DWT.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewExperiencePreview.DWT.Visible (end) *@
@if (mtCrewExperiencePreview.MainEngine.Visible) { // mtCrewExperiencePreview.MainEngine.Visible (begin)
    if (Empty(mtCrewExperiencePreview.SortUrl(mtCrewExperiencePreview.MainEngine))) {
        <th class="@mtCrewExperiencePreview.MainEngine.HeaderCellClass">@Html.Raw(mtCrewExperiencePreview.MainEngine.Caption)</th>
    } else {
        <th class="@mtCrewExperiencePreview.MainEngine.HeaderCellClass"><div role="button" data-table="MTCrewExperience" data-sort="@mtCrewExperiencePreview.MainEngine.Name" data-sort-type="2" data-sort-order="@mtCrewExperiencePreview.MainEngine.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewExperiencePreview.MainEngine.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewExperiencePreview.MainEngine.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewExperiencePreview.MainEngine.Visible (end) *@
@if (mtCrewExperiencePreview.BHP.Visible) { // mtCrewExperiencePreview.BHP.Visible (begin)
    if (Empty(mtCrewExperiencePreview.SortUrl(mtCrewExperiencePreview.BHP))) {
        <th class="@mtCrewExperiencePreview.BHP.HeaderCellClass">@Html.Raw(mtCrewExperiencePreview.BHP.Caption)</th>
    } else {
        <th class="@mtCrewExperiencePreview.BHP.HeaderCellClass"><div role="button" data-table="MTCrewExperience" data-sort="@mtCrewExperiencePreview.BHP.Name" data-sort-type="2" data-sort-order="@mtCrewExperiencePreview.BHP.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewExperiencePreview.BHP.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewExperiencePreview.BHP.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewExperiencePreview.BHP.Visible (end) *@
@if (mtCrewExperiencePreview.MTRankID.Visible) { // mtCrewExperiencePreview.MTRankID.Visible (begin)
    if (Empty(mtCrewExperiencePreview.SortUrl(mtCrewExperiencePreview.MTRankID))) {
        <th class="@mtCrewExperiencePreview.MTRankID.HeaderCellClass">@Html.Raw(mtCrewExperiencePreview.MTRankID.Caption)</th>
    } else {
        <th class="@mtCrewExperiencePreview.MTRankID.HeaderCellClass"><div role="button" data-table="MTCrewExperience" data-sort="@mtCrewExperiencePreview.MTRankID.Name" data-sort-type="2" data-sort-order="@mtCrewExperiencePreview.MTRankID.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewExperiencePreview.MTRankID.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewExperiencePreview.MTRankID.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewExperiencePreview.MTRankID.Visible (end) *@
@if (mtCrewExperiencePreview.DateFrom.Visible) { // mtCrewExperiencePreview.DateFrom.Visible (begin)
    if (Empty(mtCrewExperiencePreview.SortUrl(mtCrewExperiencePreview.DateFrom))) {
        <th class="@mtCrewExperiencePreview.DateFrom.HeaderCellClass">@Html.Raw(mtCrewExperiencePreview.DateFrom.Caption)</th>
    } else {
        <th class="@mtCrewExperiencePreview.DateFrom.HeaderCellClass"><div role="button" data-table="MTCrewExperience" data-sort="@mtCrewExperiencePreview.DateFrom.Name" data-sort-type="2" data-sort-order="@mtCrewExperiencePreview.DateFrom.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewExperiencePreview.DateFrom.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewExperiencePreview.DateFrom.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewExperiencePreview.DateFrom.Visible (end) *@
@if (mtCrewExperiencePreview.SignOnPortName.Visible) { // mtCrewExperiencePreview.SignOnPortName.Visible (begin)
    if (Empty(mtCrewExperiencePreview.SortUrl(mtCrewExperiencePreview.SignOnPortName))) {
        <th class="@mtCrewExperiencePreview.SignOnPortName.HeaderCellClass">@Html.Raw(mtCrewExperiencePreview.SignOnPortName.Caption)</th>
    } else {
        <th class="@mtCrewExperiencePreview.SignOnPortName.HeaderCellClass"><div role="button" data-table="MTCrewExperience" data-sort="@mtCrewExperiencePreview.SignOnPortName.Name" data-sort-type="2" data-sort-order="@mtCrewExperiencePreview.SignOnPortName.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewExperiencePreview.SignOnPortName.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewExperiencePreview.SignOnPortName.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewExperiencePreview.SignOnPortName.Visible (end) *@
@if (mtCrewExperiencePreview.DateUntil.Visible) { // mtCrewExperiencePreview.DateUntil.Visible (begin)
    if (Empty(mtCrewExperiencePreview.SortUrl(mtCrewExperiencePreview.DateUntil))) {
        <th class="@mtCrewExperiencePreview.DateUntil.HeaderCellClass">@Html.Raw(mtCrewExperiencePreview.DateUntil.Caption)</th>
    } else {
        <th class="@mtCrewExperiencePreview.DateUntil.HeaderCellClass"><div role="button" data-table="MTCrewExperience" data-sort="@mtCrewExperiencePreview.DateUntil.Name" data-sort-type="2" data-sort-order="@mtCrewExperiencePreview.DateUntil.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewExperiencePreview.DateUntil.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewExperiencePreview.DateUntil.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewExperiencePreview.DateUntil.Visible (end) *@
@if (mtCrewExperiencePreview.SignOffPortName.Visible) { // mtCrewExperiencePreview.SignOffPortName.Visible (begin)
    if (Empty(mtCrewExperiencePreview.SortUrl(mtCrewExperiencePreview.SignOffPortName))) {
        <th class="@mtCrewExperiencePreview.SignOffPortName.HeaderCellClass">@Html.Raw(mtCrewExperiencePreview.SignOffPortName.Caption)</th>
    } else {
        <th class="@mtCrewExperiencePreview.SignOffPortName.HeaderCellClass"><div role="button" data-table="MTCrewExperience" data-sort="@mtCrewExperiencePreview.SignOffPortName.Name" data-sort-type="2" data-sort-order="@mtCrewExperiencePreview.SignOffPortName.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewExperiencePreview.SignOffPortName.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewExperiencePreview.SignOffPortName.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewExperiencePreview.SignOffPortName.Visible (end) *@
@if (mtCrewExperiencePreview.SignOffReason.Visible) { // mtCrewExperiencePreview.SignOffReason.Visible (begin)
    if (Empty(mtCrewExperiencePreview.SortUrl(mtCrewExperiencePreview.SignOffReason))) {
        <th class="@mtCrewExperiencePreview.SignOffReason.HeaderCellClass">@Html.Raw(mtCrewExperiencePreview.SignOffReason.Caption)</th>
    } else {
        <th class="@mtCrewExperiencePreview.SignOffReason.HeaderCellClass"><div role="button" data-table="MTCrewExperience" data-sort="@mtCrewExperiencePreview.SignOffReason.Name" data-sort-type="2" data-sort-order="@mtCrewExperiencePreview.SignOffReason.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewExperiencePreview.SignOffReason.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewExperiencePreview.SignOffReason.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewExperiencePreview.SignOffReason.Visible (end) *@
@if (mtCrewExperiencePreview.CreatedByUserID.Visible) { // mtCrewExperiencePreview.CreatedByUserID.Visible (begin)
    if (Empty(mtCrewExperiencePreview.SortUrl(mtCrewExperiencePreview.CreatedByUserID))) {
        <th class="@mtCrewExperiencePreview.CreatedByUserID.HeaderCellClass">@Html.Raw(mtCrewExperiencePreview.CreatedByUserID.Caption)</th>
    } else {
        <th class="@mtCrewExperiencePreview.CreatedByUserID.HeaderCellClass"><div role="button" data-table="MTCrewExperience" data-sort="@mtCrewExperiencePreview.CreatedByUserID.Name" data-sort-type="2" data-sort-order="@mtCrewExperiencePreview.CreatedByUserID.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewExperiencePreview.CreatedByUserID.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewExperiencePreview.CreatedByUserID.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewExperiencePreview.CreatedByUserID.Visible (end) *@
@if (mtCrewExperiencePreview.CreatedDateTime.Visible) { // mtCrewExperiencePreview.CreatedDateTime.Visible (begin)
    if (Empty(mtCrewExperiencePreview.SortUrl(mtCrewExperiencePreview.CreatedDateTime))) {
        <th class="@mtCrewExperiencePreview.CreatedDateTime.HeaderCellClass">@Html.Raw(mtCrewExperiencePreview.CreatedDateTime.Caption)</th>
    } else {
        <th class="@mtCrewExperiencePreview.CreatedDateTime.HeaderCellClass"><div role="button" data-table="MTCrewExperience" data-sort="@mtCrewExperiencePreview.CreatedDateTime.Name" data-sort-type="2" data-sort-order="@mtCrewExperiencePreview.CreatedDateTime.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewExperiencePreview.CreatedDateTime.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewExperiencePreview.CreatedDateTime.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewExperiencePreview.CreatedDateTime.Visible (end) *@
@if (mtCrewExperiencePreview.LastUpdatedByUserID.Visible) { // mtCrewExperiencePreview.LastUpdatedByUserID.Visible (begin)
    if (Empty(mtCrewExperiencePreview.SortUrl(mtCrewExperiencePreview.LastUpdatedByUserID))) {
        <th class="@mtCrewExperiencePreview.LastUpdatedByUserID.HeaderCellClass">@Html.Raw(mtCrewExperiencePreview.LastUpdatedByUserID.Caption)</th>
    } else {
        <th class="@mtCrewExperiencePreview.LastUpdatedByUserID.HeaderCellClass"><div role="button" data-table="MTCrewExperience" data-sort="@mtCrewExperiencePreview.LastUpdatedByUserID.Name" data-sort-type="2" data-sort-order="@mtCrewExperiencePreview.LastUpdatedByUserID.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewExperiencePreview.LastUpdatedByUserID.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewExperiencePreview.LastUpdatedByUserID.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewExperiencePreview.LastUpdatedByUserID.Visible (end) *@
@if (mtCrewExperiencePreview.LastUpdatedDateTime.Visible) { // mtCrewExperiencePreview.LastUpdatedDateTime.Visible (begin)
    if (Empty(mtCrewExperiencePreview.SortUrl(mtCrewExperiencePreview.LastUpdatedDateTime))) {
        <th class="@mtCrewExperiencePreview.LastUpdatedDateTime.HeaderCellClass">@Html.Raw(mtCrewExperiencePreview.LastUpdatedDateTime.Caption)</th>
    } else {
        <th class="@mtCrewExperiencePreview.LastUpdatedDateTime.HeaderCellClass"><div role="button" data-table="MTCrewExperience" data-sort="@mtCrewExperiencePreview.LastUpdatedDateTime.Name" data-sort-type="2" data-sort-order="@mtCrewExperiencePreview.LastUpdatedDateTime.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewExperiencePreview.LastUpdatedDateTime.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewExperiencePreview.LastUpdatedDateTime.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewExperiencePreview.LastUpdatedDateTime.Visible (end) *@
@mtCrewExperiencePreview.ListOptions.RenderHeader("right")
        </tr>
    </thead>
    <tbody><!-- Table body -->
@{
    mtCrewExperiencePreview.RecordCount = 0;
    mtCrewExperiencePreview.RowCount = 0;
}
@do {
    // Init row class and style
    mtCrewExperiencePreview.RecordCount++;
    mtCrewExperiencePreview.RowCount++;
    mtCrewExperiencePreview.CssStyle = "";
    mtCrewExperiencePreview.LoadListRowValues(mtCrewExperiencePreview.Recordset);

    // Render row
    mtCrewExperiencePreview.RowType = RowType.Preview; // Preview record
    mtCrewExperiencePreview.ResetAttributes();
    await mtCrewExperiencePreview.RenderListRow();

    // Render list options
    await mtCrewExperiencePreview.RenderListOptions();
    <tr @Html.Raw(mtCrewExperiencePreview.RowAttributes)>
    @mtCrewExperiencePreview.ListOptions.RenderBody("left", mtCrewExperiencePreview.RowCount)
    @if (mtCrewExperiencePreview.MTCrewID.Visible) { // mtCrewExperiencePreview.MTCrewID.Visible (begin)
            <td @Html.Raw(mtCrewExperiencePreview.MTCrewID.CellAttributes)>
<span @Html.Raw(mtCrewExperiencePreview.MTCrewID.ViewAttributes)>
@Html.Raw(mtCrewExperiencePreview.MTCrewID.GetViewValue())</span>
</td>
    } @* mtCrewExperiencePreview.MTCrewID.Visible (end) *@
    @if (mtCrewExperiencePreview.CompanyName.Visible) { // mtCrewExperiencePreview.CompanyName.Visible (begin)
            <td @Html.Raw(mtCrewExperiencePreview.CompanyName.CellAttributes)>
<span @Html.Raw(mtCrewExperiencePreview.CompanyName.ViewAttributes)>
@Html.Raw(mtCrewExperiencePreview.CompanyName.GetViewValue())</span>
</td>
    } @* mtCrewExperiencePreview.CompanyName.Visible (end) *@
    @if (mtCrewExperiencePreview.FlagName_CountryID.Visible) { // mtCrewExperiencePreview.FlagName_CountryID.Visible (begin)
            <td @Html.Raw(mtCrewExperiencePreview.FlagName_CountryID.CellAttributes)>
<span @Html.Raw(mtCrewExperiencePreview.FlagName_CountryID.ViewAttributes)>
@Html.Raw(mtCrewExperiencePreview.FlagName_CountryID.GetViewValue())</span>
</td>
    } @* mtCrewExperiencePreview.FlagName_CountryID.Visible (end) *@
    @if (mtCrewExperiencePreview.VesselName.Visible) { // mtCrewExperiencePreview.VesselName.Visible (begin)
            <td @Html.Raw(mtCrewExperiencePreview.VesselName.CellAttributes)>
<span @Html.Raw(mtCrewExperiencePreview.VesselName.ViewAttributes)>
@Html.Raw(mtCrewExperiencePreview.VesselName.GetViewValue())</span>
</td>
    } @* mtCrewExperiencePreview.VesselName.Visible (end) *@
    @if (mtCrewExperiencePreview.MTVesselTypeID.Visible) { // mtCrewExperiencePreview.MTVesselTypeID.Visible (begin)
            <td @Html.Raw(mtCrewExperiencePreview.MTVesselTypeID.CellAttributes)>
<span @Html.Raw(mtCrewExperiencePreview.MTVesselTypeID.ViewAttributes)>
@Html.Raw(mtCrewExperiencePreview.MTVesselTypeID.GetViewValue())</span>
</td>
    } @* mtCrewExperiencePreview.MTVesselTypeID.Visible (end) *@
    @if (mtCrewExperiencePreview.GRT.Visible) { // mtCrewExperiencePreview.GRT.Visible (begin)
            <td @Html.Raw(mtCrewExperiencePreview.GRT.CellAttributes)>
<span @Html.Raw(mtCrewExperiencePreview.GRT.ViewAttributes)>
@Html.Raw(mtCrewExperiencePreview.GRT.GetViewValue())</span>
</td>
    } @* mtCrewExperiencePreview.GRT.Visible (end) *@
    @if (mtCrewExperiencePreview.DWT.Visible) { // mtCrewExperiencePreview.DWT.Visible (begin)
            <td @Html.Raw(mtCrewExperiencePreview.DWT.CellAttributes)>
<span @Html.Raw(mtCrewExperiencePreview.DWT.ViewAttributes)>
@Html.Raw(mtCrewExperiencePreview.DWT.GetViewValue())</span>
</td>
    } @* mtCrewExperiencePreview.DWT.Visible (end) *@
    @if (mtCrewExperiencePreview.MainEngine.Visible) { // mtCrewExperiencePreview.MainEngine.Visible (begin)
            <td @Html.Raw(mtCrewExperiencePreview.MainEngine.CellAttributes)>
<span @Html.Raw(mtCrewExperiencePreview.MainEngine.ViewAttributes)>
@Html.Raw(mtCrewExperiencePreview.MainEngine.GetViewValue())</span>
</td>
    } @* mtCrewExperiencePreview.MainEngine.Visible (end) *@
    @if (mtCrewExperiencePreview.BHP.Visible) { // mtCrewExperiencePreview.BHP.Visible (begin)
            <td @Html.Raw(mtCrewExperiencePreview.BHP.CellAttributes)>
<span @Html.Raw(mtCrewExperiencePreview.BHP.ViewAttributes)>
@Html.Raw(mtCrewExperiencePreview.BHP.GetViewValue())</span>
</td>
    } @* mtCrewExperiencePreview.BHP.Visible (end) *@
    @if (mtCrewExperiencePreview.MTRankID.Visible) { // mtCrewExperiencePreview.MTRankID.Visible (begin)
            <td @Html.Raw(mtCrewExperiencePreview.MTRankID.CellAttributes)>
<span @Html.Raw(mtCrewExperiencePreview.MTRankID.ViewAttributes)>
@Html.Raw(mtCrewExperiencePreview.MTRankID.GetViewValue())</span>
</td>
    } @* mtCrewExperiencePreview.MTRankID.Visible (end) *@
    @if (mtCrewExperiencePreview.DateFrom.Visible) { // mtCrewExperiencePreview.DateFrom.Visible (begin)
            <td @Html.Raw(mtCrewExperiencePreview.DateFrom.CellAttributes)>
<span @Html.Raw(mtCrewExperiencePreview.DateFrom.ViewAttributes)>
@Html.Raw(mtCrewExperiencePreview.DateFrom.GetViewValue())</span>
</td>
    } @* mtCrewExperiencePreview.DateFrom.Visible (end) *@
    @if (mtCrewExperiencePreview.SignOnPortName.Visible) { // mtCrewExperiencePreview.SignOnPortName.Visible (begin)
            <td @Html.Raw(mtCrewExperiencePreview.SignOnPortName.CellAttributes)>
<span @Html.Raw(mtCrewExperiencePreview.SignOnPortName.ViewAttributes)>
@Html.Raw(mtCrewExperiencePreview.SignOnPortName.GetViewValue())</span>
</td>
    } @* mtCrewExperiencePreview.SignOnPortName.Visible (end) *@
    @if (mtCrewExperiencePreview.DateUntil.Visible) { // mtCrewExperiencePreview.DateUntil.Visible (begin)
            <td @Html.Raw(mtCrewExperiencePreview.DateUntil.CellAttributes)>
<span @Html.Raw(mtCrewExperiencePreview.DateUntil.ViewAttributes)>
@Html.Raw(mtCrewExperiencePreview.DateUntil.GetViewValue())</span>
</td>
    } @* mtCrewExperiencePreview.DateUntil.Visible (end) *@
    @if (mtCrewExperiencePreview.SignOffPortName.Visible) { // mtCrewExperiencePreview.SignOffPortName.Visible (begin)
            <td @Html.Raw(mtCrewExperiencePreview.SignOffPortName.CellAttributes)>
<span @Html.Raw(mtCrewExperiencePreview.SignOffPortName.ViewAttributes)>
@Html.Raw(mtCrewExperiencePreview.SignOffPortName.GetViewValue())</span>
</td>
    } @* mtCrewExperiencePreview.SignOffPortName.Visible (end) *@
    @if (mtCrewExperiencePreview.SignOffReason.Visible) { // mtCrewExperiencePreview.SignOffReason.Visible (begin)
            <td @Html.Raw(mtCrewExperiencePreview.SignOffReason.CellAttributes)>
<span @Html.Raw(mtCrewExperiencePreview.SignOffReason.ViewAttributes)>
@Html.Raw(mtCrewExperiencePreview.SignOffReason.GetViewValue())</span>
</td>
    } @* mtCrewExperiencePreview.SignOffReason.Visible (end) *@
    @if (mtCrewExperiencePreview.CreatedByUserID.Visible) { // mtCrewExperiencePreview.CreatedByUserID.Visible (begin)
            <td @Html.Raw(mtCrewExperiencePreview.CreatedByUserID.CellAttributes)>
<span @Html.Raw(mtCrewExperiencePreview.CreatedByUserID.ViewAttributes)>
@Html.Raw(mtCrewExperiencePreview.CreatedByUserID.GetViewValue())</span>
</td>
    } @* mtCrewExperiencePreview.CreatedByUserID.Visible (end) *@
    @if (mtCrewExperiencePreview.CreatedDateTime.Visible) { // mtCrewExperiencePreview.CreatedDateTime.Visible (begin)
            <td @Html.Raw(mtCrewExperiencePreview.CreatedDateTime.CellAttributes)>
<span @Html.Raw(mtCrewExperiencePreview.CreatedDateTime.ViewAttributes)>
@Html.Raw(mtCrewExperiencePreview.CreatedDateTime.GetViewValue())</span>
</td>
    } @* mtCrewExperiencePreview.CreatedDateTime.Visible (end) *@
    @if (mtCrewExperiencePreview.LastUpdatedByUserID.Visible) { // mtCrewExperiencePreview.LastUpdatedByUserID.Visible (begin)
            <td @Html.Raw(mtCrewExperiencePreview.LastUpdatedByUserID.CellAttributes)>
<span @Html.Raw(mtCrewExperiencePreview.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(mtCrewExperiencePreview.LastUpdatedByUserID.GetViewValue())</span>
</td>
    } @* mtCrewExperiencePreview.LastUpdatedByUserID.Visible (end) *@
    @if (mtCrewExperiencePreview.LastUpdatedDateTime.Visible) { // mtCrewExperiencePreview.LastUpdatedDateTime.Visible (begin)
            <td @Html.Raw(mtCrewExperiencePreview.LastUpdatedDateTime.CellAttributes)>
<span @Html.Raw(mtCrewExperiencePreview.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(mtCrewExperiencePreview.LastUpdatedDateTime.GetViewValue())</span>
</td>
    } @* mtCrewExperiencePreview.LastUpdatedDateTime.Visible (end) *@
    @mtCrewExperiencePreview.ListOptions.RenderBody("right", mtCrewExperiencePreview.RowCount)
    </tr>
} while (await mtCrewExperiencePreview.Recordset.ReadAsync());
    </tbody>
</table><!-- /.table -->
</div><!-- /.card-body -->
<div class="card-footer ew-grid-lower-panel ew-preview-lower-panel"><!-- .card-footer -->
@Html.Raw(mtCrewExperiencePreview.Pager.Render())
<div class="ew-preview-other-options">
@mtCrewExperiencePreview.OtherOptions.RenderBody()
</div>
</div><!-- /.card-footer -->
</div><!-- /.card -->
} else { @* No record *@
<div class="card border-0"><!-- .card -->
<div class="ew-detail-count">@Html.Raw(Language.Phrase("NoRecord"))</div>
<div class="ew-preview-other-options">
@mtCrewExperiencePreview.OtherOptions.RenderBody()
</div>
</div><!-- /.card -->
}
@mtCrewExperiencePreview.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
