@{
    // View
    View = this;

    // Check action result
    if (mtCrewDocumentPreview.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
ew.deepAssign(ew.vars, { tables: { MTCrewDocument: @Html.Raw(ConvertToJson(mtCrewDocumentPreview.ToClientVar())) } });
</script>
@mtCrewDocumentPreview.ShowPageHeader()
@if (mtCrewDocumentPreview.TotalRecords > 0) {
<div class="card ew-grid @(mtCrewDocumentPreview.TableGridClass)"><!-- .card -->
<div class="card-body ew-preview-middle-panel ew-grid-middle-panel @(mtCrewDocumentPreview.TableContainerClass)" style="@(mtCrewDocumentPreview.TableContainerStyle)"><!-- .card-body -->
<table class="@(mtCrewDocumentPreview.TableClass)"><!-- .table -->
    <thead><!-- Table header -->
        <tr class="ew-table-header">
@{
    await mtCrewDocumentPreview.RenderListOptions(); // Render list options
}
@mtCrewDocumentPreview.ListOptions.RenderHeader("left")
@if (mtCrewDocumentPreview.IsDraft.Visible) { // mtCrewDocumentPreview.IsDraft.Visible (begin)
    if (Empty(mtCrewDocumentPreview.SortUrl(mtCrewDocumentPreview.IsDraft))) {
        <th class="@mtCrewDocumentPreview.IsDraft.HeaderCellClass">@Html.Raw(mtCrewDocumentPreview.IsDraft.Caption)</th>
    } else {
        <th class="@mtCrewDocumentPreview.IsDraft.HeaderCellClass"><div role="button" data-table="MTCrewDocument" data-sort="@mtCrewDocumentPreview.IsDraft.Name" data-sort-type="2" data-sort-order="@mtCrewDocumentPreview.IsDraft.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewDocumentPreview.IsDraft.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewDocumentPreview.IsDraft.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewDocumentPreview.IsDraft.Visible (end) *@
@if (mtCrewDocumentPreview.MTCrewID.Visible) { // mtCrewDocumentPreview.MTCrewID.Visible (begin)
    if (Empty(mtCrewDocumentPreview.SortUrl(mtCrewDocumentPreview.MTCrewID))) {
        <th class="@mtCrewDocumentPreview.MTCrewID.HeaderCellClass">@Html.Raw(mtCrewDocumentPreview.MTCrewID.Caption)</th>
    } else {
        <th class="@mtCrewDocumentPreview.MTCrewID.HeaderCellClass"><div role="button" data-table="MTCrewDocument" data-sort="@mtCrewDocumentPreview.MTCrewID.Name" data-sort-type="2" data-sort-order="@mtCrewDocumentPreview.MTCrewID.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewDocumentPreview.MTCrewID.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewDocumentPreview.MTCrewID.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewDocumentPreview.MTCrewID.Visible (end) *@
@if (mtCrewDocumentPreview.MTDocumentID.Visible) { // mtCrewDocumentPreview.MTDocumentID.Visible (begin)
    if (Empty(mtCrewDocumentPreview.SortUrl(mtCrewDocumentPreview.MTDocumentID))) {
        <th class="@mtCrewDocumentPreview.MTDocumentID.HeaderCellClass">@Html.Raw(mtCrewDocumentPreview.MTDocumentID.Caption)</th>
    } else {
        <th class="@mtCrewDocumentPreview.MTDocumentID.HeaderCellClass"><div role="button" data-table="MTCrewDocument" data-sort="@mtCrewDocumentPreview.MTDocumentID.Name" data-sort-type="2" data-sort-order="@mtCrewDocumentPreview.MTDocumentID.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewDocumentPreview.MTDocumentID.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewDocumentPreview.MTDocumentID.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewDocumentPreview.MTDocumentID.Visible (end) *@
@if (mtCrewDocumentPreview.CountryOfIssue_CountryID.Visible) { // mtCrewDocumentPreview.CountryOfIssue_CountryID.Visible (begin)
    if (Empty(mtCrewDocumentPreview.SortUrl(mtCrewDocumentPreview.CountryOfIssue_CountryID))) {
        <th class="@mtCrewDocumentPreview.CountryOfIssue_CountryID.HeaderCellClass">@Html.Raw(mtCrewDocumentPreview.CountryOfIssue_CountryID.Caption)</th>
    } else {
        <th class="@mtCrewDocumentPreview.CountryOfIssue_CountryID.HeaderCellClass"><div role="button" data-table="MTCrewDocument" data-sort="@mtCrewDocumentPreview.CountryOfIssue_CountryID.Name" data-sort-type="2" data-sort-order="@mtCrewDocumentPreview.CountryOfIssue_CountryID.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewDocumentPreview.CountryOfIssue_CountryID.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewDocumentPreview.CountryOfIssue_CountryID.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewDocumentPreview.CountryOfIssue_CountryID.Visible (end) *@
@if (mtCrewDocumentPreview.Number.Visible) { // mtCrewDocumentPreview.Number.Visible (begin)
    if (Empty(mtCrewDocumentPreview.SortUrl(mtCrewDocumentPreview.Number))) {
        <th class="@mtCrewDocumentPreview.Number.HeaderCellClass">@Html.Raw(mtCrewDocumentPreview.Number.Caption)</th>
    } else {
        <th class="@mtCrewDocumentPreview.Number.HeaderCellClass"><div role="button" data-table="MTCrewDocument" data-sort="@mtCrewDocumentPreview.Number.Name" data-sort-type="2" data-sort-order="@mtCrewDocumentPreview.Number.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewDocumentPreview.Number.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewDocumentPreview.Number.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewDocumentPreview.Number.Visible (end) *@
@if (mtCrewDocumentPreview.DateOfIssue.Visible) { // mtCrewDocumentPreview.DateOfIssue.Visible (begin)
    if (Empty(mtCrewDocumentPreview.SortUrl(mtCrewDocumentPreview.DateOfIssue))) {
        <th class="@mtCrewDocumentPreview.DateOfIssue.HeaderCellClass">@Html.Raw(mtCrewDocumentPreview.DateOfIssue.Caption)</th>
    } else {
        <th class="@mtCrewDocumentPreview.DateOfIssue.HeaderCellClass"><div role="button" data-table="MTCrewDocument" data-sort="@mtCrewDocumentPreview.DateOfIssue.Name" data-sort-type="2" data-sort-order="@mtCrewDocumentPreview.DateOfIssue.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewDocumentPreview.DateOfIssue.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewDocumentPreview.DateOfIssue.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewDocumentPreview.DateOfIssue.Visible (end) *@
@if (mtCrewDocumentPreview.PlaceOfIssue.Visible) { // mtCrewDocumentPreview.PlaceOfIssue.Visible (begin)
    if (Empty(mtCrewDocumentPreview.SortUrl(mtCrewDocumentPreview.PlaceOfIssue))) {
        <th class="@mtCrewDocumentPreview.PlaceOfIssue.HeaderCellClass">@Html.Raw(mtCrewDocumentPreview.PlaceOfIssue.Caption)</th>
    } else {
        <th class="@mtCrewDocumentPreview.PlaceOfIssue.HeaderCellClass"><div role="button" data-table="MTCrewDocument" data-sort="@mtCrewDocumentPreview.PlaceOfIssue.Name" data-sort-type="2" data-sort-order="@mtCrewDocumentPreview.PlaceOfIssue.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewDocumentPreview.PlaceOfIssue.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewDocumentPreview.PlaceOfIssue.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewDocumentPreview.PlaceOfIssue.Visible (end) *@
@if (mtCrewDocumentPreview.DateValidUntil.Visible) { // mtCrewDocumentPreview.DateValidUntil.Visible (begin)
    if (Empty(mtCrewDocumentPreview.SortUrl(mtCrewDocumentPreview.DateValidUntil))) {
        <th class="@mtCrewDocumentPreview.DateValidUntil.HeaderCellClass">@Html.Raw(mtCrewDocumentPreview.DateValidUntil.Caption)</th>
    } else {
        <th class="@mtCrewDocumentPreview.DateValidUntil.HeaderCellClass"><div role="button" data-table="MTCrewDocument" data-sort="@mtCrewDocumentPreview.DateValidUntil.Name" data-sort-type="2" data-sort-order="@mtCrewDocumentPreview.DateValidUntil.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewDocumentPreview.DateValidUntil.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewDocumentPreview.DateValidUntil.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewDocumentPreview.DateValidUntil.Visible (end) *@
@if (mtCrewDocumentPreview.Image.Visible) { // mtCrewDocumentPreview.Image.Visible (begin)
    if (Empty(mtCrewDocumentPreview.SortUrl(mtCrewDocumentPreview.Image))) {
        <th class="@mtCrewDocumentPreview.Image.HeaderCellClass">@Html.Raw(mtCrewDocumentPreview.Image.Caption)</th>
    } else {
        <th class="@mtCrewDocumentPreview.Image.HeaderCellClass"><div role="button" data-table="MTCrewDocument" data-sort="@mtCrewDocumentPreview.Image.Name" data-sort-type="2" data-sort-order="@mtCrewDocumentPreview.Image.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewDocumentPreview.Image.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewDocumentPreview.Image.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewDocumentPreview.Image.Visible (end) *@
@if (mtCrewDocumentPreview.CreatedByUserID.Visible) { // mtCrewDocumentPreview.CreatedByUserID.Visible (begin)
    if (Empty(mtCrewDocumentPreview.SortUrl(mtCrewDocumentPreview.CreatedByUserID))) {
        <th class="@mtCrewDocumentPreview.CreatedByUserID.HeaderCellClass">@Html.Raw(mtCrewDocumentPreview.CreatedByUserID.Caption)</th>
    } else {
        <th class="@mtCrewDocumentPreview.CreatedByUserID.HeaderCellClass"><div role="button" data-table="MTCrewDocument" data-sort="@mtCrewDocumentPreview.CreatedByUserID.Name" data-sort-type="2" data-sort-order="@mtCrewDocumentPreview.CreatedByUserID.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewDocumentPreview.CreatedByUserID.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewDocumentPreview.CreatedByUserID.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewDocumentPreview.CreatedByUserID.Visible (end) *@
@if (mtCrewDocumentPreview.CreatedDateTime.Visible) { // mtCrewDocumentPreview.CreatedDateTime.Visible (begin)
    if (Empty(mtCrewDocumentPreview.SortUrl(mtCrewDocumentPreview.CreatedDateTime))) {
        <th class="@mtCrewDocumentPreview.CreatedDateTime.HeaderCellClass">@Html.Raw(mtCrewDocumentPreview.CreatedDateTime.Caption)</th>
    } else {
        <th class="@mtCrewDocumentPreview.CreatedDateTime.HeaderCellClass"><div role="button" data-table="MTCrewDocument" data-sort="@mtCrewDocumentPreview.CreatedDateTime.Name" data-sort-type="2" data-sort-order="@mtCrewDocumentPreview.CreatedDateTime.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewDocumentPreview.CreatedDateTime.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewDocumentPreview.CreatedDateTime.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewDocumentPreview.CreatedDateTime.Visible (end) *@
@if (mtCrewDocumentPreview.LastUpdatedByUserID.Visible) { // mtCrewDocumentPreview.LastUpdatedByUserID.Visible (begin)
    if (Empty(mtCrewDocumentPreview.SortUrl(mtCrewDocumentPreview.LastUpdatedByUserID))) {
        <th class="@mtCrewDocumentPreview.LastUpdatedByUserID.HeaderCellClass">@Html.Raw(mtCrewDocumentPreview.LastUpdatedByUserID.Caption)</th>
    } else {
        <th class="@mtCrewDocumentPreview.LastUpdatedByUserID.HeaderCellClass"><div role="button" data-table="MTCrewDocument" data-sort="@mtCrewDocumentPreview.LastUpdatedByUserID.Name" data-sort-type="2" data-sort-order="@mtCrewDocumentPreview.LastUpdatedByUserID.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewDocumentPreview.LastUpdatedByUserID.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewDocumentPreview.LastUpdatedByUserID.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewDocumentPreview.LastUpdatedByUserID.Visible (end) *@
@if (mtCrewDocumentPreview.LastUpdatedDateTime.Visible) { // mtCrewDocumentPreview.LastUpdatedDateTime.Visible (begin)
    if (Empty(mtCrewDocumentPreview.SortUrl(mtCrewDocumentPreview.LastUpdatedDateTime))) {
        <th class="@mtCrewDocumentPreview.LastUpdatedDateTime.HeaderCellClass">@Html.Raw(mtCrewDocumentPreview.LastUpdatedDateTime.Caption)</th>
    } else {
        <th class="@mtCrewDocumentPreview.LastUpdatedDateTime.HeaderCellClass"><div role="button" data-table="MTCrewDocument" data-sort="@mtCrewDocumentPreview.LastUpdatedDateTime.Name" data-sort-type="2" data-sort-order="@mtCrewDocumentPreview.LastUpdatedDateTime.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewDocumentPreview.LastUpdatedDateTime.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewDocumentPreview.LastUpdatedDateTime.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewDocumentPreview.LastUpdatedDateTime.Visible (end) *@
@mtCrewDocumentPreview.ListOptions.RenderHeader("right")
        </tr>
    </thead>
    <tbody><!-- Table body -->
@{
    mtCrewDocumentPreview.RecordCount = 0;
    mtCrewDocumentPreview.RowCount = 0;
}
@do {
    // Init row class and style
    mtCrewDocumentPreview.RecordCount++;
    mtCrewDocumentPreview.RowCount++;
    mtCrewDocumentPreview.CssStyle = "";
    mtCrewDocumentPreview.LoadListRowValues(mtCrewDocumentPreview.Recordset);

    // Render row
    mtCrewDocumentPreview.RowType = RowType.Preview; // Preview record
    mtCrewDocumentPreview.ResetAttributes();
    await mtCrewDocumentPreview.RenderListRow();

    // Render list options
    await mtCrewDocumentPreview.RenderListOptions();
    <tr @Html.Raw(mtCrewDocumentPreview.RowAttributes)>
    @mtCrewDocumentPreview.ListOptions.RenderBody("left", mtCrewDocumentPreview.RowCount)
    @if (mtCrewDocumentPreview.IsDraft.Visible) { // mtCrewDocumentPreview.IsDraft.Visible (begin)
            <td @Html.Raw(mtCrewDocumentPreview.IsDraft.CellAttributes)>
<span @Html.Raw(mtCrewDocumentPreview.IsDraft.ViewAttributes)>
@Html.Raw(mtCrewDocumentPreview.IsDraft.GetViewValue())</span>
</td>
    } @* mtCrewDocumentPreview.IsDraft.Visible (end) *@
    @if (mtCrewDocumentPreview.MTCrewID.Visible) { // mtCrewDocumentPreview.MTCrewID.Visible (begin)
            <td @Html.Raw(mtCrewDocumentPreview.MTCrewID.CellAttributes)>
<span @Html.Raw(mtCrewDocumentPreview.MTCrewID.ViewAttributes)>
@Html.Raw(mtCrewDocumentPreview.MTCrewID.GetViewValue())</span>
</td>
    } @* mtCrewDocumentPreview.MTCrewID.Visible (end) *@
    @if (mtCrewDocumentPreview.MTDocumentID.Visible) { // mtCrewDocumentPreview.MTDocumentID.Visible (begin)
            <td @Html.Raw(mtCrewDocumentPreview.MTDocumentID.CellAttributes)>
<span @Html.Raw(mtCrewDocumentPreview.MTDocumentID.ViewAttributes)>
@Html.Raw(mtCrewDocumentPreview.MTDocumentID.GetViewValue())</span>
</td>
    } @* mtCrewDocumentPreview.MTDocumentID.Visible (end) *@
    @if (mtCrewDocumentPreview.CountryOfIssue_CountryID.Visible) { // mtCrewDocumentPreview.CountryOfIssue_CountryID.Visible (begin)
            <td @Html.Raw(mtCrewDocumentPreview.CountryOfIssue_CountryID.CellAttributes)>
<span @Html.Raw(mtCrewDocumentPreview.CountryOfIssue_CountryID.ViewAttributes)>
@Html.Raw(mtCrewDocumentPreview.CountryOfIssue_CountryID.GetViewValue())</span>
</td>
    } @* mtCrewDocumentPreview.CountryOfIssue_CountryID.Visible (end) *@
    @if (mtCrewDocumentPreview.Number.Visible) { // mtCrewDocumentPreview.Number.Visible (begin)
            <td @Html.Raw(mtCrewDocumentPreview.Number.CellAttributes)>
<span @Html.Raw(mtCrewDocumentPreview.Number.ViewAttributes)>
@Html.Raw(mtCrewDocumentPreview.Number.GetViewValue())</span>
</td>
    } @* mtCrewDocumentPreview.Number.Visible (end) *@
    @if (mtCrewDocumentPreview.DateOfIssue.Visible) { // mtCrewDocumentPreview.DateOfIssue.Visible (begin)
            <td @Html.Raw(mtCrewDocumentPreview.DateOfIssue.CellAttributes)>
<span @Html.Raw(mtCrewDocumentPreview.DateOfIssue.ViewAttributes)>
@Html.Raw(mtCrewDocumentPreview.DateOfIssue.GetViewValue())</span>
</td>
    } @* mtCrewDocumentPreview.DateOfIssue.Visible (end) *@
    @if (mtCrewDocumentPreview.PlaceOfIssue.Visible) { // mtCrewDocumentPreview.PlaceOfIssue.Visible (begin)
            <td @Html.Raw(mtCrewDocumentPreview.PlaceOfIssue.CellAttributes)>
<span @Html.Raw(mtCrewDocumentPreview.PlaceOfIssue.ViewAttributes)>
@Html.Raw(mtCrewDocumentPreview.PlaceOfIssue.GetViewValue())</span>
</td>
    } @* mtCrewDocumentPreview.PlaceOfIssue.Visible (end) *@
    @if (mtCrewDocumentPreview.DateValidUntil.Visible) { // mtCrewDocumentPreview.DateValidUntil.Visible (begin)
            <td @Html.Raw(mtCrewDocumentPreview.DateValidUntil.CellAttributes)>
<span @Html.Raw(mtCrewDocumentPreview.DateValidUntil.ViewAttributes)>
@Html.Raw(mtCrewDocumentPreview.DateValidUntil.GetViewValue())</span>
</td>
    } @* mtCrewDocumentPreview.DateValidUntil.Visible (end) *@
    @if (mtCrewDocumentPreview.Image.Visible) { // mtCrewDocumentPreview.Image.Visible (begin)
            <td @Html.Raw(mtCrewDocumentPreview.Image.CellAttributes)>
<span @Html.Raw(mtCrewDocumentPreview.Image.ViewAttributes)>@{
    var individualCodeNumber = ConvertToString(mtCrewDocumentList.Image.GetViewValue()).Split('-')[0];
}
<a href="uploads/@individualCodeNumber/@ConvertToString(mtCrewDocumentList.Image.GetViewValue())" target="_blank">Attachment</a>
</span>
</td>
    } @* mtCrewDocumentPreview.Image.Visible (end) *@
    @if (mtCrewDocumentPreview.CreatedByUserID.Visible) { // mtCrewDocumentPreview.CreatedByUserID.Visible (begin)
            <td @Html.Raw(mtCrewDocumentPreview.CreatedByUserID.CellAttributes)>
<span @Html.Raw(mtCrewDocumentPreview.CreatedByUserID.ViewAttributes)>
@Html.Raw(mtCrewDocumentPreview.CreatedByUserID.GetViewValue())</span>
</td>
    } @* mtCrewDocumentPreview.CreatedByUserID.Visible (end) *@
    @if (mtCrewDocumentPreview.CreatedDateTime.Visible) { // mtCrewDocumentPreview.CreatedDateTime.Visible (begin)
            <td @Html.Raw(mtCrewDocumentPreview.CreatedDateTime.CellAttributes)>
<span @Html.Raw(mtCrewDocumentPreview.CreatedDateTime.ViewAttributes)>
@Html.Raw(mtCrewDocumentPreview.CreatedDateTime.GetViewValue())</span>
</td>
    } @* mtCrewDocumentPreview.CreatedDateTime.Visible (end) *@
    @if (mtCrewDocumentPreview.LastUpdatedByUserID.Visible) { // mtCrewDocumentPreview.LastUpdatedByUserID.Visible (begin)
            <td @Html.Raw(mtCrewDocumentPreview.LastUpdatedByUserID.CellAttributes)>
<span @Html.Raw(mtCrewDocumentPreview.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(mtCrewDocumentPreview.LastUpdatedByUserID.GetViewValue())</span>
</td>
    } @* mtCrewDocumentPreview.LastUpdatedByUserID.Visible (end) *@
    @if (mtCrewDocumentPreview.LastUpdatedDateTime.Visible) { // mtCrewDocumentPreview.LastUpdatedDateTime.Visible (begin)
            <td @Html.Raw(mtCrewDocumentPreview.LastUpdatedDateTime.CellAttributes)>
<span @Html.Raw(mtCrewDocumentPreview.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(mtCrewDocumentPreview.LastUpdatedDateTime.GetViewValue())</span>
</td>
    } @* mtCrewDocumentPreview.LastUpdatedDateTime.Visible (end) *@
    @mtCrewDocumentPreview.ListOptions.RenderBody("right", mtCrewDocumentPreview.RowCount)
    </tr>
} while (await mtCrewDocumentPreview.Recordset.ReadAsync());
    </tbody>
</table><!-- /.table -->
</div><!-- /.card-body -->
<div class="card-footer ew-grid-lower-panel ew-preview-lower-panel"><!-- .card-footer -->
@Html.Raw(mtCrewDocumentPreview.Pager.Render())
<div class="ew-preview-other-options">
@mtCrewDocumentPreview.OtherOptions.RenderBody()
</div>
</div><!-- /.card-footer -->
</div><!-- /.card -->
} else { @* No record *@
<div class="card border-0"><!-- .card -->
<div class="ew-detail-count">@Html.Raw(Language.Phrase("NoRecord"))</div>
<div class="ew-preview-other-options">
@mtCrewDocumentPreview.OtherOptions.RenderBody()
</div>
</div><!-- /.card -->
}
@mtCrewDocumentPreview.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
