@{
    // View
    View = this;

    // Check action result
    if (mtCrewCertificatePreview.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
ew.deepAssign(ew.vars, { tables: { MTCrewCertificate: @Html.Raw(ConvertToJson(mtCrewCertificatePreview.ToClientVar())) } });
</script>
@mtCrewCertificatePreview.ShowPageHeader()
@if (mtCrewCertificatePreview.TotalRecords > 0) {
<div class="card ew-grid @(mtCrewCertificatePreview.TableGridClass)"><!-- .card -->
<div class="card-body ew-preview-middle-panel ew-grid-middle-panel @(mtCrewCertificatePreview.TableContainerClass)" style="@(mtCrewCertificatePreview.TableContainerStyle)"><!-- .card-body -->
<table class="@(mtCrewCertificatePreview.TableClass)"><!-- .table -->
    <thead><!-- Table header -->
        <tr class="ew-table-header">
@{
    await mtCrewCertificatePreview.RenderListOptions(); // Render list options
}
@mtCrewCertificatePreview.ListOptions.RenderHeader("left")
@if (mtCrewCertificatePreview.MTCrewID.Visible) { // mtCrewCertificatePreview.MTCrewID.Visible (begin)
    if (Empty(mtCrewCertificatePreview.SortUrl(mtCrewCertificatePreview.MTCrewID))) {
        <th class="@mtCrewCertificatePreview.MTCrewID.HeaderCellClass">@Html.Raw(mtCrewCertificatePreview.MTCrewID.Caption)</th>
    } else {
        <th class="@mtCrewCertificatePreview.MTCrewID.HeaderCellClass"><div role="button" data-table="MTCrewCertificate" data-sort="@mtCrewCertificatePreview.MTCrewID.Name" data-sort-type="2" data-sort-order="@mtCrewCertificatePreview.MTCrewID.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewCertificatePreview.MTCrewID.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewCertificatePreview.MTCrewID.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewCertificatePreview.MTCrewID.Visible (end) *@
@if (mtCrewCertificatePreview.MTCertificateID.Visible) { // mtCrewCertificatePreview.MTCertificateID.Visible (begin)
    if (Empty(mtCrewCertificatePreview.SortUrl(mtCrewCertificatePreview.MTCertificateID))) {
        <th class="@mtCrewCertificatePreview.MTCertificateID.HeaderCellClass">@Html.Raw(mtCrewCertificatePreview.MTCertificateID.Caption)</th>
    } else {
        <th class="@mtCrewCertificatePreview.MTCertificateID.HeaderCellClass"><div role="button" data-table="MTCrewCertificate" data-sort="@mtCrewCertificatePreview.MTCertificateID.Name" data-sort-type="2" data-sort-order="@mtCrewCertificatePreview.MTCertificateID.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewCertificatePreview.MTCertificateID.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewCertificatePreview.MTCertificateID.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewCertificatePreview.MTCertificateID.Visible (end) *@
@if (mtCrewCertificatePreview.CountryOfIssue_CountryID.Visible) { // mtCrewCertificatePreview.CountryOfIssue_CountryID.Visible (begin)
    if (Empty(mtCrewCertificatePreview.SortUrl(mtCrewCertificatePreview.CountryOfIssue_CountryID))) {
        <th class="@mtCrewCertificatePreview.CountryOfIssue_CountryID.HeaderCellClass">@Html.Raw(mtCrewCertificatePreview.CountryOfIssue_CountryID.Caption)</th>
    } else {
        <th class="@mtCrewCertificatePreview.CountryOfIssue_CountryID.HeaderCellClass"><div role="button" data-table="MTCrewCertificate" data-sort="@mtCrewCertificatePreview.CountryOfIssue_CountryID.Name" data-sort-type="2" data-sort-order="@mtCrewCertificatePreview.CountryOfIssue_CountryID.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewCertificatePreview.CountryOfIssue_CountryID.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewCertificatePreview.CountryOfIssue_CountryID.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewCertificatePreview.CountryOfIssue_CountryID.Visible (end) *@
@if (mtCrewCertificatePreview.Number.Visible) { // mtCrewCertificatePreview.Number.Visible (begin)
    if (Empty(mtCrewCertificatePreview.SortUrl(mtCrewCertificatePreview.Number))) {
        <th class="@mtCrewCertificatePreview.Number.HeaderCellClass">@Html.Raw(mtCrewCertificatePreview.Number.Caption)</th>
    } else {
        <th class="@mtCrewCertificatePreview.Number.HeaderCellClass"><div role="button" data-table="MTCrewCertificate" data-sort="@mtCrewCertificatePreview.Number.Name" data-sort-type="2" data-sort-order="@mtCrewCertificatePreview.Number.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewCertificatePreview.Number.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewCertificatePreview.Number.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewCertificatePreview.Number.Visible (end) *@
@if (mtCrewCertificatePreview.DateOfIssue.Visible) { // mtCrewCertificatePreview.DateOfIssue.Visible (begin)
    if (Empty(mtCrewCertificatePreview.SortUrl(mtCrewCertificatePreview.DateOfIssue))) {
        <th class="@mtCrewCertificatePreview.DateOfIssue.HeaderCellClass">@Html.Raw(mtCrewCertificatePreview.DateOfIssue.Caption)</th>
    } else {
        <th class="@mtCrewCertificatePreview.DateOfIssue.HeaderCellClass"><div role="button" data-table="MTCrewCertificate" data-sort="@mtCrewCertificatePreview.DateOfIssue.Name" data-sort-type="2" data-sort-order="@mtCrewCertificatePreview.DateOfIssue.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewCertificatePreview.DateOfIssue.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewCertificatePreview.DateOfIssue.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewCertificatePreview.DateOfIssue.Visible (end) *@
@if (mtCrewCertificatePreview.DateOfExpiry.Visible) { // mtCrewCertificatePreview.DateOfExpiry.Visible (begin)
    if (Empty(mtCrewCertificatePreview.SortUrl(mtCrewCertificatePreview.DateOfExpiry))) {
        <th class="@mtCrewCertificatePreview.DateOfExpiry.HeaderCellClass">@Html.Raw(mtCrewCertificatePreview.DateOfExpiry.Caption)</th>
    } else {
        <th class="@mtCrewCertificatePreview.DateOfExpiry.HeaderCellClass"><div role="button" data-table="MTCrewCertificate" data-sort="@mtCrewCertificatePreview.DateOfExpiry.Name" data-sort-type="2" data-sort-order="@mtCrewCertificatePreview.DateOfExpiry.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewCertificatePreview.DateOfExpiry.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewCertificatePreview.DateOfExpiry.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewCertificatePreview.DateOfExpiry.Visible (end) *@
@if (mtCrewCertificatePreview.PlaceOfIssue.Visible) { // mtCrewCertificatePreview.PlaceOfIssue.Visible (begin)
    if (Empty(mtCrewCertificatePreview.SortUrl(mtCrewCertificatePreview.PlaceOfIssue))) {
        <th class="@mtCrewCertificatePreview.PlaceOfIssue.HeaderCellClass">@Html.Raw(mtCrewCertificatePreview.PlaceOfIssue.Caption)</th>
    } else {
        <th class="@mtCrewCertificatePreview.PlaceOfIssue.HeaderCellClass"><div role="button" data-table="MTCrewCertificate" data-sort="@mtCrewCertificatePreview.PlaceOfIssue.Name" data-sort-type="2" data-sort-order="@mtCrewCertificatePreview.PlaceOfIssue.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewCertificatePreview.PlaceOfIssue.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewCertificatePreview.PlaceOfIssue.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewCertificatePreview.PlaceOfIssue.Visible (end) *@
@if (mtCrewCertificatePreview.IssuingAuthority.Visible) { // mtCrewCertificatePreview.IssuingAuthority.Visible (begin)
    if (Empty(mtCrewCertificatePreview.SortUrl(mtCrewCertificatePreview.IssuingAuthority))) {
        <th class="@mtCrewCertificatePreview.IssuingAuthority.HeaderCellClass">@Html.Raw(mtCrewCertificatePreview.IssuingAuthority.Caption)</th>
    } else {
        <th class="@mtCrewCertificatePreview.IssuingAuthority.HeaderCellClass"><div role="button" data-table="MTCrewCertificate" data-sort="@mtCrewCertificatePreview.IssuingAuthority.Name" data-sort-type="2" data-sort-order="@mtCrewCertificatePreview.IssuingAuthority.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewCertificatePreview.IssuingAuthority.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewCertificatePreview.IssuingAuthority.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewCertificatePreview.IssuingAuthority.Visible (end) *@
@if (mtCrewCertificatePreview.Level.Visible) { // mtCrewCertificatePreview.Level.Visible (begin)
    if (Empty(mtCrewCertificatePreview.SortUrl(mtCrewCertificatePreview.Level))) {
        <th class="@mtCrewCertificatePreview.Level.HeaderCellClass">@Html.Raw(mtCrewCertificatePreview.Level.Caption)</th>
    } else {
        <th class="@mtCrewCertificatePreview.Level.HeaderCellClass"><div role="button" data-table="MTCrewCertificate" data-sort="@mtCrewCertificatePreview.Level.Name" data-sort-type="2" data-sort-order="@mtCrewCertificatePreview.Level.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewCertificatePreview.Level.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewCertificatePreview.Level.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewCertificatePreview.Level.Visible (end) *@
@if (mtCrewCertificatePreview.PaxVesselType.Visible) { // mtCrewCertificatePreview.PaxVesselType.Visible (begin)
    if (Empty(mtCrewCertificatePreview.SortUrl(mtCrewCertificatePreview.PaxVesselType))) {
        <th class="@mtCrewCertificatePreview.PaxVesselType.HeaderCellClass">@Html.Raw(mtCrewCertificatePreview.PaxVesselType.Caption)</th>
    } else {
        <th class="@mtCrewCertificatePreview.PaxVesselType.HeaderCellClass"><div role="button" data-table="MTCrewCertificate" data-sort="@mtCrewCertificatePreview.PaxVesselType.Name" data-sort-type="2" data-sort-order="@mtCrewCertificatePreview.PaxVesselType.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewCertificatePreview.PaxVesselType.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewCertificatePreview.PaxVesselType.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewCertificatePreview.PaxVesselType.Visible (end) *@
@if (mtCrewCertificatePreview.Image.Visible) { // mtCrewCertificatePreview.Image.Visible (begin)
    if (Empty(mtCrewCertificatePreview.SortUrl(mtCrewCertificatePreview.Image))) {
        <th class="@mtCrewCertificatePreview.Image.HeaderCellClass">@Html.Raw(mtCrewCertificatePreview.Image.Caption)</th>
    } else {
        <th class="@mtCrewCertificatePreview.Image.HeaderCellClass"><div role="button" data-table="MTCrewCertificate" data-sort="@mtCrewCertificatePreview.Image.Name" data-sort-type="2" data-sort-order="@mtCrewCertificatePreview.Image.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewCertificatePreview.Image.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewCertificatePreview.Image.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewCertificatePreview.Image.Visible (end) *@
@if (mtCrewCertificatePreview.CreatedByUserID.Visible) { // mtCrewCertificatePreview.CreatedByUserID.Visible (begin)
    if (Empty(mtCrewCertificatePreview.SortUrl(mtCrewCertificatePreview.CreatedByUserID))) {
        <th class="@mtCrewCertificatePreview.CreatedByUserID.HeaderCellClass">@Html.Raw(mtCrewCertificatePreview.CreatedByUserID.Caption)</th>
    } else {
        <th class="@mtCrewCertificatePreview.CreatedByUserID.HeaderCellClass"><div role="button" data-table="MTCrewCertificate" data-sort="@mtCrewCertificatePreview.CreatedByUserID.Name" data-sort-type="2" data-sort-order="@mtCrewCertificatePreview.CreatedByUserID.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewCertificatePreview.CreatedByUserID.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewCertificatePreview.CreatedByUserID.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewCertificatePreview.CreatedByUserID.Visible (end) *@
@if (mtCrewCertificatePreview.CreatedDateTime.Visible) { // mtCrewCertificatePreview.CreatedDateTime.Visible (begin)
    if (Empty(mtCrewCertificatePreview.SortUrl(mtCrewCertificatePreview.CreatedDateTime))) {
        <th class="@mtCrewCertificatePreview.CreatedDateTime.HeaderCellClass">@Html.Raw(mtCrewCertificatePreview.CreatedDateTime.Caption)</th>
    } else {
        <th class="@mtCrewCertificatePreview.CreatedDateTime.HeaderCellClass"><div role="button" data-table="MTCrewCertificate" data-sort="@mtCrewCertificatePreview.CreatedDateTime.Name" data-sort-type="2" data-sort-order="@mtCrewCertificatePreview.CreatedDateTime.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewCertificatePreview.CreatedDateTime.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewCertificatePreview.CreatedDateTime.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewCertificatePreview.CreatedDateTime.Visible (end) *@
@if (mtCrewCertificatePreview.LastUpdatedByUserID.Visible) { // mtCrewCertificatePreview.LastUpdatedByUserID.Visible (begin)
    if (Empty(mtCrewCertificatePreview.SortUrl(mtCrewCertificatePreview.LastUpdatedByUserID))) {
        <th class="@mtCrewCertificatePreview.LastUpdatedByUserID.HeaderCellClass">@Html.Raw(mtCrewCertificatePreview.LastUpdatedByUserID.Caption)</th>
    } else {
        <th class="@mtCrewCertificatePreview.LastUpdatedByUserID.HeaderCellClass"><div role="button" data-table="MTCrewCertificate" data-sort="@mtCrewCertificatePreview.LastUpdatedByUserID.Name" data-sort-type="2" data-sort-order="@mtCrewCertificatePreview.LastUpdatedByUserID.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewCertificatePreview.LastUpdatedByUserID.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewCertificatePreview.LastUpdatedByUserID.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewCertificatePreview.LastUpdatedByUserID.Visible (end) *@
@if (mtCrewCertificatePreview.LastUpdatedDateTime.Visible) { // mtCrewCertificatePreview.LastUpdatedDateTime.Visible (begin)
    if (Empty(mtCrewCertificatePreview.SortUrl(mtCrewCertificatePreview.LastUpdatedDateTime))) {
        <th class="@mtCrewCertificatePreview.LastUpdatedDateTime.HeaderCellClass">@Html.Raw(mtCrewCertificatePreview.LastUpdatedDateTime.Caption)</th>
    } else {
        <th class="@mtCrewCertificatePreview.LastUpdatedDateTime.HeaderCellClass"><div role="button" data-table="MTCrewCertificate" data-sort="@mtCrewCertificatePreview.LastUpdatedDateTime.Name" data-sort-type="2" data-sort-order="@mtCrewCertificatePreview.LastUpdatedDateTime.NextSort">
            <div class="ew-table-header-btn">
                <span class="ew-table-header-caption">@Html.Raw(mtCrewCertificatePreview.LastUpdatedDateTime.Caption)</span>
                <span class="ew-table-header-sort">@Html.Raw(mtCrewCertificatePreview.LastUpdatedDateTime.SortIcon)</span>
            </div>
        </th>
    }
} @* mtCrewCertificatePreview.LastUpdatedDateTime.Visible (end) *@
@mtCrewCertificatePreview.ListOptions.RenderHeader("right")
        </tr>
    </thead>
    <tbody><!-- Table body -->
@{
    mtCrewCertificatePreview.RecordCount = 0;
    mtCrewCertificatePreview.RowCount = 0;
}
@do {
    // Init row class and style
    mtCrewCertificatePreview.RecordCount++;
    mtCrewCertificatePreview.RowCount++;
    mtCrewCertificatePreview.CssStyle = "";
    mtCrewCertificatePreview.LoadListRowValues(mtCrewCertificatePreview.Recordset);

    // Render row
    mtCrewCertificatePreview.RowType = RowType.Preview; // Preview record
    mtCrewCertificatePreview.ResetAttributes();
    await mtCrewCertificatePreview.RenderListRow();

    // Render list options
    await mtCrewCertificatePreview.RenderListOptions();
    <tr @Html.Raw(mtCrewCertificatePreview.RowAttributes)>
    @mtCrewCertificatePreview.ListOptions.RenderBody("left", mtCrewCertificatePreview.RowCount)
    @if (mtCrewCertificatePreview.MTCrewID.Visible) { // mtCrewCertificatePreview.MTCrewID.Visible (begin)
            <td @Html.Raw(mtCrewCertificatePreview.MTCrewID.CellAttributes)>
<span @Html.Raw(mtCrewCertificatePreview.MTCrewID.ViewAttributes)>
@Html.Raw(mtCrewCertificatePreview.MTCrewID.GetViewValue())</span>
</td>
    } @* mtCrewCertificatePreview.MTCrewID.Visible (end) *@
    @if (mtCrewCertificatePreview.MTCertificateID.Visible) { // mtCrewCertificatePreview.MTCertificateID.Visible (begin)
            <td @Html.Raw(mtCrewCertificatePreview.MTCertificateID.CellAttributes)>
<span @Html.Raw(mtCrewCertificatePreview.MTCertificateID.ViewAttributes)>
@Html.Raw(mtCrewCertificatePreview.MTCertificateID.GetViewValue())</span>
</td>
    } @* mtCrewCertificatePreview.MTCertificateID.Visible (end) *@
    @if (mtCrewCertificatePreview.CountryOfIssue_CountryID.Visible) { // mtCrewCertificatePreview.CountryOfIssue_CountryID.Visible (begin)
            <td @Html.Raw(mtCrewCertificatePreview.CountryOfIssue_CountryID.CellAttributes)>
<span @Html.Raw(mtCrewCertificatePreview.CountryOfIssue_CountryID.ViewAttributes)>
@Html.Raw(mtCrewCertificatePreview.CountryOfIssue_CountryID.GetViewValue())</span>
</td>
    } @* mtCrewCertificatePreview.CountryOfIssue_CountryID.Visible (end) *@
    @if (mtCrewCertificatePreview.Number.Visible) { // mtCrewCertificatePreview.Number.Visible (begin)
            <td @Html.Raw(mtCrewCertificatePreview.Number.CellAttributes)>
<span @Html.Raw(mtCrewCertificatePreview.Number.ViewAttributes)>
@Html.Raw(mtCrewCertificatePreview.Number.GetViewValue())</span>
</td>
    } @* mtCrewCertificatePreview.Number.Visible (end) *@
    @if (mtCrewCertificatePreview.DateOfIssue.Visible) { // mtCrewCertificatePreview.DateOfIssue.Visible (begin)
            <td @Html.Raw(mtCrewCertificatePreview.DateOfIssue.CellAttributes)>
<span @Html.Raw(mtCrewCertificatePreview.DateOfIssue.ViewAttributes)>
@Html.Raw(mtCrewCertificatePreview.DateOfIssue.GetViewValue())</span>
</td>
    } @* mtCrewCertificatePreview.DateOfIssue.Visible (end) *@
    @if (mtCrewCertificatePreview.DateOfExpiry.Visible) { // mtCrewCertificatePreview.DateOfExpiry.Visible (begin)
            <td @Html.Raw(mtCrewCertificatePreview.DateOfExpiry.CellAttributes)>
<span @Html.Raw(mtCrewCertificatePreview.DateOfExpiry.ViewAttributes)>
@Html.Raw(mtCrewCertificatePreview.DateOfExpiry.GetViewValue())</span>
</td>
    } @* mtCrewCertificatePreview.DateOfExpiry.Visible (end) *@
    @if (mtCrewCertificatePreview.PlaceOfIssue.Visible) { // mtCrewCertificatePreview.PlaceOfIssue.Visible (begin)
            <td @Html.Raw(mtCrewCertificatePreview.PlaceOfIssue.CellAttributes)>
<span @Html.Raw(mtCrewCertificatePreview.PlaceOfIssue.ViewAttributes)>
@Html.Raw(mtCrewCertificatePreview.PlaceOfIssue.GetViewValue())</span>
</td>
    } @* mtCrewCertificatePreview.PlaceOfIssue.Visible (end) *@
    @if (mtCrewCertificatePreview.IssuingAuthority.Visible) { // mtCrewCertificatePreview.IssuingAuthority.Visible (begin)
            <td @Html.Raw(mtCrewCertificatePreview.IssuingAuthority.CellAttributes)>
<span @Html.Raw(mtCrewCertificatePreview.IssuingAuthority.ViewAttributes)>
@Html.Raw(mtCrewCertificatePreview.IssuingAuthority.GetViewValue())</span>
</td>
    } @* mtCrewCertificatePreview.IssuingAuthority.Visible (end) *@
    @if (mtCrewCertificatePreview.Level.Visible) { // mtCrewCertificatePreview.Level.Visible (begin)
            <td @Html.Raw(mtCrewCertificatePreview.Level.CellAttributes)>
<span @Html.Raw(mtCrewCertificatePreview.Level.ViewAttributes)>
@Html.Raw(mtCrewCertificatePreview.Level.GetViewValue())</span>
</td>
    } @* mtCrewCertificatePreview.Level.Visible (end) *@
    @if (mtCrewCertificatePreview.PaxVesselType.Visible) { // mtCrewCertificatePreview.PaxVesselType.Visible (begin)
            <td @Html.Raw(mtCrewCertificatePreview.PaxVesselType.CellAttributes)>
<span @Html.Raw(mtCrewCertificatePreview.PaxVesselType.ViewAttributes)>
@Html.Raw(mtCrewCertificatePreview.PaxVesselType.GetViewValue())</span>
</td>
    } @* mtCrewCertificatePreview.PaxVesselType.Visible (end) *@
    @if (mtCrewCertificatePreview.Image.Visible) { // mtCrewCertificatePreview.Image.Visible (begin)
            <td @Html.Raw(mtCrewCertificatePreview.Image.CellAttributes)>
<span @Html.Raw(mtCrewCertificatePreview.Image.ViewAttributes)>@{
    var individualCodeNumber = ConvertToString(mtCrewCertificateList.Image.GetViewValue()).Split('-')[0];
}
<a href="uploads/@individualCodeNumber/@ConvertToString(mtCrewCertificateList.Image.GetViewValue())" target="_blank">Attachment</a>
</span>
</td>
    } @* mtCrewCertificatePreview.Image.Visible (end) *@
    @if (mtCrewCertificatePreview.CreatedByUserID.Visible) { // mtCrewCertificatePreview.CreatedByUserID.Visible (begin)
            <td @Html.Raw(mtCrewCertificatePreview.CreatedByUserID.CellAttributes)>
<span @Html.Raw(mtCrewCertificatePreview.CreatedByUserID.ViewAttributes)>
@Html.Raw(mtCrewCertificatePreview.CreatedByUserID.GetViewValue())</span>
</td>
    } @* mtCrewCertificatePreview.CreatedByUserID.Visible (end) *@
    @if (mtCrewCertificatePreview.CreatedDateTime.Visible) { // mtCrewCertificatePreview.CreatedDateTime.Visible (begin)
            <td @Html.Raw(mtCrewCertificatePreview.CreatedDateTime.CellAttributes)>
<span @Html.Raw(mtCrewCertificatePreview.CreatedDateTime.ViewAttributes)>
@Html.Raw(mtCrewCertificatePreview.CreatedDateTime.GetViewValue())</span>
</td>
    } @* mtCrewCertificatePreview.CreatedDateTime.Visible (end) *@
    @if (mtCrewCertificatePreview.LastUpdatedByUserID.Visible) { // mtCrewCertificatePreview.LastUpdatedByUserID.Visible (begin)
            <td @Html.Raw(mtCrewCertificatePreview.LastUpdatedByUserID.CellAttributes)>
<span @Html.Raw(mtCrewCertificatePreview.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(mtCrewCertificatePreview.LastUpdatedByUserID.GetViewValue())</span>
</td>
    } @* mtCrewCertificatePreview.LastUpdatedByUserID.Visible (end) *@
    @if (mtCrewCertificatePreview.LastUpdatedDateTime.Visible) { // mtCrewCertificatePreview.LastUpdatedDateTime.Visible (begin)
            <td @Html.Raw(mtCrewCertificatePreview.LastUpdatedDateTime.CellAttributes)>
<span @Html.Raw(mtCrewCertificatePreview.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(mtCrewCertificatePreview.LastUpdatedDateTime.GetViewValue())</span>
</td>
    } @* mtCrewCertificatePreview.LastUpdatedDateTime.Visible (end) *@
    @mtCrewCertificatePreview.ListOptions.RenderBody("right", mtCrewCertificatePreview.RowCount)
    </tr>
} while (await mtCrewCertificatePreview.Recordset.ReadAsync());
    </tbody>
</table><!-- /.table -->
</div><!-- /.card-body -->
<div class="card-footer ew-grid-lower-panel ew-preview-lower-panel"><!-- .card-footer -->
@Html.Raw(mtCrewCertificatePreview.Pager.Render())
<div class="ew-preview-other-options">
@mtCrewCertificatePreview.OtherOptions.RenderBody()
</div>
</div><!-- /.card-footer -->
</div><!-- /.card -->
} else { @* No record *@
<div class="card border-0"><!-- .card -->
<div class="ew-detail-count">@Html.Raw(Language.Phrase("NoRecord"))</div>
<div class="ew-preview-other-options">
@mtCrewCertificatePreview.OtherOptions.RenderBody()
</div>
</div><!-- /.card -->
}
@mtCrewCertificatePreview.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
