@{
    mtCrew.TableClass = "table table-striped table-bordered table-hover table-sm ew-table ew-master-table"; // DN
}
@if (mtCrew.Visible) { // mtCrew.Visible (begin)
<div class="ew-master-div">
<table id="tbl_MTCrewmaster" class="table ew-view-table ew-master-table ew-vertical">
    <tbody>
        @if (mtCrew.IndividualCodeNumber.Visible) { // mtCrew.IndividualCodeNumber.Visible (begin)
        <tr id="r_IndividualCodeNumber" @Html.Raw(mtCrew.IndividualCodeNumber.RowAttributes)>
            <td class="@(mtCrew.TableLeftColumnClass)">@Html.Raw(mtCrew.IndividualCodeNumber.Caption)</td>
            <td @Html.Raw(mtCrew.IndividualCodeNumber.CellAttributes)>
<span id="el_MTCrew_IndividualCodeNumber">
<span @Html.Raw(mtCrew.IndividualCodeNumber.ViewAttributes)>
@Html.Raw(mtCrew.IndividualCodeNumber.GetViewValue())</span>
</span></td>
        </tr>
        } @* mtCrew.IndividualCodeNumber.Visible (end) *@
        @if (mtCrew.FullName.Visible) { // mtCrew.FullName.Visible (begin)
        <tr id="r_FullName" @Html.Raw(mtCrew.FullName.RowAttributes)>
            <td class="@(mtCrew.TableLeftColumnClass)">@Html.Raw(mtCrew.FullName.Caption)</td>
            <td @Html.Raw(mtCrew.FullName.CellAttributes)>
<span id="el_MTCrew_FullName">
<span @Html.Raw(mtCrew.FullName.ViewAttributes)>
@Html.Raw(mtCrew.FullName.GetViewValue())</span>
</span></td>
        </tr>
        } @* mtCrew.FullName.Visible (end) *@
        @if (mtCrew.RequiredPhoto.Visible) { // mtCrew.RequiredPhoto.Visible (begin)
        <tr id="r_RequiredPhoto" @Html.Raw(mtCrew.RequiredPhoto.RowAttributes)>
            <td class="@(mtCrew.TableLeftColumnClass)">@Html.Raw(mtCrew.RequiredPhoto.Caption)</td>
            <td @Html.Raw(mtCrew.RequiredPhoto.CellAttributes)>
<span id="el_MTCrew_RequiredPhoto">
<span>
@Html.Raw(await GetFileViewTag((DbField)mtCrew.RequiredPhoto, ConvertToString(mtCrew.RequiredPhoto.GetViewValue()), false))
</span>
</span></td>
        </tr>
        } @* mtCrew.RequiredPhoto.Visible (end) *@
        @if (mtCrew.VisaPhoto.Visible) { // mtCrew.VisaPhoto.Visible (begin)
        <tr id="r_VisaPhoto" @Html.Raw(mtCrew.VisaPhoto.RowAttributes)>
            <td class="@(mtCrew.TableLeftColumnClass)">@Html.Raw(mtCrew.VisaPhoto.Caption)</td>
            <td @Html.Raw(mtCrew.VisaPhoto.CellAttributes)>
<span id="el_MTCrew_VisaPhoto">
<span>
@Html.Raw(await GetFileViewTag((DbField)mtCrew.VisaPhoto, ConvertToString(mtCrew.VisaPhoto.GetViewValue()), false))
</span>
</span></td>
        </tr>
        } @* mtCrew.VisaPhoto.Visible (end) *@
        @if (mtCrew.Nationality_CountryID.Visible) { // mtCrew.Nationality_CountryID.Visible (begin)
        <tr id="r_Nationality_CountryID" @Html.Raw(mtCrew.Nationality_CountryID.RowAttributes)>
            <td class="@(mtCrew.TableLeftColumnClass)">@Html.Raw(mtCrew.Nationality_CountryID.Caption)</td>
            <td @Html.Raw(mtCrew.Nationality_CountryID.CellAttributes)>
<span id="el_MTCrew_Nationality_CountryID">
<span @Html.Raw(mtCrew.Nationality_CountryID.ViewAttributes)>
@Html.Raw(mtCrew.Nationality_CountryID.GetViewValue())</span>
</span></td>
        </tr>
        } @* mtCrew.Nationality_CountryID.Visible (end) *@
        @if (mtCrew.CountryOfOrigin_CountryID.Visible) { // mtCrew.CountryOfOrigin_CountryID.Visible (begin)
        <tr id="r_CountryOfOrigin_CountryID" @Html.Raw(mtCrew.CountryOfOrigin_CountryID.RowAttributes)>
            <td class="@(mtCrew.TableLeftColumnClass)">@Html.Raw(mtCrew.CountryOfOrigin_CountryID.Caption)</td>
            <td @Html.Raw(mtCrew.CountryOfOrigin_CountryID.CellAttributes)>
<span id="el_MTCrew_CountryOfOrigin_CountryID">
<span @Html.Raw(mtCrew.CountryOfOrigin_CountryID.ViewAttributes)>
@Html.Raw(mtCrew.CountryOfOrigin_CountryID.GetViewValue())</span>
</span></td>
        </tr>
        } @* mtCrew.CountryOfOrigin_CountryID.Visible (end) *@
        @if (mtCrew.DateOfBirth.Visible) { // mtCrew.DateOfBirth.Visible (begin)
        <tr id="r_DateOfBirth" @Html.Raw(mtCrew.DateOfBirth.RowAttributes)>
            <td class="@(mtCrew.TableLeftColumnClass)">@Html.Raw(mtCrew.DateOfBirth.Caption)</td>
            <td @Html.Raw(mtCrew.DateOfBirth.CellAttributes)>
<span id="el_MTCrew_DateOfBirth">
<span @Html.Raw(mtCrew.DateOfBirth.ViewAttributes)>
@Html.Raw(mtCrew.DateOfBirth.GetViewValue())</span>
</span></td>
        </tr>
        } @* mtCrew.DateOfBirth.Visible (end) *@
        @if (mtCrew.CityOfBirth.Visible) { // mtCrew.CityOfBirth.Visible (begin)
        <tr id="r_CityOfBirth" @Html.Raw(mtCrew.CityOfBirth.RowAttributes)>
            <td class="@(mtCrew.TableLeftColumnClass)">@Html.Raw(mtCrew.CityOfBirth.Caption)</td>
            <td @Html.Raw(mtCrew.CityOfBirth.CellAttributes)>
<span id="el_MTCrew_CityOfBirth">
<span @Html.Raw(mtCrew.CityOfBirth.ViewAttributes)>
@Html.Raw(mtCrew.CityOfBirth.GetViewValue())</span>
</span></td>
        </tr>
        } @* mtCrew.CityOfBirth.Visible (end) *@
        @if (mtCrew.MaritalStatus.Visible) { // mtCrew.MaritalStatus.Visible (begin)
        <tr id="r_MaritalStatus" @Html.Raw(mtCrew.MaritalStatus.RowAttributes)>
            <td class="@(mtCrew.TableLeftColumnClass)">@Html.Raw(mtCrew.MaritalStatus.Caption)</td>
            <td @Html.Raw(mtCrew.MaritalStatus.CellAttributes)>
<span id="el_MTCrew_MaritalStatus">
<span @Html.Raw(mtCrew.MaritalStatus.ViewAttributes)>
@Html.Raw(mtCrew.MaritalStatus.GetViewValue())</span>
</span></td>
        </tr>
        } @* mtCrew.MaritalStatus.Visible (end) *@
        @if (mtCrew.Gender.Visible) { // mtCrew.Gender.Visible (begin)
        <tr id="r_Gender" @Html.Raw(mtCrew.Gender.RowAttributes)>
            <td class="@(mtCrew.TableLeftColumnClass)">@Html.Raw(mtCrew.Gender.Caption)</td>
            <td @Html.Raw(mtCrew.Gender.CellAttributes)>
<span id="el_MTCrew_Gender">
<span @Html.Raw(mtCrew.Gender.ViewAttributes)>
@Html.Raw(mtCrew.Gender.GetViewValue())</span>
</span></td>
        </tr>
        } @* mtCrew.Gender.Visible (end) *@
        @if (mtCrew.ReligionID.Visible) { // mtCrew.ReligionID.Visible (begin)
        <tr id="r_ReligionID" @Html.Raw(mtCrew.ReligionID.RowAttributes)>
            <td class="@(mtCrew.TableLeftColumnClass)">@Html.Raw(mtCrew.ReligionID.Caption)</td>
            <td @Html.Raw(mtCrew.ReligionID.CellAttributes)>
<span id="el_MTCrew_ReligionID">
<span @Html.Raw(mtCrew.ReligionID.ViewAttributes)>
@Html.Raw(mtCrew.ReligionID.GetViewValue())</span>
</span></td>
        </tr>
        } @* mtCrew.ReligionID.Visible (end) *@
        @if (mtCrew.RankAppliedFor_RankID.Visible) { // mtCrew.RankAppliedFor_RankID.Visible (begin)
        <tr id="r_RankAppliedFor_RankID" @Html.Raw(mtCrew.RankAppliedFor_RankID.RowAttributes)>
            <td class="@(mtCrew.TableLeftColumnClass)">@Html.Raw(mtCrew.RankAppliedFor_RankID.Caption)</td>
            <td @Html.Raw(mtCrew.RankAppliedFor_RankID.CellAttributes)>
<span id="el_MTCrew_RankAppliedFor_RankID">
<span @Html.Raw(mtCrew.RankAppliedFor_RankID.ViewAttributes)>
@Html.Raw(mtCrew.RankAppliedFor_RankID.GetViewValue())</span>
</span></td>
        </tr>
        } @* mtCrew.RankAppliedFor_RankID.Visible (end) *@
        @if (mtCrew.MobileNumber.Visible) { // mtCrew.MobileNumber.Visible (begin)
        <tr id="r_MobileNumber" @Html.Raw(mtCrew.MobileNumber.RowAttributes)>
            <td class="@(mtCrew.TableLeftColumnClass)">@Html.Raw(mtCrew.MobileNumber.Caption)</td>
            <td @Html.Raw(mtCrew.MobileNumber.CellAttributes)>
<span id="el_MTCrew_MobileNumber">
<span @Html.Raw(mtCrew.MobileNumber.ViewAttributes)>
@Html.Raw(mtCrew.MobileNumber.GetViewValue())</span>
</span></td>
        </tr>
        } @* mtCrew.MobileNumber.Visible (end) *@
        @if (mtCrew._Email.Visible) { // mtCrew._Email.Visible (begin)
        <tr id="r__Email" @Html.Raw(mtCrew._Email.RowAttributes)>
            <td class="@(mtCrew.TableLeftColumnClass)">@Html.Raw(mtCrew._Email.Caption)</td>
            <td @Html.Raw(mtCrew._Email.CellAttributes)>
<span id="el_MTCrew__Email">
<span @Html.Raw(mtCrew._Email.ViewAttributes)>
@Html.Raw(mtCrew._Email.GetViewValue())</span>
</span></td>
        </tr>
        } @* mtCrew._Email.Visible (end) *@
        @if (mtCrew.EmployeeStatus.Visible) { // mtCrew.EmployeeStatus.Visible (begin)
        <tr id="r_EmployeeStatus" @Html.Raw(mtCrew.EmployeeStatus.RowAttributes)>
            <td class="@(mtCrew.TableLeftColumnClass)">@Html.Raw(mtCrew.EmployeeStatus.Caption)</td>
            <td @Html.Raw(mtCrew.EmployeeStatus.CellAttributes)>
<span id="el_MTCrew_EmployeeStatus">
<span @Html.Raw(mtCrew.EmployeeStatus.ViewAttributes)>
@Html.Raw(mtCrew.EmployeeStatus.GetViewValue())</span>
</span></td>
        </tr>
        } @* mtCrew.EmployeeStatus.Visible (end) *@
        @if (mtCrew.FormSubmittedDateTime.Visible) { // mtCrew.FormSubmittedDateTime.Visible (begin)
        <tr id="r_FormSubmittedDateTime" @Html.Raw(mtCrew.FormSubmittedDateTime.RowAttributes)>
            <td class="@(mtCrew.TableLeftColumnClass)">@Html.Raw(mtCrew.FormSubmittedDateTime.Caption)</td>
            <td @Html.Raw(mtCrew.FormSubmittedDateTime.CellAttributes)>
<span id="el_MTCrew_FormSubmittedDateTime">
<span @Html.Raw(mtCrew.FormSubmittedDateTime.ViewAttributes)>
@Html.Raw(mtCrew.FormSubmittedDateTime.GetViewValue())</span>
</span></td>
        </tr>
        } @* mtCrew.FormSubmittedDateTime.Visible (end) *@
        @if (mtCrew.CreatedByUserID.Visible) { // mtCrew.CreatedByUserID.Visible (begin)
        <tr id="r_CreatedByUserID" @Html.Raw(mtCrew.CreatedByUserID.RowAttributes)>
            <td class="@(mtCrew.TableLeftColumnClass)">@Html.Raw(mtCrew.CreatedByUserID.Caption)</td>
            <td @Html.Raw(mtCrew.CreatedByUserID.CellAttributes)>
<span id="el_MTCrew_CreatedByUserID">
<span @Html.Raw(mtCrew.CreatedByUserID.ViewAttributes)>
@Html.Raw(mtCrew.CreatedByUserID.GetViewValue())</span>
</span></td>
        </tr>
        } @* mtCrew.CreatedByUserID.Visible (end) *@
        @if (mtCrew.CreatedDateTime.Visible) { // mtCrew.CreatedDateTime.Visible (begin)
        <tr id="r_CreatedDateTime" @Html.Raw(mtCrew.CreatedDateTime.RowAttributes)>
            <td class="@(mtCrew.TableLeftColumnClass)">@Html.Raw(mtCrew.CreatedDateTime.Caption)</td>
            <td @Html.Raw(mtCrew.CreatedDateTime.CellAttributes)>
<span id="el_MTCrew_CreatedDateTime">
<span @Html.Raw(mtCrew.CreatedDateTime.ViewAttributes)>
@Html.Raw(mtCrew.CreatedDateTime.GetViewValue())</span>
</span></td>
        </tr>
        } @* mtCrew.CreatedDateTime.Visible (end) *@
        @if (mtCrew.LastUpdatedByUserID.Visible) { // mtCrew.LastUpdatedByUserID.Visible (begin)
        <tr id="r_LastUpdatedByUserID" @Html.Raw(mtCrew.LastUpdatedByUserID.RowAttributes)>
            <td class="@(mtCrew.TableLeftColumnClass)">@Html.Raw(mtCrew.LastUpdatedByUserID.Caption)</td>
            <td @Html.Raw(mtCrew.LastUpdatedByUserID.CellAttributes)>
<span id="el_MTCrew_LastUpdatedByUserID">
<span @Html.Raw(mtCrew.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(mtCrew.LastUpdatedByUserID.GetViewValue())</span>
</span></td>
        </tr>
        } @* mtCrew.LastUpdatedByUserID.Visible (end) *@
        @if (mtCrew.LastUpdatedDateTime.Visible) { // mtCrew.LastUpdatedDateTime.Visible (begin)
        <tr id="r_LastUpdatedDateTime" @Html.Raw(mtCrew.LastUpdatedDateTime.RowAttributes)>
            <td class="@(mtCrew.TableLeftColumnClass)">@Html.Raw(mtCrew.LastUpdatedDateTime.Caption)</td>
            <td @Html.Raw(mtCrew.LastUpdatedDateTime.CellAttributes)>
<span id="el_MTCrew_LastUpdatedDateTime">
<span @Html.Raw(mtCrew.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(mtCrew.LastUpdatedDateTime.GetViewValue())</span>
</span></td>
        </tr>
        } @* mtCrew.LastUpdatedDateTime.Visible (end) *@
        @if (mtCrew.FinalAcceptedDate.Visible) { // mtCrew.FinalAcceptedDate.Visible (begin)
        <tr id="r_FinalAcceptedDate" @Html.Raw(mtCrew.FinalAcceptedDate.RowAttributes)>
            <td class="@(mtCrew.TableLeftColumnClass)">@Html.Raw(mtCrew.FinalAcceptedDate.Caption)</td>
            <td @Html.Raw(mtCrew.FinalAcceptedDate.CellAttributes)>
<span id="el_MTCrew_FinalAcceptedDate">
<span @Html.Raw(mtCrew.FinalAcceptedDate.ViewAttributes)>
@Html.Raw(mtCrew.FinalAcceptedDate.GetViewValue())</span>
</span></td>
        </tr>
        } @* mtCrew.FinalAcceptedDate.Visible (end) *@
        @if (mtCrew.RevisedReason.Visible) { // mtCrew.RevisedReason.Visible (begin)
        <tr id="r_RevisedReason" @Html.Raw(mtCrew.RevisedReason.RowAttributes)>
            <td class="@(mtCrew.TableLeftColumnClass)">@Html.Raw(mtCrew.RevisedReason.Caption)</td>
            <td @Html.Raw(mtCrew.RevisedReason.CellAttributes)>
<span id="el_MTCrew_RevisedReason">
<span @Html.Raw(mtCrew.RevisedReason.ViewAttributes)>
@Html.Raw(mtCrew.RevisedReason.GetViewValue())</span>
</span></td>
        </tr>
        } @* mtCrew.RevisedReason.Visible (end) *@
        @if (mtCrew.RevisedDateTime.Visible) { // mtCrew.RevisedDateTime.Visible (begin)
        <tr id="r_RevisedDateTime" @Html.Raw(mtCrew.RevisedDateTime.RowAttributes)>
            <td class="@(mtCrew.TableLeftColumnClass)">@Html.Raw(mtCrew.RevisedDateTime.Caption)</td>
            <td @Html.Raw(mtCrew.RevisedDateTime.CellAttributes)>
<span id="el_MTCrew_RevisedDateTime">
<span @Html.Raw(mtCrew.RevisedDateTime.ViewAttributes)>
@Html.Raw(mtCrew.RevisedDateTime.GetViewValue())</span>
</span></td>
        </tr>
        } @* mtCrew.RevisedDateTime.Visible (end) *@
        @if (mtCrew.MTManningAgentID.Visible) { // mtCrew.MTManningAgentID.Visible (begin)
        <tr id="r_MTManningAgentID" @Html.Raw(mtCrew.MTManningAgentID.RowAttributes)>
            <td class="@(mtCrew.TableLeftColumnClass)">@Html.Raw(mtCrew.MTManningAgentID.Caption)</td>
            <td @Html.Raw(mtCrew.MTManningAgentID.CellAttributes)>
<span id="el_MTCrew_MTManningAgentID">
<span @Html.Raw(mtCrew.MTManningAgentID.ViewAttributes)>
@Html.Raw(mtCrew.MTManningAgentID.GetViewValue())</span>
</span></td>
        </tr>
        } @* mtCrew.MTManningAgentID.Visible (end) *@
    </tbody>
</table>
</div>
} @* mtCrew.Visible (end) *@
