@{
    // View
    View = this;

    // Check action result
    if (mtCurrencyDelete.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!mtCurrencyDelete.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(mtCurrencyDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MTCurrency: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fMTCurrencydelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMTCurrencydelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@mtCurrencyDelete.ShowPageHeader()
@mtCurrencyDelete.ShowMessages()
<form name="fMTCurrencydelete" id="fMTCurrencydelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in mtCurrencyDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(mtCurrencyDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(mtCurrencyDelete.TableContainerClass)" style="@(mtCurrencyDelete.TableContainerStyle)">
<table class="@(mtCurrencyDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (mtCurrencyDelete._Name.Visible) { // mtCurrencyDelete._Name.Visible (begin)
        <th class="@Html.Raw(mtCurrencyDelete._Name.HeaderCellClass)"><span id="elh_MTCurrency__Name" class="MTCurrency__Name">@Html.Raw(mtCurrencyDelete._Name.Caption)</span></th>
} @* mtCurrencyDelete._Name.Visible (end) *@
@if (mtCurrencyDelete.Code.Visible) { // mtCurrencyDelete.Code.Visible (begin)
        <th class="@Html.Raw(mtCurrencyDelete.Code.HeaderCellClass)"><span id="elh_MTCurrency_Code" class="MTCurrency_Code">@Html.Raw(mtCurrencyDelete.Code.Caption)</span></th>
} @* mtCurrencyDelete.Code.Visible (end) *@
@if (mtCurrencyDelete.CreatedByUserID.Visible) { // mtCurrencyDelete.CreatedByUserID.Visible (begin)
        <th class="@Html.Raw(mtCurrencyDelete.CreatedByUserID.HeaderCellClass)"><span id="elh_MTCurrency_CreatedByUserID" class="MTCurrency_CreatedByUserID">@Html.Raw(mtCurrencyDelete.CreatedByUserID.Caption)</span></th>
} @* mtCurrencyDelete.CreatedByUserID.Visible (end) *@
@if (mtCurrencyDelete.CreatedDateTime.Visible) { // mtCurrencyDelete.CreatedDateTime.Visible (begin)
        <th class="@Html.Raw(mtCurrencyDelete.CreatedDateTime.HeaderCellClass)"><span id="elh_MTCurrency_CreatedDateTime" class="MTCurrency_CreatedDateTime">@Html.Raw(mtCurrencyDelete.CreatedDateTime.Caption)</span></th>
} @* mtCurrencyDelete.CreatedDateTime.Visible (end) *@
@if (mtCurrencyDelete.LastUpdatedByUserID.Visible) { // mtCurrencyDelete.LastUpdatedByUserID.Visible (begin)
        <th class="@Html.Raw(mtCurrencyDelete.LastUpdatedByUserID.HeaderCellClass)"><span id="elh_MTCurrency_LastUpdatedByUserID" class="MTCurrency_LastUpdatedByUserID">@Html.Raw(mtCurrencyDelete.LastUpdatedByUserID.Caption)</span></th>
} @* mtCurrencyDelete.LastUpdatedByUserID.Visible (end) *@
@if (mtCurrencyDelete.LastUpdatedDateTime.Visible) { // mtCurrencyDelete.LastUpdatedDateTime.Visible (begin)
        <th class="@Html.Raw(mtCurrencyDelete.LastUpdatedDateTime.HeaderCellClass)"><span id="elh_MTCurrency_LastUpdatedDateTime" class="MTCurrency_LastUpdatedDateTime">@Html.Raw(mtCurrencyDelete.LastUpdatedDateTime.Caption)</span></th>
} @* mtCurrencyDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ mtCurrencyDelete.RecordCount = 0; }
@while (mtCurrencyDelete.Recordset != null && await mtCurrencyDelete.Recordset.ReadAsync()) { // DN
    mtCurrencyDelete.RecordCount++;
    mtCurrencyDelete.RowCount++;

    // Set row properties
    mtCurrencyDelete.ResetAttributes();
    mtCurrencyDelete.RowType = RowType.View; // View

    // Get the field contents
    await mtCurrencyDelete.LoadRowValues(mtCurrencyDelete.Recordset);

    // Render row
    await mtCurrencyDelete.RenderRow();
    <tr @Html.Raw(mtCurrencyDelete.RowAttributes)>
@if (mtCurrencyDelete._Name.Visible) { // mtCurrencyDelete._Name.Visible (begin)
        <td @Html.Raw(mtCurrencyDelete._Name.CellAttributes)>
<span id="el@(mtCurrencyDelete.RowCount)_MTCurrency__Name" class="el_MTCurrency__Name">
<span @Html.Raw(mtCurrencyDelete._Name.ViewAttributes)>
@Html.Raw(mtCurrencyDelete._Name.GetViewValue())</span>
</span></td>
} @* mtCurrencyDelete._Name.Visible (end) *@
@if (mtCurrencyDelete.Code.Visible) { // mtCurrencyDelete.Code.Visible (begin)
        <td @Html.Raw(mtCurrencyDelete.Code.CellAttributes)>
<span id="el@(mtCurrencyDelete.RowCount)_MTCurrency_Code" class="el_MTCurrency_Code">
<span @Html.Raw(mtCurrencyDelete.Code.ViewAttributes)>
@Html.Raw(mtCurrencyDelete.Code.GetViewValue())</span>
</span></td>
} @* mtCurrencyDelete.Code.Visible (end) *@
@if (mtCurrencyDelete.CreatedByUserID.Visible) { // mtCurrencyDelete.CreatedByUserID.Visible (begin)
        <td @Html.Raw(mtCurrencyDelete.CreatedByUserID.CellAttributes)>
<span id="el@(mtCurrencyDelete.RowCount)_MTCurrency_CreatedByUserID" class="el_MTCurrency_CreatedByUserID">
<span @Html.Raw(mtCurrencyDelete.CreatedByUserID.ViewAttributes)>
@Html.Raw(mtCurrencyDelete.CreatedByUserID.GetViewValue())</span>
</span></td>
} @* mtCurrencyDelete.CreatedByUserID.Visible (end) *@
@if (mtCurrencyDelete.CreatedDateTime.Visible) { // mtCurrencyDelete.CreatedDateTime.Visible (begin)
        <td @Html.Raw(mtCurrencyDelete.CreatedDateTime.CellAttributes)>
<span id="el@(mtCurrencyDelete.RowCount)_MTCurrency_CreatedDateTime" class="el_MTCurrency_CreatedDateTime">
<span @Html.Raw(mtCurrencyDelete.CreatedDateTime.ViewAttributes)>
@Html.Raw(mtCurrencyDelete.CreatedDateTime.GetViewValue())</span>
</span></td>
} @* mtCurrencyDelete.CreatedDateTime.Visible (end) *@
@if (mtCurrencyDelete.LastUpdatedByUserID.Visible) { // mtCurrencyDelete.LastUpdatedByUserID.Visible (begin)
        <td @Html.Raw(mtCurrencyDelete.LastUpdatedByUserID.CellAttributes)>
<span id="el@(mtCurrencyDelete.RowCount)_MTCurrency_LastUpdatedByUserID" class="el_MTCurrency_LastUpdatedByUserID">
<span @Html.Raw(mtCurrencyDelete.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(mtCurrencyDelete.LastUpdatedByUserID.GetViewValue())</span>
</span></td>
} @* mtCurrencyDelete.LastUpdatedByUserID.Visible (end) *@
@if (mtCurrencyDelete.LastUpdatedDateTime.Visible) { // mtCurrencyDelete.LastUpdatedDateTime.Visible (begin)
        <td @Html.Raw(mtCurrencyDelete.LastUpdatedDateTime.CellAttributes)>
<span id="el@(mtCurrencyDelete.RowCount)_MTCurrency_LastUpdatedDateTime" class="el_MTCurrency_LastUpdatedDateTime">
<span @Html.Raw(mtCurrencyDelete.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(mtCurrencyDelete.LastUpdatedDateTime.GetViewValue())</span>
</span></td>
} @* mtCurrencyDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
}
@{ mtCurrencyDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(mtCurrencyDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@mtCurrencyDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
