@{
    // View
    View = this;

    // Check action result
    if (mtManningAgentView.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!mtManningAgentView.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
@if (!mtManningAgentView.IsExport()) {
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!mtManningAgentView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @mtManningAgentView.ExportOptions.RenderBody()
    @mtManningAgentView.OtherOptions.RenderBody()
</div>
}
@mtManningAgentView.ShowPageHeader()
@mtManningAgentView.ShowMessages()
<main class="view">
<form name="fMTManningAgentview" id="fMTManningAgentview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (!mtManningAgentView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(mtManningAgentView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MTManningAgent: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fMTManningAgentview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMTManningAgentview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
}
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(mtManningAgentView.IsModal)">
<table class="@(mtManningAgentView.TableClass)">
@if (mtManningAgentView.Code.Visible) { // mtManningAgentView.Code.Visible (begin)
    <tr id="r_Code" @Html.Raw(mtManningAgentView.Code.RowAttributes)>
        <td class="@(mtManningAgentView.TableLeftColumnClass)"><span id="elh_MTManningAgent_Code">@Html.Raw(mtManningAgentView.Code.Caption)</span></td>
        <td data-name="Code" @Html.Raw(mtManningAgentView.Code.CellAttributes)>
<span id="el_MTManningAgent_Code">
<span @Html.Raw(mtManningAgentView.Code.ViewAttributes)>
@Html.Raw(mtManningAgentView.Code.GetViewValue())</span>
</span></td>
    </tr>
} @* mtManningAgentView.Code.Visible (end) *@
@if (mtManningAgentView._Name.Visible) { // mtManningAgentView._Name.Visible (begin)
    <tr id="r__Name" @Html.Raw(mtManningAgentView._Name.RowAttributes)>
        <td class="@(mtManningAgentView.TableLeftColumnClass)"><span id="elh_MTManningAgent__Name">@Html.Raw(mtManningAgentView._Name.Caption)</span></td>
        <td data-name="_Name" @Html.Raw(mtManningAgentView._Name.CellAttributes)>
<span id="el_MTManningAgent__Name">
<span @Html.Raw(mtManningAgentView._Name.ViewAttributes)>
@Html.Raw(mtManningAgentView._Name.GetViewValue())</span>
</span></td>
    </tr>
} @* mtManningAgentView._Name.Visible (end) *@
@if (mtManningAgentView.Active.Visible) { // mtManningAgentView.Active.Visible (begin)
    <tr id="r_Active" @Html.Raw(mtManningAgentView.Active.RowAttributes)>
        <td class="@(mtManningAgentView.TableLeftColumnClass)"><span id="elh_MTManningAgent_Active">@Html.Raw(mtManningAgentView.Active.Caption)</span></td>
        <td data-name="Active" @Html.Raw(mtManningAgentView.Active.CellAttributes)>
<span id="el_MTManningAgent_Active">
<span @Html.Raw(mtManningAgentView.Active.ViewAttributes)>
<div class="form-check d-inline-block">
    <input type="checkbox" id="x_Active_@(mtManningAgentView.RowCount)" class="form-check-input" value="@(mtManningAgentView.Active.GetViewValue())" disabled checked="@(ConvertToBool(mtManningAgentView.Active.CurrentValue))">
    <label class="form-check-label" for="x_Active_@(mtManningAgentView.RowCount)"></label>
</div></span>
</span></td>
    </tr>
} @* mtManningAgentView.Active.Visible (end) *@
@if (mtManningAgentView.CreatedByUserID.Visible) { // mtManningAgentView.CreatedByUserID.Visible (begin)
    <tr id="r_CreatedByUserID" @Html.Raw(mtManningAgentView.CreatedByUserID.RowAttributes)>
        <td class="@(mtManningAgentView.TableLeftColumnClass)"><span id="elh_MTManningAgent_CreatedByUserID">@Html.Raw(mtManningAgentView.CreatedByUserID.Caption)</span></td>
        <td data-name="CreatedByUserID" @Html.Raw(mtManningAgentView.CreatedByUserID.CellAttributes)>
<span id="el_MTManningAgent_CreatedByUserID">
<span @Html.Raw(mtManningAgentView.CreatedByUserID.ViewAttributes)>
@Html.Raw(mtManningAgentView.CreatedByUserID.GetViewValue())</span>
</span></td>
    </tr>
} @* mtManningAgentView.CreatedByUserID.Visible (end) *@
@if (mtManningAgentView.CreatedDateTime.Visible) { // mtManningAgentView.CreatedDateTime.Visible (begin)
    <tr id="r_CreatedDateTime" @Html.Raw(mtManningAgentView.CreatedDateTime.RowAttributes)>
        <td class="@(mtManningAgentView.TableLeftColumnClass)"><span id="elh_MTManningAgent_CreatedDateTime">@Html.Raw(mtManningAgentView.CreatedDateTime.Caption)</span></td>
        <td data-name="CreatedDateTime" @Html.Raw(mtManningAgentView.CreatedDateTime.CellAttributes)>
<span id="el_MTManningAgent_CreatedDateTime">
<span @Html.Raw(mtManningAgentView.CreatedDateTime.ViewAttributes)>
@Html.Raw(mtManningAgentView.CreatedDateTime.GetViewValue())</span>
</span></td>
    </tr>
} @* mtManningAgentView.CreatedDateTime.Visible (end) *@
@if (mtManningAgentView.LastUpdatedByUserID.Visible) { // mtManningAgentView.LastUpdatedByUserID.Visible (begin)
    <tr id="r_LastUpdatedByUserID" @Html.Raw(mtManningAgentView.LastUpdatedByUserID.RowAttributes)>
        <td class="@(mtManningAgentView.TableLeftColumnClass)"><span id="elh_MTManningAgent_LastUpdatedByUserID">@Html.Raw(mtManningAgentView.LastUpdatedByUserID.Caption)</span></td>
        <td data-name="LastUpdatedByUserID" @Html.Raw(mtManningAgentView.LastUpdatedByUserID.CellAttributes)>
<span id="el_MTManningAgent_LastUpdatedByUserID">
<span @Html.Raw(mtManningAgentView.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(mtManningAgentView.LastUpdatedByUserID.GetViewValue())</span>
</span></td>
    </tr>
} @* mtManningAgentView.LastUpdatedByUserID.Visible (end) *@
@if (mtManningAgentView.LastUpdatedDateTime.Visible) { // mtManningAgentView.LastUpdatedDateTime.Visible (begin)
    <tr id="r_LastUpdatedDateTime" @Html.Raw(mtManningAgentView.LastUpdatedDateTime.RowAttributes)>
        <td class="@(mtManningAgentView.TableLeftColumnClass)"><span id="elh_MTManningAgent_LastUpdatedDateTime">@Html.Raw(mtManningAgentView.LastUpdatedDateTime.Caption)</span></td>
        <td data-name="LastUpdatedDateTime" @Html.Raw(mtManningAgentView.LastUpdatedDateTime.CellAttributes)>
<span id="el_MTManningAgent_LastUpdatedDateTime">
<span @Html.Raw(mtManningAgentView.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(mtManningAgentView.LastUpdatedDateTime.GetViewValue())</span>
</span></td>
    </tr>
} @* mtManningAgentView.LastUpdatedDateTime.Visible (end) *@
</table>
@{ mtManningAgentView.CloseRecordset(); }
</form>
</main>
@mtManningAgentView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!mtManningAgentView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
