@{
    // View
    View = this;

    // Check action result
    if (mtManningAgentDelete.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!mtManningAgentDelete.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(mtManningAgentDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MTManningAgent: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fMTManningAgentdelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMTManningAgentdelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@mtManningAgentDelete.ShowPageHeader()
@mtManningAgentDelete.ShowMessages()
<form name="fMTManningAgentdelete" id="fMTManningAgentdelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in mtManningAgentDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(mtManningAgentDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(mtManningAgentDelete.TableContainerClass)" style="@(mtManningAgentDelete.TableContainerStyle)">
<table class="@(mtManningAgentDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (mtManningAgentDelete.Code.Visible) { // mtManningAgentDelete.Code.Visible (begin)
        <th class="@Html.Raw(mtManningAgentDelete.Code.HeaderCellClass)"><span id="elh_MTManningAgent_Code" class="MTManningAgent_Code">@Html.Raw(mtManningAgentDelete.Code.Caption)</span></th>
} @* mtManningAgentDelete.Code.Visible (end) *@
@if (mtManningAgentDelete._Name.Visible) { // mtManningAgentDelete._Name.Visible (begin)
        <th class="@Html.Raw(mtManningAgentDelete._Name.HeaderCellClass)"><span id="elh_MTManningAgent__Name" class="MTManningAgent__Name">@Html.Raw(mtManningAgentDelete._Name.Caption)</span></th>
} @* mtManningAgentDelete._Name.Visible (end) *@
@if (mtManningAgentDelete.Active.Visible) { // mtManningAgentDelete.Active.Visible (begin)
        <th class="@Html.Raw(mtManningAgentDelete.Active.HeaderCellClass)"><span id="elh_MTManningAgent_Active" class="MTManningAgent_Active">@Html.Raw(mtManningAgentDelete.Active.Caption)</span></th>
} @* mtManningAgentDelete.Active.Visible (end) *@
@if (mtManningAgentDelete.CreatedByUserID.Visible) { // mtManningAgentDelete.CreatedByUserID.Visible (begin)
        <th class="@Html.Raw(mtManningAgentDelete.CreatedByUserID.HeaderCellClass)"><span id="elh_MTManningAgent_CreatedByUserID" class="MTManningAgent_CreatedByUserID">@Html.Raw(mtManningAgentDelete.CreatedByUserID.Caption)</span></th>
} @* mtManningAgentDelete.CreatedByUserID.Visible (end) *@
@if (mtManningAgentDelete.CreatedDateTime.Visible) { // mtManningAgentDelete.CreatedDateTime.Visible (begin)
        <th class="@Html.Raw(mtManningAgentDelete.CreatedDateTime.HeaderCellClass)"><span id="elh_MTManningAgent_CreatedDateTime" class="MTManningAgent_CreatedDateTime">@Html.Raw(mtManningAgentDelete.CreatedDateTime.Caption)</span></th>
} @* mtManningAgentDelete.CreatedDateTime.Visible (end) *@
@if (mtManningAgentDelete.LastUpdatedByUserID.Visible) { // mtManningAgentDelete.LastUpdatedByUserID.Visible (begin)
        <th class="@Html.Raw(mtManningAgentDelete.LastUpdatedByUserID.HeaderCellClass)"><span id="elh_MTManningAgent_LastUpdatedByUserID" class="MTManningAgent_LastUpdatedByUserID">@Html.Raw(mtManningAgentDelete.LastUpdatedByUserID.Caption)</span></th>
} @* mtManningAgentDelete.LastUpdatedByUserID.Visible (end) *@
@if (mtManningAgentDelete.LastUpdatedDateTime.Visible) { // mtManningAgentDelete.LastUpdatedDateTime.Visible (begin)
        <th class="@Html.Raw(mtManningAgentDelete.LastUpdatedDateTime.HeaderCellClass)"><span id="elh_MTManningAgent_LastUpdatedDateTime" class="MTManningAgent_LastUpdatedDateTime">@Html.Raw(mtManningAgentDelete.LastUpdatedDateTime.Caption)</span></th>
} @* mtManningAgentDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ mtManningAgentDelete.RecordCount = 0; }
@while (mtManningAgentDelete.Recordset != null && await mtManningAgentDelete.Recordset.ReadAsync()) { // DN
    mtManningAgentDelete.RecordCount++;
    mtManningAgentDelete.RowCount++;

    // Set row properties
    mtManningAgentDelete.ResetAttributes();
    mtManningAgentDelete.RowType = RowType.View; // View

    // Get the field contents
    await mtManningAgentDelete.LoadRowValues(mtManningAgentDelete.Recordset);

    // Render row
    await mtManningAgentDelete.RenderRow();
    <tr @Html.Raw(mtManningAgentDelete.RowAttributes)>
@if (mtManningAgentDelete.Code.Visible) { // mtManningAgentDelete.Code.Visible (begin)
        <td @Html.Raw(mtManningAgentDelete.Code.CellAttributes)>
<span id="el@(mtManningAgentDelete.RowCount)_MTManningAgent_Code" class="el_MTManningAgent_Code">
<span @Html.Raw(mtManningAgentDelete.Code.ViewAttributes)>
@Html.Raw(mtManningAgentDelete.Code.GetViewValue())</span>
</span></td>
} @* mtManningAgentDelete.Code.Visible (end) *@
@if (mtManningAgentDelete._Name.Visible) { // mtManningAgentDelete._Name.Visible (begin)
        <td @Html.Raw(mtManningAgentDelete._Name.CellAttributes)>
<span id="el@(mtManningAgentDelete.RowCount)_MTManningAgent__Name" class="el_MTManningAgent__Name">
<span @Html.Raw(mtManningAgentDelete._Name.ViewAttributes)>
@Html.Raw(mtManningAgentDelete._Name.GetViewValue())</span>
</span></td>
} @* mtManningAgentDelete._Name.Visible (end) *@
@if (mtManningAgentDelete.Active.Visible) { // mtManningAgentDelete.Active.Visible (begin)
        <td @Html.Raw(mtManningAgentDelete.Active.CellAttributes)>
<span id="el@(mtManningAgentDelete.RowCount)_MTManningAgent_Active" class="el_MTManningAgent_Active">
<span @Html.Raw(mtManningAgentDelete.Active.ViewAttributes)>
<div class="form-check d-inline-block">
    <input type="checkbox" id="x_Active_@(mtManningAgentDelete.RowCount)" class="form-check-input" value="@(mtManningAgentDelete.Active.GetViewValue())" disabled checked="@(ConvertToBool(mtManningAgentDelete.Active.CurrentValue))">
    <label class="form-check-label" for="x_Active_@(mtManningAgentDelete.RowCount)"></label>
</div></span>
</span></td>
} @* mtManningAgentDelete.Active.Visible (end) *@
@if (mtManningAgentDelete.CreatedByUserID.Visible) { // mtManningAgentDelete.CreatedByUserID.Visible (begin)
        <td @Html.Raw(mtManningAgentDelete.CreatedByUserID.CellAttributes)>
<span id="el@(mtManningAgentDelete.RowCount)_MTManningAgent_CreatedByUserID" class="el_MTManningAgent_CreatedByUserID">
<span @Html.Raw(mtManningAgentDelete.CreatedByUserID.ViewAttributes)>
@Html.Raw(mtManningAgentDelete.CreatedByUserID.GetViewValue())</span>
</span></td>
} @* mtManningAgentDelete.CreatedByUserID.Visible (end) *@
@if (mtManningAgentDelete.CreatedDateTime.Visible) { // mtManningAgentDelete.CreatedDateTime.Visible (begin)
        <td @Html.Raw(mtManningAgentDelete.CreatedDateTime.CellAttributes)>
<span id="el@(mtManningAgentDelete.RowCount)_MTManningAgent_CreatedDateTime" class="el_MTManningAgent_CreatedDateTime">
<span @Html.Raw(mtManningAgentDelete.CreatedDateTime.ViewAttributes)>
@Html.Raw(mtManningAgentDelete.CreatedDateTime.GetViewValue())</span>
</span></td>
} @* mtManningAgentDelete.CreatedDateTime.Visible (end) *@
@if (mtManningAgentDelete.LastUpdatedByUserID.Visible) { // mtManningAgentDelete.LastUpdatedByUserID.Visible (begin)
        <td @Html.Raw(mtManningAgentDelete.LastUpdatedByUserID.CellAttributes)>
<span id="el@(mtManningAgentDelete.RowCount)_MTManningAgent_LastUpdatedByUserID" class="el_MTManningAgent_LastUpdatedByUserID">
<span @Html.Raw(mtManningAgentDelete.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(mtManningAgentDelete.LastUpdatedByUserID.GetViewValue())</span>
</span></td>
} @* mtManningAgentDelete.LastUpdatedByUserID.Visible (end) *@
@if (mtManningAgentDelete.LastUpdatedDateTime.Visible) { // mtManningAgentDelete.LastUpdatedDateTime.Visible (begin)
        <td @Html.Raw(mtManningAgentDelete.LastUpdatedDateTime.CellAttributes)>
<span id="el@(mtManningAgentDelete.RowCount)_MTManningAgent_LastUpdatedDateTime" class="el_MTManningAgent_LastUpdatedDateTime">
<span @Html.Raw(mtManningAgentDelete.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(mtManningAgentDelete.LastUpdatedDateTime.GetViewValue())</span>
</span></td>
} @* mtManningAgentDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
}
@{ mtManningAgentDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(mtManningAgentDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@mtManningAgentDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
