@{
    // View
    View = this;

    // Check action result
    if (mtManningAgentEdit.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!mtManningAgentEdit.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@mtManningAgentEdit.ShowPageHeader()
@mtManningAgentEdit.ShowMessages()
<main class="edit">
<form name="fMTManningAgentedit" id="fMTManningAgentedit" class="@(mtManningAgentEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
<script>
var currentTable = @Html.Raw(ConvertToJson(mtManningAgentEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MTManningAgent: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fMTManningAgentedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMTManningAgentedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["Code", [fields.Code.visible && fields.Code.required ? ew.Validators.required(fields.Code.caption) : null], fields.Code.isInvalid],
            ["_Name", [fields._Name.visible && fields._Name.required ? ew.Validators.required(fields._Name.caption) : null], fields._Name.isInvalid],
            ["Active", [fields.Active.visible && fields.Active.required ? ew.Validators.required(fields.Active.caption) : null], fields.Active.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "Active": @Html.Raw(mtManningAgentEdit.Active.ToClientList(mtManningAgentEdit)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(mtManningAgentEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(mtManningAgentEdit.OldKeyName)" value="@Html.Raw(mtManningAgentEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (mtManningAgentEdit.Code.Visible) { // mtManningAgentEdit.Code.Visible (begin)
    <div id="r_Code" @Html.Raw(mtManningAgentEdit.Code.RowAttributes)>
        <label id="elh_MTManningAgent_Code" for="x_Code" class="@(mtManningAgentEdit.LeftColumnClass)">@Html.Raw(mtManningAgentEdit.Code.Caption)@Html.Raw(mtManningAgentEdit.Code.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtManningAgentEdit.RightColumnClass)"><div @Html.Raw(mtManningAgentEdit.Code.CellAttributes)>
<span id="el_MTManningAgent_Code">
<input type="@(mtManningAgentEdit.Code.InputTextType)" name="x_Code" id="x_Code" data-table="MTManningAgent" data-field="x_Code" value="@Html.Raw(mtManningAgentEdit.Code.EditValue)" size="30" maxlength="20" placeholder="@Html.Raw(HtmlEncode(mtManningAgentEdit.Code.PlaceHolder))" data-format-pattern="@(mtManningAgentEdit.Code.FormatPattern)"@Html.Raw(mtManningAgentEdit.Code.EditAttributes) aria-describedby="x_Code_help">
@Html.Raw(mtManningAgentEdit.Code.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mtManningAgentEdit.Code.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* mtManningAgentEdit.Code.Visible (end) *@
@if (mtManningAgentEdit._Name.Visible) { // mtManningAgentEdit._Name.Visible (begin)
    <div id="r__Name" @Html.Raw(mtManningAgentEdit._Name.RowAttributes)>
        <label id="elh_MTManningAgent__Name" for="x__Name" class="@(mtManningAgentEdit.LeftColumnClass)">@Html.Raw(mtManningAgentEdit._Name.Caption)@Html.Raw(mtManningAgentEdit._Name.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtManningAgentEdit.RightColumnClass)"><div @Html.Raw(mtManningAgentEdit._Name.CellAttributes)>
<span id="el_MTManningAgent__Name">
<input type="@(mtManningAgentEdit._Name.InputTextType)" name="x__Name" id="x__Name" data-table="MTManningAgent" data-field="x__Name" value="@Html.Raw(mtManningAgentEdit._Name.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(mtManningAgentEdit._Name.PlaceHolder))" data-format-pattern="@(mtManningAgentEdit._Name.FormatPattern)"@Html.Raw(mtManningAgentEdit._Name.EditAttributes) aria-describedby="x__Name_help">
@Html.Raw(mtManningAgentEdit._Name.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mtManningAgentEdit._Name.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* mtManningAgentEdit._Name.Visible (end) *@
@if (mtManningAgentEdit.Active.Visible) { // mtManningAgentEdit.Active.Visible (begin)
    <div id="r_Active" @Html.Raw(mtManningAgentEdit.Active.RowAttributes)>
        <label id="elh_MTManningAgent_Active" class="@(mtManningAgentEdit.LeftColumnClass)">@Html.Raw(mtManningAgentEdit.Active.Caption)@Html.Raw(mtManningAgentEdit.Active.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtManningAgentEdit.RightColumnClass)"><div @Html.Raw(mtManningAgentEdit.Active.CellAttributes)>
<span id="el_MTManningAgent_Active">
<div class="form-check d-inline-block">
    <input type="checkbox" class="form-check-input@(mtManningAgentEdit.Active.IsInvalidClass)" data-table="MTManningAgent" data-field="x_Active" data-boolean name="x_Active" id="x_Active" value="1" checked="@ConvertToBool(mtManningAgentEdit.Active.CurrentValue)" @Html.Raw(mtManningAgentEdit.Active.EditAttributes) aria-describedby="x_Active_help">
    <div class="invalid-feedback">@Html.Raw(mtManningAgentEdit.Active.GetErrorMessage())</div>
</div>
@Html.Raw(mtManningAgentEdit.Active.GetCustomMessage)
</span>
</div></div>
    </div>
} @* mtManningAgentEdit.Active.Visible (end) *@
</div><!-- /page* -->
    <input type="hidden" data-table="MTManningAgent" data-field="x_ID" data-hidden="1" name="x_ID" id="x_ID" value="@Html.Raw(HtmlEncode(mtManningAgentEdit.ID.CurrentValue))">
@{ mtManningAgentEdit.CloseRecordset(); }
@Html.Raw(mtManningAgentEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(mtManningAgentEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fMTManningAgentedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fMTManningAgentedit" data-href="@AppPath(mtManningAgentEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(mtManningAgentEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@mtManningAgentEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("MTManningAgent");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
