@{
    // View
    View = this;

    // Check action result
    if (mtMedicalCertificateDelete.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!mtMedicalCertificateDelete.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(mtMedicalCertificateDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MTMedicalCertificate: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fMTMedicalCertificatedelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMTMedicalCertificatedelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@mtMedicalCertificateDelete.ShowPageHeader()
@mtMedicalCertificateDelete.ShowMessages()
<form name="fMTMedicalCertificatedelete" id="fMTMedicalCertificatedelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in mtMedicalCertificateDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(mtMedicalCertificateDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(mtMedicalCertificateDelete.TableContainerClass)" style="@(mtMedicalCertificateDelete.TableContainerStyle)">
<table class="@(mtMedicalCertificateDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (mtMedicalCertificateDelete._Name.Visible) { // mtMedicalCertificateDelete._Name.Visible (begin)
        <th class="@Html.Raw(mtMedicalCertificateDelete._Name.HeaderCellClass)"><span id="elh_MTMedicalCertificate__Name" class="MTMedicalCertificate__Name">@Html.Raw(mtMedicalCertificateDelete._Name.Caption)</span></th>
} @* mtMedicalCertificateDelete._Name.Visible (end) *@
@if (mtMedicalCertificateDelete.Enabled.Visible) { // mtMedicalCertificateDelete.Enabled.Visible (begin)
        <th class="@Html.Raw(mtMedicalCertificateDelete.Enabled.HeaderCellClass)"><span id="elh_MTMedicalCertificate_Enabled" class="MTMedicalCertificate_Enabled">@Html.Raw(mtMedicalCertificateDelete.Enabled.Caption)</span></th>
} @* mtMedicalCertificateDelete.Enabled.Visible (end) *@
@if (mtMedicalCertificateDelete.CreatedByUserID.Visible) { // mtMedicalCertificateDelete.CreatedByUserID.Visible (begin)
        <th class="@Html.Raw(mtMedicalCertificateDelete.CreatedByUserID.HeaderCellClass)"><span id="elh_MTMedicalCertificate_CreatedByUserID" class="MTMedicalCertificate_CreatedByUserID">@Html.Raw(mtMedicalCertificateDelete.CreatedByUserID.Caption)</span></th>
} @* mtMedicalCertificateDelete.CreatedByUserID.Visible (end) *@
@if (mtMedicalCertificateDelete.CreatedDateTime.Visible) { // mtMedicalCertificateDelete.CreatedDateTime.Visible (begin)
        <th class="@Html.Raw(mtMedicalCertificateDelete.CreatedDateTime.HeaderCellClass)"><span id="elh_MTMedicalCertificate_CreatedDateTime" class="MTMedicalCertificate_CreatedDateTime">@Html.Raw(mtMedicalCertificateDelete.CreatedDateTime.Caption)</span></th>
} @* mtMedicalCertificateDelete.CreatedDateTime.Visible (end) *@
@if (mtMedicalCertificateDelete.LastUpdatedByUserID.Visible) { // mtMedicalCertificateDelete.LastUpdatedByUserID.Visible (begin)
        <th class="@Html.Raw(mtMedicalCertificateDelete.LastUpdatedByUserID.HeaderCellClass)"><span id="elh_MTMedicalCertificate_LastUpdatedByUserID" class="MTMedicalCertificate_LastUpdatedByUserID">@Html.Raw(mtMedicalCertificateDelete.LastUpdatedByUserID.Caption)</span></th>
} @* mtMedicalCertificateDelete.LastUpdatedByUserID.Visible (end) *@
@if (mtMedicalCertificateDelete.LastUpdatedDateTime.Visible) { // mtMedicalCertificateDelete.LastUpdatedDateTime.Visible (begin)
        <th class="@Html.Raw(mtMedicalCertificateDelete.LastUpdatedDateTime.HeaderCellClass)"><span id="elh_MTMedicalCertificate_LastUpdatedDateTime" class="MTMedicalCertificate_LastUpdatedDateTime">@Html.Raw(mtMedicalCertificateDelete.LastUpdatedDateTime.Caption)</span></th>
} @* mtMedicalCertificateDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ mtMedicalCertificateDelete.RecordCount = 0; }
@while (mtMedicalCertificateDelete.Recordset != null && await mtMedicalCertificateDelete.Recordset.ReadAsync()) { // DN
    mtMedicalCertificateDelete.RecordCount++;
    mtMedicalCertificateDelete.RowCount++;

    // Set row properties
    mtMedicalCertificateDelete.ResetAttributes();
    mtMedicalCertificateDelete.RowType = RowType.View; // View

    // Get the field contents
    await mtMedicalCertificateDelete.LoadRowValues(mtMedicalCertificateDelete.Recordset);

    // Render row
    await mtMedicalCertificateDelete.RenderRow();
    <tr @Html.Raw(mtMedicalCertificateDelete.RowAttributes)>
@if (mtMedicalCertificateDelete._Name.Visible) { // mtMedicalCertificateDelete._Name.Visible (begin)
        <td @Html.Raw(mtMedicalCertificateDelete._Name.CellAttributes)>
<span id="el@(mtMedicalCertificateDelete.RowCount)_MTMedicalCertificate__Name" class="el_MTMedicalCertificate__Name">
<span @Html.Raw(mtMedicalCertificateDelete._Name.ViewAttributes)>
@Html.Raw(mtMedicalCertificateDelete._Name.GetViewValue())</span>
</span></td>
} @* mtMedicalCertificateDelete._Name.Visible (end) *@
@if (mtMedicalCertificateDelete.Enabled.Visible) { // mtMedicalCertificateDelete.Enabled.Visible (begin)
        <td @Html.Raw(mtMedicalCertificateDelete.Enabled.CellAttributes)>
<span id="el@(mtMedicalCertificateDelete.RowCount)_MTMedicalCertificate_Enabled" class="el_MTMedicalCertificate_Enabled">
<span @Html.Raw(mtMedicalCertificateDelete.Enabled.ViewAttributes)>
<div class="form-check d-inline-block">
    <input type="checkbox" id="x_Enabled_@(mtMedicalCertificateDelete.RowCount)" class="form-check-input" value="@(mtMedicalCertificateDelete.Enabled.GetViewValue())" disabled checked="@(ConvertToBool(mtMedicalCertificateDelete.Enabled.CurrentValue))">
    <label class="form-check-label" for="x_Enabled_@(mtMedicalCertificateDelete.RowCount)"></label>
</div></span>
</span></td>
} @* mtMedicalCertificateDelete.Enabled.Visible (end) *@
@if (mtMedicalCertificateDelete.CreatedByUserID.Visible) { // mtMedicalCertificateDelete.CreatedByUserID.Visible (begin)
        <td @Html.Raw(mtMedicalCertificateDelete.CreatedByUserID.CellAttributes)>
<span id="el@(mtMedicalCertificateDelete.RowCount)_MTMedicalCertificate_CreatedByUserID" class="el_MTMedicalCertificate_CreatedByUserID">
<span @Html.Raw(mtMedicalCertificateDelete.CreatedByUserID.ViewAttributes)>
@Html.Raw(mtMedicalCertificateDelete.CreatedByUserID.GetViewValue())</span>
</span></td>
} @* mtMedicalCertificateDelete.CreatedByUserID.Visible (end) *@
@if (mtMedicalCertificateDelete.CreatedDateTime.Visible) { // mtMedicalCertificateDelete.CreatedDateTime.Visible (begin)
        <td @Html.Raw(mtMedicalCertificateDelete.CreatedDateTime.CellAttributes)>
<span id="el@(mtMedicalCertificateDelete.RowCount)_MTMedicalCertificate_CreatedDateTime" class="el_MTMedicalCertificate_CreatedDateTime">
<span @Html.Raw(mtMedicalCertificateDelete.CreatedDateTime.ViewAttributes)>
@Html.Raw(mtMedicalCertificateDelete.CreatedDateTime.GetViewValue())</span>
</span></td>
} @* mtMedicalCertificateDelete.CreatedDateTime.Visible (end) *@
@if (mtMedicalCertificateDelete.LastUpdatedByUserID.Visible) { // mtMedicalCertificateDelete.LastUpdatedByUserID.Visible (begin)
        <td @Html.Raw(mtMedicalCertificateDelete.LastUpdatedByUserID.CellAttributes)>
<span id="el@(mtMedicalCertificateDelete.RowCount)_MTMedicalCertificate_LastUpdatedByUserID" class="el_MTMedicalCertificate_LastUpdatedByUserID">
<span @Html.Raw(mtMedicalCertificateDelete.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(mtMedicalCertificateDelete.LastUpdatedByUserID.GetViewValue())</span>
</span></td>
} @* mtMedicalCertificateDelete.LastUpdatedByUserID.Visible (end) *@
@if (mtMedicalCertificateDelete.LastUpdatedDateTime.Visible) { // mtMedicalCertificateDelete.LastUpdatedDateTime.Visible (begin)
        <td @Html.Raw(mtMedicalCertificateDelete.LastUpdatedDateTime.CellAttributes)>
<span id="el@(mtMedicalCertificateDelete.RowCount)_MTMedicalCertificate_LastUpdatedDateTime" class="el_MTMedicalCertificate_LastUpdatedDateTime">
<span @Html.Raw(mtMedicalCertificateDelete.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(mtMedicalCertificateDelete.LastUpdatedDateTime.GetViewValue())</span>
</span></td>
} @* mtMedicalCertificateDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
}
@{ mtMedicalCertificateDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(mtMedicalCertificateDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@mtMedicalCertificateDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
