@{
    // View
    View = this;

    // Check action result
    if (mtMedicalCertificateAdd.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!mtMedicalCertificateAdd.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(mtMedicalCertificateAdd.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MTMedicalCertificate: currentTable } });
var currentPageID = ew.PAGE_ID = "add";
var currentForm;
var fMTMedicalCertificateadd;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMTMedicalCertificateadd")
        .setPageId("add")

        // Add fields
        .setFields([

            ["_Name", [fields._Name.visible && fields._Name.required ? ew.Validators.required(fields._Name.caption) : null], fields._Name.isInvalid],
            ["Enabled", [fields.Enabled.visible && fields.Enabled.required ? ew.Validators.required(fields.Enabled.caption) : null], fields.Enabled.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "Enabled": @Html.Raw(mtMedicalCertificateAdd.Enabled.ToClientList(mtMedicalCertificateAdd)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@mtMedicalCertificateAdd.ShowPageHeader()
@mtMedicalCertificateAdd.ShowMessages()
<form name="fMTMedicalCertificateadd" id="fMTMedicalCertificateadd" class="@(mtMedicalCertificateAdd.FormClassName)" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="insert">
<input type="hidden" name="modal" value="@ConvertToInt(mtMedicalCertificateAdd.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(mtMedicalCertificateAdd.OldKeyName)" value="@Html.Raw(mtMedicalCertificateAdd.OldKey)">
<div class="ew-add-div"><!-- page* -->
@if (mtMedicalCertificateAdd._Name.Visible) { // mtMedicalCertificateAdd._Name.Visible (begin)
    <div id="r__Name" @Html.Raw(mtMedicalCertificateAdd._Name.RowAttributes)>
        <label id="elh_MTMedicalCertificate__Name" for="x__Name" class="@(mtMedicalCertificateAdd.LeftColumnClass)">@Html.Raw(mtMedicalCertificateAdd._Name.Caption)@Html.Raw(mtMedicalCertificateAdd._Name.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtMedicalCertificateAdd.RightColumnClass)"><div @Html.Raw(mtMedicalCertificateAdd._Name.CellAttributes)>
<span id="el_MTMedicalCertificate__Name">
<input type="@(mtMedicalCertificateAdd._Name.InputTextType)" name="x__Name" id="x__Name" data-table="MTMedicalCertificate" data-field="x__Name" value="@Html.Raw(mtMedicalCertificateAdd._Name.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(mtMedicalCertificateAdd._Name.PlaceHolder))" data-format-pattern="@(mtMedicalCertificateAdd._Name.FormatPattern)"@Html.Raw(mtMedicalCertificateAdd._Name.EditAttributes) aria-describedby="x__Name_help">
@Html.Raw(mtMedicalCertificateAdd._Name.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mtMedicalCertificateAdd._Name.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* mtMedicalCertificateAdd._Name.Visible (end) *@
@if (mtMedicalCertificateAdd.Enabled.Visible) { // mtMedicalCertificateAdd.Enabled.Visible (begin)
    <div id="r_Enabled" @Html.Raw(mtMedicalCertificateAdd.Enabled.RowAttributes)>
        <label id="elh_MTMedicalCertificate_Enabled" class="@(mtMedicalCertificateAdd.LeftColumnClass)">@Html.Raw(mtMedicalCertificateAdd.Enabled.Caption)@Html.Raw(mtMedicalCertificateAdd.Enabled.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtMedicalCertificateAdd.RightColumnClass)"><div @Html.Raw(mtMedicalCertificateAdd.Enabled.CellAttributes)>
<span id="el_MTMedicalCertificate_Enabled">
<div class="form-check d-inline-block">
    <input type="checkbox" class="form-check-input@(mtMedicalCertificateAdd.Enabled.IsInvalidClass)" data-table="MTMedicalCertificate" data-field="x_Enabled" data-boolean name="x_Enabled" id="x_Enabled" value="1" checked="@ConvertToBool(mtMedicalCertificateAdd.Enabled.CurrentValue)" @Html.Raw(mtMedicalCertificateAdd.Enabled.EditAttributes) aria-describedby="x_Enabled_help">
    <div class="invalid-feedback">@Html.Raw(mtMedicalCertificateAdd.Enabled.GetErrorMessage())</div>
</div>
@Html.Raw(mtMedicalCertificateAdd.Enabled.GetCustomMessage)
</span>
</div></div>
    </div>
} @* mtMedicalCertificateAdd.Enabled.Visible (end) *@
</div><!-- /page* -->
@{ mtMedicalCertificateAdd.CloseRecordset(); }
@Html.Raw(mtMedicalCertificateAdd.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(mtMedicalCertificateAdd.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fMTMedicalCertificateadd">@Html.Raw(Language.Phrase("AddBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fMTMedicalCertificateadd" data-href="@AppPath(mtMedicalCertificateAdd.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(mtMedicalCertificateAdd.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
@mtMedicalCertificateAdd.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("MTMedicalCertificate");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
