@{
    // View
    View = this;

    // Check action result
    if (mtMedicalCertificateSearch.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!mtMedicalCertificateSearch.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(mtMedicalCertificateSearch.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MTMedicalCertificate: currentTable } });
var currentPageID = ew.PAGE_ID = "search";
var currentForm;
var fMTMedicalCertificatesearch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fMTMedicalCertificatesearch")
        .setPageId("search")
@if (mtMedicalCertificateSearch.IsModal && mtMedicalCertificateSearch.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Add fields
        .setFields([

            ["_Name", [], fields._Name.isInvalid],
            ["Enabled", [], fields.Enabled.isInvalid],
            ["CreatedByUserID", [], fields.CreatedByUserID.isInvalid],
            ["CreatedDateTime", [ew.Validators.datetime(fields.CreatedDateTime.clientFormatPattern)], fields.CreatedDateTime.isInvalid],
            ["LastUpdatedByUserID", [], fields.LastUpdatedByUserID.isInvalid],
            ["LastUpdatedDateTime", [ew.Validators.datetime(fields.LastUpdatedDateTime.clientFormatPattern)], fields.LastUpdatedDateTime.isInvalid]
        ])
        // Validate form
        .setValidate(
            async function () {
                if (!this.validateRequired)
                    return true; // Ignore validation
                let fobj = this.getForm();

                // Validate fields
                if (!this.validateFields())
                    return false;

                // Call Form_CustomValidate event
                if (!(await this.customValidate?.(fobj) ?? true)) {
                    this.focus();
                    return false;
                }
                return true;
            }
        )

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "Enabled": @Html.Raw(mtMedicalCertificateSearch.Enabled.ToClientList(mtMedicalCertificateSearch)),
            "CreatedByUserID": @Html.Raw(mtMedicalCertificateSearch.CreatedByUserID.ToClientList(mtMedicalCertificateSearch)),
            "LastUpdatedByUserID": @Html.Raw(mtMedicalCertificateSearch.LastUpdatedByUserID.ToClientList(mtMedicalCertificateSearch)),
        })
        .build();
    window[form.id] = form;
@if (mtMedicalCertificateSearch.IsModal) {
    <text>currentAdvancedSearchForm = form;</text>
} else {
    <text>currentForm = form;</text>
}
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@mtMedicalCertificateSearch.ShowPageHeader()
@mtMedicalCertificateSearch.ShowMessages()
<form name="fMTMedicalCertificatesearch" id="fMTMedicalCertificatesearch" class="@(mtMedicalCertificateSearch.FormClassName)" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="search">
@if (mtMedicalCertificateSearch.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div class="ew-search-div"><!-- page* -->
@if (mtMedicalCertificateSearch._Name.Visible) { // mtMedicalCertificateSearch._Name.Visible (begin)
    <div id="r__Name" class="row" @Html.Raw(mtMedicalCertificateSearch._Name.RowAttributes)>
        <label for="x__Name" class="@(mtMedicalCertificateSearch.LeftColumnClass)"><span id="elh_MTMedicalCertificate__Name">@Html.Raw(mtMedicalCertificateSearch._Name.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("LIKE"))
<input type="hidden" name="z__Name" id="z__Name" value="LIKE">
</span>
        </label>
        <div class="@(mtMedicalCertificateSearch.RightColumnClass)">
            <div @Html.Raw(mtMedicalCertificateSearch._Name.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_MTMedicalCertificate__Name" class="ew-search-field ew-search-field-single">
<input type="@(mtMedicalCertificateSearch._Name.InputTextType)" name="x__Name" id="x__Name" data-table="MTMedicalCertificate" data-field="x__Name" value="@Html.Raw(mtMedicalCertificateSearch._Name.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(mtMedicalCertificateSearch._Name.PlaceHolder))" data-format-pattern="@(mtMedicalCertificateSearch._Name.FormatPattern)"@Html.Raw(mtMedicalCertificateSearch._Name.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(mtMedicalCertificateSearch._Name.GetErrorMessage(false))</div>
</span>
                </div>
            </div>
        </div>
    </div>
} @* mtMedicalCertificateSearch._Name.Visible (end) *@
@if (mtMedicalCertificateSearch.Enabled.Visible) { // mtMedicalCertificateSearch.Enabled.Visible (begin)
    <div id="r_Enabled" class="row" @Html.Raw(mtMedicalCertificateSearch.Enabled.RowAttributes)>
        <label class="@(mtMedicalCertificateSearch.LeftColumnClass)"><span id="elh_MTMedicalCertificate_Enabled">@Html.Raw(mtMedicalCertificateSearch.Enabled.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("="))
<input type="hidden" name="z_Enabled" id="z_Enabled" value="=">
</span>
        </label>
        <div class="@(mtMedicalCertificateSearch.RightColumnClass)">
            <div @Html.Raw(mtMedicalCertificateSearch.Enabled.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_MTMedicalCertificate_Enabled" class="ew-search-field ew-search-field-single">
<div class="form-check d-inline-block">
    <input type="checkbox" class="form-check-input@(mtMedicalCertificateSearch.Enabled.IsInvalidClass)" data-table="MTMedicalCertificate" data-field="x_Enabled" data-boolean name="x_Enabled" id="x_Enabled" value="1" checked="@ConvertToBool(mtMedicalCertificateSearch.Enabled.AdvancedSearch.SearchValue)" @Html.Raw(mtMedicalCertificateSearch.Enabled.EditAttributes)>
    <div class="invalid-feedback">@Html.Raw(mtMedicalCertificateSearch.Enabled.GetErrorMessage(false))</div>
</div>
</span>
                </div>
            </div>
        </div>
    </div>
} @* mtMedicalCertificateSearch.Enabled.Visible (end) *@
@if (mtMedicalCertificateSearch.CreatedByUserID.Visible) { // mtMedicalCertificateSearch.CreatedByUserID.Visible (begin)
    <div id="r_CreatedByUserID" class="row" @Html.Raw(mtMedicalCertificateSearch.CreatedByUserID.RowAttributes)>
        <label for="x_CreatedByUserID" class="@(mtMedicalCertificateSearch.LeftColumnClass)"><span id="elh_MTMedicalCertificate_CreatedByUserID">@Html.Raw(mtMedicalCertificateSearch.CreatedByUserID.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("="))
<input type="hidden" name="z_CreatedByUserID" id="z_CreatedByUserID" value="=">
</span>
        </label>
        <div class="@(mtMedicalCertificateSearch.RightColumnClass)">
            <div @Html.Raw(mtMedicalCertificateSearch.CreatedByUserID.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_MTMedicalCertificate_CreatedByUserID" class="ew-search-field ew-search-field-single">
    <select
        id="x_CreatedByUserID"
        name="x_CreatedByUserID"
        class="form-select ew-select@(mtMedicalCertificateSearch.CreatedByUserID.IsInvalidClass)"
        data-select2-id="fMTMedicalCertificatesearch_x_CreatedByUserID"
        data-table="MTMedicalCertificate"
        data-field="x_CreatedByUserID"
        data-value-separator="@(mtMedicalCertificateSearch.CreatedByUserID.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(mtMedicalCertificateSearch.CreatedByUserID.PlaceHolder))"
        @Html.Raw(mtMedicalCertificateSearch.CreatedByUserID.EditAttributes)>
        @(mtMedicalCertificateSearch.CreatedByUserID.SelectOptionListHtml("x_CreatedByUserID"))
    </select>
    <div class="invalid-feedback">@Html.Raw(mtMedicalCertificateSearch.CreatedByUserID.GetErrorMessage(false))</div>
@Html.Raw(mtMedicalCertificateSearch.CreatedByUserID.Lookup.GetParamTag(mtMedicalCertificateSearch, "p_x_CreatedByUserID"))
<script>
loadjs.ready("fMTMedicalCertificatesearch", function() {
    var options = { name: "x_CreatedByUserID", selectId: "fMTMedicalCertificatesearch_x_CreatedByUserID" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fMTMedicalCertificatesearch.lists.CreatedByUserID?.lookupOptions.length) {
        options.data = { id: "x_CreatedByUserID", form: "fMTMedicalCertificatesearch" };
    } else {
        options.ajax = { id: "x_CreatedByUserID", form: "fMTMedicalCertificatesearch", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumInputLength = ew.selectMinimumInputLength;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.MTMedicalCertificate.fields.CreatedByUserID.selectOptions);
    ew.createSelect(options);
});
</script>
</span>
                </div>
            </div>
        </div>
    </div>
} @* mtMedicalCertificateSearch.CreatedByUserID.Visible (end) *@
@if (mtMedicalCertificateSearch.CreatedDateTime.Visible) { // mtMedicalCertificateSearch.CreatedDateTime.Visible (begin)
    <div id="r_CreatedDateTime" class="row" @Html.Raw(mtMedicalCertificateSearch.CreatedDateTime.RowAttributes)>
        <label for="x_CreatedDateTime" class="@(mtMedicalCertificateSearch.LeftColumnClass)"><span id="elh_MTMedicalCertificate_CreatedDateTime">@Html.Raw(mtMedicalCertificateSearch.CreatedDateTime.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("="))
<input type="hidden" name="z_CreatedDateTime" id="z_CreatedDateTime" value="=">
</span>
        </label>
        <div class="@(mtMedicalCertificateSearch.RightColumnClass)">
            <div @Html.Raw(mtMedicalCertificateSearch.CreatedDateTime.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_MTMedicalCertificate_CreatedDateTime" class="ew-search-field ew-search-field-single">
<input type="@(mtMedicalCertificateSearch.CreatedDateTime.InputTextType)" name="x_CreatedDateTime" id="x_CreatedDateTime" data-table="MTMedicalCertificate" data-field="x_CreatedDateTime" value="@Html.Raw(mtMedicalCertificateSearch.CreatedDateTime.EditValue)" placeholder="@Html.Raw(HtmlEncode(mtMedicalCertificateSearch.CreatedDateTime.PlaceHolder))" data-format-pattern="@(mtMedicalCertificateSearch.CreatedDateTime.FormatPattern)"@Html.Raw(mtMedicalCertificateSearch.CreatedDateTime.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(mtMedicalCertificateSearch.CreatedDateTime.GetErrorMessage(false))</div>
@if (!mtMedicalCertificateSearch.CreatedDateTime.ReadOnly && !mtMedicalCertificateSearch.CreatedDateTime.Disabled && !mtMedicalCertificateSearch.CreatedDateTime.EditAttrs.Is("readonly") && !mtMedicalCertificateSearch.CreatedDateTime.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fMTMedicalCertificatesearch", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(1))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fMTMedicalCertificatesearch", "x_CreatedDateTime", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
                </div>
            </div>
        </div>
    </div>
} @* mtMedicalCertificateSearch.CreatedDateTime.Visible (end) *@
@if (mtMedicalCertificateSearch.LastUpdatedByUserID.Visible) { // mtMedicalCertificateSearch.LastUpdatedByUserID.Visible (begin)
    <div id="r_LastUpdatedByUserID" class="row" @Html.Raw(mtMedicalCertificateSearch.LastUpdatedByUserID.RowAttributes)>
        <label for="x_LastUpdatedByUserID" class="@(mtMedicalCertificateSearch.LeftColumnClass)"><span id="elh_MTMedicalCertificate_LastUpdatedByUserID">@Html.Raw(mtMedicalCertificateSearch.LastUpdatedByUserID.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("="))
<input type="hidden" name="z_LastUpdatedByUserID" id="z_LastUpdatedByUserID" value="=">
</span>
        </label>
        <div class="@(mtMedicalCertificateSearch.RightColumnClass)">
            <div @Html.Raw(mtMedicalCertificateSearch.LastUpdatedByUserID.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_MTMedicalCertificate_LastUpdatedByUserID" class="ew-search-field ew-search-field-single">
    <select
        id="x_LastUpdatedByUserID"
        name="x_LastUpdatedByUserID"
        class="form-select ew-select@(mtMedicalCertificateSearch.LastUpdatedByUserID.IsInvalidClass)"
        data-select2-id="fMTMedicalCertificatesearch_x_LastUpdatedByUserID"
        data-table="MTMedicalCertificate"
        data-field="x_LastUpdatedByUserID"
        data-value-separator="@(mtMedicalCertificateSearch.LastUpdatedByUserID.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(mtMedicalCertificateSearch.LastUpdatedByUserID.PlaceHolder))"
        @Html.Raw(mtMedicalCertificateSearch.LastUpdatedByUserID.EditAttributes)>
        @(mtMedicalCertificateSearch.LastUpdatedByUserID.SelectOptionListHtml("x_LastUpdatedByUserID"))
    </select>
    <div class="invalid-feedback">@Html.Raw(mtMedicalCertificateSearch.LastUpdatedByUserID.GetErrorMessage(false))</div>
@Html.Raw(mtMedicalCertificateSearch.LastUpdatedByUserID.Lookup.GetParamTag(mtMedicalCertificateSearch, "p_x_LastUpdatedByUserID"))
<script>
loadjs.ready("fMTMedicalCertificatesearch", function() {
    var options = { name: "x_LastUpdatedByUserID", selectId: "fMTMedicalCertificatesearch_x_LastUpdatedByUserID" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fMTMedicalCertificatesearch.lists.LastUpdatedByUserID?.lookupOptions.length) {
        options.data = { id: "x_LastUpdatedByUserID", form: "fMTMedicalCertificatesearch" };
    } else {
        options.ajax = { id: "x_LastUpdatedByUserID", form: "fMTMedicalCertificatesearch", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumInputLength = ew.selectMinimumInputLength;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.MTMedicalCertificate.fields.LastUpdatedByUserID.selectOptions);
    ew.createSelect(options);
});
</script>
</span>
                </div>
            </div>
        </div>
    </div>
} @* mtMedicalCertificateSearch.LastUpdatedByUserID.Visible (end) *@
@if (mtMedicalCertificateSearch.LastUpdatedDateTime.Visible) { // mtMedicalCertificateSearch.LastUpdatedDateTime.Visible (begin)
    <div id="r_LastUpdatedDateTime" class="row" @Html.Raw(mtMedicalCertificateSearch.LastUpdatedDateTime.RowAttributes)>
        <label for="x_LastUpdatedDateTime" class="@(mtMedicalCertificateSearch.LeftColumnClass)"><span id="elh_MTMedicalCertificate_LastUpdatedDateTime">@Html.Raw(mtMedicalCertificateSearch.LastUpdatedDateTime.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("="))
<input type="hidden" name="z_LastUpdatedDateTime" id="z_LastUpdatedDateTime" value="=">
</span>
        </label>
        <div class="@(mtMedicalCertificateSearch.RightColumnClass)">
            <div @Html.Raw(mtMedicalCertificateSearch.LastUpdatedDateTime.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_MTMedicalCertificate_LastUpdatedDateTime" class="ew-search-field ew-search-field-single">
<input type="@(mtMedicalCertificateSearch.LastUpdatedDateTime.InputTextType)" name="x_LastUpdatedDateTime" id="x_LastUpdatedDateTime" data-table="MTMedicalCertificate" data-field="x_LastUpdatedDateTime" value="@Html.Raw(mtMedicalCertificateSearch.LastUpdatedDateTime.EditValue)" placeholder="@Html.Raw(HtmlEncode(mtMedicalCertificateSearch.LastUpdatedDateTime.PlaceHolder))" data-format-pattern="@(mtMedicalCertificateSearch.LastUpdatedDateTime.FormatPattern)"@Html.Raw(mtMedicalCertificateSearch.LastUpdatedDateTime.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(mtMedicalCertificateSearch.LastUpdatedDateTime.GetErrorMessage(false))</div>
@if (!mtMedicalCertificateSearch.LastUpdatedDateTime.ReadOnly && !mtMedicalCertificateSearch.LastUpdatedDateTime.Disabled && !mtMedicalCertificateSearch.LastUpdatedDateTime.EditAttrs.Is("readonly") && !mtMedicalCertificateSearch.LastUpdatedDateTime.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fMTMedicalCertificatesearch", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(1))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fMTMedicalCertificatesearch", "x_LastUpdatedDateTime", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
                </div>
            </div>
        </div>
    </div>
} @* mtMedicalCertificateSearch.LastUpdatedDateTime.Visible (end) *@
</div><!-- /page* -->
@Html.Raw(mtMedicalCertificateSearch.IsModal ? Html.Raw("<template class=\"ew-modal-buttons\">") : Html.Raw("<div class=\"row ew-buttons\">"))<!-- buttons .row -->
    <div class="@(mtMedicalCertificateSearch.OffsetColumnClass)"><!-- buttons offset -->
        <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fMTMedicalCertificatesearch">@Html.Raw(Language.Phrase("Search"))</button>
@if (mtMedicalCertificateSearch.IsModal) {
        <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fMTMedicalCertificatesearch">@Html.Raw(Language.Phrase("Cancel"))</button>
} else {
        <button class="btn btn-default ew-btn" name="btn-reset" id="btn-reset" type="button" form="fMTMedicalCertificatesearch" data-ew-action="reload">@Html.Raw(Language.Phrase("Reset"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(mtMedicalCertificateSearch.IsModal ? Html.Raw("</template>") : Html.Raw("</div>"))<!-- /buttons .row -->
</form>
@mtMedicalCertificateSearch.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("MTMedicalCertificate");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
