@{
    // View
    View = this;

    // Check action result
    if (mtRankSearch.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!mtRankSearch.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(mtRankSearch.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MTRank: currentTable } });
var currentPageID = ew.PAGE_ID = "search";
var currentForm;
var fMTRanksearch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fMTRanksearch")
        .setPageId("search")
@if (mtRankSearch.IsModal && mtRankSearch.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Add fields
        .setFields([

            ["_Name", [], fields._Name.isInvalid],
            ["CreatedByUserID", [], fields.CreatedByUserID.isInvalid],
            ["CreatedDateTime", [ew.Validators.datetime(fields.CreatedDateTime.clientFormatPattern)], fields.CreatedDateTime.isInvalid],
            ["LastUpdatedByUserID", [], fields.LastUpdatedByUserID.isInvalid],
            ["LastUpdatedDateTime", [ew.Validators.datetime(fields.LastUpdatedDateTime.clientFormatPattern)], fields.LastUpdatedDateTime.isInvalid]
        ])
        // Validate form
        .setValidate(
            async function () {
                if (!this.validateRequired)
                    return true; // Ignore validation
                let fobj = this.getForm();

                // Validate fields
                if (!this.validateFields())
                    return false;

                // Call Form_CustomValidate event
                if (!(await this.customValidate?.(fobj) ?? true)) {
                    this.focus();
                    return false;
                }
                return true;
            }
        )

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "CreatedByUserID": @Html.Raw(mtRankSearch.CreatedByUserID.ToClientList(mtRankSearch)),
            "LastUpdatedByUserID": @Html.Raw(mtRankSearch.LastUpdatedByUserID.ToClientList(mtRankSearch)),
        })
        .build();
    window[form.id] = form;
@if (mtRankSearch.IsModal) {
    <text>currentAdvancedSearchForm = form;</text>
} else {
    <text>currentForm = form;</text>
}
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@mtRankSearch.ShowPageHeader()
@mtRankSearch.ShowMessages()
<form name="fMTRanksearch" id="fMTRanksearch" class="@(mtRankSearch.FormClassName)" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="search">
@if (mtRankSearch.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div class="ew-search-div"><!-- page* -->
@if (mtRankSearch._Name.Visible) { // mtRankSearch._Name.Visible (begin)
    <div id="r__Name" class="row" @Html.Raw(mtRankSearch._Name.RowAttributes)>
        <label for="x__Name" class="@(mtRankSearch.LeftColumnClass)"><span id="elh_MTRank__Name">@Html.Raw(mtRankSearch._Name.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("LIKE"))
<input type="hidden" name="z__Name" id="z__Name" value="LIKE">
</span>
        </label>
        <div class="@(mtRankSearch.RightColumnClass)">
            <div @Html.Raw(mtRankSearch._Name.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_MTRank__Name" class="ew-search-field ew-search-field-single">
<input type="@(mtRankSearch._Name.InputTextType)" name="x__Name" id="x__Name" data-table="MTRank" data-field="x__Name" value="@Html.Raw(mtRankSearch._Name.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(mtRankSearch._Name.PlaceHolder))" data-format-pattern="@(mtRankSearch._Name.FormatPattern)"@Html.Raw(mtRankSearch._Name.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(mtRankSearch._Name.GetErrorMessage(false))</div>
</span>
                </div>
            </div>
        </div>
    </div>
} @* mtRankSearch._Name.Visible (end) *@
@if (mtRankSearch.CreatedByUserID.Visible) { // mtRankSearch.CreatedByUserID.Visible (begin)
    <div id="r_CreatedByUserID" class="row" @Html.Raw(mtRankSearch.CreatedByUserID.RowAttributes)>
        <label for="x_CreatedByUserID" class="@(mtRankSearch.LeftColumnClass)"><span id="elh_MTRank_CreatedByUserID">@Html.Raw(mtRankSearch.CreatedByUserID.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("="))
<input type="hidden" name="z_CreatedByUserID" id="z_CreatedByUserID" value="=">
</span>
        </label>
        <div class="@(mtRankSearch.RightColumnClass)">
            <div @Html.Raw(mtRankSearch.CreatedByUserID.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_MTRank_CreatedByUserID" class="ew-search-field ew-search-field-single">
    <select
        id="x_CreatedByUserID"
        name="x_CreatedByUserID"
        class="form-select ew-select@(mtRankSearch.CreatedByUserID.IsInvalidClass)"
        data-select2-id="fMTRanksearch_x_CreatedByUserID"
        data-table="MTRank"
        data-field="x_CreatedByUserID"
        data-value-separator="@(mtRankSearch.CreatedByUserID.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(mtRankSearch.CreatedByUserID.PlaceHolder))"
        @Html.Raw(mtRankSearch.CreatedByUserID.EditAttributes)>
        @(mtRankSearch.CreatedByUserID.SelectOptionListHtml("x_CreatedByUserID"))
    </select>
    <div class="invalid-feedback">@Html.Raw(mtRankSearch.CreatedByUserID.GetErrorMessage(false))</div>
@Html.Raw(mtRankSearch.CreatedByUserID.Lookup.GetParamTag(mtRankSearch, "p_x_CreatedByUserID"))
<script>
loadjs.ready("fMTRanksearch", function() {
    var options = { name: "x_CreatedByUserID", selectId: "fMTRanksearch_x_CreatedByUserID" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fMTRanksearch.lists.CreatedByUserID?.lookupOptions.length) {
        options.data = { id: "x_CreatedByUserID", form: "fMTRanksearch" };
    } else {
        options.ajax = { id: "x_CreatedByUserID", form: "fMTRanksearch", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumInputLength = ew.selectMinimumInputLength;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.MTRank.fields.CreatedByUserID.selectOptions);
    ew.createSelect(options);
});
</script>
</span>
                </div>
            </div>
        </div>
    </div>
} @* mtRankSearch.CreatedByUserID.Visible (end) *@
@if (mtRankSearch.CreatedDateTime.Visible) { // mtRankSearch.CreatedDateTime.Visible (begin)
    <div id="r_CreatedDateTime" class="row" @Html.Raw(mtRankSearch.CreatedDateTime.RowAttributes)>
        <label for="x_CreatedDateTime" class="@(mtRankSearch.LeftColumnClass)"><span id="elh_MTRank_CreatedDateTime">@Html.Raw(mtRankSearch.CreatedDateTime.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("="))
<input type="hidden" name="z_CreatedDateTime" id="z_CreatedDateTime" value="=">
</span>
        </label>
        <div class="@(mtRankSearch.RightColumnClass)">
            <div @Html.Raw(mtRankSearch.CreatedDateTime.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_MTRank_CreatedDateTime" class="ew-search-field ew-search-field-single">
<input type="@(mtRankSearch.CreatedDateTime.InputTextType)" name="x_CreatedDateTime" id="x_CreatedDateTime" data-table="MTRank" data-field="x_CreatedDateTime" value="@Html.Raw(mtRankSearch.CreatedDateTime.EditValue)" placeholder="@Html.Raw(HtmlEncode(mtRankSearch.CreatedDateTime.PlaceHolder))" data-format-pattern="@(mtRankSearch.CreatedDateTime.FormatPattern)"@Html.Raw(mtRankSearch.CreatedDateTime.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(mtRankSearch.CreatedDateTime.GetErrorMessage(false))</div>
@if (!mtRankSearch.CreatedDateTime.ReadOnly && !mtRankSearch.CreatedDateTime.Disabled && !mtRankSearch.CreatedDateTime.EditAttrs.Is("readonly") && !mtRankSearch.CreatedDateTime.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fMTRanksearch", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(1))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fMTRanksearch", "x_CreatedDateTime", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
                </div>
            </div>
        </div>
    </div>
} @* mtRankSearch.CreatedDateTime.Visible (end) *@
@if (mtRankSearch.LastUpdatedByUserID.Visible) { // mtRankSearch.LastUpdatedByUserID.Visible (begin)
    <div id="r_LastUpdatedByUserID" class="row" @Html.Raw(mtRankSearch.LastUpdatedByUserID.RowAttributes)>
        <label for="x_LastUpdatedByUserID" class="@(mtRankSearch.LeftColumnClass)"><span id="elh_MTRank_LastUpdatedByUserID">@Html.Raw(mtRankSearch.LastUpdatedByUserID.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("="))
<input type="hidden" name="z_LastUpdatedByUserID" id="z_LastUpdatedByUserID" value="=">
</span>
        </label>
        <div class="@(mtRankSearch.RightColumnClass)">
            <div @Html.Raw(mtRankSearch.LastUpdatedByUserID.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_MTRank_LastUpdatedByUserID" class="ew-search-field ew-search-field-single">
    <select
        id="x_LastUpdatedByUserID"
        name="x_LastUpdatedByUserID"
        class="form-select ew-select@(mtRankSearch.LastUpdatedByUserID.IsInvalidClass)"
        data-select2-id="fMTRanksearch_x_LastUpdatedByUserID"
        data-table="MTRank"
        data-field="x_LastUpdatedByUserID"
        data-value-separator="@(mtRankSearch.LastUpdatedByUserID.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(mtRankSearch.LastUpdatedByUserID.PlaceHolder))"
        @Html.Raw(mtRankSearch.LastUpdatedByUserID.EditAttributes)>
        @(mtRankSearch.LastUpdatedByUserID.SelectOptionListHtml("x_LastUpdatedByUserID"))
    </select>
    <div class="invalid-feedback">@Html.Raw(mtRankSearch.LastUpdatedByUserID.GetErrorMessage(false))</div>
@Html.Raw(mtRankSearch.LastUpdatedByUserID.Lookup.GetParamTag(mtRankSearch, "p_x_LastUpdatedByUserID"))
<script>
loadjs.ready("fMTRanksearch", function() {
    var options = { name: "x_LastUpdatedByUserID", selectId: "fMTRanksearch_x_LastUpdatedByUserID" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fMTRanksearch.lists.LastUpdatedByUserID?.lookupOptions.length) {
        options.data = { id: "x_LastUpdatedByUserID", form: "fMTRanksearch" };
    } else {
        options.ajax = { id: "x_LastUpdatedByUserID", form: "fMTRanksearch", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumInputLength = ew.selectMinimumInputLength;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.MTRank.fields.LastUpdatedByUserID.selectOptions);
    ew.createSelect(options);
});
</script>
</span>
                </div>
            </div>
        </div>
    </div>
} @* mtRankSearch.LastUpdatedByUserID.Visible (end) *@
@if (mtRankSearch.LastUpdatedDateTime.Visible) { // mtRankSearch.LastUpdatedDateTime.Visible (begin)
    <div id="r_LastUpdatedDateTime" class="row" @Html.Raw(mtRankSearch.LastUpdatedDateTime.RowAttributes)>
        <label for="x_LastUpdatedDateTime" class="@(mtRankSearch.LeftColumnClass)"><span id="elh_MTRank_LastUpdatedDateTime">@Html.Raw(mtRankSearch.LastUpdatedDateTime.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("="))
<input type="hidden" name="z_LastUpdatedDateTime" id="z_LastUpdatedDateTime" value="=">
</span>
        </label>
        <div class="@(mtRankSearch.RightColumnClass)">
            <div @Html.Raw(mtRankSearch.LastUpdatedDateTime.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_MTRank_LastUpdatedDateTime" class="ew-search-field ew-search-field-single">
<input type="@(mtRankSearch.LastUpdatedDateTime.InputTextType)" name="x_LastUpdatedDateTime" id="x_LastUpdatedDateTime" data-table="MTRank" data-field="x_LastUpdatedDateTime" value="@Html.Raw(mtRankSearch.LastUpdatedDateTime.EditValue)" placeholder="@Html.Raw(HtmlEncode(mtRankSearch.LastUpdatedDateTime.PlaceHolder))" data-format-pattern="@(mtRankSearch.LastUpdatedDateTime.FormatPattern)"@Html.Raw(mtRankSearch.LastUpdatedDateTime.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(mtRankSearch.LastUpdatedDateTime.GetErrorMessage(false))</div>
@if (!mtRankSearch.LastUpdatedDateTime.ReadOnly && !mtRankSearch.LastUpdatedDateTime.Disabled && !mtRankSearch.LastUpdatedDateTime.EditAttrs.Is("readonly") && !mtRankSearch.LastUpdatedDateTime.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fMTRanksearch", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(1))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fMTRanksearch", "x_LastUpdatedDateTime", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
                </div>
            </div>
        </div>
    </div>
} @* mtRankSearch.LastUpdatedDateTime.Visible (end) *@
</div><!-- /page* -->
@Html.Raw(mtRankSearch.IsModal ? Html.Raw("<template class=\"ew-modal-buttons\">") : Html.Raw("<div class=\"row ew-buttons\">"))<!-- buttons .row -->
    <div class="@(mtRankSearch.OffsetColumnClass)"><!-- buttons offset -->
        <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fMTRanksearch">@Html.Raw(Language.Phrase("Search"))</button>
@if (mtRankSearch.IsModal) {
        <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fMTRanksearch">@Html.Raw(Language.Phrase("Cancel"))</button>
} else {
        <button class="btn btn-default ew-btn" name="btn-reset" id="btn-reset" type="button" form="fMTRanksearch" data-ew-action="reload">@Html.Raw(Language.Phrase("Reset"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(mtRankSearch.IsModal ? Html.Raw("</template>") : Html.Raw("</div>"))<!-- /buttons .row -->
</form>
@mtRankSearch.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("MTRank");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
