@{
    // View
    View = this;

    // Check action result
    if (mtRankView.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!mtRankView.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
@if (!mtRankView.IsExport()) {
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!mtRankView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @mtRankView.ExportOptions.RenderBody()
    @mtRankView.OtherOptions.RenderBody()
</div>
}
@mtRankView.ShowPageHeader()
@mtRankView.ShowMessages()
<main class="view">
<form name="fMTRankview" id="fMTRankview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (!mtRankView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(mtRankView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MTRank: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fMTRankview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMTRankview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
}
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(mtRankView.IsModal)">
<table class="@(mtRankView.TableClass)">
@if (mtRankView._Name.Visible) { // mtRankView._Name.Visible (begin)
    <tr id="r__Name" @Html.Raw(mtRankView._Name.RowAttributes)>
        <td class="@(mtRankView.TableLeftColumnClass)"><span id="elh_MTRank__Name">@Html.Raw(mtRankView._Name.Caption)</span></td>
        <td data-name="_Name" @Html.Raw(mtRankView._Name.CellAttributes)>
<span id="el_MTRank__Name">
<span @Html.Raw(mtRankView._Name.ViewAttributes)>
@Html.Raw(mtRankView._Name.GetViewValue())</span>
</span></td>
    </tr>
} @* mtRankView._Name.Visible (end) *@
@if (mtRankView.CreatedByUserID.Visible) { // mtRankView.CreatedByUserID.Visible (begin)
    <tr id="r_CreatedByUserID" @Html.Raw(mtRankView.CreatedByUserID.RowAttributes)>
        <td class="@(mtRankView.TableLeftColumnClass)"><span id="elh_MTRank_CreatedByUserID">@Html.Raw(mtRankView.CreatedByUserID.Caption)</span></td>
        <td data-name="CreatedByUserID" @Html.Raw(mtRankView.CreatedByUserID.CellAttributes)>
<span id="el_MTRank_CreatedByUserID">
<span @Html.Raw(mtRankView.CreatedByUserID.ViewAttributes)>
@Html.Raw(mtRankView.CreatedByUserID.GetViewValue())</span>
</span></td>
    </tr>
} @* mtRankView.CreatedByUserID.Visible (end) *@
@if (mtRankView.CreatedDateTime.Visible) { // mtRankView.CreatedDateTime.Visible (begin)
    <tr id="r_CreatedDateTime" @Html.Raw(mtRankView.CreatedDateTime.RowAttributes)>
        <td class="@(mtRankView.TableLeftColumnClass)"><span id="elh_MTRank_CreatedDateTime">@Html.Raw(mtRankView.CreatedDateTime.Caption)</span></td>
        <td data-name="CreatedDateTime" @Html.Raw(mtRankView.CreatedDateTime.CellAttributes)>
<span id="el_MTRank_CreatedDateTime">
<span @Html.Raw(mtRankView.CreatedDateTime.ViewAttributes)>
@Html.Raw(mtRankView.CreatedDateTime.GetViewValue())</span>
</span></td>
    </tr>
} @* mtRankView.CreatedDateTime.Visible (end) *@
@if (mtRankView.LastUpdatedByUserID.Visible) { // mtRankView.LastUpdatedByUserID.Visible (begin)
    <tr id="r_LastUpdatedByUserID" @Html.Raw(mtRankView.LastUpdatedByUserID.RowAttributes)>
        <td class="@(mtRankView.TableLeftColumnClass)"><span id="elh_MTRank_LastUpdatedByUserID">@Html.Raw(mtRankView.LastUpdatedByUserID.Caption)</span></td>
        <td data-name="LastUpdatedByUserID" @Html.Raw(mtRankView.LastUpdatedByUserID.CellAttributes)>
<span id="el_MTRank_LastUpdatedByUserID">
<span @Html.Raw(mtRankView.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(mtRankView.LastUpdatedByUserID.GetViewValue())</span>
</span></td>
    </tr>
} @* mtRankView.LastUpdatedByUserID.Visible (end) *@
@if (mtRankView.LastUpdatedDateTime.Visible) { // mtRankView.LastUpdatedDateTime.Visible (begin)
    <tr id="r_LastUpdatedDateTime" @Html.Raw(mtRankView.LastUpdatedDateTime.RowAttributes)>
        <td class="@(mtRankView.TableLeftColumnClass)"><span id="elh_MTRank_LastUpdatedDateTime">@Html.Raw(mtRankView.LastUpdatedDateTime.Caption)</span></td>
        <td data-name="LastUpdatedDateTime" @Html.Raw(mtRankView.LastUpdatedDateTime.CellAttributes)>
<span id="el_MTRank_LastUpdatedDateTime">
<span @Html.Raw(mtRankView.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(mtRankView.LastUpdatedDateTime.GetViewValue())</span>
</span></td>
    </tr>
} @* mtRankView.LastUpdatedDateTime.Visible (end) *@
</table>
@{ mtRankView.CloseRecordset(); }
</form>
</main>
@mtRankView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!mtRankView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
