@{
    // View
    View = this;

    // Check action result
    if (mtReligionEdit.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!mtReligionEdit.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@mtReligionEdit.ShowPageHeader()
@mtReligionEdit.ShowMessages()
<main class="edit">
<form name="fMTReligionedit" id="fMTReligionedit" class="@(mtReligionEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
<script>
var currentTable = @Html.Raw(ConvertToJson(mtReligionEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MTReligion: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fMTReligionedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMTReligionedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["_Name", [fields._Name.visible && fields._Name.required ? ew.Validators.required(fields._Name.caption) : null], fields._Name.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(mtReligionEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(mtReligionEdit.OldKeyName)" value="@Html.Raw(mtReligionEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (mtReligionEdit._Name.Visible) { // mtReligionEdit._Name.Visible (begin)
    <div id="r__Name" @Html.Raw(mtReligionEdit._Name.RowAttributes)>
        <label id="elh_MTReligion__Name" for="x__Name" class="@(mtReligionEdit.LeftColumnClass)">@Html.Raw(mtReligionEdit._Name.Caption)@Html.Raw(mtReligionEdit._Name.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtReligionEdit.RightColumnClass)"><div @Html.Raw(mtReligionEdit._Name.CellAttributes)>
<span id="el_MTReligion__Name">
<input type="@(mtReligionEdit._Name.InputTextType)" name="x__Name" id="x__Name" data-table="MTReligion" data-field="x__Name" value="@Html.Raw(mtReligionEdit._Name.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(mtReligionEdit._Name.PlaceHolder))" data-format-pattern="@(mtReligionEdit._Name.FormatPattern)"@Html.Raw(mtReligionEdit._Name.EditAttributes) aria-describedby="x__Name_help">
@Html.Raw(mtReligionEdit._Name.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mtReligionEdit._Name.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* mtReligionEdit._Name.Visible (end) *@
</div><!-- /page* -->
    <input type="hidden" data-table="MTReligion" data-field="x_ID" data-hidden="1" name="x_ID" id="x_ID" value="@Html.Raw(HtmlEncode(mtReligionEdit.ID.CurrentValue))">
@{ mtReligionEdit.CloseRecordset(); }
@Html.Raw(mtReligionEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(mtReligionEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fMTReligionedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fMTReligionedit" data-href="@AppPath(mtReligionEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(mtReligionEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@mtReligionEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("MTReligion");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
