@{
    // View
    View = this;

    // Check action result
    if (mtRecruitmentStatusAdd.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!mtRecruitmentStatusAdd.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(mtRecruitmentStatusAdd.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MTRecruitmentStatus: currentTable } });
var currentPageID = ew.PAGE_ID = "add";
var currentForm;
var fMTRecruitmentStatusadd;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMTRecruitmentStatusadd")
        .setPageId("add")

        // Add fields
        .setFields([

            ["Code", [fields.Code.visible && fields.Code.required ? ew.Validators.required(fields.Code.caption) : null, ew.Validators.integer], fields.Code.isInvalid],
            ["Description", [fields.Description.visible && fields.Description.required ? ew.Validators.required(fields.Description.caption) : null], fields.Description.isInvalid],
            ["CreatedByUserID", [fields.CreatedByUserID.visible && fields.CreatedByUserID.required ? ew.Validators.required(fields.CreatedByUserID.caption) : null, ew.Validators.integer], fields.CreatedByUserID.isInvalid],
            ["CreatedDateTime", [fields.CreatedDateTime.visible && fields.CreatedDateTime.required ? ew.Validators.required(fields.CreatedDateTime.caption) : null, ew.Validators.datetime(fields.CreatedDateTime.clientFormatPattern)], fields.CreatedDateTime.isInvalid],
            ["LastUpdatedByUserID", [fields.LastUpdatedByUserID.visible && fields.LastUpdatedByUserID.required ? ew.Validators.required(fields.LastUpdatedByUserID.caption) : null, ew.Validators.integer], fields.LastUpdatedByUserID.isInvalid],
            ["LastUpdatedDateTime", [fields.LastUpdatedDateTime.visible && fields.LastUpdatedDateTime.required ? ew.Validators.required(fields.LastUpdatedDateTime.caption) : null, ew.Validators.datetime(fields.LastUpdatedDateTime.clientFormatPattern)], fields.LastUpdatedDateTime.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@mtRecruitmentStatusAdd.ShowPageHeader()
@mtRecruitmentStatusAdd.ShowMessages()
<form name="fMTRecruitmentStatusadd" id="fMTRecruitmentStatusadd" class="@(mtRecruitmentStatusAdd.FormClassName)" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="insert">
<input type="hidden" name="modal" value="@ConvertToInt(mtRecruitmentStatusAdd.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(mtRecruitmentStatusAdd.OldKeyName)" value="@Html.Raw(mtRecruitmentStatusAdd.OldKey)">
<div class="ew-add-div"><!-- page* -->
@if (mtRecruitmentStatusAdd.Code.Visible) { // mtRecruitmentStatusAdd.Code.Visible (begin)
    <div id="r_Code" @Html.Raw(mtRecruitmentStatusAdd.Code.RowAttributes)>
        <label id="elh_MTRecruitmentStatus_Code" for="x_Code" class="@(mtRecruitmentStatusAdd.LeftColumnClass)">@Html.Raw(mtRecruitmentStatusAdd.Code.Caption)@Html.Raw(mtRecruitmentStatusAdd.Code.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtRecruitmentStatusAdd.RightColumnClass)"><div @Html.Raw(mtRecruitmentStatusAdd.Code.CellAttributes)>
<span id="el_MTRecruitmentStatus_Code">
<input type="@(mtRecruitmentStatusAdd.Code.InputTextType)" name="x_Code" id="x_Code" data-table="MTRecruitmentStatus" data-field="x_Code" value="@Html.Raw(mtRecruitmentStatusAdd.Code.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(mtRecruitmentStatusAdd.Code.PlaceHolder))" data-format-pattern="@(mtRecruitmentStatusAdd.Code.FormatPattern)"@Html.Raw(mtRecruitmentStatusAdd.Code.EditAttributes) aria-describedby="x_Code_help">
@Html.Raw(mtRecruitmentStatusAdd.Code.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mtRecruitmentStatusAdd.Code.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* mtRecruitmentStatusAdd.Code.Visible (end) *@
@if (mtRecruitmentStatusAdd.Description.Visible) { // mtRecruitmentStatusAdd.Description.Visible (begin)
    <div id="r_Description" @Html.Raw(mtRecruitmentStatusAdd.Description.RowAttributes)>
        <label id="elh_MTRecruitmentStatus_Description" for="x_Description" class="@(mtRecruitmentStatusAdd.LeftColumnClass)">@Html.Raw(mtRecruitmentStatusAdd.Description.Caption)@Html.Raw(mtRecruitmentStatusAdd.Description.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtRecruitmentStatusAdd.RightColumnClass)"><div @Html.Raw(mtRecruitmentStatusAdd.Description.CellAttributes)>
<span id="el_MTRecruitmentStatus_Description">
<input type="@(mtRecruitmentStatusAdd.Description.InputTextType)" name="x_Description" id="x_Description" data-table="MTRecruitmentStatus" data-field="x_Description" value="@Html.Raw(mtRecruitmentStatusAdd.Description.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(mtRecruitmentStatusAdd.Description.PlaceHolder))" data-format-pattern="@(mtRecruitmentStatusAdd.Description.FormatPattern)"@Html.Raw(mtRecruitmentStatusAdd.Description.EditAttributes) aria-describedby="x_Description_help">
@Html.Raw(mtRecruitmentStatusAdd.Description.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mtRecruitmentStatusAdd.Description.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* mtRecruitmentStatusAdd.Description.Visible (end) *@
@if (mtRecruitmentStatusAdd.CreatedByUserID.Visible) { // mtRecruitmentStatusAdd.CreatedByUserID.Visible (begin)
    <div id="r_CreatedByUserID" @Html.Raw(mtRecruitmentStatusAdd.CreatedByUserID.RowAttributes)>
        <label id="elh_MTRecruitmentStatus_CreatedByUserID" for="x_CreatedByUserID" class="@(mtRecruitmentStatusAdd.LeftColumnClass)">@Html.Raw(mtRecruitmentStatusAdd.CreatedByUserID.Caption)@Html.Raw(mtRecruitmentStatusAdd.CreatedByUserID.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtRecruitmentStatusAdd.RightColumnClass)"><div @Html.Raw(mtRecruitmentStatusAdd.CreatedByUserID.CellAttributes)>
<span id="el_MTRecruitmentStatus_CreatedByUserID">
<input type="@(mtRecruitmentStatusAdd.CreatedByUserID.InputTextType)" name="x_CreatedByUserID" id="x_CreatedByUserID" data-table="MTRecruitmentStatus" data-field="x_CreatedByUserID" value="@Html.Raw(mtRecruitmentStatusAdd.CreatedByUserID.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(mtRecruitmentStatusAdd.CreatedByUserID.PlaceHolder))" data-format-pattern="@(mtRecruitmentStatusAdd.CreatedByUserID.FormatPattern)"@Html.Raw(mtRecruitmentStatusAdd.CreatedByUserID.EditAttributes) aria-describedby="x_CreatedByUserID_help">
@Html.Raw(mtRecruitmentStatusAdd.CreatedByUserID.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mtRecruitmentStatusAdd.CreatedByUserID.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* mtRecruitmentStatusAdd.CreatedByUserID.Visible (end) *@
@if (mtRecruitmentStatusAdd.CreatedDateTime.Visible) { // mtRecruitmentStatusAdd.CreatedDateTime.Visible (begin)
    <div id="r_CreatedDateTime" @Html.Raw(mtRecruitmentStatusAdd.CreatedDateTime.RowAttributes)>
        <label id="elh_MTRecruitmentStatus_CreatedDateTime" for="x_CreatedDateTime" class="@(mtRecruitmentStatusAdd.LeftColumnClass)">@Html.Raw(mtRecruitmentStatusAdd.CreatedDateTime.Caption)@Html.Raw(mtRecruitmentStatusAdd.CreatedDateTime.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtRecruitmentStatusAdd.RightColumnClass)"><div @Html.Raw(mtRecruitmentStatusAdd.CreatedDateTime.CellAttributes)>
<span id="el_MTRecruitmentStatus_CreatedDateTime">
<input type="@(mtRecruitmentStatusAdd.CreatedDateTime.InputTextType)" name="x_CreatedDateTime" id="x_CreatedDateTime" data-table="MTRecruitmentStatus" data-field="x_CreatedDateTime" value="@Html.Raw(mtRecruitmentStatusAdd.CreatedDateTime.EditValue)" placeholder="@Html.Raw(HtmlEncode(mtRecruitmentStatusAdd.CreatedDateTime.PlaceHolder))" data-format-pattern="@(mtRecruitmentStatusAdd.CreatedDateTime.FormatPattern)"@Html.Raw(mtRecruitmentStatusAdd.CreatedDateTime.EditAttributes) aria-describedby="x_CreatedDateTime_help">
@Html.Raw(mtRecruitmentStatusAdd.CreatedDateTime.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mtRecruitmentStatusAdd.CreatedDateTime.GetErrorMessage())</div>
@if (!mtRecruitmentStatusAdd.CreatedDateTime.ReadOnly && !mtRecruitmentStatusAdd.CreatedDateTime.Disabled && !mtRecruitmentStatusAdd.CreatedDateTime.EditAttrs.Is("readonly") && !mtRecruitmentStatusAdd.CreatedDateTime.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fMTRecruitmentStatusadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fMTRecruitmentStatusadd", "x_CreatedDateTime", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* mtRecruitmentStatusAdd.CreatedDateTime.Visible (end) *@
@if (mtRecruitmentStatusAdd.LastUpdatedByUserID.Visible) { // mtRecruitmentStatusAdd.LastUpdatedByUserID.Visible (begin)
    <div id="r_LastUpdatedByUserID" @Html.Raw(mtRecruitmentStatusAdd.LastUpdatedByUserID.RowAttributes)>
        <label id="elh_MTRecruitmentStatus_LastUpdatedByUserID" for="x_LastUpdatedByUserID" class="@(mtRecruitmentStatusAdd.LeftColumnClass)">@Html.Raw(mtRecruitmentStatusAdd.LastUpdatedByUserID.Caption)@Html.Raw(mtRecruitmentStatusAdd.LastUpdatedByUserID.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtRecruitmentStatusAdd.RightColumnClass)"><div @Html.Raw(mtRecruitmentStatusAdd.LastUpdatedByUserID.CellAttributes)>
<span id="el_MTRecruitmentStatus_LastUpdatedByUserID">
<input type="@(mtRecruitmentStatusAdd.LastUpdatedByUserID.InputTextType)" name="x_LastUpdatedByUserID" id="x_LastUpdatedByUserID" data-table="MTRecruitmentStatus" data-field="x_LastUpdatedByUserID" value="@Html.Raw(mtRecruitmentStatusAdd.LastUpdatedByUserID.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(mtRecruitmentStatusAdd.LastUpdatedByUserID.PlaceHolder))" data-format-pattern="@(mtRecruitmentStatusAdd.LastUpdatedByUserID.FormatPattern)"@Html.Raw(mtRecruitmentStatusAdd.LastUpdatedByUserID.EditAttributes) aria-describedby="x_LastUpdatedByUserID_help">
@Html.Raw(mtRecruitmentStatusAdd.LastUpdatedByUserID.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mtRecruitmentStatusAdd.LastUpdatedByUserID.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* mtRecruitmentStatusAdd.LastUpdatedByUserID.Visible (end) *@
@if (mtRecruitmentStatusAdd.LastUpdatedDateTime.Visible) { // mtRecruitmentStatusAdd.LastUpdatedDateTime.Visible (begin)
    <div id="r_LastUpdatedDateTime" @Html.Raw(mtRecruitmentStatusAdd.LastUpdatedDateTime.RowAttributes)>
        <label id="elh_MTRecruitmentStatus_LastUpdatedDateTime" for="x_LastUpdatedDateTime" class="@(mtRecruitmentStatusAdd.LeftColumnClass)">@Html.Raw(mtRecruitmentStatusAdd.LastUpdatedDateTime.Caption)@Html.Raw(mtRecruitmentStatusAdd.LastUpdatedDateTime.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtRecruitmentStatusAdd.RightColumnClass)"><div @Html.Raw(mtRecruitmentStatusAdd.LastUpdatedDateTime.CellAttributes)>
<span id="el_MTRecruitmentStatus_LastUpdatedDateTime">
<input type="@(mtRecruitmentStatusAdd.LastUpdatedDateTime.InputTextType)" name="x_LastUpdatedDateTime" id="x_LastUpdatedDateTime" data-table="MTRecruitmentStatus" data-field="x_LastUpdatedDateTime" value="@Html.Raw(mtRecruitmentStatusAdd.LastUpdatedDateTime.EditValue)" placeholder="@Html.Raw(HtmlEncode(mtRecruitmentStatusAdd.LastUpdatedDateTime.PlaceHolder))" data-format-pattern="@(mtRecruitmentStatusAdd.LastUpdatedDateTime.FormatPattern)"@Html.Raw(mtRecruitmentStatusAdd.LastUpdatedDateTime.EditAttributes) aria-describedby="x_LastUpdatedDateTime_help">
@Html.Raw(mtRecruitmentStatusAdd.LastUpdatedDateTime.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mtRecruitmentStatusAdd.LastUpdatedDateTime.GetErrorMessage())</div>
@if (!mtRecruitmentStatusAdd.LastUpdatedDateTime.ReadOnly && !mtRecruitmentStatusAdd.LastUpdatedDateTime.Disabled && !mtRecruitmentStatusAdd.LastUpdatedDateTime.EditAttrs.Is("readonly") && !mtRecruitmentStatusAdd.LastUpdatedDateTime.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fMTRecruitmentStatusadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fMTRecruitmentStatusadd", "x_LastUpdatedDateTime", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* mtRecruitmentStatusAdd.LastUpdatedDateTime.Visible (end) *@
</div><!-- /page* -->
@{ mtRecruitmentStatusAdd.CloseRecordset(); }
@Html.Raw(mtRecruitmentStatusAdd.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(mtRecruitmentStatusAdd.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fMTRecruitmentStatusadd">@Html.Raw(Language.Phrase("AddBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fMTRecruitmentStatusadd" data-href="@AppPath(mtRecruitmentStatusAdd.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(mtRecruitmentStatusAdd.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
@mtRecruitmentStatusAdd.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("MTRecruitmentStatus");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
