@{
    // View
    View = this;

    // Check action result
    if (mtRecruitmentStatusTrackingDelete.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!mtRecruitmentStatusTrackingDelete.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(mtRecruitmentStatusTrackingDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MTRecruitmentStatusTracking: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fMTRecruitmentStatusTrackingdelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMTRecruitmentStatusTrackingdelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@mtRecruitmentStatusTrackingDelete.ShowPageHeader()
@mtRecruitmentStatusTrackingDelete.ShowMessages()
<form name="fMTRecruitmentStatusTrackingdelete" id="fMTRecruitmentStatusTrackingdelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in mtRecruitmentStatusTrackingDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(mtRecruitmentStatusTrackingDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(mtRecruitmentStatusTrackingDelete.TableContainerClass)" style="@(mtRecruitmentStatusTrackingDelete.TableContainerStyle)">
<table class="@(mtRecruitmentStatusTrackingDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (mtRecruitmentStatusTrackingDelete.ID.Visible) { // mtRecruitmentStatusTrackingDelete.ID.Visible (begin)
        <th class="@Html.Raw(mtRecruitmentStatusTrackingDelete.ID.HeaderCellClass)"><span id="elh_MTRecruitmentStatusTracking_ID" class="MTRecruitmentStatusTracking_ID">@Html.Raw(mtRecruitmentStatusTrackingDelete.ID.Caption)</span></th>
} @* mtRecruitmentStatusTrackingDelete.ID.Visible (end) *@
@if (mtRecruitmentStatusTrackingDelete.MTCrewID.Visible) { // mtRecruitmentStatusTrackingDelete.MTCrewID.Visible (begin)
        <th class="@Html.Raw(mtRecruitmentStatusTrackingDelete.MTCrewID.HeaderCellClass)"><span id="elh_MTRecruitmentStatusTracking_MTCrewID" class="MTRecruitmentStatusTracking_MTCrewID">@Html.Raw(mtRecruitmentStatusTrackingDelete.MTCrewID.Caption)</span></th>
} @* mtRecruitmentStatusTrackingDelete.MTCrewID.Visible (end) *@
@if (mtRecruitmentStatusTrackingDelete.MTRecruitmentStatusID.Visible) { // mtRecruitmentStatusTrackingDelete.MTRecruitmentStatusID.Visible (begin)
        <th class="@Html.Raw(mtRecruitmentStatusTrackingDelete.MTRecruitmentStatusID.HeaderCellClass)"><span id="elh_MTRecruitmentStatusTracking_MTRecruitmentStatusID" class="MTRecruitmentStatusTracking_MTRecruitmentStatusID">@Html.Raw(mtRecruitmentStatusTrackingDelete.MTRecruitmentStatusID.Caption)</span></th>
} @* mtRecruitmentStatusTrackingDelete.MTRecruitmentStatusID.Visible (end) *@
@if (mtRecruitmentStatusTrackingDelete.Flag.Visible) { // mtRecruitmentStatusTrackingDelete.Flag.Visible (begin)
        <th class="@Html.Raw(mtRecruitmentStatusTrackingDelete.Flag.HeaderCellClass)"><span id="elh_MTRecruitmentStatusTracking_Flag" class="MTRecruitmentStatusTracking_Flag">@Html.Raw(mtRecruitmentStatusTrackingDelete.Flag.Caption)</span></th>
} @* mtRecruitmentStatusTrackingDelete.Flag.Visible (end) *@
@if (mtRecruitmentStatusTrackingDelete.FlagDescription.Visible) { // mtRecruitmentStatusTrackingDelete.FlagDescription.Visible (begin)
        <th class="@Html.Raw(mtRecruitmentStatusTrackingDelete.FlagDescription.HeaderCellClass)"><span id="elh_MTRecruitmentStatusTracking_FlagDescription" class="MTRecruitmentStatusTracking_FlagDescription">@Html.Raw(mtRecruitmentStatusTrackingDelete.FlagDescription.Caption)</span></th>
} @* mtRecruitmentStatusTrackingDelete.FlagDescription.Visible (end) *@
@if (mtRecruitmentStatusTrackingDelete.CreatedByUserID.Visible) { // mtRecruitmentStatusTrackingDelete.CreatedByUserID.Visible (begin)
        <th class="@Html.Raw(mtRecruitmentStatusTrackingDelete.CreatedByUserID.HeaderCellClass)"><span id="elh_MTRecruitmentStatusTracking_CreatedByUserID" class="MTRecruitmentStatusTracking_CreatedByUserID">@Html.Raw(mtRecruitmentStatusTrackingDelete.CreatedByUserID.Caption)</span></th>
} @* mtRecruitmentStatusTrackingDelete.CreatedByUserID.Visible (end) *@
@if (mtRecruitmentStatusTrackingDelete.CreatedDateTime.Visible) { // mtRecruitmentStatusTrackingDelete.CreatedDateTime.Visible (begin)
        <th class="@Html.Raw(mtRecruitmentStatusTrackingDelete.CreatedDateTime.HeaderCellClass)"><span id="elh_MTRecruitmentStatusTracking_CreatedDateTime" class="MTRecruitmentStatusTracking_CreatedDateTime">@Html.Raw(mtRecruitmentStatusTrackingDelete.CreatedDateTime.Caption)</span></th>
} @* mtRecruitmentStatusTrackingDelete.CreatedDateTime.Visible (end) *@
@if (mtRecruitmentStatusTrackingDelete.LastUpdatedByUserID.Visible) { // mtRecruitmentStatusTrackingDelete.LastUpdatedByUserID.Visible (begin)
        <th class="@Html.Raw(mtRecruitmentStatusTrackingDelete.LastUpdatedByUserID.HeaderCellClass)"><span id="elh_MTRecruitmentStatusTracking_LastUpdatedByUserID" class="MTRecruitmentStatusTracking_LastUpdatedByUserID">@Html.Raw(mtRecruitmentStatusTrackingDelete.LastUpdatedByUserID.Caption)</span></th>
} @* mtRecruitmentStatusTrackingDelete.LastUpdatedByUserID.Visible (end) *@
@if (mtRecruitmentStatusTrackingDelete.LastUpdatedDateTime.Visible) { // mtRecruitmentStatusTrackingDelete.LastUpdatedDateTime.Visible (begin)
        <th class="@Html.Raw(mtRecruitmentStatusTrackingDelete.LastUpdatedDateTime.HeaderCellClass)"><span id="elh_MTRecruitmentStatusTracking_LastUpdatedDateTime" class="MTRecruitmentStatusTracking_LastUpdatedDateTime">@Html.Raw(mtRecruitmentStatusTrackingDelete.LastUpdatedDateTime.Caption)</span></th>
} @* mtRecruitmentStatusTrackingDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ mtRecruitmentStatusTrackingDelete.RecordCount = 0; }
@while (mtRecruitmentStatusTrackingDelete.Recordset != null && await mtRecruitmentStatusTrackingDelete.Recordset.ReadAsync()) { // DN
    mtRecruitmentStatusTrackingDelete.RecordCount++;
    mtRecruitmentStatusTrackingDelete.RowCount++;

    // Set row properties
    mtRecruitmentStatusTrackingDelete.ResetAttributes();
    mtRecruitmentStatusTrackingDelete.RowType = RowType.View; // View

    // Get the field contents
    await mtRecruitmentStatusTrackingDelete.LoadRowValues(mtRecruitmentStatusTrackingDelete.Recordset);

    // Render row
    await mtRecruitmentStatusTrackingDelete.RenderRow();
    <tr @Html.Raw(mtRecruitmentStatusTrackingDelete.RowAttributes)>
@if (mtRecruitmentStatusTrackingDelete.ID.Visible) { // mtRecruitmentStatusTrackingDelete.ID.Visible (begin)
        <td @Html.Raw(mtRecruitmentStatusTrackingDelete.ID.CellAttributes)>
<span id="el@(mtRecruitmentStatusTrackingDelete.RowCount)_MTRecruitmentStatusTracking_ID" class="el_MTRecruitmentStatusTracking_ID">
<span @Html.Raw(mtRecruitmentStatusTrackingDelete.ID.ViewAttributes)>
@Html.Raw(mtRecruitmentStatusTrackingDelete.ID.GetViewValue())</span>
</span></td>
} @* mtRecruitmentStatusTrackingDelete.ID.Visible (end) *@
@if (mtRecruitmentStatusTrackingDelete.MTCrewID.Visible) { // mtRecruitmentStatusTrackingDelete.MTCrewID.Visible (begin)
        <td @Html.Raw(mtRecruitmentStatusTrackingDelete.MTCrewID.CellAttributes)>
<span id="el@(mtRecruitmentStatusTrackingDelete.RowCount)_MTRecruitmentStatusTracking_MTCrewID" class="el_MTRecruitmentStatusTracking_MTCrewID">
<span @Html.Raw(mtRecruitmentStatusTrackingDelete.MTCrewID.ViewAttributes)>
@Html.Raw(mtRecruitmentStatusTrackingDelete.MTCrewID.GetViewValue())</span>
</span></td>
} @* mtRecruitmentStatusTrackingDelete.MTCrewID.Visible (end) *@
@if (mtRecruitmentStatusTrackingDelete.MTRecruitmentStatusID.Visible) { // mtRecruitmentStatusTrackingDelete.MTRecruitmentStatusID.Visible (begin)
        <td @Html.Raw(mtRecruitmentStatusTrackingDelete.MTRecruitmentStatusID.CellAttributes)>
<span id="el@(mtRecruitmentStatusTrackingDelete.RowCount)_MTRecruitmentStatusTracking_MTRecruitmentStatusID" class="el_MTRecruitmentStatusTracking_MTRecruitmentStatusID">
<span @Html.Raw(mtRecruitmentStatusTrackingDelete.MTRecruitmentStatusID.ViewAttributes)>
@Html.Raw(mtRecruitmentStatusTrackingDelete.MTRecruitmentStatusID.GetViewValue())</span>
</span></td>
} @* mtRecruitmentStatusTrackingDelete.MTRecruitmentStatusID.Visible (end) *@
@if (mtRecruitmentStatusTrackingDelete.Flag.Visible) { // mtRecruitmentStatusTrackingDelete.Flag.Visible (begin)
        <td @Html.Raw(mtRecruitmentStatusTrackingDelete.Flag.CellAttributes)>
<span id="el@(mtRecruitmentStatusTrackingDelete.RowCount)_MTRecruitmentStatusTracking_Flag" class="el_MTRecruitmentStatusTracking_Flag">
<span @Html.Raw(mtRecruitmentStatusTrackingDelete.Flag.ViewAttributes)>
@Html.Raw(mtRecruitmentStatusTrackingDelete.Flag.GetViewValue())</span>
</span></td>
} @* mtRecruitmentStatusTrackingDelete.Flag.Visible (end) *@
@if (mtRecruitmentStatusTrackingDelete.FlagDescription.Visible) { // mtRecruitmentStatusTrackingDelete.FlagDescription.Visible (begin)
        <td @Html.Raw(mtRecruitmentStatusTrackingDelete.FlagDescription.CellAttributes)>
<span id="el@(mtRecruitmentStatusTrackingDelete.RowCount)_MTRecruitmentStatusTracking_FlagDescription" class="el_MTRecruitmentStatusTracking_FlagDescription">
<span @Html.Raw(mtRecruitmentStatusTrackingDelete.FlagDescription.ViewAttributes)>
@Html.Raw(mtRecruitmentStatusTrackingDelete.FlagDescription.GetViewValue())</span>
</span></td>
} @* mtRecruitmentStatusTrackingDelete.FlagDescription.Visible (end) *@
@if (mtRecruitmentStatusTrackingDelete.CreatedByUserID.Visible) { // mtRecruitmentStatusTrackingDelete.CreatedByUserID.Visible (begin)
        <td @Html.Raw(mtRecruitmentStatusTrackingDelete.CreatedByUserID.CellAttributes)>
<span id="el@(mtRecruitmentStatusTrackingDelete.RowCount)_MTRecruitmentStatusTracking_CreatedByUserID" class="el_MTRecruitmentStatusTracking_CreatedByUserID">
<span @Html.Raw(mtRecruitmentStatusTrackingDelete.CreatedByUserID.ViewAttributes)>
@Html.Raw(mtRecruitmentStatusTrackingDelete.CreatedByUserID.GetViewValue())</span>
</span></td>
} @* mtRecruitmentStatusTrackingDelete.CreatedByUserID.Visible (end) *@
@if (mtRecruitmentStatusTrackingDelete.CreatedDateTime.Visible) { // mtRecruitmentStatusTrackingDelete.CreatedDateTime.Visible (begin)
        <td @Html.Raw(mtRecruitmentStatusTrackingDelete.CreatedDateTime.CellAttributes)>
<span id="el@(mtRecruitmentStatusTrackingDelete.RowCount)_MTRecruitmentStatusTracking_CreatedDateTime" class="el_MTRecruitmentStatusTracking_CreatedDateTime">
<span @Html.Raw(mtRecruitmentStatusTrackingDelete.CreatedDateTime.ViewAttributes)>
@Html.Raw(mtRecruitmentStatusTrackingDelete.CreatedDateTime.GetViewValue())</span>
</span></td>
} @* mtRecruitmentStatusTrackingDelete.CreatedDateTime.Visible (end) *@
@if (mtRecruitmentStatusTrackingDelete.LastUpdatedByUserID.Visible) { // mtRecruitmentStatusTrackingDelete.LastUpdatedByUserID.Visible (begin)
        <td @Html.Raw(mtRecruitmentStatusTrackingDelete.LastUpdatedByUserID.CellAttributes)>
<span id="el@(mtRecruitmentStatusTrackingDelete.RowCount)_MTRecruitmentStatusTracking_LastUpdatedByUserID" class="el_MTRecruitmentStatusTracking_LastUpdatedByUserID">
<span @Html.Raw(mtRecruitmentStatusTrackingDelete.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(mtRecruitmentStatusTrackingDelete.LastUpdatedByUserID.GetViewValue())</span>
</span></td>
} @* mtRecruitmentStatusTrackingDelete.LastUpdatedByUserID.Visible (end) *@
@if (mtRecruitmentStatusTrackingDelete.LastUpdatedDateTime.Visible) { // mtRecruitmentStatusTrackingDelete.LastUpdatedDateTime.Visible (begin)
        <td @Html.Raw(mtRecruitmentStatusTrackingDelete.LastUpdatedDateTime.CellAttributes)>
<span id="el@(mtRecruitmentStatusTrackingDelete.RowCount)_MTRecruitmentStatusTracking_LastUpdatedDateTime" class="el_MTRecruitmentStatusTracking_LastUpdatedDateTime">
<span @Html.Raw(mtRecruitmentStatusTrackingDelete.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(mtRecruitmentStatusTrackingDelete.LastUpdatedDateTime.GetViewValue())</span>
</span></td>
} @* mtRecruitmentStatusTrackingDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
}
@{ mtRecruitmentStatusTrackingDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(mtRecruitmentStatusTrackingDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@mtRecruitmentStatusTrackingDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
