@{
    // View
    View = this;

    // Check action result
    if (mtReligionDelete.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!mtReligionDelete.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(mtReligionDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MTReligion: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fMTReligiondelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMTReligiondelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@mtReligionDelete.ShowPageHeader()
@mtReligionDelete.ShowMessages()
<form name="fMTReligiondelete" id="fMTReligiondelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in mtReligionDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(mtReligionDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(mtReligionDelete.TableContainerClass)" style="@(mtReligionDelete.TableContainerStyle)">
<table class="@(mtReligionDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (mtReligionDelete._Name.Visible) { // mtReligionDelete._Name.Visible (begin)
        <th class="@Html.Raw(mtReligionDelete._Name.HeaderCellClass)"><span id="elh_MTReligion__Name" class="MTReligion__Name">@Html.Raw(mtReligionDelete._Name.Caption)</span></th>
} @* mtReligionDelete._Name.Visible (end) *@
@if (mtReligionDelete.CreatedByUserID.Visible) { // mtReligionDelete.CreatedByUserID.Visible (begin)
        <th class="@Html.Raw(mtReligionDelete.CreatedByUserID.HeaderCellClass)"><span id="elh_MTReligion_CreatedByUserID" class="MTReligion_CreatedByUserID">@Html.Raw(mtReligionDelete.CreatedByUserID.Caption)</span></th>
} @* mtReligionDelete.CreatedByUserID.Visible (end) *@
@if (mtReligionDelete.CreatedDateTime.Visible) { // mtReligionDelete.CreatedDateTime.Visible (begin)
        <th class="@Html.Raw(mtReligionDelete.CreatedDateTime.HeaderCellClass)"><span id="elh_MTReligion_CreatedDateTime" class="MTReligion_CreatedDateTime">@Html.Raw(mtReligionDelete.CreatedDateTime.Caption)</span></th>
} @* mtReligionDelete.CreatedDateTime.Visible (end) *@
@if (mtReligionDelete.LastUpdatedByUserID.Visible) { // mtReligionDelete.LastUpdatedByUserID.Visible (begin)
        <th class="@Html.Raw(mtReligionDelete.LastUpdatedByUserID.HeaderCellClass)"><span id="elh_MTReligion_LastUpdatedByUserID" class="MTReligion_LastUpdatedByUserID">@Html.Raw(mtReligionDelete.LastUpdatedByUserID.Caption)</span></th>
} @* mtReligionDelete.LastUpdatedByUserID.Visible (end) *@
@if (mtReligionDelete.LastUpdatedDateTime.Visible) { // mtReligionDelete.LastUpdatedDateTime.Visible (begin)
        <th class="@Html.Raw(mtReligionDelete.LastUpdatedDateTime.HeaderCellClass)"><span id="elh_MTReligion_LastUpdatedDateTime" class="MTReligion_LastUpdatedDateTime">@Html.Raw(mtReligionDelete.LastUpdatedDateTime.Caption)</span></th>
} @* mtReligionDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ mtReligionDelete.RecordCount = 0; }
@while (mtReligionDelete.Recordset != null && await mtReligionDelete.Recordset.ReadAsync()) { // DN
    mtReligionDelete.RecordCount++;
    mtReligionDelete.RowCount++;

    // Set row properties
    mtReligionDelete.ResetAttributes();
    mtReligionDelete.RowType = RowType.View; // View

    // Get the field contents
    await mtReligionDelete.LoadRowValues(mtReligionDelete.Recordset);

    // Render row
    await mtReligionDelete.RenderRow();
    <tr @Html.Raw(mtReligionDelete.RowAttributes)>
@if (mtReligionDelete._Name.Visible) { // mtReligionDelete._Name.Visible (begin)
        <td @Html.Raw(mtReligionDelete._Name.CellAttributes)>
<span id="el@(mtReligionDelete.RowCount)_MTReligion__Name" class="el_MTReligion__Name">
<span @Html.Raw(mtReligionDelete._Name.ViewAttributes)>
@Html.Raw(mtReligionDelete._Name.GetViewValue())</span>
</span></td>
} @* mtReligionDelete._Name.Visible (end) *@
@if (mtReligionDelete.CreatedByUserID.Visible) { // mtReligionDelete.CreatedByUserID.Visible (begin)
        <td @Html.Raw(mtReligionDelete.CreatedByUserID.CellAttributes)>
<span id="el@(mtReligionDelete.RowCount)_MTReligion_CreatedByUserID" class="el_MTReligion_CreatedByUserID">
<span @Html.Raw(mtReligionDelete.CreatedByUserID.ViewAttributes)>
@Html.Raw(mtReligionDelete.CreatedByUserID.GetViewValue())</span>
</span></td>
} @* mtReligionDelete.CreatedByUserID.Visible (end) *@
@if (mtReligionDelete.CreatedDateTime.Visible) { // mtReligionDelete.CreatedDateTime.Visible (begin)
        <td @Html.Raw(mtReligionDelete.CreatedDateTime.CellAttributes)>
<span id="el@(mtReligionDelete.RowCount)_MTReligion_CreatedDateTime" class="el_MTReligion_CreatedDateTime">
<span @Html.Raw(mtReligionDelete.CreatedDateTime.ViewAttributes)>
@Html.Raw(mtReligionDelete.CreatedDateTime.GetViewValue())</span>
</span></td>
} @* mtReligionDelete.CreatedDateTime.Visible (end) *@
@if (mtReligionDelete.LastUpdatedByUserID.Visible) { // mtReligionDelete.LastUpdatedByUserID.Visible (begin)
        <td @Html.Raw(mtReligionDelete.LastUpdatedByUserID.CellAttributes)>
<span id="el@(mtReligionDelete.RowCount)_MTReligion_LastUpdatedByUserID" class="el_MTReligion_LastUpdatedByUserID">
<span @Html.Raw(mtReligionDelete.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(mtReligionDelete.LastUpdatedByUserID.GetViewValue())</span>
</span></td>
} @* mtReligionDelete.LastUpdatedByUserID.Visible (end) *@
@if (mtReligionDelete.LastUpdatedDateTime.Visible) { // mtReligionDelete.LastUpdatedDateTime.Visible (begin)
        <td @Html.Raw(mtReligionDelete.LastUpdatedDateTime.CellAttributes)>
<span id="el@(mtReligionDelete.RowCount)_MTReligion_LastUpdatedDateTime" class="el_MTReligion_LastUpdatedDateTime">
<span @Html.Raw(mtReligionDelete.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(mtReligionDelete.LastUpdatedDateTime.GetViewValue())</span>
</span></td>
} @* mtReligionDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
}
@{ mtReligionDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(mtReligionDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@mtReligionDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
