@{
    // View
    View = this;

    // Check action result
    if (mtRecruitmentStatusTrackingEdit.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!mtRecruitmentStatusTrackingEdit.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@mtRecruitmentStatusTrackingEdit.ShowPageHeader()
@mtRecruitmentStatusTrackingEdit.ShowMessages()
<main class="edit">
<form name="fMTRecruitmentStatusTrackingedit" id="fMTRecruitmentStatusTrackingedit" class="@(mtRecruitmentStatusTrackingEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
<script>
var currentTable = @Html.Raw(ConvertToJson(mtRecruitmentStatusTrackingEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MTRecruitmentStatusTracking: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fMTRecruitmentStatusTrackingedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMTRecruitmentStatusTrackingedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["ID", [fields.ID.visible && fields.ID.required ? ew.Validators.required(fields.ID.caption) : null], fields.ID.isInvalid],
            ["MTCrewID", [fields.MTCrewID.visible && fields.MTCrewID.required ? ew.Validators.required(fields.MTCrewID.caption) : null, ew.Validators.integer], fields.MTCrewID.isInvalid],
            ["MTRecruitmentStatusID", [fields.MTRecruitmentStatusID.visible && fields.MTRecruitmentStatusID.required ? ew.Validators.required(fields.MTRecruitmentStatusID.caption) : null, ew.Validators.integer], fields.MTRecruitmentStatusID.isInvalid],
            ["Flag", [fields.Flag.visible && fields.Flag.required ? ew.Validators.required(fields.Flag.caption) : null, ew.Validators.integer], fields.Flag.isInvalid],
            ["FlagDescription", [fields.FlagDescription.visible && fields.FlagDescription.required ? ew.Validators.required(fields.FlagDescription.caption) : null], fields.FlagDescription.isInvalid],
            ["CreatedByUserID", [fields.CreatedByUserID.visible && fields.CreatedByUserID.required ? ew.Validators.required(fields.CreatedByUserID.caption) : null, ew.Validators.integer], fields.CreatedByUserID.isInvalid],
            ["CreatedDateTime", [fields.CreatedDateTime.visible && fields.CreatedDateTime.required ? ew.Validators.required(fields.CreatedDateTime.caption) : null, ew.Validators.datetime(fields.CreatedDateTime.clientFormatPattern)], fields.CreatedDateTime.isInvalid],
            ["LastUpdatedByUserID", [fields.LastUpdatedByUserID.visible && fields.LastUpdatedByUserID.required ? ew.Validators.required(fields.LastUpdatedByUserID.caption) : null, ew.Validators.integer], fields.LastUpdatedByUserID.isInvalid],
            ["LastUpdatedDateTime", [fields.LastUpdatedDateTime.visible && fields.LastUpdatedDateTime.required ? ew.Validators.required(fields.LastUpdatedDateTime.caption) : null, ew.Validators.datetime(fields.LastUpdatedDateTime.clientFormatPattern)], fields.LastUpdatedDateTime.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(mtRecruitmentStatusTrackingEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(mtRecruitmentStatusTrackingEdit.OldKeyName)" value="@Html.Raw(mtRecruitmentStatusTrackingEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (mtRecruitmentStatusTrackingEdit.ID.Visible) { // mtRecruitmentStatusTrackingEdit.ID.Visible (begin)
    <div id="r_ID" @Html.Raw(mtRecruitmentStatusTrackingEdit.ID.RowAttributes)>
        <label id="elh_MTRecruitmentStatusTracking_ID" class="@(mtRecruitmentStatusTrackingEdit.LeftColumnClass)">@Html.Raw(mtRecruitmentStatusTrackingEdit.ID.Caption)@Html.Raw(mtRecruitmentStatusTrackingEdit.ID.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtRecruitmentStatusTrackingEdit.RightColumnClass)"><div @Html.Raw(mtRecruitmentStatusTrackingEdit.ID.CellAttributes)>
<span id="el_MTRecruitmentStatusTracking_ID">
<span @Html.Raw(mtRecruitmentStatusTrackingEdit.ID.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(mtRecruitmentStatusTrackingEdit.ID.EditValue)))"></span>
<input type="hidden" data-table="MTRecruitmentStatusTracking" data-field="x_ID" data-hidden="1" name="x_ID" id="x_ID" value="@Html.Raw(HtmlEncode(mtRecruitmentStatusTrackingEdit.ID.CurrentValue))">
</span>
</div></div>
    </div>
} @* mtRecruitmentStatusTrackingEdit.ID.Visible (end) *@
@if (mtRecruitmentStatusTrackingEdit.MTCrewID.Visible) { // mtRecruitmentStatusTrackingEdit.MTCrewID.Visible (begin)
    <div id="r_MTCrewID" @Html.Raw(mtRecruitmentStatusTrackingEdit.MTCrewID.RowAttributes)>
        <label id="elh_MTRecruitmentStatusTracking_MTCrewID" for="x_MTCrewID" class="@(mtRecruitmentStatusTrackingEdit.LeftColumnClass)">@Html.Raw(mtRecruitmentStatusTrackingEdit.MTCrewID.Caption)@Html.Raw(mtRecruitmentStatusTrackingEdit.MTCrewID.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtRecruitmentStatusTrackingEdit.RightColumnClass)"><div @Html.Raw(mtRecruitmentStatusTrackingEdit.MTCrewID.CellAttributes)>
<span id="el_MTRecruitmentStatusTracking_MTCrewID">
<input type="@(mtRecruitmentStatusTrackingEdit.MTCrewID.InputTextType)" name="x_MTCrewID" id="x_MTCrewID" data-table="MTRecruitmentStatusTracking" data-field="x_MTCrewID" value="@Html.Raw(mtRecruitmentStatusTrackingEdit.MTCrewID.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(mtRecruitmentStatusTrackingEdit.MTCrewID.PlaceHolder))" data-format-pattern="@(mtRecruitmentStatusTrackingEdit.MTCrewID.FormatPattern)"@Html.Raw(mtRecruitmentStatusTrackingEdit.MTCrewID.EditAttributes) aria-describedby="x_MTCrewID_help">
@Html.Raw(mtRecruitmentStatusTrackingEdit.MTCrewID.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mtRecruitmentStatusTrackingEdit.MTCrewID.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* mtRecruitmentStatusTrackingEdit.MTCrewID.Visible (end) *@
@if (mtRecruitmentStatusTrackingEdit.MTRecruitmentStatusID.Visible) { // mtRecruitmentStatusTrackingEdit.MTRecruitmentStatusID.Visible (begin)
    <div id="r_MTRecruitmentStatusID" @Html.Raw(mtRecruitmentStatusTrackingEdit.MTRecruitmentStatusID.RowAttributes)>
        <label id="elh_MTRecruitmentStatusTracking_MTRecruitmentStatusID" for="x_MTRecruitmentStatusID" class="@(mtRecruitmentStatusTrackingEdit.LeftColumnClass)">@Html.Raw(mtRecruitmentStatusTrackingEdit.MTRecruitmentStatusID.Caption)@Html.Raw(mtRecruitmentStatusTrackingEdit.MTRecruitmentStatusID.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtRecruitmentStatusTrackingEdit.RightColumnClass)"><div @Html.Raw(mtRecruitmentStatusTrackingEdit.MTRecruitmentStatusID.CellAttributes)>
<span id="el_MTRecruitmentStatusTracking_MTRecruitmentStatusID">
<input type="@(mtRecruitmentStatusTrackingEdit.MTRecruitmentStatusID.InputTextType)" name="x_MTRecruitmentStatusID" id="x_MTRecruitmentStatusID" data-table="MTRecruitmentStatusTracking" data-field="x_MTRecruitmentStatusID" value="@Html.Raw(mtRecruitmentStatusTrackingEdit.MTRecruitmentStatusID.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(mtRecruitmentStatusTrackingEdit.MTRecruitmentStatusID.PlaceHolder))" data-format-pattern="@(mtRecruitmentStatusTrackingEdit.MTRecruitmentStatusID.FormatPattern)"@Html.Raw(mtRecruitmentStatusTrackingEdit.MTRecruitmentStatusID.EditAttributes) aria-describedby="x_MTRecruitmentStatusID_help">
@Html.Raw(mtRecruitmentStatusTrackingEdit.MTRecruitmentStatusID.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mtRecruitmentStatusTrackingEdit.MTRecruitmentStatusID.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* mtRecruitmentStatusTrackingEdit.MTRecruitmentStatusID.Visible (end) *@
@if (mtRecruitmentStatusTrackingEdit.Flag.Visible) { // mtRecruitmentStatusTrackingEdit.Flag.Visible (begin)
    <div id="r_Flag" @Html.Raw(mtRecruitmentStatusTrackingEdit.Flag.RowAttributes)>
        <label id="elh_MTRecruitmentStatusTracking_Flag" for="x_Flag" class="@(mtRecruitmentStatusTrackingEdit.LeftColumnClass)">@Html.Raw(mtRecruitmentStatusTrackingEdit.Flag.Caption)@Html.Raw(mtRecruitmentStatusTrackingEdit.Flag.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtRecruitmentStatusTrackingEdit.RightColumnClass)"><div @Html.Raw(mtRecruitmentStatusTrackingEdit.Flag.CellAttributes)>
<span id="el_MTRecruitmentStatusTracking_Flag">
<input type="@(mtRecruitmentStatusTrackingEdit.Flag.InputTextType)" name="x_Flag" id="x_Flag" data-table="MTRecruitmentStatusTracking" data-field="x_Flag" value="@Html.Raw(mtRecruitmentStatusTrackingEdit.Flag.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(mtRecruitmentStatusTrackingEdit.Flag.PlaceHolder))" data-format-pattern="@(mtRecruitmentStatusTrackingEdit.Flag.FormatPattern)"@Html.Raw(mtRecruitmentStatusTrackingEdit.Flag.EditAttributes) aria-describedby="x_Flag_help">
@Html.Raw(mtRecruitmentStatusTrackingEdit.Flag.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mtRecruitmentStatusTrackingEdit.Flag.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* mtRecruitmentStatusTrackingEdit.Flag.Visible (end) *@
@if (mtRecruitmentStatusTrackingEdit.FlagDescription.Visible) { // mtRecruitmentStatusTrackingEdit.FlagDescription.Visible (begin)
    <div id="r_FlagDescription" @Html.Raw(mtRecruitmentStatusTrackingEdit.FlagDescription.RowAttributes)>
        <label id="elh_MTRecruitmentStatusTracking_FlagDescription" for="x_FlagDescription" class="@(mtRecruitmentStatusTrackingEdit.LeftColumnClass)">@Html.Raw(mtRecruitmentStatusTrackingEdit.FlagDescription.Caption)@Html.Raw(mtRecruitmentStatusTrackingEdit.FlagDescription.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtRecruitmentStatusTrackingEdit.RightColumnClass)"><div @Html.Raw(mtRecruitmentStatusTrackingEdit.FlagDescription.CellAttributes)>
<span id="el_MTRecruitmentStatusTracking_FlagDescription">
<input type="@(mtRecruitmentStatusTrackingEdit.FlagDescription.InputTextType)" name="x_FlagDescription" id="x_FlagDescription" data-table="MTRecruitmentStatusTracking" data-field="x_FlagDescription" value="@Html.Raw(mtRecruitmentStatusTrackingEdit.FlagDescription.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(mtRecruitmentStatusTrackingEdit.FlagDescription.PlaceHolder))" data-format-pattern="@(mtRecruitmentStatusTrackingEdit.FlagDescription.FormatPattern)"@Html.Raw(mtRecruitmentStatusTrackingEdit.FlagDescription.EditAttributes) aria-describedby="x_FlagDescription_help">
@Html.Raw(mtRecruitmentStatusTrackingEdit.FlagDescription.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mtRecruitmentStatusTrackingEdit.FlagDescription.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* mtRecruitmentStatusTrackingEdit.FlagDescription.Visible (end) *@
@if (mtRecruitmentStatusTrackingEdit.CreatedByUserID.Visible) { // mtRecruitmentStatusTrackingEdit.CreatedByUserID.Visible (begin)
    <div id="r_CreatedByUserID" @Html.Raw(mtRecruitmentStatusTrackingEdit.CreatedByUserID.RowAttributes)>
        <label id="elh_MTRecruitmentStatusTracking_CreatedByUserID" for="x_CreatedByUserID" class="@(mtRecruitmentStatusTrackingEdit.LeftColumnClass)">@Html.Raw(mtRecruitmentStatusTrackingEdit.CreatedByUserID.Caption)@Html.Raw(mtRecruitmentStatusTrackingEdit.CreatedByUserID.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtRecruitmentStatusTrackingEdit.RightColumnClass)"><div @Html.Raw(mtRecruitmentStatusTrackingEdit.CreatedByUserID.CellAttributes)>
<span id="el_MTRecruitmentStatusTracking_CreatedByUserID">
<input type="@(mtRecruitmentStatusTrackingEdit.CreatedByUserID.InputTextType)" name="x_CreatedByUserID" id="x_CreatedByUserID" data-table="MTRecruitmentStatusTracking" data-field="x_CreatedByUserID" value="@Html.Raw(mtRecruitmentStatusTrackingEdit.CreatedByUserID.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(mtRecruitmentStatusTrackingEdit.CreatedByUserID.PlaceHolder))" data-format-pattern="@(mtRecruitmentStatusTrackingEdit.CreatedByUserID.FormatPattern)"@Html.Raw(mtRecruitmentStatusTrackingEdit.CreatedByUserID.EditAttributes) aria-describedby="x_CreatedByUserID_help">
@Html.Raw(mtRecruitmentStatusTrackingEdit.CreatedByUserID.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mtRecruitmentStatusTrackingEdit.CreatedByUserID.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* mtRecruitmentStatusTrackingEdit.CreatedByUserID.Visible (end) *@
@if (mtRecruitmentStatusTrackingEdit.CreatedDateTime.Visible) { // mtRecruitmentStatusTrackingEdit.CreatedDateTime.Visible (begin)
    <div id="r_CreatedDateTime" @Html.Raw(mtRecruitmentStatusTrackingEdit.CreatedDateTime.RowAttributes)>
        <label id="elh_MTRecruitmentStatusTracking_CreatedDateTime" for="x_CreatedDateTime" class="@(mtRecruitmentStatusTrackingEdit.LeftColumnClass)">@Html.Raw(mtRecruitmentStatusTrackingEdit.CreatedDateTime.Caption)@Html.Raw(mtRecruitmentStatusTrackingEdit.CreatedDateTime.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtRecruitmentStatusTrackingEdit.RightColumnClass)"><div @Html.Raw(mtRecruitmentStatusTrackingEdit.CreatedDateTime.CellAttributes)>
<span id="el_MTRecruitmentStatusTracking_CreatedDateTime">
<input type="@(mtRecruitmentStatusTrackingEdit.CreatedDateTime.InputTextType)" name="x_CreatedDateTime" id="x_CreatedDateTime" data-table="MTRecruitmentStatusTracking" data-field="x_CreatedDateTime" value="@Html.Raw(mtRecruitmentStatusTrackingEdit.CreatedDateTime.EditValue)" placeholder="@Html.Raw(HtmlEncode(mtRecruitmentStatusTrackingEdit.CreatedDateTime.PlaceHolder))" data-format-pattern="@(mtRecruitmentStatusTrackingEdit.CreatedDateTime.FormatPattern)"@Html.Raw(mtRecruitmentStatusTrackingEdit.CreatedDateTime.EditAttributes) aria-describedby="x_CreatedDateTime_help">
@Html.Raw(mtRecruitmentStatusTrackingEdit.CreatedDateTime.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mtRecruitmentStatusTrackingEdit.CreatedDateTime.GetErrorMessage())</div>
@if (!mtRecruitmentStatusTrackingEdit.CreatedDateTime.ReadOnly && !mtRecruitmentStatusTrackingEdit.CreatedDateTime.Disabled && !mtRecruitmentStatusTrackingEdit.CreatedDateTime.EditAttrs.Is("readonly") && !mtRecruitmentStatusTrackingEdit.CreatedDateTime.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fMTRecruitmentStatusTrackingedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fMTRecruitmentStatusTrackingedit", "x_CreatedDateTime", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* mtRecruitmentStatusTrackingEdit.CreatedDateTime.Visible (end) *@
@if (mtRecruitmentStatusTrackingEdit.LastUpdatedByUserID.Visible) { // mtRecruitmentStatusTrackingEdit.LastUpdatedByUserID.Visible (begin)
    <div id="r_LastUpdatedByUserID" @Html.Raw(mtRecruitmentStatusTrackingEdit.LastUpdatedByUserID.RowAttributes)>
        <label id="elh_MTRecruitmentStatusTracking_LastUpdatedByUserID" for="x_LastUpdatedByUserID" class="@(mtRecruitmentStatusTrackingEdit.LeftColumnClass)">@Html.Raw(mtRecruitmentStatusTrackingEdit.LastUpdatedByUserID.Caption)@Html.Raw(mtRecruitmentStatusTrackingEdit.LastUpdatedByUserID.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtRecruitmentStatusTrackingEdit.RightColumnClass)"><div @Html.Raw(mtRecruitmentStatusTrackingEdit.LastUpdatedByUserID.CellAttributes)>
<span id="el_MTRecruitmentStatusTracking_LastUpdatedByUserID">
<input type="@(mtRecruitmentStatusTrackingEdit.LastUpdatedByUserID.InputTextType)" name="x_LastUpdatedByUserID" id="x_LastUpdatedByUserID" data-table="MTRecruitmentStatusTracking" data-field="x_LastUpdatedByUserID" value="@Html.Raw(mtRecruitmentStatusTrackingEdit.LastUpdatedByUserID.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(mtRecruitmentStatusTrackingEdit.LastUpdatedByUserID.PlaceHolder))" data-format-pattern="@(mtRecruitmentStatusTrackingEdit.LastUpdatedByUserID.FormatPattern)"@Html.Raw(mtRecruitmentStatusTrackingEdit.LastUpdatedByUserID.EditAttributes) aria-describedby="x_LastUpdatedByUserID_help">
@Html.Raw(mtRecruitmentStatusTrackingEdit.LastUpdatedByUserID.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mtRecruitmentStatusTrackingEdit.LastUpdatedByUserID.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* mtRecruitmentStatusTrackingEdit.LastUpdatedByUserID.Visible (end) *@
@if (mtRecruitmentStatusTrackingEdit.LastUpdatedDateTime.Visible) { // mtRecruitmentStatusTrackingEdit.LastUpdatedDateTime.Visible (begin)
    <div id="r_LastUpdatedDateTime" @Html.Raw(mtRecruitmentStatusTrackingEdit.LastUpdatedDateTime.RowAttributes)>
        <label id="elh_MTRecruitmentStatusTracking_LastUpdatedDateTime" for="x_LastUpdatedDateTime" class="@(mtRecruitmentStatusTrackingEdit.LeftColumnClass)">@Html.Raw(mtRecruitmentStatusTrackingEdit.LastUpdatedDateTime.Caption)@Html.Raw(mtRecruitmentStatusTrackingEdit.LastUpdatedDateTime.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtRecruitmentStatusTrackingEdit.RightColumnClass)"><div @Html.Raw(mtRecruitmentStatusTrackingEdit.LastUpdatedDateTime.CellAttributes)>
<span id="el_MTRecruitmentStatusTracking_LastUpdatedDateTime">
<input type="@(mtRecruitmentStatusTrackingEdit.LastUpdatedDateTime.InputTextType)" name="x_LastUpdatedDateTime" id="x_LastUpdatedDateTime" data-table="MTRecruitmentStatusTracking" data-field="x_LastUpdatedDateTime" value="@Html.Raw(mtRecruitmentStatusTrackingEdit.LastUpdatedDateTime.EditValue)" placeholder="@Html.Raw(HtmlEncode(mtRecruitmentStatusTrackingEdit.LastUpdatedDateTime.PlaceHolder))" data-format-pattern="@(mtRecruitmentStatusTrackingEdit.LastUpdatedDateTime.FormatPattern)"@Html.Raw(mtRecruitmentStatusTrackingEdit.LastUpdatedDateTime.EditAttributes) aria-describedby="x_LastUpdatedDateTime_help">
@Html.Raw(mtRecruitmentStatusTrackingEdit.LastUpdatedDateTime.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mtRecruitmentStatusTrackingEdit.LastUpdatedDateTime.GetErrorMessage())</div>
@if (!mtRecruitmentStatusTrackingEdit.LastUpdatedDateTime.ReadOnly && !mtRecruitmentStatusTrackingEdit.LastUpdatedDateTime.Disabled && !mtRecruitmentStatusTrackingEdit.LastUpdatedDateTime.EditAttrs.Is("readonly") && !mtRecruitmentStatusTrackingEdit.LastUpdatedDateTime.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fMTRecruitmentStatusTrackingedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fMTRecruitmentStatusTrackingedit", "x_LastUpdatedDateTime", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* mtRecruitmentStatusTrackingEdit.LastUpdatedDateTime.Visible (end) *@
</div><!-- /page* -->
@{ mtRecruitmentStatusTrackingEdit.CloseRecordset(); }
@Html.Raw(mtRecruitmentStatusTrackingEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(mtRecruitmentStatusTrackingEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fMTRecruitmentStatusTrackingedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fMTRecruitmentStatusTrackingedit" data-href="@AppPath(mtRecruitmentStatusTrackingEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(mtRecruitmentStatusTrackingEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@mtRecruitmentStatusTrackingEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("MTRecruitmentStatusTracking");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
