@{
    // View
    View = this;

    // Check action result
    if (mtRecruitmentStatusTrackingAdd.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!mtRecruitmentStatusTrackingAdd.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(mtRecruitmentStatusTrackingAdd.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MTRecruitmentStatusTracking: currentTable } });
var currentPageID = ew.PAGE_ID = "add";
var currentForm;
var fMTRecruitmentStatusTrackingadd;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMTRecruitmentStatusTrackingadd")
        .setPageId("add")

        // Add fields
        .setFields([

            ["MTCrewID", [fields.MTCrewID.visible && fields.MTCrewID.required ? ew.Validators.required(fields.MTCrewID.caption) : null, ew.Validators.integer], fields.MTCrewID.isInvalid],
            ["MTRecruitmentStatusID", [fields.MTRecruitmentStatusID.visible && fields.MTRecruitmentStatusID.required ? ew.Validators.required(fields.MTRecruitmentStatusID.caption) : null, ew.Validators.integer], fields.MTRecruitmentStatusID.isInvalid],
            ["Flag", [fields.Flag.visible && fields.Flag.required ? ew.Validators.required(fields.Flag.caption) : null, ew.Validators.integer], fields.Flag.isInvalid],
            ["FlagDescription", [fields.FlagDescription.visible && fields.FlagDescription.required ? ew.Validators.required(fields.FlagDescription.caption) : null], fields.FlagDescription.isInvalid],
            ["CreatedByUserID", [fields.CreatedByUserID.visible && fields.CreatedByUserID.required ? ew.Validators.required(fields.CreatedByUserID.caption) : null, ew.Validators.integer], fields.CreatedByUserID.isInvalid],
            ["CreatedDateTime", [fields.CreatedDateTime.visible && fields.CreatedDateTime.required ? ew.Validators.required(fields.CreatedDateTime.caption) : null, ew.Validators.datetime(fields.CreatedDateTime.clientFormatPattern)], fields.CreatedDateTime.isInvalid],
            ["LastUpdatedByUserID", [fields.LastUpdatedByUserID.visible && fields.LastUpdatedByUserID.required ? ew.Validators.required(fields.LastUpdatedByUserID.caption) : null, ew.Validators.integer], fields.LastUpdatedByUserID.isInvalid],
            ["LastUpdatedDateTime", [fields.LastUpdatedDateTime.visible && fields.LastUpdatedDateTime.required ? ew.Validators.required(fields.LastUpdatedDateTime.caption) : null, ew.Validators.datetime(fields.LastUpdatedDateTime.clientFormatPattern)], fields.LastUpdatedDateTime.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@mtRecruitmentStatusTrackingAdd.ShowPageHeader()
@mtRecruitmentStatusTrackingAdd.ShowMessages()
<form name="fMTRecruitmentStatusTrackingadd" id="fMTRecruitmentStatusTrackingadd" class="@(mtRecruitmentStatusTrackingAdd.FormClassName)" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="insert">
<input type="hidden" name="modal" value="@ConvertToInt(mtRecruitmentStatusTrackingAdd.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(mtRecruitmentStatusTrackingAdd.OldKeyName)" value="@Html.Raw(mtRecruitmentStatusTrackingAdd.OldKey)">
<div class="ew-add-div"><!-- page* -->
@if (mtRecruitmentStatusTrackingAdd.MTCrewID.Visible) { // mtRecruitmentStatusTrackingAdd.MTCrewID.Visible (begin)
    <div id="r_MTCrewID" @Html.Raw(mtRecruitmentStatusTrackingAdd.MTCrewID.RowAttributes)>
        <label id="elh_MTRecruitmentStatusTracking_MTCrewID" for="x_MTCrewID" class="@(mtRecruitmentStatusTrackingAdd.LeftColumnClass)">@Html.Raw(mtRecruitmentStatusTrackingAdd.MTCrewID.Caption)@Html.Raw(mtRecruitmentStatusTrackingAdd.MTCrewID.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtRecruitmentStatusTrackingAdd.RightColumnClass)"><div @Html.Raw(mtRecruitmentStatusTrackingAdd.MTCrewID.CellAttributes)>
<span id="el_MTRecruitmentStatusTracking_MTCrewID">
<input type="@(mtRecruitmentStatusTrackingAdd.MTCrewID.InputTextType)" name="x_MTCrewID" id="x_MTCrewID" data-table="MTRecruitmentStatusTracking" data-field="x_MTCrewID" value="@Html.Raw(mtRecruitmentStatusTrackingAdd.MTCrewID.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(mtRecruitmentStatusTrackingAdd.MTCrewID.PlaceHolder))" data-format-pattern="@(mtRecruitmentStatusTrackingAdd.MTCrewID.FormatPattern)"@Html.Raw(mtRecruitmentStatusTrackingAdd.MTCrewID.EditAttributes) aria-describedby="x_MTCrewID_help">
@Html.Raw(mtRecruitmentStatusTrackingAdd.MTCrewID.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mtRecruitmentStatusTrackingAdd.MTCrewID.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* mtRecruitmentStatusTrackingAdd.MTCrewID.Visible (end) *@
@if (mtRecruitmentStatusTrackingAdd.MTRecruitmentStatusID.Visible) { // mtRecruitmentStatusTrackingAdd.MTRecruitmentStatusID.Visible (begin)
    <div id="r_MTRecruitmentStatusID" @Html.Raw(mtRecruitmentStatusTrackingAdd.MTRecruitmentStatusID.RowAttributes)>
        <label id="elh_MTRecruitmentStatusTracking_MTRecruitmentStatusID" for="x_MTRecruitmentStatusID" class="@(mtRecruitmentStatusTrackingAdd.LeftColumnClass)">@Html.Raw(mtRecruitmentStatusTrackingAdd.MTRecruitmentStatusID.Caption)@Html.Raw(mtRecruitmentStatusTrackingAdd.MTRecruitmentStatusID.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtRecruitmentStatusTrackingAdd.RightColumnClass)"><div @Html.Raw(mtRecruitmentStatusTrackingAdd.MTRecruitmentStatusID.CellAttributes)>
<span id="el_MTRecruitmentStatusTracking_MTRecruitmentStatusID">
<input type="@(mtRecruitmentStatusTrackingAdd.MTRecruitmentStatusID.InputTextType)" name="x_MTRecruitmentStatusID" id="x_MTRecruitmentStatusID" data-table="MTRecruitmentStatusTracking" data-field="x_MTRecruitmentStatusID" value="@Html.Raw(mtRecruitmentStatusTrackingAdd.MTRecruitmentStatusID.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(mtRecruitmentStatusTrackingAdd.MTRecruitmentStatusID.PlaceHolder))" data-format-pattern="@(mtRecruitmentStatusTrackingAdd.MTRecruitmentStatusID.FormatPattern)"@Html.Raw(mtRecruitmentStatusTrackingAdd.MTRecruitmentStatusID.EditAttributes) aria-describedby="x_MTRecruitmentStatusID_help">
@Html.Raw(mtRecruitmentStatusTrackingAdd.MTRecruitmentStatusID.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mtRecruitmentStatusTrackingAdd.MTRecruitmentStatusID.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* mtRecruitmentStatusTrackingAdd.MTRecruitmentStatusID.Visible (end) *@
@if (mtRecruitmentStatusTrackingAdd.Flag.Visible) { // mtRecruitmentStatusTrackingAdd.Flag.Visible (begin)
    <div id="r_Flag" @Html.Raw(mtRecruitmentStatusTrackingAdd.Flag.RowAttributes)>
        <label id="elh_MTRecruitmentStatusTracking_Flag" for="x_Flag" class="@(mtRecruitmentStatusTrackingAdd.LeftColumnClass)">@Html.Raw(mtRecruitmentStatusTrackingAdd.Flag.Caption)@Html.Raw(mtRecruitmentStatusTrackingAdd.Flag.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtRecruitmentStatusTrackingAdd.RightColumnClass)"><div @Html.Raw(mtRecruitmentStatusTrackingAdd.Flag.CellAttributes)>
<span id="el_MTRecruitmentStatusTracking_Flag">
<input type="@(mtRecruitmentStatusTrackingAdd.Flag.InputTextType)" name="x_Flag" id="x_Flag" data-table="MTRecruitmentStatusTracking" data-field="x_Flag" value="@Html.Raw(mtRecruitmentStatusTrackingAdd.Flag.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(mtRecruitmentStatusTrackingAdd.Flag.PlaceHolder))" data-format-pattern="@(mtRecruitmentStatusTrackingAdd.Flag.FormatPattern)"@Html.Raw(mtRecruitmentStatusTrackingAdd.Flag.EditAttributes) aria-describedby="x_Flag_help">
@Html.Raw(mtRecruitmentStatusTrackingAdd.Flag.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mtRecruitmentStatusTrackingAdd.Flag.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* mtRecruitmentStatusTrackingAdd.Flag.Visible (end) *@
@if (mtRecruitmentStatusTrackingAdd.FlagDescription.Visible) { // mtRecruitmentStatusTrackingAdd.FlagDescription.Visible (begin)
    <div id="r_FlagDescription" @Html.Raw(mtRecruitmentStatusTrackingAdd.FlagDescription.RowAttributes)>
        <label id="elh_MTRecruitmentStatusTracking_FlagDescription" for="x_FlagDescription" class="@(mtRecruitmentStatusTrackingAdd.LeftColumnClass)">@Html.Raw(mtRecruitmentStatusTrackingAdd.FlagDescription.Caption)@Html.Raw(mtRecruitmentStatusTrackingAdd.FlagDescription.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtRecruitmentStatusTrackingAdd.RightColumnClass)"><div @Html.Raw(mtRecruitmentStatusTrackingAdd.FlagDescription.CellAttributes)>
<span id="el_MTRecruitmentStatusTracking_FlagDescription">
<input type="@(mtRecruitmentStatusTrackingAdd.FlagDescription.InputTextType)" name="x_FlagDescription" id="x_FlagDescription" data-table="MTRecruitmentStatusTracking" data-field="x_FlagDescription" value="@Html.Raw(mtRecruitmentStatusTrackingAdd.FlagDescription.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(mtRecruitmentStatusTrackingAdd.FlagDescription.PlaceHolder))" data-format-pattern="@(mtRecruitmentStatusTrackingAdd.FlagDescription.FormatPattern)"@Html.Raw(mtRecruitmentStatusTrackingAdd.FlagDescription.EditAttributes) aria-describedby="x_FlagDescription_help">
@Html.Raw(mtRecruitmentStatusTrackingAdd.FlagDescription.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mtRecruitmentStatusTrackingAdd.FlagDescription.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* mtRecruitmentStatusTrackingAdd.FlagDescription.Visible (end) *@
@if (mtRecruitmentStatusTrackingAdd.CreatedByUserID.Visible) { // mtRecruitmentStatusTrackingAdd.CreatedByUserID.Visible (begin)
    <div id="r_CreatedByUserID" @Html.Raw(mtRecruitmentStatusTrackingAdd.CreatedByUserID.RowAttributes)>
        <label id="elh_MTRecruitmentStatusTracking_CreatedByUserID" for="x_CreatedByUserID" class="@(mtRecruitmentStatusTrackingAdd.LeftColumnClass)">@Html.Raw(mtRecruitmentStatusTrackingAdd.CreatedByUserID.Caption)@Html.Raw(mtRecruitmentStatusTrackingAdd.CreatedByUserID.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtRecruitmentStatusTrackingAdd.RightColumnClass)"><div @Html.Raw(mtRecruitmentStatusTrackingAdd.CreatedByUserID.CellAttributes)>
<span id="el_MTRecruitmentStatusTracking_CreatedByUserID">
<input type="@(mtRecruitmentStatusTrackingAdd.CreatedByUserID.InputTextType)" name="x_CreatedByUserID" id="x_CreatedByUserID" data-table="MTRecruitmentStatusTracking" data-field="x_CreatedByUserID" value="@Html.Raw(mtRecruitmentStatusTrackingAdd.CreatedByUserID.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(mtRecruitmentStatusTrackingAdd.CreatedByUserID.PlaceHolder))" data-format-pattern="@(mtRecruitmentStatusTrackingAdd.CreatedByUserID.FormatPattern)"@Html.Raw(mtRecruitmentStatusTrackingAdd.CreatedByUserID.EditAttributes) aria-describedby="x_CreatedByUserID_help">
@Html.Raw(mtRecruitmentStatusTrackingAdd.CreatedByUserID.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mtRecruitmentStatusTrackingAdd.CreatedByUserID.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* mtRecruitmentStatusTrackingAdd.CreatedByUserID.Visible (end) *@
@if (mtRecruitmentStatusTrackingAdd.CreatedDateTime.Visible) { // mtRecruitmentStatusTrackingAdd.CreatedDateTime.Visible (begin)
    <div id="r_CreatedDateTime" @Html.Raw(mtRecruitmentStatusTrackingAdd.CreatedDateTime.RowAttributes)>
        <label id="elh_MTRecruitmentStatusTracking_CreatedDateTime" for="x_CreatedDateTime" class="@(mtRecruitmentStatusTrackingAdd.LeftColumnClass)">@Html.Raw(mtRecruitmentStatusTrackingAdd.CreatedDateTime.Caption)@Html.Raw(mtRecruitmentStatusTrackingAdd.CreatedDateTime.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtRecruitmentStatusTrackingAdd.RightColumnClass)"><div @Html.Raw(mtRecruitmentStatusTrackingAdd.CreatedDateTime.CellAttributes)>
<span id="el_MTRecruitmentStatusTracking_CreatedDateTime">
<input type="@(mtRecruitmentStatusTrackingAdd.CreatedDateTime.InputTextType)" name="x_CreatedDateTime" id="x_CreatedDateTime" data-table="MTRecruitmentStatusTracking" data-field="x_CreatedDateTime" value="@Html.Raw(mtRecruitmentStatusTrackingAdd.CreatedDateTime.EditValue)" placeholder="@Html.Raw(HtmlEncode(mtRecruitmentStatusTrackingAdd.CreatedDateTime.PlaceHolder))" data-format-pattern="@(mtRecruitmentStatusTrackingAdd.CreatedDateTime.FormatPattern)"@Html.Raw(mtRecruitmentStatusTrackingAdd.CreatedDateTime.EditAttributes) aria-describedby="x_CreatedDateTime_help">
@Html.Raw(mtRecruitmentStatusTrackingAdd.CreatedDateTime.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mtRecruitmentStatusTrackingAdd.CreatedDateTime.GetErrorMessage())</div>
@if (!mtRecruitmentStatusTrackingAdd.CreatedDateTime.ReadOnly && !mtRecruitmentStatusTrackingAdd.CreatedDateTime.Disabled && !mtRecruitmentStatusTrackingAdd.CreatedDateTime.EditAttrs.Is("readonly") && !mtRecruitmentStatusTrackingAdd.CreatedDateTime.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fMTRecruitmentStatusTrackingadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fMTRecruitmentStatusTrackingadd", "x_CreatedDateTime", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* mtRecruitmentStatusTrackingAdd.CreatedDateTime.Visible (end) *@
@if (mtRecruitmentStatusTrackingAdd.LastUpdatedByUserID.Visible) { // mtRecruitmentStatusTrackingAdd.LastUpdatedByUserID.Visible (begin)
    <div id="r_LastUpdatedByUserID" @Html.Raw(mtRecruitmentStatusTrackingAdd.LastUpdatedByUserID.RowAttributes)>
        <label id="elh_MTRecruitmentStatusTracking_LastUpdatedByUserID" for="x_LastUpdatedByUserID" class="@(mtRecruitmentStatusTrackingAdd.LeftColumnClass)">@Html.Raw(mtRecruitmentStatusTrackingAdd.LastUpdatedByUserID.Caption)@Html.Raw(mtRecruitmentStatusTrackingAdd.LastUpdatedByUserID.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtRecruitmentStatusTrackingAdd.RightColumnClass)"><div @Html.Raw(mtRecruitmentStatusTrackingAdd.LastUpdatedByUserID.CellAttributes)>
<span id="el_MTRecruitmentStatusTracking_LastUpdatedByUserID">
<input type="@(mtRecruitmentStatusTrackingAdd.LastUpdatedByUserID.InputTextType)" name="x_LastUpdatedByUserID" id="x_LastUpdatedByUserID" data-table="MTRecruitmentStatusTracking" data-field="x_LastUpdatedByUserID" value="@Html.Raw(mtRecruitmentStatusTrackingAdd.LastUpdatedByUserID.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(mtRecruitmentStatusTrackingAdd.LastUpdatedByUserID.PlaceHolder))" data-format-pattern="@(mtRecruitmentStatusTrackingAdd.LastUpdatedByUserID.FormatPattern)"@Html.Raw(mtRecruitmentStatusTrackingAdd.LastUpdatedByUserID.EditAttributes) aria-describedby="x_LastUpdatedByUserID_help">
@Html.Raw(mtRecruitmentStatusTrackingAdd.LastUpdatedByUserID.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mtRecruitmentStatusTrackingAdd.LastUpdatedByUserID.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* mtRecruitmentStatusTrackingAdd.LastUpdatedByUserID.Visible (end) *@
@if (mtRecruitmentStatusTrackingAdd.LastUpdatedDateTime.Visible) { // mtRecruitmentStatusTrackingAdd.LastUpdatedDateTime.Visible (begin)
    <div id="r_LastUpdatedDateTime" @Html.Raw(mtRecruitmentStatusTrackingAdd.LastUpdatedDateTime.RowAttributes)>
        <label id="elh_MTRecruitmentStatusTracking_LastUpdatedDateTime" for="x_LastUpdatedDateTime" class="@(mtRecruitmentStatusTrackingAdd.LeftColumnClass)">@Html.Raw(mtRecruitmentStatusTrackingAdd.LastUpdatedDateTime.Caption)@Html.Raw(mtRecruitmentStatusTrackingAdd.LastUpdatedDateTime.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtRecruitmentStatusTrackingAdd.RightColumnClass)"><div @Html.Raw(mtRecruitmentStatusTrackingAdd.LastUpdatedDateTime.CellAttributes)>
<span id="el_MTRecruitmentStatusTracking_LastUpdatedDateTime">
<input type="@(mtRecruitmentStatusTrackingAdd.LastUpdatedDateTime.InputTextType)" name="x_LastUpdatedDateTime" id="x_LastUpdatedDateTime" data-table="MTRecruitmentStatusTracking" data-field="x_LastUpdatedDateTime" value="@Html.Raw(mtRecruitmentStatusTrackingAdd.LastUpdatedDateTime.EditValue)" placeholder="@Html.Raw(HtmlEncode(mtRecruitmentStatusTrackingAdd.LastUpdatedDateTime.PlaceHolder))" data-format-pattern="@(mtRecruitmentStatusTrackingAdd.LastUpdatedDateTime.FormatPattern)"@Html.Raw(mtRecruitmentStatusTrackingAdd.LastUpdatedDateTime.EditAttributes) aria-describedby="x_LastUpdatedDateTime_help">
@Html.Raw(mtRecruitmentStatusTrackingAdd.LastUpdatedDateTime.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mtRecruitmentStatusTrackingAdd.LastUpdatedDateTime.GetErrorMessage())</div>
@if (!mtRecruitmentStatusTrackingAdd.LastUpdatedDateTime.ReadOnly && !mtRecruitmentStatusTrackingAdd.LastUpdatedDateTime.Disabled && !mtRecruitmentStatusTrackingAdd.LastUpdatedDateTime.EditAttrs.Is("readonly") && !mtRecruitmentStatusTrackingAdd.LastUpdatedDateTime.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fMTRecruitmentStatusTrackingadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fMTRecruitmentStatusTrackingadd", "x_LastUpdatedDateTime", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* mtRecruitmentStatusTrackingAdd.LastUpdatedDateTime.Visible (end) *@
</div><!-- /page* -->
@{ mtRecruitmentStatusTrackingAdd.CloseRecordset(); }
@Html.Raw(mtRecruitmentStatusTrackingAdd.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(mtRecruitmentStatusTrackingAdd.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fMTRecruitmentStatusTrackingadd">@Html.Raw(Language.Phrase("AddBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fMTRecruitmentStatusTrackingadd" data-href="@AppPath(mtRecruitmentStatusTrackingAdd.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(mtRecruitmentStatusTrackingAdd.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
@mtRecruitmentStatusTrackingAdd.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("MTRecruitmentStatusTracking");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
