@{
    // View
    View = this;

    // Check action result
    if (mtUserDelete.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!mtUserDelete.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(mtUserDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MTUser: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fMTUserdelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMTUserdelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@mtUserDelete.ShowPageHeader()
@mtUserDelete.ShowMessages()
<form name="fMTUserdelete" id="fMTUserdelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in mtUserDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(mtUserDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(mtUserDelete.TableContainerClass)" style="@(mtUserDelete.TableContainerStyle)">
<table class="@(mtUserDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (mtUserDelete._Email.Visible) { // mtUserDelete._Email.Visible (begin)
        <th class="@Html.Raw(mtUserDelete._Email.HeaderCellClass)"><span id="elh_MTUser__Email" class="MTUser__Email">@Html.Raw(mtUserDelete._Email.Caption)</span></th>
} @* mtUserDelete._Email.Visible (end) *@
@if (mtUserDelete.FullName.Visible) { // mtUserDelete.FullName.Visible (begin)
        <th class="@Html.Raw(mtUserDelete.FullName.HeaderCellClass)"><span id="elh_MTUser_FullName" class="MTUser_FullName">@Html.Raw(mtUserDelete.FullName.Caption)</span></th>
} @* mtUserDelete.FullName.Visible (end) *@
@if (mtUserDelete.MTUserLevelID.Visible) { // mtUserDelete.MTUserLevelID.Visible (begin)
        <th class="@Html.Raw(mtUserDelete.MTUserLevelID.HeaderCellClass)"><span id="elh_MTUser_MTUserLevelID" class="MTUser_MTUserLevelID">@Html.Raw(mtUserDelete.MTUserLevelID.Caption)</span></th>
} @* mtUserDelete.MTUserLevelID.Visible (end) *@
@if (mtUserDelete.SeafarerID.Visible) { // mtUserDelete.SeafarerID.Visible (begin)
        <th class="@Html.Raw(mtUserDelete.SeafarerID.HeaderCellClass)"><span id="elh_MTUser_SeafarerID" class="MTUser_SeafarerID">@Html.Raw(mtUserDelete.SeafarerID.Caption)</span></th>
} @* mtUserDelete.SeafarerID.Visible (end) *@
@if (mtUserDelete.MTManningAgentID.Visible) { // mtUserDelete.MTManningAgentID.Visible (begin)
        <th class="@Html.Raw(mtUserDelete.MTManningAgentID.HeaderCellClass)"><span id="elh_MTUser_MTManningAgentID" class="MTUser_MTManningAgentID">@Html.Raw(mtUserDelete.MTManningAgentID.Caption)</span></th>
} @* mtUserDelete.MTManningAgentID.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ mtUserDelete.RecordCount = 0; }
@while (mtUserDelete.Recordset != null && await mtUserDelete.Recordset.ReadAsync()) { // DN
    mtUserDelete.RecordCount++;
    mtUserDelete.RowCount++;

    // Set row properties
    mtUserDelete.ResetAttributes();
    mtUserDelete.RowType = RowType.View; // View

    // Get the field contents
    await mtUserDelete.LoadRowValues(mtUserDelete.Recordset);

    // Render row
    await mtUserDelete.RenderRow();
    <tr @Html.Raw(mtUserDelete.RowAttributes)>
@if (mtUserDelete._Email.Visible) { // mtUserDelete._Email.Visible (begin)
        <td @Html.Raw(mtUserDelete._Email.CellAttributes)>
<span id="el@(mtUserDelete.RowCount)_MTUser__Email" class="el_MTUser__Email">
<span @Html.Raw(mtUserDelete._Email.ViewAttributes)>
@Html.Raw(mtUserDelete._Email.GetViewValue())</span>
</span></td>
} @* mtUserDelete._Email.Visible (end) *@
@if (mtUserDelete.FullName.Visible) { // mtUserDelete.FullName.Visible (begin)
        <td @Html.Raw(mtUserDelete.FullName.CellAttributes)>
<span id="el@(mtUserDelete.RowCount)_MTUser_FullName" class="el_MTUser_FullName">
<span @Html.Raw(mtUserDelete.FullName.ViewAttributes)>
@Html.Raw(mtUserDelete.FullName.GetViewValue())</span>
</span></td>
} @* mtUserDelete.FullName.Visible (end) *@
@if (mtUserDelete.MTUserLevelID.Visible) { // mtUserDelete.MTUserLevelID.Visible (begin)
        <td @Html.Raw(mtUserDelete.MTUserLevelID.CellAttributes)>
<span id="el@(mtUserDelete.RowCount)_MTUser_MTUserLevelID" class="el_MTUser_MTUserLevelID">
<span @Html.Raw(mtUserDelete.MTUserLevelID.ViewAttributes)>
@Html.Raw(mtUserDelete.MTUserLevelID.GetViewValue())</span>
</span></td>
} @* mtUserDelete.MTUserLevelID.Visible (end) *@
@if (mtUserDelete.SeafarerID.Visible) { // mtUserDelete.SeafarerID.Visible (begin)
        <td @Html.Raw(mtUserDelete.SeafarerID.CellAttributes)>
<span id="el@(mtUserDelete.RowCount)_MTUser_SeafarerID" class="el_MTUser_SeafarerID">
<span @Html.Raw(mtUserDelete.SeafarerID.ViewAttributes)>
@Html.Raw(mtUserDelete.SeafarerID.GetViewValue())</span>
</span></td>
} @* mtUserDelete.SeafarerID.Visible (end) *@
@if (mtUserDelete.MTManningAgentID.Visible) { // mtUserDelete.MTManningAgentID.Visible (begin)
        <td @Html.Raw(mtUserDelete.MTManningAgentID.CellAttributes)>
<span id="el@(mtUserDelete.RowCount)_MTUser_MTManningAgentID" class="el_MTUser_MTManningAgentID">
<span @Html.Raw(mtUserDelete.MTManningAgentID.ViewAttributes)>
@Html.Raw(mtUserDelete.MTManningAgentID.GetViewValue())</span>
</span></td>
} @* mtUserDelete.MTManningAgentID.Visible (end) *@
    </tr>
}
@{ mtUserDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(mtUserDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@mtUserDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
