@{
    // View
    View = this;

    // Check action result
    if (mtUserLevelPermissionView.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!mtUserLevelPermissionView.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
@if (!mtUserLevelPermissionView.IsExport()) {
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!mtUserLevelPermissionView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @mtUserLevelPermissionView.ExportOptions.RenderBody()
    @mtUserLevelPermissionView.OtherOptions.RenderBody()
</div>
}
@mtUserLevelPermissionView.ShowPageHeader()
@mtUserLevelPermissionView.ShowMessages()
<main class="view">
<form name="fMTUserLevelPermissionview" id="fMTUserLevelPermissionview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (!mtUserLevelPermissionView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(mtUserLevelPermissionView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MTUserLevelPermission: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fMTUserLevelPermissionview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMTUserLevelPermissionview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
}
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(mtUserLevelPermissionView.IsModal)">
<table class="@(mtUserLevelPermissionView.TableClass)">
@if (mtUserLevelPermissionView.UserLevelID.Visible) { // mtUserLevelPermissionView.UserLevelID.Visible (begin)
    <tr id="r_UserLevelID" @Html.Raw(mtUserLevelPermissionView.UserLevelID.RowAttributes)>
        <td class="@(mtUserLevelPermissionView.TableLeftColumnClass)"><span id="elh_MTUserLevelPermission_UserLevelID">@Html.Raw(mtUserLevelPermissionView.UserLevelID.Caption)</span></td>
        <td data-name="UserLevelID" @Html.Raw(mtUserLevelPermissionView.UserLevelID.CellAttributes)>
<span id="el_MTUserLevelPermission_UserLevelID">
<span @Html.Raw(mtUserLevelPermissionView.UserLevelID.ViewAttributes)>
@Html.Raw(mtUserLevelPermissionView.UserLevelID.GetViewValue())</span>
</span></td>
    </tr>
} @* mtUserLevelPermissionView.UserLevelID.Visible (end) *@
@if (mtUserLevelPermissionView._TableName.Visible) { // mtUserLevelPermissionView._TableName.Visible (begin)
    <tr id="r__TableName" @Html.Raw(mtUserLevelPermissionView._TableName.RowAttributes)>
        <td class="@(mtUserLevelPermissionView.TableLeftColumnClass)"><span id="elh_MTUserLevelPermission__TableName">@Html.Raw(mtUserLevelPermissionView._TableName.Caption)</span></td>
        <td data-name="_TableName" @Html.Raw(mtUserLevelPermissionView._TableName.CellAttributes)>
<span id="el_MTUserLevelPermission__TableName">
<span @Html.Raw(mtUserLevelPermissionView._TableName.ViewAttributes)>
@Html.Raw(mtUserLevelPermissionView._TableName.GetViewValue())</span>
</span></td>
    </tr>
} @* mtUserLevelPermissionView._TableName.Visible (end) *@
@if (mtUserLevelPermissionView.Permission.Visible) { // mtUserLevelPermissionView.Permission.Visible (begin)
    <tr id="r_Permission" @Html.Raw(mtUserLevelPermissionView.Permission.RowAttributes)>
        <td class="@(mtUserLevelPermissionView.TableLeftColumnClass)"><span id="elh_MTUserLevelPermission_Permission">@Html.Raw(mtUserLevelPermissionView.Permission.Caption)</span></td>
        <td data-name="Permission" @Html.Raw(mtUserLevelPermissionView.Permission.CellAttributes)>
<span id="el_MTUserLevelPermission_Permission">
<span @Html.Raw(mtUserLevelPermissionView.Permission.ViewAttributes)>
@Html.Raw(mtUserLevelPermissionView.Permission.GetViewValue())</span>
</span></td>
    </tr>
} @* mtUserLevelPermissionView.Permission.Visible (end) *@
</table>
@{ mtUserLevelPermissionView.CloseRecordset(); }
</form>
</main>
@mtUserLevelPermissionView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!mtUserLevelPermissionView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
