@{
    // View
    View = this;

    // Check action result
    if (mtUserLevelList.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!mtUserLevelList.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
@if (!mtUserLevelList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(mtUserLevelList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MTUserLevel: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(mtUserLevelList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(mtUserLevelList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(mtUserLevelList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(mtUserLevelList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
ew.PREVIEW_SELECTOR = ".ew-preview-btn";
ew.PREVIEW_MODAL_CLASS = "modal modal-fullscreen-sm-down";
ew.PREVIEW_ROW = true;
ew.PREVIEW_SINGLE_ROW = false;
ew.PREVIEW || ew.ready("head", ew.PATH_BASE + "js/preview.min.js?v=20.1.0", "preview");
</script>
<script>
window.Tabulator || loadjs([
    ew.PATH_BASE + "js/tabulator.min.js?v=20.1.5",
    ew.PATH_BASE + "css/@CssFile("tabulator_bootstrap5.css", false)?v=20.1.5"
], "import");
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!mtUserLevelList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (mtUserLevelList.TotalRecords > 0 && mtUserLevelList.ExportOptions.Visible) {
    mtUserLevelList.ExportOptions.Render("body");
}
@if (mtUserLevelList.ImportOptions.Visible) {
    mtUserLevelList.ImportOptions.Render("body");
}
@if (mtUserLevelList.SearchOptions.Visible) {
    mtUserLevelList.SearchOptions.Render("body");
}
@if (mtUserLevelList.FilterOptions.Visible) {
    mtUserLevelList.FilterOptions.Render("body");
}
</div>
}
@if (!mtUserLevelList.IsModal) {
<form name="fMTUserLevelsrch" id="fMTUserLevelsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" autocomplete="on">
<div id="fMTUserLevelsrch_search_panel" class="mb-2 mb-sm-0 @(mtUserLevelList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(mtUserLevelList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MTUserLevel: currentTable } });
var currentForm;
var fMTUserLevelsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fMTUserLevelsrch")
        .setPageId("list")
@if (mtUserLevelList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(await mtUserLevelList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!mtUserLevelList.IsExport() && Empty(mtUserLevelList.CurrentAction) && mtUserLevelList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(mtUserLevelList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(mtUserLevelList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(mtUserLevelList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(mtUserLevelList.BasicSearch.SessionType == "" ? " active" : "")" form="fMTUserLevelsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(mtUserLevelList.BasicSearch.SessionType == "=" ? " active" : "")" form="fMTUserLevelsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(mtUserLevelList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fMTUserLevelsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(mtUserLevelList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fMTUserLevelsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@mtUserLevelList.ShowPageHeader()
@mtUserLevelList.ShowMessages()
<main class="list @(mtUserLevelList.TotalRecords == 0 && !mtUserLevelList.IsAdd ? " ew-no-record" : "")">
<div id="ew-list">
@if (mtUserLevelList.TotalRecords > 0 || !Empty(mtUserLevelList.CurrentAction)) {
<div class="card ew-card ew-grid@(mtUserLevelList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(mtUserLevelList.TableGridClass)">
<form name="@(mtUserLevelList.FormName)" id="@(mtUserLevelList.FormName)" class="ew-form ew-list-form" action="@AppPath(mtUserLevelList.PageName)" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (mtUserLevelList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_MTUserLevel" class="card-body ew-grid-middle-panel @(mtUserLevelList.TableContainerClass)" style="@(mtUserLevelList.TableContainerStyle)">
@if (mtUserLevelList.TotalRecords > 0 || mtUserLevelList.IsGridEdit || mtUserLevelList.IsMultiEdit) {
<table id="tbl_MTUserLevellist" class="@(mtUserLevelList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    mtUserLevelList.RowType = RowType.Header;

    // Render list options
    await mtUserLevelList.RenderListOptions();
}
@* Render list options (header, left) *@
@mtUserLevelList.ListOptions.RenderHeader("left")
@if (mtUserLevelList.UserLevelID.Visible) { // mtUserLevelList.UserLevelID.Visible (begin)
        <th data-name="UserLevelID" class="@(mtUserLevelList.UserLevelID.HeaderCellClass)" style="white-space: nowrap;"><div id="elh_MTUserLevel_UserLevelID" class="MTUserLevel_UserLevelID">@Html.Raw(mtUserLevelList.RenderFieldHeader(mtUserLevelList.UserLevelID))</div></th>
} @* mtUserLevelList.UserLevelID.Visible (end) *@
@if (mtUserLevelList.UserLevelName.Visible) { // mtUserLevelList.UserLevelName.Visible (begin)
        <th data-name="UserLevelName" class="@(mtUserLevelList.UserLevelName.HeaderCellClass)" style="white-space: nowrap;"><div id="elh_MTUserLevel_UserLevelName" class="MTUserLevel_UserLevelName">@Html.Raw(mtUserLevelList.RenderFieldHeader(mtUserLevelList.UserLevelName))</div></th>
} @* mtUserLevelList.UserLevelName.Visible (end) *@
@* Render list options (header, right) *@
@mtUserLevelList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(mtUserLevelList.PageNumber)">
@{
    await mtUserLevelList.SetupGrid();
    bool eof = mtUserLevelList.Recordset == null; // DN
}
@while (mtUserLevelList.RecordCount < mtUserLevelList.StopRecord || SameString(mtUserLevelList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(mtUserLevelList.RowIndex, "$rowindex$") &&
        (!mtUserLevelList.IsGridAdd || mtUserLevelList.CurrentMode == "copy") &&
        (!((mtUserLevelList.IsCopy || mtUserLevelList.IsAdd) && mtUserLevelList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await mtUserLevelList.Recordset.ReadAsync();
    mtUserLevelList.RecordCount++;
    if (mtUserLevelList.RecordCount >= mtUserLevelList.StartRecord) {
        await mtUserLevelList.SetupRow();
    <tr @Html.Raw(mtUserLevelList.RowAttributes)>
    @* Render list options (body, left) *@
    @mtUserLevelList.ListOptions.RenderBody("left", mtUserLevelList.RowCount)
    @if (mtUserLevelList.UserLevelID.Visible) { // mtUserLevelList.UserLevelID.Visible (begin)
        <td data-name="UserLevelID" @Html.Raw(mtUserLevelList.UserLevelID.CellAttributes)>
<span id="el@(mtUserLevelList.RowCount)_MTUserLevel_UserLevelID" class="el_MTUserLevel_UserLevelID">
<span @Html.Raw(mtUserLevelList.UserLevelID.ViewAttributes)>
@Html.Raw(mtUserLevelList.UserLevelID.GetViewValue())</span>
</span>
</td>
    } @* mtUserLevelList.UserLevelID.Visible (end) *@
    @if (mtUserLevelList.UserLevelName.Visible) { // mtUserLevelList.UserLevelName.Visible (begin)
        <td data-name="UserLevelName" @Html.Raw(mtUserLevelList.UserLevelName.CellAttributes)>
<span id="el@(mtUserLevelList.RowCount)_MTUserLevel_UserLevelName" class="el_MTUserLevel_UserLevelName">
<span @Html.Raw(mtUserLevelList.UserLevelName.ViewAttributes)>
@Html.Raw(mtUserLevelList.UserLevelName.GetViewValue())</span>
</span>
</td>
    } @* mtUserLevelList.UserLevelName.Visible (end) *@
    @* Render list options (body, right) *@
    @mtUserLevelList.ListOptions.RenderBody("right", mtUserLevelList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(mtUserLevelList.RowIndex, "$rowindex$"))
        mtUserLevelList.RowIndex = 0;

    // Reset inline add/copy row
    if ((mtUserLevelList.IsCopy || mtUserLevelList.IsAdd) && mtUserLevelList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        mtUserLevelList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(mtUserLevelList.CurrentAction) && !mtUserLevelList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ mtUserLevelList.CloseRecordset(); }
@if (!mtUserLevelList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!mtUserLevelList.IsGridAdd && !(mtUserLevelList.IsGridEdit && mtUserLevelList.ModalGridEdit) && !mtUserLevelList.IsMultiEdit) {
@Html.Raw(mtUserLevelList.Pager.Render())
}
<div class="ew-list-other-options">
@mtUserLevelList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@mtUserLevelList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
</main>
@mtUserLevelList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!mtUserLevelList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("MTUserLevel");
});
</script>
<script>
loadjs.ready("load", function() {
    // Startup script
    // Write your table-specific startup script here
    // document.write("page loaded");
    const navbarHeightWithPadding = $('body div.wrapper.ew-layout nav.main-header').outerHeight();
    const contentHeaderHeightWithPadding = $('body div.wrapper.ew-layout div.content-wrapper div.content-header').outerHeight();
    const toolbarHeightWithPadding = $('body div.wrapper.ew-layout div.content-wrapper section.content div.container-fluid div.btn-toolbar.ew-toolbar').outerHeight();
    const searchFormHeightWithPadding = $('body div.wrapper.ew-layout div.content-wrapper section.content div.container-fluid form.ew-form.ew-ext-search-form').outerHeight();
    const tableFooterHeightWithPadding = $('main div div.card.ew-card div.card-footer').outerHeight();
    const nonTableHeightTotal = navbarHeightWithPadding + contentHeaderHeightWithPadding + toolbarHeightWithPadding + searchFormHeightWithPadding + tableFooterHeightWithPadding;
    const marginBottom = '20px';
    const tableHeight = `calc(100vh - ${nonTableHeightTotal}px - ${marginBottom})`;
    $('main div div.card.ew-card form div.table-responsive').css('max-height', tableHeight);
});
</script>
}
