@{
    // View
    View = this;

    // Check action result
    if (mtUserLevelAdd.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!mtUserLevelAdd.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(mtUserLevelAdd.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MTUserLevel: currentTable } });
var currentPageID = ew.PAGE_ID = "add";
var currentForm;
var fMTUserLeveladd;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMTUserLeveladd")
        .setPageId("add")

        // Add fields
        .setFields([

            ["UserLevelID", [fields.UserLevelID.visible && fields.UserLevelID.required ? ew.Validators.required(fields.UserLevelID.caption) : null, ew.Validators.userLevelId, ew.Validators.integer], fields.UserLevelID.isInvalid],
            ["UserLevelName", [fields.UserLevelName.visible && fields.UserLevelName.required ? ew.Validators.required(fields.UserLevelName.caption) : null, ew.Validators.userLevelName('UserLevelID')], fields.UserLevelName.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@mtUserLevelAdd.ShowPageHeader()
@mtUserLevelAdd.ShowMessages()
<form name="fMTUserLeveladd" id="fMTUserLeveladd" class="@(mtUserLevelAdd.FormClassName)" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="insert">
<input type="hidden" name="modal" value="@ConvertToInt(mtUserLevelAdd.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(mtUserLevelAdd.OldKeyName)" value="@Html.Raw(mtUserLevelAdd.OldKey)">
<div class="ew-add-div"><!-- page* -->
@if (mtUserLevelAdd.UserLevelID.Visible) { // mtUserLevelAdd.UserLevelID.Visible (begin)
    <div id="r_UserLevelID" @Html.Raw(mtUserLevelAdd.UserLevelID.RowAttributes)>
        <label id="elh_MTUserLevel_UserLevelID" for="x_UserLevelID" class="@(mtUserLevelAdd.LeftColumnClass)">@Html.Raw(mtUserLevelAdd.UserLevelID.Caption)@Html.Raw(mtUserLevelAdd.UserLevelID.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtUserLevelAdd.RightColumnClass)"><div @Html.Raw(mtUserLevelAdd.UserLevelID.CellAttributes)>
<span id="el_MTUserLevel_UserLevelID">
<input type="@(mtUserLevelAdd.UserLevelID.InputTextType)" name="x_UserLevelID" id="x_UserLevelID" data-table="MTUserLevel" data-field="x_UserLevelID" value="@Html.Raw(mtUserLevelAdd.UserLevelID.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(mtUserLevelAdd.UserLevelID.PlaceHolder))" data-format-pattern="@(mtUserLevelAdd.UserLevelID.FormatPattern)"@Html.Raw(mtUserLevelAdd.UserLevelID.EditAttributes) aria-describedby="x_UserLevelID_help">
@Html.Raw(mtUserLevelAdd.UserLevelID.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mtUserLevelAdd.UserLevelID.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* mtUserLevelAdd.UserLevelID.Visible (end) *@
@if (mtUserLevelAdd.UserLevelName.Visible) { // mtUserLevelAdd.UserLevelName.Visible (begin)
    <div id="r_UserLevelName" @Html.Raw(mtUserLevelAdd.UserLevelName.RowAttributes)>
        <label id="elh_MTUserLevel_UserLevelName" for="x_UserLevelName" class="@(mtUserLevelAdd.LeftColumnClass)">@Html.Raw(mtUserLevelAdd.UserLevelName.Caption)@Html.Raw(mtUserLevelAdd.UserLevelName.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtUserLevelAdd.RightColumnClass)"><div @Html.Raw(mtUserLevelAdd.UserLevelName.CellAttributes)>
<span id="el_MTUserLevel_UserLevelName">
<input type="@(mtUserLevelAdd.UserLevelName.InputTextType)" name="x_UserLevelName" id="x_UserLevelName" data-table="MTUserLevel" data-field="x_UserLevelName" value="@Html.Raw(mtUserLevelAdd.UserLevelName.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(mtUserLevelAdd.UserLevelName.PlaceHolder))" data-format-pattern="@(mtUserLevelAdd.UserLevelName.FormatPattern)"@Html.Raw(mtUserLevelAdd.UserLevelName.EditAttributes) aria-describedby="x_UserLevelName_help">
@Html.Raw(mtUserLevelAdd.UserLevelName.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mtUserLevelAdd.UserLevelName.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* mtUserLevelAdd.UserLevelName.Visible (end) *@
    <!-- row for permission values -->
    <div id="rp_permission" class="row">
        <label id="elh_permission" class="@(mtUserLevelAdd.LeftColumnClass)">@Html.Raw(Language.Phrase("Permission", true))</label>
        <div class="@(mtUserLevelAdd.RightColumnClass)">
@foreach (string privilege in Config.Privileges) {
    if (privilege != "admin" || IsSysAdmin()) {
        var priv = TitleCase(privilege);
        var value = Enum.Parse<Allow>(priv);
        var phrase = Language.Phrase("Permission" + priv);
            <div class="form-check">
                <input type="checkbox" class="form-check-input" name="x__Allow@(priv)" id="@priv" value="@value"><label class="form-check-label" for="@priv">@Html.Raw(phrase)</label>
            </div>
    }
}
        </div>
    </div>
</div><!-- /page* -->
@{ mtUserLevelAdd.CloseRecordset(); }
@Html.Raw(mtUserLevelAdd.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(mtUserLevelAdd.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fMTUserLeveladd">@Html.Raw(Language.Phrase("AddBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fMTUserLeveladd" data-href="@AppPath(mtUserLevelAdd.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(mtUserLevelAdd.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
@mtUserLevelAdd.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("MTUserLevel");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
