@{
    // View
    View = this;

    // Check action result
    if (mtVesselTypeSearch.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!mtVesselTypeSearch.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(mtVesselTypeSearch.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MTVesselType: currentTable } });
var currentPageID = ew.PAGE_ID = "search";
var currentForm;
var fMTVesselTypesearch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fMTVesselTypesearch")
        .setPageId("search")
@if (mtVesselTypeSearch.IsModal && mtVesselTypeSearch.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Add fields
        .setFields([

            ["Abbreviation", [], fields.Abbreviation.isInvalid],
            ["_Name", [], fields._Name.isInvalid],
            ["CreatedByUserID", [], fields.CreatedByUserID.isInvalid],
            ["CreatedDateTime", [ew.Validators.datetime(fields.CreatedDateTime.clientFormatPattern)], fields.CreatedDateTime.isInvalid],
            ["LastUpdatedByUserID", [], fields.LastUpdatedByUserID.isInvalid],
            ["LastUpdatedDateTime", [ew.Validators.datetime(fields.LastUpdatedDateTime.clientFormatPattern)], fields.LastUpdatedDateTime.isInvalid]
        ])
        // Validate form
        .setValidate(
            async function () {
                if (!this.validateRequired)
                    return true; // Ignore validation
                let fobj = this.getForm();

                // Validate fields
                if (!this.validateFields())
                    return false;

                // Call Form_CustomValidate event
                if (!(await this.customValidate?.(fobj) ?? true)) {
                    this.focus();
                    return false;
                }
                return true;
            }
        )

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "CreatedByUserID": @Html.Raw(mtVesselTypeSearch.CreatedByUserID.ToClientList(mtVesselTypeSearch)),
            "LastUpdatedByUserID": @Html.Raw(mtVesselTypeSearch.LastUpdatedByUserID.ToClientList(mtVesselTypeSearch)),
        })
        .build();
    window[form.id] = form;
@if (mtVesselTypeSearch.IsModal) {
    <text>currentAdvancedSearchForm = form;</text>
} else {
    <text>currentForm = form;</text>
}
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@mtVesselTypeSearch.ShowPageHeader()
@mtVesselTypeSearch.ShowMessages()
<form name="fMTVesselTypesearch" id="fMTVesselTypesearch" class="@(mtVesselTypeSearch.FormClassName)" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="search">
@if (mtVesselTypeSearch.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div class="ew-search-div"><!-- page* -->
@if (mtVesselTypeSearch.Abbreviation.Visible) { // mtVesselTypeSearch.Abbreviation.Visible (begin)
    <div id="r_Abbreviation" class="row" @Html.Raw(mtVesselTypeSearch.Abbreviation.RowAttributes)>
        <label for="x_Abbreviation" class="@(mtVesselTypeSearch.LeftColumnClass)"><span id="elh_MTVesselType_Abbreviation">@Html.Raw(mtVesselTypeSearch.Abbreviation.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("LIKE"))
<input type="hidden" name="z_Abbreviation" id="z_Abbreviation" value="LIKE">
</span>
        </label>
        <div class="@(mtVesselTypeSearch.RightColumnClass)">
            <div @Html.Raw(mtVesselTypeSearch.Abbreviation.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_MTVesselType_Abbreviation" class="ew-search-field ew-search-field-single">
<input type="@(mtVesselTypeSearch.Abbreviation.InputTextType)" name="x_Abbreviation" id="x_Abbreviation" data-table="MTVesselType" data-field="x_Abbreviation" value="@Html.Raw(mtVesselTypeSearch.Abbreviation.EditValue)" size="30" maxlength="4" placeholder="@Html.Raw(HtmlEncode(mtVesselTypeSearch.Abbreviation.PlaceHolder))" data-format-pattern="@(mtVesselTypeSearch.Abbreviation.FormatPattern)"@Html.Raw(mtVesselTypeSearch.Abbreviation.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(mtVesselTypeSearch.Abbreviation.GetErrorMessage(false))</div>
</span>
                </div>
            </div>
        </div>
    </div>
} @* mtVesselTypeSearch.Abbreviation.Visible (end) *@
@if (mtVesselTypeSearch._Name.Visible) { // mtVesselTypeSearch._Name.Visible (begin)
    <div id="r__Name" class="row" @Html.Raw(mtVesselTypeSearch._Name.RowAttributes)>
        <label for="x__Name" class="@(mtVesselTypeSearch.LeftColumnClass)"><span id="elh_MTVesselType__Name">@Html.Raw(mtVesselTypeSearch._Name.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("LIKE"))
<input type="hidden" name="z__Name" id="z__Name" value="LIKE">
</span>
        </label>
        <div class="@(mtVesselTypeSearch.RightColumnClass)">
            <div @Html.Raw(mtVesselTypeSearch._Name.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_MTVesselType__Name" class="ew-search-field ew-search-field-single">
<input type="@(mtVesselTypeSearch._Name.InputTextType)" name="x__Name" id="x__Name" data-table="MTVesselType" data-field="x__Name" value="@Html.Raw(mtVesselTypeSearch._Name.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(mtVesselTypeSearch._Name.PlaceHolder))" data-format-pattern="@(mtVesselTypeSearch._Name.FormatPattern)"@Html.Raw(mtVesselTypeSearch._Name.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(mtVesselTypeSearch._Name.GetErrorMessage(false))</div>
</span>
                </div>
            </div>
        </div>
    </div>
} @* mtVesselTypeSearch._Name.Visible (end) *@
@if (mtVesselTypeSearch.CreatedByUserID.Visible) { // mtVesselTypeSearch.CreatedByUserID.Visible (begin)
    <div id="r_CreatedByUserID" class="row" @Html.Raw(mtVesselTypeSearch.CreatedByUserID.RowAttributes)>
        <label for="x_CreatedByUserID" class="@(mtVesselTypeSearch.LeftColumnClass)"><span id="elh_MTVesselType_CreatedByUserID">@Html.Raw(mtVesselTypeSearch.CreatedByUserID.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("="))
<input type="hidden" name="z_CreatedByUserID" id="z_CreatedByUserID" value="=">
</span>
        </label>
        <div class="@(mtVesselTypeSearch.RightColumnClass)">
            <div @Html.Raw(mtVesselTypeSearch.CreatedByUserID.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_MTVesselType_CreatedByUserID" class="ew-search-field ew-search-field-single">
    <select
        id="x_CreatedByUserID"
        name="x_CreatedByUserID"
        class="form-select ew-select@(mtVesselTypeSearch.CreatedByUserID.IsInvalidClass)"
        data-select2-id="fMTVesselTypesearch_x_CreatedByUserID"
        data-table="MTVesselType"
        data-field="x_CreatedByUserID"
        data-value-separator="@(mtVesselTypeSearch.CreatedByUserID.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(mtVesselTypeSearch.CreatedByUserID.PlaceHolder))"
        @Html.Raw(mtVesselTypeSearch.CreatedByUserID.EditAttributes)>
        @(mtVesselTypeSearch.CreatedByUserID.SelectOptionListHtml("x_CreatedByUserID"))
    </select>
    <div class="invalid-feedback">@Html.Raw(mtVesselTypeSearch.CreatedByUserID.GetErrorMessage(false))</div>
@Html.Raw(mtVesselTypeSearch.CreatedByUserID.Lookup.GetParamTag(mtVesselTypeSearch, "p_x_CreatedByUserID"))
<script>
loadjs.ready("fMTVesselTypesearch", function() {
    var options = { name: "x_CreatedByUserID", selectId: "fMTVesselTypesearch_x_CreatedByUserID" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fMTVesselTypesearch.lists.CreatedByUserID?.lookupOptions.length) {
        options.data = { id: "x_CreatedByUserID", form: "fMTVesselTypesearch" };
    } else {
        options.ajax = { id: "x_CreatedByUserID", form: "fMTVesselTypesearch", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumInputLength = ew.selectMinimumInputLength;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.MTVesselType.fields.CreatedByUserID.selectOptions);
    ew.createSelect(options);
});
</script>
</span>
                </div>
            </div>
        </div>
    </div>
} @* mtVesselTypeSearch.CreatedByUserID.Visible (end) *@
@if (mtVesselTypeSearch.CreatedDateTime.Visible) { // mtVesselTypeSearch.CreatedDateTime.Visible (begin)
    <div id="r_CreatedDateTime" class="row" @Html.Raw(mtVesselTypeSearch.CreatedDateTime.RowAttributes)>
        <label for="x_CreatedDateTime" class="@(mtVesselTypeSearch.LeftColumnClass)"><span id="elh_MTVesselType_CreatedDateTime">@Html.Raw(mtVesselTypeSearch.CreatedDateTime.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("="))
<input type="hidden" name="z_CreatedDateTime" id="z_CreatedDateTime" value="=">
</span>
        </label>
        <div class="@(mtVesselTypeSearch.RightColumnClass)">
            <div @Html.Raw(mtVesselTypeSearch.CreatedDateTime.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_MTVesselType_CreatedDateTime" class="ew-search-field ew-search-field-single">
<input type="@(mtVesselTypeSearch.CreatedDateTime.InputTextType)" name="x_CreatedDateTime" id="x_CreatedDateTime" data-table="MTVesselType" data-field="x_CreatedDateTime" value="@Html.Raw(mtVesselTypeSearch.CreatedDateTime.EditValue)" placeholder="@Html.Raw(HtmlEncode(mtVesselTypeSearch.CreatedDateTime.PlaceHolder))" data-format-pattern="@(mtVesselTypeSearch.CreatedDateTime.FormatPattern)"@Html.Raw(mtVesselTypeSearch.CreatedDateTime.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(mtVesselTypeSearch.CreatedDateTime.GetErrorMessage(false))</div>
@if (!mtVesselTypeSearch.CreatedDateTime.ReadOnly && !mtVesselTypeSearch.CreatedDateTime.Disabled && !mtVesselTypeSearch.CreatedDateTime.EditAttrs.Is("readonly") && !mtVesselTypeSearch.CreatedDateTime.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fMTVesselTypesearch", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(1))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fMTVesselTypesearch", "x_CreatedDateTime", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
                </div>
            </div>
        </div>
    </div>
} @* mtVesselTypeSearch.CreatedDateTime.Visible (end) *@
@if (mtVesselTypeSearch.LastUpdatedByUserID.Visible) { // mtVesselTypeSearch.LastUpdatedByUserID.Visible (begin)
    <div id="r_LastUpdatedByUserID" class="row" @Html.Raw(mtVesselTypeSearch.LastUpdatedByUserID.RowAttributes)>
        <label for="x_LastUpdatedByUserID" class="@(mtVesselTypeSearch.LeftColumnClass)"><span id="elh_MTVesselType_LastUpdatedByUserID">@Html.Raw(mtVesselTypeSearch.LastUpdatedByUserID.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("="))
<input type="hidden" name="z_LastUpdatedByUserID" id="z_LastUpdatedByUserID" value="=">
</span>
        </label>
        <div class="@(mtVesselTypeSearch.RightColumnClass)">
            <div @Html.Raw(mtVesselTypeSearch.LastUpdatedByUserID.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_MTVesselType_LastUpdatedByUserID" class="ew-search-field ew-search-field-single">
    <select
        id="x_LastUpdatedByUserID"
        name="x_LastUpdatedByUserID"
        class="form-select ew-select@(mtVesselTypeSearch.LastUpdatedByUserID.IsInvalidClass)"
        data-select2-id="fMTVesselTypesearch_x_LastUpdatedByUserID"
        data-table="MTVesselType"
        data-field="x_LastUpdatedByUserID"
        data-value-separator="@(mtVesselTypeSearch.LastUpdatedByUserID.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(mtVesselTypeSearch.LastUpdatedByUserID.PlaceHolder))"
        @Html.Raw(mtVesselTypeSearch.LastUpdatedByUserID.EditAttributes)>
        @(mtVesselTypeSearch.LastUpdatedByUserID.SelectOptionListHtml("x_LastUpdatedByUserID"))
    </select>
    <div class="invalid-feedback">@Html.Raw(mtVesselTypeSearch.LastUpdatedByUserID.GetErrorMessage(false))</div>
@Html.Raw(mtVesselTypeSearch.LastUpdatedByUserID.Lookup.GetParamTag(mtVesselTypeSearch, "p_x_LastUpdatedByUserID"))
<script>
loadjs.ready("fMTVesselTypesearch", function() {
    var options = { name: "x_LastUpdatedByUserID", selectId: "fMTVesselTypesearch_x_LastUpdatedByUserID" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fMTVesselTypesearch.lists.LastUpdatedByUserID?.lookupOptions.length) {
        options.data = { id: "x_LastUpdatedByUserID", form: "fMTVesselTypesearch" };
    } else {
        options.ajax = { id: "x_LastUpdatedByUserID", form: "fMTVesselTypesearch", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumInputLength = ew.selectMinimumInputLength;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.MTVesselType.fields.LastUpdatedByUserID.selectOptions);
    ew.createSelect(options);
});
</script>
</span>
                </div>
            </div>
        </div>
    </div>
} @* mtVesselTypeSearch.LastUpdatedByUserID.Visible (end) *@
@if (mtVesselTypeSearch.LastUpdatedDateTime.Visible) { // mtVesselTypeSearch.LastUpdatedDateTime.Visible (begin)
    <div id="r_LastUpdatedDateTime" class="row" @Html.Raw(mtVesselTypeSearch.LastUpdatedDateTime.RowAttributes)>
        <label for="x_LastUpdatedDateTime" class="@(mtVesselTypeSearch.LeftColumnClass)"><span id="elh_MTVesselType_LastUpdatedDateTime">@Html.Raw(mtVesselTypeSearch.LastUpdatedDateTime.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("="))
<input type="hidden" name="z_LastUpdatedDateTime" id="z_LastUpdatedDateTime" value="=">
</span>
        </label>
        <div class="@(mtVesselTypeSearch.RightColumnClass)">
            <div @Html.Raw(mtVesselTypeSearch.LastUpdatedDateTime.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_MTVesselType_LastUpdatedDateTime" class="ew-search-field ew-search-field-single">
<input type="@(mtVesselTypeSearch.LastUpdatedDateTime.InputTextType)" name="x_LastUpdatedDateTime" id="x_LastUpdatedDateTime" data-table="MTVesselType" data-field="x_LastUpdatedDateTime" value="@Html.Raw(mtVesselTypeSearch.LastUpdatedDateTime.EditValue)" placeholder="@Html.Raw(HtmlEncode(mtVesselTypeSearch.LastUpdatedDateTime.PlaceHolder))" data-format-pattern="@(mtVesselTypeSearch.LastUpdatedDateTime.FormatPattern)"@Html.Raw(mtVesselTypeSearch.LastUpdatedDateTime.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(mtVesselTypeSearch.LastUpdatedDateTime.GetErrorMessage(false))</div>
@if (!mtVesselTypeSearch.LastUpdatedDateTime.ReadOnly && !mtVesselTypeSearch.LastUpdatedDateTime.Disabled && !mtVesselTypeSearch.LastUpdatedDateTime.EditAttrs.Is("readonly") && !mtVesselTypeSearch.LastUpdatedDateTime.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fMTVesselTypesearch", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(1))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fMTVesselTypesearch", "x_LastUpdatedDateTime", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
                </div>
            </div>
        </div>
    </div>
} @* mtVesselTypeSearch.LastUpdatedDateTime.Visible (end) *@
</div><!-- /page* -->
@Html.Raw(mtVesselTypeSearch.IsModal ? Html.Raw("<template class=\"ew-modal-buttons\">") : Html.Raw("<div class=\"row ew-buttons\">"))<!-- buttons .row -->
    <div class="@(mtVesselTypeSearch.OffsetColumnClass)"><!-- buttons offset -->
        <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fMTVesselTypesearch">@Html.Raw(Language.Phrase("Search"))</button>
@if (mtVesselTypeSearch.IsModal) {
        <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fMTVesselTypesearch">@Html.Raw(Language.Phrase("Cancel"))</button>
} else {
        <button class="btn btn-default ew-btn" name="btn-reset" id="btn-reset" type="button" form="fMTVesselTypesearch" data-ew-action="reload">@Html.Raw(Language.Phrase("Reset"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(mtVesselTypeSearch.IsModal ? Html.Raw("</template>") : Html.Raw("</div>"))<!-- /buttons .row -->
</form>
@mtVesselTypeSearch.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("MTVesselType");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
