@{
    // View
    View = this;

    // Check action result
    if (mtVesselTypeAdd.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!mtVesselTypeAdd.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(mtVesselTypeAdd.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MTVesselType: currentTable } });
var currentPageID = ew.PAGE_ID = "add";
var currentForm;
var fMTVesselTypeadd;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMTVesselTypeadd")
        .setPageId("add")

        // Add fields
        .setFields([

            ["Abbreviation", [fields.Abbreviation.visible && fields.Abbreviation.required ? ew.Validators.required(fields.Abbreviation.caption) : null], fields.Abbreviation.isInvalid],
            ["_Name", [fields._Name.visible && fields._Name.required ? ew.Validators.required(fields._Name.caption) : null], fields._Name.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@mtVesselTypeAdd.ShowPageHeader()
@mtVesselTypeAdd.ShowMessages()
<form name="fMTVesselTypeadd" id="fMTVesselTypeadd" class="@(mtVesselTypeAdd.FormClassName)" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="insert">
<input type="hidden" name="modal" value="@ConvertToInt(mtVesselTypeAdd.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(mtVesselTypeAdd.OldKeyName)" value="@Html.Raw(mtVesselTypeAdd.OldKey)">
<div class="ew-add-div"><!-- page* -->
@if (mtVesselTypeAdd.Abbreviation.Visible) { // mtVesselTypeAdd.Abbreviation.Visible (begin)
    <div id="r_Abbreviation" @Html.Raw(mtVesselTypeAdd.Abbreviation.RowAttributes)>
        <label id="elh_MTVesselType_Abbreviation" for="x_Abbreviation" class="@(mtVesselTypeAdd.LeftColumnClass)">@Html.Raw(mtVesselTypeAdd.Abbreviation.Caption)@Html.Raw(mtVesselTypeAdd.Abbreviation.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtVesselTypeAdd.RightColumnClass)"><div @Html.Raw(mtVesselTypeAdd.Abbreviation.CellAttributes)>
<span id="el_MTVesselType_Abbreviation">
<input type="@(mtVesselTypeAdd.Abbreviation.InputTextType)" name="x_Abbreviation" id="x_Abbreviation" data-table="MTVesselType" data-field="x_Abbreviation" value="@Html.Raw(mtVesselTypeAdd.Abbreviation.EditValue)" size="30" maxlength="4" placeholder="@Html.Raw(HtmlEncode(mtVesselTypeAdd.Abbreviation.PlaceHolder))" data-format-pattern="@(mtVesselTypeAdd.Abbreviation.FormatPattern)"@Html.Raw(mtVesselTypeAdd.Abbreviation.EditAttributes) aria-describedby="x_Abbreviation_help">
@Html.Raw(mtVesselTypeAdd.Abbreviation.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mtVesselTypeAdd.Abbreviation.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* mtVesselTypeAdd.Abbreviation.Visible (end) *@
@if (mtVesselTypeAdd._Name.Visible) { // mtVesselTypeAdd._Name.Visible (begin)
    <div id="r__Name" @Html.Raw(mtVesselTypeAdd._Name.RowAttributes)>
        <label id="elh_MTVesselType__Name" for="x__Name" class="@(mtVesselTypeAdd.LeftColumnClass)">@Html.Raw(mtVesselTypeAdd._Name.Caption)@Html.Raw(mtVesselTypeAdd._Name.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtVesselTypeAdd.RightColumnClass)"><div @Html.Raw(mtVesselTypeAdd._Name.CellAttributes)>
<span id="el_MTVesselType__Name">
<input type="@(mtVesselTypeAdd._Name.InputTextType)" name="x__Name" id="x__Name" data-table="MTVesselType" data-field="x__Name" value="@Html.Raw(mtVesselTypeAdd._Name.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(mtVesselTypeAdd._Name.PlaceHolder))" data-format-pattern="@(mtVesselTypeAdd._Name.FormatPattern)"@Html.Raw(mtVesselTypeAdd._Name.EditAttributes) aria-describedby="x__Name_help">
@Html.Raw(mtVesselTypeAdd._Name.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mtVesselTypeAdd._Name.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* mtVesselTypeAdd._Name.Visible (end) *@
</div><!-- /page* -->
@{ mtVesselTypeAdd.CloseRecordset(); }
@Html.Raw(mtVesselTypeAdd.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(mtVesselTypeAdd.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fMTVesselTypeadd">@Html.Raw(Language.Phrase("AddBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fMTVesselTypeadd" data-href="@AppPath(mtVesselTypeAdd.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(mtVesselTypeAdd.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
@mtVesselTypeAdd.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("MTVesselType");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
