@{
    // View
    View = this;

    // Check action result
    if (mtVesselTypeEdit.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!mtVesselTypeEdit.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@mtVesselTypeEdit.ShowPageHeader()
@mtVesselTypeEdit.ShowMessages()
<main class="edit">
<form name="fMTVesselTypeedit" id="fMTVesselTypeedit" class="@(mtVesselTypeEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
<script>
var currentTable = @Html.Raw(ConvertToJson(mtVesselTypeEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MTVesselType: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fMTVesselTypeedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMTVesselTypeedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["Abbreviation", [fields.Abbreviation.visible && fields.Abbreviation.required ? ew.Validators.required(fields.Abbreviation.caption) : null], fields.Abbreviation.isInvalid],
            ["_Name", [fields._Name.visible && fields._Name.required ? ew.Validators.required(fields._Name.caption) : null], fields._Name.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(mtVesselTypeEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(mtVesselTypeEdit.OldKeyName)" value="@Html.Raw(mtVesselTypeEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (mtVesselTypeEdit.Abbreviation.Visible) { // mtVesselTypeEdit.Abbreviation.Visible (begin)
    <div id="r_Abbreviation" @Html.Raw(mtVesselTypeEdit.Abbreviation.RowAttributes)>
        <label id="elh_MTVesselType_Abbreviation" for="x_Abbreviation" class="@(mtVesselTypeEdit.LeftColumnClass)">@Html.Raw(mtVesselTypeEdit.Abbreviation.Caption)@Html.Raw(mtVesselTypeEdit.Abbreviation.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtVesselTypeEdit.RightColumnClass)"><div @Html.Raw(mtVesselTypeEdit.Abbreviation.CellAttributes)>
<span id="el_MTVesselType_Abbreviation">
<input type="@(mtVesselTypeEdit.Abbreviation.InputTextType)" name="x_Abbreviation" id="x_Abbreviation" data-table="MTVesselType" data-field="x_Abbreviation" value="@Html.Raw(mtVesselTypeEdit.Abbreviation.EditValue)" size="30" maxlength="4" placeholder="@Html.Raw(HtmlEncode(mtVesselTypeEdit.Abbreviation.PlaceHolder))" data-format-pattern="@(mtVesselTypeEdit.Abbreviation.FormatPattern)"@Html.Raw(mtVesselTypeEdit.Abbreviation.EditAttributes) aria-describedby="x_Abbreviation_help">
@Html.Raw(mtVesselTypeEdit.Abbreviation.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mtVesselTypeEdit.Abbreviation.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* mtVesselTypeEdit.Abbreviation.Visible (end) *@
@if (mtVesselTypeEdit._Name.Visible) { // mtVesselTypeEdit._Name.Visible (begin)
    <div id="r__Name" @Html.Raw(mtVesselTypeEdit._Name.RowAttributes)>
        <label id="elh_MTVesselType__Name" for="x__Name" class="@(mtVesselTypeEdit.LeftColumnClass)">@Html.Raw(mtVesselTypeEdit._Name.Caption)@Html.Raw(mtVesselTypeEdit._Name.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mtVesselTypeEdit.RightColumnClass)"><div @Html.Raw(mtVesselTypeEdit._Name.CellAttributes)>
<span id="el_MTVesselType__Name">
<input type="@(mtVesselTypeEdit._Name.InputTextType)" name="x__Name" id="x__Name" data-table="MTVesselType" data-field="x__Name" value="@Html.Raw(mtVesselTypeEdit._Name.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(mtVesselTypeEdit._Name.PlaceHolder))" data-format-pattern="@(mtVesselTypeEdit._Name.FormatPattern)"@Html.Raw(mtVesselTypeEdit._Name.EditAttributes) aria-describedby="x__Name_help">
@Html.Raw(mtVesselTypeEdit._Name.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mtVesselTypeEdit._Name.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* mtVesselTypeEdit._Name.Visible (end) *@
</div><!-- /page* -->
    <input type="hidden" data-table="MTVesselType" data-field="x_ID" data-hidden="1" name="x_ID" id="x_ID" value="@Html.Raw(HtmlEncode(mtVesselTypeEdit.ID.CurrentValue))">
@{ mtVesselTypeEdit.CloseRecordset(); }
@Html.Raw(mtVesselTypeEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(mtVesselTypeEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fMTVesselTypeedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fMTVesselTypeedit" data-href="@AppPath(mtVesselTypeEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(mtVesselTypeEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@mtVesselTypeEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("MTVesselType");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
