@{
    // View
    View = this;

    // Check action result
    if (mtVesselTypeDelete.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!mtVesselTypeDelete.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(mtVesselTypeDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MTVesselType: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fMTVesselTypedelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMTVesselTypedelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@mtVesselTypeDelete.ShowPageHeader()
@mtVesselTypeDelete.ShowMessages()
<form name="fMTVesselTypedelete" id="fMTVesselTypedelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in mtVesselTypeDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(mtVesselTypeDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(mtVesselTypeDelete.TableContainerClass)" style="@(mtVesselTypeDelete.TableContainerStyle)">
<table class="@(mtVesselTypeDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (mtVesselTypeDelete.Abbreviation.Visible) { // mtVesselTypeDelete.Abbreviation.Visible (begin)
        <th class="@Html.Raw(mtVesselTypeDelete.Abbreviation.HeaderCellClass)"><span id="elh_MTVesselType_Abbreviation" class="MTVesselType_Abbreviation">@Html.Raw(mtVesselTypeDelete.Abbreviation.Caption)</span></th>
} @* mtVesselTypeDelete.Abbreviation.Visible (end) *@
@if (mtVesselTypeDelete._Name.Visible) { // mtVesselTypeDelete._Name.Visible (begin)
        <th class="@Html.Raw(mtVesselTypeDelete._Name.HeaderCellClass)"><span id="elh_MTVesselType__Name" class="MTVesselType__Name">@Html.Raw(mtVesselTypeDelete._Name.Caption)</span></th>
} @* mtVesselTypeDelete._Name.Visible (end) *@
@if (mtVesselTypeDelete.CreatedByUserID.Visible) { // mtVesselTypeDelete.CreatedByUserID.Visible (begin)
        <th class="@Html.Raw(mtVesselTypeDelete.CreatedByUserID.HeaderCellClass)"><span id="elh_MTVesselType_CreatedByUserID" class="MTVesselType_CreatedByUserID">@Html.Raw(mtVesselTypeDelete.CreatedByUserID.Caption)</span></th>
} @* mtVesselTypeDelete.CreatedByUserID.Visible (end) *@
@if (mtVesselTypeDelete.CreatedDateTime.Visible) { // mtVesselTypeDelete.CreatedDateTime.Visible (begin)
        <th class="@Html.Raw(mtVesselTypeDelete.CreatedDateTime.HeaderCellClass)"><span id="elh_MTVesselType_CreatedDateTime" class="MTVesselType_CreatedDateTime">@Html.Raw(mtVesselTypeDelete.CreatedDateTime.Caption)</span></th>
} @* mtVesselTypeDelete.CreatedDateTime.Visible (end) *@
@if (mtVesselTypeDelete.LastUpdatedByUserID.Visible) { // mtVesselTypeDelete.LastUpdatedByUserID.Visible (begin)
        <th class="@Html.Raw(mtVesselTypeDelete.LastUpdatedByUserID.HeaderCellClass)"><span id="elh_MTVesselType_LastUpdatedByUserID" class="MTVesselType_LastUpdatedByUserID">@Html.Raw(mtVesselTypeDelete.LastUpdatedByUserID.Caption)</span></th>
} @* mtVesselTypeDelete.LastUpdatedByUserID.Visible (end) *@
@if (mtVesselTypeDelete.LastUpdatedDateTime.Visible) { // mtVesselTypeDelete.LastUpdatedDateTime.Visible (begin)
        <th class="@Html.Raw(mtVesselTypeDelete.LastUpdatedDateTime.HeaderCellClass)"><span id="elh_MTVesselType_LastUpdatedDateTime" class="MTVesselType_LastUpdatedDateTime">@Html.Raw(mtVesselTypeDelete.LastUpdatedDateTime.Caption)</span></th>
} @* mtVesselTypeDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ mtVesselTypeDelete.RecordCount = 0; }
@while (mtVesselTypeDelete.Recordset != null && await mtVesselTypeDelete.Recordset.ReadAsync()) { // DN
    mtVesselTypeDelete.RecordCount++;
    mtVesselTypeDelete.RowCount++;

    // Set row properties
    mtVesselTypeDelete.ResetAttributes();
    mtVesselTypeDelete.RowType = RowType.View; // View

    // Get the field contents
    await mtVesselTypeDelete.LoadRowValues(mtVesselTypeDelete.Recordset);

    // Render row
    await mtVesselTypeDelete.RenderRow();
    <tr @Html.Raw(mtVesselTypeDelete.RowAttributes)>
@if (mtVesselTypeDelete.Abbreviation.Visible) { // mtVesselTypeDelete.Abbreviation.Visible (begin)
        <td @Html.Raw(mtVesselTypeDelete.Abbreviation.CellAttributes)>
<span id="el@(mtVesselTypeDelete.RowCount)_MTVesselType_Abbreviation" class="el_MTVesselType_Abbreviation">
<span @Html.Raw(mtVesselTypeDelete.Abbreviation.ViewAttributes)>
@Html.Raw(mtVesselTypeDelete.Abbreviation.GetViewValue())</span>
</span></td>
} @* mtVesselTypeDelete.Abbreviation.Visible (end) *@
@if (mtVesselTypeDelete._Name.Visible) { // mtVesselTypeDelete._Name.Visible (begin)
        <td @Html.Raw(mtVesselTypeDelete._Name.CellAttributes)>
<span id="el@(mtVesselTypeDelete.RowCount)_MTVesselType__Name" class="el_MTVesselType__Name">
<span @Html.Raw(mtVesselTypeDelete._Name.ViewAttributes)>
@Html.Raw(mtVesselTypeDelete._Name.GetViewValue())</span>
</span></td>
} @* mtVesselTypeDelete._Name.Visible (end) *@
@if (mtVesselTypeDelete.CreatedByUserID.Visible) { // mtVesselTypeDelete.CreatedByUserID.Visible (begin)
        <td @Html.Raw(mtVesselTypeDelete.CreatedByUserID.CellAttributes)>
<span id="el@(mtVesselTypeDelete.RowCount)_MTVesselType_CreatedByUserID" class="el_MTVesselType_CreatedByUserID">
<span @Html.Raw(mtVesselTypeDelete.CreatedByUserID.ViewAttributes)>
@Html.Raw(mtVesselTypeDelete.CreatedByUserID.GetViewValue())</span>
</span></td>
} @* mtVesselTypeDelete.CreatedByUserID.Visible (end) *@
@if (mtVesselTypeDelete.CreatedDateTime.Visible) { // mtVesselTypeDelete.CreatedDateTime.Visible (begin)
        <td @Html.Raw(mtVesselTypeDelete.CreatedDateTime.CellAttributes)>
<span id="el@(mtVesselTypeDelete.RowCount)_MTVesselType_CreatedDateTime" class="el_MTVesselType_CreatedDateTime">
<span @Html.Raw(mtVesselTypeDelete.CreatedDateTime.ViewAttributes)>
@Html.Raw(mtVesselTypeDelete.CreatedDateTime.GetViewValue())</span>
</span></td>
} @* mtVesselTypeDelete.CreatedDateTime.Visible (end) *@
@if (mtVesselTypeDelete.LastUpdatedByUserID.Visible) { // mtVesselTypeDelete.LastUpdatedByUserID.Visible (begin)
        <td @Html.Raw(mtVesselTypeDelete.LastUpdatedByUserID.CellAttributes)>
<span id="el@(mtVesselTypeDelete.RowCount)_MTVesselType_LastUpdatedByUserID" class="el_MTVesselType_LastUpdatedByUserID">
<span @Html.Raw(mtVesselTypeDelete.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(mtVesselTypeDelete.LastUpdatedByUserID.GetViewValue())</span>
</span></td>
} @* mtVesselTypeDelete.LastUpdatedByUserID.Visible (end) *@
@if (mtVesselTypeDelete.LastUpdatedDateTime.Visible) { // mtVesselTypeDelete.LastUpdatedDateTime.Visible (begin)
        <td @Html.Raw(mtVesselTypeDelete.LastUpdatedDateTime.CellAttributes)>
<span id="el@(mtVesselTypeDelete.RowCount)_MTVesselType_LastUpdatedDateTime" class="el_MTVesselType_LastUpdatedDateTime">
<span @Html.Raw(mtVesselTypeDelete.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(mtVesselTypeDelete.LastUpdatedDateTime.GetViewValue())</span>
</span></td>
} @* mtVesselTypeDelete.LastUpdatedDateTime.Visible (end) *@
    </tr>
}
@{ mtVesselTypeDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(mtVesselTypeDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@mtVesselTypeDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
