@{
    // View
    View = this;

    // Check action result
    if (printChecklist.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!printChecklist.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
@printChecklist.ShowMessages()
@* Custom Template Start Here *@
@{
    string checklistId = HttpContext.Request.Query["id"];
    string sqlQuery = "SELECT * FROM v_Checklist WHERE ChecklistId = '"+ checklistId +"'";

    var rs = ExecuteRows(sqlQuery);

    if(rs.Any()) {
        var jobKnowledge = rs[0]["JobKnowledge"].ToString();
        var safetyAwareness = rs[0]["SafetyAwareness"].ToString();
        var personality = rs[0]["Personality"].ToString();
        var englishProficiency = rs[0]["EnglishProficiency"].ToString();
        
        <div id="560-561_2664" align="center" x:publishsource="Excel">
            <table border="0" cellpadding="0" cellspacing="0" width="768" class="xl632664"
                style="border-collapse:collapse;table-layout:fixed;width:576pt">
                <colgroup>
                    <col class="xl642664" width="64" style="mso-width-source:userset;mso-width-alt:2340;width:48pt">
                    <col class="xl632664" width="64" span="11" style="width:48pt">
                <tr height="20" style="mso-height-source:userset;height:15pt">
                    <td colspan="12" rowspan="4" height="80" class="xl932664" width="768"
                        style="border-bottom:.5pt solid #000;height:60pt;width:576pt">PT PERTAMINA INTERNATIONAL SHIPPING
                        <br>SELECTION CHECKLIST <br>Approved By : Dir of Fleet Mgt
                    </td>
                </tr>
                <tr height="20" style="height:15pt">
                <tr height="20" style="height:15pt">
                <tr height="20" style="height:15pt">
                <tr height="20" style="height:15pt">
                    <td colspan="12" rowspan="2" height="40" class="xl862664" style="height:30pt">Selection Check List <br>(For
                        New <span style="mso-spacerun:yes"></span>Applicant) </td>
                </tr>
                <tr height="20" style="mso-height-source:userset;height:15pt">
                <tr height="20" style="mso-height-source:userset;height:15pt">
                    <td colspan="10" height="20" class="xl692664" style="border-right:.5pt solid #000;height:15pt"><span style="color: white;">span style: color: wh</span>Check List Items</td>
                    <td colspan="2" class="xl692664" style="border-right:.5pt solid #000;border-left:none">Remarks</td>
                </tr>
                <tr height="20" style="mso-height-source:userset;height:15pt">
                    <td colspan="12" height="20" class="xl692664" style="border-right:.5pt solid #000;height:15pt">Selection
                        Activity</td>
                </tr>
                <tr height="20" style="mso-height-source:userset;height:15pt">
                    <td height="20" class="xl662664" style="height:15pt;border-top:none">1</td>
                    <td colspan="9" class="xl722664" style="text-align: left; border-right:.5pt solid #000; border-bottom: 0.5pt solid #000">Employment Application Form</td>
                    @if(rs[0]["Activity10"].ToString().Equals("True")) {
                        <td colspan="2" class="xl652664" style="border-left:none">@rs[0]["RemarkActivity10"]</td>
                    } else {
                        <td colspan="2" class="xl652664" style="border-left:none">Not Passed</td>
                    }
                </tr>
                <tr height="20" style="mso-height-source:userset;height:15pt">
                    <td height="20" class="xl662664" style="height:15pt;border-top:none">1.1</td>
                    <td colspan="9" class="xl752664" style="border-right:.5pt solid #000; border-bottom: 0.5pt solid #000">Pre- screening Interview</td>
                    @if(rs[0]["Activity11"].ToString().Equals("True")) {
                        <td colspan="2" class="xl652664" style="border-left:none">@rs[0]["RemarkActivity11"]</td>
                    } else {
                        <td colspan="2" class="xl652664" style="border-left:none">Not Passed</td>
                    }
                </tr>
                <tr height="20" style="mso-height-source:userset;height:15pt">
                    <td rowspan="3" height="60" class="xl662664" style="height:45pt;border-top:none">1.2</td>
                    <td colspan="9" class="xl752664" style="border-right:.5pt solid #000;">Minimum requirements check
                        (qualifications, experience &amp; skills) <span style="mso-spacerun:yes">
                    </td>
                    @if(rs[0]["Activity12"].ToString().Equals("True")) {
                        <td colspan="2" rowspan="3" class="xl652664">@rs[0]["RemarkActivity12"]</td>
                    } else {
                        <td colspan="2" rowspan="3" class="xl652664">Not Passed</td>
                    }
                </tr>
                <tr height="20" style="mso-height-source:userset;height:15pt">
                    <td colspan="9" rowspan="2" height="40" class="xl782664" width="576" style="border-right:.5pt solid #000;height:30pt;width:432pt;  border-bottom: 0.5pt solid #000">Please refer to the Standard Recruitment <span style="mso-spacerun:yes"></span>Guidelines &amp; other Principal Guidelines as may be required by the Principal</td>
                </tr>
                <tr height="20" style="mso-height-source:userset;height:15pt">
                <tr height="20" style="mso-height-source:userset;height:15pt">
                    <td height="20" class="xl662664" style="height:15pt;border-top:none">1.3</td>
                    <td colspan="9" class="xl752664" style="border-right:.5pt solid #000;  border-bottom: 0.5pt solid #000">Engagement Checklist</td>
                    @if(rs[0]["Activity13"].ToString().Equals("True")) {
                        <td colspan="2" class="xl652664" style="border-left:none">@rs[0]["RemarkActivity13"]</td>
                    } else {
                        <td colspan="2" class="xl652664" style="border-left:none">Not Passed</td>
                    }
                </tr>
                <tr height="20" style="mso-height-source:userset;height:15pt">
                    <td height="20" class="xl662664" style="height:15pt;border-top:none">1.4</td>
                    <td colspan="9" class="xl752664" style="border-right:.5pt solid #000;  border-bottom: 0.5pt solid #000">COC authenticity - website/ UV light/
                        verification letter Date <span style="mso-spacerun:yes">
                    </td>
                    @if(rs[0]["Activity14"].ToString().Equals("True")) {
                        <td colspan="2" class="xl652664" style="border-left:none">@rs[0]["RemarkActivity14"]</td>
                    } else {
                        <td colspan="2" class="xl652664" style="border-left:none">Not Passed</td>
                    }
                </tr>
                <tr height="20" style="mso-height-source:userset;height:15pt">
                    <td height="20" class="xl662664" style="height:15pt;border-top:none">2</td>
                    <td colspan="9" class="xl752664" style="border-right:.5pt solid #000;  border-bottom: 0.5pt solid #000">CES Competency Evaluation Software
                    </td>
                    <!-- Disini Pakai Score (bukan TRUE atau FALSE) -->
                    <!-- <td colspan="2" class="xl652664" style="border-left:none">@rs[0]["RemarkActivity20"]</td> -->
                    @if(rs[0]["Activity20"].ToString().Equals("True")) {
                        <td colspan="2" class="xl652664" style="border-left:none">@rs[0]["RemarkActivity20"]</td>
                    } else {
                        <td colspan="2" class="xl652664" style="border-left:none">Not Passed</td>
                    }
                </tr>
                <tr height="20" style="mso-height-source:userset;height:15pt">
                    <td height="20" class="xl662664" style="height:15pt;border-top:none">3</td>
                    <td colspan="9" class="xl752664" style="border-right:.5pt solid #000;  border-bottom: 0.5pt solid #000">Physcometric test</td>
                    @if(rs[0]["Activity30"].ToString().Equals("True")) {
                        <td colspan="2" class="xl652664" style="border-left:none">@rs[0]["RemarkActivity30"]</td>
                    } else {
                        <td colspan="2" class="xl652664" style="border-left:none">Not Passed</td>
                    }
                </tr>
                <tr height="20" style="mso-height-source:userset;height:15pt">
                    <td height="20" class="xl662664" style="height:15pt;border-top:none">4</td>
                    <td colspan="9" class="xl752664" style="border-right:.5pt solid #000;  border-bottom: 0.5pt solid #000">Crew Watch list check (crew database system and other sources)</td>
                    @if(rs[0]["Activity40"].ToString().Equals("True")) {
                        <td colspan="2" class="xl652664" style="border-left:none">@rs[0]["RemarkActivity40"]</td>
                    } else {
                        <td colspan="2" class="xl652664" style="border-left:none">Not Passed</td>
                    }
                </tr>
                <tr height="20" style="mso-height-source:userset;height:15pt">
                    <td height="20" class="xl662664" style="height:15pt;border-top:none">5</td>
                    <td colspan="9" class="xl752664" style="border-right:.5pt solid #000;  border-bottom: 0.5pt solid #000">Previous Appraisal Reports (as applicable)</td>
                    @if(rs[0]["Activity50"].ToString().Equals("True")) {
                        <td colspan="2" class="xl652664" style="border-left:none">@rs[0]["RemarkActivity50"]</td>
                    } else {
                        <td colspan="2" class="xl652664" style="border-left:none">Not Passed</td>
                    }
                </tr>
                <tr height="20" style="mso-height-source:userset;height:15pt">
                    <td height="20" class="xl662664" style="height:15pt;border-top:none">6</td>
                    <td colspan="9" class="xl752664" style="border-right:.5pt solid #000; border-bottom: 0.5pt solid #000">Background check of at least two (2) contracts</td>
                    @if(rs[0]["Activity60"].ToString().Equals("True")) {
                        <td colspan="2" class="xl652664" style="border-left:none">@rs[0]["RemarkActivity60"]</td>
                    } else {
                        <td colspan="2" class="xl652664" style="border-left:none">Not Passed</td>
                    }
                </tr>
                <tr height="20" style="mso-height-source:userset;height:15pt">
                    <td height="20" class="xl662664" style="height:15pt;border-top:none">7</td>
                    <td colspan="9" class="xl902664" style="border-right:.5pt solid #000; border-bottom: 0.5pt solid #000">English Proficiency test</td>
                    @if(rs[0]["Activity70"].ToString().Equals("True")) {
                        <td colspan="2" class="xl652664" style="border-left:none">@rs[0]["RemarkActivity70"]</td>
                    } else {
                        <td colspan="2" class="xl652664" style="border-left:none">Not Passed</td>
                    }
                </tr>
                <tr height="20" style="mso-height-source:userset;height:15pt">
                    <td colspan="3" height="20" class="xl692664" style="border-right:.5pt solid #000;height:15pt">Manning Agent/PIC</td>
                    <td colspan="3" class="xl692664" style="border-right:.5pt solid #000;border-left:none">Vessel's Name</td>
                    <td colspan="3" class="xl692664" style="border-right:.5pt solid #000;border-left:none">Performance</td>
                    <td colspan="3" class="xl692664" style="border-right:.5pt solid #000;border-left:none">Date Passed/Initials</td>
                </tr>
                @* @foreach(var row in rs) { *@ 
                <tr height="20" style="height:15pt">
                    <td colspan="3" height="20" class="xl662664" style="border-right:.5pt solid #000;height:15pt;">@rs[0]["ManningAgent"]</td>
                    <td colspan="3" class="xl662664" style="border-right:.5pt solid #000;border-left:none;white-space: pre-wrap;">@rs[0]["VesselName"]</td>
                    <td colspan="3" class="xl662664" style="border-right:.5pt solid #000;border-left:none;white-space: pre-wrap;">@rs[0]["Performance"]</td>
                    <td colspan="3" class="xl832664" style="border-right:.5pt solid #000;border-left:none;white-space: pre-wrap;">@(((DateTime)@rs[0]["DateChecked"]).ToString("dd MMM yyyy"))</td>
                </tr>
                @* } *@ 
                <tr height="20" style="height:15pt">
                    <td colspan="12" height="20" class="xl692664" style="border-right:.5pt solid #000;height:15pt">Interviewer's Comments :</td>
                </tr>
                <tr height="35" style="height:60pt">
                    <td colspan="12" rowspan="3" height="60" class="xl722664" style="text-align: left; border-right:.5pt solid #000;border-bottom:.5pt solid #000; height:45pt;white-space: pre-wrap;">@rs[0]["InterviewerComment"]</td>
                </tr>
                <tr height="20" style="mso-height-source:userset;height:15pt">
                <tr height="20" style="height:15pt">
                <tr height="20" style="height:15pt">
                    <td colspan="3" height="20" class="xl862664" style="height:15pt">Interviewed By</td>
                    <td colspan="3" class="xl862664" style="border-left:none">Rank</td>
                    <td colspan="3" class="xl862664" style="border-left:none">Signature</td>
                    <td colspan="3" class="xl862664" style="border-left:none">Date</td>
                </tr>
                <!-- Row 1 -->
                <tr height=20 style='mso-height-source:userset;height:15.0pt'>
                    <td colspan=3 rowspan=2 height=40 class=xl6616320 width=137 style='height: 30.0pt;width:103pt'>@rs[0]["InterviewedByPersonOneName"]</td>
                    <td colspan=3 rowspan=2 class=xl6616320 width=211 style='width:159pt'>@rs[0]["InterviewedByPersonOneRank"]</td>
                    <td colspan=3 rowspan=2 class=xl6616320 width=136 style='width:102pt'>&nbsp;</td>
                    <td colspan=3 rowspan=2 class=xl6716320 width=180 style='width:136pt'>@(((DateTime)@rs[0]["InterviewDate"]).ToString("dd MMM yyyy"))</td>
                </tr>
                <!-- Row 2 -->
                <tr height=20 style='mso-height-source:userset;height:15.0pt'></tr>
                <tr height=20 style='mso-height-source:userset;height:15.0pt'>
                    <td colspan=3 rowspan=2 height=40 class=xl6616320 width=137 style='height: 30.0pt;width:103pt'>@rs[0]["InterviewedByPersonTwoName"]</td>
                    <td colspan=3 rowspan=2 class=xl6616320 width=211 style='width:159pt'>@rs[0]["InterviewedByPersonTwoRank"]</td>
                    <td colspan=3 rowspan=2 class=xl6616320 width=136 style='width:102pt'>&nbsp;</td>
                    <td colspan=3 rowspan=2 class=xl6716320 width=180 style='width:136pt'>@(((DateTime)@rs[0]["InterviewDate"]).ToString("dd MMM yyyy"))</td>
                </tr>
                <!-- Row 3 -->
                <tr height=20 style='mso-height-source:userset;height:15.0pt'>
                </tr>
                <tr height=20 style='mso-height-source:userset;height:15.0pt'>
                    <td colspan=3 rowspan=2 height=40 class=xl6616320 width=137 style='height: 30.0pt;width:103pt'>@rs[0]["InterviewedByPersonThreeName"]</td>
                    <td colspan=3 rowspan=2 class=xl6616320 width=211 style='width:159pt'>@rs[0]["InterviewedByPersonThreeRank"]</td>
                    <td colspan=3 rowspan=2 class=xl6616320 width=136 style='width:102pt'>&nbsp;</td>
                    <td colspan=3 rowspan=2 class=xl6716320 width=180 style='width:136pt'>@(((DateTime)@rs[0]["InterviewDate"]).ToString("dd MMM yyyy"))</td>
                </tr>
                @*<tr height=20 style='mso-height-source:userset;height:15.0pt'></tr>*@
                <tr height="20" style="mso-height-source:userset;height:15pt"></tr>
                @*<tr height="20" style="mso-height-source:userset;height:15pt"></tr>*@
                <tr height="20" style="mso-height-source:userset;height:15pt">
                    <td height="20" class="xl672664" style="height:15pt;border-top:0.5pt solid black">6</td>
                    <td colspan="11" class="xl862664" style="border-left:none">Final Interview (Top Management Comments)</td>
                </tr>
                <tr height="20" style="height:60pt">
                    <td colspan="12" rowspan="3" height="60" class="xl872664" style="height:45pt; white-space:pre-wrap;">@rs[0]["FinalInterviewComment"]</td>
                </tr>
                <tr height="20" style="mso-height-source:userset;height:15pt">
                <tr height="20" style="height:15pt">
                <tr height="20" style="height:15pt">
                    <td colspan="12" height="20" class="xl862664" style="height:15pt">Additional Remarks / Encircle Grade</td>
                </tr>
                <tr height="20" style="height:15pt">
                    <td colspan="3" height="20" class="xl872664" style="height:15pt">1. Job Knowledge</td>
                    <td class="xl652664" style="border-top:none;border-left:none">
                        @if (jobKnowledge == "A") {
                        <span class="encircle"
                            style="display: inline-block; width: 25px; height: 25px; line-height: 25px; border-radius: 50%; border: 2px solid black; color: black; text-align: center; font-weight: bold;">A</span>
                        } else {
                        <span>A</span>
                        }
                    </td>
                    <td class="xl652664" style="border-top:none;border-left:none">
                        @if (jobKnowledge == "B") {
                        <span class="encircle"
                            style="display: inline-block; width: 25px; height: 25px; line-height: 25px; border-radius: 50%; border: 2px solid black; color: black; text-align: center; font-weight: bold;">B</span>
                        } else {
                        <span>B</span>
                        }
                    </td>
                    <td class="xl652664" style="border-top:none;border-left:none">
                        @if (jobKnowledge == "C") {
                        <span class="encircle"
                            style="display: inline-block; width: 25px; height: 25px; line-height: 25px; border-radius: 50%; border: 2px solid black; color: black; text-align: center; font-weight: bold;">C</span>
                        } else {
                        <span>C</span>
                        }
                    </td>
                    <td colspan="3" class="xl872664" style="border-left:none">3. Personality<span style="mso-spacerun:yes"></td>
                    <td class="xl652664" style="border-top:none;border-left:none">
                        @if (personality == "A") {
                        <span class="encircle"
                            style="display: inline-block; width: 25px; height: 25px; line-height: 25px; border-radius: 50%; border: 2px solid black; color: black; text-align: center; font-weight: bold;">A</span>
                        } else {
                        <span>A</span>
                        }
                    </td>
                    <td class="xl652664" style="border-top:none;border-left:none">
                        @if (personality == "B") {
                        <span class="encircle"
                            style="display: inline-block; width: 25px; height: 25px; line-height: 25px; border-radius: 50%; border: 2px solid black; color: black; text-align: center; font-weight: bold;">B</span>
                        } else {
                        <span>B</span>
                        }
                    </td>
                    <td class="xl652664" style="border-top:none;border-left:none">
                        @if (personality == "C") {
                        <span class="encircle"
                            style="display: inline-block; width: 25px; height: 25px; line-height: 25px; border-radius: 50%; border: 2px solid black; color: black; text-align: center; font-weight: bold;">C</span>
                        } else {
                        <span>C</span>
                        }
                    </td>
                </tr>
                <tr height="20" style="mso-height-source:userset;height:15pt">
                    <td colspan="3" height="20" class="xl872664" style="height:15pt">2. Safety Awareness</td>
                    <td class="xl652664" style="border-top:none;border-left:none">
                        @if (safetyAwareness == "A") {
                        <span class="encircle"
                            style="display: inline-block; width: 25px; height: 25px; line-height: 25px; border-radius: 50%; border: 2px solid black; color: black; text-align: center; font-weight: bold;">A</span>
                        } else {
                        <span>A</span>
                        }
                    </td>
                    <td class="xl652664" style="border-top:none;border-left:none">
                        @if (safetyAwareness == "B") {
                        <span class="encircle"
                            style="display: inline-block; width: 25px; height: 25px; line-height: 25px; border-radius: 50%; border: 2px solid black; color: black; text-align: center; font-weight: bold;">B</span>
                        } else {
                        <span>B</span>
                        }
                    </td>
                    <td class="xl652664" style="border-top:none;border-left:none">
                        @if (safetyAwareness == "C") {
                        <span class="encircle"
                            style="display: inline-block; width: 25px; height: 25px; line-height: 25px; border-radius: 50%; border: 2px solid black; color: black; text-align: center; font-weight: bold;">C</span>
                        } else {
                        <span>C</span>
                        }
                    </td>
                    <td colspan="3" class="xl872664" style="border-left:none">4. English Proficiency <span
                            style="mso-spacerun:yes">
                    </td>
                    <td class="xl652664" style="border-top:none;border-left:none">
                        @if (englishProficiency == "A") {
                        <span class="encircle"
                            style="display: inline-block; width: 25px; height: 25px; line-height: 25px; border-radius: 50%; border: 2px solid black; color: black; text-align: center; font-weight: bold;">A</span>
                        } else {
                        <span>A</span>
                        }
                    </td>
                    <td class="xl652664" style="border-top:none;border-left:none">
                        @if (englishProficiency == "B") {
                        <span class="encircle"
                            style="display: inline-block; width: 25px; height: 25px; line-height: 25px; border-radius: 50%; border: 2px solid black; color: black; text-align: center; font-weight: bold;">B</span>
                        } else {
                        <span>B</span>
                        }
                    </td>
                    <td class="xl652664" style="border-top:none;border-left:none">
                        @if (englishProficiency == "C") {
                        <span class="encircle"
                            style="display: inline-block; width: 25px; height: 25px; line-height: 25px; border-radius: 50%; border: 2px solid black; color: black; text-align: center; font-weight: bold;">C</span>
                        } else {
                        <span>C</span>
                        }
                    </td>
                </tr>
                <tr height="20" style="mso-height-source:userset;height:15pt">
                    <td colspan="6" rowspan="3" height="60" class="xl652664" style="height:45pt; item-align: vertical; vertical-align: top; text-align: left; padding-left: 5px">Date: <br /><span style="item-align: vertical; vertical-align: middle; text-align: center">@(((DateTime)@rs[0]["AssistantManagerPdeReviewedDate"]).ToString("dd MMM yyyy"))<span></td>
                    <td colspan="6" rowspan="3" class="xl652664" style="item-align: vertical; vertical-align: top; text-align: left; padding-left: 5px">Date: <br /><span style="item-align: vertical; vertical-align: middle; text-align: center;">@(((DateTime)@rs[0]["CrewingManagerApprovalDate"]).ToString("dd MMM yyyy"))<span></td>
                </tr>
                <tr height="20" style="mso-height-source:userset;height:15pt">
                <tr height="20" style="mso-height-source:userset;height:15pt">
                <tr height="20" style="mso-height-source:userset;height:15pt">
                    <td colspan="6" height="20" class="xl952664" style="height:15pt; text-align: left; padding-left: 5px">Reviewed by Ast. Man. PDE</td>
                    <td colspan="6" class="xl952664" style="border-left:none; text-align: left; padding-left: 5px;">Crewing Manager Approval</td>
                </tr>
                <tr height="20" style="mso-height-source:userset;height:15pt">
                    <td colspan="12" rowspan="2" height="40" class="xl962664" style="height:30pt">6. Principal's Comments</td>
                </tr>
                <tr height="20" style="height:15pt">
                <tr height="20" style="mso-height-source:userset;height:60pt">
                    <td colspan="12" rowspan="3" height="60" class="xl872664" style="height:45pt; white-space:pre-wrap;">@rs[0]["PrincipalComment"]</td>
                </tr>
                <tr height="20" style="height:15pt">
                <tr height="20" style="height:15pt">
                <tr height="20" style="height:15pt">
                    <td colspan="12" height="20" class="xl682664" style="height:15pt">&nbsp;</td>
                </tr>
                <![if supportMisalignedColumns]>
                <tr height="0" style="display:none">
                    <td width="64" style="width:48pt">
                    <td width="64" style="width:48pt">
                    <td width="64" style="width:48pt">
                    <td width="64" style="width:48pt">
                    <td width="64" style="width:48pt">
                    <td width="64" style="width:48pt">
                    <td width="64" style="width:48pt">
                    <td width="64" style="width:48pt">
                    <td width="64" style="width:48pt">
                    <td width="64" style="width:48pt">
                    <td width="64" style="width:48pt">
                    <td width="64" style="width:48pt">
                </tr>
                <![endif]>
            </table>
        </div>
        
        <div class="d-flex justify-content-end align-items-center py-4">
            <button id="print-data" onClick="printData()" name="print-data" type="button" class="btn" style="background: #afc535; color: white;">
                Print Data
            </button>
        </div>

        <script>
            function printData() {
                window.print();
            };
            window.matchMedia('print').addListener(function(event) {
                if (event.matches) {
                    // print dialog opened
                    document.getElementById('print-data').style.display = 'none';
                } else {
                    // print dialog closed
                    document.getElementById('print-data').style.display = 'block';
                }
            });
        </script>
    }
    else {
        <h1>Crew Not Found!</h1>
    }
}
@* Custom Template End Here *@
@Html.Raw(GetDebugMessage())
