@{
    // View
    View = this;

    // Check action result
    if (printCv.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!printCv.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
@printCv.ShowMessages()
@{
    string crewId = HttpContext.Request.Query["id"].ToString();

    string appraisalQuery = "SELECT * FROM vw_VitaeCrewAppraisalData WHERE CrewId = '" + crewId + "'";
    string bankQuery = "SELECT * FROM vw_VitaeCrewBankData WHERE CrewId = '" + crewId + "'";
    string compliantCertificateCourseQuery = "SELECT * FROM vw_VitaeCrewCompliantCertificatesCourseData WHERE CrewId = '" + crewId + "'";
    string educationQuery = "SELECT * FROM vw_VitaeCrewEducationData WHERE CrewId = '" + crewId + "'";
    string generalQuery = "SELECT * FROM vw_VitaeCrewGeneralData WHERE CrewId ='" + crewId + "'";
    string idDocumentVisaQuery = "SELECT * FROM vw_VitaeCrewIdDocumentVisaData WHERE CrewId = '" + crewId + "'";
    string medicalCertificateQuery = "SELECT * FROM vw_VitaeCrewMedicalCertificateData WHERE CrewId = '" + crewId + "'";
    string medicalHistoryQuery = "SELECT * FROM vw_VitaeCrewMedicalHistoryData WHERE CrewId ='" + crewId + "'";
    string nomineeFamilyQuery = "SELECT * FROM vw_VitaeCrewNomineeFamilyData WHERE CrewId ='" + crewId + "'";
    string personalQuery = "SELECT * FROM vw_VitaeCrewPersonalData WHERE CrewId = '" + crewId + "'";
    string seaExperienceQuery = "SELECT * FROM vw_VitaeCrewSeaExperienceData WHERE CrewId = '" + crewId + "'";

    var appraisalData = ExecuteRows(appraisalQuery);
    var bankData = ExecuteRows(bankQuery);
    var compliantCertificateCourseData = ExecuteRows(compliantCertificateCourseQuery);
    var educationData = ExecuteRows(educationQuery);
    var generalData = ExecuteRows(generalQuery);
    var idDocumentVisaData = ExecuteRows(idDocumentVisaQuery);
    var medicalCertificateData = ExecuteRows(medicalCertificateQuery);
    var medicalHistoryData = ExecuteRows(medicalHistoryQuery);
    var nomineeFamilyData = ExecuteRows(nomineeFamilyQuery);
    var personalData = ExecuteRows(personalQuery);
    var seaExperienceData = ExecuteRows(seaExperienceQuery);

    if (appraisalData.Any() && bankData.Any() && compliantCertificateCourseData.Any() && educationData.Any() && generalData.Any() && idDocumentVisaData.Any() && medicalCertificateData.Any() && medicalHistoryData.Any() && nomineeFamilyData.Any() && personalData.Any() && seaExperienceData.Any())
    {
        var fullName = personalData[0]["FullName"];
        var firstName = string.Empty;
        var middleName = string.Empty;
        var lastName = string.Empty;

        var nameParts = fullName.ToString().Split(' ');
        if (nameParts.Length >= 1)
        {
            firstName = nameParts[0];
        }
        if (nameParts.Length >= 2)
        {
            lastName = nameParts[nameParts.Length - 1];
        }
        if (nameParts.Length >= 3)
        {
            middleName = string.Join(" ", nameParts, 1, nameParts.Length - 2);
        }

        <div id="560_14563" align="center" x:publishsource="Excel">
            <table border="0" cellpadding="0" cellspacing="0" width="965" class="xl6414563" style="border-collapse: collapse; table-layout: fixed; width: 726pt">
                <col class="xl6314563" width="65" style="mso-width-source: userset; mso-width-alt: 2377; width: 49pt" />
                <col class="xl6314563" width="13" style="mso-width-source: userset; mso-width-alt: 475; width: 10pt" />
                <col class="xl6314563" width="7" style="mso-width-source: userset; mso-width-alt: 256; width: 5pt" />
                <col class="xl6314563" width="56" style="mso-width-source: userset; mso-width-alt: 2048; width: 42pt" />
                <col class="xl6314563" width="5" style="mso-width-source: userset; mso-width-alt: 182; width: 4pt" />
                <col class="xl6314563" width="21" style="mso-width-source: userset; mso-width-alt: 768; width: 16pt" />
                <col class="xl6314563" width="7" style="mso-width-source: userset; mso-width-alt: 256; width: 5pt" />
                <col class="xl6314563" width="56" style="mso-width-source: userset; mso-width-alt: 2048; width: 42pt" />
                <col class="xl6314563" width="13" style="mso-width-source: userset; mso-width-alt: 475; width: 10pt" />
                <col class="xl6314563" width="7" style="mso-width-source: userset; mso-width-alt: 256; width: 5pt" />
                <col class="xl6314563" width="28" style="mso-width-source: userset; mso-width-alt: 1024; width: 21pt" />
                <col class="xl6314563" width="84" style="mso-width-source: userset; mso-width-alt: 3072; width: 63pt" />
                <col class="xl6314563" width="13" style="mso-width-source: userset; mso-width-alt: 475; width: 10pt" />
                <col class="xl6314563" width="28" style="mso-width-source: userset; mso-width-alt: 1024; width: 21pt" />
                <col class="xl6314563" width="48" style="mso-width-source: userset; mso-width-alt: 1755; width: 36pt" />
                <col class="xl6314563" width="82" style="mso-width-source: userset; mso-width-alt: 2998; width: 62pt" />
                <col class="xl6314563" width="20" style="mso-width-source: userset; mso-width-alt: 731; width: 15pt" />
                <col class="xl6314563" width="48" style="mso-width-source: userset; mso-width-alt: 1755; width: 36pt" />
                <col class="xl6314563" width="7" style="mso-width-source: userset; mso-width-alt: 256; width: 5pt" />
                <col class="xl6314563" width="42" style="mso-width-source: userset; mso-width-alt: 1536; width: 32pt" />
                <col class="xl6314563" width="7" style="mso-width-source: userset; mso-width-alt: 256; width: 5pt" />
                <col class="xl6314563" width="20" style="mso-width-source: userset; mso-width-alt: 731; width: 15pt" />
                <col class="xl6314563" width="69" style="mso-width-source: userset; mso-width-alt: 2523; width: 52pt" />
                <col class="xl6314563" width="13" style="mso-width-source: userset; mso-width-alt: 475; width: 10pt" />
                <col class="xl6314563" width="41" style="mso-width-source: userset; mso-width-alt: 1499; width: 31pt" />
                <col class="xl6314563" width="7" style="mso-width-source: userset; mso-width-alt: 256; width: 5pt" />
                <col class="xl6314563" width="29" style="mso-width-source: userset; mso-width-alt: 1060; width: 22pt" />
                <col class="xl6314563" width="129" style="mso-width-source: userset; mso-width-alt: 4717; width: 97pt" />
                <tr height="20" style="height: 15pt">
                <td colspan="28" rowspan="3" height="60" class="xl6514563" width="965" style="height: 45pt; width: 726pt">CURRICULUM VITAE</td>
                </tr>
                <tr height="20" style="height: 15pt"></tr>
                <tr class="xl6314563" height="20" style="height: 15pt"></tr>
                <tr class="xl6314563" height="25" style="mso-height-source: userset; height: 18.75pt">
                <td colspan="7" rowspan="7" height="145" width="174" style="height: 78.75pt; width: 101pt" align="left" valign="top">
                    <img src="@AppPath()uploads/pngegg.png" alt="brand-logo" style="max-width:100%; max-height:100%;">
                </td>
                <td colspan="19" rowspan="7" class="xl6514563">BIO-DATA</td>
                <td colspan="2" rowspan="10" class="xl6614563">
                    @{
                        string requiredPhotoUrl = $"{AppPath()}uploads/{personalData[0]["IndividualCodeNumber"]}/{personalData[0]["RequiredPhoto"]}";
                    }
                    <img src="@Html.Raw(requiredPhotoUrl)" style="max-width:100%; max-height:100%;" alt="crew-photo" />
                </td>
                </tr>
                <tr class="xl6314563" height="20" style="height: 15pt"></tr>
                <tr class="xl6314563" height="20" style="height: 15pt"></tr>
                <tr class="xl6314563" height="20" style="height: 15pt"></tr>
                <tr class="xl6314563" height="20" style="height: 15pt"></tr>
                <tr class="xl6314563" height="20" style="height: 15pt"></tr>
                <tr class="xl6314563" height="20" style="height: 15pt"></tr>
                <tr class="xl6314563" height="20" style="height: 15pt">
                <td colspan="7" height="20" class="xl6714563" width="174" style="height: 15pt; width: 131pt">First Name</td>
                <td colspan="10" class="xl6814563" width="379" style="border-left: none; width: 285pt">@firstName</td>
                <td colspan="9" rowspan="3" class="xl6914563">&nbsp;</td>
                </tr>
                <tr class="xl6314563" height="20" style="height: 15pt">
                <td colspan="7" height="20" class="xl6714563" width="174" style="height: 15pt; width: 131pt">Middle Name</td>
                <td colspan="10" class="xl7114563" style="border-left: none">@middleName</td>
                </tr>
                <tr class="xl6314563" height="20" style="height: 15pt">
                <td colspan="7" height="20" class="xl6714563" width="174" style="height: 15pt; width: 131pt">Last Name</td>
                <td colspan="10" class="xl6814563" width="379" style="border-left: none; width: 285pt">@lastName</td>
                </tr>
                <tr class="xl6314563" height="20" style="height: 15pt">
                <td colspan="28" height="20" class="xl7214563" width="965" style="height: 15pt; width: 726pt"></td>
                </tr>
                <tr class="xl6314563" height="20" style="height: 15pt">
                <td colspan="3" height="20" class="xl7314563" style="height: 15pt">1.1</td>
                <td colspan="4" class="xl7414563" style="border-left: none">Rank</td>
                <td colspan="7" class="xl7114563" style="border-left: none">@personalData[0]["RankAppliedForName"]</td>
                <td colspan="3" class="xl7514563" style="border-right: 0.5pt solid black; border-left: none">Date Of Birth</td>
                <td colspan="7" class="xl7814563" style="border-right: 0.5pt solid black; border-left: none">@(((DateTime)@personalData[0]["DateOfBirth"]).ToString("dd MMM yyyy"))</td>
                <td colspan="3" class="xl7414563" style="border-left: none">Age</td>
                <td class="xl8114563" style="border-left: none">@personalData[0]["Age"]</td>
                </tr>
                <tr class="xl6314563" height="20" style="height: 15pt">
                <td colspan="3" height="20" class="xl7314563" style="height: 15pt">1.2</td>
                <td colspan="4" class="xl7414563" style="border-left: none">ID No.</td>
                <td colspan="13" class="xl7814563" style="border-right: 0.5pt solid black; border-left: none">@personalData[0]["IndividualCodeNumber"]</td>
                <td colspan="4" class="xl7514563" style="border-right: 0.5pt solid black; border-left: none">Nationality</td>
                <td colspan="4" class="xl7814563" style="border-right: 0.5pt solid black; border-left: none">@personalData[0]["Nationality"]</td>
                </tr>
                <tr class="xl6314563" height="20" style="height: 15pt">
                <td colspan="3" height="20" class="xl7314563" style="height: 15pt">1.4</td>
                <td colspan="4" class="xl7414563" style="border-left: none">Status</td>
                <td colspan="7" class="xl7114563" style="border-left: none">&nbsp;@*{{status}}*@</td>
                <td colspan="6" class="xl7414563" style="border-left: none">Reason For Disembarkation</td>
                <td colspan="8" class="xl7114563" style="border-left: none">&nbsp;@*{{reason_of_disembarkation}}*@</td>
                </tr>
                <tr class="xl6314563" height="20" style="height: 15pt">
                <td colspan="3" rowspan="4" height="80" class="xl8214563" style="border-right: 0.5pt solid black; height: 60pt">1.5</td>
                <td colspan="4" class="xl8514563" style="border-left: none">1.5.1</td>
                <td colspan="7" class="xl8514563" style="border-left: none">Recommended By</td>
                <td colspan="14" class="xl7814563" style="border-right: 0.5pt solid black; border-left: none">&nbsp;@*{{recommended_by}}*@</td>
                </tr>
                <tr class="xl6314563" height="20" style="height: 15pt">
                <td colspan="4" rowspan="3" height="60" class="xl8914563" style="border-right: 0.5pt solid black; height: 45pt">1.5.2</td>
                <td colspan="7" rowspan="3" class="xl8914563" style="border-right: 0.5pt solid black">Total Sea Service</td>
                <td colspan="14" class="xl7814563" style="border-right: 0.5pt solid black; border-left: none">@((Convert.ToInt32(seaExperienceData[0]["CrewExperienceTotalSeaExperience"])/30).ToString()) Months</td>
                </tr>
                <tr class="xl6314563" height="20" style="height: 15pt">
                <td colspan="4" rowspan="2" height="40" class="xl9514563" style="height: 30pt">Vessel Type</td>
                <td colspan="6" rowspan="2" class="xl9514563">Rank</td>
                <td colspan="4" rowspan="2" class="xl9514563">Experience in Months</td>
                </tr>
                <tr class="xl6314563" height="20" style="height: 15pt"></tr>
                @foreach (var row in seaExperienceData)
                {
                    <tr class="xl6314563" height="20" style="height: 15pt">
                        <td colspan="3" height="20" class="xl9614563" style="border-right: 0.5pt solid black; height: 15pt">&nbsp;</td>
                        <td colspan="4" class="xl9614563" style="border-right: 0.5pt solid black; border-left: none">&nbsp;</td>
                        <td colspan="7" class="xl9614563" style="border-right: 0.5pt solid black; border-left: none">&nbsp;</td>
                        <td colspan="4" class="xl9914563" style="border-right: 0.5pt solid black">@row["CrewExperienceVesselType"]</td>
                        <td colspan="6" class="xl10114563" style="border-left: none">@row["CrewExperienceRank"]</td>
                        <td colspan="4" class="xl10114563" style="border-left: none">@((Convert.ToInt32(row["CrewExperienceDuration"])/30).ToString()) Months</td>
                    </tr>
                }
                
                <tr class="xl6314563" height="20" style="height: 15pt">
                <td colspan="28" rowspan="2" height="40" class="xl10214563" style="height: 30pt">Documents</td>
                </tr>
                <tr class="xl6314563" height="20" style="height: 15pt"></tr>
                <tr class="xl6314563" height="20" style="height: 15pt">
                <td colspan="10" height="20" class="xl10614563" width="250" style="height: 15pt; width: 188pt">Document Name</td>
                <td colspan="3" class="xl10614563" width="125" style="border-left: none; width: 94pt">Grade/Level</td>
                <td colspan="3" class="xl10614563" width="158" style="border-left: none; width: 119pt">Document Number</td>
                <td colspan="6" class="xl10614563" width="144" style="border-left: none; width: 108pt">Place Of Issue</td>
                <td colspan="3" class="xl10614563" width="123" style="border-left: none; width: 93pt">Date Of Issue</td>
                <td colspan="3" class="xl10514563" style="border-left: none">Date Of Expiry</td>
                </tr>
                @foreach (var row in idDocumentVisaData)
                {
                    <tr class="xl6314563" height="20" style="height: 15pt">
                        <td colspan="10" height="20" class="xl6814563" width="250" style="height: 15pt; width: 188pt">@row["DocumentType"]</td>
                        <td colspan="3" class="xl6814563" width="125" style="border-left: none; width: 94pt">&nbsp;@*{{grade}}*@</td>
                        <td colspan="3" class="xl6814563" width="158" style="border-left: none; width: 119pt">@row["DocumentNumber"]</td>
                        <td colspan="6" class="xl6814563" width="144" style="border-left: none; width: 108pt">@row["PlaceOfIssue"]</td>
                        <td colspan="3" class="xl10414563" width="123" style="border-left: none; width: 93pt">@(((DateTime)@row["DateOfIssue"]).ToString("dd MMM yyyy"))</td>
                        <td colspan="3" class="xl10414563" width="165" style="border-left: none; width: 124pt">@(((DateTime)@row["DateValidUntil"]).ToString("dd MMM yyyy"))</td>
                    </tr>
                }
                
                <tr class="xl6314563" height="20" style="height: 15pt">
                <td colspan="28" rowspan="2" height="40" class="xl10314563" style="height: 30pt">Service Records</td>
                </tr>
                <tr class="xl6314563" height="20" style="height: 15pt"></tr>
                <tr class="xl6314563" height="20" style="height: 15pt">
                <td colspan="9" height="20" class="xl10514563" style="height: 15pt">Vessel Name</td>
                <td colspan="3" class="xl10514563" style="border-left: none">DWT</td>
                <td colspan="3" class="xl10614563" width="89" style="border-left: none; width: 67pt">Capacity</td>
                <td class="xl10614563" width="82" style="border-left: none; width: 62pt">Engine</td>
                <td colspan="4" rowspan="2" class="xl10614563" width="117" style="width: 88pt">Company Name</td>
                <td colspan="3" class="xl10614563" width="96" style="border-left: none; width: 72pt">From</td>
                <td colspan="4" rowspan="2" class="xl10514563">Duration</td>
                <td rowspan="2" class="xl10614563" width="129" style="width: 97pt">Reason For Sign Off</td>
                </tr>
                <tr class="xl6314563" height="20" style="height: 15pt">
                <td colspan="5" height="20" class="xl10514563" style="height: 15pt">Flag</td>
                <td colspan="4" class="xl10514563" style="border-left: none">Rank</td>
                <td colspan="3" class="xl10514563" style="border-left: none">Type</td>
                <td colspan="3" class="xl10514563" style="border-left: none">(MT/TEU)</td>
                <td class="xl10614563" width="82" style="border-top: none; border-left: none; width: 62pt">HP</td>
                <td colspan="3" class="xl10614563" width="96" style="border-left: none; width: 72pt">To</td>
                </tr>
                @foreach (var row in seaExperienceData)
                {
                    <tr class="xl6314563" height="20" style="height: 15pt">
                        <td colspan="9" rowspan="2" height="40" class="xl10414563" width="243" style="height: 30pt; width: 183pt">@row["CrewExperienceVesselName"]</td>
                        <td colspan="3" rowspan="2" class="xl10414563" width="119" style="width: 89pt">@row["CrewExperienceDWT"]</td>
                        <td colspan="3" rowspan="2" class="xl10814563" width="89" style="border-right: 0.5pt solid black; border-bottom: 0.5pt dashed black; width: 67pt">&nbsp;@*{{capacity}}*@</td>
                        <td rowspan="2" class="xl10414563" width="82" style="border-top: none; width: 62pt">@row["CrewExperienceMainEngine"]</td>
                        <td colspan="4" rowspan="4" class="xl10414563" width="117" style="width: 88pt">@row["CrewExperienceCompanyName"]</td>
                        <td colspan="3" rowspan="2" class="xl10414563" width="96" style="width: 72pt">@(((DateTime)@row["CrewExperienceDateFrom"]).ToString("dd MMM yyyy"))</td>
                        <td colspan="4" rowspan="4" class="xl10414563" width="90" style="width: 68pt">@((Convert.ToInt32(row["CrewExperienceDuration"])/30).ToString()) Month</td>
                        <td rowspan="4" class="xl10414563" width="129" style="border-top: none; width: 97pt">@row["CrewExperienceSignOffReason"]</td>
                    </tr>
                    <tr class="xl6314563" height="20" style="height: 15pt"></tr>
                    <tr class="xl6314563" height="20" style="height: 15pt">
                        <td colspan="5" rowspan="2" height="40" class="xl11414563" width="146" style="height: 30pt; width: 110pt">@row["CrewExperienceFlagCountry"]</td>
                        <td colspan="4" rowspan="2" class="xl11414563" width="97" style="width: 73pt">@row["CrewExperienceRank"]</td>
                        <td colspan="3" rowspan="2" class="xl11414563" width="119" style="width: 89pt">@row["CrewExperienceVesselType"]</td>
                        <td colspan="3" rowspan="2" class="xl11514563" width="89" style="border-right: 0.5pt solid black; border-bottom: 0.5pt solid black; width: 67pt">&nbsp;@*{{mt_eu}}*@</td>
                        <td rowspan="2" class="xl11414563" width="82" style="width: 62pt">@row["CrewExperienceBHP"]</td>
                        <td colspan="3" rowspan="2" class="xl11414563" width="96" style="width: 72pt">@(((DateTime)@row["CrewExperienceDateUntil"]).ToString("dd MMM yyyy"))</td>
                    </tr>
                    <tr class="xl6314563" height="20" style="height: 15pt"></tr>
                    
                }
                <tr height="20" style="height: 15pt">
                    <td colspan="28" height="20" class="xl10714563" width="965" style="height: 15pt; width: 726pt">&nbsp;</td>
                </tr>
                <![if supportMisalignedColumns]>
                <tr height="0" style="display: none">
                <td width="65" style="width: 49pt"></td>
                <td width="13" style="width: 10pt"></td>
                <td width="7" style="width: 5pt"></td>
                <td width="56" style="width: 42pt"></td>
                <td width="5" style="width: 4pt"></td>
                <td width="21" style="width: 16pt"></td>
                <td width="7" style="width: 5pt"></td>
                <td width="56" style="width: 42pt"></td>
                <td width="13" style="width: 10pt"></td>
                <td width="7" style="width: 5pt"></td>
                <td width="28" style="width: 21pt"></td>
                <td width="84" style="width: 63pt"></td>
                <td width="13" style="width: 10pt"></td>
                <td width="28" style="width: 21pt"></td>
                <td width="48" style="width: 36pt"></td>
                <td width="82" style="width: 62pt"></td>
                <td width="20" style="width: 15pt"></td>
                <td width="48" style="width: 36pt"></td>
                <td width="7" style="width: 5pt"></td>
                <td width="42" style="width: 32pt"></td>
                <td width="7" style="width: 5pt"></td>
                <td width="20" style="width: 15pt"></td>
                <td width="69" style="width: 52pt"></td>
                <td width="13" style="width: 10pt"></td>
                <td width="41" style="width: 31pt"></td>
                <td width="7" style="width: 5pt"></td>
                <td width="29" style="width: 22pt"></td>
                <td width="129" style="width: 97pt"></td>
                </tr>
                <![endif]>
            </table>
        </div>

        <div class="d-flex justify-content-end align-items-center py-4">
            <button id="print-data" onClick="printData()" name="print-data" type="button" class="btn" style="background: #afc535; color: white;">
                Print Data
            </button>
        </div>

        <script>
            function printData() {
                window.print();
            };
            window.matchMedia('print').addListener(function(event) {
                if (event.matches) {
                    // print dialog opened
                    document.getElementById('print-data').style.display = 'none';
                } else {
                    // print dialog closed
                    document.getElementById('print-data').style.display = 'block';
                }
            });
        </script>
    } else {
        <h1>Data Not Found!</h1>
    }
}
@Html.Raw(GetDebugMessage())
