@{
    trChecklist.TableClass = "table table-striped table-bordered table-hover table-sm ew-table ew-master-table"; // DN
}
@if (trChecklist.Visible) { // trChecklist.Visible (begin)
<div class="ew-master-div">
<table id="tbl_TRChecklistmaster" class="table ew-view-table ew-master-table ew-vertical">
    <tbody>
        @if (trChecklist.CreatedByUserID.Visible) { // trChecklist.CreatedByUserID.Visible (begin)
        <tr id="r_CreatedByUserID" @Html.Raw(trChecklist.CreatedByUserID.RowAttributes)>
            <td class="@(trChecklist.TableLeftColumnClass)">@Html.Raw(trChecklist.CreatedByUserID.Caption)</td>
            <td @Html.Raw(trChecklist.CreatedByUserID.CellAttributes)>
<span id="el_TRChecklist_CreatedByUserID">
<span @Html.Raw(trChecklist.CreatedByUserID.ViewAttributes)>
@Html.Raw(trChecklist.CreatedByUserID.GetViewValue())</span>
</span></td>
        </tr>
        } @* trChecklist.CreatedByUserID.Visible (end) *@
        @if (trChecklist.CreatedDateTime.Visible) { // trChecklist.CreatedDateTime.Visible (begin)
        <tr id="r_CreatedDateTime" @Html.Raw(trChecklist.CreatedDateTime.RowAttributes)>
            <td class="@(trChecklist.TableLeftColumnClass)">@Html.Raw(trChecklist.CreatedDateTime.Caption)</td>
            <td @Html.Raw(trChecklist.CreatedDateTime.CellAttributes)>
<span id="el_TRChecklist_CreatedDateTime">
<span @Html.Raw(trChecklist.CreatedDateTime.ViewAttributes)>
@Html.Raw(trChecklist.CreatedDateTime.GetViewValue())</span>
</span></td>
        </tr>
        } @* trChecklist.CreatedDateTime.Visible (end) *@
        @if (trChecklist.LastUpdatedByUserID.Visible) { // trChecklist.LastUpdatedByUserID.Visible (begin)
        <tr id="r_LastUpdatedByUserID" @Html.Raw(trChecklist.LastUpdatedByUserID.RowAttributes)>
            <td class="@(trChecklist.TableLeftColumnClass)">@Html.Raw(trChecklist.LastUpdatedByUserID.Caption)</td>
            <td @Html.Raw(trChecklist.LastUpdatedByUserID.CellAttributes)>
<span id="el_TRChecklist_LastUpdatedByUserID">
<span @Html.Raw(trChecklist.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(trChecklist.LastUpdatedByUserID.GetViewValue())</span>
</span></td>
        </tr>
        } @* trChecklist.LastUpdatedByUserID.Visible (end) *@
        @if (trChecklist.LastUpdatedDateTime.Visible) { // trChecklist.LastUpdatedDateTime.Visible (begin)
        <tr id="r_LastUpdatedDateTime" @Html.Raw(trChecklist.LastUpdatedDateTime.RowAttributes)>
            <td class="@(trChecklist.TableLeftColumnClass)">@Html.Raw(trChecklist.LastUpdatedDateTime.Caption)</td>
            <td @Html.Raw(trChecklist.LastUpdatedDateTime.CellAttributes)>
<span id="el_TRChecklist_LastUpdatedDateTime">
<span @Html.Raw(trChecklist.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(trChecklist.LastUpdatedDateTime.GetViewValue())</span>
</span></td>
        </tr>
        } @* trChecklist.LastUpdatedDateTime.Visible (end) *@
        @if (trChecklist.ApprovedByUserID1.Visible) { // trChecklist.ApprovedByUserID1.Visible (begin)
        <tr id="r_ApprovedByUserID1" @Html.Raw(trChecklist.ApprovedByUserID1.RowAttributes)>
            <td class="@(trChecklist.TableLeftColumnClass)">@Html.Raw(trChecklist.ApprovedByUserID1.Caption)</td>
            <td @Html.Raw(trChecklist.ApprovedByUserID1.CellAttributes)>
<span id="el_TRChecklist_ApprovedByUserID1">
<span @Html.Raw(trChecklist.ApprovedByUserID1.ViewAttributes)>
@Html.Raw(trChecklist.ApprovedByUserID1.GetViewValue())</span>
</span></td>
        </tr>
        } @* trChecklist.ApprovedByUserID1.Visible (end) *@
        @if (trChecklist.ApprovedByUserID2.Visible) { // trChecklist.ApprovedByUserID2.Visible (begin)
        <tr id="r_ApprovedByUserID2" @Html.Raw(trChecklist.ApprovedByUserID2.RowAttributes)>
            <td class="@(trChecklist.TableLeftColumnClass)">@Html.Raw(trChecklist.ApprovedByUserID2.Caption)</td>
            <td @Html.Raw(trChecklist.ApprovedByUserID2.CellAttributes)>
<span id="el_TRChecklist_ApprovedByUserID2">
<span @Html.Raw(trChecklist.ApprovedByUserID2.ViewAttributes)>
@Html.Raw(trChecklist.ApprovedByUserID2.GetViewValue())</span>
</span></td>
        </tr>
        } @* trChecklist.ApprovedByUserID2.Visible (end) *@
    </tbody>
</table>
</div>
} @* trChecklist.Visible (end) *@
