@{
    // View
    View = this;

    // Check action result
    if (trChecklistPerformanceDelete.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!trChecklistPerformanceDelete.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(trChecklistPerformanceDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { TRChecklistPerformance: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fTRChecklistPerformancedelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fTRChecklistPerformancedelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@trChecklistPerformanceDelete.ShowPageHeader()
@trChecklistPerformanceDelete.ShowMessages()
<form name="fTRChecklistPerformancedelete" id="fTRChecklistPerformancedelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in trChecklistPerformanceDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(trChecklistPerformanceDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(trChecklistPerformanceDelete.TableContainerClass)" style="@(trChecklistPerformanceDelete.TableContainerStyle)">
<table class="@(trChecklistPerformanceDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (trChecklistPerformanceDelete.ManningAgent.Visible) { // trChecklistPerformanceDelete.ManningAgent.Visible (begin)
        <th class="@Html.Raw(trChecklistPerformanceDelete.ManningAgent.HeaderCellClass)"><span id="elh_TRChecklistPerformance_ManningAgent" class="TRChecklistPerformance_ManningAgent">@Html.Raw(trChecklistPerformanceDelete.ManningAgent.Caption)</span></th>
} @* trChecklistPerformanceDelete.ManningAgent.Visible (end) *@
@if (trChecklistPerformanceDelete.VesselName.Visible) { // trChecklistPerformanceDelete.VesselName.Visible (begin)
        <th class="@Html.Raw(trChecklistPerformanceDelete.VesselName.HeaderCellClass)"><span id="elh_TRChecklistPerformance_VesselName" class="TRChecklistPerformance_VesselName">@Html.Raw(trChecklistPerformanceDelete.VesselName.Caption)</span></th>
} @* trChecklistPerformanceDelete.VesselName.Visible (end) *@
@if (trChecklistPerformanceDelete.Performance.Visible) { // trChecklistPerformanceDelete.Performance.Visible (begin)
        <th class="@Html.Raw(trChecklistPerformanceDelete.Performance.HeaderCellClass)"><span id="elh_TRChecklistPerformance_Performance" class="TRChecklistPerformance_Performance">@Html.Raw(trChecklistPerformanceDelete.Performance.Caption)</span></th>
} @* trChecklistPerformanceDelete.Performance.Visible (end) *@
@if (trChecklistPerformanceDelete.DateChecked.Visible) { // trChecklistPerformanceDelete.DateChecked.Visible (begin)
        <th class="@Html.Raw(trChecklistPerformanceDelete.DateChecked.HeaderCellClass)"><span id="elh_TRChecklistPerformance_DateChecked" class="TRChecklistPerformance_DateChecked">@Html.Raw(trChecklistPerformanceDelete.DateChecked.Caption)</span></th>
} @* trChecklistPerformanceDelete.DateChecked.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ trChecklistPerformanceDelete.RecordCount = 0; }
@while (trChecklistPerformanceDelete.Recordset != null && await trChecklistPerformanceDelete.Recordset.ReadAsync()) { // DN
    trChecklistPerformanceDelete.RecordCount++;
    trChecklistPerformanceDelete.RowCount++;

    // Set row properties
    trChecklistPerformanceDelete.ResetAttributes();
    trChecklistPerformanceDelete.RowType = RowType.View; // View

    // Get the field contents
    await trChecklistPerformanceDelete.LoadRowValues(trChecklistPerformanceDelete.Recordset);

    // Render row
    await trChecklistPerformanceDelete.RenderRow();
    <tr @Html.Raw(trChecklistPerformanceDelete.RowAttributes)>
@if (trChecklistPerformanceDelete.ManningAgent.Visible) { // trChecklistPerformanceDelete.ManningAgent.Visible (begin)
        <td @Html.Raw(trChecklistPerformanceDelete.ManningAgent.CellAttributes)>
<span id="el@(trChecklistPerformanceDelete.RowCount)_TRChecklistPerformance_ManningAgent" class="el_TRChecklistPerformance_ManningAgent">
<span @Html.Raw(trChecklistPerformanceDelete.ManningAgent.ViewAttributes)>
@Html.Raw(trChecklistPerformanceDelete.ManningAgent.GetViewValue())</span>
</span></td>
} @* trChecklistPerformanceDelete.ManningAgent.Visible (end) *@
@if (trChecklistPerformanceDelete.VesselName.Visible) { // trChecklistPerformanceDelete.VesselName.Visible (begin)
        <td @Html.Raw(trChecklistPerformanceDelete.VesselName.CellAttributes)>
<span id="el@(trChecklistPerformanceDelete.RowCount)_TRChecklistPerformance_VesselName" class="el_TRChecklistPerformance_VesselName">
<span @Html.Raw(trChecklistPerformanceDelete.VesselName.ViewAttributes)>
@Html.Raw(trChecklistPerformanceDelete.VesselName.GetViewValue())</span>
</span></td>
} @* trChecklistPerformanceDelete.VesselName.Visible (end) *@
@if (trChecklistPerformanceDelete.Performance.Visible) { // trChecklistPerformanceDelete.Performance.Visible (begin)
        <td @Html.Raw(trChecklistPerformanceDelete.Performance.CellAttributes)>
<span id="el@(trChecklistPerformanceDelete.RowCount)_TRChecklistPerformance_Performance" class="el_TRChecklistPerformance_Performance">
<span @Html.Raw(trChecklistPerformanceDelete.Performance.ViewAttributes)>
@Html.Raw(trChecklistPerformanceDelete.Performance.GetViewValue())</span>
</span></td>
} @* trChecklistPerformanceDelete.Performance.Visible (end) *@
@if (trChecklistPerformanceDelete.DateChecked.Visible) { // trChecklistPerformanceDelete.DateChecked.Visible (begin)
        <td @Html.Raw(trChecklistPerformanceDelete.DateChecked.CellAttributes)>
<span id="el@(trChecklistPerformanceDelete.RowCount)_TRChecklistPerformance_DateChecked" class="el_TRChecklistPerformance_DateChecked">
<span @Html.Raw(trChecklistPerformanceDelete.DateChecked.ViewAttributes)>
@Html.Raw(trChecklistPerformanceDelete.DateChecked.GetViewValue())</span>
</span></td>
} @* trChecklistPerformanceDelete.DateChecked.Visible (end) *@
    </tr>
}
@{ trChecklistPerformanceDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(trChecklistPerformanceDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@trChecklistPerformanceDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
