@{
    // View
    View = this;

    // Check action result
    if (trEmailHistoryList.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!trEmailHistoryList.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
@if (!trEmailHistoryList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(trEmailHistoryList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { TREmailHistory: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(trEmailHistoryList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(trEmailHistoryList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(trEmailHistoryList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(trEmailHistoryList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
ew.PREVIEW_SELECTOR = ".ew-preview-btn";
ew.PREVIEW_MODAL_CLASS = "modal modal-fullscreen-sm-down";
ew.PREVIEW_ROW = true;
ew.PREVIEW_SINGLE_ROW = false;
ew.PREVIEW || ew.ready("head", ew.PATH_BASE + "js/preview.min.js?v=20.1.0", "preview");
</script>
<script>
window.Tabulator || loadjs([
    ew.PATH_BASE + "js/tabulator.min.js?v=20.1.5",
    ew.PATH_BASE + "css/@CssFile("tabulator_bootstrap5.css", false)?v=20.1.5"
], "import");
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!trEmailHistoryList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (trEmailHistoryList.TotalRecords > 0 && trEmailHistoryList.ExportOptions.Visible) {
    trEmailHistoryList.ExportOptions.Render("body");
}
@if (trEmailHistoryList.ImportOptions.Visible) {
    trEmailHistoryList.ImportOptions.Render("body");
}
@if (trEmailHistoryList.SearchOptions.Visible) {
    trEmailHistoryList.SearchOptions.Render("body");
}
@if (trEmailHistoryList.FilterOptions.Visible) {
    trEmailHistoryList.FilterOptions.Render("body");
}
</div>
}
@if (!trEmailHistoryList.IsModal) {
<form name="fTREmailHistorysrch" id="fTREmailHistorysrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" autocomplete="on">
<div id="fTREmailHistorysrch_search_panel" class="mb-2 mb-sm-0 @(trEmailHistoryList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(trEmailHistoryList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { TREmailHistory: currentTable } });
var currentForm;
var fTREmailHistorysrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fTREmailHistorysrch")
        .setPageId("list")
@if (trEmailHistoryList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(await trEmailHistoryList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!trEmailHistoryList.IsExport() && Empty(trEmailHistoryList.CurrentAction) && trEmailHistoryList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(trEmailHistoryList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(trEmailHistoryList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(trEmailHistoryList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(trEmailHistoryList.BasicSearch.SessionType == "" ? " active" : "")" form="fTREmailHistorysrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(trEmailHistoryList.BasicSearch.SessionType == "=" ? " active" : "")" form="fTREmailHistorysrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(trEmailHistoryList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fTREmailHistorysrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(trEmailHistoryList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fTREmailHistorysrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@trEmailHistoryList.ShowPageHeader()
@trEmailHistoryList.ShowMessages()
<main class="list @(trEmailHistoryList.TotalRecords == 0 && !trEmailHistoryList.IsAdd ? " ew-no-record" : "")">
<div id="ew-list">
@if (trEmailHistoryList.TotalRecords > 0 || !Empty(trEmailHistoryList.CurrentAction)) {
<div class="card ew-card ew-grid@(trEmailHistoryList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(trEmailHistoryList.TableGridClass)">
<form name="@(trEmailHistoryList.FormName)" id="@(trEmailHistoryList.FormName)" class="ew-form ew-list-form" action="@AppPath(trEmailHistoryList.PageName)" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (trEmailHistoryList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_TREmailHistory" class="card-body ew-grid-middle-panel @(trEmailHistoryList.TableContainerClass)" style="@(trEmailHistoryList.TableContainerStyle)">
@if (trEmailHistoryList.TotalRecords > 0 || trEmailHistoryList.IsGridEdit || trEmailHistoryList.IsMultiEdit) {
<table id="tbl_TREmailHistorylist" class="@(trEmailHistoryList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    trEmailHistoryList.RowType = RowType.Header;

    // Render list options
    await trEmailHistoryList.RenderListOptions();
}
@* Render list options (header, left) *@
@trEmailHistoryList.ListOptions.RenderHeader("left")
@if (trEmailHistoryList.Id.Visible) { // trEmailHistoryList.Id.Visible (begin)
        <th data-name="Id" class="@(trEmailHistoryList.Id.HeaderCellClass)" style="white-space: nowrap;"><div id="elh_TREmailHistory_Id" class="TREmailHistory_Id">@Html.Raw(trEmailHistoryList.RenderFieldHeader(trEmailHistoryList.Id))</div></th>
} @* trEmailHistoryList.Id.Visible (end) *@
@if (trEmailHistoryList.MTEmailTemplate_ID.Visible) { // trEmailHistoryList.MTEmailTemplate_ID.Visible (begin)
        <th data-name="MTEmailTemplate_ID" class="@(trEmailHistoryList.MTEmailTemplate_ID.HeaderCellClass)" style="white-space: nowrap;"><div id="elh_TREmailHistory_MTEmailTemplate_ID" class="TREmailHistory_MTEmailTemplate_ID">@Html.Raw(trEmailHistoryList.RenderFieldHeader(trEmailHistoryList.MTEmailTemplate_ID))</div></th>
} @* trEmailHistoryList.MTEmailTemplate_ID.Visible (end) *@
@if (trEmailHistoryList.To.Visible) { // trEmailHistoryList.To.Visible (begin)
        <th data-name="To" class="@(trEmailHistoryList.To.HeaderCellClass)" style="white-space: nowrap;"><div id="elh_TREmailHistory_To" class="TREmailHistory_To">@Html.Raw(trEmailHistoryList.RenderFieldHeader(trEmailHistoryList.To))</div></th>
} @* trEmailHistoryList.To.Visible (end) *@
@if (trEmailHistoryList.From.Visible) { // trEmailHistoryList.From.Visible (begin)
        <th data-name="From" class="@(trEmailHistoryList.From.HeaderCellClass)" style="white-space: nowrap;"><div id="elh_TREmailHistory_From" class="TREmailHistory_From">@Html.Raw(trEmailHistoryList.RenderFieldHeader(trEmailHistoryList.From))</div></th>
} @* trEmailHistoryList.From.Visible (end) *@
@if (trEmailHistoryList.Cc.Visible) { // trEmailHistoryList.Cc.Visible (begin)
        <th data-name="Cc" class="@(trEmailHistoryList.Cc.HeaderCellClass)" style="white-space: nowrap;"><div id="elh_TREmailHistory_Cc" class="TREmailHistory_Cc">@Html.Raw(trEmailHistoryList.RenderFieldHeader(trEmailHistoryList.Cc))</div></th>
} @* trEmailHistoryList.Cc.Visible (end) *@
@if (trEmailHistoryList.Bcc.Visible) { // trEmailHistoryList.Bcc.Visible (begin)
        <th data-name="Bcc" class="@(trEmailHistoryList.Bcc.HeaderCellClass)" style="white-space: nowrap;"><div id="elh_TREmailHistory_Bcc" class="TREmailHistory_Bcc">@Html.Raw(trEmailHistoryList.RenderFieldHeader(trEmailHistoryList.Bcc))</div></th>
} @* trEmailHistoryList.Bcc.Visible (end) *@
@if (trEmailHistoryList.MTCrew_ID.Visible) { // trEmailHistoryList.MTCrew_ID.Visible (begin)
        <th data-name="MTCrew_ID" class="@(trEmailHistoryList.MTCrew_ID.HeaderCellClass)" style="white-space: nowrap;"><div id="elh_TREmailHistory_MTCrew_ID" class="TREmailHistory_MTCrew_ID">@Html.Raw(trEmailHistoryList.RenderFieldHeader(trEmailHistoryList.MTCrew_ID))</div></th>
} @* trEmailHistoryList.MTCrew_ID.Visible (end) *@
@* Render list options (header, right) *@
@trEmailHistoryList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(trEmailHistoryList.PageNumber)">
@{
    await trEmailHistoryList.SetupGrid();
    bool eof = trEmailHistoryList.Recordset == null; // DN
}
@while (trEmailHistoryList.RecordCount < trEmailHistoryList.StopRecord || SameString(trEmailHistoryList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(trEmailHistoryList.RowIndex, "$rowindex$") &&
        (!trEmailHistoryList.IsGridAdd || trEmailHistoryList.CurrentMode == "copy") &&
        (!((trEmailHistoryList.IsCopy || trEmailHistoryList.IsAdd) && trEmailHistoryList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await trEmailHistoryList.Recordset.ReadAsync();
    trEmailHistoryList.RecordCount++;
    if (trEmailHistoryList.RecordCount >= trEmailHistoryList.StartRecord) {
        await trEmailHistoryList.SetupRow();
    <tr @Html.Raw(trEmailHistoryList.RowAttributes)>
    @* Render list options (body, left) *@
    @trEmailHistoryList.ListOptions.RenderBody("left", trEmailHistoryList.RowCount)
    @if (trEmailHistoryList.Id.Visible) { // trEmailHistoryList.Id.Visible (begin)
        <td data-name="Id" @Html.Raw(trEmailHistoryList.Id.CellAttributes)>
<span id="el@(trEmailHistoryList.RowCount)_TREmailHistory_Id" class="el_TREmailHistory_Id">
<span @Html.Raw(trEmailHistoryList.Id.ViewAttributes)>
@Html.Raw(trEmailHistoryList.Id.GetViewValue())</span>
</span>
</td>
    } @* trEmailHistoryList.Id.Visible (end) *@
    @if (trEmailHistoryList.MTEmailTemplate_ID.Visible) { // trEmailHistoryList.MTEmailTemplate_ID.Visible (begin)
        <td data-name="MTEmailTemplate_ID" @Html.Raw(trEmailHistoryList.MTEmailTemplate_ID.CellAttributes)>
<span id="el@(trEmailHistoryList.RowCount)_TREmailHistory_MTEmailTemplate_ID" class="el_TREmailHistory_MTEmailTemplate_ID">
<span @Html.Raw(trEmailHistoryList.MTEmailTemplate_ID.ViewAttributes)>
@Html.Raw(trEmailHistoryList.MTEmailTemplate_ID.GetViewValue())</span>
</span>
</td>
    } @* trEmailHistoryList.MTEmailTemplate_ID.Visible (end) *@
    @if (trEmailHistoryList.To.Visible) { // trEmailHistoryList.To.Visible (begin)
        <td data-name="To" @Html.Raw(trEmailHistoryList.To.CellAttributes)>
<span id="el@(trEmailHistoryList.RowCount)_TREmailHistory_To" class="el_TREmailHistory_To">
<span @Html.Raw(trEmailHistoryList.To.ViewAttributes)>
@Html.Raw(trEmailHistoryList.To.GetViewValue())</span>
</span>
</td>
    } @* trEmailHistoryList.To.Visible (end) *@
    @if (trEmailHistoryList.From.Visible) { // trEmailHistoryList.From.Visible (begin)
        <td data-name="From" @Html.Raw(trEmailHistoryList.From.CellAttributes)>
<span id="el@(trEmailHistoryList.RowCount)_TREmailHistory_From" class="el_TREmailHistory_From">
<span @Html.Raw(trEmailHistoryList.From.ViewAttributes)>
@Html.Raw(trEmailHistoryList.From.GetViewValue())</span>
</span>
</td>
    } @* trEmailHistoryList.From.Visible (end) *@
    @if (trEmailHistoryList.Cc.Visible) { // trEmailHistoryList.Cc.Visible (begin)
        <td data-name="Cc" @Html.Raw(trEmailHistoryList.Cc.CellAttributes)>
<span id="el@(trEmailHistoryList.RowCount)_TREmailHistory_Cc" class="el_TREmailHistory_Cc">
<span @Html.Raw(trEmailHistoryList.Cc.ViewAttributes)>
@Html.Raw(trEmailHistoryList.Cc.GetViewValue())</span>
</span>
</td>
    } @* trEmailHistoryList.Cc.Visible (end) *@
    @if (trEmailHistoryList.Bcc.Visible) { // trEmailHistoryList.Bcc.Visible (begin)
        <td data-name="Bcc" @Html.Raw(trEmailHistoryList.Bcc.CellAttributes)>
<span id="el@(trEmailHistoryList.RowCount)_TREmailHistory_Bcc" class="el_TREmailHistory_Bcc">
<span @Html.Raw(trEmailHistoryList.Bcc.ViewAttributes)>
@Html.Raw(trEmailHistoryList.Bcc.GetViewValue())</span>
</span>
</td>
    } @* trEmailHistoryList.Bcc.Visible (end) *@
    @if (trEmailHistoryList.MTCrew_ID.Visible) { // trEmailHistoryList.MTCrew_ID.Visible (begin)
        <td data-name="MTCrew_ID" @Html.Raw(trEmailHistoryList.MTCrew_ID.CellAttributes)>
<span id="el@(trEmailHistoryList.RowCount)_TREmailHistory_MTCrew_ID" class="el_TREmailHistory_MTCrew_ID">
<span @Html.Raw(trEmailHistoryList.MTCrew_ID.ViewAttributes)>
@Html.Raw(trEmailHistoryList.MTCrew_ID.GetViewValue())</span>
</span>
</td>
    } @* trEmailHistoryList.MTCrew_ID.Visible (end) *@
    @* Render list options (body, right) *@
    @trEmailHistoryList.ListOptions.RenderBody("right", trEmailHistoryList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(trEmailHistoryList.RowIndex, "$rowindex$"))
        trEmailHistoryList.RowIndex = 0;

    // Reset inline add/copy row
    if ((trEmailHistoryList.IsCopy || trEmailHistoryList.IsAdd) && trEmailHistoryList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        trEmailHistoryList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(trEmailHistoryList.CurrentAction) && !trEmailHistoryList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ trEmailHistoryList.CloseRecordset(); }
@if (!trEmailHistoryList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!trEmailHistoryList.IsGridAdd && !(trEmailHistoryList.IsGridEdit && trEmailHistoryList.ModalGridEdit) && !trEmailHistoryList.IsMultiEdit) {
@Html.Raw(trEmailHistoryList.Pager.Render())
}
<div class="ew-list-other-options">
@trEmailHistoryList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@trEmailHistoryList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
</main>
@trEmailHistoryList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!trEmailHistoryList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("TREmailHistory");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
