@{
    // View
    View = this;

    // Check action result
    if (trmcuResultEdit.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!trmcuResultEdit.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@trmcuResultEdit.ShowPageHeader()
@trmcuResultEdit.ShowMessages()
<main class="edit">
<form name="fTRMCUResultedit" id="fTRMCUResultedit" class="@(trmcuResultEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
<script>
var currentTable = @Html.Raw(ConvertToJson(trmcuResultEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { TRMCUResult: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fTRMCUResultedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fTRMCUResultedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["MTCrew_ID", [fields.MTCrew_ID.visible && fields.MTCrew_ID.required ? ew.Validators.required(fields.MTCrew_ID.caption) : null], fields.MTCrew_ID.isInvalid],
            ["McuDate", [fields.McuDate.visible && fields.McuDate.required ? ew.Validators.required(fields.McuDate.caption) : null, ew.Validators.datetime(fields.McuDate.clientFormatPattern)], fields.McuDate.isInvalid],
            ["McuExpirationDate", [fields.McuExpirationDate.visible && fields.McuExpirationDate.required ? ew.Validators.required(fields.McuExpirationDate.caption) : null, ew.Validators.datetime(fields.McuExpirationDate.clientFormatPattern)], fields.McuExpirationDate.isInvalid],
            ["HealthStatus", [fields.HealthStatus.visible && fields.HealthStatus.required ? ew.Validators.required(fields.HealthStatus.caption) : null], fields.HealthStatus.isInvalid],
            ["McuLocation", [fields.McuLocation.visible && fields.McuLocation.required ? ew.Validators.required(fields.McuLocation.caption) : null], fields.McuLocation.isInvalid],
            ["McuAttachment", [fields.McuAttachment.visible && fields.McuAttachment.required ? ew.Validators.fileRequired(fields.McuAttachment.caption) : null], fields.McuAttachment.isInvalid],
            ["McuScheduleDate", [fields.McuScheduleDate.visible && fields.McuScheduleDate.required ? ew.Validators.required(fields.McuScheduleDate.caption) : null, ew.Validators.datetime(fields.McuScheduleDate.clientFormatPattern)], fields.McuScheduleDate.isInvalid],
            ["McuRemark", [fields.McuRemark.visible && fields.McuRemark.required ? ew.Validators.required(fields.McuRemark.caption) : null], fields.McuRemark.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(trmcuResultEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(trmcuResultEdit.OldKeyName)" value="@Html.Raw(trmcuResultEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (trmcuResultEdit.MTCrew_ID.Visible) { // trmcuResultEdit.MTCrew_ID.Visible (begin)
    <div id="r_MTCrew_ID" @Html.Raw(trmcuResultEdit.MTCrew_ID.RowAttributes)>
        <label id="elh_TRMCUResult_MTCrew_ID" for="x_MTCrew_ID" class="@(trmcuResultEdit.LeftColumnClass)">@Html.Raw(trmcuResultEdit.MTCrew_ID.Caption)@Html.Raw(trmcuResultEdit.MTCrew_ID.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(trmcuResultEdit.RightColumnClass)"><div @Html.Raw(trmcuResultEdit.MTCrew_ID.CellAttributes)>
<span id="el_TRMCUResult_MTCrew_ID">
<input type="@(trmcuResultEdit.MTCrew_ID.InputTextType)" name="x_MTCrew_ID" id="x_MTCrew_ID" data-table="TRMCUResult" data-field="x_MTCrew_ID" value="@Html.Raw(trmcuResultEdit.MTCrew_ID.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(trmcuResultEdit.MTCrew_ID.PlaceHolder))" data-format-pattern="@(trmcuResultEdit.MTCrew_ID.FormatPattern)"@Html.Raw(trmcuResultEdit.MTCrew_ID.EditAttributes) aria-describedby="x_MTCrew_ID_help">
@Html.Raw(trmcuResultEdit.MTCrew_ID.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(trmcuResultEdit.MTCrew_ID.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* trmcuResultEdit.MTCrew_ID.Visible (end) *@
@if (trmcuResultEdit.McuDate.Visible) { // trmcuResultEdit.McuDate.Visible (begin)
    <div id="r_McuDate" @Html.Raw(trmcuResultEdit.McuDate.RowAttributes)>
        <label id="elh_TRMCUResult_McuDate" for="x_McuDate" class="@(trmcuResultEdit.LeftColumnClass)">@Html.Raw(trmcuResultEdit.McuDate.Caption)@Html.Raw(trmcuResultEdit.McuDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(trmcuResultEdit.RightColumnClass)"><div @Html.Raw(trmcuResultEdit.McuDate.CellAttributes)>
<span id="el_TRMCUResult_McuDate">
<input type="@(trmcuResultEdit.McuDate.InputTextType)" name="x_McuDate" id="x_McuDate" data-table="TRMCUResult" data-field="x_McuDate" value="@Html.Raw(trmcuResultEdit.McuDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(trmcuResultEdit.McuDate.PlaceHolder))" data-format-pattern="@(trmcuResultEdit.McuDate.FormatPattern)"@Html.Raw(trmcuResultEdit.McuDate.EditAttributes) aria-describedby="x_McuDate_help">
@Html.Raw(trmcuResultEdit.McuDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(trmcuResultEdit.McuDate.GetErrorMessage())</div>
@if (!trmcuResultEdit.McuDate.ReadOnly && !trmcuResultEdit.McuDate.Disabled && !trmcuResultEdit.McuDate.EditAttrs.Is("readonly") && !trmcuResultEdit.McuDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fTRMCUResultedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fTRMCUResultedit", "x_McuDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* trmcuResultEdit.McuDate.Visible (end) *@
@if (trmcuResultEdit.McuExpirationDate.Visible) { // trmcuResultEdit.McuExpirationDate.Visible (begin)
    <div id="r_McuExpirationDate" @Html.Raw(trmcuResultEdit.McuExpirationDate.RowAttributes)>
        <label id="elh_TRMCUResult_McuExpirationDate" for="x_McuExpirationDate" class="@(trmcuResultEdit.LeftColumnClass)">@Html.Raw(trmcuResultEdit.McuExpirationDate.Caption)@Html.Raw(trmcuResultEdit.McuExpirationDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(trmcuResultEdit.RightColumnClass)"><div @Html.Raw(trmcuResultEdit.McuExpirationDate.CellAttributes)>
<span id="el_TRMCUResult_McuExpirationDate">
<input type="@(trmcuResultEdit.McuExpirationDate.InputTextType)" name="x_McuExpirationDate" id="x_McuExpirationDate" data-table="TRMCUResult" data-field="x_McuExpirationDate" value="@Html.Raw(trmcuResultEdit.McuExpirationDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(trmcuResultEdit.McuExpirationDate.PlaceHolder))" data-format-pattern="@(trmcuResultEdit.McuExpirationDate.FormatPattern)"@Html.Raw(trmcuResultEdit.McuExpirationDate.EditAttributes) aria-describedby="x_McuExpirationDate_help">
@Html.Raw(trmcuResultEdit.McuExpirationDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(trmcuResultEdit.McuExpirationDate.GetErrorMessage())</div>
@if (!trmcuResultEdit.McuExpirationDate.ReadOnly && !trmcuResultEdit.McuExpirationDate.Disabled && !trmcuResultEdit.McuExpirationDate.EditAttrs.Is("readonly") && !trmcuResultEdit.McuExpirationDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fTRMCUResultedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fTRMCUResultedit", "x_McuExpirationDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* trmcuResultEdit.McuExpirationDate.Visible (end) *@
@if (trmcuResultEdit.HealthStatus.Visible) { // trmcuResultEdit.HealthStatus.Visible (begin)
    <div id="r_HealthStatus" @Html.Raw(trmcuResultEdit.HealthStatus.RowAttributes)>
        <label id="elh_TRMCUResult_HealthStatus" for="x_HealthStatus" class="@(trmcuResultEdit.LeftColumnClass)">@Html.Raw(trmcuResultEdit.HealthStatus.Caption)@Html.Raw(trmcuResultEdit.HealthStatus.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(trmcuResultEdit.RightColumnClass)"><div @Html.Raw(trmcuResultEdit.HealthStatus.CellAttributes)>
<span id="el_TRMCUResult_HealthStatus">
<input type="@(trmcuResultEdit.HealthStatus.InputTextType)" name="x_HealthStatus" id="x_HealthStatus" data-table="TRMCUResult" data-field="x_HealthStatus" value="@Html.Raw(trmcuResultEdit.HealthStatus.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(trmcuResultEdit.HealthStatus.PlaceHolder))" data-format-pattern="@(trmcuResultEdit.HealthStatus.FormatPattern)"@Html.Raw(trmcuResultEdit.HealthStatus.EditAttributes) aria-describedby="x_HealthStatus_help">
@Html.Raw(trmcuResultEdit.HealthStatus.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(trmcuResultEdit.HealthStatus.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* trmcuResultEdit.HealthStatus.Visible (end) *@
@if (trmcuResultEdit.McuLocation.Visible) { // trmcuResultEdit.McuLocation.Visible (begin)
    <div id="r_McuLocation" @Html.Raw(trmcuResultEdit.McuLocation.RowAttributes)>
        <label id="elh_TRMCUResult_McuLocation" for="x_McuLocation" class="@(trmcuResultEdit.LeftColumnClass)">@Html.Raw(trmcuResultEdit.McuLocation.Caption)@Html.Raw(trmcuResultEdit.McuLocation.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(trmcuResultEdit.RightColumnClass)"><div @Html.Raw(trmcuResultEdit.McuLocation.CellAttributes)>
<span id="el_TRMCUResult_McuLocation">
<input type="@(trmcuResultEdit.McuLocation.InputTextType)" name="x_McuLocation" id="x_McuLocation" data-table="TRMCUResult" data-field="x_McuLocation" value="@Html.Raw(trmcuResultEdit.McuLocation.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(trmcuResultEdit.McuLocation.PlaceHolder))" data-format-pattern="@(trmcuResultEdit.McuLocation.FormatPattern)"@Html.Raw(trmcuResultEdit.McuLocation.EditAttributes) aria-describedby="x_McuLocation_help">
@Html.Raw(trmcuResultEdit.McuLocation.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(trmcuResultEdit.McuLocation.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* trmcuResultEdit.McuLocation.Visible (end) *@
@if (trmcuResultEdit.McuAttachment.Visible) { // trmcuResultEdit.McuAttachment.Visible (begin)
    <div id="r_McuAttachment" @Html.Raw(trmcuResultEdit.McuAttachment.RowAttributes)>
        <label id="elh_TRMCUResult_McuAttachment" class="@(trmcuResultEdit.LeftColumnClass)">@Html.Raw(trmcuResultEdit.McuAttachment.Caption)@Html.Raw(trmcuResultEdit.McuAttachment.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(trmcuResultEdit.RightColumnClass)"><div @Html.Raw(trmcuResultEdit.McuAttachment.CellAttributes)>
<span id="el_TRMCUResult_McuAttachment">
<div id="fd_x_McuAttachment" class="fileinput-button ew-file-drop-zone">
    <input
        type="file"
        id="x_McuAttachment"
        name="x_McuAttachment"
        class="form-control ew-file-input"
        title="@(trmcuResultEdit.McuAttachment.Title)"
        lang="@(CurrentLanguageID)"
        data-table="TRMCUResult"
        data-field="x_McuAttachment"
        data-size="50"
        data-accept-file-types="@(trmcuResultEdit.McuAttachment.AcceptFileTypes)"
        data-max-file-size="@(trmcuResultEdit.McuAttachment.UploadMaxFileSize)"
        data-max-number-of-files="null"
        data-disable-image-crop="@(trmcuResultEdit.McuAttachment.ImageCropper ? 0 : 1)"
        aria-describedby="x_McuAttachment_help"
        @Html.Raw((trmcuResultEdit.McuAttachment.ReadOnly || trmcuResultEdit.McuAttachment.Disabled) ? " disabled" : "")
        @Html.Raw(trmcuResultEdit.McuAttachment.EditAttributes)
    >
    <div class="text-muted ew-file-text">@Html.Raw(Language.Phrase("ChooseFile"))</div>
</div>
@Html.Raw(trmcuResultEdit.McuAttachment.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(trmcuResultEdit.McuAttachment.GetErrorMessage())</div>
<input type="hidden" name="fn_x_McuAttachment" id= "fn_x_McuAttachment" value="@(trmcuResultEdit.McuAttachment.Upload.FileName)">
<input type="hidden" name="fa_x_McuAttachment" id= "fa_x_McuAttachment" value="@(Post("fa_x_McuAttachment") == "0" ? "0" : "1")">
<table id="ft_x_McuAttachment" class="table table-sm float-start ew-upload-table"><tbody class="files"></tbody></table>
</span>
</div></div>
    </div>
} @* trmcuResultEdit.McuAttachment.Visible (end) *@
@if (trmcuResultEdit.McuScheduleDate.Visible) { // trmcuResultEdit.McuScheduleDate.Visible (begin)
    <div id="r_McuScheduleDate" @Html.Raw(trmcuResultEdit.McuScheduleDate.RowAttributes)>
        <label id="elh_TRMCUResult_McuScheduleDate" for="x_McuScheduleDate" class="@(trmcuResultEdit.LeftColumnClass)">@Html.Raw(trmcuResultEdit.McuScheduleDate.Caption)@Html.Raw(trmcuResultEdit.McuScheduleDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(trmcuResultEdit.RightColumnClass)"><div @Html.Raw(trmcuResultEdit.McuScheduleDate.CellAttributes)>
<span id="el_TRMCUResult_McuScheduleDate">
<input type="@(trmcuResultEdit.McuScheduleDate.InputTextType)" name="x_McuScheduleDate" id="x_McuScheduleDate" data-table="TRMCUResult" data-field="x_McuScheduleDate" value="@Html.Raw(trmcuResultEdit.McuScheduleDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(trmcuResultEdit.McuScheduleDate.PlaceHolder))" data-format-pattern="@(trmcuResultEdit.McuScheduleDate.FormatPattern)"@Html.Raw(trmcuResultEdit.McuScheduleDate.EditAttributes) aria-describedby="x_McuScheduleDate_help">
@Html.Raw(trmcuResultEdit.McuScheduleDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(trmcuResultEdit.McuScheduleDate.GetErrorMessage())</div>
@if (!trmcuResultEdit.McuScheduleDate.ReadOnly && !trmcuResultEdit.McuScheduleDate.Disabled && !trmcuResultEdit.McuScheduleDate.EditAttrs.Is("readonly") && !trmcuResultEdit.McuScheduleDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fTRMCUResultedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fTRMCUResultedit", "x_McuScheduleDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* trmcuResultEdit.McuScheduleDate.Visible (end) *@
@if (trmcuResultEdit.McuRemark.Visible) { // trmcuResultEdit.McuRemark.Visible (begin)
    <div id="r_McuRemark" @Html.Raw(trmcuResultEdit.McuRemark.RowAttributes)>
        <label id="elh_TRMCUResult_McuRemark" for="x_McuRemark" class="@(trmcuResultEdit.LeftColumnClass)">@Html.Raw(trmcuResultEdit.McuRemark.Caption)@Html.Raw(trmcuResultEdit.McuRemark.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(trmcuResultEdit.RightColumnClass)"><div @Html.Raw(trmcuResultEdit.McuRemark.CellAttributes)>
<span id="el_TRMCUResult_McuRemark">
<input type="@(trmcuResultEdit.McuRemark.InputTextType)" name="x_McuRemark" id="x_McuRemark" data-table="TRMCUResult" data-field="x_McuRemark" value="@Html.Raw(trmcuResultEdit.McuRemark.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(trmcuResultEdit.McuRemark.PlaceHolder))" data-format-pattern="@(trmcuResultEdit.McuRemark.FormatPattern)"@Html.Raw(trmcuResultEdit.McuRemark.EditAttributes) aria-describedby="x_McuRemark_help">
@Html.Raw(trmcuResultEdit.McuRemark.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(trmcuResultEdit.McuRemark.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* trmcuResultEdit.McuRemark.Visible (end) *@
</div><!-- /page* -->
    <input type="hidden" data-table="TRMCUResult" data-field="x_McuResult_ID" data-hidden="1" name="x_McuResult_ID" id="x_McuResult_ID" value="@Html.Raw(HtmlEncode(trmcuResultEdit.McuResult_ID.CurrentValue))">
@{ trmcuResultEdit.CloseRecordset(); }
@Html.Raw(trmcuResultEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(trmcuResultEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fTRMCUResultedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fTRMCUResultedit" data-href="@AppPath(trmcuResultEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(trmcuResultEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@trmcuResultEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("TRMCUResult");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
