@{
    // View
    View = this;

    // Check action result
    if (trmcuResultDelete.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!trmcuResultDelete.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(trmcuResultDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { TRMCUResult: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fTRMCUResultdelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fTRMCUResultdelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@trmcuResultDelete.ShowPageHeader()
@trmcuResultDelete.ShowMessages()
<form name="fTRMCUResultdelete" id="fTRMCUResultdelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in trmcuResultDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(trmcuResultDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(trmcuResultDelete.TableContainerClass)" style="@(trmcuResultDelete.TableContainerStyle)">
<table class="@(trmcuResultDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (trmcuResultDelete.McuDate.Visible) { // trmcuResultDelete.McuDate.Visible (begin)
        <th class="@Html.Raw(trmcuResultDelete.McuDate.HeaderCellClass)"><span id="elh_TRMCUResult_McuDate" class="TRMCUResult_McuDate">@Html.Raw(trmcuResultDelete.McuDate.Caption)</span></th>
} @* trmcuResultDelete.McuDate.Visible (end) *@
@if (trmcuResultDelete.McuExpirationDate.Visible) { // trmcuResultDelete.McuExpirationDate.Visible (begin)
        <th class="@Html.Raw(trmcuResultDelete.McuExpirationDate.HeaderCellClass)"><span id="elh_TRMCUResult_McuExpirationDate" class="TRMCUResult_McuExpirationDate">@Html.Raw(trmcuResultDelete.McuExpirationDate.Caption)</span></th>
} @* trmcuResultDelete.McuExpirationDate.Visible (end) *@
@if (trmcuResultDelete.HealthStatus.Visible) { // trmcuResultDelete.HealthStatus.Visible (begin)
        <th class="@Html.Raw(trmcuResultDelete.HealthStatus.HeaderCellClass)"><span id="elh_TRMCUResult_HealthStatus" class="TRMCUResult_HealthStatus">@Html.Raw(trmcuResultDelete.HealthStatus.Caption)</span></th>
} @* trmcuResultDelete.HealthStatus.Visible (end) *@
@if (trmcuResultDelete.McuLocation.Visible) { // trmcuResultDelete.McuLocation.Visible (begin)
        <th class="@Html.Raw(trmcuResultDelete.McuLocation.HeaderCellClass)"><span id="elh_TRMCUResult_McuLocation" class="TRMCUResult_McuLocation">@Html.Raw(trmcuResultDelete.McuLocation.Caption)</span></th>
} @* trmcuResultDelete.McuLocation.Visible (end) *@
@if (trmcuResultDelete.McuAttachment.Visible) { // trmcuResultDelete.McuAttachment.Visible (begin)
        <th class="@Html.Raw(trmcuResultDelete.McuAttachment.HeaderCellClass)"><span id="elh_TRMCUResult_McuAttachment" class="TRMCUResult_McuAttachment">@Html.Raw(trmcuResultDelete.McuAttachment.Caption)</span></th>
} @* trmcuResultDelete.McuAttachment.Visible (end) *@
@if (trmcuResultDelete.CreatedByUserID.Visible) { // trmcuResultDelete.CreatedByUserID.Visible (begin)
        <th class="@Html.Raw(trmcuResultDelete.CreatedByUserID.HeaderCellClass)"><span id="elh_TRMCUResult_CreatedByUserID" class="TRMCUResult_CreatedByUserID">@Html.Raw(trmcuResultDelete.CreatedByUserID.Caption)</span></th>
} @* trmcuResultDelete.CreatedByUserID.Visible (end) *@
@if (trmcuResultDelete.CreatedDateTime.Visible) { // trmcuResultDelete.CreatedDateTime.Visible (begin)
        <th class="@Html.Raw(trmcuResultDelete.CreatedDateTime.HeaderCellClass)"><span id="elh_TRMCUResult_CreatedDateTime" class="TRMCUResult_CreatedDateTime">@Html.Raw(trmcuResultDelete.CreatedDateTime.Caption)</span></th>
} @* trmcuResultDelete.CreatedDateTime.Visible (end) *@
@if (trmcuResultDelete.LastUpdatedByUserID.Visible) { // trmcuResultDelete.LastUpdatedByUserID.Visible (begin)
        <th class="@Html.Raw(trmcuResultDelete.LastUpdatedByUserID.HeaderCellClass)"><span id="elh_TRMCUResult_LastUpdatedByUserID" class="TRMCUResult_LastUpdatedByUserID">@Html.Raw(trmcuResultDelete.LastUpdatedByUserID.Caption)</span></th>
} @* trmcuResultDelete.LastUpdatedByUserID.Visible (end) *@
@if (trmcuResultDelete.LastUpdatedDateTime.Visible) { // trmcuResultDelete.LastUpdatedDateTime.Visible (begin)
        <th class="@Html.Raw(trmcuResultDelete.LastUpdatedDateTime.HeaderCellClass)"><span id="elh_TRMCUResult_LastUpdatedDateTime" class="TRMCUResult_LastUpdatedDateTime">@Html.Raw(trmcuResultDelete.LastUpdatedDateTime.Caption)</span></th>
} @* trmcuResultDelete.LastUpdatedDateTime.Visible (end) *@
@if (trmcuResultDelete.McuScheduleDate.Visible) { // trmcuResultDelete.McuScheduleDate.Visible (begin)
        <th class="@Html.Raw(trmcuResultDelete.McuScheduleDate.HeaderCellClass)"><span id="elh_TRMCUResult_McuScheduleDate" class="TRMCUResult_McuScheduleDate">@Html.Raw(trmcuResultDelete.McuScheduleDate.Caption)</span></th>
} @* trmcuResultDelete.McuScheduleDate.Visible (end) *@
@if (trmcuResultDelete.McuRemark.Visible) { // trmcuResultDelete.McuRemark.Visible (begin)
        <th class="@Html.Raw(trmcuResultDelete.McuRemark.HeaderCellClass)"><span id="elh_TRMCUResult_McuRemark" class="TRMCUResult_McuRemark">@Html.Raw(trmcuResultDelete.McuRemark.Caption)</span></th>
} @* trmcuResultDelete.McuRemark.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ trmcuResultDelete.RecordCount = 0; }
@while (trmcuResultDelete.Recordset != null && await trmcuResultDelete.Recordset.ReadAsync()) { // DN
    trmcuResultDelete.RecordCount++;
    trmcuResultDelete.RowCount++;

    // Set row properties
    trmcuResultDelete.ResetAttributes();
    trmcuResultDelete.RowType = RowType.View; // View

    // Get the field contents
    await trmcuResultDelete.LoadRowValues(trmcuResultDelete.Recordset);

    // Render row
    await trmcuResultDelete.RenderRow();
    <tr @Html.Raw(trmcuResultDelete.RowAttributes)>
@if (trmcuResultDelete.McuDate.Visible) { // trmcuResultDelete.McuDate.Visible (begin)
        <td @Html.Raw(trmcuResultDelete.McuDate.CellAttributes)>
<span id="el@(trmcuResultDelete.RowCount)_TRMCUResult_McuDate" class="el_TRMCUResult_McuDate">
<span @Html.Raw(trmcuResultDelete.McuDate.ViewAttributes)>
@Html.Raw(trmcuResultDelete.McuDate.GetViewValue())</span>
</span></td>
} @* trmcuResultDelete.McuDate.Visible (end) *@
@if (trmcuResultDelete.McuExpirationDate.Visible) { // trmcuResultDelete.McuExpirationDate.Visible (begin)
        <td @Html.Raw(trmcuResultDelete.McuExpirationDate.CellAttributes)>
<span id="el@(trmcuResultDelete.RowCount)_TRMCUResult_McuExpirationDate" class="el_TRMCUResult_McuExpirationDate">
<span @Html.Raw(trmcuResultDelete.McuExpirationDate.ViewAttributes)>
@Html.Raw(trmcuResultDelete.McuExpirationDate.GetViewValue())</span>
</span></td>
} @* trmcuResultDelete.McuExpirationDate.Visible (end) *@
@if (trmcuResultDelete.HealthStatus.Visible) { // trmcuResultDelete.HealthStatus.Visible (begin)
        <td @Html.Raw(trmcuResultDelete.HealthStatus.CellAttributes)>
<span id="el@(trmcuResultDelete.RowCount)_TRMCUResult_HealthStatus" class="el_TRMCUResult_HealthStatus">
<span @Html.Raw(trmcuResultDelete.HealthStatus.ViewAttributes)>
@Html.Raw(trmcuResultDelete.HealthStatus.GetViewValue())</span>
</span></td>
} @* trmcuResultDelete.HealthStatus.Visible (end) *@
@if (trmcuResultDelete.McuLocation.Visible) { // trmcuResultDelete.McuLocation.Visible (begin)
        <td @Html.Raw(trmcuResultDelete.McuLocation.CellAttributes)>
<span id="el@(trmcuResultDelete.RowCount)_TRMCUResult_McuLocation" class="el_TRMCUResult_McuLocation">
<span @Html.Raw(trmcuResultDelete.McuLocation.ViewAttributes)>
@Html.Raw(trmcuResultDelete.McuLocation.GetViewValue())</span>
</span></td>
} @* trmcuResultDelete.McuLocation.Visible (end) *@
@if (trmcuResultDelete.McuAttachment.Visible) { // trmcuResultDelete.McuAttachment.Visible (begin)
        <td @Html.Raw(trmcuResultDelete.McuAttachment.CellAttributes)>
<span id="el@(trmcuResultDelete.RowCount)_TRMCUResult_McuAttachment" class="el_TRMCUResult_McuAttachment">
<span @Html.Raw(trmcuResultDelete.McuAttachment.ViewAttributes)>
@Html.Raw(await GetFileViewTag((DbField)trmcuResultDelete.McuAttachment, ConvertToString(trmcuResultDelete.McuAttachment.GetViewValue()), false))
</span>
</span></td>
} @* trmcuResultDelete.McuAttachment.Visible (end) *@
@if (trmcuResultDelete.CreatedByUserID.Visible) { // trmcuResultDelete.CreatedByUserID.Visible (begin)
        <td @Html.Raw(trmcuResultDelete.CreatedByUserID.CellAttributes)>
<span id="el@(trmcuResultDelete.RowCount)_TRMCUResult_CreatedByUserID" class="el_TRMCUResult_CreatedByUserID">
<span @Html.Raw(trmcuResultDelete.CreatedByUserID.ViewAttributes)>
@Html.Raw(trmcuResultDelete.CreatedByUserID.GetViewValue())</span>
</span></td>
} @* trmcuResultDelete.CreatedByUserID.Visible (end) *@
@if (trmcuResultDelete.CreatedDateTime.Visible) { // trmcuResultDelete.CreatedDateTime.Visible (begin)
        <td @Html.Raw(trmcuResultDelete.CreatedDateTime.CellAttributes)>
<span id="el@(trmcuResultDelete.RowCount)_TRMCUResult_CreatedDateTime" class="el_TRMCUResult_CreatedDateTime">
<span @Html.Raw(trmcuResultDelete.CreatedDateTime.ViewAttributes)>
@Html.Raw(trmcuResultDelete.CreatedDateTime.GetViewValue())</span>
</span></td>
} @* trmcuResultDelete.CreatedDateTime.Visible (end) *@
@if (trmcuResultDelete.LastUpdatedByUserID.Visible) { // trmcuResultDelete.LastUpdatedByUserID.Visible (begin)
        <td @Html.Raw(trmcuResultDelete.LastUpdatedByUserID.CellAttributes)>
<span id="el@(trmcuResultDelete.RowCount)_TRMCUResult_LastUpdatedByUserID" class="el_TRMCUResult_LastUpdatedByUserID">
<span @Html.Raw(trmcuResultDelete.LastUpdatedByUserID.ViewAttributes)>
@Html.Raw(trmcuResultDelete.LastUpdatedByUserID.GetViewValue())</span>
</span></td>
} @* trmcuResultDelete.LastUpdatedByUserID.Visible (end) *@
@if (trmcuResultDelete.LastUpdatedDateTime.Visible) { // trmcuResultDelete.LastUpdatedDateTime.Visible (begin)
        <td @Html.Raw(trmcuResultDelete.LastUpdatedDateTime.CellAttributes)>
<span id="el@(trmcuResultDelete.RowCount)_TRMCUResult_LastUpdatedDateTime" class="el_TRMCUResult_LastUpdatedDateTime">
<span @Html.Raw(trmcuResultDelete.LastUpdatedDateTime.ViewAttributes)>
@Html.Raw(trmcuResultDelete.LastUpdatedDateTime.GetViewValue())</span>
</span></td>
} @* trmcuResultDelete.LastUpdatedDateTime.Visible (end) *@
@if (trmcuResultDelete.McuScheduleDate.Visible) { // trmcuResultDelete.McuScheduleDate.Visible (begin)
        <td @Html.Raw(trmcuResultDelete.McuScheduleDate.CellAttributes)>
<span id="el@(trmcuResultDelete.RowCount)_TRMCUResult_McuScheduleDate" class="el_TRMCUResult_McuScheduleDate">
<span @Html.Raw(trmcuResultDelete.McuScheduleDate.ViewAttributes)>
@Html.Raw(trmcuResultDelete.McuScheduleDate.GetViewValue())</span>
</span></td>
} @* trmcuResultDelete.McuScheduleDate.Visible (end) *@
@if (trmcuResultDelete.McuRemark.Visible) { // trmcuResultDelete.McuRemark.Visible (begin)
        <td @Html.Raw(trmcuResultDelete.McuRemark.CellAttributes)>
<span id="el@(trmcuResultDelete.RowCount)_TRMCUResult_McuRemark" class="el_TRMCUResult_McuRemark">
<span @Html.Raw(trmcuResultDelete.McuRemark.ViewAttributes)>
@Html.Raw(trmcuResultDelete.McuRemark.GetViewValue())</span>
</span></td>
} @* trmcuResultDelete.McuRemark.Visible (end) *@
    </tr>
}
@{ trmcuResultDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(trmcuResultDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@trmcuResultDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
