@{
    // View
    View = this;

    // Check action result
    if (trUpdateTrackingAdd.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!trUpdateTrackingAdd.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(trUpdateTrackingAdd.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { TRUpdateTracking: currentTable } });
var currentPageID = ew.PAGE_ID = "add";
var currentForm;
var fTRUpdateTrackingadd;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fTRUpdateTrackingadd")
        .setPageId("add")

        // Add fields
        .setFields([

            ["MTCrewID", [fields.MTCrewID.visible && fields.MTCrewID.required ? ew.Validators.required(fields.MTCrewID.caption) : null, ew.Validators.integer], fields.MTCrewID.isInvalid],
            ["TabName", [fields.TabName.visible && fields.TabName.required ? ew.Validators.required(fields.TabName.caption) : null], fields.TabName.isInvalid],
            ["ColumnName", [fields.ColumnName.visible && fields.ColumnName.required ? ew.Validators.required(fields.ColumnName.caption) : null], fields.ColumnName.isInvalid],
            ["ChangeType", [fields.ChangeType.visible && fields.ChangeType.required ? ew.Validators.required(fields.ChangeType.caption) : null], fields.ChangeType.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@trUpdateTrackingAdd.ShowPageHeader()
@trUpdateTrackingAdd.ShowMessages()
<form name="fTRUpdateTrackingadd" id="fTRUpdateTrackingadd" class="@(trUpdateTrackingAdd.FormClassName)" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="insert">
<input type="hidden" name="modal" value="@ConvertToInt(trUpdateTrackingAdd.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(trUpdateTrackingAdd.OldKeyName)" value="@Html.Raw(trUpdateTrackingAdd.OldKey)">
<div class="ew-add-div"><!-- page* -->
@if (trUpdateTrackingAdd.MTCrewID.Visible) { // trUpdateTrackingAdd.MTCrewID.Visible (begin)
    <div id="r_MTCrewID" @Html.Raw(trUpdateTrackingAdd.MTCrewID.RowAttributes)>
        <label id="elh_TRUpdateTracking_MTCrewID" for="x_MTCrewID" class="@(trUpdateTrackingAdd.LeftColumnClass)">@Html.Raw(trUpdateTrackingAdd.MTCrewID.Caption)@Html.Raw(trUpdateTrackingAdd.MTCrewID.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(trUpdateTrackingAdd.RightColumnClass)"><div @Html.Raw(trUpdateTrackingAdd.MTCrewID.CellAttributes)>
<span id="el_TRUpdateTracking_MTCrewID">
<input type="@(trUpdateTrackingAdd.MTCrewID.InputTextType)" name="x_MTCrewID" id="x_MTCrewID" data-table="TRUpdateTracking" data-field="x_MTCrewID" value="@Html.Raw(trUpdateTrackingAdd.MTCrewID.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(trUpdateTrackingAdd.MTCrewID.PlaceHolder))" data-format-pattern="@(trUpdateTrackingAdd.MTCrewID.FormatPattern)"@Html.Raw(trUpdateTrackingAdd.MTCrewID.EditAttributes) aria-describedby="x_MTCrewID_help">
@Html.Raw(trUpdateTrackingAdd.MTCrewID.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(trUpdateTrackingAdd.MTCrewID.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* trUpdateTrackingAdd.MTCrewID.Visible (end) *@
@if (trUpdateTrackingAdd.TabName.Visible) { // trUpdateTrackingAdd.TabName.Visible (begin)
    <div id="r_TabName" @Html.Raw(trUpdateTrackingAdd.TabName.RowAttributes)>
        <label id="elh_TRUpdateTracking_TabName" for="x_TabName" class="@(trUpdateTrackingAdd.LeftColumnClass)">@Html.Raw(trUpdateTrackingAdd.TabName.Caption)@Html.Raw(trUpdateTrackingAdd.TabName.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(trUpdateTrackingAdd.RightColumnClass)"><div @Html.Raw(trUpdateTrackingAdd.TabName.CellAttributes)>
<span id="el_TRUpdateTracking_TabName">
<input type="@(trUpdateTrackingAdd.TabName.InputTextType)" name="x_TabName" id="x_TabName" data-table="TRUpdateTracking" data-field="x_TabName" value="@Html.Raw(trUpdateTrackingAdd.TabName.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(trUpdateTrackingAdd.TabName.PlaceHolder))" data-format-pattern="@(trUpdateTrackingAdd.TabName.FormatPattern)"@Html.Raw(trUpdateTrackingAdd.TabName.EditAttributes) aria-describedby="x_TabName_help">
@Html.Raw(trUpdateTrackingAdd.TabName.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(trUpdateTrackingAdd.TabName.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* trUpdateTrackingAdd.TabName.Visible (end) *@
@if (trUpdateTrackingAdd.ColumnName.Visible) { // trUpdateTrackingAdd.ColumnName.Visible (begin)
    <div id="r_ColumnName" @Html.Raw(trUpdateTrackingAdd.ColumnName.RowAttributes)>
        <label id="elh_TRUpdateTracking_ColumnName" for="x_ColumnName" class="@(trUpdateTrackingAdd.LeftColumnClass)">@Html.Raw(trUpdateTrackingAdd.ColumnName.Caption)@Html.Raw(trUpdateTrackingAdd.ColumnName.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(trUpdateTrackingAdd.RightColumnClass)"><div @Html.Raw(trUpdateTrackingAdd.ColumnName.CellAttributes)>
<span id="el_TRUpdateTracking_ColumnName">
<input type="@(trUpdateTrackingAdd.ColumnName.InputTextType)" name="x_ColumnName" id="x_ColumnName" data-table="TRUpdateTracking" data-field="x_ColumnName" value="@Html.Raw(trUpdateTrackingAdd.ColumnName.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(trUpdateTrackingAdd.ColumnName.PlaceHolder))" data-format-pattern="@(trUpdateTrackingAdd.ColumnName.FormatPattern)"@Html.Raw(trUpdateTrackingAdd.ColumnName.EditAttributes) aria-describedby="x_ColumnName_help">
@Html.Raw(trUpdateTrackingAdd.ColumnName.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(trUpdateTrackingAdd.ColumnName.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* trUpdateTrackingAdd.ColumnName.Visible (end) *@
@if (trUpdateTrackingAdd.ChangeType.Visible) { // trUpdateTrackingAdd.ChangeType.Visible (begin)
    <div id="r_ChangeType" @Html.Raw(trUpdateTrackingAdd.ChangeType.RowAttributes)>
        <label id="elh_TRUpdateTracking_ChangeType" for="x_ChangeType" class="@(trUpdateTrackingAdd.LeftColumnClass)">@Html.Raw(trUpdateTrackingAdd.ChangeType.Caption)@Html.Raw(trUpdateTrackingAdd.ChangeType.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(trUpdateTrackingAdd.RightColumnClass)"><div @Html.Raw(trUpdateTrackingAdd.ChangeType.CellAttributes)>
<span id="el_TRUpdateTracking_ChangeType">
<input type="@(trUpdateTrackingAdd.ChangeType.InputTextType)" name="x_ChangeType" id="x_ChangeType" data-table="TRUpdateTracking" data-field="x_ChangeType" value="@Html.Raw(trUpdateTrackingAdd.ChangeType.EditValue)" size="30" maxlength="25" placeholder="@Html.Raw(HtmlEncode(trUpdateTrackingAdd.ChangeType.PlaceHolder))" data-format-pattern="@(trUpdateTrackingAdd.ChangeType.FormatPattern)"@Html.Raw(trUpdateTrackingAdd.ChangeType.EditAttributes) aria-describedby="x_ChangeType_help">
@Html.Raw(trUpdateTrackingAdd.ChangeType.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(trUpdateTrackingAdd.ChangeType.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* trUpdateTrackingAdd.ChangeType.Visible (end) *@
</div><!-- /page* -->
@{ trUpdateTrackingAdd.CloseRecordset(); }
@Html.Raw(trUpdateTrackingAdd.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(trUpdateTrackingAdd.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fTRUpdateTrackingadd">@Html.Raw(Language.Phrase("AddBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fTRUpdateTrackingadd" data-href="@AppPath(trUpdateTrackingAdd.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(trUpdateTrackingAdd.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
@trUpdateTrackingAdd.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("TRUpdateTracking");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
