@{
    // View
    View = this;

    // Check action result
    if (vCrewTemporaryRejectedForAdminDelete.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!vCrewTemporaryRejectedForAdminDelete.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(vCrewTemporaryRejectedForAdminDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { v_CrewTemporaryRejectedForAdmin: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fv_CrewTemporaryRejectedForAdmindelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fv_CrewTemporaryRejectedForAdmindelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@vCrewTemporaryRejectedForAdminDelete.ShowPageHeader()
@vCrewTemporaryRejectedForAdminDelete.ShowMessages()
<form name="fv_CrewTemporaryRejectedForAdmindelete" id="fv_CrewTemporaryRejectedForAdmindelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in vCrewTemporaryRejectedForAdminDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(vCrewTemporaryRejectedForAdminDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(vCrewTemporaryRejectedForAdminDelete.TableContainerClass)" style="@(vCrewTemporaryRejectedForAdminDelete.TableContainerStyle)">
<table class="@(vCrewTemporaryRejectedForAdminDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (vCrewTemporaryRejectedForAdminDelete.IndividualCodeNumber.Visible) { // vCrewTemporaryRejectedForAdminDelete.IndividualCodeNumber.Visible (begin)
        <th class="@Html.Raw(vCrewTemporaryRejectedForAdminDelete.IndividualCodeNumber.HeaderCellClass)"><span id="elh_v_CrewTemporaryRejectedForAdmin_IndividualCodeNumber" class="v_CrewTemporaryRejectedForAdmin_IndividualCodeNumber">@Html.Raw(vCrewTemporaryRejectedForAdminDelete.IndividualCodeNumber.Caption)</span></th>
} @* vCrewTemporaryRejectedForAdminDelete.IndividualCodeNumber.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminDelete.EmployeeStatus.Visible) { // vCrewTemporaryRejectedForAdminDelete.EmployeeStatus.Visible (begin)
        <th class="@Html.Raw(vCrewTemporaryRejectedForAdminDelete.EmployeeStatus.HeaderCellClass)"><span id="elh_v_CrewTemporaryRejectedForAdmin_EmployeeStatus" class="v_CrewTemporaryRejectedForAdmin_EmployeeStatus">@Html.Raw(vCrewTemporaryRejectedForAdminDelete.EmployeeStatus.Caption)</span></th>
} @* vCrewTemporaryRejectedForAdminDelete.EmployeeStatus.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminDelete.FullName.Visible) { // vCrewTemporaryRejectedForAdminDelete.FullName.Visible (begin)
        <th class="@Html.Raw(vCrewTemporaryRejectedForAdminDelete.FullName.HeaderCellClass)"><span id="elh_v_CrewTemporaryRejectedForAdmin_FullName" class="v_CrewTemporaryRejectedForAdmin_FullName">@Html.Raw(vCrewTemporaryRejectedForAdminDelete.FullName.Caption)</span></th>
} @* vCrewTemporaryRejectedForAdminDelete.FullName.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminDelete.RequiredPhoto.Visible) { // vCrewTemporaryRejectedForAdminDelete.RequiredPhoto.Visible (begin)
        <th class="@Html.Raw(vCrewTemporaryRejectedForAdminDelete.RequiredPhoto.HeaderCellClass)"><span id="elh_v_CrewTemporaryRejectedForAdmin_RequiredPhoto" class="v_CrewTemporaryRejectedForAdmin_RequiredPhoto">@Html.Raw(vCrewTemporaryRejectedForAdminDelete.RequiredPhoto.Caption)</span></th>
} @* vCrewTemporaryRejectedForAdminDelete.RequiredPhoto.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminDelete.VisaPhoto.Visible) { // vCrewTemporaryRejectedForAdminDelete.VisaPhoto.Visible (begin)
        <th class="@Html.Raw(vCrewTemporaryRejectedForAdminDelete.VisaPhoto.HeaderCellClass)"><span id="elh_v_CrewTemporaryRejectedForAdmin_VisaPhoto" class="v_CrewTemporaryRejectedForAdmin_VisaPhoto">@Html.Raw(vCrewTemporaryRejectedForAdminDelete.VisaPhoto.Caption)</span></th>
} @* vCrewTemporaryRejectedForAdminDelete.VisaPhoto.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminDelete.CityOfBirth.Visible) { // vCrewTemporaryRejectedForAdminDelete.CityOfBirth.Visible (begin)
        <th class="@Html.Raw(vCrewTemporaryRejectedForAdminDelete.CityOfBirth.HeaderCellClass)"><span id="elh_v_CrewTemporaryRejectedForAdmin_CityOfBirth" class="v_CrewTemporaryRejectedForAdmin_CityOfBirth">@Html.Raw(vCrewTemporaryRejectedForAdminDelete.CityOfBirth.Caption)</span></th>
} @* vCrewTemporaryRejectedForAdminDelete.CityOfBirth.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminDelete.DateOfBirth.Visible) { // vCrewTemporaryRejectedForAdminDelete.DateOfBirth.Visible (begin)
        <th class="@Html.Raw(vCrewTemporaryRejectedForAdminDelete.DateOfBirth.HeaderCellClass)"><span id="elh_v_CrewTemporaryRejectedForAdmin_DateOfBirth" class="v_CrewTemporaryRejectedForAdmin_DateOfBirth">@Html.Raw(vCrewTemporaryRejectedForAdminDelete.DateOfBirth.Caption)</span></th>
} @* vCrewTemporaryRejectedForAdminDelete.DateOfBirth.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminDelete.Gender.Visible) { // vCrewTemporaryRejectedForAdminDelete.Gender.Visible (begin)
        <th class="@Html.Raw(vCrewTemporaryRejectedForAdminDelete.Gender.HeaderCellClass)"><span id="elh_v_CrewTemporaryRejectedForAdmin_Gender" class="v_CrewTemporaryRejectedForAdmin_Gender">@Html.Raw(vCrewTemporaryRejectedForAdminDelete.Gender.Caption)</span></th>
} @* vCrewTemporaryRejectedForAdminDelete.Gender.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminDelete.RankAppliedFor_RankID.Visible) { // vCrewTemporaryRejectedForAdminDelete.RankAppliedFor_RankID.Visible (begin)
        <th class="@Html.Raw(vCrewTemporaryRejectedForAdminDelete.RankAppliedFor_RankID.HeaderCellClass)"><span id="elh_v_CrewTemporaryRejectedForAdmin_RankAppliedFor_RankID" class="v_CrewTemporaryRejectedForAdmin_RankAppliedFor_RankID">@Html.Raw(vCrewTemporaryRejectedForAdminDelete.RankAppliedFor_RankID.Caption)</span></th>
} @* vCrewTemporaryRejectedForAdminDelete.RankAppliedFor_RankID.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminDelete.WillAcceptLowRank.Visible) { // vCrewTemporaryRejectedForAdminDelete.WillAcceptLowRank.Visible (begin)
        <th class="@Html.Raw(vCrewTemporaryRejectedForAdminDelete.WillAcceptLowRank.HeaderCellClass)"><span id="elh_v_CrewTemporaryRejectedForAdmin_WillAcceptLowRank" class="v_CrewTemporaryRejectedForAdmin_WillAcceptLowRank">@Html.Raw(vCrewTemporaryRejectedForAdminDelete.WillAcceptLowRank.Caption)</span></th>
} @* vCrewTemporaryRejectedForAdminDelete.WillAcceptLowRank.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminDelete.AvailableFrom.Visible) { // vCrewTemporaryRejectedForAdminDelete.AvailableFrom.Visible (begin)
        <th class="@Html.Raw(vCrewTemporaryRejectedForAdminDelete.AvailableFrom.HeaderCellClass)"><span id="elh_v_CrewTemporaryRejectedForAdmin_AvailableFrom" class="v_CrewTemporaryRejectedForAdmin_AvailableFrom">@Html.Raw(vCrewTemporaryRejectedForAdminDelete.AvailableFrom.Caption)</span></th>
} @* vCrewTemporaryRejectedForAdminDelete.AvailableFrom.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminDelete.AvailableUntil.Visible) { // vCrewTemporaryRejectedForAdminDelete.AvailableUntil.Visible (begin)
        <th class="@Html.Raw(vCrewTemporaryRejectedForAdminDelete.AvailableUntil.HeaderCellClass)"><span id="elh_v_CrewTemporaryRejectedForAdmin_AvailableUntil" class="v_CrewTemporaryRejectedForAdmin_AvailableUntil">@Html.Raw(vCrewTemporaryRejectedForAdminDelete.AvailableUntil.Caption)</span></th>
} @* vCrewTemporaryRejectedForAdminDelete.AvailableUntil.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ vCrewTemporaryRejectedForAdminDelete.RecordCount = 0; }
@while (vCrewTemporaryRejectedForAdminDelete.Recordset != null && await vCrewTemporaryRejectedForAdminDelete.Recordset.ReadAsync()) { // DN
    vCrewTemporaryRejectedForAdminDelete.RecordCount++;
    vCrewTemporaryRejectedForAdminDelete.RowCount++;

    // Set row properties
    vCrewTemporaryRejectedForAdminDelete.ResetAttributes();
    vCrewTemporaryRejectedForAdminDelete.RowType = RowType.View; // View

    // Get the field contents
    await vCrewTemporaryRejectedForAdminDelete.LoadRowValues(vCrewTemporaryRejectedForAdminDelete.Recordset);

    // Render row
    await vCrewTemporaryRejectedForAdminDelete.RenderRow();
    <tr @Html.Raw(vCrewTemporaryRejectedForAdminDelete.RowAttributes)>
@if (vCrewTemporaryRejectedForAdminDelete.IndividualCodeNumber.Visible) { // vCrewTemporaryRejectedForAdminDelete.IndividualCodeNumber.Visible (begin)
        <td @Html.Raw(vCrewTemporaryRejectedForAdminDelete.IndividualCodeNumber.CellAttributes)>
<span id="el@(vCrewTemporaryRejectedForAdminDelete.RowCount)_v_CrewTemporaryRejectedForAdmin_IndividualCodeNumber" class="el_v_CrewTemporaryRejectedForAdmin_IndividualCodeNumber">
<span @Html.Raw(vCrewTemporaryRejectedForAdminDelete.IndividualCodeNumber.ViewAttributes)>
@Html.Raw(vCrewTemporaryRejectedForAdminDelete.IndividualCodeNumber.GetViewValue())</span>
</span></td>
} @* vCrewTemporaryRejectedForAdminDelete.IndividualCodeNumber.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminDelete.EmployeeStatus.Visible) { // vCrewTemporaryRejectedForAdminDelete.EmployeeStatus.Visible (begin)
        <td @Html.Raw(vCrewTemporaryRejectedForAdminDelete.EmployeeStatus.CellAttributes)>
<span id="el@(vCrewTemporaryRejectedForAdminDelete.RowCount)_v_CrewTemporaryRejectedForAdmin_EmployeeStatus" class="el_v_CrewTemporaryRejectedForAdmin_EmployeeStatus">
<span @Html.Raw(vCrewTemporaryRejectedForAdminDelete.EmployeeStatus.ViewAttributes)>
@Html.Raw(vCrewTemporaryRejectedForAdminDelete.EmployeeStatus.GetViewValue())</span>
</span></td>
} @* vCrewTemporaryRejectedForAdminDelete.EmployeeStatus.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminDelete.FullName.Visible) { // vCrewTemporaryRejectedForAdminDelete.FullName.Visible (begin)
        <td @Html.Raw(vCrewTemporaryRejectedForAdminDelete.FullName.CellAttributes)>
<span id="el@(vCrewTemporaryRejectedForAdminDelete.RowCount)_v_CrewTemporaryRejectedForAdmin_FullName" class="el_v_CrewTemporaryRejectedForAdmin_FullName">
<span @Html.Raw(vCrewTemporaryRejectedForAdminDelete.FullName.ViewAttributes)>
@Html.Raw(vCrewTemporaryRejectedForAdminDelete.FullName.GetViewValue())</span>
</span></td>
} @* vCrewTemporaryRejectedForAdminDelete.FullName.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminDelete.RequiredPhoto.Visible) { // vCrewTemporaryRejectedForAdminDelete.RequiredPhoto.Visible (begin)
        <td @Html.Raw(vCrewTemporaryRejectedForAdminDelete.RequiredPhoto.CellAttributes)>
<span id="el@(vCrewTemporaryRejectedForAdminDelete.RowCount)_v_CrewTemporaryRejectedForAdmin_RequiredPhoto" class="el_v_CrewTemporaryRejectedForAdmin_RequiredPhoto">
<span @Html.Raw(vCrewTemporaryRejectedForAdminDelete.RequiredPhoto.ViewAttributes)><a href="uploads/@ConvertToString(vCrewTemporaryRejectedForAdminList.IndividualCodeNumber.GetViewValue())/@ConvertToString(vCrewTemporaryRejectedForAdminList.RequiredPhoto.GetViewValue())" target="_blank">Attachment</a>
</span>
</span></td>
} @* vCrewTemporaryRejectedForAdminDelete.RequiredPhoto.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminDelete.VisaPhoto.Visible) { // vCrewTemporaryRejectedForAdminDelete.VisaPhoto.Visible (begin)
        <td @Html.Raw(vCrewTemporaryRejectedForAdminDelete.VisaPhoto.CellAttributes)>
<span id="el@(vCrewTemporaryRejectedForAdminDelete.RowCount)_v_CrewTemporaryRejectedForAdmin_VisaPhoto" class="el_v_CrewTemporaryRejectedForAdmin_VisaPhoto">
<span @Html.Raw(vCrewTemporaryRejectedForAdminDelete.VisaPhoto.ViewAttributes)><a href="uploads/@ConvertToString(vCrewTemporaryRejectedForAdminList.IndividualCodeNumber.GetViewValue())/@ConvertToString(vCrewTemporaryRejectedForAdminList.VisaPhoto.GetViewValue())" target="_blank">Attachment</a>
</span>
</span></td>
} @* vCrewTemporaryRejectedForAdminDelete.VisaPhoto.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminDelete.CityOfBirth.Visible) { // vCrewTemporaryRejectedForAdminDelete.CityOfBirth.Visible (begin)
        <td @Html.Raw(vCrewTemporaryRejectedForAdminDelete.CityOfBirth.CellAttributes)>
<span id="el@(vCrewTemporaryRejectedForAdminDelete.RowCount)_v_CrewTemporaryRejectedForAdmin_CityOfBirth" class="el_v_CrewTemporaryRejectedForAdmin_CityOfBirth">
<span @Html.Raw(vCrewTemporaryRejectedForAdminDelete.CityOfBirth.ViewAttributes)>
@Html.Raw(vCrewTemporaryRejectedForAdminDelete.CityOfBirth.GetViewValue())</span>
</span></td>
} @* vCrewTemporaryRejectedForAdminDelete.CityOfBirth.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminDelete.DateOfBirth.Visible) { // vCrewTemporaryRejectedForAdminDelete.DateOfBirth.Visible (begin)
        <td @Html.Raw(vCrewTemporaryRejectedForAdminDelete.DateOfBirth.CellAttributes)>
<span id="el@(vCrewTemporaryRejectedForAdminDelete.RowCount)_v_CrewTemporaryRejectedForAdmin_DateOfBirth" class="el_v_CrewTemporaryRejectedForAdmin_DateOfBirth">
<span @Html.Raw(vCrewTemporaryRejectedForAdminDelete.DateOfBirth.ViewAttributes)>
@Html.Raw(vCrewTemporaryRejectedForAdminDelete.DateOfBirth.GetViewValue())</span>
</span></td>
} @* vCrewTemporaryRejectedForAdminDelete.DateOfBirth.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminDelete.Gender.Visible) { // vCrewTemporaryRejectedForAdminDelete.Gender.Visible (begin)
        <td @Html.Raw(vCrewTemporaryRejectedForAdminDelete.Gender.CellAttributes)>
<span id="el@(vCrewTemporaryRejectedForAdminDelete.RowCount)_v_CrewTemporaryRejectedForAdmin_Gender" class="el_v_CrewTemporaryRejectedForAdmin_Gender">
<span @Html.Raw(vCrewTemporaryRejectedForAdminDelete.Gender.ViewAttributes)>
@Html.Raw(vCrewTemporaryRejectedForAdminDelete.Gender.GetViewValue())</span>
</span></td>
} @* vCrewTemporaryRejectedForAdminDelete.Gender.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminDelete.RankAppliedFor_RankID.Visible) { // vCrewTemporaryRejectedForAdminDelete.RankAppliedFor_RankID.Visible (begin)
        <td @Html.Raw(vCrewTemporaryRejectedForAdminDelete.RankAppliedFor_RankID.CellAttributes)>
<span id="el@(vCrewTemporaryRejectedForAdminDelete.RowCount)_v_CrewTemporaryRejectedForAdmin_RankAppliedFor_RankID" class="el_v_CrewTemporaryRejectedForAdmin_RankAppliedFor_RankID">
<span @Html.Raw(vCrewTemporaryRejectedForAdminDelete.RankAppliedFor_RankID.ViewAttributes)>
@Html.Raw(vCrewTemporaryRejectedForAdminDelete.RankAppliedFor_RankID.GetViewValue())</span>
</span></td>
} @* vCrewTemporaryRejectedForAdminDelete.RankAppliedFor_RankID.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminDelete.WillAcceptLowRank.Visible) { // vCrewTemporaryRejectedForAdminDelete.WillAcceptLowRank.Visible (begin)
        <td @Html.Raw(vCrewTemporaryRejectedForAdminDelete.WillAcceptLowRank.CellAttributes)>
<span id="el@(vCrewTemporaryRejectedForAdminDelete.RowCount)_v_CrewTemporaryRejectedForAdmin_WillAcceptLowRank" class="el_v_CrewTemporaryRejectedForAdmin_WillAcceptLowRank">
<span @Html.Raw(vCrewTemporaryRejectedForAdminDelete.WillAcceptLowRank.ViewAttributes)>
<div class="form-check d-inline-block">
    <input type="checkbox" id="x_WillAcceptLowRank_@(vCrewTemporaryRejectedForAdminDelete.RowCount)" class="form-check-input" value="@(vCrewTemporaryRejectedForAdminDelete.WillAcceptLowRank.GetViewValue())" disabled checked="@(ConvertToBool(vCrewTemporaryRejectedForAdminDelete.WillAcceptLowRank.CurrentValue))">
    <label class="form-check-label" for="x_WillAcceptLowRank_@(vCrewTemporaryRejectedForAdminDelete.RowCount)"></label>
</div></span>
</span></td>
} @* vCrewTemporaryRejectedForAdminDelete.WillAcceptLowRank.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminDelete.AvailableFrom.Visible) { // vCrewTemporaryRejectedForAdminDelete.AvailableFrom.Visible (begin)
        <td @Html.Raw(vCrewTemporaryRejectedForAdminDelete.AvailableFrom.CellAttributes)>
<span id="el@(vCrewTemporaryRejectedForAdminDelete.RowCount)_v_CrewTemporaryRejectedForAdmin_AvailableFrom" class="el_v_CrewTemporaryRejectedForAdmin_AvailableFrom">
<span @Html.Raw(vCrewTemporaryRejectedForAdminDelete.AvailableFrom.ViewAttributes)>
@Html.Raw(vCrewTemporaryRejectedForAdminDelete.AvailableFrom.GetViewValue())</span>
</span></td>
} @* vCrewTemporaryRejectedForAdminDelete.AvailableFrom.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminDelete.AvailableUntil.Visible) { // vCrewTemporaryRejectedForAdminDelete.AvailableUntil.Visible (begin)
        <td @Html.Raw(vCrewTemporaryRejectedForAdminDelete.AvailableUntil.CellAttributes)>
<span id="el@(vCrewTemporaryRejectedForAdminDelete.RowCount)_v_CrewTemporaryRejectedForAdmin_AvailableUntil" class="el_v_CrewTemporaryRejectedForAdmin_AvailableUntil">
<span @Html.Raw(vCrewTemporaryRejectedForAdminDelete.AvailableUntil.ViewAttributes)>
@Html.Raw(vCrewTemporaryRejectedForAdminDelete.AvailableUntil.GetViewValue())</span>
</span></td>
} @* vCrewTemporaryRejectedForAdminDelete.AvailableUntil.Visible (end) *@
    </tr>
}
@{ vCrewTemporaryRejectedForAdminDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(vCrewTemporaryRejectedForAdminDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@vCrewTemporaryRejectedForAdminDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
