@{
    // View
    View = this;

    // Check action result
    if (vCrewBlacklistForAdminEdit.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!vCrewBlacklistForAdminEdit.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@vCrewBlacklistForAdminEdit.ShowPageHeader()
@vCrewBlacklistForAdminEdit.ShowMessages()
<main class="edit">
<form name="fv_CrewBlacklistForAdminedit" id="fv_CrewBlacklistForAdminedit" class="@(vCrewBlacklistForAdminEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
<script>
var currentTable = @Html.Raw(ConvertToJson(vCrewBlacklistForAdminEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { v_CrewBlacklistForAdmin: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fv_CrewBlacklistForAdminedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fv_CrewBlacklistForAdminedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["IndividualCodeNumber", [fields.IndividualCodeNumber.visible && fields.IndividualCodeNumber.required ? ew.Validators.required(fields.IndividualCodeNumber.caption) : null], fields.IndividualCodeNumber.isInvalid],
            ["FullName", [fields.FullName.visible && fields.FullName.required ? ew.Validators.required(fields.FullName.caption) : null], fields.FullName.isInvalid],
            ["RequiredPhoto", [fields.RequiredPhoto.visible && fields.RequiredPhoto.required ? ew.Validators.required(fields.RequiredPhoto.caption) : null], fields.RequiredPhoto.isInvalid],
            ["VisaPhoto", [fields.VisaPhoto.visible && fields.VisaPhoto.required ? ew.Validators.required(fields.VisaPhoto.caption) : null], fields.VisaPhoto.isInvalid],
            ["CityOfBirth", [fields.CityOfBirth.visible && fields.CityOfBirth.required ? ew.Validators.required(fields.CityOfBirth.caption) : null], fields.CityOfBirth.isInvalid],
            ["DateOfBirth", [fields.DateOfBirth.visible && fields.DateOfBirth.required ? ew.Validators.required(fields.DateOfBirth.caption) : null, ew.Validators.datetime(fields.DateOfBirth.clientFormatPattern)], fields.DateOfBirth.isInvalid],
            ["Gender", [fields.Gender.visible && fields.Gender.required ? ew.Validators.required(fields.Gender.caption) : null], fields.Gender.isInvalid],
            ["RankAppliedFor_RankID", [fields.RankAppliedFor_RankID.visible && fields.RankAppliedFor_RankID.required ? ew.Validators.required(fields.RankAppliedFor_RankID.caption) : null, ew.Validators.integer], fields.RankAppliedFor_RankID.isInvalid],
            ["WillAcceptLowRank", [fields.WillAcceptLowRank.visible && fields.WillAcceptLowRank.required ? ew.Validators.required(fields.WillAcceptLowRank.caption) : null], fields.WillAcceptLowRank.isInvalid],
            ["AvailableFrom", [fields.AvailableFrom.visible && fields.AvailableFrom.required ? ew.Validators.required(fields.AvailableFrom.caption) : null, ew.Validators.datetime(fields.AvailableFrom.clientFormatPattern)], fields.AvailableFrom.isInvalid],
            ["AvailableUntil", [fields.AvailableUntil.visible && fields.AvailableUntil.required ? ew.Validators.required(fields.AvailableUntil.caption) : null, ew.Validators.datetime(fields.AvailableUntil.clientFormatPattern)], fields.AvailableUntil.isInvalid],
            ["EmployeeStatus", [fields.EmployeeStatus.visible && fields.EmployeeStatus.required ? ew.Validators.required(fields.EmployeeStatus.caption) : null], fields.EmployeeStatus.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "WillAcceptLowRank": @Html.Raw(vCrewBlacklistForAdminEdit.WillAcceptLowRank.ToClientList(vCrewBlacklistForAdminEdit)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(vCrewBlacklistForAdminEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(vCrewBlacklistForAdminEdit.OldKeyName)" value="@Html.Raw(vCrewBlacklistForAdminEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (vCrewBlacklistForAdminEdit.IndividualCodeNumber.Visible) { // vCrewBlacklistForAdminEdit.IndividualCodeNumber.Visible (begin)
    <div id="r_IndividualCodeNumber" @Html.Raw(vCrewBlacklistForAdminEdit.IndividualCodeNumber.RowAttributes)>
        <label id="elh_v_CrewBlacklistForAdmin_IndividualCodeNumber" for="x_IndividualCodeNumber" class="@(vCrewBlacklistForAdminEdit.LeftColumnClass)">@Html.Raw(vCrewBlacklistForAdminEdit.IndividualCodeNumber.Caption)@Html.Raw(vCrewBlacklistForAdminEdit.IndividualCodeNumber.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(vCrewBlacklistForAdminEdit.RightColumnClass)"><div @Html.Raw(vCrewBlacklistForAdminEdit.IndividualCodeNumber.CellAttributes)>
<span id="el_v_CrewBlacklistForAdmin_IndividualCodeNumber">
<input type="@(vCrewBlacklistForAdminEdit.IndividualCodeNumber.InputTextType)" name="x_IndividualCodeNumber" id="x_IndividualCodeNumber" data-table="v_CrewBlacklistForAdmin" data-field="x_IndividualCodeNumber" value="@Html.Raw(vCrewBlacklistForAdminEdit.IndividualCodeNumber.EditValue)" size="30" maxlength="20" placeholder="@Html.Raw(HtmlEncode(vCrewBlacklistForAdminEdit.IndividualCodeNumber.PlaceHolder))" data-format-pattern="@(vCrewBlacklistForAdminEdit.IndividualCodeNumber.FormatPattern)"@Html.Raw(vCrewBlacklistForAdminEdit.IndividualCodeNumber.EditAttributes) aria-describedby="x_IndividualCodeNumber_help">
@Html.Raw(vCrewBlacklistForAdminEdit.IndividualCodeNumber.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(vCrewBlacklistForAdminEdit.IndividualCodeNumber.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* vCrewBlacklistForAdminEdit.IndividualCodeNumber.Visible (end) *@
@if (vCrewBlacklistForAdminEdit.FullName.Visible) { // vCrewBlacklistForAdminEdit.FullName.Visible (begin)
    <div id="r_FullName" @Html.Raw(vCrewBlacklistForAdminEdit.FullName.RowAttributes)>
        <label id="elh_v_CrewBlacklistForAdmin_FullName" for="x_FullName" class="@(vCrewBlacklistForAdminEdit.LeftColumnClass)">@Html.Raw(vCrewBlacklistForAdminEdit.FullName.Caption)@Html.Raw(vCrewBlacklistForAdminEdit.FullName.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(vCrewBlacklistForAdminEdit.RightColumnClass)"><div @Html.Raw(vCrewBlacklistForAdminEdit.FullName.CellAttributes)>
<span id="el_v_CrewBlacklistForAdmin_FullName">
<input type="@(vCrewBlacklistForAdminEdit.FullName.InputTextType)" name="x_FullName" id="x_FullName" data-table="v_CrewBlacklistForAdmin" data-field="x_FullName" value="@Html.Raw(vCrewBlacklistForAdminEdit.FullName.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(vCrewBlacklistForAdminEdit.FullName.PlaceHolder))" data-format-pattern="@(vCrewBlacklistForAdminEdit.FullName.FormatPattern)"@Html.Raw(vCrewBlacklistForAdminEdit.FullName.EditAttributes) aria-describedby="x_FullName_help">
@Html.Raw(vCrewBlacklistForAdminEdit.FullName.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(vCrewBlacklistForAdminEdit.FullName.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* vCrewBlacklistForAdminEdit.FullName.Visible (end) *@
@if (vCrewBlacklistForAdminEdit.RequiredPhoto.Visible) { // vCrewBlacklistForAdminEdit.RequiredPhoto.Visible (begin)
    <div id="r_RequiredPhoto" @Html.Raw(vCrewBlacklistForAdminEdit.RequiredPhoto.RowAttributes)>
        <label id="elh_v_CrewBlacklistForAdmin_RequiredPhoto" for="x_RequiredPhoto" class="@(vCrewBlacklistForAdminEdit.LeftColumnClass)">@Html.Raw(vCrewBlacklistForAdminEdit.RequiredPhoto.Caption)@Html.Raw(vCrewBlacklistForAdminEdit.RequiredPhoto.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(vCrewBlacklistForAdminEdit.RightColumnClass)"><div @Html.Raw(vCrewBlacklistForAdminEdit.RequiredPhoto.CellAttributes)>
<span id="el_v_CrewBlacklistForAdmin_RequiredPhoto">
<input type="@(vCrewBlacklistForAdminEdit.RequiredPhoto.InputTextType)" name="x_RequiredPhoto" id="x_RequiredPhoto" data-table="v_CrewBlacklistForAdmin" data-field="x_RequiredPhoto" value="@Html.Raw(vCrewBlacklistForAdminEdit.RequiredPhoto.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(vCrewBlacklistForAdminEdit.RequiredPhoto.PlaceHolder))" data-format-pattern="@(vCrewBlacklistForAdminEdit.RequiredPhoto.FormatPattern)"@Html.Raw(vCrewBlacklistForAdminEdit.RequiredPhoto.EditAttributes) aria-describedby="x_RequiredPhoto_help">
@Html.Raw(vCrewBlacklistForAdminEdit.RequiredPhoto.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(vCrewBlacklistForAdminEdit.RequiredPhoto.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* vCrewBlacklistForAdminEdit.RequiredPhoto.Visible (end) *@
@if (vCrewBlacklistForAdminEdit.VisaPhoto.Visible) { // vCrewBlacklistForAdminEdit.VisaPhoto.Visible (begin)
    <div id="r_VisaPhoto" @Html.Raw(vCrewBlacklistForAdminEdit.VisaPhoto.RowAttributes)>
        <label id="elh_v_CrewBlacklistForAdmin_VisaPhoto" for="x_VisaPhoto" class="@(vCrewBlacklistForAdminEdit.LeftColumnClass)">@Html.Raw(vCrewBlacklistForAdminEdit.VisaPhoto.Caption)@Html.Raw(vCrewBlacklistForAdminEdit.VisaPhoto.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(vCrewBlacklistForAdminEdit.RightColumnClass)"><div @Html.Raw(vCrewBlacklistForAdminEdit.VisaPhoto.CellAttributes)>
<span id="el_v_CrewBlacklistForAdmin_VisaPhoto">
<input type="@(vCrewBlacklistForAdminEdit.VisaPhoto.InputTextType)" name="x_VisaPhoto" id="x_VisaPhoto" data-table="v_CrewBlacklistForAdmin" data-field="x_VisaPhoto" value="@Html.Raw(vCrewBlacklistForAdminEdit.VisaPhoto.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(vCrewBlacklistForAdminEdit.VisaPhoto.PlaceHolder))" data-format-pattern="@(vCrewBlacklistForAdminEdit.VisaPhoto.FormatPattern)"@Html.Raw(vCrewBlacklistForAdminEdit.VisaPhoto.EditAttributes) aria-describedby="x_VisaPhoto_help">
@Html.Raw(vCrewBlacklistForAdminEdit.VisaPhoto.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(vCrewBlacklistForAdminEdit.VisaPhoto.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* vCrewBlacklistForAdminEdit.VisaPhoto.Visible (end) *@
@if (vCrewBlacklistForAdminEdit.CityOfBirth.Visible) { // vCrewBlacklistForAdminEdit.CityOfBirth.Visible (begin)
    <div id="r_CityOfBirth" @Html.Raw(vCrewBlacklistForAdminEdit.CityOfBirth.RowAttributes)>
        <label id="elh_v_CrewBlacklistForAdmin_CityOfBirth" for="x_CityOfBirth" class="@(vCrewBlacklistForAdminEdit.LeftColumnClass)">@Html.Raw(vCrewBlacklistForAdminEdit.CityOfBirth.Caption)@Html.Raw(vCrewBlacklistForAdminEdit.CityOfBirth.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(vCrewBlacklistForAdminEdit.RightColumnClass)"><div @Html.Raw(vCrewBlacklistForAdminEdit.CityOfBirth.CellAttributes)>
<span id="el_v_CrewBlacklistForAdmin_CityOfBirth">
<input type="@(vCrewBlacklistForAdminEdit.CityOfBirth.InputTextType)" name="x_CityOfBirth" id="x_CityOfBirth" data-table="v_CrewBlacklistForAdmin" data-field="x_CityOfBirth" value="@Html.Raw(vCrewBlacklistForAdminEdit.CityOfBirth.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(vCrewBlacklistForAdminEdit.CityOfBirth.PlaceHolder))" data-format-pattern="@(vCrewBlacklistForAdminEdit.CityOfBirth.FormatPattern)"@Html.Raw(vCrewBlacklistForAdminEdit.CityOfBirth.EditAttributes) aria-describedby="x_CityOfBirth_help">
@Html.Raw(vCrewBlacklistForAdminEdit.CityOfBirth.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(vCrewBlacklistForAdminEdit.CityOfBirth.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* vCrewBlacklistForAdminEdit.CityOfBirth.Visible (end) *@
@if (vCrewBlacklistForAdminEdit.DateOfBirth.Visible) { // vCrewBlacklistForAdminEdit.DateOfBirth.Visible (begin)
    <div id="r_DateOfBirth" @Html.Raw(vCrewBlacklistForAdminEdit.DateOfBirth.RowAttributes)>
        <label id="elh_v_CrewBlacklistForAdmin_DateOfBirth" for="x_DateOfBirth" class="@(vCrewBlacklistForAdminEdit.LeftColumnClass)">@Html.Raw(vCrewBlacklistForAdminEdit.DateOfBirth.Caption)@Html.Raw(vCrewBlacklistForAdminEdit.DateOfBirth.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(vCrewBlacklistForAdminEdit.RightColumnClass)"><div @Html.Raw(vCrewBlacklistForAdminEdit.DateOfBirth.CellAttributes)>
<span id="el_v_CrewBlacklistForAdmin_DateOfBirth">
<input type="@(vCrewBlacklistForAdminEdit.DateOfBirth.InputTextType)" name="x_DateOfBirth" id="x_DateOfBirth" data-table="v_CrewBlacklistForAdmin" data-field="x_DateOfBirth" value="@Html.Raw(vCrewBlacklistForAdminEdit.DateOfBirth.EditValue)" placeholder="@Html.Raw(HtmlEncode(vCrewBlacklistForAdminEdit.DateOfBirth.PlaceHolder))" data-format-pattern="@(vCrewBlacklistForAdminEdit.DateOfBirth.FormatPattern)"@Html.Raw(vCrewBlacklistForAdminEdit.DateOfBirth.EditAttributes) aria-describedby="x_DateOfBirth_help">
@Html.Raw(vCrewBlacklistForAdminEdit.DateOfBirth.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(vCrewBlacklistForAdminEdit.DateOfBirth.GetErrorMessage())</div>
@if (!vCrewBlacklistForAdminEdit.DateOfBirth.ReadOnly && !vCrewBlacklistForAdminEdit.DateOfBirth.Disabled && !vCrewBlacklistForAdminEdit.DateOfBirth.EditAttrs.Is("readonly") && !vCrewBlacklistForAdminEdit.DateOfBirth.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fv_CrewBlacklistForAdminedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fv_CrewBlacklistForAdminedit", "x_DateOfBirth", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* vCrewBlacklistForAdminEdit.DateOfBirth.Visible (end) *@
@if (vCrewBlacklistForAdminEdit.Gender.Visible) { // vCrewBlacklistForAdminEdit.Gender.Visible (begin)
    <div id="r_Gender" @Html.Raw(vCrewBlacklistForAdminEdit.Gender.RowAttributes)>
        <label id="elh_v_CrewBlacklistForAdmin_Gender" for="x_Gender" class="@(vCrewBlacklistForAdminEdit.LeftColumnClass)">@Html.Raw(vCrewBlacklistForAdminEdit.Gender.Caption)@Html.Raw(vCrewBlacklistForAdminEdit.Gender.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(vCrewBlacklistForAdminEdit.RightColumnClass)"><div @Html.Raw(vCrewBlacklistForAdminEdit.Gender.CellAttributes)>
<span id="el_v_CrewBlacklistForAdmin_Gender">
<input type="@(vCrewBlacklistForAdminEdit.Gender.InputTextType)" name="x_Gender" id="x_Gender" data-table="v_CrewBlacklistForAdmin" data-field="x_Gender" value="@Html.Raw(vCrewBlacklistForAdminEdit.Gender.EditValue)" size="30" maxlength="1" placeholder="@Html.Raw(HtmlEncode(vCrewBlacklistForAdminEdit.Gender.PlaceHolder))" data-format-pattern="@(vCrewBlacklistForAdminEdit.Gender.FormatPattern)"@Html.Raw(vCrewBlacklistForAdminEdit.Gender.EditAttributes) aria-describedby="x_Gender_help">
@Html.Raw(vCrewBlacklistForAdminEdit.Gender.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(vCrewBlacklistForAdminEdit.Gender.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* vCrewBlacklistForAdminEdit.Gender.Visible (end) *@
@if (vCrewBlacklistForAdminEdit.RankAppliedFor_RankID.Visible) { // vCrewBlacklistForAdminEdit.RankAppliedFor_RankID.Visible (begin)
    <div id="r_RankAppliedFor_RankID" @Html.Raw(vCrewBlacklistForAdminEdit.RankAppliedFor_RankID.RowAttributes)>
        <label id="elh_v_CrewBlacklistForAdmin_RankAppliedFor_RankID" for="x_RankAppliedFor_RankID" class="@(vCrewBlacklistForAdminEdit.LeftColumnClass)">@Html.Raw(vCrewBlacklistForAdminEdit.RankAppliedFor_RankID.Caption)@Html.Raw(vCrewBlacklistForAdminEdit.RankAppliedFor_RankID.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(vCrewBlacklistForAdminEdit.RightColumnClass)"><div @Html.Raw(vCrewBlacklistForAdminEdit.RankAppliedFor_RankID.CellAttributes)>
<span id="el_v_CrewBlacklistForAdmin_RankAppliedFor_RankID">
<input type="@(vCrewBlacklistForAdminEdit.RankAppliedFor_RankID.InputTextType)" name="x_RankAppliedFor_RankID" id="x_RankAppliedFor_RankID" data-table="v_CrewBlacklistForAdmin" data-field="x_RankAppliedFor_RankID" value="@Html.Raw(vCrewBlacklistForAdminEdit.RankAppliedFor_RankID.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(vCrewBlacklistForAdminEdit.RankAppliedFor_RankID.PlaceHolder))" data-format-pattern="@(vCrewBlacklistForAdminEdit.RankAppliedFor_RankID.FormatPattern)"@Html.Raw(vCrewBlacklistForAdminEdit.RankAppliedFor_RankID.EditAttributes) aria-describedby="x_RankAppliedFor_RankID_help">
@Html.Raw(vCrewBlacklistForAdminEdit.RankAppliedFor_RankID.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(vCrewBlacklistForAdminEdit.RankAppliedFor_RankID.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* vCrewBlacklistForAdminEdit.RankAppliedFor_RankID.Visible (end) *@
@if (vCrewBlacklistForAdminEdit.WillAcceptLowRank.Visible) { // vCrewBlacklistForAdminEdit.WillAcceptLowRank.Visible (begin)
    <div id="r_WillAcceptLowRank" @Html.Raw(vCrewBlacklistForAdminEdit.WillAcceptLowRank.RowAttributes)>
        <label id="elh_v_CrewBlacklistForAdmin_WillAcceptLowRank" class="@(vCrewBlacklistForAdminEdit.LeftColumnClass)">@Html.Raw(vCrewBlacklistForAdminEdit.WillAcceptLowRank.Caption)@Html.Raw(vCrewBlacklistForAdminEdit.WillAcceptLowRank.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(vCrewBlacklistForAdminEdit.RightColumnClass)"><div @Html.Raw(vCrewBlacklistForAdminEdit.WillAcceptLowRank.CellAttributes)>
<span id="el_v_CrewBlacklistForAdmin_WillAcceptLowRank">
<div class="form-check d-inline-block">
    <input type="checkbox" class="form-check-input@(vCrewBlacklistForAdminEdit.WillAcceptLowRank.IsInvalidClass)" data-table="v_CrewBlacklistForAdmin" data-field="x_WillAcceptLowRank" data-boolean name="x_WillAcceptLowRank" id="x_WillAcceptLowRank" value="1" checked="@ConvertToBool(vCrewBlacklistForAdminEdit.WillAcceptLowRank.CurrentValue)" @Html.Raw(vCrewBlacklistForAdminEdit.WillAcceptLowRank.EditAttributes) aria-describedby="x_WillAcceptLowRank_help">
    <div class="invalid-feedback">@Html.Raw(vCrewBlacklistForAdminEdit.WillAcceptLowRank.GetErrorMessage())</div>
</div>
@Html.Raw(vCrewBlacklistForAdminEdit.WillAcceptLowRank.GetCustomMessage)
</span>
</div></div>
    </div>
} @* vCrewBlacklistForAdminEdit.WillAcceptLowRank.Visible (end) *@
@if (vCrewBlacklistForAdminEdit.AvailableFrom.Visible) { // vCrewBlacklistForAdminEdit.AvailableFrom.Visible (begin)
    <div id="r_AvailableFrom" @Html.Raw(vCrewBlacklistForAdminEdit.AvailableFrom.RowAttributes)>
        <label id="elh_v_CrewBlacklistForAdmin_AvailableFrom" for="x_AvailableFrom" class="@(vCrewBlacklistForAdminEdit.LeftColumnClass)">@Html.Raw(vCrewBlacklistForAdminEdit.AvailableFrom.Caption)@Html.Raw(vCrewBlacklistForAdminEdit.AvailableFrom.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(vCrewBlacklistForAdminEdit.RightColumnClass)"><div @Html.Raw(vCrewBlacklistForAdminEdit.AvailableFrom.CellAttributes)>
<span id="el_v_CrewBlacklistForAdmin_AvailableFrom">
<input type="@(vCrewBlacklistForAdminEdit.AvailableFrom.InputTextType)" name="x_AvailableFrom" id="x_AvailableFrom" data-table="v_CrewBlacklistForAdmin" data-field="x_AvailableFrom" value="@Html.Raw(vCrewBlacklistForAdminEdit.AvailableFrom.EditValue)" placeholder="@Html.Raw(HtmlEncode(vCrewBlacklistForAdminEdit.AvailableFrom.PlaceHolder))" data-format-pattern="@(vCrewBlacklistForAdminEdit.AvailableFrom.FormatPattern)"@Html.Raw(vCrewBlacklistForAdminEdit.AvailableFrom.EditAttributes) aria-describedby="x_AvailableFrom_help">
@Html.Raw(vCrewBlacklistForAdminEdit.AvailableFrom.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(vCrewBlacklistForAdminEdit.AvailableFrom.GetErrorMessage())</div>
@if (!vCrewBlacklistForAdminEdit.AvailableFrom.ReadOnly && !vCrewBlacklistForAdminEdit.AvailableFrom.Disabled && !vCrewBlacklistForAdminEdit.AvailableFrom.EditAttrs.Is("readonly") && !vCrewBlacklistForAdminEdit.AvailableFrom.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fv_CrewBlacklistForAdminedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fv_CrewBlacklistForAdminedit", "x_AvailableFrom", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* vCrewBlacklistForAdminEdit.AvailableFrom.Visible (end) *@
@if (vCrewBlacklistForAdminEdit.AvailableUntil.Visible) { // vCrewBlacklistForAdminEdit.AvailableUntil.Visible (begin)
    <div id="r_AvailableUntil" @Html.Raw(vCrewBlacklistForAdminEdit.AvailableUntil.RowAttributes)>
        <label id="elh_v_CrewBlacklistForAdmin_AvailableUntil" for="x_AvailableUntil" class="@(vCrewBlacklistForAdminEdit.LeftColumnClass)">@Html.Raw(vCrewBlacklistForAdminEdit.AvailableUntil.Caption)@Html.Raw(vCrewBlacklistForAdminEdit.AvailableUntil.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(vCrewBlacklistForAdminEdit.RightColumnClass)"><div @Html.Raw(vCrewBlacklistForAdminEdit.AvailableUntil.CellAttributes)>
<span id="el_v_CrewBlacklistForAdmin_AvailableUntil">
<input type="@(vCrewBlacklistForAdminEdit.AvailableUntil.InputTextType)" name="x_AvailableUntil" id="x_AvailableUntil" data-table="v_CrewBlacklistForAdmin" data-field="x_AvailableUntil" value="@Html.Raw(vCrewBlacklistForAdminEdit.AvailableUntil.EditValue)" placeholder="@Html.Raw(HtmlEncode(vCrewBlacklistForAdminEdit.AvailableUntil.PlaceHolder))" data-format-pattern="@(vCrewBlacklistForAdminEdit.AvailableUntil.FormatPattern)"@Html.Raw(vCrewBlacklistForAdminEdit.AvailableUntil.EditAttributes) aria-describedby="x_AvailableUntil_help">
@Html.Raw(vCrewBlacklistForAdminEdit.AvailableUntil.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(vCrewBlacklistForAdminEdit.AvailableUntil.GetErrorMessage())</div>
@if (!vCrewBlacklistForAdminEdit.AvailableUntil.ReadOnly && !vCrewBlacklistForAdminEdit.AvailableUntil.Disabled && !vCrewBlacklistForAdminEdit.AvailableUntil.EditAttrs.Is("readonly") && !vCrewBlacklistForAdminEdit.AvailableUntil.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fv_CrewBlacklistForAdminedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fv_CrewBlacklistForAdminedit", "x_AvailableUntil", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* vCrewBlacklistForAdminEdit.AvailableUntil.Visible (end) *@
@if (vCrewBlacklistForAdminEdit.EmployeeStatus.Visible) { // vCrewBlacklistForAdminEdit.EmployeeStatus.Visible (begin)
    <div id="r_EmployeeStatus" @Html.Raw(vCrewBlacklistForAdminEdit.EmployeeStatus.RowAttributes)>
        <label id="elh_v_CrewBlacklistForAdmin_EmployeeStatus" for="x_EmployeeStatus" class="@(vCrewBlacklistForAdminEdit.LeftColumnClass)">@Html.Raw(vCrewBlacklistForAdminEdit.EmployeeStatus.Caption)@Html.Raw(vCrewBlacklistForAdminEdit.EmployeeStatus.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(vCrewBlacklistForAdminEdit.RightColumnClass)"><div @Html.Raw(vCrewBlacklistForAdminEdit.EmployeeStatus.CellAttributes)>
<span id="el_v_CrewBlacklistForAdmin_EmployeeStatus">
<input type="@(vCrewBlacklistForAdminEdit.EmployeeStatus.InputTextType)" name="x_EmployeeStatus" id="x_EmployeeStatus" data-table="v_CrewBlacklistForAdmin" data-field="x_EmployeeStatus" value="@Html.Raw(vCrewBlacklistForAdminEdit.EmployeeStatus.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(vCrewBlacklistForAdminEdit.EmployeeStatus.PlaceHolder))" data-format-pattern="@(vCrewBlacklistForAdminEdit.EmployeeStatus.FormatPattern)"@Html.Raw(vCrewBlacklistForAdminEdit.EmployeeStatus.EditAttributes) aria-describedby="x_EmployeeStatus_help">
@Html.Raw(vCrewBlacklistForAdminEdit.EmployeeStatus.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(vCrewBlacklistForAdminEdit.EmployeeStatus.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* vCrewBlacklistForAdminEdit.EmployeeStatus.Visible (end) *@
</div><!-- /page* -->
    <input type="hidden" data-table="v_CrewBlacklistForAdmin" data-field="x_ID" data-hidden="1" name="x_ID" id="x_ID" value="@Html.Raw(HtmlEncode(vCrewBlacklistForAdminEdit.ID.CurrentValue))">
@{ vCrewBlacklistForAdminEdit.CloseRecordset(); }
@Html.Raw(vCrewBlacklistForAdminEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(vCrewBlacklistForAdminEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fv_CrewBlacklistForAdminedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fv_CrewBlacklistForAdminedit" data-href="@AppPath(vCrewBlacklistForAdminEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(vCrewBlacklistForAdminEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@vCrewBlacklistForAdminEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("v_CrewBlacklistForAdmin");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
