@{
    // View
    View = this;

    // Check action result
    if (vCrewRejectedForAdminEdit.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!vCrewRejectedForAdminEdit.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@vCrewRejectedForAdminEdit.ShowPageHeader()
@vCrewRejectedForAdminEdit.ShowMessages()
<main class="edit">
<form name="fv_CrewRejectedForAdminedit" id="fv_CrewRejectedForAdminedit" class="@(vCrewRejectedForAdminEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
<script>
var currentTable = @Html.Raw(ConvertToJson(vCrewRejectedForAdminEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { v_CrewRejectedForAdmin: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fv_CrewRejectedForAdminedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fv_CrewRejectedForAdminedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["IndividualCodeNumber", [fields.IndividualCodeNumber.visible && fields.IndividualCodeNumber.required ? ew.Validators.required(fields.IndividualCodeNumber.caption) : null], fields.IndividualCodeNumber.isInvalid],
            ["EmployeeStatus", [fields.EmployeeStatus.visible && fields.EmployeeStatus.required ? ew.Validators.required(fields.EmployeeStatus.caption) : null], fields.EmployeeStatus.isInvalid],
            ["FullName", [fields.FullName.visible && fields.FullName.required ? ew.Validators.required(fields.FullName.caption) : null], fields.FullName.isInvalid],
            ["RequiredPhoto", [fields.RequiredPhoto.visible && fields.RequiredPhoto.required ? ew.Validators.required(fields.RequiredPhoto.caption) : null], fields.RequiredPhoto.isInvalid],
            ["VisaPhoto", [fields.VisaPhoto.visible && fields.VisaPhoto.required ? ew.Validators.required(fields.VisaPhoto.caption) : null], fields.VisaPhoto.isInvalid],
            ["CityOfBirth", [fields.CityOfBirth.visible && fields.CityOfBirth.required ? ew.Validators.required(fields.CityOfBirth.caption) : null], fields.CityOfBirth.isInvalid],
            ["DateOfBirth", [fields.DateOfBirth.visible && fields.DateOfBirth.required ? ew.Validators.required(fields.DateOfBirth.caption) : null, ew.Validators.datetime(fields.DateOfBirth.clientFormatPattern)], fields.DateOfBirth.isInvalid],
            ["Gender", [fields.Gender.visible && fields.Gender.required ? ew.Validators.required(fields.Gender.caption) : null], fields.Gender.isInvalid],
            ["RankAppliedFor_RankID", [fields.RankAppliedFor_RankID.visible && fields.RankAppliedFor_RankID.required ? ew.Validators.required(fields.RankAppliedFor_RankID.caption) : null, ew.Validators.integer], fields.RankAppliedFor_RankID.isInvalid],
            ["WillAcceptLowRank", [fields.WillAcceptLowRank.visible && fields.WillAcceptLowRank.required ? ew.Validators.required(fields.WillAcceptLowRank.caption) : null], fields.WillAcceptLowRank.isInvalid],
            ["AvailableFrom", [fields.AvailableFrom.visible && fields.AvailableFrom.required ? ew.Validators.required(fields.AvailableFrom.caption) : null, ew.Validators.datetime(fields.AvailableFrom.clientFormatPattern)], fields.AvailableFrom.isInvalid],
            ["AvailableUntil", [fields.AvailableUntil.visible && fields.AvailableUntil.required ? ew.Validators.required(fields.AvailableUntil.caption) : null, ew.Validators.datetime(fields.AvailableUntil.clientFormatPattern)], fields.AvailableUntil.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "RankAppliedFor_RankID": @Html.Raw(vCrewRejectedForAdminEdit.RankAppliedFor_RankID.ToClientList(vCrewRejectedForAdminEdit)),
            "WillAcceptLowRank": @Html.Raw(vCrewRejectedForAdminEdit.WillAcceptLowRank.ToClientList(vCrewRejectedForAdminEdit)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(vCrewRejectedForAdminEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(vCrewRejectedForAdminEdit.OldKeyName)" value="@Html.Raw(vCrewRejectedForAdminEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (vCrewRejectedForAdminEdit.IndividualCodeNumber.Visible) { // vCrewRejectedForAdminEdit.IndividualCodeNumber.Visible (begin)
    <div id="r_IndividualCodeNumber" @Html.Raw(vCrewRejectedForAdminEdit.IndividualCodeNumber.RowAttributes)>
        <label id="elh_v_CrewRejectedForAdmin_IndividualCodeNumber" for="x_IndividualCodeNumber" class="@(vCrewRejectedForAdminEdit.LeftColumnClass)">@Html.Raw(vCrewRejectedForAdminEdit.IndividualCodeNumber.Caption)@Html.Raw(vCrewRejectedForAdminEdit.IndividualCodeNumber.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(vCrewRejectedForAdminEdit.RightColumnClass)"><div @Html.Raw(vCrewRejectedForAdminEdit.IndividualCodeNumber.CellAttributes)>
<span id="el_v_CrewRejectedForAdmin_IndividualCodeNumber">
<input type="@(vCrewRejectedForAdminEdit.IndividualCodeNumber.InputTextType)" name="x_IndividualCodeNumber" id="x_IndividualCodeNumber" data-table="v_CrewRejectedForAdmin" data-field="x_IndividualCodeNumber" value="@Html.Raw(vCrewRejectedForAdminEdit.IndividualCodeNumber.EditValue)" size="30" maxlength="20" placeholder="@Html.Raw(HtmlEncode(vCrewRejectedForAdminEdit.IndividualCodeNumber.PlaceHolder))" data-format-pattern="@(vCrewRejectedForAdminEdit.IndividualCodeNumber.FormatPattern)"@Html.Raw(vCrewRejectedForAdminEdit.IndividualCodeNumber.EditAttributes) aria-describedby="x_IndividualCodeNumber_help">
@Html.Raw(vCrewRejectedForAdminEdit.IndividualCodeNumber.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(vCrewRejectedForAdminEdit.IndividualCodeNumber.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* vCrewRejectedForAdminEdit.IndividualCodeNumber.Visible (end) *@
@if (vCrewRejectedForAdminEdit.EmployeeStatus.Visible) { // vCrewRejectedForAdminEdit.EmployeeStatus.Visible (begin)
    <div id="r_EmployeeStatus" @Html.Raw(vCrewRejectedForAdminEdit.EmployeeStatus.RowAttributes)>
        <label id="elh_v_CrewRejectedForAdmin_EmployeeStatus" for="x_EmployeeStatus" class="@(vCrewRejectedForAdminEdit.LeftColumnClass)">@Html.Raw(vCrewRejectedForAdminEdit.EmployeeStatus.Caption)@Html.Raw(vCrewRejectedForAdminEdit.EmployeeStatus.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(vCrewRejectedForAdminEdit.RightColumnClass)"><div @Html.Raw(vCrewRejectedForAdminEdit.EmployeeStatus.CellAttributes)>
<span id="el_v_CrewRejectedForAdmin_EmployeeStatus">
<input type="@(vCrewRejectedForAdminEdit.EmployeeStatus.InputTextType)" name="x_EmployeeStatus" id="x_EmployeeStatus" data-table="v_CrewRejectedForAdmin" data-field="x_EmployeeStatus" value="@Html.Raw(vCrewRejectedForAdminEdit.EmployeeStatus.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(vCrewRejectedForAdminEdit.EmployeeStatus.PlaceHolder))" data-format-pattern="@(vCrewRejectedForAdminEdit.EmployeeStatus.FormatPattern)"@Html.Raw(vCrewRejectedForAdminEdit.EmployeeStatus.EditAttributes) aria-describedby="x_EmployeeStatus_help">
@Html.Raw(vCrewRejectedForAdminEdit.EmployeeStatus.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(vCrewRejectedForAdminEdit.EmployeeStatus.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* vCrewRejectedForAdminEdit.EmployeeStatus.Visible (end) *@
@if (vCrewRejectedForAdminEdit.FullName.Visible) { // vCrewRejectedForAdminEdit.FullName.Visible (begin)
    <div id="r_FullName" @Html.Raw(vCrewRejectedForAdminEdit.FullName.RowAttributes)>
        <label id="elh_v_CrewRejectedForAdmin_FullName" for="x_FullName" class="@(vCrewRejectedForAdminEdit.LeftColumnClass)">@Html.Raw(vCrewRejectedForAdminEdit.FullName.Caption)@Html.Raw(vCrewRejectedForAdminEdit.FullName.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(vCrewRejectedForAdminEdit.RightColumnClass)"><div @Html.Raw(vCrewRejectedForAdminEdit.FullName.CellAttributes)>
<span id="el_v_CrewRejectedForAdmin_FullName">
<input type="@(vCrewRejectedForAdminEdit.FullName.InputTextType)" name="x_FullName" id="x_FullName" data-table="v_CrewRejectedForAdmin" data-field="x_FullName" value="@Html.Raw(vCrewRejectedForAdminEdit.FullName.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(vCrewRejectedForAdminEdit.FullName.PlaceHolder))" data-format-pattern="@(vCrewRejectedForAdminEdit.FullName.FormatPattern)"@Html.Raw(vCrewRejectedForAdminEdit.FullName.EditAttributes) aria-describedby="x_FullName_help">
@Html.Raw(vCrewRejectedForAdminEdit.FullName.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(vCrewRejectedForAdminEdit.FullName.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* vCrewRejectedForAdminEdit.FullName.Visible (end) *@
@if (vCrewRejectedForAdminEdit.RequiredPhoto.Visible) { // vCrewRejectedForAdminEdit.RequiredPhoto.Visible (begin)
    <div id="r_RequiredPhoto" @Html.Raw(vCrewRejectedForAdminEdit.RequiredPhoto.RowAttributes)>
        <label id="elh_v_CrewRejectedForAdmin_RequiredPhoto" for="x_RequiredPhoto" class="@(vCrewRejectedForAdminEdit.LeftColumnClass)">@Html.Raw(vCrewRejectedForAdminEdit.RequiredPhoto.Caption)@Html.Raw(vCrewRejectedForAdminEdit.RequiredPhoto.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(vCrewRejectedForAdminEdit.RightColumnClass)"><div @Html.Raw(vCrewRejectedForAdminEdit.RequiredPhoto.CellAttributes)>
<span id="el_v_CrewRejectedForAdmin_RequiredPhoto">
<input type="@(vCrewRejectedForAdminEdit.RequiredPhoto.InputTextType)" name="x_RequiredPhoto" id="x_RequiredPhoto" data-table="v_CrewRejectedForAdmin" data-field="x_RequiredPhoto" value="@Html.Raw(vCrewRejectedForAdminEdit.RequiredPhoto.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(vCrewRejectedForAdminEdit.RequiredPhoto.PlaceHolder))" data-format-pattern="@(vCrewRejectedForAdminEdit.RequiredPhoto.FormatPattern)"@Html.Raw(vCrewRejectedForAdminEdit.RequiredPhoto.EditAttributes) aria-describedby="x_RequiredPhoto_help">
@Html.Raw(vCrewRejectedForAdminEdit.RequiredPhoto.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(vCrewRejectedForAdminEdit.RequiredPhoto.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* vCrewRejectedForAdminEdit.RequiredPhoto.Visible (end) *@
@if (vCrewRejectedForAdminEdit.VisaPhoto.Visible) { // vCrewRejectedForAdminEdit.VisaPhoto.Visible (begin)
    <div id="r_VisaPhoto" @Html.Raw(vCrewRejectedForAdminEdit.VisaPhoto.RowAttributes)>
        <label id="elh_v_CrewRejectedForAdmin_VisaPhoto" for="x_VisaPhoto" class="@(vCrewRejectedForAdminEdit.LeftColumnClass)">@Html.Raw(vCrewRejectedForAdminEdit.VisaPhoto.Caption)@Html.Raw(vCrewRejectedForAdminEdit.VisaPhoto.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(vCrewRejectedForAdminEdit.RightColumnClass)"><div @Html.Raw(vCrewRejectedForAdminEdit.VisaPhoto.CellAttributes)>
<span id="el_v_CrewRejectedForAdmin_VisaPhoto">
<input type="@(vCrewRejectedForAdminEdit.VisaPhoto.InputTextType)" name="x_VisaPhoto" id="x_VisaPhoto" data-table="v_CrewRejectedForAdmin" data-field="x_VisaPhoto" value="@Html.Raw(vCrewRejectedForAdminEdit.VisaPhoto.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(vCrewRejectedForAdminEdit.VisaPhoto.PlaceHolder))" data-format-pattern="@(vCrewRejectedForAdminEdit.VisaPhoto.FormatPattern)"@Html.Raw(vCrewRejectedForAdminEdit.VisaPhoto.EditAttributes) aria-describedby="x_VisaPhoto_help">
@Html.Raw(vCrewRejectedForAdminEdit.VisaPhoto.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(vCrewRejectedForAdminEdit.VisaPhoto.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* vCrewRejectedForAdminEdit.VisaPhoto.Visible (end) *@
@if (vCrewRejectedForAdminEdit.CityOfBirth.Visible) { // vCrewRejectedForAdminEdit.CityOfBirth.Visible (begin)
    <div id="r_CityOfBirth" @Html.Raw(vCrewRejectedForAdminEdit.CityOfBirth.RowAttributes)>
        <label id="elh_v_CrewRejectedForAdmin_CityOfBirth" for="x_CityOfBirth" class="@(vCrewRejectedForAdminEdit.LeftColumnClass)">@Html.Raw(vCrewRejectedForAdminEdit.CityOfBirth.Caption)@Html.Raw(vCrewRejectedForAdminEdit.CityOfBirth.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(vCrewRejectedForAdminEdit.RightColumnClass)"><div @Html.Raw(vCrewRejectedForAdminEdit.CityOfBirth.CellAttributes)>
<span id="el_v_CrewRejectedForAdmin_CityOfBirth">
<input type="@(vCrewRejectedForAdminEdit.CityOfBirth.InputTextType)" name="x_CityOfBirth" id="x_CityOfBirth" data-table="v_CrewRejectedForAdmin" data-field="x_CityOfBirth" value="@Html.Raw(vCrewRejectedForAdminEdit.CityOfBirth.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(vCrewRejectedForAdminEdit.CityOfBirth.PlaceHolder))" data-format-pattern="@(vCrewRejectedForAdminEdit.CityOfBirth.FormatPattern)"@Html.Raw(vCrewRejectedForAdminEdit.CityOfBirth.EditAttributes) aria-describedby="x_CityOfBirth_help">
@Html.Raw(vCrewRejectedForAdminEdit.CityOfBirth.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(vCrewRejectedForAdminEdit.CityOfBirth.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* vCrewRejectedForAdminEdit.CityOfBirth.Visible (end) *@
@if (vCrewRejectedForAdminEdit.DateOfBirth.Visible) { // vCrewRejectedForAdminEdit.DateOfBirth.Visible (begin)
    <div id="r_DateOfBirth" @Html.Raw(vCrewRejectedForAdminEdit.DateOfBirth.RowAttributes)>
        <label id="elh_v_CrewRejectedForAdmin_DateOfBirth" for="x_DateOfBirth" class="@(vCrewRejectedForAdminEdit.LeftColumnClass)">@Html.Raw(vCrewRejectedForAdminEdit.DateOfBirth.Caption)@Html.Raw(vCrewRejectedForAdminEdit.DateOfBirth.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(vCrewRejectedForAdminEdit.RightColumnClass)"><div @Html.Raw(vCrewRejectedForAdminEdit.DateOfBirth.CellAttributes)>
<span id="el_v_CrewRejectedForAdmin_DateOfBirth">
<input type="@(vCrewRejectedForAdminEdit.DateOfBirth.InputTextType)" name="x_DateOfBirth" id="x_DateOfBirth" data-table="v_CrewRejectedForAdmin" data-field="x_DateOfBirth" value="@Html.Raw(vCrewRejectedForAdminEdit.DateOfBirth.EditValue)" placeholder="@Html.Raw(HtmlEncode(vCrewRejectedForAdminEdit.DateOfBirth.PlaceHolder))" data-format-pattern="@(vCrewRejectedForAdminEdit.DateOfBirth.FormatPattern)"@Html.Raw(vCrewRejectedForAdminEdit.DateOfBirth.EditAttributes) aria-describedby="x_DateOfBirth_help">
@Html.Raw(vCrewRejectedForAdminEdit.DateOfBirth.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(vCrewRejectedForAdminEdit.DateOfBirth.GetErrorMessage())</div>
@if (!vCrewRejectedForAdminEdit.DateOfBirth.ReadOnly && !vCrewRejectedForAdminEdit.DateOfBirth.Disabled && !vCrewRejectedForAdminEdit.DateOfBirth.EditAttrs.Is("readonly") && !vCrewRejectedForAdminEdit.DateOfBirth.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fv_CrewRejectedForAdminedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fv_CrewRejectedForAdminedit", "x_DateOfBirth", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* vCrewRejectedForAdminEdit.DateOfBirth.Visible (end) *@
@if (vCrewRejectedForAdminEdit.Gender.Visible) { // vCrewRejectedForAdminEdit.Gender.Visible (begin)
    <div id="r_Gender" @Html.Raw(vCrewRejectedForAdminEdit.Gender.RowAttributes)>
        <label id="elh_v_CrewRejectedForAdmin_Gender" for="x_Gender" class="@(vCrewRejectedForAdminEdit.LeftColumnClass)">@Html.Raw(vCrewRejectedForAdminEdit.Gender.Caption)@Html.Raw(vCrewRejectedForAdminEdit.Gender.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(vCrewRejectedForAdminEdit.RightColumnClass)"><div @Html.Raw(vCrewRejectedForAdminEdit.Gender.CellAttributes)>
<span id="el_v_CrewRejectedForAdmin_Gender">
<input type="@(vCrewRejectedForAdminEdit.Gender.InputTextType)" name="x_Gender" id="x_Gender" data-table="v_CrewRejectedForAdmin" data-field="x_Gender" value="@Html.Raw(vCrewRejectedForAdminEdit.Gender.EditValue)" size="30" maxlength="1" placeholder="@Html.Raw(HtmlEncode(vCrewRejectedForAdminEdit.Gender.PlaceHolder))" data-format-pattern="@(vCrewRejectedForAdminEdit.Gender.FormatPattern)"@Html.Raw(vCrewRejectedForAdminEdit.Gender.EditAttributes) aria-describedby="x_Gender_help">
@Html.Raw(vCrewRejectedForAdminEdit.Gender.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(vCrewRejectedForAdminEdit.Gender.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* vCrewRejectedForAdminEdit.Gender.Visible (end) *@
@if (vCrewRejectedForAdminEdit.RankAppliedFor_RankID.Visible) { // vCrewRejectedForAdminEdit.RankAppliedFor_RankID.Visible (begin)
    <div id="r_RankAppliedFor_RankID" @Html.Raw(vCrewRejectedForAdminEdit.RankAppliedFor_RankID.RowAttributes)>
        <label id="elh_v_CrewRejectedForAdmin_RankAppliedFor_RankID" class="@(vCrewRejectedForAdminEdit.LeftColumnClass)">@Html.Raw(vCrewRejectedForAdminEdit.RankAppliedFor_RankID.Caption)@Html.Raw(vCrewRejectedForAdminEdit.RankAppliedFor_RankID.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(vCrewRejectedForAdminEdit.RightColumnClass)"><div @Html.Raw(vCrewRejectedForAdminEdit.RankAppliedFor_RankID.CellAttributes)>
<span id="el_v_CrewRejectedForAdmin_RankAppliedFor_RankID">
<span>@{
    if (IsRTL) {
        vCrewRejectedForAdminEdit.RankAppliedFor_RankID.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_RankAppliedFor_RankID" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_RankAppliedFor_RankID" id="sv_x_RankAppliedFor_RankID" value="@(RemoveHtml(ConvertToString(vCrewRejectedForAdminEdit.RankAppliedFor_RankID.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(vCrewRejectedForAdminEdit.RankAppliedFor_RankID.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(vCrewRejectedForAdminEdit.RankAppliedFor_RankID.PlaceHolder))" data-format-pattern="@(vCrewRejectedForAdminEdit.RankAppliedFor_RankID.FormatPattern)" @Html.Raw(vCrewRejectedForAdminEdit.RankAppliedFor_RankID.EditAttributes) aria-describedby="x_RankAppliedFor_RankID_help">
</span>
<selection-list hidden class="form-control" data-table="v_CrewRejectedForAdmin" data-field="x_RankAppliedFor_RankID" data-input="sv_x_RankAppliedFor_RankID" data-value-separator="@(vCrewRejectedForAdminEdit.RankAppliedFor_RankID.DisplayValueSeparatorAttribute)" name="x_RankAppliedFor_RankID" id="x_RankAppliedFor_RankID" value="@(HtmlEncode(vCrewRejectedForAdminEdit.RankAppliedFor_RankID.CurrentValue))"></selection-list>
@Html.Raw(vCrewRejectedForAdminEdit.RankAppliedFor_RankID.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(vCrewRejectedForAdminEdit.RankAppliedFor_RankID.GetErrorMessage())</div>
<script>
loadjs.ready(["fv_CrewRejectedForAdminedit"], function() {
    fv_CrewRejectedForAdminedit.createAutoSuggest(Object.assign({"id":"x_RankAppliedFor_RankID","forceSelect":false}, { lookupAllDisplayFields: @(vCrewRejectedForAdminEdit.RankAppliedFor_RankID.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.v_CrewRejectedForAdmin.fields.RankAppliedFor_RankID.autoSuggestOptions));
});
</script>
@Html.Raw(vCrewRejectedForAdminEdit.RankAppliedFor_RankID.Lookup.GetParamTag(vCrewRejectedForAdminEdit, "p_x_RankAppliedFor_RankID"))
</span>
</div></div>
    </div>
} @* vCrewRejectedForAdminEdit.RankAppliedFor_RankID.Visible (end) *@
@if (vCrewRejectedForAdminEdit.WillAcceptLowRank.Visible) { // vCrewRejectedForAdminEdit.WillAcceptLowRank.Visible (begin)
    <div id="r_WillAcceptLowRank" @Html.Raw(vCrewRejectedForAdminEdit.WillAcceptLowRank.RowAttributes)>
        <label id="elh_v_CrewRejectedForAdmin_WillAcceptLowRank" class="@(vCrewRejectedForAdminEdit.LeftColumnClass)">@Html.Raw(vCrewRejectedForAdminEdit.WillAcceptLowRank.Caption)@Html.Raw(vCrewRejectedForAdminEdit.WillAcceptLowRank.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(vCrewRejectedForAdminEdit.RightColumnClass)"><div @Html.Raw(vCrewRejectedForAdminEdit.WillAcceptLowRank.CellAttributes)>
<span id="el_v_CrewRejectedForAdmin_WillAcceptLowRank">
<div class="form-check d-inline-block">
    <input type="checkbox" class="form-check-input@(vCrewRejectedForAdminEdit.WillAcceptLowRank.IsInvalidClass)" data-table="v_CrewRejectedForAdmin" data-field="x_WillAcceptLowRank" data-boolean name="x_WillAcceptLowRank" id="x_WillAcceptLowRank" value="1" checked="@ConvertToBool(vCrewRejectedForAdminEdit.WillAcceptLowRank.CurrentValue)" @Html.Raw(vCrewRejectedForAdminEdit.WillAcceptLowRank.EditAttributes) aria-describedby="x_WillAcceptLowRank_help">
    <div class="invalid-feedback">@Html.Raw(vCrewRejectedForAdminEdit.WillAcceptLowRank.GetErrorMessage())</div>
</div>
@Html.Raw(vCrewRejectedForAdminEdit.WillAcceptLowRank.GetCustomMessage)
</span>
</div></div>
    </div>
} @* vCrewRejectedForAdminEdit.WillAcceptLowRank.Visible (end) *@
@if (vCrewRejectedForAdminEdit.AvailableFrom.Visible) { // vCrewRejectedForAdminEdit.AvailableFrom.Visible (begin)
    <div id="r_AvailableFrom" @Html.Raw(vCrewRejectedForAdminEdit.AvailableFrom.RowAttributes)>
        <label id="elh_v_CrewRejectedForAdmin_AvailableFrom" for="x_AvailableFrom" class="@(vCrewRejectedForAdminEdit.LeftColumnClass)">@Html.Raw(vCrewRejectedForAdminEdit.AvailableFrom.Caption)@Html.Raw(vCrewRejectedForAdminEdit.AvailableFrom.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(vCrewRejectedForAdminEdit.RightColumnClass)"><div @Html.Raw(vCrewRejectedForAdminEdit.AvailableFrom.CellAttributes)>
<span id="el_v_CrewRejectedForAdmin_AvailableFrom">
<input type="@(vCrewRejectedForAdminEdit.AvailableFrom.InputTextType)" name="x_AvailableFrom" id="x_AvailableFrom" data-table="v_CrewRejectedForAdmin" data-field="x_AvailableFrom" value="@Html.Raw(vCrewRejectedForAdminEdit.AvailableFrom.EditValue)" placeholder="@Html.Raw(HtmlEncode(vCrewRejectedForAdminEdit.AvailableFrom.PlaceHolder))" data-format-pattern="@(vCrewRejectedForAdminEdit.AvailableFrom.FormatPattern)"@Html.Raw(vCrewRejectedForAdminEdit.AvailableFrom.EditAttributes) aria-describedby="x_AvailableFrom_help">
@Html.Raw(vCrewRejectedForAdminEdit.AvailableFrom.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(vCrewRejectedForAdminEdit.AvailableFrom.GetErrorMessage())</div>
@if (!vCrewRejectedForAdminEdit.AvailableFrom.ReadOnly && !vCrewRejectedForAdminEdit.AvailableFrom.Disabled && !vCrewRejectedForAdminEdit.AvailableFrom.EditAttrs.Is("readonly") && !vCrewRejectedForAdminEdit.AvailableFrom.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fv_CrewRejectedForAdminedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fv_CrewRejectedForAdminedit", "x_AvailableFrom", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* vCrewRejectedForAdminEdit.AvailableFrom.Visible (end) *@
@if (vCrewRejectedForAdminEdit.AvailableUntil.Visible) { // vCrewRejectedForAdminEdit.AvailableUntil.Visible (begin)
    <div id="r_AvailableUntil" @Html.Raw(vCrewRejectedForAdminEdit.AvailableUntil.RowAttributes)>
        <label id="elh_v_CrewRejectedForAdmin_AvailableUntil" for="x_AvailableUntil" class="@(vCrewRejectedForAdminEdit.LeftColumnClass)">@Html.Raw(vCrewRejectedForAdminEdit.AvailableUntil.Caption)@Html.Raw(vCrewRejectedForAdminEdit.AvailableUntil.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(vCrewRejectedForAdminEdit.RightColumnClass)"><div @Html.Raw(vCrewRejectedForAdminEdit.AvailableUntil.CellAttributes)>
<span id="el_v_CrewRejectedForAdmin_AvailableUntil">
<input type="@(vCrewRejectedForAdminEdit.AvailableUntil.InputTextType)" name="x_AvailableUntil" id="x_AvailableUntil" data-table="v_CrewRejectedForAdmin" data-field="x_AvailableUntil" value="@Html.Raw(vCrewRejectedForAdminEdit.AvailableUntil.EditValue)" placeholder="@Html.Raw(HtmlEncode(vCrewRejectedForAdminEdit.AvailableUntil.PlaceHolder))" data-format-pattern="@(vCrewRejectedForAdminEdit.AvailableUntil.FormatPattern)"@Html.Raw(vCrewRejectedForAdminEdit.AvailableUntil.EditAttributes) aria-describedby="x_AvailableUntil_help">
@Html.Raw(vCrewRejectedForAdminEdit.AvailableUntil.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(vCrewRejectedForAdminEdit.AvailableUntil.GetErrorMessage())</div>
@if (!vCrewRejectedForAdminEdit.AvailableUntil.ReadOnly && !vCrewRejectedForAdminEdit.AvailableUntil.Disabled && !vCrewRejectedForAdminEdit.AvailableUntil.EditAttrs.Is("readonly") && !vCrewRejectedForAdminEdit.AvailableUntil.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fv_CrewRejectedForAdminedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fv_CrewRejectedForAdminedit", "x_AvailableUntil", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* vCrewRejectedForAdminEdit.AvailableUntil.Visible (end) *@
</div><!-- /page* -->
    <input type="hidden" data-table="v_CrewRejectedForAdmin" data-field="x_ID" data-hidden="1" name="x_ID" id="x_ID" value="@Html.Raw(HtmlEncode(vCrewRejectedForAdminEdit.ID.CurrentValue))">
@{ vCrewRejectedForAdminEdit.CloseRecordset(); }
@Html.Raw(vCrewRejectedForAdminEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(vCrewRejectedForAdminEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fv_CrewRejectedForAdminedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fv_CrewRejectedForAdminedit" data-href="@AppPath(vCrewRejectedForAdminEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(vCrewRejectedForAdminEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@vCrewRejectedForAdminEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("v_CrewRejectedForAdmin");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
