@{
    // View
    View = this;

    // Check action result
    if (vCrewAcceptedForAdminView.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!vCrewAcceptedForAdminView.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
@if (!vCrewAcceptedForAdminView.IsExport()) {
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!vCrewAcceptedForAdminView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @vCrewAcceptedForAdminView.ExportOptions.RenderBody()
    @vCrewAcceptedForAdminView.OtherOptions.RenderBody()
</div>
}
@vCrewAcceptedForAdminView.ShowPageHeader()
@vCrewAcceptedForAdminView.ShowMessages()
<main class="view">
<form name="fv_CrewAcceptedForAdminview" id="fv_CrewAcceptedForAdminview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (!vCrewAcceptedForAdminView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(vCrewAcceptedForAdminView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { v_CrewAcceptedForAdmin: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fv_CrewAcceptedForAdminview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fv_CrewAcceptedForAdminview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
}
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(vCrewAcceptedForAdminView.IsModal)">
<table class="@(vCrewAcceptedForAdminView.TableClass)">
@if (vCrewAcceptedForAdminView.IndividualCodeNumber.Visible) { // vCrewAcceptedForAdminView.IndividualCodeNumber.Visible (begin)
    <tr id="r_IndividualCodeNumber" @Html.Raw(vCrewAcceptedForAdminView.IndividualCodeNumber.RowAttributes)>
        <td class="@(vCrewAcceptedForAdminView.TableLeftColumnClass)"><span id="elh_v_CrewAcceptedForAdmin_IndividualCodeNumber">@Html.Raw(vCrewAcceptedForAdminView.IndividualCodeNumber.Caption)</span></td>
        <td data-name="IndividualCodeNumber" @Html.Raw(vCrewAcceptedForAdminView.IndividualCodeNumber.CellAttributes)>
<span id="el_v_CrewAcceptedForAdmin_IndividualCodeNumber">
<span @Html.Raw(vCrewAcceptedForAdminView.IndividualCodeNumber.ViewAttributes)>
@Html.Raw(vCrewAcceptedForAdminView.IndividualCodeNumber.GetViewValue())</span>
</span></td>
    </tr>
} @* vCrewAcceptedForAdminView.IndividualCodeNumber.Visible (end) *@
@if (vCrewAcceptedForAdminView.EmployeeStatus.Visible) { // vCrewAcceptedForAdminView.EmployeeStatus.Visible (begin)
    <tr id="r_EmployeeStatus" @Html.Raw(vCrewAcceptedForAdminView.EmployeeStatus.RowAttributes)>
        <td class="@(vCrewAcceptedForAdminView.TableLeftColumnClass)"><span id="elh_v_CrewAcceptedForAdmin_EmployeeStatus">@Html.Raw(vCrewAcceptedForAdminView.EmployeeStatus.Caption)</span></td>
        <td data-name="EmployeeStatus" @Html.Raw(vCrewAcceptedForAdminView.EmployeeStatus.CellAttributes)>
<span id="el_v_CrewAcceptedForAdmin_EmployeeStatus">
<span @Html.Raw(vCrewAcceptedForAdminView.EmployeeStatus.ViewAttributes)>
@Html.Raw(vCrewAcceptedForAdminView.EmployeeStatus.GetViewValue())</span>
</span></td>
    </tr>
} @* vCrewAcceptedForAdminView.EmployeeStatus.Visible (end) *@
@if (vCrewAcceptedForAdminView.FullName.Visible) { // vCrewAcceptedForAdminView.FullName.Visible (begin)
    <tr id="r_FullName" @Html.Raw(vCrewAcceptedForAdminView.FullName.RowAttributes)>
        <td class="@(vCrewAcceptedForAdminView.TableLeftColumnClass)"><span id="elh_v_CrewAcceptedForAdmin_FullName">@Html.Raw(vCrewAcceptedForAdminView.FullName.Caption)</span></td>
        <td data-name="FullName" @Html.Raw(vCrewAcceptedForAdminView.FullName.CellAttributes)>
<span id="el_v_CrewAcceptedForAdmin_FullName">
<span @Html.Raw(vCrewAcceptedForAdminView.FullName.ViewAttributes)>
@Html.Raw(vCrewAcceptedForAdminView.FullName.GetViewValue())</span>
</span></td>
    </tr>
} @* vCrewAcceptedForAdminView.FullName.Visible (end) *@
@if (vCrewAcceptedForAdminView.RequiredPhoto.Visible) { // vCrewAcceptedForAdminView.RequiredPhoto.Visible (begin)
    <tr id="r_RequiredPhoto" @Html.Raw(vCrewAcceptedForAdminView.RequiredPhoto.RowAttributes)>
        <td class="@(vCrewAcceptedForAdminView.TableLeftColumnClass)"><span id="elh_v_CrewAcceptedForAdmin_RequiredPhoto">@Html.Raw(vCrewAcceptedForAdminView.RequiredPhoto.Caption)</span></td>
        <td data-name="RequiredPhoto" @Html.Raw(vCrewAcceptedForAdminView.RequiredPhoto.CellAttributes)>
<span id="el_v_CrewAcceptedForAdmin_RequiredPhoto">
<span @Html.Raw(vCrewAcceptedForAdminView.RequiredPhoto.ViewAttributes)><a href="uploads/@ConvertToString(vCrewAcceptedForAdminList.IndividualCodeNumber.GetViewValue())/@ConvertToString(vCrewAcceptedForAdminList.RequiredPhoto.GetViewValue())" target="_blank">Attachment</a>
</span>
</span></td>
    </tr>
} @* vCrewAcceptedForAdminView.RequiredPhoto.Visible (end) *@
@if (vCrewAcceptedForAdminView.VisaPhoto.Visible) { // vCrewAcceptedForAdminView.VisaPhoto.Visible (begin)
    <tr id="r_VisaPhoto" @Html.Raw(vCrewAcceptedForAdminView.VisaPhoto.RowAttributes)>
        <td class="@(vCrewAcceptedForAdminView.TableLeftColumnClass)"><span id="elh_v_CrewAcceptedForAdmin_VisaPhoto">@Html.Raw(vCrewAcceptedForAdminView.VisaPhoto.Caption)</span></td>
        <td data-name="VisaPhoto" @Html.Raw(vCrewAcceptedForAdminView.VisaPhoto.CellAttributes)>
<span id="el_v_CrewAcceptedForAdmin_VisaPhoto">
<span @Html.Raw(vCrewAcceptedForAdminView.VisaPhoto.ViewAttributes)><a href="uploads/@ConvertToString(vCrewAcceptedForAdminList.IndividualCodeNumber.GetViewValue())/@ConvertToString(vCrewAcceptedForAdminList.VisaPhoto.GetViewValue())" target="_blank">Attachment</a>
</span>
</span></td>
    </tr>
} @* vCrewAcceptedForAdminView.VisaPhoto.Visible (end) *@
@if (vCrewAcceptedForAdminView.CityOfBirth.Visible) { // vCrewAcceptedForAdminView.CityOfBirth.Visible (begin)
    <tr id="r_CityOfBirth" @Html.Raw(vCrewAcceptedForAdminView.CityOfBirth.RowAttributes)>
        <td class="@(vCrewAcceptedForAdminView.TableLeftColumnClass)"><span id="elh_v_CrewAcceptedForAdmin_CityOfBirth">@Html.Raw(vCrewAcceptedForAdminView.CityOfBirth.Caption)</span></td>
        <td data-name="CityOfBirth" @Html.Raw(vCrewAcceptedForAdminView.CityOfBirth.CellAttributes)>
<span id="el_v_CrewAcceptedForAdmin_CityOfBirth">
<span @Html.Raw(vCrewAcceptedForAdminView.CityOfBirth.ViewAttributes)>
@Html.Raw(vCrewAcceptedForAdminView.CityOfBirth.GetViewValue())</span>
</span></td>
    </tr>
} @* vCrewAcceptedForAdminView.CityOfBirth.Visible (end) *@
@if (vCrewAcceptedForAdminView.DateOfBirth.Visible) { // vCrewAcceptedForAdminView.DateOfBirth.Visible (begin)
    <tr id="r_DateOfBirth" @Html.Raw(vCrewAcceptedForAdminView.DateOfBirth.RowAttributes)>
        <td class="@(vCrewAcceptedForAdminView.TableLeftColumnClass)"><span id="elh_v_CrewAcceptedForAdmin_DateOfBirth">@Html.Raw(vCrewAcceptedForAdminView.DateOfBirth.Caption)</span></td>
        <td data-name="DateOfBirth" @Html.Raw(vCrewAcceptedForAdminView.DateOfBirth.CellAttributes)>
<span id="el_v_CrewAcceptedForAdmin_DateOfBirth">
<span @Html.Raw(vCrewAcceptedForAdminView.DateOfBirth.ViewAttributes)>
@Html.Raw(vCrewAcceptedForAdminView.DateOfBirth.GetViewValue())</span>
</span></td>
    </tr>
} @* vCrewAcceptedForAdminView.DateOfBirth.Visible (end) *@
@if (vCrewAcceptedForAdminView.Gender.Visible) { // vCrewAcceptedForAdminView.Gender.Visible (begin)
    <tr id="r_Gender" @Html.Raw(vCrewAcceptedForAdminView.Gender.RowAttributes)>
        <td class="@(vCrewAcceptedForAdminView.TableLeftColumnClass)"><span id="elh_v_CrewAcceptedForAdmin_Gender">@Html.Raw(vCrewAcceptedForAdminView.Gender.Caption)</span></td>
        <td data-name="Gender" @Html.Raw(vCrewAcceptedForAdminView.Gender.CellAttributes)>
<span id="el_v_CrewAcceptedForAdmin_Gender">
<span @Html.Raw(vCrewAcceptedForAdminView.Gender.ViewAttributes)>
@Html.Raw(vCrewAcceptedForAdminView.Gender.GetViewValue())</span>
</span></td>
    </tr>
} @* vCrewAcceptedForAdminView.Gender.Visible (end) *@
@if (vCrewAcceptedForAdminView.RankAppliedFor_RankID.Visible) { // vCrewAcceptedForAdminView.RankAppliedFor_RankID.Visible (begin)
    <tr id="r_RankAppliedFor_RankID" @Html.Raw(vCrewAcceptedForAdminView.RankAppliedFor_RankID.RowAttributes)>
        <td class="@(vCrewAcceptedForAdminView.TableLeftColumnClass)"><span id="elh_v_CrewAcceptedForAdmin_RankAppliedFor_RankID">@Html.Raw(vCrewAcceptedForAdminView.RankAppliedFor_RankID.Caption)</span></td>
        <td data-name="RankAppliedFor_RankID" @Html.Raw(vCrewAcceptedForAdminView.RankAppliedFor_RankID.CellAttributes)>
<span id="el_v_CrewAcceptedForAdmin_RankAppliedFor_RankID">
<span @Html.Raw(vCrewAcceptedForAdminView.RankAppliedFor_RankID.ViewAttributes)>
@Html.Raw(vCrewAcceptedForAdminView.RankAppliedFor_RankID.GetViewValue())</span>
</span></td>
    </tr>
} @* vCrewAcceptedForAdminView.RankAppliedFor_RankID.Visible (end) *@
@if (vCrewAcceptedForAdminView.WillAcceptLowRank.Visible) { // vCrewAcceptedForAdminView.WillAcceptLowRank.Visible (begin)
    <tr id="r_WillAcceptLowRank" @Html.Raw(vCrewAcceptedForAdminView.WillAcceptLowRank.RowAttributes)>
        <td class="@(vCrewAcceptedForAdminView.TableLeftColumnClass)"><span id="elh_v_CrewAcceptedForAdmin_WillAcceptLowRank">@Html.Raw(vCrewAcceptedForAdminView.WillAcceptLowRank.Caption)</span></td>
        <td data-name="WillAcceptLowRank" @Html.Raw(vCrewAcceptedForAdminView.WillAcceptLowRank.CellAttributes)>
<span id="el_v_CrewAcceptedForAdmin_WillAcceptLowRank">
<span @Html.Raw(vCrewAcceptedForAdminView.WillAcceptLowRank.ViewAttributes)>
<div class="form-check d-inline-block">
    <input type="checkbox" id="x_WillAcceptLowRank_@(vCrewAcceptedForAdminView.RowCount)" class="form-check-input" value="@(vCrewAcceptedForAdminView.WillAcceptLowRank.GetViewValue())" disabled checked="@(ConvertToBool(vCrewAcceptedForAdminView.WillAcceptLowRank.CurrentValue))">
    <label class="form-check-label" for="x_WillAcceptLowRank_@(vCrewAcceptedForAdminView.RowCount)"></label>
</div></span>
</span></td>
    </tr>
} @* vCrewAcceptedForAdminView.WillAcceptLowRank.Visible (end) *@
@if (vCrewAcceptedForAdminView.AvailableFrom.Visible) { // vCrewAcceptedForAdminView.AvailableFrom.Visible (begin)
    <tr id="r_AvailableFrom" @Html.Raw(vCrewAcceptedForAdminView.AvailableFrom.RowAttributes)>
        <td class="@(vCrewAcceptedForAdminView.TableLeftColumnClass)"><span id="elh_v_CrewAcceptedForAdmin_AvailableFrom">@Html.Raw(vCrewAcceptedForAdminView.AvailableFrom.Caption)</span></td>
        <td data-name="AvailableFrom" @Html.Raw(vCrewAcceptedForAdminView.AvailableFrom.CellAttributes)>
<span id="el_v_CrewAcceptedForAdmin_AvailableFrom">
<span @Html.Raw(vCrewAcceptedForAdminView.AvailableFrom.ViewAttributes)>
@Html.Raw(vCrewAcceptedForAdminView.AvailableFrom.GetViewValue())</span>
</span></td>
    </tr>
} @* vCrewAcceptedForAdminView.AvailableFrom.Visible (end) *@
@if (vCrewAcceptedForAdminView.AvailableUntil.Visible) { // vCrewAcceptedForAdminView.AvailableUntil.Visible (begin)
    <tr id="r_AvailableUntil" @Html.Raw(vCrewAcceptedForAdminView.AvailableUntil.RowAttributes)>
        <td class="@(vCrewAcceptedForAdminView.TableLeftColumnClass)"><span id="elh_v_CrewAcceptedForAdmin_AvailableUntil">@Html.Raw(vCrewAcceptedForAdminView.AvailableUntil.Caption)</span></td>
        <td data-name="AvailableUntil" @Html.Raw(vCrewAcceptedForAdminView.AvailableUntil.CellAttributes)>
<span id="el_v_CrewAcceptedForAdmin_AvailableUntil">
<span @Html.Raw(vCrewAcceptedForAdminView.AvailableUntil.ViewAttributes)>
@Html.Raw(vCrewAcceptedForAdminView.AvailableUntil.GetViewValue())</span>
</span></td>
    </tr>
} @* vCrewAcceptedForAdminView.AvailableUntil.Visible (end) *@
</table>
@{ vCrewAcceptedForAdminView.CloseRecordset(); }
</form>
</main>
@vCrewAcceptedForAdminView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!vCrewAcceptedForAdminView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
