@{
    // View
    View = this;

    // Check action result
    if (vCrewTrackingStatusView.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!vCrewTrackingStatusView.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
@if (!vCrewTrackingStatusView.IsExport()) {
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!vCrewTrackingStatusView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @vCrewTrackingStatusView.ExportOptions.RenderBody()
    @vCrewTrackingStatusView.OtherOptions.RenderBody()
</div>
}
@vCrewTrackingStatusView.ShowPageHeader()
@vCrewTrackingStatusView.ShowMessages()
<main class="view">
<form name="fv_CrewTrackingStatusview" id="fv_CrewTrackingStatusview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (!vCrewTrackingStatusView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(vCrewTrackingStatusView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { v_CrewTrackingStatus: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fv_CrewTrackingStatusview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fv_CrewTrackingStatusview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
}
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(vCrewTrackingStatusView.IsModal)">
<table class="@(vCrewTrackingStatusView.TableClass)">
@if (vCrewTrackingStatusView.IndividualCodeNumber.Visible) { // vCrewTrackingStatusView.IndividualCodeNumber.Visible (begin)
    <tr id="r_IndividualCodeNumber" @Html.Raw(vCrewTrackingStatusView.IndividualCodeNumber.RowAttributes)>
        <td class="@(vCrewTrackingStatusView.TableLeftColumnClass)"><span id="elh_v_CrewTrackingStatus_IndividualCodeNumber">@Html.Raw(vCrewTrackingStatusView.IndividualCodeNumber.Caption)</span></td>
        <td data-name="IndividualCodeNumber" @Html.Raw(vCrewTrackingStatusView.IndividualCodeNumber.CellAttributes)>
<span id="el_v_CrewTrackingStatus_IndividualCodeNumber">
<span @Html.Raw(vCrewTrackingStatusView.IndividualCodeNumber.ViewAttributes)>
@Html.Raw(vCrewTrackingStatusView.IndividualCodeNumber.GetViewValue())</span>
</span></td>
    </tr>
} @* vCrewTrackingStatusView.IndividualCodeNumber.Visible (end) *@
@if (vCrewTrackingStatusView.FullName.Visible) { // vCrewTrackingStatusView.FullName.Visible (begin)
    <tr id="r_FullName" @Html.Raw(vCrewTrackingStatusView.FullName.RowAttributes)>
        <td class="@(vCrewTrackingStatusView.TableLeftColumnClass)"><span id="elh_v_CrewTrackingStatus_FullName">@Html.Raw(vCrewTrackingStatusView.FullName.Caption)</span></td>
        <td data-name="FullName" @Html.Raw(vCrewTrackingStatusView.FullName.CellAttributes)>
<span id="el_v_CrewTrackingStatus_FullName">
<span @Html.Raw(vCrewTrackingStatusView.FullName.ViewAttributes)>
@Html.Raw(vCrewTrackingStatusView.FullName.GetViewValue())</span>
</span></td>
    </tr>
} @* vCrewTrackingStatusView.FullName.Visible (end) *@
@if (vCrewTrackingStatusView.RequiredPhoto.Visible) { // vCrewTrackingStatusView.RequiredPhoto.Visible (begin)
    <tr id="r_RequiredPhoto" @Html.Raw(vCrewTrackingStatusView.RequiredPhoto.RowAttributes)>
        <td class="@(vCrewTrackingStatusView.TableLeftColumnClass)"><span id="elh_v_CrewTrackingStatus_RequiredPhoto">@Html.Raw(vCrewTrackingStatusView.RequiredPhoto.Caption)</span></td>
        <td data-name="RequiredPhoto" @Html.Raw(vCrewTrackingStatusView.RequiredPhoto.CellAttributes)>
<span id="el_v_CrewTrackingStatus_RequiredPhoto">
<span @Html.Raw(vCrewTrackingStatusView.RequiredPhoto.ViewAttributes)><a href="uploads/@ConvertToString(vCrewTrackingStatusList.IndividualCodeNumber.GetViewValue())/@ConvertToString(vCrewTrackingStatusList.RequiredPhoto.GetViewValue())" target="_blank">Attachment</a>
</span>
</span></td>
    </tr>
} @* vCrewTrackingStatusView.RequiredPhoto.Visible (end) *@
@if (vCrewTrackingStatusView.VisaPhoto.Visible) { // vCrewTrackingStatusView.VisaPhoto.Visible (begin)
    <tr id="r_VisaPhoto" @Html.Raw(vCrewTrackingStatusView.VisaPhoto.RowAttributes)>
        <td class="@(vCrewTrackingStatusView.TableLeftColumnClass)"><span id="elh_v_CrewTrackingStatus_VisaPhoto">@Html.Raw(vCrewTrackingStatusView.VisaPhoto.Caption)</span></td>
        <td data-name="VisaPhoto" @Html.Raw(vCrewTrackingStatusView.VisaPhoto.CellAttributes)>
<span id="el_v_CrewTrackingStatus_VisaPhoto">
<span @Html.Raw(vCrewTrackingStatusView.VisaPhoto.ViewAttributes)><a href="uploads/@ConvertToString(vCrewTrackingStatusList.IndividualCodeNumber.GetViewValue())/@ConvertToString(vCrewTrackingStatusList.VisaPhoto.GetViewValue())" target="_blank">Attachment</a>
</span>
</span></td>
    </tr>
} @* vCrewTrackingStatusView.VisaPhoto.Visible (end) *@
@if (vCrewTrackingStatusView.Gender.Visible) { // vCrewTrackingStatusView.Gender.Visible (begin)
    <tr id="r_Gender" @Html.Raw(vCrewTrackingStatusView.Gender.RowAttributes)>
        <td class="@(vCrewTrackingStatusView.TableLeftColumnClass)"><span id="elh_v_CrewTrackingStatus_Gender">@Html.Raw(vCrewTrackingStatusView.Gender.Caption)</span></td>
        <td data-name="Gender" @Html.Raw(vCrewTrackingStatusView.Gender.CellAttributes)>
<span id="el_v_CrewTrackingStatus_Gender">
<span @Html.Raw(vCrewTrackingStatusView.Gender.ViewAttributes)>
@Html.Raw(vCrewTrackingStatusView.Gender.GetViewValue())</span>
</span></td>
    </tr>
} @* vCrewTrackingStatusView.Gender.Visible (end) *@
@if (vCrewTrackingStatusView.RankAppliedFor.Visible) { // vCrewTrackingStatusView.RankAppliedFor.Visible (begin)
    <tr id="r_RankAppliedFor" @Html.Raw(vCrewTrackingStatusView.RankAppliedFor.RowAttributes)>
        <td class="@(vCrewTrackingStatusView.TableLeftColumnClass)"><span id="elh_v_CrewTrackingStatus_RankAppliedFor">@Html.Raw(vCrewTrackingStatusView.RankAppliedFor.Caption)</span></td>
        <td data-name="RankAppliedFor" @Html.Raw(vCrewTrackingStatusView.RankAppliedFor.CellAttributes)>
<span id="el_v_CrewTrackingStatus_RankAppliedFor">
<span @Html.Raw(vCrewTrackingStatusView.RankAppliedFor.ViewAttributes)>
@Html.Raw(vCrewTrackingStatusView.RankAppliedFor.GetViewValue())</span>
</span></td>
    </tr>
} @* vCrewTrackingStatusView.RankAppliedFor.Visible (end) *@
@if (vCrewTrackingStatusView.WillAcceptLowRank.Visible) { // vCrewTrackingStatusView.WillAcceptLowRank.Visible (begin)
    <tr id="r_WillAcceptLowRank" @Html.Raw(vCrewTrackingStatusView.WillAcceptLowRank.RowAttributes)>
        <td class="@(vCrewTrackingStatusView.TableLeftColumnClass)"><span id="elh_v_CrewTrackingStatus_WillAcceptLowRank">@Html.Raw(vCrewTrackingStatusView.WillAcceptLowRank.Caption)</span></td>
        <td data-name="WillAcceptLowRank" @Html.Raw(vCrewTrackingStatusView.WillAcceptLowRank.CellAttributes)>
<span id="el_v_CrewTrackingStatus_WillAcceptLowRank">
<span @Html.Raw(vCrewTrackingStatusView.WillAcceptLowRank.ViewAttributes)>
<div class="form-check d-inline-block">
    <input type="checkbox" id="x_WillAcceptLowRank_@(vCrewTrackingStatusView.RowCount)" class="form-check-input" value="@(vCrewTrackingStatusView.WillAcceptLowRank.GetViewValue())" disabled checked="@(ConvertToBool(vCrewTrackingStatusView.WillAcceptLowRank.CurrentValue))">
    <label class="form-check-label" for="x_WillAcceptLowRank_@(vCrewTrackingStatusView.RowCount)"></label>
</div></span>
</span></td>
    </tr>
} @* vCrewTrackingStatusView.WillAcceptLowRank.Visible (end) *@
@if (vCrewTrackingStatusView.EmployeeStatus.Visible) { // vCrewTrackingStatusView.EmployeeStatus.Visible (begin)
    <tr id="r_EmployeeStatus" @Html.Raw(vCrewTrackingStatusView.EmployeeStatus.RowAttributes)>
        <td class="@(vCrewTrackingStatusView.TableLeftColumnClass)"><span id="elh_v_CrewTrackingStatus_EmployeeStatus">@Html.Raw(vCrewTrackingStatusView.EmployeeStatus.Caption)</span></td>
        <td data-name="EmployeeStatus" @Html.Raw(vCrewTrackingStatusView.EmployeeStatus.CellAttributes)>
<span id="el_v_CrewTrackingStatus_EmployeeStatus">
<span @Html.Raw(vCrewTrackingStatusView.EmployeeStatus.ViewAttributes)>
@Html.Raw(vCrewTrackingStatusView.EmployeeStatus.GetViewValue())</span>
</span></td>
    </tr>
} @* vCrewTrackingStatusView.EmployeeStatus.Visible (end) *@
@if (vCrewTrackingStatusView.Draft.Visible) { // vCrewTrackingStatusView.Draft.Visible (begin)
    <tr id="r_Draft" @Html.Raw(vCrewTrackingStatusView.Draft.RowAttributes)>
        <td class="@(vCrewTrackingStatusView.TableLeftColumnClass)"><span id="elh_v_CrewTrackingStatus_Draft">@Html.Raw(vCrewTrackingStatusView.Draft.Caption)</span></td>
        <td data-name="Draft" @Html.Raw(vCrewTrackingStatusView.Draft.CellAttributes)>
<span id="el_v_CrewTrackingStatus_Draft">
<span @Html.Raw(vCrewTrackingStatusView.Draft.ViewAttributes)><span @(vCrewTrackingStatusList.Draft.ViewAttributes)>
    @if (vCrewTrackingStatusList.Draft.GetViewValue() == "1" || vCrewTrackingStatusList.Draft.GetViewValue() == "1.000")
    {
    	<i class="fas fa-check-circle text-success"></i> <!-- Icon checklist hijau -->
    }
    else if (vCrewTrackingStatusList.Draft.GetViewValue() == "2" || vCrewTrackingStatusList.Draft.GetViewValue() == "2.000")
    {
        <i class="fas fa-stopwatch text-warning"></i> <!-- Icon jam stopwatch kuning -->
    }
    else if (vCrewTrackingStatusList.Draft.GetViewValue() == "3" || vCrewTrackingStatusList.Draft.GetViewValue() == "3.000")
    {
        <i class="fas fa-times-circle text-danger"></i> <!-- Icon silang merah -->
    }
    else
    {
        <i class="fas fa-question-circle" style="color: grey"></i> <!-- Icon default untuk nilai null atau 0 -->
    }
</span>
</span>
</span></td>
    </tr>
} @* vCrewTrackingStatusView.Draft.Visible (end) *@
@if (vCrewTrackingStatusView.Submitted.Visible) { // vCrewTrackingStatusView.Submitted.Visible (begin)
    <tr id="r_Submitted" @Html.Raw(vCrewTrackingStatusView.Submitted.RowAttributes)>
        <td class="@(vCrewTrackingStatusView.TableLeftColumnClass)"><span id="elh_v_CrewTrackingStatus_Submitted">@Html.Raw(vCrewTrackingStatusView.Submitted.Caption)</span></td>
        <td data-name="Submitted" @Html.Raw(vCrewTrackingStatusView.Submitted.CellAttributes)>
<span id="el_v_CrewTrackingStatus_Submitted">
<span @Html.Raw(vCrewTrackingStatusView.Submitted.ViewAttributes)><span @(vCrewTrackingStatusList.Submitted.ViewAttributes)>
    @if (vCrewTrackingStatusList.Submitted.GetViewValue() == "1" || vCrewTrackingStatusList.Submitted.GetViewValue() == "1.000")
    {
    	<i class="fas fa-check-circle text-success"></i> <!-- Icon checklist hijau -->
    }
    else if (vCrewTrackingStatusList.Submitted.GetViewValue() == "2" || vCrewTrackingStatusList.Submitted.GetViewValue() == "2.000")
    {
        <i class="fas fa-stopwatch text-warning"></i> <!-- Icon jam stopwatch kuning -->
    }
    else if (vCrewTrackingStatusList.Submitted.GetViewValue() == "3" || vCrewTrackingStatusList.Submitted.GetViewValue() == "3.000")
    {
        <i class="fas fa-times-circle text-danger"></i> <!-- Icon silang merah -->
    }
    else
    {
        <i class="fas fa-question-circle" style="color: grey"></i> <!-- Icon default untuk nilai null atau 0 -->
    }
</span>
</span>
</span></td>
    </tr>
} @* vCrewTrackingStatusView.Submitted.Visible (end) *@
@if (vCrewTrackingStatusView.AgencyReviewed.Visible) { // vCrewTrackingStatusView.AgencyReviewed.Visible (begin)
    <tr id="r_AgencyReviewed" @Html.Raw(vCrewTrackingStatusView.AgencyReviewed.RowAttributes)>
        <td class="@(vCrewTrackingStatusView.TableLeftColumnClass)"><span id="elh_v_CrewTrackingStatus_AgencyReviewed">@Html.Raw(vCrewTrackingStatusView.AgencyReviewed.Caption)</span></td>
        <td data-name="AgencyReviewed" @Html.Raw(vCrewTrackingStatusView.AgencyReviewed.CellAttributes)>
<span id="el_v_CrewTrackingStatus_AgencyReviewed">
<span @Html.Raw(vCrewTrackingStatusView.AgencyReviewed.ViewAttributes)><span @(vCrewTrackingStatusList.AgencyReviewed.ViewAttributes)>
    @if (vCrewTrackingStatusList.AgencyReviewed.GetViewValue() == "1" || vCrewTrackingStatusList.AgencyReviewed.GetViewValue() == "1.000")
    {
    	<i class="fas fa-check-circle text-success"></i> <!-- Icon checklist hijau -->
    }
    else if (vCrewTrackingStatusList.AgencyReviewed.GetViewValue() == "2" || vCrewTrackingStatusList.AgencyReviewed.GetViewValue() == "2.000")
    {
        <i class="fas fa-stopwatch text-warning"></i> <!-- Icon jam stopwatch kuning -->
    }
    else if (vCrewTrackingStatusList.AgencyReviewed.GetViewValue() == "3" || vCrewTrackingStatusList.AgencyReviewed.GetViewValue() == "3.000")
    {
        <i class="fas fa-times-circle text-danger"></i> <!-- Icon silang merah -->
    }
    else
    {
        <i class="fas fa-question-circle" style="color: grey"></i> <!-- Icon default untuk nilai null atau 0 -->
    }
</span>
</span>
</span></td>
    </tr>
} @* vCrewTrackingStatusView.AgencyReviewed.Visible (end) *@
@if (vCrewTrackingStatusView.PDEReviewed.Visible) { // vCrewTrackingStatusView.PDEReviewed.Visible (begin)
    <tr id="r_PDEReviewed" @Html.Raw(vCrewTrackingStatusView.PDEReviewed.RowAttributes)>
        <td class="@(vCrewTrackingStatusView.TableLeftColumnClass)"><span id="elh_v_CrewTrackingStatus_PDEReviewed">@Html.Raw(vCrewTrackingStatusView.PDEReviewed.Caption)</span></td>
        <td data-name="PDEReviewed" @Html.Raw(vCrewTrackingStatusView.PDEReviewed.CellAttributes)>
<span id="el_v_CrewTrackingStatus_PDEReviewed">
<span @Html.Raw(vCrewTrackingStatusView.PDEReviewed.ViewAttributes)><span @(vCrewTrackingStatusList.PDEReviewed.ViewAttributes)>
    @if (vCrewTrackingStatusList.PDEReviewed.GetViewValue() == "1" || vCrewTrackingStatusList.PDEReviewed.GetViewValue() == "1.000")
    {
    	<i class="fas fa-check-circle text-success"></i> <!-- Icon checklist hijau -->
    }
    else if (vCrewTrackingStatusList.PDEReviewed.GetViewValue() == "2" || vCrewTrackingStatusList.PDEReviewed.GetViewValue() == "2.000")
    {
        <i class="fas fa-stopwatch text-warning"></i> <!-- Icon jam stopwatch kuning -->
    }
    else if (vCrewTrackingStatusList.PDEReviewed.GetViewValue() == "3" || vCrewTrackingStatusList.PDEReviewed.GetViewValue() == "3.000")
    {
        <i class="fas fa-times-circle text-danger"></i> <!-- Icon silang merah -->
    }
    else
    {
        <i class="fas fa-question-circle" style="color: grey"></i> <!-- Icon default untuk nilai null atau 0 -->
    }
</span>
</span>
</span></td>
    </tr>
} @* vCrewTrackingStatusView.PDEReviewed.Visible (end) *@
@if (vCrewTrackingStatusView.RegistrationForm.Visible) { // vCrewTrackingStatusView.RegistrationForm.Visible (begin)
    <tr id="r_RegistrationForm" @Html.Raw(vCrewTrackingStatusView.RegistrationForm.RowAttributes)>
        <td class="@(vCrewTrackingStatusView.TableLeftColumnClass)"><span id="elh_v_CrewTrackingStatus_RegistrationForm">@Html.Raw(vCrewTrackingStatusView.RegistrationForm.Caption)</span></td>
        <td data-name="RegistrationForm" @Html.Raw(vCrewTrackingStatusView.RegistrationForm.CellAttributes)>
<span id="el_v_CrewTrackingStatus_RegistrationForm">
<span @Html.Raw(vCrewTrackingStatusView.RegistrationForm.ViewAttributes)><span @(vCrewTrackingStatusList.RegistrationForm.ViewAttributes)>
    @if (vCrewTrackingStatusList.RegistrationForm.GetViewValue() == "1" || vCrewTrackingStatusList.RegistrationForm.GetViewValue() == "1.000")
    {
    	<i class="fas fa-check-circle text-success"></i> <!-- Icon checklist hijau -->
    }
    else if (vCrewTrackingStatusList.RegistrationForm.GetViewValue() == "2" || vCrewTrackingStatusList.RegistrationForm.GetViewValue() == "2.000")
    {
        <i class="fas fa-stopwatch text-warning"></i> <!-- Icon jam stopwatch kuning -->
    }
    else if (vCrewTrackingStatusList.RegistrationForm.GetViewValue() == "3" || vCrewTrackingStatusList.RegistrationForm.GetViewValue() == "3.000")
    {
        <i class="fas fa-times-circle text-danger"></i> <!-- Icon silang merah -->
    }
    else
    {
        <i class="fas fa-question-circle" style="color: grey"></i> <!-- Icon default untuk nilai null atau 0 -->
    }
</span>
</span>
</span></td>
    </tr>
} @* vCrewTrackingStatusView.RegistrationForm.Visible (end) *@
@if (vCrewTrackingStatusView.PreScreeningInterview.Visible) { // vCrewTrackingStatusView.PreScreeningInterview.Visible (begin)
    <tr id="r_PreScreeningInterview" @Html.Raw(vCrewTrackingStatusView.PreScreeningInterview.RowAttributes)>
        <td class="@(vCrewTrackingStatusView.TableLeftColumnClass)"><span id="elh_v_CrewTrackingStatus_PreScreeningInterview">@Html.Raw(vCrewTrackingStatusView.PreScreeningInterview.Caption)</span></td>
        <td data-name="PreScreeningInterview" @Html.Raw(vCrewTrackingStatusView.PreScreeningInterview.CellAttributes)>
<span id="el_v_CrewTrackingStatus_PreScreeningInterview">
<span @Html.Raw(vCrewTrackingStatusView.PreScreeningInterview.ViewAttributes)><span @(vCrewTrackingStatusList.PreScreeningInterview.ViewAttributes)>
    @if (vCrewTrackingStatusList.PreScreeningInterview.GetViewValue() == "1" || vCrewTrackingStatusList.PreScreeningInterview.GetViewValue() == "1.000")
    {
    	<i class="fas fa-check-circle text-success"></i> <!-- Icon checklist hijau -->
    }
    else if (vCrewTrackingStatusList.PreScreeningInterview.GetViewValue() == "2" || vCrewTrackingStatusList.PreScreeningInterview.GetViewValue() == "2.000")
    {
        <i class="fas fa-stopwatch text-warning"></i> <!-- Icon jam stopwatch kuning -->
    }
    else if (vCrewTrackingStatusList.PreScreeningInterview.GetViewValue() == "3" || vCrewTrackingStatusList.PreScreeningInterview.GetViewValue() == "3.000")
    {
        <i class="fas fa-times-circle text-danger"></i> <!-- Icon silang merah -->
    }
    else
    {
        <i class="fas fa-question-circle" style="color: grey"></i> <!-- Icon default untuk nilai null atau 0 -->
    }
</span>
</span>
</span></td>
    </tr>
} @* vCrewTrackingStatusView.PreScreeningInterview.Visible (end) *@
@if (vCrewTrackingStatusView.MinimumRecruitmentCheck.Visible) { // vCrewTrackingStatusView.MinimumRecruitmentCheck.Visible (begin)
    <tr id="r_MinimumRecruitmentCheck" @Html.Raw(vCrewTrackingStatusView.MinimumRecruitmentCheck.RowAttributes)>
        <td class="@(vCrewTrackingStatusView.TableLeftColumnClass)"><span id="elh_v_CrewTrackingStatus_MinimumRecruitmentCheck">@Html.Raw(vCrewTrackingStatusView.MinimumRecruitmentCheck.Caption)</span></td>
        <td data-name="MinimumRecruitmentCheck" @Html.Raw(vCrewTrackingStatusView.MinimumRecruitmentCheck.CellAttributes)>
<span id="el_v_CrewTrackingStatus_MinimumRecruitmentCheck">
<span @Html.Raw(vCrewTrackingStatusView.MinimumRecruitmentCheck.ViewAttributes)><span @(vCrewTrackingStatusList.MinimumRecruitmentCheck.ViewAttributes)>
    @if (vCrewTrackingStatusList.MinimumRecruitmentCheck.GetViewValue() == "1" || vCrewTrackingStatusList.MinimumRecruitmentCheck.GetViewValue() == "1.000")
    {
    	<i class="fas fa-check-circle text-success"></i> <!-- Icon checklist hijau -->
    }
    else if (vCrewTrackingStatusList.MinimumRecruitmentCheck.GetViewValue() == "2" || vCrewTrackingStatusList.MinimumRecruitmentCheck.GetViewValue() == "2.000")
    {
        <i class="fas fa-stopwatch text-warning"></i> <!-- Icon jam stopwatch kuning -->
    }
    else if (vCrewTrackingStatusList.MinimumRecruitmentCheck.GetViewValue() == "3" || vCrewTrackingStatusList.MinimumRecruitmentCheck.GetViewValue() == "3.000")
    {
        <i class="fas fa-times-circle text-danger"></i> <!-- Icon silang merah -->
    }
    else
    {
        <i class="fas fa-question-circle" style="color: grey"></i> <!-- Icon default untuk nilai null atau 0 -->
    }
</span>
</span>
</span></td>
    </tr>
} @* vCrewTrackingStatusView.MinimumRecruitmentCheck.Visible (end) *@
@if (vCrewTrackingStatusView.EngagementChecklist.Visible) { // vCrewTrackingStatusView.EngagementChecklist.Visible (begin)
    <tr id="r_EngagementChecklist" @Html.Raw(vCrewTrackingStatusView.EngagementChecklist.RowAttributes)>
        <td class="@(vCrewTrackingStatusView.TableLeftColumnClass)"><span id="elh_v_CrewTrackingStatus_EngagementChecklist">@Html.Raw(vCrewTrackingStatusView.EngagementChecklist.Caption)</span></td>
        <td data-name="EngagementChecklist" @Html.Raw(vCrewTrackingStatusView.EngagementChecklist.CellAttributes)>
<span id="el_v_CrewTrackingStatus_EngagementChecklist">
<span @Html.Raw(vCrewTrackingStatusView.EngagementChecklist.ViewAttributes)><span @(vCrewTrackingStatusList.EngagementChecklist.ViewAttributes)>
    @if (vCrewTrackingStatusList.EngagementChecklist.GetViewValue() == "1" || vCrewTrackingStatusList.EngagementChecklist.GetViewValue() == "1.000")
    {
    	<i class="fas fa-check-circle text-success"></i> <!-- Icon checklist hijau -->
    }
    else if (vCrewTrackingStatusList.EngagementChecklist.GetViewValue() == "2" || vCrewTrackingStatusList.EngagementChecklist.GetViewValue() == "2.000")
    {
        <i class="fas fa-stopwatch text-warning"></i> <!-- Icon jam stopwatch kuning -->
    }
    else if (vCrewTrackingStatusList.EngagementChecklist.GetViewValue() == "3" || vCrewTrackingStatusList.EngagementChecklist.GetViewValue() == "3.000")
    {
        <i class="fas fa-times-circle text-danger"></i> <!-- Icon silang merah -->
    }
    else
    {
        <i class="fas fa-question-circle" style="color: grey"></i> <!-- Icon default untuk nilai null atau 0 -->
    }
</span>
</span>
</span></td>
    </tr>
} @* vCrewTrackingStatusView.EngagementChecklist.Visible (end) *@
@if (vCrewTrackingStatusView.COCAuthenticity.Visible) { // vCrewTrackingStatusView.COCAuthenticity.Visible (begin)
    <tr id="r_COCAuthenticity" @Html.Raw(vCrewTrackingStatusView.COCAuthenticity.RowAttributes)>
        <td class="@(vCrewTrackingStatusView.TableLeftColumnClass)"><span id="elh_v_CrewTrackingStatus_COCAuthenticity">@Html.Raw(vCrewTrackingStatusView.COCAuthenticity.Caption)</span></td>
        <td data-name="COCAuthenticity" @Html.Raw(vCrewTrackingStatusView.COCAuthenticity.CellAttributes)>
<span id="el_v_CrewTrackingStatus_COCAuthenticity">
<span @Html.Raw(vCrewTrackingStatusView.COCAuthenticity.ViewAttributes)><span @(vCrewTrackingStatusList.COCAuthenticity.ViewAttributes)>
    @if (vCrewTrackingStatusList.COCAuthenticity.GetViewValue() == "1" || vCrewTrackingStatusList.COCAuthenticity.GetViewValue() == "1.000")
    {
    	<i class="fas fa-check-circle text-success"></i> <!-- Icon checklist hijau -->
    }
    else if (vCrewTrackingStatusList.COCAuthenticity.GetViewValue() == "2" || vCrewTrackingStatusList.COCAuthenticity.GetViewValue() == "2.000")
    {
        <i class="fas fa-stopwatch text-warning"></i> <!-- Icon jam stopwatch kuning -->
    }
    else if (vCrewTrackingStatusList.COCAuthenticity.GetViewValue() == "3" || vCrewTrackingStatusList.COCAuthenticity.GetViewValue() == "3.000")
    {
        <i class="fas fa-times-circle text-danger"></i> <!-- Icon silang merah -->
    }
    else
    {
        <i class="fas fa-question-circle" style="color: grey"></i> <!-- Icon default untuk nilai null atau 0 -->
    }
</span>
</span>
</span></td>
    </tr>
} @* vCrewTrackingStatusView.COCAuthenticity.Visible (end) *@
@if (vCrewTrackingStatusView.CESTest.Visible) { // vCrewTrackingStatusView.CESTest.Visible (begin)
    <tr id="r_CESTest" @Html.Raw(vCrewTrackingStatusView.CESTest.RowAttributes)>
        <td class="@(vCrewTrackingStatusView.TableLeftColumnClass)"><span id="elh_v_CrewTrackingStatus_CESTest">@Html.Raw(vCrewTrackingStatusView.CESTest.Caption)</span></td>
        <td data-name="CESTest" @Html.Raw(vCrewTrackingStatusView.CESTest.CellAttributes)>
<span id="el_v_CrewTrackingStatus_CESTest">
<span @Html.Raw(vCrewTrackingStatusView.CESTest.ViewAttributes)><span @(vCrewTrackingStatusList.CESTest.ViewAttributes)>
    @if (vCrewTrackingStatusList.CESTest.GetViewValue() == "1" || vCrewTrackingStatusList.CESTest.GetViewValue() == "1.000")
    {
    	<i class="fas fa-check-circle text-success"></i> <!-- Icon checklist hijau -->
    }
    else if (vCrewTrackingStatusList.CESTest.GetViewValue() == "2" || vCrewTrackingStatusList.CESTest.GetViewValue() == "2.000")
    {
        <i class="fas fa-stopwatch text-warning"></i> <!-- Icon jam stopwatch kuning -->
    }
    else if (vCrewTrackingStatusList.CESTest.GetViewValue() == "3" || vCrewTrackingStatusList.CESTest.GetViewValue() == "3.000")
    {
        <i class="fas fa-times-circle text-danger"></i> <!-- Icon silang merah -->
    }
    else
    {
        <i class="fas fa-question-circle" style="color: grey"></i> <!-- Icon default untuk nilai null atau 0 -->
    }
</span>
</span>
</span></td>
    </tr>
} @* vCrewTrackingStatusView.CESTest.Visible (end) *@
@if (vCrewTrackingStatusView.PyschometricTest.Visible) { // vCrewTrackingStatusView.PyschometricTest.Visible (begin)
    <tr id="r_PyschometricTest" @Html.Raw(vCrewTrackingStatusView.PyschometricTest.RowAttributes)>
        <td class="@(vCrewTrackingStatusView.TableLeftColumnClass)"><span id="elh_v_CrewTrackingStatus_PyschometricTest">@Html.Raw(vCrewTrackingStatusView.PyschometricTest.Caption)</span></td>
        <td data-name="PyschometricTest" @Html.Raw(vCrewTrackingStatusView.PyschometricTest.CellAttributes)>
<span id="el_v_CrewTrackingStatus_PyschometricTest">
<span @Html.Raw(vCrewTrackingStatusView.PyschometricTest.ViewAttributes)><span @(vCrewTrackingStatusList.PyschometricTest.ViewAttributes)>
    @if (vCrewTrackingStatusList.PyschometricTest.GetViewValue() == "1" || vCrewTrackingStatusList.PyschometricTest.GetViewValue() == "1.000")
    {
    	<i class="fas fa-check-circle text-success"></i> <!-- Icon checklist hijau -->
    }
    else if (vCrewTrackingStatusList.PyschometricTest.GetViewValue() == "2" || vCrewTrackingStatusList.PyschometricTest.GetViewValue() == "2.000")
    {
        <i class="fas fa-stopwatch text-warning"></i> <!-- Icon jam stopwatch kuning -->
    }
    else if (vCrewTrackingStatusList.PyschometricTest.GetViewValue() == "3" || vCrewTrackingStatusList.PyschometricTest.GetViewValue() == "3.000")
    {
        <i class="fas fa-times-circle text-danger"></i> <!-- Icon silang merah -->
    }
    else
    {
        <i class="fas fa-question-circle" style="color: grey"></i> <!-- Icon default untuk nilai null atau 0 -->
    }
</span>
</span>
</span></td>
    </tr>
} @* vCrewTrackingStatusView.PyschometricTest.Visible (end) *@
@if (vCrewTrackingStatusView.CrewWatchlist.Visible) { // vCrewTrackingStatusView.CrewWatchlist.Visible (begin)
    <tr id="r_CrewWatchlist" @Html.Raw(vCrewTrackingStatusView.CrewWatchlist.RowAttributes)>
        <td class="@(vCrewTrackingStatusView.TableLeftColumnClass)"><span id="elh_v_CrewTrackingStatus_CrewWatchlist">@Html.Raw(vCrewTrackingStatusView.CrewWatchlist.Caption)</span></td>
        <td data-name="CrewWatchlist" @Html.Raw(vCrewTrackingStatusView.CrewWatchlist.CellAttributes)>
<span id="el_v_CrewTrackingStatus_CrewWatchlist">
<span @Html.Raw(vCrewTrackingStatusView.CrewWatchlist.ViewAttributes)><span @(vCrewTrackingStatusList.CrewWatchlist.ViewAttributes)>
    @if (vCrewTrackingStatusList.CrewWatchlist.GetViewValue() == "1" || vCrewTrackingStatusList.CrewWatchlist.GetViewValue() == "1.000")
    {
    	<i class="fas fa-check-circle text-success"></i> <!-- Icon checklist hijau -->
    }
    else if (vCrewTrackingStatusList.CrewWatchlist.GetViewValue() == "2" || vCrewTrackingStatusList.CrewWatchlist.GetViewValue() == "2.000")
    {
        <i class="fas fa-stopwatch text-warning"></i> <!-- Icon jam stopwatch kuning -->
    }
    else if (vCrewTrackingStatusList.CrewWatchlist.GetViewValue() == "3" || vCrewTrackingStatusList.CrewWatchlist.GetViewValue() == "3.000")
    {
        <i class="fas fa-times-circle text-danger"></i> <!-- Icon silang merah -->
    }
    else
    {
        <i class="fas fa-question-circle" style="color: grey"></i> <!-- Icon default untuk nilai null atau 0 -->
    }
</span>
</span>
</span></td>
    </tr>
} @* vCrewTrackingStatusView.CrewWatchlist.Visible (end) *@
@if (vCrewTrackingStatusView.PreviousAppraisalReport.Visible) { // vCrewTrackingStatusView.PreviousAppraisalReport.Visible (begin)
    <tr id="r_PreviousAppraisalReport" @Html.Raw(vCrewTrackingStatusView.PreviousAppraisalReport.RowAttributes)>
        <td class="@(vCrewTrackingStatusView.TableLeftColumnClass)"><span id="elh_v_CrewTrackingStatus_PreviousAppraisalReport">@Html.Raw(vCrewTrackingStatusView.PreviousAppraisalReport.Caption)</span></td>
        <td data-name="PreviousAppraisalReport" @Html.Raw(vCrewTrackingStatusView.PreviousAppraisalReport.CellAttributes)>
<span id="el_v_CrewTrackingStatus_PreviousAppraisalReport">
<span @Html.Raw(vCrewTrackingStatusView.PreviousAppraisalReport.ViewAttributes)><span @(vCrewTrackingStatusList.PreviousAppraisalReport.ViewAttributes)>
    @if (vCrewTrackingStatusList.PreviousAppraisalReport.GetViewValue() == "1" || vCrewTrackingStatusList.PreviousAppraisalReport.GetViewValue() == "1.000")
    {
    	<i class="fas fa-check-circle text-success"></i> <!-- Icon checklist hijau -->
    }
    else if (vCrewTrackingStatusList.PreviousAppraisalReport.GetViewValue() == "2" || vCrewTrackingStatusList.PreviousAppraisalReport.GetViewValue() == "2.000")
    {
        <i class="fas fa-stopwatch text-warning"></i> <!-- Icon jam stopwatch kuning -->
    }
    else if (vCrewTrackingStatusList.PreviousAppraisalReport.GetViewValue() == "3" || vCrewTrackingStatusList.PreviousAppraisalReport.GetViewValue() == "3.000")
    {
        <i class="fas fa-times-circle text-danger"></i> <!-- Icon silang merah -->
    }
    else
    {
        <i class="fas fa-question-circle" style="color: grey"></i> <!-- Icon default untuk nilai null atau 0 -->
    }
</span>
</span>
</span></td>
    </tr>
} @* vCrewTrackingStatusView.PreviousAppraisalReport.Visible (end) *@
@if (vCrewTrackingStatusView.ContractBackgroundCheck.Visible) { // vCrewTrackingStatusView.ContractBackgroundCheck.Visible (begin)
    <tr id="r_ContractBackgroundCheck" @Html.Raw(vCrewTrackingStatusView.ContractBackgroundCheck.RowAttributes)>
        <td class="@(vCrewTrackingStatusView.TableLeftColumnClass)"><span id="elh_v_CrewTrackingStatus_ContractBackgroundCheck">@Html.Raw(vCrewTrackingStatusView.ContractBackgroundCheck.Caption)</span></td>
        <td data-name="ContractBackgroundCheck" @Html.Raw(vCrewTrackingStatusView.ContractBackgroundCheck.CellAttributes)>
<span id="el_v_CrewTrackingStatus_ContractBackgroundCheck">
<span @Html.Raw(vCrewTrackingStatusView.ContractBackgroundCheck.ViewAttributes)><span @(vCrewTrackingStatusList.ContractBackgroundCheck.ViewAttributes)>
    @if (vCrewTrackingStatusList.ContractBackgroundCheck.GetViewValue() == "1" || vCrewTrackingStatusList.ContractBackgroundCheck.GetViewValue() == "1.000")
    {
    	<i class="fas fa-check-circle text-success"></i> <!-- Icon checklist hijau -->
    }
    else if (vCrewTrackingStatusList.ContractBackgroundCheck.GetViewValue() == "2" || vCrewTrackingStatusList.ContractBackgroundCheck.GetViewValue() == "2.000")
    {
        <i class="fas fa-stopwatch text-warning"></i> <!-- Icon jam stopwatch kuning -->
    }
    else if (vCrewTrackingStatusList.ContractBackgroundCheck.GetViewValue() == "3" || vCrewTrackingStatusList.ContractBackgroundCheck.GetViewValue() == "3.000")
    {
        <i class="fas fa-times-circle text-danger"></i> <!-- Icon silang merah -->
    }
    else
    {
        <i class="fas fa-question-circle" style="color: grey"></i> <!-- Icon default untuk nilai null atau 0 -->
    }
</span>
</span>
</span></td>
    </tr>
} @* vCrewTrackingStatusView.ContractBackgroundCheck.Visible (end) *@
@if (vCrewTrackingStatusView.EnglishProficiencyTestOrMarline.Visible) { // vCrewTrackingStatusView.EnglishProficiencyTestOrMarline.Visible (begin)
    <tr id="r_EnglishProficiencyTestOrMarline" @Html.Raw(vCrewTrackingStatusView.EnglishProficiencyTestOrMarline.RowAttributes)>
        <td class="@(vCrewTrackingStatusView.TableLeftColumnClass)"><span id="elh_v_CrewTrackingStatus_EnglishProficiencyTestOrMarline">@Html.Raw(vCrewTrackingStatusView.EnglishProficiencyTestOrMarline.Caption)</span></td>
        <td data-name="EnglishProficiencyTestOrMarline" @Html.Raw(vCrewTrackingStatusView.EnglishProficiencyTestOrMarline.CellAttributes)>
<span id="el_v_CrewTrackingStatus_EnglishProficiencyTestOrMarline">
<span @Html.Raw(vCrewTrackingStatusView.EnglishProficiencyTestOrMarline.ViewAttributes)><span @(vCrewTrackingStatusList.EnglishProficiencyTestOrMarline.ViewAttributes)>
    @if (vCrewTrackingStatusList.EnglishProficiencyTestOrMarline.GetViewValue() == "1" || vCrewTrackingStatusList.EnglishProficiencyTestOrMarline.GetViewValue() == "1.000")
    {
    	<i class="fas fa-check-circle text-success"></i> <!-- Icon checklist hijau -->
    }
    else if (vCrewTrackingStatusList.EnglishProficiencyTestOrMarline.GetViewValue() == "2" || vCrewTrackingStatusList.EnglishProficiencyTestOrMarline.GetViewValue() == "2.000")
    {
        <i class="fas fa-stopwatch text-warning"></i> <!-- Icon jam stopwatch kuning -->
    }
    else if (vCrewTrackingStatusList.EnglishProficiencyTestOrMarline.GetViewValue() == "3" || vCrewTrackingStatusList.EnglishProficiencyTestOrMarline.GetViewValue() == "3.000")
    {
        <i class="fas fa-times-circle text-danger"></i> <!-- Icon silang merah -->
    }
    else
    {
        <i class="fas fa-question-circle" style="color: grey"></i> <!-- Icon default untuk nilai null atau 0 -->
    }
</span>
</span>
</span></td>
    </tr>
} @* vCrewTrackingStatusView.EnglishProficiencyTestOrMarline.Visible (end) *@
@if (vCrewTrackingStatusView.Interviewed.Visible) { // vCrewTrackingStatusView.Interviewed.Visible (begin)
    <tr id="r_Interviewed" @Html.Raw(vCrewTrackingStatusView.Interviewed.RowAttributes)>
        <td class="@(vCrewTrackingStatusView.TableLeftColumnClass)"><span id="elh_v_CrewTrackingStatus_Interviewed">@Html.Raw(vCrewTrackingStatusView.Interviewed.Caption)</span></td>
        <td data-name="Interviewed" @Html.Raw(vCrewTrackingStatusView.Interviewed.CellAttributes)>
<span id="el_v_CrewTrackingStatus_Interviewed">
<span @Html.Raw(vCrewTrackingStatusView.Interviewed.ViewAttributes)><span @(vCrewTrackingStatusList.Interviewed.ViewAttributes)>
    @if (vCrewTrackingStatusList.Interviewed.GetViewValue() == "1" || vCrewTrackingStatusList.Interviewed.GetViewValue() == "1.000")
    {
    	<i class="fas fa-check-circle text-success"></i> <!-- Icon checklist hijau -->
    }
    else if (vCrewTrackingStatusList.Interviewed.GetViewValue() == "2" || vCrewTrackingStatusList.Interviewed.GetViewValue() == "2.000")
    {
        <i class="fas fa-stopwatch text-warning"></i> <!-- Icon jam stopwatch kuning -->
    }
    else if (vCrewTrackingStatusList.Interviewed.GetViewValue() == "3" || vCrewTrackingStatusList.Interviewed.GetViewValue() == "3.000")
    {
        <i class="fas fa-times-circle text-danger"></i> <!-- Icon silang merah -->
    }
    else
    {
        <i class="fas fa-question-circle" style="color: grey"></i> <!-- Icon default untuk nilai null atau 0 -->
    }
</span>
</span>
</span></td>
    </tr>
} @* vCrewTrackingStatusView.Interviewed.Visible (end) *@
@if (vCrewTrackingStatusView.Approved.Visible) { // vCrewTrackingStatusView.Approved.Visible (begin)
    <tr id="r_Approved" @Html.Raw(vCrewTrackingStatusView.Approved.RowAttributes)>
        <td class="@(vCrewTrackingStatusView.TableLeftColumnClass)"><span id="elh_v_CrewTrackingStatus_Approved">@Html.Raw(vCrewTrackingStatusView.Approved.Caption)</span></td>
        <td data-name="Approved" @Html.Raw(vCrewTrackingStatusView.Approved.CellAttributes)>
<span id="el_v_CrewTrackingStatus_Approved">
<span @Html.Raw(vCrewTrackingStatusView.Approved.ViewAttributes)><span @(vCrewTrackingStatusList.Approved.ViewAttributes)>
    @if (vCrewTrackingStatusList.Approved.GetViewValue() == "1" || vCrewTrackingStatusList.Approved.GetViewValue() == "1.000")
    {
    	<i class="fas fa-check-circle text-success"></i> <!-- Icon checklist hijau -->
    }
    else if (vCrewTrackingStatusList.Approved.GetViewValue() == "2" || vCrewTrackingStatusList.Approved.GetViewValue() == "2.000")
    {
        <i class="fas fa-stopwatch text-warning"></i> <!-- Icon jam stopwatch kuning -->
    }
    else if (vCrewTrackingStatusList.Approved.GetViewValue() == "3" || vCrewTrackingStatusList.Approved.GetViewValue() == "3.000")
    {
        <i class="fas fa-times-circle text-danger"></i> <!-- Icon silang merah -->
    }
    else
    {
        <i class="fas fa-question-circle" style="color: grey"></i> <!-- Icon default untuk nilai null atau 0 -->
    }
</span>
</span>
</span></td>
    </tr>
} @* vCrewTrackingStatusView.Approved.Visible (end) *@
@if (vCrewTrackingStatusView.MedicalCheckup.Visible) { // vCrewTrackingStatusView.MedicalCheckup.Visible (begin)
    <tr id="r_MedicalCheckup" @Html.Raw(vCrewTrackingStatusView.MedicalCheckup.RowAttributes)>
        <td class="@(vCrewTrackingStatusView.TableLeftColumnClass)"><span id="elh_v_CrewTrackingStatus_MedicalCheckup">@Html.Raw(vCrewTrackingStatusView.MedicalCheckup.Caption)</span></td>
        <td data-name="MedicalCheckup" @Html.Raw(vCrewTrackingStatusView.MedicalCheckup.CellAttributes)>
<span id="el_v_CrewTrackingStatus_MedicalCheckup">
<span @Html.Raw(vCrewTrackingStatusView.MedicalCheckup.ViewAttributes)><span @(vCrewTrackingStatusList.MedicalCheckup.ViewAttributes)>
    @if (vCrewTrackingStatusList.MedicalCheckup.GetViewValue() == "1" || vCrewTrackingStatusList.MedicalCheckup.GetViewValue() == "1.000")
    {
    	<i class="fas fa-check-circle text-success"></i> <!-- Icon checklist hijau -->
    }
    else if (vCrewTrackingStatusList.MedicalCheckup.GetViewValue() == "2" || vCrewTrackingStatusList.MedicalCheckup.GetViewValue() == "2.000")
    {
        <i class="fas fa-stopwatch text-warning"></i> <!-- Icon jam stopwatch kuning -->
    }
    else if (vCrewTrackingStatusList.MedicalCheckup.GetViewValue() == "3" || vCrewTrackingStatusList.MedicalCheckup.GetViewValue() == "3.000")
    {
        <i class="fas fa-times-circle text-danger"></i> <!-- Icon silang merah -->
    }
    else
    {
        <i class="fas fa-question-circle" style="color: grey"></i> <!-- Icon default untuk nilai null atau 0 -->
    }
</span>
</span>
</span></td>
    </tr>
} @* vCrewTrackingStatusView.MedicalCheckup.Visible (end) *@
</table>
@{ vCrewTrackingStatusView.CloseRecordset(); }
</form>
</main>
@vCrewTrackingStatusView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!vCrewTrackingStatusView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
