@{
    // View
    View = this;

    // Check action result
    if (vCrewTemporaryRejectedForAdminEdit.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!vCrewTemporaryRejectedForAdminEdit.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@vCrewTemporaryRejectedForAdminEdit.ShowPageHeader()
@vCrewTemporaryRejectedForAdminEdit.ShowMessages()
<main class="edit">
<form name="fv_CrewTemporaryRejectedForAdminedit" id="fv_CrewTemporaryRejectedForAdminedit" class="@(vCrewTemporaryRejectedForAdminEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
<script>
var currentTable = @Html.Raw(ConvertToJson(vCrewTemporaryRejectedForAdminEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { v_CrewTemporaryRejectedForAdmin: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fv_CrewTemporaryRejectedForAdminedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fv_CrewTemporaryRejectedForAdminedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["IndividualCodeNumber", [fields.IndividualCodeNumber.visible && fields.IndividualCodeNumber.required ? ew.Validators.required(fields.IndividualCodeNumber.caption) : null], fields.IndividualCodeNumber.isInvalid],
            ["EmployeeStatus", [fields.EmployeeStatus.visible && fields.EmployeeStatus.required ? ew.Validators.required(fields.EmployeeStatus.caption) : null], fields.EmployeeStatus.isInvalid],
            ["FullName", [fields.FullName.visible && fields.FullName.required ? ew.Validators.required(fields.FullName.caption) : null], fields.FullName.isInvalid],
            ["RequiredPhoto", [fields.RequiredPhoto.visible && fields.RequiredPhoto.required ? ew.Validators.required(fields.RequiredPhoto.caption) : null], fields.RequiredPhoto.isInvalid],
            ["VisaPhoto", [fields.VisaPhoto.visible && fields.VisaPhoto.required ? ew.Validators.required(fields.VisaPhoto.caption) : null], fields.VisaPhoto.isInvalid],
            ["CityOfBirth", [fields.CityOfBirth.visible && fields.CityOfBirth.required ? ew.Validators.required(fields.CityOfBirth.caption) : null], fields.CityOfBirth.isInvalid],
            ["DateOfBirth", [fields.DateOfBirth.visible && fields.DateOfBirth.required ? ew.Validators.required(fields.DateOfBirth.caption) : null, ew.Validators.datetime(fields.DateOfBirth.clientFormatPattern)], fields.DateOfBirth.isInvalid],
            ["Gender", [fields.Gender.visible && fields.Gender.required ? ew.Validators.required(fields.Gender.caption) : null], fields.Gender.isInvalid],
            ["RankAppliedFor_RankID", [fields.RankAppliedFor_RankID.visible && fields.RankAppliedFor_RankID.required ? ew.Validators.required(fields.RankAppliedFor_RankID.caption) : null, ew.Validators.integer], fields.RankAppliedFor_RankID.isInvalid],
            ["WillAcceptLowRank", [fields.WillAcceptLowRank.visible && fields.WillAcceptLowRank.required ? ew.Validators.required(fields.WillAcceptLowRank.caption) : null], fields.WillAcceptLowRank.isInvalid],
            ["AvailableFrom", [fields.AvailableFrom.visible && fields.AvailableFrom.required ? ew.Validators.required(fields.AvailableFrom.caption) : null, ew.Validators.datetime(fields.AvailableFrom.clientFormatPattern)], fields.AvailableFrom.isInvalid],
            ["AvailableUntil", [fields.AvailableUntil.visible && fields.AvailableUntil.required ? ew.Validators.required(fields.AvailableUntil.caption) : null, ew.Validators.datetime(fields.AvailableUntil.clientFormatPattern)], fields.AvailableUntil.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "RankAppliedFor_RankID": @Html.Raw(vCrewTemporaryRejectedForAdminEdit.RankAppliedFor_RankID.ToClientList(vCrewTemporaryRejectedForAdminEdit)),
            "WillAcceptLowRank": @Html.Raw(vCrewTemporaryRejectedForAdminEdit.WillAcceptLowRank.ToClientList(vCrewTemporaryRejectedForAdminEdit)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(vCrewTemporaryRejectedForAdminEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(vCrewTemporaryRejectedForAdminEdit.OldKeyName)" value="@Html.Raw(vCrewTemporaryRejectedForAdminEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (vCrewTemporaryRejectedForAdminEdit.IndividualCodeNumber.Visible) { // vCrewTemporaryRejectedForAdminEdit.IndividualCodeNumber.Visible (begin)
    <div id="r_IndividualCodeNumber" @Html.Raw(vCrewTemporaryRejectedForAdminEdit.IndividualCodeNumber.RowAttributes)>
        <label id="elh_v_CrewTemporaryRejectedForAdmin_IndividualCodeNumber" for="x_IndividualCodeNumber" class="@(vCrewTemporaryRejectedForAdminEdit.LeftColumnClass)">@Html.Raw(vCrewTemporaryRejectedForAdminEdit.IndividualCodeNumber.Caption)@Html.Raw(vCrewTemporaryRejectedForAdminEdit.IndividualCodeNumber.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(vCrewTemporaryRejectedForAdminEdit.RightColumnClass)"><div @Html.Raw(vCrewTemporaryRejectedForAdminEdit.IndividualCodeNumber.CellAttributes)>
<span id="el_v_CrewTemporaryRejectedForAdmin_IndividualCodeNumber">
<input type="@(vCrewTemporaryRejectedForAdminEdit.IndividualCodeNumber.InputTextType)" name="x_IndividualCodeNumber" id="x_IndividualCodeNumber" data-table="v_CrewTemporaryRejectedForAdmin" data-field="x_IndividualCodeNumber" value="@Html.Raw(vCrewTemporaryRejectedForAdminEdit.IndividualCodeNumber.EditValue)" size="30" maxlength="20" placeholder="@Html.Raw(HtmlEncode(vCrewTemporaryRejectedForAdminEdit.IndividualCodeNumber.PlaceHolder))" data-format-pattern="@(vCrewTemporaryRejectedForAdminEdit.IndividualCodeNumber.FormatPattern)"@Html.Raw(vCrewTemporaryRejectedForAdminEdit.IndividualCodeNumber.EditAttributes) aria-describedby="x_IndividualCodeNumber_help">
@Html.Raw(vCrewTemporaryRejectedForAdminEdit.IndividualCodeNumber.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(vCrewTemporaryRejectedForAdminEdit.IndividualCodeNumber.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* vCrewTemporaryRejectedForAdminEdit.IndividualCodeNumber.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminEdit.EmployeeStatus.Visible) { // vCrewTemporaryRejectedForAdminEdit.EmployeeStatus.Visible (begin)
    <div id="r_EmployeeStatus" @Html.Raw(vCrewTemporaryRejectedForAdminEdit.EmployeeStatus.RowAttributes)>
        <label id="elh_v_CrewTemporaryRejectedForAdmin_EmployeeStatus" for="x_EmployeeStatus" class="@(vCrewTemporaryRejectedForAdminEdit.LeftColumnClass)">@Html.Raw(vCrewTemporaryRejectedForAdminEdit.EmployeeStatus.Caption)@Html.Raw(vCrewTemporaryRejectedForAdminEdit.EmployeeStatus.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(vCrewTemporaryRejectedForAdminEdit.RightColumnClass)"><div @Html.Raw(vCrewTemporaryRejectedForAdminEdit.EmployeeStatus.CellAttributes)>
<span id="el_v_CrewTemporaryRejectedForAdmin_EmployeeStatus">
<input type="@(vCrewTemporaryRejectedForAdminEdit.EmployeeStatus.InputTextType)" name="x_EmployeeStatus" id="x_EmployeeStatus" data-table="v_CrewTemporaryRejectedForAdmin" data-field="x_EmployeeStatus" value="@Html.Raw(vCrewTemporaryRejectedForAdminEdit.EmployeeStatus.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(vCrewTemporaryRejectedForAdminEdit.EmployeeStatus.PlaceHolder))" data-format-pattern="@(vCrewTemporaryRejectedForAdminEdit.EmployeeStatus.FormatPattern)"@Html.Raw(vCrewTemporaryRejectedForAdminEdit.EmployeeStatus.EditAttributes) aria-describedby="x_EmployeeStatus_help">
@Html.Raw(vCrewTemporaryRejectedForAdminEdit.EmployeeStatus.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(vCrewTemporaryRejectedForAdminEdit.EmployeeStatus.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* vCrewTemporaryRejectedForAdminEdit.EmployeeStatus.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminEdit.FullName.Visible) { // vCrewTemporaryRejectedForAdminEdit.FullName.Visible (begin)
    <div id="r_FullName" @Html.Raw(vCrewTemporaryRejectedForAdminEdit.FullName.RowAttributes)>
        <label id="elh_v_CrewTemporaryRejectedForAdmin_FullName" for="x_FullName" class="@(vCrewTemporaryRejectedForAdminEdit.LeftColumnClass)">@Html.Raw(vCrewTemporaryRejectedForAdminEdit.FullName.Caption)@Html.Raw(vCrewTemporaryRejectedForAdminEdit.FullName.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(vCrewTemporaryRejectedForAdminEdit.RightColumnClass)"><div @Html.Raw(vCrewTemporaryRejectedForAdminEdit.FullName.CellAttributes)>
<span id="el_v_CrewTemporaryRejectedForAdmin_FullName">
<input type="@(vCrewTemporaryRejectedForAdminEdit.FullName.InputTextType)" name="x_FullName" id="x_FullName" data-table="v_CrewTemporaryRejectedForAdmin" data-field="x_FullName" value="@Html.Raw(vCrewTemporaryRejectedForAdminEdit.FullName.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(vCrewTemporaryRejectedForAdminEdit.FullName.PlaceHolder))" data-format-pattern="@(vCrewTemporaryRejectedForAdminEdit.FullName.FormatPattern)"@Html.Raw(vCrewTemporaryRejectedForAdminEdit.FullName.EditAttributes) aria-describedby="x_FullName_help">
@Html.Raw(vCrewTemporaryRejectedForAdminEdit.FullName.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(vCrewTemporaryRejectedForAdminEdit.FullName.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* vCrewTemporaryRejectedForAdminEdit.FullName.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminEdit.RequiredPhoto.Visible) { // vCrewTemporaryRejectedForAdminEdit.RequiredPhoto.Visible (begin)
    <div id="r_RequiredPhoto" @Html.Raw(vCrewTemporaryRejectedForAdminEdit.RequiredPhoto.RowAttributes)>
        <label id="elh_v_CrewTemporaryRejectedForAdmin_RequiredPhoto" for="x_RequiredPhoto" class="@(vCrewTemporaryRejectedForAdminEdit.LeftColumnClass)">@Html.Raw(vCrewTemporaryRejectedForAdminEdit.RequiredPhoto.Caption)@Html.Raw(vCrewTemporaryRejectedForAdminEdit.RequiredPhoto.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(vCrewTemporaryRejectedForAdminEdit.RightColumnClass)"><div @Html.Raw(vCrewTemporaryRejectedForAdminEdit.RequiredPhoto.CellAttributes)>
<span id="el_v_CrewTemporaryRejectedForAdmin_RequiredPhoto">
<input type="@(vCrewTemporaryRejectedForAdminEdit.RequiredPhoto.InputTextType)" name="x_RequiredPhoto" id="x_RequiredPhoto" data-table="v_CrewTemporaryRejectedForAdmin" data-field="x_RequiredPhoto" value="@Html.Raw(vCrewTemporaryRejectedForAdminEdit.RequiredPhoto.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(vCrewTemporaryRejectedForAdminEdit.RequiredPhoto.PlaceHolder))" data-format-pattern="@(vCrewTemporaryRejectedForAdminEdit.RequiredPhoto.FormatPattern)"@Html.Raw(vCrewTemporaryRejectedForAdminEdit.RequiredPhoto.EditAttributes) aria-describedby="x_RequiredPhoto_help">
@Html.Raw(vCrewTemporaryRejectedForAdminEdit.RequiredPhoto.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(vCrewTemporaryRejectedForAdminEdit.RequiredPhoto.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* vCrewTemporaryRejectedForAdminEdit.RequiredPhoto.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminEdit.VisaPhoto.Visible) { // vCrewTemporaryRejectedForAdminEdit.VisaPhoto.Visible (begin)
    <div id="r_VisaPhoto" @Html.Raw(vCrewTemporaryRejectedForAdminEdit.VisaPhoto.RowAttributes)>
        <label id="elh_v_CrewTemporaryRejectedForAdmin_VisaPhoto" for="x_VisaPhoto" class="@(vCrewTemporaryRejectedForAdminEdit.LeftColumnClass)">@Html.Raw(vCrewTemporaryRejectedForAdminEdit.VisaPhoto.Caption)@Html.Raw(vCrewTemporaryRejectedForAdminEdit.VisaPhoto.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(vCrewTemporaryRejectedForAdminEdit.RightColumnClass)"><div @Html.Raw(vCrewTemporaryRejectedForAdminEdit.VisaPhoto.CellAttributes)>
<span id="el_v_CrewTemporaryRejectedForAdmin_VisaPhoto">
<input type="@(vCrewTemporaryRejectedForAdminEdit.VisaPhoto.InputTextType)" name="x_VisaPhoto" id="x_VisaPhoto" data-table="v_CrewTemporaryRejectedForAdmin" data-field="x_VisaPhoto" value="@Html.Raw(vCrewTemporaryRejectedForAdminEdit.VisaPhoto.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(vCrewTemporaryRejectedForAdminEdit.VisaPhoto.PlaceHolder))" data-format-pattern="@(vCrewTemporaryRejectedForAdminEdit.VisaPhoto.FormatPattern)"@Html.Raw(vCrewTemporaryRejectedForAdminEdit.VisaPhoto.EditAttributes) aria-describedby="x_VisaPhoto_help">
@Html.Raw(vCrewTemporaryRejectedForAdminEdit.VisaPhoto.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(vCrewTemporaryRejectedForAdminEdit.VisaPhoto.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* vCrewTemporaryRejectedForAdminEdit.VisaPhoto.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminEdit.CityOfBirth.Visible) { // vCrewTemporaryRejectedForAdminEdit.CityOfBirth.Visible (begin)
    <div id="r_CityOfBirth" @Html.Raw(vCrewTemporaryRejectedForAdminEdit.CityOfBirth.RowAttributes)>
        <label id="elh_v_CrewTemporaryRejectedForAdmin_CityOfBirth" for="x_CityOfBirth" class="@(vCrewTemporaryRejectedForAdminEdit.LeftColumnClass)">@Html.Raw(vCrewTemporaryRejectedForAdminEdit.CityOfBirth.Caption)@Html.Raw(vCrewTemporaryRejectedForAdminEdit.CityOfBirth.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(vCrewTemporaryRejectedForAdminEdit.RightColumnClass)"><div @Html.Raw(vCrewTemporaryRejectedForAdminEdit.CityOfBirth.CellAttributes)>
<span id="el_v_CrewTemporaryRejectedForAdmin_CityOfBirth">
<input type="@(vCrewTemporaryRejectedForAdminEdit.CityOfBirth.InputTextType)" name="x_CityOfBirth" id="x_CityOfBirth" data-table="v_CrewTemporaryRejectedForAdmin" data-field="x_CityOfBirth" value="@Html.Raw(vCrewTemporaryRejectedForAdminEdit.CityOfBirth.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(vCrewTemporaryRejectedForAdminEdit.CityOfBirth.PlaceHolder))" data-format-pattern="@(vCrewTemporaryRejectedForAdminEdit.CityOfBirth.FormatPattern)"@Html.Raw(vCrewTemporaryRejectedForAdminEdit.CityOfBirth.EditAttributes) aria-describedby="x_CityOfBirth_help">
@Html.Raw(vCrewTemporaryRejectedForAdminEdit.CityOfBirth.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(vCrewTemporaryRejectedForAdminEdit.CityOfBirth.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* vCrewTemporaryRejectedForAdminEdit.CityOfBirth.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminEdit.DateOfBirth.Visible) { // vCrewTemporaryRejectedForAdminEdit.DateOfBirth.Visible (begin)
    <div id="r_DateOfBirth" @Html.Raw(vCrewTemporaryRejectedForAdminEdit.DateOfBirth.RowAttributes)>
        <label id="elh_v_CrewTemporaryRejectedForAdmin_DateOfBirth" for="x_DateOfBirth" class="@(vCrewTemporaryRejectedForAdminEdit.LeftColumnClass)">@Html.Raw(vCrewTemporaryRejectedForAdminEdit.DateOfBirth.Caption)@Html.Raw(vCrewTemporaryRejectedForAdminEdit.DateOfBirth.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(vCrewTemporaryRejectedForAdminEdit.RightColumnClass)"><div @Html.Raw(vCrewTemporaryRejectedForAdminEdit.DateOfBirth.CellAttributes)>
<span id="el_v_CrewTemporaryRejectedForAdmin_DateOfBirth">
<input type="@(vCrewTemporaryRejectedForAdminEdit.DateOfBirth.InputTextType)" name="x_DateOfBirth" id="x_DateOfBirth" data-table="v_CrewTemporaryRejectedForAdmin" data-field="x_DateOfBirth" value="@Html.Raw(vCrewTemporaryRejectedForAdminEdit.DateOfBirth.EditValue)" placeholder="@Html.Raw(HtmlEncode(vCrewTemporaryRejectedForAdminEdit.DateOfBirth.PlaceHolder))" data-format-pattern="@(vCrewTemporaryRejectedForAdminEdit.DateOfBirth.FormatPattern)"@Html.Raw(vCrewTemporaryRejectedForAdminEdit.DateOfBirth.EditAttributes) aria-describedby="x_DateOfBirth_help">
@Html.Raw(vCrewTemporaryRejectedForAdminEdit.DateOfBirth.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(vCrewTemporaryRejectedForAdminEdit.DateOfBirth.GetErrorMessage())</div>
@if (!vCrewTemporaryRejectedForAdminEdit.DateOfBirth.ReadOnly && !vCrewTemporaryRejectedForAdminEdit.DateOfBirth.Disabled && !vCrewTemporaryRejectedForAdminEdit.DateOfBirth.EditAttrs.Is("readonly") && !vCrewTemporaryRejectedForAdminEdit.DateOfBirth.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fv_CrewTemporaryRejectedForAdminedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fv_CrewTemporaryRejectedForAdminedit", "x_DateOfBirth", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* vCrewTemporaryRejectedForAdminEdit.DateOfBirth.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminEdit.Gender.Visible) { // vCrewTemporaryRejectedForAdminEdit.Gender.Visible (begin)
    <div id="r_Gender" @Html.Raw(vCrewTemporaryRejectedForAdminEdit.Gender.RowAttributes)>
        <label id="elh_v_CrewTemporaryRejectedForAdmin_Gender" for="x_Gender" class="@(vCrewTemporaryRejectedForAdminEdit.LeftColumnClass)">@Html.Raw(vCrewTemporaryRejectedForAdminEdit.Gender.Caption)@Html.Raw(vCrewTemporaryRejectedForAdminEdit.Gender.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(vCrewTemporaryRejectedForAdminEdit.RightColumnClass)"><div @Html.Raw(vCrewTemporaryRejectedForAdminEdit.Gender.CellAttributes)>
<span id="el_v_CrewTemporaryRejectedForAdmin_Gender">
<input type="@(vCrewTemporaryRejectedForAdminEdit.Gender.InputTextType)" name="x_Gender" id="x_Gender" data-table="v_CrewTemporaryRejectedForAdmin" data-field="x_Gender" value="@Html.Raw(vCrewTemporaryRejectedForAdminEdit.Gender.EditValue)" size="30" maxlength="1" placeholder="@Html.Raw(HtmlEncode(vCrewTemporaryRejectedForAdminEdit.Gender.PlaceHolder))" data-format-pattern="@(vCrewTemporaryRejectedForAdminEdit.Gender.FormatPattern)"@Html.Raw(vCrewTemporaryRejectedForAdminEdit.Gender.EditAttributes) aria-describedby="x_Gender_help">
@Html.Raw(vCrewTemporaryRejectedForAdminEdit.Gender.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(vCrewTemporaryRejectedForAdminEdit.Gender.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* vCrewTemporaryRejectedForAdminEdit.Gender.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminEdit.RankAppliedFor_RankID.Visible) { // vCrewTemporaryRejectedForAdminEdit.RankAppliedFor_RankID.Visible (begin)
    <div id="r_RankAppliedFor_RankID" @Html.Raw(vCrewTemporaryRejectedForAdminEdit.RankAppliedFor_RankID.RowAttributes)>
        <label id="elh_v_CrewTemporaryRejectedForAdmin_RankAppliedFor_RankID" class="@(vCrewTemporaryRejectedForAdminEdit.LeftColumnClass)">@Html.Raw(vCrewTemporaryRejectedForAdminEdit.RankAppliedFor_RankID.Caption)@Html.Raw(vCrewTemporaryRejectedForAdminEdit.RankAppliedFor_RankID.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(vCrewTemporaryRejectedForAdminEdit.RightColumnClass)"><div @Html.Raw(vCrewTemporaryRejectedForAdminEdit.RankAppliedFor_RankID.CellAttributes)>
<span id="el_v_CrewTemporaryRejectedForAdmin_RankAppliedFor_RankID">
<span>@{
    if (IsRTL) {
        vCrewTemporaryRejectedForAdminEdit.RankAppliedFor_RankID.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_RankAppliedFor_RankID" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_RankAppliedFor_RankID" id="sv_x_RankAppliedFor_RankID" value="@(RemoveHtml(ConvertToString(vCrewTemporaryRejectedForAdminEdit.RankAppliedFor_RankID.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(vCrewTemporaryRejectedForAdminEdit.RankAppliedFor_RankID.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(vCrewTemporaryRejectedForAdminEdit.RankAppliedFor_RankID.PlaceHolder))" data-format-pattern="@(vCrewTemporaryRejectedForAdminEdit.RankAppliedFor_RankID.FormatPattern)" @Html.Raw(vCrewTemporaryRejectedForAdminEdit.RankAppliedFor_RankID.EditAttributes) aria-describedby="x_RankAppliedFor_RankID_help">
</span>
<selection-list hidden class="form-control" data-table="v_CrewTemporaryRejectedForAdmin" data-field="x_RankAppliedFor_RankID" data-input="sv_x_RankAppliedFor_RankID" data-value-separator="@(vCrewTemporaryRejectedForAdminEdit.RankAppliedFor_RankID.DisplayValueSeparatorAttribute)" name="x_RankAppliedFor_RankID" id="x_RankAppliedFor_RankID" value="@(HtmlEncode(vCrewTemporaryRejectedForAdminEdit.RankAppliedFor_RankID.CurrentValue))"></selection-list>
@Html.Raw(vCrewTemporaryRejectedForAdminEdit.RankAppliedFor_RankID.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(vCrewTemporaryRejectedForAdminEdit.RankAppliedFor_RankID.GetErrorMessage())</div>
<script>
loadjs.ready(["fv_CrewTemporaryRejectedForAdminedit"], function() {
    fv_CrewTemporaryRejectedForAdminedit.createAutoSuggest(Object.assign({"id":"x_RankAppliedFor_RankID","forceSelect":false}, { lookupAllDisplayFields: @(vCrewTemporaryRejectedForAdminEdit.RankAppliedFor_RankID.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.v_CrewTemporaryRejectedForAdmin.fields.RankAppliedFor_RankID.autoSuggestOptions));
});
</script>
@Html.Raw(vCrewTemporaryRejectedForAdminEdit.RankAppliedFor_RankID.Lookup.GetParamTag(vCrewTemporaryRejectedForAdminEdit, "p_x_RankAppliedFor_RankID"))
</span>
</div></div>
    </div>
} @* vCrewTemporaryRejectedForAdminEdit.RankAppliedFor_RankID.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminEdit.WillAcceptLowRank.Visible) { // vCrewTemporaryRejectedForAdminEdit.WillAcceptLowRank.Visible (begin)
    <div id="r_WillAcceptLowRank" @Html.Raw(vCrewTemporaryRejectedForAdminEdit.WillAcceptLowRank.RowAttributes)>
        <label id="elh_v_CrewTemporaryRejectedForAdmin_WillAcceptLowRank" class="@(vCrewTemporaryRejectedForAdminEdit.LeftColumnClass)">@Html.Raw(vCrewTemporaryRejectedForAdminEdit.WillAcceptLowRank.Caption)@Html.Raw(vCrewTemporaryRejectedForAdminEdit.WillAcceptLowRank.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(vCrewTemporaryRejectedForAdminEdit.RightColumnClass)"><div @Html.Raw(vCrewTemporaryRejectedForAdminEdit.WillAcceptLowRank.CellAttributes)>
<span id="el_v_CrewTemporaryRejectedForAdmin_WillAcceptLowRank">
<div class="form-check d-inline-block">
    <input type="checkbox" class="form-check-input@(vCrewTemporaryRejectedForAdminEdit.WillAcceptLowRank.IsInvalidClass)" data-table="v_CrewTemporaryRejectedForAdmin" data-field="x_WillAcceptLowRank" data-boolean name="x_WillAcceptLowRank" id="x_WillAcceptLowRank" value="1" checked="@ConvertToBool(vCrewTemporaryRejectedForAdminEdit.WillAcceptLowRank.CurrentValue)" @Html.Raw(vCrewTemporaryRejectedForAdminEdit.WillAcceptLowRank.EditAttributes) aria-describedby="x_WillAcceptLowRank_help">
    <div class="invalid-feedback">@Html.Raw(vCrewTemporaryRejectedForAdminEdit.WillAcceptLowRank.GetErrorMessage())</div>
</div>
@Html.Raw(vCrewTemporaryRejectedForAdminEdit.WillAcceptLowRank.GetCustomMessage)
</span>
</div></div>
    </div>
} @* vCrewTemporaryRejectedForAdminEdit.WillAcceptLowRank.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminEdit.AvailableFrom.Visible) { // vCrewTemporaryRejectedForAdminEdit.AvailableFrom.Visible (begin)
    <div id="r_AvailableFrom" @Html.Raw(vCrewTemporaryRejectedForAdminEdit.AvailableFrom.RowAttributes)>
        <label id="elh_v_CrewTemporaryRejectedForAdmin_AvailableFrom" for="x_AvailableFrom" class="@(vCrewTemporaryRejectedForAdminEdit.LeftColumnClass)">@Html.Raw(vCrewTemporaryRejectedForAdminEdit.AvailableFrom.Caption)@Html.Raw(vCrewTemporaryRejectedForAdminEdit.AvailableFrom.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(vCrewTemporaryRejectedForAdminEdit.RightColumnClass)"><div @Html.Raw(vCrewTemporaryRejectedForAdminEdit.AvailableFrom.CellAttributes)>
<span id="el_v_CrewTemporaryRejectedForAdmin_AvailableFrom">
<input type="@(vCrewTemporaryRejectedForAdminEdit.AvailableFrom.InputTextType)" name="x_AvailableFrom" id="x_AvailableFrom" data-table="v_CrewTemporaryRejectedForAdmin" data-field="x_AvailableFrom" value="@Html.Raw(vCrewTemporaryRejectedForAdminEdit.AvailableFrom.EditValue)" placeholder="@Html.Raw(HtmlEncode(vCrewTemporaryRejectedForAdminEdit.AvailableFrom.PlaceHolder))" data-format-pattern="@(vCrewTemporaryRejectedForAdminEdit.AvailableFrom.FormatPattern)"@Html.Raw(vCrewTemporaryRejectedForAdminEdit.AvailableFrom.EditAttributes) aria-describedby="x_AvailableFrom_help">
@Html.Raw(vCrewTemporaryRejectedForAdminEdit.AvailableFrom.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(vCrewTemporaryRejectedForAdminEdit.AvailableFrom.GetErrorMessage())</div>
@if (!vCrewTemporaryRejectedForAdminEdit.AvailableFrom.ReadOnly && !vCrewTemporaryRejectedForAdminEdit.AvailableFrom.Disabled && !vCrewTemporaryRejectedForAdminEdit.AvailableFrom.EditAttrs.Is("readonly") && !vCrewTemporaryRejectedForAdminEdit.AvailableFrom.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fv_CrewTemporaryRejectedForAdminedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fv_CrewTemporaryRejectedForAdminedit", "x_AvailableFrom", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* vCrewTemporaryRejectedForAdminEdit.AvailableFrom.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminEdit.AvailableUntil.Visible) { // vCrewTemporaryRejectedForAdminEdit.AvailableUntil.Visible (begin)
    <div id="r_AvailableUntil" @Html.Raw(vCrewTemporaryRejectedForAdminEdit.AvailableUntil.RowAttributes)>
        <label id="elh_v_CrewTemporaryRejectedForAdmin_AvailableUntil" for="x_AvailableUntil" class="@(vCrewTemporaryRejectedForAdminEdit.LeftColumnClass)">@Html.Raw(vCrewTemporaryRejectedForAdminEdit.AvailableUntil.Caption)@Html.Raw(vCrewTemporaryRejectedForAdminEdit.AvailableUntil.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(vCrewTemporaryRejectedForAdminEdit.RightColumnClass)"><div @Html.Raw(vCrewTemporaryRejectedForAdminEdit.AvailableUntil.CellAttributes)>
<span id="el_v_CrewTemporaryRejectedForAdmin_AvailableUntil">
<input type="@(vCrewTemporaryRejectedForAdminEdit.AvailableUntil.InputTextType)" name="x_AvailableUntil" id="x_AvailableUntil" data-table="v_CrewTemporaryRejectedForAdmin" data-field="x_AvailableUntil" value="@Html.Raw(vCrewTemporaryRejectedForAdminEdit.AvailableUntil.EditValue)" placeholder="@Html.Raw(HtmlEncode(vCrewTemporaryRejectedForAdminEdit.AvailableUntil.PlaceHolder))" data-format-pattern="@(vCrewTemporaryRejectedForAdminEdit.AvailableUntil.FormatPattern)"@Html.Raw(vCrewTemporaryRejectedForAdminEdit.AvailableUntil.EditAttributes) aria-describedby="x_AvailableUntil_help">
@Html.Raw(vCrewTemporaryRejectedForAdminEdit.AvailableUntil.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(vCrewTemporaryRejectedForAdminEdit.AvailableUntil.GetErrorMessage())</div>
@if (!vCrewTemporaryRejectedForAdminEdit.AvailableUntil.ReadOnly && !vCrewTemporaryRejectedForAdminEdit.AvailableUntil.Disabled && !vCrewTemporaryRejectedForAdminEdit.AvailableUntil.EditAttrs.Is("readonly") && !vCrewTemporaryRejectedForAdminEdit.AvailableUntil.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fv_CrewTemporaryRejectedForAdminedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fv_CrewTemporaryRejectedForAdminedit", "x_AvailableUntil", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* vCrewTemporaryRejectedForAdminEdit.AvailableUntil.Visible (end) *@
</div><!-- /page* -->
    <input type="hidden" data-table="v_CrewTemporaryRejectedForAdmin" data-field="x_ID" data-hidden="1" name="x_ID" id="x_ID" value="@Html.Raw(HtmlEncode(vCrewTemporaryRejectedForAdminEdit.ID.CurrentValue))">
@{ vCrewTemporaryRejectedForAdminEdit.CloseRecordset(); }
@Html.Raw(vCrewTemporaryRejectedForAdminEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(vCrewTemporaryRejectedForAdminEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fv_CrewTemporaryRejectedForAdminedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fv_CrewTemporaryRejectedForAdminedit" data-href="@AppPath(vCrewTemporaryRejectedForAdminEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(vCrewTemporaryRejectedForAdminEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@vCrewTemporaryRejectedForAdminEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("v_CrewTemporaryRejectedForAdmin");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
