@{
    // View
    View = this;

    // Check action result
    if (vCrewAcceptedForAdminDelete.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!vCrewAcceptedForAdminDelete.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(vCrewAcceptedForAdminDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { v_CrewAcceptedForAdmin: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fv_CrewAcceptedForAdmindelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fv_CrewAcceptedForAdmindelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@vCrewAcceptedForAdminDelete.ShowPageHeader()
@vCrewAcceptedForAdminDelete.ShowMessages()
<form name="fv_CrewAcceptedForAdmindelete" id="fv_CrewAcceptedForAdmindelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in vCrewAcceptedForAdminDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(vCrewAcceptedForAdminDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(vCrewAcceptedForAdminDelete.TableContainerClass)" style="@(vCrewAcceptedForAdminDelete.TableContainerStyle)">
<table class="@(vCrewAcceptedForAdminDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (vCrewAcceptedForAdminDelete.IndividualCodeNumber.Visible) { // vCrewAcceptedForAdminDelete.IndividualCodeNumber.Visible (begin)
        <th class="@Html.Raw(vCrewAcceptedForAdminDelete.IndividualCodeNumber.HeaderCellClass)"><span id="elh_v_CrewAcceptedForAdmin_IndividualCodeNumber" class="v_CrewAcceptedForAdmin_IndividualCodeNumber">@Html.Raw(vCrewAcceptedForAdminDelete.IndividualCodeNumber.Caption)</span></th>
} @* vCrewAcceptedForAdminDelete.IndividualCodeNumber.Visible (end) *@
@if (vCrewAcceptedForAdminDelete.EmployeeStatus.Visible) { // vCrewAcceptedForAdminDelete.EmployeeStatus.Visible (begin)
        <th class="@Html.Raw(vCrewAcceptedForAdminDelete.EmployeeStatus.HeaderCellClass)"><span id="elh_v_CrewAcceptedForAdmin_EmployeeStatus" class="v_CrewAcceptedForAdmin_EmployeeStatus">@Html.Raw(vCrewAcceptedForAdminDelete.EmployeeStatus.Caption)</span></th>
} @* vCrewAcceptedForAdminDelete.EmployeeStatus.Visible (end) *@
@if (vCrewAcceptedForAdminDelete.FullName.Visible) { // vCrewAcceptedForAdminDelete.FullName.Visible (begin)
        <th class="@Html.Raw(vCrewAcceptedForAdminDelete.FullName.HeaderCellClass)"><span id="elh_v_CrewAcceptedForAdmin_FullName" class="v_CrewAcceptedForAdmin_FullName">@Html.Raw(vCrewAcceptedForAdminDelete.FullName.Caption)</span></th>
} @* vCrewAcceptedForAdminDelete.FullName.Visible (end) *@
@if (vCrewAcceptedForAdminDelete.RequiredPhoto.Visible) { // vCrewAcceptedForAdminDelete.RequiredPhoto.Visible (begin)
        <th class="@Html.Raw(vCrewAcceptedForAdminDelete.RequiredPhoto.HeaderCellClass)"><span id="elh_v_CrewAcceptedForAdmin_RequiredPhoto" class="v_CrewAcceptedForAdmin_RequiredPhoto">@Html.Raw(vCrewAcceptedForAdminDelete.RequiredPhoto.Caption)</span></th>
} @* vCrewAcceptedForAdminDelete.RequiredPhoto.Visible (end) *@
@if (vCrewAcceptedForAdminDelete.VisaPhoto.Visible) { // vCrewAcceptedForAdminDelete.VisaPhoto.Visible (begin)
        <th class="@Html.Raw(vCrewAcceptedForAdminDelete.VisaPhoto.HeaderCellClass)"><span id="elh_v_CrewAcceptedForAdmin_VisaPhoto" class="v_CrewAcceptedForAdmin_VisaPhoto">@Html.Raw(vCrewAcceptedForAdminDelete.VisaPhoto.Caption)</span></th>
} @* vCrewAcceptedForAdminDelete.VisaPhoto.Visible (end) *@
@if (vCrewAcceptedForAdminDelete.CityOfBirth.Visible) { // vCrewAcceptedForAdminDelete.CityOfBirth.Visible (begin)
        <th class="@Html.Raw(vCrewAcceptedForAdminDelete.CityOfBirth.HeaderCellClass)"><span id="elh_v_CrewAcceptedForAdmin_CityOfBirth" class="v_CrewAcceptedForAdmin_CityOfBirth">@Html.Raw(vCrewAcceptedForAdminDelete.CityOfBirth.Caption)</span></th>
} @* vCrewAcceptedForAdminDelete.CityOfBirth.Visible (end) *@
@if (vCrewAcceptedForAdminDelete.DateOfBirth.Visible) { // vCrewAcceptedForAdminDelete.DateOfBirth.Visible (begin)
        <th class="@Html.Raw(vCrewAcceptedForAdminDelete.DateOfBirth.HeaderCellClass)"><span id="elh_v_CrewAcceptedForAdmin_DateOfBirth" class="v_CrewAcceptedForAdmin_DateOfBirth">@Html.Raw(vCrewAcceptedForAdminDelete.DateOfBirth.Caption)</span></th>
} @* vCrewAcceptedForAdminDelete.DateOfBirth.Visible (end) *@
@if (vCrewAcceptedForAdminDelete.Gender.Visible) { // vCrewAcceptedForAdminDelete.Gender.Visible (begin)
        <th class="@Html.Raw(vCrewAcceptedForAdminDelete.Gender.HeaderCellClass)"><span id="elh_v_CrewAcceptedForAdmin_Gender" class="v_CrewAcceptedForAdmin_Gender">@Html.Raw(vCrewAcceptedForAdminDelete.Gender.Caption)</span></th>
} @* vCrewAcceptedForAdminDelete.Gender.Visible (end) *@
@if (vCrewAcceptedForAdminDelete.RankAppliedFor_RankID.Visible) { // vCrewAcceptedForAdminDelete.RankAppliedFor_RankID.Visible (begin)
        <th class="@Html.Raw(vCrewAcceptedForAdminDelete.RankAppliedFor_RankID.HeaderCellClass)"><span id="elh_v_CrewAcceptedForAdmin_RankAppliedFor_RankID" class="v_CrewAcceptedForAdmin_RankAppliedFor_RankID">@Html.Raw(vCrewAcceptedForAdminDelete.RankAppliedFor_RankID.Caption)</span></th>
} @* vCrewAcceptedForAdminDelete.RankAppliedFor_RankID.Visible (end) *@
@if (vCrewAcceptedForAdminDelete.WillAcceptLowRank.Visible) { // vCrewAcceptedForAdminDelete.WillAcceptLowRank.Visible (begin)
        <th class="@Html.Raw(vCrewAcceptedForAdminDelete.WillAcceptLowRank.HeaderCellClass)"><span id="elh_v_CrewAcceptedForAdmin_WillAcceptLowRank" class="v_CrewAcceptedForAdmin_WillAcceptLowRank">@Html.Raw(vCrewAcceptedForAdminDelete.WillAcceptLowRank.Caption)</span></th>
} @* vCrewAcceptedForAdminDelete.WillAcceptLowRank.Visible (end) *@
@if (vCrewAcceptedForAdminDelete.AvailableFrom.Visible) { // vCrewAcceptedForAdminDelete.AvailableFrom.Visible (begin)
        <th class="@Html.Raw(vCrewAcceptedForAdminDelete.AvailableFrom.HeaderCellClass)"><span id="elh_v_CrewAcceptedForAdmin_AvailableFrom" class="v_CrewAcceptedForAdmin_AvailableFrom">@Html.Raw(vCrewAcceptedForAdminDelete.AvailableFrom.Caption)</span></th>
} @* vCrewAcceptedForAdminDelete.AvailableFrom.Visible (end) *@
@if (vCrewAcceptedForAdminDelete.AvailableUntil.Visible) { // vCrewAcceptedForAdminDelete.AvailableUntil.Visible (begin)
        <th class="@Html.Raw(vCrewAcceptedForAdminDelete.AvailableUntil.HeaderCellClass)"><span id="elh_v_CrewAcceptedForAdmin_AvailableUntil" class="v_CrewAcceptedForAdmin_AvailableUntil">@Html.Raw(vCrewAcceptedForAdminDelete.AvailableUntil.Caption)</span></th>
} @* vCrewAcceptedForAdminDelete.AvailableUntil.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ vCrewAcceptedForAdminDelete.RecordCount = 0; }
@while (vCrewAcceptedForAdminDelete.Recordset != null && await vCrewAcceptedForAdminDelete.Recordset.ReadAsync()) { // DN
    vCrewAcceptedForAdminDelete.RecordCount++;
    vCrewAcceptedForAdminDelete.RowCount++;

    // Set row properties
    vCrewAcceptedForAdminDelete.ResetAttributes();
    vCrewAcceptedForAdminDelete.RowType = RowType.View; // View

    // Get the field contents
    await vCrewAcceptedForAdminDelete.LoadRowValues(vCrewAcceptedForAdminDelete.Recordset);

    // Render row
    await vCrewAcceptedForAdminDelete.RenderRow();
    <tr @Html.Raw(vCrewAcceptedForAdminDelete.RowAttributes)>
@if (vCrewAcceptedForAdminDelete.IndividualCodeNumber.Visible) { // vCrewAcceptedForAdminDelete.IndividualCodeNumber.Visible (begin)
        <td @Html.Raw(vCrewAcceptedForAdminDelete.IndividualCodeNumber.CellAttributes)>
<span id="el@(vCrewAcceptedForAdminDelete.RowCount)_v_CrewAcceptedForAdmin_IndividualCodeNumber" class="el_v_CrewAcceptedForAdmin_IndividualCodeNumber">
<span @Html.Raw(vCrewAcceptedForAdminDelete.IndividualCodeNumber.ViewAttributes)>
@Html.Raw(vCrewAcceptedForAdminDelete.IndividualCodeNumber.GetViewValue())</span>
</span></td>
} @* vCrewAcceptedForAdminDelete.IndividualCodeNumber.Visible (end) *@
@if (vCrewAcceptedForAdminDelete.EmployeeStatus.Visible) { // vCrewAcceptedForAdminDelete.EmployeeStatus.Visible (begin)
        <td @Html.Raw(vCrewAcceptedForAdminDelete.EmployeeStatus.CellAttributes)>
<span id="el@(vCrewAcceptedForAdminDelete.RowCount)_v_CrewAcceptedForAdmin_EmployeeStatus" class="el_v_CrewAcceptedForAdmin_EmployeeStatus">
<span @Html.Raw(vCrewAcceptedForAdminDelete.EmployeeStatus.ViewAttributes)>
@Html.Raw(vCrewAcceptedForAdminDelete.EmployeeStatus.GetViewValue())</span>
</span></td>
} @* vCrewAcceptedForAdminDelete.EmployeeStatus.Visible (end) *@
@if (vCrewAcceptedForAdminDelete.FullName.Visible) { // vCrewAcceptedForAdminDelete.FullName.Visible (begin)
        <td @Html.Raw(vCrewAcceptedForAdminDelete.FullName.CellAttributes)>
<span id="el@(vCrewAcceptedForAdminDelete.RowCount)_v_CrewAcceptedForAdmin_FullName" class="el_v_CrewAcceptedForAdmin_FullName">
<span @Html.Raw(vCrewAcceptedForAdminDelete.FullName.ViewAttributes)>
@Html.Raw(vCrewAcceptedForAdminDelete.FullName.GetViewValue())</span>
</span></td>
} @* vCrewAcceptedForAdminDelete.FullName.Visible (end) *@
@if (vCrewAcceptedForAdminDelete.RequiredPhoto.Visible) { // vCrewAcceptedForAdminDelete.RequiredPhoto.Visible (begin)
        <td @Html.Raw(vCrewAcceptedForAdminDelete.RequiredPhoto.CellAttributes)>
<span id="el@(vCrewAcceptedForAdminDelete.RowCount)_v_CrewAcceptedForAdmin_RequiredPhoto" class="el_v_CrewAcceptedForAdmin_RequiredPhoto">
<span @Html.Raw(vCrewAcceptedForAdminDelete.RequiredPhoto.ViewAttributes)><a href="uploads/@ConvertToString(vCrewAcceptedForAdminList.IndividualCodeNumber.GetViewValue())/@ConvertToString(vCrewAcceptedForAdminList.RequiredPhoto.GetViewValue())" target="_blank">Attachment</a>
</span>
</span></td>
} @* vCrewAcceptedForAdminDelete.RequiredPhoto.Visible (end) *@
@if (vCrewAcceptedForAdminDelete.VisaPhoto.Visible) { // vCrewAcceptedForAdminDelete.VisaPhoto.Visible (begin)
        <td @Html.Raw(vCrewAcceptedForAdminDelete.VisaPhoto.CellAttributes)>
<span id="el@(vCrewAcceptedForAdminDelete.RowCount)_v_CrewAcceptedForAdmin_VisaPhoto" class="el_v_CrewAcceptedForAdmin_VisaPhoto">
<span @Html.Raw(vCrewAcceptedForAdminDelete.VisaPhoto.ViewAttributes)><a href="uploads/@ConvertToString(vCrewAcceptedForAdminList.IndividualCodeNumber.GetViewValue())/@ConvertToString(vCrewAcceptedForAdminList.VisaPhoto.GetViewValue())" target="_blank">Attachment</a>
</span>
</span></td>
} @* vCrewAcceptedForAdminDelete.VisaPhoto.Visible (end) *@
@if (vCrewAcceptedForAdminDelete.CityOfBirth.Visible) { // vCrewAcceptedForAdminDelete.CityOfBirth.Visible (begin)
        <td @Html.Raw(vCrewAcceptedForAdminDelete.CityOfBirth.CellAttributes)>
<span id="el@(vCrewAcceptedForAdminDelete.RowCount)_v_CrewAcceptedForAdmin_CityOfBirth" class="el_v_CrewAcceptedForAdmin_CityOfBirth">
<span @Html.Raw(vCrewAcceptedForAdminDelete.CityOfBirth.ViewAttributes)>
@Html.Raw(vCrewAcceptedForAdminDelete.CityOfBirth.GetViewValue())</span>
</span></td>
} @* vCrewAcceptedForAdminDelete.CityOfBirth.Visible (end) *@
@if (vCrewAcceptedForAdminDelete.DateOfBirth.Visible) { // vCrewAcceptedForAdminDelete.DateOfBirth.Visible (begin)
        <td @Html.Raw(vCrewAcceptedForAdminDelete.DateOfBirth.CellAttributes)>
<span id="el@(vCrewAcceptedForAdminDelete.RowCount)_v_CrewAcceptedForAdmin_DateOfBirth" class="el_v_CrewAcceptedForAdmin_DateOfBirth">
<span @Html.Raw(vCrewAcceptedForAdminDelete.DateOfBirth.ViewAttributes)>
@Html.Raw(vCrewAcceptedForAdminDelete.DateOfBirth.GetViewValue())</span>
</span></td>
} @* vCrewAcceptedForAdminDelete.DateOfBirth.Visible (end) *@
@if (vCrewAcceptedForAdminDelete.Gender.Visible) { // vCrewAcceptedForAdminDelete.Gender.Visible (begin)
        <td @Html.Raw(vCrewAcceptedForAdminDelete.Gender.CellAttributes)>
<span id="el@(vCrewAcceptedForAdminDelete.RowCount)_v_CrewAcceptedForAdmin_Gender" class="el_v_CrewAcceptedForAdmin_Gender">
<span @Html.Raw(vCrewAcceptedForAdminDelete.Gender.ViewAttributes)>
@Html.Raw(vCrewAcceptedForAdminDelete.Gender.GetViewValue())</span>
</span></td>
} @* vCrewAcceptedForAdminDelete.Gender.Visible (end) *@
@if (vCrewAcceptedForAdminDelete.RankAppliedFor_RankID.Visible) { // vCrewAcceptedForAdminDelete.RankAppliedFor_RankID.Visible (begin)
        <td @Html.Raw(vCrewAcceptedForAdminDelete.RankAppliedFor_RankID.CellAttributes)>
<span id="el@(vCrewAcceptedForAdminDelete.RowCount)_v_CrewAcceptedForAdmin_RankAppliedFor_RankID" class="el_v_CrewAcceptedForAdmin_RankAppliedFor_RankID">
<span @Html.Raw(vCrewAcceptedForAdminDelete.RankAppliedFor_RankID.ViewAttributes)>
@Html.Raw(vCrewAcceptedForAdminDelete.RankAppliedFor_RankID.GetViewValue())</span>
</span></td>
} @* vCrewAcceptedForAdminDelete.RankAppliedFor_RankID.Visible (end) *@
@if (vCrewAcceptedForAdminDelete.WillAcceptLowRank.Visible) { // vCrewAcceptedForAdminDelete.WillAcceptLowRank.Visible (begin)
        <td @Html.Raw(vCrewAcceptedForAdminDelete.WillAcceptLowRank.CellAttributes)>
<span id="el@(vCrewAcceptedForAdminDelete.RowCount)_v_CrewAcceptedForAdmin_WillAcceptLowRank" class="el_v_CrewAcceptedForAdmin_WillAcceptLowRank">
<span @Html.Raw(vCrewAcceptedForAdminDelete.WillAcceptLowRank.ViewAttributes)>
<div class="form-check d-inline-block">
    <input type="checkbox" id="x_WillAcceptLowRank_@(vCrewAcceptedForAdminDelete.RowCount)" class="form-check-input" value="@(vCrewAcceptedForAdminDelete.WillAcceptLowRank.GetViewValue())" disabled checked="@(ConvertToBool(vCrewAcceptedForAdminDelete.WillAcceptLowRank.CurrentValue))">
    <label class="form-check-label" for="x_WillAcceptLowRank_@(vCrewAcceptedForAdminDelete.RowCount)"></label>
</div></span>
</span></td>
} @* vCrewAcceptedForAdminDelete.WillAcceptLowRank.Visible (end) *@
@if (vCrewAcceptedForAdminDelete.AvailableFrom.Visible) { // vCrewAcceptedForAdminDelete.AvailableFrom.Visible (begin)
        <td @Html.Raw(vCrewAcceptedForAdminDelete.AvailableFrom.CellAttributes)>
<span id="el@(vCrewAcceptedForAdminDelete.RowCount)_v_CrewAcceptedForAdmin_AvailableFrom" class="el_v_CrewAcceptedForAdmin_AvailableFrom">
<span @Html.Raw(vCrewAcceptedForAdminDelete.AvailableFrom.ViewAttributes)>
@Html.Raw(vCrewAcceptedForAdminDelete.AvailableFrom.GetViewValue())</span>
</span></td>
} @* vCrewAcceptedForAdminDelete.AvailableFrom.Visible (end) *@
@if (vCrewAcceptedForAdminDelete.AvailableUntil.Visible) { // vCrewAcceptedForAdminDelete.AvailableUntil.Visible (begin)
        <td @Html.Raw(vCrewAcceptedForAdminDelete.AvailableUntil.CellAttributes)>
<span id="el@(vCrewAcceptedForAdminDelete.RowCount)_v_CrewAcceptedForAdmin_AvailableUntil" class="el_v_CrewAcceptedForAdmin_AvailableUntil">
<span @Html.Raw(vCrewAcceptedForAdminDelete.AvailableUntil.ViewAttributes)>
@Html.Raw(vCrewAcceptedForAdminDelete.AvailableUntil.GetViewValue())</span>
</span></td>
} @* vCrewAcceptedForAdminDelete.AvailableUntil.Visible (end) *@
    </tr>
}
@{ vCrewAcceptedForAdminDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(vCrewAcceptedForAdminDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@vCrewAcceptedForAdminDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
