@{
    // View
    View = this;

    // Check action result
    if (vCrewRejectedForAdminDelete.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!vCrewRejectedForAdminDelete.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(vCrewRejectedForAdminDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { v_CrewRejectedForAdmin: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fv_CrewRejectedForAdmindelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fv_CrewRejectedForAdmindelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@vCrewRejectedForAdminDelete.ShowPageHeader()
@vCrewRejectedForAdminDelete.ShowMessages()
<form name="fv_CrewRejectedForAdmindelete" id="fv_CrewRejectedForAdmindelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in vCrewRejectedForAdminDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(vCrewRejectedForAdminDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(vCrewRejectedForAdminDelete.TableContainerClass)" style="@(vCrewRejectedForAdminDelete.TableContainerStyle)">
<table class="@(vCrewRejectedForAdminDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (vCrewRejectedForAdminDelete.IndividualCodeNumber.Visible) { // vCrewRejectedForAdminDelete.IndividualCodeNumber.Visible (begin)
        <th class="@Html.Raw(vCrewRejectedForAdminDelete.IndividualCodeNumber.HeaderCellClass)"><span id="elh_v_CrewRejectedForAdmin_IndividualCodeNumber" class="v_CrewRejectedForAdmin_IndividualCodeNumber">@Html.Raw(vCrewRejectedForAdminDelete.IndividualCodeNumber.Caption)</span></th>
} @* vCrewRejectedForAdminDelete.IndividualCodeNumber.Visible (end) *@
@if (vCrewRejectedForAdminDelete.EmployeeStatus.Visible) { // vCrewRejectedForAdminDelete.EmployeeStatus.Visible (begin)
        <th class="@Html.Raw(vCrewRejectedForAdminDelete.EmployeeStatus.HeaderCellClass)"><span id="elh_v_CrewRejectedForAdmin_EmployeeStatus" class="v_CrewRejectedForAdmin_EmployeeStatus">@Html.Raw(vCrewRejectedForAdminDelete.EmployeeStatus.Caption)</span></th>
} @* vCrewRejectedForAdminDelete.EmployeeStatus.Visible (end) *@
@if (vCrewRejectedForAdminDelete.FullName.Visible) { // vCrewRejectedForAdminDelete.FullName.Visible (begin)
        <th class="@Html.Raw(vCrewRejectedForAdminDelete.FullName.HeaderCellClass)"><span id="elh_v_CrewRejectedForAdmin_FullName" class="v_CrewRejectedForAdmin_FullName">@Html.Raw(vCrewRejectedForAdminDelete.FullName.Caption)</span></th>
} @* vCrewRejectedForAdminDelete.FullName.Visible (end) *@
@if (vCrewRejectedForAdminDelete.RequiredPhoto.Visible) { // vCrewRejectedForAdminDelete.RequiredPhoto.Visible (begin)
        <th class="@Html.Raw(vCrewRejectedForAdminDelete.RequiredPhoto.HeaderCellClass)"><span id="elh_v_CrewRejectedForAdmin_RequiredPhoto" class="v_CrewRejectedForAdmin_RequiredPhoto">@Html.Raw(vCrewRejectedForAdminDelete.RequiredPhoto.Caption)</span></th>
} @* vCrewRejectedForAdminDelete.RequiredPhoto.Visible (end) *@
@if (vCrewRejectedForAdminDelete.VisaPhoto.Visible) { // vCrewRejectedForAdminDelete.VisaPhoto.Visible (begin)
        <th class="@Html.Raw(vCrewRejectedForAdminDelete.VisaPhoto.HeaderCellClass)"><span id="elh_v_CrewRejectedForAdmin_VisaPhoto" class="v_CrewRejectedForAdmin_VisaPhoto">@Html.Raw(vCrewRejectedForAdminDelete.VisaPhoto.Caption)</span></th>
} @* vCrewRejectedForAdminDelete.VisaPhoto.Visible (end) *@
@if (vCrewRejectedForAdminDelete.CityOfBirth.Visible) { // vCrewRejectedForAdminDelete.CityOfBirth.Visible (begin)
        <th class="@Html.Raw(vCrewRejectedForAdminDelete.CityOfBirth.HeaderCellClass)"><span id="elh_v_CrewRejectedForAdmin_CityOfBirth" class="v_CrewRejectedForAdmin_CityOfBirth">@Html.Raw(vCrewRejectedForAdminDelete.CityOfBirth.Caption)</span></th>
} @* vCrewRejectedForAdminDelete.CityOfBirth.Visible (end) *@
@if (vCrewRejectedForAdminDelete.DateOfBirth.Visible) { // vCrewRejectedForAdminDelete.DateOfBirth.Visible (begin)
        <th class="@Html.Raw(vCrewRejectedForAdminDelete.DateOfBirth.HeaderCellClass)"><span id="elh_v_CrewRejectedForAdmin_DateOfBirth" class="v_CrewRejectedForAdmin_DateOfBirth">@Html.Raw(vCrewRejectedForAdminDelete.DateOfBirth.Caption)</span></th>
} @* vCrewRejectedForAdminDelete.DateOfBirth.Visible (end) *@
@if (vCrewRejectedForAdminDelete.Gender.Visible) { // vCrewRejectedForAdminDelete.Gender.Visible (begin)
        <th class="@Html.Raw(vCrewRejectedForAdminDelete.Gender.HeaderCellClass)"><span id="elh_v_CrewRejectedForAdmin_Gender" class="v_CrewRejectedForAdmin_Gender">@Html.Raw(vCrewRejectedForAdminDelete.Gender.Caption)</span></th>
} @* vCrewRejectedForAdminDelete.Gender.Visible (end) *@
@if (vCrewRejectedForAdminDelete.RankAppliedFor_RankID.Visible) { // vCrewRejectedForAdminDelete.RankAppliedFor_RankID.Visible (begin)
        <th class="@Html.Raw(vCrewRejectedForAdminDelete.RankAppliedFor_RankID.HeaderCellClass)"><span id="elh_v_CrewRejectedForAdmin_RankAppliedFor_RankID" class="v_CrewRejectedForAdmin_RankAppliedFor_RankID">@Html.Raw(vCrewRejectedForAdminDelete.RankAppliedFor_RankID.Caption)</span></th>
} @* vCrewRejectedForAdminDelete.RankAppliedFor_RankID.Visible (end) *@
@if (vCrewRejectedForAdminDelete.WillAcceptLowRank.Visible) { // vCrewRejectedForAdminDelete.WillAcceptLowRank.Visible (begin)
        <th class="@Html.Raw(vCrewRejectedForAdminDelete.WillAcceptLowRank.HeaderCellClass)"><span id="elh_v_CrewRejectedForAdmin_WillAcceptLowRank" class="v_CrewRejectedForAdmin_WillAcceptLowRank">@Html.Raw(vCrewRejectedForAdminDelete.WillAcceptLowRank.Caption)</span></th>
} @* vCrewRejectedForAdminDelete.WillAcceptLowRank.Visible (end) *@
@if (vCrewRejectedForAdminDelete.AvailableFrom.Visible) { // vCrewRejectedForAdminDelete.AvailableFrom.Visible (begin)
        <th class="@Html.Raw(vCrewRejectedForAdminDelete.AvailableFrom.HeaderCellClass)"><span id="elh_v_CrewRejectedForAdmin_AvailableFrom" class="v_CrewRejectedForAdmin_AvailableFrom">@Html.Raw(vCrewRejectedForAdminDelete.AvailableFrom.Caption)</span></th>
} @* vCrewRejectedForAdminDelete.AvailableFrom.Visible (end) *@
@if (vCrewRejectedForAdminDelete.AvailableUntil.Visible) { // vCrewRejectedForAdminDelete.AvailableUntil.Visible (begin)
        <th class="@Html.Raw(vCrewRejectedForAdminDelete.AvailableUntil.HeaderCellClass)"><span id="elh_v_CrewRejectedForAdmin_AvailableUntil" class="v_CrewRejectedForAdmin_AvailableUntil">@Html.Raw(vCrewRejectedForAdminDelete.AvailableUntil.Caption)</span></th>
} @* vCrewRejectedForAdminDelete.AvailableUntil.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ vCrewRejectedForAdminDelete.RecordCount = 0; }
@while (vCrewRejectedForAdminDelete.Recordset != null && await vCrewRejectedForAdminDelete.Recordset.ReadAsync()) { // DN
    vCrewRejectedForAdminDelete.RecordCount++;
    vCrewRejectedForAdminDelete.RowCount++;

    // Set row properties
    vCrewRejectedForAdminDelete.ResetAttributes();
    vCrewRejectedForAdminDelete.RowType = RowType.View; // View

    // Get the field contents
    await vCrewRejectedForAdminDelete.LoadRowValues(vCrewRejectedForAdminDelete.Recordset);

    // Render row
    await vCrewRejectedForAdminDelete.RenderRow();
    <tr @Html.Raw(vCrewRejectedForAdminDelete.RowAttributes)>
@if (vCrewRejectedForAdminDelete.IndividualCodeNumber.Visible) { // vCrewRejectedForAdminDelete.IndividualCodeNumber.Visible (begin)
        <td @Html.Raw(vCrewRejectedForAdminDelete.IndividualCodeNumber.CellAttributes)>
<span id="el@(vCrewRejectedForAdminDelete.RowCount)_v_CrewRejectedForAdmin_IndividualCodeNumber" class="el_v_CrewRejectedForAdmin_IndividualCodeNumber">
<span @Html.Raw(vCrewRejectedForAdminDelete.IndividualCodeNumber.ViewAttributes)>
@Html.Raw(vCrewRejectedForAdminDelete.IndividualCodeNumber.GetViewValue())</span>
</span></td>
} @* vCrewRejectedForAdminDelete.IndividualCodeNumber.Visible (end) *@
@if (vCrewRejectedForAdminDelete.EmployeeStatus.Visible) { // vCrewRejectedForAdminDelete.EmployeeStatus.Visible (begin)
        <td @Html.Raw(vCrewRejectedForAdminDelete.EmployeeStatus.CellAttributes)>
<span id="el@(vCrewRejectedForAdminDelete.RowCount)_v_CrewRejectedForAdmin_EmployeeStatus" class="el_v_CrewRejectedForAdmin_EmployeeStatus">
<span @Html.Raw(vCrewRejectedForAdminDelete.EmployeeStatus.ViewAttributes)>
@Html.Raw(vCrewRejectedForAdminDelete.EmployeeStatus.GetViewValue())</span>
</span></td>
} @* vCrewRejectedForAdminDelete.EmployeeStatus.Visible (end) *@
@if (vCrewRejectedForAdminDelete.FullName.Visible) { // vCrewRejectedForAdminDelete.FullName.Visible (begin)
        <td @Html.Raw(vCrewRejectedForAdminDelete.FullName.CellAttributes)>
<span id="el@(vCrewRejectedForAdminDelete.RowCount)_v_CrewRejectedForAdmin_FullName" class="el_v_CrewRejectedForAdmin_FullName">
<span @Html.Raw(vCrewRejectedForAdminDelete.FullName.ViewAttributes)>
@Html.Raw(vCrewRejectedForAdminDelete.FullName.GetViewValue())</span>
</span></td>
} @* vCrewRejectedForAdminDelete.FullName.Visible (end) *@
@if (vCrewRejectedForAdminDelete.RequiredPhoto.Visible) { // vCrewRejectedForAdminDelete.RequiredPhoto.Visible (begin)
        <td @Html.Raw(vCrewRejectedForAdminDelete.RequiredPhoto.CellAttributes)>
<span id="el@(vCrewRejectedForAdminDelete.RowCount)_v_CrewRejectedForAdmin_RequiredPhoto" class="el_v_CrewRejectedForAdmin_RequiredPhoto">
<span @Html.Raw(vCrewRejectedForAdminDelete.RequiredPhoto.ViewAttributes)><a href="uploads/@ConvertToString(vCrewRejectedForAdminList.IndividualCodeNumber.GetViewValue())/@ConvertToString(vCrewRejectedForAdminList.RequiredPhoto.GetViewValue())" target="_blank">Attachment</a>
</span>
</span></td>
} @* vCrewRejectedForAdminDelete.RequiredPhoto.Visible (end) *@
@if (vCrewRejectedForAdminDelete.VisaPhoto.Visible) { // vCrewRejectedForAdminDelete.VisaPhoto.Visible (begin)
        <td @Html.Raw(vCrewRejectedForAdminDelete.VisaPhoto.CellAttributes)>
<span id="el@(vCrewRejectedForAdminDelete.RowCount)_v_CrewRejectedForAdmin_VisaPhoto" class="el_v_CrewRejectedForAdmin_VisaPhoto">
<span @Html.Raw(vCrewRejectedForAdminDelete.VisaPhoto.ViewAttributes)><a href="uploads/@ConvertToString(vCrewRejectedForAdminList.IndividualCodeNumber.GetViewValue())/@ConvertToString(vCrewRejectedForAdminList.VisaPhoto.GetViewValue())" target="_blank">Attachment</a>
</span>
</span></td>
} @* vCrewRejectedForAdminDelete.VisaPhoto.Visible (end) *@
@if (vCrewRejectedForAdminDelete.CityOfBirth.Visible) { // vCrewRejectedForAdminDelete.CityOfBirth.Visible (begin)
        <td @Html.Raw(vCrewRejectedForAdminDelete.CityOfBirth.CellAttributes)>
<span id="el@(vCrewRejectedForAdminDelete.RowCount)_v_CrewRejectedForAdmin_CityOfBirth" class="el_v_CrewRejectedForAdmin_CityOfBirth">
<span @Html.Raw(vCrewRejectedForAdminDelete.CityOfBirth.ViewAttributes)>
@Html.Raw(vCrewRejectedForAdminDelete.CityOfBirth.GetViewValue())</span>
</span></td>
} @* vCrewRejectedForAdminDelete.CityOfBirth.Visible (end) *@
@if (vCrewRejectedForAdminDelete.DateOfBirth.Visible) { // vCrewRejectedForAdminDelete.DateOfBirth.Visible (begin)
        <td @Html.Raw(vCrewRejectedForAdminDelete.DateOfBirth.CellAttributes)>
<span id="el@(vCrewRejectedForAdminDelete.RowCount)_v_CrewRejectedForAdmin_DateOfBirth" class="el_v_CrewRejectedForAdmin_DateOfBirth">
<span @Html.Raw(vCrewRejectedForAdminDelete.DateOfBirth.ViewAttributes)>
@Html.Raw(vCrewRejectedForAdminDelete.DateOfBirth.GetViewValue())</span>
</span></td>
} @* vCrewRejectedForAdminDelete.DateOfBirth.Visible (end) *@
@if (vCrewRejectedForAdminDelete.Gender.Visible) { // vCrewRejectedForAdminDelete.Gender.Visible (begin)
        <td @Html.Raw(vCrewRejectedForAdminDelete.Gender.CellAttributes)>
<span id="el@(vCrewRejectedForAdminDelete.RowCount)_v_CrewRejectedForAdmin_Gender" class="el_v_CrewRejectedForAdmin_Gender">
<span @Html.Raw(vCrewRejectedForAdminDelete.Gender.ViewAttributes)>
@Html.Raw(vCrewRejectedForAdminDelete.Gender.GetViewValue())</span>
</span></td>
} @* vCrewRejectedForAdminDelete.Gender.Visible (end) *@
@if (vCrewRejectedForAdminDelete.RankAppliedFor_RankID.Visible) { // vCrewRejectedForAdminDelete.RankAppliedFor_RankID.Visible (begin)
        <td @Html.Raw(vCrewRejectedForAdminDelete.RankAppliedFor_RankID.CellAttributes)>
<span id="el@(vCrewRejectedForAdminDelete.RowCount)_v_CrewRejectedForAdmin_RankAppliedFor_RankID" class="el_v_CrewRejectedForAdmin_RankAppliedFor_RankID">
<span @Html.Raw(vCrewRejectedForAdminDelete.RankAppliedFor_RankID.ViewAttributes)>
@Html.Raw(vCrewRejectedForAdminDelete.RankAppliedFor_RankID.GetViewValue())</span>
</span></td>
} @* vCrewRejectedForAdminDelete.RankAppliedFor_RankID.Visible (end) *@
@if (vCrewRejectedForAdminDelete.WillAcceptLowRank.Visible) { // vCrewRejectedForAdminDelete.WillAcceptLowRank.Visible (begin)
        <td @Html.Raw(vCrewRejectedForAdminDelete.WillAcceptLowRank.CellAttributes)>
<span id="el@(vCrewRejectedForAdminDelete.RowCount)_v_CrewRejectedForAdmin_WillAcceptLowRank" class="el_v_CrewRejectedForAdmin_WillAcceptLowRank">
<span @Html.Raw(vCrewRejectedForAdminDelete.WillAcceptLowRank.ViewAttributes)>
<div class="form-check d-inline-block">
    <input type="checkbox" id="x_WillAcceptLowRank_@(vCrewRejectedForAdminDelete.RowCount)" class="form-check-input" value="@(vCrewRejectedForAdminDelete.WillAcceptLowRank.GetViewValue())" disabled checked="@(ConvertToBool(vCrewRejectedForAdminDelete.WillAcceptLowRank.CurrentValue))">
    <label class="form-check-label" for="x_WillAcceptLowRank_@(vCrewRejectedForAdminDelete.RowCount)"></label>
</div></span>
</span></td>
} @* vCrewRejectedForAdminDelete.WillAcceptLowRank.Visible (end) *@
@if (vCrewRejectedForAdminDelete.AvailableFrom.Visible) { // vCrewRejectedForAdminDelete.AvailableFrom.Visible (begin)
        <td @Html.Raw(vCrewRejectedForAdminDelete.AvailableFrom.CellAttributes)>
<span id="el@(vCrewRejectedForAdminDelete.RowCount)_v_CrewRejectedForAdmin_AvailableFrom" class="el_v_CrewRejectedForAdmin_AvailableFrom">
<span @Html.Raw(vCrewRejectedForAdminDelete.AvailableFrom.ViewAttributes)>
@Html.Raw(vCrewRejectedForAdminDelete.AvailableFrom.GetViewValue())</span>
</span></td>
} @* vCrewRejectedForAdminDelete.AvailableFrom.Visible (end) *@
@if (vCrewRejectedForAdminDelete.AvailableUntil.Visible) { // vCrewRejectedForAdminDelete.AvailableUntil.Visible (begin)
        <td @Html.Raw(vCrewRejectedForAdminDelete.AvailableUntil.CellAttributes)>
<span id="el@(vCrewRejectedForAdminDelete.RowCount)_v_CrewRejectedForAdmin_AvailableUntil" class="el_v_CrewRejectedForAdmin_AvailableUntil">
<span @Html.Raw(vCrewRejectedForAdminDelete.AvailableUntil.ViewAttributes)>
@Html.Raw(vCrewRejectedForAdminDelete.AvailableUntil.GetViewValue())</span>
</span></td>
} @* vCrewRejectedForAdminDelete.AvailableUntil.Visible (end) *@
    </tr>
}
@{ vCrewRejectedForAdminDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(vCrewRejectedForAdminDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@vCrewRejectedForAdminDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
