@{
    // View
    View = this;

    // Check action result
    if (vCrewBlacklistForAdminView.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!vCrewBlacklistForAdminView.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
@if (!vCrewBlacklistForAdminView.IsExport()) {
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!vCrewBlacklistForAdminView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @vCrewBlacklistForAdminView.ExportOptions.RenderBody()
    @vCrewBlacklistForAdminView.OtherOptions.RenderBody()
</div>
}
@vCrewBlacklistForAdminView.ShowPageHeader()
@vCrewBlacklistForAdminView.ShowMessages()
<main class="view">
<form name="fv_CrewBlacklistForAdminview" id="fv_CrewBlacklistForAdminview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (!vCrewBlacklistForAdminView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(vCrewBlacklistForAdminView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { v_CrewBlacklistForAdmin: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fv_CrewBlacklistForAdminview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fv_CrewBlacklistForAdminview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
}
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(vCrewBlacklistForAdminView.IsModal)">
<table class="@(vCrewBlacklistForAdminView.TableClass)">
@if (vCrewBlacklistForAdminView.IndividualCodeNumber.Visible) { // vCrewBlacklistForAdminView.IndividualCodeNumber.Visible (begin)
    <tr id="r_IndividualCodeNumber" @Html.Raw(vCrewBlacklistForAdminView.IndividualCodeNumber.RowAttributes)>
        <td class="@(vCrewBlacklistForAdminView.TableLeftColumnClass)"><span id="elh_v_CrewBlacklistForAdmin_IndividualCodeNumber">@Html.Raw(vCrewBlacklistForAdminView.IndividualCodeNumber.Caption)</span></td>
        <td data-name="IndividualCodeNumber" @Html.Raw(vCrewBlacklistForAdminView.IndividualCodeNumber.CellAttributes)>
<span id="el_v_CrewBlacklistForAdmin_IndividualCodeNumber">
<span @Html.Raw(vCrewBlacklistForAdminView.IndividualCodeNumber.ViewAttributes)>
@Html.Raw(vCrewBlacklistForAdminView.IndividualCodeNumber.GetViewValue())</span>
</span></td>
    </tr>
} @* vCrewBlacklistForAdminView.IndividualCodeNumber.Visible (end) *@
@if (vCrewBlacklistForAdminView.FullName.Visible) { // vCrewBlacklistForAdminView.FullName.Visible (begin)
    <tr id="r_FullName" @Html.Raw(vCrewBlacklistForAdminView.FullName.RowAttributes)>
        <td class="@(vCrewBlacklistForAdminView.TableLeftColumnClass)"><span id="elh_v_CrewBlacklistForAdmin_FullName">@Html.Raw(vCrewBlacklistForAdminView.FullName.Caption)</span></td>
        <td data-name="FullName" @Html.Raw(vCrewBlacklistForAdminView.FullName.CellAttributes)>
<span id="el_v_CrewBlacklistForAdmin_FullName">
<span @Html.Raw(vCrewBlacklistForAdminView.FullName.ViewAttributes)>
@Html.Raw(vCrewBlacklistForAdminView.FullName.GetViewValue())</span>
</span></td>
    </tr>
} @* vCrewBlacklistForAdminView.FullName.Visible (end) *@
@if (vCrewBlacklistForAdminView.RequiredPhoto.Visible) { // vCrewBlacklistForAdminView.RequiredPhoto.Visible (begin)
    <tr id="r_RequiredPhoto" @Html.Raw(vCrewBlacklistForAdminView.RequiredPhoto.RowAttributes)>
        <td class="@(vCrewBlacklistForAdminView.TableLeftColumnClass)"><span id="elh_v_CrewBlacklistForAdmin_RequiredPhoto">@Html.Raw(vCrewBlacklistForAdminView.RequiredPhoto.Caption)</span></td>
        <td data-name="RequiredPhoto" @Html.Raw(vCrewBlacklistForAdminView.RequiredPhoto.CellAttributes)>
<span id="el_v_CrewBlacklistForAdmin_RequiredPhoto">
<span @Html.Raw(vCrewBlacklistForAdminView.RequiredPhoto.ViewAttributes)><a href="uploads/@ConvertToString(vCrewBlacklistForAdminList.IndividualCodeNumber.GetViewValue())/@ConvertToString(vCrewBlacklistForAdminList.RequiredPhoto.GetViewValue())" target="_blank">Attachment</a>
</span>
</span></td>
    </tr>
} @* vCrewBlacklistForAdminView.RequiredPhoto.Visible (end) *@
@if (vCrewBlacklistForAdminView.VisaPhoto.Visible) { // vCrewBlacklistForAdminView.VisaPhoto.Visible (begin)
    <tr id="r_VisaPhoto" @Html.Raw(vCrewBlacklistForAdminView.VisaPhoto.RowAttributes)>
        <td class="@(vCrewBlacklistForAdminView.TableLeftColumnClass)"><span id="elh_v_CrewBlacklistForAdmin_VisaPhoto">@Html.Raw(vCrewBlacklistForAdminView.VisaPhoto.Caption)</span></td>
        <td data-name="VisaPhoto" @Html.Raw(vCrewBlacklistForAdminView.VisaPhoto.CellAttributes)>
<span id="el_v_CrewBlacklistForAdmin_VisaPhoto">
<span @Html.Raw(vCrewBlacklistForAdminView.VisaPhoto.ViewAttributes)><a href="uploads/@ConvertToString(vCrewBlacklistForAdminList.IndividualCodeNumber.GetViewValue())/@ConvertToString(vCrewBlacklistForAdminList.VisaPhoto.GetViewValue())" target="_blank">Attachment</a>
</span>
</span></td>
    </tr>
} @* vCrewBlacklistForAdminView.VisaPhoto.Visible (end) *@
@if (vCrewBlacklistForAdminView.CityOfBirth.Visible) { // vCrewBlacklistForAdminView.CityOfBirth.Visible (begin)
    <tr id="r_CityOfBirth" @Html.Raw(vCrewBlacklistForAdminView.CityOfBirth.RowAttributes)>
        <td class="@(vCrewBlacklistForAdminView.TableLeftColumnClass)"><span id="elh_v_CrewBlacklistForAdmin_CityOfBirth">@Html.Raw(vCrewBlacklistForAdminView.CityOfBirth.Caption)</span></td>
        <td data-name="CityOfBirth" @Html.Raw(vCrewBlacklistForAdminView.CityOfBirth.CellAttributes)>
<span id="el_v_CrewBlacklistForAdmin_CityOfBirth">
<span @Html.Raw(vCrewBlacklistForAdminView.CityOfBirth.ViewAttributes)>
@Html.Raw(vCrewBlacklistForAdminView.CityOfBirth.GetViewValue())</span>
</span></td>
    </tr>
} @* vCrewBlacklistForAdminView.CityOfBirth.Visible (end) *@
@if (vCrewBlacklistForAdminView.DateOfBirth.Visible) { // vCrewBlacklistForAdminView.DateOfBirth.Visible (begin)
    <tr id="r_DateOfBirth" @Html.Raw(vCrewBlacklistForAdminView.DateOfBirth.RowAttributes)>
        <td class="@(vCrewBlacklistForAdminView.TableLeftColumnClass)"><span id="elh_v_CrewBlacklistForAdmin_DateOfBirth">@Html.Raw(vCrewBlacklistForAdminView.DateOfBirth.Caption)</span></td>
        <td data-name="DateOfBirth" @Html.Raw(vCrewBlacklistForAdminView.DateOfBirth.CellAttributes)>
<span id="el_v_CrewBlacklistForAdmin_DateOfBirth">
<span @Html.Raw(vCrewBlacklistForAdminView.DateOfBirth.ViewAttributes)>
@Html.Raw(vCrewBlacklistForAdminView.DateOfBirth.GetViewValue())</span>
</span></td>
    </tr>
} @* vCrewBlacklistForAdminView.DateOfBirth.Visible (end) *@
@if (vCrewBlacklistForAdminView.Gender.Visible) { // vCrewBlacklistForAdminView.Gender.Visible (begin)
    <tr id="r_Gender" @Html.Raw(vCrewBlacklistForAdminView.Gender.RowAttributes)>
        <td class="@(vCrewBlacklistForAdminView.TableLeftColumnClass)"><span id="elh_v_CrewBlacklistForAdmin_Gender">@Html.Raw(vCrewBlacklistForAdminView.Gender.Caption)</span></td>
        <td data-name="Gender" @Html.Raw(vCrewBlacklistForAdminView.Gender.CellAttributes)>
<span id="el_v_CrewBlacklistForAdmin_Gender">
<span @Html.Raw(vCrewBlacklistForAdminView.Gender.ViewAttributes)>
@Html.Raw(vCrewBlacklistForAdminView.Gender.GetViewValue())</span>
</span></td>
    </tr>
} @* vCrewBlacklistForAdminView.Gender.Visible (end) *@
@if (vCrewBlacklistForAdminView.RankAppliedFor_RankID.Visible) { // vCrewBlacklistForAdminView.RankAppliedFor_RankID.Visible (begin)
    <tr id="r_RankAppliedFor_RankID" @Html.Raw(vCrewBlacklistForAdminView.RankAppliedFor_RankID.RowAttributes)>
        <td class="@(vCrewBlacklistForAdminView.TableLeftColumnClass)"><span id="elh_v_CrewBlacklistForAdmin_RankAppliedFor_RankID">@Html.Raw(vCrewBlacklistForAdminView.RankAppliedFor_RankID.Caption)</span></td>
        <td data-name="RankAppliedFor_RankID" @Html.Raw(vCrewBlacklistForAdminView.RankAppliedFor_RankID.CellAttributes)>
<span id="el_v_CrewBlacklistForAdmin_RankAppliedFor_RankID">
<span @Html.Raw(vCrewBlacklistForAdminView.RankAppliedFor_RankID.ViewAttributes)>
@Html.Raw(vCrewBlacklistForAdminView.RankAppliedFor_RankID.GetViewValue())</span>
</span></td>
    </tr>
} @* vCrewBlacklistForAdminView.RankAppliedFor_RankID.Visible (end) *@
@if (vCrewBlacklistForAdminView.WillAcceptLowRank.Visible) { // vCrewBlacklistForAdminView.WillAcceptLowRank.Visible (begin)
    <tr id="r_WillAcceptLowRank" @Html.Raw(vCrewBlacklistForAdminView.WillAcceptLowRank.RowAttributes)>
        <td class="@(vCrewBlacklistForAdminView.TableLeftColumnClass)"><span id="elh_v_CrewBlacklistForAdmin_WillAcceptLowRank">@Html.Raw(vCrewBlacklistForAdminView.WillAcceptLowRank.Caption)</span></td>
        <td data-name="WillAcceptLowRank" @Html.Raw(vCrewBlacklistForAdminView.WillAcceptLowRank.CellAttributes)>
<span id="el_v_CrewBlacklistForAdmin_WillAcceptLowRank">
<span @Html.Raw(vCrewBlacklistForAdminView.WillAcceptLowRank.ViewAttributes)>
<div class="form-check d-inline-block">
    <input type="checkbox" id="x_WillAcceptLowRank_@(vCrewBlacklistForAdminView.RowCount)" class="form-check-input" value="@(vCrewBlacklistForAdminView.WillAcceptLowRank.GetViewValue())" disabled checked="@(ConvertToBool(vCrewBlacklistForAdminView.WillAcceptLowRank.CurrentValue))">
    <label class="form-check-label" for="x_WillAcceptLowRank_@(vCrewBlacklistForAdminView.RowCount)"></label>
</div></span>
</span></td>
    </tr>
} @* vCrewBlacklistForAdminView.WillAcceptLowRank.Visible (end) *@
@if (vCrewBlacklistForAdminView.AvailableFrom.Visible) { // vCrewBlacklistForAdminView.AvailableFrom.Visible (begin)
    <tr id="r_AvailableFrom" @Html.Raw(vCrewBlacklistForAdminView.AvailableFrom.RowAttributes)>
        <td class="@(vCrewBlacklistForAdminView.TableLeftColumnClass)"><span id="elh_v_CrewBlacklistForAdmin_AvailableFrom">@Html.Raw(vCrewBlacklistForAdminView.AvailableFrom.Caption)</span></td>
        <td data-name="AvailableFrom" @Html.Raw(vCrewBlacklistForAdminView.AvailableFrom.CellAttributes)>
<span id="el_v_CrewBlacklistForAdmin_AvailableFrom">
<span @Html.Raw(vCrewBlacklistForAdminView.AvailableFrom.ViewAttributes)>
@Html.Raw(vCrewBlacklistForAdminView.AvailableFrom.GetViewValue())</span>
</span></td>
    </tr>
} @* vCrewBlacklistForAdminView.AvailableFrom.Visible (end) *@
@if (vCrewBlacklistForAdminView.AvailableUntil.Visible) { // vCrewBlacklistForAdminView.AvailableUntil.Visible (begin)
    <tr id="r_AvailableUntil" @Html.Raw(vCrewBlacklistForAdminView.AvailableUntil.RowAttributes)>
        <td class="@(vCrewBlacklistForAdminView.TableLeftColumnClass)"><span id="elh_v_CrewBlacklistForAdmin_AvailableUntil">@Html.Raw(vCrewBlacklistForAdminView.AvailableUntil.Caption)</span></td>
        <td data-name="AvailableUntil" @Html.Raw(vCrewBlacklistForAdminView.AvailableUntil.CellAttributes)>
<span id="el_v_CrewBlacklistForAdmin_AvailableUntil">
<span @Html.Raw(vCrewBlacklistForAdminView.AvailableUntil.ViewAttributes)>
@Html.Raw(vCrewBlacklistForAdminView.AvailableUntil.GetViewValue())</span>
</span></td>
    </tr>
} @* vCrewBlacklistForAdminView.AvailableUntil.Visible (end) *@
@if (vCrewBlacklistForAdminView.EmployeeStatus.Visible) { // vCrewBlacklistForAdminView.EmployeeStatus.Visible (begin)
    <tr id="r_EmployeeStatus" @Html.Raw(vCrewBlacklistForAdminView.EmployeeStatus.RowAttributes)>
        <td class="@(vCrewBlacklistForAdminView.TableLeftColumnClass)"><span id="elh_v_CrewBlacklistForAdmin_EmployeeStatus">@Html.Raw(vCrewBlacklistForAdminView.EmployeeStatus.Caption)</span></td>
        <td data-name="EmployeeStatus" @Html.Raw(vCrewBlacklistForAdminView.EmployeeStatus.CellAttributes)>
<span id="el_v_CrewBlacklistForAdmin_EmployeeStatus">
<span @Html.Raw(vCrewBlacklistForAdminView.EmployeeStatus.ViewAttributes)>
@Html.Raw(vCrewBlacklistForAdminView.EmployeeStatus.GetViewValue())</span>
</span></td>
    </tr>
} @* vCrewBlacklistForAdminView.EmployeeStatus.Visible (end) *@
</table>
@{ vCrewBlacklistForAdminView.CloseRecordset(); }
</form>
</main>
@vCrewBlacklistForAdminView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!vCrewBlacklistForAdminView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
