@{
    // View
    View = this;

    // Check action result
    if (vCrewBlacklistForAdminDelete.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!vCrewBlacklistForAdminDelete.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(vCrewBlacklistForAdminDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { v_CrewBlacklistForAdmin: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fv_CrewBlacklistForAdmindelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fv_CrewBlacklistForAdmindelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@vCrewBlacklistForAdminDelete.ShowPageHeader()
@vCrewBlacklistForAdminDelete.ShowMessages()
<form name="fv_CrewBlacklistForAdmindelete" id="fv_CrewBlacklistForAdmindelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in vCrewBlacklistForAdminDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(vCrewBlacklistForAdminDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(vCrewBlacklistForAdminDelete.TableContainerClass)" style="@(vCrewBlacklistForAdminDelete.TableContainerStyle)">
<table class="@(vCrewBlacklistForAdminDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (vCrewBlacklistForAdminDelete.IndividualCodeNumber.Visible) { // vCrewBlacklistForAdminDelete.IndividualCodeNumber.Visible (begin)
        <th class="@Html.Raw(vCrewBlacklistForAdminDelete.IndividualCodeNumber.HeaderCellClass)"><span id="elh_v_CrewBlacklistForAdmin_IndividualCodeNumber" class="v_CrewBlacklistForAdmin_IndividualCodeNumber">@Html.Raw(vCrewBlacklistForAdminDelete.IndividualCodeNumber.Caption)</span></th>
} @* vCrewBlacklistForAdminDelete.IndividualCodeNumber.Visible (end) *@
@if (vCrewBlacklistForAdminDelete.FullName.Visible) { // vCrewBlacklistForAdminDelete.FullName.Visible (begin)
        <th class="@Html.Raw(vCrewBlacklistForAdminDelete.FullName.HeaderCellClass)"><span id="elh_v_CrewBlacklistForAdmin_FullName" class="v_CrewBlacklistForAdmin_FullName">@Html.Raw(vCrewBlacklistForAdminDelete.FullName.Caption)</span></th>
} @* vCrewBlacklistForAdminDelete.FullName.Visible (end) *@
@if (vCrewBlacklistForAdminDelete.RequiredPhoto.Visible) { // vCrewBlacklistForAdminDelete.RequiredPhoto.Visible (begin)
        <th class="@Html.Raw(vCrewBlacklistForAdminDelete.RequiredPhoto.HeaderCellClass)"><span id="elh_v_CrewBlacklistForAdmin_RequiredPhoto" class="v_CrewBlacklistForAdmin_RequiredPhoto">@Html.Raw(vCrewBlacklistForAdminDelete.RequiredPhoto.Caption)</span></th>
} @* vCrewBlacklistForAdminDelete.RequiredPhoto.Visible (end) *@
@if (vCrewBlacklistForAdminDelete.VisaPhoto.Visible) { // vCrewBlacklistForAdminDelete.VisaPhoto.Visible (begin)
        <th class="@Html.Raw(vCrewBlacklistForAdminDelete.VisaPhoto.HeaderCellClass)"><span id="elh_v_CrewBlacklistForAdmin_VisaPhoto" class="v_CrewBlacklistForAdmin_VisaPhoto">@Html.Raw(vCrewBlacklistForAdminDelete.VisaPhoto.Caption)</span></th>
} @* vCrewBlacklistForAdminDelete.VisaPhoto.Visible (end) *@
@if (vCrewBlacklistForAdminDelete.CityOfBirth.Visible) { // vCrewBlacklistForAdminDelete.CityOfBirth.Visible (begin)
        <th class="@Html.Raw(vCrewBlacklistForAdminDelete.CityOfBirth.HeaderCellClass)"><span id="elh_v_CrewBlacklistForAdmin_CityOfBirth" class="v_CrewBlacklistForAdmin_CityOfBirth">@Html.Raw(vCrewBlacklistForAdminDelete.CityOfBirth.Caption)</span></th>
} @* vCrewBlacklistForAdminDelete.CityOfBirth.Visible (end) *@
@if (vCrewBlacklistForAdminDelete.DateOfBirth.Visible) { // vCrewBlacklistForAdminDelete.DateOfBirth.Visible (begin)
        <th class="@Html.Raw(vCrewBlacklistForAdminDelete.DateOfBirth.HeaderCellClass)"><span id="elh_v_CrewBlacklistForAdmin_DateOfBirth" class="v_CrewBlacklistForAdmin_DateOfBirth">@Html.Raw(vCrewBlacklistForAdminDelete.DateOfBirth.Caption)</span></th>
} @* vCrewBlacklistForAdminDelete.DateOfBirth.Visible (end) *@
@if (vCrewBlacklistForAdminDelete.Gender.Visible) { // vCrewBlacklistForAdminDelete.Gender.Visible (begin)
        <th class="@Html.Raw(vCrewBlacklistForAdminDelete.Gender.HeaderCellClass)"><span id="elh_v_CrewBlacklistForAdmin_Gender" class="v_CrewBlacklistForAdmin_Gender">@Html.Raw(vCrewBlacklistForAdminDelete.Gender.Caption)</span></th>
} @* vCrewBlacklistForAdminDelete.Gender.Visible (end) *@
@if (vCrewBlacklistForAdminDelete.RankAppliedFor_RankID.Visible) { // vCrewBlacklistForAdminDelete.RankAppliedFor_RankID.Visible (begin)
        <th class="@Html.Raw(vCrewBlacklistForAdminDelete.RankAppliedFor_RankID.HeaderCellClass)"><span id="elh_v_CrewBlacklistForAdmin_RankAppliedFor_RankID" class="v_CrewBlacklistForAdmin_RankAppliedFor_RankID">@Html.Raw(vCrewBlacklistForAdminDelete.RankAppliedFor_RankID.Caption)</span></th>
} @* vCrewBlacklistForAdminDelete.RankAppliedFor_RankID.Visible (end) *@
@if (vCrewBlacklistForAdminDelete.WillAcceptLowRank.Visible) { // vCrewBlacklistForAdminDelete.WillAcceptLowRank.Visible (begin)
        <th class="@Html.Raw(vCrewBlacklistForAdminDelete.WillAcceptLowRank.HeaderCellClass)"><span id="elh_v_CrewBlacklistForAdmin_WillAcceptLowRank" class="v_CrewBlacklistForAdmin_WillAcceptLowRank">@Html.Raw(vCrewBlacklistForAdminDelete.WillAcceptLowRank.Caption)</span></th>
} @* vCrewBlacklistForAdminDelete.WillAcceptLowRank.Visible (end) *@
@if (vCrewBlacklistForAdminDelete.AvailableFrom.Visible) { // vCrewBlacklistForAdminDelete.AvailableFrom.Visible (begin)
        <th class="@Html.Raw(vCrewBlacklistForAdminDelete.AvailableFrom.HeaderCellClass)"><span id="elh_v_CrewBlacklistForAdmin_AvailableFrom" class="v_CrewBlacklistForAdmin_AvailableFrom">@Html.Raw(vCrewBlacklistForAdminDelete.AvailableFrom.Caption)</span></th>
} @* vCrewBlacklistForAdminDelete.AvailableFrom.Visible (end) *@
@if (vCrewBlacklistForAdminDelete.AvailableUntil.Visible) { // vCrewBlacklistForAdminDelete.AvailableUntil.Visible (begin)
        <th class="@Html.Raw(vCrewBlacklistForAdminDelete.AvailableUntil.HeaderCellClass)"><span id="elh_v_CrewBlacklistForAdmin_AvailableUntil" class="v_CrewBlacklistForAdmin_AvailableUntil">@Html.Raw(vCrewBlacklistForAdminDelete.AvailableUntil.Caption)</span></th>
} @* vCrewBlacklistForAdminDelete.AvailableUntil.Visible (end) *@
@if (vCrewBlacklistForAdminDelete.EmployeeStatus.Visible) { // vCrewBlacklistForAdminDelete.EmployeeStatus.Visible (begin)
        <th class="@Html.Raw(vCrewBlacklistForAdminDelete.EmployeeStatus.HeaderCellClass)"><span id="elh_v_CrewBlacklistForAdmin_EmployeeStatus" class="v_CrewBlacklistForAdmin_EmployeeStatus">@Html.Raw(vCrewBlacklistForAdminDelete.EmployeeStatus.Caption)</span></th>
} @* vCrewBlacklistForAdminDelete.EmployeeStatus.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ vCrewBlacklistForAdminDelete.RecordCount = 0; }
@while (vCrewBlacklistForAdminDelete.Recordset != null && await vCrewBlacklistForAdminDelete.Recordset.ReadAsync()) { // DN
    vCrewBlacklistForAdminDelete.RecordCount++;
    vCrewBlacklistForAdminDelete.RowCount++;

    // Set row properties
    vCrewBlacklistForAdminDelete.ResetAttributes();
    vCrewBlacklistForAdminDelete.RowType = RowType.View; // View

    // Get the field contents
    await vCrewBlacklistForAdminDelete.LoadRowValues(vCrewBlacklistForAdminDelete.Recordset);

    // Render row
    await vCrewBlacklistForAdminDelete.RenderRow();
    <tr @Html.Raw(vCrewBlacklistForAdminDelete.RowAttributes)>
@if (vCrewBlacklistForAdminDelete.IndividualCodeNumber.Visible) { // vCrewBlacklistForAdminDelete.IndividualCodeNumber.Visible (begin)
        <td @Html.Raw(vCrewBlacklistForAdminDelete.IndividualCodeNumber.CellAttributes)>
<span id="el@(vCrewBlacklistForAdminDelete.RowCount)_v_CrewBlacklistForAdmin_IndividualCodeNumber" class="el_v_CrewBlacklistForAdmin_IndividualCodeNumber">
<span @Html.Raw(vCrewBlacklistForAdminDelete.IndividualCodeNumber.ViewAttributes)>
@Html.Raw(vCrewBlacklistForAdminDelete.IndividualCodeNumber.GetViewValue())</span>
</span></td>
} @* vCrewBlacklistForAdminDelete.IndividualCodeNumber.Visible (end) *@
@if (vCrewBlacklistForAdminDelete.FullName.Visible) { // vCrewBlacklistForAdminDelete.FullName.Visible (begin)
        <td @Html.Raw(vCrewBlacklistForAdminDelete.FullName.CellAttributes)>
<span id="el@(vCrewBlacklistForAdminDelete.RowCount)_v_CrewBlacklistForAdmin_FullName" class="el_v_CrewBlacklistForAdmin_FullName">
<span @Html.Raw(vCrewBlacklistForAdminDelete.FullName.ViewAttributes)>
@Html.Raw(vCrewBlacklistForAdminDelete.FullName.GetViewValue())</span>
</span></td>
} @* vCrewBlacklistForAdminDelete.FullName.Visible (end) *@
@if (vCrewBlacklistForAdminDelete.RequiredPhoto.Visible) { // vCrewBlacklistForAdminDelete.RequiredPhoto.Visible (begin)
        <td @Html.Raw(vCrewBlacklistForAdminDelete.RequiredPhoto.CellAttributes)>
<span id="el@(vCrewBlacklistForAdminDelete.RowCount)_v_CrewBlacklistForAdmin_RequiredPhoto" class="el_v_CrewBlacklistForAdmin_RequiredPhoto">
<span @Html.Raw(vCrewBlacklistForAdminDelete.RequiredPhoto.ViewAttributes)><a href="uploads/@ConvertToString(vCrewBlacklistForAdminList.IndividualCodeNumber.GetViewValue())/@ConvertToString(vCrewBlacklistForAdminList.RequiredPhoto.GetViewValue())" target="_blank">Attachment</a>
</span>
</span></td>
} @* vCrewBlacklistForAdminDelete.RequiredPhoto.Visible (end) *@
@if (vCrewBlacklistForAdminDelete.VisaPhoto.Visible) { // vCrewBlacklistForAdminDelete.VisaPhoto.Visible (begin)
        <td @Html.Raw(vCrewBlacklistForAdminDelete.VisaPhoto.CellAttributes)>
<span id="el@(vCrewBlacklistForAdminDelete.RowCount)_v_CrewBlacklistForAdmin_VisaPhoto" class="el_v_CrewBlacklistForAdmin_VisaPhoto">
<span @Html.Raw(vCrewBlacklistForAdminDelete.VisaPhoto.ViewAttributes)><a href="uploads/@ConvertToString(vCrewBlacklistForAdminList.IndividualCodeNumber.GetViewValue())/@ConvertToString(vCrewBlacklistForAdminList.VisaPhoto.GetViewValue())" target="_blank">Attachment</a>
</span>
</span></td>
} @* vCrewBlacklistForAdminDelete.VisaPhoto.Visible (end) *@
@if (vCrewBlacklistForAdminDelete.CityOfBirth.Visible) { // vCrewBlacklistForAdminDelete.CityOfBirth.Visible (begin)
        <td @Html.Raw(vCrewBlacklistForAdminDelete.CityOfBirth.CellAttributes)>
<span id="el@(vCrewBlacklistForAdminDelete.RowCount)_v_CrewBlacklistForAdmin_CityOfBirth" class="el_v_CrewBlacklistForAdmin_CityOfBirth">
<span @Html.Raw(vCrewBlacklistForAdminDelete.CityOfBirth.ViewAttributes)>
@Html.Raw(vCrewBlacklistForAdminDelete.CityOfBirth.GetViewValue())</span>
</span></td>
} @* vCrewBlacklistForAdminDelete.CityOfBirth.Visible (end) *@
@if (vCrewBlacklistForAdminDelete.DateOfBirth.Visible) { // vCrewBlacklistForAdminDelete.DateOfBirth.Visible (begin)
        <td @Html.Raw(vCrewBlacklistForAdminDelete.DateOfBirth.CellAttributes)>
<span id="el@(vCrewBlacklistForAdminDelete.RowCount)_v_CrewBlacklistForAdmin_DateOfBirth" class="el_v_CrewBlacklistForAdmin_DateOfBirth">
<span @Html.Raw(vCrewBlacklistForAdminDelete.DateOfBirth.ViewAttributes)>
@Html.Raw(vCrewBlacklistForAdminDelete.DateOfBirth.GetViewValue())</span>
</span></td>
} @* vCrewBlacklistForAdminDelete.DateOfBirth.Visible (end) *@
@if (vCrewBlacklistForAdminDelete.Gender.Visible) { // vCrewBlacklistForAdminDelete.Gender.Visible (begin)
        <td @Html.Raw(vCrewBlacklistForAdminDelete.Gender.CellAttributes)>
<span id="el@(vCrewBlacklistForAdminDelete.RowCount)_v_CrewBlacklistForAdmin_Gender" class="el_v_CrewBlacklistForAdmin_Gender">
<span @Html.Raw(vCrewBlacklistForAdminDelete.Gender.ViewAttributes)>
@Html.Raw(vCrewBlacklistForAdminDelete.Gender.GetViewValue())</span>
</span></td>
} @* vCrewBlacklistForAdminDelete.Gender.Visible (end) *@
@if (vCrewBlacklistForAdminDelete.RankAppliedFor_RankID.Visible) { // vCrewBlacklistForAdminDelete.RankAppliedFor_RankID.Visible (begin)
        <td @Html.Raw(vCrewBlacklistForAdminDelete.RankAppliedFor_RankID.CellAttributes)>
<span id="el@(vCrewBlacklistForAdminDelete.RowCount)_v_CrewBlacklistForAdmin_RankAppliedFor_RankID" class="el_v_CrewBlacklistForAdmin_RankAppliedFor_RankID">
<span @Html.Raw(vCrewBlacklistForAdminDelete.RankAppliedFor_RankID.ViewAttributes)>
@Html.Raw(vCrewBlacklistForAdminDelete.RankAppliedFor_RankID.GetViewValue())</span>
</span></td>
} @* vCrewBlacklistForAdminDelete.RankAppliedFor_RankID.Visible (end) *@
@if (vCrewBlacklistForAdminDelete.WillAcceptLowRank.Visible) { // vCrewBlacklistForAdminDelete.WillAcceptLowRank.Visible (begin)
        <td @Html.Raw(vCrewBlacklistForAdminDelete.WillAcceptLowRank.CellAttributes)>
<span id="el@(vCrewBlacklistForAdminDelete.RowCount)_v_CrewBlacklistForAdmin_WillAcceptLowRank" class="el_v_CrewBlacklistForAdmin_WillAcceptLowRank">
<span @Html.Raw(vCrewBlacklistForAdminDelete.WillAcceptLowRank.ViewAttributes)>
<div class="form-check d-inline-block">
    <input type="checkbox" id="x_WillAcceptLowRank_@(vCrewBlacklistForAdminDelete.RowCount)" class="form-check-input" value="@(vCrewBlacklistForAdminDelete.WillAcceptLowRank.GetViewValue())" disabled checked="@(ConvertToBool(vCrewBlacklistForAdminDelete.WillAcceptLowRank.CurrentValue))">
    <label class="form-check-label" for="x_WillAcceptLowRank_@(vCrewBlacklistForAdminDelete.RowCount)"></label>
</div></span>
</span></td>
} @* vCrewBlacklistForAdminDelete.WillAcceptLowRank.Visible (end) *@
@if (vCrewBlacklistForAdminDelete.AvailableFrom.Visible) { // vCrewBlacklistForAdminDelete.AvailableFrom.Visible (begin)
        <td @Html.Raw(vCrewBlacklistForAdminDelete.AvailableFrom.CellAttributes)>
<span id="el@(vCrewBlacklistForAdminDelete.RowCount)_v_CrewBlacklistForAdmin_AvailableFrom" class="el_v_CrewBlacklistForAdmin_AvailableFrom">
<span @Html.Raw(vCrewBlacklistForAdminDelete.AvailableFrom.ViewAttributes)>
@Html.Raw(vCrewBlacklistForAdminDelete.AvailableFrom.GetViewValue())</span>
</span></td>
} @* vCrewBlacklistForAdminDelete.AvailableFrom.Visible (end) *@
@if (vCrewBlacklistForAdminDelete.AvailableUntil.Visible) { // vCrewBlacklistForAdminDelete.AvailableUntil.Visible (begin)
        <td @Html.Raw(vCrewBlacklistForAdminDelete.AvailableUntil.CellAttributes)>
<span id="el@(vCrewBlacklistForAdminDelete.RowCount)_v_CrewBlacklistForAdmin_AvailableUntil" class="el_v_CrewBlacklistForAdmin_AvailableUntil">
<span @Html.Raw(vCrewBlacklistForAdminDelete.AvailableUntil.ViewAttributes)>
@Html.Raw(vCrewBlacklistForAdminDelete.AvailableUntil.GetViewValue())</span>
</span></td>
} @* vCrewBlacklistForAdminDelete.AvailableUntil.Visible (end) *@
@if (vCrewBlacklistForAdminDelete.EmployeeStatus.Visible) { // vCrewBlacklistForAdminDelete.EmployeeStatus.Visible (begin)
        <td @Html.Raw(vCrewBlacklistForAdminDelete.EmployeeStatus.CellAttributes)>
<span id="el@(vCrewBlacklistForAdminDelete.RowCount)_v_CrewBlacklistForAdmin_EmployeeStatus" class="el_v_CrewBlacklistForAdmin_EmployeeStatus">
<span @Html.Raw(vCrewBlacklistForAdminDelete.EmployeeStatus.ViewAttributes)>
@Html.Raw(vCrewBlacklistForAdminDelete.EmployeeStatus.GetViewValue())</span>
</span></td>
} @* vCrewBlacklistForAdminDelete.EmployeeStatus.Visible (end) *@
    </tr>
}
@{ vCrewBlacklistForAdminDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(vCrewBlacklistForAdminDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@vCrewBlacklistForAdminDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
