@{
    // View
    View = this;

    // Check action result
    if (vCrewTemporaryRejectedForAdminView.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!vCrewTemporaryRejectedForAdminView.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
@if (!vCrewTemporaryRejectedForAdminView.IsExport()) {
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!vCrewTemporaryRejectedForAdminView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @vCrewTemporaryRejectedForAdminView.ExportOptions.RenderBody()
    @vCrewTemporaryRejectedForAdminView.OtherOptions.RenderBody()
</div>
}
@vCrewTemporaryRejectedForAdminView.ShowPageHeader()
@vCrewTemporaryRejectedForAdminView.ShowMessages()
<main class="view">
<form name="fv_CrewTemporaryRejectedForAdminview" id="fv_CrewTemporaryRejectedForAdminview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (!vCrewTemporaryRejectedForAdminView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(vCrewTemporaryRejectedForAdminView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { v_CrewTemporaryRejectedForAdmin: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fv_CrewTemporaryRejectedForAdminview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fv_CrewTemporaryRejectedForAdminview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
}
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(vCrewTemporaryRejectedForAdminView.IsModal)">
<table class="@(vCrewTemporaryRejectedForAdminView.TableClass)">
@if (vCrewTemporaryRejectedForAdminView.IndividualCodeNumber.Visible) { // vCrewTemporaryRejectedForAdminView.IndividualCodeNumber.Visible (begin)
    <tr id="r_IndividualCodeNumber" @Html.Raw(vCrewTemporaryRejectedForAdminView.IndividualCodeNumber.RowAttributes)>
        <td class="@(vCrewTemporaryRejectedForAdminView.TableLeftColumnClass)"><span id="elh_v_CrewTemporaryRejectedForAdmin_IndividualCodeNumber">@Html.Raw(vCrewTemporaryRejectedForAdminView.IndividualCodeNumber.Caption)</span></td>
        <td data-name="IndividualCodeNumber" @Html.Raw(vCrewTemporaryRejectedForAdminView.IndividualCodeNumber.CellAttributes)>
<span id="el_v_CrewTemporaryRejectedForAdmin_IndividualCodeNumber">
<span @Html.Raw(vCrewTemporaryRejectedForAdminView.IndividualCodeNumber.ViewAttributes)>
@Html.Raw(vCrewTemporaryRejectedForAdminView.IndividualCodeNumber.GetViewValue())</span>
</span></td>
    </tr>
} @* vCrewTemporaryRejectedForAdminView.IndividualCodeNumber.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminView.EmployeeStatus.Visible) { // vCrewTemporaryRejectedForAdminView.EmployeeStatus.Visible (begin)
    <tr id="r_EmployeeStatus" @Html.Raw(vCrewTemporaryRejectedForAdminView.EmployeeStatus.RowAttributes)>
        <td class="@(vCrewTemporaryRejectedForAdminView.TableLeftColumnClass)"><span id="elh_v_CrewTemporaryRejectedForAdmin_EmployeeStatus">@Html.Raw(vCrewTemporaryRejectedForAdminView.EmployeeStatus.Caption)</span></td>
        <td data-name="EmployeeStatus" @Html.Raw(vCrewTemporaryRejectedForAdminView.EmployeeStatus.CellAttributes)>
<span id="el_v_CrewTemporaryRejectedForAdmin_EmployeeStatus">
<span @Html.Raw(vCrewTemporaryRejectedForAdminView.EmployeeStatus.ViewAttributes)>
@Html.Raw(vCrewTemporaryRejectedForAdminView.EmployeeStatus.GetViewValue())</span>
</span></td>
    </tr>
} @* vCrewTemporaryRejectedForAdminView.EmployeeStatus.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminView.FullName.Visible) { // vCrewTemporaryRejectedForAdminView.FullName.Visible (begin)
    <tr id="r_FullName" @Html.Raw(vCrewTemporaryRejectedForAdminView.FullName.RowAttributes)>
        <td class="@(vCrewTemporaryRejectedForAdminView.TableLeftColumnClass)"><span id="elh_v_CrewTemporaryRejectedForAdmin_FullName">@Html.Raw(vCrewTemporaryRejectedForAdminView.FullName.Caption)</span></td>
        <td data-name="FullName" @Html.Raw(vCrewTemporaryRejectedForAdminView.FullName.CellAttributes)>
<span id="el_v_CrewTemporaryRejectedForAdmin_FullName">
<span @Html.Raw(vCrewTemporaryRejectedForAdminView.FullName.ViewAttributes)>
@Html.Raw(vCrewTemporaryRejectedForAdminView.FullName.GetViewValue())</span>
</span></td>
    </tr>
} @* vCrewTemporaryRejectedForAdminView.FullName.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminView.RequiredPhoto.Visible) { // vCrewTemporaryRejectedForAdminView.RequiredPhoto.Visible (begin)
    <tr id="r_RequiredPhoto" @Html.Raw(vCrewTemporaryRejectedForAdminView.RequiredPhoto.RowAttributes)>
        <td class="@(vCrewTemporaryRejectedForAdminView.TableLeftColumnClass)"><span id="elh_v_CrewTemporaryRejectedForAdmin_RequiredPhoto">@Html.Raw(vCrewTemporaryRejectedForAdminView.RequiredPhoto.Caption)</span></td>
        <td data-name="RequiredPhoto" @Html.Raw(vCrewTemporaryRejectedForAdminView.RequiredPhoto.CellAttributes)>
<span id="el_v_CrewTemporaryRejectedForAdmin_RequiredPhoto">
<span @Html.Raw(vCrewTemporaryRejectedForAdminView.RequiredPhoto.ViewAttributes)><a href="uploads/@ConvertToString(vCrewTemporaryRejectedForAdminList.IndividualCodeNumber.GetViewValue())/@ConvertToString(vCrewTemporaryRejectedForAdminList.RequiredPhoto.GetViewValue())" target="_blank">Attachment</a>
</span>
</span></td>
    </tr>
} @* vCrewTemporaryRejectedForAdminView.RequiredPhoto.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminView.VisaPhoto.Visible) { // vCrewTemporaryRejectedForAdminView.VisaPhoto.Visible (begin)
    <tr id="r_VisaPhoto" @Html.Raw(vCrewTemporaryRejectedForAdminView.VisaPhoto.RowAttributes)>
        <td class="@(vCrewTemporaryRejectedForAdminView.TableLeftColumnClass)"><span id="elh_v_CrewTemporaryRejectedForAdmin_VisaPhoto">@Html.Raw(vCrewTemporaryRejectedForAdminView.VisaPhoto.Caption)</span></td>
        <td data-name="VisaPhoto" @Html.Raw(vCrewTemporaryRejectedForAdminView.VisaPhoto.CellAttributes)>
<span id="el_v_CrewTemporaryRejectedForAdmin_VisaPhoto">
<span @Html.Raw(vCrewTemporaryRejectedForAdminView.VisaPhoto.ViewAttributes)><a href="uploads/@ConvertToString(vCrewTemporaryRejectedForAdminList.IndividualCodeNumber.GetViewValue())/@ConvertToString(vCrewTemporaryRejectedForAdminList.VisaPhoto.GetViewValue())" target="_blank">Attachment</a>
</span>
</span></td>
    </tr>
} @* vCrewTemporaryRejectedForAdminView.VisaPhoto.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminView.CityOfBirth.Visible) { // vCrewTemporaryRejectedForAdminView.CityOfBirth.Visible (begin)
    <tr id="r_CityOfBirth" @Html.Raw(vCrewTemporaryRejectedForAdminView.CityOfBirth.RowAttributes)>
        <td class="@(vCrewTemporaryRejectedForAdminView.TableLeftColumnClass)"><span id="elh_v_CrewTemporaryRejectedForAdmin_CityOfBirth">@Html.Raw(vCrewTemporaryRejectedForAdminView.CityOfBirth.Caption)</span></td>
        <td data-name="CityOfBirth" @Html.Raw(vCrewTemporaryRejectedForAdminView.CityOfBirth.CellAttributes)>
<span id="el_v_CrewTemporaryRejectedForAdmin_CityOfBirth">
<span @Html.Raw(vCrewTemporaryRejectedForAdminView.CityOfBirth.ViewAttributes)>
@Html.Raw(vCrewTemporaryRejectedForAdminView.CityOfBirth.GetViewValue())</span>
</span></td>
    </tr>
} @* vCrewTemporaryRejectedForAdminView.CityOfBirth.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminView.DateOfBirth.Visible) { // vCrewTemporaryRejectedForAdminView.DateOfBirth.Visible (begin)
    <tr id="r_DateOfBirth" @Html.Raw(vCrewTemporaryRejectedForAdminView.DateOfBirth.RowAttributes)>
        <td class="@(vCrewTemporaryRejectedForAdminView.TableLeftColumnClass)"><span id="elh_v_CrewTemporaryRejectedForAdmin_DateOfBirth">@Html.Raw(vCrewTemporaryRejectedForAdminView.DateOfBirth.Caption)</span></td>
        <td data-name="DateOfBirth" @Html.Raw(vCrewTemporaryRejectedForAdminView.DateOfBirth.CellAttributes)>
<span id="el_v_CrewTemporaryRejectedForAdmin_DateOfBirth">
<span @Html.Raw(vCrewTemporaryRejectedForAdminView.DateOfBirth.ViewAttributes)>
@Html.Raw(vCrewTemporaryRejectedForAdminView.DateOfBirth.GetViewValue())</span>
</span></td>
    </tr>
} @* vCrewTemporaryRejectedForAdminView.DateOfBirth.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminView.Gender.Visible) { // vCrewTemporaryRejectedForAdminView.Gender.Visible (begin)
    <tr id="r_Gender" @Html.Raw(vCrewTemporaryRejectedForAdminView.Gender.RowAttributes)>
        <td class="@(vCrewTemporaryRejectedForAdminView.TableLeftColumnClass)"><span id="elh_v_CrewTemporaryRejectedForAdmin_Gender">@Html.Raw(vCrewTemporaryRejectedForAdminView.Gender.Caption)</span></td>
        <td data-name="Gender" @Html.Raw(vCrewTemporaryRejectedForAdminView.Gender.CellAttributes)>
<span id="el_v_CrewTemporaryRejectedForAdmin_Gender">
<span @Html.Raw(vCrewTemporaryRejectedForAdminView.Gender.ViewAttributes)>
@Html.Raw(vCrewTemporaryRejectedForAdminView.Gender.GetViewValue())</span>
</span></td>
    </tr>
} @* vCrewTemporaryRejectedForAdminView.Gender.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminView.RankAppliedFor_RankID.Visible) { // vCrewTemporaryRejectedForAdminView.RankAppliedFor_RankID.Visible (begin)
    <tr id="r_RankAppliedFor_RankID" @Html.Raw(vCrewTemporaryRejectedForAdminView.RankAppliedFor_RankID.RowAttributes)>
        <td class="@(vCrewTemporaryRejectedForAdminView.TableLeftColumnClass)"><span id="elh_v_CrewTemporaryRejectedForAdmin_RankAppliedFor_RankID">@Html.Raw(vCrewTemporaryRejectedForAdminView.RankAppliedFor_RankID.Caption)</span></td>
        <td data-name="RankAppliedFor_RankID" @Html.Raw(vCrewTemporaryRejectedForAdminView.RankAppliedFor_RankID.CellAttributes)>
<span id="el_v_CrewTemporaryRejectedForAdmin_RankAppliedFor_RankID">
<span @Html.Raw(vCrewTemporaryRejectedForAdminView.RankAppliedFor_RankID.ViewAttributes)>
@Html.Raw(vCrewTemporaryRejectedForAdminView.RankAppliedFor_RankID.GetViewValue())</span>
</span></td>
    </tr>
} @* vCrewTemporaryRejectedForAdminView.RankAppliedFor_RankID.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminView.WillAcceptLowRank.Visible) { // vCrewTemporaryRejectedForAdminView.WillAcceptLowRank.Visible (begin)
    <tr id="r_WillAcceptLowRank" @Html.Raw(vCrewTemporaryRejectedForAdminView.WillAcceptLowRank.RowAttributes)>
        <td class="@(vCrewTemporaryRejectedForAdminView.TableLeftColumnClass)"><span id="elh_v_CrewTemporaryRejectedForAdmin_WillAcceptLowRank">@Html.Raw(vCrewTemporaryRejectedForAdminView.WillAcceptLowRank.Caption)</span></td>
        <td data-name="WillAcceptLowRank" @Html.Raw(vCrewTemporaryRejectedForAdminView.WillAcceptLowRank.CellAttributes)>
<span id="el_v_CrewTemporaryRejectedForAdmin_WillAcceptLowRank">
<span @Html.Raw(vCrewTemporaryRejectedForAdminView.WillAcceptLowRank.ViewAttributes)>
<div class="form-check d-inline-block">
    <input type="checkbox" id="x_WillAcceptLowRank_@(vCrewTemporaryRejectedForAdminView.RowCount)" class="form-check-input" value="@(vCrewTemporaryRejectedForAdminView.WillAcceptLowRank.GetViewValue())" disabled checked="@(ConvertToBool(vCrewTemporaryRejectedForAdminView.WillAcceptLowRank.CurrentValue))">
    <label class="form-check-label" for="x_WillAcceptLowRank_@(vCrewTemporaryRejectedForAdminView.RowCount)"></label>
</div></span>
</span></td>
    </tr>
} @* vCrewTemporaryRejectedForAdminView.WillAcceptLowRank.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminView.AvailableFrom.Visible) { // vCrewTemporaryRejectedForAdminView.AvailableFrom.Visible (begin)
    <tr id="r_AvailableFrom" @Html.Raw(vCrewTemporaryRejectedForAdminView.AvailableFrom.RowAttributes)>
        <td class="@(vCrewTemporaryRejectedForAdminView.TableLeftColumnClass)"><span id="elh_v_CrewTemporaryRejectedForAdmin_AvailableFrom">@Html.Raw(vCrewTemporaryRejectedForAdminView.AvailableFrom.Caption)</span></td>
        <td data-name="AvailableFrom" @Html.Raw(vCrewTemporaryRejectedForAdminView.AvailableFrom.CellAttributes)>
<span id="el_v_CrewTemporaryRejectedForAdmin_AvailableFrom">
<span @Html.Raw(vCrewTemporaryRejectedForAdminView.AvailableFrom.ViewAttributes)>
@Html.Raw(vCrewTemporaryRejectedForAdminView.AvailableFrom.GetViewValue())</span>
</span></td>
    </tr>
} @* vCrewTemporaryRejectedForAdminView.AvailableFrom.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminView.AvailableUntil.Visible) { // vCrewTemporaryRejectedForAdminView.AvailableUntil.Visible (begin)
    <tr id="r_AvailableUntil" @Html.Raw(vCrewTemporaryRejectedForAdminView.AvailableUntil.RowAttributes)>
        <td class="@(vCrewTemporaryRejectedForAdminView.TableLeftColumnClass)"><span id="elh_v_CrewTemporaryRejectedForAdmin_AvailableUntil">@Html.Raw(vCrewTemporaryRejectedForAdminView.AvailableUntil.Caption)</span></td>
        <td data-name="AvailableUntil" @Html.Raw(vCrewTemporaryRejectedForAdminView.AvailableUntil.CellAttributes)>
<span id="el_v_CrewTemporaryRejectedForAdmin_AvailableUntil">
<span @Html.Raw(vCrewTemporaryRejectedForAdminView.AvailableUntil.ViewAttributes)>
@Html.Raw(vCrewTemporaryRejectedForAdminView.AvailableUntil.GetViewValue())</span>
</span></td>
    </tr>
} @* vCrewTemporaryRejectedForAdminView.AvailableUntil.Visible (end) *@
</table>
@{ vCrewTemporaryRejectedForAdminView.CloseRecordset(); }
</form>
</main>
@vCrewTemporaryRejectedForAdminView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!vCrewTemporaryRejectedForAdminView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
