@{
    // View
    View = this;

    // Check action result
    if (vCrewTemporaryRejectedForAdminSearch.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!vCrewTemporaryRejectedForAdminSearch.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(vCrewTemporaryRejectedForAdminSearch.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { v_CrewTemporaryRejectedForAdmin: currentTable } });
var currentPageID = ew.PAGE_ID = "search";
var currentForm;
var fv_CrewTemporaryRejectedForAdminsearch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fv_CrewTemporaryRejectedForAdminsearch")
        .setPageId("search")
@if (vCrewTemporaryRejectedForAdminSearch.IsModal && vCrewTemporaryRejectedForAdminSearch.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Add fields
        .setFields([

            ["IndividualCodeNumber", [], fields.IndividualCodeNumber.isInvalid],
            ["EmployeeStatus", [], fields.EmployeeStatus.isInvalid],
            ["FullName", [], fields.FullName.isInvalid],
            ["RequiredPhoto", [], fields.RequiredPhoto.isInvalid],
            ["VisaPhoto", [], fields.VisaPhoto.isInvalid],
            ["CityOfBirth", [], fields.CityOfBirth.isInvalid],
            ["DateOfBirth", [ew.Validators.datetime(fields.DateOfBirth.clientFormatPattern)], fields.DateOfBirth.isInvalid],
            ["Gender", [], fields.Gender.isInvalid],
            ["RankAppliedFor_RankID", [ew.Validators.integer], fields.RankAppliedFor_RankID.isInvalid],
            ["WillAcceptLowRank", [], fields.WillAcceptLowRank.isInvalid],
            ["AvailableFrom", [ew.Validators.datetime(fields.AvailableFrom.clientFormatPattern)], fields.AvailableFrom.isInvalid],
            ["AvailableUntil", [ew.Validators.datetime(fields.AvailableUntil.clientFormatPattern)], fields.AvailableUntil.isInvalid]
        ])
        // Validate form
        .setValidate(
            async function () {
                if (!this.validateRequired)
                    return true; // Ignore validation
                let fobj = this.getForm();

                // Validate fields
                if (!this.validateFields())
                    return false;

                // Call Form_CustomValidate event
                if (!(await this.customValidate?.(fobj) ?? true)) {
                    this.focus();
                    return false;
                }
                return true;
            }
        )

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "RankAppliedFor_RankID": @Html.Raw(vCrewTemporaryRejectedForAdminSearch.RankAppliedFor_RankID.ToClientList(vCrewTemporaryRejectedForAdminSearch)),
            "WillAcceptLowRank": @Html.Raw(vCrewTemporaryRejectedForAdminSearch.WillAcceptLowRank.ToClientList(vCrewTemporaryRejectedForAdminSearch)),
        })
        .build();
    window[form.id] = form;
@if (vCrewTemporaryRejectedForAdminSearch.IsModal) {
    <text>currentAdvancedSearchForm = form;</text>
} else {
    <text>currentForm = form;</text>
}
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@vCrewTemporaryRejectedForAdminSearch.ShowPageHeader()
@vCrewTemporaryRejectedForAdminSearch.ShowMessages()
<form name="fv_CrewTemporaryRejectedForAdminsearch" id="fv_CrewTemporaryRejectedForAdminsearch" class="@(vCrewTemporaryRejectedForAdminSearch.FormClassName)" action="@AppPath(CurrentPageName())" method="post" autocomplete="on">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="search">
@if (vCrewTemporaryRejectedForAdminSearch.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div class="ew-search-div"><!-- page* -->
@if (vCrewTemporaryRejectedForAdminSearch.IndividualCodeNumber.Visible) { // vCrewTemporaryRejectedForAdminSearch.IndividualCodeNumber.Visible (begin)
    <div id="r_IndividualCodeNumber" class="row" @Html.Raw(vCrewTemporaryRejectedForAdminSearch.IndividualCodeNumber.RowAttributes)>
        <label for="x_IndividualCodeNumber" class="@(vCrewTemporaryRejectedForAdminSearch.LeftColumnClass)"><span id="elh_v_CrewTemporaryRejectedForAdmin_IndividualCodeNumber">@Html.Raw(vCrewTemporaryRejectedForAdminSearch.IndividualCodeNumber.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("LIKE"))
<input type="hidden" name="z_IndividualCodeNumber" id="z_IndividualCodeNumber" value="LIKE">
</span>
        </label>
        <div class="@(vCrewTemporaryRejectedForAdminSearch.RightColumnClass)">
            <div @Html.Raw(vCrewTemporaryRejectedForAdminSearch.IndividualCodeNumber.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_v_CrewTemporaryRejectedForAdmin_IndividualCodeNumber" class="ew-search-field ew-search-field-single">
<input type="@(vCrewTemporaryRejectedForAdminSearch.IndividualCodeNumber.InputTextType)" name="x_IndividualCodeNumber" id="x_IndividualCodeNumber" data-table="v_CrewTemporaryRejectedForAdmin" data-field="x_IndividualCodeNumber" value="@Html.Raw(vCrewTemporaryRejectedForAdminSearch.IndividualCodeNumber.EditValue)" size="30" maxlength="20" placeholder="@Html.Raw(HtmlEncode(vCrewTemporaryRejectedForAdminSearch.IndividualCodeNumber.PlaceHolder))" data-format-pattern="@(vCrewTemporaryRejectedForAdminSearch.IndividualCodeNumber.FormatPattern)"@Html.Raw(vCrewTemporaryRejectedForAdminSearch.IndividualCodeNumber.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(vCrewTemporaryRejectedForAdminSearch.IndividualCodeNumber.GetErrorMessage(false))</div>
</span>
                </div>
            </div>
        </div>
    </div>
} @* vCrewTemporaryRejectedForAdminSearch.IndividualCodeNumber.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminSearch.EmployeeStatus.Visible) { // vCrewTemporaryRejectedForAdminSearch.EmployeeStatus.Visible (begin)
    <div id="r_EmployeeStatus" class="row" @Html.Raw(vCrewTemporaryRejectedForAdminSearch.EmployeeStatus.RowAttributes)>
        <label for="x_EmployeeStatus" class="@(vCrewTemporaryRejectedForAdminSearch.LeftColumnClass)"><span id="elh_v_CrewTemporaryRejectedForAdmin_EmployeeStatus">@Html.Raw(vCrewTemporaryRejectedForAdminSearch.EmployeeStatus.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("LIKE"))
<input type="hidden" name="z_EmployeeStatus" id="z_EmployeeStatus" value="LIKE">
</span>
        </label>
        <div class="@(vCrewTemporaryRejectedForAdminSearch.RightColumnClass)">
            <div @Html.Raw(vCrewTemporaryRejectedForAdminSearch.EmployeeStatus.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_v_CrewTemporaryRejectedForAdmin_EmployeeStatus" class="ew-search-field ew-search-field-single">
<input type="@(vCrewTemporaryRejectedForAdminSearch.EmployeeStatus.InputTextType)" name="x_EmployeeStatus" id="x_EmployeeStatus" data-table="v_CrewTemporaryRejectedForAdmin" data-field="x_EmployeeStatus" value="@Html.Raw(vCrewTemporaryRejectedForAdminSearch.EmployeeStatus.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(vCrewTemporaryRejectedForAdminSearch.EmployeeStatus.PlaceHolder))" data-format-pattern="@(vCrewTemporaryRejectedForAdminSearch.EmployeeStatus.FormatPattern)"@Html.Raw(vCrewTemporaryRejectedForAdminSearch.EmployeeStatus.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(vCrewTemporaryRejectedForAdminSearch.EmployeeStatus.GetErrorMessage(false))</div>
</span>
                </div>
            </div>
        </div>
    </div>
} @* vCrewTemporaryRejectedForAdminSearch.EmployeeStatus.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminSearch.FullName.Visible) { // vCrewTemporaryRejectedForAdminSearch.FullName.Visible (begin)
    <div id="r_FullName" class="row" @Html.Raw(vCrewTemporaryRejectedForAdminSearch.FullName.RowAttributes)>
        <label for="x_FullName" class="@(vCrewTemporaryRejectedForAdminSearch.LeftColumnClass)"><span id="elh_v_CrewTemporaryRejectedForAdmin_FullName">@Html.Raw(vCrewTemporaryRejectedForAdminSearch.FullName.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("LIKE"))
<input type="hidden" name="z_FullName" id="z_FullName" value="LIKE">
</span>
        </label>
        <div class="@(vCrewTemporaryRejectedForAdminSearch.RightColumnClass)">
            <div @Html.Raw(vCrewTemporaryRejectedForAdminSearch.FullName.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_v_CrewTemporaryRejectedForAdmin_FullName" class="ew-search-field ew-search-field-single">
<input type="@(vCrewTemporaryRejectedForAdminSearch.FullName.InputTextType)" name="x_FullName" id="x_FullName" data-table="v_CrewTemporaryRejectedForAdmin" data-field="x_FullName" value="@Html.Raw(vCrewTemporaryRejectedForAdminSearch.FullName.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(vCrewTemporaryRejectedForAdminSearch.FullName.PlaceHolder))" data-format-pattern="@(vCrewTemporaryRejectedForAdminSearch.FullName.FormatPattern)"@Html.Raw(vCrewTemporaryRejectedForAdminSearch.FullName.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(vCrewTemporaryRejectedForAdminSearch.FullName.GetErrorMessage(false))</div>
</span>
                </div>
            </div>
        </div>
    </div>
} @* vCrewTemporaryRejectedForAdminSearch.FullName.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminSearch.RequiredPhoto.Visible) { // vCrewTemporaryRejectedForAdminSearch.RequiredPhoto.Visible (begin)
    <div id="r_RequiredPhoto" class="row" @Html.Raw(vCrewTemporaryRejectedForAdminSearch.RequiredPhoto.RowAttributes)>
        <label for="x_RequiredPhoto" class="@(vCrewTemporaryRejectedForAdminSearch.LeftColumnClass)"><span id="elh_v_CrewTemporaryRejectedForAdmin_RequiredPhoto">@Html.Raw(vCrewTemporaryRejectedForAdminSearch.RequiredPhoto.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("LIKE"))
<input type="hidden" name="z_RequiredPhoto" id="z_RequiredPhoto" value="LIKE">
</span>
        </label>
        <div class="@(vCrewTemporaryRejectedForAdminSearch.RightColumnClass)">
            <div @Html.Raw(vCrewTemporaryRejectedForAdminSearch.RequiredPhoto.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_v_CrewTemporaryRejectedForAdmin_RequiredPhoto" class="ew-search-field ew-search-field-single">
<input type="@(vCrewTemporaryRejectedForAdminSearch.RequiredPhoto.InputTextType)" name="x_RequiredPhoto" id="x_RequiredPhoto" data-table="v_CrewTemporaryRejectedForAdmin" data-field="x_RequiredPhoto" value="@Html.Raw(vCrewTemporaryRejectedForAdminSearch.RequiredPhoto.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(vCrewTemporaryRejectedForAdminSearch.RequiredPhoto.PlaceHolder))" data-format-pattern="@(vCrewTemporaryRejectedForAdminSearch.RequiredPhoto.FormatPattern)"@Html.Raw(vCrewTemporaryRejectedForAdminSearch.RequiredPhoto.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(vCrewTemporaryRejectedForAdminSearch.RequiredPhoto.GetErrorMessage(false))</div>
</span>
                </div>
            </div>
        </div>
    </div>
} @* vCrewTemporaryRejectedForAdminSearch.RequiredPhoto.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminSearch.VisaPhoto.Visible) { // vCrewTemporaryRejectedForAdminSearch.VisaPhoto.Visible (begin)
    <div id="r_VisaPhoto" class="row" @Html.Raw(vCrewTemporaryRejectedForAdminSearch.VisaPhoto.RowAttributes)>
        <label for="x_VisaPhoto" class="@(vCrewTemporaryRejectedForAdminSearch.LeftColumnClass)"><span id="elh_v_CrewTemporaryRejectedForAdmin_VisaPhoto">@Html.Raw(vCrewTemporaryRejectedForAdminSearch.VisaPhoto.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("LIKE"))
<input type="hidden" name="z_VisaPhoto" id="z_VisaPhoto" value="LIKE">
</span>
        </label>
        <div class="@(vCrewTemporaryRejectedForAdminSearch.RightColumnClass)">
            <div @Html.Raw(vCrewTemporaryRejectedForAdminSearch.VisaPhoto.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_v_CrewTemporaryRejectedForAdmin_VisaPhoto" class="ew-search-field ew-search-field-single">
<input type="@(vCrewTemporaryRejectedForAdminSearch.VisaPhoto.InputTextType)" name="x_VisaPhoto" id="x_VisaPhoto" data-table="v_CrewTemporaryRejectedForAdmin" data-field="x_VisaPhoto" value="@Html.Raw(vCrewTemporaryRejectedForAdminSearch.VisaPhoto.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(vCrewTemporaryRejectedForAdminSearch.VisaPhoto.PlaceHolder))" data-format-pattern="@(vCrewTemporaryRejectedForAdminSearch.VisaPhoto.FormatPattern)"@Html.Raw(vCrewTemporaryRejectedForAdminSearch.VisaPhoto.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(vCrewTemporaryRejectedForAdminSearch.VisaPhoto.GetErrorMessage(false))</div>
</span>
                </div>
            </div>
        </div>
    </div>
} @* vCrewTemporaryRejectedForAdminSearch.VisaPhoto.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminSearch.CityOfBirth.Visible) { // vCrewTemporaryRejectedForAdminSearch.CityOfBirth.Visible (begin)
    <div id="r_CityOfBirth" class="row" @Html.Raw(vCrewTemporaryRejectedForAdminSearch.CityOfBirth.RowAttributes)>
        <label for="x_CityOfBirth" class="@(vCrewTemporaryRejectedForAdminSearch.LeftColumnClass)"><span id="elh_v_CrewTemporaryRejectedForAdmin_CityOfBirth">@Html.Raw(vCrewTemporaryRejectedForAdminSearch.CityOfBirth.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("LIKE"))
<input type="hidden" name="z_CityOfBirth" id="z_CityOfBirth" value="LIKE">
</span>
        </label>
        <div class="@(vCrewTemporaryRejectedForAdminSearch.RightColumnClass)">
            <div @Html.Raw(vCrewTemporaryRejectedForAdminSearch.CityOfBirth.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_v_CrewTemporaryRejectedForAdmin_CityOfBirth" class="ew-search-field ew-search-field-single">
<input type="@(vCrewTemporaryRejectedForAdminSearch.CityOfBirth.InputTextType)" name="x_CityOfBirth" id="x_CityOfBirth" data-table="v_CrewTemporaryRejectedForAdmin" data-field="x_CityOfBirth" value="@Html.Raw(vCrewTemporaryRejectedForAdminSearch.CityOfBirth.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(vCrewTemporaryRejectedForAdminSearch.CityOfBirth.PlaceHolder))" data-format-pattern="@(vCrewTemporaryRejectedForAdminSearch.CityOfBirth.FormatPattern)"@Html.Raw(vCrewTemporaryRejectedForAdminSearch.CityOfBirth.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(vCrewTemporaryRejectedForAdminSearch.CityOfBirth.GetErrorMessage(false))</div>
</span>
                </div>
            </div>
        </div>
    </div>
} @* vCrewTemporaryRejectedForAdminSearch.CityOfBirth.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminSearch.DateOfBirth.Visible) { // vCrewTemporaryRejectedForAdminSearch.DateOfBirth.Visible (begin)
    <div id="r_DateOfBirth" class="row" @Html.Raw(vCrewTemporaryRejectedForAdminSearch.DateOfBirth.RowAttributes)>
        <label for="x_DateOfBirth" class="@(vCrewTemporaryRejectedForAdminSearch.LeftColumnClass)"><span id="elh_v_CrewTemporaryRejectedForAdmin_DateOfBirth">@Html.Raw(vCrewTemporaryRejectedForAdminSearch.DateOfBirth.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("="))
<input type="hidden" name="z_DateOfBirth" id="z_DateOfBirth" value="=">
</span>
        </label>
        <div class="@(vCrewTemporaryRejectedForAdminSearch.RightColumnClass)">
            <div @Html.Raw(vCrewTemporaryRejectedForAdminSearch.DateOfBirth.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_v_CrewTemporaryRejectedForAdmin_DateOfBirth" class="ew-search-field ew-search-field-single">
<input type="@(vCrewTemporaryRejectedForAdminSearch.DateOfBirth.InputTextType)" name="x_DateOfBirth" id="x_DateOfBirth" data-table="v_CrewTemporaryRejectedForAdmin" data-field="x_DateOfBirth" value="@Html.Raw(vCrewTemporaryRejectedForAdminSearch.DateOfBirth.EditValue)" placeholder="@Html.Raw(HtmlEncode(vCrewTemporaryRejectedForAdminSearch.DateOfBirth.PlaceHolder))" data-format-pattern="@(vCrewTemporaryRejectedForAdminSearch.DateOfBirth.FormatPattern)"@Html.Raw(vCrewTemporaryRejectedForAdminSearch.DateOfBirth.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(vCrewTemporaryRejectedForAdminSearch.DateOfBirth.GetErrorMessage(false))</div>
@if (!vCrewTemporaryRejectedForAdminSearch.DateOfBirth.ReadOnly && !vCrewTemporaryRejectedForAdminSearch.DateOfBirth.Disabled && !vCrewTemporaryRejectedForAdminSearch.DateOfBirth.EditAttrs.Is("readonly") && !vCrewTemporaryRejectedForAdminSearch.DateOfBirth.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fv_CrewTemporaryRejectedForAdminsearch", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fv_CrewTemporaryRejectedForAdminsearch", "x_DateOfBirth", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
                </div>
            </div>
        </div>
    </div>
} @* vCrewTemporaryRejectedForAdminSearch.DateOfBirth.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminSearch.Gender.Visible) { // vCrewTemporaryRejectedForAdminSearch.Gender.Visible (begin)
    <div id="r_Gender" class="row" @Html.Raw(vCrewTemporaryRejectedForAdminSearch.Gender.RowAttributes)>
        <label for="x_Gender" class="@(vCrewTemporaryRejectedForAdminSearch.LeftColumnClass)"><span id="elh_v_CrewTemporaryRejectedForAdmin_Gender">@Html.Raw(vCrewTemporaryRejectedForAdminSearch.Gender.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("LIKE"))
<input type="hidden" name="z_Gender" id="z_Gender" value="LIKE">
</span>
        </label>
        <div class="@(vCrewTemporaryRejectedForAdminSearch.RightColumnClass)">
            <div @Html.Raw(vCrewTemporaryRejectedForAdminSearch.Gender.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_v_CrewTemporaryRejectedForAdmin_Gender" class="ew-search-field ew-search-field-single">
<input type="@(vCrewTemporaryRejectedForAdminSearch.Gender.InputTextType)" name="x_Gender" id="x_Gender" data-table="v_CrewTemporaryRejectedForAdmin" data-field="x_Gender" value="@Html.Raw(vCrewTemporaryRejectedForAdminSearch.Gender.EditValue)" size="30" maxlength="1" placeholder="@Html.Raw(HtmlEncode(vCrewTemporaryRejectedForAdminSearch.Gender.PlaceHolder))" data-format-pattern="@(vCrewTemporaryRejectedForAdminSearch.Gender.FormatPattern)"@Html.Raw(vCrewTemporaryRejectedForAdminSearch.Gender.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(vCrewTemporaryRejectedForAdminSearch.Gender.GetErrorMessage(false))</div>
</span>
                </div>
            </div>
        </div>
    </div>
} @* vCrewTemporaryRejectedForAdminSearch.Gender.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminSearch.RankAppliedFor_RankID.Visible) { // vCrewTemporaryRejectedForAdminSearch.RankAppliedFor_RankID.Visible (begin)
    <div id="r_RankAppliedFor_RankID" class="row" @Html.Raw(vCrewTemporaryRejectedForAdminSearch.RankAppliedFor_RankID.RowAttributes)>
        <label class="@(vCrewTemporaryRejectedForAdminSearch.LeftColumnClass)"><span id="elh_v_CrewTemporaryRejectedForAdmin_RankAppliedFor_RankID">@Html.Raw(vCrewTemporaryRejectedForAdminSearch.RankAppliedFor_RankID.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("="))
<input type="hidden" name="z_RankAppliedFor_RankID" id="z_RankAppliedFor_RankID" value="=">
</span>
        </label>
        <div class="@(vCrewTemporaryRejectedForAdminSearch.RightColumnClass)">
            <div @Html.Raw(vCrewTemporaryRejectedForAdminSearch.RankAppliedFor_RankID.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_v_CrewTemporaryRejectedForAdmin_RankAppliedFor_RankID" class="ew-search-field ew-search-field-single">
<span>@{
    if (IsRTL) {
        vCrewTemporaryRejectedForAdminSearch.RankAppliedFor_RankID.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_RankAppliedFor_RankID" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_RankAppliedFor_RankID" id="sv_x_RankAppliedFor_RankID" value="@(RemoveHtml(ConvertToString(vCrewTemporaryRejectedForAdminSearch.RankAppliedFor_RankID.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(vCrewTemporaryRejectedForAdminSearch.RankAppliedFor_RankID.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(vCrewTemporaryRejectedForAdminSearch.RankAppliedFor_RankID.PlaceHolder))" data-format-pattern="@(vCrewTemporaryRejectedForAdminSearch.RankAppliedFor_RankID.FormatPattern)" @Html.Raw(vCrewTemporaryRejectedForAdminSearch.RankAppliedFor_RankID.EditAttributes)>
</span>
<selection-list hidden class="form-control" data-table="v_CrewTemporaryRejectedForAdmin" data-field="x_RankAppliedFor_RankID" data-input="sv_x_RankAppliedFor_RankID" data-value-separator="@(vCrewTemporaryRejectedForAdminSearch.RankAppliedFor_RankID.DisplayValueSeparatorAttribute)" name="x_RankAppliedFor_RankID" id="x_RankAppliedFor_RankID" value="@(HtmlEncode(vCrewTemporaryRejectedForAdminSearch.RankAppliedFor_RankID.AdvancedSearch.SearchValue))"></selection-list>
<div class="invalid-feedback">@Html.Raw(vCrewTemporaryRejectedForAdminSearch.RankAppliedFor_RankID.GetErrorMessage(false))</div>
<script>
loadjs.ready(["fv_CrewTemporaryRejectedForAdminsearch"], function() {
    fv_CrewTemporaryRejectedForAdminsearch.createAutoSuggest(Object.assign({"id":"x_RankAppliedFor_RankID","forceSelect":false}, { lookupAllDisplayFields: @(vCrewTemporaryRejectedForAdminSearch.RankAppliedFor_RankID.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.v_CrewTemporaryRejectedForAdmin.fields.RankAppliedFor_RankID.autoSuggestOptions));
});
</script>
@Html.Raw(vCrewTemporaryRejectedForAdminSearch.RankAppliedFor_RankID.Lookup.GetParamTag(vCrewTemporaryRejectedForAdminSearch, "p_x_RankAppliedFor_RankID"))
</span>
                </div>
            </div>
        </div>
    </div>
} @* vCrewTemporaryRejectedForAdminSearch.RankAppliedFor_RankID.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminSearch.WillAcceptLowRank.Visible) { // vCrewTemporaryRejectedForAdminSearch.WillAcceptLowRank.Visible (begin)
    <div id="r_WillAcceptLowRank" class="row" @Html.Raw(vCrewTemporaryRejectedForAdminSearch.WillAcceptLowRank.RowAttributes)>
        <label class="@(vCrewTemporaryRejectedForAdminSearch.LeftColumnClass)"><span id="elh_v_CrewTemporaryRejectedForAdmin_WillAcceptLowRank">@Html.Raw(vCrewTemporaryRejectedForAdminSearch.WillAcceptLowRank.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("="))
<input type="hidden" name="z_WillAcceptLowRank" id="z_WillAcceptLowRank" value="=">
</span>
        </label>
        <div class="@(vCrewTemporaryRejectedForAdminSearch.RightColumnClass)">
            <div @Html.Raw(vCrewTemporaryRejectedForAdminSearch.WillAcceptLowRank.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_v_CrewTemporaryRejectedForAdmin_WillAcceptLowRank" class="ew-search-field ew-search-field-single">
<div class="form-check d-inline-block">
    <input type="checkbox" class="form-check-input@(vCrewTemporaryRejectedForAdminSearch.WillAcceptLowRank.IsInvalidClass)" data-table="v_CrewTemporaryRejectedForAdmin" data-field="x_WillAcceptLowRank" data-boolean name="x_WillAcceptLowRank" id="x_WillAcceptLowRank" value="1" checked="@ConvertToBool(vCrewTemporaryRejectedForAdminSearch.WillAcceptLowRank.AdvancedSearch.SearchValue)" @Html.Raw(vCrewTemporaryRejectedForAdminSearch.WillAcceptLowRank.EditAttributes)>
    <div class="invalid-feedback">@Html.Raw(vCrewTemporaryRejectedForAdminSearch.WillAcceptLowRank.GetErrorMessage(false))</div>
</div>
</span>
                </div>
            </div>
        </div>
    </div>
} @* vCrewTemporaryRejectedForAdminSearch.WillAcceptLowRank.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminSearch.AvailableFrom.Visible) { // vCrewTemporaryRejectedForAdminSearch.AvailableFrom.Visible (begin)
    <div id="r_AvailableFrom" class="row" @Html.Raw(vCrewTemporaryRejectedForAdminSearch.AvailableFrom.RowAttributes)>
        <label for="x_AvailableFrom" class="@(vCrewTemporaryRejectedForAdminSearch.LeftColumnClass)"><span id="elh_v_CrewTemporaryRejectedForAdmin_AvailableFrom">@Html.Raw(vCrewTemporaryRejectedForAdminSearch.AvailableFrom.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("="))
<input type="hidden" name="z_AvailableFrom" id="z_AvailableFrom" value="=">
</span>
        </label>
        <div class="@(vCrewTemporaryRejectedForAdminSearch.RightColumnClass)">
            <div @Html.Raw(vCrewTemporaryRejectedForAdminSearch.AvailableFrom.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_v_CrewTemporaryRejectedForAdmin_AvailableFrom" class="ew-search-field ew-search-field-single">
<input type="@(vCrewTemporaryRejectedForAdminSearch.AvailableFrom.InputTextType)" name="x_AvailableFrom" id="x_AvailableFrom" data-table="v_CrewTemporaryRejectedForAdmin" data-field="x_AvailableFrom" value="@Html.Raw(vCrewTemporaryRejectedForAdminSearch.AvailableFrom.EditValue)" placeholder="@Html.Raw(HtmlEncode(vCrewTemporaryRejectedForAdminSearch.AvailableFrom.PlaceHolder))" data-format-pattern="@(vCrewTemporaryRejectedForAdminSearch.AvailableFrom.FormatPattern)"@Html.Raw(vCrewTemporaryRejectedForAdminSearch.AvailableFrom.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(vCrewTemporaryRejectedForAdminSearch.AvailableFrom.GetErrorMessage(false))</div>
@if (!vCrewTemporaryRejectedForAdminSearch.AvailableFrom.ReadOnly && !vCrewTemporaryRejectedForAdminSearch.AvailableFrom.Disabled && !vCrewTemporaryRejectedForAdminSearch.AvailableFrom.EditAttrs.Is("readonly") && !vCrewTemporaryRejectedForAdminSearch.AvailableFrom.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fv_CrewTemporaryRejectedForAdminsearch", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fv_CrewTemporaryRejectedForAdminsearch", "x_AvailableFrom", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
                </div>
            </div>
        </div>
    </div>
} @* vCrewTemporaryRejectedForAdminSearch.AvailableFrom.Visible (end) *@
@if (vCrewTemporaryRejectedForAdminSearch.AvailableUntil.Visible) { // vCrewTemporaryRejectedForAdminSearch.AvailableUntil.Visible (begin)
    <div id="r_AvailableUntil" class="row" @Html.Raw(vCrewTemporaryRejectedForAdminSearch.AvailableUntil.RowAttributes)>
        <label for="x_AvailableUntil" class="@(vCrewTemporaryRejectedForAdminSearch.LeftColumnClass)"><span id="elh_v_CrewTemporaryRejectedForAdmin_AvailableUntil">@Html.Raw(vCrewTemporaryRejectedForAdminSearch.AvailableUntil.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("="))
<input type="hidden" name="z_AvailableUntil" id="z_AvailableUntil" value="=">
</span>
        </label>
        <div class="@(vCrewTemporaryRejectedForAdminSearch.RightColumnClass)">
            <div @Html.Raw(vCrewTemporaryRejectedForAdminSearch.AvailableUntil.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_v_CrewTemporaryRejectedForAdmin_AvailableUntil" class="ew-search-field ew-search-field-single">
<input type="@(vCrewTemporaryRejectedForAdminSearch.AvailableUntil.InputTextType)" name="x_AvailableUntil" id="x_AvailableUntil" data-table="v_CrewTemporaryRejectedForAdmin" data-field="x_AvailableUntil" value="@Html.Raw(vCrewTemporaryRejectedForAdminSearch.AvailableUntil.EditValue)" placeholder="@Html.Raw(HtmlEncode(vCrewTemporaryRejectedForAdminSearch.AvailableUntil.PlaceHolder))" data-format-pattern="@(vCrewTemporaryRejectedForAdminSearch.AvailableUntil.FormatPattern)"@Html.Raw(vCrewTemporaryRejectedForAdminSearch.AvailableUntil.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(vCrewTemporaryRejectedForAdminSearch.AvailableUntil.GetErrorMessage(false))</div>
@if (!vCrewTemporaryRejectedForAdminSearch.AvailableUntil.ReadOnly && !vCrewTemporaryRejectedForAdminSearch.AvailableUntil.Disabled && !vCrewTemporaryRejectedForAdminSearch.AvailableUntil.EditAttrs.Is("readonly") && !vCrewTemporaryRejectedForAdminSearch.AvailableUntil.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fv_CrewTemporaryRejectedForAdminsearch", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fv_CrewTemporaryRejectedForAdminsearch", "x_AvailableUntil", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
                </div>
            </div>
        </div>
    </div>
} @* vCrewTemporaryRejectedForAdminSearch.AvailableUntil.Visible (end) *@
</div><!-- /page* -->
@Html.Raw(vCrewTemporaryRejectedForAdminSearch.IsModal ? Html.Raw("<template class=\"ew-modal-buttons\">") : Html.Raw("<div class=\"row ew-buttons\">"))<!-- buttons .row -->
    <div class="@(vCrewTemporaryRejectedForAdminSearch.OffsetColumnClass)"><!-- buttons offset -->
        <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fv_CrewTemporaryRejectedForAdminsearch">@Html.Raw(Language.Phrase("Search"))</button>
@if (vCrewTemporaryRejectedForAdminSearch.IsModal) {
        <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fv_CrewTemporaryRejectedForAdminsearch">@Html.Raw(Language.Phrase("Cancel"))</button>
} else {
        <button class="btn btn-default ew-btn" name="btn-reset" id="btn-reset" type="button" form="fv_CrewTemporaryRejectedForAdminsearch" data-ew-action="reload">@Html.Raw(Language.Phrase("Reset"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(vCrewTemporaryRejectedForAdminSearch.IsModal ? Html.Raw("</template>") : Html.Raw("</div>"))<!-- /buttons .row -->
</form>
@vCrewTemporaryRejectedForAdminSearch.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("v_CrewTemporaryRejectedForAdmin");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
